p.grid-content.shrink.p.text-center Now you can invite our bot to your GitHub org to get notifications on your pull requests:

img.grid-content.shrink.img.img-comment(
  alt = "Runnabot sample comment on a GitHub pull request."
  height = "206"
  src = "/build/images/runnabot-comment.png"
  width = "358"
)
//- add 'disabled' attr if inviting runnabot, or if user isn't an admin
    hide after successfully inviting runnabot
button.grid-content.shrink.btn.btn-md.green(
  ng-click = "$root.featureFlags.ahaOverview = false"
)
  svg.iconnables.icons-octicons-github
    use(
      xlink:href = "#icons-octicons-github"
    )
  | Invite Runnabot
  //- if inviting Runnabot
  //- .spinner-wrapper.spinner-sm.spinner-white.float-right(
  //-   ng-include = "'spinner'"
  //- )

//- show after successfully inviting runnabot
//- .grid-block.shrink.well.gray.padding-sm.runnabot-success
  img.grid-content.shrink.img(
    height = "36"
    src = "/build/images/runnabot-head.png"
    width = "36"
  )
  p.small.text-gray.text-left Nice! Runnabot will join your team soon.


.grid-content.shrink.small.text-center(
  ng-class = "{\
    'text-gray': !state.adminRequired,\
    'text-red': state.adminRequired\
  }"
  ng-init = "state.adminRequired = false"
)
  //- if the user is an admin:
  | This may affect your GitHub bill.

  //- if the user is not an admin:
  //- | Sorry, you’ll need help from an admin
  //- br
  //- | of your org to invite Runnabot.

  //- always show this:
  br
  a.small.link More about Runnabot
