.modal-form-spinner(
  ng-if = "state.recalculating"
)
  .spinner-wrapper.spinner-sm.spinner-gray.in(
    ng-include = "'spinner'"
  )
  small.small Updating

.clearfix(
  ng-if = "!state.recalculating && state.diffs.length"
)
  label.label.label-select Jump to #{''}
    fancy-select.btn.btn-xs.btn-select(
      on-update = "actions.jumpTo"
      placeholder = "Jump to"
      track-by = "from"
      placeholder = "Select a diff"
      value = "jumpToModel"
    )
      fancy-option.fancy-select-sm(
        ng-repeat = "diff in $parent.$parent.state.diffs"
        value = "diff"
      ) {{ $parent.diff.from }}

.table.table-diff(
  actions = "actions"
  diff-display
  file-diff = "diff"
  ng-repeat = "diff in state.diffs | ignoredDiffs:state.contextVersion.getMainAppCodeVersion() as diffsWithIgnore"
  ng-if = "!state.recalculating"
  preview-all = "true"
  state = "state"
  ng-attr-id = "{{'diff-' + diff.$$hashKey}}"
)

//- if no rules
p.p.empty(
  ng-if = "\
    !state.recalculating && \
    diffsWithIgnore.length === 0\
  "
)
  //- if no rules
  span(
    ng-if = "\
      !state.contextVersion.getMainAppCodeVersion().attrs.transformRules.replace.length && \
      !state.contextVersion.getMainAppCodeVersion().attrs.transformRules.rename.length\
    "
  ) Add ‘Rules’ to see a preview of changes

  //- if rules, but no diffs produced
  span(
    ng-if = "\
      state.contextVersion.getMainAppCodeVersion().attrs.transformRules.replace.length || \
      state.contextVersion.getMainAppCodeVersion().attrs.transformRules.rename.length\
    "
  ) No patterns matched your rules
