.tr.thead.clearfix
  label.cell
    a.link(
      href = "//github.com"
      target = "_blank"
    ) build/index.html
    button.btn.btn-xs.white Ignore File
.tr.tr-deletion.clearfix
  .cell.monospace.cell-line 1
  .cell.monospace.text-overflow - userName: username
.tr.tr-addition.clearfix
  .cell.monospace.cell-line 1
  .cell.monospace.text-overflow + userName: account.oauthName()
.tr.tr-gap.clearfix
  .cell.monospace.cell-line ...
.tr.tr-deletion.clearfix
  .cell.monospace.cell-line 5123
  .cell.monospace.text-overflow - userName: username
.tr.tr-addition.clearfix
  .cell.monospace.cell-line 5123
  .cell.monospace.text-overflow + userName: account.oauthName()