//- string verification table
.table.table-diff(
  ng-if = "data.saving"
)
  .tr.thead.clearfix
    label.cell.cell-checkbox
      input.input-checkbox(
        checked
        type = "checkbox"
      )
      | index.html, Line 18
      a.link(
        href = "//github.com"
        target = "_blank"
      ) View in Github
  .tr.tr-deletion.clearfix
    .cell.monospace - userName: username
  .tr.tr-addition.clearfix
    .cell.monospace + userName: account.oauthName()

//- string verification table (2)
.table.table-diff(
  ng-if = "data.saving"
)
  .tr.thead.clearfix
    label.cell.cell-checkbox
      input.input-checkbox(
        checked
        type = "checkbox"
      )
      | setup.yml, Line 1
      //- should link to line number
      a.link(
        href = "//github.com"
        target = "_blank"
      ) View in Github
  .tr.tr-deletion.clearfix
    .cell.monospace - userName: username
  .tr.tr-addition.clearfix
    .cell.monospace + userName: account.oauthName()
