//- string verification table
.table.table-diff
  .tr.thead.clearfix
    label.cell build/index.html
      a.link.small(
        href = "//github.com"
        target = "_blank"
      ) View original
  .tr.tr-deletion.clearfix
    .cell.monospace.cell-line 0000
    .cell.monospace.text-overflow - userName: username
  .tr.tr-addition.clearfix
    .cell.monospace.cell-line 0000
    .cell.monospace.text-overflow + userName: account.oauthName()

//- string verification table (2)
.table.table-diff
  .tr.thead.clearfix
    label.cell setup.yml
      //- should link to line number
      a.link.small(
        href = "//github.com"
        target = "_blank"
      ) View original
  .tr.tr-deletion.clearfix
    .cell.monospace.cell-line 0000
    .cell.monospace.text-overflow - userName: username
  .tr.tr-addition.clearfix
    .cell.monospace.cell-line 0000
    .cell.monospace.text-overflow + userName: account.oauthName()
