.grid-block.vertical.modal-backdrop.welcome
  img.grid-block.shrink.justify-center.logo.img(
    alt = "Runnable Logo"
    height = "36"
    src = "/build/images/runnable-logo.svg"
    width = "192"
  )
  img.grid-block.shrink.img.runnabear(
    height = "130"
    src = "/build/images/errorbear-peeking.png"
    width = "230"
  )
  .grid-block.vertical.shrink.modal-dialog.modal-sm
    header.modal-header
      h1.modal-heading Payment Error
    section.modal-body
      p.p.padding-sm.weight-light Sorry, we couldn’t process your payment due to an issue on our end. Please get in touch with us and we’ll fix it right away.
    footer.grid-block.vertical.modal-footer
      //- this should say "Help! This thing won’t process my payment."
      button.grid-content.btn.btn-md.green.icons-intercom(
        ng-click = "$root.$broadcast('intercom::pawsd')"
      ) Chat Now
      a.grid-content.link.text-gray.text-center.margin-bottom-xs(
        href = "mailto:support@runnable.com?subject=Payment failed to process&body=Help! I added my card to Runnable, but it won’t process my payment."
      ) Email Support
  .grid-block.shrink.justify-center.margin-top-sm.margin-bottom-xl.welcome-footer.text-white(
    close = "WBC.close"
    grace-period-footer
  )
