.modal-backdrop.modal-blackout
  .grace-period
    h1.h1.text-center.padding-sm Uh oh.
    .modal-dialog.modal-md
      .modal-body
        .modal-form.form-billing
          animated-panel-container
            animated-panel(
              name = "changePaymentForm"
              default = "true"
            )
              .grid-block.vertical.padding-md
                p.grid-content.p.text-center Your payment method has failed. Update your payment method to continue using Runnable.
                small.grid-content.small.text-center.text-gray(
                  ng-if = "EAC.activeAccount.isInGrace()"
                )
                  strong.strong Note:&#32;
                  | Your environments will be paused in {{EAC.activeAccount.graceHoursRemaining()}} hours if we cannot process a payment method.
              hr.hr
              .grid-block.vertical.form-payment.fade(
                ng-class = "{'in': isActivePanel()}"
                change-payment-form
                save = "EAC.actions.save"
                updating = "true"
              )
            animated-panel(
              name = "confirmationForm"
            )
              .grid-block.vertical.fade(
                ng-class = "{'in': isActivePanel()}"
                ng-include = "'confirmationForm'"
              )
    .grid-block.justify-center.modal-outer-footer(
      grace-period-footer
      close = "EAC.close"
    )
