.popover.top.popover-team-management(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white
  team-management-form.grid-block.popover-content(
    ng-init = "state.fromTrialEnd = true"
  )
