.grid-block.vertical.modal-backdrop.welcome
  img.grid-block.shrink.justify-center.logo.img(
    alt = "Runnable Logo"
    height = "36"
    src = "/build/images/runnable-logo.svg"
    width = "192"
  )
  .modal-dialog.modal-md
    header.modal-header
      h1.modal-heading Thanks for trying Runnable!
    .modal-body
      .modal-form.form-billing
        animated-panel-container
          animated-panel(
            default = "true"
            name = "changePaymentForm"
          )
            .grid-block.vertical.padding-md
              p.grid-content.p.text-center Your trial has ended! We hope you enjoyed using Runnable. Please enter your payment info to continue. Otherwise,&#32;
                a.link(
                  href = "mailto:support@runnable.com"
                ) let us know how we can improve
                | .
              small.grid-content.small.text-center.text-gray
                strong.strong Note:&#32;
                | Your environments will be paused in {{EAC.activeAccount.graceHoursRemaining()}} hours if we cannot process a payment method.
            hr.hr
            .grid-block.vertical.form-payment.fade(
              ng-class = "{'in': isActivePanel()}"
              change-payment-form
              save = "EAC.actions.save"
              updating = "false"
            )
          animated-panel(
            name = "confirmationForm"
          )
            .grid-block.vertical.fade(
              ng-class = "{'in': isActivePanel()}"
              ng-include = "'confirmationForm'"
            )
  .grid-block.shrink.justify-center.margin-top-sm.margin-bottom-xl.welcome-footer.text-white(
    grace-period-footer
    close = "EAC.close"
  )
