.grid-block.vertical
  p.strong {{plan.name}} Plan
  small.small Up to {{plan.maxConfigurations}} configurations
.grid-block.shrink.p.align-baseline
  .strong ${{getCostPerUser() | centsToDollars}}
  small.small /user/month
