.grid-block.vertical(
  ng-if = 'plan'
)
  p.strong {{plan.name}} Plan
  small.small {{plan.maxConfigurations >= 8 ? '8+ services' : 'Up to ' + plan.maxConfigurations + ' services'}}
.grid-block.shrink.p.align-baseline(
  ng-if = 'plan'
)
  .strong ${{getCostPerUser() | centsToDollars}}
  small.small /user/month
