.well.gray.repository-group-text(
  ng-class = "{active: popoverRepositoryToggle.data.show}"
  pop-over
  pop-over-actions = "popoverRepositoryToggle.actions"
  pop-over-data = "popoverRepositoryToggle.data"
  pop-over-options = "{\"left\":293}"
  pop-over-template = "viewPopoverRepositoryToggle"
  pop-over-active = "popoverRepositoryToggle.data.show"
)
  p.repository-description.text-overflow
    svg.iconnables.icons-repository
      use(
        xlink:href = "#icons-repository"
      )
    | {{ model.acv.attrs.repo }}
  p.repository-description.text-overflow.clearfix.js-repository-branch
    svg.iconnables.icons-branch
      use(
        xlink:href = "#icons-branch"
      )
    | {{ activeBranch.attrs.name }}
  p.repository-description.clearfix.js-repository-commit
    svg.iconnables.icons-commit
      use(
        xlink:href = "#icons-commit"
      )
    | {{ activeCommit.attrs.commit.message | limitTo:30 }}
    small.small.repository-detail {{ activeCommit.attrs.commit.author.date | timeFrom }}
      a.link.link-text.monospace(
        ng-href = "{{ activeCommit.attrs.html_url }}"
        //- we don't want to trigger the popover to open because this is an external link
        ng-click = "$event.stopPropagation()"
        target = "_blank"
      ) {{activeCommit.attrs.sha | limitTo:7}}

  svg.iconnables.icons-arrow-down
    use(
      xlink:href = "#icons-arrow-down"
    )

//-
  ************
  SAN-895 NOTES:
  it'd be amazing if the arrow in this popover could get to 50% of the height of .repo-group-text
  ************