.repository-group-text(
  ng-class = "{active: popoverRepositoryToggle.data.show}"
  toggle-pop-over
  toggle-pop-over-model = "popoverRepositoryToggle.data.show"
)
  svg.iconnables.icons-repository
    use(
      xlink:href = "#icons-repository"
    )
  h3.repository-title.text-overflow {{ acv.attrs.repo }}
  p.repository-description.text-overflow.clearfix
    svg.iconnables.icons-branch
      use(
        xlink:href = "#icons-branch"
      )
    | {{ activeBranch.attrs.name }}
  p.repository-description.clearfix
    svg.iconnables.icons-commit
      use(
        xlink:href = "#icons-commit"
      )
    | {{ activeCommit.attrs.commit.message }}
    small.repository-detail—{{ activeCommit.attrs.commit.author.date | timeAgo }}
  svg.iconnables.icons-arrow-down
    use(
      xlink:href = "#icons-arrow-down"
    )

//-
  ************
  SAN-895 NOTES:
  delete repo action should now go in the popover
  repository settings and repoActions should be removed
  ************

//- if instance.setup || instance.instanceEdit
//- button.btn.btn-xs.btn-repository-settings(
//-   ng-class = "{active: popoverRepoActions.data.show}"
//-   toggle-pop-over
//-   toggle-pop-over-model = "popoverRepoActions.data.show"
//-   type = "button"
//-   ng-if = "showEditGearMenu"
//- )
//-   svg.iconnables.icons-gear
//-     use(
//-       xlink:href = "#icons-gear"
//-     )
//-   pop-over(
//-     actions = "popoverRepoActions.actions"
//-     data = "popoverRepoActions.data"
//-     popover-options = "{\"left\":-75,\"top\":30}"
//-     template = "viewPopoverRepoActions"
//-   )

//-
  ************
  SAN-895 NOTES:
  it'd be amazing if the arrow in this popover could get to 50% of the height of .repo-group-text
  ************

pop-over(
  actions = "popoverRepositoryToggle.actions"
  data = "popoverRepositoryToggle.data"
  popover-options = "{\"left\":330}"
  template = "viewPopoverRepositoryToggle"
)