div

  //-
    if editing
    editing state on instance.instanceEdit
    non-editing state on instance.instance
  button.btn-xs.white.repository-actions(
    ng-class = "{ \
      active: popoverRepoActions.data.show \
    }"
    toggle-pop-over
    toggle-pop-over-model = "popoverRepoActions.data.show"
    type = "button"
    ng-if = "edit"
  )
    svg.iconnables.icons-gear
      use(
        xlink:href = "#icons-gear"
      )
    pop-over(
      actions = "popoverRepoActions.actions"
      data = "popoverRepoActions.data"
      template = "viewPopoverRepoActions"
    )

  //- add .pending for orange
  .commit.load(
    ng-class = "{ \
      pending: (acv.attrs.commit !== unsavedAcv.attrs.commit) \
    }"
    toggle-pop-over
    toggle-pop-over-model = "popoverCommitSelect.data.show"
  )
    .commit-message {{ activeCommit.attrs.commit.message }}
    svg.iconnables.icons-commit
      use(
        xlink:href = "#icons-commit"
      )
    span.commit-author {{ activeCommit.attrs.author.login }}
    time.commit-time {{ activeCommit.attrs.commit.author.date | timeAgo }}
  pop-over(
    actions = "popoverCommitSelect.actions"
    data = "popoverCommitSelect.data"
    template = "viewPopoverCommitSelect"
  )
