//- commit-select popover
.popover.right.commit-select.in(
  ng-class = "{in: data.show}"
)
  .arrow.white
  h3.popover-title
    .btn-group
      button.btn.blue.hover Branches
      button.btn.blue.active Commits
    input.title-filter(
      select-on = "data.toggleFilter"
      ng-model = "data.commitFilter"
      placeholder = "Filter Branches"
    )
    //- button.btn.btn-icon.btn-search(
    //-   ng-click = "data.toggleFilter = !data.toggleFilter; \
    //-     data.commitFilter = '';"
    //-   ng-class = "{active: data.toggleFilter}"
    //- )
    //-   svg.iconnables.icons-search
    //-     use(
    //-       xlink:href = "#icons-search"
    //-     )
    //- //- focus on visible

    //- branch selector
    //- .btn-select.branch-btn
    //-   button.btn.blue.pull-right
    //-     //- change this to a branch icon
    //-     svg.iconnables.icons-git
    //-       use(
    //-         xlink:href = "#icons-git"
    //-       )
    //-     | {{ data.activeBranch.attrs.name }}
    //-     svg.iconnables.icons-arrow-down
    //-       use(
    //-         xlink:href = "#icons-arrow-down"
    //-       )
    //-   select.select(
    //-     name = "data.activeBranch"
    //-     ng-change = "actions.selectBranch(data.activeBranch)"
    //-     ng-model = "data.activeBranch"
    //-     ng-options = "branch.attrs.name for branch in data.acv.githubRepo.branches.models"
    //-   )

  //- list of commits
  ul.commit-group(
    ng-if = "data.activeBranch.commits.models.length"
  )
    //- show 35 commits per load
    //- .active class if currently selected commit
    li.commit-group-item.commit(
      ng-repeat = "commit in data.activeBranch.commits.models | commitFilter:data.commitFilter"
      ng-class = "{ \
        active: (commit.attrs.sha === data.activeCommit.attrs.sha) \
      }"
      ng-click = "actions.selectCommit(commit.attrs.sha)"
    )
      .commit-message {{ commit.attrs.commit.message }}
      .commit-message {{ commit.attrs.sha }}
      svg.iconnables.icons-commit
        use(
          xlink:href = "#icons-commit"
        )
      span.commit-author {{ commit.attrs.author.login }}
      time.commit-time {{ commit.attrs.commit.author.date | timeAgo }}

    //- li.commit-group-item.commit-item-more(
    //-   ng-if = "data.state.commits.length && !data.state.allCommitsLoaded"
    //- )
    //-   button.btn.blue.btn-block Load Older
    //- li.commit-group-item(
    //-   ng-if = "!data.state.commits.length"
    //- )
      .spinner
        .spinner-ring
