.popover.menu.bottom.popover-repo-actions(
  ng-class = "{in: data.show}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white
  .popover-content
    ul.popover-list
      //- hide fast-forward and .divider if already on latest
      li.popover-list-item(
        ng-if = "data.commitsBehind"
        ng-click = "actions.selectLatestCommit()"
      ) Fast-Forward
        small.popover-list-item-details ({{ data.commitsBehind ? data.commitsBehind +' Commits' : 'To latest' }})
      li.divider(
        ng-if = "data.commitsBehind"
      )
      li.popover-list-item(
        ng-click = "actions.deleteRepo()"
      ) Delete
