.repository-group-text(
  ng-class = "{active: popoverRepositoryToggle.data.show}"
  toggle-pop-over
  toggle-pop-over-model = "popoverRepositoryToggle.data.show"
)
  h3.repository-title
    svg.iconnables.icons-repository
      use(
        xlink:href = "#icons-repository"
      )
    | {{ acv.attrs.repo }}
  p.repository-description.text-overflow.clearfix
    svg.iconnables.icons-branch
      use(
        xlink:href = "#icons-branch"
      )
    | {{ activeBranch.attrs.name }}
  p.repository-description.clearfix
    svg.iconnables.icons-commit
      use(
        xlink:href = "#icons-commit"
      )
    | {{ activeCommit.attrs.commit.message }}
    small.repository-detail {{ activeCommit.attrs.commit.author.date | timeAgo }}

//- if instance.setup || instance.instanceEdit
//- SAN-895 NOTES:
//- delete repo action should now go in the popover
//- repository settings and repoActions should be removed
//- button.btn.btn-xs.btn-repository-settings(
//-   ng-class = "{active: popoverRepoActions.data.show}"
//-   toggle-pop-over
//-   toggle-pop-over-model = "popoverRepoActions.data.show"
//-   type = "button"
//-   ng-if = "showEditGearMenu"
//- )
//-   svg.iconnables.icons-gear
//-     use(
//-       xlink:href = "#icons-gear"
//-     )
//-   pop-over(
//-     actions = "popoverRepoActions.actions"
//-     data = "popoverRepoActions.data"
//-     popover-options = "{\"left\":-75,\"top\":30}"
//-     template = "viewPopoverRepoActions"
//-   )
pop-over(
  actions = "popoverRepositoryToggle.actions"
  data = "popoverRepositoryToggle.data"
  popover-options = "{\"left\":299,\"top\":11}"
  template = "viewPopoverRepositoryToggle"
)