//- runnable 2.5
  - requirements
    - show commits on initial load to 35 (same as github)
      - implement a pagination to show older/newer 35 commits
      - implement a spinner after pressing older/newer buttons

//- .popover-repository-toggle
.popover.right.popover-repository-toggle(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
)
  .popover-content
    .popover-content-header
      .btn.gray.btn-xs.btn-select.text-overflow
        svg.iconnables.icons-branch
          use(
            xlink:href = "#icons-branch"
          )
        | {{ data.activeBranch.attrs.name }}
        svg.iconnables.icons-arrow-down
          use(
            xlink:href = "#icons-arrow-down"
          )
        select.select(
          name = "data.activeBranch"
          ng-change = "actions.selectBranch(data.activeBranch)"
          ng-model = "data.activeBranch"
          ng-options = "branch.attrs.name group by 'Select a branch' for branch in data.acv.githubRepo.branches.models"
        )
      //- delete available only in the edit modal
      .btn.gray.btn-xs(
        ng-if = "data.showDeleteButton"
        ng-click = "actions.deleteRepo()"
      )
        svg.iconnables.icons-trash
          use(
            xlink:href = "#icons-trash"
          )
      //- spinner while commits are loading
    .spinner-wrapper.spinner-md.in(
      ng-if = "!data.activeBranch.commits.models.length"
      ng-include = "'spinner'"
    )
    //- commits
    ul.list.popover-list.toggle-group
      li.list-item.popover-list-item.toggle-group-item(
        ng-class = "{ \
          active: (commit.attrs.sha === data.activeCommit.attrs.sha) \
        }"
        ng-click = "actions.selectCommit(commit.attrs.sha)"
        ng-repeat = "commit in data.activeBranch.commits.models | commitFilter:data.commitFilter"
      )
        .toggle-group-title {{ ::commit.attrs.commit.message | limitToEllipsis:72 }}
        .toggle-group-detail.clearfix
          small.small {{ ::commit.attrs.author.login }}—{{ commit.attrs.commit.author.date | timeFrom }}
          //- we don't want to close the popover because they are clicking on an external link
          a.small.link.link-text.monospace(
            ng-href = "{{ commit.attrs.html_url }}"
            ng-click = "$event.stopPropagation()"
            target = "_blank"
          ) {{ ::commit.attrs.sha | limitTo:7 }}
