li.repository-group-item
  svg.iconnables.icons-git
    use(xlink:href = "#icons-git")
  h3.repository-title {{ acv.attrs.repo }}

  //- if instance.instance and behind latest
  button.btn-xs.white.repository-update(
    ng-click = "selectLatestCommit()"
    ng-if = "!showEditGearMenu && commitsBehind"
    tooltip = "Fast-forward {{ unsavedAcv.attrs.branch }} \
               ({{ commitsBehind ? \
                 commitsBehind+' commits behind' : \
                 'To latest' }})"
    tooltip-options = "{\"class\":\"bottom\",\"top\":24}"
  ) {{ commitsBehind }}
    svg.iconnables.icons-update
      use(
        xlink:href = "#icons-update"
      )

  //-
    if instance.setup || instance.instanceEdit
  button.btn-xs.white.repository-actions(
    ng-class = "{ \
      active: popoverRepoActions.data.show \
    }"
    toggle-pop-over
    toggle-pop-over-model = "popoverRepoActions.data.show"
    type = "button"
    ng-if = "showEditGearMenu"
  )
    svg.iconnables.icons-gear
      use(
        xlink:href = "#icons-gear"
      )
    pop-over(
      actions = "popoverRepoActions.actions"
      data = "popoverRepoActions.data"
      template = "viewPopoverRepoActions"
    )

  //- add .pending for orange
  .commit.load(
    ng-class = "{ \
      pending: (showPendingClassWhenSelectedOutdatedCommit && \
      (build.contextVersions.models[0].appCodeVersions.models.length > 1) && \
      acv.attrs.commit !== unsavedAcv.attrs.commit) \
    }"
    toggle-pop-over
    toggle-pop-over-model = "popoverCommitSelect.data.show"
  )
    .commit-message {{ activeCommit.attrs.commit.message }}
    svg.iconnables.icons-commit
      use(
        xlink:href = "#icons-commit"
      )
    span.commit-author {{ activeCommit.attrs.author.login }}
    time.commit-time {{ activeCommit.attrs.commit.author.date | timeAgo }}
  pop-over(
    actions = "popoverCommitSelect.actions"
    data = "popoverCommitSelect.data"
    template = "viewPopoverCommitSelect"
  )
