.small.strong.text-overflow {{ acv.attrs.repo }}
.btn.gray(
  ng-class = "{active: popoverRepositoryToggle.show}"
  ng-click = "actions.toggleEditCommits()"
  pop-over
  pop-over-actions = "popoverRepositoryToggle.actions"
  pop-over-data = "popoverRepositoryToggle.data"
  pop-over-options = "{\"left\":270,\"top\":0}"
  pop-over-template = "viewPopoverRepositoryToggle"
  pop-over-active = "popoverRepositoryToggle.show"
)
  .repository-description.text-overflow.clearfix.js-repository-branch {{ acv.attrs.branch }}
    svg.iconnables.icons-branch
      use(
        xlink:href = "#icons-branch"
      )
  .repository-description.text-overflow.clearfix.js-repository-commit {{ activeCommit.attrs.commit.message}}
    svg.iconnables.icons-commit
      use(
        xlink:href = "#icons-commit"
      )
  .repository-description.clearfix.repository-detail.small
    a.link.text-overflow(
      ng-href = "{{ activeCommit.attrs.html_url }}"
      ng-click = "$event.stopPropagation()"
      target = "_blank"
    ) {{ activeCommit.attrs.commit.author.date | timeFrom }}
    label.toggle-wrapper(
      ng-click = "$event.stopPropagation()"
      tooltip = "Disabling Auto Deploy will stop your container from automatically updating with new changes to your repositories."
      tooltip-options = "{\"class\":\"bottom tooltip-definition\",\"left\":-6,\"top\":18}"
    ) Auto Deploy
      input.toggle-input(
        ng-false-value="true"
        ng-model = "autoDeploy"
        ng-model-options = "{getterSetter: true}"
        ng-true-value="false"
        type = "checkbox"
      ) 
      .toggle-group.toggle-xs
  svg.iconnables.icons-arrow-down
    use(
      xlink:href = "#icons-arrow-down"
    )