//- runnable 2.5

  - requirements
    - show commit hash to 7 characters and link to commit on github
    - show commits on initial load to 35 (same as github)
      - implement a pagination to show older/newer 35 commits
      - implement a spinner after pressing older/newer buttons

//- .popover-repository-toggle
.popover.right.popover-repository-toggle(
  ng-class = "{in: data.show}"
)
  .arrow.white
  h3.popover-title
    .btn.btn-select.text-overflow
      svg.iconnables.icons-branch
        use(
          xlink:href = "#icons-branch"
        )
      | master
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
      select.select
        option(
          selected
        ) master
        option gh-pages
  //- commits
  ul.toggle-group
    li.toggle-group-item
      .toggle-group-title Change font-weight from bold to 400
      .toggle-group-detail.clearfix
        small.small runnabro—22 days
        a.small.link-text(
          href = "#"
          target = "_blank"
        ) ea2855c
    li.toggle-group-item
      .toggle-group-title oops, left a console.log
      .toggle-group-detail.clearfix
        small.small Nathan219—Oct 3
        a.small.link-text(
          href = "#"
          target = "_blank"
        ) 59b170a
    li.toggle-group-item
      .toggle-group-title Merge remote-tracking branch 'origin/master'
      .toggle-group-detail.clearfix
        small.small Nathan219—Oct 3
        a.small.link-text(
          href = "#"
          target = "_blank"
        ) f2b2fa0
    li.toggle-group-item
      .toggle-group-title Adding awesome new feature to disallow auto-scrolling when the cursor…
      .toggle-group-detail.clearfix
        small.small Nathan219—Oct 3
        a.small.link-text(
          href = "#"
          target = "_blank"
        ) cb33a72
    li.toggle-group-item
      .toggle-group-title 0.1.4
      .toggle-group-detail.clearfix
        small.small SomeKittens—Oct 3
        a.small.link-text(
          href = "#"
          target = "_blank"
        ) 0991239
    li.toggle-group-item
      .toggle-group-title less agressive commenting
      .toggle-group-detail.clearfix
        small.small SomeKittens—Oct 3
        a.small.link-text(
          href = "#"
          target = "_blank"
        ) eb70c33
    li.toggle-group-item
      .toggle-group-title 0.1.3
      .toggle-group-detail.clearfix
        small.small SomeKittens—Oct 3
        a.small.link-text(
          href = "#"
          target = "_blank"
        ) 2e2a338
    li.btn-group
      .btn Newer
      .btn Older

    //- older things:
    //- button.btn.btn-icon.btn-search(
    //-   ng-click = "data.toggleFilter = !data.toggleFilter; \
    //-     data.commitFilter = '';"
    //-   ng-class = "{active: data.toggleFilter}"
    //- )
      svg.iconnables.icons-search
        use(
          xlink:href = "#icons-search"
        )
    //- focus on visible

    //- branch selector
    //- .btn-select.branch-btn
      button.btn.blue.pull-right
        //- change this to a branch icon
        svg.iconnables.icons-git
          use(
            xlink:href = "#icons-git"
          )
        | {{ data.activeBranch.attrs.name }}
        svg.iconnables.icons-arrow-down
          use(
            xlink:href = "#icons-arrow-down"
          )
      select.select(
        name = "data.activeBranch"
        ng-change = "actions.selectBranch(data.activeBranch)"
        ng-model = "data.activeBranch"
        ng-options = "branch.attrs.name for branch in data.acv.githubRepo.branches.models"
      )

  //- list of commits
  //- ul.commit-group(
  //-   ng-if = "data.activeBranch.commits.models.length"
  //- )
    //- show 35 commits per load
    //- .active class if currently selected commit
    li.commit-group-item.commit(
      ng-repeat = "commit in data.activeBranch.commits.models | commitFilter:data.commitFilter"
      ng-class = "{ \
        active: (commit.attrs.sha === data.activeCommit.attrs.sha) \
      }"
      ng-click = "actions.selectCommit(commit.attrs.sha)"
    )
      .commit-message {{ commit.attrs.commit.message }}
      .commit-message {{ commit.attrs.sha }}
      svg.iconnables.icons-commit
        use(
          xlink:href = "#icons-commit"
        )
      span.commit-author {{ commit.attrs.author.login }}
      time.commit-time {{ commit.attrs.commit.author.date | timeAgo }}

    //- li.commit-group-item.commit-item-more(
    //-   ng-if = "data.state.commits.length && !data.state.allCommitsLoaded"
    //- )
    //-   button.btn.blue.btn-block Load Older
    //- li.commit-group-item(
    //-   ng-if = "!data.state.commits.length"
    //- )
      .spinner
        .spinner-ring
