div
  //- add .pending for orange
  .commit.load(
    ng-class = "{ \
      pending: (acv.attrs.commit !== activeCommit.attrs.sha) \
    }"
    toggle-pop-over
    toggle-pop-over-model = "popoverCommitSelect.data.show"
  )
    .commit-message {{ activeCommit.attrs.commit.message }}
    svg.iconnables.icons-commit
      use(
        xlink:href = "#icons-commit"
      )
    span.commit-author {{ activeCommit.attrs.author.login }}
    time.commit-time {{ activeCommit.attrs.commit.author.date | timeAgo }}
  pop-over(
    actions = "actions"
    data = "popoverCommitSelect.data.show"
    template = "viewPopoverCommitSelect"
  )
