main.grid-block.vertical.justify-center.align-center.layout-github
  header.grid-block.vertical.justify-center.align-center.shrink.header.margin-top-sm.margin-bottom-sm
    h1.p.text-center.weight-strong Grant Access
    p.p.text-center.weight-light.margin-top-xxs.margin-bottom-xs We‘ll need some GitHub permissions to run your app. You may have to scroll down.
  .grid-block.shrink.justify-center.align-center.noscroll.figure-wrapper
    figure.figure
      img.grid-block.img(
        src = "/build/images/github-permissions-lg.svg"
      )
      .cursor
    footer.grid-block.shrink.justify-center.align-center.padding-sm.footer
      a.grid-block.shrink.align-center.btn.btn-md.green(
        href = "#"
      ) Got it! Take me to GitHub
        svg.iconnables.icons-arrow-forward
          use(
            xlink:href = "#icons-arrow-down"
          )
