.modal-backdrop.in
  .modal-dialog.modal-lg.modal-github-scope
    section.grid-block.vertical.align-center.modal-body
      svg.iconnables.icons-close
        use(
          xlink:href = "#icons-close"
        )
      img.img(
        height = "400"
        width = "500"
      )
      .grid-block.vertical.padding-md.align-center
        p.p.text-center.weight-strong We’re ready to start running your code!
        p.p.text-center Grant access to your organization on GitHub to get started.
        a.btn.btn-md.green.text-center.margin-top-sm Continue on GitHub
          svg.iconnables
            use(
              xlink:href = "#icons-link-external-alt"
            )
