main.grid-block.vertical.align-center.layout-github
  header.grid-block.vertical.shrink.justify-center.align-center.header.padding-md
    h1.h1.text-center.weight-strong How to Add a Team
    p.p.text-center.margin-top-sm On the next page, scroll to the bottom and click&#32;
      br.hidden-xs
      | Grant Access next to the team you want to use.
  figure.figure
    .img-wrapper
      img.img(
        src = "/build/images/github-permissions-lg.svg"
      )
      .cursor
  footer.grid-block.vertical.shrink.justify-center.align-center.footer.padding-md
    a.grid-block.shrink.align-center.btn.btn-md.green(
      ng-click = "GAC.actions.confirmGitHub()"
    ) Got it! Take me to GitHub
      svg.iconnables.icons-arrow-forward
        use(
          xlink:href = "#icons-arrow-down"
        )
    p.p.small.strong.text-gray.text-center.margin-top-sm We need access to your code so we can run it.&#32;
      br.hidden-xxs
      | We never store or modify your source code.&#32;
      a.link Learn more
        svg.iconnables.icons-link-external
          use(
            xlink:href = "#icons-link-external-alt"
          )
