.grid-block
  header.grid-block.shrink.header
    h1.h1.text-center How to grant access to your org:
  figure.grid-block.figure
    img.img
  footer.grid-block.shrink.footer
    button.btn.btn-md.green Continue to GitHub
