.btn-auto-deploy,
.btn-permissions {
  border: 1px solid;
  font-size: 13px;
  line-height: $input-xs - 2px;

  .iconnables {
    height: 100%;
    margin-right: 4px;
    width: 12px;
  }
}

.btn-auto-deploy {
  border-color: $gray-lighter;
  color: lighten($gray,15%);
  font-weight: $weight-normal;
  margin-top: 3px;
}

.btn-permissions {
  background: lighten($orange-lightest,3%);
  border-color: lighten($orange-lighter,10%);
  color: $orange-light;
  margin-top: 6px;

  &:hover,
  &:active {
    border-color: $orange-lighter;
  }
}
