// buttons
.btn-toolbar {
  border: 1px solid;
  flex: 0 0 auto;
  font-family: $sans-serif; // override monospace fonts inside log header
  font-size: 14px;
  font-weight: $weight-bold;
  height: $input-xs;
  line-height: $input-xs - 2px;
  padding: 0 9px;

  &.purple {
    @extend %toolbar-btn-purple;
  }

  &.orange {
    @extend %toolbar-btn-orange;
  }

  &.green {
    @extend %toolbar-btn-green;
  }
}

// toolbar theme
// purple
%toolbar-btn-purple {
  background: lighten($purple-dark,9%);
  border-color: darken($purple-dark,6%);
  color: rgba($white,.9);

  &:hover {
    border-color: darken($purple-dark,9%);
  }

  &:active,
  &.active {
    border-color: $white;
    color: $white;
  }
}

// orange
%toolbar-btn-orange {
  background: lighten($orange,9%);
  border-color: darken($orange,6%);
  color: rgba($white,.9);

  &:hover {
    background: lighten($orange,9%);
    border-color: darken($orange,9%);
  }

  &:active,
  &.active {
    border-color: $white;
    color: $white;
  }
}

// green
%toolbar-btn-green {
  background: lighten($green,9%);
  border-color: darken($green,6%);
  color: rgba($white,.9);

  &:hover {
    border-color: darken($green,9%);
  }

  &:active,
  &.active {
    border-color: $white;
    color: $white;
  }
}

// red
%toolbar-btn-red {
  background: lighten($red,4%);
  border-color: desaturate($red-dark,25%);
  color: rgba($white,.9);

  &:hover {
    border-color: darken(desaturate($red-dark,25%),3%);
  }

  &:active,
  &.active {
    border-color: $white;
    color: $white;
  }
}
