.btn-permissions {
  background: lighten($orange-lightest,3%);
  border: 1px solid lighten($orange-lighter,10%);
  color: $orange-light;
  font-size: 13px;
  line-height: $input-xs - 2px;
  margin-top: 6px;

  &:hover,
  &:active {
    border-color: $orange-lighter;
  }

  .icons-alert {
    height: 100%;
    margin-right: 4px;
    width: 12px;
  }
}
