// buttons
.btn-toolbar {
  border-width: 1px;
  flex: 0 0 auto;
  font-size: 15px;
  height: 30px;
  line-height: 28px;
  padding: 0 9px;

  .build-log-header & {
    font-family: $sans-serif; // override monospace fonts inside log header
  }

  // toolbar theme
  // purple
  &.purple {
    background: $purple;
    border-color: $purple-darker;
    color: $purple-lightest;

    &:hover:not([disabled]) {
      background: $purple-light;
      color: $white;
    }

    &:active:not([disabled]),
    &.active {
      background: $white;
      color: $purple-light;
    }
  }

  // orange
  &.orange {
    background: $orange;
    border-color: $orange-darkest;
    color: $orange-lightest;

    &:hover {
      background: $orange-lighter;
      color: $white;
    }

    &:active,
    &.active {
      background: $white;
      border-color: $white;
      color: $orange;
    }
  }

  // green
  &.green {
    background: $green-dark;
    border-color: $green-darkest;
    color: $green-lighter;

    &:hover {
      background: $green;
      color: $white;
    }

    &:active,
    &.active {
      background: $white;
      border-color: $white;
      color: $green;
    }
  }
}
