.btn-user {
  cursor: pointer;
  display: flex;

  &:hover,
  &:active,
  &.active {
    text-decoration: underline;

    .gravatar {
      opacity: 1;
    }
  }

  .gravatar {
    margin: 0 3px 0 0;
    opacity: .5;
  }
}

// optional wrapper for .btn-user
.row-author {
  align-items: center;
  display: flex;

  > .iconnables,
  > .small {
    flex: 0 0 auto;
  }

  > .btn-user {
    flex: 0 1 auto;
  }
}
