// defaults to btn-md
.btn {
  border: 0;
  border-radius: $input-border-radius;
  cursor: pointer;
  font-size: 18px;
  font-weight: $weight-normal;
  padding: 0 15px;
  position: relative;
  text-align: center;
  user-select: none;
  white-space: nowrap;

  &:not(.grid-block) {
    display: inline-block;
  }

  // for <a> elemnts
  &:hover,
  &:active {
    text-decoration: none;
  }

  &:active {
    transition: none;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: .5;
  }

  // if .arrow-down
  > .icons-arrow-down {
    float: right;
    height: 100%;
    margin-right: -6px;

    &.btn-xxs {
      margin-right: -3px;
    }
  }

  // spinner
  > .spinner-wrapper {
    align-items: center;
    display: flex;
    height: 100%;

    &:first-child {
      margin-right: 5px;
    }

    &:last-child {
      margin-left: 5px;
    }
  }

  // fancy select
  .display .iconnables {
    float: left;
    height: 21px;
    margin-right: 6px;
    top: 6px;
    width: 21px;
  }
}

// button sizes
%btn-lg,
.btn-lg {
  border-radius: $input-border-radius-lg;
  font-size: 21px;
  height: $input-lg;
  line-height: $input-line-height-lg;
}

%btn-md,
.btn-md {
  font-size: 18px;
  height: $input-md;
  line-height: $input-line-height-md;
}

%btn-sm,
.btn-sm {
  font-size: 16px;
  height: $input-sm;
  line-height: $input-line-height-sm;

  > .img {
    float: left;
    margin: 8px 6px 0 0;
  }
}

%btn-xs,
.btn-xs {
  font-size: 13px;
  height: $input-xs;
  line-height: $input-line-height-xs;
  padding: 0 6px;

  .tag {
    font-size: 13px;
    height: 16px;
    line-height: 12px;
    margin: 1px 0 0 6px;
  }
}

// only for inline buttons
%btn-xxs,
.btn-xxs {
  font-size: 12px;
  height: $input-xxs;
  line-height: $input-line-height-xxs;
  padding: 0 3px;
}

// .btn-icon
.btn-icon {
  line-height: $input-md;
  padding: 0;
  width: $input-md;

  &.btn-sm {
    width: $input-sm;
  }

  &.btn-icon-sm {
    line-height: $input-sm;
    min-width: $input-sm;
    width: auto;
  }

  &.btn-icon-xs {
    line-height: $input-xs;
    min-width: $input-xs;
    width: auto;
  }

  &.btn-icon-xxs {
    height: $input-xxs;
    line-height: $input-xxs;
    width: $input-xxs;
  }

  .iconnables {
    height: 100%;
    width: 100%;
  }

  // if .arrow-down
  > .icons-arrow-down {
    width: 24px;
  }
}

.btn-close {
  border-radius: 50%;

  .icons-close {
    color: currentColor;
  }

  &.btn-xs .icons-close {
    top: 0;
  }
}

.btn-check {

  &.active {
    background: $green;
    border-color: $green;

    .icons-add {
      transform: scale3d(0,0,0);
    }

    .icons-check {
      transform: scale3d(1,1,1);
    }
  }

  .iconnables {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale3d(0,0,0);
    transition: transform .3s ease-in;
    width: 100%;
  }

  .icons-add {
    color: $gray-lighter;
    transform: scale3d(1,1,1);
    transition: none;
  }
}

.blue,
.gray,
.gray-dark,
.green,
.orange,
.purple,
.red,
.white {
  border: $input-border solid transparent;
  color: $white;
  font-weight: $weight-bold;
  text-decoration: none;

  &:not([disabled]).btn-hint {
    @extend %btn-hint;
  }

  &:active {
    transition: none;
  }

  &:active,
  &.active {
    box-shadow: none;
  }

  &.reversed {
    letter-spacing: 0;
  }

  &.btn-xxs {
    border-width: 1px;
  }
}

.blue,
%blue {
  color: $gray-light;

  &.btn:not([disabled]) {
    background: $blue;
    border-color: $blue-dark;
    color: $white;

    &:hover,
    &.hover {
      background: lighten($blue,10%);
    }

    &:active,
    &.active,
    &.active:hover {
      background: $blue;
    }
  }
}

.gray,
%gray {
  background: $gray-lighterest;
  border-color: $gray-lighter;
  color: $gray;

  &.btn:not([disabled]) {

    &:hover,
    &.hover {
      background: $white;
      border-color: $gray-light;
    }

    &:active,
    &.active,
    &.active:hover {
      background: lighten($purple-lightest,6%);
      border-color: $purple-light;
      color: $purple-light;
    }
  }
}

.gray-dark,
%gray-dark {
  background: $gray;
  border-color: $gray-dark;

  &.btn:not([disabled]) {

    &:hover,
    &.hover {
      background: $gray-dark;
      border-color: $gray-darker;
    }

    &:active,
    &.active,
    &.active:hover {
      background: $gray-darker;
      border-color: $black;
    }
  }
}

.green,
%green {
  background: $green-dark; // rgba($green,.81);
  border-color: $green;

  &.btn:not([disabled]) {

    &:hover,
    &.hover {
      background: #8ae09c; // rgba($green,.6);
    }

    &:active,
    &.active,
    &.active:hover {
      background: $green;
      transition: none;
    }
  }
}

.orange,
%orange {
  background: $orange-light;
  border-color: $orange;

  &.btn:not([disabled]) {

    &:hover,
    &.hover {
      background: $orange-lighter;
    }

    &:active,
    &.active,
    &.active:hover {
      background: $orange;
      transition: none;
    }
  }
}

.purple,
%purple {
  color: $purple-light;

  &.btn {
    background: $purple-light;
    border-color: $purple;
    color: $white;

    &:not([disabled]) {

      &:hover,
      &.hover {
        background: lighten($purple-light,10%);
      }

      &:active,
      &.active,
      &.active:hover {
        background: $purple;
      }
    }
  }

  &.btn-group {
    border: $input-border solid $white;
    border-radius: $input-border-radius;

    > .btn {
      border: 0;
      border-radius: 0;
      line-height: 36px;
      margin: 0;
    }
  }
}

.red,
%red {
  color: $red;

  &.btn {
    background: $red;
    border-color: $red-dark;
    color: $white;

    &:not([disabled]) {

      &:hover,
      &.hover {
        background: $red-light;
      }

      &:active,
      &.active,
      &.active:hover {
        background: $red-dark;
      }
    }
  }
}

.white,
%white {
  border-color: $gray-lighter;
  color: $gray-dark;

  &.btn {
    background: $white;

    &:not([disabled]) {

      &:hover,
      &.hover {
        border-color: $gray-light;
      }

      &:active,
      &.active,
      &.active:hover {
        background: lighten($purple-lightest,6%);
        border-color: $purple-light;
        color: $purple-light;

        .icons-round {
          background: $purple-light;
        }
      }

      &.btn-hint {

        .card-body & {
          border-top-width: $input-border;
          z-index: 2;
        }
      }
    }
  }
}

// transparent to white
.btn-cancel {
  background: transparent;
  border: $input-border solid transparent;
  color: $gray;

  &:hover,
  &:active {
    background: $white;
  }
}

// hint glow
%btn-hint,
.btn-hint {
  border-color: rgba($blue,.45);
  box-shadow: 0 0 6px rgba($blue,.35);

  &:hover {
    border-color: rgba($blue,.6);
    box-shadow: none;
  }

  &:active {
    border-color: currentColor;
    box-shadow: none;
  }
}

// .btn-label
.btn-label {
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  padding: 0 6px;
  pointer-events: none;
 }

.btn-radio {
  background: $white;
  border: $input-border solid transparent;
  border-radius: $input-border-radius;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  height: 72px;
  text-align: center;
  text-decoration: none;
  transition: none;
  user-select: none;
  white-space: nowrap;
  width: 90px;

  &:active,
  &.active {
    color: $purple-light;
    cursor: default;
  }

  &.active {
    font-weight: $weight-bold;
  }

  &:focus {
    outline: 0;
  }

  &.btn-lg {
    height: 108px;
    width: 120px;

    .img,
    .iconnables {
      margin-bottom: 6px;
      width: 36px;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  .img,
  .iconnables {
    display: block;
    height: 33px;
    margin: 0 auto;
    width: 18px;
  }
}

// add button
.btn-add {
  background: $white;
  border: 1px solid $gray-lighter;
  color: $gray-light;
  line-height: initial;
  overflow: hidden;
  padding: 3px;
  transition: none;

  &.btn-sm {
    right: 15px;
    top: 15px;
    width: $input-sm;
  }

  &.btn-xs {
    right: 6px;
    top: 6px;
    width: $input-xs;
  }

  &.active {
    background: $green;
    border-color: $green;
    color: $white;
  }
}
