// reset btn defaults
.btn-card {
  text-align: left;

  &:active .small {
    color: currentColor;
  }

  + .btn-card {
    margin-top: 9px;
  }

  .h3 {
    font-size: 18px; // match modal-form .h3.empty
  }

  .small {
    color: $gray;
    white-space: normal;
  }

  .iconnables {
    height: 100%;

    &.float-left {
      margin-right: 12px;
    }
  }
}

.card-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

// sizes
.btn-card-lg {
  height: 120px;
}
