// buttons
.btn-toolbar {
  border-radius: $input-border-radius-xxs;
  border-width: 1px;
  font-size: 12px;
  line-height: 22px;

  // toolbar theme
  // purple
  &.purple {
    background: $purple;
    border-color: $purple-darker;
    color: $purple-lightest;

    &:hover:not([disabled]) {
      background: $purple-light;
      color: $white;
    }

    &:active:not([disabled]),
    &.active {
      background: $white;
      color: $purple-light;
    }
  }

  // orange
  &.orange {
    background: $orange;
    border-color: $orange-darkest;
    color: $orange-lightest;

    &:hover {
      background: $orange-lighter;
      color: $white;
    }

    &:active,
    &.active {
      background: $white;
      border-color: $white;
      color: $orange;
    }
  }

  // green
  &.green {
    background: $green-dark;
    border-color: $green-darkest;
    color: $green-lighter;

    &:hover {
      background: $green;
      color: $white;
    }

    &:active,
    &.active {
      background: $white;
      border-color: $white;
      color: $green;
    }
  }
}