 // btn-groups
.btn-group {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  .btn + .btn,
  .btn + .btn-group,
  .btn-group + .btn,
  .btn-group + .btn-group {
    margin-left: -$input-border;
  }

  > .btn {
    float: left;
    min-width: 26px;
    position: relative;

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:first-child {
      margin-left: 0;
    }

    &:first-child:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    &:last-child:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  > .btn-group {
    float: left;

    &:not(:first-child):not(:last-child) > .btn {
      border-radius: 0;
    }

    &:first-child > .btn:last-child {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    &:last-child > .btn:first-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
}