.popover-header
  button.btn.btn-sm.white.pull-left(
    ng-click = "data.state.view = 2"
  )
    svg.iconnables.icons-arrow-backward
      use(
        xlink:href = "#icons-arrow-down"
      )
    | Done
  strong.strong.text-overflow Commit
  //- this button is empty on purpose
  button.btn.btn-sm.pull-right.no-touching

.popover-content
  label.label.label-jump
    small.small Branch
    select.select(
      ng-model = "data.branch"
      ng-options="branch as branch.attrs.name for branch in data.repo.branches.models"
      ng-change = "actions.selectBranch(data.branch)"
    )
      option(
        disabled
      ) Choose a branch

  .spinner-wrapper.spinner-md.in(
    ng-if = "!data.branch.commits.models.length"
    ng-include = "'spinner'"
  )

  //- when toggled, all other .active commits removed
  label.label-checkbox.small.clearfix
    input.input-checkbox(
      type = "checkbox"
      ng-model = "data.latestCommit"
      ng-click = "actions.toggleSelectLatestCommit()"
    )
    | Update to latest commit on new builds

  ul.list.list-servers
    //- apply .active to currently selected commit (or latest)
    li.list-item.text-overflow(
      ng-repeat = "commit in data.branch.commits.models | orderBy: '-attrs.commit.committer.date'"
      ng-click = "actions.selectCommit(commit)"
    ) {{commit.attrs.commit.message}}
      .toggle-group-detail.clearfix
        small.small {{commit.attrs.commit.committer.name}} authored {{commit.attrs.commit.committer.date | timeFrom}}
        a.small.link.link-text.monospace(
          ng-href = "{{ commit.attrs.html_url }}"
          ng-click = "$event.stopPropagation()"
          target = "_blank"
        ) {{ ::commit.attrs.sha | limitTo:7 }}
