.popover-header
  //- if adding a new repository
  button.btn.btn-sm.white.pull-left(
    ng-click = "data.state.view = 1"
    ng-if = "!data.state.fromServer"
  )
    svg.iconnables.icons-arrow-backward
      use(
        xlink:href = "#icons-arrow-down"
      )
    | Back
  //- if editing an existing repository
  //- this button is empty on purpose
  button.btn.btn-sm.pull-right.no-touching(
    ng-if = "false"
  )
  strong.strong.text-overflow {{ data.name }}
  //- this button is empty on purpose
  button.btn.btn-sm.pull-right.no-touching

.popover-content
  label.label.clearfix
    .input-col
      .btn.btn-block.white.text-overflow(
        ng-click = "data.state.view = 3"
      ) {{ data.commit.attrs.commit.message }}
        small.small {{ data.commit.attrs.author.login }} authored {{ data.commit.attrs.commit.author.date | timeFrom }}
        svg.iconnables.icons-arrow-down
          use(
            xlink:href = "#icons-arrow-down"
          )

  label.label.clearfix
    .label-col Destination
    .input-col.input-root
      input.input.input-sm(
        ng-model = "data.path"
        required
        spellcheck = "false"
      )

  label.label.clearfix
    .label-col Build Commands
      small.small (optional)
    .input-col
      textarea.textarea.monospace(
        ng-model = "data.commands"
        spellcheck = "false"
      )
      small.small Commands to be executed when your container is built and before it is launched.

  //- not shown if new repo
  button.btn.btn-xs.orange(
    ng-if = "data.fromServer"
    ng-click = "actions.remove()"
  ) Remove Repository

.popover-footer.clearfix
  button.btn.btn-sm.green(
    ng-click = "actions.save()"
  ) {{ data.fromServer ? 'Save' : 'Add Repository' }}
  button.btn.btn-sm.gray.btn-cancel(
    ng-click = "closePopover()"
  ) Cancel