.modal-backdrop.in
  .modal-dialog.modal-xs.modal-invite-admin
    header.modal-header
      h1.modal-heading Invite an Admin
      svg.iconnables.icons-close(
        ng-click = "IAMC.close()"
      )
        use(
          xlink:href = "#icons-close"
        )
    section.modal-body
      .label.small.padding-sm.text-gray.text-center We need an admin from this repository with webhooks permissions in order to trigger new builds.

      ul.list.list-bordered.list-teammates
        li.list-item.spinner-wrapper.spinner-gray.spinner-sm.in.spinner-center(
          ng-if = "!IAMC.admins"
          ng-include = "'spinner'"
        )
        li.list-item(
          ng-class = "{\
            'active': IAMC.activeItem === admin.login,\
            'inactive': IAMC.activeItem && IAMC.activeItem !== admin.login\
          }"
          ng-click = "IAMC.selectUser(admin)"
          ng-form = "inviteAdminForm"
          ng-if = "IAMC.admins"
          ng-repeat = "admin in IAMC.admins track by admin.login"
        )
          img.gravatar(
            height = "27"
            ng-src = "{{admin.avatar_url}}"
            width = "27"
          )
          .username.text-overflow.strong {{admin.login}}
          .small.text-overflow {{admin.email.length ? admin.email : "—"}}

          //- if invitation *hasn't* been sent to this admin
          svg.iconnables.icons-arrow-forward.js-animate(
            ng-hide = "IAMC.activeItem === admin.login || admin.emailSent"
          )
            use(
              xlink:href = "#icons-arrow-down"
            )

            //- if invitation *has* been sent to this admin
          svg.iconnables.icons-check.js-animate(
            ng-show = "IAMC.activeItem !== admin.login  && admin.emailSent"
          )
            use(
              xlink:href = "#icons-check"
            )

          //- focus on this if there's no value
          //- required
          input.input.input-sm.input-validate.validate-on-blur.js-animate(
            ng-class = "{\
              'focus': !admin.email,\
            }"
            name = "emailTextInput"
            ng-model = "admin.email"
            ng-show = "IAMC.activeItem === admin.login"
            placeholder = "Email Address"
            required
            spellcheck = "false"
            type = "email"
          )
          //- not required
          textarea.textarea.js-animate(
            name = "emailMessageTextArea"
            ng-model = "admin.emailMessage"
            ng-show = "IAMC.activeItem === admin.login"
            placeholder = "Message"
            spellcheck = "false"
          )
          .btn.btn-sm.gray.js-animate(
            ng-click = "\
              IAMC.activeItem = null;\
              $event.stopPropagation();\
            "
            ng-show = "IAMC.activeItem === admin.login"
          ) Cancel
          //- disable this button if email input is empty or invalid
          .btn.btn-sm.btn-spinner.green.float-right.js-animate(
            ng-class = "{'in': IAMC.sending}"
            ng-click = "\
              inviteAdminForm.$invalid || IAMC.sendEmail(admin);\
              $event.stopPropagation();\
            "
            ng-disabled = "inviteAdminForm.$invalid"
            ng-show = "IAMC.activeItem === admin.login"
          )
            .spinner-wrapper.spinner-sm.spinner-white(
              ng-if = "IAMC.sending"
              ng-include = "'spinner'"
            )
            | Send Invitation
