.popover.menu.bottom.popover-add-tab(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white
  .popover-content
    ul.list.popover-list
      li.list-item.popover-list-item.small Open Tab
      li.list-item.popover-list-item(
        ng-click = "actions.addTerminal()"
        ng-if = "data.options.term"
      )
        svg.iconnables.icons-terminal
          use(
            xlink:href = "#icons-terminal"
          )
        | Terminal
      li.list-item.popover-list-item(
        ng-click = "actions.addBuildStream()"
        ng-if = "data.options.build"
      )
        svg.iconnables.icons-logs
          use(
            xlink:href = "#icons-logs"
          )
        | Build Logs
      li.list-item.popover-list-item(
        ng-click = "actions.addLogs()"
        ng-if = "data.options.server"
      )
        svg.iconnables.icons-logs
          use(
            xlink:href = "#icons-logs"
          )
        | CMD Logs