a.btn.btn-sm.white.btn-icon.add-tab(
  ng-class = "{active: popoverAddTab.data.show}"
  toggle-pop-over
  toggle-pop-over-model = "popoverAddTab.data.show"
)
  svg.iconnables.icons-add
    use(
      xlink:href = "#icons-add"
    )
  pop-over(
    actions = "popoverAddTab.actions"
    data = "popoverAddTab.data"
    popover-options = "{\"right\":8,\"top\":45}"
    template = "viewPopoverAddTab"
  )
