.popover.menu.bottom.popover-add-tab(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white
  .popover-content
    ul.list.popover-list
      li.list-item.popover-list-item(
        ng-click = "\
          actions.addTerminal();\
          POC.closePopover();\
        "
        ng-if = "data.options.term"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-start-cmd"
          )
        | New Terminal Tab
