h1.box-info
  form.box-name(
    name = "dataSetup.data.newProjectNameForm"
  )
    input.validate.setup-box-name(
      ng-model = "dataSetup.data.newProjectName"
      placeholder = "Box Name"
      select-on
      spellcheck = "false"
      validate-name-pattern
      validate-name = "dataInstanceLayout.data.instances"
      value = "{{ dataSetup.data.project.attrs.name }}"
    )
    //- if invalid character is entered
    .validate-wrapper(
      ng-class = "{\
        in: data.renameForm.$invalid,\
        'invalid-pattern': dataSetup.data.newProjectNameForm.$error.namePattern.length,\
        'invalid-name': dataSetup.data.newProjectNameForm.$error.nameAvailable.length\
      }"
    )
      span.validate-rules.invalid-pattern We accept #{''}
        b.btn.btn-xs.orange A-Z
        b.btn.btn-xs.orange a-z
        b.btn.btn-xs.orange 0-9
        b.btn.btn-xs.orange _
        b.btn.btn-xs.orange -
      //- if the name is taken
      span.validate-rules.invalid-name That's a pretty name, but it's taken.
