.modal-form(
  ng-if = "SIFC.state === 'loading'"
)
  .spinner-wrapper.spinner-md.spinner-gray.in(
    ng-include = "'spinner'"
  )

//- integrations form empty state
.modal-form.empty.grid-block.vertical.align-center(
  ng-form = "SIFC.slackApiTokenForm"
  ng-if = "SIFC.state === 'not-verified' || SIFC.state === 'verifying'"
)
  img.img(
    height = "90"
    src = "/build/images/slack-notification.png"
    width = "270"
  )

  h3.h3.empty.text-center Get container status updates in Slack
  small.small.empty.text-gray.text-center Use an API token from&#32;
    a.link(
      href = "//slack.com/services"
      target = "_blank"
    ) an existing bot
    | , or create a&#32;
    a.link(
      href = "//slack.com/services/new/bot"
      target = "_blank"
    ) new bot
    | .

  .input-spinner
    input.input.input-md.monospace.text-center.input-validate(
      name = "slackApiTokenField"
      ng-disabled = "SIFC.state === 'verifying'"
      ng-model = "SIFC.slackApiToken"
      ng-model-options = "{debounce: 250}"
      placeholder = "API Token"
      required
      slack-api-token-validator
      spellcheck = "false"
    )
    .spinner-wrapper.spinner-sm.spinner-gray.in(
      ng-if = "SIFC.slackApiTokenForm.$pending"
      ng-include = "'spinner'"
    )

  .invalid-message.text-center(
    ng-if = "!SIFC.slackApiTokenForm.$pristine && SIFC.slackApiTokenForm.$invalid"
  ) Invalid API Token

  button.btn.btn-md.green(
    ng-click = "SIFC.verifySlack();"
    ng-disabled = "!SIFC.slackApiTokenForm.$valid || SIFC.slackApiTokenForm.$pending || SIFC.state === 'verifying'"
  )
    .spinner-wrapper.spinner-sm.spinner-white.in(
      ng-include = "'spinner'"
      ng-if = "SIFC.state === 'verifying'"
    )
    span Add Slack Integration

//- integrations form
.modal-form.form.modal-integrations(
  ng-if = "SIFC.state === 'verified'"
)
  .label
    .clearfix
      .label-col Messaging
    .list.list-bordered
      label.list-item.text-overflow.js-animate(
        ng-class = "{\
          'disabled': !SIFC.settings.attrs.notifications.slack.enabled,\
          'expanded': !member.found && member.slackOn\
        }"
        ng-repeat = "member in SIFC.slackMembers"
      )
        .badge-warning(
          ng-if = "\
            !member.found && \
            member.slackOn && \
            !member.ghName && SIFC.settings.attrs.notifications.slack.enabled\
          "
        )
          svg.iconnables.icons-alert
            use(
              xlink:href = "#icons-alert-round"
            )
        img.gravatar(
          height = "21"
          ng-src = "{{member.profile.image_24}}"
          width = "21"
        )
        | @{{ member.name }}
        .toggle-wrapper.float-right
          input.toggle-input(
            ng-change = "SIFC.saveSlack()"
            ng-disabled = "!SIFC.settings.attrs.notifications.slack.enabled"
            ng-model = "member.slackOn"
            type = "checkbox"
          )
          .toggle-group.toggle-sm(
            ng-class = "{'invalid': !member.found && member.slackOn && !member.ghName}"
          )
        .well.small(
          ng-class = "{'no-touching': !SIFC.settings.attrs.notifications.slack.enabled}"
          ng-click = "$event.preventDefault();"
          ng-if = "!member.found && member.slackOn"
        ) We couldn't match this Slack user to a GitHub username.&#32;
          br.br
          | Select their username to enable messaging.
          select.select(
            ng-change = "SIFC.saveSlack()"
            ng-if = "!member.found"
            ng-model = "member.ghName"
            ng-options = "ghMember for ghMember in SIFC.ghMembers"
          )
            //- value attribute is required in FF (bug? not automatically taken from the text content)
            option(
              disabled
              selected = "selected"
              value = ""
            ) Select GitHub username
    small.small Members will receive messages from your bot when their containers are updated.

  //- disabling integration:
    - removes all .active class on labels
    - disables all inputs, but preserves their states
  .label.label-footer
    button.btn.btn-xs.red(
      ng-click = "SIFC.deleteAPIToken()"
    ) Remove Slack Integration
