.grid-block.vertical.well.gray.ignore-margin
  label.grid-block.align-center.justify-justified.label
    .padding-left-xxs.small.label-sm Compose File for Testing
    .toggle-wrapper
      input.toggle-input(
        ng-model = "MDC.state.isTesting"
        type = "checkbox"
      )
      .toggle-group.toggle-sm

  .grid-block.vertical.label.views-dockerfile-setup(
    add-dockerfile
    branch-name = "MDC.branchName"
    file-type = "Docker Compose Test"
    full-repo = "MDC.getFullRepo()"
    ng-if = "MDC.state.isTesting"
    onload = "type = 'test'"
    view-state = "viewState"
  )

  label.grid-block.vertical.label(
    ng-if = "MDC.state.isTesting"
  )
    .padding-xxs.small.label-sm Test Container

    //-
      No file state:
      - [disabled]
      - [required]
      - Copy: "Select a Container"

      Loading state:
      - [disabled]
      - [required]
      - Show spinner

      Has file & loaded:
      - [required]
      - Copy: "Select a Container"
    fancy-select.btn-md.white(
      disabled
      ng-disabled = "loadingFile || !MDC.dockerComposeTestServices.length"
      ng-required = "true"
      spinner-flag = "loadingFile"
      value = "MDC.state.testReporter"
    )
      fancy-option(
        ng-repeat = "service in $parent.MDC.dockerComposeTestServices"
        value = "service"
      ) {{ $parent.service.name }}

    small.padding-xxs.small This is how we know which container’s status to attach to your GitHub commits and pull requests.&#32;
      a.link(
        href = "//runnable.com/docs/integrations/notifications/github-pull-request-notifications"
        target = "_blank"
      ) Learn More
