//- input for environment file path
label.label(
  ng-include = "'composeFilePathView'"
  onload = "type = 'environment'"
)

//- input and settings for testing
.grid-block.vertical.label(
  ng-include = "'composeTestView'"
)
