.card-header.deprecated(
  ng-if = "!$root.featureFlags.cardStatus"
)
  //- if building: text says "Building"; title attribute shows time building "82 seconds" "50 minutes" etc.
    - if building failed: text says "Build Failed"; title attribute shows when the build failed "Failed 2 minutes ago"
    - if building succeeded, and running: text says "Running"; title attribute shows time running "82 seconds" "50 minutes" etc.
    - if building succeeded, and stopped: text says "Stopped"; title attribute shows when the server was stopped "Stopped 2 minutes ago"
    - if building succeeded, and run fails: text says "Crashed"; title attribute shows when the server crashed "Crashed 2 minutes ago"
  server-status-card-header.btn.btn-sm.btn-title.white(
    ng-attr-no-touching = "{{ showSpinner() }}"
    pop-over-options = "{\"right\":0,\"top\":47}"
    pop-over-template = "serverOptionsCardPopover"
  )
.card-header(
  ng-if = "$root.featureFlags.cardStatus"
)
  server-status-card-header(
    ng-attr-no-touching = "{{ showSpinner() }}"
    pop-over-options = "{\"centered\":true,\"top\":36}"
    pop-over-template = "serverOptionsCardPopover"
  )
ul.card-body.card-loading(
  ng-if = "showSpinner()"
)
  .spinner-wrapper.spinner-md.spinner-gray.in(
    ng-include = "'spinner'"
  )

ul.card-body.load(
  ng-if = "!showSpinner()"
)
  //- stack type
  li.btn.white(
    modal
    modal-actions = "actions"
    modal-current-model = "server"
    modal-data = "data"
    modal-state-model = "'stack'"
    modal-template = "editServerModalOpen"
    ng-if = "server.repo && !server.advanced"
    ng-class = "{hint: helpCards.cardIsActiveOnThisContainer(instance) && helpCards.getActiveCard().targets.stackType}"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-stack"
      )
    h3.h3.text-overflow Stack Type
    small.small.text-overflow {{ getFlattenedSelectedStacks(server.selectedStack) }}
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )
  //- exposed ports
  li.btn.white(
    ng-if = "server.repo && !server.advanced"
    modal
    modal-actions = "actions"
    modal-current-model = "server"
    modal-data = "data"
    modal-state-model = "'ports'"
    modal-template = "editServerModalOpen"
    ng-if = "server.repo && !server.advanced"
    ng-class = "{hint: helpCards.cardIsActiveOnThisContainer(instance) && helpCards.getActiveCard().targets.exposedPorts}"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-ports"
      )
    h3.h3.text-overflow Exposed Ports
    small.small.text-overflow {{ server.ports || '—'}}
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )
  //- environment variables
  li.btn.white(
    modal
    modal-actions = "actions"
    modal-current-model = "server"
    modal-data = "data"
    modal-state-model = "'env'"
    modal-template = "editServerModalOpen"
    ng-class = "{\
      'hint': helpCards.cardIsActiveOnThisContainer(instance) && helpCards.getActiveCard().targets.environmentVariables,\
      'active-notification': $root.featureFlags.hostnameNotifications\
    }"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-environment-variable"
      )
    h3.h3.text-overflow Environment Variables
    small.small.text-overflow {{ server.opts.env.length ? server.opts.env.length + ' variable' : '—' }}{{server.opts.env.length > 1 ? 's' : ''}}
    button.btn.btn-xxs.btn-badge(
      ng-if = "$root.featureFlags.hostnameNotifications"
      title = "999 new non-elastic hostnames"
    ) 999
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )
  //- repository
  li.btn.white(
    modal
    modal-actions = "actions"
    modal-current-model = "server"
    modal-data = "data"
    modal-state-model = "'repository'"
    modal-template = "editServerModalOpen"
    ng-if = "server.repo && !server.advanced"
    ng-class = "{hint: helpCards.cardIsActiveOnThisContainer(instance) && helpCards.getActiveCard().targets.repositories}"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-repository"
      )
    h3.h3.text-overflow Main Repository
    //- \\n for new line
    small.small.text-overflow(
      title = "{{ server.instance.contextVersion.getMainAppCodeVersion().attrs.branch }}\\n{{server.commands}}"
    ) {{ server.instance.contextVersion.getMainAppCodeVersion().attrs.branch }}
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )
  //- container files
  li.btn.white(
    modal
    modal-actions = "actions"
    modal-current-model = "server"
    modal-data = "data"
    modal-state-model = "'files'"
    modal-template = "editServerModalOpen"
    ng-if = "server.repo && !server.advanced"
    ng-class = "{hint: helpCards.cardIsActiveOnThisContainer(instance) && helpCards.getActiveCard().targets.containerFiles}"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-container-files"
      )
    h3.h3.text-overflow Container Files
    small.small.text-overflow {{ getContainerFilesDisplay() }}
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )
  //- FnR
  li.btn.white(
    modal
    modal-actions = "actions"
    modal-current-model = "server"
    modal-data = "data"
    modal-state-model = "'translation'"
    modal-template = "editServerModalOpen"
    modal-open-flag = "openConfigurationModal"
    ng-class = "{hint: helpCards.cardIsActiveOnThisContainer(instance) && helpCards.getActiveCard().targets.findAndReplace}"
    ng-if = "server.repo && $root.featureFlags.findAndReplace"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-translation"
      )
    h3.h3.text-overflow Find and Replace
    small.small.text-overflow {{ getTranslationDisplay() }}
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )
  //- dockerfile
  li.btn.white(
    modal
    modal-actions = "actions"
    modal-current-model = "server"
    modal-data = "data"
    modal-state-model = "'buildfiles'"
    modal-template = "editServerModalOpen"
    ng-if = "server.advanced && !$root.featureFlags.dockerfileTool"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-dockerfile"
      )
    h3.h3.text-overflow Dockerfile
    small.small(
      ng-if = "server.advanced"
    )
      em.underline.tooltip-plus-wrapper Tools
        .tooltip-plus.tooltip-tools.right(
          ng-include = "'viewTooltipTools'"
          style = "left: 42px; top: -67px;"
        )
      //- must use &nbsp; instead of #{''}
      span.text-overflow &nbsp;not available with write access.
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )
  //- new dockerfile
  li.btn.white(
    modal
    modal-actions = "actions"
    modal-current-model = "server"
    modal-data = "data"
    modal-state-model = "'buildfiles'"
    modal-template = "editServerModalOpen"
    ng-if = "$root.featureFlags.dockerfileTool"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-dockerfile"
      )
    h3.h3.text-overflow Dockerfile
    small.small(
      ng-if = "!server.advanced"
    ) —
    small.small(
      ng-if = "server.advanced"
    )
      em.underline.tooltip-plus-wrapper Tools
        .tooltip-plus.tooltip-tools.right(
          ng-include = "'viewTooltipTools'"
          style = "left: 42px; top: -95px;"
        )
      //- must use &nbsp; instead of #{''}
      span.text-overflow &nbsp;not available with write access.

    //- lock/unlock icon to show status of container's dockerfile
    //- wrapper needed for title text
    .iconnables-wrapper(
      ng-if = "!server.advanced"
      title = "Write access disabled"
    )
      svg.iconnables.icons-lock
        use(
          xlink:href = "#icons-lock"
        )
    .iconnables-wrapper(
      ng-if = "server.advanced"
      title = "Write access enabled"
    )
      svg.iconnables.icons-unlock
        use(
          xlink:href = "#icons-unlock"
        )

    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )