.card-header
  server-status-card-header(
    ng-attr-no-touching = "{{ showSpinner() }}"
    pop-over-options = "{\"right\":-10,\"top\":30}"
    pop-over-template = "serverOptionsCardPopover"
  )

  //- This element displays while the card is validating.
  //- While building, it says "Validating Build…"
  //- If it builds successfully, it changes to "Validating Container CMD"
  //- If it runs for 5 seconds, then it changes to "Template Validated"
  
  //- .loading-bar
  
  //- This element displays the card failed to build and/or run for 5 seconds.
  //- If it failed to build:
  //- Text says "Build Failed", and "View Logs" links to build logs
  //- If it failed to run:
  //- Text says "Container CMD Failed", and "View Logs" links to CMD logs
  
  .card-failed Build Failed.
    strong.strong  View Logs

ul.card-body.card-loading(
  ng-if = "showSpinner()"
)
  .spinner-wrapper.spinner-md.spinner-gray.in(
    ng-include = "'spinner'"
  )

ul.card-body.load(
  ng-if = "!showSpinner()"
)
  //- advanced config
  li.btn.white(
    modal
    modal-actions = "actions"
    modal-current-model = "server"
    modal-data = "data"
    modal-state-model = "'buildfiles'"
    modal-template = "editServerModalOpen"
    ng-if = "server.advanced"
  )
    svg.iconnables
      use(
      xlink:href = "#icons-advanced"
      )
    h3.h3 Advanced Configuration
    p.p.text-overflow
    svg.iconnables.icons-arrow-down
      use(
      xlink:href = "#icons-arrow-down"
      )
  //- stack type
  li.btn.white(
    modal
    modal-actions = "actions"
    modal-current-model = "server"
    modal-data = "data"
    modal-state-model = "'stack'"
    modal-template = "editServerModalOpen"
    ng-if = "server.repo && !server.advanced"
    ng-class = "{hint: helpCards.cardIsActiveOnThisContainer(instance) && helpCards.getActiveCard().targets.stackType}"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-stack"
      )
    h3.h3 Stack Type
    p.p.text-overflow {{ getFlattenedSelectedStacks(server.selectedStack) }}
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )
  //- exposed ports
  li.btn.white(
    ng-if = "server.repo && !server.advanced"
    modal
    modal-actions = "actions"
    modal-current-model = "server"
    modal-data = "data"
    modal-state-model = "'ports'"
    modal-template = "editServerModalOpen"
    ng-if = "server.repo && !server.advanced"
    ng-class = "{hint: helpCards.cardIsActiveOnThisContainer(instance) && helpCards.getActiveCard().targets.exposedPorts}"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-ports"
      )
    h3.h3 Exposed Ports
    p.p.text-overflow {{ server.ports || 'None'}}
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )
  //- environment variables
  li.btn.white(
    modal
    modal-actions = "actions"
    modal-current-model = "server"
    modal-data = "data"
    modal-state-model = "'env'"
    modal-template = "editServerModalOpen"
    ng-class = "{hint: helpCards.cardIsActiveOnThisContainer(instance) && helpCards.getActiveCard().targets.environmentVariables}"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-environment-variable"
      )
    h3.h3 Environment Variables
    p.p.text-overflow {{ server.opts.env.length ? server.opts.env.length : 'no' }} variable{{server.opts.env.length === 1 ? '' : 's'}}
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )
  //- repository
  li.btn.white(
    modal
    modal-actions = "actions"
    modal-current-model = "server"
    modal-data = "data"
    modal-state-model = "'repository'"
    modal-template = "editServerModalOpen"
    ng-if = "server.repo && !server.advanced"
    ng-class = "{hint: helpCards.cardIsActiveOnThisContainer(instance) && helpCards.getActiveCard().targets.repositories}"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-repository"
      )
    h3.h3 Main Repository
    //- \\n for new line
    p.p.text-overflow(
      title = "{{ server.instance.contextVersion.getMainAppCodeVersion().attrs.branch }}\\n{{server.commands}}"
    ) {{ server.instance.contextVersion.getMainAppCodeVersion().attrs.branch }}
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )
  //- container files
  li.btn.white(
    modal
    modal-actions = "actions"
    modal-current-model = "server"
    modal-data = "data"
    modal-state-model = "'files'"
    modal-template = "editServerModalOpen"
    ng-if = "server.repo && !server.advanced"
    ng-class = "{hint: helpCards.cardIsActiveOnThisContainer(instance) && helpCards.getActiveCard().targets.containerFiles}"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-container-files"
      )
    h3.h3 Container Files
    p.p.text-overflow {{ getContainerFilesDisplay() }}
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )
  li.btn.white(
    modal
    modal-actions = "actions"
    modal-current-model = "server"
    modal-data = "data"
    modal-state-model = "'translation'"
    modal-template = "editServerModalOpen"
    modal-open-flag = "openConfigurationModal"
    ng-class = "{hint: helpCards.cardIsActiveOnThisContainer(instance) && helpCards.getActiveCard().targets.findAndReplace}"
    ng-if = "server.repo && $root.featureFlags.findAndReplace"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-translation"
      )
    h3.h3 Find and Replace
    p.p.text-overflow {{ getTranslationDisplay() }}
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )

//- .card-footer
//-   .containers-count(
//-     title = "15 branch containers"
//-   ) 15
//-     svg.iconnables.icons-server-branch
//-       use(
//-         xlink:href = "#icons-server-branch"
//-       )