.modal-form.form-billing

  //- .spinner-wrapper.spinner-md.spinner-gray.in(
  //-   ng-include = "'spinner'"
  //- )

  //- billing form empty state
  animated-panel-container(
    ng-if = "$root.featureFlags.trial"
  )
    animated-panel(
      default = "true"
      name = "trialForm"
    )
      .grid-block.vertical.form-trial.padding-md.fade(
        ng-class = "{'in': isActivePanel()}"
        ng-include = "'trialForm'"
      )
    animated-panel(
      name = "changePlanForm"
    )
      .grid-block.vertical.form-plan.fade(
        ng-class = "{'in': isActivePanel()}"
        ng-include = "'changePlanForm'"
      )
    animated-panel(
      name = "changePaymentForm"
    )
      .grid-block.vertical.form-payment.fade(
        ng-class = "{'in': isActivePanel()}"
        ng-include = "'changePaymentForm'"
      )

  animated-panel-container(
    ng-if = "!$root.featureFlags.trial"
  )
    animated-panel(
      default = "true"
      name = "billingForm"
    )
      .grid-block.vertical.form-plan.label.padding-sm.fade(
        ng-class = "{'in': isActivePanel()}"
        ng-include = "'showPlanForm'"
      )
      .grid-block.vertical.label.padding-sm.fade(
        ng-class = "{'in': isActivePanel()}"
        ng-include = "'showPaymentForm'"
      )
      .grid-block.vertical.label.padding-sm.fade(
        ng-class = "{'in': isActivePanel()}"
        ng-include = "'historyForm'"
      )
    animated-panel(
      name = "changePlanForm"
    )
      .grid-block.vertical.form-plan.fade(
        ng-class = "{'in': isActivePanel()}"
        ng-include = "'changePlanForm'"
      )
    animated-panel(
      name = "changePaymentForm"
    )
      .grid-block.vertical.form-payment.fade(
        ng-class = "{'in': isActivePanel()}"
        ng-include = "'changePaymentForm'"
      )
