.modal-form.form-billing

  //- .spinner-wrapper.spinner-md.spinner-gray.in(
  //-   ng-include = "'spinner'"
  //- )

  //- billing form empty state
  animated-panel-container(
    ng-if = "$root.featureFlags.trial"
  )
    animated-panel(
      default = "true"
      name = "trialForm"
    )
      .grid-block.vertical.align-center.form-trial.padding-md.fade(
        ng-class = "{'in': isActivePanel()}"
        ng-include = "'trialForm'"
        ng-init = "state.fromModal = true"
      )
      .grid-block.vertical.form-plan.fade(
        ng-class = "{'in': isActivePanel()}"
        ng-init = "state.hasDuration = false"
        plan-status-form
      )
    animated-panel(
      name = "changePaymentForm"
    )
      .grid-block.vertical.form-payment.fade(
        ng-class = "{'in': isActivePanel()}"
        ng-include = "'changePaymentForm'"
      )
    animated-panel(
      name = "confirmationForm"
    )
      .grid-block.vertical.fade(
        ng-class = "{'in': isActivePanel()}"
        ng-include = "'confirmationForm'"
      )

  animated-panel-container(
    ng-if = "!$root.featureFlags.trial"
  )
    animated-panel(
      default = "true"
      name = "billingForm"
    )
      .grid-block.vertical.form-plan.label.padding-sm.fade(
        ng-class = "{'in': isActivePanel()}"
        ng-include = "'showPlanForm'"
      )
      .grid-block.vertical.label.padding-sm.fade(
        ng-class = "{'in': isActivePanel()}"
        show-payment-form
      )
      .grid-block.vertical.label.padding-sm.fade(
        ng-class = "{'in': isActivePanel()}"
        billing-history-form
      )
      .grid-block.vertical.label.padding-sm.fade(
        ng-class = "{'in': isActivePanel()}"
        ng-include = "'disableOrgForm'"
      )
    animated-panel(
      name = "planStatusForm"
    )
      .grid-block.vertical.form-plan.fade(
        ng-class = "{'in': isActivePanel()}"
        plan-status-form
      )
    animated-panel(
      name = "changePaymentForm"
    )
      .grid-block.vertical.form-payment.fade(
        ng-class = "{'in': isActivePanel()}"
        ng-include = "'changePaymentForm'"
        ng-init = "state.changingPayment = true"
      )
    animated-panel(
      name = "confirmationForm"
    )
      .grid-block.vertical.form-plan.fade(
        ng-class = "{'in': isActivePanel()}"
        ng-include = "'confirmationForm'"
      )
