.modal-form.form-billing
  .spinner-wrapper.spinner-md.spinner-gray.in(
    ng-include = "'spinner'"
    ng-if = "$root.isLoading.billingForm"
  )

  animated-panel-container(
    ng-show = "!$root.isLoading.billingForm"
  )
    animated-panel(
      name = "billingForm"
    )
      .grid-block.vertical.align-center.form-trial.padding-md.fade(
        from-modal = 'true'
        ng-class = "{'in': isActivePanel()}"
        ng-if = "currentOrg.poppa.isInTrial() && !currentOrg.poppa.attrs.hasPaymentMethod"
        trial-form
      )
      .grid-block.vertical.form-plan.fade(
        ng-class = "{'in': isActivePanel()}"
        ng-if = "currentOrg.poppa.isInTrial() && !currentOrg.poppa.attrs.hasPaymentMethod"
        ng-init = "state.hasDuration = false"
        ng-show = "!$root.isLoading.billingForm"
        plan-status-form
      )
      .grid-block.vertical.form-plan.label.padding-sm.fade(
        ng-class = "{'in': isActivePanel()}"
        ng-if = "!currentOrg.poppa.isInTrial() || (currentOrg.poppa.isInTrial() && currentOrg.poppa.attrs.hasPaymentMethod)"
        show-plan-form
      )
      .grid-block.vertical.label.padding-sm.fade(
        ng-class = "{'in': isActivePanel()}"
        ng-if = "!currentOrg.poppa.isInTrial() || (currentOrg.poppa.isInTrial() && currentOrg.poppa.attrs.hasPaymentMethod)"
        show-payment-form
      )
      .grid-block.vertical.label.padding-sm.fade(
        billing-history-form
        ng-class = "{'in': isActivePanel()}"
        ng-if = "!currentOrg.poppa.isInTrial() || (currentOrg.poppa.isInTrial() && currentOrg.poppa.attrs.hasPaymentMethod)"
      )
      .grid-block.vertical.label.padding-sm.fade(
        ng-class = "{'in': isActivePanel()}"
        ng-if = "!currentOrg.poppa.isInTrial() || (currentOrg.poppa.isInTrial() && currentOrg.poppa.attrs.hasPaymentMethod)"
        ng-include = "'disableOrgForm'"
      )
    animated-panel(
      name = "planStatusForm"
    )
      .grid-block.vertical.form-plan.fade(
        ng-class = "{'in': isActivePanel()}"
        plan-status-form
      )
    animated-panel(
      name = "changePaymentForm"
    )
      .grid-block.vertical.form-payment.fade(
        ng-class = "{'in': isActivePanel()}"
      )
        div(
          change-payment-form
          save = "actions.save"
          cancel = "actions.cancel"
          updating = "currentOrg.poppa.attrs.hasPaymentMethod"
        )
    animated-panel(
      name = "confirmationForm"
    )
      .grid-block.vertical.form-plan.fade(
        ng-class = "{'in': isActivePanel()}"
        confirmation-form
      )
