//- billing form empty state
.modal-form.empty.well.in(
  ng-if = "$root.featureFlags.trial"
)
  .icons-calendar
    svg(viewBox='0 0 38.5 36.75')
      path(opacity='0.12', fill='#231F20', d='M36.5,36.75h-33c-1.105,0-2-0.895-2-2v-29c0-1.105,0.895-2,2-2h33c1.105,0,2,0.895,2,2v29C38.5,35.855,37.605,36.75,36.5,36.75z')
      path(fill='#FFFFFF', stroke='#71438f', stroke-miterlimit='10', d='M35.5,35.75h-33c-1.105,0-2-0.895-2-2v-29c0-1.105,0.895-2,2-2h33c1.105,0,2,0.895,2,2v29C37.5,34.855,36.605,35.75,35.5,35.75z')
      rect(x='0.5', y='4.125', opacity='0.12', fill='#231F20', width='37', height='11')
      path(fill='#F25058', stroke='#71438f', stroke-miterlimit='10', d='M35.5,2.75h-33c-1.105,0-2,0.895-2,2v9h37v-9C37.5,3.645,36.605,2.75,35.5,2.75z')
      path(opacity='0.12', fill='#231F20', d='M14.75,7.25v-5c0-0.828-0.672-1.5-1.5-1.5c-0.828,0-1.5,0.672-1.5,1.5v5c0,0.828,0.672,1.5,1.5,1.5C14.078,8.75,14.75,8.078,14.75,7.25z')
      path(opacity='0.12', fill='#231F20', d='M28.25,7.25v-5c0-0.828-0.672-1.5-1.5-1.5c-0.828,0-1.5,0.672-1.5,1.5v5c0,0.828,0.672,1.5,1.5,1.5C27.578,8.75,28.25,8.078,28.25,7.25z')
      circle(fill='#71438f', cx='12.25', cy='7.51', r='2.5')
      circle(fill='#71438f', cx='25.75', cy='7.51', r='2.5')
      path(fill='#D5D5D5', stroke='#71438f', stroke-width='0.5', stroke-linecap='round', stroke-miterlimit='10', d='M13.75,6.75v-5c0-0.828-0.672-1.5-1.5-1.5c-0.828,0-1.5,0.672-1.5,1.5v5c0,0.828,0.672,1.5,1.5,1.5C13.078,8.25,13.75,7.578,13.75,6.75z')
      path(fill='#D5D5D5', stroke='#71438f', stroke-width='0.5', stroke-linecap='round', stroke-miterlimit='10', d='M27.25,6.75v-5c0-0.828-0.672-1.5-1.5-1.5c-0.828,0-1.5,0.672-1.5,1.5v5c0,0.828,0.672,1.5,1.5,1.5C26.578,8.25,27.25,7.578,27.25,6.75z')
    h2.h2.text-center 12
  p.p.empty You’re on our free trial plan!
  small.small.text-center You have&#32;
    strong.strong 12 days
    | &#32;left in your trial. If you upgrade your plan, we won’t charge your card until your trial expires.
  button.btn.green Upgrade Plan

//- billing form
.modal-form(
  ng-if = "!$root.featureFlags.trial"
)
  .label
    .clearfix
      .label-col.full-width Current Plan
        a.link.small.float-right View all plans
          svg.iconnables.icons-link-external
            use(
              xlink:href = "#icons-link-external"
            )
    .well.in
      p.p
        sup.sup.small $
        span.span 33
        small.small /user/month
        button.btn.btn-xs.white Change Plan
        //- if not admin
        //- button.btn.btn-xs.white.disabled(
        //-   tooltip = "Admin Only"
        //-   tooltip-options = "{\"class\":\"bottom bottom-arrow-right no-arrow\",\"right\":0,\"top\":-40}"
        //- ) Change Plan

  .label(
    ng-init = "data.showCcForm = false"
  )
    .clearfix
      .label-col.full-width Payment
        //- hide errors when updating cc info
        .small.error.float-right.badge.badge-red(
          data-badge-count = "!"
          ng-if = "!data.showCcForm"
        ) Your card has expired

    .well.in.red(
      ng-if = "!data.showCcForm"
    )
      p.p.clearfix
        svg.iconnables.float-left
          use(
            xlink:href = "#icons-visa"
          )
        strong.strong.float-left •••• 2135
        small.small.float-left 10/2015
        button.btn.btn-xs.white(
          ng-click = "data.showCcForm = true"
        ) Update
        //- if not admin
        //- button.btn.btn-xs.white.disabled(
        //-   tooltip = "Admin Only"
        //-   tooltip-options = "{\"class\":\"bottom bottom-arrow-right no-arrow\",\"right\":0,\"top\":-40}"
        //- ) Update

    form.form-cc.well.in.clearfix(
      ng-if = "data.showCcForm"
    )
      //- limit all fields to numbers only
      .row
        //- add .visa, .mastercard, .amex, .jcb AFTER cc number is filled out
        input.input.input-sm.input-cc.input-validate(
          autocomplete = "cc-number"
          inputmode = "numeric"
          maxlength = "19"
          ng-class = "{'amex': ccNumber.length === 19}"
          ng-model = "ccNumber"
          placeholder = "Card Number"
          required
          spellcheck = "false"
        )
        //- auto insert " / " after last 2nd number
          - pressing delete immediately after " / " should delete " / " AND the preceeding number
          - allow MM / YYYY
        input.input.input-sm.input-exp.input-validate(
          autocomplete = "cc-exp"
          inputmode = "numeric"
          maxlength = "9"
          placeholder = "MM / YY"
          required
          spellcheck = "false"
        )
        //- change maxlength to 3/4 depending on cc
        input.input.input-sm.input-cvc.input-validate(
          autocomplete = "cc-csc"
          inputmode = "numeric"
          maxlength = "4"
          placeholder = "CVC"
          required
          spellcheck = "false"
        )
      p.validation-message This card was declined!
      button.btn.btn-xs.green.float-right Save
      button.btn.btn-xs.white.float-left(
        ng-click = "data.showCcForm = false"
        type = "button"
      ) Cancel

  .label
    .clearfix
      .label-col Billing History
    .table.table-billing(
      ng-init = "months = [10,9,8,7,6,5,4,3,2,1,12,11]"
    )
      .tr.clearfix(
        ng-repeat = "month in months"
      )
        .cell $33
        .cell.strong •••• 2135
        .cell.text-right {{month}}/13/{{month > 10 ? '2014' : '2015'}}

    //- if there's something older to load
    .label
      a.small.link Load Older