//- changing plans
.padding-md
  label.grid-block.align-center.well.well-plan.padding-sm(
    ng-class = "{'active': model.plan === 'limited' || $root.featureFlags.billingPlanChange}"
  )
    //- add .current class for current plan
    .grid-block.align-center.justify-center.shrink.white.current 🙂
    .grid-block.vertical
      .grid-block.p.strong 2 Repository Limit
      .grid-block.p
        .strong $9.95
        span /user/month
      .grid-content.p.small.text-gray 3 user minimum.
    input.checkbox.hidden(
      name = "plan"
      ng-model = "model.plan"
      value = "limited"
      type = "radio"
    )
    button.grid-block.shrink.btn.btn-xs.btn-icon.btn-add(
      ng-class = "{'active': model.plan === 'limited' || $root.featureFlags.billingPlanChange}"
    )
      svg.iconnables.icons-check
        use(
          xlink:href = "#icons-check"
        )

  label.grid-block.align-center.well.well-plan.padding-sm(
    ng-class = "{\
      'active': model.plan === 'unlimited',\
      'disabled': $root.featureFlags.billingPlanChange\
    }"
  )
    .grid-block.align-center.justify-center.shrink.white 😄
    .grid-block.vertical
      .grid-block.p.strong Unlimited Repositories
      .grid-block.p
        .strong $49.95
        span /user/month
      .grid-content.p.small.text-gray 3 user minimum.
    input.checkbox.hidden(
      name = "plan"
      ng-disabled = "$root.featureFlags.billingPlanChange"
      ng-model = "model.plan"
      value = "unlimited"
      type = "radio"
    )
    button.grid-block.shrink.btn.btn-xs.btn-icon.btn-add(
      ng-class = "{'active': model.plan === 'unlimited'}"
    )
      svg.iconnables.icons-check
        use(
          xlink:href = "#icons-check"
        )

  p.grid-content.p.text-gray.text-center.padding-sm Please&#32;
    a.link(
      href = "mailto: billing@runnable.com"
    ) contact us
    | &#32;to make changes to your plan.

  //- 3 users is the minimum amount
  p.grid-content.p.text-gray.text-center.padding-sm
    span(
      ng-if = "!$root.featureFlags.billingPlanChange"
    ) {{model.plan === 'limited' && $root.featureFlags.trial ? 'After your trial, you’ll be charged for ' : 'You’ll be charged for '}}
      strong.strong 6 users
      | .
    | We’ll automatically pro-rate additional users at the end of the billing period.&#32;
    a.link(
      href = "#"
      target = "_blank"
    ) Details

footer.modal-footer.clearfix(
  ng-if = "$root.featureFlags.trial || $root.featureFlags.billingPlanChange"
)
  button.btn.btn-md.gray.btn-cancel.float-left(
    ng-if = "$root.featureFlags.billingPlanChange"
    ng-click = "\
      $root.featureFlags.billingPlanChange = false;\
      $root.featureFlags.trialFooter = false;\
      goToPanel('billingForm', 'back');\
    "
  ) Cancel

  //- disabled if no plan is selected
  button.btn.btn-md.white.float-right(
    ng-click = "goToPanel('chnagePaymentForm')"
    ng-if = "!$root.featureFlags.billingPlanChange"
    type = "button"
  ) Next: Payment
  button.btn.btn-md.gray.btn-cancel.float-right(
    ng-click = "\
      $root.featureFlags.trialFooter = false;\
      goToPanel('trialForm', 'back');\
      model.plan = null;\
    "
    ng-if = "!$root.featureFlags.billingPlanChange"
  ) Back
