form.form-payment.padding-md

  label.grid-block.align-center.well.well-summary(
    ng-if = "!$root.featureFlags.billingPaymentChange"
  )
    .grid-block.align-center.justify-center.shrink.white 😄
    .grid-block.p.strong Unlimited Repositories
    .grid-block.shrink.p.align-baseline
      .strong $49.95
      small.small /user/month


  //- limit all fields to numbers only
  //- add .invalid class for errors from stripe
  .grid-block.vertical.well.gray.padding-sm.well-payment
    //- p.red.small.text-center Your card was declined!
    label.grid-block.vertical.label-payment.label-cc
      .small Card Number
      //- add .visa, .mastercard, .amex, .jcb AFTER cc number is filled out
      input.grid-content.input.input-md.input-cc.input-validate(
        autocomplete = "cc-number"
        inputmode = "numeric"
        maxlength = "19"
        ng-class = "{'amex': ccNumber.length === 19}"
        ng-model = "ccNumber"
        required
        spellcheck = "false"
      )
    .grid-block
      label.grid-block.vertical.label-payment.label-expiry
        .small Expiry
        //- auto insert " / " after last 2nd number
          - pressing delete immediately after " / " should delete " / " AND the preceeding number
          - allow MM / YYYY
        input.input.input-md.input-exp.input-validate(
          autocomplete = "cc-exp"
          inputmode = "numeric"
          maxlength = "7"
          placeholder = "MM / YY"
          required
          spellcheck = "false"
        )

      label.grid-block.vertical.label-payment.label-security
        .small CVC
        //- change maxlength to 3/4 depending on cc
        input.input.input-md.input-cvc.input-validate(
          autocomplete = "cc-csc"
          inputmode = "numeric"
          maxlength = "4"
          required
          spellcheck = "false"
        )

      label.grid-block.vertical.label-payment.label-zip
        .small Zip Code
        input.input.input-md.input-zip.input-validate(
          inputmode = "numeric"
          maxlength = "5"
          required
          spellcheck = "false"
        )

    //- alt text if on the limited plan
    .grid-block.well.padding-xxs.small.justify-center(
      ng-if = "!$root.featureFlags.billingPaymentChange"
    )
      | You will be charged $299.70 for 6 users.
      //- | You will not be charged until your trial ends.

  //- 3 users is the minimum amount
  p.grid-content.p.text-gray.text-center.padding-sm(
    ng-if = "!$root.featureFlags.billingPaymentChange"
  ) We’ll automatically pro-rate users at the end of the billing period.&#32;
    a.link(
      href = "#"
      target = "_blank"
    ) Details

footer.modal-footer.clearfix
  button.btn.btn-md.gray.btn-cancel.float-left(
    ng-click = "goToPanel('billingForm', 'back')"
    ng-if = "$root.featureFlags.billingPaymentChange"
    type = "button"
  ) Cancel
  button.btn.btn-md.green.float-right(
    ng-if = "$root.featureFlags.billingPaymentChange"
  )
    //- .spinner-wrapper.spinner-sm.spinner-white.in(
    //-   ng-include = "'spinner'"
    //- )
    span  Update Payment

  //- disable while loading
  button.btn.btn-md.green.float-right(
    ng-click = "\
      $root.featureFlags.trial = false;\
      $root.featureFlags.trialFooter = false;\
    "
    ng-if = "!$root.featureFlags.billingPaymentChange"
    type = "button"
  )
    //- .spinner-wrapper.spinner-sm.spinner-white.in(
    //-   ng-include = "'spinner'"
    //- )
    span  Submit Payment
  button.btn.btn-md.gray.btn-cancel.float-right(
    ng-click = "goToPanel('changePlanForm', 'back')"
    ng-if = "!$root.featureFlags.billingPaymentChange"
    type = "button"
  ) Back
