.grid-block.align-center.vertical.padding-md
  //- if upgrading (from trial or changing plans):
  img.grid-content.img(
    height = "200"
    src = "/build/images/runnabear-jumping.png"
    width = "250"
  )
  h3.grid-content.h3.text-center Your plan has been upgraded!

  //- if downgrading (don't show the image):
  //- h3.grid-content.h3.text-center Your plan has been downgraded.

  p.grid-content.p.text-center.text-gray(
    ng-if = "$root.featureFlags.billingChangePlan"
    ng-include = "'paymentSummaryView'"
    ng-init = "\
      state.hasPaid = false;\
      state.showNext = true;\
    "
  )

footer.modal-footer.clearfix
  button.btn.btn-md.btn-block.white(
    ng-if = "state.fromPaymentDue || state.fromTrialEnd"
  ) Go to your sandbox!
  button.btn.btn-md.btn-block.white(
    ng-click = "\
      $root.featureFlags.trial = false;\
      $root.featureFlags.trialFooter = false;\
      goToPanel('billingForm', 'back');\
    "
    ng-if = "!state.fromPaymentDue && !state.fromTrialEnd"
    type = "button"
  ) Billing Overview
