.grid-block.align-center.vertical.padding-md
  //- if upgrading (from trial or changing plans):
  img.grid-content.img(
    height = "200"
    src = "/build/images/runnabear-jumping.png"
    width = "250"
  )

  //- 'added' if not charged, 'submitted' if charged
  h3.grid-content.h3.text-center Your payment has been {{$root.featureFlags.trial ? 'added' : 'submitted'}}!

  p.grid-content.p.text-center.text-gray(
    payment-summary
    ng-init = "\
      state.hasPaid = true;\
      state.showNext = true;\
    "
  )

footer.modal-footer.clearfix
  button.btn.btn-md.btn-block.green(
    ng-if = "state.fromPaymentDue || state.fromTrialEnd"
  ) Go to your sandbox!
  button.btn.btn-md.btn-block.white(
    ng-click = "\
      $root.featureFlags.trial = false;\
      SEMC.showFooter = true;\
      goToPanel('billingForm', 'back');\
    "
    ng-if = "!state.fromPaymentDue && !state.fromTrialEnd"
    type = "button"
  ) Billing Overview
