.grid-block.vertical.align-center.padding-xxs
  .h2.padding-xxs 😿
  small.small.text-gray Looking to disable your account?&#32;
    a.link(
      href = "mailto: support@runnable.com"
    ) Contact us
    | .