.clearfix
  .label-col Billing History
.table.table-billing(
  ng-init = "months = [10,9,8,7,6,5]"
)
  .tr.clearfix(
    ng-repeat = "month in months"
  )
    .cell.monospace $299.70
    .cell.text-overflow.small Paid by sundippatel
    .cell.monospace.text-right {{month}}/13/{{month > 10 ? '2014' : '2015'}}

//- if there's something older to load
.label
  a.small.link Load Older
