.padding-md
  label.grid-block.align-center.well.padding-sm(
    ng-class = "{'active': model.plan === 'limited'}"
  )
    .grid-block.align-center.justify-center.shrink.white 🙂
    .grid-block.vertical
      .grid-block.p.strong 2 Repository Limit
      .grid-block.p
        .strong $9.95
        span /user/month
      .grid-content.p.small.text-gray 3 user minimum.
    input.checkbox.hidden(
      name = "plan"
      ng-model = "model.plan"
      value = "limited"
      type = "radio"
    )
    button.grid-block.shrink.btn.btn-xs.btn-icon.btn-add(
      ng-class = "{'active': model.plan === 'limited'}"
    )
      svg.iconnables.icons-check
        use(
          xlink:href = "#icons-check"
        )

  label.grid-block.align-center.well.padding-sm(
    ng-class = "{'active': model.plan === 'unlimited'}"
  )
    .grid-block.align-center.justify-center.shrink.white 😄
    .grid-block.vertical
      .grid-block.p.strong Unlimited Repositories
      .grid-block.p
        .strong $49.95
        span /user/month
      .grid-content.p.small.text-gray 3 user minimum.
    input.checkbox.hidden(
      name = "plan"
      ng-model = "model.plan"
      value = "unlimited"
      type = "radio"
    )
    button.grid-block.shrink.btn.btn-xs.btn-icon.btn-add(
      ng-class = "{'active': model.plan === 'unlimited'}"
    )
      svg.iconnables.icons-check
        use(
          xlink:href = "#icons-check"
        )

  //- 3 users is the minimum amount
  p.grid-content.p.text-gray.text-center.padding-sm
    {{model.plan === 'limited' ? 'After your trial, you’ll be charged for ' : 'You’ll be charged for '}}
    strong.strong 6 users
    | . We’ll automatically pro-rate additional users at the end of the billing period.&#32;
    a.link(
      href = "#"
      target = "_blank"
    ) Details

footer.modal-footer.clearfix
  button.btn.btn-md.white.float-right(
    ng-click = "goToPanel('paymentForm')"
    ng-disabled = "!model.plan"
    type = "button"
  ) Next: Payment
  button.btn.btn-md.gray.btn-cancel.float-right(
    ng-click = "\
      $root.featureFlags.trialFooter = false;\
      goToPanel('trialForm', 'back');\
      model.plan = null;\
    "
  ) Back
