.clearfix
  .label-col.full-width Current Plan

label.grid-block.align-center.well.well-plan.well-summary.disabled.padding-xxs(
  plan-summary
)

label.grid-block.align-center.padding-xs.well.well-plan.well-summary.disabled(
  ng-if = "$root.featureFlags.billingDiscounted"
  ng-include = "'discountView'"
  ng-init = "state.hasDuration = true"
)

.grid-block.align-center.justify-right.padding-xxs
  button.btn.btn-xs.white(
    ng-click = "\
      SEMC.showFooter = false;\
      goToPanel('planStatusForm');\
    "
  ) View Details
