.clearfix
  .label-col.full-width Current Plan
label.grid-block.align-center.well.well-plan.well-summary.disabled
  .grid-block.align-center.justify-center.shrink.white 😄
  .grid-block.p.strong 2 Repositories
  .grid-block.shrink.p.align-baseline
    .strong $9.95
    small.small /user/month
.grid-block.align-center.justify-justified.padding-xxs
  a.link.small View all plans
    svg.iconnables.icons-link-external
      use(
        xlink:href = "#icons-link-external"
      )
  button.btn.btn-xs.white(
    ng-click = "\
      $root.featureFlags.billingPlanChange = true;\
      $root.featureFlags.trialFooter = true;\
      goToPanel('changePlanForm');\
    "
  ) Change Plan
