.clearfix
  .label-col.full-width Payment Info
    btn.btn-xxs.btn-badge.anchor-right.orange.float-right(
      ng-if = "$root.featureFlags.billingExpired"
    ) Card Expired
//- add .flash on update to indicate updated
label.grid-block.align-center.well.well-summary.padding-sm(
  ng-class = "{'invalid': $root.featureFlags.billingExpired}"
)
  .grid-block.vertical
    .p.small Added by:
    .p.strong sundippatel
  .grid-block.vertical.shrink.text-right
    .p.small Expires 11/11
    .p.small
      img.img(
        height = "18"
        src = "/build/images/logos/credit-cards/logo-cc-amex.svg"
        width = "18"
      )
      | 9233
.grid-block.align-center.justify-right.padding-xxs
  button.btn.btn-xs.white(
    ng-click = "\
      SEMC.showFooter = false;\
      goToPanel('changePaymentForm');\
    "
  ) Change Payment
