//- initFlip removes the initial flip transition
//- returnFlip delays the text/button change on the intial flip
.modal-dialog.modal-isolation(
  ng-init = "\
    initFlip = true;\
    returnFlip = false;\
  "
)
  svg.iconnables.icons-close(
    ng-click = "defaultActions.cancel()"
  )
    use(
      xlink:href = "#icons-close"
    )
  section.modal-body
    svg.iconnables.icons-door
      use(
        xlink:href = "#icons-door"
      )
    h3.h3.text-center Work in Isolation
    p.p.text-center Isolated branches get their own copies of&#32;
      strong.strong all other containers in your stack.&#32;
      | This lets you work without affecting your team’s shared containers.
    .btn(
      ng-class = "{\
        'green': !returnFlip,\
        'white': returnFlip\
      }"
      ng-click = "\
        initFlip = false;\
        stateModel.modalFlipped = true;\
      "
    ) {{!returnFlip ? 'Get Started' : 'Return to Setup'}}

.modal-dialog.modal-isolation(
  ng-class = "{'init': initFlip}"
)
  header.modal-header
    svg.iconnables.icons-help(
      ng-click = "\
        returnFlip = true;\
        stateModel.modalFlipped = false;\
      "
    )
      use(
        xlink:href = "#icons-help"
      )
    h1.modal-heading Isolation Setup
    svg.iconnables.icons-close(
      ng-click = "defaultActions.cancel()"
    )
      use(
        xlink:href = "#icons-close"
      )
  section.modal-body
    .text-center The following containers will be created to isolate&#32;
      br
      .icons-status.green
      strong.strong api/my-feature-branch
      | .
    .list.list-bordered
      .list-item
        svg.iconnables.icons-new-repository-server
          use(
            xlink:href = "#icons-new-repository-server"
          )
        span.span.text-overflow optimus
        //- should get class ".modified-configuration" if the selected branch has a modified configuration
        .btn.btn-xs.gray.btn-select.text-left(
          ng-init = "branchFirst = 'master'"
        )
          span.text-overflow {{branchFirst}}
          svg.iconnables.icons-arrow-down
            use(
              xlink:href = "#icons-arrow-down"
            )
          select.select(
            ng-model = "branchFirst"
          )
            optgroup(
              label = "Your Branches"
            )
              option(
                selected
                value = "master"
              ) master
              option(
                value = "extra-long-branch-name"
              ) extra-long-branch-name
              option(
                value = "fb-1"
              ) fb-1
            optgroup(
              label = "Other Branches"
            )
              option(
                value = "fb-2"
              ) fb-2
              option(
                value = "fb-3"
              ) fb-3
              option(
                value = "fb-4"
              ) fb-4
              option(
                value = "fb-5"
              ) fb-5
              option(
                value = "fb-6"
              ) fb-6
      .list-item
        svg.iconnables.icons-new-repository-server
          use(
            xlink:href = "#icons-new-repository-server"
          )
        span.span.text-overflow runnable-angular
        //- should get class ".modified-configuration" if the selected branch has a modified configuration
        .btn.btn-xs.gray.btn-select.text-left(
          ng-init = "branchSecond = 'master'"
        )
          span.text-overflow {{branchSecond}}
          svg.iconnables.icons-arrow-down
            use(
              xlink:href = "#icons-arrow-down"
            )
          select.select(
            ng-model = "branchSecond"
          )
            optgroup(
              label = "Your Branches"
            )
              option(
                selected
                value = "master"
              ) master
              option(
                value = "extra-long-branch-name"
              ) extra-long-branch-name
              option(
                value = "fb-1"
              ) fb-1
            optgroup(
              label = "Other Branches"
            )
              option(
                value = "fb-2"
              ) fb-2
              option(
                value = "fb-3"
              ) fb-3
              option(
                value = "fb-4"
              ) fb-4
              option(
                value = "fb-5"
              ) fb-5
              option(
                value = "fb-6"
              ) fb-6
      .list-item
        svg.iconnables.icons-new-repository-server
          use(
            xlink:href = "#icons-new-repository-server"
          )
        span.span.text-overflow mavis
        //- should get class ".modified-configuration" if the selected branch has a modified configuration
        .btn.btn-xs.gray.btn-select.text-left(
          ng-init = "branchThird = 'master'"
        )
          span.text-overflow {{branchThird}}
          svg.iconnables.icons-arrow-down
            use(
              xlink:href = "#icons-arrow-down"
            )
          select.select(
            ng-model = "branchThird"
          )
            optgroup(
              label = "Your Branches"
            )
              option(
                selected
                value = "master"
              ) master
              option(
                value = "extra-long-branch-name"
              ) extra-long-branch-name
              option(
                value = "fb-1"
              ) fb-1
            optgroup(
              label = "Other Branches"
            )
              option(
                value = "fb-2"
              ) fb-2
              option(
                value = "fb-3"
              ) fb-3
              option(
                value = "fb-4"
              ) fb-4
              option(
                value = "fb-5"
              ) fb-5
              option(
                value = "fb-6"
              ) fb-6
    .list.list-bordered
      .list-item
          svg.iconnables.icons-server-new
            use(
              xlink:href = "#icons-server-new"
            )
          span.span.text-overflow MongoDB
      .list-item
          svg.iconnables.icons-server-new
            use(
              xlink:href = "#icons-server-new"
            )
          span.span.text-overflow Redis
  section.modal-footer.clearfix
    button.btn.green(
      ng-click = "RDMC.updateInstance()"
    ) Enter Isolation
    button.btn.white.btn-cancel(
      ng-click = "RDMC.defaultActions.cancel()"
    ) Cancel
