.modal-dialog
  section.modal-body
    p.p.empty Work in isolation
    p.p.empty Create an sandbox that’s safe from your team.
  footer.modal-footer
    button.btn.btn-block.green(
      ng-click = "defaultActions.cancel()"
    ) Get Started