.modal-backdrop(
  ng-class = "{'in': in}"
)
  .modal-dialog.modal-environment(
    ng-class = "{'show-sidebar': data.toggleSidebar}"
    ng-click = "$event.stopPropagation()"
  )
    .modal-container
      header.modal-header
        h1.modal-heading Edit Environment
        //- 0.3 SAN-436
          - to do:
          - do not show if there are no boxes with exposed ports to link
        button.btn.btn-icon.white(
          ng-class = "{active: data.toggleSidebar}"
          ng-click = "data.toggleSidebar = !data.toggleSidebar"
          tooltip = "Toggle List of Boxes"
          tooltip-options = "{\"class\":\"bottom\",\"left\":11,\"top\":30}"
          type = "button"
        )
          svg.iconnables.icons-sidebar
            use(
              xlink:href = "#icons-sidebar"
            )
      main.modal-body
        //- guide text should only appear once until dismissed
        .guide.guide-no-help.blue
          p.guide-text Environmental files are good at protecting our fires from trees. Use it for linking boxes or setting up environment variables.
          button.btn.blue.btn-xs
            svg.iconnables.icons-close
              use(
                xlink:href = "#icons-close"
              )
        env-vars(
          state-model = "stateModel"
          current-model = "currentModel"
        )
      footer.modal-footer
        //- 0.3 SAN-436
          - to do:
          - toggle b/t .orange Rebuild and .green Save if on instance vs instanceEdit
        button.orange(
          ng-if = "data.showRebuild"
          ng-click = "actions.saveEnvs(actions.rebuild(stateModel, actions.close()))"
          type = "button"
        ) Rebuild
        button.green(
          ng-if = "!currentModel.showRebuild"
          ng-click = "actions.saveEnvs(actions.save())"
          type = "button"
        ) Save
        button.white(
          ng-click = "cancel()"
          type = "button"
        ) Go Back
    aside.modal-sidebar.boxes
      h2.sub-header
        span.sub-header-text Boxes
      ul.box-group
        //- 0.3 SAN-436
          - to do:
          - boxes should appear in the same order as they appear on the navbar
          - do not show boxes with no exposed ports
          - clicks on b.btn should paste "$ENTER_ENV_VAR={{url}}+':'+{{port}}" (with specified port) into the last cursor position in the env file
        li.box-group-item.expanded
          .text-overflow box-name
          b.btn.btn-xs.gray(
            tooltip = "Link to: box-name.org-name.runnable.io:3000"
            tooltip-options = "{\"class\":\"bottom\",\"left\":11,\"top\":21}"
          ) :3000
          b.btn.btn-xs.gray(
            tooltip = "Link to: box-name.org-name.runnable.io:3001"
            tooltip-options = "{\"class\":\"bottom\",\"left\":11,\"top\":21}"
          ) :3001
        li.box-group-item.expanded
          .text-overflow box-name-2
          b.btn.btn-xs.gray(
            tooltip = "Link to: box-name-2.org-name.runnable.io:8000"
            tooltip-options = "{\"class\":\"bottom\",\"left\":11,\"top\":21}"
          ) :8000
        li.box-group-item.expanded
          .text-overflow box-name-2
          b.btn.btn-xs.gray(
            tooltip = "Link to: box-name-2.org-name.runnable.io:80"
            tooltip-options = "{\"class\":\"bottom\",\"left\":11,\"top\":21}"
          ) :80
          b.btn.btn-xs.gray(
            tooltip = "Link to: box-name.org-name.runnable.io:8080"
            tooltip-options = "{\"class\":\"bottom\",\"left\":11,\"top\":21}"
          ) :8080
        li.box-group-item.expanded
          .text-overflow box-name
          b.btn.btn-xs.gray(
            tooltip = "Link to: box-name.org-name.runnable.io:3000"
            tooltip-options = "{\"class\":\"bottom\",\"left\":11,\"top\":21}"
          ) :3000
          b.btn.btn-xs.gray(
            tooltip = "Link to: box-name.org-name.runnable.io:3001"
            tooltip-options = "{\"class\":\"bottom\",\"left\":11,\"top\":21}"
          ) :3001
        li.box-group-item.expanded
          .text-overflow box-name
          b.btn.btn-xs.gray(
            tooltip = "Link to: box-name.org-name.runnable.io:3000"
            tooltip-options = "{\"class\":\"bottom\",\"left\":11,\"top\":21}"
          ) :3000
          b.btn.btn-xs.gray(
            tooltip = "Link to: box-name.org-name.runnable.io:3001"
            tooltip-options = "{\"class\":\"bottom\",\"left\":11,\"top\":21}"
          ) :3001
        li.box-group-item.expanded
          .text-overflow box-name
          b.btn.btn-xs.gray(
            tooltip = "Link to: box-name.org-name.runnable.io:3000"
            tooltip-options = "{\"class\":\"bottom\",\"left\":11,\"top\":21}"
          ) :3000
          b.btn.btn-xs.gray(
            tooltip = "Link to: box-name.org-name.runnable.io:3001"
            tooltip-options = "{\"class\":\"bottom\",\"left\":11,\"top\":21}"
          ) :3001
