ul.table(
  dnd-list = "state.list"
  dnd-allowed-types = "allowedTableTypes"
)
  li.tr.thead.clearfix(
    dnd-disable-if = "true"
  )
    .cell {{ header.title }}
      button.btn.btn-xs.white(
        pop-over
        pop-over-actions = "popoverData.actions"
        pop-over-data = "popoverData.data"
        pop-over-options = "{\"left\":0,\"top\":0}"
        pop-over-template = "popoverData.template"
      ) {{ header.description }}
  li.tr.tr-action.clearfix(
    ng-repeat = "item in state.list"
    dnd-type = "tableType"
    dnd-draggable = "item"
    dnd-effect-allowed = "move"
    dnd-moved = "state.list.splice($index, 1)"
    dnd-dragstart = "models.selected"
    ng-class="{\
                'disabled': models.selected === item\
              }"
  )
    .cell.cell-action(
      dnd-handle
      ng-class = "{\
                    disabled: !state.list.length,\
                    'no-touching': !state.list.length\
                  }"
    )
      svg.iconnables.icons-drag
        use(
          xlink:href = "#icons-drag"
        )
    .cell.monospace.text-overflow.cell-arrow(
      ng-class = "{disabled: noWarning}"
      ng-attr-title = "{ item.path }}"
    ) {{ item.path }}
    .cell.monospace.text-overflow(
      ng-attr-title = "{ item.newPath }}"
    ) {{ item.newPath }}
    //- add .disabled if no warning
    //- note: the title attribute
    .cell.cell-action.monospace.disabled(
      ng-class = "{disabled: noWarning}"
      title = "0 {{ tableType }} being replaced"
    )
      svg.iconnables.icons-warning
        use(
          xlink:href = "#icons-warning"
        )
//-
  .tr.thead.clearfix
    .cell Strings
      button.btn.btn-xs.btn-status(
        title = "{{linkedEnvResults.servers.length || 0 }} associations from translation rules"
      ) 0 associations
      button.btn.btn-xs.white(
        pop-over
        pop-over-actions = "actions"
        pop-over-data = "data"
        pop-over-options = "{\"left\":0,\"top\":0}"
        pop-over-template = "viewPopoverStringRule"
      ) New string rule
  //- if no rules of this type
  .tr.tr-empty.clearfix(
    ng-if = ""
  )
    .cell (empty)

  //- when dragging:
    - add .disabled to the .tr to be dragged
    - clone .tr that's being dragged
    - add .dragging class to the cloned .tr
    - add current width of .tr.disabled to the cloned .tr
  .tr.tr-action.clearfix
    .cell.cell-action
      svg.iconnables.icons-drag
        use(
          xlink:href = "#icons-drag"
        )
    .cell.monospace.text-overflow.cell-arrow(
      ng-class = "{disabled: noWarning}"
      title = "config/environment"
    ) config/environment
    .cell.monospace.text-overflow(
      title = "./client/config/environment.js"
    ) ./client/config/environment.js
    //- add .disabled if no warning
    //- note: the title attribute
    .cell.cell-action.monospace.disabled(
      ng-class = "{disabled: noWarning}"
      title = "0 strings replaced"
    )
      svg.iconnables.icons-warning
        use(
          xlink:href = "#icons-warning"
        )

  .tr.tr-action.clearfix
    .cell.cell-action
      svg.iconnables.icons-drag
        use(
          xlink:href = "#icons-drag"
        )
    .cell.monospace.text-overflow.cell-arrow.disabled(
      ng-class = "{disabled: noWarning}"
      title = "./client/assets/js/primus-client.js"
    ) ./client/assets/js/primus-client.js
    .cell.monospace.text-overflow(
      title = "./client/assets/js/primus-client-prod.js"
    ) ./client/assets/js/primus-client-prod.js
    //- add .disabled if no warning
    //- note: the title attribute
      - the title attribute should only appear if the warning also appears
    .cell.cell-action.monospace(
      ng-class = "{disabled: noWarning}"
      title = "0 strings replaced"
    )
      svg.iconnables.icons-warning(
      )
        use(
          xlink:href = "#icons-warning"
        )