ul.table-drag-drop(
  dnd-list = "state.list"
  dnd-allowed-types = "allowedTableTypes"
)
  li.tr.thead.clearfix
    .cell {{ header.title }}
      button.btn.btn-xs.white(
        pop-over
        pop-over-actions = "popoverData.actions"
        pop-over-data = "popoverData.data"
        pop-over-options = "{\"left\":0,\"top\":0}"
        pop-over-template = "popoverData.template"
      ) {{ header.description }}
  li.tr.tr-action.clearfix(
    ng-repeat = "item in state.list"
    dnd-type = "tableType"
    dnd-draggable = "item"
    dnd-effect-allowed = "move"
    dnd-moved = "state.list.splice($index, 1)"
    dnd-dragstart = "models.selected"
    ng-class="{\
        'disabled': models.selected === item\
      }"
  )
    .cell.cell-action(
      dnd-handle
      ng-class = "{\
          disabled: state.list.length < 2,\
          'no-touching': state.list.length < 2\
        }"
    )
      svg.iconnables.icons-drag
        use(
          xlink:href = "#icons-drag"
        )
    .cell.monospace.text-overflow.cell-arrow(
      ng-class = "{disabled: noWarning}"
      ng-attr-title = "{ item.path }}"
    ) {{ item.path }}
    .cell.monospace.text-overflow(
      ng-attr-title = "{ item.newPath }}"
    ) {{ item.newPath }}
    //- add .disabled if no warning
    //- note: the title attribute
    .cell.cell-action.monospace.disabled(
      ng-class = "{disabled: noWarning}"
      title = "0 {{ tableType }} being replaced"
    )
      svg.iconnables.icons-warning
        use(
          xlink:href = "#icons-warning"
        )