.label-description.clearfix
  .label-col Find and Replace Rules
    .fnr-spinner.float-right(
      ng-if = "state.recalculating"
    ) &nbsp;— Updating
      .spinner-wrapper.spinner-sm.in(
        ng-include = "'spinner'"
      )
  .small.text-gray Replace strings or filenames in this repository when it’s copied to your container. Use string rules to connect to other containers.

//- string table
.table.table-merge(
  actions = "actions"
  controller = "RuleTableStringController"
  data = "data"
  instance = "instance"
  rule-table
  state = "state"
)

//- filename table
.table.table-merge(
  actions = "actions"
  controller = "RuleTableFileController"
  data = "data"
  instance = "instance"
  rule-table
  state = "state"
)
