.label-description.clearfix
  .label-col Find and Replace Rules
  .small.text-gray Create rules to replace strings or filenames in this repository when it’s copied to your container. Use string rules to connect to other containers.
    //- ng-if = "state.recalculating"
  .input-col.input-col-spinner(
  )
    .spinner-wrapper.spinner-sm.spinner-gray.in(
      ng-include = "'spinner'"
    )
    small.small Updating

//- string table
.table.table-merge(
  rule-table
  controller = "RuleTableStringController"
  actions = "actions"
  state = "state"
  data = "data"
  instance = "instance"
)

//- filename table
.table.table-merge(
  rule-table
  controller = "RuleTableFileController"
  actions = "actions"
  state = "state"
  data = "data"
  instance = "instance"
)
