.clearfix
  .label-col Find and Replace Rules
  .input-col.input-col-spinner(
    ng-if = "state.recalculating"
  )
    .spinner-wrapper.spinner-sm.spinner-gray.in(
      ng-include = "'spinner'"
    )
    small.small Updating

//- string table
.table.table-merge(
  rule-table
  controller = "RuleTableStringController"
  actions = "actions"
  state = "state"
  data = "data"
  instance = "instance"
)

//- filename table
.table.table-merge(
  rule-table
  controller = "RuleTableFileController"
  actions = "actions"
  state = "state"
  data = "data"
  instance = "instance"
)

.label
  small.small Replace strings or filenames in your main repository without modifying your source code. You can modify connection strings or server names in your code so containers in your sandbox can communicate with each other, or rename files when they’re copied to your container.
