.clearfix
  .label-col Translation Rules

//- table
.table(
  ng-include = "'viewTranslationTable'"
)
small.small Translation rules allow you to dynamically translate strings or filenames in your code. Use this to modify connection strings or server names in your code to make sure that containers in your sandbox can communicate with each other, or to rename files when they are copied to your container without having to modify your original source code. #{''}
  a.link(
    href = "//google.com"
    target = "_blank"
  ) More about translation rules
