//- ************************
//- dummy content
//- this is just to show what things should look like in the repositories modals in the Containers view.

label.label-jump(
  ng-if = "$root.featureFlags.additionalRepositories"
)
  small.small Branch
  select.select
    option(
      disabled
    ) Choose a branch

//- this element should appear in:
    * the setup popover for adding a repo to Container Files
    * the edit modal (in the Containers view) for modifying an additional repo on a specific Container
label.toggle-wrapper(
  ng-if = "$root.featureFlags.additionalRepositories"
) Always upate to latest commit
  .small.float-left on new builds of&#32;
    strong.strong container-name
  input.toggle-input(
    ng-model = "thing.autoUpdate"
    type = "checkbox"
  )
  .toggle-group.toggle-sm

ul.list.list-servers(
  ng-if = "!repoSelector.data.latestCommit && !fetchingBranches && $root.featureFlags.additionalRepositories"
)
  li.list-item.active(
    ng-class = "{'disabled': thing.autoUpdate}"
  ) Merge pull request #1113 from CodeNow/SAN-2321-ssh-ui
    .small
      span.span.text-overflow taylordolan authored 20 minutes ago –
      a.link.monospace(
        ng-click = "$event.stopPropagation()"
        ng-href = "{{ commit.attrs.html_url }}"
        target = "_blank"
      ) 418ffe6
    svg.iconnables.icons-fat-check
      use(
        xlink:href = "#icons-fat-check"
      )
  li.list-item(
    ng-class = "{'disabled': thing.autoUpdate}"
  ) 3.1.1
    .small
      span.span.text-overflow Nathan219 authored 37 minutes ago –
      a.link.monospace(
        ng-click = "$event.stopPropagation()"
        ng-href = "{{ commit.attrs.html_url }}"
        target = "_blank"
      ) 418ffe6
    svg.iconnables.icons-fat-check
      use(
        xlink:href = "#icons-fat-check"
      )
  li.list-item(
    ng-class = "{'disabled': thing.autoUpdate}"
  ) update comments
    .small
      span.span.text-overflow runnabro authored an hour ago –
      a.link.monospace(
        ng-click = "$event.stopPropagation()"
        ng-href = "{{ commit.attrs.html_url }}"
        target = "_blank"
      ) 418ffe6
    svg.iconnables.icons-fat-check
      use(
        xlink:href = "#icons-fat-check"
      )
  li.list-item(
    ng-class = "{'disabled': thing.autoUpdate}"
  ) merge master
    .small
      span.span.text-overflow runnabro authored an hour ago –
      a.link.monospace(
        ng-click = "$event.stopPropagation()"
        ng-href = "{{ commit.attrs.html_url }}"
        target = "_blank"
      ) 418ffe6
    svg.iconnables.icons-fat-check
      use(
        xlink:href = "#icons-fat-check"
      )
  li.list-item(
    ng-class = "{'disabled': thing.autoUpdate}"
  ) Merge pull request #1111 from CodeNow/fix-update-dockerfile-on-edit-c
    .small
      span.span.text-overflow Myztiq authored 2 hours ago –
      a.link.monospace(
        ng-click = "$event.stopPropagation()"
        ng-href = "{{ commit.attrs.html_url }}"
        target = "_blank"
      ) 418ffe6
    svg.iconnables.icons-fat-check
      use(
        xlink:href = "#icons-fat-check"
      )

//- end dummy content
//- ************************

//- ************************
//- real content
//- this currently works for adding repositories in Container Files and the Dockerfile tool.
//- it needs to also work for the repositories modals in the Containers view.

label.label-jump(
  ng-if = "!fetchingBranches && repoSelector.data.branch.commits.models.length"
)
  small.small Branch
  select.select(
    ng-change = "repoSelector.actions.selectBranch(repoSelector.data.branch)"
    ng-model = "repoSelector.data.branch"
    ng-options = "branch as branch.attrs.name for branch in repoSelector.data.repo.branches.models"
  )
    option(
      disabled
    ) Choose a branch

.spinner-wrapper.spinner-backdrop.spinner-gray.spinner-md.in(
  ng-if = "(repoSelector.data.branch && !repoSelector.data.branch.commits.models.length) || fetchingBranches"
  ng-include = "'spinner'"
)

ul.list.list-servers.list-commits(
  ng-if = "!repoSelector.data.latestCommit && !fetchingBranches"
)
  //- inline style to override style for upcoming changes
  li.list-item(
    ng-class = "{active: repoSelector.data.commit === commit, disabled: state.saving}"
    ng-click = "repoSelector.actions.selectCommit(commit)"
    ng-repeat = "commit in repoSelector.data.branch.commits.models | orderBy: '-attrs.commit.committer.date'"
    style = "padding-right: 9px;"
  ) {{commit.attrs.commit.message}}
    .small
      span.span.text-overflow {{commit.attrs.author.login}} authored {{commit.attrs.commit.committer.date | timeFrom}} –
      a.link.monospace(
        ng-click = "$event.stopPropagation()"
        ng-href = "{{ commit.attrs.html_url }}"
        target = "_blank"
      ) {{ ::commit.attrs.sha | limitTo:7 }}
