label.label-jump(
  ng-if = "!fetchingBranches && repoSelector.data.branch.commits.models.length"
)
  small.small Branch
  select.select(
    ng-change = "repoSelector.actions.selectBranch(repoSelector.data.branch)"
    ng-model = "repoSelector.data.branch"
    ng-options = "branch as branch.attrs.name for branch in repoSelector.data.repo.branches.models"
  )
    option(
      disabled
    ) Choose a branch
    
//- this element should appear in:
    * the setup popover for adding a repo to Container Files
    * the edit modal (in the Containers view) for modifying an additional repo on a specific Container
label.toggle-wrapper(
  ng-if = "$root.featureFlags.additionalRepositories"
)
  small.small Update to latest commit on new builds
  input.toggle-input(
    type = "checkbox"
  )
  .toggle-group.toggle-xs

.spinner-wrapper.spinner-backdrop.spinner-gray.spinner-md.in(
  ng-if = "(repoSelector.data.branch && !repoSelector.data.branch.commits.models.length) || fetchingBranches"
  ng-include = "'spinner'"
)

ul.list.list-servers(
  ng-if = "!repoSelector.data.latestCommit && !fetchingBranches"
)
  li.list-item(
    ng-class = "{active: repoSelector.data.commit === commit, disabled: state.saving}"
    ng-click = "repoSelector.actions.selectCommit(commit)"
    ng-repeat = "commit in repoSelector.data.branch.commits.models | orderBy: '-attrs.commit.committer.date'"
  ) {{commit.attrs.commit.message}}
    .toggle-group-detail
      small.small.text-overflow {{commit.attrs.author.login}} authored {{commit.attrs.commit.committer.date | timeFrom}}
      a.small.link.link-text.monospace(
        ng-click = "$event.stopPropagation()"
        ng-href = "{{ commit.attrs.html_url }}"
        target = "_blank"
      ) {{ ::commit.attrs.sha | limitTo:7 }}
