.popover-header
  svg.btn.btn-sm.iconnables.icons-arrow-backward.fade(
    ng-class = "{'in': isActivePanel()}"
    ng-click = "repoSelector.actions.leaveCommitSelect()"
    ng-disabled = "state.saving"
    ng-if = "!(data.gitDataOnly && state.fromServer)"
  )
    use(
      xlink:href = "#icons-arrow-down"
    )
  span.fade(
    ng-class = "{'in': isActivePanel()}"
  ) Commits

.popover-content.list-actions.list-commits.fade(
  branch-commit-selector
  data = "repoSelector.data"
  ng-class = "{'in': isActivePanel()}"
)

//- this element should only show up on the popover for adding a repo in the dockerfile tool.
//- we need it because now that we're auto-updating additional repos, they can't select a commit to confirm.
.popover-footer.clearfix.fade(
  ng-class = "{'in': isActivePanel()}"
  ng-if = "data.gitDataOnly"
)
  button.btn.btn-sm.green(
    ng-click = "repoSelector.actions.save()"
  ) {{ state.fromServer ? 'Save Changes' : 'Add Repository' }}
  button.btn.btn-sm.gray.btn-cancel(
    ng-click = "POC.closePopover()"
  ) Cancel
