.popover-header
  span.fade(
    ng-class = "{'in': isActivePanel()}"
  ) Choose Repository
  svg.btn.btn-sm.iconnables.icons-close.fade(
    ng-class = "{'in': isActivePanel()}"
    ng-click = "POC.closePopover()"
    ng-if = "!data.gitDataOnly"
  )
    use(
      xlink:href = "#icons-close"
    )

//- don't fade for spinner
.popover-content.fade(
  ng-class = "{\
    'fade': !repoSelector.data.githubRepos.models,\
    'in': isActivePanel()\
  }"
)
  input.input.input-xs.input-search(
    ng-disabled = "repoSelected"
    ng-if = "repoSelector.data.githubRepos.models"
    ng-model = "repoSelector.data.repoFilter"
    placeholder = "Filter by name"
    required
    select-on = "showFilter"
    type = "search"
  )

  .spinner-wrapper.spinner-backdrop.spinner-gray.spinner-md.in(
    ng-if = "!repoSelector.data.githubRepos.models"
    ng-include = "'spinner'"
  )

  ul.list.list-servers(
    ng-if = "repoSelector.data.githubRepos.models"
  )
    li.grid-block.align-center.list-item.multi-line(
      ng-class = "{\
        'active': repo.loading,\
        'no-touching': repoSelector.data.loading\
      }"
      ng-click = "repoSelector.actions.selectRepo(repo)"
      ng-repeat = "\
        repo in repoSelector.data.githubRepos.models | \
        repos: repoSelector.data.repoFilter | \
        allBut: data.appCodeVersions | \
        orderBy: '-attrs.pushed_at'\
      "
    )
      .grid-content.text-overflow(
        title = "{{ repo.attrs.name}}"
      ) {{ repo.attrs.name}}

        //- if invite flows...
        .row.row-author(
          ng-if = "$root.featureFlags.inviteFlows"
        )
          .btn-user.text-overflow.no-touching(
            ng-class = "{'active': state.active}"
            ng-include = "'userButtonView'"
          )
          span.small(
            ng-if = "$root.featureFlags.inviteFlows"
          ) —{{repo.attrs.pushed_at | timeFrom}}

        //- else
        small.small(
          ng-if = "!$root.featureFlags.inviteFlows"
        ) Updated {{ repo.attrs.pushed_at | timeFrom }}

      svg.grid-content.shrink.iconnables.icons-arrow-down(
        ng-if = "!repo.loading"
      )
        use(
          xlink:href = "#icons-arrow-down"
        )
      .grid-content.shrink.spinner-wrapper.spinner-sm.spinner-purple.in(
        ng-if = "repo.loading"
        ng-include = "'spinner'"
      )
