.popover-header
  button.btn.btn-sm.white.pull-left(
    ng-click = "goToPanel('repoOptions', 'back')"
    ng-disabled = "state.saving"
    ng-if = "!(data.gitDataOnly && state.fromServer)"
  )
    svg.iconnables.icons-arrow-backward
      use(
        xlink:href = "#icons-arrow-down"
      )
    | Back

  strong.strong.text-overflow Commit

  //- this button is empty on purpose
  svg.btn.btn-sm.iconnables.icons-close(
    ng-click = "closePopover()"
  )
    use(
      xlink:href = "#icons-close"
    )

.popover-content.repository-details-content(
  branch-commit-selector
  data = "repoSelector.data"
)
//- this element should only show up on the popover for adding a repo in the dockerfile tool.
//- we need it because now that we're auto-updating additional repos, they can't select a commit to confirm.
.popover-footer.clearfix(
  ng-if = "data.gitDataOnly && $root.featureFlags.additionalRepositories"
)
  button.btn.btn-sm.green(
    ng-click = "repoSelector.actions.save()"
  ) {{ state.fromServer ? 'Save Changes' : 'Add Repository' }}
  button.btn.btn-sm.gray.btn-cancel(
    ng-click = "closePopover()"
  ) Cancel