.popover-header
  strong.strong.text-overflow Choose Repository

.popover-content
  input.input.input-xs.input-search(
    ng-disabled = "repoSelected"
    ng-if = "repoSelector.data.githubRepos.models"
    ng-model = "repoSelector.data.repoFilter"
    placeholder = "Filter by name"
    required
    select-on = "showFilter"
    type = "search"
  )
  .spinner-wrapper.spinner-backdrop.spinner-gray.spinner-md.in(
    ng-if = "!repoSelector.data.githubRepos.models"
    ng-include = "'spinner'"
  )

  ul.list.list-servers(
    ng-if = "repoSelector.data.githubRepos.models"
  )
    li.list-item.multi-line(
      ng-class = "{\
        active: repo.loading,\
        'no-touching': repoSelector.data.loading\
      }"
      ng-click = "repoSelector.actions.selectRepo(repo)"
      ng-repeat = "\
          repo in repoSelector.data.githubRepos.models | \
          repos: repoSelector.data.repoFilter | \
          allBut: data.appCodeVersions | \
          orderBy: '-attrs.updated_at'\
        "
    ) {{ repo.attrs.name}}
      small.small Updated {{ repo.attrs.updated_at | timeFrom }}
      svg.iconnables.icons-arrow-down(
        ng-if = "!repo.loading"
      )
        use(
          xlink:href = "#icons-arrow-down"
        )
      .spinner-wrapper.spinner-sm.spinner-purple.in(
        ng-if = "repo.loading"
        ng-include = "'spinner'"
      )

.popover-footer.clearfix
  button.btn.btn-sm.gray.btn-cancel(
    ng-click = "closePopover()"
    ng-disabled = "repoSelector.data.loading"
  ) Cancel