.popover-header
  button.btn.btn-sm.white.pull-left(
    ng-click = "repoSelector.actions.leaveCommitSelect()"
    ng-disabled = "state.saving"
    ng-if = "!(data.gitDataOnly && state.fromServer)"
  )
    svg.iconnables.icons-arrow-backward
      use(
        xlink:href = "#icons-arrow-down"
      )
    | Back
  strong.strong.text-overflow Commit
  //- this button is empty on purpose
  button.btn.btn-sm.pull-right.no-touching(
    ng-if = "!(data.gitDataOnly && state.fromServer)"
  )

.popover-content.repository-details-content(
  ng-include = "'viewRepositoryDetailsContent'"
  ng-init = "thing.autoUpdate = true"
)
