.popover-header
  //- if adding a new repository
  svg.btn.btn-sm.iconnables.icons-arrow-backward.fade(
    ng-class = "{'in': isActivePanel()}"
    ng-click = "goToPanel('repoSelect', 'back')"
    ng-disabled = "state.saving"
    ng-if = "!state.fromServer"
  )
    use(
      xlink:href = "#icons-arrow-down"
    )
  | {{ repoSelector.data.name }}

  //- close button
  svg.btn.btn-sm.iconnables.icons-close.fade(
    ng-class = "{'in': isActivePanel()}"
    ng-click = "POC.closePopover()"
  )
    use(
      xlink:href = "#icons-close"
    )

.popover-content.fade(
  ng-class = "{'in': isActivePanel()}"
  ng-form = "repoSelectorForm"
)
  label.label.clearfix
    .input-col
      .btn.btn-block.white.text-overflow(
        ng-click = "goToPanel('commit')"
        ng-if = "repoSelector.data.useLatest"
      ) Always update to latest commit
        small.small on new builds of&#32;
          strong.strong {{ data.getDisplayName() || data.instance.getDisplayName() }}
        svg.iconnables.icons-arrow-down
          use(
            xlink:href = "#icons-arrow-down"
          )

      .btn.btn-block.white.text-overflow(
        ng-click = "goToPanel('commit')"
        ng-if = "!repoSelector.data.useLatest"
      ) {{repoSelector.data.commit.attrs.commit.message}}
        small.small {{ repoSelector.data.commit.attrs.author.login }} authored {{ repoSelector.data.commit.attrs.commit.author.date | timeFrom }}
        svg.iconnables.icons-arrow-down
          use(
            xlink:href = "#icons-arrow-down"
          )

  label.label.clearfix
    .label-col Destination
    .input-col.input-prefix(
      data-prefix = "/"
    )
      input.input.input-sm(
        name = "pathTextInput"
        ng-model = "repoSelector.data.path"
        required
        spellcheck = "false"
      )

  label.label.clearfix
    .label-col Scripts
      small.small (optional)
    .input-col
      textarea.textarea.monospace(
        command-editor
        name = "commandTextField"
        ng-model = "repoSelector.data.commands"
        spellcheck = "false"
      )
      small.small Add scripts to run before your container is started.

.popover-footer.clearfix.fade(
  ng-class = "{'in': isActivePanel()}"
)
  button.btn.btn-sm.green(
    ng-click = "repoSelector.actions.save()"
    ng-disabled = "state.saving || (!repoSelectorForm.$dirty && !dirtyChecker.isDirty())"
  ) {{ repoSelector.data.fromServer ? 'Save' : 'Add Repository' }}
  button.btn.btn-sm.gray.btn-cancel(
    ng-click = "POC.closePopover()"
    ng-disabled = "state.saving"
    type = "button"
  ) Cancel
