//- changing plans
.padding-md
  .clearfix
    .label-col.full-width.text-center Configurations Used
  .meter(
    ng-class = "getMeterClass()"
  )
    .current-plan
    .ticks
      .tick
      .tick(
        ng-class = "{'expand': state.preview === 'starter'}"
      )
      .tick
      .tick
      .tick
      .tick
      .tick(
        ng-class = "{'expand': state.preview === 'standard'}"
      )
      .tick
      .tick
      .tick
      .tick
      .tick
      .tick
      .tick

  .grid-block.align-center
    .grid-block.vertical.align-center.card.card-plan.disabled.padding-sm.text-center(
      ng-class = "{'active': state.plan.id === 'starter'}"
      ng-mouseenter = "state.preview = 'starter'"
      ng-mouseleave = "state.preview = ''"
    )
      h3.grid-content.shrink.h3 Starter
      .grid-block.shrink.vertical.price
        .grid-block.strike(
          ng-if = "state.discounted"
        ) ${{plans.starter.costPerUser}}
        .grid-block.justify-center.h1(
          ng-class = "{'discounted': state.discounted}"
        )
          sup.sup $
          | {{calculatePlanAmount('starter')}}
        small.grid-block.vertical.small.text-gray per user
          br
          | per month
      .grid-content.shrink.small Up to&#32;
        strong.strong 2
        | &#32; configurations.

    .grid-block.vertical.align-center.card.card-plan.disabled.padding-sm.text-center(
      ng-class = "{'active': state.plan.id === 'standard'}"
      ng-mouseenter = "state.preview = 'standard'"
      ng-mouseleave = "state.preview = ''"
    )
      h3.grid-content.shrink.h3 Standard
      .grid-block.shrink.vertical.price
        .grid-block.strike(
          ng-if = "state.discounted"
        ) ${{plans.standard.costPerUser}}
        .grid-block.justify-center.h1(
          ng-class = "{'discounted': state.discounted}"
        )
          sup.sup $
          | {{calculatePlanAmount('standard')}}
        small.grid-block.vertical.small.text-gray per user
          br
          | per month
      .grid-content.shrink.small Up to&#32;
        strong.strong 7
        | &#32; configurations.

    .grid-block.vertical.align-center.card.card-plan.disabled.padding-sm.text-center(
      ng-class = "{'active': state.plan.id === 'plus'}"
      ng-mouseenter = "state.preview = 'plus'"
      ng-mouseleave = "state.preview = ''"
    )
      h3.grid-content.shrink.h3 Plus
      .grid-block.shrink.vertical.price
        .grid-block.strike(
          ng-if = "state.discounted"
        ) ${{plans.plus.costPerUser}}
        .grid-block.justify-center.h1(
          ng-class = "{'discounted': state.discounted}"
        )
          sup.sup $
          | {{calculatePlanAmount('plus')}}
        small.grid-block.vertical.small.text-gray per user
          br
          | per month
      .grid-content.shrink.small Up to&#32;
        strong.strong 15
        | &#32; configurations.

  label.grid-block.align-center.padding-xs.well.well-plan.well-summary.disabled(
    ng-if = "state.discounted"
    ng-include = "'discountView'"
    ng-init = "state.hasDuration = (!$root.featureFlags.trial) ? 'true' : ''"
  )

  p.grid-content.p.text-gray.text-center.padding-sm(
    ng-include = "'paymentSummaryView'"
    ng-init = "\
      state.hasPaid = false;\
      state.showNext = true;\
    "
  )

  .grid-block.justify-center
    button.grid-block.shrink.btn.btn-md.green(
      ng-click = "\
        SEMC.showFooter = false;\
        goToPanel('changePaymentForm');\
      "
      ng-if = "$root.featureFlags.trial"
      type = "button"
    ) Add Payment Method

footer.modal-footer.clearfix(
  ng-if = "!$root.featureFlags.trial"
)
  button.btn.btn-md.gray.btn-cancel.float-left(
    ng-click = "\
      SEMC.showFooter = true;\
      goToPanel('billingForm', 'back');\
    "
    ng-if = "!$root.featureFlags.trial"
  ) Back
