//- changing plans
.padding-md
  .clearfix
    .label-col.full-width.text-center Configurations Used
  .meter(
    ng-class = "getMeterClass()"
  )
    .current-plan
    .ticks
      .tick
      .tick(
        ng-class = "{'expand': preview === 'runnable-starter'}"
      )
      .tick
      .tick
      .tick
      .tick
      .tick(
        ng-class = "{'expand': preview === 'runnable-standard'}"
      )
      .tick
      .tick
      .tick
      .tick
      .tick
      .tick
      .tick

  .grid-block.align-center
    .grid-block.vertical.align-center.card.card-plan.disabled.padding-sm.text-center(
      ng-class = "{'active': PSFC.plan.id === 'runnable-starter'}"
      ng-mouseenter = "preview = 'runnable-starter'"
      ng-mouseleave = "preview = ''"
    )
      h3.grid-content.shrink.h3 Starter
      .grid-block.shrink.vertical.price
        .grid-block.strike(
          ng-if = "PSFC.discounted"
        ) ${{PSFC.plans['runnable-starter'].costPerUser | centsToDollars}}
        .grid-block.justify-center.h1(
          ng-class = "{'discounted': PSFC.discounted}"
        )
          sup.sup $
          | {{PSFC.calculatePlanAmount('runnable-starter') | centsToDollars}}
        small.grid-block.vertical.small.text-gray per user
          br
          | per month
      .grid-content.shrink.small Up to&#32;
        strong.strong 2
        | &#32; configurations.

    .grid-block.vertical.align-center.card.card-plan.disabled.padding-sm.text-center(
      ng-class = "{'active': PSFC.plan.id === 'runnable-standard'}"
      ng-mouseenter = "preview = 'runnable-standard'"
      ng-mouseleave = "preview = ''"
    )
      h3.grid-content.shrink.h3 Standard
      .grid-block.shrink.vertical.price
        .grid-block.strike(
          ng-if = "PSFC.discounted"
        ) ${{PSFC.plans['runnable-standard'].costPerUser| centsToDollars}}
        .grid-block.justify-center.h1(
          ng-class = "{'discounted': PSFC.discounted}"
        )
          sup.sup $
          | {{PSFC.calculatePlanAmount('runnable-standard') | centsToDollars}}
        small.grid-block.vertical.small.text-gray per user
          br
          | per month
      .grid-content.shrink.small Up to&#32;
        strong.strong 7
        | &#32; configurations.

    .grid-block.vertical.align-center.card.card-plan.disabled.padding-sm.text-center(
      ng-class = "{'active': PSFC.plan.id === 'runnable-plus'}"
      ng-mouseenter = "preview = 'runnable-plus'"
      ng-mouseleave = "preview = ''"
    )
      h3.grid-content.shrink.h3 Plus
      .grid-block.shrink.vertical.price
        .grid-block.strike(
          ng-if = "PSFC.discounted"
        ) ${{PSFC.plans['runnable-plus'].costPerUser| centsToDollars}}
        .grid-block.justify-center.h1(
          ng-class = "{'discounted': PSFC.discounted}"
        )
          sup.sup $
          | {{PSFC.calculatePlanAmount('runnable-plus') | centsToDollars}}
        small.grid-block.vertical.small.text-gray per user
          br
          | per month
      .grid-content.shrink.small Up to&#32;
        strong.strong 15
        | &#32; configurations.

  label.grid-block.align-center.padding-xs.well.well-plan.well-summary.disabled(
    ng-if = "PSFC.discounted"
    ng-include = "'discountView'"
    ng-init = "state.hasDuration = (PSFC.currentOrg.poppa.isInActivePeriod()) ? 'true' : ''"
  )

  p.grid-content.p.text-gray.text-center.padding-sm Your plan is automatically determined based on number of configurations at the end of each billing cycle.

  .grid-block.justify-center
    button.grid-block.shrink.btn.btn-md.green(
      ng-click = "goToPanel('changePaymentForm');"
      ng-if = "!PSFC.currentOrg.poppa.attrs.hasPaymentMethod && PSFC.currentOrg.poppa.isInTrial()"
      type = "button"
    ) Add Payment Method

footer.modal-footer.clearfix(
  ng-if = "PSFC.currentOrg.poppa.attrs.hasPaymentMethod || !PSFC.currentOrg.poppa.isInTrial()"
)
  button.btn.btn-md.gray.btn-cancel.float-left(
    ng-click = "goToPanel('billingForm', 'back');"
  ) Back
