header.box-header
  h1.box-name runnable-angular
    svg.iconnables.icons-trigger.running
      use(
        xlink:href = "#icons-trigger"
      )
  .primary-actions
    button.white(
      ng-click = "dataInstance.actions.saveChanges()"
      type = "button"
    ) Save
    button.white.btn-icon.btn-icon-sm(
      type = "button"
    )
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
    //- popover for save options
  .secondary-actions
    button.white.btn-icon(
      type = "button"
    )
      svg.iconnables.icons-edit
        use(
          xlink:href = "#icons-edit"
        )
    button.white.btn-icon(
      type = "button"
    )
      svg.iconnables.icons-gear
        use(
          xlink:href = "#icons-gear"
        )
      //- popover for rename, for, delete box

//- sidebar with repositories and urls
section.sidebar.box-sidebar
  //- repositories
  section.row
    h2.sub-header Repositories
    ul.repository-group
      li.repository-group-item
        svg.iconnables.icons-git
          use(
            xlink:href = "#icons-git"
          )
        h3.repository-title CodeNow/runnable-angular
        button.white.repository-update.tooltip(
          data-title = "Update to latest {branch} (currently 88 commits behind)."
        ) 88
          svg.iconnables.icons-update
            use(
              xlink:href = "#icons-update"
            )
        .commit
          .commit-message bugfix object keypath
          svg.iconnables.icons-commit
            use(
              xlink:href = "#icons-commit"
            )
          span.commit-author cflynn07
          time.commit-time 5 hours ago
      li.repository-group-item
        svg.iconnables.icons-git
          use(
            xlink:href = "#icons-git"
          )
        h3.repository-title CodeNow/api
        .commit
          .commit-message actually submit .env.local
          svg.iconnables.icons-commit
            use(
              xlink:href = "#icons-commit"
            )
          span.commit-author anandkumarpatel
          time.commit-time 2 hours ago
  //- urls
  section.row
    h2.sub-header URLs
    ul.url-group
      li.url-group-item
        input(
          read-only
          select-all
          value = "{{ dataInstance.data.container.urls()[0] }}"
        )
        //- link to the outside world
        a(
          href = ""
          target = "_blank"
        )
          svg.iconnables
//- section.views
  section.explorer
    button.explorer-toggle.btn-icon(
      ng-click = "dataBuild.data.showExplorer = !dataBuild.data.showExplorer"
      type = "button"
    )
      svg.iconnables.icons-folder-opens
        use(
          xlink:href = "#icons-folder-opens"
        )
    .explorer-controls
      button.toggle-theme.tooltip(
        data-title = "Change Theme"
        ng-class = "{dark: !dataBuild.data.toggleTheme, light: dataBuild.data.toggleTheme}"
        ng-click = "dataBuild.data.toggleTheme = !dataBuild.data.toggleTheme"
      )
        .theme
    file-tree(
      open-items = "dataBuild.data.openItems"
      read-only = "true"
      root-dir = "dataBuild.data.version.rootDir"
    )
  tabs(
    open-items= "dataBuild.data.openItems"
  )
  a.add-tab.btn.btn-icon(
    ng-class = "{active: dataInstance.data.popoverAddTab.data.show}"
    toggle-pop-over
    toggle-pop-over-model = "dataInstance.data.popoverAddTab.data.show"
  )
    svg.iconnables.icons-add
      use(
        xlink:href = "#icons-add"
      )
    pop-over(
      actions = "dataInstance.data.popoverAddTab.actions"
      data = "dataInstance.data.popoverAddTab.data"
      template = "viewInstancePopoverAddTab"
    )
  active-panel(
    container = "dataInstance.data.container"
    is-dark-theme = "dataInstance.data.toggleTheme"
    open-items = "dataInstance.data.openItems"
    update = "false"
  )
  .horizontal-spinner