header.box-header
  h1.box-name
    span.box-status
  //- primary action
  .pull-right
    .btn-group
      button.btn(
        ng-click = "dataInstance.actions.saveChanges()"
        type = "button"
      ) Save
      button.btn.btn-icon(
        type = "button"
      )
        svg.iconnable.icons-arrow-down
          use(
            xlink:href = "#icons-arrow-down"
          )
      //- popover for save options
  //- secondary actions
  .pull-right
    button.btn-icon(
      type = "button"
    )
      svg.iconnable.icons-edit
        use(
          xlink:href = "#icons-edit"
        )
    button.btn-icon(
      type = "button"
    )
      svg.iconnable.icons-gear
        use(
          xlink:href = "#icons-gear"
        )
      //- popover for rename, for, delete box
//- sidebar with repositories and urls
section.sidebar
  //- repositories
  section
    h2.sub-header Repositories
    ul.repository-group
      li.repository-group-item
        svg.iconnable.icons-git
          use(
            xlink:href = ""
          )
        h3.repository-title
        span.commit-message
        .commit-details
          span.commit-author
          time.commit-time
  //- urls
  section
    h2.sub-header URLs
    ul.url-group
      li.url-group-item
        input(
          read-only
          select-all
          value = "{{ dataInstance.data.container.urls()[0] }}"
        )
        //- link to the outside world
        a(
          href = ""
          target = "_blank"
        )
          svg.iconnable
section.views
  section.explorer
    button.explorer-toggle.btn-icon(
      ng-click = "dataBuild.data.showExplorer = !dataBuild.data.showExplorer"
      type = "button"
    )
      svg.iconnables.icons-folder-opens
        use(
          xlink:href = "#icons-folder-opens"
        )
    .explorer-controls
      button.toggle-theme.tooltip(
        data-title = "Change Theme"
        ng-class = "{dark: !dataBuild.data.toggleTheme, light: dataBuild.data.toggleTheme}"
        ng-click = "dataBuild.data.toggleTheme = !dataBuild.data.toggleTheme"
      )
        .theme
    file-tree(
      open-items = "dataBuild.data.openItems"
      read-only = "true"
      root-dir = "dataBuild.data.version.rootDir"
    )
  tabs(
    open-items= "dataBuild.data.openItems"
  )
  a.add-tab.btn.btn-icon(
    ng-class = "{active: dataInstance.data.popoverAddTab.data.show}"
    toggle-pop-over
    toggle-pop-over-model = "dataInstance.data.popoverAddTab.data.show"
  )
    svg.iconnables.icons-add
      use(
        xlink:href = "#icons-add"
      )
    pop-over(
      actions = "dataInstance.data.popoverAddTab.actions"
      data = "dataInstance.data.popoverAddTab.data"
      template = "viewInstancePopoverAddTab"
    )
  active-panel(
    container = "dataInstance.data.container"
    is-dark-theme = "dataInstance.data.toggleTheme"
    open-items = "dataInstance.data.openItems"
    update = "false"
  )
  .horizontal-spinner