button.grid-block.shrink.btn.btn-container-menu(
  ng-class = "{\
    'active': BCPBC.popoverOpen,\
    'gray': BCPBC.sha.length > 0\
  }"
  ng-click = "BCPBC.popoverOpen = true"
  ng-if = "$root.featureFlags.composeHistory"
  pop-over
  pop-over-template = "branchCommitSelectorPopoverView"
  pop-over-data = "BCPBC.popoverData"
  pop-over-options = "{\"verticallyCentered\":true,\"right\":0,\"pinToViewPort\": true}"
)
  svg.iconnables
    use(
      xlink:href = "#icons-history"
    )
  span.span {{BCPBC.sha}}
