.padding-left-xxs.padding-right-xxs.margin-bottom-xxs.text-gray.small Deleting removes all environments created from&#32;
  //- should link to the Compose file in their default branch
  a.link(
    href = ""
    target = "_blank"
  ) this Compose file
  | &#32;from Runnable.

ul
  li.grid-block.align-center.list-item.popover-list-item(
    internal-modal-helper = "deleteEnvironmentsModalView"
  )
    svg.iconnables.icons-delete
      use(
        xlink:href = "#icons-delete"
      )
    | Delete Environments…
