//- container, fill height
.setup-container {
  flex: 1 1 auto;
  overflow-y: auto;

  .spinner-wrapper {
    margin-top: calc(50vh - 60px);
  }
}

//- header—title, description, progress
.setup-header {
  color: $gray-light;
  margin: 0 auto;
  max-width: 960px;
  padding-top: 30px;

  .h1 {
    font-size: 36px;
    margin-bottom: 6px;
    text-align: center;
  }

  .p {
    font-size: 18px;
    text-align: center;
  }
}

// body—form elements/cards
.setup-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px auto;
  max-width: 960px;
  padding: 0 30px;
}

// footer—navigation
.setup-footer {
  animation: fade-in .3s ease-in forwards;
  background: $gray-lightest;
  border-top: 2px solid $gray-lighter;
  flex: 0 0 auto;
  height: 60px;
  padding: 6px 15px;
  transform: translate3d(0,60px,0);
  width: 100vw;

  // next
  .btn-forward {
    float: right;
  }

  // back
  .btn-back {
    float: left;
  }

  // status
  .p {
    color: $gray-light;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 18px;
  }

  // icons
  .icons-arrow-back,
  .icons-arrow-forward {
    border-radius: 50%;
    height: 18px;
    top: 3px;
    width: 18px;
  }

  .icons-arrow-back {
    margin-right: 6px;
  }

  .icons-arrow-forward {
    background: $white;
    color: $green;
    margin-left: 6px;
  }
}

.footer-container {
  margin: 0 auto;
  max-width: 960px;
}

// card grid
// max-width on config cards
.card-grid {
  justify-content: initial;

  .card {
    margin: 0 6px 12px;
    max-width: 360px;
  }
}