// step 3—env setup
.step-environment-setup {

  // colors for card-button active state
  .card-button:active {

    .icons-check {
      background: $green;
    }

    .small {
      color: currentColor;
    }
  }

  // list items
  .list-item {
    font-size: 14px;
    margin: 0 auto 6px;
    padding: 0 30px;

    &.active:not(.current) {

      .icons-check {
        display: block;
      }
    }

    &.small {
      color: $purple-lighter;
      pointer-events: none;
    }
  }

  // link icon
  .btn-badge {
    color: currentColor;
    float: left;
    margin-right: 6px;
  }

  .icons-check {
    background: $purple-light;
  }
}