// step 2—repository-selection
.step-repository-select {

  .card {
    min-height: initial;
    padding: 15px;
    width: 450px; // width dimensions for loading
  }

  // search
  .input-search {
    background-color: $white;
    background-position: calc(50% - 53px) 6px;
    border-color: $purple-lighter;
    color: $gray;
    line-height: 34px;
    margin-bottom: 8px;
    padding-left: calc(50% - 40px);
    width: 416px;

    &:focus,
    &:valid {
      background-position: 6px;
      padding-left: 30px;
    }
  }
}

// repository list
.list-repositories {
  width: 416px;

  > .list-item {
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    margin: 3px 0 0;
    padding: 6px 15px;

    &:hover,
    &.active {
      background: $white;
      border-color: $purple-lighter;
    }

    &:active {
      background: $white;
      border-color: currentColor;
      color: $green;

      .small {
        color: currentColor;
      }
    }

    // no active state on .active
    &.active:active {
      border-color: $purple-lighter;
      color: $purple-light;

      .small {
        color: $purple-lighter;
      }
    }
  }

  .small {
    color: $purple-lighter;
    display: block;
  }
}
