button.btn.btn-xs.btn-control.tooltip-plus-wrapper(
  ng-click = "$root.featureFlags.fullScreen = !$root.featureFlags.fullScreen"
  ng-if = "$root.featureFlags.fullScreenToggle"
)
  svg.iconnables(
    ng-if = "!$root.featureFlags.fullScreen"
  )
    use(
      xlink:href = "#icons-expand"
    )
  svg.iconnables(
    ng-if = "$root.featureFlags.fullScreen"
  )
    use(
      xlink:href = "#icons-minimize"
    )

  .tooltip-plus.tooltip-text.left(
    style = "right: 32px; top: -4px;"
  ) Full Screen

button.btn.btn-xs.btn-control.tooltip-plus-wrapper(
  ng-click = "$root.featureFlags.imAfraidOfTheDark = !$root.featureFlags.imAfraidOfTheDark"
  ng-if = "$root.featureFlags.themeToggle"
)
  svg.iconnables.icons-theme
    use(
      xlink:href = "#icons-theme"
    )

  .tooltip-plus.tooltip-text.left(
    style = "right: 32px; top: -4px;"
  ) Change Theme