.popover.menu.left.popover-link-servers(
  ng-class = "{in: data.show}"
  ng-click = "$event.stopPropagation()"
)
  .arrow.white
  .popover-content
    ul.list.popover-list
      li.list-item.popover-list-item.small Choose port to link
      li.list-item.popover-list-item
        div api-server
        button.btn.btn-xxs.gray 80
        button.btn.btn-xxs.gray 8080
      li.list-item.popover-list-item
        div mongo-server
        button.btn.btn-xxs.gray 80
        button.btn.btn-xxs.gray 3001
        button.btn.btn-xxs.gray 8080
        button.btn.btn-xxs.gray 8081
        button.btn.btn-xxs.gray 8081
        button.btn.btn-xxs.gray 8081
        button.btn.btn-xxs.gray 8081
      li.list-item.popover-list-item
        div web-server
        button.btn.btn-xxs.gray 80
        button.btn.btn-xxs.gray 3001