input.input.input-sm.white.text-overflow(
  ng-focus = "actions.toggleSelect($event)"
  ng-model = "value"
  placeholder = "{{placeholder}}"
  ng-model-options="{ debounce: { 'default': 250, 'blur': 0 } }"
  ng-change = "actions.onValueChanged(value)"
)