.tr.thead.clearfix
  label.cell
    a.link(
      href = "//github.com"
      target = "_blank"
    ) build/index.html
.tr.clearfix
  .cell.monospace.cell-line 1
  .cell.monospace.text-overflow - userName: username
.tr.tr-gap.clearfix
  .cell.monospace.cell-line ...
.tr.clearfix
  .cell.monospace.cell-line 5123
  .cell.monospace.text-overflow - userName: username