.popover.popover-fixed(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
)
  .popover-content

    //- if new rule
    h3.popover-title(
      ng-if = "true"
    ) New String Replace Rule
      small.small 🐶 Rules are case-sensitive and trailing whitespace is not trimmed. Regular expressions are not supported.

    //- if existing rule
    h3.popover-title(
      ng-if = "false"
    ) String Replace Rule
      small.small 🐶 Rules are case-sensitive and trailing whitespace is not trimmed. Regular expressions are not supported.
      button.btn.btn-xs.gray(
        ng-if = ""
      )
        svg.iconnables.icons-trash
          use(
            xlink:href = "#icons-trash"
          )
        | Delete Rule


    .label-row
      label.label-col Find string
        input.input.input-sm.monospace(
          spellcheck = "false"
        )
      .span-col →
      label.label-col Translate to
        input.input.input-sm.monospace(
          spellcheck = "false"
        )
        button.btn.btn-sm.btn-icon.gray
          svg.iconnables
            use(
              xlink:href = "#icons-container-association"
            )

    small.small.table-details(
      ng-if = "data.saving"
    ) 2 matches in 1 file (excludes ignored files)

    //- string verification table
    .table.table-diff(
      ng-if = "data.saving"
      ng-include = "'viewRuleString'"
    )

  .popover-footer.clearfix
    button.btn.green.btn-spinner(
      ng-class = "{in: data.saving}"
      ng-click = "data.saving = true"
      ng-disabled = "data.saving"
    )
      //- spinner
      .spinner-wrapper.spinner-sm.spinner-white.in(
        ng-if = "data.saving"
        ng-include = "'spinner'"
      )
      span(
        ng-if = "!data.saving"
      ) Search for matches
      span(
        ng-if = "data.saving"
      ) Searching
    button.btn.green(
      ng-if = "data.searched"
    ) Create rule
    button.btn.gray.btn-cancel Cancel