// .input-validate
.input-validate {
  transition: border .15s ease-in;

  &.ng-pristine {
    background: $white;
    border-color: rgba($black,.15);
    box-shadow: inset 0 0 3px rgba($black,.15);
  }

  &.ng-invalid {
    background: #fffcf5; // rgba($orange,.05);
    border-color: $orange;
    box-shadow: inset 0 0 3px rgba($orange,.15);
  }

  &.ng-valid {
    background: #f6fdf7; // rgba($green,.05);
    border-color: $green;
    box-shadow: inset 0 0 3px rgba($green,.15);
  }

  &.ng-pristine {
    background: $white;
    border-color: rgba($black,.15);
    box-shadow: inset 0 0 3px rgba($black,.15);
  }

  &:focus,
  &.focus {
    background: $white;
    border-color: $purple-light;
    box-shadow: inset 0 0 3px rgba($purple-light,.15);
  }
}

// .validate-wrapper
.validate-wrapper {
  border: 0;
  border-radius: 3px;
  line-height: 36px;
  overflow: hidden;
  position: relative;
}

// .validate-rules
.validate-rules {
  font-weight: 300;
  left: 15px;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity .15s ease-in;

  .btn-xs {
    border-radius: 3px;
    line-height: 1.4;
    margin: 0 3px;
    padding: 0 6px;
  }
}

.invalid-pattern .invalid-pattern,
.invalid-name .invalid-name,
.invalid-require .invalid-require {
  opacity: 1;
}

// .ace-validation-error
.ace-validation-error {
  position: relative;

  &:hover::before {
    opacity: 1;
    transform: translate3d(0,0,0);
  }

  &::after {
    background: $orange;
    border-radius: 50%;
    content: '';
    height: 10px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 10px;
    z-index: $z-tooltip;
  }

  &::before {
    @extend .tooltip-text;
    content: 'Invalid Env';
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: -90px;
    top: 24px;
    transform: translate3d(-3px,-3px,0);
    transition: all .2s ease-in;
  }
}
