// github form
.form-github {

  > .img.img.img {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .btn .iconnables {
    height: 21px;
    margin-right: 6px;
    top: 4px;
    width: 21px;
  }

  // the details text
  .grid-content.small,
  .text-red {
    margin-top: 15px;
  }

  // success state
  .runnabot-success {
    max-width: 210px;

    .img.img {
      margin-right: 9px;
    }
  }
}
