.input-group {
  align-items: center;
  display: flex;

  &.focus {
    border-color: $purple-light;
  }

  // colors
  &.gray {
    background: $gray-lightest;

    .label {
      border-color: $gray-lighter;
      color: $gray-light;
    }

    .btn,
    .input {
      color: $gray;
    }
  }

  &.purple {
    background: $ace-bg;
    border-color: $purple-darkest;

    .label {
      border-color: $purple-darkest;
      color: $purple-lighter;
    }

    .input {
      color: $purple-lighter;
    }
  }

  &.white {
    background: $white;

    .label {
      border-color: transparent;
      color: $gray-light;
    }

    .btn-xs {
      color: $gray;
    }
  }

  .label,
  .input {

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }

  .label {
    border: 0;
    flex: 0 0 auto;
    height: 100%;
    margin: 0;

    &:not(:last-child) {
      border-right-style: solid;
      border-right-width: $input-border;
    }

    &:not(:first-child) {
      border-left-style: solid;
      border-left-width: $input-border;
    }
  }

  .input {
    background: transparent;
    flex: 1 1 auto;
    font-weight: $weight-normal;
    height: 100%;
    line-height: inherit;
    padding: 0;
  }

  .btn {
    flex: 0 0 auto;
  }
}

// sizes
.input-group-md,
.input-group-sm,
.input-group-xs {
  border-radius: $input-border-radius;

  .label,
  .input {

    &:first-child {
      border-radius: $input-border-radius 0 0 $input-border-radius;
    }

    &:last-child {
      border-radius: 0 $input-border-radius $input-border-radius 0;
    }
  }
}

.input-group-md {
  height: $input-md;

  .label {
    font-size: 15px;
    line-height: $input-line-height-md;
    padding: 0 9px;

    &:first-child {
      margin-right: 8px;
    }

    &:last-child {
      margin-left: 8px;
    }
  }

  .input,
  .btn-xs {

    &:first-child,
    &:last-child {
      margin: 0 8px;
    }
  }
}

.input-group-sm {
  height: $input-sm;

  .label {
    font-size: 13px;
    line-height: $input-line-height-sm;
    padding: 0 6px;

    &:first-child {
      margin-right: 6px;
    }

    &:last-child {
      margin-left: 6px;
    }
  }

  .input,
  .btn-xs {

    &:first-child,
    &:last-child {
      margin: 0 6px;
    }
  }
}

.input-group-xs {
  height: $input-xs;

  .label,
  .input {
    font-size: 13px;
  }

  .label {
    line-height: $input-line-height-xs;
    padding: 0 3px;

    &:first-child {
      margin-right: 3px;
    }

    &:last-child {
      margin-left: 3px;
    }
  }

  .input {

    &:first-child,
    &:last-child {
      margin: 0 3px;
    }
  }

  .btn-xs {

    &:first-child {
      border-radius: $input-border-radius 0 0 $input-border-radius;
      margin: 0 3px 0 (-$input-border);
    }

    &:last-child {
      border-radius: 0 $input-border-radius $input-border-radius 0;
      margin: 0 (-$input-border) 0 3px;
    }
  }
}
