// .input-validate
.input-validate {
  transition: none;

  // focus except when invalid and always when pristine
  &:focus,
  &.focus {

    &:not(.ng-invalid),
    &.ng-invalid.ng-pristine,
    &.ng-invalid.validate-on-blur {
      border-color: $purple-light;
    }
  }

  // invalid
  &.ng-invalid {
    border-color: $red;
  }

  // pristine
  &.ng-pristine {
    border-color: $gray-lighter;
    box-shadow: none;
  }
}

// character length
.validate-length {
  position: relative;

  // spacing for length indicator
  > .input {
    padding-right: $input-md;

    &.text-center {
      text-indent: $input-md; // offset to center text

      &.ng-invalid {
        text-indent: 0;
      }
    }
  }

  &.validate-sm > .input-sm {
    padding-right: $input-sm;

    &.text-center {
      text-indent: $input-sm; // offset to center text

      &.ng-invalid {
        text-indent: 0;
      }
    }
  }

  &.validate-xs > .input-xs {
    padding-right: $input-xs;

    &.text-center {
      text-indent: $input-xs; // offset to center text

      &.ng-invalid {
        text-indent: 0;
      }
    }
  }

  &.validate-xxs > .input-xxs {
    padding-right: $input-xxs;

    &.text-center {
      text-indent: $input-xxs; // offset to center text

      &.ng-invalid {
        text-indent: 0;
      }
    }
  }

  // length indicator
  &::after {
    color: $gray;
    content: attr(data-length);
    display: block;
    font-size: 13px;
    line-height: $input-md;
    padding: 0 6px;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }

  &.ng-invalid::after {
    color: $red;
  }

  // centering at various sizes
  &.validate-sm::after {
    line-height: $input-sm;
  }

  &.validate-xs::after {
    line-height: $input-xs;
  }

  &.validate-xxs::after {
    line-height: $input-xxs;
  }
}

// when you need to return a message to the user
.validation-message {
  color: $red;
  display: block;
  font-size: 13px;
  font-weight: $weight-bold;
  line-height: 1.2;
  margin: 6px 0 0 6px;
}

// when there are multiple requirements, appears below an input
.list-validation {
  color: $gray;
  font-size: 13px;
  margin-top: 9px;

  // when invalid
  .list-item.ng-invalid {
    color: $red;

    &::after {
      background: $red;
    }
  }
}