.table {
  background: $white;
  border: 1px solid $gray-lighter;
  border-radius: 3px;

  // space out tables
  + .table {
    margin-top: 9px;
  }
}

// merge tables
.table-merge {
  border-radius: 3px 3px 0 0;

  .tr:last-child {
    border-radius: 0;
    padding-bottom: 0;
  }
}

.table-merge + .table-merge {
  border-radius: 0 0 3px 3px;
  border-top: 0;
  margin-top: 0;

  .tr:first-child {
    border-radius: 0;
    padding-top: 0;
  }
}

// diff
.table-diff {

  .thead {
    border-bottom: 1px solid $gray-lighter;

    &:only-child {
      border-bottom: 0;
    }
  }

  // cell line number
  .cell-line {
    background: $white;
    border-right: 1px solid $gray-lighter;
    flex: 0 0 50px;
    margin-left: -1px; // padding offset
    text-align: right;
  }

  .tr:last-child .cell-line {
    border-bottom-left-radius: 3px;
  }

  .tr-gap {
    background: rgba($blue,.05);

    .cell-line {
      background: rgba($blue,.05);
    }
  }

  // diff colors
  .tr-deletion {
    background: $red-lighter;
  }

  .tr-addition {
    background: $green-lighter;
  }

  // extra padding-bottom is weird when colored
  .tr-deletion,
  .tr-addition {

    &:last-child {
      padding-bottom: 0;
    }
  }

  // reduce cell height
  .cell {
    height: 24px;
    line-height: 24px;
  }

  // checkbox
  .input-checkbox {
    margin: 0 12px 0 -2px;
  }
}

// table details
.table-details {
  color: $gray;
  display: block;
  margin: 15px 0 6px;
}

// layout
// always use .clearfix with .tr:
// .tr.clearfix
.tr {
  background: $white;
  display: flex;

  &:first-child {
    border-radius: 2px 2px 0 0;
    padding-top: 3px;
  }

  &:last-child {
    border-radius: 0 0 3px 3px;
    padding-bottom: 3px;
  }

  &:only-child {
    border-radius: 3px;
    padding: 3px 0;
  }

  // cloned element
  &.dragging {
    box-shadow: // shadow + borders
      0 2px 3px rgba($black,.1),
      inset 0 -1px 0 $gray-lighter,
      inset -1px 0 0 $gray-lighter,
      inset 1px 0 0 $gray-lighter;
    position: absolute;
    z-index: $z-show;
  }

  // element that's left behind
  &.disabled {
    background: $gray-lightest;
    color: $gray-light;

    .cell-action {
      opacity: .5;
    }
  }

  + .tr {
    border-top: 1px solid $gray-lighter;
    font-weight: 500;

    .table-diff & {
      border-top: 0;
    }
  }
}


// table row header usage:
// .tr.thead
.thead {
  background: #f0f0f0;
  font-size: 13px;
  font-weight: 500;
  padding: 3px 0;

  .cell {
    height: 30px;
    line-height: 30px;
  }

  .btn {
    float: right;
    top: 3px;
  }

  .btn-status {
    color: $gray;
    cursor: default;
    float: none;
    font-size: 13px;
    margin-left: 6px;
    top: 0;
  }
}

// tr that's clickable
.tr-action {
  cursor: pointer;
  position: relative; // for the dragging indicator

  &:hover {
    background: rgba($purple-lightest,.5);
  }

  &:active,
  &.active {
    background: $purple-lightest;
  }
}

// empty state
.tr-empty {
  color: $gray-light;
}

.cell {
  flex: 1 1 50%;
  float: left;
  height: 36px;
  line-height: 38px;
  padding: 0 9px;

  &.monospace {
    font-size: 13px;
    letter-spacing: -.25px;
  }
}

.cell-action {
  flex: 0 0 auto;

  &:first-child {
    cursor: grab;
    padding: 0 3px 0 9px;

    &:active {
      cursor: grabbing;
    }
  }

  &:last-child {
    padding: 0;
    width: 24px;
  }

  &.disabled {
    visibility: hidden;
  }

  // dragging indicator
  &.dragging-down,
  &.dragging-up {

    &::after {
      background: $purple-light;
      content: '';
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      right: 0;
    }
  }

  &.dragging-down::after {
    bottom: -1px;
  }

  &.dragging-up::after {
    top: -1px;
  }

  // dragging icon
  .icons-drag {
    height: 100%;
    opacity: .3;
    width: 9px;
  }

  // warning icon
  .icons-warning {
    background: $white;
    border-radius: 50%;
    color: $orange;
    height: 18px;
    top: 4px;
    width: 18px;
  }
}

.cell-checkbox {
  cursor: pointer;
}

// table actions
.table-actions {
  background: #f0f0f0;
  border: 1px solid $gray-lighter;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  padding: 6px;

  + .ace-container {
    border-radius: 0 0 3px 3px;
  }

  // actions
  // does this need to be direct child selector?
  > .btn {
    float: left;
  }

  .btn-status {
    color: $gray;
    cursor: default;
    float: right;
    font-size: 13px;
    top: 0;

    // &:hover,
    // &:active {
    //   color: $purple-light;
    // }
  }

  .label {
    border: 2px solid $gray-light;
    border-radius: 3px;
    margin-bottom: 0;

    // host name button
    .btn-sm {
      background: $white;
      border: 0;
      border-left: 1px solid $gray-lighter;
      border-radius: 0;
      border-right: 1px solid $gray-lighter;
      font-size: 14px;
      line-height: 36px;
      padding: 0 24px 0 6px;
      text-align: left;
      width: 100%;

      &:active,
      &.active {
        border-color: $gray-lighter;
      }
    }

    // 3 action thing
    .monospace {
      color: $gray-darker;
      font-size: 14px;
      line-height: 27px;

      &.input {
        border: 0;

        &:focus {
          box-shadow: none;
        }
      }

      &:first-child {
        border-radius: 2px 0 0 2px;
        flex: 0 0 90px;
        margin-left: -1px;
      }

      &:last-child {
        border-radius: 0 2px 2px 0;
        flex: 0 0 90px;
      }
    }
  }

  // icons
  .icons-arrow-down {
    position: absolute;
    right: 6px;
    top: 0;
  }
}

.table-footer {
  margin-top: 4px;

  .green {
    float: right;
  }
}