.table {
  background: $white;
  border: 1px solid $gray-lighter;
  border-radius: 3px;

  // space out tables
  + .table {
    margin-top: 9px;
  }
}

// diff
.table-diff {

  .thead {
    border-bottom: 1px solid $gray-lighter;

    // github link
    .link {
      float: left;
    }

    &:only-child {
      border-bottom: 0;
    }
  }

  // cell line number
  .cell-line {
    background: $white;
    border-right: 1px solid $gray-lighter;
    flex: 0 0 50px;
    text-align: right;
  }

  .tr:last-child .cell-line {
    border-bottom-left-radius: 3px;
  }

  .tr-gap {
    background: rgba($blue,.05);

    .cell-line {
      background: rgba($blue,.05);
    }
  }

  .link {
    float: right;
  }

  // diff colors
  .tr-deletion {
    background: $red-lighter;
  }

  .tr-addition {
    background: $green-lighter;
  }

  // extra padding-bottom is weird when colored
  .tr-deletion,
  .tr-addition,
  .tr-gap {

    &:last-child {
      padding-bottom: 0;
    }
  }

  // reduce cell height
  .cell {
    height: 24px;
    line-height: 24px;
  }

  // checkbox
  .input-checkbox {
    margin: 0 12px 0 -2px;
  }
}

// merge tables
.table-merge {
  border-radius: 3px 3px 0 0;

  + .table-merge {
    border-radius: 0 0 3px 3px;
    border-top: 0;
    margin-top: 0;

    .tr:not(.thead) {

      &:first-child {
        border-radius: 0;
        padding-top: 0;
      }

      &:last-child {
        border-radius: 0 0 3px 3px;
      }
    }
  }

  .tr:last-child {
    border-radius: 0;
    padding-bottom: 0;
  }
}

// table details
.table-details {
  color: $gray;
  display: block;
  margin: 15px 0 6px;
}

// layout
// always use .clearfix with .tr:
// .tr.clearfix
.tr {
  background: $white;
  display: flex;

  &:first-child {
    border-radius: 2px 2px 0 0;
    padding-top: 3px;

    &.tr-addition,
    &.tr-deletion {
      border-radius: 0;
      padding-top: 0;
    }
  }

  &:last-child {
    border-radius: 0 0 2px 2px;
    padding-bottom: 3px;

    &.tr-addition,
    &.tr-deletion {
      padding-bottom: 0;
    }
  }

  &:only-child {
    border-radius: 3px;
    padding: 3px 0;
  }

  // element that's left behind
  &.disabled {
    cursor: not-allowed;
  }

  + .tr {
    border-top: 1px solid $gray-lighter;

    .table-diff &,
    &.tr-addition,
    &.tr-deletion {
      border-top: 0;
    }
  }
}

// table row header usage:
// .tr.thead
.thead {
  background: $gray-lightest;
  font-size: 13px;
  font-weight: 500;
  padding: 3px 0;

  &.thead-sm {
    color: $gray;
    font-weight: 400;

    .cell {
      height: 21px;
      line-height: 24px;
    }
  }

  .cell {
    height: 30px;
    line-height: 30px;

    &:only-child {
      width: 100%;
    }
  }

  .btn {
    float: right;
    top: 3px;
  }

  .btn-status {
    color: $gray;
    cursor: default;
    float: none;
    font-size: 13px;
    margin-left: 6px;
    top: 0;
  }
}

// tr that's clickable
.tr-action {
  cursor: pointer;
  position: relative; // for the dragging indicator
  user-select: none;

  &:hover {
    background: rgba($purple-lightest,.5);
  }

  &:active,
  &.active {
    background: rgba($purple-lightest,.75);
  }
}

// empty state
.tr-empty {
  color: $gray-light;
  text-align: center;

  .cell {
    height: 60px;
    line-height: 60px;
  }
}

.cell {
  flex: 1 1 50%;
  float: left;
  height: 36px;
  line-height: 35px;
  padding: 0 9px;

  &.monospace {
    font-size: 13px;
    letter-spacing: -.25px;
  }

  // cells with multiple lines
  .multi-line & {
    height: 45px;
    line-height: 1.2;
    padding-top: 7px;
  }

  .small {
    color: $gray;
    display: block;
    // float: right;
    font-size: 11px;
  }
}

.cell-action {
  flex: 0 0 auto;

  &:first-child {
    cursor: grab;
    flex: 0 0 21px;
    max-width: 21px;
    padding: 0 3px 0 9px;

    &:active {
      cursor: grabbing;

      .icons-drag {
        color: $purple-light;
      }
    }
  }

  &:last-child {
    padding: 0;
    width: 24px;
  }

  &.disabled {
    visibility: hidden;
  }

  // status icons
  .iconnables {
    height: 38px;
    width: 18px;

    // warning icon
    &.icons-warning {
      color: $orange;
    }

    // link icon
    &.icons-link {
      color: $purple-light;
      width: 15px;
    }
  }

  // dragging icon
  .icons-drag {
    color: $gray-lighter;
    height: 100%;
    opacity: .3;
    width: 9px;
  }
}

.cell-type {
  flex: 0 0 150px;

  .multi-line & {
    color: $gray;
    line-height: 45px;
    padding-top: 0;
  }

  .iconnables {
    float: left;
    height: 34px;
    margin-right: 6px;
    width: 18px;

    .multi-line & {
      height: 44px;
    }
  }
}

.cell-checkbox {
  cursor: pointer;
}

.table-footer {
  margin-top: 4px;

  .green {
    float: right;
  }
}

// drag and drop styles
.table-drag-drop .thead {
  border-bottom: 1px solid $gray-lighter;

  + .tr {
    border-top: 0;
  }
}
