.label-build-commands {

  // "Cache a command" label
  .strong {
    line-height: 15px;

    @include media(xs) {
      padding-top: 3px;

      // hides " a command" at media(xs)
      .span {
        display: none;
      }
    }

    &.disabled {
      color: $gray-light;
      cursor: not-allowed;
    }
  }

  // toggle for caching commands
  .toggle-wrapper {
    margin-left: 6px;
    top: 3px;
  }

  // overrides so it can fit next to the cache label at narrow sizes
  .label-col {
    float: left;
    width: auto;
  }
}
