// table actions
.table-actions {
  background: $gray-lightest;
  border: 1px solid $gray-lighter;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  padding: 6px;

  + .ace-container {
    border-radius: 0 0 3px 3px;
  }

  // actions
  > .btn {
    float: left;

    // second action
    + .btn {
      float: right;
      font-size: 14px;
    }

    .iconnables {
      width: 14px;
    }
  }

  // icons
  .icons-arrow-down {
    position: absolute;
    right: 6px;
    top: 0;
  }
}

// unique button action happening
.btn-sidebar {
  color: $gray;

  &:hover,
  &:active,
  &.active {
    color: $purple-light;
  }
}