// billing form
.modal-form.form-billing {
  padding: 0;

  @include media(xxxs) {
    .animated-panel > .padding-sm {
      padding: 0;
    }
  }

  // plan summary & payment summary
  .well {
    border: 1px solid $gray-lighter;
    border-radius: $input-border-radius-lg;

    + .well {
      margin-top: 15px;
    }
  }

  .well-plan,
  .well-summary {
    background: $white;

    &.flash {
      animation: flash 5s ease-out;
    }
  }

  .well-summary {
    font-size: 16px;

    @include media(xxs) {
      font-size: 14px;
      padding-right: 9px;
    }

    &.invalid {
      border-color: $orange;
      box-shadow: inset 0 0 0 1px $orange;
    }

    .text-gray {
      margin-top: 6px;
    }

    // cc icon
    .img {
      margin-right: 4px;
      position: relative;
      top: 4px;
    }
  }

  .well-bottom {
    background: $gray-lightest;
    border-top: 1px solid $gray-lighter;
    margin-top: 6px;
  }

  .label-col > .btn-xxs {
    border-color: $orange;
    margin: 9px 9px 0 0;
  }
}

// payment history
.table-billing {
  color: $gray-dark;
  font-size: 15px;
  white-space: nowrap;

  .cell {

    // cost
    &:first-child {
      flex: 0 0 auto;
    }

    // date
    &:last-child {
      max-width: 125px;
    }
  }
}
