// table actions
.table-actions {
  background: $gray-lightest;
  border: 1px solid $gray-lighter;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  height: 36px;
  overflow: hidden;
  padding: 6px;
  transition: height .15s ease-in-out;

  &.in {
    height: 80px;
  }

  + .ace-container {
    border-radius: 0 0 3px 3px;

    > .sidebar {
      border-top-left-radius: 0;
    }
  }

  // actions
  > .btn {
    float: left;

    // second action
    + .btn {
      float: right;
    }

    .iconnables {
      width: 14px;
    }

    .icons-sidebar {
      float: left;
      height: 100%;
      margin-right: 6px;
      width: 15px;
    }
  }

  // toggle
  &.table-toggle {
    color: $gray;
    height: 54px;
    overflow: visible;
    padding: 9px 45px 9px 9px;
    position: relative;
    z-index: $z-sidebar + 1; // for tooltip…

    &.in {
      height: 72px;
    }

    // anchor image
    > .iconnables {
      margin-right: 6px;
      width: 18px;
    }

    .small {
      display: block;
      line-height: 1;

      + .small {
        margin: 3px 0;
      }
    }

    .toggle-wrapper {
      position: absolute;
      right: 9px;
      top: 9px;
    }
  }

  // hostname insert
  .label {
    border: 1px solid $gray-lighter;
    border-radius: 3px;
    margin-bottom: 0;

    // hostname button
    .btn-sm {
      background: $white;
      border: 0;
      border-left: 1px solid $gray-lighter;
      border-radius: 0;
      border-right: 1px solid $gray-lighter;
      font-size: 14px;
      line-height: 36px;
      padding: 0 24px 0 6px;
      text-align: left;
      width: 100%;

      &:active,
      &.active {
        border-color: $gray-lighter;
      }
    }

    // 3 action thing
    .monospace {
      color: $gray-darker;
      font-size: 14px;
      line-height: 27px;

      &.input {
        border: 0;

        &:focus {
          box-shadow: none;
        }
      }

      &:first-child {
        border-radius: 2px 0 0 2px;
        flex: 0 0 90px;
      }

      &:last-child {
        border-radius: 0 2px 2px 0;
        flex: 0 0 90px;
      }
    }
  }

  // icons
  .icons-arrow-down {
    color: $gray-light;
    position: absolute;
    right: 6px;
    top: 0;
  }
}