.table {
  background: $white;
  border: 1px solid $gray-lighter;
  border-radius: 3px;
}

// table row header usage:
// .tr.thead
.thead {
  font-size: 13px;
  padding-bottom: 3px;
}

// layout
// always use .clearfix with .tr:
// .tr.clearfix
.tr {
  display: flex;

  &:first-child {
    padding-top: 3px;
  }

  &:last-child {
    padding-bottom: 3px;
  }

  + .tr {
    border-top: 1px solid #ccc;
    font-weight: 500;
  }
}

.cell {
  float: left;
  height: 36px;
  line-height: 36px;
  padding: 0 9px;
  width: calc(50% - 32px); // 2 equal width columns + 64px column (divide by 2)

  .btn-xs {
    float: right;
    top: 6px;
  }
}

.cell-actions {
  width: 64px;
}