// .label-group
.label-group {
  border: 1px solid rgba($black,.1);
  border-radius: 3px;
  margin: 0 6px 15px;

  .radio {
    height: 45px;
    margin: 0;
    position: absolute;
    right: 9px;
    top: 0;
    width: auto;
    z-index: 1;
  }
}

// .label.label-group-item
.label-group-item {
  cursor: pointer;
  display: block;
  height: 45px;
  line-height: 45px;
  margin: 0;
  overflow: hidden;
  padding: 0 9px;
  position: relative;
  text-shadow: none;
  width: 100%;

  &:nth-child(n+2) {
    border-top: 1px solid rgba($black,.1);
  }

  &:hover {
    background: rgba($purple-light,.1);
  }

  &.active {
    background: rgba($purple-light,.15);
  }
}