// wraps text area for commands and radio buttons for caching
.build-commands-wrapper {
  background-color: $white;
  border: 2px solid $gray-lighter;
  border-radius: 3px;
  line-height: 21px;
  max-height: 126px;
  min-height: 81px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  transition: padding-right .15s ease-in-out;

  &.cache-in {
    padding-right: 30px; // so text doesn't flow behind .cache-column

    .cache-column {
      transform: translate3d(0,0,0);
    }
  }

  .textarea.textarea {
    border: 0;
    box-shadow: none;
    display: inline-block;
    max-height: none; // override
    min-height: 0; // override
    resize: none;
    white-space: nowrap;

    &::after {
      content: '';
      width: 30px;
      height: 100%;
    }
  }
}

// toggle for caching commands
.toggle-cache {
  margin: 2px -1px 0 6px;
}

// column of radio buttons for caching
.cache-column {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  font-size: 14px; // sets radio button size
  padding: 5px 0 3px;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate3d(33px,0,0);
  transition: transform .15s ease-in-out;
  width: 100%;
}

.radio-wrapper {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 21px;
  justify-content: center;
  pointer-events: auto;
  width: 30px;

  &:hover + .cache-row {
    background-color: rgba($black,.03);
  }
}

// highlights a line in text area. only appears when the corresponding radio button is hovered.
.cache-row {
  height: 21px;
  margin-top: -21px;
  pointer-events: none;
  position: relative;
  width: 100%;
}