// defaults
.input,
.textarea {
  background: $white;
  border: 2px solid $gray-lighter;
  border-radius: 3px;
  padding: 0 6px;
  resize: none;
  width: 100%;
  word-break: normal;

  // min font-size for mobile
  @include retina() {
    @media (max-width: 500px) {
      font-size: 16px;
    }
  }

  // focus state
  &.focus,
  &:focus {
    border-color: $purple-light;
    box-shadow: inset 0 0 3px rgba($purple-light,.15);
  }

  &:focus {
    transition: none;
  }

  // lighter color for readonly
  &[readonly] {
    color: $gray;
  }

  // remove box-shadow for these states
  &[readonly]:focus,
  &[required],
  &[type="checkbox"],
  &[type="radio"] {
    box-shadow: none;
  }

  // appear as checkbox
  &[type="checkbox"] {
    -webkit-appearance: checkbox;
    cursor: pointer;
    width: auto;

    &[disabled] {
      cursor: not-allowed;
    }
  }

  // placeholder
  &::placeholder {
    color: $gray-light;
  }
}

// sizes
.input {
  height: 45px;
  line-height: 44px;

  &[type="search"] {
    border-radius: 45px;
  }

  &.input-sm {
    height: 36px;
    line-height: 35px;

    &[type="search"] {
      border-radius: 36px;
    }
  }

  &.input-xs {
    height: 24px;
    line-height: 23px;

    &[type="search"] {
      border-radius: 24px;
    }
  }
}

.textarea {
  padding: 3px 6px;
}

// description text
.label .small {
  color: $gray;
  display: block;
}

// label.label-checkbox
.label-checkbox {
  cursor: pointer;
  display: block;
}

// label.btn-checkbox
.btn-checkbox {
  border-radius: 3px;
  color: $gray;
  display: inline-block;
  margin: 9px 0;
  padding: 0 9px;
  text-align: left;

  .input-checkbox {
    margin: 0 9px 0 0;
  }
}

// input[type="checkbox"].input-checkbox
.input-checkbox {
  -webkit-appearance: checkbox;
  float: left;
  height: 100%;
  margin: 0 15px 0 3px;
}

// .input-group
.input-group {
  background: $white;
  border: 1px solid rgba($black,.15);
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  height: 45px;
  line-height: 45px;
  margin: 0 6px;
  position: relative;

  &.with-description {
    height: 54px;
    line-height: 54px;

    > .input {
      font-weight: 500;
      height: 36px;
      line-height: 36px;
    }
  }

  .input-label {
    color: $gray;
    font-size: 12px;
    overflow: hidden;
    padding: 0 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  // label icons
  .iconnables {
    height: 15px;
    margin-right: 3px;
    top: 3px;
    width: 15px;
  }

  .input-description {
    color: $gray;
    font-size: 12px;
    height: 13px;
    line-height: 12px;
    position: absolute;
    top: 33px;
    white-space: nowrap;
  }

  .input {
    border: 0;
    box-shadow: none;
    flex: 1 0 auto;
    padding: 0;
    width: auto;
  }

  .btn-sm.gray {
    right: 6px;
    top: 9px;
  }
}

// textarea group
.textarea-group {
  background: $white;
  border: 2px solid $gray-lighter;
  border-radius: 3px;
  margin: 0 15px;
  padding-top: 6px;

  .input-group {
    background: none;
    border: 0;
    border-radius: 0;
    margin: 0;

    &:only-child {
      border-radius: 3px;
    }
  }

  // input sizes
  .input {
    border: 1px solid transparent;
    font-size: 14px;
    letter-spacing: -.5px;
    margin: 0 6px;
    padding: 0 6px;

    &:focus {
      background: rgba($blue,.1);
      border-color: $blue;
    }

    &.input-key {
      width: 210px;
    }

    &.input-value {
      padding-right: 36px;
      width: 470px;
    }
  }

  .input-divider {
    color: $gray-light;
    flex: 0 0 auto;
    line-height: 34px;
  }
}

.textarea-group-controls {
  background: $gray-lighter;
  height: 45px;
  padding: 6px 4px;

  .btn {
    background: $white;
    color: $gray;
    font-weight: 500;
    transition: none;

    &:hover {
      background: $gray-lighterest;
    }

    &:active {
      background: transparent;
      color: $gray-dark;
    }
  }

  .btn + .btn {
    float: right;
  }
}

// search
.input-search {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16.2 16.9'><path fill-opacity='.3' d='M7.3,8.9c-0.9,0-1.6-0.7-1.6-1.6c0-1.3-2-1.3-2,0c0.1,2,1.6,3.6,3.6,3.6C8.6,10.9,8.6,8.9,7.3,8.9L7.3,8.9z'/><path fill-opacity='.3' d='M15.9,15.2L12.7,12c1.1-1.3,1.8-2.9,1.8-4.8c0-4-3.3-7.3-7.3-7.3C3.3,0,0,3.3,0,7.3s3.3,7.3,7.3,7.3c1.5,0,2.8-0.4,4-1.2l3.3,3.3c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3C16.3,16.2,16.3,15.6,15.9,15.2z M2,7.3C2,4.4,4.4,2,7.3,2c2.9,0,5.3,2.4,5.3,5.3s-2.4,5.3-5.3,5.3C4.4,12.5,2,10.2,2,7.3z'/></svg>");
  background-position: 51px center;
  background-repeat: no-repeat;
  background-size: 12px;
  border-width: 1px;
  color: $gray;
  cursor: pointer;
  font-size: 14px;
  padding-left: 72px;
  transition: all .15s ease-in;

  &:focus,
  &:valid {
    background-color: $white;
    background-position: 3px center;
    border-color: $green;
    padding-left: 27px !important; // override all other position
    transition: all .15s ease-in;
  }

  &.input-search-sm {
    background-position: 6px 2px !important; // no transition for .input-search-sm
    background-size: 18px;
    height: 24px;
    line-height: 24px;
    padding-left: 27px;
    transition: all .15s ease-in;
  }
}
