// billing form
.modal-form.form-billing {
  padding: 0;
}

// trial state
.form-trial {

  .icons-calendar {
    height: 60px;
    margin: 0 auto;
    position: relative;
    width: 60px;
  }

  .h2 {
    bottom: 9px;
    color: $purple;
    font-size: 25px;
    left: 0;
    position: absolute;
    right: 0;
  }

  // need specificity to override .p.empty
  .p.empty {
    margin-bottom: 0;
  }

  .btn {
    margin-left: auto;
    margin-right: auto;
  }
}

// plan select
.form-plan {

  .well {
    border: 1px solid $gray-lighter;
    cursor: pointer;
    font-size: 19px;
    position: relative;

    &:hover,
    &:active,
    &.active {
      background: $white;
      border-color: $green;
      box-shadow: inset 0 0 0 1px $green;
    }

    &.active .white {
      animation: rainbow 1s infinite linear;
      background-image: linear-gradient(135deg,$purple 0%,$blue 12.5%,$green 25%,$orange 37.5%,$red 50%,$purple 62.5%,$blue 75%,$green 87.5%,$orange 100%);
      background-size: 400% 100%;
      border-color: $white;
    }

    .white {
      background: $white;
      border: 1px solid $gray-lighter;
      border-radius: $input-border-radius-lg;
      font-size: 30px;
      height: 75px;
      margin-right: 15px;
      width: 75px;
    }

    .text-gray {
      margin-top: 6px;
    }

    .btn-add {
      border-radius: 50%;
      top: 0;
    }
  }
}

.form-payment {

  .well.well-summary {
    background: $white;
    border: 1px solid $gray-lighter;
    border-radius: $input-border-radius-lg;
    font-size: 16px;
    padding-right: 15px;

    .white {
      background-image: linear-gradient(135deg,$purple 0%,$blue 12.5%,$green 25%,$orange 37.5%,$red 50%,$purple 62.5%,$blue 75%,$green 87.5%,$orange 100%);
      background-size: 400% 100%;
      border: 0;
      border-radius: $input-border-radius-lg 0 0 $input-border-radius-lg;
      font-size: 30px;
      height: 45px;
      margin-right: 15px;
      width: 45px;
    }

    .text-gray {
      margin-top: 6px;
    }
  }

  // payment summary
  .well.padding-xxs {
    background: $gray-lighter;
  }

  .label-cc {
    margin-bottom: 15px;
  }

  .label-payment {

    + .label-payment {
      margin-left: 6px;
    }

    .small {
      margin-bottom: 3px;
      margin-left: 7px;
    }
  }
}

// cc form
.form-cc {

  // plan and payment area
  .well {
    margin: 0;

    // card type
    .icons-card {
      height: 32px;
      margin-right: 9px;
      top: 1px;
      width: 18px;
    }

    // exp date
    .strong + .small {
      position: relative;
      top: 2px;
    }
  }

  // flexbox on inputs
  .row {
    display: flex;
    margin-bottom: 9px;

    @include media(xxs) {
      flex-wrap: wrap;
    }
  }

  .input-sm {
    letter-spacing: .5px;
    margin: 0;
    min-width: 0; // fix firefox bug with flexbox and input width

    + .input-sm {
      margin-left: 9px;

      @include media(xxs) {
        margin-left: 0;
      }
    }
  }

  .input-cc {
    flex: 1 1 auto;
    padding-right: 30px;

    @include media(xxs) {
      margin-bottom: 9px;
    }

    &.amex,
    &.jcb,
    &.mastercard,
    &.visa {
      background-position: 97% 49%;
      background-repeat: no-repeat;
      background-size: 21px 17px;
    }

    &.amex {
      background-image: url(/build/images/logos/credit-cards/logo-cc-amex.svg);
    }

    &.jcb {
      background-image: url(/build/images/logos/credit-cards/logo-cc-jcb.svg);
    }

    &.mastercard {
      background-image: url(/build/images/logos/credit-cards/logo-cc-mastercard.svg);
    }

    &.visa {
      background-image: url(/build/images/logos/credit-cards/logo-cc-visa.svg);
    }
  }

  .input-exp {
    flex: 0 0 90px;

    @include media(xxs) {
      margin-right: 9px;
    }
  }

  .input-cvc {
    flex: 0 0 54px;
  }

  // validation
  .invalid-message {
    margin: 0 8px 12px;
  }
}

// billing table
.table-billing {
  color: $gray-dark;
  font-size: 15px;

  // date
  .cell:first-child {
    max-width: 60px;
  }
}
