// defaults
input,
.input,
textarea {
  -webkit-appearance: none;
  border: 1px solid rgba($black,.15);
  border-radius: 3px;
  color: $gray-darker;
  height: 45px;
  line-height: 45px;
  padding: 0 6px;
  resize: none;
  width: 100%;

  &.focus,
  &:focus {
    border-color: $blue;
    box-shadow: inset 0 0 3px rgba($blue,.15);
    outline: none;
  }

  &:focus {
    transition: none;
  }

  &[readonly] {
    color: $gray;
  }

  &[type="checkbox"] {
    -webkit-appearance: checkbox;
    box-shadow: none;
    cursor: pointer;
    width: auto;

    &[disabled] {
      cursor: not-allowed;
    }
  }

  &[type="radio"] {
    box-shadow: none;
  }

  &[required] {
    box-shadow: none;
  }

  &.input-text {
    background: none;
    border: 0;
    box-shadow: none;
    height: auto;
    line-height: 1;
    padding: 0;
  }

  // min font-size for mobile
  @include retina() {
    @media (max-width: 500px) {
      font-size: 16px;
    }
  }

  // placeholder
  &::placeholder {
    color: $gray-lighter;
  }

  &.input-sm {
    height: 36px;
    line-height: 36px;
  }
}

// label.label-checkbox
.label-checkbox {
  cursor: pointer;
  display: block;
  font-size: 14px;
}

// label.btn-checkbox
.btn-checkbox {
  border-radius: 3px;
  color: $gray;
  display: inline-block;
  margin: 9px 0;
  padding: 0 9px;
  text-align: left;

  .input-checkbox {
    margin: 0 9px 0 0;
  }
}

// input[type="checkbox"].input-checkbox
.input-checkbox {
  float: left;
  height: 100%;
  margin: 0 15px 0 3px;
}

// .input-group
.input-group {
  background: $white;
  border: 1px solid rgba($black,.1);
  border-radius: 3px;
  display: flex;
  height: 45px;
  line-height: 45px;
  margin: 0 6px;
  position: relative;

  &.with-description {
    height: 54px;
    line-height: 54px;

    > .input {
      height: 39px;
      line-height: 39px;
    }
  }

  .input-label {
    color: $gray;
    font-size: 12px;
    overflow: hidden;
    padding: 0 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .input-description {
    color: $gray;
    font-size: 12px;
    height: 13px;
    line-height: 12px;
    position: absolute;
    top: 33px;
    white-space: nowrap;
  }

  .input {
    border: 0;
    box-shadow: none;
    flex: 1 0 auto;
    padding: 0 6px 0 0;
    width: auto;
  }

  .btn-sm.gray {
    right: 6px;
    top: 9px;
  }
}

.input-search {
  background-image: url(/build/images/icons/icons-search.svg);
  background-position: 51px 3px;
  background-repeat: no-repeat;
  background-size: 21px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  padding-left: 72px;
  transition: all .15s ease-in;

  &:focus,
  &:valid {
    background-color: $white;
    background-position: 3px 3px !important;
    padding-left: 27px !important;
    transition: all .15s ease-in;
  }
}