// .label-group
.label-group {
  border: 1px solid rgba($black,.1);
  border-radius: $input-border-radius;
  margin: 0 6px 15px;

  .radio {
    height: $input-sm;
    margin: 0;
    position: absolute;
    right: 9px;
    top: 0;
    width: auto;
    z-index: 1;
  }
}

// .label.label-group-item
.label-group-item {
  color: $gray-dark;
  cursor: pointer;
  display: block;
  height: $input-md;
  line-height: $input-md;
  margin: 0;
  overflow: hidden;
  padding: 0 9px;
  position: relative;
  text-shadow: none;
  width: 100%;

  + .label-group-item {
    border-top: 1px solid rgba($black,.1);
  }

  &.label-sm {
    height: $input-sm;
    line-height: $input-sm;

    .radio {
      height: $input-sm;
    }
  }

  &:hover {
    background: rgba($purple-light,.1);
  }

  &.active {
    background: rgba($purple-light,.15);
  }
}