// label.btn.btn-checkbox
.btn-checkbox {
  font-size: 13px;
}

// input.checkbox
.checkbox {
  float: right;
  margin-left: 12px;
}

.form-label {
  position: relative;

  .iconnables,
  span {
    position: absolute;
  }

  span {
    display: inline-block;
    height: 36px;
    width: 36px;
  }

  .iconnables {
    height: 24px;
    left: 9px;
    opacity: .25;
    top: 6px;
    width: 24px;
  }

  > input {
    text-indent: 21px; // +15px (padding) = total of 36px
  }
}

input,
.input {
  background: transparent;

  &[type=radio] {
    -webkit-appearance: radio;
    cursor: pointer;
  }

  &[disabled],
  &[readonly] {
    background: $gray-lightest;
  }

  &[readonly] {
    cursor: pointer;
  }
}

.search {
  position: relative;

  > input {
    padding-left: 30px;
  }

  .iconnables {
    height: 24px;
    margin: 6px 6px 0;
    right: 0;
    top: 6px;
    width: 24px;
  }

  > button {
    height: 45px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    transition: transform .2s;
    width: 36px;
  }

  > .submit {
    left: 0;
  }

  > .add {
    color: $orange;
    right: -36px;
  }

  .icons-search,
  .icons-search-active {
    position: absolute;
  }

  .icons-search {
    opacity: 1;
  }

  .icons-search-active {
    opacity: 0;
  }

  input:valid ~ .submit {

    .icons-search {
      opacity: 0;
    }

    .icons-search-active {
      opacity: 1;
    }
  }

  &.check-valid input:valid {

    & ~ .submit > .icons-search {
      opacity: 1;
    }

    & ~ .add {
      transform: translate3d(-36px,0,0);
    }
  }
}