.form-whitelist {

  .tr {
    color: $gray;
    font-size: 13px;
    overflow: hidden;
    transition: color .2s, max-height .2s ease-in-out;

    &.ng-enter {
      color: transparent;
      max-height: 0;
    }

    &.ng-enter-active {
      color: $gray;
      max-height: 39px;
    }

    &.ng-leave {
      color: $gray;
      max-height: 39px;
    }

    &.ng-leave-active {
      color: transparent;
      max-height: 0;
    }
  }

  .input-group {
    margin: 6px 0;

    // override modal form default
    .label.label {
      border: 0;
      margin: 0;
    }
  }

  .input {
    border: 0;

    &:focus {
      box-shadow: none;
    }
  }

  // range checkbox
  .label-checkbox {
    color: $gray;
    font-size: 13px;
    line-height: $input-xs;
    user-select: none;
  }

  .checkbox {
    margin: 0 6px;
  }

  // transitions
  .fade {
    transition: opacity .15s ease-in-out;

    // animations
    &.ng-enter {
      opacity: 0;
    }

    &.ng-enter-active {
      opacity: 1;
    }

    &.ng-leave {
      opacity: 1;
    }

    &.ng-leave-active {
      opacity: 0;
    }
  }

  .slide-in {
    transition: opacity .2s ease-in-out, padding .2s ease-in-out, width .2s ease-in-out;
    width: 51px;

    // animations
    &.ng-enter {
      opacity: 0;
      padding: 0;
      width: 0;
    }

    &.ng-enter-active {
      opacity: 1;
      padding: 0 6px;
      width: 51px;
    }

    &.ng-leave {
      opacity: 1;
      padding: 0 6px;
      width: 51px;
    }

    &.ng-leave-active {
      opacity: 0;
      padding: 0;
      width: 0;
    }
  }
}

.table-whitelist {

  .tr {
    align-items: center;
  }

  .input {
    background: transparent;
    color: $gray;
  }
}
