.form-trial {

  .well {
    background: $white;
    margin: 0;

    .icons-calendar {
      height: 60px;
      margin-right: 15px;
      position: relative;
      width: 60px;
    }

    .svg {
      width: 100%;
    }

    .h2 {
      bottom: 9px;
      color: $purple;
      font-size: 25px;
      left: 0;
      position: absolute;
      right: 0;
      top: 44%;
    }
  }
}
