.input-group {
  align-items: center;
  border-radius: $input-border-radius;
  display: flex;

  &.focus {
    border-color: $purple-light;
  }

  // colors
  &.gray {
    background: $gray-lightest;

    .btn,
    .input {
      color: $gray;
    }

    .label {
      background: $gray-lighterest;
    }
  }

  &.white {
    background: $white;
  }

  .btn,
  .label {
    flex: 0 0 auto;
  }

  .label {
    color: $gray-light;
    font-weight: $weight-bold;
  }

  // when button size matches input group size, style it like an input
  .input,
  .label,
  &.input-group-md .btn-md,
  &.input-group-sm .btn-sm,
  &.input-group-xs .btn-xs {
    background: transparent;
    border: 0;
    border-color: $gray-lighter;
    height: 100%;
    margin: 0;

    &:first-child {
      border-radius: $input-border-radius 0 0 $input-border-radius;
    }

    &:last-child {
      border-radius: 0 $input-border-radius $input-border-radius 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:not(:last-child):not([readonly]) {
      border-right-style: solid;
      border-right-width: $input-border;
    }
  }

  .input,
  &.input-group-md .btn-md,
  &.input-group-sm .btn-sm,
  &.input-group-xs .btn-xs {
    flex: 1 1 100%;
    font-weight: $weight-normal;
  }

  // when button size doesn't match input group size, add margin
  &.input-group-md .btn:not(.btn-md),
  &.input-group-sm .btn:not(.btn-sm),
  &.input-group-xs .btn:not(.btn-xs) {
    margin-right: 6px;
  }
}

// sizes
.input-group-md {
  height: $input-md;

  .label,
  .input,
  .btn-md {
    font-size: 18px;
    line-height: $input-line-height-md;
    padding: 0 9px;
  }
}

.input-group-sm {
  height: $input-sm;

  .label,
  .input,
  .btn-sm {
    font-size: 16px;
    line-height: $input-line-height-sm;
    padding: 0 6px;
  }
}

.input-group-xs {
  height: $input-xs;

  .label,
  .input,
  .btn-xs {
    font-size: 13px;
    line-height: $input-line-height-xs;
    padding: 0 6px;
  }
}
