// .input-validate
.input-validate {
  transition: border .15s ease-in;

  // &.ng-valid {
  //   border-color: $green;
  //   box-shadow: inset 0 0 3px rgba($green,.15);
  // }

  &.ng-invalid {
    border-color: $orange;
    box-shadow: inset 0 0 3px rgba($orange,.15);
  }

  &.ng-pristine {
    border-color: rgba($black,.15);
    box-shadow: inset 0 0 3px rgba($black,.15);
  }

  &:focus,
  &.focus {
    border-color: $blue;
    box-shadow: inset 0 0 3px rgba($blue,.15);
  }
}

// .validate-wrapper
.validate-wrapper {
  border: 0;
  overflow: hidden;
  position: relative;
}

// .validate-rules
.validate-rules {
  font-weight: 300;
  left: 15px;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity .15s ease-in;

  .btn-xs {
    cursor: default;
    margin: 0 3px;
    padding: 0 6px;
  }
}

.invalid-pattern .invalid-pattern,
.invalid-name .invalid-name {
  opacity: 1;
}