// form layout
// row
.label {
  display: block;
  margin-bottom: 21px;
  position: relative;

  @include media(xs) {
    margin-bottom: 15px;
  }
}

// label column (left)
.label-col {
  color: $gray;
  float: left;
  font-weight: 500;
  height: 36px;
  line-height: 36px;
  padding-right: 15px;
  width: 270px;
  word-break: break-word;

  @include media(md) {
    width: 240px;
  }

  @include media(xs) {
    float: none;
    text-align: left;
    width: 100%;
  }
}

// input column (right)
.input-col {
  float: right;
  text-align: left;
  width: calc(100% - 271px);

  @include media(md) {
    width: calc(100% - 241px);
  }

  @include media(xs) {
    float: none;
    width: 100%;
  }
}

// .label-row: override .label-col for 2 or more inputs on a row
.label-row {
  display: flex;

  .label-col {
    flex: 1 1 auto;
    height: auto;
    padding: 0;
  }

  // equal sign between inputs
  .span-col {
    flex: 0 0 25px;
    line-height: 36px;
    padding-top: 36px;
    text-align: center;
    user-select: none;
  }

  // helpful messages
  .small {
    font-weight: 500;
    line-height: 18px;
    margin: 6px 0 0;

    &.valid {
      color: $green;
    }

    &.invalid {
      color: $orange;
    }

    .iconnables {
      float: left;
      height: 20px;
      margin-right: 3px;
      width: 21px;
    }
  }
}

// jump
.label-jump {
  margin-bottom: 15px;

  .small.small {
    display: inline-block;
  }

  .select {
    margin-left: 6px;
    max-width: 150px;
  }
}

// label.btn.btn-checkbox
.btn-checkbox {
  font-size: 13px;
}

// input.checkbox
.checkbox {
  float: right;
  margin-left: 12px;
}

input,
.input,
textarea,
.textarea {
  background: transparent;

  &[type=radio] {
    -webkit-appearance: radio;
    cursor: pointer;
  }

  &[disabled],
  &[readonly] {
    background-color: $gray-lighterest;
    border-color: $gray-lighter !important; // override any validation
    color: $gray-lighter;
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &[readonly] {
    cursor: pointer;
  }
}
