// .input-group
.input-group {
  border: 1px solid rgba($black,.15);
  border-radius: 3px;
  display: flex;

  input,
  .input {
    border: 0;
    flex: 1 1 auto;
  }

  [contenteditable] {
    color: $gray-darker;
    cursor: text;
    flex: 0 0 auto;
    font-weight: 500;

    &:focus {
      outline: 0;
    }
  }
}

// prefixes and suffixes
.input-prefix,
.input-suffix {
  background: $white;
  flex: 1 0 auto;
  font-size: 18px;
  height: 100%;
}

// .input-prefix
.input-prefix {
  border-radius: 3px 0 0 3px;
  border-right: 0;
  padding: 0 0 0 15px;
  text-align: right;
}

// .input-suffix
.input-suffix {
  border-left: 0;
  border-radius: 0 3px 3px 0;
  padding: 0 15px 0 0;
  text-align: left;
}