.label-build-commands {

  // "Cache a command" label
  .strong {
    line-height: 15px;

    @include media(xs) {
      padding-top: 3px;

      // hides " a command" at media(xs)
      .span {
        display: none;
      }
    }

    &.disabled {
      color: $gray-light;
      cursor: not-allowed;
    }
  }

  // toggle for caching commands
  .toggle-wrapper {
    margin-left: 6px;
    top: 3px;
  }

  // overrides so it can fit next to the cache label at narrow sizes
  .label-col {
    float: left;
    width: auto;
  }
}

// wraps text area for commands and radio buttons for caching
.build-commands-wrapper {
  background-color: $white;
  border: 2px solid $gray-lighter;
  border-radius: 3px;
  clear: both; // keeps it from collapsing when the labels above it are floated at the xs width
  line-height: 21px;
  max-height: 131px; // five lines of text
  overflow-x: hidden;
  overflow-y: auto;

  &.focus {
    border-color: $purple-light;

    .cache-border {
      border-color: $purple-light;
      opacity: .3;
    }
  }

  .flex-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .textarea.textarea {
    border: 0;
    box-shadow: none;
    max-height: none;
    min-height: 0;
    overflow-y: hidden;
    resize: none;
    transition: margin-right .15s ease-in-out;
    width: auto;

    // when "cache a command" is on
    &.margin-right {
      margin-right: 33px;
    }
  }
}

// column of radio buttons for caching
.cache-column {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate3d(0,0,0);
  transition: transform .15s ease-in-out;
  width: 100%;

  &.ng-hide {
    transform: translate3d(33px,0,0);
  }
}

.cache-border {
  background-color: $white;
  border-left: 1px solid $gray-lighter;
  height: 100%;
  position: absolute;
  right: 0;
  width: 33px;
  z-index: -1;
}

.radio-wrapper {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 21px;
  justify-content: center;
  pointer-events: auto;
  width: 32px;

  &:first-of-type {
    margin-top: 3px;
  }

  &:hover + .cache-row {
    background-color: rgba($black,.03);
  }
}

// highlights a line in text area. only appears when the corresponding radio button is hovered.
.cache-row {
  height: 21px;
  margin-top: -21px;
  pointer-events: none;
  position: relative;
  width: 100%;
}
