// wraps text area for commands and radio buttons for caching
.build-commands-wrapper {
  background-color: $white;
  border: 2px solid $gray-lighter;
  border-radius: 3px;
  line-height: 21px;
  max-height: 126px;
  min-height: 81px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  transition: all .15s ease-in-out;

  // lets the text area scroll horizontally without moving .cache-column
  .text-area-wrapper {
    overflow-x: auto;
  }

  .textarea.textarea {
    border: 0;
    box-shadow: none;
    display: inline-block;
    min-width: 100%;
    padding-right: 33px;
    resize: none;
    white-space: nowrap;
  }

  .content-editable {
    display: inline-block;
    min-width: 100%;
    outline: none;
    padding: 7px 33px 7px 9px;
  }
}

// toggle for caching commands
.toggle-cache {
  margin: 2px -1px 0 5px;
}

// column of radio buttons for caching
.cache-column {
  align-items: flex-end;
  box-shadow: inset -33px 0 3px 0 $white;
  display: flex;
  flex-direction: column;
  font-size: 14px; // sets radio button size
  padding: 9px 0 3px;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate3d(33px,0,0);
  transition: transform .15s ease-in-out;
  width: 100%;

  &.in {
    transform: translate3d(0,0,0);
  }

  .input-radio {
    margin: 0 9px 8px 0;
    pointer-events: auto;

    &:hover + .cache-row {
      background-color: rgba($black,.03);
    }
  }
}

// highlights a line in text area. only appears when the corresponding radio button is hovered.
.cache-row {
  height: 21px;
  margin-top: -21px;
  pointer-events: none;
  position: relative;
  top: -3px;
  width: 100%;
}