// default styles are in forms-input.scss
// overrides for those default styles:
.textarea {
  padding: 3px 6px; // reduce top/bottom padding vs inputs
}

.textarea-wrapper {
  background: $gray-lighterest;
  border: $input-border solid $gray-lighter;
  border-radius: $input-border-radius;
  position: relative;

  &.focus {
    border-color: $purple-light;
    z-index: 1;
  }

  .textarea {
    background: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-size: 13px;
    min-height: 120px;
  }
}

// groups of textareas
.textarea-menu {
  border-bottom: 1px solid $gray-lighter;
  font-size: 13px;
  font-weight: 500;
  height: 36px;
  line-height: 36px;
  margin: 0 6px;
}