section.row(
  ng-if = "openItems.models.length && validDockerfile.valid === false"
)
  .sidebar-validation
    h2.sub-header Dockerfile Validation Errors
    ul.list.list-bordered.list-validation
      li.list-item.orange.monospace(
        ng-repeat = "error in validDockerfile.errors"
      ) {{ error.line ? 'Line ' + error.line + ':' : '' }} {{ error.message }}