.modal-backdrop.in
  .modal-dialog.modal-add-branches(
    ng-init = "\
      repository = 'api';\
      activeBranches = [\
        'SAN-2173-webhooks-toggle',\
        'SAN-2170-billing',\
        'SAN-2725-new-container'\
      ];\
      state.loading = true;\
    "
  )
    header.modal-header
      h1.modal-heading Add Branches
      svg.iconnables.icons-close(
        ng-click = "defaultActions.cancel()"
      )
        use(
          xlink:href = "#icons-close"
        )
    section.modal-body
      p.p From now on, containers will launch automatically for new branches of&#32;
        strong.strong {{repository}}
        span.span , starting with its current active branches.
      .spinner-wrapper.spinner-gray.spinner-sm.in(
        ng-click = "state.loading = false"
        ng-if = "state.loading"
        ng-include = "'spinner'"
      )
      ul.list.list-bordered(
        ng-if = "!state.loading"
      )
        li.list-item(
          ng-repeat = "branch in activeBranches"
        )
          svg.iconnables.icons-server-new
            use(
              xlink:href = "#icons-server-new"
            )
          | {{branch}}
        li.list-item
          svg.iconnables.icons-server-new
            use(
              xlink:href = "#icons-server-new"
            )
          | future {{repository}} branches
    section.modal-footer(
      ng-if = "!state.loading"
    )
      button.btn.btn-md.btn-block.green Add Branches
      //- only show if the defualt branch container has *never* been green
      .small
        svg.iconnables.icons-warning
          use(
            xlink:href = "#icons-warning"
          )
        | It’s best to wait until your default branch is running.