.modal-backdrop.in
  .modal-dialog.modal-add-branches(
    ng-init = "\
      repository = 'api';\
      activeBranches = [\
        'SAN-2173-webhooks-toggle',\
        'SAN-2170-billing',\
        'SAN-2725-new-container'\
      ];\
      state.loading = true;\
    "
  )
    header.modal-header
      h1.modal-heading Add Branches
      svg.iconnables.icons-close(
        ng-click = "defaultActions.cancel()"
      )
        use(
          xlink:href = "#icons-close"
        )
    section.modal-body
      p.p From now on, containers will launch automatically for new branches of&#32;
        strong.strong {{repository}}
        span.span , starting with its current active branches.
      ul.list.list-bordered
        li.list-item(
          ng-click = "state.loading = false"
          ng-if = "state.loading"
        )
          .spinner-wrapper.spinner-gray.spinner-sm.in(
            ng-include = "'spinner'"
          )
        li.list-item.text-overflow(
          ng-if = "!state.loading"
          ng-repeat = "branch in activeBranches"
          title = "{{branch}}"
        )
          svg.iconnables.icons-server-new
            use(
              xlink:href = "#icons-server-new"
            )
          | {{branch}}
        li.list-item(
          ng-if = "!state.loading"
        )
          svg.iconnables.icons-server-new
            use(
              xlink:href = "#icons-server-new"
            )
          | Future {{repository}} branches
    section.modal-footer(
      ng-if = "!state.loading"
    )
      //- .green if no warning, .white if warning
      button.btn.btn-md.btn-block.green Add Branches
      //- only show if the default branch container is red, or is buiding and has *never* been green
      small.small
        svg.iconnables.icons-warning
          use(
            xlink:href = "#icons-warning"
          )
        | We recommend waiting until your default container is running before continuing.