.modal-backdrop.in
  .modal-dialog.modal-add-branches
    header.modal-header
      h1.modal-heading Enable api Branches
      svg.iconnables.icons-close(
        ng-click = "defaultActions.cancel()"
      )
        use(
          xlink:href = "#icons-close"
        )
    section.modal-body
      p.p This will launch containers for active&#32;
        strong.strong api&#32;
        span.span branches. From now on, new containers will launch when you push to new branches.
      ul.list.list-bordered
        li.list-item
          svg.iconnables.icons-server-new
            use(
              xlink:href = "#icons-server-new"
            )
          | SAN-2173-webhooks-toggle
        li.list-item
          svg.iconnables.icons-server-new
            use(
              xlink:href = "#icons-server-new"
            )
          | SAN-2170-billing
        li.list-item
          svg.iconnables.icons-server-new
            use(
              xlink:href = "#icons-server-new"
            )
          | SAN-2725-new-container

      ul.list.list-bordered
        li.list-item
          svg.iconnables.icons-server-new
            use(
              xlink:href = "#icons-server-new"
            )
          | Future api branches
    section.modal-footer
      button.btn.btn-md.btn-block.green Add Branches