.grid-block.shrink.aha-meter.js-animate(
  ng-class = "{\
    'aha-error': AGC.showError || AGC.errorState,\
    'aha-meter-11': AGC.ahaGuide.furthestSubstep(AGC.ahaGuide.steps.ADD_FIRST_REPO) === 'addRepository',\
    'aha-meter-22': AGC.ahaGuide.furthestSubstep(AGC.ahaGuide.steps.ADD_FIRST_REPO) === 'containerSelection',\
    'aha-meter-33': AGC.ahaGuide.furthestSubstep(AGC.ahaGuide.steps.ADD_FIRST_REPO) === 'dockerfileMirroring',\
    'aha-meter-44': AGC.ahaGuide.furthestSubstep(AGC.ahaGuide.steps.ADD_FIRST_REPO) === 'nameContainer',\
    'aha-meter-55': AGC.ahaGuide.furthestSubstep(AGC.ahaGuide.steps.ADD_FIRST_REPO) === 'repository',\
    'aha-meter-66': AGC.ahaGuide.furthestSubstep(AGC.ahaGuide.steps.ADD_FIRST_REPO) === 'commands',\
    'aha-meter-77': AGC.ahaGuide.furthestSubstep(AGC.ahaGuide.steps.ADD_FIRST_REPO) === 'buildfiles' || AGC.ahaGuide.furthestSubstep(AGC.ahaGuide.steps.ADD_FIRST_REPO) === 'filesMirror' || AGC.ahaGuide.configSteps.includes(AGC.ahaGuide.furthestSubstep(AGC.ahaGuide.steps.ADD_FIRST_REPO)),\
    'aha-meter-88': AGC.ahaGuide.furthestSubstep(AGC.ahaGuide.steps.ADD_FIRST_REPO) === 'logs' || AGC.errorState === 'buildFailed' || AGC.ahaGuide.furthestSubstep(AGC.ahaGuide.steps.ADD_FIRST_REPO) === 'exitedEarly',\
    'aha-meter-100': (AGC.ahaGuide.furthestSubstep(AGC.ahaGuide.steps.ADD_FIRST_REPO) === 'success' && !AGC.errorState) || getCurrentStep() > steps.ADD_FIRST_REPO,\
  }"
)
  svg.iconnables(
    ng-if = "!AGC.showError && !AGC.errorState"
  )
    use(
      ng-if = "AGC.ahaGuide.isAddingFirstRepo() && AGC.ahaGuide.furthestSubstep(AGC.ahaGuide.steps.ADD_FIRST_REPO) !== 'success'"
      xlink:href = "#icons-octicons-repo"
    )
    use(
      ng-if = "AGC.ahaGuide.furthestSubstep(AGC.ahaGuide.steps.ADD_FIRST_REPO) === 'success' || AGC.ahaGuide.getCurrentStep() > AGC.ahaGuide.steps.ADD_FIRST_REPO"
      xlink:href = "#icons-check"
    )
  svg.iconnables.icons-alert(
    ng-if = "AGC.showError || AGC.errorState"
  )
    use(
      xlink:href = "#icons-alert-alt"
    )

.grid-block.shrink.aha-meter.js-animate(
  class = "aha-meter-100"
  ng-class = "{'aha-error': AGC.showError || AGC.errorState}"
  ng-if = "!state.showVerification && AGC.ahaGuide.getCurrentStep() > AGC.ahaGuide.steps.ADD_FIRST_REPO"
)
  svg.iconnables(
    ng-if = "!AGC.showError"
  )
    use(
      ng-if = "AGC.subStep === 'success' || AGC.isBuildSuccessful"
      xlink:href = "#icons-check"
    )
  svg.iconnables.icons-alert(
    ng-if = "AGC.showError"
  )
    use(
      xlink:href = "#icons-alert-alt"
    )

.grid-block.vertical.aha-text(
  ng-if = "AGC.isInGuide() && !AGC.showError && AGC.ahaGuide.isAddingFirstRepo()"
)
  p.p.small.text-gray-light {{ AGC.title }}
  p.p(
    ng-class = "{'p-slide js-animate': AGC.subStepIndex}"
    ng-if = "AGC.isInGuide() && !AGC.showError && AGC.subStep === 'addRepository'"
  ) First, add your repository by clicking ‘Create Template’.
  p.p(
    ng-class = "{'p-slide js-animate': AGC.subStepIndex}"
    ng-if = "AGC.isInGuide() && !AGC.showError && AGC.subStep === 'containerSelection'"
  ) Select a service to configure.
  p.p(
    ng-class = "{'p-slide js-animate': AGC.subStepIndex}"
    ng-if = "AGC.isInGuide() && !AGC.showError && AGC.subStep === 'dockerfileMirroring'"
  ) How would you like to configure your repository?
  p.p(
    ng-class = "{'p-slide js-animate': AGC.subStepIndex}"
    ng-if = "AGC.isInGuide() && !AGC.showError && AGC.subStep === 'nameContainer'"
  ) Give your template a name.
  p.p(
    ng-class = "{'p-slide js-animate': AGC.subStepIndex}"
    ng-if = "AGC.isInGuide() && !AGC.showError && AGC.subStep === 'repository'"
  ) What does your repository run?
  p.p(
    ng-class = "{'p-slide js-animate': AGC.subStepIndex}"
    ng-if = "AGC.isInGuide() && !AGC.showError && AGC.subStep === 'commands'"
  ) Configure commands and packages.
  p.p(
    ng-class = "{'p-slide js-animate': AGC.subStepIndex}"
    ng-if = "AGC.isInGuide() && !AGC.showError && AGC.configSteps.includes(AGC.subStep)"
  ) Configure additional settings (if necessary).
  p.p(
    ng-class = "{'p-slide js-animate': AGC.subStepIndex}"
    ng-if = "AGC.isInGuide() && !AGC.showError && AGC.subStep === 'buildfiles'"
  ) When you’re done editing your Dockerfile, click ‘Save and Build’.
  p.p(
    ng-class = "{'p-slide js-animate': AGC.subStepIndex}"
    ng-if = "AGC.isInGuide() && !AGC.showError && AGC.subStep === 'filesMirror'"
  ) We’ve imported your Dockerfile. Click ‘Save & Build’ to build it!
  p.p(
    ng-class = "{'p-slide js-animate': AGC.subStepIndex}"
    ng-if = "AGC.isInGuide() && !AGC.showError && AGC.subStep === 'logs'"
  ) We‘re building! Build time varies depending on your build commands.
  p.p(
    ng-class = "{'p-slide js-animate': AGC.subStepIndex}"
    ng-if = "AGC.isInGuide() && !AGC.showError && AGC.subStep === 'success'"
  ) Your build finished! Verify that it looks good, then click ‘Done’.


.grid-block.vertical.aha-text(
  ng-if = "AGC.isInGuide() && AGC.showError && AGC.ahaGuide.stepList[AGC.ahaGuide.steps.ADD_FIRST_REPO].subSteps[AGC.ahaGuide.furthestSubstep(AGC.ahaGuide.steps.ADD_FIRST_REPO)].step > 6"
)
  p.p.small.text-gray-light {{ AGC.title }}
  p.p(
    ng-if = "AGC.isInGuide() && AGC.showError && AGC.errorState === 'buildFailed' && AGC.subStep === 'logs'"
  ) Uh oh, there was an error! Inspect your logs for debug info.

  p.p(
    ng-class = "{'p-slide js-animate': AGC.subStepIndex}"
    ng-if = "AGC.isInGuide() && AGC.errorState && AGC.subStep !== 'logs'"
  ) Your template isn’t running yet! Check the logs to debug any issues. If you’re stumped,&#32;
      a.link(
        href = "https://support.runnable.com/hc/en-us/articles/212930166"
        target = "_blank"
      ) chat with our devs
      | .


.grid-block.vertical.aha-text(
  class = "{{ AGC.className }}"
  ng-if = "AGC.isInGuide() && !AGC.showError && !AGC.ahaGuide.isAddingFirstRepo()"
)
  p.p.small.text-gray-light {{ AGC.title }}
  p.p(
    ng-class = "{'p-slide js-animate': AGC.subStepIndex}"
    ng-if = "AGC.isInGuide() && !AGC.showError"
  ) Choose a template to configure.
