//- this is environment controller EC.getClassForSubstep passed in ng-init
.grid-block.shrink.aha-meter.js-animate(
  ng-class = "{'aha-meter-100': !staticAddRepo, 'aha-meter-11': staticAddRepo}"
)
  svg.iconnables(
  )
    use(
      ng-if = "staticAddRepo"
      xlink:href = "#icons-octicons-repo"
    )
    use(
      ng-if = "showAhaNavPopover"
      xlink:href = "#icons-check"
    )

.grid-block.vertical.aha-text
  p.p.small.text-gray-light Step 2: Configure your Application
  p.p(
    ng-if = "staticAddRepo"
  ) Add your repository by clicking ‘Create Service’.
  p.p(
    ng-if = "showAhaNavPopover && !$root.featureFlags.demoFlowPhase2"
  ) Once you’re done configuring, head to your containers to start adding branches.
  p.p(
    ng-if = "showAhaNavPopover && $root.featureFlags.demoFlowPhase2"
  ) Your container is building! Take a look in the ‘Containers’ view.
