.grid-block.shrink.aha-meter.js-animate(
  ng-class = "{\
    'aha-meter-10': staticAddRepo,\
    'aha-meter-100': showAhaNavPopover\
  }"
)
  svg.iconnables(
  )
    use(
      ng-if = "staticAddRepo"
      xlink:href = "#icons-octicons-repo"
    )
    use(
      ng-if = "showAhaNavPopover"
      xlink:href = "#icons-check"
    )

.grid-block.vertical.aha-text
  p.p.small.text-gray-light Step 2: Configure your Application
  p.p(
    ng-if = "staticAddRepo"
  ) Add your repository by clicking ‘Create Template’.
  p.p(
    ng-if = "showAhaNavPopover"
  ) Once you’re done configuring, head to your containers to start adding branches.
