form.modal-dialog.modal-verify-server(
  ng-click = "$event.stopPropagation()"
)
  header.modal-header
    h1.modal-heading New Server: runnable-angular
    //- button.btn.btn-radio.active
    //-   svg.iconnables.icons-terminal
    //-     use(
    //-       xlink:href = "#icons-terminal"
    //-     )
    //-   | Stack
    //- button.btn.btn-radio
    //-   svg.iconnables.icons-terminal
    //-     use(
    //-       xlink:href = "#icons-terminal"
    //-     )
    //-   | Start CMD

  section.modal-body
    .modal-form
      .label.clearfix
        .label-col Language / Framework
        //- popover
        .input-col
          //- .btn-validate, .input-validate classes:
            - ng-valid
            - ng-invalid
          button.btn.btn-sm.gray.text-overflow.btn-validate(
            ng-class = "{active: popoverStackSelect.data.show}"
            ng-click = "data.stackSelected = true"
            pop-over
            pop-over-actions = "popoverStackSelect.actions"
            pop-over-active = "popoverStackSelect.data.show"
            pop-over-data = "popoverStackSelect.data"
            pop-over-options = "{\"left\":0,\"top\":39}"
            pop-over-template = "viewPopoverStackSelect"
          ) Select language/framework
            svg.iconnables.icons-arrow-down
              use(
                xlink:href = "#icons-arrow-down"
              )
          button.btn.btn-sm.gray.text-overflow.btn-validate(
            ng-class = "{active: popoverVersionSelect.data.show}"
            ng-click = "data.versionSelected = true"
            ng-disabled = "!data.stackSelected"
            pop-over
            pop-over-actions = "popoverVersionSelect.actions"
            pop-over-active = "popoverVersionSelect.data.show"
            pop-over-data = "popoverVersionSelect.data"
            pop-over-options = "{\"left\":0,\"top\":39}"
            pop-over-template = "viewPopoverVersionSelect"
          ) Select version
            svg.iconnables.icons-arrow-down
              use(
                xlink:href = "#icons-arrow-down"
              )
      label.label.clearfix
        .label-col Start Command
        .input-col
          input.input.input-sm.input-validate(
            ng-click = "data.formComplete = true"
            ng-disabled = "!data.versionSelected"
            required
            pop-over
            pop-over-actions = "popoverStartCommand.actions"
            pop-over-active = "popoverStartCommand.data.show"
            pop-over-data = "popoverStartCommand.data"
            pop-over-options = "{\"left\":0,\"top\":39}"
            pop-over-template = "viewPopoverStartCommand"
          )
          small.small This is the command that will start your application. #{''}
            a.link(
              href = "//docs.docker.com/reference/builder/#cmd"
              target = "_blank"
            ) More about the start command
            | .

  footer.modal-footer.clearfix
    //- disabled if there is no value in the command input
    button.btn.green(
      ng-disabled = "!data.formComplete"
    ) Create Server
    button.btn.white.btn-cancel(
      ng-click = "defaultActions.cancel()"
      type = "button"
    ) Cancel