.modal-dialog.modal-verify-server(
  ng-click = "$event.stopPropagation()"
)
  header.modal-header
    button.btn.btn-radio.active
      svg.iconnables.icons-terminal
        use(
          xlink:href = "#icons-terminal"
        )
      | Stack
    button.btn.btn-radio
      svg.iconnables.icons-terminal
        use(
          xlink:href = "#icons-terminal"
        )
      | Start CMD

  section.modal-body
    form.modal-form
      label.label.clearfix
        .label-col Language / Framework
        //- popover
        .input-col
          button.btn.btn-sm.gray(
            pop-over
            pop-over-actions = "popoverStackSelect.actions"
            pop-over-active = "popoverStackSelect.data.show"
            pop-over-data = "popoverStackSelect.data"
            pop-over-options = "{\"left\":0,\"top\":39}"
            pop-over-template = "viewPopoverStackSelect"
          ) undefined
            svg.iconnables.icons-arrow-down
              use(
                xlink:href = "#icons-arrow-down"
              )
          button.btn.btn-sm.gray(
            ng-disabled = "true"
          ) version
            svg.iconnables.icons-arrow-down
              use(
                xlink:href = "#icons-arrow-down"
              )

    footer.modal-footer.clearfix
      button.btn.green Next
      button.btn.white Previous
      button.btn.white.btn-cancel(
        ng-click = "defaultActions.cancel();"
      ) Cancel