//- new alerts
.grid-block.vertical.notification.notification-sm.js-animate.top-right(
  ng-class = "{\
    'green': EC.alert.type === 'success',\
    'red': EC.alert.type === 'deleted',\
    'plan-changed text-center': EC.alert.newPlan\
  }"
  ng-if = "EC.alert"
)
  .grid-block.align-center(
    ng-class = "{'justify-center': EC.alert.newPlan}"
  )
    svg.anchor-left.iconnables.icons-check(
      ng-if = "EC.alert.type === 'success'"
    )
      use(
        xlink:href = "#icons-check"
      )
    svg.anchor-left.iconnables.icons-trash(
      ng-if = "EC.alert.type === 'deleted'"
    )
      use(
        xlink:href = "#icons-trash"
      )
    span {{EC.alert.text}}
    a.link.small.link-undo(
      ng-if = "$root.featureFlags.undoDelete"
    ) Undo
  .grid-block.vertical(
    ng-if = "EC.alert.newPlan"
  )
    small.small You’ve been bumped into the next plan for&#32;
      strong.strong free
      | &#32;until your next billing period.&#32;
      //- to billing tab
      a.link(
        ng-click = "EC.actions.goToBilling()"
      ) Plan Details
    button.btn.btn-xs.green(
      ng-click = "EC.actions.closeAlert()"
    ) Got it, thanks!

//- environment page
.grid-block.environment-wrapper(
  ng-class = "{'empty': $root.featureFlags.aha && $root.featureFlags.aha1}"
)

  header.grid-block.align-center.environment-header(
    ng-include = "'viewEnvironmentHeader'"
    ng-init = "state.helpButton = {active: false}"
  )

  .grid-block.shrink.align-center.justify-center.padding-sm.aha-guide(
    ng-if = "$root.featureFlags.aha1ExitedEarly"
    ng-include = "'ahaGuideView'"
    ng-init = "\
      state.showStep = 1;\
      state.showSubStep = 7;\
      state.showError = true;\
      state.showErrorType = 'exitedEarly';\
    "
  )

  .grid-block.environment-body.justify-center.clearfix(
    ng-class = "{'align-center justify-center': $root.featureFlags.aha1}"
  )
    .help-container(
      ng-class = "{\
        'fixed': helpUndock,\
        'top': helpUndock\
      }"
      ng-if = "helpCards.getActiveCard() && !$root.featureFlags.aha"
    )
      .help(
        ng-if = "helpCards.getActiveCard().targets.newContainer && state.newServerButton.active"
      )
        button.btn.btn-xs.btn-icon(
          ng-click = "helpCards.hideActiveCard()"
        )
          svg.iconnables.icons-close
            use(
              xlink:href = "#icons-close"
            )
        span(
          ng-bind-html = "helpCards.getActiveCard().helpPopover.newContainer"
        )
      .help(
        ng-if = "!(helpCards.getActiveCard().targets.newContainer && state.newServerButton.active)"
      )
        button.btn.btn-xs.btn-icon(
          ng-click = "helpCards.hideActiveCard()"
        )
          svg.iconnables.icons-close
            use(
              xlink:href = "#icons-close"
            )
        span(
          ng-bind-html = "helpCards.getActiveCard().helpTop"
        )

    .modal-dialog.modal-sm(
      ng-if = "$root.featureFlags.aha1 && !$root.featureFlags.ahaOverview"
    )
      .grid-block.align-center.aha-guide.padding-md(
        ng-include = "'ahaGuideView'"
        ng-init = "\
          state.showStep = 1;\
          state.showSubStep = 0;\
        "
      )

    .grid-block.card-grid.clearfix(
      ng-class = "{'padding-top': helpCards.getActiveCard().helpTop}"
      ng-if = "!$root.featureFlags.aha1"
      ng-include = "'viewCardGrid'"
    )

  footer.environment-footer.small.text-center(
    ng-if = "EC.showInviteButton"
  )
    a.link(
      ng-click = "EC.triggerModal.inviteTeammate()"
    )
      svg.iconnables.icons-team-invite
        use(
          xlink:href = "#icons-team-invite"
        )
      | Invite a teammate
    | &#32;to help you set up your project.

.grid-block.vertical.aha-sidebar.padding-sm.js-animate(
  ng-include = "'ahaSidebarView'"
  ng-if = "$root.featureFlags.aha && $root.featureFlags.ahaSidebar"
)
