//- new alerts
.grid-block.vertical.notification.notification-sm.js-animate.top-right(
  ng-class = "{\
    'green': EC.alert.type === 'success',\
    'red': EC.alert.type === 'deleted',\
    'plan-changed text-center': EC.alert.newPlan\
  }"
  ng-if = "EC.alert"
)
  .grid-block.align-center(
    ng-class = "{'justify-center': EC.alert.newPlan}"
  )
    svg.anchor-left.iconnables.icons-check(
      ng-if = "EC.alert.type === 'success'"
    )
      use(
        xlink:href = "#icons-check"
      )
    svg.anchor-left.iconnables.icons-trash(
      ng-if = "EC.alert.type === 'deleted'"
    )
      use(
        xlink:href = "#icons-trash"
      )
    span {{EC.alert.text}}
    a.link.small.link-undo(
      ng-if = "$root.featureFlags.undoDelete"
    ) Undo
  .grid-block.vertical(
    ng-if = "EC.alert.newPlan"
  )
    small.small You’ve been bumped into the next plan for&#32;
      strong.strong free
      | &#32;until your next billing period.&#32;
      //- to billing tab
      a.link(
        ng-click = "EC.actions.goToBilling()"
      ) Plan Details
    button.btn.btn-xs.green(
      ng-click = "EC.actions.closeAlert()"
    ) Got it, thanks!

//- environment page
.grid-block.environment-wrapper(
  ng-class = "{'empty': EC.isInGuide() && EC.isAddingFirstRepo() && data.instances.models.length === 0}"
)
  .popover.popover-environment.in(
    configure-intro
    ng-if = "EC.shouldShowExplanationUi()"
  )

  header.grid-block.align-center.environment-header(
    ng-include = "'viewEnvironmentHeader'"
    ng-init = "state.helpButton = {active: false}"
    ng-if = "!EC.isInGuide() || EC.showCreateTemplate"
  )

  .environment-view-aha-guide(
    ng-if = "EC.isInGuide()"
  )
    .grid-block.align-center.justify-center.padding-sm.aha-guide(
      aha-guide
      error-state = "true"
      ng-show = "EC.isAddingFirstRepo() && EC.errorState && data.instances.models.length"
      sub-step-index = 7
    )

    .grid-block.align-center.justify-center.padding-sm.aha-guide(
      aha-guide
      error-state = "true"
      ng-if = "EC.isInGuide() && !EC.isAddingFirstRepo() && !data.instances.models.length"
      sub-step = "deletedTemplate"
    )

  .grid-block.environment-body.justify-center.clearfix(
    ng-class = "{'align-center justify-center': EC.showCreateTemplate && !data.instances.models.length}"
  )
    .modal-dialog.modal-sm(
      ng-if = "EC.isInGuide() && EC.isAddingFirstRepo() && EC.showCreateTemplate && !data.instances.models.length"
    )
      .grid-block.align-center.aha-guide.padding-md(
        ng-include = "'ahaGuideView'"
        ng-init = "staticAddRepo = true; getClassname = EC.getClassForSubstep"
      )

    .grid-block.card-grid.clearfix(
      ng-if = "data.instances.models.length > 0 || !EC.isInGuide()"
      ng-include = "'viewCardGrid'"
    )

  footer.environment-footer.small.text-center(
    ng-if = "EC.showInviteButton"
  )
    a.link(
      ng-click = "EC.triggerModal.inviteTeammate()"
    )
      svg.iconnables.icons-team-invite
        use(
          xlink:href = "#icons-team-invite"
        )
      | Invite a teammate
    | &#32;to help you set up your project.
