//- alerts
.alert.help
  svg.iconnables.icons-check
    use(
      xlink:href = "#icons-check"
    )
  | Container added successfully

.environment-header.clearfix(
  ng-include = "'viewEnvironmentHeader'"
  ng-init = "state.helpButton = {active: false}"
)

.environment-body.card-grid.clearfix(
  ng-include = "'viewEnvironmentBody'"
)
