//- new alerts
.grid-block.vertical.notification.notification-sm.js-animate.top-right(
  ng-class = "{\
    'green': alert.type === 'success',\
    'red': alert.type === 'deleted',\
    'plan-changed text-center': $root.featureFlags.billingPlanChangedNotification\
  }"
  ng-if = "alert"
)
  .grid-block.align-center(
    ng-class = "{'justify-center': $root.featureFlags.billingPlanChangedNotification}"
  )
    svg.anchor-left.iconnables.icons-check(
      ng-if = "alert.type === 'success'"
    )
      use(
        xlink:href = "#icons-check"
      )
    svg.anchor-left.iconnables.icons-trash(
      ng-if = "alert.type === 'deleted'"
    )
      use(
        xlink:href = "#icons-trash"
      )
    span {{alert.text}}
    a.link.small.link-undo(
      ng-if = "$root.featureFlags.undoDelete"
    ) Undo
  .grid-block.vertical(
    ng-if = "$root.featureFlags.billingPlanChangedNotification"
  )
    small.small You’ve been bumped into the next plan for&#32;
      strong.strong free
      | &#32;until your next billing period.&#32;
      //- to billing tab
      a.link Plan Details
    button.btn.btn-xs.green Got it, thanks!

//- environment page
.environment-wrapper
  .grid-block.vertical.new-user-prompt(
    ng-if = "$root.featureFlags.newUserPrompt"
    ng-include = "'newUserPrompt'"
  )

  header.environment-header.clearfix(
    ng-include = "'viewEnvironmentHeader'"
    ng-init = "state.helpButton = {active: false}"
  )

  .environment-body.clearfix
    .help-container(
      ng-class = "{\
        'fixed': helpUndock,\
        'top': helpUndock\
      }"
      ng-if = "helpCards.getActiveCard()"
    )
      .help(
        ng-if = "helpCards.getActiveCard().targets.newContainer && state.newServerButton.active"
      )
        button.btn.btn-xs.btn-icon(
          ng-click = "helpCards.hideActiveCard()"
        )
          svg.iconnables.icons-close
            use(
              xlink:href = "#icons-close"
            )
        span(
          ng-bind-html = "helpCards.getActiveCard().helpPopover.newContainer"
        )
      .help(
        ng-if = "!(helpCards.getActiveCard().targets.newContainer && state.newServerButton.active)"
      )
        button.btn.btn-xs.btn-icon(
          ng-click = "helpCards.hideActiveCard()"
        )
          svg.iconnables.icons-close
            use(
              xlink:href = "#icons-close"
            )
        span(
          ng-bind-html = "helpCards.getActiveCard().helpTop"
        )

    .help-padding.no-touching(
      ng-bind-html = "helpCards.getActiveCard().helpTop"
      ng-if = "helpCards.getActiveCard()"
    )
    .card-grid.clearfix(
      ng-include = "'viewCardGrid'"
    )

  footer.environment-footer.small.text-center(
    ng-if = "EC.showInviteButton"
  )
    a.link(
      ng-click = "EC.triggerModal.inviteTeammate()"
    )
      svg.iconnables.icons-team-invite
        use(
          xlink:href = "#icons-team-invite"
        )
      | Invite a teammate
    | &#32;to help you set up your stack.
