img.img(
  height = "188"
  src = "/build/images/runnabear-jumping.png"
  width = "300"
)
svg.iconnables.icons-close
  use(
    xlink:href = "#icons-close"
  )
h1.grid-content.h1.align-center.text-center Welcome to Runnable!
p.p.text-center You made it to the configuration page; this is where you set up your app. Checkout the guides for common stacks if you need help getting started.
.grid-block
  a.grid-content.shrink.btn.btn-xs.blue(
    href = "https://runnable.zendesk.com/hc/en-us/articles/208383313-Node-js-"
    target = "_blank"
  ) Node.js
  a.grid-content.shrink.btn.btn-xs.blue(
    href = "https://runnable.zendesk.com/hc/en-us/articles/208033156-PHP"
    target = "_blank"
  ) PHP
  a.grid-content.shrink.btn.btn-xs.blue(
    href = "https://runnable.zendesk.com/hc/en-us/articles/208384523-Python"
    target = "_blank"
  ) Python
  a.grid-content.shrink.btn.btn-xs.blue(
    href = "https://runnable.zendesk.com/hc/en-us/articles/208032596-Rails"
    target = "_blank"
  ) Rails