//- alerts
.help-container.fixed.bottom
  .help(
    ng-if = "alert"
  )
    svg.iconnables.icons-check(
      ng-if = "alert.type === 'success'"
    )
      use(
        xlink:href = "#icons-check"
      )
    | {{alert.text}}

.environment-header.clearfix(
  ng-include = "'viewEnvironmentHeader'"
  ng-init = "state.helpButton = {active: false}"
)

.environment-body.clearfix
  .help-container(
    ng-class = "{fixed: helpUndock, top: helpUndock}"
    ng-if = "helpCards.getActiveCard()"
  )
    .help(
      ng-bind-html= "helpCards.getActiveCard().helpTop"
    )
  .help-padding.no-touching(
    ng-bind-html= "helpCards.getActiveCard().helpTop"
    ng-if = "helpCards.getActiveCard()"
  )
  .card-grid.clearfix(
    ng-include = "'viewCardGrid'"
  )