//- alerts
.alert.help(
  ng-if = "alert"
)
  svg.iconnables.icons-check(
    ng-if = "alert.type === 'success'"
  )
    use(
      xlink:href = "#icons-check"
    )
  | {{alert.text}}

.environment-header.clearfix(
  ng-include = "'viewEnvironmentHeader'"
  ng-init = "state.helpButton = {active: false}"
)

.environment-body.clearfix
  .help-step-container(
    ng-if = "helpCards.getActiveCard()"
  )
    .help.help-step-item(
      ng-class = "{undocked: helpUndock}"
      ng-bind-html= "helpCards.getActiveCard().helpTop"
    )
  .card-grid.clearfix(
    ng-include = "'viewCardGrid'"
  )