//- alerts
.help-container.fixed.bottom
  .help(
    ng-if = "EC.alert"
  )
    svg.iconnables.icons-check(
      ng-if = "EC.alert.type === 'success'"
    )
      use(
        xlink:href = "#icons-check"
      )
    | {{EC.alert.text}}

.environment-header.clearfix(
  ng-include = "'viewEnvironmentHeader'"
  ng-init = "EC.state.helpButton = {active: false}"
)

.environment-body.clearfix
  .help-container(
    ng-class = "{fixed: EC.helpUndock, top: EC.helpUndock}"
    ng-if = "EC.helpCards.getActiveCard()"
  )
    .help(
      ng-if = "EC.helpCards.getActiveCard().targets.newContainer && EC.state.newServerButton.active"
      ng-bind-html = "EC.helpCards.getActiveCard().helpPopover.newContainer"
    )
    .help(
      ng-if = "!(EC.helpCards.getActiveCard().targets.newContainer && EC.state.newServerButton.active)"
      ng-bind-html = "EC.helpCards.getActiveCard().helpTop"
    )
  .help-padding.no-touching(
    ng-bind-html = "EC.helpCards.getActiveCard().helpTop"
    ng-if = "EC.helpCards.getActiveCard()"
  )
  .card-grid.clearfix(
    ng-include = "'viewCardGrid'"
  )