svg.iconnables.icons-close(
  ng-click = "$root.featureFlags.newUserPrompt = !$root.featureFlags.newUserPrompt"
)
  use(
    xlink:href = "#icons-close"
  )
h1.grid-content.h1.justify-center.text-center Welcome to Runnable!
p.p.text-center You made it to the template page, where you set up your app. We’ve got guides for common stacks to help you get started.
.grid-block
  a.grid-content.shrink.btn.btn-xs.purple(
    href = "https://runnable.zendesk.com/hc/en-us/articles/208383313-Node-js-"
    target = "_blank"
  ) Node.js
  a.grid-content.shrink.btn.btn-xs.purple(
    href = "https://runnable.zendesk.com/hc/en-us/articles/208033156-PHP"
    target = "_blank"
  ) PHP
  a.grid-content.shrink.btn.btn-xs.purple(
    href = "https://runnable.zendesk.com/hc/en-us/articles/208384523-Python"
    target = "_blank"
  ) Python
  a.grid-content.shrink.btn.btn-xs.purple(
    href = "https://runnable.zendesk.com/hc/en-us/articles/208032596-Rails"
    target = "_blank"
  ) Rails
img.img(
  height = "188"
  src = "/build/images/runnabear-waving-3.png"
  width = "300"
)
