.environment-header.clearfix(
  ng-include = "'viewEnvironmentHeader'"
  ng-init = "state.helpButton = {active: false}"
)

.environment-body.card-grid.clearfix(
  ng-include = "'viewEnvironmentBody'"
)
