//- prototyping code
div(
  ng-init = "data.hasEnvironment = false"
)

.environment-header(
  ng-if = "data.hasEnvironment"
  ng-include = "'viewEnvironmentHeader'"
)

//- if no environment
.environment-body.card-grid(
  ng-if = "!data.hasEnvironment"
  ng-include = "'viewEnvironmentOrganizationSelect'"
)

.environment-body.card-grid(
  ng-if = "data.hasEnvironment"
  ng-include = "'viewEnvironmentBody'"
)