.environment-header(
  ng-if = "data.activeAccount"
  ng-include = "'viewEnvironmentHeader'"
)

//- if no environment
.environment-body.card-grid(
  ng-if = "!data.activeAccount"
  ng-include = "'viewEnvironmentOrganizationSelect'"
)

.environment-body.card-grid(
  ng-if = "data.activeAccount"
  ng-include = "'viewEnvironmentBody'"
)