.environment-header
  button.btn.green(
    modal
    modal-actions = "actions.actionsModalRepositorySelect"
    modal-data = "data.dataModalRepositorySelect"
    modal-template = "viewModalRepositorySelect"
  )
    svg.iconnables.icons-add.icons-round
      use(
        xlink:href = "#icons-add"
      )
    | New Server

.environment-body.card-grid
  .card.gray.disabled.load
    .card-header
      svg.iconnables.icons-server
        use(
          xlink:href = "#icons-server"
        )
      h2.h2 api
      p.p api-codenow-runnableapp.com
    ul.card-body
      li.btn.gray
        h3.h3
          svg.iconnables.icons-terminal
            use(
              xlink:href = "#icons-terminal"
            )
          | Start Command
        p.p npm start
        svg.iconnables.icons-arrow-down
          use(
            xlink:href = "#icons-arrow-down"
          )
      li.btn.gray
        h3.h3
          svg.iconnables.icons-terminal
            use(
              xlink:href = "#icons-terminal"
            )
          | Ports
        p.p 80 8000 8080 3000
        svg.iconnables.icons-arrow-down
          use(
            xlink:href = "#icons-arrow-down"
          )
      li.btn.gray
        h3.h3
          svg.iconnables.icons-terminal
            use(
              xlink:href = "#icons-terminal"
            )
          | Stack
        p.p node.js v0.10.28
        svg.iconnables.icons-arrow-down
          use(
            xlink:href = "#icons-arrow-down"
          )
      li.btn.gray
        h3.h3
          svg.iconnables.icons-terminal
            use(
              xlink:href = "#icons-terminal"
            )
          | Environment Variables
        p.p none defined
        svg.iconnables.icons-arrow-down
          use(
            xlink:href = "#icons-arrow-down"
          )

  //- .card.card-white.load
  //-   h2.card-header
  //-     svg.iconnables.icons-server
  //-       use(
  //-         xlink:href = "#icons-add"
  //-       )
  //-     | New…

//- //- step 1
//-   - choose organization
//- .setup-container.step-organization-select.card-grid(
//-   ng-if = "state.step === 1"
//-   ng-include = "'viewSetupOrganizationSelect'"
//-   ng-init = "state.loading = true"
//- )

//- //- step 2
//-   - user chooses repositories
//-   - server on the next step is created for each repo selected
//-     and for each dependency server
//- .setup-container.step-repository-select(
//-   ng-if = "state.step === 2"
//-   ng-include = "'viewSetupRepositorySelect'"
//-   ng-init = "state.loading = true"
//- )

//- //- step 3
//-   - setup env variables for all servers
//- .setup-container.step-environment-setup.card-grid(
//-   ng-if = "state.step === 3"
//-   ng-include = "'viewSetupEnvironmentVariables'"
//- )

//- //- step 4
//-   - configuration for server stack and their dependency servers
//- .setup-container.step-configure-servers.card-grid(
//-   ng-if = "state.step === 4"
//-   ng-include= "'viewSetupServers'"
//- )

//- .setup-footer(
//-   ng-if = "state.step > 1"
//- )
//-   .footer-container
//-     button.btn.gray.btn-back(
//-       ng-click = "state.step = state.step - 1"
//-     )
//-       svg.iconnables.icons-arrow-back
//-         use(
//-           xlink:href = "#icons-arrow-back"
//-         )
//-       | Back
//-     p.p 6 servers selected
//-     button.btn.green.btn-forward(
//-       ng-click = "state.step = state.step + 1"
//-       ng-disabled = "!state.repositorySelected"
//-     ) Next
//-       svg.iconnables.icons-arrow-forward
//-         use(
//-           xlink:href = "#icons-arrow-back"
//-         )
