.environment-header.clearfix(
  ng-if = "data.activeAccount"
  ng-include = "'viewEnvironmentHeader'"
)

.environment-body.card-grid.clearfix(
  ng-if = "data.activeAccount"
  ng-include = "'viewEnvironmentBody'"
)