.popover.menu.bottom(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  section.popover-content
    .list.popover-list
      small.list-item.popover-list-item.small.disabled Select Branch
      .list-item.popover-list-item.text-overflow
        svg.iconnables
          use(
            xlink:href = "#icons-branch-default"
          )
        | master
      .padding-xxs.text-gray.small
        strong.weight-bold Note:
        | &#32;When using a branch other than your default, we will only launch environments for the branches in this repository.
    ol.list.popover-list.padding-top-xxs
      li.list-item.popover-list-item.text-overflow
        svg.iconnables
          use(
            xlink:href = "#icons-branch"
          )
        | SAN-6392-delete-confirmation
      li.list-item.popover-list-item.text-overflow
        svg.iconnables
          use(
            xlink:href = "#icons-branch"
          )
        | add-delete-branch-tooltip
      li.list-item.popover-list-item.text-overflow
        svg.iconnables
          use(
            xlink:href = "#icons-branch"
          )
        | SAN-6257
      li.list-item.popover-list-item.text-overflow
        svg.iconnables
          use(
            xlink:href = "#icons-branch"
          )
        | fix-modal-tab-overflow
      li.list-item.popover-list-item.text-overflow
        svg.iconnables
          use(
            xlink:href = "#icons-branch"
          )
        | remove-dead-jade
