fancy-select.white.btn-wrapped.btn-sm(
  ng-disabled = "branchFetching || !state.repo.branches.models.length || $root.isLoading.creatingDockerCompose"
  ng-required = "true"
  on-update = "onBranchChange"
  spinner-flag = "branchFetching || !state.repo.branches.models.length"
  track-by = "attrs.name"
  value = "state.branch"
)

  .list-item.popover-list-item.small.disabled(
    ng-click = "$event.stopPropagation(); $event.preventDefault();"
  ) Select branch

  fancy-option(
    ng-if = "$root.featureFlags.multipleWebhooks && $parent.state.repo.branches.models.length && $parent.defaultBranch"
    value = "$parent.$parent.defaultBranch"
  )
    svg.iconnables.icons-branch
      use(
        xlink:href = "#icons-default"
      )
    | {{ value.attrs.name }}

  //- for $root.featureFlags.multipleWebhooks:
      hide everything below this comment when there is only one branch
  .divider(
    ng-if = "$root.featureFlags.multipleWebhooks"
  )

  .padding-xxs.text-gray.small(
    ng-if = "$root.featureFlags.multipleWebhooks"
  )
    strong.weight-bold Note:
    | &#32;When using a branch other than your default, we won’t launch environments for other repositories in your Compose file.

    input.margin-top-xxs.input.input-xs.input-search(
      ng-if = "$root.featureFlags.limitBranches"
      placeholder = "Search"
      required
      type = "search"
    )

  //- Empty state:
  //- .text-center.text-gray.small.padding-lg No results found.

  fancy-option(
    ng-if = "!$root.featureFlags.multipleWebhooks || branch.attrs.name !== 'master'"
    ng-repeat = "branch in $parent.state.repo.branches.models"
    value = "branch"
  )
    svg.iconnables.icons-branch
      use(
        xlink:href = "#icons-branch"
      )
    | {{$parent.branch.attrs.name}}

  //- should only appear if more than 100 branches listed
  .divider(
    ng-if = "$root.featureFlags.limitBranches"
  )
  small.padding-xs.grid-block.vertical.small.text-gray(
    ng-if = "$root.featureFlags.limitBranches"
    ng-include = "'searchLimitView'"
  )
