fancy-select.white.btn-wrapped(
  ng-disabled = "branchFetching || !state.repo.branches.models.length"
  ng-required = "true"
  on-update = "onBranchChange"
  spinner-flag = "branchFetching || !state.repo.branches.models.length"
  track-by = "attrs.name"
  value = "state.branch"
)
  li.list-item.popover-list-item.small.disabled(
    ng-click = "$event.stopPropagation(); $event.preventDefault();"
  ) Select branch
  fancy-option(
    ng-repeat = "branch in $parent.state.repo.branches.models"
    value = "branch"
  )
    svg.iconnables.icons-branch
      use(
        xlink:href = "#icons-branch"
      )
    | {{$parent.branch.attrs.name}}
