//- if not editing and behind latest
button.btn-xs.white.repository-update(
  ng-click = "selectLatestCommit(acv)"
  ng-if = "!edit && acv.githubRepo.state.activeBranch.state.activeCommit.state.commitsBehind"
  tooltip = "Fast-forward {{ acv.githubRepo.state.activeBranch.attrs.name }} \
             ({{ acv.githubRepo.state.activeBranch.state.activeCommit.state.commitsBehind ? \
               acv.githubRepo.state.activeBranch.state.activeCommit.state.commitsBehind +' commits behind' : \
               'To latest' }})"
  tooltip-options = "{\"class\":\"bottom\",\"top\":24}"
) {{ acv.githubRepo.state.activeBranch.state.activeCommit.state.commitsBehind }}
  svg.iconnables.icons-update
    use(
      xlink:href = "#icons-update"
    )
