.grid-block.align-center.vertical.padding-md
  //- if upgrading (from trial or changing plans):
  img.grid-content.img(
    height = "200"
    src = "/build/images/runnabear-jumping.png"
    width = "250"
  )

  h3.grid-content.h3.text-center {{currentOrg.poppa.isInTrial() ? 'Your payment method has been added' : 'Your payment has been submitted'}}!

  p.grid-content.p.text-center.text-gray(
    payment-summary
    show-next = "true"
    is-confirmation = "true"
  )

footer.modal-footer.clearfix
  button.btn.btn-md.btn-block.green(
    ng-if = "currentOrg.poppa.isInActivePeriod()"
  ) Go to your sandbox!
  button.btn.btn-md.btn-block.white(
    ng-click = "goToPanel('billingForm', 'back');"
    ng-if = "currentOrg.poppa.isInTrial()"
    type = "button"
  ) Billing Overview
