.top-bar {
  width: 100%;
  height: 72px;
  border-bottom: 1px solid #e0e0e0;
}

.server-sidebar {
  .row-heading {
    .h2 {
      left: 21px;
    }
  }
}

.row {
  border-bottom: 1px solid #e0e0e0;
  overflow: hidden;
  padding: 0 6px;

  &.closed {
    max-height: 61px;

    .icons-disclose {
      transform: rotate3d(0,0,1,-90deg);
    }
  }
}

.well, .select, .item {
  box-sizing: border-box;
}

.well {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  margin-bottom: 9px;
  position: relative;
  padding: 1px 6px 1px 0;

  .p {
    margin-left: 26px;
  }
}

.select {
  border-left: 1px solid #e0e0e0;
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  padding: 3px 6px 3px 0;

  .p {
    margin-left: 12px;
  }

  img {
    margin-bottom: -3px;
    margin-left: -3px
  }

  .icons-arrow-down {
    position: relative;
    width: 14px;
    top: 4px;
    margin-left: -5px;
    opacity: .55;
  }
}

.iconnables {
  position: absolute;
  left: 7px;
  top: 7px;
  height: 17px;
  width: 17px;
}

.nav-sidebar, .linked-servers {

  .item {
    position: relative;
    padding: 2px 0 5px 0;
  }

}

.indirect {
  padding-bottom: 6px;
  overflow: hidden;

  .item:nth-child(n+2) {
    margin-top: -6px;
  }

  .icons-disclose {
    opacity: .55;
  }

  &.closed {
    max-height: 36px;

    .icons-disclose {
      transform: rotate3d(0,0,1,-90deg);
    }
  }
}

.status-icon.new::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #1DD156;
  margin-left: -3px;
  margin-top: -3px;
  opacity: .36;
}

.status-icon.new::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #1DD156;
  margin-left: -6px;
  margin-top: -6px;
  opacity: .12;
}