// button.white.btn-icon.explorer-toggle
.explorer-toggle {
  left: 6px;
  position: absolute;
  top: 6px;
  z-index: $z-views-toggle;

  .out & {
    z-index: $z-views;
  }

  .in & {
    background: #f2f2f2; // rgba($black,.05)
    border: 1px solid #dadada; // rgba ($black,.1) on rgba($black,.05)
  }

  &:hover,
  &:active,
  &.active {
    background: #f2f2f2; // rgba($black,.05)
  }
}

// section.explorer
.explorer {
  border-right: 1px solid rgba($black,.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  transform: translate3d(-270px,0,0);
  transition: transform .15s ease-in;
  width: 270px;
  z-index: $z-views-explorer;

  .in & {
    transform: translate3d(0,0,0);
  }
}

// .explorer-controls
.explorer-controls {
  flex: 0 0 auto;
  height: 45px;
  margin-left: 45px;
  user-select: none;
  width: 270-45px;
}

// button.toggle-theme.tooltip
.toggle-theme {
  padding: 0;

  // tooltips
  &::before,
  &::after {
    font-weight: 300;
    margin-left: 12px;
    margin-top: 9px;
  }

  &.light > .theme::before {
    background: rgba($purple,.75);
  }

  &.dark > .theme::after {
    background: rgba($gray-dark,.75);
  }
}

.theme {
  height: 100%;
  width: 45px;

  &::before,
  &::after {
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 18px;
    margin: 15px auto;
    width: 18px;
  }

  &::before {
    background: rgba($purple,.25);
    border: 2px solid $purple;
  }

  &::after {
    background: rgba($gray-dark,.1);
    border: 2px solid $gray-dark;
    margin-left: -6px;
  }
}

// explorer header
.explorer-header {
  background: $gray-lightest;
  border-bottom: 1px solid rgba($black,.1);
  color: $gray-dark;
  flex: 0 0 auto;
  height: 36px;
  line-height: 36px;
  padding: 0 9px;
  position: relative;

  > .btn {
    float: right;
    margin-top: 6px;
  }
}