// button.toggle-theme.tooltip
.toggle-theme {
  padding: 0;

  // tooltips
  &::before,
  &::after {
    font-weight: 300;
    margin-left: 12px;
    margin-top: 9px;
  }

  &.light > .theme::before {
    background: rgba($purple,.75);
  }

  &.dark > .theme::after {
    background: rgba($gray-dark,.75);
  }
}

.theme {
  height: 100%;
  width: 45px;

  &::before,
  &::after {
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 18px;
    margin: 15px auto;
    width: 18px;
  }

  &::before {
    background: rgba($purple,.25);
    border: 2px solid $purple;
  }

  &::after {
    background: rgba($gray-dark,.1);
    border: 2px solid $gray-dark;
    margin-left: -6px;
  }
}

// explorer header
.explorer-header {
  background: $gray-lightest;
  border-bottom: 1px solid rgba($black,.1);
  color: $gray-dark;
  flex: 0 0 auto;
  height: 36px;
  line-height: 36px;
  padding: 0 9px;
  position: relative;

  > .btn {
    float: right;
    margin-top: 6px;
  }
}