// section.views
.views {
  float: right;
  height: calc(100% - 60px); // 60px = height of .box-header
  overflow: hidden;
  position: relative;
  width: calc(100% - 300px); // 300px = width of .box-sidebar
  z-index: $z-views;
}