// ul.tabs
.tabs {
  display: flex;
  flex: 1 1 auto;
  height: $input-md;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

// li.tab-wrapper
.tab-wrapper {
  align-items: center;
  border-right: 1px solid $gray-lighter;
  color: $gray-dark;
  cursor: pointer;
  display: flex;
  height: $input-md;
  justify-content: center;
  max-width: 300px;
  padding: 0 15px;
  text-align: center;

  &:hover {
    color: $gray-darker;
  }

  &:active,
  &.active {
    color: $purple-light;
    cursor: default;
    font-weight: 500;
  }

  .icons-dirty {
    color: $gray;
    flex: 0 0 auto;
    font-size: 21px;
    font-weight: $weight-normal;
    user-select: none;
    z-index: 1;
  }

  .icons-alert {
    color: $red;
    flex: 0 0 auto;
    height: 16px;
    margin-right: 6px;
    width: 16px;
  }

  .btn-close {
    border: 0;
    color: $gray;
    flex: 0 0 auto;
    height: 17px;
    left: 5px;
    width: 17px;

    &:hover {
      color: $red;
    }

    &:active {
      color: $red-dark;
    }

    .icons-close {
      left: 0;
      position: absolute;
      top: 0;
    }
  }
}

// span.tab-name
.tab-name {
  font-size: 15px;
  margin-top: 21px;

  &::after {
    content: attr(ng-data-title);
    display: block;
    font-weight: 500;
    opacity: 0;
    pointer-events: none;
  }
}
