// section.views
.views {
  background: $ace-bg;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: $z-views;

  &.full-screen {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: $z-modal;
  }

  // for debug
  &.full-height {
    height: calc(100vh - 61px);

    &.deprecated {
      height: calc(100vh - 72px);
    }
  }
}
