.views-prompt {
  background-color: darken($white,3%);
  bottom: 0;
  box-sizing: border-box;
  color: $gray;
  height: 74px;
  min-width: 610px;
  padding: 15px 9px 15px 18px;
  position: absolute;
  transition: bottom .2s ease-in;
  width: 100%;
  z-index: $z-views-active-panel;

  .button-container {
    float: right;
  }

  &.hide {
    bottom: -74px;
  }

  .p {
    float: left;
    font-size: 15px;
    line-height: 19px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    word-wrap: break-word;

    @media (max-width: 1210px) {
      width: 120px;
    }


  }

  .btn {
    float: left;
    margin-left: 9px;
    width: 192px;
  }

  .white {
    background-color: rgba($black,.04);
    border-color: rgba($black,.09);
  }

  .iconnables {
    height: 21px;
    width: 21px;
  }

  .icons-close {
    fill: rgba($gray,.5);
  }

  .icons-edit {
    fill: $white;
    margin: 0 4px -4px -3px;
  }

  .btn-close-panel {
    border: 1px solid transparent;
    border-radius: 13px;
    height: 25px;
    line-height: 33px;
    margin-top: 11px;
    padding: 0;
    width: 25px;

    &:hover {
      background-color: rgba($gray,.12);
      border: 1px solid rgba($gray,.5);
    }

  }

}

.ace-runnable-dark ~ .views-prompt {
  background-color: desaturate(lighten($purple-darker,5%),10%);
  color: rgba($white,.68);

  .orange {
    border-color: transparent;
  }

  .white {
    background-color: rgba($white,.05);
    border-color: rgba($white,.1);
    color: inherit;

    &:hover {
      background-color: rgba($white,.08);
    }
  }

  .icons-close {
    fill: rgba($white,.4);
  }

  .btn-close-panel:hover {
    background-color: rgba($white,.05);
    border: 1px solid rgba($white,.25);
  }

}