// section.views
.views {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 72px); // viewport - header
  overflow: hidden;
  position: relative;
  z-index: $z-views;

  .spinner-backdrop {
    position: absolute;
  }
}