.file-tree {
  font-size: 12px;
  font-weight: 400;
  height: 100%;
  overflow: auto;

  li {
    padding: 0;
    position: relative;
    text-indent: 20px;
    transition: height .2s;

    > ul > li {
      text-indent: 40px;

      > ul > li {
        text-indent: 60px;

        > ul > li {
          text-indent: 80px;

          > ul > li {
            text-indent: 100px;

            > ul > li {
              text-indent: 120px;

              > ul > li {
                text-indent: 140px;
              }
            }
          }
        }
      }
    }
  }
}

.tree-input,
.tree-input:focus {
  background: $white;
  border-color: rgba($black,.1);
  box-shadow: none;
  cursor: text;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  padding: 0 3px;
  position: absolute;
  top: 3px;
  width: calc(100% - 37px);

  &[readonly] {
    background: none;
    border: 1px solid transparent;
    opacity: 0;
    pointer-events: none;
    width: auto;

    & ~ .item-name {
      opacity: 1;
    }
  }

  & ~ .item-name {
    opacity: 0;
  }
}

.item-name {
  margin-left: 5px;
  pointer-events: none;
}

.file-tree {
  white-space: nowrap;

  li {
    cursor: pointer;
    height: 28px; // default height
    line-height: 28px;

    &.active {
      font-weight: 600;
    }

    a {
      display: block;

      &:hover {
        color: currentColor;
      }

      &:active,
      &.active {
        color: $gray-darkest;
        font-weight: 600;
      }
    }
  }

  // folders
  .folder {
    height: auto;

    &::after {
      @extend .arrow-right;
      border-left-color: rgba($black,.2) !important;
      content: '';
      left: 7px;
      pointer-events: none;
      top: 10px;
      transform-origin: 3px 4px;
      transition: transform .2s;
    }

    &.in {

      &::after {
        transform: rotate3d(0,0,1,90deg);
      }

      > ul {
        max-height: none;
        overflow: visible;
      }
    }

    &.dropping > a {
      font-weight: 600;
    }

    > ul {
      max-height: 0;
      overflow: hidden;

      > .folder {

        &::after {
          left: 27px;
        }

        > ul > .folder {

          &::after {
            left: 47px;
          }

          > ul > .folder {

            &::after {
              left: 67px;
            }

            > ul > .folder {

              &::after {
                left: 87px;
              }

              > ul > .folder {

                &::after {
                  left: 107px;
                }

                > ul > .folder {

                  &::after {
                    left: 127px;
                  }

                  > ul > .folder {

                    &::after {
                      left: 147px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}