// toolbar
.views-tabs {
  @extend %webkit-flicker;
  background: $white;
  flex: 0 0 45px;
  overflow: visible;
  position: relative;
  transition: all .15s ease-in;
}

// toolbar tabs
.btn-add-tab {
  box-shadow: -12px 0 12px rgba($white,.9);
  position: absolute;
  right: 6px;
  top: 5px;

  .icons-add {
    top: 1px;
  }
}

// editor toolbar
.views-toolbar {
  align-items: center;
  background: $purple-dark;
  border-bottom: 1px solid $purple-darker;
  border-top: 1px solid $purple-darker;
  display: flex;
  padding: 6px 6px 6px 10px;

  // path/title
  .small {
    color: $purple-lighter;
    flex: 1 1 auto;
    line-height: 24px;
    margin-right: 6px;
  }

  // save buttons
  .btn + .btn {
    margin-right: 6px;
  }
}