// folders and files
.file-tree {
  font-size: 13px;
  margin: 0 6px;
  user-select: none;
  white-space: nowrap;

  // files & folders
  li {
    cursor: pointer;
    // height: 28px; // default height
    line-height: 26px;
    padding: 0;
    position: relative;

    // offsets for nesting folders and inputs
    @for $i from 0 to 10 {
      @include depth($i);
    }

    // states
    &.active a,
    &.active a:hover {
      background: rgba($purple-light,.15);
      border-color: rgba($purple-light,.15);
      color: $purple-light;
      cursor: default;
      font-weight: 500;
    }

    a {
      border: 1px solid transparent;
      border-radius: 3px;
      display: block;
      margin-bottom: 2px;
      overflow: hidden;
      padding-left: 15px;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        background: rgba($gray-darker,.125);
        border-color: rgba($gray-darker,.15);
      }

      &:active {
        background: rgba($purple-light,.15);
        border-color: rgba($purple-light,.15);
        color: $purple-light;
        font-weight: 500;
        transition: none;
      }
    }

    // folders
    &.folder {
      height: auto;
      margin-bottom: 2px;

      &::after {
        @extend .arrow-right;
        border-left-color: rgba($black,.2) !important;
        content: '';
        pointer-events: none;
        top: 10px;
        transform-origin: 3px 4px;
        transition: transform .15s;
      }

      &.in {

        &::after {
          transform: rotate3d(0,0,1,90deg);
        }

        > ul {
          max-height: none;
          overflow: visible;
        }
      }

      &.dropping > a {
        font-weight: 500;
      }

      > ul {
        max-height: 0;
        overflow: hidden;
      }
    }
  }

  // repository icon
  .icons-repository {
    float: left;
    height: 21px;
    left: 36px;
    margin-right: -4px;
    width: 21px;
  }

  // spinners
  .spinner-wrapper {
    display: inline-block;
    margin-right: 3px;
    position: relative;
    top: 3px;
  }
}

// renaming files & folders
.tree-input,
.tree-input:focus {
  background: $white;
  border-color: rgba($purple-light,.3);
  box-shadow: none;
  cursor: text;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  padding: 0 3px;
  position: absolute;
  top: 4px;

  &[readonly] {
    border: 1px solid transparent;
    opacity: 0;
    pointer-events: none;

    // show item name is input is [readonly]
    & ~ .item-name {
      opacity: 1;
    }
  }

  // hide item name when input has :focus (& not [readonly])
  & ~ .item-name {
    opacity: 0;
  }
}

.item-name {
  margin-left: 5px;
  pointer-events: none;
}
