.view-new-service {

  .modal-form {
    padding-top: $md;
  }

  .label-tabs {
    margin-bottom: $md;

    @include media(xs) {
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      max-width: 330px;
    }

    .btn-radio {
      border-radius: $input-border-radius-lg;
      flex: 1 1 50%;
      height: auto;
      padding-bottom: $xs;
      padding-top: $xs;
      white-space: normal;

      &.active .btn-add {
        background: rgba($purple-light,.1);
        border-color: $purple-light;
        color: $purple-light;
      }

      + .btn-radio {
        margin-left: $xxs;

        @include media(xs) {
          margin-left: 0;
          margin-top: $xxs;
        }
      }
    }

    .btn-add {
      border-radius: 50%;
      margin-right: $xs;
    }
  }

  // for the nested compose test file
  .well > .label {
    margin-bottom: 0;
    padding: $sm;

    + .label {
      margin-top: 0;
    }
  }
}
