// .active-panel
.active-panel {
  height: 100%;
  position: relative;
  z-index: $z-views-active-panel;

  &.ace-runnable-dark {
    background-color: $purple-darker;

    > .btn {
      background: $purple-dark;
      border-color: $purple;
      color: $purple-lighter;
      transform: rotate3d(0,0,1,180deg);
    }
  }

  &.ace-runnable-light {
    background-color: $gray-lighterest;
    border-top: 1px solid $gray-lighter;

    > .btn {
      background: $gray-lighter;
      border-color: $gray-light;
      color: $gray-dark;
    }
  }

  // for tabs when in views
  .views & {
    height: calc(100% - 45px);
  }

  // controls
  > .btn {
    border: 1px solid;
    opacity: .5;
    padding: 0;
    position: absolute;
    right: 6px;
    top: 6px;
    width: 24px;
    z-index: $z-views;

    &:hover,
    &:active {
      opacity: 1;
    }

    .iconnables {
      height: 100%; // vertically center
      width: 12px;
    }
  }

  // ace overrides
  .ace_scrollbar {
    overflow: hidden;
  }

  .ace_text-input {
    font-size: 16px;
  }

  // panels
  > div {
    height: 100%;

    // extra space if terminal in views
    .views & {

      &.logs {
        height: calc(100% - 30px);
      }
    }
  }
}

// keeps log on bottom (iterm)
#log {
  height: 10px;
}

// terminal
.term-container {
  cursor: text;
}

div.terminal { // div specificity required b/c there's a term.terminal
  @extend %pre;
  padding: 9px;

  .ace-runnable-dark & {
    background: $purple-darker !important; // override term
    color: $white !important;

    .terminal-cursor {
      background: $purple-light;
    }
  }

  .ace-runnable-light & {
    background: $gray-lighterest !important;
    color: $gray-dark !important;

    .terminal-cursor {
      background: $gray-light;
    }
  }
}

.term-container,
.terminal {
  height: 100%;
  width: 100%;
}

// web view
.web-container {

  .iframe {
    height: 100%;
    width: 100%;
  }
}

// .blank-panel
.blank-panel {
  align-items: center;
  display: flex;
  height: calc(100% - 45px);
  justify-content: center;

  .btn {
    height: auto;
    line-height: inherit;
    padding: 15px;

    + .btn {
      margin-left: 6px;
    }
  }

  .iconnables {
    display: block;
    margin: 0 auto 6px;
  }
}