// folders and files
.file-tree {
  font-size: 13px;
  white-space: nowrap;

  // files & folders
  li {
    cursor: pointer;
    height: 28px; // default height
    line-height: 28px;
    margin-top: 1px;
    padding: 0;
    position: relative;

    // offsets for nesting folders
    @for $i from 0 to 10 {
      @include depth($i);
    }

    // states
    &.active a {
      background: rgba($blue,.15);
      border-color: #a7ddf9; // rgba($blue,.3);
      font-weight: 500;
    }

    a {
      border-bottom: 1px solid transparent;
      border-top: 1px solid transparent;
      display: block;
      padding-left: 15px;

      &:hover {
        background: rgba($blue,.1);
        border-color: #c1e7fa; // rgba($blue,.2);
      }

      &:active {
        background: rgba($blue,.15);
        border-color: #a7ddf9; // rgba($blue,.3);
        font-weight: 500;
        transition: none;
      }
    }

    // folders
    &.folder {
      height: auto;

      &::after {
        @extend .arrow-right;
        border-left-color: rgba($black,.2) !important;
        content: '';
        pointer-events: none;
        top: 10px;
        transform-origin: 3px 4px;
        transition: transform .15s;
      }

      &.in {

        &::after {
          transform: rotate3d(0,0,1,90deg);
        }

        > ul {
          max-height: none;
          overflow: visible;
        }
      }

      &.dropping > a {
        font-weight: 500;
      }

      > ul {
        max-height: 0;
        overflow: hidden;
      }
    }
  }

  // repository icon
  .icons-repository {
    float: left;
    height: 21px;
    left: 36px;
    margin-right: -4px;
    width: 21px;
  }
}

// renaming files & folders
.tree-input,
.tree-input:focus {
  background: $white;
  border-color: rgba($black,.1);
  box-shadow: none;
  cursor: text;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  padding: 0 3px;
  position: absolute;
  top: 3px;
  width: calc(100% - 37px);

  &[readonly] {
    background: none;
    border: 1px solid transparent;
    opacity: 0;
    pointer-events: none;
    width: auto;

    & ~ .item-name {
      opacity: 1;
    }
  }

  & ~ .item-name {
    opacity: 0;
  }
}

.item-name {
  margin-left: 5px;
  pointer-events: none;
}