// .browser-chrome
.browser-chrome {
  background: $gray-lightest;
  border-bottom: 1px solid rgba($black,.1);
  display: flex;
  height: 45px;
  padding: 0 3px;
  position: relative;
  z-index: 1;

  // states for refresh/stop icons
  &.browser-loading {

    .icons-refresh {
      transform: scale3d(0,0,0);
    }

    .icons-stop {
      transform: scale3d(1,1,1);
    }
  }

  .btn-icon,
  .iconnables-container {
    float: left;
    pointer-events: auto;

    .btn-icon {
      position: absolute;
    }

    &[disabled] {
      cursor: default;
      opacity: .5;
    }
  }

  .icons-stop {
    transform: scale3d(0,0,0);
  }

  .form-control {
    background: transparent;
    border: 0;
    box-shadow: none;
    flex: 1 1 auto;
    width: auto;

    &:hover,
    &:focus,
    &:active,
    &.active {
      box-shadow: none;
    }
  }
}