// toolbar
.views-tabs {
  background: $ace-bg;
  border-bottom: 1px solid $purple-darkest;
  display: flex;
  flex: 0 0 auto;
  font-weight: $weight-normal;
  margin: 0 12px;
  overflow: visible;
  padding: 12px 0;
  position: relative;
}

// toolbar tabs
.btn-add-tab {
  background: $purple-dark;
  border: 1px solid $purple-darkest;
  color: $purple-lighter;
  flex: 0 0 $input-xs;
  padding: 2px;
  top: 6px;

  &:hover:not([disabled]) {
    background: lighten($purple-dark,6%);
  }

  &:active:not([disabled]),
  &.active {
    background: lighten($purple-dark,9%);
  }

  .iconnables {
    height: 100%;
    width: 100%;
  }
}

.views-toolbar {
  align-items: center;
  border: 1px solid;
  border-radius: $input-border-radius;
  display: flex;
  flex: 0 0 auto;
  font-weight: $weight-normal;
  height: $input-md;
  justify-content: flex-end;
  margin: 12px 12px 0;
  overflow: hidden;
  padding: 0 12px;

  .modal-dialog & {
    border-radius: $input-border-radius $input-border-radius 0 0;
  }

  &.purple .btn {
    @extend %toolbar-btn-purple;
  }

  &.orange {
    background: $orange;

    .btn {
      @extend %toolbar-btn-orange;
    }
  }

  &.green {
    background: $green;

    .btn {
      @extend %toolbar-btn-green;
    }
  }

  &.red {
    background: $red;

    .btn {
      @extend %toolbar-btn-red;
    }
  }

  + .views-toolbar {
    margin-top: 6px;
  }

  > .iconnables {
    flex: 0 0 auto;
    height: 18px;
    margin-right: 6px;

    &.icons-alert {
      color: $orange;
    }
  }

  .icons-external {
    height: 12px;
    top: 2px;
  }

  // path/title
  .p {
    flex: 1 1 auto;
    margin-right: 12px;
  }

  // duration
  > .duration {
    margin-right: 12px;

    .iconnables {
      margin-right: 3px;
      width: 15px;
    }
  }

  .btn-group .btn + .btn {
    margin-left: -1px;
    min-width: 26px;
  }

  // save buttons
  .btn + .btn {
    margin-left: 6px;
  }

  // url label
  .label-url {
    flex: 0 0 auto;
    opacity: .5;
  }

  // web error button
  .btn-web-state {
    cursor: default;
    font-family: $sans-serif;
    opacity: .5;
    padding: 0;

    .icons-alert {
      height: 12px;
      opacity: .9;
    }
  }
}
