// .browser-chrome
.browser-chrome {
  background: $white;
  border-bottom: 1px solid rgba($black,.1);
  height: 45px;
  padding: 4px 6px;
  position: relative;
  z-index: 1;

  // link icon
  .icons-link {
    float: left;
    margin-right: 6px;
    top: 6px;
  }

  .input {
    background: rgba($purple-light,.1);
    border-color: rgba($purple-light,.2);
    color: $purple-light;
    display: block;
    font-size: 15px;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }
}