// folders and files
.file-tree {
  font-size: 13px;
  margin: 0 6px;
  user-select: none;
  white-space: nowrap;

  + .file-tree {
    border-top: 1px solid rgba($black,.1);
    margin-top: 6px;
    padding-top: 6px;
  }

  // files & folders
  li {
    cursor: pointer;
    line-height: 26px;
    padding: 0;
    position: relative;

    // offsets for nesting folders and inputs
    @for $i from 0 to 10 {
      @include depth($i);
    }

    // states
    &.not-toggleable {
      cursor: default;

      // hide arrow
      &::after {
        opacity: 0;
      }

      > a {
        background: transparent !important;
        border-color: transparent !important;
        color: $gray-darker !important;
      }
    }

    &.context-click a {
      border-color: rgba($purple-light,.3);
    }

    &.active a,
    &.active a:hover {
      background: rgba($purple-light,.15);
      border-color: rgba($purple-light,.15);
      color: $purple-light;
      cursor: default;
      font-weight: 500;
    }

    a {
      border: 2px solid transparent;
      border-radius: 3px;
      display: block;
      margin-bottom: 2px;
      max-height: 28px;
      overflow: hidden;
      padding-left: 15px;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        background: rgba($gray-darker,.125);
        border-color: rgba($gray-darker,.15);
      }

      &:active {
        background: rgba($purple-light,.15);
        border-color: rgba($purple-light,.15);
        color: $purple-light;
        transition: none;
      }
    }

    // uploading
    &.in-progress {
      color: $blue;
      pointer-events: none;

      > a {
        border-color: rgba($blue,.2);
        position: relative;
      }
    }

    // folders
    &.folder {
      height: auto;
      margin-bottom: 2px;

      &::after {
        @extend %arrow-right;
        border-left-color: rgba($black,.2) !important;
        content: '';
        display: block;
        pointer-events: none;
        position: absolute;
        top: 10px;
        transform-origin: 3px 4px;
        transition: transform .15s;
      }

      &.in {

        &::after {
          transform: rotate3d(0,0,1,90deg);
        }

        > ul {
          max-height: none;
          overflow: visible;
        }
      }

      &.dropping > a {
        font-weight: 500;
      }

      > ul {
        max-height: 0;
        overflow: hidden;
      }
    }
  }

  // spinners
  .spinner-wrapper {
    background: none !important;
    display: inline-block;
    position: relative !important; // override default position
    top: -1px;
  }
}

// renaming files & folders
.tree-input,
.tree-input:focus {
  background: $white;
  border: 1px solid rgba($black,.15);
  border-radius: 2px;
  box-shadow: none;
  cursor: text;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 3px;
  position: absolute;
  top: 4px;

  &[readonly] {
    opacity: 0;
    pointer-events: none;

    // show item name is input is [readonly]
    & ~ .item-name {
      opacity: 1;
    }
  }

  // hide item name when input has :focus (& not [readonly])
  & ~ .item-name {
    opacity: 0;
  }
}

.item-name {
  margin-left: 4px;
  pointer-events: none;
  position: relative;
  top: -1px;
}

.btn-file-errors,
.btn-file-action {
  position: absolute;
  right: 0;
}

// errors
.btn-file-errors {
  border: 0;
  border-radius: 9px;
  font-size: 14px;
  height: 18px;
  line-height: 18px;
  margin: 3px 5px;
  pointer-events: none;
  text-align: center;
  text-indent: 0;
  width: 18px;

  + .btn-file-action {
    right: 24px;
  }
}

// action icons
.btn-file-action {
  background: $gray-lighterest;
  border: 0;
  border-radius: 50%;
  margin: 5px;
  padding: 0;
  width: 18px;

  &:hover,
  &:active,
  &.active {

    .iconnables {
      color: $purple-light;
    }
  }

  &:active,
  &.active {
    background: transparent;
  }

  .iconnables {
    color: $gray;
    height: 100%;
    width: 15px;
  }
}
