// toolbar
.views-tabs {
  @extend %webkit-flicker;
  background: $white;
  flex: 0 0 45px;
  overflow: visible;
  position: relative;
  transition: all .15s ease-in;
}

// toolbar tabs
.btn-add-tab {
  height: 45px;
  position: absolute;

  .icons-add {
    top: 1px;
    width: 24px;
  }
}

// editor toolbar
.views-toolbar-wrapper {
  flex: 0 0 auto;
}

.views-toolbar {
  align-items: center;
  display: flex;
  height: 36px;
  padding: 0 6px 0 9px; // match toggle and log padding

  // when there are multiple
  + .views-toolbar {
    margin-top: -1px;
  }

  // path/title
  .small {
    flex: 1 1 auto;
    line-height: 37px;
    padding-right: 9px;

    .span {
      padding-left: 9px;
    }
  }

  // buttons
  .btn-toolbar {
    flex: 0 0 auto;
  }

  .btn-group .btn + .btn {
    margin-left: -1px;
    min-width: 26px;
  }

  // save buttons
  .btn + .btn {
    margin-left: 6px;
  }
}