// .active-panel
.active-panel {
  background-color: $purple-darker;
  height: 100%;
  position: relative;
  z-index: $z-views-active-panel;

  // for tabs when in views
  .views & {
    height: calc(100% - 45px);
  }

  // ace overrides
  .ace_scrollbar {
    overflow: hidden;
  }

  .ace_text-input {
    font-size: 16px;
  }

  // panels
  > div {
    height: 100%;

    // extra space if terminal in views
    .views & {

      &.logs {
        height: calc(100% - 30px);
      }
    }
  }
}

// .blank-panel
.blank-panel {
  align-items: center;
  display: flex;
  height: calc(100% - 45px);
  justify-content: center;

  .btn {
    height: auto;
    line-height: inherit;
    padding: 15px;

    + .btn {
      margin-left: 6px;
    }
  }

  .iconnables {
    display: block;
    margin: 0 auto 6px;
  }
}