// .browser-chrome
.browser-chrome {
  background: $gray-lightest;
  border-bottom: 1px solid rgba($black,.1);
  display: flex;
  height: 45px;
  padding: 0 3px;
  position: relative;
  z-index: 1;

  // states for refresh/stop icons
  &.browser-loading {

    .progress {
      opacity: 1;
    }

    .icons-refresh {
      transform: scale3d(0,0,0);
    }

    .icons-stop {
      transform: scale3d(1,1,1);
    }
  }

  // progress bar
  .progress {
    background: $orange;
    bottom: 0;
    display: block;
    height: 2px;
    left: 0;
    opacity: 0;
    position: absolute;
    transform: scale3d(0,1,1);
    transform-origin: 0 0;
    transition: opacity .3s, transform .1s;
    width: 100%;
  }

  .btn-icon,
  .iconnables-container {
    float: left;
    pointer-events: auto;

    .btn-icon {
      position: absolute;
    }

    &[disabled] {
      cursor: default;
      opacity: .5;
    }
  }

  .icons-stop {
    transform: scale3d(0,0,0);
  }

  .form-control {
    background: transparent;
    border: 0;
    box-shadow: none;
    flex: 1 1 auto;
    width: auto;

    &:hover,
    &:focus,
    &:active,
    &.active {
      box-shadow: none;
    }
  }
}