// .active-panel
.active-panel {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: $z-views-active-panel;

  &.ace-runnable-light {
    border-top: 1px solid $gray-lighter;
  }

  // hide scrollbar (still allows scrolling)
  .ace_scrollbar {
    overflow: hidden;
  }

  // prevent mobile zoom
  .ace_text-input {
    font-size: 16px;
  }

  // ace container
  > .ace-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    > .ace_editor {
      flex: 1 1 auto;
    }
  }
}

// .blank-panel
.blank-panel {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  padding: 18px;

  // override monospace inside build logs
  .modal-logs & {
    font-family: $sans-serif;
  }

   // dark theme
  .ace-runnable-dark & {
    color: $purple-lighter;
  }

  .p {
    font-size: 18px;
    white-space: normal;
    word-break: break-word;

    + .btn {
      margin-top: 12px;
    }
  }

  .btn.purple {
    background: $purple;
    border: 1px solid $purple-darker;

    &:hover {
      background: $purple-light;
    }
  }

  // intercom link
  .small {
    bottom: 15px;
    font-size: 15px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  .link {

    .ace-runnable-dark &:active {
      color: $white;
    }

    .ace-runnable-light &:active {
      color: $purple-light;
    }

    &::before {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAQAAAC0jZKKAAABnklEQVR4AdXOP2gUdgDF8acnElQSEOuSbhUd1CEB0UDQQQiIZBNFUTDgkkEwgqPgqDgGgzjoEhd10kgG/4xOIbTQXKF0aEoqKMYhWXpG83EIx8ER5Jr73ZDP27+81Ok3rqpmo2qqxvXJ2iKi26RVJayatKse7vGrkn73k0RMKe2lxGmdcCqe6YQn8V4nLMQ3nfA1OiRaUTPpogHHXfbUl1LhGftEY/vNlAjP6ZGm9ai2Hx4WUXHVC89dEhFD7Yd7RVxXd17EVp/bDY+KPT6oeyAiqu2GmbOoYUzElvYeN1t233YRRykVfmfANhFR8bpc+KSszU6PKRceFLHXmHnKh0dhk4SHRdwsH/7DGSMWi4frNlF4yi/6/VY+/LOI4fLhYyKuaFHUtOYfN9yypDX/xV864c+4pxPG45AVpa04GHFHabclouKRkh6qSKxtxL9KWDAiIlFfl3MmTHvjk/UsmfXqB5s24awuaYSb1+2tZnftkP+zWG8nNLDqmkiJ8GENNRekVLhP3bIhKRceBHx0RMqH/3ZAyoZ3mzerVza+70aAaX0tAGh+AAAAAElFTkSuQmCC');
      background-size: 16px 16px;
      content: '';
      display: inline-block;
      height: 16px;
      margin-right: 6px;
      opacity: .75;
      position: relative;
      top: 4px;
      width: 16px;
    }
  }
}

.btn-open-tab {
  font-size: 14px;
  height: auto;
  line-height: inherit;
  padding: 15px 18px;

  .ace-runnable-dark &:hover,
  .ace-runnable-dark &:active {
    color: $white;
  }

  .ace-runnable-light &:hover,
  .ace-runnable-light &:active {
    color: $purple-light;
  }

  .iconnables {
    display: block;
    height: 36px;
    margin: 0 auto 6px;
    width: 36px;
  }
}
