// ul.tabs
.tabs {
  align-items: center;
  background: $ace-bg;
  display: flex;
  margin-left: -9px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 9px;
  white-space: nowrap;

  &::after {
    content: '';
    display: block;
    flex: 0 0 9px;
    height: $input-sm;
  }
}

// li.tab-wrapper
.tab-wrapper {
  align-items: center;
  background: $purple-dark;
  border: 1px solid $purple-darkest;
  border-radius: $input-border-radius;
  color: $white;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  font-size: 15px;
  height: $input-sm;
  max-width: 300px;
  padding: 0 12px;
  text-align: center;

  + .tab-wrapper {
    margin-left: 9px;
  }

  &:hover {
    background: lighten($purple-dark,6%);
  }

  &:active,
  &.active {
    background: lighten($purple-dark,9%);
    cursor: default;
  }

  .icons-dirty {
    flex: 0 0 auto;
    font-size: 21px;
    font-weight: $weight-normal;
    user-select: none;
  }

  .icons-alert {
    color: $red;
    flex: 0 0 auto;
    height: 16px;
    margin-right: 6px;
    width: 16px;
  }

  .btn-close {
    border: 0;
    border-radius: $input-border-radius;
    color: $purple-lighter;
    flex: 0 0 auto;
    height: 15px;
    left: 5px;
    margin: 0 3px;
    width: 15px;

    &:hover {
      background: $red;
      color: $white;
    }

    &:active {
      background: $red;
      color: $white;
    }

    .icons-close {
      left: 0;
      position: absolute;
      top: 0;
    }
  }
}
