// .active-panel
.active-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  transform: translate3d(0,0,0);
  transition: all .15s ease-in;
  width: 100%;
  z-index: $z-views-active-panel;

  &.loaded ~ .horizontal-spinner {
    display: none;
  }

  ~ .horizontal-spinner {
    left: 0;
    position: absolute;
    right: 0;
  }

  .out & {
    transform: translate3d(0,-46px,0);
  }

  .ace_scrollbar {
    overflow: hidden;
  }

  .ace_text-input {
    font-size: 16px;
  }

  .pre,
  iframe {
    border: 0;
    flex: 1 0 auto;
    height: 100%;
    width: 100%;
  }
}

// .logs
.logs {
  height: 100%;
  width: 100%;

  .pre {
    background: $white;
    color: $gray-darker;
  }

  .ace-runnable-dark & {

    .pre {
      background-color: $purple-darker;
      color: $white;
    }
  }
}

#log {
  height: 10px;
}

// terminal
.term-container {
  cursor: text;
}

div.terminal { // div specifity required b/c there's a term.terminal
  @extend .pre;
  background: $white !important; // override term
  color: $gray-darker !important;
  padding: 6px;

  .ace-runnable-dark & {
    background: $purple-darker !important; // override term
    color: $white !important;
  }
}

.terminal-cursor {
  background: $gray-dark !important;

  .ace-runnable-dark & {
    background: $gray-lighter !important;
  }
}

.term-container,
.terminal {
  height: 100%;
  width: 100%;
}

// web view
.web-container {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

// .blank-panel
.blank-panel {
  align-items: center;
  display: flex;
  float: right;
  height: calc(100% - 45px);
  justify-content: center;
  margin-top: -90px;
  transition: width .15s ease-in;
  width: 100%;

  .in & {
    width: calc(100% - 270px);
  }

  .blank-panel-item {
    border: 1px solid rgba($black,.1);
    border-radius: 3px;
    color: $gray;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 90px;
    margin: 3px;
    text-align: center;
    width: 108px;

    &:hover {
      background: rgba($blue,.1);
      border-color: rgba($blue,.2);
    }

    &:active {
      background: rgba($blue,.15);
      border-color: rgba($blue,.3);
    }
  }

  .iconnables {
    display: block;
    height: 36px;
    margin: 12px auto 6px;
    width: 36px;
  }
}