// toolbar
.views-tabs {
  @extend %webkit-flicker;
  background: $white;
  flex: 0 0 45px;
  overflow: visible;
  position: relative;
  transition: all .15s ease-in;
}

// toolbar tabs
.btn-add-tab {
  box-shadow: -12px 0 12px rgba($white,.9);
  position: absolute;
  right: 6px;
  top: 5px;

  .icons-add {
    top: 1px;
  }
}

// editor toolbar
.views-toolbar-wrapper {
  flex: 0 0 auto;

  &.toolbar-lg ~ .active-panel {
    height: calc(100% - 120px); // tabs + double toolbar

  }

  ~ .active-panel {
    height: calc(100% - 83px); // tabs + toolbar
  }
}

.views-toolbar {
  align-items: center;
  background: $purple-dark;
  border-bottom: 1px solid $purple-darker;
  border-top: 1px solid $purple-darker;
  display: flex;
  height: 36px;
  padding: 0 11px; // match log padding

  // when there are multiple
  + .views-toolbar {
    margin-top: -1px;
  }

  // step
  .monospace {
    color: $white;
    margin-right: 9px;
  }

  // path/title
  .small {
    color: $purple-lighter;
    flex: 1 1 auto;
    line-height: 37px;
  }

  // save buttons
  .btn + .btn {
    margin-left: 6px;
  }
}