.repository-details-content {

  .label-jump {
    display: block;
    margin-bottom: 3px;
    text-align: center;
  }

  .list-servers {
    margin-top: 12px;

    > .list-item {
      @extend %text-overflow;
      font-size: 15px;
      padding-left: 9px;
      padding-right: 45px;
      height: 60px;

      &:active,
      &.active {
        border-color: $purple-light;
        color: $purple-light;

        &:hover .icons-fat-check {
          color: $purple-light;
        }

        .small,
        .icons-fat-check {
          color: currentColor;
        }
      }

      &:hover .icons-fat-check {
        color: $gray-lighter;
      }

      &.disabled,
      &.disabled:hover {
        border-color: transparent;
        color: $gray-light;
        cursor: not-allowed;

        .small {
          color: currentColor;
        }

        .icons-fat-check {
          color: $white;
        }
      }

      &.multi-line {
        padding-right: 24px;
      }

      &.btn-block {
        border-color: transparent;
        height: 36px;
        line-height: 32px;
        padding-bottom: 0;
        padding-top: 0;
        text-align: center;

        &:active {
          // border-color: transparent;
        }
      }

      > .small {
        color: $gray;
        display: flex;

        .span {
          // flex: 0 1 auto;
          min-width: 0;
        }
      }

      .link {
        color: $gray;
        margin-left: 4px;
        font-size: 13px;
        flex: 0 0 auto;
      }

      // spinner
      .spinner-wrapper {
        right: 9px;
        top: 18px;
      }

      .icons-fat-check {
        color: $white;
        height: 100%;
        position: absolute;
        right: 9px;
        top: 0;
        width: 27px;
      }
    }
  }

  .toggle-wrapper {
    border-top: 1px solid $gray-lighter;
    border-bottom: 1px solid $gray-lighter;
    padding: 9px 12px;
    margin-top: 15px;
    font-size: 15px;
    color: #555;
    font-weight: 500;
    flex: 0 0 auto;

    .small {
      position: relative;
      top: -3px;
    }
  }

  .toggle-group {
    float: right;
    position: relative;
    top: -12px;
  }
}
