.views-prompt {
  background-color: darken($white,3%);
  bottom: 0;
  color: $gray;
  height: 74px;
  min-width: 610px;
  padding: 15px 9px 15px 18px;
  position: absolute;
  transition: bottom .2s ease-in;
  width: 100%;
  z-index: $z-views-active-panel;

  &.hide {
    bottom: -74px;
  }

  .button-container {
    float: right;
  }

  .p {
    float: left;
    font-size: 15px;
    line-height: 19px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    @media (max-width: 1210px) {
      width: 120px;
    }

  }

  .btn {
    float: left;
    margin-left: 9px;
    width: 192px;
  }

  .white {
    background-color: rgba($black,.04);
    border-color: rgba($black,.09);
  }

  .iconnables {
    height: 21px;
    width: 21px;
  }

  .icons-edit {
    fill: $white;
    margin: 0 4px -4px -3px;
  }

  .icons-close {
    fill: currentColor;
  }

  .btn-close-prompt {
    color: $gray;
    border: 1px solid transparent;
    border-radius: 50%;
    height: 25px;
    line-height: 33px;
    margin-top: 11px;
    padding: 0;
    width: 25px;
    opacity: .5;

    &:hover {
      background-color: rgba($gray,.2);
      border: 1px solid $gray;
    }

    &:active {
      background-color: rgba($purple,.15);
      color: $purple;
      border-color: $purple;
      opacity: .65;
    }

  }

}

.ace-runnable-dark ~ .views-prompt {
  background-color: desaturate(lighten($purple-darker,5%),10%);
  color: rgba($white,.68);

  .orange {
    border-color: transparent;
  }

  .white {
    background-color: rgba($white,.05);
    border-color: rgba($white,.09);
    color: inherit;

    &:hover {
      background-color: rgba($white,.08);
    }

    &:active {
      color: $white;
    }

  }

  .btn-close-prompt {
    color: $white;

    &:hover {
      background-color: rgba($white,.1);
      border: 1px solid rgba($white,.5);
    }

    &:active {
      opacity: 1;
      background-color: rgba($white,.05);
      border-color: rgba($white,.25);
    }

  }

}
