// ul.tabs
.tabs {
  height: 100%;
  margin-left: 45px;
  overflow-x: auto;
  overflow-y: hidden;
  transition: all .15s ease-in;
  white-space: nowrap;

  .with-add-tab & {
    margin-right: 45px;
  }

  // .out &,
  .in & {
    margin-left: 0;
  }
}

// li.tab-wrapper
.tab-wrapper {
  border: 1px solid #e6e6e6; // rgba($black,.1);
  border-bottom: 0;
  border-top: 0;
  color: $gray;
  cursor: pointer;
  display: inline-block;
  margin-left: -1px;
  position: relative;

  &:hover {
    color: $gray-dark;
  }

  &:active,
  &.active {
    color: $gray-darker;
  }

  &.active {
    box-shadow: 0 0 9px rgba($black,.075);

    &:first-child {
      box-shadow: -9px 0 0 $white, 0 0 9px rgba($black,.075);
    }

    &:last-child {
      box-shadow: 9px 0 0 $white, 0 0 9px rgba($black,.075);
    }

    .tab-name::before {
      background: $white;
      content: attr(data-title);
    }

    .icons-dirty {
      margin-left: 9px;
    }
  }

  &.dirty .icons-dirty {
    opacity: .5;
    visibility: visible;
  }

  &:last-child {
    border-right: 0;
  }

  &:only-child {
    border: 1px solid #e6e6e6; // rgba($black,.1);
    border-top: 0;
  }

  &.always-open .tab-name {
    padding-right: 9px;
  }

  .icons-dirty {
    display: inline-block;
    float: left;
    font-size: 21px;
    line-height: 1.9;
    opacity: 0;
    pointer-events: none;
    position: relative;
    user-select: none;
    visibility: hidden;
    z-index: 1;
  }

  .btn-icon {
    float: right;
    height: 15px;
    margin: 15px 6px 15px 9px;
    width: 15px;

    &:hover .icons-close {
      background: rgba($black,.05);
    }

    &:active .icons-close {
      background: rgba($black,.1);
      color: $gray-dark;
    }
  }

  .icons-close {
    border-radius: 50%;
    color: $gray;
    height: 15px;
    top: -12px;
    width: 15px;
  }
}

// span.tab-name
.tab-name {
  display: block;
  float: left;
  font-size: 14px;
  height: 45px;
  line-height: 45px;
  padding: 0 1px 0 9px;
  text-align: center;

  &::before {
    color: $gray-dark;
    font-size: 14px;
    font-weight: 500;
    height: 100%;
    left: 0;
    line-height: 45px;
    padding-left: 9px;
    pointer-events: none;
    position: absolute;
  }
}