// .active-panel
.active-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  transform: translate3d(0,0,0);
  transition: all .15s ease-in;
  width: 100%;
  z-index: $z-views-active-panel;

  &.loaded ~ .horizontal-spinner {
    display: none;
  }

  ~ .horizontal-spinner {
    left: 0;
    position: absolute;
    right: 0;
  }

  .out & {
    transform: translate3d(0,-46px,0);
  }

  // for some reason, plz fix
  > .active-panel {
    height: calc(100vh - 117px);
  }

  .ace_scrollbar {
    overflow: hidden;
  }

  .ace_text-input {
    font-size: 16px;
  }

  .pre,
  iframe {
    border: 0;
    flex: 1 0 auto;
    height: calc(100% - 45px);
    width: 100%;

    .out & {
      height: 100%;
    }
  }
}

// .logs
.logs {
  height: 100%;
  width: 100%;

  .pre {
    background: $white;
    color: $gray-darker;
  }

  .ace-runnable-dark & {

    .pre {
      background-color: $purple-darker;
      color: $white;
    }
  }
}

#log {
  height: 10px;
}

// terminal
.term-container {
  cursor: text;
}

div.terminal { // div specifity required b/c there's a term.terminal
  @extend .pre;
  background: $white !important; // override term
  color: $gray-darker !important;
  padding: 9px;

  .ace-runnable-dark & {
    background: $purple-darker !important; // override term
    color: $white !important;
  }
}

.terminal-cursor {
  background: $gray-dark !important;

  .ace-runnable-dark & {
    background: $gray-lighter !important;
  }
}

.term-container,
.terminal {
  height: 100%;
  width: 100%;
}

// web view
.web-container {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

// .blank-panel
.blank-panel {
  align-items: center;
  display: flex;
  height: calc(100% - 45px);
  justify-content: center;

  .btn {
    height: auto;
    line-height: inherit;
    padding: 15px;

    + .btn {
      margin-left: 6px;
    }
  }

  .iconnables {
    display: block;
    height: 30px;
    margin: 0 auto 6px;
    width: 30px;
  }
}