// .active-panel
.active-panel {
  height: 100%;
  position: relative;
  z-index: $z-views-active-panel;

  // ace overrides
  .ace_scrollbar {
    overflow: hidden;
  }

  .ace_text-input {
    font-size: 16px;
  }

  // panels
  > div {
    height: calc(100% - 45px);
  }

  // except ace
  > div > pre {
    height: 100%;
  }
}

// .logs
.logs {

  // light theme
  .pre {
    background: $white;
    color: $gray-darker;
  }

  // dark theme
  .ace-runnable-dark & {

    .pre {
      background-color: $purple-darker;
      color: $white;
    }
  }
}

// keeps log on bottom (iterm)
#log {
  height: 10px;
}

// terminal
.term-container {
  cursor: text;
}

div.terminal { // div specifity required b/c there's a term.terminal
  @extend .pre;
  background: $white !important; // override term
  color: $gray-darker !important;
  padding: 9px;

  .ace-runnable-dark & {
    background: $purple-darker !important; // override term
    color: $white !important;
  }
}

.terminal-cursor {
  background: $gray-dark !important;

  .ace-runnable-dark & {
    background: $gray-lighter !important;
  }
}

.term-container,
.terminal {
  height: 100%;
  width: 100%;
}

// web view
.web-container {

  .iframe {
    height: 100%;
    width: 100%;
  }
}

// .blank-panel
.blank-panel {
  align-items: center;
  display: flex;
  height: calc(100% - 45px);
  justify-content: center;

  .btn {
    height: auto;
    line-height: inherit;
    padding: 15px;

    + .btn {
      margin-left: 6px;
    }
  }

  .iconnables {
    display: block;
    height: 30px;
    margin: 0 auto 6px;
    width: 30px;
  }
}