// folders and files
.file-tree {
  font-size: 13px;
  user-select: none;
  white-space: nowrap;

  + .file-tree {
    border-top: 1px solid rgba($black,.1);
    margin-top: 6px;
    padding-top: 6px;
  }

  // files & folders
  li {
    line-height: 26px;
    padding: 0;
    position: relative;

    // offsets for nesting folders and inputs
    @for $i from 0 to 10 {
      @include depth($i);
    }

    &.context-click a {
      background: lighten($purple-dark,3%);
      border-color: $purple-darker;
    }

    &.active a,
    &.active a:hover {
      background: lighten($purple-dark,9%);
      border-color: $purple-darkest;
      cursor: default;
    }

    // if still loading repository
    &.disabled,
    &.disabled > a {
      @extend %no-touching;
    }

    a {
      border: $input-border solid transparent;
      border-radius: $input-border-radius;
      cursor: pointer;
      display: block;
      margin-bottom: 2px;
      max-height: 28px;
      overflow: hidden;
      padding-left: $sm;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        background: lighten($purple-dark,3%);
        border-color: $purple-darker;
      }

      &:active,
      &.active {
        background: lighten($purple-dark,9%);
        border-color: $purple-darkest;
        transition: none;
      }
    }

    // uploading
    &.in-progress {
      color: $blue;
      pointer-events: none;

      > a {
        border-color: rgba($blue,.2);
        position: relative;
      }
    }

    // folders
    &.folder {
      height: auto;
      margin-bottom: 2px;

      &::after {
        @extend %arrow-right;
        border-left-color: rgba($white,.2);
        content: '';
        display: block;
        pointer-events: none;
        position: absolute;
        top: 9px;
        transform-origin: 3px 4px;
        transition: transform .15s;
      }

      &.in {

        &::after {
          transform: rotate3d(0,0,1,90deg);
        }

        > ul {
          max-height: none;
          overflow: visible;
        }
      }

      &.dropping > a {
        font-weight: $weight-bold;
      }

      > ul {
        max-height: 0;
        overflow: hidden;
      }
    }

    &.file.empty {
      color: $gray-light;
      font-style: italic;

      .item-name {
        margin-left: 7px;
      }
    }
  }

  // spinners
  .spinner-wrapper {
    // scss-lint:disable ImportantRule
    background: none !important;
    display: inline-block;
    position: relative !important; // override default position
    // scss-lint:enable ImportantRule
    right: 10px;
    top: 2px;
  }
}

// renaming files & folders
.tree-input,
.tree-input:focus {
  background: rgba($white,.5);
  border: $input-border solid $purple-darkest;
  border-radius: $input-border-radius;
  box-shadow: none;
  color: $purple-dark;
  cursor: text;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 3px;
  position: absolute;
  top: 4px;

  &[readonly] {
    opacity: 0;
    pointer-events: none;

    // show item name is input is [readonly]
    & ~ .item-name {
      opacity: 1;
    }
  }

  // hide item name when input has :focus (& not [readonly])
  & ~ .item-name {
    opacity: 0;
  }
}

.item-name {
  margin-left: 4px;
  pointer-events: none;
  position: relative;
  top: -1px;
}

.btn-file-errors,
.btn-file-action {
  position: absolute;
  right: 0;
}

// errors
.btn-file-errors {
  border: 0;
  border-radius: 9px;
  font-size: 14px;
  height: 18px;
  line-height: 18px;
  margin: 3px 5px;
  min-width: 18px;
  padding: 0 4px;
  pointer-events: none;
  text-align: center;
  text-indent: 0;

  + .btn-file-action {
    right: 24px;
  }
}

// action icons
.btn-file-action {
  background: $gray-lighterest;
  border: 0;
  border-radius: 50%;
  margin: 5px;
  padding: 0;
  width: 18px;

  &:hover,
  &:active,
  &.active {

    .iconnables {
      color: $purple-light;
    }
  }

  &:active,
  &.active {
    background: transparent;
  }

  .iconnables {
    color: $gray;
    height: 100%;
    width: 15px;
  }
}
