// ace tooltip overrides
.ace_tooltip {
  background-image: none !important;
  border: 1px solid rgba($black,.1) !important;
  border-radius: 3px !important;
  box-shadow: 0 1px 10px rgba($black,.1) !important;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: .3px !important;
  padding: 6px 9px !important;
  position: absolute !important;
  // transform: translate3d(-540px, -130px, 0); // fix weird ace offset
}

.ace_gutter,
.ace_gutter-layer, {
  overflow: visible !important;
}

.ace_gutter-layer {
  min-width: 42px;
}

// ace search
.ace_search_field {
  line-height: 22px;
}

.ace-tm .pre {
  background-color: $white;
  color: $gray-darker;
  position: relative;

  &.readonly {
    background-color: $gray-lighter;

    .ace_gutter {
      background-color: $gray-lighter;
    }

    .ace_active-line {
      background: none;
    }

    .ace_cursor {
      border-color: transparent;
    }

    .ace_marker-layer .ace_selected-word {
      background: transparent;
      border: 0;
    }
  }

  .ace_tooltip {
    background: rgba($black,.75) !important;
    color: $white !important;
  }

  .ace_gutter {
    background: $white;
    color: $gray-dark;
  }

  .ace_print-margin {
    background: $gray;
    width: 1px;
  }

  .ace_cursor {
    border-left: 2px solid #aeafad;
  }

  .ace_overwrite-cursors .ace_cursor {
    border-bottom: 1px solid #aeafad;
    border-left: 0;
  }

  .ace_marker-layer .ace_selection {
    background: #d6d6d6;
  }

  &.ace_multiselect .ace_selection.ace_start {
    border-radius: 2px;
    box-shadow: 0 0 3px 0 $gray-lightest;
  }

  .ace_marker-layer .ace_step {
    background: rgb(198, 219, 174);
  }

  .ace_marker-layer .ace_bracket {
    border: 1px solid #d1d1d1;
    margin: -1px 0 0 -1px;
  }

  .ace_gutter-active-line {
    background-color: #efefef;
  }

  .ace_marker-layer .ace_selected-word {
    border: 1px solid #d6d6d6;
    border-radius: 2px;
  }

  .ace_fold {
    background-color: #4271ae;
    border-color: $gray-darker;
  }

  .ace_keyword {
    color: #47b0f3;
  }

  .ace_keyword.ace_operator {
    color: #3e999f;
  }

  .ace_keyword.ace_other.ace_unit {
    color: #39a8ee;
  }

  .ace_constant.ace_language {
    color: #39a8ee;
  }

  .ace_constant.ace_numeric {
    color: #39a8ee;
  }

  .ace_constant.ace_character {
    color: #39a8ee;
  }

  .ace_constant.ace_other {
    color: #666969;
  }

  .ace_support.ace_function {
    color: #4271ae;
  }

  .ace_support.ace_constant {
    color: #39a8ee;
  }

  .ace_support.ace_class {
    color: #8e5db2;
  }

  .ace_support.ace_type {
    color: #8e5db2;
  }

  .ace_storage {
    color: #47b0f3;
  }

  .ace_storage.ace_type {
    color: #47b0f3;
  }

  .ace_invalid {
    background-color: #c82829;
    color: $white;
  }

  .ace_invalid.ace_deprecated {
    background-color: #8959a8;
    color: $white;
  }

  .ace_string {
    color: #fc7023;
  }

  .ace_string.ace_regexp {
    color: #c82829;
  }

  .ace_comment {
    color: #77aa3d;
  }

  .ace_variable {
    color: #c82829;
  }

  .ace_variable.ace_parameter {
    color: #39a8ee;
  }

  .ace_meta.ace_tag {
    color: #c82829;
  }

  .ace_entity.ace_other.ace_attribute-name {
    color: #c82829;
  }

  .ace_entity.ace_name.ace_function {
    color: #4271ae;
  }

  .ace_entity.ace_name.ace_tag {
    color: #c82829;
  }

  .ace_markup.ace_heading {
    color: #fc7023;
  }

  .ace_scroller.ace_scroll-left {
    box-shadow: inset 10px 0 9px -9px rgba($black,.3);
  }
}

.ace-runnable-dark .pre,
.ace-container.ace-runnable-dark {
  background-color: #311d40;
  color: $white;

  &.readonly, {
    background-color: rgba(#311d40,.6);

    .ace_gutter {
      background-color: rgba(#311d40,.6);
      color: lighten(#5e4d6e,30%);
    }

    .ace_marker-layer .ace_active-line,
    .ace_gutter-active-line {
      background: none;
    }
  }

  ~ .editor-status {
    background: rgba($white,.25);
    border-color: rgba($white,.3);
    color: $white;
  }

  .ace_tooltip {
    background: rgba($white,.9) !important;
    color: $black !important;
    font-weight: 400 !important;
  }

  .ace_gutter {
    background: darken(#311d40,3%);
    color: lighten(#5e4d6e,12%);
  }

  .ace_print-margin {
    background: rgba($black,.3);
    width: 1px;
  }

  .ace_cursor {
    border-left: 2px solid $white;
  }

  .ace_overwrite-cursors .ace_cursor {
    border-bottom: 1px solid $white;
    border-left: 0;
  }

  .ace_marker-layer .ace_selection {
    background: $purple;
  }

  &.ace_multiselect .ace_selection.ace_start {
    border-radius: 2px;
    box-shadow: 0 0 3px 0 #311d40;
  }

  .ace_marker-layer .ace_step {
    background: rgb(198, 219, 174);
  }

  .ace_marker-layer .ace_bracket {
    border: 1px solid #77607d;
    margin: -1px 0 0 -1px;
  }

  .ace_marker-layer .ace_active-line {
    background: rgba($black,.6);
  }

  .ace_gutter-active-line {
    background-color: rgba($black,.6);
  }

  .ace_marker-layer .ace_selected-word {
    background: transparent;
    border: 1px solid #77607d;
    border-radius: 2px;
  }

  .ace_fold {
    background-color: #efefef;
    border-color: $white;
  }

  .ace_keyword,
  .ace_storage,
  .ace_storage.ace_type {
    color: #64acde;
  }

  .ace_keyword.ace_operator {
    color: #aff;
  }

  .ace_constant.ace_character,
  .ace_constant.ace_language,
  .ace_constant.ace_numeric,
  .ace_keyword.ace_other.ace_unit,
  .ace_support.ace_constant,
  .ace_variable.ace_parameter {
    color: #fcd04a;
  }

  .ace_constant.ace_other,
  .ace_entity.ace_name.ace_function,
  .ace_support.ace_function {
    color: #efefef;
  }

  .ace_support.ace_class,
  .ace_support.ace_type {
    color: #ec6822;
  }

  .ace_invalid {
    background-color: #ffafb8;
    color: $white;
  }

  .ace_invalid.ace_deprecated {
    background-color: #ffd0ff;
    color: $white;
  }

  .ace_markup.ace_heading,
  .ace_string {
    color: #e9ffbc;
  }

  .ace_entity.ace_name.ace_tag,
  .ace_entity.ace_other.ace_attribute-name,
  .ace_meta.ace_tag,
  .ace_string.ace_regexp,
  .ace_variable {
    color: #ffafb7;
  }

  .ace_comment {
    color: #6ba42e;
  };

  .ace_scroller.ace_scroll-left {
    box-shadow: 17px 0 16px -16px rgba($black,.4) inset;
  }
}