// ul.tabs
.tabs {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: $xs;
  white-space: nowrap;
}

// li.tab-wrapper
.tab-wrapper {
  align-items: center;
  border: $input-border solid transparent;
  border-radius: $input-border-radius;
  color: $white;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  height: $input-sm;
  max-width: 300px;
  padding: 0 $xs;
  text-align: center;

  &:hover {
    background: $purple-dark;
    border-color: $purple-darkest;
  }

  &:active,
  &.active {
    background: lighten($purple-dark,9%);
    border-color: $purple-darkest;
    cursor: default;
  }

  + .tab-wrapper {
    margin-left: 6px;
  }

  .icons-dirty {
    flex: 0 0 auto;
    font-size: 21px;
    font-weight: $weight-normal;
    user-select: none;
  }

  .icons-alert {
    color: $red;
    flex: 0 0 auto;
    height: 16px;
    margin-right: 6px;
    width: 16px;
  }

  .btn-close {
    border: 1px solid transparent;
    border-radius: $input-border-radius;
    color: $purple-lighter;
    flex: 0 0 auto;
    height: 15px;
    left: 5px;
    margin: 0 3px;
    width: 15px;

    &:hover,
    &:active {
      background: $red;
      border-color: $purple-darkest;
      color: $white;
    }

    .icons-close {
      left: 0;
      position: absolute;
      top: 0;
    }
  }
}
