.modal-backdrop.in
  .modal-dialog.modal-alert
    header.modal-body
      p.p.strong Are you sure you want to discard your changes and exit?
    footer.modal-footer.clearfix
      button.btn.white.float-left(
        ng-click = "CMC.actions.cancel()"
      ) Cancel
      button.btn.red.float-right(
        ng-click = "CMC.actions.confirm()"
      ) Discard and Exit
