.modal-backdrop.in(
  ng-class = "{'full-screen': $root.featureFlags.fullScreen}"
)
  form.modal-dialog.modal-edit(
    name = "editServerForm"
    ng-class = "{\
      'ace-active': (SMC.selectedTab === 'buildfiles' || SMC.selectedTab === 'env'),\
      'disabled': $root.isLoading.editServerModalIsBuilding || $root.isLoading.editServerModal,\
      'xl': (SMC.selectedTab === 'buildfiles' || SMC.selectedTab === 'env' || SMC.selectedTab === 'logs')\
    }"
  )
    header.modal-header
      server-status-card-header(
        in-modal = "true"
        instance = "SMC.instance"
        no-touching = "$root.featureFlags.cardStatus ? showSpinner() : true"
      )

      svg.iconnables.icons-close(
        ng-if = "$root.featureFlags.rebuildFlow"
      )
        use(
          xlink:href = "#icons-close"
        )

      .row.modal-tabs.tabs-all
        button.btn.btn-radio(
          ng-class = "{'active': SMC.selectedTab === 'repository'}"
          ng-click = "SMC.changeTab('repository')"
          ng-if = "SMC.isTabVisible('repository')"
        )
          svg.iconnables
            use(
              xlink:href = "#icons-repository"
            )
          .btn-text Repository
        button.btn.btn-radio(
          ng-class = "{'active': SMC.selectedTab === 'ports'}"
          ng-click = "SMC.changeTab('ports')"
          ng-if = "SMC.isTabVisible('ports')"
        )
          svg.iconnables
            use(
              xlink:href = "#icons-ports"
            )
          .btn-text Exposed Ports
        button.btn.btn-radio(
          ng-class = "{'active': SMC.selectedTab === 'env'}"
          ng-click = "SMC.changeTab('env')"
        )
          svg.iconnables
            use(
              xlink:href = "#icons-environment-variable"
            )
          .btn-text Environment Variables
        button.btn.btn-radio(
          ng-class = "{'active': SMC.selectedTab === 'commands'}"
          ng-click = "SMC.changeTab('commands')"
          ng-if = "SMC.isTabVisible('commands')"
        )
          svg.iconnables
            use(
              xlink:href = "#icons-packages"
            )
          .btn-text Commands
            br
            | & Packages
        button.btn.btn-radio(
          ng-class = "{'active': SMC.selectedTab === 'files'}"
          ng-click = "SMC.changeTab('files')"
          ng-if = "SMC.isTabVisible('files')"
        )
          svg.iconnables
            use(
              xlink:href = "#icons-keys-files"
            )
          .btn-text Files & SSH Keys
        button.btn.btn-radio(
          ng-class = "{'active': SMC.selectedTab === 'translation'}"
          ng-click = "SMC.changeTab('translation')"
          ng-if = "SMC.isTabVisible('translation')"
        )
          svg.iconnables
            use(
              xlink:href = "#icons-translation"
            )
          .btn-text Find & Replace
        button.btn.btn-radio(
          ng-class = "{'active': SMC.selectedTab === 'backup'}"
          ng-click = "SMC.changeTab('backup')"
          ng-if = "!SMC.state.repo && $root.featureFlags.backup"
        )
          svg.iconnables
            use(
              xlink:href = "#icons-translation"
            )
          .btn-text Backup
            br
            | & Restore
        button.btn.btn-radio(
          ng-class = "{'active': SMC.selectedTab === 'buildfiles'}"
          ng-click = "SMC.changeTab('buildfiles')"
        )
          svg.iconnables
            use(
              xlink:href = "#icons-dockerfile"
            )
          .btn-text Dockerfile
        button.btn.btn-radio(
          ng-class = "{'active': SMC.selectedTab === 'whitelist'}"
          ng-click = "SMC.changeTab('whitelist')"
          ng-show = "$root.featureFlags.whitelist"
        )
          svg.iconnables
            use(
              xlink:href = "#icons-ip-whitelist"
            )
          .btn-text Security
        button.btn.btn-radio(
          ng-class = "{'active': SMC.selectedTab === 'logs'}"
          ng-click = "SMC.changeTab('logs')"
        )
          svg.iconnables
            use(
              xlink:href = "#icons-log"
            )
          .btn-text Logs

    section.modal-body(
      ng-if = "!$root.isLoading.editServerModal"
    )
      .modal-form(
        ng-include = "'viewFormBuildfiles'"
        ng-show = "SMC.selectedTab === 'buildfiles'"
      )
      .modal-form(
        data = "SMC.data"
        loading-promises-target = "editServerModal"
        ng-if = "!SMC.state.advanced"
        ng-show = "SMC.selectedTab === 'repository'"
        stack-selector-form
        state = "SMC.state"
      )
      .modal-form(
        ng-if = "!SMC.state.advanced"
        ng-show = "SMC.selectedTab === 'ports'"
        ports = "SMC.state.ports"
        ports-form
      )
      .modal-form(
        ng-include = "'viewFormEnvironmentVariables'"
        ng-show = "SMC.selectedTab === 'env'"
      )
      .modal-form(
        loading-promises-target = "editServerModal"
        ng-if = "!SMC.state.advanced"
        ng-show = "SMC.selectedTab === 'commands'"
        repository-form
        state = "SMC.state"
      )
      .modal-form(
        ng-controller = "ContainerFilesController as CFC"
        ng-if = "!SMC.state.advanced"
        ng-include = "'viewFormFiles'"
        ng-init = "CFC.init({ state: SMC.state, getDisplayName: SMC.getDisplayName })"
        ng-show = "SMC.selectedTab === 'files'"
      )
      .modal-form(
        data = "SMC.data"
        instance = "SMC.instance"
        ng-if = "SMC.state.repo"
        ng-show = "SMC.selectedTab === 'translation'"
        state = "SMC.state"
        translation-rules
      )
      .modal-form.modal-backup(
        ng-class = "{\
          'ace-runnable-dark': !$root.featureFlags.imAfraidOfTheDark,\
          'ace-runnable-light': $root.featureFlags.imAfraidOfTheDark\
        }"
        ng-if = "!SMC.state.repo && !root.featureFlags.backup"
        ng-include = "'backupFormView'"
        ng-show = "SMC.selectedTab === 'backup'"
      )
      .modal-form.modal-logs(
        ng-class = "{\
          'ace-runnable-dark': !$root.featureFlags.imAfraidOfTheDark,\
          'ace-runnable-light': $root.featureFlags.imAfraidOfTheDark\
        }"
        ng-include = "'viewFormLogs'"
        ng-show = "SMC.selectedTab === 'logs'"
      )
      .modal-form.form-whitelist(
        ng-if = "$root.featureFlags.whitelist"
        ng-include = "'whitelistForm'"
        ng-show = "SMC.selectedTab === 'whitelist'"
      )

    section.modal-body(
      ng-if = "$root.isLoading.editServerModal"
    )
      .spinner-wrapper.spinner-md.in(
        ng-include = "'spinner'"
      )

    footer.modal-footer.clearfix(
      ng-init = "SMC.state.ifTriggersBuild = null"
    )
      //- **********
        - new things
        - **********

      //- test save /& build transition
      button.btn.white.float-left(
        ng-click = "SMC.state.ifTriggersBuild = !SMC.state.ifTriggersBuild"
        ng-if = "$root.featureFlags.rebuildFlow"
        style = "margin-left: 6px; opacity: 0; position: absolute;"
      ) Show "& Build"

      button.btn.white.float-right(
        internal-modal-helper = "confirmCloseEditServer"
        ng-if = "$root.featureFlags.rebuildFlow"
        type = "button"
      ) Done

      //- save/save & build button
        - disable if nothing to save
        - classes change depending on text for width:
          .text-save-build
          .text-save
          .text-next
      button.btn.white.btn-primary.float-right(
        ng-class = "{\
          'text-save': !SMC.state.ifTriggersBuild,\
          'text-save-build': SMC.state.ifTriggersBuild\
        }"
        ng-click = "SMC.changeTab('logs')"
        ng-disabled = "!SMC.state.ifTriggersBuild"
        ng-if = "$root.featureFlags.rebuildFlow"
      )
        span.btn-text.float-left Save
          //- if save triggers a build
          span.fade.js-animate(
            ng-if = "!$root.featureFlags.rebuildFlow || SMC.state.ifTriggersBuild"
          ) &#32;& Build

      span.small.float-right.fade.js-animate(
        ng-if = "SMC.state.ifTriggersBuild"
      ) You’ve made changes that require a rebuild.

      //- **********
        - old things
        - **********
      button.btn.white.float-left(
        ng-disabled = "$root.isLoading.editServerModalIsBuilding"
        ng-click = "SMC.actions.close()"
        ng-if = "!$root.featureFlags.rebuildFlow"
        type = "button"
      ) Cancel

      //- save & rebuild button (old)
      button.btn.green.btn-spinner.float-right(
        ng-class = "{'in': $root.isLoading.editServerModalIsBuilding }"
        ng-click = "editServerForm.$invalid || SMC.getUpdatePromise()"
        ng-disabled = "(!SMC.state.advanced && (SMC.state.selectedStack | selectedStackInvalid)) || !SMC.isDockerfileValid()"
        ng-if = "!$root.featureFlags.rebuildFlow"
        style = "{{!$root.featureFlags.rebuildFlow ? 'width: auto;' : ''}}"
      )
        //- spinner
        .spinner-wrapper.spinner-sm.spinner-white.in(
          ng-if = "$root.isLoading.editServerModalIsBuilding"
          ng-include = "'spinner'"
        )
        //- if built…text should only say "Save"
        span.btn-text(
          ng-if = "!$root.isLoading.editServerModalIsBuilding"
        ) {{ (SMC.validation.env.length) ? (SMC.validation.env.length) + ' env errors' : 'Save & Rebuild'}}
        span.btn-text(
          ng-if = "$root.isLoading.editServerModalIsBuilding"
        ) Saving
