form.modal-dialog.modal-edit-server(
  name = 'editServerForm'
)
  header.modal-header
    server-status-card-header.btn.btn-sm.btn-title(
      popover-template = "serverOptionsModalPopover"
    )
    .row.modal-tabs
      button.btn.btn-radio(
        ng-class = "{active: stateModel === 'buildfiles'}"
        ng-click = "changeTab('buildfiles')"
        ng-if = "state.advanced"
      )
        svg.iconnables.icons-terminal
          use(
            xlink:href = "#icons-terminal"
          )
        span.btn-text Advanced config
      button.btn.btn-radio(
        ng-class = "{active: stateModel === 'stack'}"
        ng-click = "changeTab('stack')"
        ng-if = "!state.advanced"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-stack"
          )
        span.btn-text Stack
      button.btn.btn-radio(
        ng-class = "{active: stateModel === 'command'}"
        ng-click = "changeTab('command')"
        ng-if = "!state.advanced"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-start-cmd"
          )
        span.btn-text Start Command
      button.btn.btn-radio(
        ng-class = "{active: stateModel === 'ports'}"
        ng-click = "changeTab('ports')"
        ng-if = "!state.advanced"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-ports"
          )
        span.btn-text Ports
      button.btn.btn-radio(
        ng-class = "{active: stateModel === 'repositories'}"
        ng-click = "changeTab('repositories')"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-git-repository"
          )
        span.btn-text Repositories
      button.btn.btn-radio(
        ng-class = "{active: stateModel === 'env'}"
        ng-click = "changeTab('env')"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-ports"
          )
        span.btn-text Environment Variables
      button.btn.btn-radio(
        ng-class = "{active: stateModel === 'replace'}"
        ng-click = "changeTab('replace')"
        ng-if = "god === 'exists'"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-ports"
          )
        span.btn-text Replace
      button.btn.btn-radio(
        ng-class = "{active: stateModel === 'logs'}"
        ng-click = "changeTab('logs')"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-ports"
          )
        span.btn-text Logs


  section.modal-body
    .modal-form(
      ng-if = "stateModel === 'buildfiles'"
      ng-include = "'viewFormBuildfiles'"
    )
    .modal-form(
      ng-if = "stateModel === 'stack'"
      stack-selector-form
      data = "data"
      state = "state"
    )
    .modal-form(
      ng-if = "stateModel === 'command'"
      ng-include = "'viewFormStartCommand'"
    )
    .modal-form(
      ng-if = "stateModel === 'ports'"
      ng-include = "'viewFormPorts'"
    )
    .modal-form(
      ng-if = "stateModel === 'repositories'"
      ng-include = "'viewFormRepositories'"
    )
    .modal-form(
      ng-if = "stateModel === 'env'"
      ng-include = "'viewFormEnvironmentVariables'"
    )
    .modal-form(
      ng-if = "stateModel === 'replace'"
      ng-include = "'viewFormReplace'"
    )
    .modal-form(
      ng-if = "stateModel === 'logs'"
      ng-include = "'viewFormLogs'"
    )

  footer.modal-footer.clearfix
    //- disabled if no changes
    button.btn.green(
      type = "submit"
      ng-click = "editServerForm.$invalid || actions.saveChangesToServer(state)"
    )  {{ (validation.env.length) ? (validation.env.length) + ' env errors' : 'Save Changes'}}
    button.btn.white.btn-cancel(
      ng-click = "defaultActions.cancel()"
      type = "button"
    ) Cancel
