.modal-backdrop.in(
  actions = "actions"
  data = "data"
  default-actions = "defaultActions"
  current-model = "currentModel"
  edit-server-modal
  ng-class = "{'full-screen': $root.featureFlags.fullScreen}"
  state-model = "stateModel"
)