form.modal-dialog.modal-edit(
  name = "editServerForm"
  ng-class = "{disabled: building || isLoading.editServerModal}"
)
  header.modal-header
    server-status-card-header.btn.btn-sm.btn-title(
      pop-over-options = "{\"right\":-7,\"top\":36}"
      pop-over-template = "serverOptionsModalPopover"
      ng-attr-no-touching = "{{ !state.repo }}"
    )
    .row.modal-tabs
      button.btn.btn-radio(
        ng-class = "{active: selectedTab === 'buildfiles'}"
        ng-click = "changeTab('buildfiles')"
        ng-if = "state.advanced"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-advanced"
          )
        span.btn-text Advanced Configuration
      button.btn.btn-radio(
        ng-class = "{active: selectedTab === 'stack'}"
        ng-click = "changeTab('stack')"
        ng-if = "!state.advanced"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-stack"
          )
        span.btn-text Stack Type
      button.btn.btn-radio(
        ng-class = "{active: selectedTab === 'ports'}"
        ng-click = "changeTab('ports')"
        ng-if = "!state.advanced"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-ports"
          )
        span.btn-text Exposed Ports
      button.btn.btn-radio(
        ng-class = "{active: selectedTab === 'env'}"
        ng-click = "changeTab('env')"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-environment-variable"
          )
        span.btn-text Environment Variables
      button.btn.btn-radio(
        ng-class = "{active: selectedTab === 'repository'}"
        ng-click = "changeTab('repository')"
        ng-if = "!state.advanced"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-repository"
          )
        span.btn-text Main Repository
      button.btn.btn-radio(
        ng-class = "{active: selectedTab === 'translation'}"
        ng-click = "changeTab('translation')"
        ng-if = "state.repo && $root.featureFlags.findAndReplace"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-translation"
          )
        span.btn-text Find and Replace
      button.btn.btn-radio(
        ng-class = "{active: selectedTab === 'files'}"
        ng-click = "changeTab('files')"
        ng-if = "state.repo && !state.advanced"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-container-files"
          )
        span.btn-text Container Files
      button.btn.btn-radio(
        ng-class = "{active: selectedTab === 'logs'}"
        ng-click = "changeTab('logs')"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-log"
          )
        span.btn-text Logs

  section.modal-body(
    ng-if = "!isLoading.editServerModal"
  )
    .modal-form(
      ng-show = "selectedTab === 'buildfiles'"
      ng-include = "'viewFormBuildfiles'"
    )
    .modal-form(
      ng-show = "selectedTab === 'stack'"
      stack-selector-form
      data = "data"
      state = "state"
    )
    .modal-form(
      ng-if = "selectedTab === 'ports'"
      ng-include = "'viewFormPorts'"
    )
    .modal-form(
      ng-if = "selectedTab === 'env'"
      ng-include = "'viewFormEnvironmentVariables'"
    )
    .modal-form(
      ng-if = "selectedTab === 'repository'"
      ng-include = "'viewFormRepository'"
    )
    .modal-form(
      ng-if = "selectedTab === 'replace'"
      ng-include = "'viewFormReplace'"
    )
    .modal-form(
      ng-if = "selectedTab === 'files'"
      ng-include = "'viewFormFiles'"
    )
    .modal-form(
      ng-if = "selectedTab === 'translation'"
      translation-rules
    )
    .modal-form.modal-logs(
      ng-if = "selectedTab === 'logs'"
      ng-include = "'viewFormLogs'"
    )

  section.modal-body(
    ng-if = "isLoading.editServerModal"
  )
    .spinner-wrapper.spinner-md.spinner-gray.in(
      ng-include = "'spinner'"
    )

  footer.modal-footer.clearfix
    //- disabled if no changes
    button.btn.green.btn-spinner(
      ng-class = "{in: building}"
      ng-click = "editServerForm.$invalid || getUpdatePromise()"
      ng-disabled = "!state.advanced && isStackInfoEmpty(state.selectedStack) || state.invalidDockerfile"
      type = "submit"
    )
      //- spinner
      .spinner-wrapper.spinner-sm.spinner-white.in(
        ng-if = "building"
        ng-include = "'spinner'"
      )
      span.btn-text(
        ng-if = "!building"
      ) {{ (validation.env.length) ? (validation.env.length) + ' env errors' : 'Save Changes'}}
      span.btn-text(
        ng-if = "building"
      ) Saving
    button.btn.white.btn-cancel(
      ng-click = "cancel()"
      type = "button"
    ) Cancel
