.modal-backdrop.in(
  ng-class = "{'full-screen': $root.featureFlags.fullScreen}"
)
  form.modal-dialog.modal-edit(
    name = "SMC.serverForm"
    ng-include = "'serverModalView'"
    ng-class = "{\
      'ace-active': (SMC.selectedTab === 'buildfiles' || SMC.selectedTab === 'env'),\
      'disabled': $root.isLoading.editServerModalIsBuilding || $root.isLoading.editServerModal,\
      'xl': (SMC.selectedTab === 'buildfiles' || SMC.selectedTab === 'env' || SMC.selectedTab === 'logs')\
    }"
  )
