.modal-backdrop.in(
  edit-server-modal
  instance = "currentModel"
  modal-actions = "defaultActions"
  ng-class = "{'full-screen': $root.featureFlags.fullScreen}"
  selected-tab = "stateModel"
  state-model = "stateModel"
)
