form.modal-dialog.modal-edit(
  name = "editServerForm"
  ng-class = "{\
    'ace-active': (selectedTab === 'buildfiles' || selectedTab === 'env'),\
    'disabled': building || isLoading.editServerModal,\
    'xl': (selectedTab === 'buildfiles' || selectedTab === 'env' || selectedTab === 'logs')\
  }"
)
  header.modal-header
    server-status-card-header.btn.btn-sm.btn-title(
      ng-attr-no-touching = "{{ !state.repo }}"
      ng-if = "!$root.featureFlags.cardStatus"
      pop-over-options = "{\"right\":-7,\"top\":36}"
      pop-over-template = "serverOptionsModalPopover"
    )
    server-status-card-header(
      ng-attr-no-touching = "{{ !state.repo }}"
      ng-if = "$root.featureFlags.cardStatus"
      pop-over-options = "{\"centered\":true,\"top\":36}"
      pop-over-template = "serverOptionsModalPopover"
    )
    .row.modal-tabs.cearfix
      button.btn.btn-radio(
        ng-class = "{'active': selectedTab === 'stack'}"
        ng-click = "changeTab('stack')"
        ng-if = "!state.advanced"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-stack"
          )
        .btn-text Stack Type
      button.btn.btn-radio(
        ng-class = "{'active': selectedTab === 'ports'}"
        ng-click = "changeTab('ports')"
        ng-if = "!state.advanced"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-ports"
          )
        .btn-text Exposed Ports
      button.btn.btn-radio(
        ng-class = "{'active': selectedTab === 'env'}"
        ng-click = "changeTab('env')"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-environment-variable"
          )
        .btn-text Environment Variables
      button.btn.btn-radio(
        ng-class = "{'active': selectedTab === 'repository'}"
        ng-click = "changeTab('repository')"
        ng-if = "!state.advanced"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-repository"
          )
        .btn-text Main Repository
      button.btn.btn-radio(
        ng-class = "{'active': selectedTab === 'translation'}"
        ng-click = "changeTab('translation')"
        ng-if = "state.repo && $root.featureFlags.findAndReplace"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-translation"
          )
        .btn-text Find and Replace
      button.btn.btn-radio(
        ng-class = "{'active': selectedTab === 'files'}"
        ng-click = "changeTab('files')"
        ng-if = "state.repo && !state.advanced"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-container-files"
          )
        .btn-text Container Files
      button.btn.btn-radio(
        ng-class = "{'active': selectedTab === 'logs'}"
        ng-click = "changeTab('logs')"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-log"
          )
        .btn-text Logs
      button.btn.btn-radio(
        ng-class = "{'active': selectedTab === 'buildfiles'}"
        ng-click = "changeTab('buildfiles')"
        ng-if = "state.advanced || $root.featureFlags.dockerfileTool"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-dockerfile"
          )
        .btn-text Dockerfile

  section.modal-body(
    ng-if = "!isLoading.editServerModal && state.contextVersion"
  )
    .modal-form(
      ng-include = "'viewFormBuildfiles'"
      ng-show = "selectedTab === 'buildfiles'"
    )
    .modal-form(
      data = "data"
      ng-show = "selectedTab === 'stack'"
      ng-if = "!state.advanced"
      stack-selector-form
      state = "state"
    )
    .modal-form(
      ng-show = "selectedTab === 'ports'"
      ng-if = "!state.advanced"
      ng-include = "'viewFormPorts'"
    )
    .modal-form(
      ng-show = "selectedTab === 'env'"
      ng-include = "'viewFormEnvironmentVariables'"
    )
    .modal-form(
      loading-promises-target = "editServerModal"
      ng-show = "selectedTab === 'repository'"
      ng-if = "!state.advanced"
      repository-form
      state = "state"
    )
    .modal-form(
      ng-show = "selectedTab === 'files'"
      ng-if = "!state.advanced"
      ng-include = "'viewFormFiles'"
    )
    .modal-form(
      ng-show = "selectedTab === 'translation'"
      ng-if = "state.repo"
      translation-rules
    )
    .modal-form.modal-logs(
      ng-show = "selectedTab === 'logs'"
      ng-include = "'viewFormLogs'"
    )

  section.modal-body(
    ng-if = "isLoading.editServerModal"
  )
    .spinner-wrapper.spinner-md.in(
      ng-include = "'spinner'"
    )

  footer.modal-footer.clearfix
    //- disabled if no changes
    button.btn.green.btn-spinner(
      ng-class = "{'in': building}"
      ng-click = "editServerForm.$invalid || getUpdatePromise()"
      ng-disabled = "(!state.advanced && isStackInfoEmpty(state.selectedStack)) || !isDockerfileValid()"
      type = "submit"
    )
      //- spinner
      .spinner-wrapper.spinner-sm.spinner-white.in(
        ng-if = "building"
        ng-include = "'spinner'"
      )
      span.btn-text(
        ng-if = "!building"
      ) {{ (validation.env.length) ? (validation.env.length) + ' env errors' : 'Save Changes'}}
      span.btn-text(
        ng-if = "building"
      ) Saving
    button.btn.white.btn-cancel(
      ng-click = "cancel()"
      ng-disabled = "building"
      type = "button"
    ) Cancel
