.modal-backdrop.in(
  ng-class = "{'full-screen': $root.featureFlags.fullScreen}"
  ng-controller = "EditServerModalController as SMC"
  ng-init = "SMC.init({\
    instance: currentModel,\
    modalActions: defaultActions,\
    selectedTab: stateModel\
  })"
)
  form.modal-dialog.modal-edit(
    name = "editServerForm"
    ng-include = "'editServerModalView'"
    ng-class = "{\
      'ace-active': (SMC.selectedTab === 'buildfiles' || SMC.selectedTab === 'env'),\
      'disabled': SMC.building || $root.isLoading.editServerModal,\
      'xl': (SMC.selectedTab === 'buildfiles' || SMC.selectedTab === 'env' || SMC.selectedTab === 'logs')\
    }"
  )

