.modal-backdrop.in(
  ng-class = "{'full-screen': $root.featureFlags.fullScreen}"
)
  .grid-block.shrink.align-center.justify-center.padding-sm.aha-guide(
    aha-guide
    ng-if = "SMC.isAddingFirstRepo()"
    step-index = 1
    sub-step = "default"
    sub-step-index = 6
  )

  form.modal-dialog.modal-edit(
    name = "SMC.serverForm"
    ng-class = "{\
      'expand': (SMC.selectedTab === 'buildfiles' || SMC.selectedTab === 'env' || SMC.selectedTab === 'logs'),\
      'disabled': $root.isLoading.editServerModalIsBuilding || $root.isLoading.editServerModal,\
      'xl': (SMC.selectedTab === 'buildfiles' || SMC.selectedTab === 'env' || SMC.selectedTab === 'logs')\
    }"
    ng-include = "'serverModalView'"
  )
