.modal-backdrop.in(
  ng-class = "{'full-screen': $root.featureFlags.fullScreen}"
)
  form.modal-dialog.modal-edit(
    name = "SMC.serverForm"
    ng-class = "{\
      'ace-active': (SMC.selectedTab === 'buildfiles' || SMC.selectedTab === 'env'),\
      'disabled': $root.isLoading.editServerModalIsBuilding || $root.isLoading.editServerModal,\
      'xl': (SMC.selectedTab === 'buildfiles' || SMC.selectedTab === 'env' || SMC.selectedTab === 'logs')\
    }"
  )
    header.modal-header
      server-status-card-header(
        in-modal = "true"
        instance = "SMC.instance"
        no-touching = "$root.featureFlags.cardStatus ? showSpinner() : true"
      )

      svg.iconnables.icons-close(
        ng-if = "$root.featureFlags.rebuildFlow"
        ng-click = "SMC.actions.close()"
      )
        use(
          xlink:href = "#icons-close"
        )

      .row.modal-tabs.tabs-all.clearfix
        button.btn.btn-radio(
          ng-class = "{'active': SMC.selectedTab === 'repository'}"
          ng-click = "SMC.changeTab('repository')"
          ng-if = "SMC.isTabVisible('repository')"
        )
          svg.iconnables
            use(
              xlink:href = "#icons-repository"
            )
          .btn-text Repository
        button.btn.btn-radio(
          ng-class = "{'active': SMC.selectedTab === 'ports'}"
          ng-click = "SMC.changeTab('ports')"
          ng-if = "SMC.isTabVisible('ports')"
        )
          svg.iconnables
            use(
              xlink:href = "#icons-ports"
            )
          .btn-text Exposed Ports
        button.btn.btn-radio(
          ng-class = "{'active': SMC.selectedTab === 'env'}"
          ng-click = "SMC.changeTab('env')"
        )
          svg.iconnables
            use(
              xlink:href = "#icons-environment-variable"
            )
          .btn-text Environment Variables
        button.btn.btn-radio(
          ng-class = "{'active': SMC.selectedTab === 'commands'}"
          ng-click = "SMC.changeTab('commands')"
          ng-if = "SMC.isTabVisible('commands')"
        )
          svg.iconnables
            use(
              xlink:href = "#icons-packages"
            )
          .btn-text Commands
            br
            | & Packages
        button.btn.btn-radio(
          ng-class = "{'active': SMC.selectedTab === 'files'}"
          ng-click = "SMC.changeTab('files')"
          ng-if = "SMC.isTabVisible('files')"
        )
          svg.iconnables
            use(
              xlink:href = "#icons-keys-files"
            )
          .btn-text Files & SSH Keys
        button.btn.btn-radio(
          ng-class = "{'active': SMC.selectedTab === 'translation'}"
          ng-click = "SMC.changeTab('translation')"
          ng-if = "SMC.isTabVisible('translation')"
        )
          svg.iconnables
            use(
              xlink:href = "#icons-translation"
            )
          .btn-text Find & Replace
        button.btn.btn-radio(
          ng-class = "{'active': SMC.selectedTab === 'backup'}"
          ng-click = "SMC.changeTab('backup')"
          ng-if = "!SMC.state.repo && $root.featureFlags.backup"
        )
          svg.iconnables
            use(
              xlink:href = "#icons-translation"
            )
          .btn-text Backup
            br
            | & Restore
        button.btn.btn-radio(
          ng-class = "{'active': SMC.selectedTab === 'logs'}"
          ng-click = "SMC.changeTab('logs')"
        )
          svg.iconnables
            use(
              xlink:href = "#icons-log"
            )
          .btn-text Logs
        button.btn.btn-radio(
          ng-class = "{'active': SMC.selectedTab === 'buildfiles'}"
          ng-click = "SMC.changeTab('buildfiles')"
        )
          svg.iconnables
            use(
              xlink:href = "#icons-dockerfile"
            )
          .btn-text Dockerfile

    section.modal-body(
      ng-if = "!$root.isLoading.editServerModal"
    )
      .modal-form(
        ng-include = "'viewFormBuildfiles'"
        ng-show = "SMC.selectedTab === 'buildfiles'"
      )
      .modal-form(
        data = "SMC.data"
        loading-promises-target = "editServerModal"
        ng-if = "!SMC.state.advanced && SMC.selectedTab === 'repository'"
        stack-selector-form
        state = "SMC.state"
      )
      .modal-form(
        ng-if = "!SMC.state.advanced"
        ports-form
        ports = "SMC.state.ports"
        ng-show = "SMC.selectedTab === 'ports'"
      )
      .modal-form(
        ng-include = "'viewFormEnvironmentVariables'"
        ng-show = "SMC.selectedTab === 'env'"
      )
      .modal-form(
        loading-promises-target = "editServerModal"
        ng-if = "!SMC.state.advanced"
        ng-show = "SMC.selectedTab === 'commands'"
        repository-form
        state = "SMC.state"
      )
      .modal-form(
        ng-controller = "ContainerFilesController as CFC"
        ng-if = "!SMC.state.advanced"
        ng-include = "'viewFormFiles'"
        ng-show = "SMC.selectedTab === 'files'"
        ng-init = "CFC.init({ state: SMC.state, getDisplayName: SMC.getDisplayName })"
      )
      .modal-form(
        ng-if = "SMC.state.repo"
        ng-show = "SMC.selectedTab === 'translation'"
        state = "SMC.state"
        instance = "SMC.instance"
        data = "SMC.data"
        translation-rules
      )
      .modal-form.modal-backup(
        ng-class = "{\
          'ace-runnable-dark': !$root.featureFlags.imAfraidOfTheDark,\
          'ace-runnable-light': $root.featureFlags.imAfraidOfTheDark\
        }"
        ng-if = "!SMC.state.repo && !root.featureFlags.backup"
        ng-include = "'backupFormView'"
        ng-show = "SMC.selectedTab === 'backup'"
      )
      .modal-form.modal-logs(
        ng-class = "{\
          'ace-runnable-dark': !$root.featureFlags.imAfraidOfTheDark,\
          'ace-runnable-light': $root.featureFlags.imAfraidOfTheDark\
        }"
        ng-include = "'viewFormLogs'"
        ng-show = "SMC.selectedTab === 'logs'"
      )

    section.modal-body(
      ng-if = "$root.isLoading.editServerModal"
    )
      .spinner-wrapper.spinner-md.in(
        ng-include = "'spinner'"
      )
    footer.modal-footer.clearfix(
      server-modal-buttons
      this-form = "SMC.serverForm"
      is-primary-button-disabled = "(!SMC.state.advanced && (SMC.state.selectedStack | selectedStackInvalid)) || !SMC.isDockerfileValid()"
      server-modal-controller = "SMC"
    )