form.modal-dialog.modal-edit-server(
  ng-click = "$event.stopPropagation()"
  ng-init = "\
    data.viewFormStack = true;\
    data.formDirty = false;\
  "
)
  header.modal-header
    p.p Configuring api
    .row
      button.btn.btn-radio.active(
        ng-class = "{active: data.viewFormStack}"
        ng-click = "\
          data.viewFormEnvironmentVariables = false;\
          data.viewFormPorts = false;\
          data.viewFormStack = true;\
          data.viewFormStartCommand = false;\
        "
        type = "button"
      )
        svg.iconnables.icons-terminal
          use(
            xlink:href = "#icons-terminal"
          )
        span.btn-text Stack
      button.btn.btn-radio(
        ng-class = "{active: data.viewFormStartCommand}"
        ng-click = "\
          data.viewFormEnvironmentVariables = false;\
          data.viewFormPorts = false;\
          data.viewFormStack = false;\
          data.viewFormStartCommand = true;\
        "
        type = "button"
      )
        svg.iconnables.icons-terminal
          use(
            xlink:href = "#icons-terminal"
          )
        span.btn-text Start Command
      button.btn.btn-radio(
        ng-class = "{active: data.viewFormPorts}"
        ng-click = "\
          data.viewFormEnvironmentVariables = false;\
          data.viewFormPorts = true;\
          data.viewFormStack = false;\
          data.viewFormStartCommand = false;\
        "
        type = "button"
      )
        svg.iconnables.icons-terminal
          use(
            xlink:href = "#icons-terminal"
          )
        span.btn-text Ports
      button.btn.btn-radio(
        ng-class = "{active: data.viewFormEnvironmentVariables}"
        ng-click = "\
          data.viewFormEnvironmentVariables = true;\
          data.viewFormPorts = false;\
          data.viewFormStack = false;\
          data.viewFormStartCommand = false;\
        "
        type = "button"
      )
        svg.iconnables.icons-terminal
          use(
            xlink:href = "#icons-terminal"
          )
        span.btn-text Environment Variables


  section.modal-body
    .modal-form
      .label.clearfix(
        ng-if = "data.viewFormStack"
        ng-include = "'viewFormStack'"
      )
      .label.clearfix(
        ng-if = "data.viewFormStartCommand"
        ng-include = "'viewFormStartCommand'"
      )
      .label.clearfix(
        ng-if = "data.viewFormPorts"
        ng-include = "'viewFormPorts'"
      )
      .label.clearfix(
        ng-if = "data.viewFormEnvironmentVariables"
        ng-include = "'viewFormEnvironmentVariables'"
      )

  footer.modal-footer.clearfix
    //- disabled if no changes
    button.btn.green(
      ng-disabled = "!data.formDirty"
    ) Save Changes
    button.btn.white.btn-cancel(
      ng-click = "defaultActions.cancel()"
      type = "button"
    ) Cancel