button.btn.green(
  modal
  modal-actions = "actions.actionsModalRepositorySelect"
  modal-data = "data.dataModalRepositorySelect"
  modal-template = "viewModalRepositorySelect"
)
  svg.iconnables.icons-add.icons-round
    use(
      xlink:href = "#icons-add"
    )
  | New Server