button.btn.green(
  modal
  modal-actions = "actions"
  modal-data = "data"
  modal-template = "setupServerModalOpen"
)
  svg.iconnables.icons-add.icons-round
    use(
      xlink:href = "#icons-add"
    )
  | New Server