//- new server button
button.grid-block.shrink.btn.btn-md.green(
  ng-class = "{ 'scale-in-modal': EC.isAddingFirstRepo() }"
  ng-click = "EC.triggerModal.newContainer()"
)
  svg.iconnables.icons-add.float-left
    use(
      xlink:href = "#icons-add"
    )
  | Create Template

//- This is the same markup as the aha guide popover. Just stubbing out a new one here.
.popover.bottom.in.popover-aha(
  ng-if = "$root.featureFlags.newMilestone2Step"
  style = "left: 0; margin: 0 auto; right: 0; top: 54px;"
)
  .arrow.white
  .popover-content
    .grid-block.shrink.align-center.justify-center.padding-sm.aha-guide
      .grid-block.shrink.aha-meter.js-animate.aha-meter-10
        svg.iconnables
          use(
            xlink:href = "#icons-octicons-repo"
          )
      .grid-block.vertical.aha-text
        p.p.small.text-gray-light Step 2: Add a Repository
        p.p To add a database or a service, click ‘Create Template’.
  .grid-block.justify-right.popover-footer
    button.grid-block.shrink.btn.btn-sm.green Got It

button.grid-block.shrink.btn.btn-sm.gray.btn-aha(
  ng-click = "EC.toggleSidebar()"
  ng-if = "$root.featureFlags.aha && EC.isInGuide()"
  tooltip = "Setup Guide"
  tooltip-options = "{\"class\":\"left\",\"right\":42,\"top\":0}"
)
  svg.iconnables
    use(
      xlink:href = "#icons-help"
      )
