button.grid-block.shrink.btn.btn-md.btn-icon.btn-help(
  data-badge-count = "{{helpCards.cards.triggered.length}}"
  ng-class = "{\
    'active': state.helpButton.active || !state.helpButton.active && helpCards.cards.triggered.length > 0 && !helpCards.getActiveCard(),\
    'badge': helpCards.cards.triggered.length > 0,\
    'badge-blue': helpCards.cards.triggered.length > 0\
  }"
  ng-click = "state.helpButton.active = true"
  ng-if = "!$root.featureFlags.aha"
  pop-over
  pop-over-actions = "helpPopover.actions"
  pop-over-active = "state.helpButton.active"
  pop-over-data = "helpPopover.data"
  pop-over-options = "{\"left\":60}"
  pop-over-template = "viewHelpPopover"
  pop-over-trigger = "activeAttr"
  title = "Help Center"
)
  svg.iconnables
    use(
      xlink:href = "#icons-help"
      )

.help.help-top-card(
  ng-if = "!state.helpButton.active && helpCards.cards.triggered.length > 0 && !helpCards.getActiveCard()"
)
  .help-lists-wrapper
    ul.triggered-help-list
      li.grid-block.triggered-help-item.clearfix
        button.btn.btn-icon.btn-icon-xs(
          ng-click = "helpPopover.actions.ignoreHelp(helpCards.cards.triggered[0])"
        )
          svg.iconnables
            use(
              xlink:href = "#icons-close"
            )
        p.p.grid-content(
          ng-bind-html = "helpCards.cards.triggered[0].label"
        )
        button.btn.btn-xs.blue.grid-content.shrink(
          ng-click = "helpPopover.actions.getHelp(helpCards.cards.triggered[0])"
        ) Show Me
  button.btn(
    ng-click = "state.helpButton.active = true"
  ) More Help
    svg.iconnables
      use(
        xlink:href = "#icons-arrow-down"
      )

//- new server button
button.grid-block.shrink.btn.btn-md.green(
  ng-class = "{\
    'scale': helpCards.getActiveCard().targets.newContainer,\
    'scale-in-modal': $root.featureFlags.aha1\
  }"
  ng-click = "EC.triggerModal.newContainer()"
  ng-if = "!$root.featureFlags.aha1 || ($root.featureFlags.aha1 && (!$root.ahaGuide.ahaGuideToggles.showOverview || data.instances.models.length))"
)
  svg.iconnables.icons-add.float-left
    use(
      xlink:href = "#icons-add"
    )
  | Create Template

button.grid-block.shrink.btn.btn-sm.gray.btn-aha(
  ng-click = "$root.ahaGuide.ahaGuideToggles.showSidebar = true"
  ng-if = "$root.featureFlags.aha && $root.featureFlags.ahaSidebar"
  tooltip = "Setup Guide"
  tooltip-options = "{\"class\":\"left\",\"right\":42,\"top\":0}"
)
  svg.iconnables
    use(
      xlink:href = "#icons-help"
      )
