//- new server button
button.grid-block.shrink.btn.btn-md.green(
  ng-class = "{ 'scale-in-modal': EC.isAddingFirstRepo() }"
  ng-click = "EC.triggerModal.newContainer()"
)
  svg.iconnables.icons-add.float-left
    use(
      xlink:href = "#icons-add"
    )
  | Add a Service
