button.btn.btn-icon.blue(
  ng-if = "featureFlags.helpCards"
  ng-class = "{active: state.helpButton.active}"
  ng-click = "state.helpButton.active = true"
  pop-over
  pop-over-actions = "helpPopover.actions"
  pop-over-active = "state.helpButton.active"
  pop-over-data = "helpPopover.data"
  pop-over-options = "{\"left\":55}"
  pop-over-template = "viewHelpPopover"
  pop-over-trigger = "activeAttr"
  title = "Help Center"
)
  .help-badge(
    ng-if = "helpCards.cards.triggered.length > 0"
  ) {{helpCards.cards.triggered.length}}
  svg.iconnables
    use(
      xlink:href = "#icons-help"
      )

.help.triggered-help(
  ng-if = "featureFlags.helpCards && !state.helpButton.active && helpCards.cards.triggered.length > 0 && !helpCards.getActiveCard()"
)
  .help-lists-wrapper
    ul.triggered-help-list
      li.triggered-help-item.clearfix
        button.btn.btn-icon.btn-icon-sm(
          ng-click = "helpPopover.actions.ignoreHelp(helpCards.cards.triggered[0])"
        )
          svg.iconnables
            use(
              xlink:href = "#icons-close"
            )
        p.p(
          ng-bind-html = "helpCards.cards.triggered[0].label"
        )
        button.btn.btn-sm(
          ng-click = "helpPopover.actions.getHelp(helpCards.cards.triggered[0])"
        ) Show Me

  button.btn(
    ng-click = "state.helpButton.active = true"
  ) More Help
    svg.iconnables
      use(
        xlink:href = "#icons-arrow-down"
      )

//- this shows up after the user clicks "show me" in the help center
.help-step-container(
  ng-if = "helpCards.getActiveCard()"
  ng-class = "{undocked: helpUndock}"
)
  .help.help-step-item(
    ng-bind-html= "helpCards.getActiveCard().helpTop"
  )

//- new server button
button.btn.green(
  pop-over
  pop-over-actions = "actions"
  pop-over-data = "data"
  pop-over-options = "{\"right\":0,\"top\":56}"
  pop-over-template = "viewPopoverNewServer"
  ng-class = "{hint: helpCards.getActiveCard().targets.newContainer}"
)
  svg.iconnables.icons-add.icons-round
    use(
      xlink:href = "#icons-add"
    )
  | New Container
  svg.iconnables.icons-arrow-down
    use(
      xlink:href = "#icons-arrow-down"
    )
