//- group/pod/server/instance/box page
//- a.btn.gray(
//-   ui-sref = "instance.home({ userName: dataApp.data.activeAccount.oauthName() })"
//- )
//-   svg.iconnables.icons-arrow-back.icons-round
//-     use(
//-       xlink:href = "#icons-arrow-back"
//-     )
//-   | To Sandbox

.help-step-container(
  ng-if = "helpCards.getActiveCard()"
)
  .help.help-step-item(
    ng-bind-html= "helpCards.getActiveCard().helpTop"
  )

//- help center button
button.btn.btn-icon.help-button.blue(
  ng-class = "{active: state.helpButton.active}"
  ng-click = "state.helpButton.active = true"
  pop-over
  pop-over-actions = "helpPopover.actions"
  pop-over-active = "state.helpButton.active"
  pop-over-data = "helpPopover.data"
  pop-over-options = "{\"left\":55}"
  pop-over-template = "viewHelpPopover"
  pop-over-trigger = "activeAttr"
  title = "Help Center"
)
  .help-badge(
    ng-if = "helpCards.cards.triggered.length > 0"
  ) {{helpCards.cards.triggered.length}}

  svg.iconnables.icons-help
    use(
      xlink:href = "#icons-help"
      )

.triggered-help
  ul.triggered-help-list(
    ng-if = "!state.helpButton.active && helpCards.cards.triggered.length > 0"
  )
    li.triggered-help-item
      button.btn.btn-icon.btn-icon-sm(
        ng-click = "helpPopover.actions.ignoreHelp(helpCards.cards.triggered[0])"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-close"
          )
      p.p(
        ng-bind-html = "helpCards.cards.triggered[0].label"
      )
      button.btn.btn-sm(
        ng-click = "helpPopover.actions.getHelp(helpCards.cards.triggered[0])"
      ) Show Me
    li(
      ng-click = "state.helpButton.active = true"
    ) Show More

//- new server button
button.btn.green(
  pop-over
  pop-over-actions = "actions"
  pop-over-data = "data"
  pop-over-options = "{\"right\":0,\"top\":56}"
  pop-over-template = "viewPopoverNewServer"
  ng-class = "{hint: helpCards.getActiveCard().targets.newContainer}"
)
  svg.iconnables.icons-add.icons-round
    use(
      xlink:href = "#icons-add"
    )
  | New Container
  svg.iconnables.icons-arrow-down
    use(
      xlink:href = "#icons-arrow-down"
    )
