//- new server button
button.grid-block.shrink.btn.btn-md.green(
  ng-class = "{\
    'scale-in-modal': $root.featureFlags.aha1\
  }"
  ng-click = "EC.triggerModal.newContainer()"
  ng-if = "!$root.featureFlags.ahaOverview"
)
  svg.iconnables.icons-add.float-left
    use(
      xlink:href = "#icons-add"
    )
  | Create Template

button.grid-block.shrink.btn.btn-sm.gray.btn-aha(
  ng-click = "$root.featureFlags.ahaSidebar = true"
  ng-if = "$root.featureFlags.aha && !$root.featureFlags.ahaSidebar"
  tooltip = "Setup Guide"
  tooltip-options = "{\"class\":\"left\",\"right\":42,\"top\":0}"
)
  svg.iconnables
    use(
      xlink:href = "#icons-help"
      )
