//- new server button
button.grid-block.shrink.btn.btn-md.green(
  ng-class = "{\
    'scale-in-modal': EC.ahaGuide.getCurrentStep() === EC.ahaGuide.steps.ADD_FIRST_REPO\
  }"
  ng-click = "EC.triggerModal.newContainer()"
)
  svg.iconnables.icons-add.float-left
    use(
      xlink:href = "#icons-add"
    )
  | Create Template

button.grid-block.shrink.btn.btn-sm.gray.btn-aha(
  ng-click = "EC.toggleSidebar()"
  ng-if = "$root.featureFlags.aha"
  tooltip = "Setup Guide"
  tooltip-options = "{\"class\":\"left\",\"right\":42,\"top\":0}"
)
  svg.iconnables
    use(
      xlink:href = "#icons-help"
      )
