extends ../errorTemplate.jade
block content
  h1.h1 Port not exposed
  p.p The container for
    strong.strong  api/my-cool-branch
    |  is running, but this port is not exposed.
  p.p Exposed ports:
    | #{''}
    //- show this element if there are no ports exposed
    //- span.span (none)
    a.link(
      ng-repeat = "port in ports"
      ng-href = "{{containerUrl}}:{{port}}"
    ) {{ port }}
      span(
        ng-if = "!$last"
      ) , #{''}

  a.link(
    ui-sref = "\
                 config.instance({ userName: ownerName, \
                 instanceName: instanceName })\
              "
  ) Expose a port in Runnable