extends ../errorTemplate.jade
block content
  h1.h1 Sign in first!
  p.p You need to #{''}
    a.link(
      href = "#{redirectUrl}"
    ) sign in
    | #{''} through GitHub before you can access this page.