//- tabs
ul.tabs
  li.tab-wrapper(
    ng-class = "{'active': item.state.active}"
    ng-click = "\
      openItems.activeHistory.add(item);\
      openItems.saveState();\
    "
    ng-repeat = "item in openItems.models"
  )
    //- show on Backup tab if the backup script has failed
    //- svg.iconnables.icons-alert
      use(
        xlink:href = "#icons-alert-alt"
      )
    .tab-name.text-overflow(
      ng-data-title = "{{item.attrs.name}}"
      title = "{{item.filepath()}}"
    ) {{ item.attrs.name }}
    .icons-dirty(
      ng-if = "item.state.isDirty"
    ) *
    //- only show close button on extra terminal tabs and file tabs
    button.btn.btn-md.btn-icon.btn-close(
      ng-click = "actions.removeItem($event, item)"
      ng-if = "!item.hideClose"
    )
      svg.iconnables.icons-close
        use(
          xlink:href = "#icons-close"
        )

//- add tab popover
//- apply [disabled] attribute when server is not running
button.btn.btn-xs.btn-add-tab.purple(
  ng-if = "popoverAddTab && !instance.attrs.isTesting"
  ng-class = "{'active': popoverAddTab.data.show}"
  ng-disabled = "!instance.containers.models[0].running() && !debugContainer || instance.isMigrating()"
  pop-over
  pop-over-actions = "popoverAddTab.actions"
  pop-over-active = "popoverAddTab.data.show"
  pop-over-data = "popoverAddTab.data"
  pop-over-options = "{\"right\":-5,\"top\":37}"
  pop-over-template = "viewPopoverAddTab"
)
  svg.iconnables.icons-add
    use(
      xlink:href = "#icons-add"
    )
