button.btn.toggle-theme(
  ng-class = "{ \
    dark: colorScheme.isDarkScheme(), \
    light: !colorScheme.isDarkScheme() \
  }"
  ng-click = "colorScheme.toggleScheme()"
  tooltip = "Change Theme"
  tooltip-options = "{\"class\":\"bottom\",\"left\":11,\"top\":36}"
)
  .theme
ul.tabs
  li.tab-wrapper(
    ng-class = "{\
      'active': item.state.active,\
      'dirty': (item.state.isDirty), \
      'always-open': item.state.alwaysOpen\
    }"
    ng-click = "\
      openItems.activeHistory.add(item);\
      openItems.saveState();\
    "
    ng-repeat = "item in openItems.models"
  )
    span.tab-name(
      title = "{{ item.filepath() }}"
    ) {{ item.attrs.name  }}
    .icons-dirty *
    button.btn.white.btn-icon.btn-close(
      ng-click = "actions.removeItem($event, item)"
      ng-if = "!item.state.alwaysOpen"
    )
      svg.iconnables.icons-close
        use(
          xlink:href = "#icons-close"
        )

button.btn.btn-sm.white.btn-icon.btn-add-tab(
  ng-class = "{active: popoverAddTab.data.show}"
  pop-over
  pop-over-active = "popoverAddTab.data.show"
  pop-over-actions = "popoverAddTab.actions"
  pop-over-data = "popoverAddTab.data"
  pop-over-options = "{\"left\":-143,\"top\":45}"
  pop-over-template = "viewPopoverAddTab"
  ng-if = "showAddButtons"
)
  svg.iconnables.icons-add
    use(
      xlink:href = "#icons-add"
    )
