.modal-backdrop.in
  .modal-dialog.modal-repository-details
    header.modal-header
      h1.modal-heading.text-overflow(
        title = "{{RDMC.data.repo.attrs.name}}/{{RDMC.data.branch.attrs.name}}"
      )
        span.span {{RDMC.data.repo.attrs.name}}
        strong.strong /{{RDMC.data.branch.attrs.name}}
      svg.iconnables.icons-close(
        ng-click = "RDMC.close()"
      )
        use(
          xlink:href = "#icons-close"
        )
    section.modal-body.repository-details-content(
      branch-commit-selector
      data = "RDMC.data"
      hide-branch-selector = "!RDMC.data.acv.attrs.additionalRepo"
    )
    section.modal-footer
      button.btn.white.btn-cancel(
        ng-click = "RDMC.close()"
      ) Cancel
      button.btn.green(
        ng-click = "RDMC.updateInstance()"
      ) Save & Rebuild
