.modal-backdrop.in
  .modal-dialog.modal-repository-details
    header.modal-header
      h1.modal-heading.text-overflow {{RDMC.data.repo.attrs.name}}
      svg.iconnables.icons-close(
        ng-click = "RDMC.close()"
      )
        use(
          xlink:href = "#icons-close"
        )
    section.modal-body.repository-details-content(
      branch-commit-selector
      data = "RDMC.data"
      hide-branch-selector = "!RDMC.data.acv.attrs.additionalRepo"
    )
    section.modal-footer.clearfix
      button.btn.white.float-left(
        ng-click = "RDMC.close()"
      ) Cancel
      button.btn.green.float-right(
        ng-click = "RDMC.updateInstance()"
      ) Save & Rebuild
