.modal-backdrop.in
  .modal-dialog.modal-sm.modal-repository-details
    header.modal-header
      h1.modal-heading.text-overflow(
        title = "{{RDMC.data.acv.attrs.additionalRepo ? RDMC.data.repo.attrs.name : RDMC.data.repo.attrs.name + '/' + RDMC.data.branch.attrs.name}}"
      )
        span.span(
          ng-class = "{'strong': RDMC.data.acv.attrs.additionalRepo}"
        ) {{RDMC.data.repo.attrs.name}}
        //- when auto-isolation is enabled, this should only show up for containers in the master cluster
        strong.strong(
          ng-if = "!RDMC.data.acv.attrs.additionalRepo"
        ) /{{RDMC.data.branch.attrs.name}}
      svg.iconnables.icons-close(
        ng-click = "RDMC.close()"
      )
        use(
          xlink:href = "#icons-close"
        )
    section.modal-body.repository-details-content(
      branch-commit-selector
      data = "RDMC.data"
      hide-branch-selector = "!RDMC.data.acv.attrs.additionalRepo"
    )
    section.modal-footer.clearfix
      button.btn.btn-md.gray.btn-cancel.float-left(
        ng-click = "RDMC.close()"
      ) Cancel
      button.btn.btn-md.green.float-right(
        ng-disabled="!RDMC.hasCommitBeenUpdated() && !RDMC.hasLockedBeenUpdated())"
        ng-click = "RDMC.updateInstance()"
      ) {{ RDMC.hasCommitBeenUpdated() ? 'Save and Build' : 'Save' }}
