.grid-block.small Automatically rebuild when new commits are pushed.
  button.btn.btn-xs.btn-permissions(
    internal-modal-helper = "inviteAdminModalView"
    ng-if = "$root.featureFlags.webhooks"
    ng-include = "'permissionsButtonView'"
  )
.grid-block.shrink.margin-left-sm.toggle-wrapper
  input.toggle-input(
    ng-change = "BCSC.eventTracking.autoDeployToggled(BCSC.isAutoDeployOn())"
    ng-disabled = "$root.featureFlags.webhooks"
    ng-model = "BCSC.autoDeploy"
    ng-model-options = "{getterSetter: true}"
    type = "checkbox"
  )
  .toggle-group.toggle-sm
