label.label(
  branch-selector
  loading-promises-target = "editServerModal"
  ng-hide = "BCSC.hideBranchSelector"
  state = "BCSC.data"
)

//- this element should appear in:
    * the setup popover for adding a repo to Container Files
    * the edit modal (in the Containers view) for modifying an additional repo on a specific Container
label.toggle-wrapper(
  ng-show = "!BCSC.data.acv || BCSC.data.acv.attrs.additionalRepo"
) Always update to latest commit
  .small.float-left on new builds of&#32;
    strong.strong {{BCSC.data.getDisplayName() || BCSC.data.instance.getDisplayName()}}
  input.toggle-input(
    ng-model = "BCSC.isLatestCommit"
    ng-model-options = "{getterSetter: true}"
    type = "checkbox"
  )
  .toggle-group.toggle-sm

ul.list.list-servers
  li.spinner-wrapper.spinner-backdrop.spinner-gray.spinner-md.in(
    ng-if = "fetchingCommits"
    ng-include = "'spinner'"
  )
  li.list-item(
    ng-attr-title = "{{commit.attrs.commit.message}}"
    ng-class = "{active: BCSC.data.commit === commit, 'disabled': BCSC.isLatestCommit()}"
    ng-click = "BCSC.selectCommit(commit)"
    ng-if = "!fetchingCommits"
    ng-repeat = "commit in BCSC.data.branch.commits.models | orderBy: '-attrs.commit.committer.date'"
  ) {{commit.attrs.commit.message}}
    .row.row-author.clearfix
      .small.float-left(
        ng-attr-title = "{{commit.attrs.author.login}} authored {{commit.attrs.commit.committer.date | timeFrom}}"
      )
        img.gravatar.float-left(
          alt = "Runnabro"
          height = "15"
          ng-if = "$root.featureFlags.inviteFlows"
          src = "https://avatars2.githubusercontent.com/u/5341618?v=3&s=40"
          width = "15"
        )
        | {{commit.attrs.author.login}}—{{commit.attrs.commit.committer.date | timeFrom}}
      a.small.link.monospace.float-right(
        ng-click = "$event.stopPropagation()"
        ng-href = "{{commit.attrs.html_url}}"
        target = "_blank"
        title = "View on GitHub"
      ) {{::commit.attrs.sha | limitTo:7}}
    svg.iconnables.icons-fat-check
      use(
        xlink:href = "#icons-fat-check"
      )
