//- hide everything except the spinner when loading
.padding-md.grid-block.align-center.justify-center(
  ng-if = "fetchingCommits"
)
  .spinner-wrapper.spinner-gray.spinner-sm(
    ng-include = "'spinner'"
  )

//- if commit is behind while auto-deploy is on
.grid-block.shrink.align-center.padding-xs.well.well-popover.orange(
  ng-if = "\
    !fetchingCommits\
    && (\
      $root.featureFlags.autoDeployError\
      && (\
        BCSC.isAutoDeployOn()\
        && !BCSC.isLatestCommitDeployed\
      )\
    )\
  "
  ng-include = "'redeployCommitView'"
)

//- show this element for…
  - additional repositories
  - isolated friend containers
label.label(
  branch-selector
  loading-promises-target = "editServerModal"
  ng-if = "\
    !fetchingCommits\
    && (\
      !BCSC.hideBranchSelector\
    )\
  "
  state = "BCSC.data"
)

//- this element should appear in:
  - the setup popover for adding a repo to Container Files
  - the edit modal (in the Containers view) for modifying an additional repo on a specific Container
label.margin-bottom-sm.grid-block.shrink.align-center.padding-xxs.well.gray(
  ng-if = "\
    !fetchingCommits\
    && (\
      !BCSC.data.acv\
      || BCSC.data.acv.attrs.additionalRepo\
    )\
  "
  ng-include = "'updateToLatestToggleView'"
)

//- auto deploy toggle
label.grid-block.shrink.align-center.padding-xxs.well.gray(
  ng-if = "\
    !fetchingCommits\
    && (\
      BCSC.data.acv\
      && !BCSC.data.acv.attrs.additionalRepo\
    )\
  "
  ng-include = "'autoDeployToggleView'"
)

//- list of commits
ul.list.margin-top-sm(
  ng-if = "\
    !fetchingCommits\
    && BCSC.data.branch.commits.models\
  "
)
  li.grid-block.align-center.list-item(
    data-event-name = "Changed Commit"
    ng-class = "{\
      'active': BCSC.data.commit === commit,\
      'disabled': BCSC.data.commit === commit\
    }"
    ng-click = "BCSC.selectCommit(commit, $index === 0)"
    ng-repeat = "commit in BCSC.data.branch.commits.models | orderBy: '-attrs.commit.committer.date'"
  )
    .grid-block.vertical
      p.p.text-overflow(
        ng-attr-title = "{{commit.attrs.commit.message}}"
      ) {{commit.attrs.commit.message}}
      small.small.text-gray.text-overflow(
        ng-attr-title = "{{commit.attrs.author.login}} committed {{commit.attrs.commit.committer.date | timeFrom}}"
      ) {{commit.attrs.author.login}} committed {{commit.attrs.commit.committer.date | timeFrom}}
    button.grid-block.shrink.margin-left-sm.btn.btn-xs.btn-icon.btn-add
      svg.iconnables.icons-check
        use(
          xlink:href = "#icons-check"
        )
