//- if behind and auto-deploy is on
.grid-block.shrink.align-center.padding-xs.well.well-popover.orange(
  ng-if = "$root.featureFlags.autoDeployError && BCSC.isAutoDeployOn() && !BCSC.isLatestCommitDeployed"
)
  svg.grid-content.shrink.iconnables
    use(
      xlink:href = "#icons-alert-alt"
    )
  .grid-content.small Error deploying the latest commit.
  button.grid-content.shrink.btn.btn-xs.orange(
    ng-click = "BCSC.deployLatestCommit()"
  ) Deploy Now

//- show this element for…
  - additional repositories
  - isolated friend containers
label.label(
  branch-selector
  loading-promises-target = "editServerModal"
  ng-if = "!BCSC.hideBranchSelector"
  state = "BCSC.data"
)

//- this element should appear in:
    * the setup popover for adding a repo to Container Files
    * the edit modal (in the Containers view) for modifying an additional repo on a specific Container
label.toggle-wrapper(
  ng-if = "!BCSC.data.acv || BCSC.data.acv.attrs.additionalRepo"
)
  .strong Always update to latest commit
  .small.text-overflow on new builds of&#32;
    strong.strong {{BCSC.data.getDisplayName() || BCSC.data.instance.getDisplayName()}}
  input.toggle-input(
    ng-disabled = "$root.featureFlags.webhooks"
    ng-model = "BCSC.isLatestCommit"
    ng-model-options = "{getterSetter: true}"
    type = "checkbox"
  )
  .toggle-group.toggle-sm

label.toggle-wrapper(
  ng-if = "BCSC.data.acv && !BCSC.data.acv.attrs.additionalRepo"
)
  .strong Auto-Deploy
  .small Rebuild when new commits are pushed to GitHub.
  button.btn.btn-xs.btn-permissions(
    internal-modal-helper = "inviteAdminModalView"
    ng-if = "$root.featureFlags.webhooks"
    ng-include = "'permissionsButtonView'"
  )
  input.toggle-input(
    ng-change = "BCSC.eventTracking.autoDeployToggled(BCSC.isAutoDeployOn())"
    ng-disabled = "$root.featureFlags.webhooks"
    ng-model = "BCSC.autoDeploy"
    ng-model-options = "{getterSetter: true}"
    type = "checkbox"
  )
  .toggle-group.toggle-sm

ul.list.list-servers
  li.spinner-wrapper.spinner-backdrop.spinner-gray.spinner-md.in(
    ng-if = "fetchingCommits"
    ng-include = "'spinner'"
  )
  li.list-item(
    ng-attr-title = "{{commit.commit.message}}"
    ng-disabled = "BCSC.isAutoDeployOn() || BCSC.isLastestCommit()"
    ng-class = "{\
      'active': BCSC.data.commit === commit,\
      'disabled': BCSC.isAutoDeployOn() || BCSC.isLastestCommit()\
    }"
    ng-click = "BCSC.selectCommit(commit, $index === 0)"
    ng-if = "!fetchingCommits"
    ng-repeat = "commit in BCSC.data.commits | orderBy: '-commit.committer.date'"
  ) {{commit.commit.message}}
    .row.row-author.clearfix(
      ng-attr-title = "{{commit.author.login}} authored {{commit.commit.committer.date | timeFrom}}"
    )
      //- if invite flows...
      .btn-user.text-overflow(
        ng-class = "{'active': state.active}"
        ng-if = "$root.featureFlags.inviteFlows"
        ng-include = "'userButtonView'"
        pop-over
        pop-over-active = "state.active"
        pop-over-options = "{\"left\":-24,\"top\":26}"
        pop-over-template = "userPopoverView"
      )
      span.small(
        ng-if = "$root.featureFlags.inviteFlows"
      ) —{{commit.commit.committer.date | timeFrom}}

      //- else
      span.small(
        ng-if = "!$root.featureFlags.inviteFlows"
      ) {{commit.author.login}}—{{commit.commit.committer.date | timeFrom}}

      a.small.link.monospace(
        ng-click = "$event.stopPropagation()"
        ng-href = "{{commit.html_url}}"
        target = "_blank"
        title = "View on GitHub"
      ) {{::commit.sha | limitTo:7}}
    svg.iconnables.icons-fat-check(
      ng-if = "!BCSC.isLatestCommit()"
    )
      use(
        xlink:href = "#icons-fat-check"
      )
