svg.grid-block.shrink.margin-right-xs.iconnables
  use(
    xlink:href = "#icons-alert-alt"
  )
.grid-block.small There was an issue deploying your latest commit.
button.grid-block.shrink.margin-left-sm.btn.btn-xs.orange(
  ng-click = "BCSC.deployLatestCommit()"
) Redeploy
