//- add .center for non-overlay
.spinner-backdrop(
  ng-hide = "!dataApp.data.loading"
)
  .spinner
    .spinner-blade
    .spinner-blade
    .spinner-blade
    .spinner-blade
    .spinner-blade
    .spinner-blade
    .spinner-blade
    .spinner-blade
    .spinner-blade
    .spinner-blade
    .spinner-blade
    .spinner-blade