//- development only
div(
  ng-if = "dataApp.data.configEnvironment === 'development'"
  style = "\
     bottom: 0; \
     color: red; \
     font-weight: 500; \
     right: 0; \
     position: absolute; \
     z-index: 9999;"
) API: {{ dataApp.data.configAPIHost }}
  br
  | ENV: {{ dataApp.data.configEnvironment }}

