.modal-backdrop.in
  .modal-dialog.modal-sm.modal-alert
    header.modal-body
      p.p.strong Are you sure you want to remove this branch from your sandbox?
      p.p You can add this branch again later, but any configuration changes will not be saved.
    footer.modal-footer.clearfix
      button.btn.btn-sm.gray.float-left Cancel
      button.btn.btn-sm.red.float-right Delete Branch