li.container-list-item.grid-block
  a.grid-block.align-center.a-sref(
    ui-sref = "\
      base.instances.instance({userName: INC.activeAccount.oauthName(),\
      instanceName: INC.instance.attrs.name})\
    "
    ui-sref-active = "active"
  )
    status-icon.grid-block.shrink(
      instance = "INC.instance"
    )
    .grid-block.text-overflow(
      title = "{{getNavigationName()}}"
    )
      //- show repo names for repo containers
      span(
        ng-if = "INC.instance.attrs.masterPod && INC.instance.getBranchName()"
      ) {{INC.instance.getName()}}/
      | {{getNavigationName()}}

    .grid-block.shrink.btn.btn-xxs.btn-badge(
      ng-if = "INC.instance.attrs.isIsolationGroupMaster && !$root.featureFlags.autoIsolation"
    ) Isolated

    svg.grid-block.shrink.iconnables.icons-overflow(
      ng-class = "{'active': INC.popoverShown}"
      ng-if = "!$root.featureFlags.autoIsolation && ((INC.masterInstance !== INC.instance && INC.instance.getBranchName()) || (!INC.instance.attrs.isIsolationGroupMaster && INC.instance.attrs.isolated))"
      pop-over
      pop-over-active = "INC.popoverShown"
      pop-over-controller = "INC"
      pop-over-options = "{\"verticallyCentered\":true,\"left\":28}"
      pop-over-template = "instanceNavigationPopoverView"
    )
      use(
        xlink:href = "#icons-overflow"
      )

    button.grid-block.shrink.btn-config(
      ng-class = "{'active': INC.popoverShown}"
      pop-over
      pop-over-active = "INC.popoverShown"
      pop-over-controller = "INC"
      pop-over-options = "{\"verticallyCentered\":true,\"left\":28}"
      pop-over-template = "instanceNavigationPopoverView"
      ng-if = "$root.featureFlags.autoIsolation"
    )
      svg.iconnables
        //- if this container's configuration is *not* modified
        use(
          xlink:href = "#icons-config"
        )
        //- if this container's configuration *is* modified
        //- use(
        //-   xlink:href = "#icons-config-modified"
        //- )

    //- config button for non-repo containers (pre auto-isolation)
    svg.grid-block.shrink.iconnables.icons-config(
      ng-click="INC.editInstance($event)"
      ng-if = "$root.featureFlags.editAnyInstance || INC.instance.attrs.masterPod && !INC.instance.getBranchName() && !INC.instance.attrs.isolated && !$root.featureFlags.autoIsolation"
      title = "Configure"
    )
      use(
        xlink:href = "#icons-config"
      )

//- wraps repo friends
.friend-wrapper.grid-block(
  active-account = "INC.activeAccount"
  instance = "instance"
  instance-navigation
  ng-repeat = "instance in INC.instance.isolation.instances | instanceHasRepo:true | orderBy: ['attrs.name']"
  ng-if = "INC.shouldExpand && INC.instance.isolation.instances.models.length"
)

//- wraps service friends
.friend-wrapper.grid-block(
  active-account = "INC.activeAccount"
  instance = "instance"
  instance-navigation
  ng-repeat = "instance in INC.instance.isolation.instances | instanceHasRepo:false | orderBy: ['attrs.name']"
  ng-if = "INC.shouldExpand && INC.instance.isolation.instances.models.length"
)
