a.grid-block.align-center.a-sref(
  ui-sref = "\
    base.instances.instance({userName: INC.activeAccount.oauthName(),\
    instanceName: INC.instance.attrs.name})\
  "
  ui-sref-active = "active"
)
  status-icon.grid-block.shrink(
    instance = "INC.instance"
  )
  .grid-block.text-overflow(
    title = "{{getNavigationName()}}"
  )
    //- show repo names for repo containers in the master cluster
    span(
      ng-if = "INC.instance.attrs.masterPod && INC.instance.getBranchName()"
    ) {{INC.instance.getName()}}/
    //- branch name or service name
    | {{getNavigationName()}}
  button.grid-block.shrink.btn-container-menu(
    ng-class = "{'active': INC.popoverShown}"
    ng-if = "!INC.currentOrg.isPersonalAccount() && !INC.isInDemoFlow()"
    pop-over
    pop-over-active = "INC.popoverShown"
    pop-over-controller = "INC"
    pop-over-options = "{\"verticallyCentered\":true,\"left\":28}"
    pop-over-template = "instanceNavigationPopoverView"
  )
    svg.iconnables
      use(
        ng-if = "!INC.instance.attrs.isIsolationGroupMaster"
        xlink:href = "#icons-gear"
      )
      use(
        ng-if = "INC.instance.attrs.isIsolationGroupMaster || INC.instance.attrs.isolated"
        xlink:href = "#icons-gear-modified"
      )

  //- config button for non-repo containers (pre auto-isolation)
  svg.grid-block.shrink.iconnables.icons-gear(
    ng-click="INC.editInstance($event)"
    ng-if = "$root.featureFlags.editAnyInstance"
    title = "Configure Service"
  )
    use(
      xlink:href = "#icons-gear"
    )

//- wraps repo friends
.grid-block.friend-wrapper(
  active-account = "INC.activeAccount"
  instance = "instance"
  instance-navigation
  ng-if = "INC.shouldExpand && INC.instance.isolation.instances.models.length"
  ng-repeat = "instance in INC.instance.isolation.instances | instanceHasRepo:true | orderBy: ['attrs.name']"
)

//- wraps service friends
.grid-block.friend-wrapper(
  active-account = "INC.activeAccount"
  instance = "instance"
  instance-navigation
  ng-if = "INC.shouldExpand && INC.instance.isolation.instances.models.length"
  ng-repeat = "instance in INC.instance.isolation.instances | instanceHasRepo:false | orderBy: ['attrs.name']"
)
