.list-item(
  ng-class = "{'open': $state.params.instanceName === INC.instance.attrs.name}"
  ng-include = "'instanceNavigationInternalsView'"
)

//- list of isolated containers
.list.list-isolated(
  ng-if = "$root.featureFlags.isolationUI && $state.params.instanceName === INC.instance.attrs.name && INC.instance.isolation.containers.models.length"
)
  .list-item(
    ng-if = "INC.instance.isolation.containers.repo.length"
    ng-repeat = "container in INC.instance.isolation.containers.repo"
    instance-sub-navigation
    instance = "container"
  )

  .list-item(
    ng-if = "INC.instance.isolation.containers.nonRepo.length"
    ng-repeat = "container in INC.instance.isolation.containers.nonRepo"
    instance-sub-navigation
    instance = "container"
  )
