.grid-block.vertical.list-containers.text-overflow(
  ng-if = "!$root.featureFlags.composeNav"
  ng-class = "{'open': INC.shouldExpand}"
  ng-include = "'instanceNavigationInternalsView'"
)

a.grid-block.nav-container(
  ng-if = "$root.featureFlags.composeNav"
  ui-sref = "\
      base.instances.instance({userName: INC.instance.attrs.owner.username,\
      instanceName: INC.instance.attrs.name})\
    "
  ng-class = "isActive()"
)
  status-icon.grid-block.shrink(
    instance = "INC.instance"
  )
  span.grid-block(
    title = "{{getNavigationName()}}"
  )
    //- repo names for repo containers in the master cluster / branch name or service name
    span.text-overflow {{getNavigationName()}}
    
  //- show history button for branches of non-compose repos (including the default branch)
  branch-commit-popover-button(
    instance = "INC.instance"
    ng-if = "INC.showCommitSelector(INC.instance)"
  )
    button.grid-block.shrink.btn.btn-container-menu(
      ng-class = "{\
        'active': popoverShown,\
        'orange': previousCommit\
      }"
      pop-over
      pop-over-options = "{\"verticallyCentered\":true,\"left\":26,\"pinToViewPort\":true}"
      pop-over-template = "branchCommitSelectorPopoverView"
    )
      svg.iconnables
        use(
          xlink:href = "#icons-history"
        )

  button.grid-block.shrink.btn-container-menu(
    ng-class = "{'active': INC.popoverShown}"
    ng-if = "!INC.currentOrg.isPersonalAccount() && !INC.isInDemoFlow() && !INC.instance.attrs.inputClusterConfig._id"
    pop-over
    pop-over-active = "INC.popoverShown"
    pop-over-controller = "INC"
    pop-over-options = "{\"verticallyCentered\":true,\"left\":28}"
    pop-over-template = "instanceNavigationPopoverView"
  )
    svg.iconnables
      use(
        ng-if = "!INC.instance.attrs.isIsolationGroupMaster"
        xlink:href = "#icons-gear"
      )
      use(
        ng-if = "INC.instance.attrs.isIsolationGroupMaster || INC.instance.attrs.isolated"
        xlink:href = "#icons-gear-modified"
      )
