a.grid-block.align-center.a-sref(
  ui-sref = "\
    base.instances.instance({userName: INC.activeAccount.oauthName(),\
    instanceName: INC.instance.attrs.name})\
  "
  ui-sref-active = "active"
)
  status-icon.grid-block.shrink(
    instance = "INC.instance"
  )
  .grid-block.text-overflow(
    title = "{{getNavigationName()}}"
  )
    //- show repo names for repo containers in the master cluster
    span(
      ng-if = "INC.instance.attrs.masterPod && INC.instance.getBranchName() && $root.featureFlags.addBranches"
    ) {{INC.instance.getName()}}/
    //- branch name or service name
    | {{getNavigationName()}}

  .grid-block.shrink.btn.btn-xxs.btn-badge(
    ng-if = "INC.instance.attrs.isIsolationGroupMaster && !$root.featureFlags.addBranches"
  ) Isolated

  svg.grid-block.shrink.iconnables.icons-overflow(
    ng-class = "{'active': INC.popoverShown}"
    ng-if = "!$root.featureFlags.addBranches && ((INC.masterInstance !== INC.instance && INC.instance.getBranchName()) || (!INC.instance.attrs.isIsolationGroupMaster && INC.instance.attrs.isolated))"
    pop-over
    pop-over-active = "INC.popoverShown"
    pop-over-controller = "INC"
    pop-over-options = "{\"verticallyCentered\":true,\"left\":28}"
    pop-over-template = "instanceNavigationPopoverView"
  )
    use(
      xlink:href = "#icons-overflow"
    )

  button.grid-block.shrink.btn-gear(
    ng-class = "{'active': INC.popoverShown}"
    pop-over
    pop-over-active = "INC.popoverShown"
    pop-over-controller = "INC"
    pop-over-options = "{\"verticallyCentered\":true,\"left\":28}"
    pop-over-template = "instanceNavigationPopoverView"
    ng-if = "$root.featureFlags.addBranches"
  )
    svg.iconnables
      use(
        ng-if = "$root.featureFlags.addBranches && !INC.instance.attrs.isIsolationGroupMaster"
        xlink:href = "#icons-gear"
      )
      use(
        ng-if = "$root.featureFlags.addBranches && INC.instance.attrs.isIsolationGroupMaster || INC.instance.attrs.isolated"
        xlink:href = "#icons-gear-modified"
      )

  //- config button for non-repo containers (pre auto-isolation)
  svg.grid-block.shrink.iconnables.icons-gear(
    ng-click="INC.editInstance($event)"
    ng-if = "$root.featureFlags.editAnyInstance || INC.instance.attrs.masterPod && !INC.instance.getBranchName() && !INC.instance.attrs.isolated && !$root.featureFlags.addBranches"
    title = "Configure Template"
  )
    use(
      xlink:href = "#icons-gear"
    )

//- wraps repo friends
.grid-block.friend-wrapper(
  active-account = "INC.activeAccount"
  instance = "instance"
  instance-navigation
  ng-repeat = "instance in INC.instance.isolation.instances | instanceHasRepo:true | orderBy: ['attrs.name']"
  ng-if = "INC.shouldExpand && INC.instance.isolation.instances.models.length"
)

//- wraps service friends
.grid-block.friend-wrapper(
  active-account = "INC.activeAccount"
  instance = "instance"
  instance-navigation
  ng-repeat = "instance in INC.instance.isolation.instances | instanceHasRepo:false | orderBy: ['attrs.name']"
  ng-if = "INC.shouldExpand && INC.instance.isolation.instances.models.length"
)
