.popover.menu.right.popover-container-menu(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white
  .popover-content(
    ng-if = "$root.featureFlags.autoIsolation"
  )
    ul.list.popover-list(
      ng-if = "INC.instance.attrs.masterPod"
    )
      li.list-item.popover-list-item.multi-line(
        ng-click = "INC.editInstance($event)"
      )
        svg.iconnables.icons-gear
          use(
            xlink:href = "#icons-gear"
          )
        | Configure Template
        .small Affects all [config-name] containers.

    ul.list.popover-list(
      ng-if = "!INC.instance.attrs.masterPod"
    )
      li.list-item.popover-list-item.multi-line(
        ng-click = "INC.editInstance($event)"
      )
        svg.iconnables.icons-gear
          use(
            xlink:href = "#icons-gear-modified"
          )
        | Configure
        .small Affects only this container.

      //- if this container has a modified template
      //- li.list-item.popover-list-item.multi-line(
      //-   internal-modal-helper = "confirmConfigDiscardView"
      //- )
        svg.iconnables.icons-gear
          use(
            xlink:href = "#icons-gear-delete"
          )
        | Discard Changes
        .small To restore template configuration

      li.list-item.popover-list-item.divider(
        ng-if = "INC.instance.attrs.isIsolationGroupMaster"
      )
      li.list-item.popover-list-item(
        ng-click = "INC.removeBranch()"
        ng-if = "INC.instance.attrs.isIsolationGroupMaster"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-delete"
          )
        | Delete Branch

  .popover-content(
    ng-if = "$root.featureFlags.addBranches && !$root.featureFlags.autoIsolation"
  )
    ul.list.popover-list(
      ng-if = "INC.instance.attrs.masterPod"
    )
      li.list-item.popover-list-item.multi-line(
        ng-click = "INC.editInstance($event)"
      )
        svg.iconnables.icons-gear
          use(
            xlink:href = "#icons-gear"
          )
        | Configure Template
        .small Affects all non-isolated [config-name] containers.

    ul.list.popover-list(
      ng-if = "!INC.instance.attrs.masterPod"
    )
      .well.gray.padding-xs(
        ng-if = "!INC.instance.attrs.isolated"
      ) Isolating a branch allows you to…
        ul.list.list-bulleted
          li.list-item Create a separate environment to use with this branch.
          li.list-item Configure this branch independently from your template.
      li.list-item.popover-list-item(
        ng-click = "INC.setupIsolation()"
        ng-if = "!INC.instance.attrs.isolated"
      )
        svg.iconnables.icons-gear
          use(
            xlink:href = "#icons-gear-modified"
          )
        | Isolate Branch
        span(
          ng-if = "INC.shouldShowSetupModal"
        ) …

      li.list-item.popover-list-item.multi-line(
        ng-click = "INC.editInstance($event)"
        ng-if = "INC.instance.attrs.isolated"
      )
        svg.iconnables.icons-gear
          use(
            xlink:href = "#icons-gear-modified"
          )
        | Configure
        .small Affects only this container.

      li.divider
      li.list-item.popover-list-item(
        ng-click = "INC.disableIsolation()"
        ng-if = "INC.instance.attrs.isIsolationGroupMaster"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-delete"
          )
        | Disable Isolation
      li.list-item.popover-list-item(
        ng-click = "INC.deleteContainer()"
        ng-if = "INC.instance.attrs.isolated && !INC.instance.attrs.isIsolationGroupMaster"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-isolation-disable"
          )
        | Delete from Isolation
      li.list-item.popover-list-item(
        ng-click = "INC.removeBranch()"
        ng-if = "!INC.instance.attrs.isolated"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-delete"
          )
        | Delete Branch

  .popover-content(
    ng-if = "!$root.featureFlags.addBranches && !$root.featureFlags.autoIsolation"
  )
    //- menu items:
      - for an isolated branch:
        - Configure Template
        - (divider)
        - Add Container to Isolation
        - (divider)
        - Hide
      - for an isolated branch's containers:
        - Configure Template
    ul.list.popover-list
      li.list-item.popover-list-item(
        ng-click = "INC.editInstance($event)"
        ng-if = "INC.instance.attrs.isolated"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-gear"
          )
        | Configure Template
      li.divider(
        ng-if = "INC.instance.attrs.isolated"
      )
      li.list-item.popover-list-item.multi-line.disabled(
        ng-if = "!INC.instance.attrs.isolated"
      )
        p.p Isolating a branch allows you to…
        ul.list.list-bulleted.small
          li.list-item Create a separate environment to use with this branch.
          li.list-item Configure this branch independently from your template.
          .btn.btn-sm.btn-block.green(
            ng-click = "INC.setupIsolation()"
          ) Enter Isolation
            //- while we can only isolate with service containers:
              - only show this if service containers exist
            //- once we can isolate with service containers and repo containers:
              - only show this if service containers or *other* repo containers exist
            span(
              ng-if = "INC.shouldShowSetupModal"
            ) …
      li.list-item.popover-list-item(
        ng-click = "INC.disableIsolation()"
        ng-if = "INC.instance.attrs.isIsolationGroupMaster"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-delete"
          )
        | Disable Isolation
      li.list-item.popover-list-item(
        ng-click = "INC.deleteContainer()"
        ng-if = "INC.instance.attrs.isolated && !INC.instance.attrs.isIsolationGroupMaster"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-isolation-disable"
          )
        | Delete from Isolation

      //- navListFilter
      li.divider(
        ng-if = "$root.featureFlags.navListFilter"
      )
      li.list-item.popover-list-item(
        ng-if = "$root.featureFlags.navListFilter"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-hide"
          )
        | Hide
