.popover.menu.right.popover-container-menu(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white
  .popover-content(
    ng-if = "$root.featureFlags.autoIsolation"
  )
    ul.list.popover-list

      //- if this is a container in the master cluster
      //- li.list-item.popover-list-item.multi-line
      //-   svg.iconnables.icons-gear
      //-     use(
      //-       xlink:href = "#icons-gear"
      //-     )
      //-   | Configure
      //-   .small Affects all [config-name] containers.

      //- if this is a container that is not part of the master cluster
      li.list-item.popover-list-item.multi-line
        svg.iconnables.icons-gear
          use(
            xlink:href = "#icons-gear-modified"
          )
        | Configure
        .small Only affects this container.

      //- if this container has a modified configuration
      //- li.list-item.popover-list-item
      //-   svg.iconnables.icons-gear
      //-     use(
      //-       xlink:href = "#icons-gear-delete"
      //-     )
      //-   | Discard Configuration

      //- if this is the primary container of an isolated cluster
      //- li.list-item.popover-list-item.divider
      //- li.list-item.popover-list-item(
      //-   internal-modal-helper = "confirmBranchRemoveView"
      //- )
      //-   svg.iconnables
      //-     use(
      //-       xlink:href = "#icons-delete"
      //-     )
      //-   | Remove Branch

  .popover-content(
    ng-if = "!$root.featureFlags.autoIsolation"
  )
    //- menu items:
      - for an isolated branch:
        - Configure Container
        - (divider)
        - Add Container to Isolation
        - (divider)
        - Hide
      - for an isolated branch's containers:
        - Configure Container
    ul.list.popover-list
      li.list-item.popover-list-item(
        ng-if = "INC.instance.attrs.isolated"
        ng-click = "INC.editInstance($event)"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-gear"
          )
        | Configure Container
      li.divider(
        ng-if = "INC.instance.attrs.isolated"
      )
      li.list-item.popover-list-item.multi-line.disabled(
        ng-if = "!INC.instance.attrs.isolated"
      )
        p.p Isolating a branch allows you to…
        ul.list.list-bulleted.small
          //- while we can only isolate with service containers:
          li.list-item Copy your service containers to use with this branch.
          //- once we can isolate with service containers and repo containers:
            - li.list-item Create a separate stack of your containers to use with this branch.
          li.list-item Configure this branch differently from your default.
          .btn.btn-sm.btn-block.green(
            ng-click = "INC.setupIsolation()"
          ) Enter Isolation
            //- while we can only isolate with service containers:
              - only show this if service containers exist
            //- once we can isolate with service containers and repo containers:
              - only show this if service containers or *other* repo containers exist
            span(
              ng-if = "INC.shouldShowSetupModal"
            ) …
      li.list-item.popover-list-item(
        ng-if = "INC.instance.attrs.isIsolationGroupMaster"
        ng-click = "INC.disableIsolation()"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-delete"
          )
        | Disable Isolation
      li.list-item.popover-list-item(
        ng-if = "INC.instance.attrs.isolated && !INC.instance.attrs.isIsolationGroupMaster"
        ng-click = "INC.deleteContainer()"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-isolation-disable"
          )
        | Delete Container from Isolation

      //- navListFilter
      li.divider(
        ng-if = "$root.featureFlags.navListFilter"
      )
      li.list-item.popover-list-item(
        ng-if = "$root.featureFlags.navListFilter"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-hide"
          )
        | Hide
