.list-item(
  ng-class = "{\
    'isolated': $root.featureFlags.isolationUI,\
    'open': $state.params.instanceName === INC.instance.attrs.name\
  }"
  ng-include = "'instanceNavigationInternalsView'"
)
