.DS_Store
*.log
*.dump
*.orig
*.rdb
*.sass-cache/
node_modules/
client/build/
client/config/json/
client/polyfills/index.js
client/controllers/index.js
client/services/index.js
client/filters/index.js
client/directives/index.js
client/decorators/index.js
client/animations/index.js
test/coverage/*
!test/coverage/.gitkeep
*.iml
client/assets/**/*.css