.DS_Store
*.log
*.dump
client/build/
bower/
node_modules/
*.sass-cache/
client/controllers/index.js
client/services/index.js
client/filters/index.js
client/directives/index.js
client/animations/index.js
*.rdb
