// step 2a
.modal-stack-selector {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 15px 15px 0;
  width: 540px;

  .label {
    display: block;
    flex: 0 0 auto;
    margin: 0 0 30px;

    + .label {
      border-top: 1px solid rgba($black,.1);
      padding-top: 15px;
    }

    &:nth-child(4) {
      flex: 1 1 auto;
    }
  }

  .label-col {
    float: left;
    height: 36px;
    line-height: 36px;
    padding-right: 15px;
    width: 50%;

    .small {
      line-height: 1;
    }
  }

  .label > .btn,
  .label > .btn-group,
  .input {
    float: right;
    text-align: left;
    width: 50%;
  }

  .small {
    color: $gray-light;
    display: block;
  }

  // branch select
  .btn-select {

    .iconnables {
      height: 18px;
      top: 9px;
      width: 18px;
    }

    .icons-branch {
      color: $gray-light;
    }
  }

  // language/framework button
  .btn-group {

    .btn {
      width: 50%;

      + .btn {
        padding-left: 15px;
      }
    }

    + .btn-group {
      margin-top: 6px;

      .btn:first-child {
        background: $gray-lightest;
        border: 1px solid rgba($black,.1);
        cursor: default;
      }
    }

    .small {
      color: $gray-dark;
      display: inline-block;
      float: left;
    }
  }

  // footer
  .modal-footer {
    margin: 30px -15px 0;
  }
}

// step 2b: dependencies
.modal-stack-dependencies {
  border-top: 1px solid rgba($black,.1);
  flex: 1 1 auto;
  height: 151px;
  padding-top: 15px;

  .label-col {

    + .small {
      height: 24px;
      line-height: 24px;
    }

    .btn-xxs {
      margin-left: 9px;
      width: auto;
    }
  }

  .list {
    float: right;
    margin: 0 0 15px;
    max-height: 150px;
    overflow-y: auto;
    width: 50%;
  }

  .list-item {
    background: $gray-lightest;
    border: 1px solid rgba($black,.1);
    border-radius: 3px;
    height: 36px;
    line-height: 36px;
    margin: 0 0 6px;
    overflow-y: hidden;
    padding: 0 30px 0 9px;

    .orange {
      margin-right: 6px;
    }
  }

  // remove dependency
  // .btn-close {
  //   height: 36px;
  //   position: absolute;
  //   right: 0;
  //   top: 0;
  //   transition: none;

  //   &:hover,
  //   &:active {
  //     color: $orange-dark;
  //   }
  // }

  // .icons-close {
  //   height: 36px;
  //   width: 18px;
  // }
}