.modal-fork {

  .modal-input {
    margin-bottom: 30px;
    max-width: 540px;
  }

  .pre {
    border-radius: 3px;
    margin-top: 6px; // matches .modal-input

    // temp
    text-align: left;
  }
}