.modal-wizard {
  padding-top: 15px;

  // reset and center header
  .modal-heading {
    float: none;
    line-height: 54px;
    text-align: center;

    .btn {
      position: absolute;
      right: 30px;
      top: 30px;
    }

    .small {
      color: $gray;
      line-height: 0;
    }
  }

  .modal-body {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 30px;
  }

  .modal-footer {
    padding: 9px 30px;
  }
}
