.modal-webhooks {
  color: $gray-dark;
  width: 390px;

  .small {
    color: $gray;
  }

  .input {
    background-color: $white;
    color: $gray;
    font-size: 14px;
    font-weight: 400;
    height: 24px;
    line-height: 20px;
    transition: all .2s;

    &[disabled] {
      -webkit-text-fill-color: $gray;
      border-color: transparent !important;
      cursor: pointer;
    }
  }

  .list-bordered {
    background: $white;
    flex: 0 0 auto;
    font-weight: $weight-bold;
    line-height: 18px;
    margin: 18px 0 6px;

    .list-item {
      padding: 0 15px 0 48px;
      line-height: 18px;
      min-height: 54px;
      max-height: 54px;
      transition: all .2s;
      overflow: hidden;
      cursor: pointer;

      &.active {
        height: 240px;
        border: 0;
        padding: 6px 15px;
        max-height: 216px;

        .gravatar {
          opacity: 0;
        }

        .admin-info {
          left: 15px;
        }

        .input {
          margin-top: 12px;
        }
      }

      &.inactive {
        max-height: 0;
        min-height: 0;
        opacity: 0;
        padding: 0 15px;
        border: 0;
      }

      // loading state
      > .spinner-wrapper {
        width: 100%;
      }

      > .btn-sm {
        position: relative;
        right: 0;
        top: 0;
      }
    }
  }

  .gravatar {
    background: $gray;
    border-radius: 50%;
    height: 30px;
    margin: 0;
    position: absolute;
    left: 15px;
    top: 12px;
    transition: all .2s;
  }

  .textarea {
    margin: 12px 0;
    background-color: $white;
    color: $gray;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    height: 75px;
  }
}

.admin-info {
  margin-top: 6px;

  .p {
    margin-left: 8px;
  }
}

.panel-admins-list .btn {
  flex: 0 0 90px;
}

.panel-invite-admin {

  .input-message {
    height: 75px;
    margin-top: 12px;
  }
}