.modal-sidebar {
  background: $gray-lighter;
  border-radius: 0 3px 3px 0;
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate3d(0,0,0);
  transition: transform .2s ease-in;
  width: 240px;
  z-index: $z-modal-sidebar;

  .show-sidebar & {
    transform: translate3d(240px,0,0);
  }

  .box-group {
    height: 100%;
    margin: 0;
    padding: 0;
  }


  .box-group-item {
    border-radius: 0;
    color: $gray;
    font-size: 12px;
    height: auto;
    margin: 0;
    min-height: 45px;
    padding: 0;
    width: 100%;

    + .box-group-item {
      border-top: 1px solid rgba($black,.1);
    }

    &.expanded {
      line-height: 18px;

      .box-item-wrapper {
        padding-top: 12px;
      }

      .btn {
        font-size: 12px;
        margin: 33px 0 12px 12px;

        + .btn {
          margin-left: 3px;
        }
      }
    }
  }

  // label.box-item-wrapper
  .box-item-wrapper {
    cursor: pointer;
    display: block;
    height: 100%;
    padding: 15px 12px 9px;
    position: absolute;
    width: 100%;
  }

  // input.input-text.text-overflow.box-item-copy
  .box-item-copy {
    display: block;
  }
}