.modal-launch-branches {
  width: 390px;
  color: $gray;

  .list {
    background: $white;
    margin-top: 15px;
    font-weight: $weight-bold;
    color: $gray-dark;

    + .list {
      font-weight: $weight-normal;
    }
  }

  .list-item {
    height: 48px;
    padding: 15px 15px 15px 45px;
    line-height: 18px;
  }

  .iconnables {
    width: 21px;
    height: 21px;
    position: absolute;
    left: 15px;
  }
}