.modal-repository-details {
  max-width: none;
  width: 360px;
  background-color: $white;

  .modal-header {
    background-color: $gray-lighterest;
  }

  .list-servers {
    margin-top: 12px;
  }

  // always update check
  .label-checkbox {
    color: $gray;
    line-height: 24px;
    text-align: center;
  }

  .input-checkbox {
    float: none;
    height: 12px;
    margin: 0 3px 0 0;
    width: 15px;
  }

  // filter
  .label-jump {
    display: block;
    margin-bottom: 3px;
    text-align: center;
  }

  .toggle-wrapper {
    border-top: 1px solid $gray-lighter;
    border-bottom: 1px solid $gray-lighter;
    padding: 9px 12px;
    margin-top: 15px;
  }

  .toggle-group {
    float: right;
  }
}
