.modal-alert {
  background: $white;
  top: 10%;

  .modal-body {
    padding: 33px 30px 30px;
  }

  // title
  .p.strong {
    color: $gray-darker;
    font-size: 18px;
  }

  .well {
    background: $gray-lighterest;

    &.ignore-margin {
      min-height: 44px;

      &:first-of-type {
        border-radius: $input-border-radius $input-border-radius 0 0;
      }

      &:last-child {
        border-radius: 0 0 $input-border-radius $input-border-radius;
      }

      + .well.ignore-margin {
        margin-top: -1px;
      }
    }

    > .list {
      line-height: $input-xs;
      list-style: disc;
      padding-left: 21px;
    }
  }

  .p + .p,
  .p + .well,
  .well + .well {
    margin-top: 12px;
  }

  .iconnables {
    height: 18px;
    width: 18px;
  }

  .modal-footer {
    @include media(xxs) {
      .float-left + .float-right {
        margin-top: 6px;
      }
    }
  }
}
