.modal-edit-server {
  max-width: 660px;
  width: 100%;

  // nav
  .modal-header {

    .p {
      margin-top: 6px;
    }

    .btn-xs {
      color: $gray;
      position: absolute;
      right: 15px;
      top: 12px;
    }

    .input-checkbox {
      margin: 0 6px 0 0;
    }
  }

  .modal-tabs {
    display: flex;
    justify-content: center;
  }

  .btn-radio {
    height: 81px;
    line-height: 1;
    margin: 0 0 9px;
    padding: 0 9px;
    white-space: normal;
    width: 96px;
  }

  .btn-text {
    display: inline-block;
    font-size: 13px;
    height: 30px;
    line-height: 1.2;
  }

  // forms
  // ports
  .textarea {
    cursor: text;
    display: block;
    font-size: 14px;
    height: 90px;
    overflow-y: auto;
    padding: 6px;

    .btn {
      border-width: 1px;
      flex: 0 0 auto;
      margin-right: 6px;
    }

    .input-port {
      color: $gray-dark;
      font-size: 13px;
      font-weight: 500;
      height: 18px;
      min-width: 9px;

      &:focus {
        outline: 0;
      }
    }
  }
}

// ace things
.ace-container {
  border: 2px solid $gray-lighter;
  border-radius: 3px;
  display: flex;

  .ace_editor {
    flex: 1 1 auto;
  }
}

// environment variables
.ace-environment-variables {
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  height: 210px;
}

// build files
.ace-build-files {
  background: $white;

  .ace_editor {
    height: 210px;
  }

  // override sidebar
  .sidebar {
    border-right-width: 2px;
    height: auto;
    padding: 0;
    width: 180px;
  }

  .sidebar-actions {
    background: $gray-lighter;
    bottom: 0;
    height: 30px;
    padding: 4px 3px;
    position: absolute;
    width: 100%;

    .btn-xs {
      padding: 0;
    }

    .iconnables {
      height: 100%;
    }
  }

  .file-tree {
    margin: 3px;
  }
}