.modal-mirror-dockerfile {
  width: 600px; // must set for animated panel

  @include media(xs) {
    width: 460px;
  }

  @include media(xxs) {
    width: 370px;
  }

  //- empty state
  .gray.empty {
    background: $gray-lighterest;
    border-radius: $input-border-radius-lg;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .list-item {
    align-items: center;
    color: $gray-dark;
    cursor: pointer;
    height: $input-lg;
    line-height: 1;
    overflow: hidden;
    padding: 0 15px;

    // change cursor if selected
    &.disabled,
    &.active {
      cursor: default;
    }

    // anchor
    > .iconnables {
      width: 18px;

      + .grid-content {
        min-height: 18px;
        overflow: hidden;

        @include media(xxs) {
          padding: 0 9px;
        }
      }
    }

    // link to github
    .link {
      color: $gray-light;
    }

    .icons-link {
      width: 15px;
    }

    // hidden input
    .checkbox {
      position: absolute;
      visibility: hidden;

      &:checked ~ .btn-icon {
        @extend %green;
        color: $white;
      }
    }

    // check button
    .btn-icon {
      border-radius: 50%;
      pointer-events: none; // let the label parent select
    }
  }

  // label
  .label-from {
    margin-top: 15px;
  }

  // path
  .text-left {
    direction: rtl;
  }

  .btn-add-dockerfile {
    margin-left: 9px;
  }

  // add custom dockerfile
  .well-add-dockerfile {
    background: $gray-lightest;
    border-radius: $input-border-radius-lg;
    position: relative;

    .icons-close {
      color: $gray-light;
      cursor: pointer;
      pointer-events: auto;
      position: absolute;
      right: 15px;
      top: 15px;

      &:hover {
        color: $red;
      }

      &:active {
        color: $red-dark;
      }
    }

    .white {
      flex: 0 0 auto; // safari cuts off button without this
      margin-left: 6px;
    }
  }
}

// the edit version
.popover-fixed .well.well-add-dockerfile {
  background: $gray-lighterest;
}
