.modal-sheet {
  background: $white;
  left: 0;
  margin: 0 auto;
  max-height: calc(100vh - 75px);
  max-width: 630px;
  position: fixed;
  right: 0;
  top: 60px;
  z-index: $z-popover-fixed;

  @media (max-height: 500px) {
    max-height: calc(100vh - 45px);
    top: 30px;
  }

  @include media(xxs) {
    max-height: calc(100vh - 45px);
    top: 30px;
  }

  .modal-title {
    margin: 6px 0 21px;

    // delete
    .btn-xs {
      float: right;
      padding-left: 0;
    }

    .icons-trash {
      float: left;
      height: 100%;
    }

    .small {
      color: $gray;
      display: block;
      line-height: 1.4;
      margin-top: 6px;
    }
  }

  .modal-body {
    min-height: 90px;
    position: relative;
  }

  // spinner
  .spinner-backdrop {
    background: transparent; // for background clipping in safari
  }

  .spinner-wrapper {
    margin: 0;
  }
}

.modal-sheet .modal-header {
  @extend %text-overflow;
  background: $gray-lighterest;
  color: $gray;
  flex: 0 0 $input-lg;
  font-size: 14px;
  font-weight: $weight-bold;
  line-height: $input-lg;
  min-height: $input-lg; // reset
  padding: 0 39px;
  position: relative;

  // icons
  > .iconnables {
    color: $gray-light;
    cursor: pointer;
    height: 24px;
    padding: 0;
    pointer-events: auto; // reset from .iconnables
    position: absolute;
    top: 15px;

    &:first-child:not(.icons-close) {
      left: 15px;
    }

    &:last-child {
      right: 15px;
    }

    &:hover {
      color: $gray;

      &.icons-close {
        color: $red;
      }
    }

    &:active {
      color: $purple-light;

      &.icons-close {
        color: $red-dark;
      }
    }
  }

  .icons-arrow-backward {
    color: $gray-light;
    height: 100%;
    left: 9px;
    padding: 0;
    pointer-events: auto;
    position: absolute;

    &:hover {
      color: $gray;
    }

    &:active {
      color: $purple-light;
    }
  }
}
