.modal-server-select {
  max-width: 450px;

  .modal-body {
    max-height: 60vh;

    @include media(sm) {
      max-height: none;
    }

    @media (max-height: 768px) {
      max-height: none;
    }
  }

  // search
  .input-search {
    background-position: calc(50% - 45px) center;
    margin-bottom: 15px;
    padding-left: calc(50% - 48px);
    width: calc(100% - 30px);

    &:focus,
    &:valid {
      background-position: 8px center;
    }
  }
}

// repository/template list
.list-servers {
  max-width: 600px;

  @include media(sm) {
    max-width: none;
  }

  > .list-item {
    border: 2px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    margin: 3px 0 0;
    padding: 6px 130px 6px 15px;

    @include media(sm) {
      padding-left: 6px;
    }

    &:hover {
      background: $white;
      border-color: $gray-lighter;
    }

    &:active,
    &.active {
      background: $white;
      border-color: currentColor;
      color: $green;

      .small {
        color: currentColor;
      }
    }

    &.disabled {

      &:hover,
      &:active {
        background: none;
        border-color: transparent;
        color: $gray-darker;
        cursor: default;
      }
    }

    .gravatar ~ .small {
      padding-left: 36px;
    }
  }

  // anchor image
  .gravatar {
    background: $white;
    border: 2px solid $white;
    border-radius: 50%;
    float: left;
    height: 24px;
    margin-right: 9px;
    margin-top: 3px;
    width: 24px;
  }

  // add button
  .btn-xs {
    font-size: 15px;
    line-height: 1;
    right: 9px;
    top: 15px;
  }

  // next arrow
  .icons-arrow-down {
    height: 100%;
    position: absolute;
    right: 3px;
    top: 0;
    transform: rotate3d(0,0,1,-90deg);
  }

  // spinner
  .spinner-wrapper {
    position: absolute;
    right: 15px;
    top: 12px;
  }
}
