.modal-wizard {

  .guide {
    border: 3px solid;
    border-radius: 50%;
    padding: 0;
  }

  .small {
    color: $gray-light;
    display: block;
  }

  .list .small {
    line-height: 0;
  }

  .modal-navbar {
    max-width: 210px;
    min-width: 210px;
  }

  .modal-body {
    display: table-cell;
  }

  .modal-footer {
    border-top: 1px solid rgba($black,.1);
    height: auto;
    margin: 30px 0 0;
    padding: 9px 15px;
  }
}