.modal-environment {
  max-width: 600px;
  min-width: 450px;
  top: 0;

  .modal-body {
    border-bottom: 1px solid rgba($black,.1);
    border-top: 1px solid rgba($black,.1);
    padding-bottom: 0;
  }

  .pre {
    min-height: 40vh;
  }

  .box-group {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  // ace editor
  .ace_gutter-layer {

    &.ace-gutter-1 {
      width: 42px !important;
    }

    &.ace-gutter-2 {
      width: 49px !important;
    }

    &.ace-gutter-3 {
      width: 59px !important;
    }

    &.ace-gutter-4 {
      width: 68px !important;
    }
  }
}