.modal-invite-admin {
  width: 390px;

  // modal description
  .label .small{
    padding: 0 15px;

    .strong {
      color: darken($gray,10);
    }
  }

  // admin list items
  .list-item {
    cursor: pointer;
    overflow: hidden;
    transition: height .15s, padding .15s;

    &:hover:not(.active) {
      background-color: rgba($gray-lighterest,.5);
    }

    &:active:not(.active) {
      background-color: $gray-lighterest;
    }

    &.inactive {
      border: 0;
      height: 0;
      padding: 0 15px;
    }

    &.active {
      border: 0;
      cursor: auto;
      height: 308px;

      .username {
        margin-top: 9px;
      }

      // not using ng-hide because this element affects layout
      .small {
        opacity: 0;
        pointer-events: none;
      }
    }

    // loading state
    &.spinner-wrapper {
      pointer-events: none;
      position: relative;
    }

    // override
    > .btn-sm {
      position: relative;
      right: 0;
      top: 0;
    }

    // email address
    .small {
      transition: opacity .15s;
    }
  }

  .username {
    transition: margin-top .15s;
  }

  .iconnables {
    height: 27px;
    position: absolute;
    right: 12px;
    top: 15px;
  }

  .icons-check {
    color: $green;
  }

  .icons-arrow-forward {
    color: $gray-light;
  }

  .input,
  .textarea {
    font-size: 14px;
  }

  .textarea {
    height: 135px;
    margin: 12px 0;
    padding: 6px;
  }

  // transition for invitation details
  .js-animate {
    transition: opacity .15s;
  }

  .ng-hide {
    opacity: 0;
  }
}