.modal-compose-errors {

  .well {
    height: 62px;

    &.in {
      height: auto;
    }
  }

  .btn + .btn {
    margin-left: 6px;
  }

  .btn-icon {
    padding: 5px;
    width: $input-xs;

    .iconnables {
      opacity: .75;
    }
  }
}
