.modal-compose-errors {

  .section + .section {
    margin-top: $sm;
  }

  .label-sm {
    color: $gray-dark;
    font-weight: $weight-bold;
  }

  .well {
    color: $gray-dark;

    .btn .iconnables {
      height: 12px;
      margin-right: 3px;
      opacity: .75;
      width: 12px;
    }
  }

  .ul {
    border-top: 1px solid $gray-lighter;
    color: $gray;
  }

  .li {
    padding: $xs;

    + .li {
      border-top: 1px solid $gray-lighter;
    }
  }

  .code {
    border-radius: $input-border-radius;
    font-weight: $weight-bold;
    height: 18px;
    margin-right: $xxs;
    padding: 0 3px;

    &.code-error {
      background: $red-lighter;
      color: $red;
    }

    &.code-warning {
      background: $orange-lightest;
      color: $orange;
    }
  }
}
