.welcome.welcome-select-org {
  min-width: 570px;
  padding-top: 88px;

  @include media(sm) {
    padding: 163px;
  }

  @include media(xs) {
    min-width: 0;
  }

  @include media(xxxs) {
    padding-left: 15px;
    padding-right: 15px;
  }

  // override welcome modal
  .modal-dialog {
    width: 100%;
  }

  // overlap modal
  > .img {
    z-index: 1;
  }

  .small {
    display: block;
  }

  // 2 column grid
  .list-item {
    height: 150px;
    padding: 39px 9px;
  }

  .img.img {
    margin-bottom: 9px;
  }
}
