.infrastructure-load-header {
  border-bottom: 1px solid $gray-lighter;

  .progress-bar {
    margin: $sm auto 0;
    max-width: 330px;
  }

  .progress {
    animation-duration: 180s;
    animation-timing-function: ease-out;
  }
}

.infrastructure-view {
  background: $white;
  border-radius: 0 0 $input-border-radius-lg $input-border-radius-lg;

  > .padding-md {
    @include media(xs) {
      padding-left: $sm;
      padding-right: $sm;
    }
  }

  .li {

    + .li {
      margin-top: $md;
    }

    .img {
      margin-right: $sm;
    }
  }

  .p + .p {
    font-size: 14px;
  }
}
