.modals-rename {

  .modal-form {
    padding: 15px;
  }

  .label {
    margin: 0;
  }

  .input-col {
    width: 100%;
  }

  // new url
  .small.gray {
    background: $gray-lightest;
    border-radius: $input-border-radius;
    border-width: 1px;
    display: block;
    font-weight: $weight-normal; // override .gray default
    margin-top: 6px;
    padding: 6px 9px;
    word-wrap: break-word;
  }
}
