.modal-alert {
  color: $gray-dark;
  max-width: 420px;
  top: 10%;

  .modal-body {
    padding: 33px 30px 30px;
  }

  .p {

    // title
    &.strong {
      font-size: 18px;
      color: $gray-darker;
    }

    + .p {
      margin-top: 9px;
    }
  }
}