// wizard 3
.modal-gs-environments {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  width: 540px;

  @include media(xs) {
    width: 100%;
  }

  .sidebar {
    flex: 1 1 auto;
  }

  // // header label
  // > .label {
  //   display: block;
  //   flex: 0 0 auto;
  //   padding: 15px;
  // }

  // > .small {
  //   flex: 0 0 auto;
  //   padding: 0 15px 15px;
  // }

  // .list {
  //   flex: 1 1 auto;
  //   overflow-y: auto;

  //   @include media(xs) {
  //     height: auto;
  //   }
  // }

  // .list-item {
  //   background: $gray-lightest;
  //   border-radius: 3px;
  //   height: auto;
  //   line-height: 1;
  //   margin: 0 12px 12px;
  //   padding: 9px 0;

  //   .label {
  //     display: block;
  //     font-size: 14px;
  //     padding: 3px 12px 6px;
  //   }
  // }

  // .list-item-form + .list-item-form {
  //   margin-top: 6px;
  // }

  // .input-validate.ng-invalid {
  //   border-radius: 3px 3px 0 0;
  // }

  // .validate-wrapper.validate-wrapper {
  //   border-radius: 0 0 3px 3px;
  //   margin-top: 0;
  // }

  .modal-footer {
    flex: 0 0 auto;
    margin-top: 0;
  }
}