.modal-org-select {

  .h1 {
    font-size: 27px;
  }

  .p {
    color: $gray;
    font-size: 15px;
  }

  .well {
    background: $gray-lightest;

    .icons-github-listening {
      color: $gray-light;
      display: block;
      height: 45px;
      margin: 0 auto $xxs;
      width: 45px;
    }

    .icons-github {
      height: 12px;
      margin-right: 4px;
      top: 1px;
      width: 12px;
    }

    .icons-link-external {
      height: 9px;
      top: 5px;
      width: 15px;
    }
  }

  .green .icons-link-external {
    height: 12px;
    width: 18px;
  }

  .btn-skip {

    &:hover .iconnables,
    &:active .iconnables {
      transform: rotate(-90deg) translate3d(0,2px,0);
    }

    .iconnables {
      height: 15px;
      width: 15px;
    }
  }

  .modal-header {
    align-self: stretch;
  }

  .org-select-view {
    padding: 24px $sm;

    .p,
    .list-item {
      padding: 0 $sm;
    }

    .p {
      margin-bottom: $sm;
      text-align: center;
    }
  }

  .list {
    width: 100%;

    + .p {
      margin-top: 24px;
    }
  }

  .infrastructure-view {

    > .padding-md {
      @include media(xs) {
        padding-left: $sm;
        padding-right: $sm;
      }
    }

    .weight-strong {
      word-break: break-word;
    }
  }

  .icons-link-external {
    height: 9px;
    top: 1px;
    width: 18px;
  }

  .list-item {
    border-radius: 0;
    font-size: 18px;
    font-weight: $weight-normal;
    height: 69px;

    &:hover,
    &:active {
      z-index: 1;
    }

    .icons-arrow-forward {
      opacity: .5;
    }

    &:first-child {
      border-top-left-radius: $input-border-radius-lg;
      border-top-right-radius: $input-border-radius-lg;
    }

    &:last-child {
      border-bottom-left-radius: $input-border-radius-lg;
      border-bottom-right-radius: $input-border-radius-lg;
    }

    + .list-item {
      margin-top: -1px;
    }

    .icons-github {
      height: 30px;
      width: 30px;
    }

    .small {
      opacity: .6;
    }
  }

  .iframe {
    border-radius: $input-border-radius-lg;
    max-width: 100%;
  }

  .footer {
    align-self: stretch;
    border-top: 1px solid $gray-lighter;
  }
}
