.modal-webhooks {
  color: $gray-dark;

  .animated-panel-container {
    transition: all .3s ease-in-out;
  }

  .animated-panel {
    width: 390px;
  }

  .modal-body {
    padding: 18px;

    > .strong {
      margin-bottom: 3px;
      color: #777;
    }
  }

  .fade {
    transition: opacity .3s ease-in-out;
  }

  .icons-arrow-backward {
    color: #bbb;
    left: 15px;
    top: 18px;
    padding: 0;
    pointer-events: auto;
    position: absolute;
  }

  .list-bulleted {
    margin-bottom: 3px;
    color: #777;
  }

  .list-bordered {
    background: $white;
    flex: 0 0 auto;
    font-weight: $weight-bold;
    margin: 18px 0 6px;
    line-height: 18px;
  }

  .list-bordered .list-item {
    padding: 0 15px;
    display: flex;
    align-items: center;
    line-height: 18px;
    // line-height: 24px;
    height: 54px;

    &.divider {
      height: 24px;
      font-size: 13px;
      line-height: 19px;
      color: #888;
      background-color: #eee;
    }

    .p {
      flex: 1 1 auto;
      transition: all .15s ease-in-out;
      padding-right: 12px;

      .span {
        margin-left: 8px;
      }

      &.shrink .span {
        opacity: 0;
        transition: all .15s ease-in-out;
      }
    }

    .input {
      background-color: $white;
      color: #888;
      font-weight: 400;
      font-size: 13px;
      height: 24px;
      line-height: 20px;
      // position: relative;
      transition: all .15s ease-in-out;
      // top: -9px;
      // left: -7px;
      transform: translate3d(0,-9px,0);

      &[disabled] {
        border-color: transparent !important;
        transform: translate3d(0,0,0);
        cursor: default;
        // top: 0;

        &.empty::-webkit-input-placeholder {
          color: $white;
        }
      }
    }

    .small {
      color: $gray;
    }

    .btn {
      flex: 0 0 135px;
      top: 0;
      right: 0;
      position: relative;

      .spinner {
        width: 12px;
        height: 12px;
      }

      &[disabled] {
        cursor: default;
      }
    }
  }

  .add-email {
    font-weight: $weight-normal;
    color: $gray;
  }

  .gravatar {
    // width: 30px;
    flex: 0 0 30px;
    height: 30px;
    border-radius: 50%;
    background: $gray;
    margin: 0 6px 0 0;
  }
}

.panel-invite-admins .btn.btn.btn {
  flex: 0 0 75px;
}