.modal-alert {
  background: $white;
  top: 10%;

  .modal-body {
    padding: 33px 30px 30px;
  }

  .p {
    color: $gray-dark;

    // title
    &.strong {
      color: $gray-darker;
      font-size: 18px;
    }

    + .p {
      margin-top: 12px;
    }
  }
}
