.modal-environment {
  max-width: 600px;
  min-width: 450px;
  overflow: hidden;
  top: 0;

  .modal-body {
    border-bottom: 1px solid rgba($black,.1);
    border-top: 1px solid rgba($black,.1);
    padding-bottom: 0;
    position: relative;
  }

  .pre {
    min-height: 40vh;
  }

  .box-group {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}