.modal-fork {
  max-width: 420px;

  .input-description {
    max-width: 290px;

    @include media(sm) {
      max-width: 240px;
    }
  }

  .well {
    margin-top: 9px;
    transition: none;

    &.in {
      max-height: 450px;
      transition: margin .15s ease-in, max-height .15s ease-in;
    }

    &.btn {
      margin-top: 6px;
    }
  }
}