.modal-server-select {
  max-width: 480px;

  // search
  .input-search {
    background-position: 57px center;
    line-height: 23px;
    margin-bottom: 15px;
    padding-left: 73px;
    width: 210px;

    &:focus,
    &:valid {
      background-position: 8px center;
    }
  }

  //- empty state (if there are no repositories)
  .p.empty {
    margin-top: 30px;
  }

  // select type of container
  .btn-huge {
    color: $gray;
    float: left;
    font-size: 16px;
    height: 210px;
    line-height: 1.4;
    margin: 4% 2% 2%;
    white-space: normal;
    width: 46%;

    &:last-child {
      background: url(/build/images/other-containers.png) no-repeat center center $white;
      background-size: cover;
    }

    .iconnables {
      display: block;
      margin: 0 auto;
    }

    .small {
      display: block;
    }
  }
}

// repository/template list
.list-servers {
  max-width: 540px;

  @include media(sm) {
    max-width: none;
  }

  > .list-item {
    border: $input-border solid transparent;
    border-radius: $input-border-radius;
    cursor: pointer;
    font-size: 18px;
    font-weight: $weight-bold;
    margin: 3px 0 0;
    padding: 6px 130px 6px 15px;
    white-space: nowrap; // reset .multi-line default

    &:hover:not(.disabled) {
      background: $white;
      border-color: $gray-lighter;
    }

    &.disabled {
      color: $gray-light;
      cursor: default;

      > .small {
        color: $gray-light;
      }
    }

    &:active:not(.disabled),
    &.active {
      background: $white;
      border-color: currentColor;
      color: $green;

      .small {
        color: currentColor;
      }
    }

    &.multi-line {

      // only if in modal (for templates without descriptions)
      .modal-dialog & {
        min-height: 60px;
      }
    }
  }

  .row-author {
    height: 21px;
    line-height: 21px;

    .btn-user {
      line-height: 19px;
    }

    .small {
      display: inline; // reset .multi-line
    }
  }

  // empty state
  .empty {
    word-break: break-all;
  }

  // add button
  .btn-xs {
    font-size: 14px;
    line-height: 1;
    right: 9px;
    top: 15px;
    width: 110px;

    &.disabled {
      opacity: .3;
    }
  }

  // next arrow
  .icons-arrow-down {
    height: 100%;
    position: absolute;
    right: 3px;
    top: 0;
    transform: rotate3d(0,0,1,-90deg);
  }

  // spinner
  .spinner-wrapper {
    position: absolute;
    right: 9px;
    top: 20px;
  }

  // tiled view for template containers
  &.list-tiled {
    margin: 0 auto;
    width: 378px;

    @include media(xs) {
      width: 252px;
    }

    .list-item {
      background: $white;
      border-color: $gray-lighter;
      color: $gray-dark;
      float: left;
      font-size: 15px;
      height: 99px;
      margin: 3px;
      padding: 0;
      text-align: center;
      width: 120px;

      &:hover {
        border-color: $gray-light;
      }

      &:active,
      &.active {
        border-color: currentColor;
        color: $green;
      }

      // anchor image
      .img {
        display: block;
        margin: 15px auto 6px;
      }
    }
  }
}
