// step 1
.modal-repo-selector.modal-repo-selector {
  margin-bottom: 0;
  max-width: 330px;
  min-width: 330px;
  overflow-x: hidden;

  @include media(sm) {
    max-width: none;
    width: 100%;
  }

  .input-search {
    background-position: 93px 3px;
    margin: 0 auto 15px;
    padding-left: 115px;
  }

  .spinner-md {
    width: calc(100% - 210px);
  }

  .spinner-sm {
    justify-content: flex-end;
    padding-right: 15px;
  }

  // lists
  .list {
    margin: 0 0 4px;
  }

  .list-item {
    border: 0;
    border-radius: 0;
    color: $gray-dark;
    display: flex;
    flex-direction: column;
    height: 54px;
    justify-content: center;
    line-height: initial;
    padding: 0 30px 0 15px;
    text-align: left;

    &:active,
    &.active {
      color: $purple-light;

      .icons-arrow-down,
      .small {
        color: currentColor;
      }
    }

    &.active .icons-arrow-down {
      opacity: 0;
    }

    .small {
      color: $gray;
      display: block;
    }
  }

  .list-item-title {
    display: inline-block;
    font-weight: 500;
    width: 100%;
  }

  .icons-arrow-down {
    bottom: 0;
    color: $gray-light;
    position: absolute;
    right: 9px;
    top: 0;
    transform: rotate3d(0,0,1,-90deg);
  }
}
