.modal-aha {

  .aha-overview {
    padding: $md 0;

    &.well {
      border-radius: $input-border-radius-lg;
      margin-top: $sm;
    }
  }

  .aha-guide {
    width: 420px;

    + .aha-guide {
      margin-top: $sm;
    }
  }

  // override default
  .aha-meter.aha-meter {

    .iconnables {
      color: $gray-light;
    }

    .icons-check {
      background: $green;
      bottom: 0;
      color: $white;
      height: 18px;
      left: 0;
      padding: 0;
      position: absolute;
      width: 18px;
    }
  }
}
