.modal-form {
  padding: 30px;

  // label (row)
  .label {
    display: block;
    flex: 0 0 auto;
    margin-bottom: 21px;
    position: relative;

    @include media(xs) {
      margin-bottom: 15px;
    }

    + .label {
      border-top: 1px solid $gray-lighter;
      margin-top: 21px;
      padding-top: 21px;

      @include media(xs) {
        margin-top: 15px;
      }
    }
  }

  // label column (left)
  .label-col {
    color: $gray;
    float: left;
    font-weight: 500;
    height: 36px;
    line-height: 36px;
    padding-right: 15px;
    width: 45%;
    word-break: break-word;

    @include media(xs) {
      float: none;
      text-align: left;
      width: 100%;
    }
  }

  // input column (right)
  .input-col {
    float: right;
    text-align: left;
    width: 54%;

    @include media(xs) {
      float: none;
      width: 100%;
    }

    &.btn {
      padding: 0 6px;
    }

    // button groups
    &.btn-group {
      width: auto;

      > .btn {
        margin-top: 6px;
        padding: 0 6px;
        width: auto;

        + .btn {
          width: 27px;
        }
      }

      .icons-arrow-down {
        right: 0;
        top: 0;
      }
    }

    // validation
    &.input,
    .input {

      &.ng-invalid {
        border-radius: 3px 3px 0 0;
      }
    }

    .validate-wrapper {
      border-radius: 0 0 3px 3px;
      margin: 0;
    }

    // buttons
    > .btn {
      display: block;
      font-size: 16px;
      padding: 0 24px 0 6px;
      text-align: left;
      width: 100%;

      + .btn {
        margin-top: 6px;
      }
    }

    .icons-arrow-down {
      position: absolute;
      right: 3px;
    }

    // small labels
    .label.small {
      margin: 21px 6px 6px;
    }

    // small text aligns with button/input padding
    .small {
      margin: 6px;
    }
  }

  // label info
  .small {
    color: $gray;
    display: inline-block;
    margin: 6px 0 0;
  }

  // label-footer
  .label-footer {
    border-top: 1px solid rgba($black,.1);
    padding-top: 15px;

    .btn {
      display: table;
      margin: 0 auto;
    }

    .small {
      margin-top: 9px;
      text-align: center;
    }
  }
}