.modal-aha {

  .modal-body {
    padding-top: 0;
  }

  .aha-overview {
    margin: $sm auto;
    width: 480px;

    @include media(xs) {
      max-width: 420px;
      width: auto;
    }

    &.well {
      border-radius: $input-border-radius-lg;
      margin-top: $sm;
    }

    //- wrapper only
    > .aha-guide {
      @include media(sm) {
        padding-left: $sm;
        padding-right: $sm;
      }

      @include media(xs) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .aha-guide {
    padding-left: $md;
    padding-right: $md;
    width: 360px;

    @include media(xxs) {
      padding-left: $sm;
      padding-right: $sm;
      width: 100%;
    }

    &.active {
      background: $white;
      border: 1px solid $gray-lighter;
      border-radius: $input-border-radius-lg;
      box-shadow: 0 1px 3px rgba($black,.06);
      margin: 0 (-$sm);
      width: 540px;

      @include media(sm) {
        width: 510px;
      }

      @include media(xs) {
        margin: 0;
        width: auto;
      }
    }

    &.disabled {
      opacity: .6;
    }

    .aha-text {
      font-size: 15px;

      @media (max-width: 430px) {
        justify-content: center;
        margin: 0;
      }
    }
  }

  // override default
  .aha-meter.aha-meter {
    height: 36px;
    left: 36px;
    top: 18px;
    width: 36px;

    @media (max-width: 430px) {
      display: none;
    }

    .iconnables {
      color: $gray-light;
    }

    .icons-check {
      background: $green;
      bottom: 0;
      color: $white;
      height: 15px;
      left: 0;
      padding: 0;
      position: absolute;
      width: 15px;
    }
  }

  .list-fork {

    @include media(xs) {
      flex-direction: column;
      padding-bottom: 0;
    }

    &.grid-2 {
      flex-wrap: wrap;

      .list-item-fork {
        height: 180px;
        padding: $sm;

        @include media(xs) {
          flex: 0 0 auto;
        }

        &:nth-child(2n) {
          border-left: $input-border solid $gray-lighter;

          @include media(xs) {
            border-left: 0;
          }
        }

        &:nth-child(n+3) {
          border-top: $input-border solid $gray-lighter;

          @include media(xs) {
            border-top: 0;
          }
        }
      }
    }

    &.grid-3 .list-item-fork {
      padding: 0 $sm;

      @include media(xs) {
        flex: 0 0 auto;
        flex-direction: row;
        max-width: none;
      }

      @media (max-width: 430px) {
        flex-wrap: wrap;
        justify-content: center;
      }

      + .list-item-fork {
        border-left: $input-border solid $gray-lighter;
        margin-left: -$input-border;

        @include media(xs) {
          border-left: 0;
          border-top: $input-border solid $gray-lighter;
          margin-left: 0;
          margin-top: $sm;
          padding-top: $sm;
        }
      }
    }

    .img {
      border-radius: $input-border-radius-lg;

      @include media(xs) {
        margin: 0 $sm 0 0;
        order: 0;
      }

      @media (max-width: 430px) {
        height: $input-sm;
        margin: 0 auto $sm;
        width: $input-sm;
      }
    }

    .btn {
      @include media(xs) {
        margin-left: $sm;
        order: 2;
      }

      @media (max-width: 430px) {
        margin-left: 0;
        margin-top: $sm;
      }
    }

    .small {
      @include media(xs) {
        margin: 0;
        order: 1;
        text-align: left;
      }

      @media (max-width: 430px) {
        max-width: 300px;
        text-align: center;
      }
    }
  }

  .figure .img {
    border: $input-border solid $gray-lighter;
    border-radius: $input-border-radius-lg;
    height: 240px;
    width: auto;
  }
}
