.modal-settings {
  width: 480px;

  // coming soon
  .btn-text {
    min-height: 32px;
  }

  .orange {
    border: 0;
    border-radius: 15px;
    font-size: 11px;
    font-weight: $weight-normal;
    height: 15px;
    padding: 0 5px;
  }

  .modal-body {
    position: relative;

    // no overflow during transition
    &.ng-animate {
      overflow: hidden;
      transition: all .3s; // set transition timing
    }
  }
}

//- integrations form
.form-integrations {
  height: 364px;
}

//- billing form
.form-billing {

  // link to all plans & errors
  .label-col {
    float: none;
    padding-right: 0;

    > .small,
    > .error {
      margin-top: 12px;
    }

    .error {
      color: $red;
      margin-right: 24px;

      // badge
      &::after {
        right: -21px;
      }
    }

    .iconnables {
      float: right;
      height: 13px;
    }
  }

  .well {
    margin: 0;
    padding: 15px;

    // center text
    .p {
      line-height: 29px;

      // emphasis on price
      .span {
        display: inline-block;
        font-size: 21px;
      }

      // change plan button
      .white {
        float: right;
        top: 3px;
      }
    }
  }

  // $
  .sup {
    margin-right: 1px;
    top: -5px;
  }

  // /user/month text
  .small {
    color: $gray;
    display: inline;
    margin-left: 2px;
  }
  // card type
  .iconnables {
    height: 29px;
    margin-right: 9px;
    width: 18px;
  }
}

// cc form
.form-cc {

  .row {
    display: flex;
    margin-bottom: 9px;
  }

  .input-sm {
    letter-spacing: .5px;
    margin: 0;
    min-width: 0; // fix firefox bug with flexbox and input widths

    + .input-sm {
      margin-left: 9px;
    }
  }

  .input-cc {
    flex: 1 1 auto;
    padding-right: 30px;

    &.amex,
    &.jcb,
    &.mastercard,
    &.visa {
      background-position: 97% 49%;
      background-repeat: no-repeat;
      background-size: 21px 17px;
    }

    &.amex {
      background-image: url(/build/images/logos/credit-cards/logo-cc-amex.svg);
    }

    &.jcb {
      background-image: url(/build/images/logos/credit-cards/logo-cc-jcb.svg);
    }

    &.mastercard {
      background-image: url(/build/images/logos/credit-cards/logo-cc-mastercard.svg);
    }

    &.visa {
      background-image: url(/build/images/logos/credit-cards/logo-cc-visa.svg);
    }
  }

  .input-exp {
    flex: 0 0 90px;
  }

  .input-cvc {
    flex: 0 0 54px;
  }
}

// billing table
.table-billing {
  color: $gray-dark;
  font-size: 15px;

  // date
  .cell:first-child {
    max-width: 102px;
  }
}