.modal-integrations {
  height: 100%;
  max-height: 660px;
  transition: max-height .15s ease-in, width .15s ease-in;
  width: 660px;

  @include media(sm) {
    width: calc(100% - 30px);
  }


  // uninitiated state
  &.no-data {
    max-height: 300px;
    width: 370px;

    // header
    .modal-header {
      background: none;
      border-color: transparent;
      height: auto;
    }

    .modal-heading {
      // reset default
      float: none;
      text-align: center;
    }

    .modal-header-actions {
      justify-content: center;
    }

    // small footer
    .footer-link {
      line-height: 45px;
      text-align: center;
    }
  }

  // unverified state
  &.no-verify {
    max-height: 351px;

    @include media(xs) {
      max-height: 367px;
    }
  }

  // default state
  // header slack logo
  .modal-header .img {
    margin-right: 9px;
    position: relative;
    top: 5px;
  }

  .modal-header-actions {
    display: flex;
    justify-content: flex-start;
  }

  // api token
  .input.monospace {
    font-size: 13px;
    letter-spacing: -.25px;
  }

  // change api button
  .input-col > .btn-xxs {
    padding: 0 3px;
  }

  .list-item {
    background: $gray-lighterest;
    color: $gray;
    height: 45px;
    line-height: 45px;
    margin: 0;
    padding: 0 9px;
    position: relative;
    transition: height .15s ease-in;

    &:hover,
    &:active,
    &.active {
      background: $white;
      color: $gray-dark;

      .gravatar {
        opacity: .6;
      }
    }

    &.active .gravatar {
      opacity: 1;
    }

    &.expanded {
      height: 145px;
    }

    &.disabled,
    &.disabled:hover,
    &.disabled:active {
      background: $gray-lighterest;
      color: $gray;
      cursor: not-allowed;

      .gravatar,
      .well {
        opacity: .45;
      }
    }

    &:first-child {
      border-radius: 3px 3px 0 0;
    }

    &:last-child {
      border-radius: 0 0 3px 3px;
    }

    &:only-child {
      border-radius: 3px;
    }

    .gravatar {
      margin: 12px 9px 0 0;
      opacity: .45;
    }

    + .list-item {
      border-top: 1px solid rgba($black,.1);
    }
  }

  // badge
  .badge-warning {
    animation: scale-in .15s ease-in forwards;
    background: $white;
    border-radius: 50%;
    color: $orange;
    height: 16px;
    left: 3px;
    position: absolute;
    top: 5px;
    width: 16px;
    z-index: 1;
  }

  .icons-warning {
    height: 21px;
    top: -8px;
    width: 21px;
  }

  .input-checkbox {
    height: 45px;
    margin: 0;
    position: absolute;
    right: 8px;
    top: 0;
  }

  // well
  .well {
    border-width: 1px;
    cursor: default;
    margin: 0 -3px;
    max-height: none;
    padding: 6px;
    position: relative;

    .small {
      line-height: 1.2;
      margin: 0;
      white-space: normal;
    }
  }

  .select {
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-weight: 400;
    margin-top: 6px;
  }
}