.modal-environment-variables {
  width: 750px;

  @include media(xs) {
    width: calc(100% - 30px);
  }

  @include media(sm) {
    width: 738px;
  }

  // delete me
  .modal-heading {
    font-size: 36px;
  }

  // server icon
  .btn-badge {
    color: $gray;
    position: absolute;
    right: 12px;
    top: 5px;

    &.active .icons-check {
      background: $gray;
    }
  }

  // focus
  .input-value:focus + .btn-badge {
    color: $blue;

    &.active .icons-check {
      background: $blue;
    }
  }

  // @include media(xs) {
  //   flex-direction: row !important; // override default behavior
  // }

  // .modal-header {
  //   border-bottom: 1px solid rgba($black,.1);

  //   .btn {
  //     float: right;
  //     right: 6px;
  //     top: 6px;
  //   }

  //   .icons-sidebar {
  //     height: 100%;
  //   }
  // }

  // .modal-body {
  //   display: flex;
  //   flex-direction: column;
  //   position: relative;
  //   width: 100%;
  //   z-index: $z-modal;
  // }

  // .pre {
  //   flex: 1 1 auto;
  //   min-width: 600px;

  //   @include media(sm) {
  //     min-width: 0;
  //   }
  // }

  // .modal-footer {
  //   margin: 0;
  // }
}