.modal-backup {

  // override
  .label-col {
    height: auto;
    line-height: 1.4;
  }

  // script descriptions
  .small {
    margin-bottom: 9px;
  }

  // time selection button
  .btn-xxs {
    margin-left: 3px;
  }

  // backup script/logs wrapper
  .logs-runnable-dark {
    border-radius: $input-border-radius;
    overflow: hidden;
  }

  // backup script
  .ace-backup {
    border-radius: 0;
    border-width: 0 1px;
    min-height: 120px;
  }

  // view/hide logs
  .btn-logs {
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    line-height: $input-xs - 2px; // .btn-xs height - border-width*2 (24px - 1px*2)
    width: 100%;

    &:hover {
      background: #3f2c4d; // rgba($white,.045);
    }

    &:active {
      background: #422f4f; // rgba($white,.06);
    }

    &.in .icons-arrow-down {
      transform: rotate3d(0,0,1,180deg);
    }

    .icons-arrow-down {
      float: none;
      height: 15px;
      top: 3px;
      transition: none;
      width: 15px;
    }
  }

  //- backup logs
  .build-log-wrapper {
    border-radius: 0 0 $input-border-radius $input-border-radius;
    overflow: hidden;
    padding: 18px;
  }

  .build-log {
    background: transparent;
    border: 0;
    padding: 0 18px;
  }

  .build-log-content,
  .build-log-header,
  .build-log-header-text {
    padding: 0;
  }

  // restore script
  .ace-restore {
    border-radius: 3px;
    min-height: 270px;
  }
}
