.welcome {

  .runnabear {
    height: auto;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 32px;
    width: 230px;
    z-index: 1;
  }

  .animated-panel-container {
    overflow: visible;
  }
}

.modal-org-select .modal-dialog {
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;

  .infrastructure-view > .padding-md {
    @include media(xs) {
      padding-left: $sm;
      padding-right: $sm;
    }
  }

  .h1 {
    font-size: 27px;
  }

  .footer {
    background: $gray-lightest;
    border-top: 1px solid $gray-lighter;

    @include media(sm) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .underline {
    cursor: pointer;
  }

  .list-item {
    border-radius: 0;
    font-size: 18px;
    font-weight: $weight-normal;
    height: 60px;

    &:hover,
    &:active {
      z-index: 1;
    }

    &:not(:hover),
    &:not(:active) {
      .icons-arrow-forward {
        color: $gray-light;
      }
    }

    &:first-child {
      border-top-left-radius: $input-border-radius-lg;
      border-top-right-radius: $input-border-radius-lg;
    }

    &:last-child {
      border-bottom-left-radius: $input-border-radius-lg;
      border-bottom-right-radius: $input-border-radius-lg;
    }

    + .list-item {
      margin-top: -1px;
    }
  }
}
