.modal-wizard {

  .modal-header {
    background: $gray-lightest;
    border-bottom: 1px solid rgba($black,.1);
    // text-align: center;
  }

  .modal-heading {
    float: none;
  }
}

// .modal-stack-selector
.modal-stack-selector {
  margin-top: 15px;
  width: 750px;

  .col {
    float: left;

    &:first-child {
      padding: 6px 6px 6px 15px;
      width: 60%;
    }

    &:last-child {
      padding: 6px 15px 6px 6px;
      width: 40%;
    }
  }

  // col 1
  .label {
    display: block;
    margin: 0 0 30px;
  }

  .label-col {
    float: left;
    padding-right: 15px;
    width: 50%;

    .small {
      color: $gray-light;
      display: block;
    }
  }

  .btn,
  .input {
    float: right;
    text-align: left;
    width: 50%;
  }

  // version
  .btn .small {
    margin-left: 6px;
  }
}

// wizard 2, col 2
.modal-stack-dependencies {

  .sub-header-action {
    padding: 0 6px;
    top: 9px;
    width: auto;
  }

  .well {
    max-height: none;
  }
}