.modal-launch-branches {
  width: 390px;
  color: $gray-dark;

  .modal-body {
    padding: 30px 45px 0;

    .p {
      color: $gray;
    }
  }

  .instances-list {
    height: auto;
    border-width: 1px;
    border-style: solid;
    background: $white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-color: $gray-lighter;
    pointer-events: none;
    margin: 30px auto -1px;
    width: 100%;

    .list {
      margin: 0 12px;
      padding: 21px 0;
    }
  }

  .list-item:last-child {
    margin: 18px 0 6px;
    height: auto;
    padding: 0 18px;
  }

  .btn-md {
    width: 100%;
    pointer-events: auto;
  }
}