// wizard 3
.modal-gs-environments {

  .sub-header {
    margin-bottom: 30px;
  }

  .input-col {
    float: none;
    width: calc(55% - 30px);
  }

  .btn-xxs {
    height: 36px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .icons-gear {
    height: 36px;
    width: 18px;
  }
}