.modal-getting-started {

  .btn-radio {
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .img {
      border-radius: 3px;
    }
  }
}

// // labels
// .modal-stack-selector,
// .modal-gs-environments {
//   display: flex;
//   flex-direction: column;
//   max-width: 100%;
//   padding: 15px 15px 0;
//   width: 600px;

//   // branch select
//   .btn-select {

//     .iconnables {
//       height: 18px;
//       top: 9px;
//       width: 18px;
//     }

//     .icons-branch {
//       color: $gray-light;
//     }
//   }

//   // language/framework button
//   .btn-group {

//     // not-allowed
//     + .btn-group .btn:first-child {
//       background: $gray-lightest;
//       cursor: default;
//     }

//     .small {
//       color: $gray-dark;
//       display: inline-block;
//       float: left;
//     }
//   }

//   // footer
//   .modal-footer {
//     margin: 30px -15px 0;
//   }
// }
