.modal-add-branches {
  width: 390px;

  .p {
    color: $gray;
    margin-bottom: 12px;
  }

  .small {
    color: $gray;
    line-height: 16px;
    margin: 6px 0 -9px;
  }

  .spinner-wrapper {
    height: 30px;
    margin-top: 30px;
  }

  .list {
    background: $white;
    color: $gray-dark;
    font-weight: $weight-bold;
    margin: 6px 0;
  }

  .list-item {
    height: 48px;
    line-height: 18px;
    padding: 15px 15px 15px 45px;

    &:last-child {
      color: $gray;
      font-weight: $weight-normal;
      font-style: italic;
    }
  }

  .icons-server-new {
    height: 21px;
    left: 15px;
    position: absolute;
    width: 21px;
  }
}