.modal-edit-server {
  width: 540px;

  // nav
  .modal-header .p {
    margin-top: 6px;
  }

  .row {
    display: flex;
    justify-content: center;
  }

  .btn-radio {
    height: 81px;
    line-height: 1;
    margin: 0 0 9px;
    padding: 0 9px;
    white-space: normal;
    width: 96px;
  }

  .btn-text {
    display: inline-block;
    font-size: 13px;
    height: 30px;
    line-height: 1.2;
  }

  // forms
  // ports
  .textarea {
    cursor: text;
    display: block;
    font-size: 14px;
    height: 90px;
    overflow-y: auto;
    padding: 6px;

    .btn {
      border-width: 1px;
      flex: 0 0 auto;
      margin-right: 6px;
    }

    .input-port {
      color: $gray-dark;
      font-size: 13px;
      font-weight: 500;
      height: 18px;
      min-width: 9px;

      &:focus {
        outline: 0;
      }
    }
  }
}