.modal-settings {
  overflow: hidden;

  @include media(xs) {
    max-width: 100%;
  }

  // coming soon
  .btn-text {
    min-height: 32px;
  }

  .modal-header .orange {
    border: 0;
    border-radius: 15px;
    font-size: 11px;
    font-weight: $weight-normal;
    height: 15px;
    padding: 0 5px;
  }

  .modal-body {
    position: relative;

    // no overflow during transition
    &.ng-animate {
      overflow: hidden;
      transition: all .3s; // set transition timing
    }
  }
}

// team form
.form-team {

  .list-teammates {

    // delete transition
    &.ng-leave {
      overflow: hidden;
      transition: all .3s;
    }

    &.ng-leave-active {
      border-width: 0;
    }

    .btn-wrapper {
      position: absolute;
      right: 14px;
      top: 0;

      .float-right {
        margin-left: 6px;
      }

      // send
      .spinner-wrapper,
      .send-confirmation {
        float: left;
        margin: 18px 6px 0 0;
      }

      .spinner-wrapper {
        margin-top: 20px;
      }
    }

    .btn-xs {
      top: 16px;
    }

    // overflow for permissions and overflow
    .text-overflow {
      padding-right: 111px;
    }

    // overflow
    .icons-overflow {
      top: -2px;
      width: 15px;
    }

    // permissions button
    .btn-permission {
      text-align: left;
      width: 75px;
    }
  }

  .list-teammates-pending {
    background-image: repeating-linear-gradient(60deg, #f9f9f9, #f9f9f9 18px, transparent 18px, transparent 36px);

    + .list-teammates-pending {
      margin-top: 15px;
    }

    // additional padding for send button
    .text-overflow {
      padding-right: 120px;
    }
  }

  .list-item {

    // add transition
    &.ng-enter {
      border-width: 0;
      height: 0;
      opacity: 0;
      overflow: hidden;
      padding: 0;
      transition: all .3s;
    }

    &.ng-enter-active {
      border-width: 1px;
      height: 57px;
      opacity: 1;
      padding: 8px 15px;
    }

    // delete transition
    &.ng-leave {
      overflow: hidden;
      transition: all .3s;
    }

    &.ng-leave-active {
      border-width: 0;
      height: 0;
      opacity: 0;
      padding: 0;
    }
  }
}

.form-ssh {

  .list-item {
    font-size: 13px;
    min-height: 90px;
    padding: $sm 0;
  }

  .img {
    border-radius: $input-border-radius;
  }

  .img-unauthorized {
    opacity: .5;
  }

  .spinner-wrapper {
    height: 24px;
    width: 24px;
  }

  // a.btn.gray
  .gray {
    color: $gray-dark;
  }

  .btn-authorized {
    background-color: transparent;
    border-color: transparent;
    color: $gray;
    pointer-events: none;
  }

  .iconnables {
    flex: 0 0 18px;
    margin-right: 2px;
  }
}
