// defaults
.infrastructure-header,
.infrastructure-body {
  padding: $md;
}

.infrastructure-header,
.infrastructure-footer {
  border-color: $gray-lighter;
  color: $gray;
}

// header
.infrastructure-header {
  border-bottom-style: solid;
  border-bottom-width: 1px;

  .progress-bar {
    margin: $sm auto 0;
    max-width: 330px;
  }

  .progress {
    animation-duration: 180s;
    animation-timing-function: ease-out;
  }
}

// body
.infrastructure-body {
  background: $white;

  &:first-child {
    border-radius: $input-border-radius-lg $input-border-radius-lg 0 0;
  }

  &:last-child {
    border-radius: 0 $input-border-radius-lg $input-border-radius-lg 0;
  }

  .li {

    + .li {
      margin-top: $md;
    }

    .img {
      margin-right: $sm;
    }
  }

  .p + .p {
    font-size: 14px;
  }
}

// footer
.infrastructure-footer {
  border-top-style: solid;
  border-top-width: 1px;
  padding: $sm $sm 24px; // 24px to match other org select page
}
