.modal-getting-started {

  .small.empty {
    font-size: 16px;
  }

  .hr {
    margin: 30px 0;
  }

  // guides
  .btn-card-wrapper {
    display: flex;
  }

  .btn-card {
    flex: 1 1;
    padding: 15px 6px;
    white-space: normal;

    + .btn-card {
      margin-left: 9px;
    }

    .iconnables {
      height: 30px;
      width: 30px;
    }

    .h3 {
      font-size: 18px;
      margin-top: 6px;
    }

    .small {
      display: block;
      margin-top: 6px;
    }

    .green {
      margin-top: 6px;
    }
  }

  // dismiss link
  .link {
    margin-top: 15px;
  }
}
