.modal-org-select {

  .list-item {
    border-radius: 0;
    font-weight: $weight-normal;
    height: 72px;

    &:hover,
    &:active {
      z-index: 1;
    }

    .icons-arrow-forward {
      opacity: .5;
    }

    &:first-child {
      border-top-left-radius: $input-border-radius-lg;
      border-top-right-radius: $input-border-radius-lg;
    }

    &:last-child {
      border-bottom-left-radius: $input-border-radius-lg;
      border-bottom-right-radius: $input-border-radius-lg;
    }

    + .list-item {
      margin-top: -1px;
    }
  }

  .footer {
    align-self: stretch;
    border-top: 1px solid $gray-lighter;
  }
}

.org-select-view {
  padding: $md $sm $sm;

  .p,
  .list-item {
    font-size: 19px;
    padding: 0 $sm;
  }
}

.teams-bar {
  background-color: $white;
  border-left: 1px solid $gray-lighter;
  border-radius: $input-border-radius-lg $input-border-radius-lg 0 0;
  border-right: 1px solid $gray-lighter;
  border-top: 1px solid $gray-lighter;
  height: 36px + $input-border;
  padding: 0 6px 0 18px;

  .btn {
    margin-left: auto;
  }

  .icons-link-external {
    height: 8px;
    margin-left: 3px;
    width: 8px;
  }

  .spinner-wrapper {
    margin-right: $input-border-radius-lg;
  }
}

.teams-empty-state {
  background-color: $white;
  border: 1px solid $gray-lighter;
  border-radius: 0 0 $input-border-radius-lg $input-border-radius-lg;
  padding: $lg $sm;
}
