// wizard 3
.modal-gs-environments {

  .guide {
    margin-top: -9px;
    padding: 9px 15px;

    // learn more
    .link {
      float: right;
      font-weight: 500;
      margin-top: 6px;
    }
  }


  // col wrapper
  .input-col {
    position: relative;

    + .input-col {
      margin-top: 6px;
    }
  }

  .input {
    width: calc(100% - 30px);
  }

  // additional vars button
  .hr {
    margin: 0 30px;
  }

  .link-divider {
    margin: 15px 30px 0 0;
    text-align: right;
  }

  // additional vars
  .label-textarea {
    margin-top: 21px;
  }

  .textarea {
    margin-right: 30px;
    max-height: 90px;
    resize: vertical;
    width: calc(55% - 30px);
  }

  // popover and delete var
  .btn-xxs {
    height: 36px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .icons-gear,
  .icons-close {
    height: 36px;
    width: 18px;
  }
}