// div.modal-backdrop
.modal-backdrop {
  align-items: center;
  animation: fade .15s;
  background: rgba($white,.97);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  padding: 90px 15px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: $z-modal;

  @include media(lg) {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  @media (max-height: $screen-xs), (max-width: $screen-sm) {
    padding: 15px;
  }

  &.modal-blackout {
    background: $white;
  }

  // if there's a second modal, show no background
  + .modal-backdrop {
    background: none;
  }
}

// div.modal-dialog
.modal-dialog {
  animation: scale-in-modal .15s ease-in-out;
  background: $gray-lighterest;
  border: $input-border-radius solid $gray-lighter;
  border-radius: $input-border-radius-lg;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  max-height: 100%;
  min-width: 360px;
  position: relative;
  transition: max-width .3s ease-in-out;

  @include media(sm) {
    width: 100%;
  }

  @include media(xxxs) {
    min-width: 100%;
  }

  // scroll backdrop
  &.noscroll {
    display: block;
    margin-bottom: 15px;
    max-height: none;
  }

  // expands modal
  &.xl {
    flex: 1 1 auto;
  }

  // sizes
  &.modal-xl,
  &.modal-lg,
  &.modal-md,
  &.modal-sm,
  &.modal-xs {
    width: 100%;
  }

  &.modal-xl {
    max-width: 84vw;
  }

  &.modal-lg {
    max-width: 600px;
  }

  &.modal-md {
    max-width: 510px;
  }

  &.modal-sm {
    max-width: 450px;
  }

  &.modal-xs {
    max-width: 390px;
  }

  // search
  .input-search {
    display: block;
    margin: 0 auto;
  }

  // modal alert
  .alert {
    align-items: center;
    border-radius: $input-border-radius;
    border-width: 1px;
    display: flex;
    flex: 0 0 auto;
    font-size: 13px;
    justify-content: center;
    margin: 0 auto 15px;
    min-height: $input-sm;
    padding: 6px 15px;

    &.full-width {
      border-left-width: $input-border;
      border-radius: 0;
      border-right-width: $input-border;
      margin: -1px (-$input-border) 0;
    }

    &.gray {
      background: $gray-lightest;
    }

    &.orange {
      background: $orange-lightest;
      border-color: $orange-lighter;
      color: $orange;
    }

    .btn-xxs {
      margin-left: 6px;
    }
  }
}

// back and close
.modal-header > .icons-close,
.modal-body > .icons-close,
.modal-header > .icons-arrow-backward {
  color: $gray-light;
  cursor: pointer;
  pointer-events: auto; // reset from .iconnables
  position: absolute;
  top: 18px;
  z-index: 2; // fix overlap with container-title-wrapper
}

.modal-header > .icons-close,
.modal-body > .icons-close {
  right: 15px;

  &:hover {
    color: $red;
  }

  &:active {
    color: $red-dark;
  }
}

// header.modal-header
.modal-header {
  background: $white;
  border-bottom: 1px solid $gray-lighter;
  border-radius: $input-border-radius-lg $input-border-radius-lg 0 0;
  flex: 0 0 auto;
  min-height: 60px;
  padding: 0 15px;
  text-align: center;

  > .icons-arrow-backward {
    left: 15px;

    &:hover {
      color: $gray;
    }

    &:active {
      color: $purple-light;
    }
  }

  // text
  .modal-heading {
    @extend %text-overflow;
    color: $gray-dark;
    font-size: 18px;
    font-weight: $weight-bold;
    line-height: 60px;
    padding: 0 24px; // spacing for close icon
  }
}

// tabs
.modal-tabs {
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  padding: 6px 12px 12px;
  transition: max-width .15s ease-in-out;

  @include media(xxs) {
    flex-flow: row nowrap;
  }

  $tab-margin: 5px;
  $tab-width: 90px;

  // show 1 tab
  &.tabs-1 {
    max-width: $tab-width + 30px; // tab width + padding
  }

  &.tabs-2 {
    max-width: ($tab-width * 2) + 30px + ($tab-margin * 1);
  }

  &.tabs-3 {
    max-width: ($tab-width * 3) + 30px + ($tab-margin * 2);
  }

  &.tabs-4 {
    $tabs-4-width: ($tab-width * 4) + 30px + ($tab-margin * 3);
    max-width: $tabs-4-width;

    @media (max-width: $tabs-4-width + 30px) {
      max-width: 100%;
    }
  }

  &.tabs-5 {
    $tabs-5-width: ($tab-width * 5) + 30px + ($tab-margin * 4);
    max-width: ($tab-width * 5) + 30px + ($tab-margin * 4);

    @media (max-width: $tabs-5-width + 30px) {
      max-width: 100%;
    }
  }

  &.tabs-6 {
    $tabs-6-width: ($tab-width * 6) + 30px + ($tab-margin * 5);
    max-width: ($tab-width * 6) + 30px + ($tab-margin * 5);

    @media (max-width: $tabs-6-width + 30px) {
      max-width: 100%;
    }
  }

  &.tabs-7 {
    $tabs-7-width: ($tab-width * 7) + 30px + ($tab-margin * 6);
    max-width: ($tab-width * 7) + 30px + ($tab-margin * 6);

    @media (max-width: $tabs-7-width + 30px) {
      max-width: 100%;
    }
  }

  &.tabs-8 {
    $tabs-8-width: ($tab-width * 8) + 30px + ($tab-margin * 7);
    max-width: ($tab-width * 8) + 30px + ($tab-margin * 7);

    @media (max-width: $tabs-8-width + 30px) {
      max-width: 100%;
    }
  }

  &.tabs-9 {
    $tabs-9-width: ($tab-width * 9) + 30px + ($tab-margin * 8);
    max-width: ($tab-width * 9) + 30px + ($tab-margin * 8);

    @media (max-width: $tabs-9-width + 30px) {
      max-width: 100%;
    }
  }

  &.tabs-all {
    max-width: 100%;
  }

  // for animation on .tabs-all
  &.ng-animate {
    overflow: visible;
  }

  .btn-radio {
    background: none;
    border: 2px solid transparent;
    border-radius: $input-border-radius-lg;
    color: $gray;
    display: flex;
    flex: 0 0 90px;
    font-weight: $weight-normal;
    padding: 9px 3px 6px;

    &:hover {
      border-color: $gray-lighter;
    }

    &:active,
    &.active {
      border-color: currentColor;
      color: $purple-light;
    }

    // animation start state
    &.ng-enter {
      opacity: 0;
      transition: opacity .15s ease-in;
    }

    // animation leave state
    &.ng-enter-active {
      opacity: 1;
    }

    // badge location
    &.badge::after {
      border: 1px solid $white;
      line-height: $input-xxs - 2px;
      right: 24px;
      top: 3px;
    }

    + .btn-radio {
      margin-left: $tab-margin;
    }

    .iconnables {
      height: 21px;
    }

    .btn-text {
      align-items: center;
      display: flex;
      font-size: 13px;
      height: 28px;
      justify-content: center;
      line-height: 1.1;
      margin-top: 3px;
      white-space: normal;
    }
  }
}

// p.modal-description
.modal-description {
  padding: 0 21px;

  &:last-child {
    padding-bottom: 21px;
  }

  + .list {
    font-weight: $weight-bold;
    margin: 15px 0 15px $input-md;
  }
}

// .modal-body
.modal-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow-y: auto;
  padding: 15px;

  // spinner
  > .spinner-wrapper {
    align-items: center;
    color: $gray-light;
    flex: 1 1 auto;
    margin: 45px auto;
  }

  // modal description
  .well {

    &:first-child {
      margin-bottom: 15px;
    }

    &:last-child {
      margin-top: 15px;
    }

    + .well:last-child {
      margin-top: 0;
    }
  }

  .label-checkbox {
    transition: padding .15s ease-in;
  }

  // nested footer
  .modal-footer {
    margin: 12px 0 0;
    padding: 12px 0 0;
  }
}

// .modal-footer
.modal-footer {
  border-top: 1px solid $gray-lighter;
  flex: 0 0 auto;
  padding: 12px 15px;
  z-index: 1; // footer overlaps body

  &.js-animate {
    overflow: hidden;
    transition: .3s;
  }

  &.ng-enter {
    border-width: 0;
    max-height: 0;
    opacity: 0;
    padding: 0 15px;
  }

  &.ng-enter-active {
    border-width: 1px;
    max-height: 67px;
    opacity: 1;
    padding: 12px 15px;
  }

  &.ng-leave {
    border-width: 1px;
    max-height: 67px;
    opacity: 1;
    padding: 12px 15px;
  }

  &.ng-leave-active {
    border-width: 0;
    max-height: 0;
    opacity: 0;
    padding: 0 15px;
  }

  .btn-group,
  .btn {

    &.text-next {
      padding-right: 6px;
      width: 90px;
    }

    &.float-right + .float-right {
      margin-right: 6px;
    }

    + .link {
      margin-top: 12px;
    }

    .iconnables {
      height: 100%;
      width: 18px;

      &:first-child {
        margin-right: 6px;
      }

      &:last-child {
        margin-left: 6px;
      }
    }
  }

  .label-checkbox {
    font-size: 13px;
    line-height: 24px;
    margin: 9px 6px 0 0;
  }

  // validation
  .btn-file-errors {
    border-radius: 12px;
    float: left;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    margin: 10px 9px 0;
    padding: 0 9px;
    position: relative;
    width: auto;
  }

  .btn-block {
    float: none;
    margin: 0;
    width: 100%;
  }

  .modal-footer-warning {
    color: $gray;
    line-height: $input-md;
    padding-left: 12px;
  }
}
