.modal-getting-started {
  top: 150px;

  @include media(sm) {
    top: 195px;
  }

  // runnabear
  > .img {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -195px;
  }

  .p.empty {
    margin: 9px 0 30px;
  }

  .btn-group {
    display: flex;
  }

  .btn-card {
    padding: 15px 12px;
    white-space: normal;

    @include media(xxs) {
      &:first-child {
        border-radius: $input-border-radius $input-border-radius 0 0;
      }

      &:last-child {
        border-radius: 0 0 $input-border-radius $input-border-radius;
        margin-left: 0;
        margin-top: -$input-border;
      }
    }

    .iconnables {
      height: 30px;
      width: 30px;
    }

    .h3 {
      font-size: 18px;
      margin-top: 6px;
    }

    .small {
      display: block;
      margin-top: 6px;
    }

    .green {
      margin-top: 12px;
    }
  }

  // dismiss link
  .link {
    margin-top: 15px;

    @include media(xxs) {
      @extend %text-center;
    }
  }
}
