// empty typography
.h3.empty {
  color: $gray-dark;
  font-size: 18px;
}

.p.empty {
  color: $gray;
  font-weight: 500;
  margin: 60px 0 30px;
  text-align: center;

  &:only-child {
    margin-bottom: 60px;
  }
}

.small.empty {
  display: block;
}


// .modal-form.empty
.modal-form.empty {
  padding: 30px;

  &.well.in {
    background: $gray-lightest;
    margin: 0;
  }

  // images + spacing between text and images
  .img {
    margin: 0 auto;

    + .empty {
      margin-top: 15px;
    }
  }

  // spacing between text/inputs and submit buttons
  .empty + .green,
  .empty + .input-spinner,
  .empty + .input,
  .input-spinner + .green,
  .input + .green,
  .validation-message + .green {
    margin-top: 15px;
  }

  // inputs (like api token)
  .input-spinner {
    margin: 0 auto;
    max-width: 360px;
    width: 100%;
  }

  // submit buttons (like for api token)
  .green {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
}
