// div.modal-backdrop
.modal-backdrop {
  align-items: center;
  animation: fade-in .3s forwards;
  background: rgba($white,.81);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  opacity: 0;
  overflow: hidden;
  padding: 15px;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: $z-modal;

  &.in {
    pointer-events: auto;
  }
}

// div.modal-dialog
.modal-dialog {
  animation: scale-in-modal .2s ease-in forwards;
  background: $white;
  border: 1px solid rgba($black,.1);
  border-radius: 3px;
  box-shadow: 0 0 30px rgba($black,.12);
  color: $gray-dark;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 84vw;
  min-width: 370px;
  position: relative;

  @include media(sm) {
    max-width: none;
    min-width: 360px;
    width: calc(100% - 30px);
  }

  &.modal-sidebar {
    flex-direction: row;

    @include media(xs) {
      flex-direction: column;
    }
  }
}

// header.modal-header
.modal-header {
  background: $white;
  border-radius: 3px 3px 0 0;
  color: $gray-dark;
  flex: 0 0 auto;
  height: 60px;
}

// p.modal-description
.modal-description {
  padding: 0 21px;

  &:last-child {
    padding-bottom: 21px;
  }
}

// h1.modal-heading
.modal-heading {
  float: left;
  font-size: 23px;
  line-height: 60px;
  padding: 0 21px;
}

// h2.modal-sub-heading
.modal-sub-heading {
  color: $gray;
  font-size: 14px;
  font-weight: 300;
  height: 45px;
  line-height: 45px;
  padding: 0 21px;
}

// main.modal-body
.modal-body {
  flex: 0 0 auto;
  overflow-x: hidden;
  overflow-y: auto;

  @include media(sm) {
    width: 100%;
  }

  // validation in modals:
  .validate-wrapper {
    cursor: default;
    display: block;
    height: 0;
    margin: 6px 9px;
    transition: all .2s ease-in;

    &.invalid-require,
    &.invalid-pattern,
    &.invalid-name {
      border: 1px solid rgba($orange,.3);
      height: 36px;
    }

    .validate-rules {
      align-items: baseline;
      display: flex;
      height: 36px;
      justify-content: center;
      right: 0;
    }

    .btn:first-child {
      margin-left: 6px;
    }
  }

  // form elements in modals:
  .input-group {
    margin: 0 9px;
  }

  .btn-checkbox {
    display: block;
    margin: 9px;
  }

  .label-checkbox {
    letter-spacing: .5px;
    transition: padding .15s ease-in;
  }

  // nested footer
  .modal-footer {
    border-top: 1px solid rgba($black,.1);
    clear: both;
    margin: 30px -9px -6px;
  }
}

// footer.modal-footer
.modal-footer {
  background: $white;
  border-radius: 0 0 3px 3px;
  flex: 0 0 auto;
  height: 63px;
  padding: 9px;

  .green,
  .orange,
  .white {
    float: right;

    + .green,
    + .orange,
    + .white {
      margin-right: 6px;
    }

    + .link {
      margin-top: 12px;
    }
  }

  .label-checkbox {
    font-size: 13px;
    line-height: 24px;
    margin: 9px 6px 0 0;
  }

  // validation
  .btn-file-errors {
    border-radius: 12px;
    float: left;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    margin: 10px 9px 0;
    padding: 0 9px;
    position: relative;
    width: auto;
  }

  .btn-block {
    float: none;
    margin: 0;
    width: 100%;
  }

  .icons-git {
    margin-right: 9px;
    top: 6px;
  }
}
