// div.modal-backdrop
.modal-backdrop {
  align-items: center;
  animation: fade-in .3s ease-in forwards;
  background: rgba($black,.45);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: $z-modal;

  &.in {
    pointer-events: auto;
  }
}

// div.modal-dialog
.modal-dialog {
  animation: scale-in .2s ease-in forwards;
  background: $white;
  border-radius: 3px;
  box-shadow: 0 0 30px rgba($black,.12);
  color: $gray-dark;
  margin: auto;
  max-width: 75vw;
  min-width: 370px;
  position: relative;

  @include media(sm) {
    max-width: none;
    min-width: 360px;
    width: calc(100% - 30px);
  }

  &.show-sidebar.show-sidebar {
    border-radius: 3px 0 0 3px;
    transform: scale3d(1,1,1) translate3d(-105px,0,0);
    transition: all .2s ease-in;
  }

  // guides in modals:
  .guide {
    border: 1px solid rgba($blue,.2);
    margin: 0 6px 6px;

    .guide-header {
      margin-bottom: 15px;
    }

    .guide-text {
      margin: 9px 0;
    }

    .btn-close {
      padding: 0;
      position: absolute;
      right: 9px;
      top: 9px;
    }
  }
}

// .modal-container
.modal-container {
  background: $white;
  border-radius: 3px;
  position: relative;
  transition: box-shadow 0 .2s ease-in;
  z-index: $z-modal;

  .show-sidebar & {
    border-radius: 3px 0 0 3px;
    box-shadow: 1px 0 0 rgba($black,.1);
    transition: none;
  }
}

// header.modal-header
.modal-header {
  color: $gray-dark;
  height: 60px;

  .btn {
    float: right;
    right: 6px;
    top: 6px;
  }
}

// p.modal-description
.modal-description {
  padding: 0 21px;

  &:last-child {
    padding-bottom: 15px;
  }
}

// h1.modal-heading
.modal-heading {
  float: left;
  font-size: 23px;
  line-height: 60px;
  padding: 0 21px;
}

// h2.modal-sub-heading
.modal-sub-heading {
  color: $gray;
  font-size: 14px;
  font-weight: 300;
  height: 45px;
  line-height: 45px;
  padding: 0 21px;
}

// main.modal-body
.modal-body {
  max-height: calc(100vh - 153px);
  overflow-y: auto;

  // validation in modals:
  .validate-wrapper {
    cursor: default;
    display: block;
    height: 0;
    margin: 0;
    transition: all .2s ease-in;

    &.invalid-pattern,
    &.invalid-name {
      border: 1px solid rgba($orange,.3);
      height: 36px;
      margin: 6px 9px 0;
    }

    .validate-rules {
      align-items: baseline;
      display: flex;
      height: 36px;
      justify-content: center;
      right: 0;
    }

    .btn:first-child {
      margin-left: 6px;
    }
  }

  // form elements in modals:
  .input-group {
    margin: 0 9px;
  }

  .btn-checkbox {
    display: block;
    margin: 9px;
  }

  .label-checkbox {
    font-size: 14px;
    letter-spacing: .5px;
    transition: padding .15s ease-in;
  }

  // wells in modals
  .well {
    display: block;
    margin-left: 9px;
    margin-right: 9px;
    max-height: 36px;
    text-align: left;
    transition: margin .15s ease-in, max-height .15s ease-in;

    &.in {
      margin-left: 6px;
      margin-right: 6px;
      max-height: 180px; // will show up to 3.5 input-groups
    }

    .input-group {
      margin: 0 0 3px;
    }
  }

  // guides in modals:
  .guide {
    border: 0;
    border-left: 1px solid rgba($purple-light,.15);
    border-radius: 0;
    border-right: 1px solid rgba($purple-light,.15);
    margin: 0;
    padding: 15px 36px 15px 21px;

    .btn {
      padding: 0;
      position: absolute;
      right: 15px;
      top: 12px;
    }
  }
}

// footer.modal-footer
.modal-footer {
  height: 63px;
  padding: 9px;

  .green,
  .orange,
  .white {
    float: right;

    + .green,
    + .orange,
    + .white {
      margin-right: 6px;
    }

    + .link {
      margin-top: 12px;
    }
  }

  .btn-block {
    float: none;
    margin: 0;
    width: 100%;
  }

  .icons-git {
    margin-right: 9px;
    top: 6px;
  }

  .modal-footer-warning {
    color: $gray;
    line-height: 45px;
    padding-left: 12px;
  }
}
