.modal-environment {

  .modal-body {
    border-bottom: 1px solid rgba($black,.1);
    border-top: 1px solid rgba($black,.1);
    overflow: hidden;
    padding-bottom: 0;
    position: relative;
  }

  .pre {
    min-height: 40vh;
    min-width: 600px;

    @include media(md) {
      min-width: 0;
    }
  }

  .box-group {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}