.modal-isolation {
  color: $gray-dark;
  width: 450px;

  .icons-status {
    margin-right: 3px;
  }

  // container lists
  .list {
    flex: 0 0 auto;
    margin: 15px 0;

    + .list {
      margin-top: 0;
    }
  }

  .list-item {
    align-items: center;
    background: $white;
    color: $gray-dark;
    display: flex;
    font-weight: $weight-bold;
    height: 45px;
    padding: 0 12px;

    // new container icons
    > .iconnables {
      flex: 0 0 21px;
    }

    > .span {
      flex: 1 1 auto;
      padding: 0 6px;
    }
  }

  .btn-xs {
    flex: 0 0 186px;
    position: relative; // reset .list-item > .btn-xs
    right: 0; // reset .list-item > .btn-xs
    text-align: left;
    top: 0; // reset .list-item > .btn-xs

    &.modded {
      top: -6px;

      &::after {
        color: $gray;
        content: 'Branch uses a modified configuration';
        display: block;
        font-size: 11px;
        font-weight: $weight-normal;
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 19px;
      }
    }

    .text-overflow {
      flex: 1 1 auto;
    }

    // isolated text
    .em {
      color: $gray;
      font-size: 11px;
    }

    .icons-arrow-down {
      flex: 0 0 auto;
    }
  }
}
