.ace-container {
  position: relative;

  // override sidebar
  .sidebar {
    height: auto;
    transition: width .2s ease-in-out;
  }
}

// specific ace styles for:
// - environment variables
// - build files

// environment variables
.ace-environment-variables {
  border-bottom: 0;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.ace-sidebar {
  // override sidebar
  border: 0;
  border-left: 1px solid transparent;
  border-radius: 0 0 3px;
  overflow-y: auto;
  padding: 6px 0;
  width: 0;

  &.in {
    width: 240px;

    // dark theme
    .ace-runnable-dark & {
      border-left-color: $purple-darker;
    }

    // light theme
    .ace-runnable-light & {
      border-left-color: $gray-lighter;
    }
  }

  // dark theme
  .ace-runnable-dark & {
    background: $purple-dark;
  }

  // light theme
  .ace-runnable-light & {
    background: $gray-lightest;
  }

  // adds a weird space at the end of the sidebar for overflow
  &::after {
    content: '';
    display: block;
    height: 12px;
    position: absolute;
    width: 100%;
  }

  // toggle
  // unique darker theme
  .btn-group {
    flex: 0 0 auto;
    margin: 6px;
  }

  .btn-xs {
    margin: 0;
    width: 50%;

    // dark theme
    .ace-runnable-dark & {
      background: $purple-dark;
      border-color: $purple-light;

      &:hover {
        background: $purple;
      }

      &:active,
      &.active {
        background: $purple-light;
        color: $white;
      }
    }

    // light theme
    .ace-runnable-light & {
      background: $gray-lightest;
      border-color: $gray-lighter;
      color: $gray;

      &:hover {
        background: $gray-lighterest;
      }

      &:active,
      &.active {
        background: $white;
        color: $purple-light;
      }
    }
  }

  // empty state
  .empty.empty {
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    padding: 15px;

    // dark theme
    .ace-runnable-dark & {
      color: $purple-lighter;
    }

    // light theme
    .ace-runnable-light & {
      color: $gray;
    }
  }

  // url lines
  .well {
    border: 1px solid;
    cursor: pointer;
    flex: 0 0 auto;
    font-size: 11px;
    line-height: 1.2;
    margin-bottom: 6px;
    padding: 6px;
    position: relative;

    // dark theme
    .ace-runnable-dark & {
      background: $purple-darker;
      border-color: $purple-light;
      color: #7d6692; // to match line numbers in ace

      &:hover {
        border-color: $purple-lighter;
      }

      &:active {
        background: $purple-dark;
        border-color: $purple-lighter;
      }
    }

    // light theme
    .ace-runnable-light & {
      background: $white;
      border-color: $gray-lighter;
      color: $gray-dark;

      &:hover {
        border-color: $gray-light;
      }

      &:active,
      &.active {
        border-color: $purple-light;
      }
    }

    // show hide button
    &:hover .btn-ignore {
      display: block;
    }

    .btn-ignore {
      display: none;
    }
  }

  // hide button
  .btn-xxs {
    border: 1px solid;
    bottom: 6px;
    font-size: 11px;
    height: 15px;
    line-height: 13px;
    position: absolute;
    right: 5px;
    top: 5px;

    // dark theme
    .ace-runnable-dark & {
      background: $purple-darker;
      border-color: #7d6692;
      color: $purple-lighter;

      &:active {
        background: $purple-light;
        border-color: $purple-light;
        color: $purple-lightest;
      }
    }

    // light theme
    .ace-runnable-light & {
      background: $gray-lightest;
      border-color: $gray-light;
      color: $gray;

      &:active {
        background: $gray;
        border-color: $gray;
        color: $white;
      }
    }

    &:hover {
      border-color: currentColor;
    }
  }

  // host name
  .monospace {
    font-weight: 400;
    letter-spacing: -.25px;
    margin-top: 6px;

    // dark theme
    .ace-runnable-dark & {
      color: $white;
    }

    // light theme
    .ace-runnable-light & {
      color: $gray-dark;
    }
  }
}

// build files
.ace-build-files {
  background: $white;
  border-radius: 3px;

  // override sidebar
  .sidebar {
    border: 1px solid $gray-lighter;
    border-radius: 2px 0 0 2px;
    border-right: 0;
    color: $gray-dark;
    margin: -2px 0 -2px -2px;
    width: 210px;
  }

  .sidebar-actions {
    background: #f0f0f0;
    border-bottom: 1px solid $gray-lighter;
    flex: 0 0 auto;
    padding: 6px;

    .btn-xs {
      float: right;
      padding: 0;
    }

    .iconnables {
      height: 100%;
    }
  }

  .file-tree {
    margin: 3px;
    overflow-y: auto;
  }
}