.modal-aha {

  .modal-header {
    background: transparent;
    border-color: transparent;
    padding-top: $sm;
  }

  .modal-body {
    padding-top: 0;
  }

  .aha-overview {
    margin: 0 45px;
    width: 390px;

    &.well {
      border-radius: $input-border-radius-lg;
      margin-top: $sm;
    }
  }

  .aha-guide {
    padding-left: $md;
    padding-right: $md;
    width: 390px;

    &.active {
      background: $white;
      border: 1px solid $gray-lighter;
      border-radius: $input-border-radius-lg;
      box-shadow: 0 1px 3px rgba($black,.06);
      margin: 0 (-$sm);
      width: 450px;
    }
  }

  // override default
  .aha-meter.aha-meter {

    .iconnables {
      color: $gray-light;
    }

    .icons-check {
      background: $green;
      bottom: 0;
      color: $white;
      height: 18px;
      left: 0;
      padding: 0;
      position: absolute;
      width: 18px;
    }
  }

  .list-item-fork {
    border: $input-border solid $gray-lighter;

    + .list-item-fork {
      margin-left: -$input-border;
    }
  }
}
