.modal-wizard {
  height: 608px;

  @include media(xs) {
    height: auto;
  }

  .modal-navbar {
    max-width: 240px;
    min-width: 240px;
    padding: 0;

    @include media(xs) {
      max-width: none;

      .list-item {
        display: block;
        margin-left: 15px;
        margin-right: 15px;
      }
    }

    .link {
      bottom: 36px;
      font-weight: 500;
      height: 36px;
      line-height: 36px;
      padding: 0 12px;
      position: absolute;

      @include media(xs) {
        bottom: 0;
        position: relative;
      }
    }
  }

  .modal-body {
    flex: 1 1 auto;
  }

  .modal-footer {
    border-top: 1px solid rgba($black,.1);
    flex: 0 0 auto;
    height: auto;
    margin: 30px 0 0;
    padding: 9px 15px;
  }
}
