.ace-container {
  position: relative;

  // override sidebar
  .sidebar {
    height: auto;
    transition: width .2s ease-in-out;
  }
}

// specific ace styles for:
// - environment variables
// - build files

// environment variables
.ace-environment-variables {
  border-bottom: 0;
  border-radius: 3px;
  height: 625px;
  overflow: hidden;
  position: relative;

  @media (max-height: 1200px) {
    height: 500px;
  }

  @media (max-height: 1100px) {
    height: 400px;
  }

  @media (max-height: 1000px) {
    height: 300px;
  }

  @media (max-height: 900px) {
    height: 200px;
  }

  @media (max-height: 800px) {
    height: calc(100vh - 420px);
    min-height: none;
  }

  @include media(sm) {
    height: calc(100vh - 460px);
  }

  // override sidebar
  .sidebar {
    background: $purple-dark;
    border: 0;
    border-left: 1px solid $purple-darker;
    border-radius: 0 0 3px;
    overflow-y: auto;
    padding: 6px 0;
    width: 0;

    &.in {
      width: 240px;
    }

    // adds a weird space at the end of the sidebar for overflow
    &::after {
      content: '';
      display: block;
      height: 12px;
      position: absolute;
      width: 100%;
    }

    > .small:first-child {
      color: $purple-lighter;
      padding: 0 12px 3px;
    }
  }

  // url lines
  .well {
    background: $purple-darker;
    border: 1px solid $purple-light;
    color: $purple-lighter;
    cursor: pointer;
    font-size: 11px;
    line-height: 1.2;
    padding: 6px;

    &:hover {
      border-color: $purple-lighter;

      .link {
        opacity: 1;
        text-decoration: none;
      }
    }

    + .well {
      margin-top: 6px;
    }

    .link {
      color: currentColor;
      opacity: .5;
      text-decoration: none;
    }

    .monospace {
      color: $white;
      font-weight: 400;
      letter-spacing: -.25px;
      margin-top: 6px;
    }
  }
}

// build files
.ace-build-files {
  background: $white;
  border-radius: 3px;
  height: 700px;

  @media (max-height: 1200px) {
    height: 600px;
  }

  @media (max-height: 1100px) {
    height: 500px;
  }

  @media (max-height: 1000px) {
    height: 400px;
  }

  @media (max-height: 900px) {
    height: 300px;
  }

  @media (max-height: 800px) {
    height: calc(100vh - 342px);
    min-height: none;
  }

  @include media(sm) {
    height: calc(100vh - 342px);
  }

  // override sidebar
  .sidebar {
    border: 1px solid $gray-lighter;
    border-radius: 2px 0 0 2px;
    border-right: 0;
    color: $gray-dark;
    margin: -2px 0 -2px -2px;
    width: 210px;
  }

  .sidebar-actions {
    background: #f0f0f0;
    border-bottom: 1px solid $gray-lighter;
    padding: 6px;

    .btn-xs {
      float: right;
      padding: 0;
    }

    .iconnables {
      height: 100%;
    }
  }

  .file-tree {
    margin: 3px;
  }
}