.modal-dockerfile {

  // unlock and mirror options
  > .well {
    color: $gray-dark;

    .grid-content {
      height: 35px;
      line-height: 1;

      @include media(xxs) {
        margin-left: 0;
        margin-right: 6px;
      }

      // icon anchor
      &.iconnables {
        @include media(xxs) {
          display: none;
        }
      }

      // for text if change button is present
      &.padding-right {
        padding-right: 90px;
      }
    }

    // small text
    .small {
      color: $gray;
      display: inline-block;
      width: 100%;

      .span {
        display: inline-block;
        height: 15px;
        max-width: 100%;
        position: relative;
        top: 3px;
      }
    }

    // if error
    .icons-alert-alt {
      color: $orange;
      height: 12px;
      margin-right: 3px;
      top: 3px;
      width: 12px;
    }

    // change path
    .btn-xxs {
      margin-left: 3px;

      // tooltip
      &.btn-icon {
        background: $gray-light;
        border-radius: 50%;
        color: $white;
        line-height: 1;
        margin-left: 5px;
        padding: 0 5px;
        width: 18px;
      }
    }

    // unlock button
    .btn-sm .iconnables {
      height: 15px;
      margin-right: 5px;
      width: 15px;
    }

    .toggle-wrapper {
      margin-left: 15px;
    }
  }
}
