.modal-add-branches {
  width: 390px;

  // modal description
  .p {
    color: $gray;
    margin-bottom: 12px;
    padding: 0 15px;

    .strong {
      color: darken($gray,10);
    }
  }

  // warning text if container is not green
  .small {
    color: $gray;
    display: block;
    margin: 9px auto 15px;
    padding-left: 21px;
    position: relative;
  }

  .icons-warning {
    height: 18px;
    left: 0;
    position: absolute;
    width: 18px;
  }

  .list {
    background: $white;
    color: $gray-dark;
    font-weight: $weight-bold;
    margin: 6px 0;
  }

  .list-item {
    height: 48px;
    line-height: 18px;
    padding: 15px 15px 15px 45px;

    &:last-child {
      color: $gray;
      font-weight: $weight-normal;
      font-style: italic;
    }

    &.spinner-wrapper {
      padding: 0;
      position: relative;
    }
  }

  .icons-server-new {
    height: 21px;
    left: 15px;
    position: absolute;
    width: 21px;
  }
}