.ace-container {
  position: relative;

  // override sidebar
  .sidebar {
    height: auto;
    width: 210px;
  }
}

// specific ace styles for:
// - environment variables
// - build files

// environment variables
.ace-environment-variables {
  border-bottom: 0;
  border-radius: 3px;
  height: 650px;

  @media (max-height: 1200px) {
    height: 525px;
  }

  @media (max-height: 1100px) {
    height: 425px;
  }

  @media (max-height: 1000px) {
    height: 325px;
  }

  @media (max-height: 900px) {
    height: 225px;
  }

  @media (max-height: 800px) {
    height: calc(100vh - 412px);
    min-height: none;
  }

  @include media(sm) {
    height: calc(100vh - 450px);
  }

  // override sidebar
  .sidebar {
    border: 1px solid $gray-lighter;
    border-left: 0;
    border-radius: 0 0 2px;
    color: $gray-dark;
    margin: -2px -2px -2px 0;
  }
}

// build files
.ace-build-files {
  background: $white;
  border-radius: 3px;
  height: 700px;

  @media (max-height: 1200px) {
    height: 600px;
  }

  @media (max-height: 1100px) {
    height: 500px;
  }

  @media (max-height: 1000px) {
    height: 400px;
  }

  @media (max-height: 900px) {
    height: 300px;
  }

  @media (max-height: 800px) {
    height: calc(100vh - 342px);
    min-height: none;
  }

  @include media(sm) {
    height: calc(100vh - 342px);
  }

  // override sidebar
  .sidebar {
    border: 1px solid $gray-lighter;
    border-radius: 2px 0 0 2px;
    border-right: 0;
    color: $gray-dark;
    margin: -2px 0 -2px -2px;
  }

  .sidebar-actions {
    background: #f0f0f0;
    border-bottom: 1px solid $gray-lighter;
    padding: 6px;

    .btn-xs {
      float: right;
      padding: 0;
    }

    .iconnables {
      height: 100%;
    }
  }

  .file-tree {
    margin: 3px;
  }
}