.modal-webhooks {
  color: $gray-dark;
  width: 390px;

  // modal description
  .p {
    color: $gray;
    font-size: 15px;
    line-height: 18px;

    + .p {
      margin-top: 6px;
    }
  }

  // admin list
  .list-bordered {
    background: $white;
    margin: 18px 0 3px;
  }

  // admin list items
  .list-item {
    cursor: pointer;
    height: 57px; // 27px gravatar + 15px padding * 2
    line-height: 18px;
    overflow: hidden;
    padding: 0 15px;
    transition: all .15s;

    &.inactive {
      border: 0;
      height: 0;
    }

    &.active {
      border: 0;
      cursor: default;
      height: 303px;

      .username {
        margin-top: 19px;
      }

      .small {
        opacity: 0;
      }
    }

    // loading state
    > .spinner-wrapper {
      align-items: center;
      height: 100%;
      width: 100%;
    }

    // overrides
    > .btn-sm {
      position: relative;
      right: 0;
      top: 0;
    }
  }

  .gravatar {
    background: $gray-light;
    margin: 15px 12px 0 0; // override
  }

  .username {
    font-weight: $weight-bold;
    margin-top: 9px;
    transition: all .15s;
  }

  // email address
  .small {
    color: $gray;
    font-size: 14px;
    transition: all .15s;
  }

  .iconnables {
    height: 27px;
    position: absolute;
    right: 12px;
    top: 15px;
  }

  .icons-check {
    color: $green;
  }

  .icons-arrow-forward {
    color: $gray-light;
  }

  .input,
  .textarea {
    color: $gray;
    font-size: 14px;
    height: 30px;
    line-height: 18px;
    padding: 6px 12px;
  }

  .textarea {
    height: 138px;
    margin: 12px 0;
  }

  // transition for invitation details
  .js-animate {
    transition: all .15s;
  }

  .ng-hide {
    opacity: 0;
  }
}