.modal-servers,
.modal-servers .animated-panel {
  max-width: 100%;
  min-width: 100%; // fix animated panel container
}

.modal-server-select {
  width: 600px; // must set for animated panel

  @include media(xs) {
    width: 460px;
  }

  @include media(xxs) {
    width: 370px;
  }

  // header buttons
  .modal-header.lg {
    align-items: center;
    flex: 0 0 120px;
    overflow: hidden;

    @include media(xs) {
      align-items: flex-end;
      flex: 1 1 auto;
      padding-bottom: 12px;
      padding-top: 54px;
    }

    .btn {
      border-radius: $input-border-radius-lg;
      height: 60px;
      line-height: 1.2;
      padding: 0 21px;

      @include media(xs) {
        font-size: 13px;
        padding: 0 15px;
      }

      @include media(xxs) {
        flex: 1 1 50%;
        flex-direction: column;
        height: 94px;
        padding: 15px;
        white-space: normal;
      }

      + .btn {
        margin-left: 15px;

        @include media(xs) {
          margin-left: 6px;
        }
      }

      .iconnables {
        height: 100%;
        margin-right: 9px;

        @include media(xs) {
          height: 24px;
          margin-right: 6px;
        }

        @include media(xxs) {
          margin: 0 0 6px;
        }
      }

      .btn-text {
        @include media(xxs) {
          text-align: center;
        }
      }

      .small {
        display: block;
        opacity: .5;
      }
    }
  }

  // sort and search
  .list-header {
    align-items: center;
    padding: 0 15px 15px;

    // sort
    .small {
      color: $gray-light;
    }

    // search
    .input-search {
      margin: 0;
      width: 150px;
    }
  }

  //- empty state (if there are no repositories)
  .well {
    background: $gray-lightest;
    margin: 0;
  }

  .list-servers {
    flex: 0 0 auto;

    .icons-dockerfile,
    .icons-server {
      height: 14px;
      margin-left: 6px;
      opacity: .75;
      pointer-events: auto;
      top: 2px;
      width: 14px;

      &:hover {
        opacity: 1;
      }
    }
  }

  .list-item {
    font-size: 18px;
    height: 60px;
  }
}

// repository/template list
.list-servers {

  > .list-item {
    border: $input-border solid transparent;
    border-radius: $input-border-radius-lg;
    cursor: pointer;
    font-weight: $weight-bold;
    padding: 6px 15px;
    white-space: nowrap; // reset .multi-line default

    &:hover:not(.disabled) {
      background: $white;
      border-color: $gray-lighter;
    }

    &.disabled {
      color: $gray-light;
      cursor: default;

      > .small {
        color: $gray-light;
      }

      .btn-icon {
        cursor: default;
        opacity: .5;
      }
    }

    &:active:not(.disabled),
    &.active:hover,
    &.active {
      background: $white;
      border-color: currentColor;
      color: $green;

      .small {
        color: currentColor;
      }
    }

    &:last-child {
      margin-bottom: 15px;
    }

    + .list-item {
      margin-top: 3px;
    }
  }

  .row-author > .small:not(.monospace) {
    flex: 1 1 auto; // pushes .monospace to the right
    margin-right: 6px;
  }

  // empty state
  .empty {
    word-break: break-all;
  }

  // next arrow
  .icons-arrow-down {
    height: 36px;
    padding: 6px;
    transform: rotate3d(0,0,1,-90deg);
    width: 36px;
  }

  // spinner
  .spinner-wrapper {
    padding: 10px;
  }

  // tiled view for template containers
  &.list-tiled {
    margin: 0 auto;
    width: 378px;

    @include media(xs) {
      width: 252px;
    }

    .list-item {
      background: $white;
      border-color: $gray-lighter;
      color: $gray-dark;
      float: left;
      font-size: 15px;
      height: 99px;
      margin: 3px;
      padding: 0;
      text-align: center;
      width: 120px;

      &:hover {
        border-color: $gray-light;
      }

      &:active,
      &.active {
        border-color: currentColor;
        color: $green;
      }

      &.btn-hint {
        @extend %btn-hint;
      }

      // anchor image
      .img {
        display: block;
        margin: 15px auto 6px;
      }
    }
  }
}
