.modal-aha {

  .modal-body {
    padding-top: 0;
  }

  .aha-overview {
    margin: $sm auto 0;
    width: 480px;

    &.well {
      border-radius: $input-border-radius-lg;
      margin-top: $sm;
    }
  }

  .aha-guide {
    padding-left: $md;
    padding-right: $md;
    width: 360px;

    &.active {
      background: $white;
      border: 1px solid $gray-lighter;
      border-radius: $input-border-radius-lg;
      box-shadow: 0 1px 3px rgba($black,.06);
      margin: 0 (-$sm);
      width: 540px;
    }

    &.disabled {
      opacity: .6;
    }

    .aha-text {
      font-size: 15px;
    }
  }

  // override default
  .aha-meter.aha-meter {
    height: 36px;
    left: 36px;
    top: 18px;
    width: 36px;

    .iconnables {
      color: $gray-light;
    }

    .icons-check {
      background: $green;
      bottom: 0;
      color: $white;
      height: 15px;
      left: 0;
      padding: 0;
      position: absolute;
      width: 15px;
    }
  }

  .list-fork {

    &.grid-2 {
      flex-wrap: wrap;

      .list-item-fork {
        padding: $sm;

        &:nth-child(2n) {
          border-left: $input-border solid $gray-lighter;
        }

        &:nth-child(n+3) {
          border-top: $input-border solid $gray-lighter;
        }
      }
    }

    &.grid-3 .list-item-fork {
      padding: 0 $sm;

      + .list-item-fork {
        border-left: $input-border solid $gray-lighter;
        margin-left: -$input-border;
      }
    }

    .img {
      border-radius: $input-border-radius-lg;
    }
  }
}
