.modal-grant-access {
  animation: none;
  flex-direction: row;
  margin-top: 150px;
  max-width: 875px;
  min-height: 390px;
  overflow: visible;
  position: relative;
  transition: opacity .15s ease-in-out, transform .15s ease-in-out;

  @include media(sm) {
    flex-direction: column;
    max-width: 420px;
    min-height: 0;
  }

  @include media(xs) {
    flex: 0 0 auto;
    max-width: 360px;

    .padding-lg {
      padding-left: $sm;
      padding-right: $sm;
    }
  }

  @include media(xxs) {
    max-width: 300px;
  }

  &.ng-enter {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    transform: scale3d(.97,.97,1);
  }

  &.ng-enter-active {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    position: absolute;
    right: 0;
    transform: scale3d(1,1,1);
  }

  &.ng-leave {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    position: absolute;
    right: 0;
    transform: scale3d(1,1,1);
  }

  &.ng-leave-active {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    transform: scale3d(.97,.97,1);
  }

  .grant-access-view {
    flex: 0 0 330px;

    @include media(sm) {
      flex: 0 0 auto;
    }
  }

  .grant-access-body {
    @include media(sm) {
      flex: 0 0 auto;
    }
  }

  .img.runnabear {
    height: auto;
    left: 50px;
    margin: 0 auto;
    position: absolute;
    right: auto;
    top: -120px;
    width: 230px;
    z-index: 1;

    @include media(sm) {
      left: 0;
      right: 0;
    }
  }

  .h1 {
    font-size: 27px;
  }

  .well {
    background: $gray-lightest;
  }

  .figure {
    background: $gray-lightest;
    border-left: 1px solid $gray-lighter;
    border-radius: 0 $input-border-radius-lg $input-border-radius-lg 0;
    box-shadow: inset 0 -1px 0 rgba($white,.1);

    @include media(md) {
      flex: 1 1 auto;
    }

    @include media(sm) {
      display: none;
    }

    .img {
      height: auto;
      width: 450px;

      @include media(md) {
        width: 100%;
      }
    }
  }

  .green .icons-link-external {
    height: 12px;
    width: 18px;
  }

  .footer .icons-link-external {
    height: 9px;
    top: 1px;
    width: 18px;
  }
}
