.modal-edit-server {
  width: 540px;

  // nav
  .btn-radio {
    line-height: 1;
    margin-bottom: 6px;
    margin-top: 6px;
    min-width: 90px;
    width: auto;
  }

  // forms
  // ports
  .textarea {
    display: flex;
    flex-wrap: wrap;
    height: 90px;
    padding: 6px;

    .btn {
      border-width: 1px;
      flex: 0 0 auto;
      margin-right: 6px;
    }

    .input-port {
      color: $gray-dark;
      font-size: 13px;
      font-weight: 500;
      height: 18px;
    }
  }
}