.modal-edit-server {
  width: 540px;

  // nav
  .btn-radio {
    line-height: 1;
    margin-bottom: 6px;
    margin-top: 6px;
    min-width: 90px;
    width: auto;
  }

  // forms
  // ports
  .textarea {
    height: 90px;
    padding: 6px;

    .btn {
      border-width: 1px;
      margin-right: 6px;
    }
  }
}