.modal-integrations {
  height: 100%;
  max-height: 660px;
  transition: max-height .15s ease-in, width .15s ease-in;
  width: 660px;

  @include media(sm) {
    width: calc(100% - 30px);
  }

  // uninitiated state
  &.no-data {
    max-height: 242px;
    width: 370px;

    // header
    .modal-header {
      background: none;
      border-color: transparent;
      height: auto;
    }

    .modal-heading {
      // reset default
      float: none;
      text-align: center;
    }

    .modal-header-actions {
      justify-content: center;
    }

    .btn-radio {
      height: 108px;
      width: 120px;
    }

    .img {
      margin-bottom: 6px;
      width: 36px;
    }

    // small footer
    .footer-link {
      line-height: 45px;
      text-align: center;
    }
  }

  // unverified state
  &.no-verify {
    max-height: 260px;
  }

  // default state
  // header
  .modal-header {
    background: $gray-lightest;
    border-bottom: 1px solid rgba($black,.1);
    height: 84px;
    padding: 12px;
    transition: all .15s ease-in;
  }

  .modal-header-actions {
    display: flex;
    justify-content: flex-start;
  }

  .btn-radio {
    font-size: 13px;
    height: 60px;
    width: 60px;

    + .btn-radio {
      margin-left: 6px;
    }
  }

  .img {
    height: 33px;
    margin: 0 auto;
    width: 21px;
  }

  // api token
  .input[disabled] {
    color: $green;
    font-size: 14px;
  }

  // form.modal-body
  .modal-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 30px;

    @include media(sm) {
      padding: 15px;
    }
  }

  .list-item {
    color: $gray-light;
    height: 45px;
    line-height: 45px;
    margin: 0;
    padding: 0 9px;
    position: relative;
    transition: height .15s ease-in;

    + .list-item {
      border-top: 1px solid rgba($black,.1);
    }

    &.active {
      color: $gray-darker;

      .gravatar {
        opacity: 1;
      }
    }

    &.disabled {
      color: $gray-light;
      cursor: not-allowed;

      .gravatar {
        opacity: .3;
      }

      .well {
        opacity: .3;
      }
    }

    &.expanded {
      height: 137px;
    }

    .gravatar {
      margin: 12px 9px 0 0;
      opacity: .3;
    }
  }

  // badge
  .badge-warning {
    background: $white;
    border-radius: 50%;
    color: $orange;
    height: 16px;
    left: 3px;
    position: absolute;
    top: 5px;
    width: 16px;
  }

  .icons-warning {
    height: 21px;
    top: -8px;
    width: 21px;
  }

  .input-checkbox {
    height: 45px;
    margin: 0;
    position: absolute;
    right: 8px;
    top: 0;
  }

  // well
  .well {
    cursor: default;
    margin: 0 -3px 6px;
    max-height: none;
    padding: 9px 6px 0;
    position: relative;

    .small {
      line-height: 1.2;
      white-space: normal;
    }
  }

  .select {
    cursor: pointer;
  }

  // footer
  .modal-footer {
    box-shadow: 0 -3px 6px $white;
    z-index: 1;
  }
}