.modal-integrations {
  height: 100%;
  max-height: 660px;
  transition: max-height .15s ease-in, width .15s ease-in;
  width: 660px;

  @include media(sm) {
    width: calc(100% - 30px);
  }


  // uninitiated state
  &.no-data {
    max-height: 300px;
    width: 370px;

    // header
    .modal-header {
      background: none;
      border-color: transparent;
      height: auto;
    }

    .modal-heading {
      // reset default
      float: none;
      text-align: center;
    }

    .modal-header-actions {
      justify-content: center;
    }

    // small footer
    .footer-link {
      line-height: 45px;
      text-align: center;
    }
  }

  // unverified state
  &.no-verify {
    max-height: 351px;

    @include media(xs) {
      max-height: 367px;
    }
  }

  // default state
  // header slack logo
  .modal-header .img {
    margin-right: 9px;
    position: relative;
    top: 5px;
  }

  .modal-header-actions {
    display: flex;
    justify-content: flex-start;
  }

  // api token
  .input {
    font-size: 13px;
    letter-spacing: -.25px;

    &[disabled],
    &.disabled {
      background: none;
      border-color: rgba($black,.15);
      box-shadow: none;
      color: $gray-dark;
    }
  }

  // verify and cancel buttons
  .input-col > .btn-xxs {
    float: right;
    font-size: 13px;
    padding: 0 3px;
    width: auto;

    + .btn {
      margin-right: 6px;
    }
  }

  .list {
    background: $white;
  }

  .list-item {
    color: $gray;
    height: 45px;
    line-height: 45px;
    margin: 0;
    padding: 0 9px;
    position: relative;
    transition: height .15s ease-in;

    &:hover,
    &:active {
      color: $gray-dark;

      .gravatar {
        opacity: .6;
      }
    }

    &.active {
      color: $gray-darker;

      .gravatar {
        opacity: 1;
      }
    }

    &.expanded {
      height: 145px;
    }

    &.disabled {
      color: $gray-light;
      cursor: not-allowed;
      height: 45px;

      .gravatar {
        opacity: .3;
      }

      .well {
        opacity: .3;
      }
    }

    .gravatar {
      margin: 12px 9px 0 0;
      opacity: .45;
    }

    + .list-item {
      border-top: 1px solid rgba($black,.1);
    }
  }

  // badge
  .badge-warning {
    animation: scale-in .15s ease-in forwards;
    background: $white;
    border-radius: 50%;
    color: $orange;
    height: 16px;
    left: 3px;
    position: absolute;
    top: 5px;
    width: 16px;
    z-index: 1;
  }

  .icons-warning {
    height: 21px;
    top: -8px;
    width: 21px;
  }

  .input-checkbox {
    height: 45px;
    margin: 0;
    position: absolute;
    right: 8px;
    top: 0;
  }

  // well
  .well {
    border-width: 1px;
    cursor: default;
    margin: 0 -3px;
    max-height: none;
    padding: 6px;
    position: relative;

    .small {
      line-height: 1.2;
      margin: 0;
      white-space: normal;
    }
  }

  .select {
    cursor: pointer;
    display: block;
  }

  // disabled state
  .well-state {
    background: $white;
    border-radius: 3px;
    flex: 0 0 auto;
    height: 45px;
    line-height: 45px;
    margin: 0 auto 45px;
    padding: 0 15px;

    @include media(xs) {
      font-size: 14px;
      margin: 0 0 30px;
      padding: 0 9px;
      white-space: nowrap;
    }

    .green {
      float: right;
      margin-top: 10px;
    }
  }
}