.modal-invite-admin {
  width: 390px;

  // modal description
  .label .small {
    padding: 6px 15px 0;

    .strong {
      color: darken($gray,10);
    }
  }

  // admin list items
  .list-item {
    cursor: pointer;

    &:hover:not(.active) {
      background-color: rgba($gray-lighterest,.5);
    }

    &:active:not(.active) {
      background-color: $gray-lighterest;
    }

    &.inactive {
      border: 0;
      height: 0;
      padding: 0 15px;
    }

    &.active {
      border: 0;
      height: 309px;
    }

    // loading state
    &.spinner-wrapper {
      pointer-events: none;
      position: relative;
    }

    // override
    > .btn-sm {
      position: relative;
      right: 0;
      top: 0;
    }

    // email address
    .small {
      transition: opacity .15s;
    }
  }

  .iconnables {
    height: 27px;
    position: absolute;
    right: 12px;
    top: 15px;
  }

  .icons-check {
    color: $green;
  }

  .icons-arrow-forward {
    color: $gray-light;
  }

  .input,
  .textarea {
    font-size: 14px;
  }

  .textarea {
    height: 135px;
    margin: 12px 0;
    padding: 6px;
  }
}
