.modal-isolation {
  color: $gray-dark;
  width: 450px;

  // modal description
  .text-center {
    flex: 0 0 auto;
    margin: 12px 0 24px;
    padding: 0 13px;
  }

  .small {
    color: $gray;
    flex: 0 0 auto;
    margin-bottom: 6px;
    padding: 0 13px;
  }

  // container lists
  .list {
    flex: 0 0 auto;
    margin-bottom: 24px;
  }

  .list-item {
    align-items: center;
    background: $white;
    display: flex;
    height: 45px;
    padding: 0 12px;

    // new container icons
    > .iconnables {
      flex: 0 0 21px;
    }

    // container names
    > .span {
      flex: 1 1 auto;
      font-weight: $weight-bold;
      padding: 0 6px;
    }
  }

  // reset .list-item > .btn-xs
  .btn-xs {
    position: relative;
    right: 0;
    top: 0;

    &:not(.btn-badge) {
      flex: 0 0 185px;
      text-align: left;
    }

    // "No Backups" badge
    &.white {
      border: 1px solid transparent !important;
    }

    &.modded {
      top: -6px;
    }

    // "Branch uses a modified configuration"
    + .small {
      bottom: 1px;
      color: $gray;
      font-size: 11px;
      position: absolute;
      right: 12px;
    }
  }
}
