.modal-form {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 15px 30px;

  @include media(xs) {
    padding: 15px;
  }

  // ******
  // layout
  // - define what expands/is fixed
  // ******

  // flexible (height)
  // .modal-form > .ace-container
  .ace-container {
    display: flex;
    flex: 1 1 auto;

    // not flexible (width)
    > .sidebar {
      flex: 0 0 auto;
    }

    > .ace_editor {
      display: flex;
      flex-direction: column;
      height: auto;
    }

    // flexible (width)
    // .ace_editor,
    // .ace_editor > .ace_editor
    .ace_editor {
      flex: 1 1 auto;
    }
  }

  // flexible (height)
  // log-wrapper > .logs > .terminal
  .log-wrapper,
  .logs {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }

  .terminal {
    flex: 1 1 auto;
  }

  // not flexible (height)
  > .table-actions,
  > .label,
  > .btn-group,
  > .label,
  > .clearfix,
  > .help-container {
    flex: 0 0 auto;
  }

  // **********
  // end layout
  // **********

  // ******
  // styles
  // ******

  // label (row)
  .label {

    // sibling labels
    + .label {
      border-top: 1px solid $gray-lighter;
      margin-top: 21px;
      padding-top: 21px;

      @include media(xs) {
        margin-top: 15px;
      }
    }

    // for rows (full-width) with only small text
    > .small:only-child {
      margin: 6px;
    }
  }

  // select label
  .label-select {
    color: $gray;
    display: inline-block;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 15px;

    > .btn-xs {
      margin-left: 6px;
    }
  }

  // input column (right)
  .input-col {
    margin-bottom: 6px;

    // inputs and buttons
    .input,
    .btn {
      max-width: 360px;

      @include media(xs) {
        max-width: none;
      }
    }

    // buttons
    .btn {
      display: block;
      font-size: 16px;
      padding: 0 24px 0 6px;
      text-align: left;
      width: 100%;

      + .btn {
        margin-top: 6px;
      }
    }

    // don't stretch if btn-xs/xxs
    > .btn-xs,
    > .btn-xxs {
      font-size: 13px;
      padding: 0 6px;
      width: auto;

      &:only-child {
        float: right;
        margin-top: 6px;
      }

      &.float-right {
        margin: 6px 0 0; // center buttons
      }

      &.float-right + .float-right {
        margin-right: 6px;
      }
    }

    .icons-arrow-down {
      position: absolute;
      right: 3px;
      top: 0;
    }

    // small labels
    .label.small {
      margin: 21px 6px 6px;
    }

    // small text aligns with button/input padding
    .small {
      margin: 6px;
    }
  }

  // center tabs
  > .btn-group {
    display: table;
    margin: 0 auto 15px;

    .btn {

      &:hover {
        z-index: 1;
      }

      &:active,
      &.active {
        z-index: 2;
      }
    }
  }

  // label info
  > .small {
    color: $gray;
    display: inline-block;
    margin: 6px 0 0;
  }

  // label help
  .label-help {
    margin: 12px auto 0;
    text-align: center;

    .strong {
      display: inline-block;
    }

    .input {
      margin-left: 6px;
      width: 300px;
    }
  }

  // label-footer
  .label-footer {
    border-top: 1px solid rgba($black,.1);
    padding-top: 15px;

    .btn {
      display: table;
      margin: 0 auto;
    }

    .small {
      display: block;
      margin-top: 9px;
      text-align: center;
    }
  }

  // spinner for table
  .modal-form-spinner {
    color: $gray;
    margin: 60px 0 30px;
    text-align: center;
  }

  .spinner-wrapper:not(.spinner-backdrop) {
    display: inline-block;
    height: 12px;
    margin-right: 6px;
    width: 12px;
  }

  // **********
  // end styles
  // **********
}
