// div.modal-backdrop
.modal-backdrop {
  align-items: center;
  animation: fade-in .3s forwards;
  background: rgba($white,.81);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  opacity: 0;
  overflow: hidden;
  padding: 15px;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: $z-modal;

  &.in {
    pointer-events: auto;
  }
}

// div.modal-dialog
.modal-dialog {
  animation: scale-in-modal .2s ease-in forwards;
  background: $white;
  border: 1px solid rgba($black,.1);
  border-radius: 3px;
  box-shadow: 0 0 30px rgba($black,.12);
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 84vw;
  min-width: 370px;
  position: relative;

  @include media(sm) {
    max-width: none;
    min-width: 360px;
    width: calc(100% - 30px);
  }

  &.modal-sidebar {
    flex-direction: row;

    @include media(xs) {
      flex-direction: column;
    }
  }

  // search
  .input-search {
    background-position: 114px 3px;
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 0 auto 12px;
    padding-left: 136px;
    position: relative;
    top: 8px;
    width: calc(100% - 12px);

    &:hover,
    &:focus,
    &:valid {
      background-color: $white;
    }
  }

  // validation in modals:
  .validate-wrapper {
    cursor: default;
    display: block;
    height: 0;
    margin: 0 9px 6px;
    transition: all .2s ease-in;

    .validate-rules {
      align-items: baseline;
      display: flex;
      height: 36px;
      justify-content: center;
      right: 0;
    }

    .btn:first-child {
      margin-left: 6px;
    }
  }
}

// header.modal-header
.modal-header {
  border-radius: 3px 3px 0 0;
  flex: 0 0 auto;
  height: 60px;
  padding: 0 15px;
  text-align: center;
  transition: all .15s ease-in;

  .show-aside & {
    border-top-right-radius: 0;
  }
}

// p.modal-description
.modal-description {
  padding: 0 21px;

  &:last-child {
    padding-bottom: 21px;
  }
}

// h1.modal-heading
.modal-heading {
  float: left;
  font-size: 21px;
  line-height: 60px;
}

// main.modal-body
.modal-body {
  flex: 0 0 auto;
  overflow-x: hidden;
  overflow-y: auto;

  @include media(sm) {
    width: 100%;
  }

  // form elements in modals:
  .input-group {
    margin: 0 9px;
  }

  .btn-checkbox {
    display: block;
    margin: 9px;
  }

  .label-checkbox {
    transition: padding .15s ease-in;
  }

  // wells in modals
  .well {
    display: block;
    margin-left: 9px;
    margin-right: 9px;
    max-height: 36px;
    text-align: left;
    transition: margin .15s ease-in, max-height .15s ease-in;

    &.in {
      margin-left: 6px;
      margin-right: 6px;
      max-height: 180px; // will show up to 3.5 input-groups
    }

    .input-group {
      margin: 0 0 3px;
    }
  }

  // guides in modals:
  .guide {
    background: #e9f7fe;
    border: 1px solid rgba($blue,.2);
    margin: 6px;
    padding: 15px 36px 15px 21px;

    .guide-header {
      margin-bottom: 15px;
    }

    .guide-text {
      margin: 9px 0;
    }

    .btn-close {
      padding: 0;
      position: absolute;
      right: 9px;
      top: 9px;
    }
  }

  // lists
  .list {
    margin: 0 0 4px;
  }

  .list-item {
    height: 54px;
    line-height: 54px;
    padding: 0 21px;

    .spinner-wrapper {
      position: absolute;
      right: 0;
      top: 2px;
      width: 45px;
    }
  }

  // nested footer
  .modal-footer {
    border-top: 1px solid rgba($black,.1);
    clear: both;
    margin: 30px -9px -6px;
  }
}

// footer.modal-footer
.modal-footer {
  background: $gray-lightest;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid rgba($black,.1);
  flex: 0 0 auto;
  padding: 9px 15px;

  .green,
  .orange,
  .white {
    float: right;

    + .green,
    + .orange,
    + .white {
      margin-right: 6px;
    }

    + .link {
      margin-top: 12px;
    }
  }

  .label-checkbox {
    float: left;
    font-size: 13px;
    line-height: 22px;
    margin: 10px 15px 0 9px;

    .input-checkbox {
      margin: 6px 6px 0 0;
    }
  }

  .btn-block {
    float: none;
    margin: 0;
    width: 100%;
  }

  .icons-git {
    margin-right: 9px;
    top: 6px;
  }

  .modal-footer-warning {
    color: $gray;
    line-height: 45px;
    padding-left: 12px;
  }
}
