.modal-fork {
  max-width: 420px;

  .input-description {
    max-width: 290px;

    @include media(sm) {
      max-width: 240px;
    }
  }

  .modal-inset {

    .list {
      border: 0;
    }

    .input-group {
      border: 1px solid rgba($black,.1);
    }
  }
}