.modal-form {
  padding: 15px 30px;

  // label (row)
  .label {
    flex: 0 0 auto;

    + .label {
      border-top: 1px solid $gray-lighter;
      margin-top: 21px;
      padding-top: 21px;

      @include media(xs) {
        margin-top: 15px;
      }
    }
  }

  // input column (right)
  .input-col {
    margin-bottom: 6px;

    // inputs and buttons
    .input,
    .btn {
      max-width: 360px;
    }

    // buttons
    .btn {
      display: block;
      font-size: 16px;
      padding: 0 24px 0 6px;
      text-align: left;
      width: 100%;

      + .btn {
        margin-top: 6px;
      }
    }

    // don't stretch if btn-xs
    > .btn-xs {
      padding: 0 6px;
      width: auto;

      &:only-child {
        float: right;
        margin-top: 6px;
      }
    }

    .icons-arrow-down {
      position: absolute;
      right: 3px;
      top: 0;
    }

    // small labels
    .label.small {
      margin: 21px 6px 6px;
    }

    // small text aligns with button/input padding
    .small {
      margin: 6px;
    }
  }

  // center tabs
  > .btn-group {
    display: table;
    margin: 0 auto 15px;

    .btn {

      &:hover {
        z-index: 1;
      }

      &:active,
      &.active {
        z-index: 2;
      }
    }
  }

  // label info
  .small {
    color: $gray;
    display: inline-block;
    margin: 6px 0 0;
  }

  // label-footer
  .label-footer {
    border-top: 1px solid rgba($black,.1);
    padding-top: 15px;

    .btn {
      display: table;
      margin: 0 auto;
    }

    .small {
      margin-top: 9px;
      text-align: center;
    }
  }
}