.modal-wizard {

  // .modal-body {
  //   display: none;
  // }

  .modal-header {
    background: $gray-lightest;
    border-bottom: 1px solid rgba($black,.1);
    // text-align: center;
  }

  .modal-heading {
    float: none;
  }
}

// .modal-wizard-1 .modal-repo-selector {
//   display: block;
// }

// .modal-wizard-2 .modal-stack-selector {
//   display: block;
// }

// .modal-wizard-3 .modal-stack-dependencies {
//   display: block;
// }

// .modal-stack-selector (wizard 2)
.modal-stack-selector {
  margin-top: 15px;
  width: 750px;

  .col {
    float: left;

    &:first-child {
      padding: 6px 6px 6px 15px;
      width: 60%;
    }

    &:last-child {
      padding: 6px 15px 6px 6px;
      width: 40%;
    }
  }

  // col 1
  .label {
    display: block;
    margin: 0 0 30px;
  }

  .label-col {
    float: left;
    padding-right: 15px;
    width: 50%;

    .small {
      color: $gray-light;
      display: block;
    }
  }

  .btn,
  .input {
    float: right;
    text-align: left;
    width: 50%;
  }

  // version
  .btn .small {
    margin-left: 6px;
  }

  // col 2
  .well {
    max-height: none;
  }
}