.popover.bottom.popover-guides(
  ng-class = "{in: data.show}"
)
  .arrow.white
  .popover-content.clearfix
    h3.popover-header [Your Repository Here]
    p After signing in, you would be able to run your own repositories on any box. We've attached a basic &lsquo;Hello World&rsquo; repo for now.
    a.link.link-text.link-gray(
      ng-click = "data.show = !data.show"
    ) Dismiss