.popover.bottom.popover-guides(
  ng-class = "{in: data.show}"
)
  .arrow.white
  .popover-content.clearfix
    h3.popover-header Each Box is Special
    p Boxes are unique things that have unique URLs that anyone can see.
    //- dismiss should also clear the coachmark
    a.link.link-text.link-gray(
      ng-click = "data.dismiss()"
    ) Dismiss