.popover.bottom.popover-guides(
  ng-class = "{in: data.in}"
)
  .arrow.white
  .popover-content.clearfix
    h3.popover-header Each Box is Special
    p.popover-text Boxes are unique things that have unique URLs that anyone can see.
    a.link.link-text.link-gray(
      ng-click = "actions.nextPage()"
    ) Close