//- spinner for sidebar
.spinner-wrapper.spinner-md.spinner-gray.in(
  ng-if = "!data.activeAccount || isLoading.sidebar"
  ng-include = "'spinner'"
)

.row-heading(
  ng-if = "data.activeAccount && !isLoading.sidebar"
)
  | Containers

ul.server-category-list(
  ng-if = "data.activeAccount && !isLoading.sidebar"
)
  li.server-category-list-item(
    ng-repeat = "masterInstance in data.instancesByPod.models |orderBy: ['attrs.contextVersion.appCodeVersions.length === 0', 'attrs.name'] "
  )
    button.btn.btn-xs.btn-icon(
      title = "configure"
      ui-sref = "config.instance({ userName: data.activeAccount.oauthName(), \
        instanceName: masterInstance.attrs.name })"
    )
      svg.iconnables
        use(
          xlink:href = "#icons-advanced"
          )
    .server-list
      a.server-list-item(
        ng-class = "{selected: isSelected(masterInstance)}"
        ui-sref = "instance.instance({ userName: data.activeAccount.oauthName(), \
          instanceName: masterInstance.attrs.name })"
      )
        status-icon(
          instance = "masterInstance"
        )
        span.server-category-name.text-overflow(
          ng-if = "masterInstance.getRepoName()"
          title = "{{ masterInstance.getRepoName() }}/{{ masterInstance.getBranchName() }}"
        ) {{ masterInstance.getRepoName() }}
          span.branch-name /{{ masterInstance.getBranchName() }}

        span.server-category-name.text-overflow(
          ng-if = "!masterInstance.getRepoName()"
          title = "{{ masterInstance.attrs.name }}"
        ) {{ masterInstance.attrs.name }}

      a.server-list-item(
        ng-class = "{selected: isSelected(branchFork)}"
        ng-repeat = "branchFork in masterInstance.children.models | orderBy:'attrs.name'"
        ui-sref = "instance.instance({ userName: data.activeAccount.oauthName(), \
          instanceName: branchFork.attrs.name })"
      )
        span.branch-name.text-overflow(
          title = "{{ branchFork.getDisplayName() }}"
        ) {{ branchFork.getDisplayName() }}
        status-icon(
          instance = "branchFork"
        )
