//- spinner for sidebar
.spinner-wrapper.spinner-md.in(
  ng-if = "state.loadingInstances"
  ng-include = "'spinner'"
)

h2.sub-header.load
  span.sub-header-text Your Servers
  a.btn.btn-sm.btn-icon.white(
    modal
    modal-actions = "actions"
    modal-current-model = "currentModel"
    modal-data = "data"
    modal-state-model = "stateModel"
    modal-template = "viewOpenModalGettingStarted"
    tooltip = "New Server"
    tooltip-options = "{\"class\":\"right\",\"left\":30,\"top\":6}"
  )
    svg.iconnables.icons-add
      use(
        xlink:href = "#icons-add"
      )

//- list of servers
ul.list.load(
  ng-show = "data.instances.models.length && !state.loadingInstances"
)
  //- .active for current active server
  //- .active.expanded for current active server with links
  //- .runnning for running server
  li.list-item.btn.btn-sm.white(
    ng-class = "getInstanceClasses(instance)"
    ng-repeat = "instance in data.sortedInstances.me.instances | orderBy:'attrs.name'"
    tooltip = "{{ instance.attrs.name }}"
    tooltip-options = "{\"class\":\"nav-tooltips right\",\"left\":31,\"top\":10}"
  )
    a.list-item-name.text-overflow(
      ng-click = "stateToInstance(instance)"
      ng-href = "{{ data.activeAccount.oauthName() }}/{{ instance.attrs.name }}"
      ng-model = "instance"
    ) {{ instance.attrs.name }}
    span.icons-status(
      title = "{{ getInstanceAltTitle(instance) }}"
    )
    div(
      linked-instances
      instance-dependencies = "instance.dependencies"
      instances = 'data.instances'
      ng-if = "getInstanceClasses(instance).expanded"
      state-to-instance = 'stateToInstance'
      type = "sidebar"
    )
  //- delete this
  //- li.list-item.btn.btn-sm.white.running.expanded.active
  //-   a.list-item-name.text-overflow demo-server
  //-   span.icons-status
  //-   div
  //-     a.server-item-cluster bob-server
  //-       //- tooltip: "Owned by anandkumarpatel"
  //-       svg.iconnables.icons-team
  //-         use(
  //-           xlink:href = "#icons-team"
  //-         )
  //-       span.icons-status.running
  //- delete above

h2.sub-header.load
  span.sub-header-text Team Servers
  svg.iconnables.icons-team
    use(
      xlink:href = "#icons-team"
    )
  button.btn.btn-xxs.green(
    ng-class = "{active: popoverInvite.data.show}"
    toggle-pop-over
    toggle-pop-over-model = "popoverInvite.data.show"
  ) Invite
    pop-over(
      actions = "popoverInvite.actions"
      data = "popoverInvite.data"
      popover-options = "{\"left\":-108,\"top\":-126}"
      template = "viewPopoverInvite"
    )

//- list of users
ul.list.list-users.load
  li.list-item.btn.btn-sm.white(
    ng-class = "{\
      active: teamMember.toggled,\
      'active-child': data.toggleThisServer,\
      expanded: teamMember.toggled\
    }"
    ng-click = "teamMember.toggled = !teamMember.toggled"
    ng-repeat = "teamMember in data.sortedInstances"
  )
    img.gravatar(
      height = "21"
      src = "http://lorempizza.com/21/21"
      width = "21"
    )
    a.list-item-name.text-overflow {{ username }}
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )
    //- nested server
    .list-item.btn.btn-sm.purple(
      ng-class = "{\
        active: instance.state.toggled,\
        expanded: instance.state.toggled\
      }"
      ng-click = "\
        $event.stopPropagation();\
        instance.state.toggled = true;\
      "
      ng-repeat = "instance in teamMember.instances"
    )
      a.list-item-name.text-overflow {{ instance.attrs.name }}
      span.icons-status
      //- nested server cluster
      div
        a.server-item-cluster(
          ng-if = "data.toggleThisServer"
        ) anand-api
          span.icons-status
        a.server-item-cluster(
          ng-if = "data.toggleThisServer"
        ) stage-mongo
          span.icons-status
    .list-item.btn.btn-sm.purple.running(
      ng-click = "$event.stopPropagation()"
    )
      a.list-item-name.text-overflow anand-api
      span.icons-status
//-
  li.list-item.btn.btn-sm.white
    img.gravatar(
      height = "21"
      src = "https://avatars3.githubusercontent.com/u/160236?v=3&s=96"
      width = "21"
    )
    a.list-item-name.text-overflow bkendall
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )
  li.list-item.btn.btn-sm.white
    img.gravatar(
      height = "21"
      src = "https://avatars2.githubusercontent.com/u/467885?v=3&s=96"
      width = "21"
    )
    a.list-item-name.text-overflow cflynn07
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )
  li.list-item.btn.btn-sm.white
    img.gravatar(
      height = "21"
      src = "https://avatars3.githubusercontent.com/u/4451216?v=3&s=96"
      width = "21"
    )
    a.list-item-name.text-overflow forrestj
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )