section.row.boxes
  h2.sub-header
    span.sub-header-text Boxes
    a.btn.btn-sm.white.sub-header-action(
      href = "/new"
      ng-click = "stateToNew()"
      title = "Create a New Box"
    )
      svg.iconnables.icons-add
        use(
          xlink:href = "#icons-add"
        )
  ul.box-group
    //- apply .active for currently selected box
    //- apply .running for a running box
    li.box-group-item.load(
      ng-class = "getInstanceClasses(instance)"
      ng-repeat = "instance in instances.models"
      ng-show = "instances.models.length"
    )
      //- show instance name in title properly when not minimized
      a.white.box(
        tooltip = "{{ instance.attrs.name }}"
        tooltip-options = "{\"class\":\"nav-tooltips right\",\"left\":31,\"top\":10}"
      )
        span.box-item-name {{ instance.attrs.name }}
        //- alt text running container
        span.icons-status(
          title = "{{ getInstanceAltTitle(instance) }}"
        )
