//- spinner for sidebar
.spinner-wrapper.spinner-md.spinner-gray.in(
  ng-if = "!data.activeAccount || isLoading.sidebar"
  ng-include = "'spinner'"
)
.sidebar-section-heading.strong(
  ng-if = "data.activeAccount && !isLoading.sidebar"
) Containers
ul.server-category-list(
  ng-if = "data.activeAccount && !isLoading.sidebar"
)
  li.server-category-list-item(
    ng-repeat = "masterInstance in data.instancesByPod.models |orderBy: ['attrs.contextVersion.appCodeVersions.length === 0', 'attrs.name'] track by masterInstance.attrs.name"
    ng-class = "{\
      'no-touching': !masterInstance.opts\
    }"
  )
    .server-list
      //- repo names
      strong.strong.small(
        ng-if = "masterInstance.getRepoName()"
      ) {{ masterInstance.getRepoName() }}
        //- configure button for repo container groups
        a.btn.btn-xs.btn-icon.button-configure(
          title = "configure"
          modal
          modal-current-model = "masterInstance"
          modal-state-model = "masterInstance.contextVersion.attrs.advanced ? 'env' : 'repository'"
          modal-template = "editServerModalOpen"
        )
          svg.iconnables
            use(
              xlink:href = "#icons-advanced"
            )
      //- buttons for default repo containers, and buttons for non-repository containers
      .server-list-item(
        ui-sref-active = "selected"
      )
        //- container name for default repo containers
        a.server-name.text-overflow(
          ng-if = "masterInstance.getRepoName()"
          title = "{{ masterInstance.getRepoName() }}/{{ masterInstance.getBranchName() }}"
          ui-sref = "\
            instance.instance({ userName: data.activeAccount.oauthName(), \
            instanceName: masterInstance.attrs.name })\
          "
        )
          status-icon(
            instance = "masterInstance"
          )
          | {{ masterInstance.getBranchName() }}
        //- container name for non-repo containers
        a.server-name.text-overflow(
          ng-if = "!masterInstance.getRepoName()"
          title = "{{ masterInstance.attrs.name }}"
          ui-sref = "\
            instance.instance({ userName: data.activeAccount.oauthName(), \
            instanceName: masterInstance.attrs.name })\
          "
        ) 
          status-icon(
            instance = "masterInstance"
          )
          | {{ masterInstance.attrs.name }}
          //- configure button for non-repo containers
          a.btn.btn-xs.btn-icon.button-configure(
            title = "configure"
            modal
            modal-current-model = "masterInstance"
            modal-state-model = "masterInstance.contextVersion.attrs.advanced ? 'env' : 'repository'"
            modal-template = "editServerModalOpen"
            ng-if = "!masterInstance.getRepoName()"
          )
            svg.iconnables
              use(
                xlink:href = "#icons-advanced"
              )
      //- buttons for non-default repo containers
      .server-list-item(
        ng-repeat = "branchFork in masterInstance.children.models | orderBy:'attrs.name'"
        ui-sref-active = "selected"
      )
        //- container name for non-default repo containers
        a.server-name.text-overflow(
          title = "{{ branchFork.getDisplayName() }}"
          ui-sref = "\
            instance.instance({ userName: data.activeAccount.oauthName(), \
            instanceName: branchFork.attrs.name })\
          "
        )
          status-icon(
            instance = "branchFork"
          )
          | {{ branchFork.getDisplayName() }}
        .btn.btn-xs.button-hide(
          ng-if = "$root.featureFlags.navListFilter"
        ) hide
      .more-containers(
        ng-if = "$root.featureFlags.navListFilter"
        pop-over
        pop-over-options = "{\"top\":-33,\"left\":215}"
        pop-over-template = "viewMoreContainersPopover"
      ) 8 more…