//- containers organized by repository
.list.list-containers(
  ng-if = "data.activeAccount && !isLoading.sidebar"
  ng-repeat = "masterInstance in data.instancesByPod.models |orderBy: ['attrs.contextVersion.appCodeVersions.length === 0', 'attrs.name'] track by masterInstance.attrs.name"
)
  //- repository name
  .list-item.small.text-overflow(
    ng-if = "masterInstance.getRepoName()"
    title = "{{ masterInstance.getRepoName() }}"
  ) {{ masterInstance.getRepoName() }}
    .btn.btn-xs.btn-icon.btn-configure(
      modal
      modal-current-model = "masterInstance"
      modal-state-model = "masterInstance.contextVersion.attrs.advanced ? 'env' : 'repository'"
      modal-template = "editServerModalOpen"
      title = "Configure"
    )
      svg.iconnables.icons-advanced
        use(
          xlink:href = "#icons-advanced"
        )

  //- master branch containers and non-repo containers
  a.list-item(
    title = "{{ masterasterInstance.attrs.name }}"
    ui-sref = "\
      instance.instance({ userName: data.activeAccount.oauthName(), \
      instanceName: masterInstance.attrs.name })\
    "
    ui-sref-active = "active"
  )
    status-icon(
      instance = "masterInstance"
    )

    //- displays default branch name for repo container, and container name for non-repo containers
    span.span.text-overflow {{ masterInstance.getRepoName() ? masterInstance.getBranchName() : masterInstance.attrs.name}}

    .btn.btn-xs.btn-icon.btn-configure(
      modal
      modal-current-model = "masterInstance"
      modal-state-model = "masterInstance.contextVersion.attrs.advanced ? 'env' : 'repository'"
      modal-template = "editServerModalOpen"
      ng-if = "!masterInstance.getRepoName()"
      title = "Configure"
    )
      svg.iconnables.icons-advanced
        use(
          xlink:href = "#icons-advanced"
        )

  //- containers for non-master branches
  a.list-item(
    ng-repeat = "branchFork in masterInstance.children.models | orderBy:'attrs.name'"
    title = "{{ branchFork.getDisplayName() }}"
    ui-sref = "\
      instance.instance({ userName: data.activeAccount.oauthName(), \
      instanceName: branchFork.attrs.name })\
    "
    ui-sref-active = "active"
  )
    status-icon(
      instance = "branchFork"
    )

    span.span.text-overflow {{ branchFork.getDisplayName() }}

    //- "hide" button
    .btn.btn-xs.btn-hide(
      ng-if = "$root.featureFlags.navListFilter"
    ) hide

  //- "X more…" popover link
  .btn-more.small(
    ng-if = "$root.featureFlags.navListFilter"
    pop-over
    pop-over-options = "{\"top\":-33,\"left\":215}"
    pop-over-template = "viewMoreContainersPopover"
  ) 8 more…