.spinner-wrapper.spinner-md.in(
  ng-if = "state.loadingInstances"
  ng-include = "'spinner'"
)

h2.sub-header.load
  span.sub-header-text Servers
  a.btn.btn-sm.white.sub-header-action(
    modal
    modal-actions = "actions"
    modal-data = "data"
    modal-template = "viewOpenModalGettingStarted"
    modal-current-model = "currentModel"
    modal-state-model = "stateModel"
    tooltip = "New Server"
    tooltip-options = "{\"class\":\"right\",\"left\":30,\"top\":6}"
  )
    svg.iconnables.icons-add
      use(
        xlink:href = "#icons-add"
      )
//- *
//- LINKED NAV LAYOUT
//- *

ul.box-group
  //- .active for current active box
  //- .active.expanded for current active box with links
  //- .runnning for running box

  //- if not .active
  li.box-group-item.btn.white.load(
    ng-class = "getInstanceClasses(instance)"
    ng-repeat = "instance in data.instances.models | orderBy:'attrs.name'"
    ng-show = "data.instances.models.length && !state.loadingInstances"
    tooltip = "{{ instance.attrs.name }}"
    tooltip-options = "{\"class\":\"nav-tooltips right\",\"left\":31,\"top\":10}"
  )
    a.box-item-name.text-overflow(
      ng-click = "stateToInstance(instance)"
      ng-href = "/{{ data.activeAccount.oauthName() }}/{{ instance.attrs.name }}"
      ng-model = "instance"
    ) {{ instance.attrs.name }}
    span.icons-status(
      title = "{{ getInstanceAltTitle(instance) }}"
    )
    linked-instances(
      instance-dependencies = "instance.dependencies"
      instances = 'data.instances'
      ng-if = "getInstanceClasses(instance).expanded"
      state-to-instance = 'stateToInstance'
      type = "sidebar"
    )
  //- *
  //- 0.3 linked boxes
  //- *
  //- if .active



  //- *
  //- END LINKED NAV LAYOUT
  //- *
