.container-category(
  ng-if = "data.activeAccount && !isLoading.sidebar"
  ng-repeat = "masterInstance in data.instancesByPod.models |orderBy: ['attrs.contextVersion.appCodeVersions.length === 0', 'attrs.name'] track by masterInstance.attrs.name"
  ng-class = "{\
    'no-touching': !masterInstance.opts\
  }"
)
  //- repo names
  strong.strong.small(
    ng-if = "masterInstance.getRepoName()"
  )
    span.span {{ masterInstance.getRepoName() }}
    //- configure button for repo container groups
    .btn.btn-xs.btn-icon.button-configure(
      title = "configure"
      modal
      modal-current-model = "masterInstance"
      modal-state-model = "masterInstance.contextVersion.attrs.advanced ? 'env' : 'repository'"
      modal-template = "editServerModalOpen"
    )
      svg.iconnables
        use(
          xlink:href = "#icons-advanced"
        )
  //- containers for master branches of repos
  a.container-name.text-overflow(
    ng-if = "masterInstance.getRepoName()"
    title = "{{ masterInstance.getRepoName() }}/{{ masterInstance.getBranchName() }}"
    ui-sref = "\
      instance.instance({ userName: data.activeAccount.oauthName(), \
      instanceName: masterInstance.attrs.name })\
    "
    ui-sref-active = "selected"
  )
    status-icon(
      instance = "masterInstance"
    )
    | {{ masterInstance.getBranchName() }}
  //- non-repo containers
  a.container-name.text-overflow(
    ng-if = "!masterInstance.getRepoName()"
    title = "{{ masterInstance.attrs.name }}"
    ui-sref = "\
      instance.instance({ userName: data.activeAccount.oauthName(), \
      instanceName: masterInstance.attrs.name })\
    "
  ) 
    status-icon(
      instance = "masterInstance"
    )
    span.span {{ masterInstance.attrs.name }}
    //- configure button for non-repo containers
    .btn.btn-xs.btn-icon.button-configure(
      title = "configure"
      modal
      modal-current-model = "masterInstance"
      modal-state-model = "masterInstance.contextVersion.attrs.advanced ? 'env' : 'repository'"
      modal-template = "editServerModalOpen"
      ng-if = "!masterInstance.getRepoName()"
    )
      svg.iconnables
        use(
          xlink:href = "#icons-advanced"
        )
  //- containers for non-master branches of repos
  a.container-name.text-overflow(
    title = "{{ branchFork.getDisplayName() }}"
    ng-repeat = "branchFork in masterInstance.children.models | orderBy:'attrs.name'"
    ui-sref = "\
      instance.instance({ userName: data.activeAccount.oauthName(), \
      instanceName: branchFork.attrs.name })\
    "
    ui-sref-active = "selected"
  )
    status-icon(
      instance = "branchFork"
    )
    | {{ branchFork.getDisplayName() }}
  .btn.btn-xs.button-hide(
    ng-if = "$root.featureFlags.navListFilter"
  ) hide
  //- "X more…" popover link
  .more-containers(
    ng-if = "$root.featureFlags.navListFilter"
    pop-over
    pop-over-options = "{\"top\":-33,\"left\":215}"
    pop-over-template = "viewMoreContainersPopover"
  ) 8 more…