//- spinner for sidebar
.spinner-wrapper.spinner-md.spinner-gray.in(
  ng-if = "!data.activeAccount || isLoading.sidebar"
  ng-include = "'spinner'"
)

.sidebar-section-heading.strong(
  ng-if = "data.activeAccount && !isLoading.sidebar"
) Containers

ul.server-category-list(
  ng-if = "data.activeAccount && !isLoading.sidebar"
)
  li.server-category-list-item(
    ng-repeat = "masterInstance in data.instancesByPod.models |orderBy: ['attrs.contextVersion.appCodeVersions.length === 0', 'attrs.name'] "
    ng-class = "{\
      'no-touching': !masterInstance.opts\
    }"
  )
    button.btn.btn-xs.btn-icon(
      title = "configure"
      ui-sref = "config.instance({ userName: data.activeAccount.oauthName(), \
        instanceName: masterInstance.attrs.name })"
    )
      svg.iconnables
        use(
          xlink:href = "#icons-advanced"
        )
    .server-list
      .server-list-item(
        ui-sref-active = "selected"
        ui-sref = "instance.instance({ userName: data.activeAccount.oauthName(), \
          instanceName: masterInstance.attrs.name })"
      )
        status-icon(
          instance = "masterInstance"
        )
        .server-name.text-overflow(
          ng-if = "masterInstance.getRepoName()"
          title = "{{ masterInstance.getRepoName() }}/{{ masterInstance.getBranchName() }}"
        )
          strong.strong {{ masterInstance.getRepoName() }}
          | /{{ masterInstance.getBranchName() }}

        .server-name.strong.text-overflow(
          ng-if = "!masterInstance.getRepoName()"
          title = "{{ masterInstance.attrs.name }}"
        ) {{ masterInstance.attrs.name }}

      .server-list-item(
        ng-repeat = "branchFork in masterInstance.children.models | orderBy:'attrs.name'"
        ui-sref-active = "selected"
        ui-sref = "instance.instance({ userName: data.activeAccount.oauthName(), \
          instanceName: branchFork.attrs.name })"
      )
        .text-overflow(
          title = "{{ branchFork.getDisplayName() }}"
        ) {{ branchFork.getDisplayName() }}
        status-icon(
          instance = "branchFork"
        )
      //--fake content, for testing only--//
      .server-list-item
        .text-overflow.server-name my-branch
        status-icon.green
        button.btn.btn-xs.btn-icon.hide-button(
          title = "hide"
        )
          svg.iconnables
            use(
              xlink:href = "#icons-close"
            )
      .server-list-item
        .text-overflow.server-name my-branch
        status-icon.green
        button.btn.btn-xs.btn-icon.hide-button(
          title = "hide"
        )
          svg.iconnables
            use(
              xlink:href = "#icons-close"
            )
      //----------------------------------//
      .more-containers(
        pop-over
        pop-over-options = "{\"top\":-30,\"left\":120}"
        pop-over-template = "viewMoreContainersPopover"
      )
        | 8 
        span.small more…