//- spinner for sidebar
.spinner-wrapper.spinner-md.spinner-gray.in(
  ng-if = "isLoading()"
  ng-include = "'spinner'"
)

.row-heading(
  ng-if = "!isLoading()"
)
  | Containers
  a.btn.btn-xs.white(
    ui-sref = "instance.config({ userName: data.activeAccount.oauthName() })"
  )
    svg.iconnables.icons-gear
      use(
        xlink:href = "#icons-gear"
      )
    | Configure

ul.server-category-list(
  ng-if = "!isLoading()"
)
  li.server-category-list-item(
    ng-repeat = "masterInstance in data.instancesByPod.models | orderBy:'attrs.name' | orderBy: 'attrs.contextVersion.appCodeVersions.length === 0' "
  )
    ul.server-list
      li.server-list-item(
        ng-class = "{selected: isSelected(masterInstance)}"
        ui-sref = "instance.instance({ userName: data.activeAccount.oauthName(), \
                       instanceName: masterInstance.attrs.name })"
      )
        svg.iconnables.icons-repository(
          ng-if = "masterInstance.getRepoName()"
        )
          use(
            xlink:href = "#icons-repository"
          )
        svg.iconnables.icons-container(
          ng-if = "!masterInstance.getRepoName()"
        )
          use(
            xlink:href = "#icons-container"
          )
        span.server-category-name.text-overflow(
          ng-if = "masterInstance.getRepoName()"
        ) {{ masterInstance.getRepoName() }}
          span.branch-name /{{ masterInstance.getBranchName() }}

        span.server-category-name.text-overflow(
          ng-if = "!masterInstance.getRepoName()"
        ) {{ masterInstance.attrs.name }}

        status-icon(
          instance = "masterInstance"
        )

      li.server-list-item(
        ng-repeat = "branchFork in masterInstance.children.models | orderBy:'attrs.name'"
        ng-class = "{selected: isSelected(branchFork)}"
        ui-sref = "instance.instance({ userName: data.activeAccount.oauthName(), \
                     instanceName: branchFork.attrs.name })"
      )
        span.branch-name.text-overflow {{ branchFork.getDisplayName() }}
        status-icon(
          instance = "branchFork"
        )