section.row.boxes
  h2.sub-header
    span.sub-header-text Boxes
    a.btn.btn-sm.white.sub-header-action(
      ng-click = "stateToNew()"
      ng-href = "/{{ activeAccount.oauthName() }}/new"
      ng-if = "activeAccount"
      title = "New Box"
      tooltip-options = "{\"class\":\"bottom\",\"left\":6,\"top\":30}"
    )
      svg.iconnables.icons-add
        use(
          xlink:href = "#icons-add"
        )

  //- *
  //- LINKED NAV LAYOUT
  //- *

  ul.box-group
    //- .active for current active box
    //- .active.expanded for current active box with links
    //- .runnning for running box

    //- if not .active
    li.box-group-item.white.load(
      ng-class = "getInstanceClasses(instance)"
      ng-show = "instances.models.length"
      ng-repeat = "instance in instances.models | orderBy:'attrs.name'"
      tooltip = "{{ instance.attrs.name }}"
      tooltip-options = "{\"class\":\"nav-tooltips right\",\"left\":31,\"top\":10}"
    )
      a.box-item-name.text-overflow(
        ng-click = "stateToInstance(instance)"
        ng-href = "/{{ activeAccount.oauthName() }}/{{ instance.attrs.name }}"
      ) {{ instance.attrs.name }}
      span.icons-status(
        title = "{{ getInstanceAltTitle(instance) }}"
      )
      linked-instances(
        is-active = "getInstanceClasses(instance).expanded"
        instance-dependencies = "instance.dependencies"
        instances = 'instances'
        type = "sidebar"
      )
    //- *
    //- 0.3 linked boxes
    //- *
    //- if .active



    //- *
    //- END LINKED NAV LAYOUT
    //- *
