section.row.boxes

  .spinner-wrapper.spinner-md.in(
    ng-if = "state.loadingInstances"
    ng-include = "'spinner'"
  )

  h2.sub-header.load(
  )
    span.sub-header-text Boxes
    a.btn.btn-sm.white.sub-header-action(
      ng-click = "stateToNew()"
      ng-href = "/{{ data.activeAccount.oauthName() }}/new"
      tooltip = "New Box"
      tooltip-options = "{\"class\":\"bottom\",\"left\":6,\"top\":30}"
    )
      svg.iconnables.icons-add
        use(
          xlink:href = "#icons-add"
        )

  //- *
  //- LINKED NAV LAYOUT
  //- *

  ul.box-group
    //- .active for current active box
    //- .active.expanded for current active box with links
    //- .runnning for running box

    //- if not .active
    li.box-group-item.btn.white.load(
      ng-class = "getInstanceClasses(instance)"
      ng-repeat = "instance in data.instances.models | orderBy:'attrs.name'"
      ng-show = "data.instances.models.length && !state.loadingInstances"
      tooltip = "{{ instance.attrs.name }}"
      tooltip-options = "{\"class\":\"nav-tooltips right\",\"left\":31,\"top\":10}"
    )
      a.box-item-name.text-overflow(
        ng-click = "stateToInstance(instance)"
        ng-href = "/{{ data.activeAccount.oauthName() }}/{{ instance.attrs.name }}"
        ng-model = "instance"
      ) {{ instance.attrs.name }}
      span.icons-status(
        title = "{{ getInstanceAltTitle(instance) }}"
      )
      linked-instances(
        instances = 'data.instances'
        instance-dependencies = "instance.dependencies"
        ng-if = "getInstanceClasses(instance).expanded"
        state-to-instance = 'stateToInstance'
        type = "sidebar"
      )
    //- *
    //- 0.3 linked boxes
    //- *
    //- if .active



    //- *
    //- END LINKED NAV LAYOUT
    //- *
