//- spinner for sidebar
.spinner-wrapper.spinner-md.in(
  ng-if = "isLoading()"
  ng-include = "'spinner'"
)

.row-heading(
  ng-if = "!isLoading()"
)
  | Containers
  a.btn.btn-xs.white(
    ui-sref = "instance.config({ userName: data.activeAccount.oauthName() })"
  )
    svg.iconnables.icons-gear
      use(
        xlink:href = "#icons-gear"
      )
    | Configure
ul.server-category-list(
  ng-if = "!isLoading()"
)
  li.server-category-list-item(
    ng-repeat = "masterInstance in data.instancesByPod.models"
  )
    ul.server-list
      li.server-list-item(
        ng-class = "{selected: isSelected(masterInstance)}"
        ui-sref = "instance.instance({ userName: data.activeAccount.oauthName(), \
                     instanceName: masterInstance.attrs.name })"
      )
        svg.iconnables.icons-repository
            use(
              xlink:href = "#icons-repository"
            )
        span.server-category-name.text-overflow
          | {{ masterInstance.attrs.name }}
          span.branch-name(
            ng-if = "masterInstance.getBranchName()"
          ) /{{ masterInstance.getBranchName() }}
        .icons-status.running
      li.server-list-item(
        ng-repeat = "branchFork in masterInstance.children.models"
        ng-class = "{selected: isSelected(branchFork)}"
        ui-sref = "instance.instance({ userName: data.activeAccount.oauthName(), \
                     instanceName: branchFork.attrs.name })"
      )
        span.branch-name.text-overflow {{ branchFork.attrs.name }}
        .icons-status(
          ng-class = "getInstanceClasses(branchFork)"
        )
