//- spinner for sidebar
.spinner-wrapper.spinner-md.in(
  ng-if = "state.loadingInstances"
  ng-include = "'spinner'"
)

h2.sub-header.load
  span.sub-header-text Your Servers
  a.btn.btn-sm.white(
    modal
    modal-actions = "actions"
    modal-current-model = "currentModel"
    modal-data = "data"
    modal-state-model = "stateModel"
    modal-template = "viewOpenModalGettingStarted"
    tooltip = "New Server"
    tooltip-options = "{\"class\":\"right\",\"left\":30,\"top\":6}"
  )
    svg.iconnables.icons-add
      use(
        xlink:href = "#icons-add"
      )

//- list of servers
ul.list.server-group.load(
  ng-show = "data.instances.models.length && !state.loadingInstances"
)
  //- .active for current active server
  //- .active.expanded for current active server with links
  //- .runnning for running server
  li.list-item.server-group-item.btn.btn-sm.white(
    ng-class = "getInstanceClasses(instance)"
    ng-repeat = "instance in data.instances.models | orderBy:'attrs.name'"
    tooltip = "{{ instance.attrs.name }}"
    tooltip-options = "{\"class\":\"nav-tooltips right\",\"left\":31,\"top\":10}"
  )
    a.server-item-name.text-overflow(
      ng-click = "stateToInstance(instance)"
      ng-href = "/{{ data.activeAccount.oauthName() }}/{{ instance.attrs.name }}"
      ng-model = "instance"
    ) {{ instance.attrs.name }}
    span.icons-status(
      title = "{{ getInstanceAltTitle(instance) }}"
    )
    linked-instances(
      instances = 'data.instances'
      instance-dependencies = "instance.dependencies"
      ng-if = "getInstanceClasses(instance).expanded"
      state-to-instance = 'stateToInstance'
      type = "sidebar"
    )

.hr

h2.sub-header.load
  span.sub-header-text Team Servers