.popover.popover-aha {
  max-width: none;
  width: 450px;

  &.popover-sm {
    color: $gray;
    line-height: $input-xs;
    max-width: none;
    width: auto;

    .float-left + .float-right {
      margin-left: 15px;

      @include media(xxs) {
        float: left;
        margin-left: 0;
        margin-top: 3px;
      }
    }
  }

  .layout-navigation & {
    left: 75px;
    top: 72px;

    @include media(xxs) {
      left: 7px;
      margin-left: 0;
      top: 234px;
      width: calc(100vw - 22px);
    }

    .arrow {
      @include media(xxs) {
        left: 30px;
        top: -6px;
        transform: rotate(90deg);
      }
    }
  }

  .popover-content {
    @extend %padding-sm;
  }
}
