.aha-sidebar {
  background: $white;
  border: 1px solid $gray-lighter;
  border-radius: $input-border-radius-lg;
  box-shadow: 0 1px 3px rgba($black,.06);
  flex: 0 0 390px;
  height: calc(100vh - 24px);
  position: fixed;
  right: 12px;
  top: 12px;
  transition: transform .3s ease-in-out;
  width: 390px;
  z-index: $z-popover;

  @include media(xxxs) {
    left: 12px;
    width: auto;
  }

  &.ng-enter {
    transform: translate3d(100%,0,0);
  }

  &.ng-enter-active {
    transform: translate3d(0,0,0);
  }

  &.ng-leave {
    transform: translate3d(0,0,0);
  }

  &.ng-leave-active {
    transform: translate3d(100%,0,0);
  }

  .aha-sidebar-header {
    border-bottom: 1px solid $gray-lightest;
    height: $input-md;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
    width: 100%;
  }

  .icons-close {
    color: $gray-light;
    cursor: pointer;
    pointer-events: auto;
    position: absolute;
    right: 0;
    top: 0;

    &:hover,
    &:active {
      color: $red;
    }
  }

  .aha-overview {
    border-bottom: 1px solid $gray-lightest;
    margin-bottom: 15px;

    &:last-child {
      border-bottom: 0;
    }

    .p {
      margin-top: 30px;
    }

    .img-comment {
      height: auto;
      margin: 30px 0;
      max-width: 100%;
    }

    .btn {

      .iconnables {
        height: 21px;
        margin-right: 6px;
        top: 4px;
        width: 21px;
      }
    }

    // the details text
    .grid-content.small,
    .text-red {
      margin-top: 15px;
    }
  }

  .runnabot-success {
    background: $white;
    margin-top: 15px;
    max-width: 215px;
    overflow: visible;
    position: relative;

    .well {
      border-color: $gray-lighter;
      position: relative;
    }

    .arrow::after {
      border-right-color: $white;
    }

    .arrow,
    .arrow::after {
      border-color: transparent;
      border-style: solid;
      position: absolute;
    }

    .arrow {
      border-bottom-width: 10px;
      border-left-width: 0;
      border-right: 10px solid darken($gray-lighter,5);
      border-top-width: 10px;
      left: -10px;
      margin-top: -10px;
      top: 50%;

      &::after {
        border-bottom-width: 9px;
        border-left-width: 0;
        border-right: 9px solid $white;
        border-top-width: 9px;
        bottom: -9px;
        content: '';
        display: block;
        left: 1px;
      }
    }
  }

  .aha-guide {
    animation: slide-left .45s ease-in-out forwards;
    background: $white;
    border: 1px solid $gray-lighter;
    border-radius: $input-border-radius-lg;
    opacity: 0;
    transform: translate3d(100%,0,0);

    @for $i from 1 to 5 {
      &:nth-child(#{$i}) {
        animation-delay: ($i * .05s);
      }
    }

    &.disabled {
      background: $gray-lighterest;
      color: rgba($gray,.4);

      .iconnables {
        background: $gray-lighterest;
      }
    }

    + .aha-guide {
      margin-top: 15px;
    }
  }
}
