.aha-guide {
  color: $gray;
  overflow: hidden;
  position: relative;

  &.padding-md {
    @include media(xxs) {
      padding: 30px 15px;
    }
  }

  > .grid-block {
    overflow: visible;
  }

  // anchor image
  .aha-meter {
    height: $input-md;
    left: 15px;
    position: absolute;
    top: 16px;
    transition: opacity .15s ease-in-out, transform .15s ease-in-out;
    width: $input-md;

    &.ng-leave {
      opacity: 1;
      transform: scale3d(1,1,1);
    }

    &.ng-leave-active {
      opacity: 0;
      transform: scale3d(.8,.8,1);
    }

    &.ng-enter {
      opacity: 0;
      transform: scale3d(.8,.8,1);
    }

    &.ng-enter-active {
      opacity: 1;
      transform: scale3d(1,1,1);
    }
  }

  .spinner-wrapper {
    overflow: hidden;
  }

  .aha-meter {
    background-image: linear-gradient(90deg, $gray-lightest 50%, transparent 50%, transparent), linear-gradient(0deg, $gray-lightest 50%, $gray-lightest 50%, $gray-lightest);
    border-radius: 50%;
    height: $input-md;
    padding: $input-border;
    width: $input-md;

    $step: 1; // step of % for created classes
    $loops: round(100 / $step);
    $increment: 360 / $loops;
    $half: round($loops / 2);

    @for $i from 0 through $loops {
      &.aha-meter-#{$i * $step} {
        @if $i < $half {
          $nextdeg: 90deg + ($increment * $i);
          background-image: linear-gradient(90deg, $gray-lightest 50%, transparent 50%, transparent), linear-gradient($nextdeg, $green 50%, $gray-lightest 50%, $gray-lightest);
        } @else {
          $nextdeg: -90deg + ($increment * ($i - $half));
          background-image: linear-gradient($nextdeg, $green 50%, transparent 50%, transparent), linear-gradient(270deg, $green 50%, $gray-lightest 50%, $gray-lightest);
        }
      }

      &.aha-error.aha-meter-#{$i * $step} {
        @if $i < $half {
          $nextdeg: 90deg + ($increment * $i);
          background-image: linear-gradient(90deg, $gray-lightest 50%, transparent 50%, transparent), linear-gradient($nextdeg, $orange 50%, $gray-lightest 50%, $gray-lightest);
        } @else {
          $nextdeg: -90deg + ($increment * ($i - $half));
          background-image: linear-gradient($nextdeg, $orange 50%, transparent 50%, transparent), linear-gradient(270deg, $orange 50%, $gray-lightest 50%, $gray-lightest);
        }
      }
    }

    &.aha-meter-100 .iconnables {
      color: $green;
    }

    .iconnables {
      background: $white;
      border-radius: 50%;
      height: 100%;
      padding: 6px;
      width: 100%;
    }

    .icons-alert {
      color: $orange;
      padding: 10px 11px 11px;
    }
  }

  .aha-text {
    margin-left: $input-md + 15;
    min-height: $input-md;
    overflow: visible;
    position: relative;
  }

  .p-slide {
    position: absolute;
    top: 18px;
    transition: opacity .15s ease-in-out, transform .3s ease-in-out;

    &.ng-enter {
      opacity: 0;
      transform: translate3d(25%,0,0);
    }

    &.ng-enter-active {
      opacity: 1;
      transform: translate3d(0,0,0);
    }

    &.ng-leave {
      opacity: 1;
      transform: translate3d(0,0,0);
    }

    &.ng-leave-active {
      opacity: 0;
      transform: translate3d(-25%,0,0);
    }

    &.reverse {

      &.ng-enter {
        opacity: 0;
        transform: translate3d(-25%,0,0);
      }

      &.ng-enter-active {
        opacity: 1;
        transform: translate3d(0,0,0);
      }

      &.ng-leave {
        opacity: 1;
        transform: translate3d(0,0,0);
      }

      &.ng-leave-active {
        opacity: 0;
        transform: translate3d(25%,0,0);
      }
    }
  }

  // menu
  .btn-menu {
    background: transparent;
    border-color: transparent;
    color: $gray;
    margin-left: 30px;
    min-width: 30px;

    @include media(xxs) {
      margin-left: 9px;
    }

    .iconnables {
      height: 100%;
      width: 15px;
    }
  }
}

.aha-tips > .iconnables {
  margin-left: 6px;
}

.aha-overlay-div {
  position: absolute;
  height: 100%;
  width: 100%;
}