.popover.popover-aha {
  left: 75px;
  max-width: none;
  top: 66px;
  width: 450px;

  @include media(xxs) {
    left: 15px;
    right: 15px;
    top: 60px;
    width: calc(100vw - 30px);

    &.right {
      margin-left: 0;
    }
  }

  &.popover-sm {
    color: $gray;
    line-height: $input-xs;
    max-width: none;
    width: auto;

    .float-left + .float-right {
      margin-left: 15px;

      @include media(xxs) {
        float: left;
        margin-left: 0;
        margin-top: 3px;
      }
    }
  }

  .arrow {
    @include media(xxs) {
      display: none;
    }
  }

  .popover-content {
    @extend %padding-sm;
  }
}
