.modal-backdrop > .aha-guide {
  animation: fade .15s ease-in-out;
  height: 105px;
  left: auto;
  max-width: calc(100vw - 30px);
  position: absolute;
  right: auto;
  top: 15px;
  width: 450px;

  @include media(lg) {
    height: 90px;
  }

  &.fixed {
    position: fixed;
    z-index: $z-modal;
  }

  + .modal-dialog {
    margin-top: 30px;

    @include media(lg) {
      margin-top: 90px;
    }

    @media (max-height: $screen-xs), (max-width: $screen-sm) {
      margin-top: 105px;
    }
  }
}

.modal-dialog .aha-guide .aha-meter {
  left: 0;
}
