.modal-backdrop > .aha-guide {
  animation: fade .15s ease-in-out;
  height: 105px;
  left: 0;
  margin: 0 auto;
  max-width: calc(100vw - 30px);
  position: absolute;
  right: 0;
  top: 15px;
  width: 450px;

  @include media(lg) {
    height: 90px;
  }

  @include media(xxxs) {
    top: 0;
  }

  &.fixed {
    position: fixed;
    z-index: $z-modal;
  }

  + .modal-dialog {
    margin-top: 45px;

    @include media(lg) {
      margin-top: 120px;
    }

    @media (max-height: $screen-xs), (max-width: $screen-sm) {
      margin-top: 120px;
    }
  }

  .spinner-wrapper,
  .aha-meter {
    top: 24px;
  }
}

.modal-dialog > .aha-guide {
  border-bottom: 1px solid $gray-lighter;

  &:only-child {
    border-bottom: 0;
  }

  > .grid-block {
    position: relative;
  }

  .aha-meter {
    left: 0;
    top: 0;
  }
}
