.aha-sidebar {
  background: $gray-lightest;
  border-left: 1px solid $gray-lighter;
  box-shadow: -1px 0 3px rgba($black,.06);
  flex: 0 0 390px;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  transition: transform .3s ease-in-out;
  width: 390px;
  z-index: $z-views-sidebar;

  &.ng-enter {
    transform: translate3d(100%,0,0);
  }

  &.ng-enter-active {
    transform: translate3d(0,0,0);
  }

  &.ng-leave {
    transform: translate3d(0,0,0);
  }

  &.ng-leave-active {
    transform: translate3d(100%,0,0);
  }

  .icons-close {
    color: $gray;
    cursor: pointer;
    margin-bottom: 15px;
    pointer-events: auto;

    &:hover,
    &:active {
      color: $red;
    }
  }

  .aha-guide {
    animation: slide-left .3s ease-in-out forwards;
    background: $gray-lighterest;
    border: 1px solid $gray-lighter;
    border-radius: $input-border-radius-lg;
    opacity: 0;
    transform: translate3d(100%,0,0);

    @for $i from 1 to 5 {
      &:nth-child(#{$i}) {
        animation-delay: ($i * .05s);
      }
    }

    + .aha-guide {
      margin-top: 15px;
    }
  }
}

// if viewing sidebar during an empty instance state
.instance-wrapper.empty {
  flex-direction: row;

  .aha-sidebar {
    position: relative;
  }
}
