.popover.popover-aha {
  left: 75px;
  max-width: none;
  top: 66px;
  width: 450px;

  @include media(xxs) {
    max-width: calc(100vw - 100px);
  }

  .popover-content {
    @extend %padding-sm;
  }
}
