.btn-aha {
  line-height: 1;
  padding: 9px;
  position: absolute;
  right: 12px;
  top: 12px;
  width: $input-sm;
  z-index: $z-views-sidebar;

  .iconnables {
    height: 100%;
    width: 100%;
  }
}
