.alert {
  animation: alert .3s ease-in forwards;
  border-radius: 6px;
  bottom: 6px;
  box-shadow: 0 0 30px rgba($black,.12);
  max-width: 420px;
  min-width: 345px;
  padding: 15px;
  position: fixed;
  right: 6px;
  transition: all .15s ease-in;
  z-index: $z-alert;

  &:active {
    box-shadow: 0 0 30px rgba($black,.12);
  }

  // active styles for alerts
  &.orange {
    background: $orange;
  }

  &.green {
    background: $green;
  }

  // anchor image
  .gravatar {
    float: left;
    margin-right: 12px;
  }

  // link
  .link {
    color: $white;
    display: inline-block;
  }

  // buttons
  .orange {
    background: rgba($orange-dark,.75);
  }

  .green {
    background: rgba($green-dark,.75);
  }

  // close button
  .btn-close {
    float: right;
    padding: 0;
    width: 24px;


    .icons-close {
      top: 0;
    }
  }

  // success animation
  .btn-success {
    background: $white;
    border: 0;
    border-radius: 50%;
    margin: 21px 0 0 21px;
    position: absolute;
    width: 18px;

    .icons-fat-check {
      animation: scale-in-bounce .3s ease-in;
      border-radius: 50%;
      color: $green;
      height: 100%;
      top: 0;
      width: 100%;
    }
  }
}