.alert {
  animation: alert .3s ease-in forwards;
  border-radius: 6px;
  bottom: 6px;
  max-width: 420px;
  min-width: 345px;
  padding: 15px;
  position: fixed;
  right: 6px;
  z-index: $z-alert;

  // active styles for alerts
  &.green {
    background: $green;
    border-color: $green;
  }

  &.orange {
    background: $orange;
    border-color: $orange;
  }

  // anchor image
  .gravatar {
    float: left;
    margin-right: 12px;
  }

  // link
  .link {
    color: $white;
    display: inline-block;
  }

  // close button
  .btn-close {
    float: right;
    padding: 0;
    width: 24px;

    &.orange {
      background: rgba($orange-dark,.75);
    }

    .icons-close {
      top: 0;
    }
  }
}