.animated-panel-container {
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;
  position: relative;

  .fade {
    opacity: 0;
    transition: opacity .3s linear;

    &.in {
      opacity: 1;

      &[disabled] {
        opacity: .5;
      }
    }
  }
}

.animated-panel {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &.animated {
    transition: transform .3s ease-in-out;
  }

  &.out {
    transform: translate3d(100%,0,0);

    &.back {
      transform: translate3d(-100%,0,0);
    }
  }

  &.in {
    transform: translate3d(0,0,0);
  }
}
