// text badge
.badge {
  position: relative;

  &::after {
    background: $gray-light;
    border-radius: $input-xxs;
    color: $white;
    content: attr(data-badge-count);
    display: block;
    font-size: 12px;
    font-weight: $weight-bold;
    height: $input-xxs;
    line-height: $input-xxs;
    min-width: $input-xxs;
    padding: 0 3px;
    position: absolute;
    right: -6px;
    text-align: center;
    text-indent: 1px;
    top: -3px;
  }

  // colors
  &.badge-blue::after {
    background: $blue;
  }

  &.badge-gray::after {
    background: $gray;
  }

  &.badge-green::after {
    background: $green;
  }

  &.badge-orange::after {
    background: $orange;
  }

  &.badge-red::after {
    background: $red;
  }
}