// text badge
.badge {
  position: relative;

  &::after {
    background: $gray-light;
    border-radius: 50%;
    color: $white;
    content: attr(data-badge-count);
    display: block;
    font-size: 12px;
    font-weight: $weight-bold;
    height: $input-xxs;
    line-height: $input-xxs;
    position: absolute;
    right: -6px;
    text-align: center;
    top: -3px;
    width: $input-xxs;
  }

  // blue
  &.blue::after {
    background: $blue;
  }
}