.btn {
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  height: 45px;
  line-height: 43px; // 45 - 2px for border-top/bottom
  padding: 0 15px;
  position: relative;
  text-align: center;
  // transition: all .15s ease-in;
  user-select: none;
  white-space: nowrap;

  // for <a> elemnts
  &:hover,
  &:active {
    text-decoration: none;
  }

  &:active {
    transition: none;
  }

  &[disabled],
  &.disabled {
    cursor: not-allowed;
    opacity: .5;
  }

  // github icon with text
  > .icons-git {
    margin-right: 6px;
    top: 6px;
    width: 21px;
  }

  // if .arrow-down
  > .icons-arrow-down {
    float: right;
    height: 100%;
    margin-left: 3px;
    // transition: opacity .2s ease-in, transform .3s ease-in;
  }

  // animations
  &:active {

    > .icons-gear {
      transform: rotate3d(0,0,1,135deg);
    }

    // > .icons-arrow-down {
    //   transform: scale3d(.75,.75,1);
    // }
  }

  &.active,
  &.in {

    > .icons-gear {
      transform: rotate3d(0,0,1,135deg);
    }

    > .icons-add {
      transform: rotate3d(0,0,1,135deg) scale3d(.75,.75,1);
    }
  }

  // fancy select
  .display .iconnables {
    float: left;
    height: 21px;
    margin-right: 6px;
    top: 6px;
    width: 21px;
  }

  // icons
  .icons-round {
    margin: 9px 0; // standard size buttons

    &:first-child {
      margin-right: 6px;
    }

    &:last-child {
      margin-left: 6px;
    }
  }
}

// button sizes
.btn-xl {
  border-radius: 6px;
  font-size: 30px;
  font-weight: 300;
  height: 72px;
  line-height: 72px;
  padding: 0 45px;
}

.btn-sm {
  font-size: 16px;
  height: 36px;
  line-height: 34px;

  > .img {
    float: left;
    margin: 8px 6px 0 0;
  }
}

.btn-xs {
  font-size: 13px;
  height: 24px;
  line-height: 20px;
  padding: 0 6px;

  .tag {
    font-size: 13px;
    height: 16px;
    line-height: 12px;
    margin: 2px 0 0 6px;
  }
}

// only for inline buttons
.btn-xxs {
  font-size: 13px;
  height: 18px;
  line-height: 14px;
  padding: 0 3px;
}

// .btn-icon
.btn-icon {
  line-height: 45px;
  padding: 0;
  width: 45px;

  &.btn-sm {
    width: 36px;
  }

  &.btn-icon-sm {
    min-width: 24px;
    width: auto;
  }
}

// help
.btn-help {
  background: rgba($white,.6);
  border: 1px solid $gray-light;
  border-radius: 50%;
  color: $gray;
  height: 24px;
  text-decoration: none;
  width: 24px;

  &:hover {
    // background: rgba($blue,.1);
    border-color: currentColor;
    color: rgba($blue,.6);
  }

  &:active,
  &.active {
    // background: rgba($blue,.2);
    border-color: currentColor;
    color: $blue;
  }
}

.btn-close {
  border-radius: 50%;

  .icons-close {
    color: currentColor;
    height: 100%;
    top: -18px; // offset
    width: 100%;
  }

  &.btn-xs .icons-close {
    height: 24px;
    top: 0;
    width: 24px;
  }
}

.btn-help {
  background: rgba($white,.6);
  border: 1px solid $gray-light;
  border-radius: 50%;
  color: $gray;
  height: 24px;
  text-decoration: none;
  width: 24px;

  &:hover {
    // background: rgba($blue,.1);
    border-color: currentColor;
    color: rgba($blue,.6);
  }

  &:active,
  &.active {
    // background: rgba($blue,.2);
    border-color: currentColor;
    color: $blue;
  }
}

.btn-check {

  &.active {
    background: $green;
    border-color: $green;

    .icons-add {
      transform: scale3d(0,0,0);
    }

    .icons-check,
    .icons-link {
      transform: scale3d(1,1,1);
    }
  }

  .iconnables {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale3d(0,0,0);
    transition: transform .3s ease-in;
    width: 100%;
  }

  .icons-add {
    color: $gray-lighter;
    transform: scale3d(1,1,1);
    transition: none;
  }
}

.blue,
.gray,
.green,
.orange,
.purple,
.red,
.white {
  border: 2px solid transparent;
  color: $white;
  font-weight: 500;
  text-decoration: none;

  &:active {
    transition: none;
  }

  &:active,
  &.active {
    box-shadow: none;
  }

  &.reversed {
    letter-spacing: 0;
  }
}

.blue {
  color: $blue-dark;

  &.btn {

    &:hover,
    &.hover {
      background: rgba($blue,.1);
      border-color: rgba($blue,.2);
    }

    &:active,
    &.active {
      background: rgba($blue,.2);
      border-color: rgba($blue,.4);
      transition: none;
    }
  }
}

.gray {
  background: $gray-lightest;
  border-color: $gray-lighter;
  color: $gray-dark;

  &.btn {

    &:hover {
      background: $white;
      border-color: $gray-light;
    }

    &:active,
    &.active {
      background: $white;
      border-color: $purple-light;
      color: $purple-light;

      .iconnables {
        color: currentColor;
        transition: transform .15s;
      }

      .icons-round {
        background: $purple-light;
        color: $white;
      }
    }

    &[disabled],
    &.disabled {

      &:hover,
      &:active,
      &.active {
        background: $white;
        border-color: $gray-lighter;
        color: $gray-dark;
      }
    }
  }

  // icons
  .icons-round {
    background: $gray;
    color: $white;
  }
}


.green {
  background: rgba($green,.75);
  border-color: rgba($green,.9);

  &.btn {

    // states
    &:hover,
    &.hover {
      background: rgba($green,.6);
    }

    &:active,
    &.active {
      background: $green;
      border-color: $green;
      transition: none;
    }

    &[disabled],
    &.disabled {
      border-color: transparent;

      &:hover,
      &:active,
      &.active {
        background: rgba($green,.75);
        border-color: transparent;
      }
    }

    // icons
    .icons-round {
      background: $white;
      color: $green;
      float: left;
    }
  }
}

.orange {
  background: $orange-light;
  border-color: $orange;

  &.btn {

    &:hover,
    &.hover {
      background: $orange-lighter;
    }

    &:active,
    &.active {
      background: $orange;
      // border-color: $orange2-dark;
      transition: none;
    }

    &[disabled],
    &.disabled {
      border-color: transparent;

      &:hover,
      &:active,
      &.active {
        background: rgba($orange,.75);
        border-color: transparent;
      }
    }
  }
}

.purple {
  color: $purple-light;

  &.btn {

    &:hover,
    &.hover {
      background: $white;
      border-color: $purple-light;
      color: $purple-light;
    }

    &:active,
    &.active {
      background: $white;
      border-color: currentColor;
      color: $green;
    }
  }
}

.red {
  color: $red;

  &.btn {
    background: $red;
    border-color: $red-dark;
    color: $white;

    &:hover {
      background: $red-light;
    }

    &:active,
    &.active {
      background: $red-dark;
    }
  }
}

.white {
  border-color: $gray-lighter;
  color: $gray-dark;

  &.btn {
    background: $white;

    &:hover {
      border-color: $gray-light;
    }

    &:active,
    &.active {
      border-color: $purple-light;
      color: $purple-light;
    }

    &[disabled],
    &.disabled {
      background: $gray-lightest;
      border-color: $gray-lighter;
      color: $gray-light;
      opacity: 1;

      &:hover,
      &:active,
      &.active {
        background: $gray-lightest;
        border-color: $gray-lighter;
      }
    }
  }
}

// .btn-label
.btn-label {
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  padding: 0 6px;
  pointer-events: none;
 }

.btn-radio {
  background: $white;
  border: 2px solid transparent;
  border-radius: 3px;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  height: 72px;
  margin-right: 6px;
  text-align: center;
  text-decoration: none;
  transition: none;
  user-select: none;
  white-space: nowrap;
  width: 90px;

  &:active,
  &.active {
    color: $purple-light;
  }

  &:focus {
    outline: 0;
  }

  &.btn-lg {
    height: 108px;
    width: 120px;

    .img,
    .iconnables {
      margin-bottom: 6px;
      width: 36px;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  .img,
  .iconnables {
    display: block;
    height: 33px;
    margin: 0 auto;
    width: 21px;
  }
}

// badges
.btn-badge {
  height: 18px;
  transition: none;
  width: 18px;

  &.active .iconnables:last-child {
    display: block;
  }

  .iconnables {

    &:first-child {
      height: 18px;
      top: -6px;
      width: 18px;
    }

    &:last-child {
      border-radius: 50%;
      bottom: -6px;
      color: $white;
      display: none;
      height: 15px;
      left: -6px;
      position: absolute;
      top: auto;
      width: 15px;
    }
  }
}

 // btn-groups
.btn-group {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.btn-group > .btn,
.btn-group > button {
  float: left;
  position: relative;
}

.btn-group > .btn:focus,
.btn-group > button:focus {
  outline: none;
}

.btn-group .btn + .btn,
.btn-group button + button,
.btn-group .btn + .btn-group,
.btn-group button + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + button,
.btn-group .btn-group + .btn-group {
  margin-left: -2px;
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle),
.btn-group > button:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}

.btn-group > .btn:first-child,
.btn-group > button:first-child {
  margin-left: 0;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle),
.btn-group > button:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > button:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btn-group > .btn-group {
  float: left;
}

.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn,
.btn-group > .btn-group:not(:first-child):not(:last-child) > button {
  border-radius: 0;
}

.btn-group > .btn-group:first-child > .btn:last-child,
.btn-group > .btn-group:first-child > button:last-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn-group > .btn-group:last-child > .btn:first-child,
.btn-group > .btn-group:last-child > button:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
