.btn {
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
  position: relative;
  text-align: center;
  transition: all .15s ease-in;
  user-select: none;
  white-space: nowrap;

  // for <a> elemnts
  &:hover,
  &:active {
    text-decoration: none;
  }

  &:active {
    transition: none;
  }

  &[disabled],
  &.disabled {
    cursor: not-allowed;
    opacity: .5;
  }

  // github icon with text
  > .icons-git {
    margin-right: 6px;
    top: 6px;
    width: 21px;
  }

  // if .arrow-down
  > .icons-arrow-down {
    float: right;
    height: 100%;
    margin-left: 3px;
    transition: opacity .2s ease-in, transform .3s ease-in;
  }

  // animations
  &:active {

    > .icons-gear {
      transform: rotate3d(0,0,1,135deg);
    }

    > .icons-arrow-down {
      transform: scale3d(.75,.75,1);
    }
  }

  &.active,
  &.in {

    > .icons-gear {
      transform: rotate3d(0,0,1,135deg);
    }

    > .icons-add {
      transform: rotate3d(0,0,1,135deg) scale3d(.75,.75,1);
    }

    > .icons-arrow-down {
      transform: scale3d(.75,.75,1);
    }
  }
}

// button sizes
.btn-xl {
  border-radius: 6px;
  font-size: 30px;
  font-weight: 300;
  height: 72px;
  line-height: 72px;
  padding: 0 45px;
}

.btn-sm {
  height: 36px;
  line-height: 36px;

  > .icons-arrow-down {
    top: 6px;
  }

  > .img {
    float: left;
    margin: 8px 6px 0 0;
  }
}

.btn-xs {
  height: 24px;
  line-height: 24px;
  padding: 0 6px;
}

// only for inline buttons
.btn-xxs {
  font-size: 13px;
  height: 18px;
  line-height: 17px;
  padding: 0 3px;
}

// .btn-icon
.btn-icon {
  line-height: 45px;
  padding: 0;
  width: 45px;

  &.btn-sm {
    width: 36px;
  }

  &.btn-icon-sm {
    min-width: 24px;
    width: auto;
  }
}

// help
.btn-help {
  background: rgba($white,.6);
  border: 1px solid $gray-light;
  border-radius: 50%;
  color: $gray;
  height: 24px;
  text-decoration: none;
  width: 24px;

  &:hover {
    // background: rgba($blue,.1);
    border-color: currentColor;
    color: rgba($blue,.6);
  }

  &:active,
  &.active {
    // background: rgba($blue,.2);
    border-color: currentColor;
    color: $blue;
  }
}

.btn-close {
  border-radius: 50%;

  .icons-close {
    color: currentColor;
    height: 100%;
    top: -13px; // offset
    width: 100%;
  }
}

.btn-help {
  background: rgba($white,.6);
  border: 1px solid $gray-light;
  border-radius: 50%;
  color: $gray;
  height: 24px;
  text-decoration: none;
  width: 24px;

  &:hover {
    // background: rgba($blue,.1);
    border-color: currentColor;
    color: rgba($blue,.6);
  }

  &:active,
  &.active {
    // background: rgba($blue,.2);
    border-color: currentColor;
    color: $blue;
  }
}

.blue,
.gray,
.green,
.orange,
.white {
  border: 1px solid transparent;
  color: $white;
  text-decoration: none;

  &:active,
  &.active {
    box-shadow: none;
  }

  &.reversed {
    letter-spacing: 0;
  }
}

.blue {
  color: $blue;

  &.btn {

    &:hover,
    &.hover {
      background: rgba($blue,.1);
      border-color: rgba($blue,.2);
    }

    &:active,
    &.active {
      background: rgba($blue,.2);
      border-color: rgba($blue,.4);
      transition: none;
    }
  }
}

.gray {
  background: rgba($gray-darker,.0675);
  border-color: rgba($gray-darker,.1);
  color: $gray;

  &.btn {

    &:hover {
      background: rgba($gray-darker,.125);
      border-color: rgba($gray-darker,.15);
    }

    &:active,
    &.active {
      background: rgba($purple-light,.15);
      border-color: rgba($purple-light,.15);
      color: $purple-light;
      transition: none;

      .iconnables {
        color: currentColor;
        transition: transform .15s;
      }
    }
  }
}


.green {
  background: rgba($green,.75);
  border-color: rgba($green,.9);
  text-shadow: 0 1px 0 $green-dark;

  &.btn {
    font-weight: 500;

    &:hover,
    &.hover {
      background: rgba($green,.6);
    }

    &:active,
    &.active {
      background: $green;
      border-color: $green;
      transition: none;
    }

    &[disabled],
    &.disabled {
      border-color: transparent;

      &:hover,
      &:active,
      &.active {
        background: rgba($green,.75);
        border-color: transparent;
      }
    }
  }
}

.orange {
  background: rgba($orange,.75);
  border-color: rgba($orange-dark,.75);
  text-shadow: 0 1px 0 $orange-dark;

  &.btn {
    font-weight: 500;

    &:hover,
    &.hover {
      background: rgba($orange,.6);
    }

    &:active,
    &.active {
      background: $orange;
      border-color: $orange;
      transition: none;
    }

    &[disabled],
    &.disabled {
      border-color: transparent;

      &:hover,
      &:active,
      &.active {
        background: rgba($orange,.75);
        border-color: transparent;
      }
    }
  }
}

.purple {
  color: $purple-light;

  &.btn {

    &:hover,
    &.hover {
      background: rgba($purple-light,.1);
      border-color: rgba($purple-light,.2);
    }

    &:active,
    &.active {
      background: rgba($purple-light,.2);
      border-color: rgba($purple-light,.4);
      transition: none;
    }
  }
}

.white {
  color: $gray;

  &.btn {

    &:hover {
      background: rgba($gray-darker,.125);
      border-color: rgba($gray-darker,.15);
    }

    &:active,
    &.active {
      background: rgba($purple-light,.15);
      border-color: rgba($purple-light,.15);
      color: $purple-light;
      transition: none;
    }

    &[disabled],
    &.disabled {

      &:hover,
      &:active,
      &.active {
        background: transparent;
        border-color: transparent;
      }
    }
  }
}

// .btn-label
.btn-label {
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  padding: 0 6px;
  pointer-events: none;
 }

// .btn-radio
.input-radio {
  display: none;

  &:checked + .btn-radio {
    border-color: $purple-light;
    box-shadow: 0 0 3px rgba($purple-light,.3);
  }
}

.btn-radio {
  background: $white;
  border: 1px solid rgba($black,.15);
  border-radius: 3px;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 60px;
  margin-right: 6px;
  text-align: center;
  transition: all .15s ease-in;
  user-select: none;
  white-space: nowrap;
  width: 60px;

  &:hover,
  &:active,
  &.active {
    border-color: $purple-light;
  }

  &.active {
    box-shadow: 0 0 3px rgba($purple-light,.3);
  }

  &:active {
    transition: none;
  }

  &:focus {
    outline: 0;
  }

  &.btn-lg {
    height: 108px;
    width: 120px;

    .img {
      margin-bottom: 6px;
      width: 36px;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  .img {
    display: block;
    height: 33px;
    margin: 0 auto;
    width: 21px;
  }
}

 // btn-groups
.btn-group {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.btn-group > .btn,
.btn-group > button {
  float: left;
  position: relative;
}

.btn-group > .btn:focus,
.btn-group > button:focus {
  outline: none;
}

.btn-group .btn + .btn,
.btn-group button + button,
.btn-group .btn + .btn-group,
.btn-group button + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + button,
.btn-group .btn-group + .btn-group {
  margin-left: -1px;
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle),
.btn-group > button:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}

.btn-group > .btn:first-child,
.btn-group > button:first-child {
  margin-left: 0;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle),
.btn-group > button:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > button:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btn-group > .btn-group {
  float: left;
}

.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn,
.btn-group > .btn-group:not(:first-child):not(:last-child) > button {
  border-radius: 0;
}

.btn-group > .btn-group:first-child > .btn:last-child,
.btn-group > .btn-group:first-child > button:last-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn-group > .btn-group:last-child > .btn:first-child,
.btn-group > .btn-group:last-child > button:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
