button,
.btn {
  background: transparent;
  border: 0;
  border-radius: 3px;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
  position: relative;
  text-align: center;
  transition: all .15s ease-in;
  user-select: none;
  white-space: nowrap;

  // for <a> elemnts
  &:hover,
  &:active {
    text-decoration: none;
  }

  &:hover {

    > .icons-gear {
      transform: rotate3d(0,0,1,30deg);
    }
  }

  &:active {
    transition: none;
  }

  &:focus {
    outline: 0;
  }

  &[disabled],
  &.disabled {
    cursor: not-allowed;
    opacity: .5;
  }

  // github icon with text
  > .icons-git {
    margin-right: 6px;
    top: 6px;
    width: 21px;
  }

  // if .arrow-down
  > .icons-arrow-down {
    float: right;
    margin-left: 3px;
    top: 18px;
    transition: opacity .2s ease-in, transform .3s ease-in;
  }

  // animations
  &.active,
  &.in {

    > .icons-add,
    > .icons-gear {
      transform: rotate3d(0,0,1,135deg);
    }

    > .icons-arrow-down {
      transform: scale3d(.75,.75,1);
    }
  }
}

// button sizes
.btn-xl {
  border-radius: 6px;
  font-size: 30px;
  font-weight: 300;
  height: 72px;
  line-height: 72px;
  padding: 0 45px;
}

.btn-sm {
  height: 36px;
  line-height: 36px;
  padding: 0 6px;

  > .icons-arrow-down {
    top: 6px;
  }

  > .img {
    float: left;
    margin: 8px 6px 0 0;
  }
}

.btn-xs {
  height: 24px;
  line-height: 24px;
  padding: 0 6px;
}

// only for inline buttons
.btn-xxs {
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  padding: 0 3px;
}

// .btn-icon
.btn-icon {
  padding: 0;
  width: 45px;

  &.btn-sm {
    width: 36px;
  }

  &.btn-icon-sm {
    min-width: 24px;
    width: auto;
  }

  .iconnables {
    top: 6px;
  }
}

.blue,
.gray,
.green,
.orange,
.white {
  border: 1px solid transparent;
  color: $white;
  text-decoration: none;

  &:active,
  &.active {
    box-shadow: none;
  }

  &.reversed {
    letter-spacing: 0;
  }
}

.blue {
  color: $blue;

  &.btn {

    &:hover,
    &.hover {
      background: rgba($blue,.1);
      border-color: rgba($blue,.2);
    }

    &:active,
    &.active {
      background: rgba($blue,.2);
      border-color: rgba($blue,.4);
      transition: none;
    }
  }
}

.gray {
  background: rgba($gray-darker,.0675);
  border: 0;
  color: $gray;

  &.btn {

    &:hover {
      background: rgba($gray-darker,.125);
    }

    &:active,
    &.active {
      background: rgba($purple-light,.15);
      color: $purple-light;
      transition: none;

      .iconnables {
        color: currentColor;
        transition: none;
      }
    }
  }
}


.green {
  background: rgba($green,.75);
  border-color: rgba($green,.9);
  text-shadow: 0 1px 0 $green-dark;

  &.btn {
    font-weight: 500;

    &:hover,
    &.hover {
      background: rgba($green,.6);
    }

    &:active,
    &.active {
      background: $green;
      border-color: $green;
      transition: none;
    }

    &[disabled],
    &.disabled {
      border-color: transparent;

      &:hover,
      &:active,
      &.active {
        background: rgba($green,.75);
        border-color: transparent;
      }
    }
  }
}

.orange {
  background: rgba($orange,.75);
  border-color: rgba($orange-dark,.75);
  text-shadow: 0 1px 0 $orange-dark;

  &.btn {
    font-weight: 500;

    &:hover,
    &.hover {
      background: rgba($orange,.6);
    }

    &:active,
    &.active {
      background: $orange;
      border-color: $orange;
      transition: none;
    }

    &[disabled],
    &.disabled {
      border-color: transparent;

      &:hover,
      &:active,
      &.active {
        background: rgba($orange,.75);
        border-color: transparent;
      }
    }
  }
}

.purple {
  color: $purple-light;

  &.btn {

    &:hover,
    &.hover {
      background: rgba($purple-light,.1);
      border-color: rgba($purple-light,.2);
    }

    &:active,
    &.active {
      background: rgba($purple-light,.2);
      border-color: rgba($purple-light,.4);
      transition: none;
    }
  }
}

.white {
  border: 0;
  color: $gray;

  &.btn {

    &:hover {
      background: rgba($gray-darker,.125);
    }

    &:active,
    &.active {
      background: rgba($purple-light,.15);
      color: $purple-light;
    }

    &[disabled],
    &.disabled {

      &:hover,
      &:active,
      &.active {
        background: transparent;
        border-color: transparent;
      }
    }
  }
}

// .btn-label
.btn-label {
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  padding: 0 6px;
  pointer-events: none;
 }

 // btn-groups
.btn-group,
.btn-group-vertical {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.btn-group-vertical {
  display: block;
}

.btn-group > .btn,
.btn-group > button,
.btn-group-vertical > .btn {
  float: left;
  position: relative;
}

.btn-group > .btn:focus,
.btn-group > button:focus,
.btn-group-vertical > .btn:focus {
  outline: none;
}

.btn-group .btn + .btn,
.btn-group button + button,
.btn-group .btn + .btn-group,
.btn-group button + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + button,
.btn-group .btn-group + .btn-group {
  margin-left: -1px;
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle),
.btn-group > button:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}

.btn-group > .btn:first-child,
.btn-group > button:first-child {
  margin-left: 0;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle),
.btn-group > button:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > button:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btn-group > .btn-group {
  float: left;
}

.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn,
.btn-group > .btn-group:not(:first-child):not(:last-child) > button {
  border-radius: 0;
}

.btn-group > .btn-group:first-child > .btn:last-child,
.btn-group > .btn-group:first-child > button:last-child,
.btn-group > .btn-group:first-child > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn-group > .btn-group:last-child > .btn:first-child,
.btn-group > .btn-group:last-child > button:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}

.btn-group-xs > .btn,
.btn-group-xs > button {
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
  padding: 1px 5px;
}

.btn-group-sm > .btn,
.btn-group-sm > button {
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
  padding: 5px 10px;
}

.btn-group-lg > .btn,
.btn-group-lg > button {
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.33;
  padding: 10px 16px;
}

.btn-group > .btn + .dropdown-toggle,
.btn-group > button + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
}

.btn-group > .btn-lg + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
}

.btn-group.open .dropdown-toggle {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn-group-vertical > .btn,
.btn-group-vertical > .btn-group {
  display: block;
  float: none;
  max-width: 100%;
  width: 100%;
}

.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after {
  content: '';
  display: table;
}

.btn-group-vertical > .btn-group:after {
  clear: both;
}

.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after {
  content: '';
  display: table;
}

.btn-group-vertical > .btn-group:after {
  clear: both;
}

.btn-group-vertical > .btn-group > .btn {
  float: none;
}

.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group {
  margin-left: 0;
  margin-top: -1px;
}

.btn-group-vertical.no-margin > .btn + .btn,
.btn-group-vertical.no-margin > .btn + .btn-group,
.btn-group-vertical.no-margin > .btn-group + .btn,
.btn-group-vertical.no-margin > .btn-group + .btn-group {
  margin-top: 0;
}

.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-radius: 3px 3px 0 0;
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-radius: 0 0 3px 3px;
}

.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

.btn-group-vertical > .btn-group:first-child > .btn:last-child,
.btn-group-vertical > .btn-group:first-child > .dropdown-toggle {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group-vertical > .btn-group:last-child > .btn:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-group-justified {
  border-collapse: separate;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.btn-group-justified .btn {
  display: table-cell;
  float: none;
  width: 1%;
}

[data-toggle="buttons"] > .btn > input[type="radio"],
[data-toggle="buttons"] > .btn > input[type="checkbox"] {
  display: none;
}
