// on cards
.container-title-wrapper {
  display: flex;

  // if renaming instead of popover on verification
  &.title-verification {
    cursor: default;

    &:hover,
    &:active {
      color: $gray-darker;
    }
  }

  .server-status-card-pop-over {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    margin: 15px auto 0;
    max-width: 100%;
    padding: 0 15px;

    &:hover {
      color: $gray-darker;
    }

    &:active,
    &.active {
      color: $purple-light;
    }
  }

  .icons-alert,
  .icons-arrow-down,
  .spinner-wrapper {
    flex: 0 0 21px;
    height: 21px;
  }

  .spinner-wrapper {
    color: $gray-light;
    padding: 3px; // sizes element to replace .icons-alert
  }

  .icons-alert {
    color: $orange;
    flex: 0 0 15px;

    + .container-title {
      margin-left: 5px;
    }
  }
}

.card-header-details {
  color: $gray;
  padding: 0 15px;
}

.container-title {
  flex: 0 1 auto;
  font-size: 21px;
  font-weight: $weight-bold;
}

// on modal
.modal-dialog .container-title-wrapper {

  + .icons-close {
    right: 12px;
    top: 12px;
  }

  .server-status-card-pop-over {
    color: $gray;
    margin-bottom: 3px;
  }

  .container-title {
    font-size: 14px;
    font-weight: $weight-normal;

    // naming containers
    &.input {
      background: $gray-lighterest;
      width: 270px; // width of 19 M (19 char limit)

      &:hover {
        color: $gray-dark;
      }

      &:active {
        color: $gray-dark;
      }
    }

    + .container-title {
      color: $gray-light;
      margin: 0;
    }
  }

  .icons-alert,
  .icons-arrow-down {
    height: 15px;
  }

  .spinner-wrapper {
    flex: 0 0 auto;
    height: auto;
  }

  .spinner {
    height: 12px;
    width: 12px;
  }

  // rename button for verification flow
  .btn-xxs {
    margin-left: 6px;
  }
}
