.card {
  border: 1px solid rgba($black,.15);
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba($black,.1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 270px;

  &:active,
  &.active {
    border-color: $purple-light;
    box-shadow: 0 0 3px rgba($purple-light,.3);

    .icons-gear {
      color: $purple-light;
    }
  }

  + .card {
    margin-left: 12px;
  }

  // settings
  .icons-gear {
    color: $gray-light;
    height: 18px;
    pointer-events: auto;
    position: absolute;
    right: 6px;
    top: 6px;
    width: 18px;
  }

  // header
  .card-header {
    flex: 0 0 120px;
    font-size: 18px;
    text-align: center;
  }

  .icons-server {
    color: $gray-light;
    display: block;
    margin: 36px auto 6px;
  }

  // body
  .card-body {
    flex: 1 1 auto;
    margin-bottom: 21px;

    // list columns
    .list {
      margin: 0;

      &:first-child {
        color: $gray-light;
        float: left;
        text-align: right;
        width: 40%;
      }

      &:last-child {
        float: right;
        font-size: 14px;
        width: 60%;
      }
    }

    .list-item {
      height: 24px;
      line-height: 24px;
      padding: 0 6px;
    }

    // language icons
    .iconnables {
      float: left;
      margin-left: -6px;
    }

    // add buttons
    .btn-sm {
      display: table;
      margin: 0 auto;

      + .btn-sm {
        margin-top: 6px;
      }
    }
  }


  // well
  .well {
    border: 0;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid rgba($black,.1);
    cursor: default;
    margin: 0;
    padding: 6px;

    .list-item {
      height: 30px;
      line-height: 30px;
      padding: 0 6px;

      + .list-item {
        color: $gray-darker;
        font-size: 14px;
      }
    }

    // add server button
    .btn-xxs {
      float: right;
      top: 6px;
    }
  }
}

// template
.card-template {

  .icons-add {
    color: $gray-lighter;
    height: 120px;
    width: 60px;
  }
}