.card {
  background: $white;
  border: 1px solid rgba($black,.15);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  min-height: 270px;
  min-width: 270px;
  position: relative;

  &:hover:not(.disabled),
  &:active:not(.disabled),
  &.active {
    border-color: $purple-light;
    box-shadow: 0 0 3px rgba($purple-light,.3);
    cursor: pointer;

    .icons-gear {
      color: $purple-light;
    }
  }

  + .card {
    margin-left: 12px;
  }

  // settings
  .icons-gear {
    color: $gray-light;
    height: 18px;
    pointer-events: auto;
    position: absolute;
    right: 6px;
    top: 6px;
    width: 18px;
    z-index: 1;
  }

  // header
  .card-header {
    flex: 0 0 120px;
    font-size: 18px;
    text-align: center;

    .icons-server {
      color: $gray-light;
      display: block;
      margin: 36px auto 6px;
    }
  }

  // body
  .card-body {
    flex: 1 1 auto;
    margin-bottom: 21px;

    // list columns
    .list-col {
      margin: 0;

      &:first-child {
        color: $gray-light;
        float: left;
        text-align: right;
        width: 40%;
      }

      &:last-child {
        float: right;
        font-size: 14px;
        width: 60%;
      }
    }

    .list-item {
      height: 24px;
      line-height: 24px;
      padding: 0 6px;
    }

    // language icons
    .iconnables {
      float: left;
      margin-left: -6px;
    }

    // add buttons
    .btn-sm {
      display: table;
      margin: 0 auto;

      + .btn-sm {
        margin-top: 6px;
      }
    }
  }

  // well
  .well {
    border: 0;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid rgba($black,.1);
    cursor: default;
    margin: 0;
    padding: 6px;

    .list-item {
      height: 30px;
      line-height: 30px;
      padding: 0 6px;

      + .list-item {
        color: $gray-darker;
        font-size: 14px;
      }
    }

    // add server button
    .btn-xxs {
      float: right;
      top: 6px;
    }
  }

  // footer
  .card-footer {
    background: $gray-lightest;
    border-top: 1px solid rgba($black,.1);
    flex: 0 0 auto;
    padding: 6px;
  }
}

// template
.card-template {

  &.active .card-header {
    background: $gray-lightest;
    border-bottom: 1px solid rgba($black,.1);
    flex: 0 0 36px;
    line-height: 36px;
  }

  .card-header {
    flex: 0 0 210px;
  }

  .icons-add {
    color: $gray-lighter;
    height: 210px;
    width: 120px;
  }
}

//- loading state
.card-loading {
  font-size: 18px;
  text-align: center;

  .spinner-wrapper {
    margin: 96px auto 12px;
  }
}