.card {
  background: $white;
  border: 2px solid rgba($black,.1);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  min-height: 270px;
  min-width: 270px;
  position: relative;
  transition: none;

  &:hover:not(.disabled),
  &:active:not(.disabled),
  &.active {
    border-color: rgba($purple-light,.6);

    &:not(.card-loading) {
      cursor: pointer;
    }
  }

  // configure button
  &:active:not(.disabled) .btn-sm {
    background: rgba($purple-light,.15);
    border-color: rgba($purple-light,.15);
    color: $purple-light;
    transition: none;
  }

  &.focus {
    animation: card-blink .5s ease-out;
  }

  // settings
  .icons-gear {
    color: $gray-light;
    height: 18px;
    pointer-events: auto;
    position: absolute;
    right: 6px;
    top: 6px;
    width: 18px;
    z-index: 1;

    &:hover,
    &:active {
      color: $purple-light;
    }
  }

  // header
  .card-header {
    color: $gray;
    flex: 0 0 120px;
    font-size: 16px;
    text-align: center;

    // anchor image/icon
    .iconnables {
      color: $gray-light;
      display: block;
      margin: 36px auto 6px;
    }

    // scale icons-repository
    .icons-repository {
      height: 36px;
      margin: 30px auto 0;
      width: 36px;
    }
  }

  // body
  .card-body {
    flex: 1 1 auto;
    margin-bottom: 21px;

    // list columns
    .list-col {
      margin: 0;

      &:first-child {
        color: $gray-light;
        float: left;
        text-align: right;
        width: 35%;
      }

      &:last-child {
        float: right;
        font-size: 14px;
        width: 65%;
      }
    }

    .list-item {
      height: 24px;
      line-height: 24px;
      padding: 0 6px;
    }

    // language icons
    .iconnables {
      float: left;
      margin-left: -6px;
    }
  }

  // configure button
  .btn-sm {
    flex: 0 0 auto;
    margin: 0 auto 9px;
  }

  // well
  .well {
    background: $gray-lightest;
    border: 0;
    border-radius: 0 0 3px 3px;
    cursor: default;
    margin: 0;
    padding: 12px 9px;

    // dismiss
    .btn-close {
      float: right;
      height: 15px;
      margin-left: 15px;
      width: 15px;
    }
  }

  // footer
  .card-footer {
    background: $gray-lightest;
    border-top: 1px solid rgba($black,.1);
    flex: 0 0 auto;
    padding: 6px;
  }
}

// template
.card-template {
  color: $gray-lighter;
  font-size: 18px;
  justify-content: center;
  text-align: center;
  user-select: none;

  &:active {
    color: $purple-light;
  }

  // &.active .card-header {
  //   background: $gray-lightest;
  //   border-bottom: 1px solid rgba($black,.1);
  //   flex: 0 0 36px;
  //   line-height: 36px;
  // }

  .icons-add {
    height: 90px;
    width: 270px;
  }
}

//- loading state
.card-loading {
  color: $gray;
  cursor: progress;
  font-size: 18px;
  text-align: center;

  .spinner-wrapper {
    margin: 96px auto 12px;
  }
}