.card {
  border: 1px solid transparent;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  min-width: 360px;
  position: relative;
  transition: none;

  // states
  &:hover:not(.disabled) {
    background: $white;
    border-color: $gray-light;

    &:not(.card-loading) {
      cursor: pointer;
    }
  }

  &:active:not(.disabled),
  &.active {
    background: $white;
    border-color: $purple-light;
    color: $purple-light;
  }

  // sizes
  &.card-sm {
    border-width: 2px;
    min-height: inherit;
    min-width: inherit;
    width: 210px;

    .card-header {
      justify-content: center;
      // text-align: center;
    }

    .img {
      margin-right: 6px;
      position: relative;
    }
  }

  &.focus {
    animation: card-blink 2s ease-in-out;
  }

  // colors
  &.gray {
    background: $gray-lighterest;
    border-color: $gray-lighter;
  }

  // empty state
  &.empty {
    background: transparent;
    border-color: transparent;
    color: $gray;
    height: 281px;
    line-height: 281px;
    text-align: center;

    .spinner-wrapper {
      align-items: center;
      height: 100%;
    }
  }

  // list columns
  .list-col {
    margin: 0;

    &:first-child {
      color: $purple-lighter;
      float: left;
      text-align: right;
      width: 35%;
    }

    &:last-child {
      float: right;
      font-size: 14px;
      width: 65%;
    }

    &.monospace {
      letter-spacing: -.5px;
    }

    .list-item {
      padding: 0 6px;
    }

    // language icons
    .iconnables {
      float: left;
      margin-left: -6px;
    }
  }

  // well
  .well {
    background: $white;
    border: 0;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid $purple-lighter;
    cursor: default;
    margin: 0;
    padding: 12px 9px;

    // dismiss
    .btn-close {
      float: right;
      height: 15px;
      margin-left: 15px;
      width: 15px;
    }

    .icon-close {
      top: -14px;
    }
  }
}

// card layout
// header
.card-header {
  font-size: 20px;
  line-height: 30px;
  padding: 12px 15px 15px;
  text-align: center;

  span {
    cursor: pointer;

     &:hover {
      color: $purple-light;
     }

     &:active {
      color: $purple;
     }
  }

  .icons-arrow-down {
    height: 18px;
    top: 2px;
    width: 18px;
  }
}

.card-status {
  height: 30px;
  padding: 0 24px;
  display: inline-block;
  color: $gray;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: 1px solid rgba($white,0);
  line-height: 27px;

  // warning icon for failed state
  .iconnables {
    float: left;
    margin-right: 4px;
    top: 1px;
    width: 14px;
  }

  &.failed {
    //TODO: variable-ize these
    background-color: $orange-lightest;
    border-color: rgba($orange-darker,.25);
    color: rgba($orange-darker,.6);
    font-weight: 500;
  }

  .a {
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

    &:active {
      color: rgba($orange-darker,.7);
    }
  }
}

.card-footer {
  color: $gray;
  font-size: 14px;
  font-weight: 400;
  padding: 12px 15px;

  .input-toggle {
    margin-left: -9999px;
    position: absolute;
    visibility: hidden;

    &:checked + .label-toggle {
      background: rgba($purple-light,.9);
      color: rgba($purple-light,.9);

      &::after {
        left: 17px;
        right: 1px;
      }

      &:active::after {
        left: 15px;
      }
    }
  }

  .label-toggle {
    background: $gray;
    color: $gray;
    border-radius: 60px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    float: left;
    height: 14px;
    outline: none;
    top: 1px;
    padding: 1px;
    position: relative;
    transition: all .25s ease;
    user-select: none;
    width: 30px;

    &::after {
      background: $white;
      border-radius: 6px;
      content: "";
      display: inline;
      height: 12px;
      left: 1px;
      position: absolute;
      right: 17px;
      top: 1px;
      transition: all .25s ease;
    }

    &:active::after {
      right: 15px;
    }

    .label-text {
      display: block;
      left: 33px;
      position: relative;
      top: -2px;
      width: 120px;
    }
  }

  &.no-touching {
    opacity: .6;
  }

  .containers-count {
    float: right;
  }
}

// body
.card-body,
.card-button {
  flex: 1 1 auto;
  padding: 0 15px;

  &.empty {
    align-items: center;
    display: flex;
    font-style: italic;
    justify-content: center;
  }

  > .btn {
    border-radius: 0;
    display: block;
    height: 54px;
    line-height: 1.4;
    padding: 7px 9px;
    text-align: left;

    &:hover,
    &:active {
      box-shadow: inset 0 1px 0 $gray-light;
      z-index: 1;

      &:first-child {
        box-shadow: none;
      }

      .icons-arrow-down {
        color: $gray-dark;
      }
    }

    &:active {
      box-shadow: inset 0 1px 0 $purple-light;

      &:first-child {
        box-shadow: none;
      }

      .p,
      .icons-arrow-down {
        color: $purple-light;
      }
    }

    &:first-child {
      border-radius: 3px 3px 0 0;
    }

    &:last-child {
      border-radius: 0 0 3px 3px;
    }

    + .btn {
      border-top-width: 1px;
      margin-top: -2px;
    }

    > .iconnables:first-child {
      float: left;
      margin-right: 6px;
      width: 18px;
    }

    &.hint {
      border-color: $blue;
      box-shadow: inset 0 1px 0 $blue;
      color: $blue;
      z-index: 1;

      &:first-child {
        box-shadow: none;
      }

      .p {
        color: rgba($blue,.6);
      }

      .icons-arrow-down {
        color: $blue;
      }
    }

    .h3 {
      font-size: 16px;
    }

    .p {
      color: $gray;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      padding-right: 15px; // for arrow
    }

    .icons-arrow-down {
      color: $gray;
      position: absolute;
      right: 6px;
      top: 0;
      transform: rotate3d(0,0,1,-90deg);
    }
  }
}

// card body as button
.card-button {
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  height: auto;
  margin: 0 12px 12px;
  padding: 12px 0;
  text-align: left;
  transition: none;
}

// template
.card-white {
  background: $white;
  border-color: transparent;
  color: $purple-lighter;
  font-size: 18px;
  justify-content: center;
  text-align: center;
  user-select: none;

  &:hover,
  &:active {
    border-color: $purple-lighter;
    color: $purple-light;
  }

  .icons-add {
    height: 90px;
    width: 270px;
  }
}

//- loading state
.card-loading {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;

  .spinner-wrapper {
    margin-top: -60px;
  }
}