.card {
  border: $input-border solid transparent;
  border-radius: $input-border-radius-lg;
  display: flex;
  flex-direction: column;
  min-width: 360px;
  position: relative;
  transition: none;

  // states
  &:hover:not(.disabled) {
    background: $white;
    border-color: $gray-light;

    &:not(.card-loading) {
      cursor: pointer;
    }
  }

  &:active:not(.disabled),
  &.active {
    background: $white;
    border-color: $purple-light;
    color: $purple-light;
  }

  // sizes
  &.card-sm {
    border-width: $input-border;
    min-height: inherit;
    min-width: inherit;
    width: 210px;

    .card-header {
      justify-content: center;
      text-align: center;
    }

    .img {
      margin-right: 6px;
      position: relative;
    }
  }

  // colors
  &.gray {
    background: $gray-lighterest;
    border-color: $gray-lighter;
  }

  // focus state
  &.focus {
    border-color: rgba($blue,.45);
    box-shadow: 0 0 6px rgba($blue,.45);
  }

  // empty state
  &.empty.empty {
    background: transparent;
    border-color: transparent;
    color: $gray;
    justify-content: center;
    min-width: 100%;
    text-align: center;
    white-space: nowrap;

    .spinner-wrapper {
      align-items: center;
      height: 100%;
    }

    .iconnables {
      cursor: pointer;
      height: 36px;
      margin: 0 auto 24px;
      pointer-events: auto;
      width: 36px;
    }

    .h4 {
      line-height: 1.4;
      margin-bottom: 4px;
      white-space: normal;
    }
  }

  // list columns
  .list-col {
    margin: 0;

    &:first-child {
      color: $purple-lighter;
      float: left;
      text-align: right;
      width: 35%;
    }

    &:last-child {
      float: right;
      font-size: 14px;
      width: 65%;
    }

    &.monospace {
      letter-spacing: -.5px;
    }

    .list-item {
      padding: 0 6px;
    }

    // language icons
    .iconnables {
      float: left;
      margin-left: -6px;
    }
  }
}

// card layout
// body
.card-body,
.card-button {
  flex: 1 1 auto;
  padding: 15px;

  &.empty {
    align-items: center;
    display: flex;
    font-style: italic;
    justify-content: center;
  }

  > .btn {
    border-radius: 0;
    display: block;
    height: 54px;
    padding: 6px 24px 6px 9px;
    text-align: left;

    &:hover,
    &:active {
      z-index: 1;

      &:first-child {
        box-shadow: none;
      }
    }

    &:not([disabled]):hover {
      border-color: $gray-light;
      box-shadow: inset 0 0 0 $gray-light;

      &:first-child {
        box-shadow: none;
      }
    }

    &:not([disabled]):active {
      background: lighten($purple-lightest,6%);
      border-color: $purple-light;
      box-shadow: inset 0 0 0 $purple-light;

      &:first-child {
        box-shadow: none;
      }

      > .small {
        color: lighten($purple-light,18%);
      }

      .icons-arrow-down {
        color: lighten($purple-light,18%);
      }

      .btn-xxs {
        background: $purple-light;
      }
    }

    &:first-child {
      border-radius: $input-border-radius-lg $input-border-radius-lg 0 0;
    }

    &:last-child {
      border-radius: 0 0 $input-border-radius-lg $input-border-radius-lg;
    }

    &.active-notification {
      padding-right: 60px;
    }

    + .btn {
      border-top-width: 1px;
      margin-top: -$input-border;
    }

    // anchor icon of tool
    > .iconnables:first-child {
      float: left;
      margin-right: 6px;
      width: 18px;
    }

    // title of tool
    > .h3 {
      font-size: 16px;
      line-height: 20px;
    }

    // description of tool
    > .small {
      color: $gray;
      display: block;
      line-height: 15px;
    }

    // notifications
    .btn-badge {
      background: $gray-light;
      border-radius: $input-border-radius;
      color: $white;
      position: absolute;
      right: 30px;
      top: 16px;
    }

    // tooltip in tool description
    .underline {
      cursor: pointer;
      float: left;

      // text after a tool
      ~ .text-overflow {
        display: inline-block;
        width: calc(100% - 90px);
      }
    }

    // right facing arrow
    .icons-arrow-down {
      color: $gray-light;
      margin: 0;
      position: absolute;
      right: 6px;
      top: 0;
      transform: rotate3d(0,0,1,-90deg);
    }
  }

  // dockerfile tool icons
  .btn-dockerfile {
    padding-right: 45px; // larger padding for lock icon

    // icons for dockerfile tool
    // wrapper needed for title text
    .iconnables-wrapper {
      height: 100%;
      position: absolute;
      right: 30px;
      top: 0;
      width: 14px;

      .iconnables {
        height: 100%;
        width: 100%;
      }

      // missing dockerfile error
      .icons-alert-alt {
        color: $orange;
      }
    }
  }
}

// loading state
.card-loading {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;

  .spinner-wrapper {
    margin-top: -60px;
  }
}
