#editor {
  background: $gray-light;
  height: calc(100% - 54px);
  overflow: hidden;
  position: relative;
  z-index: 2;

  &.full {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 510px);
    z-index: 2;
  }

  pre,
  .pre {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
  }

  .editor-status {
    box-shadow: none;
    pointer-events: none;
    position: absolute;
    right: 9px;
    top: 9px;
    transition: none;
    z-index: 1;
  }
}

.editor-container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: calc(100% - 36px);
  transform: translate3d(0,0,0);
  transition: transform .2s ease-in-out, width 0s ease-in-out;
  width: 100%;

  &.loaded ~ .horizontal-spinner {
    display: none;
  }

  .in & {
    transform: translate3d(240px,0,0);
    transition: transform .2s ease-in-out, width .225s ease-in-out;
    width: calc(100% - 240px);
  }

  .ace_scrollbar {
    overflow: hidden;
  }

  .ace_text-input {
    font-size: 16px;
  }

  pre,
  .pre,
  iframe {
    border: 0;
    flex: 1 0 auto;
  }

  ~ .horizontal-spinner {
    left: 0;
    position: absolute;
    right: 0;
  }
}

// flex
.web-container {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}