#editor {
  background: $gray-light;
  height: calc(100% - 54px);
  overflow: hidden;
  position: relative;
  z-index: 2;

  &.full {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 510px);
    z-index: 2;
  }

  pre {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
  }

  .editor-status {
    box-shadow: none;
    pointer-events: none;
    position: absolute;
    right: 9px;
    top: 9px;
    transition: none;
    z-index: 1;
  }
}

// default tabs
#tabs-wrapper {
  background: $gray-light;
  border-bottom: 1px solid rgba(0,0,0,.1);
  float: left;
  height: 36px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: calc(100% + 1px);

  li {
    background: $gray-lighter;
    border: 1px solid rgba(0,0,0,.1);
    border-bottom: 0;
    border-top: 0;
    color: $gray-dark;
    display: inline-block;
    margin-left: -1px;
    position: relative;

    &:hover {
      background: $white;
    }

    &:active,
    &.active {
      background: $white;
      color: $gray-darker;
    }

    &.active > a {

      &::after {
        background: $white;
        color: $gray-darker;
        content: attr(data-title);
        font-size: 14px;
        font-weight: 500;
        height: 100%;
        left: 0;
        line-height: 36px;
        padding-left: 9px;
        pointer-events: none;
        position: absolute;
        width: 100%;
      }
    }
  }

  a {
    border: 0;
    border-radius: 0;
    display: block;
    float: left;
    font-size: 14px;
    height: 35px;
    line-height: 36px;
    margin: 0;
    padding: 0 18px 0 9px;
  }

  button {
    color: $gray-dark;
    float: right;
    opacity: .5;
    padding-top: 2px;
    width: 30px;

    &:hover {
      opacity: .75;
    }

    &:active {
      opacity: 1;
    }
  }

  .icons-close {
    height: 15px;
    width: 15px;
  }
}

#tabs {
  border: 0;
  height: 51px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  li {

    > .remove-2 {
      background: none;
      border: 0;
      color: darken($gray,10%);
      font-size: 11px;
      padding: 0;
      position: absolute;
      right: 10px;
      top: 11px;

      &:hover {
        right: 8px;
        top: 7px;
      }

      &:hover:before {
        content: '\E193';
        font-size: 16px;
      }

      &:active {
        color: $gray-dark;
      }
    }

    &.active {

      &:after {
        color: $gray-darker;
        content: attr(data-title);
        font-size: 12px;
        font-weight: 500;
        line-height: 36px;
        padding-left: 10px;
        pointer-events: none;
        position: absolute;
        top: 0;
      }

      > .tab-body {
        background-color: $gray-lighter;
        color: rgba($gray-lighter,0);
        cursor: default;
      }
    }
  }
}

.editor-container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: calc(100% - 36px);
  transform: translate3d(0,0,0);
  transition: transform .2s ease-in-out, width 0s ease-in-out;
  width: 100%;

  .in & {
    transform: translate3d(240px,0,0);
    transition: transform .2s ease-in-out, width .225s ease-in-out;
    width: calc(100% - 240px);
  }

  .ace_scrollbar {
    overflow: hidden;
  }

  .ace_text-input {
    font-size: 16px;
  }

  pre,
  iframe {
    border: 0;
    flex: 1 0 auto;
  }
}

// ace tooltip bug?
.ace_tooltip {
  margin-left: -260px;
  margin-top: -330px;
}

// flex
.web-container {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}