// themes
@import "themes";

#editor {
  background: $gray-light;
  height: calc(100% - 54px);
  overflow: hidden;
  position: relative;
    z-index: 2;

  pre {
    height: 100%;
    position: absolute;
    width: 100%;

    &.readonly {
      opacity: .5;
    }
  }
}

#editor-status {
  box-shadow: none;
  pointer-events: none;
  position: absolute;
  right: 15px;
  top: 50px;
  z-index: 1;
}

#logs {
  background: $gray-lighter;
  height: calc(100% - 54px);
  padding-bottom: 66px;
  position: absolute;
  right: 0;
  top: 54px;
  transition: opacity .2s;
  width: calc(100% - 510px);
  z-index: 2;

  &.full {
    height: 100%;
    padding: 0;
    top: 0;
  }

  &.out {
    opacity: 0;
    pointer-events: none;
  }

  > button {
    bottom: 15px;
    left: 15px;
    margin: 0 auto;
    right: auto;
    pointer-events: auto;
    top: auto;
  }

  pre {
    height: 100%;
  }
}

#scroll-to {
  height: 10px;
}

// default tabs
#tabs-wrapper {
  background: $gray-light;
  border-bottom: 1px solid rgba(0,0,0,.1);
  float: left;
  height: 36px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;

  li {
    border: 1px solid rgba(0,0,0,.05);
    border-bottom: 0;
    border-top: 0;
    display: inline-block;
    margin-left: -1px;
    position: relative;
  }

  a {
    background: $gray-lighter;
    border: 0;
    border-radius: 0;
    color: $gray-dark;
    display: block;
    font-size: 14px;
    height: 35px;
    line-height: 36px;
    margin: 0;
    padding: 0 36px 0 9px;

    &:hover {
      background: #fff;
    }

    &:active,
    &.active {
      background: #fff;
      color: $gray-darker;
    }

    &.active::after {
      background: #fff;
      color: $gray-darker;
      content: attr(data-title);
      font-size: 14px;
      font-weight: 500;
      line-height: 36px;
      padding-left: 9px;
      pointer-events: none;
      position: absolute;
        top: 0;
        left: 0;
    }
  }

  button {
    color: $gray-dark;
    opacity: .5;
    padding-top: 3px;
    position: absolute;
      top: 0;
      right: 0;
    width: 30px;

    &:hover {
      opacity: .75;
    }

    &:active {
      opacity: 1;
    }
  }

  .icons-close {
    height: 15px;
    width: 15px;
  }
}

#tabs {
  border: 0;
  height: 51px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  li {

    > .remove-2 {
      background: none;
      border: 0;
      color: darken($gray,10%);
      font-size: 11px;
      padding: 0;
      position: absolute;
        top: 11px;
        right: 10px;

      &:hover {
        top: 7px;
        right: 8px;
      }

      &:hover:before {
        content: '\E193';
        font-size: 16px;
      }

      &:active {
        color: $gray-dark;
      }
    }

    &.active {

      &:after {
        color: $gray-darker;
        content: attr(data-title);
        font-size: 12px;
        font-weight: 500;
        line-height: 36px;
        padding-left: 10px;
        pointer-events: none;
        position: absolute;
          top: 0;
      }

      > .tab-body {
        background-color: $gray-lighter;
        color: rgba($gray-lighter,0);
        cursor: default;
      }
    }
  }
}

#editor-container {
  height: calc(100% - 36px);
  transform: translate3d(0,0,0);
  transition: transform .2s ease-in-out, width 0s ease-in-out;
  width: 100%;

  .in & {
    transform: translate3d(240px,0,0);
    transition: transform .2s ease-in-out, width .225s ease-in-out;
    width: calc(100% - 240px);
  }

  .ace_scrollbar {
    overflow: hidden;
  }

  .ace_text-input {
    font-size: 16px;
  }
}

// ace tooltip bug?
.ace_tooltip {
  margin-left: -260px;
  margin-top: -330px;
}

// .browser-chrome
.browser-chrome {
  background: rgba(255,255,255,.75);
  border-bottom: 1px solid rgba(0,0,0,.1);
  display: flex;
  height: 36px;
  padding: 0 3px;
  position: relative;
  z-index: 1;

  // set height of editor
  & ~ pre {
    height: calc(100% - 36px) !important;
  }

  // states for refresh/stop icons
  &.loading {

    .progress {
      opacity: 1;
    }

    .icons-refresh {
      transform: scale3d(0,0,0);
    }

    .icons-stop {
      transform: scale3d(1,1,1);
    }
  }

  // progress bar
  .progress {
    background: $orange;
    bottom: 0;
    display: block;
    height: 2px;
    left: 0;
    opacity: 0;
    position: absolute;
    transform: scale3d(0,1,1);
    transform-origin: 0 0;
    transition: opacity .3s, transform .1s;
    width: 100%;
  }

  .btn-icon,
  .iconnables-container {
    float: left;
    pointer-events: auto;

    .btn-icon {
      position: absolute;
    }

    &[disabled] {
      cursor: default;
      opacity: .5;
    }
  }

  .icons-stop {
    transform: scale3d(0,0,0);
  }

  input {
    background: transparent;
    border: 0;
    flex: 1 1 auto;
    width: auto;
  }
}