// .embed-wrapper
.embed-wrapper {
  height: 100%;
  position: relative;
  width: 100%;

  // offset for toolbar
  .views & {
    top: -46px;
  }

  &.fixed {
    bottom: 0;
    height: 315px;
    position: fixed;
    right: 0;
    top: auto;
    width: 560px;
    z-index: $z-alert;

    .embed-guide {
      display: none;
    }
  }
}

// .embed-guide
.embed-guide {
  align-items: center;
  background: $white;
  color: $gray-lighter;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  transition: all .2s ease-in;
  width: 100%;
  z-index: $z-views-embed-guide;

  &.out {
    opacity: 0;
    pointer-events: none;
  }
}

// h2.embed-heading
.embed-heading {
  font-weight: 300;
}

// iframe.embed-iframe
.embed-iframe {
  position: absolute;
  top: 0;
  z-index: $z-views-embed-video;
}

// button.btn.btn-embed-play
.btn-embed-play {
  height: 150px;
  opacity: .75;
  width: 150px;

  .iconnables {
    height: 100%;
    width: 100%;
  }

  &:hover,
  &:active {
    opacity: 1;
  }

  &:active {
    transform: scale3d(.9,.9,1);
  }
}

// button.btn.btn-icon.btn-embed-close
.btn-embed-close {
  color: $gray-dark;
  position: absolute;
  right: 0;
  top: -45px;
  z-index: $z-views-embed-close;

  &:hover,
  &:active {
    background: none;
    color: $gray-darker;
  }

  .iconnables {
    height: 100%;
  }
}

.ace-runnable-dark ~ .embed-wrapper .btn-embed-close {
  color: $purple-lighter;

  &:hover,
  &:active {
    background: none;
    color: $white;
  }
}