// errors
.modal.error {
  background: $white;

  .modal-dialog {
    align-items: center;
    background: none;
    box-shadow: none;
    display: flex;
    height: 100vh;
    justify-content: center;
    max-width: none;
    width: 100vw;
  }

  .modal-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    position: relative;

    &::after {
      animation: none;
    }
  }
}