#explorer {
  background: $gray-lighter;
  border-right: 1px solid rgba($black,.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  transform: translate3d(-240px,0,0);
  transition: transform .2s ease-in-out;
  width: 240px;
  z-index: 1;

  .in & {
    transform: translate3d(0,0,0);
  }
}

#explorer-toggle {
  background: $gray-lighter;
  border: 0;
  border-bottom: 1px solid rgba($black,.1);
  border-radius: 0;
  border-right: 1px solid rgba($black,.1);
  color: $gray-dark;
  float: left;
  height: 36px;
  position: absolute;
  width: 36px;
  z-index: $z-show;

  &:hover,
  &:active,
  &.active {
    background: $white;
  }

  .out & {
    transform: translate3d(-36px,0,0);
  }
}

// controls
#controls {
  background: $gray-lighter;
  border-bottom: 1px solid rgba($black,.1);
  border-right: 1px solid rgba($black,.1);
  flex: 0 0 auto;
  height: 36px;
  margin: 0 0 0 36px;
  user-select: none;
  width: 204px;
}

.toggle-theme {
  padding: 0;

  // tooltips
  &::before,
  &::after {
    font-weight: 300;
    margin-left: 12px;
    margin-top: 9px;
  }

  &.light > .theme::before {
    background: rgba($purple,.75);
  }

  &.dark > .theme::after {
    background: rgba($gray-dark,.75);
  }

  .theme {

    &::before,
    &::after {
      border-radius: 50%;
      content: '';
      display: inline-block;
      height: 18px;
      margin: 8px auto;
      width: 18px;
    }

    &::before {
      border: 2px solid $purple;
      background: rgba($purple,.25);
      margin-left: 9px;
    }

    &::after {
      border: 2px solid $gray-dark;
      background: rgba($gray-dark,.1);
      margin-left: -6px;
    }
  }
}

// toolbar
#editor-toolbar {
  border-bottom: 1px solid rgba($black,.1);
  height: 36px;
  overflow: visible;
  position: relative;
  transform: translate3d(36px,0,0);
  transition: transform .15s ease-in-out, width 0s ease-in-out;
  width: calc(100% - 71px);
  z-index: $z-popover;

  .setup & {
    transform: none;
    width: 100%;
  }

  .with-add-tab & {
    width: calc(100% - 107px);
  }

  .with-add-tab.out & {
    transform: translate3d(0,0,0);
    width: calc(100% - 35px);
  }

  .with-add-tab.in & {
    width: calc(100% - 311px);
  }

  .in & {
    transform: translate3d(240px,0,0);
    transition: transform .225s ease-in-out, width .275s ease-in-out;
    width: calc(100% - 275px);
  }

  > a {
    cursor: pointer;
    display: block;
    float: left;
    font-size: 18px;
    height: 35px;
    line-height: 36px;
    text-align: center;
    width: 36px;
  }

  .tooltip {

    &:before {
      top: 36px;
    }

    &:after {
      top: 30px;

    }
  }
}

// toolbar tabs
#add-tab,
#select-tabs {
  border-bottom: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  color: $gray-dark;
  position: absolute;
  top: 0;
  z-index: $z-show;
}

// add-tab
#add-tab {
  background: $gray-lighter;
  border-radius: 0;
  border-right: 0;
  border-top: 0;
  float: right;
  margin-top: -36px;
  position: relative;
  right: 36px;
  width: 36px;

  &:hover,
  &.active,
  &:active {
    background: $white;
  }

  &.active .icons-add {
    transform: rotate3d(0,0,1,135deg);
  }

  .out & {
    transform: translate3d(36px,0,0);
  }
}

// select-tabs
#select-tabs {
  border-bottom: 1px solid #d5d5d5;
  border-radius: 0;
  overflow: hidden;
  right: 0;
  width: 36px;

  button {
    border: 0;
    box-shadow: none;
    height: 35px;
    position: relative;

    &:before {
      border-bottom-color: $gray-dark;
      right: 16px;
    }

    &:after {
      border-top-color: $gray-dark;
      right: 16px;
    }
  }

  .iconnables {
    margin-right: 1px;
  }

  &:hover > button {

    &:before {
      border-bottom-color: $gray-darker;
    }

    &:after {
      border-top-color: $gray-darker;
    }
  }
}

// explorer header
.explorer-header {
  background: $gray-lighter;
  border-bottom: 1px solid rgba($black,.1);
  color: $gray-dark;
  flex: 0 0 auto;
  height: 36px;
  line-height: 36px;
  padding: 0 9px;
  position: relative;

  > .btn {
    float: right;
    margin-top: 6px;
  }
}

// .sub-tree
.sub-tree {
  border-bottom: 1px solid rgba($black,.1);
  box-shadow: inset 0 1px 0 $white;
  position: relative;

  &:last-child {
    border-bottom: 0;
  }

  > a {
    display: block;
    height: 28px;
    position: absolute;
    width: 20px;

    &::after {
      @extend .arrow-down;
      border-top-color: rgba($black,.2);
      content: '';
      cursor: pointer;
      left: 9px;
      top: 13px;
      transform: rotate3d(0,0,1,-90deg);
      transition: transform .2s ease-in-out;
    }
  }

  &.in a::after {
    transform: rotate3d(0,0,1,0);
  }

  > h6 {
    color: $gray-darker;
    font-weight: 500;
    margin: 0;
    padding: 10px 0 5px 24px;
    text-transform: uppercase;

    > button {
      position: absolute;
        top: 6px;
    }

    > .branch-switcher,
    > #rebuild,
    > #tip {
      right: 36px;
    }

    > button {
      right: 5px;
    }
  }
}

// popovers
.file-explorer-menu {
  width: 26px;

  .popover {
    left: -13px;
    top: 16px;
    transform-origin: 24px 0;
    width: 210px;

    // add repo form
    &.show-add-repo {
      left: -125px;
      max-height: 300px;
      transform-origin: 50% 0;
      width: 300px;

      &.bottom > .arrow {
        left: 50%;
      }

      .popover-content {
        max-height: 300px;
      }

      #file-explorer-options {
        display: none;
      }

      .explorer-add-repo {
        display: block;
      }
    }
  }

  .popover.bottom > .arrow {
    left: 24px;
  }
}

#file-explorer-options {
  margin: 4px 0 5px;

  > li {
    cursor: pointer;
    height: 36px;
    line-height: 36px;
    padding-left: 7px;

    &.divider {
      background: rgba($black,.1);
      height: 1px;
      line-height: 1;
      margin: 4px 0;
    }

    &:hover {
      background: $gray-light;
    }

    &:active,
    &.active {
      color: $gray-dark;
    }
  }

  .iconnables {
    float: left;
    height: 20px;
    margin: 8px;
    width: 20px;
  }
}

// shortcut popover
#add-tab .popover {
  left: auto;
  max-height: 278px;
  right: -7px;
  top: 30px;
  transform-origin: 250px -15px;

  .arrow {
    left: auto;
    right: 12px;
  }

  .popover-content {
    max-height: 274px;
  }

  #add-tab-options > ol {

    &.col-popover-3 {
      border-bottom: 1px solid rgba($black,.1);
      height: 72px;
      overflow: hidden;
    }

    .iconnables.lg {
      display: block;
      margin: 12px auto 0;
    }
  }

  .popover-footer button {
    width: 100%;
  }

  // shortcuts
  #new-shortcut {
    display: none;
  }

  &.show-new-shortcut {
    max-height: 260px;

    #add-tab-options {
      display: none;
    }

    > .arrow::after {
      border-bottom-color: $gray-lighter;
    }

    .popover-content {
      max-height: 256px;
    }

    #new-shortcut {
      display: block;
    }
  }
}

#shortcuts {
  border-bottom: 1px solid rgba($black,.1);
  max-height: 144px;
  overflow: auto;

  li {
    border: 0;
    box-shadow: inset 0 1px 0 rgba($black,.1);
    cursor: pointer;
    float: none;
    height: 36px;
    padding-left: 15px;
    position: relative;
    text-align: left;
    width: 100%;

    &:first-child {
      box-shadow: none;
    }
  }
}