.repo-tree,
.file-tree {
  flex: 0 1 auto;
  font-size: 12px;
  font-weight: 400;
  overflow: auto;

  li {
    padding: 0;
    position: relative;
    text-indent: 20px;
    transition: height .2s;

    > ul > li {
      text-indent: 40px;

      > ul > li {
        text-indent: 60px;

        > ul > li {
          text-indent: 80px;

          > ul > li {
            text-indent: 100px;

            > ul > li {
              text-indent: 120px;
            }
          }
        }
      }
    }
  }
}

.tree-input,
.tree-input:focus {
  background: none !important;
  border-color: rgba(0,0,0,.1);
  box-shadow: none;
  cursor: text;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  margin-left: -4px;
  opacity: 0;
  padding: 0 3px;
  position: absolute;
  top: 3px;

  &[readonly] {
    border: 1px solid transparent;
    pointer-events: none;
  }
}

.repo-tree li {
  cursor: pointer;
  height: 54px;
  line-height: 36px;

  &.active {
    background: #fff;
  }

  span {
    display: inline-block;
    height: 27px;
    pointer-events: none;
    text-indent: 0;
  }

  input {
    bottom: 0;
    color: $gray-dark;
    left: 32px;
    margin-bottom: 5px;
    position: absolute;
    width: 197px !important;
  }
}

.file-tree {
  border-bottom: 1px solid rgba(0,0,0,.1);
  max-height: calc(100vh - 126px);
  white-space: nowrap;

  li {
    cursor: pointer;
    height: 28px; // default height
    line-height: 28px;

    &.active {
      font-weight: 500;
    }

    a {
      display: block;

      &:hover {
        color: currentColor;
      }

      &:active,
      &.active {
        background: #fff;
      }
    }
  }

  .item-name {
    pointer-events: none;
  }

  // folders
  .folder {
    height: auto;
    min-height: 28px;
    // overflow: hidden;
    transition: min-height .2s;

    &::after {
      @extend .arrow-right;
      border-left-color: rgba(0,0,0,.2) !important;
      content: '';
      left: 7px;
      top: 10px;
      transform-origin: 3px 4px;
      transition: transform .2s;
    }

    &.in > ul {
      overflow: visible;
    }

    > ul {
      overflow: hidden;

      > li {
        height: 0; // hide items within folders by default
      }

      > .folder {

        &::after {
          left: 27px;
        }

        > ul > .folder {

          &::after {
            left: 47px;
          }

          > ul > .folder {

            &::after {
              left: 67px;
            }

            > ul > .folder {

              &::after {
                left: 87px;
              }

              > ul > .folder {

                &::after {
                  left: 107px;
                }

                > ul > .folder {

                  &::after {
                    left: 127px;
                  }
                }
              }
            }
          }
        }
      }
    }

    // additional nested folders hidden
    .a {
      height: 0;
      min-height: 0;
      opacity: 0;
    }

    &.in {
      min-height: 28px; // min-height b/c height cannot be set on folders

      &::after {
        transform: rotate3d(0,0,1,90deg);
      }

      &:active,
      &.active {
        background: none;
      }

      .folder {
        height: auto; // allow folder to expand
        min-height: 28px;
      }

      > ul > li {
        height: 28px; //show items within folder
      }
    }
  }
}