// feed_filters
#filters {
  @extend .clearfix;
  color: $gray-dark;
  padding: 15px;

  h3 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    padding: 0 10px;
    position: relative;

    span {
      opacity: 0;
      pointer-events: none;
      transition: opacity .2s cubic-bezier(.19,1,.22,1);
    }

    button {
      background: $orange;
      border: 1px solid rgba(0,0,0,.1);
      border-radius: 3px;
      box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
      color: #fff;
      float: right;
      height: 20px;
      line-height: 19px;
      margin-right: 10px;
      opacity: 0;
      padding: 0 6px;
      pointer-events: none;
      position: absolute;
        top: -2px;
        right: 0;
      text-shadow: none;

      &:active {
        box-shadow: none;
        margin-top: 1px;
      }
    }

    &.in {

      button,
      span {
        opacity: 1;
        pointer-events: auto;
      }

      // button {
      //   animation: alertIn forwards 1 .3s ease-in-out;
      // }
    }

    // &.out button {
    //   animation: fadeIn reverse 1 .2s linear;
    // }
  }

  li {
    @extend .silver;
    border: 0;
    border-radius: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    cursor: pointer;
    display: block;
    font-weight: 400;
    height: 45px;
    line-height: 45px;
    padding: 0;
    position: relative;
    text-align: left;
    user-select: none;

    &:active,
    &.active {
      background: $gray-light;
      border-color: rgba(0,0,0,.1);
      box-shadow: none;
    }

    &.active {

      > a {
        color: $orange;
      }

      .count {
        border-color: $orange;
      }
    }

    &.active {

      &:active button {
        color: $orange;
      }

      button {
        display: block;
      }

      .count {
        display: none;
      }
    }

    &:first-child {
      border-top: 0;
    }

    &:nth-child(n+16) {
      display: none;
    }

    &.show-more {
      display: block;
      height: 26px;
      line-height: 26px;

      span,
      span::after,
      span::before {
        background: rgba(0,0,0,.1);
        border-radius: 50%;
        content: '';
        display: block;
        height: 8px;
        position: absolute;
        width: 8px;
      }

      span {
        left: 0;
        margin: 0 auto;
        right: 0;
        top: 9px;

        &::after {
          right: 20px;
        }

        &::before {
          left: 20px;
        }
      }
    }

    > a {
      color: $gray-dark;
      display: block;
      height: 100%;
      overflow: hidden;
      padding: 0 42px 0 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;

      &:hover,
      &:active {
        text-decoration: none;
      }

      @include media(xs) {
        padding: 0 0 0 5px;
      }
    }

    @include media(xs) {
      border-right: 1px solid rgba(0,0,0,.1);
      float: left;
      padding-right: 40px;
      width: calc(100% / 3);

      &.show-more {
        width: 100%;
      }

      &:nth-child(-n+3) {
        border-top: 1px solid rgba(0,0,0,.1);
      }
    }

    @media (max-width: 500px) {
      width: 50%;

      &.show-more {
        height: 45px;
        line-height: 45px;
        width: 50%;

        span {
          top: 19px;
        }
      }

      &:nth-child(3) {
        border-top: 0;
      }
    }

    img,
    .no-img {
      height: 24px;
      line-height: 24px;
      position: relative;
        top: -2px;
      width: 24px;
    }

    // if no img
    .no-img {
      background: $gray-light;
      border: 1px solid rgba(0,0,0,.1);
      border-radius: 50%;
      color: $gray-dark;
      display: inline-block;
      font-size: 9px;
      font-weight: 600;
      margin-right: 2px;
      text-align: center;
    }
  }

  ol {
    @extend .clearfix;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    list-style-type: none;
    margin: 0;
    padding: 0;

    @include media(xs) {
      border-bottom: 0;
      border-right: 0;
      border-top: 0;
    }

    &.in {
      li:nth-child(n+16) {
        display: block;
      }

      li.show-more {
        display: none;
      }
    }

    button {
      background: none;
      border: 0;
      box-shadow: none;
      color: darken($gray,20%);
      display: none;
      height: 45px;
      padding: 10px;
      position: absolute;
        right: 0;
      text-shadow: none;

      &:hover {
        color: darken($gray,30%);
      }

      &:active {
        color: $orange;
      }
    }
  }

  .count {
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    display: inline-block;
    float: right;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    min-width: 22px;
    padding: 0 6px;
    pointer-events: none;
    position: absolute;
      top: 12px;
      right: 8px;
    text-align: center;
  }
}