// .input-group
.input-group {
  display: flex;

  input,
  .input {
    border-left: 0;
    border-right: 0;
    flex: 1 1 auto;
  }

  [contenteditable] {
    border-bottom: 1px solid rgba($black,.15);
    border-top: 1px solid rgba($black,.15);
    flex: 0 0 auto;
    height: 45px;
    line-height: 44px;

    &:focus {
      outline: 0;
    }
  }
}

// prefixes and suffixes
.input-prefix,
.input-suffix {
  background: $white;
  border: 1px solid rgba($black,.15);
  flex: 1 0 auto;
  font-size: 18px;
  height: 100%;
}

// .input-prefix
.input-prefix {
  border-radius: 3px 0 0 3px;
  border-right: 0;
  padding: 0;
  text-align: right;
}

// .input-suffix
.input-suffix {
  border-left: 0;
  border-radius: 0 3px 3px 0;
  padding: 0 15px 0 0;
  text-align: left;
}