// defaults
input,
textarea {
  -webkit-appearance: none;
  border: 1px solid rgba($black,.15);
  border-radius: 3px;
  color: $gray-darker;
  height: 45px;
  line-height: 45px;
  padding: 0 6px;
  resize: none;
  width: 100%;

  &:focus {
    box-shadow: inset 0 0 3px rgba($blue,.3);
    outline: none;
  }

  &[readonly] {
    color: $gray;
  }

  &[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: checkbox;
    width: auto;

    &[disabled] {
      cursor: not-allowed;
    }
  }

  // min font-size for mobile
  @include retina() {
    @media (max-width: 500px) {
      font-size: 16px;
    }
  }

  // placeholder
  &::placeholder {
    color: $gray-light;
  }
}


// label.btn.btn-checkbox
.btn-checkbox {
  font-size: 14px;
}

// input.checkbox
.checkbox {
  float: right;
  margin-left: 12px;
}

// validation
.validate {
  padding-right: 36px;
  transition: border .15s ease-in;

  &.ng-valid {
    background: url(/build/images/icons/icons-check.svg) no-repeat center right;
    color: $gray-darker;
  }

  &.ng-invalid {
    background: url(/build/images/icons/icons-error.svg) rgba($orange,.1) no-repeat center right;
    border-color: rgba($orange,.3);
    color: $orange-dark;
  }

  &.ng-pristine {
    background: none;
    color: $gray-darker;
  }
}

.form-label {
  position: relative;

  .iconnables,
  span {
    position: absolute;
  }

  span {
    display: inline-block;
    height: 36px;
    width: 36px;
  }

  .iconnables {
    height: 24px;
    left: 9px;
    opacity: .25;
    top: 6px;
    width: 24px;
  }

  > input {
    text-indent: 21px; // +15px (padding) = total of 36px
  }
}

input {

  &[type=radio] {
    -webkit-appearance: radio;
    cursor: pointer;
  }

  &[disabled],
  &[readonly] {
    background: $gray-lighter;
  }

  &[readonly] {
    cursor: pointer;
  }
}

// .validate-rules
.validate-rules {
  color: $orange-dark;
  font-size: 14px;
  font-weight: 300;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity .15s ease-in;

  &.in {
    opacity: 1;
  }

  .btn-xs {
    cursor: default;
    margin: 0 2px;
    padding: 0 6px;
    top: 2px;
  }
}

.search {
  position: relative;

  > input {
    padding-left: 30px;
  }

  .iconnables {
    height: 24px;
    margin: 6px 6px 0;
    right: 0;
    top: 6px;
    width: 24px;
  }

  > button {
    height: 45px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    transition: transform .2s;
    width: 36px;
  }

  > .submit {
    left: 0;
  }

  > .add {
    color: $orange;
    right: -36px;
  }

  .icons-search,
  .icons-search-active {
    position: absolute;
  }

  .icons-search {
    opacity: 1;
  }

  .icons-search-active {
    opacity: 0;
  }

  input:valid ~ .submit {

    .icons-search {
      opacity: 0;
    }

    .icons-search-active {
      opacity: 1;
    }
  }

  &.check-valid input:valid {

    & ~ .submit > .icons-search {
      opacity: 1;
    }

    & ~ .add {
      transform: translate3d(-36px,0,0);
    }
  }
}