// defaults
input,
textarea,
.form-control {
  -webkit-appearance: none;
  border: 1px solid rgba(0,0,0,.15);
  box-shadow: 0 1px 0 #fff;
  color: $gray-darkest;
  transition: border .1s cubic-bezier(.19,1,.22,1), transform .15s;

  &:hover {
    border-color: rgba(0,0,0,.2);
  }

  &:focus {
    box-shadow: 0 1px 0 #fff;
    border-color: $orange;
  }

  @include retina() {
    @media (max-width: 500px) {
      font-size: 16px;
    }
  }
}

.form-control::placeholder {
  color: rgba(0,0,0,.5);
}

.form-label {
  position: relative;

  .iconnables,
  span {
    position: absolute;
  }

  span {
    display: inline-block;
    height: 36px;
    width: 36px;
  }

  .iconnables {
    height: 24px;
    left: 9px;
    opacity: .25;
    top: 6px;
    width: 24px;
  }

  > input {
    text-indent: 19px;
  }
}

input {

  &[type=radio] {
    -webkit-appearance: radio;
    cursor: pointer;
  }

  &[disabled],
  &[readonly] {
    background: $gray-lighter;
  }

  &[readonly] {
    cursor: pointer;
  }
}

// inline editing
.inline-edit {
  background: none;
  border-color: transparent;

  &:hover,
  &:focus {
    @extend .form-control;
  }
}

.search {
  position: relative;

  .iconnables {
    height: 24px;
    margin: 6px 6px 0;
    right: 0;
    top: 0;
    width: 24px;
  }

  > button {
    height: 36px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
      top: 0;
    transition: transform .2s;
    width: 36px;
  }

  > .submit {
    right: 0;
  }

  > .add {
    color: $orange;
    right: -36px;
  }

  .icons-search,
  .icons-search-active {
    position: absolute;
  }

  .icons-search {
    opacity: 1;
  }

  .icons-search-active {
    opacity: 0;
  }

  input:valid ~ .submit {

    .icons-search {
      opacity: 0;
    }

    .icons-search-active {
      opacity: 1;
    }
  }

  &.check-valid input:valid {

    & ~ .submit {
      transform: translate3d(36px,0,0);
    }

    & ~ .add {
      transform: translate3d(-36px,0,0);
    }
  }
}

// different position in popovers
.popover .search {

  > .submit {
    right: -3px;
  }

  > .add {
    right: -40px;
  }
}

.form-group {
  position: relative;
}

//.saved label
.saved {
  background: $light-yellow;
  border: 1px solid darken($light-yellow,50%);
  border-radius: 3px;
  color: darken($light-yellow,70%);
  display: none;
  font-size: 11px;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  padding: 0 4px;
  position: absolute;
  pointer-events: none;
    right: 10px;
    bottom: 10px;
    z-index: -1;

  &.in {
    display: block;
    z-index: 1;
  }
}

// inline editing
form.inline {
  margin-bottom: 1px;
  position: relative;

  > span {
    color: $gray-dark;
    font-size: 16px;
    line-height: 34px;
    position: absolute;
      left: 10px;
  }

  > input {
    -webkit-appearance: none;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: 0 1px 0 rgba(0,0,0,.1), 0 2px 0 #fff;
    color: $gray-darker;
    height: 36px;
    line-height: 36px;
    outline: none;
    padding: 0 15px 0 35px;
    width: 100%;

    &:hover {
      background: #fff;
      cursor: pointer;
    }

    &:focus {
      background: #fff;
      border-color: $orange;
      cursor: text;
    }

    &[disabled],
    &[disabled]:hover {
      background: transparent;
      cursor: text;
      opacity: 1;
      -webkit-text-fill-color: $gray-darker;
    }
  }

  .menu {
    position: absolute;
      top: 0;
      right: 0;

    > a {
      color: $gray-dark;
      padding: 11px;
    }

    > ul {
      margin-top: 0;
      min-width: 190px;

      .glyphicons {
        font-size: 10px;
        top: 12px;

        @include media(xs) {
          top: 20px;
        }
      }
    }
  }
}