// .guide
.guide {
  background: rgba($blue,.1);
  border: 2px dashed rgba($blue,.2);
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  margin: 9px 6px 15px;
  padding: 14px;
  position: relative;

  > .iconnables {
    float: left;
    margin: 0 9px;
  }

  &.guide-no-help {
    cursor: default;

    &:hover,
    &:active,
    &.active {
      background: rgba($blue,.1);
      border-color: rgba($blue,.2);
    }
  }
}

.guide-text {
  padding-right: 12px;
}

// getting started guide
.guide-backdrop::after {
  background: rgba($black,.3);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $z-guide;
}