.header {
  background: $purple;
  height: 60px;
  padding: 9px 6px;
  width: 100vw;

  .header-container {
    margin: 0 auto;
    max-width: 960px;
  }

  // logo
  .logo {
    float: left;
    height: 45px;
    margin-left: -33px;
  }

  // header button styles
  .btn {
    color: $white;
    float: right;
    line-height: 38px;
    padding: 0 9px;
    text-align: left;
    text-decoration: none;
    width: auto;

    .gravatar {
      float: left;
      margin-right: 6px;
      margin-top: 9px;
    }
  }

  // title
  .h2 {
    color: $white;
    left: 0;
    line-height: 40px;
    margin: 0 auto;
    max-width: 210px;
    position: absolute;
    right: 0;
    text-align: center;
  }
}