.header {
  background: $purple-light;
  height: 60px;
  padding: 7px 15px 6px; // 7px + 6px = 15px (60px - 45px)

  // header button styles
  .btn-group {
    left: 0;
    margin: 5px auto;
    position: absolute;
    right: 0;
    width: 270px;

    > .btn {
      width: 135px;
    }

    .iconnables {
      float: left;
      height: 100%;
      margin-right: 6px;
      width: 18px;
    }
  }

  .btn-accounts {
    border-color: transparent;
    float: right;
    margin: 5px 0;
    padding: 0 27px 0 12px;
    position: relative;

    @include media(sm) {
      .span {
        display: none;
      }
    }

    &:hover {
      background: transparent;
    }

    &:active,
    &.active {
      background: $white;
    }

    .gravatar {
      float: left;
      margin-right: 6px;
      margin-top: 5px;

      @include retina() {
        border: 1px solid $white;
      }
    }
  }

  // title
  .h2 {
    color: $white;
    left: 0;
    line-height: 40px;
    margin: 0 auto;
    max-width: 210px;
    position: absolute;
    right: 0;
    text-align: center;
  }
}