.header {
  background: $purple-light;
  border-bottom: 1px solid $purple;
  height: 60px;
  padding: 0 15px;

  // layout
  .logo,
  .btn-group,
  .btn-accounts {
    top: 12px;
  }

  // logo
  .logo {
    height: $input-sm; // center
    left: 15px;
    position: absolute;
  }

  // btn-group
  .btn-group {
    display: table;
    margin: 0 auto;
    overflow: hidden;

    > .btn {
      height: $input-line-height-md;
      line-height: $input-line-height-md - ($input-border*2);
      width: 135px;

      &.active {
        @extend %no-touching;
      }
    }

    .iconnables {
      float: left;
      height: 100%;
      margin-right: 6px;
      opacity: .75;
      width: 18px;
    }
  }

  // accounts (custom .btn.purple)
  .btn-accounts {
    background: transparent;
    border-color: transparent;
    position: absolute;
    right: 15px;

    @include media(sm) {
      .span {
        display: none;
      }
    }

    &:hover,
    &:active,
    &.active {
      background: transparent;
      color: $white;
    }

    .gravatar {
      float: left;
      margin-right: 7px;
      margin-top: 5px;

      @include retina() {
        border: 1px solid $white;
      }

      @include media(sm) {
        margin-right: 3px;
      }
    }
  }
}