.header {
  background: $purple;
  height: 60px;
  padding: 6px;
  width: 100vw;

  .header-container {
    margin: 0 auto;
    max-width: 960px;
  }

  // logo
  .header-logo {
    height: 30px;
    margin-left: 15px;
    width: 30px;

    .svg {
      fill: $purple-logo;
      height: 100%;
      width: 100%;
    }
  }

  // title
  .h2 {
    color: $white;
    font-size: 24px;
    height: 60px;
    left: 0;
    line-height: 60px;
    position: absolute;
    right: 0;
    text-align: center;
  }

  // menu
  .btn-account {
    color: $white;
    float: right;
    font-weight: 500;
    padding: 0 9px;
    text-align: left;
    width: auto;

    &.no-touching > .icons-arrow-down {
      transform: scale3d(0,0,0);
    }

    .gravatar {
      float: left;
      margin-right: 6px;
      margin-top: 12px;
    }
  }
}