// help things
.help {
  background: $blue-lighter;
  border: 1px solid $blue-light;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba($blue,.2);
  color: rgba($blue,.8);

  b {
    font-weight: 500;
    color: $blue;
  }

  // alert help things
  // overwrite current alerts :(
  &.alert {
    animation: alert-help .3s ease-in forwards;
    border-width: 2px;
    bottom: 15px;
    height: 36px;
    left: 0;
    line-height: 32px;
    margin: 0 auto;
    min-width: 0;
    padding: 0 15px;
    right: 0;
    width: 290px;

    // anchor icon
    .iconnables {
      float: left;
      height: 100%;
      margin-right: 6px;
    }
  }
}

.help-step-container {
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;

  &.undocked{
    position: fixed;
    top: 10px;
  }
}

.help-step-item {
  margin: 0 auto;
  padding: 0 24px;
  display: inline-block;
  height: 45px;
  line-height: 45px; // testing
}

.help-badge {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: $blue;
  color: $white;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  line-height: 18px;
  position: absolute;
  top: -9px;
  right: -9px;
}