// help things
.help {

  // alert help things
  // overwrite current alerts :(
  &.alert {
    background: $blue-lighter;
    border: 2px solid $blue-light;
    border-radius: 3px;
    bottom: 15px;
    box-shadow: 0 2px 3px rgba($blue,.2);
    color: $blue;
    height: 36px;
    left: 0;
    line-height: 32px;
    margin: 0 auto;
    min-width: 0;
    padding: 0 15px;
    right: 0;
    width: 290px;

    // anchor icon
    .iconnables {
      float: left;
      height: 100%;
      margin-right: 6px;
    }
  }
}