// blue stlye for all help things
.help.help {
  background: $blue-lighter;
  border: 1px solid $blue-light;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba($blue,.25);
  color: rgba($blue,.8);

  // alert help things
  // overwrite current alerts :(
  &.alert {
    animation: alert-help .3s ease-in forwards;
    border-width: 2px;
    bottom: 15px;
    height: 36px;
    left: 0;
    line-height: 32px;
    margin: 0 auto;
    min-width: 0;
    padding: 0 15px;
    right: 0;
    width: 290px;

    // anchor icon
    .iconnables {
      float: left;
      height: 100%;
      margin-right: 6px;
    }
  }

  // bolded text in serviceHelpCards.js
  // TODO: class this
  b {
    color: $blue;
  }
}

// .popover.help (in popover.scss) extends this class
.help-top-card {
  font-size: 15px;
  left: 75px;
  line-height: 18px;
  max-width: none; // overwrites max-width set in popover.scss
  padding-bottom: 26px;
  position: absolute;
  transition: none;
  width: 390px;
  z-index: 1; // TODO: variable-ize this

  // "more help" and "less help" buttons
  > .btn {
    background-color: $blue-lighter;
    border-top: 1px solid rgba($blue-light,.4);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    bottom: 0;
    font-size: 13px;
    font-weight: 500;
    height: 27px;
    left: 0;
    line-height: 18px;
    padding-bottom: 3px;
    position: absolute;
    width: 100%;

    &:hover {
      color: rgba($blue,.7);
    }

    &:active {
      color: $blue;
    }

    .iconnables {
      height: 15px;
      top: 4px;
      width: 15px;
    }
  }
}

.help-step-container {
  height: 60px;
  position: relative;
}

.help-step-item {
  display: inline-block;
  left: 0px;
  line-height: 21px; // testing
  margin-bottom: 15px;
  padding: 9px 24px;
  position: absolute;
  right: 0px;
  text-align: center;
  z-index: 1; // TODO: variable-ize this

  // on scroll class for sticking to top of window.
  &.undocked {
    position: fixed;
    top: 15px;
  }

  // .modal-form & {
  //   left: 0px;
  //   right: 0px;
  // }
}

// badge on help button
.help-badge {
  background: $blue;
  border-radius: 50%;
  color: $white;
  font-size: 12px;
  font-weight: 500;
  height: 18px;
  line-height: 18px;
  position: absolute;
  right: -9px;
  text-align: center;
  top: -9px;
  width: 18px;
}

.triggered-help-item {
  border-bottom: 1px solid rgba($blue-light,.4);
  color: rgba($blue,.8);
  font-size: 16px;
  line-height: 19px;
  padding: 10px 0 12px;
  position: relative;

  // "x" button for triggered help items
  .btn-icon {
    color: rgba($blue,.45);
    height: 24px;
    left: -9px;
    line-height: 1;
    position: absolute;
    top: 10px;
    width: 24px;

    &:hover {
      color: rgba($blue,.75);
    }

    &:active {
      color: $blue;
    }

    .iconnables {
      height: 18px;
      width: 18px;
    }
  }

  // text in triggered help items
  .p {
    float: left;
    margin-left: 18px;
    width: 230px;
  }

  // "show me" button
  .btn-sm {
    background-color: $white;
    border: 2px solid $blue;
    color: $blue;
    float: right;
    font-weight: 500;
    margin: 3px 3px 0 0;

    &:hover {
      border-color: rgba($blue,.7);
    }

    &:active {
      border-color: $blue;
    }
  }
}

.help-lists-wrapper {
  max-height: calc(100vh - 120px);
  overflow-y: auto;
  padding: 0 12px;
}

// TODO: consider making something global for this
.heavy {
  font-weight: 500;
  color: $blue;
}

.general-help-container {
  padding: 12px 18px;
  line-height: 27px;
}

.general-help-item {
  color: rgba($blue,.8);
  cursor: pointer;
  margin: 0 -30px;
  padding: 0 30px;

  &:hover {
    background-color: rgba($blue-light,.15);
  }

  &:active {
    background-color: rgba($blue-light,.25);
  }
}
