.arrow-down,
.arrow-left,
.arrow-right,
.arrow-up {
  display: block;
  position: absolute;
}

.arrow-down {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid rgba(0,0,0,.1);
}

.arrow-left {
  border-bottom: 6px solid rgba(0,0,0,.1);
  border-right: 6px solid rgba(0,0,0,.1);
  border-top: 4px solid transparent;
}

.arrow-right {
  border-bottom: 4px solid transparent;
  border-left: 6px solid rgba(0,0,0,.1);
  border-top: 4px solid transparent;
}

.arrow-up {
  border-bottom: 6px solid rgba(0,0,0,.1);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

// iconnables
.iconnables {
  display: inline-block;
  height: 24px;
  margin: 0;
  pointer-events: none;
  position: relative;
  transition: transform .15s;
  width: 24px;

  &.iconnables-lg {
    height: 30px;
    width: 30px;
  }

  &.filetypes {
    height: 14px;
    margin-right: 3px;
    top: 3px;
    width: 14px;
  }

  // icons with fill
  &.icons-add,
  &.icons-arrow-back,
  &.icons-arrow-down,
  &.icons-branch,
  &.icons-check,
  &.icons-close,
  &.icons-commit,
  &.icons-docker,
  &.icons-edit,
  &.icons-folder-open,
  &.icons-fork,
  &.icons-flask,
  &.icons-gear,
  &.icons-git,
  &.icons-link,
  &.icons-logs,
  &.icons-minimize,
  &.icons-nodejs,
  &.icons-octocat,
  &.icons-private,
  &.icons-pull-request,
  &.icons-python,
  &.icons-rails,
  &.icons-repository,
  &.icons-repository-add,
  &.icons-ruby,
  &.icons-run,
  &.icons-runnable,
  &.icons-search,
  &.icons-server,
  &.icons-sidebar,
  &.icons-star,
  &.icons-terminal,
  &.icons-trash,
  &.icons-update,
  &.icons-web {
    fill: currentColor;
    stroke: none;
  }

  // icons with stroke
  &.icons-file,
  &.icons-file-open,
  &.icons-folder {
    fill: none;
    stroke: currentColor;
  }
}

// circle-pass/fail
.circle-pass,
.circle-fail {
  border: 1px solid $green;
  border-radius: 50%;
  display: inline-block;
  height: 16px;
  width: 16px;
}

.circle-pass {
  border-color: $green;
}

.circle-fail {
  border-color: $orange;
}

// status
.icons-status {
  background: $gray-lightest;
  border: 1px solid $gray-lighter;
  border-radius: 50%;
  display: inline-block;
  height: 9px;
  position: relative;
  width: 9px;

  &.running,
  .running & {
    background: $green;
    border: 0;

    &.in-progress::before {
      border-color: $green;
    }
  }

  &.building,
  .building & {
    background: $orange;
    border: 0;

    &.in-progress::before {
      border-color: $orange;
    }
  }

  &.in-progress::before {
    animation: in-progress 2s infinite ease;
    background: $white;
    border: 2px solid transparent;
    border-radius: 50%;
    content: '';
    display: block;
    height: 17px;
    left: 4px;
    position: absolute;
    top: 2px;
    transform: scale3d(.3,.3,.3);
    width: 17px;
  }
}
