.arrow-down,
.arrow-left,
.arrow-right,
.arrow-up {
  display: block;
  position: absolute;
}

.arrow-down {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid rgba(0,0,0,.1);
}

.arrow-left {
  border-bottom: 6px solid rgba(0,0,0,.1);
  border-right: 6px solid rgba(0,0,0,.1);
  border-top: 4px solid transparent;
}

.arrow-right {
  border-bottom: 4px solid transparent;
  border-left: 6px solid rgba(0,0,0,.1);
  border-top: 4px solid transparent;
}

.arrow-up {
  border-bottom: 6px solid rgba(0,0,0,.1);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

// iconnables
.iconnables {
  display: block;
  height: 30px;
  margin: 0 auto;
  pointer-events: none;
  position: relative;
  width: 30px;

  &.filetypes {
    height: 14px;
    width: 14px;
  }
}