.arrow-down,
.arrow-left,
.arrow-right,
.arrow-up {
  display: block;
  position: absolute;
}

.arrow-down,
%arrow-down, {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid rgba($black,.1);
}

.arrow-left,
%arrow-left {
  border-bottom: 6px solid rgba($black,.1);
  border-right: 6px solid rgba($black,.1);
  border-top: 4px solid transparent;
}

.arrow-right,
%arrow-right {
  border-bottom: 4px solid transparent;
  border-left: 6px solid rgba($black,.1);
  border-top: 4px solid transparent;
}

.arrow-up,
%arrow-up {
  border-bottom: 6px solid rgba($black,.1);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

// iconnables
.iconnables {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  pointer-events: none;
  position: relative;
  stroke: none;
  transition: transform .15s;
  width: 24px;

  &.iconnables-lg {
    height: 30px;
    width: 30px;
  }

  &.filetypes {
    height: 18px;
    top: 4px;
    width: 18px;
  }

  // flip
  &.icons-arrow-forward {
    transform: rotate(-90deg);
  }

  &.icons-arrow-backward {
    transform: rotate(90deg);
  }

  &.icons-file-tree {
    color: $gray;
  }
}

// round
.icons-round {
  background: currentColor;
  border-radius: 50%;
  fill: $white; // fill instead of color so background can be currentColor

  .green & {
    fill: $green;
  }

  .orange & {
    fill: $orange-light;
  }

  .purple & {
    fill: $purple-light;
  }

  .red & {
    fill: $red;
  }
}

// .icons-round in light-colored buttons
.btn.gray,
.btn.white {

  .icons-round {
    background: $gray-light;
    fill: $white;
  }

  &:active .icons-round,
  &.active .icons-round {
    background: currentColor;
  }
}

// fat check
.icons-fat-check {
  background: $gray-light;
  border-radius: 50%;
  color: $white;
  max-height: 15px;
  max-width: 15px;

  &.active {
    background: $green;
  }
}

// status
.icons-status {
  background: $gray-light;
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 9px;
  opacity: .75;
  position: relative;
  width: 9px;

  &.green,
  &.running,
  .running > & {
    background: $green;
  }

  &.orange,
  &.building,
  .building > & {
    background: $orange;
  }

  &.red,
  &.failed,
  .failed > & {
    background: $red;
  }

  .red & {

    &.icons-status.failed {
      border: 0;
      opacity: 1;

      &::before {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALNJREFUeNrs2F0KgCAQBGDpBN7/xSPtkeyHIohS2x1zDBeCHmr6otI150b1XDFGv2whnrXu+2b5l4OPEgRqx8hNfkid9FQmVAKzlQakRuUwOVBAokowuUdWElCEgmUhgpA3Zg6EYyzB1TCaC1THKFD1MS9R32AAKDzGgKqHUaBUmOkP/ZL0+v5QfmHNxiBhG6U91TxGOdNT9kKU3SI0i7HJp1sG0S0U6ZbSXD8bRvVQswADAO6f1v6K4GdiAAAAAElFTkSuQmCC);
      }
    }
  }

  &.passed,
  &.failed {
    background: transparent;
    border: 0;
    overflow: visible;

    &::before {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  &.passed::before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAJ1BMVEUAAAA8y1o8y1o8y1o8y1o8y1o8y1o8y1o8y1o8y1o8y1o8y1o8y1rOT9yqAAAADHRSTlMAECAwQGCPr7/P3+9mRpalAAAAUUlEQVR4AbXJQQ6AMBBC0amK2sr9z2vckBRnlmVF3o/Fa0DunTwL51M4r8J7q32/OzKP7yHxGFSZPECVyVV+ruKuMtxV3FXcVcxVzLXtiFV7AaM9BeHkJY25AAAAAElFTkSuQmCC);
  }

  &.failed::before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAElBMVEUAAADyUFjyUFjyUFjyUFjyUFj0mAoEAAAABXRSTlMAQFBggL2GmLsAAABbSURBVHjanZFJCgAgDANNl/9/WRFKSiUXPXUyaLWur2WBjihEZjpzP2i3iixTeUbtoPEL6OCj7MhiGObDMH8McxrmWuijdHN9Xf1APRI9RD12exti/GWhrZ+1AXpUA9EIzIHXAAAAAElFTkSuQmCC);
  }

  &.complete {
    background-color: transparent;
    border: 1px solid $gray-light;
  }
}

.icons-gear {
  color: $gray-light;
}

// intercom icon
.icons-intercom {
  position: relative;

  &::after {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAQAAAC0jZKKAAABnklEQVR4AdXOP2gUdgDF8acnElQSEOuSbhUd1CEB0UDQQQiIZBNFUTDgkkEwgqPgqDgGgzjoEhd10kgG/4xOIbTQXKF0aEoqKMYhWXpG83EIx8ER5Jr73ZDP27+81Ok3rqpmo2qqxvXJ2iKi26RVJayatKse7vGrkn73k0RMKe2lxGmdcCqe6YQn8V4nLMQ3nfA1OiRaUTPpogHHXfbUl1LhGftEY/vNlAjP6ZGm9ai2Hx4WUXHVC89dEhFD7Yd7RVxXd17EVp/bDY+KPT6oeyAiqu2GmbOoYUzElvYeN1t233YRRykVfmfANhFR8bpc+KSszU6PKRceFLHXmHnKh0dhk4SHRdwsH/7DGSMWi4frNlF4yi/6/VY+/LOI4fLhYyKuaFHUtOYfN9yypDX/xV864c+4pxPG45AVpa04GHFHabclouKRkh6qSKxtxL9KWDAiIlFfl3MmTHvjk/UsmfXqB5s24awuaYSb1+2tZnftkP+zWG8nNLDqmkiJ8GENNRekVLhP3bIhKRceBHx0RMqH/3ZAyoZ3mzerVza+70aAaX0tAGh+AAAAAElFTkSuQmCC');
    background-size: 14px 14px;
    content: '';
    display: inline-block;
    height: 14px;
    margin-left: 6px;
    position: relative;
    top: 4px;
    width: 14px;
  }
}
