.list-commits.list-commits { // override list-servers

  > .list-item {
    @extend %text-overflow;
    font-size: 15px;
    padding-left: 6px;
    padding-right: 6px;

    &:active,
    &.active {
      color: $purple-light;
    }

    &.multi-line {
      padding-right: 24px;
    }

    &.btn-block {
      border-color: $gray-lighter;
      height: 36px;
      line-height: 32px;
      padding-bottom: 0;
      padding-top: 0;
      text-align: center;

      &:active {
        border-color: currentColor;
      }
    }

    // spinner
    .spinner-wrapper {
      right: 9px;
      top: 18px;
    }
  }

  // commit details (author, date, SHA)
  .toggle-group-detail {
    display: flex;

    .small {
      color: $gray;

      &:last-child {
        margin-left: 9px;
      }

      &:first-child {
        flex: 1 1 auto;
      }
    }
  }
}