// tem list
.list-teammates {
  background: $white;
  margin: 18px 0 3px;

  .list-item {
    color: $gray-dark;
    height: 57px; // 27px gravatar + (15px padding * 2)
    padding: 8px 15px;
  }

  .gravatar {
    margin: 7px 0;
  }

  .username {
    font-weight: $weight-bold;
    transition: margin-top .15s;
  }

  // email address
  .small {
    color: $gray;
    transition: opacity .15s;
  }

  // username and email
  .text-overflow {
    padding: 0 30px 0 9px;
  }
}
