// team list
.list-teammates {
  flex: 0 0 auto;

  .list-item {
    height: 57px; // 27px gravatar + (15px padding * 2)
    overflow: hidden;
    padding: 8px 15px;
    position: relative;
    transition: height .15s, padding .15s;

    &.active {
      cursor: auto;
      height: 107px;

      .username {
        margin-top: 9px;
      }

      // not using ng-hide because this element affects layout
      .small {
        opacity: 0;
        pointer-events: none;
      }
    }

    // close icon
    .icons-close {
      color: $gray-light;
      cursor: pointer;
      pointer-events: auto; // reset from .iconnables
      position: absolute;
      right: 15px;
      top: 15px;

      &:hover {
        color: $red;
      }

      &:active {
        color: $red-dark;
      }
    }

    .btn-wrapper {
      position: absolute;
      right: 14px;
      top: 16px;

      // invite and send buttons
      .btn-xs:not(.float-right) {
        min-width: 50px;
      }
    }
  }

  .username {
    transition: margin-top .15s;
  }

  .gravatar {
    margin: 7px 0;
  }

  // email address
  .small {
    color: $gray;
    transition: opacity .15s;
  }

  // username and email
  .text-overflow {
    padding: 0 30px 0 9px;
  }

  // transition for invitation details
  .js-animate {
    transition: opacity .15s;
  }

  .ng-hide {
    opacity: 0;
  }
}
