// line between items
.list-divided {

  .list-item {
    margin-top: 1px;
  }

  .list-item + .list-item::after {
    background: rgba($black,.1);
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: -1px;
    width: 100%;
  }
}

// bordered list
.list-bordered {
  border: 1px solid rgba($black,.1);
  border-radius: 3px;
}

// .list-item-link {
.list-item-link {
  cursor: pointer;

  &:hover {
    background: rgba($blue,.1);
    border-color: rgba($blue,.2);
  }

  &:active {
    background: rgba($blue,.15);
    border-color: rgba($blue,.3);
  }
}

// .list-validation
.list-validation {
  border-color: rgba($orange-dark,.75);
  margin: 0 6px;

  .list-item {
    border: 0;
    font-size: 14px;
    letter-spacing: -.5px;
    padding: 3px 6px;
    white-space: nowrap;

    + .list-item {
      border-top: 1px solid rgba($orange-dark,.75);
    }
  }
}

// li.list-details
.list-details {
  margin: 0 6px;

  .label-checkbox {
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    margin: 9px 0 0;
    padding: 0 9px;
    text-align: left;
  }

  .input-checkbox {
    margin: 0 9px 0 0;
  }

  .small {
    color: $gray-light;
  }
}

// empty state
.list-empty {
  color: $gray-lighter;
  padding: 15px 0;
  text-align: center;
}

.list-item {
  position: relative;

  // header
  &.small {
    color: $gray-light;
    cursor: default;
    font-size: 13px;
    pointer-events: none;

    &:hover,
    &:active {
      background: none !important;
      border-color: transparent !important;
    }
  }

  // info
  &.list-info {
    color: $gray-light;
    cursor: default;
    font-size: 13px;

    &:hover,
    &:active {
      background: none !important;
      border-color: transparent !important;
    }
  }

  // buttons
  > .btn-sm {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  > .btn-xs {
    position: absolute;
    right: 15px;
    top: 6px;
  }

  > .btn-xxs {
    margin-right: 6px;
  }

  // icon wrapper
  > .btn-icon {
    background: $white;
    border: 1px solid $gray-lighter;
    border-radius: 50%;
    color: $gray-light;
    padding: 0;
    transition: none;
    width: 24px;

    &.active {
      background: $green;
      border-color: $green;
      color: $white;
    }
  }

  // gravatar
  .gravatar {
    float: left;
    margin: 18px 9px 0 2px;
  }

  // upload
  .input-upload {
    cursor: pointer;
    height: 36px;
    left: 0;
    opacity: 0;
    position: absolute;
    text-indent: -9999px; // Hack to get the button to move underneath the fold. We can't style it directly because browsers are silly.
  }

}

// links
// a.list-link
.list-link {
  color: currentColor;
  display: block;
  text-decoration: none;
}

// checkboxes
.list {

  // default state
  .input-checkbox {
    display: none;

    + .label-checkbox {

      .iconnables {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        transform: scale3d(0,0,0);
        transition: transform .3s ease-in;
        width: 100%;
      }

      .icons-add {
        color: $gray-lighter;
        transform: scale3d(1,1,1);
        transition: none;
      }
    }
  }

  // active states
  .input-checkbox:checked + .label-checkbox {

    .btn-xs {
      background: $green;
      border-color: $green;
    }

    .icons-add {
      transform: scale3d(0,0,0);
    }

    .icons-check,
    .icons-link {
      transform: scale3d(1,1,1);
    }
  }
}

// nested
.list-nested {
  cursor: default;
  margin: 0 -15px;
  padding: 0 15px;

  .list-item {
    font-size: 15px;
    height: 36px;
    line-height: 36px;

    &.small {
      border-top: 1px solid rgba($purple-light,.2);
      font-size: 13px;
      margin-top: 6px;
      padding-top: 3px;
    }

    // anchor
    > .iconnables {
      background: $purple-lightest;
      border: 1px solid rgba($purple-light,.6);
      border-radius: 50%;
      margin-right: 9px;
      padding: 1px;
      top: 6px;
    }
  }

  // toggle
  .btn-check {
    right: 0;
    top: 6px;
  }
}