.list-tests {

  .header {
    border-bottom: 1px solid $gray-lighter;
    padding: $xxs $sm $sm;
  }

  // list of tests
  .list {

    .list-item {
      border: 1px solid transparent;
      border-radius: $input-border-radius;
      cursor: pointer;
      height: $input-lg;
      padding: 0 $sm;

      &:hover:not(.disabled) {
        background: $gray-lighterest;
        border-color: $gray-lighter;
      }

      &:active:not(.disabled),
      &.active {
        background: $white;
        border-color: currentColor;
        color: $green;
      }

      // loading state
      &.disabled {
        cursor: not-allowed;

        &:not(.active) {
          opacity: .5;
        }
      }

      + .list-item {
        margin-top: $xxs;
      }
    }

    .btn-add {
      border-radius: 50%;
      padding: 0;
      width: 24px;
    }

    .icons-status {
      height: 12px;
      margin-right: 6px;
      width: 12px;
    }

    .small {
      color: currentColor;
      opacity: .75;
    }
  }
}
