// bordered list with line between items
.list-bordered {
  background: $white;
  border: 1px solid $gray-lighter;
  border-radius: $input-border-radius-lg;

  .list-item {

    &:first-child {
      border-radius: $input-border-radius-lg $input-border-radius-lg 0 0;
    }

    &:last-child {
      border-radius: 0 0 $input-border-radius-lg $input-border-radius-lg;
    }

    &:only-child {
      border-radius: $input-border-radius-lg;
    }

    + .list-item {
      border-top: 1px solid $gray-lighter;
    }
  }

  // divider
  .divider {
    background: $gray-lightest;
    border-bottom: 1px solid $gray-lighter;
    border-top: 1px solid $gray-lighter;
    height: 7px;
  }
}

// li.list-details
.list-details {
  margin: 0 6px;

  .label-checkbox {
    display: inline-block;
    font-size: 13px;
    font-weight: $weight-normal;
    margin: 9px 0 0;
    padding: 0 9px;
    text-align: left;
  }

  .input-checkbox {
    margin: 0 9px 0 0;
  }

  .small {
    color: $gray-light;
  }
}

// empty state
.list-empty {
  color: $gray-lighter;
  padding: 15px 0;
  text-align: center;
}

.list-item {
  position: relative;

  &:active:not(.disabled) .btn-add,
  &.active .btn-add {
    @extend %green;
    color: $white;

    .iconnables {
      color: $white;
    }
  }

  &.active.disabled .btn-add {
    pointer-events: none;
  }

  // header
  &.small {
    color: $gray-light;
    cursor: default;
    font-size: 13px;
    pointer-events: none;
  }

  &.multi-line {
    height: auto;
    line-height: 1.4;
    min-height: 36px;
    padding: 6px 9px;
    white-space: normal;

    &.list-info {
      font-size: 14px;
      padding: 9px;

      .iconnables {
        height: 18px;
      }

      .row {
        height: 18px;
        line-height: 18px;

        + .row {
          margin-top: 9px;
        }
      }
    }

    .small {
      display: block;
      opacity: .6;
    }

    .input-checkbox {
      height: 24px;
      margin-left: 2px;
      margin-right: 7px;

      + .small {
        margin-left: 27px;
      }
    }
  }

  // gravatar
  > .gravatar {
    float: left;
    margin: 18px 9px 0 2px;
  }

  // upload
  [type="file"] {
    cursor: pointer;
    height: 36px;
    left: 0;
    opacity: 0;
    position: absolute;
  }
}

// links
// a.list-link
.list-link {
  color: currentColor;
  display: block;
  text-decoration: none;
}

// checkboxes
.list {

  // default state
  .input-checkbox {
    // display: none;

    + .label-checkbox {

      .iconnables {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        transform: scale3d(0,0,0);
        transition: transform .3s ease-in;
        width: 100%;
      }

      .icons-add {
        color: $gray-lighter;
        transform: scale3d(1,1,1);
        transition: none;
      }
    }
  }

  // active states
  .input-checkbox:checked + .label-checkbox {

    .btn-xs {
      background: $purple-light;
      border-color: $purple-light;
    }

    .icons-add {
      transform: scale3d(0,0,0);
    }

    .icons-check {
      transform: scale3d(1,1,1);
    }
  }
}

// bulleted lists
.list-bulleted .list-item {
  padding-left: 15px;
  position: relative;

  &::after {
    background: $gray-lighter;
    border-radius: 50%;
    content: '';
    display: block;
    height: 5px;
    left: 3px;
    position: absolute;
    top: 7px;
    width: 5px;
  }

  &.error::after {
    background: $orange;
  }

  .iconnables {
    height: 12px;
    margin: 0 3px 0 5px;
    top: 2px;
    width: 12px;
  }
}

// bordered-list item states
.list-actions {
  display: flex;
  flex-direction: column;

  .list-item {
    border: $input-border solid transparent;
    border-radius: $input-border-radius;
    cursor: pointer;
    height: $input-lg;
    padding: 0 $sm;

    &:hover:not(.disabled) {
      background-color: $gray-lighterest;
      border-color: rgba($gray-lighter,.6);
    }

    &:active:not(.disabled),
    &.active {
      background-color: lighten($purple-lightest,4);
      border-color: rgba($purple-light,.1);
      color: $purple-light;

      > .iconnables {
        color: currentColor;
      }
    }

    // loading state
    &.disabled {
      cursor: not-allowed;

      &:not(.active) {
        opacity: .5;
      }
    }

    + .list-item {
      margin-top: $xxs;
    }

    // add icon
    .btn-icon {
      border-radius: 50%;
      padding: 0;
      width: $input-xs;
    }

    // add button
    .btn-add:not(.btn-icon) {
      padding: 0 6px;
      width: auto;
    }

    .small {
      color: currentColor;
      opacity: .75;
    }

    // test status
    .icons-status {
      height: 12px;
      margin-right: 6px;
      width: 12px;
    }

    // spinner
    .spinner-wrapper {
      padding: 4px;
    }
  }
}
