// spinner
.overlay-loader {
  background: rgba(0,0,0,.85);
  height: 100%;
  opacity: 0;
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-hide;
  transition: opacity .2s ease-in-out;
  width: 100%;

  &.loading {
    opacity: 1;
    z-index: $z-show;

    .loader {
      display: block;
    }
  }
}

// spinner
// http://tobiasahlin.com/spinkit/
.loader {
  animation: rotate 2s infinite linear;
  display: none;
  height: 108px;
  margin: -108px auto 0;
  position: relative;
    top: 50%;
  width: 108px;


  > div {
    animation: spin 2s infinite ease-in;
    background-color: rgba(255,255,255,.5);
    border-radius: 50%;
    display: inline-block;
    height: 60%;
    position: absolute;
    top: 0;
    width: 60%;

    &:nth-child(2) {
      animation-delay: -1s;
      bottom: 0;
      top: auto;
    }
  }
}

// spinner on output
#output-results-container {

  .loader {
    display: block;
    top: 40%;
  }

  .loader-text {
    margin-top: 40px;
    top: 40%;
  }
}

// loaders with text
.with-text {

  > .loader {
    top: 25%;
  }

  > .loader-text {
    position: relative;
      top: calc(25% + 108px);
  }

  h1,
  a,
  p {
    text-align: center;
  }

  h1 {
    color: darken($gray,10%);
    margin-bottom: 20px;
    transform: translate3d(0, -175%, 0);
  }

  a {
    color: $gray-dark;
    cursor: pointer;
    display: table;
    font-size: 14px;
    margin: 0 auto;

    &:hover {
      color: darken($gray,10%);
      text-decoration: none;
    }
  }

  p {
    color: darken($gray,10%);
    display: block;
    font-size: 20px;
    margin: 0 auto;
  }

  button {
    display: block;
    margin: 20px auto;
  }

  // if there are steps
  .progress-steps {

    h1,
    p {
      color: darken($gray,10%);
      opacity: 0;
    }

    h1 {
      position: absolute;
        right: 0;
        left: 0;
      transform: translate3d(0,-300%,0);
      transition: all 1.5s 50ms;

      &.in {
        opacity: 1;
        transform: translate3d(0,-175%,0);
      }

      &.out {
        opacity: 0;
        transform: translate3d(0,0,0);
      }
    }

    p {
      animation: dropIn .5s forwards 1s ease-in-out;
      transform: translate3d(0,-100%,0);
    }

    a {
      animation: dropIn .5s forwards 15s ease-in-out;
      opacity: 0;
      transform: translate3d(0,-100%,-1px);
      transition: none;
    }
  }
}

// build loader
#output-results-container h1 {
  color: $gray-dark;
  margin: 0;
  text-shadow: none;
}

// rebuild-loader
#rebuild-loader {
  background: rgba(0,0,0,.85);
  height: 100%;
  opacity: 0;
  position: absolute;
    left: 0;
    top: 0;
    z-index: $z-hide;
  transition: opacity .2s ease-in-out;
  width: 100%;

  #project.out & {
    opacity: 1;
    z-index: $z-show;

    .loader {
      display: block;
    }
  }

  > div {
    cursor: pointer;
    height: 54px;
    margin: 0 auto;
    position: absolute;
      right: 0;
      bottom: 45px;
      left: 0;
    width: 54px;

    > .loader {
      height: 54px;
      margin-top: -27px;
      transition: opacity .2s;
      width: 54px;

      > div {
        background: #fff;
      }
    }

    > a {
      background: #fff;
      border-radius: 50%;
      color: #000;
      cursor: pointer;
      display: block;
      height: 70px;
      line-height: 70px;
      margin: -35px 0 0 -9px;
      transform: scale3d(0,0,1);
      transition: transform .25s .1s;
      width: 70px;
    }

    &:hover {

      > .loader {
        opacity: 0;
      }

      a {
        transform: scale3d(1,1,1);
      }
    }
  }

  > pre {
    background: transparent;
    color: #fff;
    margin: 0 auto;
    max-height: calc(100% - 171px);
    max-width: 80%;
    overflow-y: scroll;
    top: 30px;

    @include media(xs) {
      margin: 0 15px;
      max-width: 100%;
    }
  }
}