.logo {
  color: $white;
  display: block;
  position: relative;
  user-select: none;
  z-index: $z-show;

  svg {
    display: block;
    height: 100%;
    margin: 0 auto;
    width: 240px;

    @include media(xs) {
      width: 200px;
    }
  }
}

#logo-icon {
  fill: currentColor;
}