.logo {
  color: $white;
  display: block;
  position: relative;
  user-select: none;

  &.logo-alt {
    color: $gray-lighter;
  }

  svg {
    display: block;
    fill: currentColor;
    height: 100%;
    margin: 0 auto;
    width: 240px;

    @include media(xxs) {
      width: 210px;
    }
  }

  &.logo-icon {

    svg {
      width: 100%;
    }
  }
}