// scss-lint:disable ColorVariable
.logs-runnable-dark,
.logs-runnable-light {

  .code-bold {
    font-weight: bold;
  }

  .code-dim {
    opacity: .5;
  }

  .code-underline {
    text-decoration: underline;
  }

  // blinking animation
  .code-blink {
    animation: logs-blink 1s infinite;

    // dim blinking animation
    &.code-dim {
      animation-name: logs-dim-blink;
    }
  }

  .code-hidden {
    visibility: hidden;
  }

  // override color for background colors
  [class^='code-bg'] {
    color: $white;
  }
}

// dark theme
.logs-runnable-dark {
  @include logs-runnable-color(dark);
  background: $ace-bg;
  color: $white;

  // elements
  .build-log {
    background: $purple-dark;
    border-color: $purple-darkest;

    // start state
    &:first-child > .build-log-header {
      color: $logs-runnable-dark-yellow;
    }

    // success state
    &.green {
      background: #44c25f;
    }

    // fail state
    &.red {
      background: $red;
      color: $white;
    }

    // error
    &.error {
      box-shadow: // bottom-right,top-right,bottom-left,top-left
      2px 2px 0 $logs-runnable-dark-red,
      2px -2px 0 $logs-runnable-dark-red,
      -2px 2px 0 $logs-runnable-dark-red,
      -2px -2px 0 $logs-runnable-dark-red;
    }
  }

  .build-log-header-state {
    color: $logs-runnable-dark-magenta;
  }

  .build-log-toggle {

    &.in .build-log-header {
      background: lighten($purple-dark,6%);

      &:hover:not(.in-progress) {
        background: lighten($purple-dark,9%);
      }

      &:active:not(.in-progress) {
        background: lighten($purple-dark,12%);
      }
    }

    .build-log-header {
      background: $purple-dark;
      border-color: $purple-darker;

      &:hover:not(.in-progress) {
        background: lighten($purple-dark,6%);
      }

      &:active:not(.in-progress) {
        background: lighten($purple-dark,9%);
      }

      &::before {
        border-top-color: $purple-lighter;
      }

      // arrow states
      &:hover,
      &:active {

        &::before {
          border-top-color: $purple-lightest;
        }
      }
    }

    .build-log-content {
      border-top: 1px solid $purple-darker;
    }
  }
}

// light theme
.logs-runnable-light {
  @include logs-runnable-color(light);
  background-color: $gray-lighterest;
  color: $gray-darker;

  // start state
  &:first-child > .build-log-header {
    color: $logs-runnable-light-yellow;
  }

  // success state
  &.green {
    background: #44c25f;
  }

  // fail state
  &.red {
    background: $red;
    color: $white;
  }

  // elements
  .build-log {
    background: rgba($white,.6);
    border-color: $gray-lighter;

    // error
    &.error {
      box-shadow: // bottom-right,top-right,bottom-left,top-left
      2px 2px 0 $logs-runnable-light-red,
      2px -2px 0 $logs-runnable-light-red,
      -2px 2px 0 $logs-runnable-light-red,
      -2px -2px 0 $logs-runnable-light-red;
    }
  }

  .build-log-toggle {

    .build-log-header {
      background: rgba($white,.75);
      border-color: $gray-lighter;

      &:hover:not(.in-progress) {
        background: rgba($white,.9);
      }

      &:active:not(.in-progress) {
        background: $white;
      }

      &::before {
        border-top-color: $gray-light;
      }

      // arrow states
      &:hover,
      &:active {

        &::before {
          border-top-color: $gray;
        }
      }
    }

    .build-log-content {
      border-top: 1px solid $gray-lighter;
    }
  }
}
