// *********************
// logs & terminal
// build logs: html (this file)
// cmd logs: termjs
// terminal: termjs
// *********************

// build log specific
.build-log-wrapper {
  overflow: auto;
  padding: 9px 9px 30px;
}

// per step
.build-log {
  background: #372345; // rgba($white,.03) on $ace-bg
  border: 1px solid $purple-darker;
  border-radius: $input-border-radius;
  max-height: 39px;
  min-height: 39px;
  overflow: hidden;
  position: relative;
  transition: max-height .3s ease-in-out;

  &.in {
    max-height: 9999px;
  }

  + .build-log {
    margin-top: 6px;
  }
}

// .build-log-header
.build-log-header {
  background: rgba($white,.03);
  height: 39px;

  // reduce padding of content if there's a header above it
  + .build-log-content {
    padding-top: 6px;
  }
}

.build-log-header,
.build-log-content {
  padding: 9px 9px 9px 24px;
}

// .build-log-header.build-log-toggle
.build-log-toggle {

  &.in::before {
    transform: rotate3d(0,0,1,0);
  }

  &::before {
    border-bottom: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid $white;
    content: '';
    display: block;
    left: 8px;
    position: absolute;
    top: 16px;
    transform: rotate3d(0,0,1,-90deg);
    transition: transform .25s ease-in-out;

    &:hover,
    &:active {
      border-top-color: $white;
    }
  }

  // toggleable .build-log-header
  .build-log-header {
    border-bottom: 1px solid $purple-darker;
    cursor: pointer;

    &:hover {
      background: rgba($white,.045);
    }

    &:active {
      background: rgba($white,.06);
    }
  }
}

// ***************************
// log themes
// reference for code- styles:
// http://misc.flogisoft.com/bash/tip_colors_and_formatting
// Not currently supported:
// - Reverse/inverted
// - Light colors (and background light colors)
// ***************************
.logs-runnable-dark,
.logs-runnable-light {

  .code-bold {
    font-weight: 600;
  }

  .code-dim {
    opacity: .5;
  }

  .code-underline {
    text-decoration: underline;
  }

  .code-blink {
    animation: logs-blink 1s infinite;

    &.code-dim {
      animation-name: logs-dim-blink;
    }
  }

  .code-hidden {
    visibility: hidden;
  }

  // background colors
  [class^='code-bg'] {
    color: $white;
  }
}

// dark theme
.logs-runnable-dark {
  background: $ace-bg;
  color: $white;

  @include logs-runnable-color(dark);
}

// light theme
.logs-runnable-light {
  background-color: $gray-lighterest;
  color: $gray-darker;

  @include logs-runnable-color(light);
}