// reference: http://misc.flogisoft.com/bash/tip_colors_and_formatting
// Not currently supported:
// - Reverse/inverted
// - Light colors (and background light colors)

.logs {
  counter-reset: step -1; // start at zero
  overflow: auto;
  padding: 9px;

  .pre {
    max-height: $terminal-line-height;
    overflow: hidden;
    padding-left: 30px;
    position: relative;

    // the first one doesn't count
    &:first-child::before {
      display: none;
    }

    // number
    &::before {
      content: counter(step);
      counter-increment: step;
      display: block;
      left: 0;
      position: absolute;
      top: 0;
    }

    &.in {
      max-height: none;
    }

    // toggle
    .icons-arrow-down {
      color: $purple-lightest;
      height: $terminal-line-height;
      left: 8px;
      pointer-events: auto;
      position: absolute;
      top: 0;

      &:hover,
      &:active {
        color: $white;
      }
    }
  }
}

.logs-runnable-dark,
.logs-runnable-light {

  .code-bold {
    font-weight: 600;
  }

  .code-dim {
    opacity: .5;
  }

  .code-underline {
    text-decoration: underline;
  }

  .code-blink {
    animation: logs-blink 1s infinite;

    &.code-dim {
      animation-name: logs-dim-blink;
    }
  }

  .code-hidden {
    visibility: hidden;
  }

  // background colors
  [class^='code-bg'] {
    color: $white;
  }
}

// dark theme
.logs-runnable-dark {
  background: $ace-bg;
  color: $white;

  @include logs-runnable-color(dark);
}

// light theme
.logs-runnable-light {
  background-color: $gray-lighterest;
  color: $gray-darker;

  @include logs-runnable-color(light);
}