// build log specific
.build-log-wrapper {
  overflow-y: auto;
  padding: 9px;
  width: 100%;
}

// wrapper per step
.build-log {
  border: 1px solid transparent;
  border-radius: $input-border-radius;
  min-height: 39px;
  overflow: hidden;
  position: relative;

  &:target {
    box-shadow: // bottom-right,top-right,bottom-left,top-left
      2px 2px 0 $purple-light,
      2px -2px 0 $purple-light,
      -2px 2px 0 $purple-light,
      -2px -2px 0 $purple-light;
  }

  &:last-child {
    margin-bottom: 30px;

    .modal-edit & {
      margin-bottom: 9px;
    }
  }

  &.in {
    height: auto;
  }

  + .build-log {
    margin-top: 6px;
  }
}

// .build-log-header
.build-log-header,
.build-log-content {
  overflow-x: auto;
}

.build-log-header {
  align-items: center;
  display: flex;
  height: 37px;
  overflow: hidden;
  padding: 0 6px 0 24px;
  position: absolute;
  width: 100%;
  z-index: 1;

  // for multiple fixed headers (pushes up)
  &.absolute {
    bottom: -1px;
  }

  // fixed
  &.fixed {
    border-bottom: 1px solid;
    position: fixed;
    top: 174px;
    z-index: 1;

    // if in modal
    .modal-edit & {
      top: 205px;
      width: calc(100% - 145px);
    }

    // if full-screen
    .full-screen & {
      top: $input-md;
      width: calc(100% - 51px);
    }
  }

  // text overflow
  .build-log-header-text {
    flex: 1 1 auto;
    margin-right: 6px;
    overflow-x: auto;
    padding: 0 6px;
    white-space: nowrap;
  }

  // cached state
  > .build-log-header-state {
    flex: 0 0 auto;
    padding: 0 6px;
  }

  // change padding if there's a header
  + .build-log-content {
    margin-top: 37px;
  }
}

// logs scroll horizontally
.build-log-content {
  padding: 9px 30px 0;
  word-wrap: normal;

  &.building {
    padding-bottom: 30px;
  }

  // when logs are over 1000 lines
  &.long {
    height: 500px;
  }

  &.ng-leave {
    overflow: hidden;
  }

  &.ng-leave-active {
    height: 0;
  }
}

// add .build-log-toggle to .build-log-header to indicate that you can toggle it
.build-log-toggle {

  &.in .build-log-header {
    border-radius: $input-border-radius $input-border-radius 0 0;

    &::before {
      transform: rotate3d(0,0,1,0); // rotate arrow
    }
  }

  // toggleable .build-log-header
  .build-log-header {
    border-radius: $input-border-radius;
    cursor: pointer;

    // arrow
    &::before {
      border-bottom: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 5px solid transparent;
      content: '';
      display: block;
      left: 12px;
      pointer-events: none;
      position: absolute;
      top: 16px;
      transform: rotate3d(0,0,1,-90deg);
      transform-origin: 4px 2px;
      transition: transform .1s ease-in-out;
    }

    // don't toggle if in progress
    &.in-progress {
      cursor: default;

      &::before {
        opacity: 0;
      }
    }
  }
}


// log spinner
.log-spinner {
  bottom: 21px;
  font-size: 16px;
  height: 24px;
  left: 30px;
  position: relative;
  width: 16px;

  .spinner-character {
    animation: fade-in-alt $spin-rate infinite;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;

    &:nth-child(2) {
      animation-delay: $spin-rate * .25;
    }

    &:nth-child(3) {
      animation-delay: $spin-rate * .5;
    }

    &:nth-child(4) {
      animation-delay: $spin-rate * .75;
    }
  }
}
