// main-controls
#main-controls {
  background: $gray-lighter;
  border-bottom: 1px solid rgba(0,0,0,.1);
  float: left;
  height: 54px;
  padding: 0 15px;
  position: relative;
  width: calc(100% - 270px);
  z-index: 1;

  > .btn-group,
  > button,
  > input,
  .slide-left > .btn-group,
  .slide-left > button,
  .slide-left > input {
    float: left;
    margin: 9px 9px 0 0;
  }

  .clean,
  .dirty {
    @extend .clearfix;
    position: absolute;
    transition: transform .2s;
    width: calc(100% - 540px);
    z-index: 1;

    > input {
      width: 270px;
    }

    &.in {
      z-index: $z-show;
    }
  }

  .dirty {
    top: 54px;
  }

  &.in {
    overflow: visible;

    .clean,
    .dirty {
      transform: translate3d(0,-54px,0);
    }
  }

  .btn-group {

    > a {
      margin-left: -1px;
      width: 30px;

      &.active > .iconnables {
        transform: rotate3d(0,0,1,180deg);
      }
    }

    .popover {
      color: $gray-dark;
      left: -124px;
    }
  }

  .btn-check {
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 300;
    padding: 0 9px;

    &:hover {
      border-color: rgba($black,.15);
    }

    &.disabled:hover {
      border-color: transparent;
      cursor: not-allowed;
    }
  }

  .form-checkbox {
    cursor: pointer;
    margin-right: 6px;
    position: relative;
    top: -1px;

    &[disabled] {
      cursor: default;
    }
  }
}

// instance save .out
.slide-left {
  transition: all .15s ease-in;

  &.slide-instance.out {
    transform: translate3d(-160px,0,0);
  }

  &.slide-save.out {
    transform: translate3d(-360px,0,0);
  }
}