 .modal {
  background: rgba($orange,.3);
  bottom: 0;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: none;
  z-index: $z-hide;

  &.in {
    display: flex;
    opacity: 1;
    pointer-events: auto;
    transition: opacity .3s;
    z-index: $z-modal;

    .modal-dialog {
      animation: modalIn .3s ease-in-out forwards;
    }

    .highlight::after {
      animation: scaleX .3s .2s forwards;
    }
  }
}

.modal-dialog {
  background: $gray-lighter;
  border-radius: 6px;
  box-shadow: 0 0 90px rgba($black,.3);
  margin: auto;
  max-width: 480px;
  min-width: 320px;
  position: relative;
  transform: scale3d(0,0,0);
  width: 30%;

  @include media(xs) {
    width: calc(100% - 30px);
  }
}

.modal-header {
  background: $orange;
  border-radius: 5px 5px 0 0;
  box-shadow: inset 0 1px 0 rgba($white,.3);
  color: $white;
  display: flex;
  height: 120px;
  justify-content: center;
  width: 100%;

  > svg {
    height: 50%;
    margin: auto;
    width: 50%;
  }
}

.modal-body {
  box-shadow: inset 0 1px 0 rgba($white,.2);
  color: $gray-dark;
  font-size: 21px;
  font-weight: 500;
  padding: 30px 0;
  position: relative;
  text-align: center;

  .highlight {
    font-style: normal;
    position: relative;

    &::after {
      background: $gray-dark;
      bottom: 0;
      content: '';
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      transform: scale3d(0,1,1);
      transform-origin: 0 0;
      transition: transform .3s 1s;
      width: 100%;
    }
  }
}

.modal-footer {
  display: flex;
  justify-content: center;
  padding: 0 15px 15px;

  button {
    margin: auto 6px;
  }
}
