// new user
.new-user-prompt {
  background: $purple-light-faded;
  border-bottom: 1px solid $gray-lighter;
  color: $purple-light;
  margin: -15px -15px 15px;
  overflow: visible;
  padding: 45px 30px 75px;
  position: relative;
  transition: all .3s ease-in-out;

  @include media(xxs) {
    padding-left: 0;
    padding-right: 0;
  }

  // button wrapper
  > .grid-block {
    display: table;
    margin: 0 auto;

    @include media(xxs) {
      flex-direction: row;
    }

    @include media(xxxs) {
      width: 188px;
    }
  }

  .btn {
    width: 60px;

    @include media(xxs) {
      &:nth-child(-n+2) {
        margin-bottom: 4px;
      }
    }

    @include media(xxxs) {
      font-size: 16px;
      height: $input-sm;
      line-height: $input-line-height-sm;
      margin-left: 2px;
      margin-right: 2px;
      margin-top: 0;
      width: 90px;
    }

    + .btn {
      margin-left: 6px;
      margin-top: 0;

      @include media(xxxs) {
        margin-left: 2px;
      }
    }
  }

  // runnabear
  .img {
    bottom: -7px;
    height: auto;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 120px;
  }

  .icons-close {
    color: $gray-light;
    cursor: pointer;
    height: $input-sm;
    pointer-events: auto; // reset from .iconnables
    position: absolute;
    right: 15px;
    top: 18px;
    width: $input-sm;

    @include media(xxs) {
      right: 6px;
      top: 6px;
    }

    &:hover {
      color: $red;
    }

    &:active {
      color: $red-dark;
    }
  }

  .h1 {
    font-size: 30px;
    line-height: 1.2;
    overflow: hidden;

    @include media(xxs) {
      font-size: 24px;
    }
  }

  .p {
    margin: 9px auto 15px;
    max-width: 481px;

    @include media(sm) {
      max-width: 330px;
    }

    @include media(xxs) {
      max-width: 270px;
    }
  }
}
