.notifcation {
  animation: alert .3s ease-in forwards;
  border-radius: 6px;
  bottom: 6px;
  box-shadow: 0 0 30px rgba($black,.12);
  max-width: 420px;
  min-width: 345px;
  padding: 15px;
  position: fixed;
  right: 6px;
  transition: all .15s ease-in;
  z-index: $z-alert;

  &:active {
    box-shadow: 0 0 30px rgba($black,.12);
  }

  // active styles for alerts
  &.orange {
    background: $orange;
  }

  &.green {
    background: $green;
  }

  // anchor image
  .gravatar {
    float: left;
    margin-right: 12px;
  }

  // title
  .h4 {
    font-size: 16px;
  }

  // link
  .link {
    color: $white;
    display: inline-block;
  }

  // buttons
  .orange {
    background: rgba($orange-dark,.75);
  }

  .green {
    background: rgba($green-dark,.75);
  }

  // close button
  .btn-close {
    float: right;
    padding: 0;
    width: 24px;

    .icons-close {
      top: 0;
    }
  }

  // success animation
  .btn-state {
    background: $white;
    border-radius: 50%;
    height: 19px;
    left: 9px;
    position: absolute;
    top: 36px;
    width: 19px;

    .iconnables {
      animation: scale-in-bounce .3s ease-in;
      height: 19px;
      top: -8px;
      width: 19px;
    }

    .icons-warning {
      color: $orange;
    }

    .icons-fat-check {
      color: $green;
      left: 0;
    }
  }

  // nag
  .p {
    border-top: 2px solid rgba($white,.3);
    font-size: 14px;
    margin-top: 12px;
    padding-top: 6px;

    .btn {
      margin-left: 3px;
    }
  }
}