.notification {
  position: fixed;
  z-index: $z-alert;

  // sizes
  &.notification-sm {
    border-radius: $input-border-radius;
    height: $input-sm;
    line-height: $input-sm;
    padding: 0 15px;
  }

  &.notification-md {
    border-radius: $input-border-radius;
    height: $input-md;
    line-height: $input-md;
    padding: 0 15px;
  }

  &.notification-lg {
    border-radius: $input-border-radius-lg;
    max-width: 420px;
    min-width: 345px;
    padding: 15px;
  }

  // position
  &.top-left {
    animation: slide-right .3s ease-in forwards;
    left: 6px;
    top: 6px;
  }

  &.top-right {
    animation: slide-left .3s ease-in forwards;
    right: 6px;
    top: 6px;
  }

  &.bottom-right {
    animation: slide-left .3s ease-in forwards;
    bottom: 6px;
    right: 6px;
  }

  &.bottom-left {
    animation: slide-right .3s ease-in forwards;
    bottom: 6px;
    left: 6px;
  }

  // colors
  &.green,
  &.orange {
    box-shadow: 0 0 30px rgba($black,.12);
  }

  &.green {
    background: $green;
  }

  &.orange {
    background: $orange;
  }

  // anchor image
  .gravatar {
    float: left;
    margin-right: 12px;
  }

  // title
  .h4 {
    font-size: 16px;
    height: 19px;
  }

  // link
  .link {
    color: $white;
    display: inline-block;
  }

  // buttons
  .orange {
    background: rgba($orange-dark,.75);
  }

  .green {
    background: rgba($green-dark,.75);
  }

  // close button
  .btn-close {
    float: right;
    height: 21px;
    width: 21px;

    .icons-close {
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  // success animation
  .btn-state {
    background: $white;
    border-radius: 50%;
    height: 19px;
    left: 9px;
    position: absolute;
    top: 36px;
    width: 19px;

    .iconnables {
      animation: scale-in-bounce .3s ease-in;
      height: 19px;
      top: -6px;
      width: 19px;
    }

    .icons-warning {
      color: $orange;
    }

    .icons-check {
      color: $green;
      left: 0;
    }
  }

  // nag
  .p {
    border-top: 2px solid rgba($white,.3);
    font-size: 14px;
    margin-top: 12px;
    padding-top: 6px;

    .btn {
      margin-left: 3px;
    }
  }
}