.notification {
  border-radius: $input-border-radius-lg;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba($black,.15);
  font-weight: $weight-normal;
  max-width: calc(100vw - 30px);
  position: fixed;
  width: 420px;
  z-index: $z-alert;

  &:active {
    box-shadow: 0 1px 3px rgba($black,.15);
  }

  // default animations
  &.ng-enter {
    animation: fade-in .3s ease-out;
  }

  &.ng-leave {
    animation: fade-in .3s ease-out reverse;
  }

  // sizes
  &.notification-sm {
    height: $input-md;
    line-height: $input-md - 2px;
    padding: 0 15px;
    width: auto;

    &.plan-changed {
      animation: fade-in .3s ease-out forwards;
      height: auto;
      width: 240px;

      .grid-block:last-child {
        border-top: 1px solid rgba($white,.3);
        line-height: 1.2;
        padding-bottom: 15px;
        padding-top: 15px;
      }

      .btn.green {
        background: transparent;
        border: 1px solid $white;
        color: $white;
        display: table;
        margin: 9px auto 0;

        &:hover {
          background: rgba($white,.1);
        }

        &:active {
          background: rgba($white,.2);
        }
      }
    }

    // close
    .icons-close {
      border: 1px solid transparent;
      border-radius: $input-border-radius;
      height: 15px;
      width: 15px;

      &:hover,
      &:active {
        background: $red;
        color: $white;
      }
    }
  }

  // position
  &.top-left {
    left: 12px;
    top: 12px;

    // override default
    &.ng-enter {
      animation-name: slide-right;
    }
  }

  &.top-right {
    right: 12px;
    top: 12px;

    // override default
    &.ng-enter {
      animation-name: slide-left;
    }
  }

  &.bottom-right {
    bottom: 12px;
    right: 12px;

    // override default
    &.ng-enter {
      animation-name: slide-left;
    }
  }

  &.bottom-left {
    bottom: 12px;
    left: 12px;

    // override default
    &.ng-enter {
      animation-name: slide-right;
    }
  }

  // green
  &.green .icons-check {
    background: $green-darker;
    border-radius: 50%;
  }

  // red
  &.red {
    background: $red;
    color: $white;

    .icons-trash {
      background: $red-darker;
      border-radius: 50%;
      padding: 1px;
    }
  }

  // white
  &.white {
    background: $gray-lighterest;
    box-shadow: 0 1px 3px rgba($black,.06);
    color: $gray-dark;
  }

  // anchor for gravatar/icons
  .anchor-left {
    margin-right: 15px;

    &.gravatar {
      border-radius: $input-border-radius;
    }
  }

  .spinner-wrapper {
    opacity: .5;
    padding-top: 5px;
  }

  // undo
  .link-undo {
    margin: 0 9px;
  }

  // close
  .icons-close {
    cursor: pointer;
    margin-left: 15px;
    pointer-events: auto;

    &:hover {
      color: $red;
    }

    &:active {
      color: $red-dark;
    }
  }

  // title
  .h4 {
    line-height: 24px; // icon height

    + .small {
      margin-top: 3px;
    }
  }

  .small + .small {
    margin-top: 3px;
  }
}
