.notification-trial {

  .icons-close {
    color: $gray-light;
    position: absolute;
    right: 15px;
    top: 15px;
  }

  .form-plan {
    margin-top: 15px;
  }

  .well {
    border: 1px solid $gray-lighter;
  }

  .btn-wrapper {
    margin-top: 15px;
    width: 100%;
  }
}
