// window
#habla_window_div {
  border-radius: 3px 3px 0 0 !important;
  box-shadow: 0 0 30px rgba($black,.12);
}

// window nav
#habla_topbar_div {
  border: 1px solid rgba($blue,.2) !important;
  border-radius: 3px 3px 0 0 !important;
}

// nav buttons
.habla_button {
  background-color: rgba($blue,.2) !important;
  border: 1px solid rgba($blue,.4) !important;
  border-radius: 3px !important;

  &:hover,
  &:active {
    background-color: rgba($blue,.4) !important;
    border-color: rgba($blue,.6) !important;
  }
}

// chat input
#habla_wcsend_input {
  border: 1px solid rgba($black,.15) !important;
  border-radius: 3px !important;

  &:focus {
    border-color: $blue !important;
    box-shadow: inset 0 0 3px rgba($blue,.15) !important;
  }
}

// convo
#habla_conversation_div {
  border-bottom: 0 !important;
}

// links
#habla_conversation_div a {
  color: $blue !important;
  text-decoration: underline !important;

  &:hover,
  &:active {
    text-decoration: none !important;
  }
}