// .add-tab .popover
.add-tab .popover {
  height: 72px;
  left: auto;
  max-width: 360px;
  min-width: 72px;
  right: -1px;
  top: 27px;
  transform-origin: 345px -15px;
  width: auto; // reset width

  .arrow {
    left: auto;
    right: 5px;
  }
}