// arrows
.popover.top .arrow {
  border-bottom-width: 0;
  border-top-color: rgba($black,.1);
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
}

.popover.top .arrow:after {
  bottom: 1px;
  border-bottom-width: 0;
  border-top-color: $white;
  content: ' ';
  margin-left: -10px;
}

.popover.right .arrow {
  border-left-width: 0;
  border-right-color: rgba($black,.1);
  left: -11px;
  margin-top: -11px;
  top: 50%;
}

.popover.right .arrow:after {
  border-left-width: 0;
  border-right-color: $white;
  bottom: -10px;
  content: ' ';
  left: 1px;
}

.popover.bottom .arrow {
  border-bottom-color: rgba($black,.1);
  border-top-width: 0;
  left: 50%;
  margin-left: -11px;
  top: -11px;
}

.popover.bottom .arrow:after {
  border-bottom-color: $white;
  border-top-width: 0;
  content: ' ';
  margin-left: -10px;
  top: 1px;
}

.popover.left .arrow {
  border-left-color: rgba($black,.1);
  border-right-width: 0;
  margin-top: -11px;
  right: -11px;
  top: 50%;
}

.popover.left .arrow:after {
  border-left-color: $white;
  border-right-width: 0;
  bottom: -10px;
  content: ' ';
  right: 1px;
}

// popovers
.popover {
  background: $white;
  border: 1px solid rgba($black,.1);
  border-radius: 3px;
  box-shadow: 0 1px 10px rgba($black,.1);
  display: block;
  left: 0;
  max-width: 276px;
  opacity: 0;
  padding: 1px;
  pointer-events: none;
  position: absolute;
  text-align: left;
  transform: scale3d(0,0,1);
  transition:
    height .2s,
    max-height .2s,
    opacity .2s,
    transform .15s,
    width .2s ease-in-out;
  top: 0;
  white-space: normal;
  z-index: -1;

  .arrow,
  .arrow::after {
    border-color: transparent;
    border-style: solid;
    display: block;
    height: 0;
    position: absolute;
    width: 0;
  }

  .arrow {
    border-width: 11px;
  }

  .arrow::after {
    border-width: 10px;
    content: '';
  }

  &.bottom > .arrow {
    top: -10px;

    &::after {
      border-bottom-color: $gray-lighter;
    }
  }

  &.top,
  &.right,
  &.left {

    > .arrow::after {
      border-top-color: $gray-lighter;
    }
  }

  &.top {
    border-top-color: rgba($black,.05);
    margin-top: -10px;

    > .arrow.white::after {
      border-top-color: $white;
    }
  }

  &.right {
    margin-left: 10px;
  }

  &.bottom {
    margin-top: 10px;

    > .arrow.white::after {
      border-bottom-color: $white;
    }
  }

  &.left {
    margin-left: -10px;
  }

  &.in {
    opacity: 1;
    pointer-events: auto;
    transform: scale3d(1,1,1);
    z-index: $z-popover;
  }

  // context menu
  &.context-menu {
    position: fixed;
    transform-origin: 0 0;
    z-index: $z-show;
  }

  // menu
  &.menu,
  &.file-menu {
    cursor: default;
    width: 300px;

    .popover-content {
      margin: 0 -1px -1px;
      overflow: hidden;
      padding: 0;
      transition: max-height .2s;
    }

    ol,
    ul {
      @extend .clearfix;
      background: $white;
      text-shadow: none;
    }

    .popover-list {

      > li {
        border: 0;
        border-top: 1px solid rgba($black,.1);
        color: $gray-dark;
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        padding-left: 15px;

        &:first-child {
          border-top: 0;
        }
      }
    }

    .col-popover-4 > li {
      border-left: 1px solid rgba($black,.1);
      cursor: pointer;
      float: left;
      font-size: 14px;
      height: 100%;
      line-height: 1.6;
      text-align: center;
      width: calc(100% / 4);

      &:first-child {
        border-left: 0;
      }

      &:hover {
        background: rgba($black,.05);
      }
    }
  }

  // .file-menu
  &.file-menu {
    width: 180px;
  }

  .form-control {
    border: 0;
    border-bottom: 1px solid rgba($black,.1);
    border-radius: 0;
    padding: 0 15px;

    &:hover,
    &:focus {
      border-color: rgba($black,.1);
    }
  }

  textarea.form-control {
    min-height: 60px;
    padding: 6px 15px;
    resize: none;
  }

  .btn-block {
    margin: 6px;
    width: calc(100% - 12px);
  }

  .green {
    border-top: 1px solid rgba($black,.1);
  }
}

.popover-title {
  background: $gray-lighter;
  border-bottom: 1px solid rgba($black,.1);
  color: $gray-dark;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  margin: 0;
  padding: 6px;
  text-shadow: none;
}

.popover-content {
  font-weight: 300;
  padding: 9px 14px;
}

.popover-footer {
  border-top: 1px solid rgba($black,.1);
  padding: 9px 14px;
}

// preview popover
#preview-popover {
  color: $gray-dark;
  font-size: 13px;
  font-weight: 400;
  left: auto;
  line-height: 1.2;
  margin-left: -130px;
  position: absolute;
  right: 12px;
  text-transform: initial;
  top: 22px;
  transform-origin: 80px 0;
  width: 180px;

  > .arrow {
    left: auto;
    right: 25px;
  }
}

// popovers in header
header .popover {
  left: auto;
  right: -115px;
  top: 31px;
  transform-origin: 50% 0;

  input {
    margin-bottom: 10px;
  }
}

// delete
.delete {
  color: $gray-dark;
  opacity: .5;
  padding: 0;
  position: absolute;
  right: 9px;
  top: 0;

  &:hover {
    opacity: .75;
  }

  &:active {
    opacity: 1;
  }

  .iconnables {
    height: 18px;
    top: 4px;
    width: 18px;
  }
}
