// arrows
.popover.top .arrow {
  border-bottom-width: 0;
  border-top-color: rgba(0,0,0,.1);
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
}

.popover.top .arrow:after {
  bottom: 1px;
  border-bottom-width: 0;
  border-top-color: #fff;
  content: ' ';
  margin-left: -10px;
}

.popover.right .arrow {
  border-left-width: 0;
  border-right-color: rgba(0,0,0,.1);
  left: -11px;
  margin-top: -11px;
  top: 50%;
}

.popover.right .arrow:after {
  border-left-width: 0;
  border-right-color: #fff;
  bottom: -10px;
  content: ' ';
  left: 1px;
}

.popover.bottom .arrow {
  border-bottom-color: rgba(0,0,0,.1);
  border-top-width: 0;
  left: 50%;
  margin-left: -11px;
  top: -11px;
}

.popover.bottom .arrow:after {
  border-bottom-color: #fff;
  border-top-width: 0;
  content: ' ';
  margin-left: -10px;
  top: 1px;
}

.popover.left .arrow {
  border-left-color: rgba(0,0,0,.1);
  border-right-width: 0;
  margin-top: -11px;
  right: -11px;
  top: 50%;
}

.popover.left .arrow:after {
  border-left-color: #fff;
  border-right-width: 0;
  bottom: -10px;
  content: ' ';
  right: 1px;
}

// popovers
.popover {
  background: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  box-shadow: 0 1px 10px rgba(0,0,0,.1);
  display: block;
  opacity: 0;
  max-width: 276px;
  padding: 1px;
  pointer-events: none;
  position: absolute;
    top: 0;
    left: 0;
  text-align: left;
  transform: scale3d(0,0,1);
  transition:
    height .2s,
    max-height .2s,
    opacity .2s,
    transform .15s,
    width .2s ease-in-out;
  white-space: normal;
  z-index: -1;

  .arrow,
  .arrow::after {
    border-color: transparent;
    border-style: solid;
    display: block;
    height: 0;
    position: absolute;
    width: 0;
  }

  .arrow {
    border-width: 11px;
  }

  .arrow::after {
    border-width: 10px;
    content: '';
  }

  &.bottom > .arrow {
    top: -10px;

    &::after {
      border-bottom-color: $gray-lighter;
    }
  }

  &.top,
  &.right,
  &.left {

    > .arrow::after {
      border-top-color: $gray-lighter;
    }
  }

  &.top {
    border-top-color: rgba(0,0,0,.05);
    margin-top: -10px;

    > .arrow.white::after {
      border-top-color: #fff;
    }
  }

  &.right {
    margin-left: 10px;
  }

  &.bottom {
    margin-top: 10px;

    > .arrow.white::after {
      border-bottom-color: #fff;
    }
  }

  &.left {
    margin-left: -10px;
  }

  &.in {
    opacity: 1;
    pointer-events: auto;
    transform: scale3d(1,1,1);
    z-index: $z-popover;
  }

  // context menu
  &.context-menu {
    position: fixed;
    transform-origin: 0 0;
    z-index: $z-show;
  }

  // menu
  &.menu,
  &.file-menu {
    cursor: default;
    width: 300px;

    .popover-content {
      margin: 0 -1px -1px;
      overflow: hidden;
      padding: 0;
      transition: max-height .2s;
    }

    ol,
    ul {
      @extend .clearfix;
      background: #fff;
      text-shadow: none;
    }

    .popover-list {

      > li {
        border: 0;
        border-top: 1px solid rgba(0,0,0,.1);
        color: $gray-dark;
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        padding-left: 15px;

        &:first-child {
          border-top: 0;
        }
      }
    }

    .col-popover-3 > li {
      border-left: 1px solid rgba(0,0,0,.1);
      cursor: pointer;
      float: left;
      font-size: 14px;
      height: 100%;
      line-height: 1.6;
      text-align: center;
      width: calc(100% / 3);

      &:first-child {
        border-left: 0;
      }
    }
  }

  // .file-menu
  &.file-menu {
    width: 180px;
  }

  .form-control {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    border-radius: 0;
    padding: 0 15px;

    &:hover,
    &:focus {
      border-color: rgba(0,0,0,.1);
    }
  }

  textarea.form-control {
    min-height: 60px;
    padding: 6px 15px;
    resize: none;
  }

  .btn-block {
    margin: 6px;
    width: calc(100% - 12px);
  }

  .green {
    border-top: 1px solid rgba(0,0,0,.1);
  }
}

.popover-title {
  background: $gray-lighter;
  border-bottom: 1px solid rgba(0,0,0,.1);
  color: $gray-dark;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  margin: 0;
  padding: 8px 14px;
  text-shadow: none;
}

.popover-content {
  font-weight: 300;
  padding: 9px 14px;
}

.popover-footer {
  border-top: 1px solid rgba(0,0,0,.1);
  padding: 9px 14px;
}

// main-controls popover
.main-controls .popover {
  top: 32px;
  transform-origin: 60px 0;
  width: 360px;
    max-width: none;

  > .arrow {
    left: 92px;
  }

  > .popover-title {
    $popover-header-height: 40px;

    background: $purple-light;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 3px 3px 0 0;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25);
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    height: $popover-header-height;
    line-height: $popover-header-height;
    padding: 0 20px 0 15px;
    width: 100%;

    > button {
      line-height: $popover-header-height;
      padding: 0;
    }
  }

  > .popover-content {
    padding: 15px;

    label {
      line-height: 36px;
    }

    // run and build and run
    .form-horizontal {
      margin: 0;

      label {
        margin: 0;
      }
    }

    hr {
      border-bottom: 1px solid #fff;
      border-top-color: rgba(0,0,0,.1);
      margin: 15px -15px;
    }
  }

  .modal-footer {
    padding-bottom: 0;
  }
}

// preview popover
#preview-popover {
  color: $gray-dark;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  margin-left: -130px;
  position: absolute;
    top: 22px;
    right: 12px;
    left: auto;
  text-transform: initial;
  transform-origin: 80px 0;
  width: 180px;

  > .arrow {
    left: auto;
    right: 25px;
  }
}

// popovers in header
header .popover {
  left: auto;
  right: -115px;
  top: 31px;
  transform-origin: 50% 0;

  input {
    margin-bottom: 10px;
  }
}

// delete
.delete {
  color: $gray-dark;
  opacity: .5;
  padding: 0;
  position: absolute;
  right: 9px;
  top: 0;

  &:hover {
    opacity: .75;
  }

  &:active {
    opacity: 1;
  }

  .iconnables {
    height: 18px;
    top: 4px;
    width: 18px;
  }
}