.repository-details-content {
  display: flex;
  flex-direction: column;

  > .label {
    display: table;
    margin: 0 auto 12px;

    .spinner-wrapper {
      align-items: center;
      color: $gray-light;
      height: 100%;
      padding-left: 6px;
    }
  }

  .list-servers.list-servers {
    flex: 1 1 auto;
    min-height: 90px;
    position: relative;

    > .spinner-wrapper {
      background: transparent;
      top: 0;
    }

    .list-item {
      @extend %text-overflow;
      font-size: 15px;
      padding-right: 36px;

      &:active,
      &.active {
        border-color: currentColor;
        color: $purple-light;

        .small {
          color: currentColor;
        }

        .icons-fat-check {
          background-color: $purple-light;
        }
      }

      &.active {
        cursor: default;

        &.disabled .icons-fat-check {
          background-color: $gray-light;
        }
      }

      &.active .icons-fat-check,
      &:not(.disabled):hover .icons-fat-check {
        visibility: visible;
      }

      &.disabled,
      &.disabled:active,
      &.disabled:hover {
        background-color: transparent;
        border-color: transparent;
        color: $gray-light;
        cursor: not-allowed;

        .small {
          color: currentColor;
        }
      }

      &:last-child {
        margin-bottom: 15px;
      }

      .small {
        color: $gray;
      }
    }
  }

  .row-author {
    height: 21px;
    line-height: 21px;
  }

  .icons-fat-check {
    position: absolute;
    right: 12px;
    top: 18px;
    visibility: hidden;
  }

  .toggle-wrapper {
    border-bottom: 1px solid $gray-lighter;
    border-top: 1px solid $gray-lighter;
    color: $gray-dark;
    flex: 0 0 auto;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 9px;
    padding: 9px 12px;
  }

  .toggle-group {
    float: right;
    position: relative;
    top: -9px;
  }
}
