.repository-details-content {
  display: flex;
  flex-direction: column;

  > .label {
    display: table;
    margin: 0 auto 12px;

    .spinner-wrapper {
      align-items: center;
      color: $gray-light;
      height: 100%;
      padding-left: 6px;
    }
  }

  > .orange .iconnables {
    height: 15px;
    width: 15px;
  }

  .list-servers.list-servers {
    flex: 0 0 auto;
    min-height: 90px;
    padding: 15px 0;
    position: relative;

    > .spinner-wrapper {
      background: transparent;
      top: 0;
    }

    .list-item {
      @extend %text-overflow;
      padding-right: 36px;

      &:active,
      &.active {
        border-color: currentColor;
        color: $purple-light;

        .small {
          color: currentColor;
        }

        .icons-fat-check {
          background-color: $purple-light;
        }
      }

      &.active {
        cursor: default;

        &.disabled .icons-fat-check {
          background-color: $gray-light;
        }
      }

      &.active .icons-fat-check,
      &:not(.disabled):hover .icons-fat-check {
        visibility: visible;
      }

      &.disabled,
      &.disabled:active,
      &.disabled:hover {
        background-color: transparent;
        border-color: transparent;
        color: $gray-light;
        cursor: not-allowed;

        .small {
          color: currentColor;
        }
      }

      .small {
        color: $gray;
      }
    }
  }

  .icons-fat-check {
    position: absolute;
    right: 12px;
    top: 18px;
    visibility: hidden;
  }

  .toggle-wrapper {
    @extend %padding-sm;
    border-bottom: 1px solid $gray-lighter;
    flex: 0 0 auto;
    font-size: 15px;
    padding-right: 48px;

    &:not(:first-child) {
      border-top: 1px solid $gray-lighter;
    }

    .text-overflow {
      margin-right: 36px;
    }
  }

  .toggle-group {
    position: absolute;
    right: 12px;
    top: 25px;
  }
}
