.btn-select {
  position: relative;

  &:hover .btn.gray {
    @extend %gray.btn:hover;
  }

  &:active .btn.gray {
    @extend %gray.btn:active;
  }

  &:hover .btn.white {
    @extend %white.btn:hover;
  }

  &:active .btn.white {
    @extend %white.btn:active;
  }

  .btn {
    pointer-events: none;
    position: absolute;
    width: 100%;
  }

  .select {
    appearance: none;
    cursor: pointer;
    height: 100%;
    opacity: 0;
    pointer-events: auto;
    position: absolute;
    width: 100%;
  }
}
