.btn-select {
  position: relative;

  button,
  .btn {
    pointer-events: none;
  }

  .btn-select-text {
    float: left;
  }

  select {
    background: transparent; // needed to set height
    cursor: pointer;
    font-size: 16px;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  // branch select
  .icons-branch {
    float: left;
    margin-right: 3px;
  }

  .icons-arrow-down {
    margin-left: 6px;
    top: 0;
  }
}

select[disabled] {
  cursor: not-allowed;
}