.btn-select {
  position: relative;

  &:hover .btn {
    border-color: $gray-light;
  }

  &:active .btn {
    border-color: currentColor;
    color: $purple-light;
  }

  .btn {
    pointer-events: none;
    position: absolute;
    width: 100%;
  }

  .select {
    appearance: none;
    cursor: pointer;
    height: 100%;
    opacity: 0;
    pointer-events: auto;
    position: absolute;
    width: 100%;
  }
}
