.sidebar {
  border-right: 1px solid rgba($black,.1);
  float: left;
  height: calc(100% - 54px);
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 270px;

  h3 {
    border-bottom: 1px solid rgba($black,.1);
    color: $gray-dark;
    font-size: 14px;
    font-weight: 600;
    height: 36px;
    line-height: 36px;
    padding: 0;
    text-align: center;
  }

  > ul,
  > ol {
    font-size: 14px;

    > li {
      color: $gray-dark;
      transition: max-height .15s ease-in, opacity .2s ease-in;

      > span {
        width: 24px;
      }

      &.out {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
      }
    }
  }

  .form-control {
    margin-bottom: 9px;
  }

  > ul {
    border-bottom: 1px solid rgba($black,.1);
    padding: 15px 0;

    a {
      font-weight: 600;
    }

    > li {
      line-height: 36px;
      overflow: hidden;
      padding: 0 15px;
      text-overflow: ellipsis;
      white-space: nowrap;

      > .iconnables {
        color: $purple;
        float: left;
        margin-right: 6px;
        top: 6px;
      }
    }
  }

  > ol {

    > li {
      border-bottom: 1px solid rgba($black,.1);
      padding: 5px 15px 6px;

      &.action {
        font-size: 16px;
        height: 36px;
        line-height: 36px;
        padding: 0 15px;
      }
    }
  }

  .btn-block {
    margin: 0 auto;
    width: calc(100% - 30px);
  }
}