// related:
// sidebar-actions.scss
// sidebar-messages.scss

.sidebar {
  border-right: 1px solid rgba($black,.1);
  display: flex;
  flex-direction: column;
  float: left;
  height: calc(100% - 54px);
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 270px;

  .btn-block {
    margin: 0 auto;
    width: calc(100% - 30px);
  }
}

.sidebar-title {
  color: $gray-dark;
  flex: 0 0 auto;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  line-height: 36px;
  padding: 0;
  text-align: center;
}

.sidebar-ul,
.sidebar-ol {
  border-bottom: 1px solid rgba($black,.1);
  flex: 0 0 auto;
  font-size: 14px;
}

.sidebar-li {
  color: $gray-dark;
  line-height: 36px;
  overflow: hidden;
  padding: 0 15px;
  text-overflow: ellipsis;
  transition: max-height .15s ease-in, opacity .2s ease-in;
  white-space: nowrap;
}

// sidebar information
// this section should contain as little interaction as possible
.sidebar-info {
  padding: 15px 0;

  .link {
    font-weight: 500;
  }

  .iconnables {
    color: $purple;
    float: left;
    margin-right: 6px;
    top: 6px;
  }
}

// sidebar urls
.sidebar-urls {
  flex: 0 1 auto;
  max-height: 162px; // shows 3.5 inputs
  overflow-y: auto;
  padding: 9px 0 15px;

  .sidebar-li {
    margin-bottom: 9px;

    &:last-child {
      margin: 0;
    }
  }
}