.spinner-wrapper {
  display: none;

  &.in {
    display: flex;

    // show small spinner (15px)
    &.spinner-sm .spinner-sm {
      display: block;
    }

    // show medium spinner (30px)
    &.spinner-md .spinner-md {
      display: block;
    }

    // show large spinner (60px)
    &.spinner-lg .spinner-lg {
      display: block;
    }
  }

  .spinner {
    animation: spinner 1s infinite linear;
    display: none;
    margin: 0 auto;
  }

  // colors
  .path {
    stroke: currentColor;
  }

  &.spinner-purple .path {
    stroke: $purple-light;
  }

  &.spinner-white .path {
    stroke: $white;
  }

  &.spinner-gray .path {
    stroke: $gray;
  }

  &.spinner-green .path {
    stroke: $green;
  }
}

// with backdrop
.spinner-backdrop {
  align-items: center;
  background: $white;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity .3s ease-in, transform .15s ease-in, width .15s ease-in;
  width: 100%;
  z-index: $z-spinner;
}

// on buttons
.btn-spinner {

  &.in {
    padding-left: 30px !important;
  }

  .spinner {
    height: 100%;
    left: 9px;
    position: absolute;
    width: 15px;
  }
}

// progress
.progress {
  background: rgba($blue,.2);
  border-color: rgba($blue,.2);
  border-radius: 2px 0 0 2px;
  display: block;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: 0 0;
  transition: .3s ease width;
}
