//- spinner options:
//- &.in - displays spinner
//- &.spinner-backdrop - covers ui
//- &.spinner-lg - 60px by 60px
//- &.spinner-mg - 30px by 3px
//- &.spinner-sm - 15px by 15px
//- &.spinner-purple - sets color to $purple-lighter
//- &.spinner-white - sets color to $white
//- &.spinner-blue - sets color to $blue

.spinner-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .3s ease-in, transform .15s ease-in, width .15s ease-in;
  width: 100%;
  z-index: $z-spinner;

  &.in {
    opacity: 1;
    pointer-events: auto;
  }

  &.spinner-backdrop {
    background: rgba($white,.75);
  }

  &.spinner-lg .lg {
    display: block;
    height: 65px;
    width: 65px;
  }

  &.spinner-md .md {
    display: block;
    height: 30px;
    width: 30px;
  }

  &.spinner-sm .sm {
    display: block;
    transform-origin: 50% 46%;
    width: 15px;
  }

  &.spinner-purple .path {
    stroke: $purple-light;
  }

  &.spinner-white .path {
    stroke: $white;
  }

  &.spinner-blue .path {
    stroke: $blue;
  }
}

.spinner-container {
  animation: spinner $spinner-duration linear infinite;
  display: none;
}

.spinner {
  animation: spinner-path $spinner-duration ease-in-out infinite;
  stroke: $gray-lighter;
  stroke-dasharray: $spinner-offset;
  stroke-dashoffset: 0;
  transform-origin: center;
}

// on buttons
.btn-spinner {

  &.in {
    padding-left: 30px;

    .spinner-wrapper {
      display: block;
    }
  }

  .spinner-wrapper {
    display: none;
    left: 9px;
    margin-top: 1px;
  }
}