.spinner-wrapper {
  display: flex;

  .spinner {
    animation: spinner 1s infinite linear;
    fill: none;
    margin: 0 auto;
    stroke-dasharray: 30,6;
  }

  // sizes
  &.spinner-sm .spinner {
    height: 16px;
    width: 16px;

    .path {
      stroke-width: 2;
    }
  }

  &.spinner-md .spinner {
    height: 32px;
    width: 32px;

    .path {
      stroke-width: 1.25;
    }
  }

  &.spinner-lg .spinner {
    height: 64px;
    width: 64px;

    .path {
      stroke-width: .75;
    }
  }

  // colors
  .path {
    stroke: currentColor;
  }

  &.spinner-blue .path {
    stroke: $blue;
  }

  &.spinner-purple .path {
    stroke: $purple-light;
  }

  &.spinner-white .path {
    stroke: $white;
  }

  &.spinner-gray .path {
    stroke: $gray-light;
  }

  &.spinner-green .path {
    stroke: $green;
  }

  // center over all relative area
  &.spinner-center {
    align-items: center;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

// with backdrop
.spinner-backdrop {
  align-items: center;
  background: $white;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  transition: opacity .3s ease-in, transform .15s ease-in, width .15s ease-in;
  width: 100%;
  z-index: $z-spinner;

  &.spinner-fixed {
    position: fixed;
  }
}

// progress
.progress {
  background: rgba($blue,.2);
  border-color: rgba($blue,.2);
  border-radius: 2px 0 0 2px;
  display: block;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: 0 0;
  transition: .3s ease width;
}

.fnr-spinner {
  color: $gray-light;

  .spinner-wrapper {
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: 2px;
  }
}
