//- spinner options:
//- &.in - displays spinner
//- &.spinner-backdrop - covers ui
//- &.spinner-lg - 60px by 60px
//- &.spinner-mg - 30px by 3px
//- &.spinner-sm - 15px by 15px
//- &.spinner-purple - sets color to $purple-lighter

.spinner-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .3s ease-in, transform .15s ease-in, width .15s ease-in;
  width: 100%;
  z-index: $z-modal-backdrop;

  &.in {
    opacity: 1;
    pointer-events: auto;
  }

  &.spinner-backdrop {
    background: $white;
  }

  &.spinner-lg .spinner.lg {
    display: block;
  }

  &.spinner-md .spinner.md {
    display: block;
  }

  &.spinner-sm .spinner.sm {
    display: block;
  }

  &.spinner-purple .path {
    stroke: $purple-lighter;
  }
}

.spinner {
  animation: spinner $spinner-duration linear infinite;
  display: none;
}

.path {
  animation: spinner-path $spinner-duration ease-in-out infinite;
  stroke: $gray-light;
  stroke-dasharray: $spinner-offset;
  stroke-dashoffset: 0;
  transform-origin: center;
}

// on buttons
.btn-spinner {

  > .spinner {
    color: $white;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 2px;
    transform: scale3d(0,0,0);
  }

  &.in > .spinner {
    transform: scale3d(1,1,1);
  }

  &.blue .spinner-ring {
    color: $blue;
  }
}

// .horizontal-spinner
.horizontal-spinner {
  background: rgba($purple-light,.1);
  height: 3px;
  margin: auto;
  overflow: hidden;
  position: relative;
  top: 40%;
  width: 150px;

  &::before,
  &::after {
    background: $purple-light;
    content: '';
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate3d(-100%,0,0);
    width: 50%;
  }

  &::before {
    animation: horizontal-spinner 1s infinite -.5s;
  }

  &::after {
    animation: horizontal-spinner 1s infinite;
  }
}