// bootstrap overrides
th {
  padding: 15px;
}

td {
  padding: 0 15px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border: 0;
  height: 54px;

  &:first-child {
    padding: 0 0 0 8px;
    text-align: center;
  }
}

.table > thead > tr > th {
  border-bottom-width: 1px;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background: $light-yellow;

  .spinner-ring {
    background: $light-yellow;
  }
}

.table thead > tr > th {
  border-bottom: 1px solid rgba(0,0,0,.075);
}

table {
  color: $gray-dark;

  tr:nth-child(even) {
    background: rgba(0,0,0,.025);
  }

  th {
    background: $gray-lighter;
    box-shadow: inset 0 1px 0 $white;
  }

  td {
    cursor: pointer;

    &:nth-child(2) {
      font-size: 16px;
      font-weight: 700;
    }
  }
}

.sortable {
  cursor: pointer;
  min-width: 104px;

  > span {
    // float: left;
    // height: 54px;

    &::before,
    &::after {
      content: '';
      float: right;
      position: relative !important;
        left: 5px;
    }

    &::before {
      @extend .arrow-up;
      left: -3px;
    }

    &::after {
      @extend .arrow-down;
      top: 12px;
    }
  }

  &.descending > span::after {
    border-top-color: $green;
  }

  &.ascending > span::before {
    border-bottom-color: $green;
  }
}

.table-scroll {
  height: calc(100% - 54px);
  overflow-y: auto;
}