// bootstrap overrides
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border-left: 0;
  border-right: 0;
  padding: 8px 15px;

  &:first-child {
    padding: 8px 0 0 8px;
    text-align: center;
  }
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 1px;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background: $light-yellow;
}

table,
td {
  box-shadow: inset 0 1px 0 #fff;
}

table {
  color: $gray-dark;

  th {
    background: $gray;
  }

  td {
    cursor: pointer;
  }

  .glyphicons {
    font-size: 12px;
  }

  .circle-exclamation-mark {
    color: $orange;
  }
}