// bootstrap overrides
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(0,0,0,.025);
  padding: 15px;

  &:first-child {
    padding: 16px 0 0 8px;
    text-align: center;
  }
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 1px;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background: $light-yellow;
}

table {
  color: $gray-dark;

  tr:nth-child(even) {
    background: rgba(0,0,0,.025);
  }

  th {
    background: $gray-lighter;
    border-bottom: 1px solid rgba(0,0,0,.025);
  }

  td {
    cursor: pointer;

    > .glyphicons {
      font-size: 14px;
    }

    &:nth-child(2) {
      font-size: 16px;
      font-weight: 700;
    }
  }

  .glyphicons {
    font-size: 12px;
  }

  .circle-exclamation-mark {
    color: $orange;
  }
}

.sortable {
  cursor: pointer;

  > span {
    float: left;

    &::before,
    &::after {
      content: '';
      float: right;
      position: relative !important;
        left: 5px;
    }

    &::before {
      @extend .arrow-up;
      left: -3px;
      top: 3px;
    }

    &::after {
      @extend .arrow-down;
      top: 12px;
    }
  }

  &.descending > span {

    &::before {
      display: none;
    }

    &::after {
      border-top-color: $green;
      top: 7px;
    }
  }

  &.ascending > span {

    &::before {
      border-bottom-color: $green;
      left: 3px;
      top: 6px;
    }

    &::after {
      display: none;
    }
  }
}