// default tabs
.tabs-wrapper {
  background: $gray-light;
  border-bottom: 1px solid rgba($black,.1);
  float: left;
  height: 36px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: calc(100% + 1px);

  a {
    border: 0;
    border-radius: 0;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 14px;
    height: 35px;
    line-height: 36px;
    margin: 0;
    padding: 0 1px 0 9px;

    &::before {
      color: $gray-darker;
      font-size: 14px;
      font-weight: 500;
      height: 100%;
      left: 0;
      line-height: 36px;
      padding-left: 9px;
      pointer-events: none;
      position: absolute;
      width: 100%;
    }
  }

  .btn-icon {
    color: $gray-dark;
    float: right;
    opacity: .5;
    padding-top: 2px;
    width: 21px;

    &:hover {
      opacity: .75;
    }

    &:active {
      opacity: 1;
    }
  }

  .icons-dirty {
    display: inline-block;
    font-size: 21px;
    line-height: 1.9;
    opacity: 0;
    pointer-events: none;
    position: relative;
    z-index: 1;
  }

  .icons-close {
    height: 15px;
    width: 15px;
  }
}

.tab {
  background: $gray-lighter;
  border: 1px solid rgba($black,.1);
  border-bottom: 0;
  border-top: 0;
  color: $gray-dark;
  display: inline-block;
  margin-left: -1px;
  position: relative;

  &:hover {
    background: $white;
  }

  &:active,
  &.active {
    background: $white;
    color: $gray-darker;
  }

  &.active {

    > a {
      padding-right: 8px;

      &::before {
        background: $white;
        content: attr(data-title);
      }
    }
  }

  &.dirty .icons-dirty {
    opacity: 1;
  }
}