%tag,
.tag {
  background: $white;
  border: $input-border solid transparent;
  border-radius: $input-border-radius;
  cursor: default;
  display: inline-block;
  margin: 0 2px 1px 0;
  padding: 0 3px;
}
