.term-container {
  box-shadow: 0 1px 0 $black;
  cursor: text;
}

div.terminal { // div specifity required b/c there's a term.terminal
  padding: 9px;
}

.term-container,
.terminal {
  color: $white;
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  line-height: 1.4;
  width: 100%;
}