// toggle view
.toggle-group {
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin: 0;

  > label {
    background: $white;
    color: $gray-dark;
    cursor: pointer;
    display: block;
    font-weight: 400;
    height: 45px;
    line-height: 45px;
    margin: 0;
    overflow: hidden;
    padding: 0 9px;
    position: relative;
    text-shadow: none;
    width: 100%;

    &:nth-child(n+2) {
      border-top: 1px solid rgba(0,0,0,.1);
    }

    &:hover {
      background: $gray-lighter;
    }

    &.active {
      font-weight: 500;

      &:last-child::after {
        animation: blinker 2s infinite;
      }
    }

    .iconnables {
      float: left;
      margin: 7px 9px 0 0;
      position: relative;
    }

    &:last-child {

      &::after {
        background: $gray-dark;
        content: '';
        display: block;
        height: 2px;
        left: 22px;
        opacity: 0;
        position: absolute;
        top: 26px;
        width: 6px;
      }
    }
  }

  input[type="radio"] {
    height: 36px;
    margin: 0;
    position: absolute;
    right: 9px;
    top: 0;
    width: auto;
    z-index: 1;
  }
}