// reset checkbox input
.toggle-input {
  position: absolute; // no effect on layout
  visibility: hidden; // not visible, but functional
}

// toggle wrapper
.toggle-wrapper {
  display: inline-block;
  position: relative;

  // if you want icons (optional)
  &.show-icons {

    &::before,
    &::after {
      background-size: 100% 100%;
      content: '';
      display: block;
      height: 12px;
      opacity: .3;
      position: absolute;
      top: 5px;
      width: 12px;
    }

    // lock icon
    &::before {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKJJREFUeNpiYMAOBIB4PhD/R8PzoXJEg/1A/B6IE4DYAYoToGL7iTUkAWq7ARY5A6hcAjEGrYdikuSZcNh6EI9BB3G4FgP8h4YJLuAAVUPQRWQBqhnEgpRuEpDSSDwe78lD6QYg/gDEC0A0I1RwPtSgAyQ6BGTZBCAuRE6A/WT4qB+WQJHD6CMZBn0cvLE2uA3SJ0M/hp4ALIUYsRiklwEgwABo+i70TLjerQAAAABJRU5ErkJggg==);
      left: -15px;
    }

    // unlock icon
    &::after {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJJJREFUeNpiYCAeNADxfSD+j4TPA3EACWYwzIdq7AdiByQME08gxhAHAooboPJEueY8ATVEeQ8ULgUMVAD/od7DC5gIyAtA6Q+UusaB2IBkAWIDPIEljxQz6OAAFIMBIxC/hzr9AQkuFYA6QBFZ33+ksCA7EpioFZhMDFQCI8AgAxL1YVV/Hq2wIhbfR042AAEGAD7ILRFjehfpAAAAAElFTkSuQmCC);
      right: -15px;
    }
  }
}

// actual toggle
.toggle-group {
  background: $gray-lighter;
  border: 2px solid $gray-light;
  border-radius: 26px;
  cursor: pointer;
  height: 26px;
  position: relative;
  width: 40px;

  &:hover {
    background: #e6e6e6; // warning: unique color
  }

  &:active {
    background: $gray-light;
  }

  // smaller size
  &.toggle-sm {
    border-radius: 21px;
    height: 21px;
    width: 33px;

    &::after {
      height: 17px;
      width: 17px;
    }
  }

  // the toggle (white circle)
  &::after {
    background: $white;
    border-radius: 50%;
    box-shadow: 1px 1px 3px rgba($black,.05);
    content: '';
    display: block;
    height: 22px;
    left: 0;
    position: absolute;
    top: 0;
    transition: transform .15s ease-in-out;
    width: 22px;
  }
}

// logic
.toggle-input:checked ~ .toggle-group {
  @extend %green;

  // states from .green.btn
  &:hover {
    background: #8ae09c; // rgba($green,.6);
  }

  &:active {
    background: $green;
  }

  &.invalid {
    @extend %orange;

    &:hover {
      background: $orange-lighter;
    }

    &:active {
      background: $orange;
    }
  }

  // shift toggle & shadow
  &::after {
    box-shadow: -1px 1px 3px rgba($black,.05);
    transform: translate3d(14px,0,0);
  }

  // other sizes
  &.toggle-sm::after {
    transform: translate3d(12px,0,0);
  }
}

// disabled state
.toggle-input[disabled] {

  ~ .toggle-group {
    cursor: not-allowed;
    opacity: .5;

    &:hover,
    &:active {
      background: $gray-lighter;
      border: 2px solid $gray-light;
    }

  }

  // if checked
  &:checked ~ .toggle-group {

    &:hover,
    &:active {
      background: #5fd377; // rgba($green,.81);
      border-color: $green;
    }

    // if invalid
    &.invalid {

      &:hover,
      &:active {
        @extend %orange;
      }
    }
  }
}