// .tooltip
.tooltip {
  animation: tooltip .1s ease-in forwards;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: $z-tooltip;

  // .bottom
  &.bottom {

    &::before {
      border-bottom: 6px solid rgba($black,.75);
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 0;
      margin-left: 6px;
    }
  }

  // .right
  &.right {

    &::before {
      border-bottom: 6px solid transparent;
      border-left: 0;
      border-right: 6px solid rgba($black,.75);
      border-top: 6px solid transparent;
      float: left;
      margin-top: 7px;
    }

    .tooltip-text {
      margin-left: 6px;
    }
  }

  &.tooltip-definition {
    max-width: 300px;

    .tooltip-text {
      line-height: 1.4;
      white-space: normal;
    }
  }
}

.tooltip::before {
  content: '';
  display: block;
  height: 0;
  // opacity: 0;
  pointer-events: none;
  // position: absolute;
  transition: all .1s ease-in-out;
  width: 0;
}

.tooltip-text {
  background: rgba($black,.75);
  border-radius: 3px;
  color: $white;
  font-size: 14px;
  line-height: 1;
  padding: 6px 9px;
  text-shadow: none;
  white-space: nowrap;
}