
#output-view{
	height: 100%;
	#web{
		height:80%;
		position: relative;
	}
	#tail{
		height:20%;
		position: relative;
	}
}

#web{
	.toolbar{
		z-index:2;
		.top-pad{
			@include background-image(linear-gradient(#eaeae9,#dddfdc));
			border-bottom:1px solid #aaa;
			padding:5px;
			position:relative;
			z-index:1;
			@include box-shadow(inset 0 1px 0 rgba(255,255,255,.4),0 1px 2px rgba(0,0,0,.1));
			form{
				display:inline-block;
				vertical-align:middle;
			}
		}
		.toolbar-action{
			color:$link-off;
			font-weight:bold;
			padding:5px;
			//line-height:$toolbar-height;
			vertical-align: middle;
			background:none;
			border:none;
			height:100%;
			@include box-sizing(border-box);
			@include border-radius(3px);
			&:hover{
				color:$link-on;
				cursor:pointer;
				@include box-shadow(0 1px 2px rgba(0,0,0,.2),inset 0 1px 1px rgba(255,255,255,1));
			}
			&:active{
				position:relative;
				top:1px;
			}
			&.active{
				color:$primary-color;
			}
			&:disabled{
				color:#ddd;
				text-shadow: 0 1px 0 rgba(255,255,255,.6);
				cursor:default;
				&:hover{
					@include box-shadow(none);
				}
				&:active{
					top:0;
				}
			}
		}
		.server-address {
			display: inline-block;
			font-size:14px;
			height: ($toolbar-height - 7px);
			border: 1px solid $border-color;
			background-color: white;
			padding: 5px 10px;
			border-right: 0;
			@include border-radius(3px 0 0 3px);
			vertical-align: top;
			@include box-sizing(border-box);
			&:disabled{
				opacity:.5;
			}
		}
		.address-bar {
			width:400px;
			padding: 3px 5px;
			margin:3px 3px 3px 0;
			font-size:14px;
			border: 1px solid #bfc0c2;
			@include border-radius(3px);
			outline:none;
			vertical-align:top;
			background:#fff;
			@include box-sizing(border-box);
			@include box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
			&:disabled{
				//opacity:.5;
			}
		}
	}
	.web-iframe{
		height:100%;
		padding-top:40px;
		margin-top:-40px;
		box-sizing:border-box;
	  @include box-sizing(border-box);
	}
	.nprogress .bar{
		position: absolute;
		top: 39px;
	}
}

#tail {
	.loader{
		display:none
	}
	iframe.console-output {
		width: 100%;
		height:100%;
		border:none;
		padding:10px;
		background:#000;
		@include box-sizing(border-box);
	}
	&.loading > .loader{
		position:absolute;
		top: 6px;
		left: 18px;
		display:block;
		color: white;
	}
}


iframe.terminal-iframe{
	border: 1px solid black;
}

.blocking-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: black;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.nprogress .peg{
	-webkit-transform: rotate(1deg) translate(0px, -1px);
	-moz-transform: rotate(1deg) translate(0px, -1px);
	-ms-transform: rotate(1deg) translate(0px, -1px);
	-o-transform: rotate(1deg) translate(0px, -1px);
	transform: rotate(1deg) translate(0px, -1px);
}