.well {
  border: 1px solid transparent;
  border-radius: $input-border-radius;

  &.padding-xs,
  &.padding-sm,
  &.padding-md,
  &.padding-lg,
  &.padding-xl {
    border-radius: $input-border-radius-lg;
  }

  &.gray {
    border-color: $gray-lighter;
    font-weight: $weight-normal; // override .gray

    .modal-body & {
      background: $gray-lightest;
    }
  }

  &.white {
    background: $white;
    border-color: $gray-lighter;
  }

  // code sample
  &.well-code {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    margin: 0 -6px;
    overflow: hidden;
    padding: 0 6px;
  }

  &.well-inline {
    height: auto;
    line-height: inherit;
    margin: 0;
    padding: 0 3px;
    position: relative;
    top: 4px;
  }

  &.well-popover {
    font-weight: $weight-normal;
    margin-top: 6px;

    &.orange {
      background-color: $orange-lightest;
      border: 1px solid rgba($orange,.3);
      color: $orange;
    }

    &.red {
      background-color: $red-lighter;
      border: 1px solid rgba($red,.3);
      box-shadow: none;
      color: $red;
    }
  }

  &.red {
    background-color: rgba($red,.05);
    border-color: $red;
    box-shadow: inset 0 0 0 1px $red;
  }

  &.invalid {
    border-color: $red;
    box-shadow: inset 0 0 0 1px $red;
  }

  .label-checkbox {
    height: 36px;
    line-height: 36px;
  }
}
