.well {
  border-radius: 3px;
  color: $gray-darker;
  margin: 0 6px;
  padding: 0 3px;

  // border and bg not shown by default
  &.in {
    background: rgba($black,.025);
    border: 1px solid rgba($black,.1);
  }

  // code sample
  &.well-code {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    margin: 0 -6px;
    overflow: hidden;
    padding: 0 6px;
  }

  &.well-inline {
    height: auto;
    line-height: inherit;
    margin: 0;
    padding: 0 3px;
    position: relative;
    top: 4px;
  }

  &.well-popover {
    font-size: 15px;
    font-weight: $weight-normal;
    line-height: 18px;
    margin: 9px 9px 3px;
    padding: 9px 12px;

    &.orange {
      background-color: $orange-lightest;
      border: 1px solid rgba($orange,.3);
      color: $orange;
    }

    &.red {
      background-color: $red-lighter;
      border: 1px solid rgba($red,.3);
      color: $red;
    }
  }

  .label-checkbox {
    height: 36px;
    line-height: 36px;
  }
}
