//- on container sidebar
header.grid-block.align-center.justify-right.sidebar-section-heading(
  ng-if = "!editExplorer || debugContainer"
  ng-include = "'explorerSectionHeading'"
)

//- on configure modal
header.grid-block.align-center.justify-right.sidebar-section-heading(
  ng-controller = "FilePopoverController as FPC"
  ng-if = "editExplorer && rootDir && !instance.isMigrating()"
  ng-include = "'explorerSectionHeading'"
)

.grid-block.shrink.text-center.padding-md.error(
  ng-if = "!debugContainer && !editExplorer && !fileModel.running() || instance.isMigrating()"
) Files aren’t available when the container isn’t running.

.grid-block.vertical.padding-xs(
  ng-if = "rootDir && (debugContainer || editExplorer || fileModel.running()) && !instance.isMigrating()"
)
  ul.file-tree
    //- this is the root dir; there can be only one.
    li(
      dir = "rootDir"
      edit-explorer = "editExplorer"
      file-model = "fileModel"
      file-tree-dir
      is-root-dir = "true"
      loading-promises-target = "loadingPromisesTarget"
      open-items = "openItems"
      parent-dir = "rootDir"
      read-only = "readOnly"
      show-repo-folder = "showRepoFolder"
      state = "state"
      get-display-name = "getDisplayName"
    )
