button.grid-block.shrink.btn.btn-sm.btn-icon.purple(
  ng-class = "{'active': filePopover.data.show}"
)
  svg.iconnables
    use(
      xlink:href = "#icons-folder"
    )

button.grid-block.shrink.btn.btn-xs.btn-icon.purple(
  ng-class = "{'active': filePopover.data.show}"
  ng-show = "fileModel.running() || debugContainer"
  pop-over
  pop-over-actions = "FPC.actions"
  pop-over-active = "filePopover.data.show"
  pop-over-data = "filePopover.data"
  pop-over-options = "{\"top\":35,\"centered\":true}"
  pop-over-template = "viewFileTreePopoverFileExplorerMenu"
)
  svg.iconnables.icons-add
    use(
      xlink:href = "#icons-add"
    )
