//- on container sidebar
.sidebar-section-heading.strong(
  ng-include = "'explorerSectionHeading'"
)

//- on configure modal
.sidebar-actions(
  ng-controller = "FilePopoverController as FPC"
  ng-if = "editExplorer && rootDir"
)
  button.btn.btn-xs.gray(
    ng-class = "{'active': filePopover.data.show}"
    ng-disabled = "readOnly"
    pop-over
    pop-over-actions = "FPC.actions"
    pop-over-data = "filePopover.data"
    pop-over-options = "{\"left\":-76,\"top\":38}"
    pop-over-template = "viewFileTreePopoverFileExplorerMenu"
    pop-over-active = "filePopover.data.show"
  )
    svg.iconnables.icons-add
      use(
        xlink:href = "#icons-add"
      )

.sidebar-section-content(
  ng-if = "(editExplorer || !$storage.explorerIsClosed || debugContainer)"
)
  .well.in(
    ng-if = "!debugContainer && !editExplorer && !fileModel.running()"
  ) Your files are unavailable when the container is not running.

  ul.file-tree(
    ng-if = "rootDir && (debugContainer || editExplorer || fileModel.running())"
  )
    //- this is the root dir; there can be only one.
    li(
      dir = "rootDir"
      edit-explorer = "editExplorer"
      file-model = "fileModel"
      file-tree-dir
      is-root-dir = "true"
      loading-promises-target = "loadingPromisesTarget"
      open-items = "openItems"
      parent-dir = "rootDir"
      read-only = "readOnly"
      show-repo-folder = "showRepoFolder"
      state = "state"
    )
