li(
  dir = "fs"
  file-model = "fileModel"
  file-tree-dir
  getDisplayName = "getDisplayName"
  ng-repeat = "\
    fs in dir.contents.models \
    | filter: {attrs: {isDir: true}} \
    | orderBy:actions.normalizeMixedDataValue\
    track by fs.attrs.name\
  "
  open = "fs.state.open"
  open-items = "openItems"
  parent-dir = "dir"
  read-only = "readOnly"
)
li.file(
  draggable
  ng-class = "{\
    'active': fs.state.active && !state.showAddRepo && !isEditingRepo(),\
    'dirty': (fs.state.body !== fs.attrs.body),\
    'in-progress': fs.state.uploading\
  }"
  ng-click = "actions.openFile(fs)"
  ng-repeat = "\
    fs in dir.contents.models \
    | filter: {attrs: {isDir: false}} \
    | orderBy:actions.normalizeMixedDataValue\
    track by fs.attrs.name\
  "
)
  //- We don't want to initialize the pop-over for Dockerfile. :(
  a(
    ng-if = "fs.id() === '/Dockerfile'"
  )
    svg.iconnables.filetypes.icons-file(
      ng-if = "!readOnly"
    )
      use(
        xlink:href = "#icons-file-dockerfile"
      )
    svg.iconnables.filetypes.icons-file(
      ng-if = "readOnly"
    )
      use(
        xlink:href = "#icons-file-dockerfile-lock"
      )

    span.item-name {{fs.attrs.name}}
    span.btn.btn-file-errors.red(
      ng-if = "fs.validation.errors.length"
    ) {{fs.validation.errors.length}}


  a(
    ng-disabled = "readOnly"
    ng-if = "fs.id() !== '/Dockerfile'"
    pop-over
    pop-over-actions = "popoverFileExplorerFile.actions"
    pop-over-data = "fs"
    pop-over-options = "popoverFileExplorerFile.options"
    pop-over-template = "viewPopoverFileExplorerFileMenu"
    pop-over-trigger = "rightClick"
  )
    .spinner-wrapper.spinner-sm.spinner-blue.in(
      ng-if = "fs.state.uploading"
      ng-include = "'spinner'"
    )
    .progress.in(
      ng-if = "fs.state.uploading"
      ng-style = "getFileStyle(fs)"
    )
    svg.iconnables.filetypes.icons-file(
      ng-if = "!fs.state.uploading"
    )
      use(
        xlink:href = "#icons-file"
      )
    input.tree-input(
      name = "{{fs.id()}}"
      ng-blur = "actions.closeFileNameInput($event, fs)"
      ng-click = "actions.handleClickOnFileInput($event, fs)"
      ng-keyup = "actions.shouldCloseFileNameInput($event, fs)"
      ng-readonly = "!fs.state.renaming"
      select-on = "fs.state.renaming"
      value = "{{fs.attrs.name}}"
    )
    span.item-name {{fs.attrs.name}}

li.folder.in(
  ng-if = "$root.featureFlags.emptyFolder"
)
  a
    svg.iconnables.filetypes.icons-folder
      use(
        xlink:href = "#icons-folder"
      )
    span.item-name folder
  ul
    li.file.disabled.empty
      a
        span.item-name empty folder
