.popover.menu.bottom.popover-add-tab(
  ng-class = "{in: data.show}"
)
  .arrow.white
  .popover-content
    ul.list.popover-list
      li.list-item.popover-list-item.small Open Tab
      li.list-item.popover-list-item(
        ng-click = "actions.addWebView()"
        ng-if = "data.options.webView"
      )
        svg.iconnables.icons-web
          use(
            xlink:href = "#icons-web"
          )
        | Web View
      li.list-item.popover-list-item(
        ng-click = "actions.addTerminal()"
        ng-if = "data.options.terminal"
      )
        svg.iconnables.icons-terminal
          use(
            xlink:href = "#icons-terminal"
          )
        | Terminal
      li.list-item.popover-list-item(
        ng-click = "actions.addBuildStream()"
        ng-if = "data.options.buildStream"
      )
        svg.iconnables.icons-logs
          use(
            xlink:href = "#icons-logs"
          )
        | Build Logs
      li.list-item.popover-list-item(
        ng-click = "actions.addLogs()"
        ng-if = "data.options.logs"
      )
        svg.iconnables.icons-server
          use(xlink:href = "#icons-server")
        | Server Logs