.popover.bottom.fade.popover-add-tab(
  ng-class = "{in: data.show}"
)
  .arrow.white
  .popover-content
    //- all options appear on box page
    //- on edit, only build log and env vars appear
    //- on setup, only env vars appear
    ol.popover-columns
      li.popover-column(
        ng-click = "actions.addWebView()"
        ng-if = "data.options.webView"
      )
        svg.iconnables.iconnables-lg.icons-web
          use(
            xlink:href = "#icons-web"
          )
        | Web View
      li.popover-column(
        ng-click = "actions.addTerminal()"
        ng-if = "data.options.terminal"
      )
        svg.iconnables.iconnables-lg.icons-terminal
          use(
            xlink:href = "#icons-terminal"
          )
        | Terminal
      li.popover-column(
        ng-click = "actions.addBuildStream()"
        ng-if = "data.options.buildStream"
      )
        svg.iconnables.iconnables-lg.icons-logs
          use(
            xlink:href = "#icons-logs"
          )
        | Build Logs
      li.popover-column(
        ng-click = "actions.addLogs()"
        ng-if = "data.options.logs"
      )
        svg.iconnables.iconnables-lg.icons-server
          use(xlink:href = "#icons-server")
        | Box Log