//- if editing
button.btn-xs.white.repository-actions(
  ng-class = "{ \
    active: popoverData.data.show \
  }"
  toggle-pop-over
  toggle-pop-over-model = "popoverData.data.show"
  type = "button"
  ng-if = "edit"
)
  svg.iconnables.icons-gear
    use(
      xlink:href = "#icons-gear"
    )
  pop-over(
    actions = "popoverData.actions"
    data = "popoverData.data"
    template = "viewPopoverRepoActions"
  )


