//- if editing
button.btn-xs.white.repository-actions(
  ng-class = "{ \
    active: state.repoData.show \
  }"
  toggle-pop-over
  toggle-pop-over-model = "state.repoData.show"
  type = "button"
  ng-if = "edit"
)
  svg.iconnables.icons-gear
    use(
      xlink:href = "#icons-gear"
    )
  pop-over(
    actions = "data.popoverRepoActions.actions"
    data = "state.repoData"
    template = "viewInstanceEditPopoverRepoActions"
  )


