li.li.weight-strong(
  ng-class = "{'active': activeStep >= $index + 1}"
  ng-repeat = "i in stepArr track by $index"
)
  svg.iconnables.icons-check(
    ng-if = "activeStep > $index + 1"
  )
    use(
      xlink:href = "#icons-check"
    )
  span(
    ng-if = "activeStep <= $index + 1"
  ) {{$index + 1}}
