//- sidebar for accounts and boxes
nav.sidebar
  //- accounts
  header.row
    ol.accounts-group(
      ng-class = "{in: dataBoxLayout.data.showChangeAccount}"
      ng-click = "dataBoxLayout.data.showChangeAccount = !dataBoxLayout.data.showChangeAccount && \
                  $event.stopProagation()"
    )
      li.accounts-group-item
        a.account
          img.gravatar(
            height = "24"
            ng-src = "{{ dataBoxLayout.actions.getEntityGravatar(dataBoxLayout.data.activeAccount) }}"
            width = "24"
          )
          span {{ dataBoxLayout.actions.getEntityName(dataBoxLayout.data.activeAccount) }}
          //- icons-arrow-down only for first account
          svg.iconnables.icons-arrow-down
            use(
              xlink:href = "#icons-arrow-down"
            )
      //- TODO ng-click
      //- current user (if user is not active)
      li.accounts-group-item(
        ng-if = "dataApp.user !== dataBoxLayout.data.activeAccount"
      )
        a.account
          img.gravatar(
            height = "24"
            ng-src = "{{ dataBoxLayout.actions.getEntityGravatar(dataApp.user) }}"
            width = "24"
          )
          span {{ dataBoxLayout.actions.getEntityName(dataApp.user) }}
      //- Orgs that are not the active account
      li.accounts-group-item(
        ng-repeat = "org in dataBoxLayout.data.orgs.models"
        ng-if = "org !== dataBoxLayout.data.activeAccount"
      )
        a.account
          img.gravatar(
            height = "24"
            ng-src = "{{ dataBoxLayout.actions.getEntityGravatar(org) }}"
            width = "24"
          )
          span {{ dataBoxLayout.actions.getEntityName(org) }}
  //- boxes
  section.boxes.row
    h2.sub-header Boxes
      a.btn.white.tooltip.sub-header-action(
        data-title = "Create New Box"
        ng-click = "dataBoxLayout.actions.stateToNewProject()"
      )
        svg.iconnables.icons-add
          use(
            xlink:href = "#icons-add"
          )
    ul.box-group
      //- apply .active for currently selected box
      //- apply .running for a running box
      li.box-group-item(
        //- TODO: ng-class placeholder property. Replace when API client ready
        ng-class = "{running: box.attrs.running}"
        ng-repeat = "box in dataBoxLayout.data.instances.models"
        ng-click = "dataBoxLayout.actions.stateToInstance(box)"
      )
        a.white.box {{ box.attrs.name }}
          svg.iconnables.icons-trigger
            use(
              xlink:href = "#icons-trigger"
            )

//- 2nd level views (boxInstnce, boxInstanceEdit...)
main(ui-view)

//- global spinner
.spinner-container(
  ng-class = "{in: dataApp.data.loading}"
)
  .spinner.lg
    .spinner-ring
