.modal-backdrop
  .modal-dialog.modal-sm.modals-rename
    header.modal-header
      h1.modal-heading.text-overflow Create Template
      svg.iconnables.icons-close(
        ng-click = "MC.actions.cancel()"
      )
        use(
          xlink:href = "#icons-close"
        )
    section.modal-body
      form.modal-form(
        name = "nameForm"
      )
        label.label.clearfix
          .label-col Template Name
          .input-col
            div(
              ng-attr-data-length = "{{19 - nameForm.newName.$viewValue.length}}"
              ng-class = "{\
                'ng-invalid': nameForm.$error.maxlength,\
                'validate-length': nameForm.$error.maxlength,\
                'validate-sm': nameForm.$error.maxlength\
              }"
            )
              input.input.input-sm.input-validate(
                autocomplete = "off"
                name = "newName"
                ng-maxlength = "19"
                ng-model = "MC.name"
                ng-pattern = "/^[a-zA-Z0-9-]*$/"
                spellcheck = "false"
                unique-validator = "MC.instanceNames"
                placeholder = "{{MC.instanceToForkName}}"
                no-double-dash-validator
              )

            ul.list.list-bulleted.list-validation
              li.list-item(
                ng-class = "{'ng-invalid': nameForm.$error.unique}"
              ) Choose a unique name for this template
              li.list-item(
                ng-class = "{'ng-invalid': nameForm.$error.pattern || nameForm.$error.noDoubleDash}"
              ) Use letters, numbers, and single hyphens (-)
              li.list-item(
                ng-class = "{'ng-invalid': nameForm.$error.maxlength}"
              ) Use 19 characters or less

    footer.modal-footer.clearfix
      button.btn.btn-md.gray.btn-cancel.float-left(
        ng-click = "MC.actions.cancel()"
      ) Cancel
      button.btn.btn-md.green.float-right(
        ng-disabled = "!MC.name.length || nameForm.$invalid || MC.saving"
        ng-click = "MC.actions.save()"
      )
        .spinner-wrapper.spinner-white.spinner-sm.in(
          ng-include = "'spinner'"
          ng-if = "MC.saving"
        )
        span Create Template
