.modal-backdrop
  .modal-dialog.modal-sm.modals-rename
    section.modal-body
      svg.iconnables.icons-close(
        ng-click = "MC.actions.cancel()"
      )
        use(
          xlink:href = "#icons-close"
        )
      form.modal-form(
        name = "nameForm"
      )
        label.label.clearfix
          .label-col Name Container
          .input-col
            div(
            ng-class = "{\
                'ng-invalid': nameForm.$error.maxlength,\
                'validate-length': nameForm.$error.maxlength,\
                'validate-sm': nameForm.$error.maxlength\
              }"
              ng-attr-data-length = "{{19 - nameForm.newName.$viewValue.length}}"
            )
              input.input.input-sm.input-validate(
                autocomplete = "off"
                name = "newName"
                ng-maxlength = "19"
                ng-model = "MC.name"
                ng-pattern = "/^[a-zA-Z0-9-]*$/"
                spellcheck = "false"
                unique-validator = "MC.instanceNames"
                placeholder = "{{MC.instanceToForkName}}"
              )

            ul.list.list-bulleted.list-validation
              li.list-item(
                ng-class = "{'ng-invalid': nameForm.$error.unique}"
              ) Choose a unique name in your Sandbox
              li.list-item(
                ng-class = "{'ng-invalid': nameForm.$error.pattern}"
              ) Use letters, numbers, and hyphens (-)
              li.list-item(
                ng-class = "{'ng-invalid': nameForm.$error.maxlength}"
              ) Use 19 characters or less

    footer.modal-footer.clearfix
      button.btn.btn-md.white.float-left(
        ng-click = "MC.actions.cancel()"
      ) Cancel
      button.btn.btn-md.green.float-right(
        ng-disabled = "!MC.name.length || nameForm.$invalid || MC.saving"
        ng-click = "MC.actions.save()"
      ) Create Container
