.error-wrapper
  .error-content(
    ng-if = "err === 'signin'"
    ng-include = "'404NotSignedInView'"
  )
  .error-content(
    ng-if = "err === 'invalid'"
    ng-include = "'404InvalidUrlView'"
  )
  .error-content(
    ng-if = "err === 'dead'"
    ng-include = "'404ContainerDownView'"
  )
  .error-content(
    ng-if = "err === 'ports'"
    ng-include = "'404PortClosedView'"
  )
  .error-content(
    ng-if = "err === 'unresponsive'"
    ng-include = "'404UnresponsiveView'"
  )