// global layout
body {
  -webkit-font-smoothing: subpixel-antialiased;
}

html,
body,
#content,
main {
  height: 100%;
}

main {
  overflow: hidden;
}

// utility
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}

.clearfix:after {
  clear: both;
}