section.row.repo-list
  h2.sub-header Repositories

    //- update / build button
    a.btn.btn-xs.orange.sub-header-action(
      ng-click = "triggerInstanceUpdateOnRepoCommitChange()"
      ng-if = "showUpdateButton()"
      tooltip = "Update your box to see your changes"
      tooltip-options = "{\"class\":\"bottom\",\"top\":24}"
    ) Update
      svg.iconnables.icons-update
        use(
          xlink:href = "#icons-update"
        )

    runnable-add-repo-popover(
      show = "data.show"
    )

  //- show .guide if instance.setup && no repositories have been added yet
  .guide.blue(
    ng-if = "showGuide && build.contextVersions.models[0].appCodeVersions.models.length === 0"
    ng-click = "data.show = !data.show; \
                $event.stopPropagation();"
  )
    svg.iconnables.icons-git
      use(
        xlink:href = "#icons-git"
      )
    p Add a repository to your box.

  ul.repository-group
    //-
      - display selected commit
        - pending state if selected commit !== actual saved commit
      - popover for selecting new commit
      - repo-options (delete, fast-forward commit)
      - fast-forward
    runnable-edit-repo-commit(
      ng-repeat = "acv in build.contextVersions.models[0].appCodeVersions.models"
      ng-init   = "unsavedAcv = newUnsavedAcv(acv);"
      app-code-version = "acv"
      unsaved-app-code-version = "unsavedAcv"
    )
