section.row.repo-list
  h2.sub-header
    .sub-header-text Repositories

    //- update / build button
    //- a.btn.btn-xs.orange.sub-header-action(
    //-   ng-click = "triggerInstanceUpdateOnRepoCommitChange()"
    //-   ng-if = "showUpdateButton()"
    //-   tooltip = "Update your box to see your changes"
    //-   tooltip-options = "{\"class\":\"bottom\",\"top\":24}"
    //- ) Update
    //-   svg.iconnables.icons-update
    //-     use(
    //-       xlink:href = "#icons-update"
    //-     )

    //- always show this
    add-repo-popover(
      show = "data.show"
    )

    show-demo-modal(
      ng-if = "data.isDemo"
    )

  //- show .guide if instance.setup && no repositories have been added yet
  .guide.guide-image.guide-pointer(
    ng-click = "data.show = !data.show; \
      $event.stopPropagation();"
    ng-if = "showAddFirstRepoMessage && build.contextVersions.models[0].appCodeVersions.models.length === 0"
  )
    svg.iconnables.icons-repository
      use(
        xlink:href = "#icons-repository"
      )
    .guide-text Add a repository to your box.

  ul.repository-group
    //-
      - display selected commit
        - pending state if selected commit !== actual saved commit
      - popover for selecting new commit
      - repo-options (delete, fast-forward commit)
      - fast-forward
    edit-repo-commit(
      app-code-version = "acv"
      ng-init = "unsavedAcv = newUnsavedAcv(acv);"
      ng-repeat = "acv in build.contextVersions.models[0].appCodeVersions.models"
      unsaved-app-code-version = "unsavedAcv"
    )
    li.list-details
      .small Disabling auto-deploy will stop your box from automatically updating with new changes to your repositories.
      label.label-checkbox.btn.btn-sm Disable auto-deploy
        input.input-checkbox(
          ng-model = "data.restartOnSave"
          type = "checkbox"
        )

    //- older types of things:
    //- edit-repo-commit(
    //-   app-code-version = "acv"
    //-   ng-init = "unsavedAcv = newUnsavedAcv(acv);"
    //-   ng-repeat = "acv in build.contextVersions.models[0].appCodeVersions.models"
    //-   unsaved-app-code-version = "unsavedAcv"
    //- )
