.row-heading(
  ng-click = "$storage.repoListIsClosed = !$storage.repoListIsClosed"
  ng-class = "{ closed: $storage.repoListIsClosed }"
)
  svg.iconnables.icons-disclose
    use(
      xlink:href = "#icons-disclose"
    )
  | Repositories

  //- update / build button
  button.btn.btn-xs.orange.sub-header-action(
    ng-click = "triggerInstanceUpdateOnRepoCommitChange()"
    ng-if = "showUpdateButton()"
    tooltip = "Update your server to see your changes"
    tooltip-options = "{\"class\":\"bottom\",\"top\":24}"
  )
    svg.iconnables.icons-update
      use(
        xlink:href = "#icons-update"
      )
    | Update

//- show .guide if instance.setup && no repositories have been added yet
.guide.guide-image.guide-pointer(
  ng-click = "data.show = !data.show"
  ng-if = "!$storage.repoListIsClosed && showAddFirstRepoMessage && unsavedAcvs.length === 0"
)
  svg.iconnables.icons-git
    use(
      xlink:href = "#icons-git"
    )
  p.guide-text Add a repository to your server.
ul.list.repository-group(
  ng-if = "!$storage.repoListIsClosed"
)
  li.list-item.repository-group-item(
    edit-repo-commit
    ng-repeat = "model in unsavedAcvs"
    model = "model"
  )
  li.list-details(
    ng-show = "unsavedAcvs.length && !showAddFirstRepoMessage"
  )
    label.label-checkbox.btn-sm.btn-checkbox(
      ng-if = "showAutoDeploy"
      tooltip = "Disabling auto-deploy will stop your server from automatically updating with new changes to your repositories."
      tooltip-options = "{\"class\":\"bottom tooltip-definition\",\"left\":3,\"top\":27}"
    )
      input.input-checkbox(
        ng-model = "data.autoDeploy"
        type = "checkbox"
      )
      | Disable auto-deploy
