.sidebar-section-heading.strong(
  ng-class = "{closed: $storage.repoListIsClosed}"
  ng-click = "$storage.repoListIsClosed = !$storage.repoListIsClosed"
)
  svg.iconnables.icons-disclose
    use(
      xlink:href = "#icons-disclose"
    )
  | Repositories

ul.list.repository-group(
  ng-if = "!$storage.repoListIsClosed"
)
  li.list-item.repository-group-item(
    edit-repo-commit
    model = "instance.contextVersion.getMainAppCodeVersion()"
    actions = ""
  )
  li.list-details
    label.label-checkbox.btn-sm.btn-checkbox(
      tooltip = "Disabling auto-deploy will stop your container from automatically updating with new changes to your repositories."
      tooltip-options = "{\"class\":\"bottom tooltip-definition\",\"left\":-6,\"top\":24}"
    )
      input.input-checkbox(
        ng-false-value="true"
        ng-model = "instance.attrs.locked"
        ng-true-value="false"
        type = "checkbox"
      )
      | Auto-deploy
