.sidebar-heading.strong(
  ng-class = "{closed: $storage.repoListIsClosed}"
  ng-click = "$storage.repoListIsClosed = !$storage.repoListIsClosed"
)
  svg.iconnables.icons-disclose
    use(
      xlink:href = "#icons-disclose"
    )
  | Repositories
.repository-group-item(
  edit-repo-commit
  model = "instance.contextVersion.getMainAppCodeVersion()"
)
//- in-process additional repo
.repository-group-item(
  model = "instance.contextVersion.getMainAppCodeVersion()"
)
  .small.strong.text-overflow repo-name
  .btn.gray
    .repository-description.text-overflow.clearfix.js-repository-branch my-branch-name
      svg.iconnables.icons-branch
        use(
          xlink:href = "#icons-branch"
        )
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )