section.row.repo-list
  h2.sub-header Repositories

    runnable-button-update-instance-repos

    runnable-add-repo-popover

    //- show .guide if /new && no repositories have been added yet
  .guide.blue(
    ng-if = "showGuide && data.version.appCodeVersions.models.length === 0"
    toggle-pop-over
    toggle-pop-over-model = "data.show"
  )
    svg.iconnables.icons-git
      use(
        xlink:href = "#icons-git"
      )
    p Add a repository to your box.

  ul.repository-group
    li.repository-group-item(
      ng-repeat = "acv in build.contextVersions.models[0].appCodeVersions.models"
    )
      svg.iconnables.icons-git
        use(xlink:href = "#icons-git")
      h3.repository-title {{ acv.attrs.repo }}

      runnable-button-fast-forward-repo
      //-
        //- if not editing and behind latest
        button.btn-xs.white.repository-update(
          ng-click = "selectLatestCommit(acv)"
          ng-if = "!edit && acv.githubRepo.state.activeBranch.state.activeCommit.state.commitsBehind"
          tooltip = "Fast-forward {{ acv.githubRepo.state.activeBranch.attrs.name }} \
                     ({{ acv.githubRepo.state.activeBranch.state.activeCommit.state.commitsBehind ? \
                       acv.githubRepo.state.activeBranch.state.activeCommit.state.commitsBehind +' commits behind' : \
                       'To latest' }})"
          tooltip-options = "{\"class\":\"bottom\",\"top\":24}"
        ) {{ acv.githubRepo.state.activeBranch.state.activeCommit.state.commitsBehind }}
          svg.iconnables.icons-update
            use(
              xlink:href = "#icons-update"
            )

      runnable-repo-actions
      //-
        //- if editing
        button.btn-xs.white.repository-actions(
          ng-class = "{ \
            active: state.repoData.show \
          }"
          toggle-pop-over
          toggle-pop-over-model = "state.repoData.show"
          type = "button"
          ng-if = "edit"
        )
          svg.iconnables.icons-gear
            use(
              xlink:href = "#icons-gear"
            )
          pop-over(
            actions = "data.popoverRepoActions.actions"
            data = "state.repoData"
            template = "viewInstanceEditPopoverRepoActions"
          )

      //-
        display selected commit
        pending state if selected commit !== actual saved commit
        popover for selecting new commit
      runnable-edit-repo-commit(
        app-code-version = "acv"
      )
