.sidebar-section-heading.strong(
  ng-class = "{'closed': $storage.repoListIsClosed}"
  ng-click = "$storage.repoListIsClosed = !$storage.repoListIsClosed"
)
  svg.iconnables.icons-disclose
    use(
      xlink:href = "#icons-disclose"
    )
  | Repositories

.sidebar-section-content(
  ng-if = "!$storage.repoListIsClosed && $root.featureFlags.additionalRepositories"
)
  .sidebar-section-item(
    edit-repo-commit
    instance = "instance"
    model = "acv"
    ng-repeat = "acv in instance.contextVersion.appCodeVersions.models | orderBy : '-attrs.additionalRepo'"
  )
.sidebar-section-content(
  ng-if = "!$storage.repoListIsClosed && !$root.featureFlags.additionalRepositories"
)
  .sidebar-section-item(
    edit-repo-commit
    instance = "instance"
    model = "instance.contextVersion.getMainAppCodeVersion()"
  )