section.row.repo-list
  h2.sub-header Repositories

    //- update / build button
    a.btn.btn-xs.orange.sub-header-action(
      ng-click = "triggerInstanceUpdateOnRepoCommitChange()"
      ng-if = "showUpdateButton()"
      tooltip = "Update your box to see your changes"
      tooltip-options = "{\"class\":\"bottom\",\"top\":24}"
    ) Update
      svg.iconnables.icons-update
        use(
          xlink:href = "#icons-update"
        )

    add-repo-popover(
      ng-if = "!data.isDemo"
      show = "data.show"
    )

    show-demo-modal(
      ng-if = "data.isDemo"
    )

  //- show .guide if instance.setup && no repositories have been added yet
  .guide.guide-image.guide-pointer(
    ng-click = "data.show = !data.show; \
      $event.stopPropagation();"
    ng-if = "showAddFirstRepoMessage && build.contextVersions.models[0].appCodeVersions.models.length === 0"
  )
    svg.iconnables.icons-git
      use(
        xlink:href = "#icons-git"
      )
    .guide-text Add a repository to your box.

  ul.repository-group
    li.repository-group-item.clearfix
      svg.iconnables.icons-git
        use(
          xlink:href = "#icons-git"
        )
      .repository-group-text
        h3.repository-title outpunk/evil-icons
        p.repository-description.clearfix
          svg.iconnables.icons-branch
            use(
              xlink:href = "#icons-branch"
            )
          | gh-pages
          small.repository-detail 1 day

    li.repository-group-item.clearfix
      svg.iconnables.icons-forked
        use(
          xlink:href = "#icons-forked"
        )
      .repository-group-text
        h3.repository-title outpunk/adaptive-evil-blocks
        p.repository-description.clearfix
          svg.iconnables.icons-commit
            use(
              xlink:href = "#icons-commit"
            )
          | Update README.md
          small.repository-detail 3 days

    //-
      - display selected commit
        - pending state if selected commit !== actual saved commit
      - popover for selecting new commit
      - repo-options (delete, fast-forward commit)
      - fast-forward
    //- edit-repo-commit(
    //-   app-code-version = "acv"
    //-   ng-init = "unsavedAcv = newUnsavedAcv(acv);"
    //-   ng-repeat = "acv in build.contextVersions.models[0].appCodeVersions.models"
    //-   unsaved-app-code-version = "unsavedAcv"
    //- )