.sidebar-section-heading Repositories
.sidebar-section-content
  .sidebar-section-item(
    edit-repo-commit
    instance = "instance"
    model = "acv"
    ng-repeat = "acv in instance.contextVersion.appCodeVersions.models | orderBy : '-attrs.additionalRepo'"
  )
