.sidebar-section-heading.strong(
  ng-class = "{'closed': $storage.repoListIsClosed}"
  ng-click = "$storage.repoListIsClosed = !$storage.repoListIsClosed"
)
  svg.iconnables(
    ng-class = "{'icons-arrow-forward': $storage.repoListIsClosed}"
  )
    use(
      xlink:href = "#icons-arrow-down"
    )
  | Repositories

.sidebar-section-content(
  ng-if = "!$storage.repoListIsClosed"
)
  .sidebar-section-item(
    edit-repo-commit
    instance = "instance"
    model = "acv"
    ng-repeat = "acv in instance.contextVersion.appCodeVersions.models | orderBy : '-attrs.additionalRepo'"
  )