#select-tabs.dropdown
  button.btn-icon(type = "button")
    svg.iconnables.icons-select
      use(xlink:href = "#icons-select")
  select
    option(
      ng-repeat = "buildFile in actions.getActiveFiles()"
    ) {{ buildFile.fullPath() }}


