ul#tabs-wrapper
  li
    a.active(
      data-title = "dockerfile"
      title = "~/full/path/dockerfile"
    ) dockerfile
    button.btn-icon
      object.iconnables(
        data = "/build/images/icons/icons-close.svg"
        type = "image/svg+xml"
      )
  li
    a(
      data-title = "main.config"
      title = "~/full/path/main.config"
    ) main.config
    button.btn-icon
      object.iconnables(
        data = "/build/images/icons/icons-close.svg"
        type = "image/svg+xml"
      )
