#select-tabs.dropdown
  button.btn-icon(type = "button")
    object.iconnables(
      data = "/build/images/icons/icons-select.svg"
      type = "image/svg+xml"
    )
  select
    option(
      ng-repeat = "buildFile in actions.getActiveFiles()"
    ) {{ buildFile.fullPath() }}


