#editor-container(ng-switch on = "openFiles.activeFile.attrs.type")
  //- ACE EDITOR
  pre(
    ng-model = "openFiles.activeFile.state.body"
    ng-switch-default
    ng-class = "{ \
      readonly: readOnly, \
      'ace-runnable-dark': isDarkTheme \
    }"
    readonly = "{{ readOnly }}"
    ui-ace
  )

  //- TERMINAL
  .term-container(
    ng-switch-when = "terminal"
  )
    term.terminal(
      params = "openFiles.activeFile.attrs.params"
    )

  //- OUTPUT STREAM
  output-stream(
    ng-switch-when = "outputStream"
  )

  .web-container(
    ng-switch-when = "webView"
  )
    //- .browser-loading to toggle refresh/stop icon
    //- .browser-loading is also required for the progress bar, so remove it when loading is complete
    nav.browser-chrome
      //- apply [disabled] to back/forward to disable
      button.btn-icon(
        disabled
        type = "button"
      )
        svg.iconnables.icons-chevron-left
          use(xlink:href = "#icons-chevron-left")
      button.btn-icon(
        disabled
        type = "button"
      )
        svg.iconnables.icons-chevron-right
          use(xlink:href = "#icons-chevron-right")
      .iconnables.iconnables-container
        button.btn-icon(type = "button")
          svg.iconnables.icons-refresh
            use(xlink:href = "#icons-refresh")
        button.btn-icon(type = "button")
          svg.iconnables.icons-stop
            use(xlink:href = "#icons-stop")
      //- select all text on click
      input.form-control(
        placeholder = "Enter an address"
        value = "{{ container.urls()[0] }}"
      )
      //- style="-webkit-transform: scale3d(%,1,1); transform: scale3d(%,1,1);" to move progress bar--% is the total progress out of 1.00
      //- http://caniuse.com/#search=transform (Current and previous versions, July 2014):
      //- * chrome 35
      //- * safari 6.1, 7, 8
      //- * android 4.2, 4.3, 4.4
      .progress
    //- server log and terminal tab should open by default
    iframe(
      src = "{{ $sce.trustAsResourceUrl(container.urls()[0]) }}"
    )
