#editor-toolbar
  ul#tabs-wrapper
    li(ng-repeat = "file in openFiles.collection.models")
      a(
        ng-attr-data-title = "{{ file.filename() }}"
        title = "{{ file.filename() }}"
        ng-class = "{'active': file.state.active}"
      ) {{ file.filename() }}
      button.btn-icon(
        ng-click = "openFiles.remove(file); $event.stopPropagation();"
      )
        svg.iconnables.icons-close
          use(xlink:href = "#icons-close")
