section.row
  h2.sub-header Repositories
    a.btn.btn-sm.white.sub-header-action(
      ng-if = "edit"
      ng-class = "{active: data.show}"
      toggle-pop-over
      toggle-pop-over-model = "data.show"
      type = "button"
    )
      svg.iconnables.icons-add
        use(
          xlink:href = "#icons-add"
        )
      pop-over(
        actions = "actions"
        data = "data"
        template = "viewInstanceEditPopoverAddRepo"
      )

  //- show .guide if /new && no repositories have been added yet
  .guide.blue(
    ng-if = "data.version.appCodeVersions.models.length === 0"
    toggle-pop-over
    toggle-pop-over-model = "data.show"
  )
    svg.iconnables.icons-git
      use(
        xlink:href = "#icons-git"
      )
    p Add a repository to your box.

  ul.repository-group
    li.repository-group-item(
      ng-repeat = "repo in data.version.appCodeVersions.models"
    )
      svg.iconnables.icons-git
        use(
          xlink:href = "#icons-git"
        )
      h3.repository-title {{ repo.attrs.repo }}

      //- if not editing and behind latest
      button.btn-xs.white.tooltip.bottom.repository-update(
        data-title = "Fast-forward {{ repo.attrs.branch }} ({{ repo.attrs.commitsBehind }} commits behind)"
        ng-if = "repo.attrs.commitsBehind"
      ) {{ repo.attrs.commitsBehind }}
        svg.iconnables.icons-update
          use(
            xlink:href = "#icons-update"
          )

      //- if editing
      //- button.btn-xs.white.repository-actions(
      //-   ng-class = "{active: repo.data.popoverRepoActions.data.show}"
      //-   toggle-pop-over
      //-   toggle-pop-over-model = "repo.data.popoverRepoActions.data.show"
      //-   type = "button"
      //- )
      //-   svg.iconnables.icons-gear
      //-     use(
      //-       xlink:href = "#icons-gear"
      //-     )
      //-   pop-over(
      //-     actions = "repo.data.popoverRepoActions.actions"
      //-     data = "repo.data.popoverRepoActions.data"
      //-     template = "viewInstanceEditPopoverRepoActions"
      //-   )

      //- add .pending for orange
      .commit(
        ng-class = "{ \
          pending: ((repo.attrs.activeCommit !== repo.state.activeCommit) && repo.state.activeCommit) \
        }"
        toggle-pop-over
        toggle-pop-over-model = "repo.state.show"
      )
        .commit-message {{ actions.fetchRepoDisplayActiveCommit(repo).commit.message }}
        svg.iconnables.icons-commit
          use(
            xlink:href = "#icons-commit"
          )
        span.commit-author {{ actions.fetchRepoDisplayActiveCommit(repo).author.login }}
        time.commit-time {{ actions.fetchRepoDisplayActiveCommit(repo).commit.author.date | timeAgo }}
      pop-over(
        actions = "actions"
        data = "repo"
        template = "viewInstancePopoverCommitSelect"
      )
