#editor-container
  pre(
    ui-ace
    ng-model = "activeFileClone.body"
    readonly = "{{ isReadOnly }}"
    ng-class = "{\
      readonly: isReadOnly,\
      'ace-runnable-dark': isDarkTheme\
    }"
  )
