#logs
  pre
    {{ stream.data | buildStreamCleaner }}
//-
  //- show close button when finished
  button#editor-status.silver(
    type = "button"
    ng-disabled = "!build.attrs.completed"
    ng-click = "close()"
  ) Close Log
