#select-tabs.dropdown
  button.btn-icon(type = "button")
    svg.iconnables.icons-select
      use(xlink:href = "#icons-select")
  select
    option(
      ng-repeat = "item in openItems.models"
      ng-click = "openItems.setActive(item);"
    ) {{ item.attrs.name }}
