.logs
  pre.pre(
    style = "display: inline-block; \
             width: 50%;"
    ng-bind-html = "getStream()"
  )
  .slider-vertical(
    style = "display: inline-block; \
             height: 100%; \
             width: 10px;"
  )
