ul.repository-group
  li.repository-group-item(
    ng-repeat = "repo in acvs"
  )
    svg.iconnables.icons-git
      use(
        xlink:href = "#icons-git"
      )
    h3.repository-title {{ repo.attrs.repo }}
    button.white.repository-update.tooltip(
      data-title = "Fast-forward {{ repo.attrs.branch }} ({{ repo.attrs.commitsBehind }} commits behind)"
      ng-if = "repo.attrs.commitsBehind"
    ) {{ repo.attrs.commitsBehind }}
      svg.iconnables.icons-update
        use(
          xlink:href = "#icons-update"
        )
    .commit(
      toggle-pop-over
      toggle-pop-over-model = "repo.state.show"
    )
      .commit-message {{ repo.attrs.activeCommit.commit.message }}
      svg.iconnables.icons-commit
        use(
          xlink:href = "#icons-commit"
        )
      span.commit-author {{ repo.attrs.activeCommit.author.login }}
      time.commit-time {{ repo.attrs.activeCommit.commit.author.date | timeAgo }}
    pop-over(
      actions = "actions"
      data = "repo"
      template = "viewInstancePopoverCommitSelect"
    )

  //- li.repository-group-item
  //-   svg.iconnables.icons-git
  //-     use(
  //-       xlink:href = "#icons-git"
  //-     )
  //-   h3.repository-title CodeNow/api
  //-   .commit
  //-     .commit-message actually submit .env.local
  //-     svg.iconnables.icons-commit
  //-       use(
  //-         xlink:href = "#icons-commit"
  //-       )
  //-     span.commit-author anandkumarpatel
  //-     time.commit-time 2 hours ago
