#logs
  pre
    {{ stream.data }}
    #log
  //- show close button when finished
  button#editor-status.silver(
    type = "button"
    ng-disabled = "!stream.finished"
    ng-click = "closed = true"
  ) Close Log
