#select-tabs.dropdown
  button.btn-icon(type = "button")
    svg.iconnables.icons-select
      use(xlink:href = "#icons-select")
  select
    option(
      ng-repeat = "file in openFiles.collection.models"
      ng-click = "openFiles.setActiveFile(file);"
    ) {{ file.filepath() + file.filename() }}


