section.row
  h2.sub-header Repositories
    a.btn.btn-xs.orange.tooltip.bottom.sub-header-action(
      data-title = "Update your box to see your changes"
      ng-click = "actions.triggerInstanceUpdateOnRepoCommitChange()"
      ng-if = "data.showUpdateButton"
    ) Update
      svg.iconnables.icons-update
        use(
          xlink:href = "#icons-update"
        )
    a.btn.btn-sm.white.sub-header-action(
      ng-if = "edit"
      ng-class = "{active: data.show}"
      toggle-pop-over
      toggle-pop-over-model = "data.show"
      type = "button"
    )
      svg.iconnables.icons-add
        use(
          xlink:href = "#icons-add"
        )
      pop-over(
        actions = "actions"
        data = "data"
        template = "viewInstanceEditPopoverAddRepo"
      )

  //- show .guide if /new && no repositories have been added yet
  .guide.blue(
    ng-if = "showGuide && data.version.appCodeVersions.models.length === 0"
    toggle-pop-over
    toggle-pop-over-model = "data.show"
  )
    svg.iconnables.icons-git
      use(
        xlink:href = "#icons-git"
      )
    p Add a repository to your box.

  ul.repository-group
    li.repository-group-item(
      ng-repeat = "acv in data.version.appCodeVersions.models"
      ng-init = " \
        githubRepo = acv.githubRepo; \
        state = {}; \
        state.repoActions = { acv: acv }; \
      "
    )
      svg.iconnables.icons-git
        use(
          xlink:href = "#icons-git"
        )
      h3.repository-title {{ acv.attrs.repo }}

      //- if not editing and behind latest
      button.btn-xs.white.tooltip.bottom.repository-update(
        data-title = "Fast-forward {{ githubRepo.state.activeBranch.attrs.name }} ({{ githubRepo.state.activeBranch.state.activeCommit.state.commitsBehind }} commits behind)"
        ng-if = "!edit && githubRepo.state.activeBranch.state.activeCommit.state.commitsBehind"
        ng-click = "actions.selectLatestCommit(acv)"
      ) {{ githubRepo.state.activeBranch.state.activeCommit.state.commitsBehind }}
        svg.iconnables.icons-update
          use(
            xlink:href = "#icons-update"
          )

      //- if editing
      button.btn-xs.white.repository-actions(
        ng-class = "{ active: state.repoActions.show }"
        toggle-pop-over
        toggle-pop-over-model = "state.repoActions.show"
        type = "button"
        ng-if = "edit"
      )
        svg.iconnables.icons-gear
          use(
            xlink:href = "#icons-gear"
          )
        pop-over(
          actions = "data.popoverRepoActions.actions"
          data = "state.repoActions"
          template = "viewInstanceEditPopoverRepoActions"
        )

      //- add .pending for orange
      .commit(
        ng-class = "{ \
          pending: githubRepo.state.activeBranch.state.activeCommit && (acv.attrs.commit !== githubRepo.state.activeBranch.state.activeCommit.attrs.sha) \
        }"
        toggle-pop-over
        toggle-pop-over-model = "acv.state.show"
        ng-click = " \
          acv.state.toggleFilter = false; \
          acv.state.commitFilter = ''; \
          actions.resetSelectedBranch(acv.githubRepo); \
          actions.fetchBranchesForRepo(acv.githubRepo); \
          actions.fetchCommitsForBranch(acv, githubRepo.state.activeBranch); \
        "
      )
        .commit-message {{ githubRepo.state.activeBranch.state.activeCommit.attrs.commit.message }}
        svg.iconnables.icons-commit
          use(
            xlink:href = "#icons-commit"
          )
        span.commit-author {{ githubRepo.state.activeBranch.state.activeCommit.attrs.author.login }}
        time.commit-time {{ githubRepo.state.activeBranch.state.activeCommit.attrs.commit.author.date | timeAgo }}
      pop-over(
        actions = "actions"
        data = "acv"
        template = "viewInstancePopoverCommitSelect"
      )
