#logs
  pre
    {{ stream.data }}
    #log
  //- show close button when finished
  button#editor-status.silver(
    type = "button"
    ng-disabled = "!dataBuild.data.build.attrs.completed"
    ng-click = "dataBuild.data.closed = true"
  ) Close Log
