#editor-toolbar
  ul#tabs-wrapper
    //-  li(ng-repeat = "buildFile in buildFiles.models | filter:{state:{active:true}}")
    li(ng-repeat = "buildFile in actions.getActiveFiles()")
      a(
        ng-attr-data-title = "{{ buildFile.attrs.id }}"
        title = "{{ buildFile.fullPath() }}"
        ng-class = "{active: (buildFile.state.activeTime === actions.getLastActiveFileTime())}"
      ) {{ buildFile.fullPath() }}
      button.btn-icon(
        ng-click = "buildFile.state.active = false"
      )
        object.iconnables(
          data = "/build/images/icons/icons-close.svg"
          type = "image/svg+xml"
        )
