#editor-toolbar
  ul#tabs-wrapper
    li(
      ng-repeat = "item in openItems.models"
    )
      //- title should show the full file path
      a(
        ng-attr-data-title = "{{ item.attrs.name }}"
        ng-class = "{'active': item.state.active}"
        ng-click = "openItems.activeHistory.add(item); $event.stopPropagation();"
        title = "{{ item.attrs.name }}"
      ) {{ item.attrs.name  }}
      button.btn-icon(
        ng-if = "!item.state.alwaysOpen"
        ng-click = "openItems.remove(item); $event.stopPropagation();"
      )
        svg.iconnables.icons-close
          use(xlink:href = "#icons-close")
