#logs(
  ng-class = "{out: out}"
)
  pre
    {{ stream.data }}
    #log
  //- show close button when finished
  button#editor-status.silver(
    type = "button"
    ng-disabled = "!build.attrs.completed"
    ng-click = "close()"
  ) Close Log
