#select-tabs.dropdown
  button.btn-icon(type = "button")
    object.iconnables(
      data = "/build/images/icons/icons-select.svg"
      type = "image/svg+xml"
    )
  select
    option(selected) Tab 1
    option Tab 2


