#output-stream(
  ng-class = "{out: out}"
)
  pre
    {{ stream.data | buildStreamCleaner }}
  //- show close button when finished
  button#editor-status.silver(
    type = "button"
    ng-click = "close()"
  )
