.explorer-header
  h6(ng-if = "data.buildFiles.models.length")
    | CONFIG FILES
    button.silver.btn-sm.file-explorer-menu.btn-icon(
      ng-class = "{active: dataBuild.data.showFileMenu}"
      ng-click = "dataBuild.data.togglePopover('FileMenu', $event)"
    )
      object.iconnables(
        data = "/build/images/icons/icons-gear.svg"
        type = "image/svg+xml"
      )
      .popover.menu.bottom.fade(
        ng-class = "{in: dataBuild.data.showFileMenu, 'show-add-repo': dataBuild.data.showAddRepo, 'show-form': dataBuild.data.showForm}"
        ng-include = "'viewBuildPopoverFileMenu'"
      )

  ul.tree
    li(
      ng-repeat = "buildFile in data.buildFiles.models"
    )
      object.iconnables.filetypes(
        data = "/build/images/icons/filetypes/icons-file.svg"
        type = "image/svg+xml"
      )
      | {{ buildFile.fullPath() }}

    //-li.folder(
        //-ng-click = "dataBuild.folderTestOpen = !dataBuild.folderTestOpen"
        //-ng-class = "{'in': dataBuild.folderTestOpen}"
      //-)
      //-object.iconnables.filetypes(
        //-data = "/build/images/icons/filetypes/icons-folder.svg"
        //-type = "image/svg+xml"
      //-)
      //-| css
      //-ul
        //-li.folder
          //-object.iconnables.filetypes(
            //-data = "/build/images/icons/filetypes/icons-folder.svg"
            //-type = "image/svg+xml"
          //-)
          //-| modules
          //-ul
            //-li
              //-object.iconnables.filetypes(
                //-data = "/build/images/icons/filetypes/icons-file.svg"
                //-type = "image/svg+xml"
              //-)
              //-| components.scss
        //-li
          //-object.iconnables.filetypes(
            //-data = "/build/images/icons/filetypes/icons-file.svg"
            //-type = "image/svg+xml"
          //-)
          //-| styles.css
        //-li
          //-object.iconnables.filetypes(
            //-data = "/build/images/icons/filetypes/icons-file.svg"
            //-type = "image/svg+xml"
          //-)
          //-| tables.css
    //-li
      //-object.iconnables.filetypes(
        //-data = "/build/images/icons/filetypes/icons-file.svg"
        //-type = "image/svg+xml"
      //-)
      //-| favicon.png
    //-li
      //-object.iconnables.filetypes(
        //-data = "/build/images/icons/filetypes/icons-file.svg"
        //-type = "image/svg+xml"
      //-)
      //-| index.html
    //-li
      //-object.iconnables.filetypes(
        //-data = "/build/images/icons/filetypes/icons-file.svg"
        //-type = "image/svg+xml"
      //-)
      //-| htc.access

