//- don't use ng-if here, use ng-show
.editor-container.load(
  ng-class = "{loaded: (item === openItems.activeHistory.last())}"
  ng-repeat = "item in openItems.models"
  ng-show = "item === openItems.activeHistory.last()"
)

  build-stream(
    build = "build"
    ng-if = "item.state.type === 'BuildStream'"
  )

  pre(
    ng-class = "{ \
      readonly: data.readOnly, \
      'ace-runnable-dark': isDarkTheme \
    }"
    ng-if = "item.state.type === 'File'"
    ng-model = "openItems.activeHistory.last().state.body"
    readonly = "{{ (data.readOnly) ? 'true' : 'false' }}"
    ui-ace
  )

  .term-container(
    ng-if = "item.state.type === 'Terminal'"
  )
    term.terminal(
      params = "item.attrs.params"
    )

  web-view(
    ng-if = "item.state.type === 'WebView'"
    container = "container"
  )

  log-view(
    ng-if = "item.state.type === 'LogView'",
    container = "container"
  )

  button.silver.editor-status(
    disabled
    ng-if = "data.readOnly && item.state.type === 'File'"
    type = "button"
  ) Readonly
