//- nav/sidebar

//- first .content...
.content
  header.header-app(
    ng-include = "'viewHeader'"
    ng-class = "{'private': $root.featureFlags.isolationActive}"
  )
  //- second .content...
  .content(
    ui-view
  )