//- navigation bar (purple)
nav.sidebar-navigation(
  ng-if = "$root.featureFlags.isolationUI"
  ng-include = "'viewNav'"
)

//- deprecated, pre-isolation
header.header-app(
  ng-class = "{'feature-flag-on': CA.featureFlagsChanged()}"
  ng-if = "!$root.featureFlags.isolationUI"
  ng-include = "'viewHeader'"
)

//- second .content...
.content(
  ui-view
)
