//- navigation bar (purple)
nav.layout-navigation(
  ng-class = "{'feature-flag-on': CA.featureFlagsChanged()}"
  ng-include = "'viewNav'"
)

//- second .content...
main.layout-main(
  ui-view
)

.grid-block.notification.top-right.padding-sm.white.js-animate.notification-trial(
  ng-if = "CA.showTrialEndingNotification()"
)
  .grid-block.vertical
    svg.iconnables.icons-close(
      ng-click = "CA.closeTrialEndingNotification()"
    )
      use(
        xlink:href = "#icons-close"
      )

    .grid-block.vertical.align-center.form-trial.padding-md(
      trial-form
      from-notification = 'true'
    )

