img.logo.logo-icon(
  height = "45"
  ng-click = "editFeatureFlags = CA.activeAccount.oauthName() === 'CodeNow'"
  pop-over
  pop-over-active = "editFeatureFlags"
  pop-over-options = "{\"left\":40}"
  pop-over-template = "viewPopoverFeatureFlags"
  pop-over-trigger = "activeAttr"
  src = "/build/images/runnable-icon-white.svg"
  width = "45"
)

.btn-group.btn-toggle.btn-toggle-sm
  //- disabled if no containers
  a.btn.btn-sm.disabled(
    ng-if = "dataApp.state.includes('base.config') && CA.instancesByPod && !CA.instancesByPod.models.length"
    tooltip = "You don’t have any containers yet!"
    tooltip-options = "{\"class\":\"bottom\",\"left\":14,\"top\":33}"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-server-dark"
      )
    | Containers
  //- if there are containers
  a.btn.btn-sm(
    ng-if = "dataApp.state.includes('base.instances') || !CA.instancesByPod || CA.instancesByPod.models.length"
    ui-sref = "base.instances({ userName: CA.activeAccount.oauthName() })"
    ui-sref-active = "active"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-server-dark"
      )
    | Containers

  a.btn.btn-sm(
    ui-sref = "base.config({ userName: CA.activeAccount.oauthName() })"
    ui-sref-active = "active"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-advanced-dark"
      )
    | Configure

//- menu
.accounts-select(
  accounts-select
  data = "dataApp.data"
)