//- navigation bar (purple)
nav.layout-navigation(
  ng-if = "$root.featureFlags.isolationUI"
  ng-include = "'viewNav'"
)

//- deprecated, pre-isolation
header.header-app(
  ng-class = "{'feature-flag-on': CA.featureFlagsChanged()}"
  ng-if = "!$root.featureFlags.isolationUI"
  ng-include = "'viewHeader'"
)

//- second .content...
main.layout-main(
  ng-class = "{'deprecated': !$root.featureFlags.isolationUI}"
  ui-view
)
