//- first .content...
.content

  nav.sidebar-navigation(
    ng-if = "$root.featureFlags.isolationUI"
    ng-include = "'viewNav'"
  )

  header.header-app(
    ng-class = "{'feature-flag-on': CA.featureFlagsChanged()}"
    ng-if = "!$root.featureFlags.isolationUI"
    ng-include = "'viewHeader'"
  )

  //- second .content...
  .content(
    ui-view
  )
