main
  #about
    section#about-header.jumbotron(data-stellar-background-ratio = ".8")
      .container
        .row
          .col-sm-8
            h2 We're bringing the world's code to life
            p.
              Discovering, collaborating and working with code should be simple.
              We"re on a mission to empower anyone to build amazing things with software.

    section#about-logos
      .container
        .row
          a.logo.venturebeat(href   = "http://venturebeat.com/2013/10/30/dont-want-to-reinvent-the-wheel-runnables-library-lets-devs-copy-and-paste-code/"
                             target = "_blank")
          a.logo.forbes(href   = "http://www.forbes.com/sites/anthonykosner/2013/10/02/runnable-aims-to-be-the-youtube-of-code-only-with-less-cat-videos/"
                        target = "_blank")
          a.logo.techcrunch(href   = "http://techcrunch.com/2013/10/02/runnable-wants-to-become-the-youtube-of-code/"
                            target = "_blank")
        .row
          a.logo.wired(href   = "http://www.wired.com/wiredenterprise/2013/10/runnable/"
                       target = "_blank")
          a.logo.gigaom(href = "http://gigaom.com/2013/10/02/startup-runnable-fancies-itself-as-the-youtube-of-code/"
                        target="_blank")
          a.logo.pandodaily(href = "http://pandodaily.com/2013/10/30/runnable-raises-2m-to-centralize-all-the-worlds-open-source-code/"
                            target="_blank")

        .row
          .col-sm-8.col-sm-offset-2
            blockquote
              p.
                Runnable appears to have stumbled on a much needed solution to a very real problem.
                The timing couldn’t be better, in terms of the shift in the way developers work and
                the availability of the underlying infrastructure required to run such a platform.
            h3.read-the-article
              a(href   = "http://pandodaily.com/2013/10/30/runnable-raises-2m-to-centralize-all-the-worlds-open-source-code/"
                target = "_blank") Read The Article

    section#about-stack.jumbotron
      .container
        img.amazon(data-stellar-ratio="2.5", data-stellar-horizontal-offset="200", src="/build/images/stack-amazon.png")
        img.node(data-stellar-ratio="1.5", data-stellar-horizontal-offset="200", src="/build/images/stack-node.png")
        img.codeigniter(data-stellar-ratio="2", data-stellar-horizontal-offset="200", src="/build/images/stack-codeigniter.png")
        img.diamond(data-stellar-ratio="3", data-stellar-horizontal-offset="200", src="/build/images/stack-diamond.png")
        .row
          .col-sm-8.col-sm-offset-4
            h2 Node.JS, Docker and CoffeeScript
            p.
              We think Javascript is the new x86, Docker the DevOps platform of the
              future and AWS the basic building blocks for the web.
    section#about-satellite.jumbotron
      .container
        .row
          h2 Located in the Heart of Silicon Valley.
          p We're in Palo Alto, one block away from University Ave.
    section#about-team
      .container
        h2 Team Runnable
        ul
          li
            img(src="/build/images/team-yash.png", height="120", width="120")
            h3 Yash Kumar
            p CEO/Engineer
          li
            img(src="/build/images/team-tejesh.png", height="120", width="120")
            h3 Tejesh Mehta
            p Engineer
          li
            img(src="/build/images/team-sundip.png", height="120", width="120")
            h3 Sundip Patel
            p Product/Engineer
          li
            img(src="/build/images/team-henry.png", height="120", width="120")
            h3 Henry Allen-Tilford
            p Engineer
          li
            img(src="/build/images/team-praful.png", height="120", width="120")
            h3 Praful Rana
            p Product/Engineer
          li
            img(src="/build/images/team-tony.png", height="120", width="120")
            h3 Tony Li
            p Designer
          li
            img(src="/build/images/team-anand.png", height="120", width="120")
            h3 Anand Patel
            p Engineer
          li
            img(src="/build/images/team-casey.png", height="120", width="120")
            h3 Casey Flynn
            p Engineer
          li
            img(src="/build/images/team-bryan.png", height="120", width="120")
            h3 Bryan Kendall
            p Engineer

    section#about-contact
      .container
        div
          address
            strong
              | Runnable Headquarters
              wbr (InitMe, Inc.)
            br
            | 459 Hamilton Ave, Suite 304
            br
            | Palo Alto, CA 94301
            br
            a(href="tel:1-866-216-4762") (866) 216-4762
        form(method="post")
          .form.row
            h2.col-sm-12 Contact Us
            .col-sm-6
              input.form-control(name="NAME", placeholder="Full Name", required="")
              input.form-control(type="email", name="EMAIL", placeholder="Email Address", required="")
              input.form-control(type="tel", name="PHONE", placeholder="Phone Number (optional)")
            .col-sm-6
              textarea.form-control(rows="3", name="DETAILS", placeholder="Message", required="")
              button.orange(type="submit") Send Message
          .confirmation
            h2 Thanks!
            p We've got your message and will get back to you shortly.
        h4
          | Having trouble with something?
          a(href="http://support.runnable.com/runnable/questions/popular") Don’t forget the FAQ.
        p.
          If you’re having trouble figuring something out, check out the FAQ Section to
          see if your question has already been answered. There are plenty of other developers
          that are sharing information on the FAQ boards. Other than that, feel free to give us a shout!
