div#home
  div.valign
    object(id    = "logomark"
           class = "iconnables"
           data  = "/build/images/logomark.svg"
           type  = "image/svg+xml")
    object(id   = "heading"
           data = "/build/images/sandbox-runnable-logo.svg"
           type = "image/svg+xml")
    a(type  = "button"
      class = "btn")
      object(data = "/build/images/icons/icons-git.svg"
             type = "image/svg+xml")
      | Log In with Github