nav.sub-header
  h1.divided-header
    input.form-control.inline-edit(
      spellcheck = "false"
      value = "Application Name"
    )
    object.iconnables.icons-edit(
      data = "/build/images/icons/icons-edit.svg"
      type = "image/svg+xml"
    )
  section#main-controls(ng-class = "{in: dataSetup.actions.isAdvanced}")
    .clean
      button.silver(
        ng-click = "dataSetup.actions.isAdvanced = true"
        type = "button"
      ) Enter Advanced Setup
    .dirty
      button.silver(
        ng-click = "dataSetup.actions.isAdvanced = false"
        type = "button"
      ) Discard Changes and Return to Basic Setup

section.sidebar(ng-class = "{out: dataSetup.actions.isAdvanced}")
  form
    #setup-repo
      .popover.bottom.fade(
        ng-class = "{in: dataSetup.repoMode}"
        ng-include = "'viewSetupPopoverAddRepos'"
      )
      .input-container
        input.form-control(
          ng-click = "dataSetup.repoMode = true"
          placeholder = "Add Repository"
        )
        object.iconnables.icons-arrow-down(
          data = "/build/images/icons/icons-arrow-down.svg"
          type = "image/svg+xml"
        )
        button.btn-icon(
          ng-click = "dataSetup.repoMode = false"
          type = "button"
        )
          object.iconnables.icons-close(
            data = "/build/images/icons/icons-close.svg"
            type = "image/svg+xml"
          )
      //- if there are duplicate repo names, use name-2, name-3, and so on.
      ul#added-repos
        li
          .repo Org/Repo
            button.btn-icon
              svg.iconnables.icons-delete
                use(xlink:href = "#icons-delete")
          label
            span dest:
            input.form-control(
              placeholder = "Destination"
              value = "/root/reponame"
            )
        li
          .repo Org/AnotherRepo
            button.btn-icon
              svg.iconnables.icons-delete
                use(xlink:href = "#icons-delete")
          label
            span dest:
            input.form-control(
              placeholder = "Destination"
              value = "/root/anotherrepo"
            )

    #setup-template
      h3 Choose a Docker Template
      .form-group.toggle-group
        //- the required attribute is needed on only one input
        label Node.js + MongoDB
          input(
            name = "docker-template"
            required
            type = "radio"
          )
        label Template 2
          input(
            name = "docker-template"
            required
            type = "radio"
          )
        label Template 3
          input(
            name = "docker-template"
            type = "radio"
          )
        label Template 4
          input(
            name = "docker-template"
            type = "radio"
          )
        label Template 5
          input(
            name = "docker-template"
            type = "radio"
          )
        label.active Template 6
          input(
            checked
            name = "docker-template"
            type = "radio"
          )
        label Template 7
          input(
            name = "docker-template"
            type = "radio"
          )
    button.btn-block.orange Build Application

#editor
  button.silver(
    disabled
    type = "button"
  ) Readonly
  #editor-toolbar
    ul#tabs-wrapper
      li
        a.active(
          data-title = "dockerfile"
          title = "~/full/path/dockerfile"
        ) dockerfile
        button.btn-icon
          object.iconnables(
            data = "/build/images/icons/icons-close.svg"
            type = "image/svg+xml"
          )
      li
        a(
          data-title = "main.config"
          title = "~/full/path/main.config"
        ) main.config
        button.btn-icon
          object.iconnables(
            data = "/build/images/icons/icons-close.svg"
            type = "image/svg+xml"
          )
  pre(ui-ace readonly="true").
    ## Start from base Ubuntu 14.04
    FROM ubuntu:14.04

    ## Update and install components
    RUN \
      apt-get update && \
      apt-get -y upgrade && \
      apt-get install -y curl man unzip

    ## Set environment variables.
    ENV HOME /root

    ## Download Node.js v0.10.28 binary
    RUN \
      cd /usr/local && \
      curl -o nodejs.tar.gz http://nodejs.org/dist/v0.10.28/node-v0.10.28-linux-x64.tar.gz && \
      tar --strip-components 1 -xzf nodejs.tar.gz

    ## Install NPM
    RUN \
      apt-get update -y && \
      apt-get install npm -y


    ## Specify the directory to work from
    RUN mkdir app
    WORKDIR /root/app

    ## Add files to container
    ADD <reponame> <dst>

    ## Specify which ports to open
    EXPOSE 80


    ## Run NPM on package.json (if included)
    RUN npm install


    ## Specify the last command to run
    CMD ["node", "server.js"]