.spinner-wrapper.spinner-lg.spinner-purple.in(
  ng-click = "state.loading = false"
  ng-if = "state.loading"
  ng-include = "'spinner'"
)

.setup-header.load(
  ng-if = "!state.loading"
)
  h1.h1 Welcome to Runnable!
  p.p Choose an organization to create servers from its repositories

.setup-body.load(
  ng-if = "!state.loading"
)
  .card.card-sm.load(
    ng-click = "state.step = 2"
  )
    h2.card-header
      img.img(
        height = "36"
        src = "https://avatars0.githubusercontent.com/u/2335750?v=3&s=120"
        width = "36"
      )
      | CodeNow
  .card.card-sm.load(
    ng-click = "state.step = 2"
  )
    h2.card-header
      img.img(
        height = "36"
        src = "https://avatars2.githubusercontent.com/u/5341618?v=3&s=120"
        width = "36"
      )
      | Runnabro
  .card.card-sm.load(
    ng-click = "state.step = 2"
  )
    h2.card-header
      img.img(
        height = "36"
        src = "https://avatars3.githubusercontent.com/u/2828361?v=3&s=120"
        width = "36"
      )
      | Runnable
