//- step 1
  - choose organization
.setup-container.step-organization-select.card-grid(
  ng-if = "state.step === 1"
  ng-include = "'viewSetupOrganizationSelect'"
  ng-init = "state.loading = true"
)

//- step 2
  - user chooses repositories
  - server on the next step is created for each repo selected
    and for each dependency server
.setup-container.step-repository-select(
  ng-if = "state.step === 2"
  ng-include = "'viewSetupRepositorySelect'"
  ng-init = "state.loading = true"
)

//- step 3
  - configuration for server stack and their dependency servers
.setup-container.step-configure-servers.card-grid(
  ng-if = "state.step === 3"
  ng-include= "'viewSetupServers'"
)

//- step 4
  - setup env variables for all servers
.setup-container.step-environment-setup.card-grid(
  ng-if = "state.step === 4"
  ng-include = "'viewSetupEnvironmentVariables'"
)

.setup-footer(
  ng-if = "state.step > 1"
)
  .footer-container
    button.btn.gray(
      ng-click = "state.step = state.step - 1"
    )
      svg.iconnables.icons-arrow-back
        use(
          xlink:href = "#icons-arrow-back"
        )
      | Back
    //- step 2 (repository select)
    button.btn.green(
      ng-click = "state.step = state.step + 1"
      ng-disabled = "!state.repositorySelected"
    ) Next
      svg.iconnables.icons-arrow-forward
        use(
          xlink:href = "#icons-arrow-back"
        )