header.box-header
  h1.box-name
    input.setup-box-name(
      placeholder = "Box Name"
      spellcheck = "false"
      value = "{{ dataSetup.data.project.attrs.name }}"
    )
  .primary-actions
    //- remove .orange, add .green when validation passes
    button.orange(
      ng-click = "dataSetup.actions.buildApplication()"
    ) Create Box

section.sidebar.box-sidebar.setup
  //- repositories
  repo-list
  section.row
    h2.sub-header Docker Templates
    //- remove .in if template is selected
    .label-group(
      ng-class = "{in: dataSetup.actions.highlightTemplates}"
    )
      label.label-group-item(
        ng-repeat = "context in dataSetup.data.seedContexts.models"
      ) {{ context.attrs.name }}
        input.radio(
          name = "source-context"
          ng-click = "dataSetup.actions.selectSourceContext(context)"
          required
          type = "radio"
        )

    //- show .guide if a template has not been selected
    .guide.blue(
      ng-click = "dataSetup.actions.highlightTemplates = true"
    )
      svg.iconnables.icons-docker
        use(
          xlink:href = "#icons-docker"
        )
      p Choose a template to generate your dockerfile.

  section.row(
    ng-if = "dataSetup.data.validDockerfile.valid === false"
  )
    .sidebar-validation
      h2.sub-header Dockerfile Validation Errors
      ul.list-group
        li.list-group-item(
          ng-repeat = "error in dataSetup.data.validDockerfile.errors"
        ) {{ error.line ? 'Line ' + error.line + ':' : '' }} {{ error.message }}

section.views

  //- tabs
  tabs(
    open-items = "dataSetup.data.openItems"
  )

  //- active panel
  active-panel(
    open-items = "dataSetup.data.openItems"
    read-only = "dataSetup.data.isReadOnly"
    update = "true"
  )

  //- spinner
  .horizontal-spinner(
    ng-show = "dataSetup.data.fetchingContext"
  )
