header.server-header

  //- name instance input
  h1.server-info(
    name = "dataSetup.data.newInstanceName"
    setup-box-name
    valid = "dataSetup.data.isNameValid"
  )

  setup-primary-actions(
    active-account = "dataApp.data.activeAccount"
    data = "dataSetup.data"
    loading = "dataApp.data.loading"
    is-docker-file-valid = "dataSetup.data.isDockerFileValid"
    is-name-valid = "dataSetup.data.isNameValid"
    instance-opts = "dataSetup.data.instanceOpts"
    name = "dataSetup.data.newInstanceName"
    open-items = "dataSetup.data.openItems"
  )

  setup-secondary-actions(
    data = "dataSetup.data"
    current-model = "dataSetup.data.instanceOpts"
    state-model = "dataSetup.data.instanceOpts"
  )

section.sidebar.server-sidebar

  section.row.repo-list(
    build = "dataSetup.data.build"
    loading = "dataApp.data.loading"
    repo-list
  )

  docker-templates(
    open-items = "dataSetup.data.openItems"
    valid = "dataSetup.data.isDockerFileValid"
  )

  section.row.explorer(
    explorer
    ng-if = "dataSetup.data.openItems.models.length"
    open-items = "dataSetup.data.openItems"
  )

section.views.with-add-tab(
  ng-class = "{ \
    in: (dataSetup.data.openItems.models.length && \
         dataSetup.data.showExplorer && \
         !dataSetup.data.loading) \
  }"
)

  //- tabs
  .views-toolbar(
    open-items = "dataSetup.data.openItems"
    tabs
    toggle-theme = "dataSetup.data.toggleTheme"
  )

  //- active panel
  .active-panel(
    active-panel
    item = "item"
    ng-class = "{\
      'loaded': (item === openItems.activeHistory.last()),\
      'ace-runnable-dark': dataSetup.data.toggleTheme\
    }"
    ng-repeat = "item in dataSetup.data.openItems.models"
    ng-show = "item === dataSetup.data.openItems.activeHistory.last()"
    open-items = "dataSetup.data.openItems"
    state-model = "dataSetup.data.instanceOpts"
  )

  //- dataSetup.data.showVideo
  //- dataSetup.data.hideVideo
  //- dataSetup.data.showVideoFixed
  //- dataSetup.data.closeVideoAlert
  .embed-wrapper(
    ng-class = "{ \
      fixed: dataSetup.data.showVideoFixed \
    }"
    ng-if = "!dataSetup.data.hideVideo"
  )
    .embed-guide(
      ng-class = "{out: dataSetup.data.showVideo}"
    )
      h2.embed-heading Need help?
      p Watch this video to get started.
      button.btn.btn-embed-play(
        ng-click = "dataSetup.data.showVideo = true; \
                    dataSetup.actions.olarkShrink();"
      )
        svg.iconnables.icons-run
          use(
            xlink:href = "#icons-run"
          )
    iframe.embed-iframe(
      allowfullscreen
      frameborder="0"
      height = "100%"
      ng-if = "dataSetup.data.showVideo"
      src = "//www.youtube.com/embed/oiSn4-A8Qpw?rel=0&amp;showinfo=0&amp;autoplay=1"
      width = "100%"
    )
    button.btn.btn-icon.btn-embed-close(
      ng-click = "dataSetup.data.hideVideo = true; \
        dataSetup.data.closeVideoAlert = false; \
        dataSetup.data.showVideoFixed = false;"
    )
      svg.iconnables.icons-close
        use(
          xlink:href = "#icons-close"
        )

  //- show after selecting a template
  .guide.guide-pointer.guide-close.guide-alert.guide-alert-setup(
    ng-click = " \
      dataSetup.actions.olarkShrink(); \
      dataSetup.data.showVideoFixed = true; \
      dataSetup.data.showVideo = true; \
      dataSetup.data.hideVideo = false"
    ng-hide = "dataSetup.data.closeVideoAlert || dataSetup.data.showVideoFixed"
    ng-if = "dataSetup.data.build.contextVersions.models[0].source"
  )
    .guide-text Lost? Here's a video.
    button.btn.btn-xs.btn-close(
      ng-click = " \
        dataSetup.data.closeVideoAlert = true; \
        $event.stopPropagation();"
    )
      svg.iconnables.icons-close
        use(
          xlink:href = "#icons-close"
        )
