.setup-header
  h1.h1 Link Your Servers
  p.p Your servers can communicate via environment variables.

.setup-body
  //- modal
  //- modal-actions = "actions.actionsModalGsEnvs"
  //- modal-data = "data.dataModalGsEnvs"
  //- modal-template = "viewModalGsEnvs"
  .card(
  )
    //- loading
    h2.card-header
      svg.iconnables.icons-repository
        use(
          xlink:href = "#icons-repository"
        )
      | api
    .card-body
      ul.list
        li.list-item.current
          svg.iconnables.icons-server
            use(
              xlink:href = "#icons-server"
            )
          svg.iconnables.icons-link
            use(
              xlink:href = "#icons-link"
            )
          | api
        li.list-item.active
          svg.iconnables.icons-server
            use(
              xlink:href = "#icons-server"
            )
          svg.iconnables.icons-link
            use(
              xlink:href = "#icons-link"
            )
          | Mongo
        li.list-item
          svg.iconnables.icons-server
            use(
              xlink:href = "#icons-server"
            )
          svg.iconnables.icons-link
            use(
              xlink:href = "#icons-link"
            )
          | runnable-angular
  .card
    h2.card-header.load
      svg.iconnables.icons-server(
      )
        use(
          xlink:href = "#icons-server"
        )
      | runnable-angular
    .card-body.clearfix.load
      ul.list
        li.list-item.current
          svg.iconnables.icons-server
            use(
              xlink:href = "#icons-server"
            )
          svg.iconnables.icons-link
            use(
              xlink:href = "#icons-link"
            )
          | api
        li.list-item.active
          svg.iconnables.icons-server
            use(
              xlink:href = "#icons-server"
            )
          svg.iconnables.icons-link
            use(
              xlink:href = "#icons-link"
            )
          | Mongo
        li.list-item
          svg.iconnables.icons-server
            use(
              xlink:href = "#icons-server"
            )
          svg.iconnables.icons-link
            use(
              xlink:href = "#icons-link"
            )
          | runnable-angular
.setup-footer
  button.btn.btn-sm.white(
    ng-click = "state.step = 2"
  ) Back
  button.btn.btn-sm.green #done