.setup-page-repo-list(
  repo-list
  loading = "dataApp.data.loading"
  build = "build"
  unsaved-acvs = "state.unsavedAcvs"
)
.setup-page-repo-list(
  setup-stack-selector
  state = "state"
  data = "data"
)
  //-
    .setup-page-repo-list(
      setup-stack-dependencies
      state = "state"
      instance-list = "instanceList"
      dependencies = ""
    )
  //- remove .orange, add .green when validation passes
  button.btn(
  ng-class = "{ \
      orange: (true), \
      green: (isNameValid && isDockerFileValid) \
    }"
  ng-click = "actions.createAndBuild()"
  ) Create Box
