header.server-header

  //- name instance input
  h1.server-info(
    name = "dataSetup.data.newInstanceName"
    setup-box-name
    valid = "dataSetup.data.isNameValid"
  )

  setup-primary-actions(
    active-account = "dataApp.data.activeAccount"
    data = "dataSetup.data"
    loading = "dataApp.data.loading"
    is-docker-file-valid = "dataSetup.data.isDockerFileValid"
    is-name-valid = "dataSetup.data.isNameValid"
    instance-opts = "dataSetup.data.instanceOpts"
    name = "dataSetup.data.newInstanceName"
    open-items = "dataSetup.data.openItems"
  )

  setup-secondary-actions(
    data = "dataSetup.data"
    current-model = "dataSetup.data.instanceOpts"
    state-model = "dataSetup.data.instanceOpts"
  )

section.sidebar.server-sidebar

  section.row.repo-list(
    build = "dataSetup.data.build"
    loading = "dataApp.data.loading"
    repo-list
  )

  section.row(
    docker-templates
    open-items = "dataSetup.data.openItems"
    valid = "dataSetup.data.isDockerFileValid"
  )

  section.row.explorer(
    explorer
    title = "Build Files"
    file-model = "dataSetup.data.build.contextVersions.models[0]"
    root-dir = "dataSetup.data.build.contextVersions.models[0].rootDir"
    ng-if = "dataSetup.data.openItems.models.length"
    open-items = "dataSetup.data.openItems"
  )
section.views.with-add-tab(
  active-panel
  ng-if = "dataSetup.data.openItems.models.length"
  ng-class = "{ \
    in: (dataSetup.data.showExplorer && \
         !dataSetup.data.loading) \
    }"
  open-items = "dataSetup.data.openItems"
  build = "dataSetup.data.build"
  auto-update = "true"
)
section.views.with-add-tab(
  ng-if = "!dataSetup.data.openItems.models.length"
)
  .embed-wrapper(
  )
    .embed-guide(
    )
      h2.embed-heading Need help?
      p Watch this video to get started.
      a.btn.btn-embed-play(
        href = "//www.youtube.com/embed/oiSn4-A8Qpw?rel=0&amp;showinfo=0&amp;autoplay=1"
        target = "_blank"
      )
        svg.iconnables.icons-run
          use(
            xlink:href = "#icons-run"
          )
