//- step 1
  - user chooses repositories
  - server on the next step is created for each repo selected
    and for each dependency server
.step-1(
  ng-include = "'viewSetupRepositorySelect'"
  ng-if = "state.step === 1"
)
//- step 2
  - configuration for server stack and their dependency servers
.step-2.card-grid(
  ng-include= "'viewSetupServers'"
  ng-if = "state.step === 2"
)
//- step 3
  - setup env variables for all servers
.step-3.card-grid(
  ng-include = "'viewSetupEnvironmentVariables'"
  ng-if = "state.step === 3"
)
