nav.sub-header
  h1.divided-header
    input.form-control.inline-edit(
      placeholder = "Application Name"
      spellcheck = "false"
      value = "{{ dataSetup.data.project.attrs.name }}"
    )
    svg.iconnables.icons-edit
      use(xlink:href = "#icons-edit")
section.sidebar
  form
    #setup-repo
      .popover.bottom.fade(
        ng-class = "{in: dataSetup.data.isRepoMode}"
        ng-include = "'viewSetupPopoverAddRepos'"
      )
      .input-container
        input.form-control(
          ng-focus = "dataSetup.data.isRepoMode = true"
          ng-model = "dataSetup.data.repoFilter"
          placeholder = "Add Repository"
        )
        button.btn-icon.inactive(
          ng-click = "dataSetup.data.isRepoMode = true"
          type = "button"
        )
          svg.iconnables.icons-arrow-down
            use(xlink:href = "#icons-arrow-down")
        button.btn-icon.active(
          ng-click = "dataSetup.data.isRepoMode = false"
          type = "button"
        )
          svg.iconnables.icons-close
            use(xlink:href = "#icons-close")
      //- if there are duplicate repo names, use name-2, name-3, and so on.
      ul#added-repos.list-group
        li.list-group-item(
          ng-repeat = "appCodeVersion in dataSetup.data.contextVersion.appCodeVersions.models"
        ) {{ appCodeVersion.attrs.repo.split('/')[1] }}
          button.btn-icon(
            ng-click = "dataSetup.actions.removeGithubRepo(appCodeVersion)"
            type = "button"
          )
            svg.iconnables.icons-delete
              use(xlink:href = "#icons-delete")
    #setup-template
      h3 Choose a Docker Template
      .form-group.toggle-group
        //- dockerfile templates
        label(
          ng-repeat = "context in dataSetup.data.seedContexts.models"
        ) {{ context.attrs.name }}
          input(
            name = "{{ context.attrs.name }}"
            ng-click = "dataSetup.actions.selectSourceContext(context)"
            required
            type = "radio"
          )
    button.btn-block.orange(ng-click = "dataSetup.actions.buildApplication()") Build Application
#editor.full
  tabs#editor-toolbar(open-files = "dataSetup.data.contextFiles")
  active-panel(
    open-items = "dataSetup.data.openItems"
    read-only = "dataSetup.data.isReadOnly"
    update = "true"
  )
