nav.sub-header
  h1.divided-header
    input.form-control.inline-edit(
      spellcheck = "false"
      value = "Application Name"
    )
    object.iconnables.icons-edit(
      data = "/build/images/icons/icons-edit.svg"
      type = "image/svg+xml"
    )
  section#main-controls

section.sidebar
  form
    #setup-repo
      .popover.bottom.fade(
        ng-class = "{in: dataSetup.repoMode}"
        ng-include = "'viewSetupPopoverAddRepos'"
      )
      .input-container
        input.form-control(
          ng-click = "dataSetup.repoMode = true"
          placeholder = "Add Repository"
        )
        object.iconnables.icons-arrow-down(
          data = "/build/images/icons/icons-arrow-down.svg"
          type = "image/svg+xml"
        )
        button.btn-icon(
          ng-click = "dataSetup.repoMode = false"
          type = "button"
        )
          object.iconnables.icons-close(
            data = "/build/images/icons/icons-close.svg"
            type = "image/svg+xml"
          )
      ul#added-repos.vertical-list
        li(
          ng-class ="{in: dataSetup.showForm}"
        ) Org/Repo
          button.btn-icon
            object.iconnables.icons-delete(
              data = "/build/images/icons/icons-delete.svg"
              type = "image/svg+xml"
            )
          button.btn-icon(
            ng-click = "dataSetup.showForm = !dataSetup.showForm"
          )
            object.iconnables.icons-arrow-down(
              data = "/build/images/icons/icons-arrow-down.svg"
              type = "image/svg+xml"
            )
          .form-label
            span /
            input.form-control(placeholder = "location of repo")
        li Org/Repo
          button.btn-icon
            object.iconnables.icons-delete(
              data = "/build/images/icons/icons-delete.svg"
              type = "image/svg+xml"
            )
          button.btn-icon
            object.iconnables.icons-arrow-down(
              data = "/build/images/icons/icons-arrow-down.svg"
              type = "image/svg+xml"
            )
          .form-label
            span /
            input.form-control(placeholder = "Set location of repo")

    #setup-template
      h3 Choose a Docker Template
      .form-group.toggle-group
        //- the required attribute is needed on only one input
        label Node.js + MongoDB
          input(
            name = "docker-template"
            required
            type = "radio"
          )
        label Template 2
          input(
            name = "docker-template"
            required
            type = "radio"
          )
        label Template 3
          input(
            name = "docker-template"
            type = "radio"
          )
        label Template 4
          input(
            name = "docker-template"
            type = "radio"
          )
        label Template 5
          input(
            name = "docker-template"
            type = "radio"
          )
        label.active Template 6
          input(
            checked
            name = "docker-template"
            type = "radio"
          )
        label Template 7
          input(
            name = "docker-template"
            type = "radio"
          )
    button.btn-block.orange Build Application

#editor
  #editor-toolbar
    #tabs-wrapper
    //- file_tabs
  pre(ui-ace readonly="true").
    ## Start from base Ubuntu 14.04
    FROM ubuntu:14.04

    ## Update and install components
    RUN \
      apt-get update && \
      apt-get -y upgrade && \
      apt-get install -y curl man unzip

    ## Set environment variables.
    ENV HOME /root

    ## Download Node.js v0.10.28 binary
    RUN \
      cd /usr/local && \
      curl -o nodejs.tar.gz http://nodejs.org/dist/v0.10.28/node-v0.10.28-linux-x64.tar.gz && \
      tar --strip-components 1 -xzf nodejs.tar.gz

    ## Install NPM
    RUN \
      apt-get update -y && \
      apt-get install npm -y


    ## Specify the directory to work from
    RUN mkdir app
    WORKDIR /root/app

    ## Add files to container
    ADD <reponame> <dst>

    ## Specify which ports to open
    EXPOSE 80


    ## Run NPM on package.json (if included)
    RUN npm install


    ## Specify the last command to run
    CMD ["node", "server.js"]