.setup-header
  h1.h1 Linking Servers
  p.p Your servers can communicate via environment variables.

.setup-body
  .card.load.disabled(
    ng-if = "!data.variablesConfigured"
   )
    h2.card-header
      svg.iconnables.icons-server
        use(
          xlink:href = "#icons-server"
        )
      | api
    .card-button.empty(
      modal
      modal-actions = "actions.actionsModalEnvironmentVariables"
      modal-data = "data.dataModalEnvironmentVariables"
      modal-template = "viewModalEnvironmentVariables"
      ng-click = "data.variablesConfigured = true"
    ) Setup Linking
  .card.load.disabled(
    ng-if = "data.variablesConfigured"
  )
    h2.card-header
      svg.iconnables.icons-server
        use(
          xlink:href = "#icons-server"
        )
      | api
    .card-button.clearfix(
      modal
      modal-actions = "actions.actionsModalEnvironmentVariables"
      modal-data = "data.dataModalEnvironmentVariables"
      modal-template = "viewModalEnvironmentVariables"
    )
      ul.list
        li.list-item.small Linked Servers
        li.list-item.active
          button.btn.btn-icon.btn-badge
            svg.iconnables.icons-server
              use(
                xlink:href = "#icons-server"
              )
            svg.iconnables.icons-check
              use(
                xlink:href = "#icons-check"
              )
          | caley
        li.list-item.active
          button.btn.btn-icon.btn-badge
            svg.iconnables.icons-server
              use(
                xlink:href = "#icons-server"
              )
            svg.iconnables.icons-check
              use(
                xlink:href = "#icons-check"
              )
          | datadog
        li.list-item.active
          button.btn.btn-icon.btn-badge
            svg.iconnables.icons-server
              use(
                xlink:href = "#icons-server"
              )
            svg.iconnables.icons-check
              use(
                xlink:href = "#icons-check"
              )
          | mavis
        li.list-item.active.active
          button.btn.btn-icon.btn-badge
            svg.iconnables.icons-server
              use(
                xlink:href = "#icons-server"
              )
            svg.iconnables.icons-check
              use(
                xlink:href = "#icons-check"
              )
          | Mongo
        li.list-item.active
          button.btn.btn-icon.btn-badge
            svg.iconnables.icons-server
              use(
                xlink:href = "#icons-server"
              )
            svg.iconnables.icons-check
              use(
                xlink:href = "#icons-check"
              )
          | redis

  .card.load.disabled
    h2.card-header
      svg.iconnables.icons-server
        use(
          xlink:href = "#icons-server"
        )
      | mavis
    .card-button.clearfix
      ul.list
        li.list-item.small Linked Servers
        li.list-item.active
          button.btn.btn-icon.btn-badge
            svg.iconnables.icons-server
              use(
                xlink:href = "#icons-server"
              )
            svg.iconnables.icons-check
              use(
                xlink:href = "#icons-check"
              )
          | datadog
        li.list-item.active
          button.btn.btn-icon.btn-badge
            svg.iconnables.icons-server
              use(
                xlink:href = "#icons-server"
              )
            svg.iconnables.icons-check
              use(
                xlink:href = "#icons-check"
              )
          | redis

  .card.load.disabled
    h2.card-header
      svg.iconnables.icons-server
        use(
          xlink:href = "#icons-server"
        )
      | runnable-angular
    .card-button.clearfix
      ul.list
        li.list-item.small Linked Servers
        li.list-item.active
          button.btn.btn-icon.btn-badge
            svg.iconnables.icons-server
              use(
                xlink:href = "#icons-server"
              )
            svg.iconnables.icons-check
              use(
                xlink:href = "#icons-check"
              )
          | api
        li.list-item.active
          button.btn.btn-icon.btn-badge
            svg.iconnables.icons-server
              use(
                xlink:href = "#icons-server"
              )
            svg.iconnables.icons-check
              use(
                xlink:href = "#icons-check"
              )
          | caley
        li.list-item.active
          button.btn.btn-icon.btn-badge
            svg.iconnables.icons-server
              use(
                xlink:href = "#icons-server"
              )
            svg.iconnables.icons-check
              use(
                xlink:href = "#icons-check"
              )
          | datadog
        li.list-item.active
          button.btn.btn-icon.btn-badge
            svg.iconnables.icons-server
              use(
                xlink:href = "#icons-server"
              )
            svg.iconnables.icons-check
              use(
                xlink:href = "#icons-check"
              )
          | mavis
        li.list-item.active.active
          button.btn.btn-icon.btn-badge
            svg.iconnables.icons-server
              use(
                xlink:href = "#icons-server"
              )
            svg.iconnables.icons-check
              use(
                xlink:href = "#icons-check"
              )
          | Mongo
        li.list-item.active
          button.btn.btn-icon.btn-badge
            svg.iconnables.icons-server
              use(
                xlink:href = "#icons-server"
              )
            svg.iconnables.icons-check
              use(
                xlink:href = "#icons-check"
              )
          | redis