.setup-header
  h1.h1 Link Your Servers
  p.p Your servers can communicate via environment variables.

.setup-body
  .card.disabled(
    modal
    modal-actions = "actions.actionsModalGsEnvs"
    modal-data = "data.dataModalGsEnvs"
    modal-template = "viewModalGsEnvs"
  )
    //- loading
    h2.card-header.load
      svg.iconnables.icons-server
        use(
          xlink:href = "#icons-server"
        )
      | api
    .card-body.clearfix.load
      .list
        .list-item.small Link to…
        label.list-item.label.label-checkbox.current
          svg.iconnables.icons-server
            use(
              xlink:href = "#icons-server"
            )
          | api
          small.small This Server
        input.input-checkbox(
          id = "checkbox-mongo"
          type = "checkbox"
        )
        label.list-item.label.label-checkbox(
          for = "checkbox-mongo"
        )
          svg.iconnables.icons-server
            use(
              xlink:href = "#icons-server"
            )
          | Mongo
          button.btn.btn-xs.btn-icon
            svg.iconnables.icons-add
              use(
                xlink:href = "#icons-add"
              )
            svg.iconnables.icons-link
              use(
                xlink:href = "#icons-link"
              )
        input.input-checkbox(
          id = "checkbox-runnable-angular"
          type = "checkbox"
        )
        label.list-item.label.label-checkbox(
          for = "checkbox-runnable-angular"
        )
          svg.iconnables.icons-server
            use(
              xlink:href = "#icons-server"
            )
          | runnable-angular
          button.btn.btn-xs.btn-icon
            svg.iconnables.icons-add
              use(
                xlink:href = "#icons-add"
              )
            svg.iconnables.icons-link
              use(
                xlink:href = "#icons-link"
              )
  .card.disabled
    h2.card-header.load
      svg.iconnables.icons-server(
      )
        use(
          xlink:href = "#icons-server"
        )
      | runnable-angular
    .card-body.clearfix.load
      .list
        .list-item.small Link to…
        input.input-checkbox(
          id = "checkbox-api"
          type = "checkbox"
        )
        label.list-item.label.label-checkbox(
          for = "checkbox-api"
        )
          svg.iconnables.icons-server
            use(
              xlink:href = "#icons-server"
            )
          | api
          button.btn.btn-xs.btn-icon
            svg.iconnables.icons-add
              use(
                xlink:href = "#icons-add"
              )
            svg.iconnables.icons-link
              use(
                xlink:href = "#icons-link"
              )
        input.input-checkbox(
          id = "checkbox-mongo-2"
          type = "checkbox"
        )
        label.list-item.label.label-checkbox(
          for = "checkbox-mongo-2"
        )
          svg.iconnables.icons-server
            use(
              xlink:href = "#icons-server"
            )
          | Mongo
          button.btn.btn-xs.btn-icon
            svg.iconnables.icons-add
              use(
                xlink:href = "#icons-add"
              )
            svg.iconnables.icons-link
              use(
                xlink:href = "#icons-link"
              )
        label.list-item.label.label-checkbox.current
          svg.iconnables.icons-server
            use(
              xlink:href = "#icons-server"
            )
          | runnable-angular
          small.small This Server
.setup-footer
  button.btn.btn-sm.white(
    ng-click = "state.step = 2"
  ) Back
  button.btn.btn-sm.green #done