header.box-header

  //- name instance input
  runnable-setup-box-name(
    name = "dataSetup.data.newInstanceName"
    valid = "dataSetup.data.isValid"
  )

  runnable-setup-primary-actions(
    build   = "dataSetup.data.build"
    loading = "dataApp.data.loading"
    name    = "dataSetup.data.newInstanceName"
    valid   = "dataSetup.data.isValid"
  )

section.sidebar.box-sidebar.setup

  //- list, add repositories
  runnable-repo-list

  runnable-docker-templates(
    open-items = "dataSetup.data.openItems"
  )

  runnable-docker-validation(
    open-items = "dataSetup.data.openItems"
  )

section.views.with-add-tab(
  ng-class = "{ \
    in: (dataSetup.data.openItems.models.length && \
         dataSetup.data.showExplorer && \
         !dataSetup.data.loading) \
  }"
)
  //- explorer
  button.btn-sm.white.btn-icon.explorer-toggle(
    ng-click = "dataSetup.data.showExplorer = !dataSetup.data.showExplorer"
    ng-if = "dataSetup.data.openItems.models.length"
    type = "button"
  )
    svg.iconnables.icons-folder-open
      use(
        xlink:href = "#icons-folder-open"
      )

  runnable-explorer(
    open-items = "dataSetup.data.openItems"
    toggle-theme = "dataSetup.data.toggleTheme"
  )

  //- tabs
  tabs(
    open-items = "dataSetup.data.openItems"
  )

  a.btn.btn-sm.white.btn-icon.add-tab(
    ng-class = "{active: dataSetup.data.popoverAddTab.data.show}"
    toggle-pop-over
    toggle-pop-over-model = "dataSetup.data.popoverAddTab.data.show"
  )
    svg.iconnables.icons-add
      use(
        xlink:href = "#icons-add"
      )
    pop-over(
      actions = "dataSetup.data.popoverAddTab.actions"
      data = "dataSetup.data.popoverAddTab.data"
      template = "popoverAddTab"
    )

  //- active panel
  active-panel(
    is-dark-theme = "dataSetup.data.toggleTheme"
    open-items = "dataSetup.data.openItems"
    read-only = "dataSetup.data.isReadOnly"
    update = "true"
  )

  //- spinner
  .horizontal-spinner(
    ng-show = "dataSetup.data.fetchingContext"
  )
