header.box-header
  h1.box-name
    form(
      name = "dataSetup.data.newProjectNameForm"
    )
      input.validate.setup-box-name(
        ng-model = "dataSetup.data.newProjectName"
        placeholder = "Box Name"
        spellcheck = "false"
        validate-name-pattern
        validate-name = "dataInstanceLayout.data.instances"
        value = "{{ dataSetup.data.project.attrs.name }}"
      )
      //- if invalid character is entered
      .validate-wrapper
        span.validate-rules(
          ng-class = "{in: dataSetup.data.newProjectNameForm.$error.namePattern.length}"
        ) We accept #{''}
          b.btn.btn-xs.orange A-Z
          b.btn.btn-xs.orange a-z
          b.btn.btn-xs.orange 0-9
          b.btn.btn-xs.orange _
          b.btn.btn-xs.orange -
        //- if the name is taken
        span.validate-rules(
          ng-class = "{in: dataSetup.data.newProjectNameForm.$error.nameAvailable.length}"
        ) That's a pretty name, but it's taken.
  .primary-actions
    //- remove .orange, add .green when validation passes
    button.orange(
      ng-click = "dataSetup.actions.buildApplication()"
      ng-disabled = "dataSetup.data.creatingProject || dataSetup.data.newProjectNameForm.$invalid"
    ) Create Box

section.sidebar.box-sidebar.setup
  //- repositories
  repo-list(
    build = "dataSetup.data.build",
    edit = "true"
  )
  section.row
    h2.sub-header Docker Templates
    //- remove .in if template is selected
    .label-group(
      ng-class = "{in: dataSetup.actions.highlightTemplates}"
    )
      label.label-group-item(
        ng-repeat = "context in dataSetup.data.seedContexts.models"
      ) {{ context.attrs.name }}
        input.radio(
          name = "source-context"
          ng-click = "dataSetup.actions.selectSourceContext(context)"
          required
          type = "radio"
        )

    //- show .guide if a template has not been selected
    .guide.blue(
      ng-click = "dataSetup.actions.highlightTemplates = true"
      ng-if = "!dataSetup.data.contextSelected"
    )
      svg.iconnables.icons-docker
        use(
          xlink:href = "#icons-docker"
        )
      p Choose a template to generate your dockerfile.

  section.row(
    ng-if = "dataSetup.data.validDockerfile.valid === false"
  )
    .sidebar-validation
      h2.sub-header Dockerfile Validation Errors
      ul.list-group
        li.list-group-item(
          ng-repeat = "error in dataSetup.data.validDockerfile.errors"
        ) {{ error.line ? 'Line ' + error.line + ':' : '' }} {{ error.message }}

section.views

  //- tabs
  tabs(
    open-items = "dataSetup.data.openItems"
  )

  //- active panel
  active-panel(
    open-items = "dataSetup.data.openItems"
    read-only = "dataSetup.data.isReadOnly"
    update = "true"
  )

  //- spinner
  .horizontal-spinner(
    ng-show = "dataSetup.data.fetchingContext"
  )
