header.box-header

  //- name instance input
  setup-box-name(
    name = "dataSetup.data.newInstanceName"
    valid = "dataSetup.data.isValid"
  )

  setup-primary-actions(
    loading = "dataApp.data.loading"
    name = "dataSetup.data.newInstanceName"
    valid = "dataSetup.data.isValid"
    open-items = "dataSetup.data.openItems"
  )

section.sidebar.box-sidebar

  repo-list

  docker-templates(
    open-items = "dataSetup.data.openItems"
  )

  docker-validation(
    open-items = "dataSetup.data.openItems"
  )

  //-
    env-validation

section.views.with-add-tab(
  ng-class = "{ \
    in: (dataSetup.data.openItems.models.length && \
         dataSetup.data.showExplorer && \
         !dataSetup.data.loading) \
  }"
)
  //- explorer
  button.btn-sm.white.btn-icon.explorer-toggle(
    ng-click = "dataSetup.data.showExplorer = !dataSetup.data.showExplorer"
    ng-if = "dataSetup.data.openItems.models.length"
    type = "button"
  )
    svg.iconnables.icons-folder-open
      use(
        xlink:href = "#icons-folder-open"
      )

  explorer(
    open-items = "dataSetup.data.openItems"
    toggle-theme = "dataSetup.data.toggleTheme"
  )

  //- tabs
  tabs(
    open-items = "dataSetup.data.openItems"
  )

  add-tab(
    open-items = "dataSetup.data.openItems"
  )

  //- active panel
  active-panel(
    is-dark-theme = "dataSetup.data.toggleTheme"
    open-items = "dataSetup.data.openItems"
  )

  //- spinner
  .horizontal-spinner(
    ng-show = "dataSetup.data.fetchingContext"
  )
