.modal-backdrop.in
  .modal-dialog.modal-sm.modal-alert
    header.modal-body
      p.p.strong Editing your Dockerfile will disable mirroring with Github.
      p.p If you want to make changes and keep your Dockerfile in sync, we recommend editing &#32;
        a(
          href = "#"
          target = "_blank"
        ) via GitHub
        | .
    footer.modal-footer.clearfix
      button.btn.btn-sm.gray.float-left(
        ng-click = "CMC.actions.cancel()"
      ) Cancel
      button.btn.btn-sm.red.float-right(
        ng-click = "CMC.actions.confirm()"
      ) Edit Anyway
