.modal-backdrop.in
  .modal-dialog.modal-sm.modal-alert
    header.modal-body
      svg.iconnables.icons-close(
        ng-click = "CMC.actions.cancel()"
      )
        use(
          xlink:href = "#icons-close"
        )
      p.p.strong.popover-title Disable editing and restore past configuration?
      p.p Disabling will restore your configuration from when editing was initially enabled. You can’t undo this action.
    footer.modal-footer.clearfix
      button.btn.btn-sm.gray.float-left(
        ng-click = "CMC.actions.cancel()"
      ) Cancel
      button.btn.btn-sm.red.float-right(
        ng-click = "CMC.actions.confirm()"
      ) Disable and Restore
