.popover-overlay
  .popover.popover-fixed.popover-prompt.bottom(
    ng-class = "{in: active}"
    ng-style = "popoverStyle.getStyle()"
  )
    .popover-content
      h3.popover-title Disable editing and restore past configuration?
      p.p Disabling will restore your container’s configuration from when editing was initially enabled {{data.instance.attrs.lastBuiltSimpleContextVersion.created | date : 'MMM d, y h:mm a'}}. You can’t undo this action.
    .popover-footer.clearfix
      button.btn.red.float-right(
        ng-click = "actions.performRollback(data.contextVersion, data.instance.attrs.lastBuiltSimpleContextVersion); closePopover();"
      ) Disable and Restore
      button.btn.gray.float-left(
        ng-click = "closePopover()"
      ) Cancel
