input.toggle-input(
  ng-disabled = "!ROSC.state.repo || (ROSC.state.instance && !ROSC.state.instance.attrs.lastBuiltSimpleContextVersion && ROSC.readOnly())"
  ng-model = "ROSC.readOnly"
  ng-model-options = "{getterSetter: true}"
  type = "checkbox"
)
.toggle-group.toggle-sm(
  tooltip
  tooltip-disabled = "!ROSC.state.instance || !ROSC.readOnly() || (ROSC.state.repo && ROSC.state.instance.attrs.lastBuiltSimpleContextVersion)"
  tooltip-eval = "ROSC.state.repo ? 'We’re unable to disable editing. To resolve this, delete and re-create your service.' : 'Editing is always enabled on non-repository services.'"
  tooltip-options = "{\"class\":\"bottom bottom-arrow-right\",\"right\":0,\"top\":21}"
)
