animated-panel-container
  animated-panel(
    name = "repoSelect"
    default = "true"
    style="width: 356px"
  )
    div(
      ng-include = "'viewPopoverFilesRepositorySelect'"
    )
  animated-panel(
    name = "repoOptions"
    style="width: 356px"
    ng-if = "!data.gitDataOnly"
  )
    div(
      ng-include = "'viewPopoverFilesRepositoryOptions'"
    )
  animated-panel(
    name = "commit"
    style="width: 356px"
  )
    div(
      ng-include = "'viewPopoverFilesRepositoryCommit'"
    )