animated-panel-container.popover-views

  //- select repository view
  animated-panel(
    name = "repoSelect"
  )
    .popover-view(
      ng-include = "'viewPopoverFilesRepositorySelect'"
    )

  //- repository options view
  animated-panel(
    name = "repoOptions"
  )
    .popover-view(
      ng-include = "'viewPopoverFilesRepositoryOptions'"
    )

  //- select commit view
  animated-panel(
    name = "commit"
  )
    .popover-view(
      ng-include = "'viewPopoverFilesRepositoryCommit'"
    )