.modal-dialog.modal-repository-select(
  ng-click = "$event.stopPropagation()"
)
  header.modal-header
    h1.modal-heading New Server

  section.modal-body.clearfix
    input.input.input-sm.input-search(
      placeholder = "Filter by name"
      required
    )
    ul.list.list-repositories
      li.list-item.disabled(
        ng-class = "{disabled: true}"
      ) api
        small.small Updated an hour ago
        button.btn.btn-xs(
          disabled
        ) Already Added
      li.list-item mavis
        small.small Updated an hour ago
        button.btn.btn-xs.green Add Server
      li.list-item(
        modal
        modal-actions = "actions.actionsModalVerifyServer"
        modal-data = "data.dataModalVerifyServer"
        modal-template = "viewModalVerifyServer"
      ) runnable-angular
        small.small Updated a day ago
        button.btn.btn-xs.green Add Server
    footer.modal-footer.clearfix
      button.btn.white.btn-cancel(
        ng-click = "defaultActions.cancel();"
      ) Cancel