button,
.btn {
  border: 1px solid;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 1px 0 rgba(0,0,0,.1);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  height: 36px;
  line-height: 36px;
  padding: 0 18px 0 16px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  transition: all .2s ease-in-out;
  user-select: none;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
  }

  &:active,
  &.active {
    box-shadow:
      inset 0 1px 0 rgba(255,255,255,.25),
      0 1px 0 rgba(0,0,0,.1),
      inset 0 1px 6px rgba(0,0,0,.1);
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }

  &[disabled] {
    box-shadow: none;
    cursor: not-allowed;
    text-shadow: none;

    img {
      opacity: .75;
    }
  }

  img,
  span {
    display: inline-block;
  }

  img {
    margin: -4px 4px 0 0;
  }

  > object {
    height: 20px;
    margin: 7px 0 0 -28px;
    pointer-events: none;
    position: absolute;
    width: 20px;
  }

  &.btn-sm {
    font-weight: 400;
    height: 20px;
    line-height: 19px;
    padding: 0 6px;
    text-shadow: none;

    &.glyphicons {
      color: #999;
      line-height: 1;
    }
  }
}

.green,
.silver,
.orange,
.purple {

  .glyphicons {
    margin-right: 4px;
  }
}

.green {
  @extend .btn;
  background-color: $green-light;
  background-image: linear-gradient(rgba($green,0),$green);
  border-color: $green-darker;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);

  &:hover {
    background-color: $green-lighter;
    background-image: linear-gradient(rgba($green,0),$green);
    border-color: $green-darker;
  }

  &:active,
  &.active {
    background-color: $green-dark;
    border-color: $green-darker;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    background: rgba($green-lighter,.5);
    border-color: rgba(desaturate($green,30),.25);
    color: lighten($green-lighter,30);
  }
}

.silver {
  @extend .btn;
  background-color: $gray-lighter;
  background-image: linear-gradient(rgba($gray-lighter,0),$gray-lighter);
  border-color: rgba(0,0,0,.15);
  box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.01);
  color: $gray-dark;
  text-shadow: 0 -1px 0 rgba(255,255,255,.3);

  &:hover {
    background-color: lighten($gray-lighter,5%);
    background-image: linear-gradient(rgba($gray-lighter,0),rgba($gray-lighter,.5));
    border-color: rgba(0,0,0,.15);
    color: $gray-dark;
  }

  &:active,
  &.active {
    background-color: $gray-light;
    background-image: linear-gradient($gray-lighter,$gray-lighter);
    border-color: rgba(0,0,0,.15);
    box-shadow:
      inset 0 1px 0 #fff,
      0 1px 0 rgba(0,0,0,.01),
      inset 0 1px 6px rgba(0,0,0,.125);
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    background: rgba($silver-lighter,.75);
    border-color: rgba(0,0,0,.1);
    box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.01);
    color: lighten($gray-dark,20);
  }

  &.no-states {

    &:hover,
    &:active {
      background-color: $gray-lighter;
      background-image: linear-gradient(rgba($gray-lighter,0),$gray-lighter);
      border-color: rgba(0,0,0,.1);
      box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.01);
      color: $gray-dark;
      cursor: default;
    }
  }
}

.orange {
  @extend .btn;
  background-color: adjust-hue($orange-light,3);
  background-image: linear-gradient(rgba($orange-dark,0),$orange-dark);
  border-color: $orange-darker;

  &:hover {
    background-color: adjust-hue(lighten($orange-light,3),6);
    background-image: linear-gradient(rgba($orange-dark,0),$orange-dark);
    border-color: $orange-darker;
  }

  &:active,
  &.active {
    background-color: $orange-light;
    background-image: linear-gradient(rgba($orange-dark,.4),$orange-dark);
    border-color: $orange-darker;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    background: rgba($orange-light,.4);
    border-color: rgba($orange-darker,.6);
    color: lighten($orange-light,38);
  }
}

.purple {
  @extend .btn;
  background-color: #9a58ba;
  background-image: linear-gradient(rgba(#6b409b,0),#6b409b);
  border-color: #5b3777;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.4), 0 1px 0 rgba(0,0,0,.1);

  &:hover {
    background-color: #ac67c6;
    background-image: linear-gradient(rgba(#6b409b,0),#6b409b);
    border-color: #5b3777;
  }

  &:active,
  &.active {
    background-color: #ac67c6;
    background-image: linear-gradient(rgba(#6b409b,.4),#6b409b);
    border-color: #5b3777;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    background: rgba(#9a58ba,.4);
    border-color: rgba(#5b3777,.6);
    color: lighten(#ac67c6,38);
  }
}

.btn-label {
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  padding: 0 6px;
  pointer-events: none;
 }
