.hero {
  background: $purple-darker;
  color: #fff;
  position: relative;
  text-align: center;

  img {
    height: 190px;
  }

  p {
    color: rgba($purple-lighter,.5);
    font-size: 18px;
    margin: 15px 0 30px;
  }

  .hero-content {
    position: relative;
  }
}

.bubbles-container {
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  user-select: none;
  width: 100%;

  .bubbles {
    animation: bubbleIn 1s 1s linear forwards;
    height: 100%;
    opacity: 0;
    position: absolute;

    img {
      padding: 3px;

      &.small {
        height: auto;
        width: 5%;

        &.hero-animate {
          animation: bounceySmall 16s infinite ease;

          &.reverse {
            animation: bounceySmallReverse 16s infinite ease;
          }
        }
      }

      &.medium {
        height: auto;
        width: 10%;

        &.hero-animate {
          animation: bounceyMedium 32s infinite ease;

          &.reverse {
            animation: bounceyMediumReverse 32s infinite ease;
          }
        }
      }

      &.large  {
        height: auto;
        width: 15%;

        &.hero-animate {
          animation: bounceyLarge 64s infinite ease;

          &.reverse {
            animation: bounceyLargeReverse 64s infinite ease;
          }
        }
      }
    }

    &.in img {
      opacity: 1;
    }
  }
}

// home header
#home-header {
  height: 620px;
  overflow: hidden;
  width: 100%;

  h1 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 60px;

    @media (max-width: 700px) {
      margin-top: 30px;
    }

    @media (max-width: 500px) {
      font-size: 26px;
      margin-top: 40px;
    }
  }

  h2 {
    font-size: 18px;
    color: rgba($purple-lighter,.5);
    margin: 0;
  }

  > .chevron-right {
    background: linear-gradient(to bottom,lighten($purple-light,5%),rgba($purple-light,.75)) 0 100%;
    border-radius: 50%;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.3);
    color: rgba(0,0,0,.2);
    cursor: pointer;
    display: inline-block;
    font-size: 28px;
    height: 36px;
    line-height: 36px;
    margin: 0 auto;
    opacity: .5;
    position: absolute;
      top: auto;
      right: 0;
      bottom: 250px;
      left: 0;
    transition: opacity .1s, transform .4s cubic-bezier(.19,1,.22,1);
    user-select: none;
    width: 36px;

    &:hover {
      opacity: .9;
      text-decoration: none;
    }

    &:active {
      transform: translate3d(0,1px,0);
    }

    &:before {
      display: block;
      transition: transform .5s ease-in-out;
      transform: rotate3d(0,0,1,90deg);
    }
  }
}

#home-header.inner > .chevron-right {
  transform: translate3d(0,230px,0);

  &:before {
    transform: rotate3d(0,0,1,-90deg);
  }
}

// sketchy footer for home
#home-header ~ footer {
  margin-top: -240px;
  transition: margin 0s .2s;

  > .container {
    position: absolute;
      right: 0;
      left: 0;
  }
}

#home-header.inner ~ footer {
  margin-top: 0;
}
// end sketchy footer

#channel-text {
  display: inline-block;
  height: 38px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  transition: width .2s ease-in-out;
  width: 88px;

  @media (max-width: 500px) {
    height: 24px;
    width: 58px;
  }

  > li {
    display: inline;
    opacity: 0;
    position: absolute;
      right: 0;
      left: 0;
  }

  &.out li {
    animation: alertOut .2s .2s linear forwards;
    z-index: -1;

    &:first-child {
      animation: none;
      opacity: 1;
      z-index: 1;
    }
  }

  &._0 {
    width: 88px;

    > li {
      animation: alertOut .2s linear forwards;
    }

    > li:nth-child(1) {
      animation: alertIn .2s linear forwards;
      visibility: visible;
    }
  }

  // dart
  &._1 {
    width: 84px;

    > li {
      animation: alertOut .2s linear forwards;
    }

    > li:nth-child(2) {
      animation: alertIn .2s linear forwards;
      visibility: visible;
    }
  }

  // c++
  &._2 {
    width: 72px;

    > li {
      animation: alertOut .2s linear forwards;
    }

    > li:nth-child(3) {
      animation: alertIn .2s linear forwards;
      visibility: visible;
    }
  }

  // java
  &._3 {
    width: 78px;

    > li {
      animation: alertOut .2s linear forwards;
    }

    > li:nth-child(4) {
      animation: alertIn .2s linear forwards;
      visibility: visible;
    }
  }

  // rails
  &._4 {
    width: 94px;

    > li {
      animation: alertOut .2s linear forwards;
    }

    > li:nth-child(5) {
      animation: alertIn .2s linear forwards;
      visibility: visible;
    }
  }

  // node.js
  &._5 {
    width: 140px;

    > li {
      animation: alertOut .2s linear forwards;
    }

    > li:nth-child(6) {
      animation: alertIn .2s linear forwards;
      visibility: visible;
    }
  }

  // php
  &._6 {
    width: 78px;

    > li {
      animation: alertOut .2s linear forwards;
    }

    > li:nth-child(7) {
      animation: alertIn .2s linear forwards;
      visibility: visible;
    }
  }

  // jquery
  &._7 {
    width: 126px;

    > li {
      animation: alertOut .2s linear forwards;
    }

    > li:nth-child(8) {
      animation: alertIn .2s linear forwards;
      visibility: visible;
    }
  }

  // ruby
  &._8 {
    width: 98px;

    > li {
      animation: alertOut .2s linear forwards;
    }

    > li:nth-child(9) {
      animation: alertIn .2s linear forwards;
      visibility: visible;
    }
  }

  // django
  &._9 {
    width: 136px;

    > li {
      animation: alertOut .2s linear forwards;
    }

    > li:nth-child(10) {
      animation: alertIn .2s linear forwards;
      visibility: visible;
    }
  }

  // express
  &._10 {
    width: 148px;

    > li {
      animation: alertOut .2s linear forwards;
    }

    > li:nth-child(11) {
      animation: alertIn .2s linear forwards;
      visibility: visible;
    }
  }

  // python
  &._11 {
    width: 134px;

    > li {
      animation: alertOut .2s linear forwards;
    }

    > li:nth-child(12) {
      animation: alertIn .2s linear forwards;
      visibility: visible;
    }
  }

  // codeigniter
  &._12 {
    width: 224px;

    > li {
      animation: alertOut .2s linear forwards;
    }

    > li:nth-child(13) {
      animation: alertIn .2s linear forwards;
      visibility: visible;
    }
  }

  // .net
  &._13 {
    width: 86px;

    > li {
      animation: alertOut .2s linear forwards;
    }

    > li:nth-child(14) {
      animation: alertIn .2s linear forwards;
      visibility: visible;
    }
  }

  // flask
  &._14 {
    width: 100px;

    > li {
      animation: alertOut .2s linear forwards;
    }

    > li:nth-child(15) {
      animation: alertIn .2s linear forwards;
      visibility: visible;
    }
  }

  // cakephp
  &._15 {
    width: 172px;

    > li {
      animation: alertOut .2s linear forwards;
    }

    > li:nth-child(16) {
      animation: alertIn .2s linear forwards;
      visibility: visible;
    }
  }

  // bash
  &._16 {
    width: 92px;

    > li {
      animation: alertOut .2s linear forwards;
    }

    > li:nth-child(17) {
      animation: alertIn .2s linear forwards;
      visibility: visible;
    }
  }
}

// wrapper for icons
$channel-width: 70px;
$channel-container: ($channel-width*6) + 45px;

#channel-images {
  height: 160px;
  list-style-type: none;
  margin: 40px auto 0;
  padding: 0;
  position: relative;
    z-index: 1;
  width: $channel-container; // 465px

  @media (max-width: 700px) {
    height: 200px;
    margin-top: 20px;
    overflow: hidden;
  }

  @media (max-width: 500px) {
    height: 210px;
    width: 100%;
      max-width: 450px;
  }

  .inner & {
    height: 380px;

    @media (max-width: 700px) {
      height: 100%;
    }

    @media (max-width: 500px) {
      height: 430px;
    }
  }

  > li {
    background: linear-gradient(to bottom,lighten($purple-light,5%),rgba($purple-light,.75)) 0 100%;
    background-size: 70px 140px;
    border-radius: 50%;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.3);
    height: $channel-width;
    position: absolute;
    transition: opacity .2s, transform .4s cubic-bezier(.19,1,.22,1);
    user-select: none;
    width: $channel-width;

    // row 1 - stacked state
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {

        // calculate x position
        left: $channel-width + ($i * $channel-width/2);

        // calculate y position
        @if $i == 1 or $i == 6 {
          top: $channel-width * 2 + 30px;
        }
        @else if $i == 2 or $i == 5 {
          top: $channel-width * 2;
        }
        @else if $i == 3 or $i == 4 {
          top: $channel-width * 2 - 10px;
        }
      }
    }

    // row 2 - stacked state
    @for $i from 7 through 9 {
      &:nth-child(#{$i}) {

        // calculate x position
        @if $i == 7 {
          left: $channel-width + 75px;
        } @else if $i == 8 {
          left: 0;
          margin: 0 auto;
          right: 0;
        } @else if $i == 9 {
          right: $channel-width + 75px;
        }

        // calculate y position
        @if $i == 7 or $i == 9 {
          top: $channel-width * 2 + 30px
        } @else if $i == 8 {
          top: $channel-width * 2 + 20px;
        }
      }
    }

    &:nth-child(n+10) {
      left: 0;
      margin: 0 auto;
      opacity: 0;
      right: 0;
      transform: translate3d(0,240px,0);

      .inner & {
        opacity: 1;
      }
    }

    // override for max-width: 700px
    @media (max-width: 700px) {
      display: inline-block;
      margin: 0 10px 35px !important;
      opacity: 1 !important;
      position: relative;
        top: auto !important;
        right: auto !important;
        left: auto !important;
      transform: translate3d(0,0,0) !important;
      transition: none;
    }

    #home-header.in & {

      &:nth-child(1) {
        transform: translate3d(-100px,-100px,0);
      }

      &:nth-child(2) {
        transform: translate3d(-70px,-125px,0);
      }

      &:nth-child(3) {
        transform: translate3d(-25px,-130px,0);
      }

      &:nth-child(4) {
        transform: translate3d(25px,-130px,0);
      }

      &:nth-child(5) {
        transform: translate3d(70px,-125px,0);
      }

      &:nth-child(6) {
        transform: translate3d(100px,-100px,0);
      }

      &:nth-child(7) {
        transform: translate3d(-30px,-85px,0);
      }

      &:nth-child(8) {
        transform: translate3d(0,-90px,0);
      }

      &:nth-child(9) {
        transform: translate3d(30px,-85px,0);
      }

      @media (max-width: 500px) {
        &:nth-child(1) {
          transform: translate3d(-80px,-100px,0);
        }

        &:nth-child(2) {
          transform: translate3d(-60px,-125px,0);
        }

        &:nth-child(3) {
          transform: translate3d(-15px,-130px,0);
        }

        &:nth-child(4) {
          transform: translate3d(35px,-130px,0);
        }

        &:nth-child(5) {
          transform: translate3d(80px,-125px,0);
        }

        &:nth-child(6) {
          transform: translate3d(100px,-100px,0);
        }

        &:nth-child(7) {
          transform: translate3d(-35px,-85px,0);
        }

        &:nth-child(8) {
          transform: translate3d(0,-90px,0);
        }

        &:nth-child(9) {
          transform: translate3d(30px,-85px,0);
        }
      }
    }

    #home-header.inner & {
      transition: opacity .2s, transform .2s ease-in-out;

      &:nth-child(1) {
        transform: translate3d(-195px,-170px,0);
      }

      &:nth-child(2) {
        transform: translate3d(-115px,-140px,0);
      }

      &:nth-child(3) {
        transform: translate3d(-35px,-130px,0);
      }

      &:nth-child(4) {
        transform: translate3d(45px,-130px,0);
      }

      &:nth-child(5) {
        transform: translate3d(125px,-140px,0);
      }

      &:nth-child(6) {
        transform: translate3d(205px,-170px,0);
      }

      &:nth-child(7) {
        transform: translate3d(-235px,-35px,0);
      }

      &:nth-child(8) {
        transform: translate3d(-172px,-25px,0);
      }

      &:nth-child(9) {
        transform: translate3d(-110px,-35px,0);
      }

      &:nth-child(10) {
        transform: translate3d(57px,135px,0);
      }

      &:nth-child(11) {
        transform: translate3d(172px,135px,0);
      }

      &:nth-child(12) {
        transform: translate3d(287px,135px,0);
      }

      &:nth-child(13) {
        transform: translate3d(-287px,270px,0);
      }

      &:nth-child(14) {
        transform: translate3d(-172px,270px,0);
      }

      &:nth-child(15) {
        transform: translate3d(-57px,270px,0);
      }

      &:nth-child(16) {
        transform: translate3d(57px,270px,0);
      }
    }

    &:hover {
      background-position: 0 0;
    }

    &:active {
      margin-top: 1px;
    }

    &:after {
      background: rgba(255,255,255,.2);
      border-radius: 50%;
      border-top: 2px solid rgba(0,0,0,.2);
      box-shadow: 0 1px 0 rgba(255,255,255,.3);
      content: '';
      display: block;
      height: $channel-width - 12px;
      pointer-events: none;
      position: absolute;
        top: 5px;
        left: 6px;
      width: $channel-width - 12px;
    }

    img {
      display: block;
      height: $channel-width - 12px;
      margin: 5px auto;
      width: $channel-width - 12px;
    }
  }

  a {
    display: block;

    &:after {
      border-radius: 18px;
      color: $gray-light;
      content: attr(data-title);
      display: inline-block;
      font-size: 14px;
      height: 24px;
      line-height: 24px;
      margin: 5px -100% 0;
      opacity: 0;
      padding: 0 10px;
      pointer-events: none;
      position: absolute;
        right: 0;
        left: 0;
      transition: opacity .2s cubic-bezier(.19,1,.22,1);
      white-space: nowrap;

      .inner & {
        opacity: 1;
        transition: opacity .3s .1s ease-in-out;
      }

      @media (max-width: 700px) {
        opacity: 1;
      }
    }
  }
}
