//select
.dropdown {
  border-radius: 3px;
  height: 36px;
  position: relative;

  select {
    cursor: pointer;
    font-size: 16px;
    min-height: 100%;
    opacity: 0;
    position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    width: 100%;
  }

  // select:focus ~ button {
  //   background: #fff;
  // }

  select[disabled] {
    cursor: not-allowed;

    ~ button {
      background: $gray-light;
      color: lighten($gray-dark,20%);
    }
  }

  button {
    @extend .silver;
    height: 36px;
    line-height: 36px;
    padding: 0 24px 0 12px;
    position: absolute;
      top: 0;
      right: 0;
    text-align: left;
    text-shadow: none;
    width: 100%;

    &.in {
      background: #fff;
    }

    &:before,
    &:after {
      color: rgba(0,0,0,.1);
      content: '';
      display: block;
      pointer-events: none;
      position: absolute;
        right: 8px;
    }

    &:before {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 6px solid rgba(0,0,0,.1);
      top: 9px;
    }

    &:after {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 6px solid rgba(0,0,0,.1);
      bottom: 9px;
    }
  }

  &:hover {
    button {
      background-color: lighten($gray-lighter,5%);
      background-image: linear-gradient(rgba($gray-lighter,0),rgba($gray-lighter,.5));
      border-color: rgba(0,0,0,.15);
      color: $gray-dark;
    }
  }

  &.alt button {

    &:before,
    &:after {
      top: 14px;
      right: auto;
      bottom: auto;
      left: auto;
    }

    &:before {
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-right: 6px solid #bbb;
      left: 6px;
    }

    &:after {
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 6px solid #bbb;
      right: 6px;
    }
  }
}
