.tags {
  display: inline-block;

  li {
    @extend .tag;
    margin-right: 5px;
  }
}

.tag {
  background: $gray-lighter;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  box-shadow: inset 0 1px 0 #fff;
  color: $gray-dark;
  display: inline-block;
  font-size: 11px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  position: relative;
  text-transform: uppercase;

  > a {
    color: $gray-dark;
    cursor: pointer;
    display: block;
    height: 100%;
    padding: 0 6px;
    width: 100%;
  }

  &:hover {
    background: #fff;
    color: $gray-darker;
    text-decoration: none;
  }

  &.active {
    border-color: $orange;
    color: $orange;
    transform: translate3d(0,1px,0);

    > a {
      color: $orange;
    }
  }

  .can-edit {
    cursor: default;
    padding: 0 20px 0 4px;

    > span {
      color: darken($gray,10%);
      cursor: pointer;
      line-height: 18px;
      position: absolute;
        right: 4px;

      &:hover {
        font-size: 14px;
        right: 2px;

        &:before {
          content: '\E193';
        }
      }

      &:active {
        color: $gray-dark;
      }
    }
  }
}

.no-tags {
  background: $gray-dark;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
  pointer-events: none;

  > a {
    color: #fff;
  }
}