.popover-account-menu {
  min-height: 189px;
  position: fixed;
  width: 240px;
  z-index: $z-spinner + 1; // to appear above instance view spinner

  .popover-list-item {
    padding: 0 15px;
  }

  // override border-radius
  .gravatar {
    border-radius: $input-border-radius;
  }

  // active state
  .icons-fat-check {
    left: 10px;
    opacity: 0;
    position: absolute;
    top: 17px;
  }

  .no-touching .icons-fat-check {
    opacity: 1;
  }

  // trial badge
  .btn-badge {
    border-radius: $input-border-radius;
  }

  // view-1 styles
  .list {

    // arrow right
    .icons-arrow {
      width: 21px;
    }

    // external links
    .icons-link-external {
      padding: 0 5px;
    }
  }

  .list-item-documentation {
    display: none;

    @media (max-height: 420px) {
      display: block;
    }
  }
}
