.popover.popover-aha-containers {
  left: 75px;
  top: 180px;
  transform: translate3d(0,-50%,0);

  @include media(xxs) {
    left: 7px;
    margin-left: 0;
    top: 234px;
    width: calc(100vw - 22px);
  }

  .arrow {
    @include media(xxs) {
      left: 30px;
      top: -6px;
      transform: rotate(90deg);
    }
  }
}
