.popover-fixed {
  left: 0 !important;
  margin: 0 auto;
  max-width: 630px;
  position: fixed;
  right: 0 !important;
  top: calc(9% + 90px) !important;
  z-index: $z-popover-fixed;

  .popover-header {
    background: $gray-lighterest;
    border-bottom: 1px solid $gray-lighter;
    display: flex;
    height: 54px;
    padding: 9px 15px;
  }

  .popover-content {
    max-height: 375px;
    overflow-y: auto;
    padding: 15px 15px 30px;
  }

  .popover-title {
    margin: 6px 0 21px;

    // delete
    .btn-xs {
      float: right;
      padding-left: 0;
    }

    .icons-trash {
      float: left;
      height: 100%;
    }

    .small {
      color: $gray;
      display: block;
      line-height: 1.4;
      margin-top: 6px;
    }
  }
}