.popover-environment {
  max-width: none;
  width: 330px;

  .popover-title {
    padding: 6px;
  }

  .list {
    margin: 9px;
  }

  // label.input-group for envs
  .input-group {
    padding-left: 6px;

    &.with-description > .input {
      font-weight: 300;
      margin-top: 18px;
    }
  }

  .input-description {
    top: 9px;
  }
}