.popover-tooltip {
  color: $gray-dark;
  line-height: 1.2;
  max-width: 239px;
  padding: 6px 12px 9px;

  &.dark {
    background: #555;
    border: 0;
    box-shadow: none;
    color: #f0f0f0;
    transform: scale3d(1,1,1);
    transition: opacity .075s ease-in;

    .btn {
      background: $gray;
      color: $white;

      &:hover {
        background: rgba($gray,.75);
      }

      &:active {
        background: $gray-dark;
      }
    }

    // override popover default arrow color
    .arrow.arrow.arrow {
      border-bottom-color: #555;

      &::after {
        border-bottom-color: #555;
      }
    }
  }

  .arrow.arrow.arrow {
    border-top-width: 0;
    border-bottom-width: 9px;
    border-right-width: 9px;
    border-left-width: 9px;
    margin-left: -9px;
    top: -9px;
  }

  .popover-footer {
    margin: 9px -12px 0;
    padding: 3px 12px 0;
  }

  .btn {
    font-weight: $weight-bold;
    margin: 8px 0 3px;
    width: 100%;
  }
}