// .popover.commit-select
.commit-select {
  background: #f0f8fb; // rgba($blue,.1);
  border-color: rgba($blue,.4);
  box-shadow: 0 0 21px rgba($blue,.21);
  margin-left: 39px;
  top: 34px; // if first repo
  transform: scale3d(1,0,0);
  transform-origin: 50% 0;
  width: 251px;

  .popover-title {
    background: transparent;
    border-color: #bbdeeb; // rgba($blue,.4)
    height: 36px;
    line-height: 36px;
    padding: 6px;
  }

  .title-filter {
    border: 1px solid rgba($blue,.4);
  }
}

// ul.commit-group
.commit-group {
  max-height: 315px;
  overflow: auto;
}

// li.commit-group-item
.commit-group-item {
  margin: 3px 6px;
  padding: 3px 9px 6px;

  &:hover,
  &:active,
  &.active {
    border-color: #bbdeeb; // rgba($blue,.4)
  }

  &:first-child {
    margin: 6px 6px 3px;
  }

  &:last-child {
    margin-bottom: 6px;
  }

  &.commit-item-more {
    border: 0;
    margin: 3px 6px 6px;
    padding: 0;
  }

  // button.blue.btn-block Load Older
  .blue {
    height: 36px;
    line-height: 36px;
    margin: 0;
  }

  .icons-commit {
    top: 6px;
  }

  // .spinner
  .spinner {
    color: $blue;
  }

  .spinner-ring {
    background: #f0f8fb; // rgba($blue,.1);
  }
}

.popover-title {

  .branch-btn,
  .blue,
  .white {
    height: 24px;
    line-height: 24px;
  }
}

// branch button
.branch-btn {
  float: right;

  &:hover .blue {
    @extend .blue:hover;
  }

  .blue {
    font-size: 14px;
    max-width: 207px;
    overflow: hidden;
    padding: 0 24px 0 3px;
    text-overflow: ellipsis;
    white-space: nowrap;

    .icons-git {
      color: $blue;
      float: left;
      height: 15px;
      left: 0;
      margin-right: 6px;
      position: relative;
      top: 5px;
      width: 15px;
    }

    .icons-arrow-down {
      position: absolute;
      right: 0;
      top: 0;
      transform: none;
    }

    .select {
      font-size: 16px;
    }
  }
}