.popover-account-menu {
  width: 210px;
  z-index: $z-spinner + 1; // to appear above instance view spinner

  .list {

    // arrow right
    .icons-arrow {
      width: 21px;
    }

    // external links
    .icons-link-external {
      padding: 0 5px;
    }
  }
}