.popover.popover-primary-options {
  color: $gray;
  left: auto;
  transform-origin: 219px 0;
  width: 175px;

  .arrow.white {
    left: auto;
    right: 2px;
  }

  .no-actions .label-checkbox {
    cursor: not-allowed;
  }

  .input-checkbox {
    height: 36px;
    margin-right: 12px;
  }
}