.popover.popover-add-dependencies {
  transform-origin: 0 22px;
  width: 210px;

  .arrow {
    top: 22px;
  }

  .popover-title {
    padding: 10px 6px;
  }

  .btn-xs {
    font-size: 14px;
  }

  .list {
    max-height: 240px;
    overflow-y: auto;
  }

  .list-details {
    border: 0;
    margin: 0;
    padding: 9px 15px 6px;
  }
}