.popover-account-menu {
  max-width: 180px;
  transform-origin: 95% 0 !important;
  z-index: $z-spinner + 1; // to appear above instance view spinner

  .list {
    max-height: 50vh;
    overflow-y: auto;

    // override for slack icon
    .iconnables {
      width: 24px;
    }
  }

  .list-item.disabled {
    padding-right: 24px;
    pointer-events: none;
  }

  .icons-fat-check {
    color: $green;
    max-width: 18px;
    position: absolute;
    right: 0;
  }
}