.popover-admin-needed {
  background-color: $gray-darker;
  border-color: transparent;
  box-shadow: 0;
  color: $gray-lighter;
  line-height: 16px;
  max-width: 225px;
  padding: 6px 12px 9px;

  .btn {
    background: $gray;
    border: 2px solid rgba($gray,.4);
    color: $white;
    font-weight: $weight-bold;
    margin: 6px 0 3px;
    width: 100%;

    &:hover {
      background: $gray-dark;
    }

    &:active {
      border-color: rgba($gray,.8);
    }
  }

  .arrow {
    left: -9px !important;
  }

  .arrow,
  .arrow::after {
    border-right-color: $gray-darker !important;
  }
}