// override default popover behavior
.popover-fixed {
  display: flex;
  flex-direction: column;
  left: 0 !important;
  margin: 0 auto;
  max-height: calc(100vh - 75px);
  max-width: 630px;
  position: fixed;
  right: 0 !important;
  top: 60px !important;
  z-index: $z-popover-fixed;

  @media (max-height: 500px) {
    max-height: calc(100vh - 45px);
    top: 30px !important;
  }

  @include media(xxs) {
    max-height: calc(100vh - 45px);
    top: 30px !important;
  }

  .popover-header {
    flex: 0 0 54px;
  }

  .popover-title {
    margin: 6px 0 21px;

    // delete
    .btn-xs {
      float: right;
      padding-left: 0;
    }

    .icons-trash {
      float: left;
      height: 100%;
    }

    .small {
      color: $gray;
      display: block;
      line-height: 1.4;
      margin-top: 6px;
    }
  }

  .popover-content {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 15px 15px 30px;
  }

  .popover-footer {
    flex: 0 0 70px;
  }

  // spinner
  .spinner-backdrop {
    background: transparent; // for background clipping in safari
  }
}

// fixed popovers used as prompts
.popover-prompt {
  background: $gray-lighterest;
  left: 0 !important;
  max-width: 510px;

  .popover-title {
    line-height: 1.2;
  }

  .popover-content {
    min-height: 0;
  }
}