.popover-account-menu {
  position: fixed;
  left: 62px;
  top: 19px;
  width: 216px;
  z-index: $z-spinner + 1; // to appear above instance view spinner

  .popover-list-item {
    padding: 0 15px;
  }

  // active state
  .icons-fat-check {
    left: 10px;
    opacity: 0;
    position: absolute;
    top: 17px;
  }

  .no-touching .icons-fat-check {
    opacity: 1;
  }

  // view-1 styles
  .list {

    // arrow right
    .icons-arrow {
      width: 21px;
    }

    // external links
    .icons-link-external {
      padding: 0 5px;
    }
  }
}