.popover-branch-menu {
  max-width: 330px;
  min-height: 90px;
  width: 100%;

  .aha-guide {
    border-bottom: 1px solid $gray-lighter;
    font-size: 15px;
    margin-top: 6px;
    padding-bottom: 21px;
  }

  .well {
    margin-bottom: 6px;
  }

  .input-search {
    margin-top: 9px;
  }

  .popover-content.popover-content {
    max-height: 330px;
    min-height: 90px;
    overflow-y: auto;
  }

  // empty state
  .empty {

    .svg {
      height: 45px;
      margin-top: 15px;
    }

    .p {
      font-size: 15px;
    }
  }

  // loading state
  .list-item {

    &.disabled {
      color: $gray-light;
      cursor: not-allowed;
    }

    > .spinner-wrapper {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}

.popover-template-menu {
  top: 30px !important;

  .input-search {
    margin-top: 0;
  }

  .btn-add.btn-add.btn-add {
    position: static;
    right: auto;
    top: auto;
  }

  .list-servers {

    .list-item {
      font-size: 15px;
    }
  }

  .gravatar.gravatar {
    margin: 0;
    margin-right: 4px;
    margin-top: 2px;
  }
}
