.popover-demo {
  color: $gray-dark;
  left: 0;
  overflow: visible;
  position: relative;
  top: 0;
  z-index: $z-views-sidebar;

  // specific to the cta popover
  &.bottom {
    margin-bottom: 9px;
    margin-top: 5px;
  }

  &.top {
    margin-bottom: 6px;
    margin-top: 0;
  }

  .list-item-fork {
    border-bottom: $input-border solid $gray-lighter;
    border-top: $input-border solid $gray-lighter;
    cursor: pointer;
    padding: $xs;

    &:hover:not(.disabled),
    &:active:not(.disabled) {
      color: $gray-darker;
    }

    &.disabled {
      cursor: default;
      opacity: .5;

      .spinner-wrapper {
        align-items: center;
        height: 24px;
        width: 24px;
      }
    }

    + .list-item-fork {
      margin-top: -$input-border;
    }

    .img {
      margin-right: $xs;
    }
  }

  .icons-arrow-forward {
    opacity: .5;
  }

  .popover-footer {
    border: 0;
    cursor: pointer;
    margin: 0;
    opacity: .5;
    padding: $sm 0;

    &:hover:not(.disabled),
    &:active:not(.disabled) {
      color: $gray-darker;
    }

    &.disabled {
      cursor: default;
      opacity: .5;
    }
  }

  // add branch step
  .commands-wrapper,
  .skip-wrapper {
    background: $gray-dark;
    color: $gray-lighter;

    .monospace {
      overflow-x: auto;
    }

    .btn-copy {
      background: $gray;
      color: $white;

      &:hover {
        background: rgba($gray,.7);
      }

      &:active {
        background: rgba($gray,.5);
      }
    }
  }

  // skip branch
  .skip-wrapper {
    border-radius: 0 0 $input-border-radius-lg $input-border-radius-lg;
    border-top: 1px solid rgba($black,.2);
  }
}
