.popover-link-servers {
  width: 270px !important;

  .popover-content {
    max-height: 360px;
    overflow-y: auto;
    padding: 0;
  }

  .popover-list-item {
    cursor: default;

    &:hover,
    &:active {
      background: transparent;
      color: $gray-darker;
    }

    &:not(:first-child) {
      height: auto;
      line-height: initial;
      margin: 0 15px;
      padding: 9px 0 12px;

      + .popover-list-item {
        border-top: 1px solid rgba($black,.1);
      }
    }
  }

  .btn-xxs {
    float: left;
    font-family: 'Source Code Pro', monospace;
    margin: 3px 3px 0 0;
  }
}