.popover-container-menu {

  .popover-header {

    .icons-advanced {
      cursor: pointer;
      margin: 0;
      opacity: .6;
      pointer-events: auto;
      position: absolute;
      right: 12px;
      transition: opacity .15s, transform .15s;
      width: 15px;

      &:hover {
        transform: rotate3d(0,0,1,30deg);
      }

      &:active {
        opacity: 1;
        transform: rotate3d(0,0,1,60deg);
      }
    }
  }

  .list-containers {

    .list-item {
      padding: 0 9px;
      width: 100%;
    }

    .icons-status {
      margin: 15px 9px 0;
    }

    .icons-advanced {
      float: right;
      margin: 0 3px 0 30px;
      width: 15px;
    }
  }
}