.popover-user {
  border-radius: $input-border-radius-lg;
  min-width: 300px;

  .spinner-wrapper,
  .send-confirmation {
    margin: 5px 0;
  }

  .text-overflow {
    padding-right: 84px;
  }

  .input {
    font-size: 14px;
    padding-right: 54px;

    // send
    ~ .btn-xs {
      bottom: 14px;
      margin: 6px;
      top: auto;
    }
  }
}
