.popover-account-menu {
  max-width: 180px;
  transform-origin: 95% 0 !important;
  z-index: $z-spinner + 1; // to appear above instance view spinner

  .list {
    max-height: 50vh;
    overflow-y: auto;

    // override for slack icon
    .iconnables {
      width: 24px;
    }
  }

  // isolation images
  .gravatar-isolation {
    margin-right: 12px; // +3px to compensate for -3px image size

    // user's avatar
    + .gravatar {
      border-radius: 3px;
      left: 18px;
      position: absolute;
      top: 12px;
    }
  }

  .list-item.disabled {
    padding-right: 24px;
    pointer-events: none;
  }

  .icons-fat-check {
    color: $purple-light;
    max-width: 18px;
    position: absolute;
    right: 0;
  }
}