// .popover.right.popover-repository-toggle
.popover-repository-toggle {
  max-width: none;
  transform-origin: 0 24px;
  width: 360px;

  .popover-content {
    margin: 1px 0;
    max-height: 420px;
    min-height: 120px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  // branch select
  .btn-select {
    padding: 0 3px;

    .iconnables {
      float: none;
      height: 18px;
      top: 3px;
      transform: none;
      width: 18px;
    }

    // delete button
    + .btn-xs {
      flex: 0 0 auto;
      float: right;
      margin-right: 6px;
    }
  }

  // spinner
  .spinner {
    color: $gray-light;
    margin: 30px auto;
  }

  // list
  .list {
    margin: 0 -6px;
    padding: 0;
  }

  // older/newer buttons
  .btn-group:last-child {
    display: block;
    margin: 6px;

    .btn {
      font-size: 14px;
      width: 50%;

      &:only-child {
        width: 100%;
      }
    }
  }
}

// li.toggle-group-item
.toggle-group-item {
  height: auto;
  line-height: 1;
  overflow: visible;
  padding: 12px;
  white-space: normal;

  &:active .small {
    color: $purple-light;
  }
}

// .toggle-group-title
.toggle-group-title {
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 6px;
  word-break: break-word;
}

// .toggle-group-detail
.toggle-group-detail {

  .small {
    color: $gray;

    &:last-child {
      float: right;
    }

    &:first-child {
      float: left;
    }
  }

  .iconnables {
    color: $gray-lighter;
    height: 12px;
    top: 3px;
    width: 12px;
  }

  // .link-text (commit hash)
  .link {
    color: $purple-light;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
