.popover-environment-variable {
  max-width: 510px;

  // extra spacing on last form item
  .label-row {
    height: 121px;
    margin-bottom: 36px;
    position: relative;

    .label-col:first-child {
      // shorter key length
      max-width: 180px;
    }

    .input {
      font-size: 13px;
    }

    .icons-arrow-down {
      margin-top: 6px;
      position: absolute;
      right: 21px;
    }
  }

  // tags
  .tag {
    border-color: $green;
  }
}