.popover-fixed {
  left: 0 !important;
  margin: 0 auto;
  position: fixed;
  right: 0 !important;
  z-index: $z-popover-fixed;

  .popover-content {
    padding: 15px;
  }

  .popover-title {
    margin-bottom: 36px;
  }
}

// overlay
.popover-overlay {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: $z-popover-overlay;
}