.popover-environment {
  max-width: none;
  width: 330px;

  // label.input-group for envs
  .input-group {
    padding-left: 12px;

    &.with-description > .input {
      font-size: 14px;
      font-weight: 400;
      margin-top: 18px;
      padding-right: 12px;
    }
  }

  .input-description {
    top: 9px;
  }
}