.popover-files {
  background: $white;
  // fix width and height for popover-views
  height: 450px;
  width: 420px;

  .popover-view {
    width: 416px;
  }

  .popover-header {

    // repo name
    > .strong {
      flex: 1 1 auto;
      font-size: 15px;
      line-height: 35px;
      text-align: center;
    }

    // buttons
    > .btn {
      flex: 0 0 auto;
      font-size: 13px;
      padding: 0 6px;
    }

    // back button
    > .white {
      margin-right: 6px;
      padding: 0 9px 0 3px;
    }

    .icons-arrow-back {
      float: left;
      height: 100%;
      margin-right: 3px;
      width: 15px;
    }

    // delete button
    > .orange {
      margin-left: 6px;
    }
  }

  .popover-content {
    height: 328px; // calc(450px - 122px);
    padding-bottom: 15px;
  }

  // commit button
  .btn-block {
    font-size: 13px;
    line-height: 1.2;
    padding: 6px 24px 6px 6px;
    text-align: left;

    .icons-arrow-down {
      transform: rotate3d(0,0,1,-90deg);
    }
  }

  // forms
  .label-col,
  .input-col {
    width: 100%;
  }
}