// isolation setup
.popover-container-menu {

  .multi-line .iconnables.iconnables {
    height: 21px;
  }

  .icons-gear,
  .popover-list-item:active .icons-gear {
    color: $gray-light;
  }

  .small {
    padding-left: 27px;
  }
}
