.popover-views {
  overflow: hidden; // popover-views must be fixed width & height

  &.view-2 .popover-view {
    transform: translate3d(-100%,0,0);
  }

  &.view-3 .popover-view {
    transform: translate3d(-200%,0,0);
  }
}

.popover-view {
  float: left;
  position: absolute;
  transition: transform .2s ease-in;

  + .popover-view {
    left: 100%;

    + .popover-view {
      left: 200%;
    }
  }
}