.popover-primary-options {

  // status options styles
  .btn-xs {
    margin-top: 6px;
  }

  .icons-status {
    margin: 0 13px 0 5px;
  }

  .popover-list-item {
    white-space: normal;

    &.multi-line {
      line-height: 1.4;
      padding-bottom: 6px;
      padding-top: 6px;

      &:active .small {
        color: currentColor;
      }

      .small {
        color: $gray;
        margin-left: 27px;
      }
    }
  }

  .no-actions .label-checkbox {
    cursor: not-allowed;
  }

  .input-checkbox {
    height: 36px;
    margin: 0 9px;
  }
}
