.popover-dns-mappings {
  max-width: none;
  width: 330px;

  .popover-view {
    width: 100%;
  }

  // list all elements that transition
  .list,
  .span,
  .icons-arrow-backward {
    opacity: 0;
    transition: opacity .15s ease-in;
  }

  // rows
  .tr {
    cursor: pointer;
    height: 54px;
    padding: 0;

    &:hover .icons-arrow-forward {
      color: $gray;
    }

    &:active {
      .cell::after {
        color: $purple-light;
      }

      .icons-arrow-forward {
        color: $purple-light;
      }
    }

    // override borders
    + .tr {
      border: 0;
    }

    .icons-arrow-forward {
      color: $gray-light;
      height: 100%;
      margin: 0;
      right: 6px;
    }
  }

  // cells
  .cell {
    height: 54px;
    padding: 12px 0 0 9px;
    position: relative;

    &:first-child {
      padding-right: 0;

      &::after {
        color: $gray-light;
        content: '→';
        display: block;
        font-size: 18px;
        line-height: 40px;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  // toggle
  .btn-toggle {
    margin: 9px auto 5px;

    > .btn {
      width: 80px;
    }
  }
}