.popover-guides {

  .popover-content {
    padding: 12px 15px;
  }

  // pre.btn.btn-block.btn-sm.gray
  .btn-sm {
    cursor: default;
    margin: 0 0 6px;
  }

  // pre.btn.btn-xxs.gray
  .btn-xxs {
    cursor: default;
    top: 3px;
  }

  .link-gray {
    display: inline-block;
    float: right;
    font-size: 14px;
    font-weight: 500;
    margin: 15px 0 0;
  }
}

// h3.popover-header
.popover-header {
  margin-bottom: 12px;
}