.popover-files {
  background: $white;
  // fix width and height for popover-views
  height: 420px;
  width: 360px;

  .popover-view {
    width: 356px;
  }

  .popover-header {

    // repo name
    > .strong {
      flex: 1 1 auto;
      font-size: 15px;
      line-height: 35px;
      text-align: center;
    }

    // buttons
    > .btn {
      flex: 0 0 66px;
      font-size: 13px;
      padding: 0 6px;
    }

    // back button
    > .white {
      margin-right: 6px;
      padding: 0 9px 0 3px;
    }

    .icons-arrow-backward {
      float: left;
      height: 100%;
      margin-right: 3px;
      width: 15px;
    }

    // delete button
    > .orange {
      margin-left: 6px;
    }
  }

  .popover-content {
    height: 298px; // calc(450px - 122px);
    padding-bottom: 15px;
  }

  // forms
  .label {
    margin-bottom: 12px;
  }

  .label-col,
  .input-col {
    width: 100%;
  }

  // view 1
  // list
  .list-servers > .list-item {
    font-size: 16px;
    padding-left: 12px;
    padding-right: 24px;

    &:active {
      color: $purple-light;
    }
  }

  // view 2
  // commit button
  .btn-block {
    font-size: 15px;
    height: 54px;
    line-height: 1.4;
    padding: 6px 24px 6px 6px;
    text-align: left;

    &:active .small {
      color: currentColor;
    }

    .icons-arrow-down {
      transform: rotate3d(0,0,1,-90deg);
    }
  }

  // delete button
  .orange {
    display: table;
    margin: 0 auto;
  }

  // view 3
  // filter
  .label-jump {
    text-align: center;
  }
}