.popover-branch-menu {
  max-width: 330px;
  min-height: 90px;
  width: 100%;

  .aha-guide {
    border-bottom: 1px solid $gray-lighter;
    font-size: 15px;
    margin-top: 6px;
    padding-bottom: 21px;
  }

  .well {
    margin-bottom: 6px;
  }

  .input-search {
    margin-top: 9px;
  }

  .popover-content.popover-content {
    max-height: 330px;
    min-height: 90px;
    overflow-y: auto;
  }

  // empty state
  .empty {

    .svg {
      height: 45px;
      margin-top: 15px;
    }

    .p {
      font-size: 15px;
    }
  }

  // pagination
  .list-pagination {
    padding: 6px;
  }
}
