.popover {

  // default colors
  &.top .arrow::after {
    border-top-color: $white;
  }

  &.right .arrow::after {
    border-right-color: $white;
  }

  &.bottom .arrow::after {
    border-bottom-color: $white;
  }

  &.left .arrow::after {
    border-left-color: $white;
  }

  // .arrow is used for the border
  // ::after is used for the arrow color
  .arrow,
  .arrow::after {
    border-color: transparent;
    border-style: solid;
    height: 0;
    position: absolute;
    width: 0;
  }

  .arrow {
    background: transparent;
    border-color: $gray-lighter;
    border-width: 12px;
    z-index: $z-popover-arrow;

    // reset bg
    &.gray,
    &.white {
      background: transparent;
    }

    &::after {
      border-width: 10px;
      content: '';
      display: block;
      transition: none;
    }

    // transitions
    &.js-animate {
      transition: opacity .3s; // set timing for ngAnimate
    }

    &.gray-remove::after,
    &.white-remove::after {
      transition: border-color .3s ease-in; // actual timing
    }

    &.gray::after {
      border-color: $gray-lighterest;
    }

    &.white::after {
      border-color: $white;
    }
  }

  // top arrow
  &.top {
    margin-top: 10px;
    transform-origin: 50% 100%;

    .arrow {
      border-bottom-width: 0;
      border-left-color: transparent;
      border-right-color: transparent;
      bottom: -12px;
      left: 50%;
      margin-left: -11px;

      &::after {
        border-bottom-width: 0;
        border-left-color: transparent;
        border-right-color: transparent;
        bottom: 2px;
        margin-left: -10px;
      }
    }
  }

  // right arrow
  &.right {
    margin-left: 10px;
    transform-origin: 0 50%;

    .arrow {
      border-bottom-color: transparent;
      border-left-width: 0;
      border-top-color: transparent;
      left: -12px;
      margin-top: -12px;
      top: 50%;

      &::after {
        border-bottom-color: transparent;
        border-left-width: 0;
        border-top-color: transparent;
        bottom: -10px;
        left: 2px;
      }
    }
  }

  // bottom arrow
  &.bottom {
    transform-origin: 50% 0;

    .arrow {
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-width: 0;
      left: 50%;
      margin-left: -12px;
      top: -12px;

      &::after {
        border-left-color: transparent;
        border-right-color: transparent;
        border-top-width: 0;
        margin-left: -10px;
        top: 2px;
      }
    }
  }

  // left arrow
  &.left {
    transform-origin: 100% 50%;

    .arrow {
      border-bottom-color: transparent;
      border-right-width: 0;
      border-top-color: transparent;
      margin-top: -12px;
      right: -12px;
      top: 50%;

      &::after {
        border-bottom-color: transparent;
        border-right-width: 0;
        border-top-color: transparent;
        bottom: -10px;
        content: '';
        right: 1px;
      }
    }
  }
}
