.popover-guides {
  background: rgba($blue,.2);
  box-shadow: 0 1px 0 rgba($blue,.4);
  color: $blue;
  font-size: 13px;
  max-height: 0;
  overflow: hidden;
  transition: max-height .2s ease-in;

  &.in {
    max-height: 150px;
  }

  .p {
    padding: 15px 15px 9px;
  }

  .link {
    color: $blue;
    float: right;
    font-weight: 500;
    margin-top: 6px;
  }
}