.popover-url {
  max-width: 460px;
  min-width: 390px;

  .popover-content {
    color: $gray-dark;
    padding: 18px 30px;
  }

  .h4 {
    font-size: 16px;

    + .small {
      margin: 9px 0;
    }
  }

  .input-group {
    background: $gray-lighterest;
    border-radius: $input-border-radius $input-border-radius 0 0;

    + .input-group {
      border-radius: 0 0 $input-border-radius $input-border-radius;
      margin-top: -2px;
    }

    .label {
      width: 99px;
    }

    .input-xs {
      border: 0;
      color: $gray;
      line-height: $input-xs;
      overflow: auto;
      white-space: nowrap;
    }
  }

  .figure {
    position: relative;
  }

  .icons-redirect {
    color: $gray-lighter;
    height: 28px;
    left: -15px;
    position: absolute;
    top: 11px;
    width: 16px;

    + .icons-redirect {
      left: auto;
      right: -15px;
      transform: rotate3d(0,1,0,180deg);
    }
  }

  .hr {
    margin: 24px 0;
  }
}
