.popover-files {
  // fix width and height for popover-views
  height: 361px;
  width: 420px;

  .popover-view {
    width: 416px;
  }

  .popover-header {

    // repo name
    > .strong {
      flex: 1 1 auto;
      font-size: 15px;
      line-height: 35px;
      text-align: center;
    }

    // buttons
    > .btn {
      flex: 0 0 auto;
      font-size: 13px;
      padding: 0 6px;
    }

    // back button
    > .white {
      margin-right: 6px;
      padding: 0 9px 0 3px;
    }

    .icons-arrow-back {
      float: left;
      height: 100%;
      margin-right: 3px;
      width: 15px;
    }

    // delete button
    > .orange {
      margin-left: 6px;
    }
  }

  .popover-content {
    height: 238px;
    padding-bottom: 15px;
  }

  // forms
  .label-col,
  .input-col {
    width: 100%;
  }
}