.popover.popover-add-dependency {
  width: 210px;

  .popover-title {
    padding: 10px 6px;
  }

  .btn-xs {
    font-size: 14px;
  }

  .popover-content {
    max-height: 240px;
    overflow-y: auto;
  }

  .popover-content-header {
    padding: 6px 6px 0;
  }

  .list-details {
    border: 0;
    margin: 0;
    padding: 9px 15px 6px;
  }
}