.popover-account-menu {
  position: fixed;
  width: 240px;
  z-index: $z-spinner + 1; // to appear above instance view spinner

  &.lg {
    max-width: none;
    width: 600px;

    @include media(sm) {
      max-width: 300px;
    }

    .account-menu {
      flex: 0 0 236px;

      @include media(sm) {
        flex: 0 0 auto;
        order: 2;
      }
    }

    .team-cta {
      background: $gray-lighterest;
      border-left: 1px solid $gray-lighter;
      border-radius: 0 $input-border-radius-lg $input-border-radius-lg 0;
      flex: 1 1 auto;
      max-width: none;
      padding: $md $sm;

      @include media(sm) {
        background: $white;
        border-bottom: 1px solid $gray-lighter;
        border-left: 0;
        border-radius: $input-border-radius-lg $input-border-radius-lg 0 0;
        font-size: 15px;
        order: 1;
        padding: $sm;
      }

      .img {
        @include media(sm) {
          height: 75px;
          width: 75px;
        }
      }

      .strong {
        @include media(sm) {
          max-width: 180px;
        }
      }
    }
  }

  // override default .popover-view
  .popover-view {
    flex-direction: row;

    @include media(sm) {
      flex-direction: column;
    }

    &.vertical {
      flex-direction: column;
    }
  }

  .popover-list-item {
    padding: 0 15px;
  }

  // override border-radius
  .gravatar {
    border-radius: $input-border-radius;
  }

  // active state
  .icons-fat-check {
    left: 10px;
    opacity: 0;
    position: absolute;
    top: 17px;
  }

  .no-touching .icons-fat-check {
    opacity: 1;
  }

  // trial badge
  .btn-badge {
    border-radius: $input-border-radius;
  }

  // view-1 styles
  .list {

    // arrow right
    .icons-arrow {
      width: 21px;
    }

    // external links
    .icons-link-external {
      padding: 0 5px;
    }
  }

  .list-item-documentation {
    display: none;

    @media (max-height: 420px) {
      display: block;
    }
  }
}
