// .popover.menu.bottom.popover-add-tab
.popover-add-tab {
  transform-origin: 95% 0 !important; // right edge popover

  .arrow {
    left: auto !important; // right edge popover
    right: 8px;
  }

  .iconnables {
    width: 18px;
  }
}