.popover-link-servers {
  width: 270px !important;

  .popover-content {
    max-height: 360px;
    overflow-y: auto;
    padding: 0;
  }

  .popover-list-item {
    cursor: default;

    &:hover,
    &:active {
      background: transparent;
      color: $gray-darker;
    }

    + .popover-list-item {
      padding-right: 54px;
    }
  }

  .btn-xxs {
    position: absolute;
    right: 15px;
    top: 9px;
  }
}