// .popover.bottom.popover-add-repo
.popover.popover-add-repo {
  left: -118px;
  margin-top: 39px;
  transform-origin: 50% 0;
  width: 270px;

  .popover-content {
    margin-top: -45px;
    max-height: 415px;
    overflow: auto;
    padding: 45px 0 0;
  }

  // li.popover-list-item
  .popover-list-item {
    overflow: hidden;
    padding-right: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .no-actions {
    text-align: center;
  }
}