.popover-url {
  max-width: none;

  .popover-content {
    color: $gray-dark;
    padding: 24px 30px;
  }

  // content fills popover width
  .h4,
  .small,
  .figure {
    display: table;
  }

  .h4 {
    font-size: 16px;
    margin-bottom: 9px;
  }

  .input-group {
    background: $gray-lighterest;

    + .input-group {
      margin-top: 6px;
    }

    .label {
      width: 117px;
    }

    .input-xs {
      overflow: auto;
      white-space: nowrap;
    }
  }

  .figure {
    margin-top: 15px;
    position: relative;
  }

  .icons-redirect {
    color: $gray-lighter;
    height: 33px;
    left: -15px;
    position: absolute;
    top: 12px;
    width: 15px;

    + .icons-redirect {
      left: auto;
      right: -15px;
      transform: rotate3d(0,1,0,180deg);
    }
  }

  .hr {
    margin: 24px 0;
  }

  .link {
    color: $gray;

    + .link {
      margin-top: 9px;
    }
  }

  .icons-link-external {
    color: $gray;
    float: right;
    height: 12px;
    margin-left: 3px;
    top: 3px;
    width: 12px;
  }
}
