.popover-files {
  background: $white;
  // fix width and height for popover-views
  max-width: none;
  min-height: 420px;
  width: 360px;

  // 420px/360px - 4px (height/width - borders)
  .popover-views,
  .popover-view {
    min-height: 416px;
  }

  .popover-view {
    width: 356px;
  }

  .popover-header {

    // repo name
    > .strong {
      flex: 1 1 auto;
      font-size: 15px;
      line-height: 35px;
      text-align: center;
    }

    // buttons
    > .btn {
      flex: 0 0 66px;
      font-size: 13px;
      padding: 0 6px;
    }

    // back button
    > .white {
      margin-right: 6px;
      padding: 0 9px 0 3px;
    }

    .icons-arrow-backward {
      float: left;
      height: 100%;
      margin-right: 3px;
      width: 15px;
    }

    // delete button
    > .orange {
      margin-left: 6px;
    }
  }

  .popover-content {
    min-height: 298px; // calc(450px - 122px);
    padding-bottom: 15px;

    .list-servers {
      margin-top: 15px;
    }
  }

  // forms
  .input-search {
    background-position: 57px center;
    display: block;
    line-height: 23px;
    margin: 0 auto 15px;
    padding-left: 73px;
    width: 210px;

    &:focus,
    &:valid {
      background-position: 8px center;
    }
  }

  .label {
    margin-bottom: 12px;
  }

  .label-col,
  .input-col {
    width: 100%;
  }

  .label-col .small {
    display: inline-block;
    margin-left: 6px;
  }

  .input + .small {
    margin-top: 6px;
  }

  // view 2
  // commit button
  .btn-block {
    font-size: 15px;
    height: 54px;
    line-height: 1.4;
    padding: 6px 24px 6px 6px;
    text-align: left;

    &:active .small {
      color: currentColor;
    }

    .icons-arrow-down {
      position: absolute;
      right: 6px;
      top: 0;
      transform: rotate3d(0,0,1,-90deg);
    }
  }

  // delete button
  .orange {
    display: table;
    margin: 0 auto;
  }

  // upload button
  .btn-upload {
    padding-right: 75px;

    // center file name when there's no info to show
    &.no-info {
      line-height: 38px;
    }
  }

  [for="input-upload"] {
    position: absolute;
    right: 12px;
    top: 13px;
  }

  // textarea for build commands
  .textarea {
    max-height: 150px;
    resize: vertical;

    // override
    &.textarea-key {
      max-height: 190px;
      resize: none;
    }
  }

  // filter
  .label-jump {
    display: block;
    margin-bottom: 3px;
    text-align: center;
  }

  // label.toggle-wrapper
  .toggle-wrapper {
    color: $gray;
    display: block;
    text-align: center;
  }

  .toggle-group {
    display: inline-block;
    margin-left: 6px;
    top: 3px;
  }
}
