.popover-overlay {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: $z-popover;
}

.popover {
  // top & left offset to move popovers offscreen to prevent them
  // from appearing before calculating their actual position
  background: $white;
  border: $input-border solid $gray-lighter;
  border-radius: $input-border-radius-lg;
  box-shadow: 0 1px 3px rgba($black,.06);
  left: -10000px;
  max-width: 300px;
  opacity: 0;
  position: absolute;
  top: -10000px;
  transform: scale3d(.95,.95,1);
  transition: opacity .1s ease-in, transform .1s ease-in;
  z-index: $z-popover;

  &.in {
    opacity: 1;
    transform: scale3d(1,1,1);
  }

  // .popover.menu
  &.menu {
    cursor: default;
    min-width: 180px;

    .popover-content {
      overflow: hidden;
      padding: 6px;
    }

    .popover-list {
      padding: 0;
    }

    .popover-list-item {

      // icon placement
      > .iconnables {
        float: left;
        height: 36px;
        margin: 0 9px 0 0;
        width: 18px;
      }
    }

    .list-secondary {
      margin: 6px -6px -6px;
      padding: 6px 0;
    }

    // badge placement
    .badge {
      padding-right: 33px;

      &::after {
        height: 15px;
        line-height: 15px;
        min-width: 15px;
        right: 15px;
        top: 10px;
      }
    }
  }

  // .popover.bottom.menu.context-menu
  &.context-menu {
    position: fixed;
    transition: none;
    z-index: $z-popover-context-menu;

    .iconnables {
      float: left;
      height: 36px;
      margin: 0 9px 0 0;
      width: 18px;
    }
  }

  &.help {
    @extend %help-top-card; // in help.scss

    > .btn .iconnables {
      transform: rotate(180deg); // rotates arrow for "more help" button
    }
  }

  // empty state
  .empty {
    color: $gray;
    font-size: 13px;
    padding: 21px;

    &.fade-in {
      animation: fade-in .3s ease-in-out;
    }
  }

  // .list
  .list + .list {
    border-top: 1px solid $gray-lighter;

    &.popover-list-toggle {
      border: 0;
    }
  }

  // li.divider
  .divider {
    background: rgba($black,.1);
    margin: 6px 0;
    min-height: 1px;
  }

  // form elements in popovers:
  .btn-block {
    width: 100%;
  }
}

// popover lists
// ul.popover-list
.popover-list {
  padding: 4px 0;

  // right anchors
  // appear here instead of .popover-list-item so that they can have separate states
  .anchor-right {
    position: absolute;
    right: 0;

    &.btn-xxs {
      height: $input-xxs;
      padding: 0 3px;
      pointer-events: auto;
      position: absolute; // because this element doesn't live within .list-item
      right: 6px; // line up with arrows
      top: 9px;

      &:not(.btn-badge) {
        max-width: $input-xxs;
      }

      &.icons-close {
        padding: 0;
      }
    }
  }

  // list with gray background, filled with secondary actions
  &.list-secondary {
    background: $gray-lighterest;
    border-radius: 0 0 $input-border-radius-lg $input-border-radius-lg;

    .list-item {
      color: $gray;
      font-size: 14px;
      height: 30px;
      line-height: 30px;
      min-height: 30px;

      // secondary hover state
      &:hover {
        background: $white;
      }

      &:active,
      &:active .anchor-right {
        color: $purple-light;
      }

      .anchor-right {
        height: 30px;
        margin-left: 3px;
        right: initial;
        width: 21px;
      }

      .icons-arrow-forward,
      .icons-link-external {
        color: $gray-light;
      }

      .icons-arrow-forward {
        margin-left: -2px;
      }
    }
  }

  // list with a button in it, used for adding to the list
  .list-btn {
    height: 45px;
    padding: 0 6px;

    > .btn {
      color: $gray;
      font-size: 13px;
      padding: 0 12px;
      position: relative; // reset .list-item > .btn-sm
      right: 0;
      text-align: left;
      top: 3px;
      width: 100%;

      &:active {
        color: $purple-light;
      }
    }

    .icons-add {
      background: $gray-light;
      height: 18px;
      margin-right: 10px;
      top: 7px;
    }

    .anchor-right {
      margin-right: 1px;
      top: 7px;
    }
  }
}

// li.popover-list-item
.popover-list-item {
  border: $input-border solid transparent;
  border-radius: $input-border-radius;
  font-size: 15px;
  line-height: 36px;
  min-height: 36px;
  overflow: hidden;
  padding: 0 36px 0 9px;
  white-space: nowrap;

  &.monospace {
    font-size: 13px;
  }

  // states
  &:hover:not(.disabled) {
    background-color: $gray-lighterest;
    border-color: rgba($gray-lighter,.6);
    cursor: pointer;

    // two types of icons-fat-check
    .icons-fat-check.anchor-right,
    .icons-fat-check {
      opacity: 1;
    }
  }

  &:active:not(.disabled),
  &.active {
    background-color: lighten($purple-lightest,4);
    border-color: rgba($purple-light,.1);
    color: $purple-light;

    .iconnables {
      color: $purple-light;
    }

    .gray:not(.icons-status) {
      background: $white;
      border-color: currentColor;
      color: $purple-light;
    }

    // two types of icons-fat-check
    .icons-fat-check.anchor-right,
    .icons-fat-check {
      background: $green;
      color: $white;
      opacity: 1;
    }
  }

  .gravatar,
  > .iconnables {
    color: $gray;
    margin-right: 9px;

    &.gravatar {
      margin-top: 5px;
    }

    &.icons-fat-check {
      color: $white;
    }
  }

  // links
  .list-link {
    margin: 0 -15px;
    padding: 0 15px;
  }

  // checkbox
  .input-checkbox {
    height: 36px;
    margin-right: 6px;
    width: 18px;
  }

  // fat check (right-aligned)
  .icons-fat-check.anchor-right {
    left: auto;
    opacity: 0;
    right: 0;
    top: 10px;

    &.active {
      opacity: 1;
    }
  }
}

// h3.popover-title
.popover-title {
  font-weight: $weight-bold;
  margin: 0;
  padding: 0;
}

// popover header
.popover-header {
  background: $gray-lighterest;
  border-bottom: 1px solid $gray-lighter;
  border-radius: $input-border-radius-lg $input-border-radius-lg 0 0;
  color: $gray;
  display: block;
  font-size: 14px;
  font-weight: $weight-bold;
  height: $input-sm;
  line-height: $input-sm;
  padding: 0 6px;
  position: relative;
  text-align: center;

  .icons-arrow-backward {
    color: $gray-light;
    height: 100%;
    left: 9px;
    padding: 0;
    pointer-events: auto;
    position: absolute;

    &:hover {
      color: $gray;
    }

    &:active {
      color: $purple-light;
    }
  }
}

// flex for multiple buttons
.popover-content-header {
  display: flex;
  justify-content: space-between;

  > .btn-group,
  > .btn {
    margin: 6px 0 12px;

    &:first-child {
      margin-left: 6px;
    }
  }

  // .list-item.small
  .small {
    line-height: $input-sm;
    padding: 0 15px;
  }

  // search
  .input-search {
    margin: 6px auto 0;
    width: 50%;
  }
}

.popover-content {
  padding: 6px;
  position: relative;
  z-index: $z-popover-content;
}

//- footer.popover-footer
.popover-footer {
  border-top: 1px solid $gray-lighter;
  margin: 0 15px;
  padding: 12px 0 15px;

  .btn-sm {
    padding: 0 12px;
    right: 0;
    top: 0;
  }

  .green,
  .orange,
  .white {
    float: right;

    + .green,
    + .orange,
    + .white {
      margin-right: 6px;
    }
  }

  // cancel buttons left
  .btn-cancel,
  .btn-group .btn:first-child {
    float: left;
  }
}
