// override default popover behavior
.popover-fixed {
  display: flex;
  flex-direction: column;
  left: 0 !important;
  margin: 0 auto;
  max-height: calc(100vh - 75px);
  max-width: 630px;
  position: fixed;
  right: 0 !important;
  top: 45px !important;
  z-index: $z-popover-fixed;

  @media (max-height: 500px) {
    max-height: calc(100vh - 45px);
    min-height: 0 !important;
    top: 30px !important;
  }

  @include media(xxs) {
    max-height: calc(100vh - 45px);
    top: 30px !important;
  }

  .popover-title {
    margin: 6px 0 21px;

    // delete
    .btn-xs {
      float: right;
      padding-left: 0;
    }

    .icons-trash {
      float: left;
      height: 100%;
    }

    .small {
      color: $gray;
      display: block;
      line-height: 1.4;
      margin-top: 6px;
    }
  }

  .popover-content {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 15px 15px 30px;
  }

  .popover-footer {
    flex: 0 0 auto;
  }

  // spinner
  .spinner-backdrop {
    background: transparent; // for background clipping in safari
  }
}

.popover-fixed .popover-header,
.popover-files .popover-header {
  @extend %text-overflow;
  flex: 0 0 54px;
  height: 54px;
  padding: 9px 39px;

  // icons
  > .iconnables {
    color: $gray-light;
    cursor: pointer;
    height: 24px;
    padding: 0;
    pointer-events: auto; // reset from .iconnables
    position: absolute;
    top: 15px;

    &:first-child:not(.icons-close) {
      left: 15px;
    }

    &:last-child {
      right: 15px;
    }

    &:hover {
      color: $gray;

      &.icons-close {
        color: $red;
      }
    }

    &:active {
      color: $purple-light;

      &.icons-close {
        color: $red-dark;
      }
    }
  }
}
