.repository-actions .popover {
  left: -98px;
  top: 15px;
  transform-origin: 50% 0;
  width: 225px;
}

// small.popover-list-item-details
.popover-list-item-details {
  color: $gray-light;
  margin-left: 3px;
}