// .popover.repository-toggle
.repository-toggle {
  transform: scale3d(1,0,0);
  transform-origin: 50% 0;
  width: 276px;

  .popover-title {
    background: transparent;
    height: 78px;
    line-height: 1;
    padding: 6px;

    .btn-group {
      display: block;
    }

    .btn {
      width: 50%;
    }

    .iconnables {
      margin-right: 3px;
      top: 6px;
    }
  }

  .title-filter {
    font-size: 14px;
    font-weight: 300;
    height: 24px;
    line-height: 24px;
    margin-top: 6px;
  }
}

// ul.commit-group
.commit-group {
  max-height: 315px;
  overflow: auto;
}

// li.commit-group-item
.commit-group-item {
  padding: 6px;

  &:first-child {
    color: $gray-lighter;
    line-height: 1.2;
  }

  &:last-child {
    margin-bottom: 6px;
  }

  &.commit-item-more {
    border: 0;
    margin: 3px 6px 6px;
    padding: 0;
  }

  // button.blue.btn-block Load Older
  .blue {
    height: 36px;
    line-height: 36px;
    margin: 0;
  }

  .icons-commit {
    top: 6px;
  }

  // .spinner
  .spinner {
    color: $blue;
  }

  .spinner-ring {
    background: #f0f8fb; // rgba($blue,.1);
  }
}

// branch button
.branch-btn {
  float: right;

  &:hover .blue {
    @extend .blue:hover;
  }

  .blue {
    font-size: 14px;
    max-width: 207px;
    overflow: hidden;
    padding: 0 24px 0 3px;
    text-overflow: ellipsis;
    white-space: nowrap;

    .icons-git {
      color: $blue;
      float: left;
      height: 15px;
      left: 0;
      margin-right: 6px;
      position: relative;
      top: 5px;
      width: 15px;
    }

    .icons-arrow-down {
      position: absolute;
      right: 0;
      top: 0;
      transform: none;
    }

    .select {
      font-size: 16px;
    }
  }
}
