.popover-admin-needed {
  background-color: $gray-darker;
  border-color: transparent;
  box-shadow: 0;
  color: $gray-light;
  font-size: 14px;
  max-width: 225px;
  padding: 9px 12px;

  .btn {
    background: rgba($gray-dark,.3);
    border: 2px solid rgba($gray,.3);
    color: $gray-lighter;
    font-weight: $weight-bold;
    margin: 9px 0 6px;
    width: 100%;

    &:hover {
      border-color: rgba($gray,.45);
    }

    &:active {
      border-color: rgba($gray,.6);
      color: $white;
    }
  }

  .arrow,
  .arrow::after {
    border-right-color: $gray-darker !important;
  }
}