.popover-debug {

  .list-item {
    display: block;
    letter-spacing: -.25px;
    line-height: 30px;
    min-height: 30px;
    padding-right: 36px;
  }

  .iconnables {
    color: $purple-light;
    max-height: 30px;
    max-width: 15px;
    position: absolute;
    right: 0;
  }
}