.popover-dns-mappings {
  max-width: none;
  width: 360px;

  .popover-view {
    min-height: 80px; // set initial height
  }

  .popover-content {
    max-height: calc(100vh - 176px);
  }

  .popover-list {
    padding: 12px 0;
  }

  .popover-list-item {
    padding: 9px 18px;

    &:active .small {
      color: inherit;
    }
  }

  // list headings
  .list-item.small {
    margin-top: 3px;
    padding: 3px 18px;
  }

  .icons-status {
    flex: 0 0 auto;
    margin-right: 6px;
  }

  // isolation badges
  .btn-badge {
    margin-left: 15px;
    margin-right: 0; // override
  }

  .icons-fat-check {
    margin: 0 0 0 9px;
  }

  // check icon
  .icons-check {
    padding: 6px;

    + .icons-arrow-forward {
      opacity: 0;

      &.in {
        opacity: 1;
        transition: opacity .15s 1.75s ease-in;
      }
    }
  }

  // check icon path
  .path {
    animation: check 1.5s .3s ease-out forwards;
    stroke-dasharray: 18;
    stroke-dashoffset: 18;
    transform-origin: 50% 50%;
  }

  .icons-arrow-forward {
    color: $gray-light;
  }

  .popover-footer {
    background: $gray-lighterest;
    margin: 0;
    padding: 18px 15px;

    &.empty {
      background: none;
      border: 0;
    }
  }
}

.dns-arrow {
  color: $gray-light;
  font-size: 18px;
  margin: 0 12px;
}

.list-repository-containers .iconnables {
  margin: 0; // override
  position: absolute;
  right: 9px;
  top: 15px;
}
