.popover-add-branches {
  color: #555;
  line-height: 1.2;
  max-width: 240px;
  padding: 6px 12px 9px;

  // override default popover arrow to match dark popovers
  .arrow.arrow.arrow {
    border-width: 9px;
    border-top-width: 0; // non-alphabetical to override border-width
    margin-left: -9px;
    top: -9px;
  }

  .btn {
    margin: 9px 0 3px;
    width: 100%;
  }
}