.popover-environment-variable {
  max-width: 510px;

  .label-checkbox {
    line-height: 36px;

    .input {
      float: left;
      height: 36px; // align with label-col
      margin-right: 9px;
    }

    .small {
      line-height: 1.4;
      margin: -3px 0 0 24px;
    }
  }

  // extra spacing on last form item
  .label-row {
    margin-bottom: 36px;
    position: relative;

    .label-col:first-child {
      // shorter key length
      max-width: 180px;
    }

    .icons-arrow-down {
      margin-top: 6px;
      position: absolute;
      right: 21px;
    }
  }
}