// .add-tab .popover
.popover-add-tab.bottom {
  height: 72px;
  left: auto !important;
  max-width: 450px;
  min-width: 72px;
  transform-origin: 99% 0;
  width: auto; // reset width

  .arrow.arrow {
    left: auto;
    right: 5px;
  }

  .popover-content {
    padding: 0;
  }
}