// .popover.bottom.popover-add-repo
.popover.popover-add-repo {
  transform-origin: 50% 0;
  width: 270px;

  .popover-content {
    max-height: 315px;
    overflow-y: auto;
    padding: 0;
  }

  .spinner {
    color: $gray-light;
    margin: 30px auto;
  }
}