// arrows
.popover.top .arrow {
  border-bottom-width: 0;
  border-top-color: rgba($black,.1);
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
}

.popover.top .arrow:after {
  border-bottom-width: 0;
  border-top-color: rgba($white,.975);
  bottom: 1px;
  content: ' ';
  margin-left: -10px;
}

.popover.right .arrow {
  border-left-width: 0;
  border-right-color: rgba($black,.1);
  left: -11px;
  margin-top: -11px;
  top: 50%;
}

.popover.right .arrow:after {
  border-left-width: 0;
  border-right-color: $gray-lightest;
  bottom: -10px;
  content: ' ';
  left: 1px;
}

.popover.bottom .arrow {
  border-bottom-color: rgba($black,.1);
  border-top-width: 0;
  left: 50%;
  margin-left: -11px;
  top: -11px;
}

.popover.bottom .arrow:after {
  border-bottom-color: rgba($white,.975);
  border-top-width: 0;
  content: ' ';
  margin-left: -10px;
  top: 1px;
}

.popover.left .arrow {
  border-left-color: rgba($black,.1);
  border-right-width: 0;
  margin-top: -11px;
  right: -11px;
  top: 50%;
}

.popover.left .arrow:after {
  border-left-color: rgba($white,.975);
  border-right-width: 0;
  bottom: -10px;
  content: ' ';
  right: 1px;
}

// popovers
.popover {
  background: rgba($white,.975);
  border: 1px solid rgba($black,.1);
  border-radius: 3px;
  box-shadow: 0 0 30px rgba($black,.12);
  cursor: default; // if popover is within an element with a different cursor
  display: block;
  left: 0;
  max-width: 300px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  text-align: left;
  top: 0;
  transform: scale3d(.9,.9,1);
  transition: transform .2s ease-in, opacity .2s ease-in;
  white-space: normal;
  z-index: $z-popover;

  &.in {
    opacity: 1;
    pointer-events: auto;
    transform: scale3d(1,1,1);
  }

  .arrow,
  .arrow::after {
    border-color: transparent;
    border-style: solid;
    display: block;
    height: 0;
    position: absolute;
    width: 0;
  }

  .arrow {
    border-width: 11px;

    &:hover {
      background: none;
    }

    &.right {
      left: auto;
      right: 21px;
    }

    &.left {
      left: 21px;
      right: auto;
    }
  }

  .arrow::after {
    border-width: 10px;
    content: '';
  }

  &.bottom > .arrow {
    top: -10px;

    &::after {
      border-bottom-color: $gray-lightest;
    }
  }

  &.top {
    margin-top: -10px;

    > .arrow {

      &.white::after {
        border-top-color: rgba($white,.975);
      }

      &.blue::after {
        border-top-color: $blue;
      }
    }
  }

  &.right {
    margin-left: 10px;

    > .arrow {

      &.white::after {
        border-right-color: rgba($white,.975);
      }

      &.blue::after {
        border-right-color: $blue;
      }
    }
  }

  &.bottom {
    transform-origin: 50% 0;

    > .arrow {

      &.white::after {
        border-bottom-color: rgba($white,.975);
      }

      &.blue::after {
        border-bottom-color: $blue;
      }
    }
  }

  &.left {
    margin-left: -10px;

    > .arrow {

      &.white::after {
        border-left-color: rgba($white,.975);
      }

      &.blue::after {
        border-left-color: $blue;
      }
    }
  }

  // .popover.menu
  &.menu {
    cursor: default;
    width: 180px;

    .popover-content {
      overflow: hidden;
      padding: 0;
    }
  }

  // .popover.bottom.menu.context-menu
  &.context-menu {
    position: fixed;
    transition: none;
    z-index: $z-popover-context-menu;

    .iconnables {
      float: left;
      height: 21px;
      margin: 8px 6px 0 0;
      width: 21px;
    }
  }

  // .list
  .list + .list {
    border-top: 1px solid rgba($black,.1);
  }

  // li.divider
  .divider {
    background: rgba($black,.1);
    height: 1px;
    margin: 3px 0;
  }

  // form elements in popovers:
  // label.label-checkbox
  .label-checkbox {
    padding: 0 15px;
  }

  .btn-block {
    margin: 3px 6px 6px;
    width: 100%;
  }

  .input-group {
    margin: 0;

    + .input-group {
      margin-top: 3px;
    }
  }

  // search
  .input-search {
    border-color: transparent;
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 0 auto 12px;
    position: relative;
    top: 8px;
    width: calc(100% - 18px);

    &:hover,
    &:focus,
    &:valid {
      background-color: $white;
      border-color: rgba($black,.15);
    }
  }
}

// popover lists
// ul.popover-list
.popover-list {
  padding: 4px 0;
}

// li.popover-list-item
.popover-list-item {
  color: $gray-dark;
  cursor: pointer;
  height: 36px;
  line-height: 36px;
  overflow: hidden;
  padding: 0 12px;
  white-space: nowrap;

  &:hover {
    background: rgba($purple-light,.1);
  }

  &:active {
    background: rgba($purple-light,.15);
    color: $purple-light;

    .iconnables {
      color: currentColor;
    }
  }

  &.no-actions {
    cursor: default;
    text-align: center;

    &:hover,
    &:active {
      background: transparent;
      border-color: transparent;
    }
  }

  .gravatar,
  .iconnables {
    float: left;
    margin: 5px 12px 0 0;

    &.gravatar {
      margin-top: 5px;
    }
  }

  // links
  .list-link {
    margin: 0 -15px;
    padding: 0 15px;
  }
}

// li.popover-list-block
.popover-list-block {
  background: $gray-lightest;
  border-top: 1px solid rgba($black,.1);
  padding: 12px 15px 3px;

  .small {
    color: $gray;
    margin-bottom: 3px;
  }

  .label-checkbox {
    height: 36px;
    line-height: 36px;
    padding: 0;
  }

  &:not(:first-child) {
    margin-top: 4px;
  }
}

.popover-animate-in {
  animation: scale-in .15s ease-in forwards;
  pointer-events: auto;
  z-index: $z-popover;
}

.popover-content {
  padding: 6px;
  position: relative;
  z-index: $z-popover-content;
}

.popover-content-header {
  display: flex;
  justify-content: space-between;
}

//- footer.popover-footer
.popover-footer {
  height: 36px;
  margin: 0 6px 6px;

  .btn-sm {
    padding: 0 12px;
    right: 0;
    top: 0;
  }

  .green,
  .orange,
  .white {
    float: right;

    &:first-child {
      margin-left: 6px;
    }
  }
}

// h3.popover-title
.popover-title {
  background: rgba($gray-lightest,.9);
  border-bottom: 1px solid rgba($black,.1);
  color: $gray-dark;
  font-weight: 500;
  height: 45px;
  line-height: 45px;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  z-index: $z-popover-title;

  // toggle
  .btn-group {
    display: block;

    .btn {
      width: 50%;
    }
  }
}