.popover-container-menu {

  .list-containers {

    .list-item {
      padding: 0 9px;
      width: 100%;
    }

    .icons-status {
      margin: 0 9px;
    }

    .icons-advanced {
      float: right;
      margin: 0 0 0 30px;
      width: 15px;
    }
  }
}