.popover-help {
  // duplicated from .help in help.scss
  background: $blue-lighter;
  border: 1px solid $blue-light;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba($blue,.2);
  color: $blue;
  //
  width: 390px;
  max-width: none; // overwrites max-width set in popover.scss
  font-size: 15px;
  line-height: 18px;

  .popover-content {
    padding: 0 12px; // overwrites padding for popover-content set in popover.scss
  }
}

.triggered-help-list {

}

.triggered-help-item {
  padding: 15px 0;
  overflow: auto;
  border-bottom: 1px solid rgba($blue-light,.25);
  position: relative;

  // dismiss button for triggerd help items
  .btn-icon {
    position: absolute;
    left: -7px;
    top: 13px;

    .iconnables {
      width: 18px;
      height: 18px;
    }
  }

  // triggered help text
  .p {
    width: 230px;
    float: left;
    margin-left: 18px;
  }

  // "show me" button
  .btn-sm {
    background-color: white;
    float: right;
    border: 2px solid $blue;
    padding: 0 14px;
    margin-right: 6px;
    font-weight: 500;
    font-size: 15px; //
  }
}

.general-help-list {
  border-bottom: 1px solid rgba($blue-light,.3);
  padding: 15px 18px;
  line-height: 27px;
}

.general-help-item {
  // margin-left: 18px;
}

.more-help {
  height: 30px;
  width: 100%;
  font-size: 13px;
  font-weight: 500;

  .iconnables {
    width: 15px;
    height: 15px;
  }
}