// .popover.right.popover-repository-toggle
.popover-repository-toggle {
  transform-origin: 0 50%;
  width: 276px;

  // popover header
  .popover-title {

    .iconnables {
      float: none;
      height: 18px;
      top: 4px;
      transform: none;
      width: 18px;
    }

    .icons-branch {
      margin-right: 3px;
    }

    .icons-arrow-down {
      margin-left: 3px;
    }
  }

  // branch select
  .btn-select {
    color: $gray-light;
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
    transition: none;

    &:hover,
    &:active,
    &:focus {
      color: $gray;
    }
  }
}

// ul.toggle-group
.toggle-group {
  max-height: 360px;
  overflow-y: auto;
}

// li.toggle-group-item
.toggle-group-item {
  padding: 9px 12px;
  position: relative;

  &:hover {
    background: rgba($blue,.1);
    cursor: pointer;
  }

  &:last-child {
    margin-bottom: 6px;
  }

  &.commit-item-more {
    border: 0;
    margin: 3px 6px 6px;
    padding: 0;
  }

  + .toggle-group-item::after {
    background: rgba($black,.1);
    content: '';
    display: block;
    height: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 261px;
  }

  // button.blue.btn-block Load Older
  .blue {
    height: 36px;
    line-height: 36px;
    margin: 0;
  }

  .icons-commit {
    top: 6px;
  }

  // .spinner
  .spinner {
    color: $blue;
  }

  .spinner-ring {
    background: #f0f8fb; // rgba($blue,.1);
  }

  // .link-text (commit hash)
  .link-text {

    &:hover,
    &:hover .iconnables,
    &:active {
      color: $blue;
    }
  }
}

// .toggle-group-title
.toggle-group-title {
  font-size: 14px;
  margin-bottom: 3px;
}

// .toggle-group-detail
.toggle-group-detail {

  .small {
    color: $gray-light;

    &:last-child {
      float: right;
    }

    &:first-child {
      float: left;
    }
  }

  .iconnables {
    color: $gray-lighter;
    height: 12px;
    top: 3px;
    width: 12px;
  }
}