// .popover.right.popover-repository-toggle
.popover-repository-toggle {
  transform-origin: 0 24px;
  width: 300px;

  &.right > .arrow {
    top: 27px;
  }

  .popover-content {
    margin: 1px 0;
    max-height: 360px;
    min-height: 120px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .btn-xs {
    margin: 6px 3px 12px;
  }

  // branch select
  .btn-select {
    margin-left: 6px;
    padding: 0 3px;

    .iconnables {
      float: none;
      height: 18px;
      top: 3px;
      transform: none;
      width: 18px;
    }

    // delete button
    + .btn-xs {
      flex: 0 0 auto;
      float: right;
      margin-right: 6px;
    }
  }

  // spinner
  .spinner-wrapper {
    margin-top: 15px;
  }

  // list
  .list {
    margin: 0 -6px;
    padding: 0;
  }

  // older/newer buttons
  .btn-group:last-child {
    display: block;
    margin: 6px;

    .btn {
      font-size: 14px;
      width: 50%;

      &:only-child {
        width: 100%;
      }
    }
  }
}

// li.toggle-group-item
.toggle-group-item {
  height: auto;
  line-height: 1;
  margin-top: -1px;
  overflow: visible;
  padding: 12px;
  white-space: normal;

  + .toggle-group-item::after {
    background: rgba($black,.1);
    content: '';
    display: block;
    height: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -1px;
    width: 274px;
  }
}

// .toggle-group-title
.toggle-group-title {
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 6px;
  word-break: break-all;
}

// .toggle-group-detail
.toggle-group-detail {

  .small {
    color: $gray-light;

    &:last-child {
      float: right;
    }

    &:first-child {
      float: left;
    }
  }

  .iconnables {
    color: $gray-lighter;
    height: 12px;
    top: 3px;
    width: 12px;
  }

  // .link-text (commit hash)
  .link-text {
    color: $blue;
    font-family: 'Source Code Pro', monospace;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}