.popover-help, .triggered-help {
  // duplicated from .help in help.scss
  background: $blue-lighter;
  border: 1px solid $blue-light;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba($blue,.2);
  // color: rgba($blue,.8);
  color: $blue;
  //
  width: 390px;
  max-width: none; // overwrites max-width set in popover.scss
  font-size: 15px;
  line-height: 18px;
  transition: none;
  padding: 0 12px;
  // max-height: calc(100vh - 120px);
  // overflow-y: auto;

  b {
    font-weight: 500;
  }

  .popover-content {
    padding: 0; // overwrites padding for popover-content set in popover.scss
  }
}

.triggered-help {
  position: absolute;
  left: 86px;
  z-index: 1; // TODO: variable-ize this
}

.triggered-help-list {

}

.triggered-help-item {
  padding: 14px 0;
  overflow: auto;
  border-bottom: 1px solid rgba($blue-light,.4);
  position: relative;
  color: rgba($blue,.8);

  b {
    color: $blue;
  }

  // dismiss button for triggered help items
  .btn-icon {
    position: absolute;
    left: -7px;
    top: 13px;

    &:hover {
      color: rgba($blue,.7);
    }

    &:active {
      color: $blue;
    }

    .iconnables {
      width: 18px;
      height: 18px;
    }
  }

  // triggered help text
  .p {
    width: 230px;
    float: left;
    margin-left: 18px;
  }

  // "show me" button
  .btn-sm {
    background-color: white;
    float: right;
    border: 2px solid $blue;
    padding: 0 13px;
    margin-right: 6px;
    font-weight: 500;
    font-size: 15px;
    color: $blue;

    &:hover {
      border-color: rgba($blue,.7);
    }

    &:active {
      border-color: $blue;
    }
  }
}

.help-container {
  overflow-y: auto;
  max-height: calc(100vh - 120px);
  padding: 0 12px 29px;
  margin: 0 -12px;
}

.general-help-list {
  padding: 12px 18px;
  line-height: 27px;

  > span {
    font-weight: 500;
  }
}

.general-help-item {
  cursor: pointer;
  color: rgba($blue,.8);
  margin: 0 -30px;
  padding: 0 30px;

  &:hover {
    background-color: rgba($blue-light,.15);
  }

  &:active {
    background-color: rgba($blue-light,.25);
  }
}

.less-help, .more-help {
  height: 30px;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-color: $blue-lighter;
  border-top: 1px solid rgba($blue-light,.4);
  line-height: 18px;

  &:hover {
    color: rgba($blue,.7);
  }

  &:active {
    color: $blue;
  }

  .iconnables {
    width: 15px;
    height: 15px;
    top: 4px;
  }
}

.less-help .iconnables {
  transform: rotate(180deg);
}