.popover.popover-save-options {
  left: auto;
  right: -1px;
  top: 36px;
  transform-origin: 228px 0;
  width: 240px;

  .arrow.white {
    left: auto;
    right: 2px;
  }

  .label-checkbox {
    cursor: pointer;
    display: block;
    font-size: 14px;
    padding: 0 15px;
  }

  .no-actions .label-checkbox {
    cursor: not-allowed;
  }

  .checkbox {
    height: 36px;
    margin-right: 12px;
  }
}