.popover-demo {
  color: $gray-dark;
  left: 0;
  overflow: visible;
  position: relative;
  top: 0;
  z-index: $z-views-sidebar;

  // specific to the service cta
  &.service-cta {
    margin-bottom: 9px;
    margin-top: 5px;
  }

  // specific to the branch step
  &.branch-step {
    margin-top: 6px;
  }

  &.team-step {
    left: -18px;
    margin-left: 0;
    width: 293px;
  }

  // specific to the url hidden popover
  &.top {
    margin-bottom: 6px;
    margin-top: 0;
  }

  // animation
  .slide {
    transition: opacity .15s ease-in-out, transform .15s ease-in-out;

    &.slide-out {
      opacity: 1;
      transform: translate3d(0,0,0);
      z-index: 2;

      &.out {
        opacity: 0;
        transform: translate3d(-50px,0,0);
        z-index: 1;
      }
    }

    // this one uses ng-animate (so we can reset the animation timer with ng-if)
    &.slide-in {
      z-index: 2;

      &.ng-enter {
        opacity: 0;
        transform: translate3d(50px,0,0);
      }

      &.ng-enter-active {
        opacity: 1;
        transform: translate3d(0,0,0);
      }
    }
  }

  .list-item-fork {
    border: $input-border solid transparent;
    border-radius: $input-border-radius-lg;
    cursor: pointer;
    margin: 0 $xs / 2;
    padding: $xs $xs / 2;

    &:hover {
      background: $gray-lighterest;
      border-color: $gray-lighter;
    }

    &:active {
      background: transparent;
      border-color: currentColor;
      color: $purple-light;
    }

    &:last-child {
      margin-bottom: $xs / 2;
    }

    .img {
      margin-right: $xs;
    }
  }

  .icons-arrow-forward {
    opacity: .5;
  }

  .popover-footer {
    color: rgba($gray-dark,.5);
    cursor: pointer;
    margin: 0;
    padding: $sm 0;

    &:hover:not(.disabled),
    &:active:not(.disabled) {
      color: $gray-dark;
    }

    &.disabled {
      cursor: default;
      opacity: .5;
    }
  }

  // add branch step
  .commands-wrapper {
    background: $gray-dark;
    color: $gray-lighter;

    &:last-child {
      border-radius: 0 0 $input-border-radius-lg $input-border-radius-lg;
    }

    + .commands-wrapper {
      border-top: 1px solid rgba($black,.2);
    }

    .monospace {
      font-size: 11px;
      overflow-x: auto;
    }

    .btn-copy {
      background: $gray;
      color: $white;

      &:hover {
        background: rgba($gray,.7);
      }

      &:active {
        background: rgba($gray,.5);
      }
    }
  }

  // progress
  .progress-wrapper {
    background: $white;
    border-radius: $input-border-radius-lg;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;

    .p {
      left: 0;
      position: absolute;
      right: 0;

      &:first-child {
        animation: loading-in 25s forwards;
        margin-top: -33px;
      }

      &:nth-child(2) {
        animation: loading-out 25s forwards;
        margin-top: -54px;
      }
    }
  }

  .progress {
    animation-duration: 20s;
  }
}
