.popover-primary-options {

  // status options styles
  .btn-xs {
    margin-top: 6px;
  }

  .icons-status {
    margin: 0 13px 0 5px;
  }

  .icons-restart.icons-restart {
    margin: 0 11px 0 4px;
    width: 12px;
  }

  .well {
    font-weight: $weight-normal;

    &:only-child {
      margin: 9px;
    }
  }

  // save options styles
  .popover-list-item {
    white-space: normal;
  }

  .no-actions .label-checkbox {
    cursor: not-allowed;
  }

  .input-checkbox {
    height: 36px;
    margin: 0 9px;
  }
}