.popover-pr-link {
  // a few of these are only for overriding the button style (its parent)
  color: $gray-dark;
  left: 24px;
  line-height: 1.4;
  max-width: calc(100vw - 24px);
  right: auto;
  text-align: left;
  top: 66px;
  white-space: normal;
  width: 390px;

  @include media(sm) {
    left: auto;
    position: fixed;
    right: 12px;
    top: 50px;
  }

  &.bottom .arrow {
    left: 24px;

    @include media(sm) {
      display: none;
    }
  }

  .img {
    margin: 0 15px;
    position: relative;
    z-index: 1;
  }

  .p {
    background: $gray-lighterest;
    border-radius: 0 0 $input-border-radius-lg $input-border-radius-lg;
    border-top: 1px solid $gray-lighter;
    margin-top: -$md;
    padding: 39px $md $md;
    position: relative;
    z-index: 0;

    .small {
      opacity: 1;
    }
  }

  .icons-link-external {
    float: right;
    height: 100%;
    margin-left: 6px;
    width: 13px;
  }
}
