p.p.grid-content.shrink.text-center.text-gray.padding-sm You have the basic parts of your application set up and ready to build! If your application requires additional configuration, use our tools to change options before building.
a.grid-content.shrink.link.small.text-gray(
  href = "https://support.runnable.com/hc/en-us/categories/201194573-Quickstarts"
  target = "_blank"
) View Setup Guide
  svg.iconnables.icons-external
    use(
      xlink:href= "#icons-link-external"
    )
