p.p.grid-content.shrink.text-center.text-gray.padding-sm You have the basic parts of your application configured! Many applications require additional configuration. Use our tools to configure options specific to your application before building.
a.grid-content.shrink.link.small.text-gray(
  href = "#"
) View Setup Guide
  svg.iconnables.icons-external
    use(
      xlink:href= "#icons-link-external"
    )