span(
    branch-commit-selector
    data = "BCLC.data"
    hide-branch-selector = "!BCLC.data.acv.attrs.additionalRepo"
    update-instance = "BCLC.updateInstance()"
    instance = "BCLC.instance"
)
