div(
  pop-over
  pop-over-options = "{\"centered\":true,\"top\":47}"
  pop-over-template = "dnsConfigurationPopoverView"
  pop-over-data = "DCC"
  pop-over-actions = "DCC.actions"
)
  .btn.btn-xxs(
    ng-if = '$root.isLoaded.dns'
  ) {{DCC.dependencies.models.length}}
  | DNS

