.popover.bottom.popover-dns-mappings(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  //- arrow is white if loading or no dns mappings
  .arrow(
    ng-class = "{\
      'gray': $root.isLoaded.dns && DCC.getNumberOfConnections() > 0,\
      'white': !$root.isLoaded.dns || DCC.getNumberOfConnections() === 0\
    }"
  )

  animated-panel-container.popover-views
    animated-panel(
      default = "true"
      name = "dnsOverview"
    )
      .popover-view(
        ng-style = "!$root.isLoaded.dns && {'display': 'block'}"
      )
        //- only show the header if not loading and not empty
        .popover-header.load(
          ng-if = "$root.isLoaded.dns && DCC.getNumberOfConnections() !== 0"
        )
          .fade(
            ng-class = "{'in': isActivePanel()}"
          ) Connections

        //- spinner when loading
        .spinner-wrapper.spinner-sm.spinner-gray.spinner-center.in(
          ng-if = "!$root.isLoaded.dns"
          ng-include = "'spinner'"
        )

        //- empty state if not loading and empty
        .popover-content(
          ng-if = "$root.isLoaded.dns && DCC.getNumberOfConnections() === 0"
        )

        //- begin dns mappings
        .popover-content

          //- repository containers
          ul.list.popover-list.list-repository-containers(
            ng-if = "isActivePanel() && DCC.filteredDependencies.length !== 0"
          )

            li.list-item.small Repository Containers

            li.list-item.popover-list-item.multi-line.grid-block(
              ng-click = "DCC.editDependency(dependency); goToPanel('dnsList');"
              ng-if = "$root.isLoaded.dns && !dependency.instance.destroyed"
              ng-repeat = "dependency in DCC.filteredDependencies"
            )
              .text-gray.grid-block.vertical.grow.justify-center
                .text-overflow.strong(
                  title = "{{dependency.instance.getMasterPodName()}}"
                ) {{dependency.instance.getMasterPodName()}}
                small.small.text-overflow(
                  title = "{{dependency.instance.getElasticHostname()}}"
                ) {{dependency.instance.getElasticHostname()}}
              .grid-block.shrink.vertical.justify-center.dns-arrow →
              .grid-block.grow.vertical.justify-center(
                ng-class = "{'fade-in': dependency === DCC.lastModifiedDNS}"
              )
                .grid-block.align-center
                  status-icon(
                    instance = "dependency.instance"
                  )
                  .strong.text-overflow.connected-branch-name(
                    title = "{{dependency.instance.getDisplayName()}}"
                  ) {{dependency.instance.getDisplayName()}}
                .btn.btn-xxs.btn-badge.gray.grid-content.shrink(
                  ng-if = "dependency.instance.attrs.isolated"
                ) {{dependency.instance.attrs.isIsolationGroupMaster ? "Isolated" : DCC.instance.getBranchName()}}

              //- inline for svg animation
              svg.iconnables.icons-check(
                ng-if = "dependency === DCC.lastModifiedDNS"
                viewbox = '0 0 14.5 10'
              )
                path.path(
                  d = 'M1,4.5L5.5,9l8-8'
                  fill = 'none',
                  stroke = '#3ccb5a',
                  stroke-linecap = 'round',
                  stroke-linejoin = 'round',
                  stroke-miterlimit = '10',
                  stroke-width = '2',
                )
              svg.iconnables.icons-arrow-forward(
                ng-class = "{'in': dependency === DCC.lastModifiedDNS}"
              )
                use(
                  xlink:href = "#icons-arrow-down"
                )

          //- service containers
          ul.list.popover-list(
            ng-if = "isActivePanel() && DCC.nonRepoDependencies.length !== 0"
          )
            li.list-item.small Non-repository Containers
            li.list-item.popover-list-item.multi-line.disabled.grid-block.vertical.align-start(
              ng-repeat = "dependency in DCC.nonRepoDependencies"
            )
              .text-overflow
                status-icon(
                  instance = "dependency.instance"
                )
                span.span.strong(
                  title = "{{dependency.instance.getDisplayName()}}"
                ) {{dependency.instance.getDisplayName()}}
              //- Show if the container is a child in an isolated group
              //- Replace 'branch-name' with the branch name of the parent in the isolated group
              .btn.btn-xxs.btn-badge.gray.grid-content.shrink {{DCC.instance.getBranchName()}}

          .popover-footer.text-center.text-gray.small(
            ng-if = "!$root.featureFlags.connections"
            ng-class = "{'empty': !(isActivePanel() && DCC.getNumberOfConnections() !== 0)}"
          ) Connect to containers by using their URLs in Environment Variables or Find & Replace.

          .popover-footer.text-center.text-gray.small(
            ng-if = "$root.featureFlags.connections"
            ng-class = "{'empty': !(isActivePanel() && DCC.getNumberOfConnections() !== 0)}"
          ) Connect to containers by using their URLs in&#32;
            //- link directly to enviroment variables tool
            a.link Environment Variables
            | &#32;or&#32;
            //- link directly to find & replace tool
            a.link Find & Replace
            | .

    animated-panel(
      name = "dnsList"
    )
      //- view for changing a dns mapping
      .popover-view
        .popover-header
          svg.btn.btn-sm.iconnables.icons-arrow-backward.fade(
            ng-class = "{'in': isActivePanel()}"
            ng-click = "goToPanel('dnsOverview', 'back');"
          )
            use(
              xlink:href = "#icons-arrow-down"
            )
          .fade(
            ng-class = "{'in': isActivePanel()}"
          ) {{DCC.modifyingDNS.current.instance.getMasterPodName()}} Containers

        .popover-content.fade(
          ng-class = "{'in': isActivePanel()}"
        )

          //- spinner when loading
          .spinner-wrapper.spinner-sm.spinner-gray.spinner-center.in(
            ng-if = "!$root.isLoaded.dnsDepData"
            ng-include = "'spinner'"
          )

          //- list of containers that can be connected to
          ul.list.popover-list(
            ng-if = "$root.isLoaded.dnsDepData"
          )
            li.list-item.small Select a branch to connect to

            li.list-item.popover-list-item.multi-line.text-overflow.grid-block.align-center(
              ng-class = "{'no-touching': instance === DCC.modifyingDNS.current.instance}"
              ng-click = "DCC.selectInstance(instance); goToPanel('dnsOverview', 'back');"
              ng-repeat = "instance in DCC.modifyingDNS.options"
              title = "{{instance.getBranchName() || instance.getName()}}"
            )

              status-icon(
                instance = "instance"
              )
              span.strong.text-overflow.grid-content.grow(
                title = "{{instance.getBranchName() || instance.getName()}}"
              ) {{instance.getBranchName() || instance.getName()}}

              //- Show if the container is the parent of an isolated group
                  Don't show this when loading
              .btn.btn-xxs.btn-badge.gray.grid-content.shrink(
                ng-if = "instance.attrs.isolated"
              ) {{instance.attrs.isIsolationGroupMaster ? "Isolated" : DCC.instance.getBranchName()}}

              //- When currently selected
                  Don't show this when loading
              svg.iconnables.icons-fat-check(
                ng-if = "instance === DCC.modifyingDNS.current.instance"
              )
                use(
                  xlink:href = "#icons-fat-check"
                )
