button.js-btn-wrapper(
  ng-click = "DCC.lastModifiedDNS = null;"
  pop-over
  pop-over-options = "{\"centered\":true,\"top\":45}"
  pop-over-template = "dnsConfigurationPopoverView"
  pop-over-controller = "DCC"
)
  span.float-left
    //- empty badge until number of connections loads
    .connections-badge {{ $root.isLoaded.dns ? DCC.filteredDependencies.length : '&nbsp;' }}
    | Connections
  svg.iconnables.icons-arrow-down.float-right
    use(
      xlink:href = "#icons-arrow-down"
    )
