button.grid-block.js-btn-wrapper(
  ng-click = "DCC.lastModifiedDNS = null;"
  pop-over
  pop-over-controller = "DCC"
  pop-over-options = "{\"right\":-173,\"top\":45}"
  pop-over-template = "dnsConfigurationPopoverView"
)
  //- change text to 'Connection' if there is only one
  | {{$root.isLoaded.dns ? DCC.getNumberOfConnections() : ''}}&#32;
  | {{DCC.getNumberOfConnections() === 1 ? 'Connection' : 'Connections'}}
  svg.iconnables.icons-arrow-down
    use(
      xlink:href = "#icons-arrow-down"
    )
