span(
  ng-if = "!state.fromPaymentDue"
) At your current usage, you’ll be charged for the {{plan.id}} plan @ ${{calculatePlanPrice() | money}} for {{plan.userCount}} users.
  strong.strong(
    ng-if = "$root.featureFlags.trial"
  ) You will not be charged until your trial ends.

span(
  ng-if = "state.fromPaymentDue && !state.hasPaid"
) You’ll be charged&#32;
  strong ${{calculatePlanPrice() | money}}
  | &#32;for 6 users.

span(
  ng-if = "state.fromPaymentDue && state.hasPaid"
) You’ve been charged&#32;
  strong ${{calculatePlanPrice() | money}}
  | &#32;for 6 users.

span(
  ng-if = "state.showNext"
) &#32;Your {{activeAccount.isInTrial() ? 'first' : 'next'}} billing date is July&nbsp;24
  sup th
  | ,&nbsp;2016.
