span(
  ng-if = "!paymentMethod"
) At your current usage, you’ll be charged for the {{planMapping[plan.id]}} plan at ${{calculatePlanPrice() | centsToDollars}} for {{plan.userCount}} users.
  strong.strong(
    ng-if = "activeAccount.isInTrial()"
  ) &#32;You will not be charged until your trial ends.

span(
  ng-if = "activeAccount.isGraceExpired() || activeAccount.isInGrace() && paymentMethod"
) You’ll be charged&#32;
  strong ${{calculatePlanPrice() | centsToDollars}}
  | &#32;for {{plan.userCount}} users.

span(
  ng-if = "activeAccount.isInActivePeriod() && paymentMethod"
) You’ve been charged&#32;
  strong ${{calculatePlanPrice() | centsToDollars}}
  | &#32;for {{plan.userCount}} users.

span(
  ng-if = "showNext"
) &#32;Your {{activeAccount.isInTrial() ? 'first' : 'next'}} billing date is {{getTrialEndDate()}}.
