.tr.thead.clearfix
  .cell
    a.link(
      href = "//github.com"
      target = "_blank"
    ) {{ fileDiff.from }}
    span(
      ng-if = "fileDiff.to"
    )
      | #{''} → {{ fileDiff.to }}
    small.small(
      ng-if = "!previewAll && fileDiff.association"
    ) {{ instance.attrs.name }} → {{ fileDiff.association }}
    button.btn.btn-xs.white(
      ng-if = "previewAll"
    ) Ignore File
div(
  ng-repeat = "change in fileDiff.changes"
)
  .tr.tr-deletion.clearfix(
    ng-repeat = "changeLine in change.deletions"
  )
    .cell.monospace.cell-line {{ changeLine.ln }}
    .cell.monospace.text-overflow {{ changeLine.content }}
  .tr.tr-addition.clearfix(
    ng-repeat = "changeLine in change.additions"
  )
    .cell.monospace.cell-line {{ changeLine.ln }}
    .cell.monospace.text-overflow {{ changeLine.content }}
  .tr.tr-gap.clearfix(
    ng-if = "!$last"
  )
    .cell.monospace.cell-line ...
