.ace_editor {
  height: 100%;
  position: relative;

  // read only button
  > .btn-xs {
    bottom: 6px;
    cursor: default;
    font-family: 'Helvetica Neue', 'Segoe UI', sans-serif; // use default font stack
    position: absolute;
    right: 6px;
    transition: opacity .15s ease-in-out;
    z-index: $z-views-active-panel + 1; // on top of the active panel

    // light theme
    .ace-runnable-light & {
      background: $gray-light;
      border: 1px solid rgba($black,.15);
      color: $white;
    }

    // dark theme
    .ace-runnable-dark & {
      background: $purple-darker;
      border: 1px solid rgba($white,.15);
    }

    &:hover,
    &:active {
      opacity: 0;
    }
  }
}

// theme toggle
.active-panel,
.ace-container,
.blank-panel {

  &.ace-runnable-dark {
    background-color: $ace-bg;
  }

  &.ace-runnable-light {
    background-color: $gray-lighterest;
    border-top: 1px solid $gray-lighter;
  }
}

// if parent is .views
.views {

  // light theme
  .ace-runnable-light .views-toolbar {
    border-bottom: 1px solid $gray-lighter;
    border-top: 1px solid $gray-lighter;
  }

  // dark theme
  .ace-runnable-dark .views-toolbar {
    border-bottom: 1px solid $purple-darker;
    border-top: 1px solid $purple-darker;
  }
}

// toolbar themes
.views-toolbar {

  // light
  .ace-runnable-light & {
    background: $white;
    border-color: $gray-lighter;

    // gray in modals
    .modal-dialog & {
      background: $gray-lighterest;
    }

    .small {
      color: $gray;
    }

    .span {
      color: $gray-light;
    }
  }

  // dark
  .ace-runnable-dark & {
    background: $purple-dark;
    border-color: $purple-darker;

    .small {
      color: $purple-lighter;
    }

    .span {
      color: $white;
    }
  }
}

// active panel spinners
.active-panel {

  // light theme
  &.ace-runnable-light .spinner-wrapper {
    background: $gray-lighterest;
    color: $gray-light;
  }

  // dark theme
  &.ace-runnable-dark .spinner-wrapper {
    background: $ace-bg;
    color: $purple-light;
  }
}

// blank panel
.blank-panel {

  // light theme
  &.ace-runnable-light .btn-sm {
    color: $gray-darker;

    &:hover,
    &:active {
      color: $purple-light;
    }
  }

  // dark theme
  &.ace-runnable-dark .btn-sm {
    color: $purple-lighter;

    &:hover,
    &:active {
      color: $white;
    }
  }
}

// ace container
.ace-container {

  // dark theme
  &.ace-runnable-dark {
    border: 2px solid $purple-darker;

    .spinner-wrapper {
      background: $ace-bg;
      color: $purple-light;
    }
  }

  // light theme
  &.ace-runnable-light {
    border: 2px solid $gray-lighter;

    .spinner-wrapper {
      background: $gray-lighterest;
      color: $gray-light;
    }
  }
}

// log wrapper
// dark theme logs
.ace-runnable-dark .log-wrapper {
  border-color: $purple-darker;
}

// light theme logs
.ace-runnable-light .log-wrapper {
  border-color: $gray-lighter;
}

// toggles for theme and full screen
.floating-controls {
  position: absolute;
  right: 11px;
  top: 9px;
  transition: transform .2s ease-in-out;
  z-index: $z-views;

}

.btn-control {
  border: 1px solid;
  cursor: pointer;
  display: block;
  opacity: .75;
  padding: 0;
  width: 24px;

  &:hover,
  &:active {
    opacity: 1;
  }

  .ace-runnable-dark & {
    border-color: transparent;
    color: $purple-lighter;

    &:active {
      color: $purple-lightest;
    }
  }

  .ace-runnable-light & {
    border-color: transparent;
    color: $gray-dark;

    &:active {
      color: $gray-darker;
    }
  }

  .iconnables {
    height: 100%; // vertically center
    transition: none;
    width: 12px;
  }

  .icons-theme {
    transform: rotate3d(0,0,1,180deg);
  }
}

// ace tooltip overrides
.ace_tooltip {
  background-image: none !important;
  border: 1px solid rgba($black,.1) !important;
  border-radius: 3px !important;
  box-shadow: 0 1px 10px rgba($black,.1) !important;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: .3px !important;
  padding: 6px 9px !important;
  position: absolute !important;
}

.ace_gutter,
.ace_gutter-layer, {
  overflow: visible !important;
}

.ace_gutter-layer {
  min-width: 42px;
}

.ace_scroller {
  right: 0 !important; // fix extra spacing for scrollbar
}

// ace search
.ace_search_field {
  line-height: 22px;
}

// editor
.ace-tm .ace_editor {
  position: relative;
}

// light theme
.ace-runnable-light .ace_editor,
.ace-container.ace-runnable-light {
  background-color: $gray-lighterest;
  color: $gray-darker;

  // white in modals
  .modal-dialog & {
    background-color: $white;
  }

  // readonly styles
  &.readonly {
    background-color: $gray-lighter;

    .ace_gutter {
      background-color: $gray-lightest;
    }

    .ace_active-line {
      background: none;
    }

    .ace_cursor {
      border-color: transparent;
    }

    .ace_marker-layer .ace_selected-word {
      background: transparent;
      border: 0;
    }
  }

  .ace_tooltip {
    background: rgba($black,.75) !important;
    color: $white !important;
  }

  .ace_gutter {
    background: rgba($black,.05);
    color: $gray;
  }

  .ace_print-margin {
    background: $gray-lighter;
    width: 1px;
  }

  .ace_cursor {
    border-left: 2px solid #aeafad;
  }

  .ace_overwrite-cursors .ace_cursor {
    border-bottom: 1px solid #aeafad;
    border-left: 0;
  }

  .ace_marker-layer .ace_selection {
    background: #d6d6d6;
  }

  &.ace_multiselect .ace_selection.ace_start {
    border-radius: 2px;
    box-shadow: 0 0 3px 0 $gray-lighterest;
  }

  .ace_marker-layer .ace_step {
    background: rgb(198, 219, 174);
  }

  .ace_marker-layer .ace_bracket {
    border: 1px solid #d1d1d1;
    margin: -1px 0 0 -1px;
  }

  .ace_gutter-active-line {
    background-color: rgba($black,.1);
  }

  .ace_marker-layer .ace_selected-word {
    border: 1px solid #d6d6d6;
    border-radius: 2px;
  }

  .ace_fold {
    background-color: #4271ae;
    border-color: $gray-darker;
  }

  .ace_keyword {
    color: #47b0f3;
  }

  .ace_keyword.ace_operator {
    color: #3e999f;
  }

  .ace_keyword.ace_other.ace_unit {
    color: #39a8ee;
  }

  .ace_constant.ace_language {
    color: #39a8ee;
  }

  .ace_constant.ace_numeric {
    color: #39a8ee;
  }

  .ace_constant.ace_character {
    color: #39a8ee;
  }

  .ace_constant.ace_other {
    color: #666969;
  }

  .ace_support.ace_function {
    color: #4271ae;
  }

  .ace_support.ace_constant {
    color: #39a8ee;
  }

  .ace_support.ace_class {
    color: #8e5db2;
  }

  .ace_support.ace_type {
    color: #8e5db2;
  }

  .ace_storage {
    color: #47b0f3;
  }

  .ace_storage.ace_type {
    color: #47b0f3;
  }

  .ace_invalid {
    background-color: #c82829;
    color: $white;
  }

  .ace_invalid.ace_deprecated {
    background-color: #8959a8;
    color: $white;
  }

  .ace_string {
    color: #fc7023;
  }

  .ace_string.ace_regexp {
    color: #c82829;
  }

  .ace_comment {
    color: #77aa3d;
  }

  .ace_variable {
    color: #c82829;
  }

  .ace_variable.ace_parameter {
    color: #39a8ee;
  }

  .ace_meta.ace_tag {
    color: #c82829;
  }

  .ace_entity.ace_other.ace_attribute-name {
    color: #c82829;
  }

  .ace_entity.ace_name.ace_function {
    color: #4271ae;
  }

  .ace_entity.ace_name.ace_tag {
    color: #c82829;
  }

  .ace_markup.ace_heading {
    color: #fc7023;
  }

  .ace_scroller.ace_scroll-left {
    box-shadow: inset 10px 0 9px -9px rgba($black,.3);
  }
}

// dark theme
.ace-runnable-dark .ace_editor,
.ace-container.ace-runnable-dark {
  background-color: $ace-bg;
  color: $white;

  // readonly styles
  &.readonly, {
    background-color: rgba($ace-bg,.6);

    .ace_gutter {
      background-color: rgba($ace-bg,.6);
      color: lighten(#5e4d6e,30%);
    }

    .ace_marker-layer .ace_active-line,
    .ace_gutter-active-line {
      background: none;
    }
  }

  .ace_tooltip {
    background: rgba($white,.9) !important;
    color: $black !important;
    font-weight: 400 !important;
  }

  .ace_gutter {
    background: darken($ace-bg,3%);
    color: lighten(#5e4d6e,12%);
  }

  .ace_print-margin {
    background: rgba($black,.3);
    width: 1px;
  }

  .ace_cursor {
    border-left: 2px solid $white;
  }

  .ace_overwrite-cursors .ace_cursor {
    border-bottom: 1px solid $white;
    border-left: 0;
  }

  .ace_marker-layer .ace_selection {
    background: $purple;
  }

  &.ace_multiselect .ace_selection.ace_start {
    border-radius: 2px;
    box-shadow: 0 0 3px 0 $ace-bg;
  }

  .ace_marker-layer .ace_step {
    background: rgb(198, 219, 174);
  }

  .ace_marker-layer .ace_bracket {
    border: 1px solid #77607d;
    margin: -1px 0 0 -1px;
  }

  .ace_marker-layer .ace_active-line {
    background: rgba($black,.6);
  }

  .ace_gutter-active-line {
    background-color: rgba($black,.6);
  }

  .ace_marker-layer .ace_selected-word {
    background: transparent;
    border: 1px solid #77607d;
    border-radius: 2px;
  }

  .ace_fold {
    background-color: #efefef;
    border-color: $white;
  }

  .ace_keyword,
  .ace_storage,
  .ace_storage.ace_type {
    color: #64acde;
  }

  .ace_keyword.ace_operator {
    color: #aff;
  }

  .ace_constant.ace_character,
  .ace_constant.ace_language,
  .ace_constant.ace_numeric,
  .ace_keyword.ace_other.ace_unit,
  .ace_support.ace_constant,
  .ace_variable.ace_parameter {
    color: #fcd04a;
  }

  .ace_constant.ace_other,
  .ace_entity.ace_name.ace_function,
  .ace_support.ace_function {
    color: #efefef;
  }

  .ace_support.ace_class,
  .ace_support.ace_type {
    color: #ec6822;
  }

  .ace_invalid {
    background-color: #ffafb8;
    color: $white;
  }

  .ace_invalid.ace_deprecated {
    background-color: #ffd0ff;
    color: $white;
  }

  .ace_markup.ace_heading,
  .ace_string {
    color: #e9ffbc;
  }

  .ace_entity.ace_name.ace_tag,
  .ace_entity.ace_other.ace_attribute-name,
  .ace_meta.ace_tag,
  .ace_string.ace_regexp,
  .ace_variable {
    color: #ffafb7;
  }

  .ace_comment {
    color: #6ba42e;
  };

  .ace_scroller.ace_scroll-left {
    box-shadow: 17px 0 16px -16px rgba($black,.4) inset;
  }
}

// ace search
.ace_search {
  border-radius: 1px 1px 1px 3px !important;
}

.ace_search_field {
  color: $black;
}

.ace_search_form.ace_nomatch {
  border-color: $red;
  outline: 0 !important;
}

// ace icons
.ace_gutter-cell {
  background-position: 5px 4px !important;
  background-size: 12px 12px !important;

  // error (red x)
  &.ace_error {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAAAV1BMVEUAAADyUFjyUFjyUFjyUFjyUFioQlCtQ1GtTlu2RVK4ZXG7RlK7UFy+cXzJiZLNSVTdbHXkTVfohIvtT1jv3N7yUFjzW2L0cXf68/T809X93uD+9PX////JXtJKAAAABnRSTlMAQFBgr8+Xy+RdAAAA0ElEQVR42sXUyQ6EIBBF0UIFx3ZGHPj/72yDj7igIu5867PhVgIRJVI/LBN0LtWRpURCR5dQFkeS9It9iMy2aGzZDI/MYfcFZreHCZEz9lQw1qkA9at1CsauPYO6Cgqm6jikoGAUh6YSCqacQgTFGKBb/S70g+GKT818obmBCRHejhI88n1Qgke+TxUoCoxSXjFohCl9iZEr3qIPerX8WVpnULVVHBpyVTjjVKHyIUBOOQMF49Gt6tNA1TBAkX2BZNxklMSRePeJEYnsiciE6A8BLGeBTRmiNQAAAABJRU5ErkJggg==) !important;
  }

  // warning (orange triangle)
  &.ace_warning {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAAAS1BMVEUAAADopCropCropCropCropCropCropCropCropCropCropCropCropCropCropCqZYhGziU3UlCTbnTPjoCjopCrpqjfuu1/////fhZVFAAAAEHRSTlMAECAwQFBgcICPn6+/z9/vIxqCigAAAMZJREFUeNqtk9sOgkAMBbnfWRQd8f+/1A0xTaUUjHGe52HSPZv8RpaeGWk7wdSmh87Iynhk9bzpfadAKFwpIATPaQCWyANonOoJ4BlZgGm/vUNLdE61SG77uJVG69RsJWpbbSTb3mEk056zJ5F/SMO+NGinYl+i0tVWMu0tnkQrg8WXyKTalaS9RHON3FCUa3VAc4nMKEK6Tg3NHLmjaVS1T7Y+mhcuT8i5xB+lAM6dhCADsHfSU+jcO+l91oEDQi1/ziX5mhdJPT9vFQaplQAAAABJRU5ErkJggg==) !important;
  }

  // info (i)
  &.ace_info {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAAAM1BMVEUAAAD///////////////////////////////////////////////////////////////+3leKCAAAAEHRSTlMAECAwQFBgcICPn6+/z9/vIxqCigAAAJNJREFUeAHN0TESwiAUhOEFAkHyAnv/0+rLaMmKVfyaNDvwT8DNgpE9QTv5ckDKvECqdAPSzoXr4vCDErR0WIv4M2k3skCItdNVTG0HL+Kk6BPrdGn+G88S0PWztM2nK89S6HZI7Z2k6CS3mpRXkh4rSedCUvgxKZSvSbkNxsnI6Jp/esYEP7pfJkejJQhGWk242RMLCwsROuxo1gAAAABJRU5ErkJggg==) !important;
  }

  // hostname (gray link)
  &.ace_hostname {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAAAbFBMVEUAAACIiIiIiIiIiIiIiIiIiIiIiIiIiIhVVVVfX19oaGhqampra2t1dXV7e3t+fn6CgoKFhYWGhoaIiIiPj4+RkZGVlZWXl5ebm5uenp6mpqaqqqq1tbXLy8vS0tLq6urw8PD09PT4+Pj///8tOJNpAAAACHRSTlMAIDBQgI/P7z/UfbUAAAElSURBVHgBjdTrUsMgFATg0HChrWAUjbaNtul5/3cUZMiSU2bS/Um+gc1w6er0Sof/aNV3zQhlQhWjxKORIIVJPo0OjWhRm50JzZjdhmFKcHO6Ed3OWZUVNTd3Splyr2xkw0xTVHkuyRcrZrR2JLpjQdUy+729lKlURKZhDiEcxoJM3K+V+com6ZnoPQ/2bLXvxSTt86Bi/++dg7FDHtRdWCNbmZcyCtRq30YT0QntgZiZP9EeiBnnl/ZA3NjX0r5CmhnXOKCdYqa0r6KWbfmoTWxfpV82+Jx+yaE9YnBUIrq4qj0icej8TDTx9jjlMiMX1c8vDCbCRXizST0avbpS8eOV6MqMEbicWdnj0cLgcjLVMPzBGLwf2IPx/NODCLnxiG08h39VS09LXC4jhwAAAABJRU5ErkJggg==) !important;
  }

  // internal hostname (purple link)
  &.ace_internal_hostname {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAAAilBMVEUAAACDT6uDT6uDT6uDT6uDT6uDT6uDT6tZGJNcG5VhIphjJppkJplmKZtpLZxrMJ5rMZ5uNKB5QaV7Rad+SKiATKqDT6uDUKyDUq6LWrCNYLSsi8isjMm2mtC5nNDBp9XBqNbBqNfJstrOut7RveDWxePYyOXg0+rg1Ovo3u/q4vLw6fX18fj////7DeaFAAAACHRSTlMAIDBQgI/P7z/UfbUAAAE0SURBVHgBjdT7UvIwEAXwhjaX0n6fUmwAFYV6KSD7/q9nMLOesM04nP9gfpOcziYp0pTa+J8YXRbZKG19EqvV1FRMwCq5jPGZGJWamfXZ2Jk0fyslzUBEwyYq3lH2eadLjlGZaKqpOTwfiMb4s5KbsWlcE9QLNtQZU7d1c+aldEA2Y5Z+WZ8Y2TAv8V3ReP9GtPMxpdjtI5q44sLHaPH9izVM85+nU/irtA6mfuB/BVo9rpL2ebQ50ifaCwRDO7QXCGbfor1AMO4ft0+RuTbzntsjptDCcPsk+ncsAwwGwmPhAY90CgbtEYujMtL5vkf7JBUO3dPlwKIZYhWOb7sP6vULBgvhIty5oGhqTHql+rnbBrMVxipczqjc2kkzYwOVNeLB6LpOPhi3Pz2IApOP2E3P4Tc/EF2Bi8i6UwAAAABJRU5ErkJggg==) !important;
  }
}
