.modal.confirm(
  ng-class = "{'in': in}"
  ng-click = "cancel()"
)
  .modal-dialog(
    ng-click = "$event.stopPropagation()"
  )
    .modal-header
      svg.iconnables.icons-recipe
        use(xlink:href = "#icons-recipe")
    .modal-body
      span.modal-text Delete #{''}
      em.modal-text.highlight {{ data.attrs.name }}
      span.modal-text ?
    .modal-footer
      button.modal-button(
        ng-click = "actions.deleteRecipe(data)"
        type = "button"
      ) Delete Config
      button.modal-button(
        ng-click = "cancel()"
        type = "button"
      ) Cancel
