.modal
  .modal-dialog
    .modal-header
      svg.iconnables.icons-delete
        use(xlink:href = "#icons-delete")
    .modal-body Delete #{''}
      em project
      |  for good?
    .modal-footer
      button.silver(type = "button") Cancel
      button.orange(type = "button") Delete for good.