//- Sadly we need this double nesting because we are using replace AND lazy-load. lazy-load will re-execute the current
//- element and then angular will throw an error about ng-model being used on 2 directives.
.pre
  .pre(
    lazy-load = "ui.ace"
    ng-model = "environmentalVars"
    ui-ace = "{ useWrapMode: false, onLoad: aceLoaded }"
  )
