.popover.menu.bottom.popover-select(
  ng-class = "{in: data.show}"
  ng-style = "popoverStyle.getStyle()"
)
  .popover-content
    ul.popover-list
      li.list-item.popover-list-item.small Select host name
      li.list-item.popover-list-item api-codenow.runnableapp.com
      li.list-item.popover-list-item mongodb-codenow.runnableapp.com
      li.list-item.popover-list-item mavis-codenow.runnableapp.com
      li.list-item.popover-list-item runnable-web-codenow.runnableapp.com