doctype html
html(lang          = "en"
     class         = "js no-touch csstransforms csstransforms3d csstransitions"
     ng-controller = "ControllerApp")
  head
    meta(name    = "google-site-verification"
         content = "x7aUQzI0MCl_SEwRhQ1TFHiNvYgGprRse3EL-FScpoU")
    meta(charset = "utf-8")
    meta(name    = "description"
         content = "")
    link(rel  = "canonical"
         href = "")
    link(rel  = "apple-touch-icon"
         href = "/build/images/icons/icons-ios.png")
    link(rel  = "apple-mobile-web-app-title"
         href = "Runnable")
    link(rel   = "stylesheet"
         media = "screen"
         href  = "/build/css/index.css?v=#{locals.version}")
    title #{locals.version}
  body
    div#content(ui-view)
    script(src = "/build/js/bundle.js?v=#{locals.version}")
