a.server-item-cluster(
  ng-click = "stateToInstance(depInstance, $event)"
  ng-repeat = "depInstance in instanceDependencies.models | orderBy:'attrs.name'"
  ng-show = "!!instanceDependencies"
) {{ depInstance.attrs.name }}
  svg.iconnables.icons-team(
    ng-if = "depInstance.ownedByOther && showTeamIcon"
    tooltip = "{{depInstance.attrs.createdBy.username}}"
    tooltip-options = "{\"class\":\"bottom\",\"left\":-2,\"top\":24}"
  )
    use(
      xlink:href = "#icons-team"
    )
  span.icons-status(
    ng-class = "getInstanceClasses(depInstance)"
    tooltip = "{{getInstanceAltTitle(depInstance)}}"
    tooltip-options = "{\"class\":\"right\",\"left\":10,\"top\":-6}"
  )