small.small Forking linked servers
.list
  .list-item-form(
    name = "depItemForm"
    ng-form
    ng-repeat = "depItem in items | orderBy:'instance.attrs.name'"
  )
    label.input.input-group.input-validate.with-description(
      ng-class = "{\
        focus: depItemInput.showFocus,\
        'ng-invalid': depItemForm.$invalid,\
        'ng-valid': depItemForm.$valid && !depItemForm.$pristine\
      }"
    )
      span.input-label Name
      span.input-description.text-overflow {{ depItem.opts.name }}.{{ depItem.instance.attrs.owner.username.toLowerCase() }}.runnable.io
      input.input(
        name = "depItemInput"
        autocomplete = "off"
        ng-blur = "depItemInput.showFocus = false"
        ng-focus = "depItemInput.showFocus = true"
        instance = "depItem.instance"
        ng-model = "depItem.opts.name"
        placeholder = "My-Server"
        validate-name = "instances"
        validate-name-pattern
      )
      .btn-popover-wrapper(
        environment-button
        item = "depItem"
        ng-if = "depItem.opts.env"
      )
    .validate-wrapper.btn-sm.orange(
      ng-class = "{\
        'invalid-pattern': depItemForm.$error.namePattern.length,\
        'invalid-name': depItemForm.$error.nameAvailable.length\
      }"
    )
      span.validate-rules.invalid-pattern Please use #{''}
        b.btn-xs.orange A-Z
        b.btn-xs.orange a-z
        b.btn-xs.orange 0-9
        b.btn-xs.orange _
        b.btn-xs.orange -
      span.validate-rules.invalid-name That's a pretty name, but it's taken.
