.popover.menu.bottom(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
)
  //- .arrow.white(
  //-   style = "left: 217px"
  //- )
  .popover-content
    ul.popover-list
      //- trigger build files confirm modal
      li.list-item.popover-list-item.multi-line
        label.label-checkbox
          input.input-checkbox(
            type = "checkbox"
          )
          | Advanced options
          small.small Reveals build files and 🚸🚸🚸
      li.divider
      //- changes to Run Logs if running or run error
      //- doesn't appear in edit modal
      li.list-item.popover-list-item
        svg.iconnables.icons-trash
          use(
            xlink:href = "#icons-trash"
          )
        | Build Logs
      li.divider
      //- trigger delete confirm modal
      li.list-item.popover-list-item
        svg.iconnables.icons-trash
          use(
            xlink:href = "#icons-trash"
          )
        | Delete Server