//- alert only appears when changes have been made
.alert.gray(
  ng-if = "\
    $root.featureFlags.newVerificationFlow && \
    SMC.name === 'setupServerModal' && \
    SMC.instance && \
    SMC.isDirty() && SMC.instance.status() !== 'buildFailed' \
  "
  ng-click = "SMC.rebuild(false)"
) Rebuild to see changes you’ve made.
  button.btn.btn-xxs.gray Rebuild

// alert appears during a build failure AND no changes have been made
.alert.orange(
  ng-if = "\
    $root.featureFlags.newVerificationFlow && \
    SMC.name === 'setupServerModal' && \
    !SMC.isBuilding && \
    SMC.instance && SMC.instance.status() === 'buildFailed' \
  "
  ng-click = "SMC.rebuild(true)"
) Having build problems? Some errors can be resolved by rebuilding the container.
 button.btn.btn-xxs.orange Rebuild Without Cache

//- tabs
.btn-group.btn-toggle.btn-toggle-xs(
  ng-hide = "$root.featureFlags.fullScreen"
  ng-init = "page = (['building', 'buildFailed', 'neverStarted'].indexOf(SMC.instance.status()) === -1) ? 'run' : 'build'"
)
  button.btn.btn-xs.white(
    ng-class = "{active: page === 'build'}"
    ng-click = "page = 'build'"
  ) Build Logs
  button.btn.btn-xs.white(
    ng-disabled = "!SMC.instance.containers.models.length"
    ng-class = "{active: page === 'run'}"
    ng-click = "page = 'run'"
  ) CMD Logs

//- logs
pre.pre.log-wrapper(
  ng-class = "{\
    'logs-runnable-dark': !$root.featureFlags.imAfraidOfTheDark,\
    'logs-runnable-light': $root.featureFlags.imAfraidOfTheDark\
  }"
)
  //- toolbar
  .views-toolbar-wrapper(
    ng-class = "{\
      'toolbar-lg': $root.featureFlags.saveToolbar && showDebugCmd,\
      'ace-runnable-dark': !$root.featureFlags.imAfraidOfTheDark,\
      'ace-runnable-light': $root.featureFlags.imAfraidOfTheDark\
    }"
    ng-if = "page === 'run'"
    ng-show = "SMC.showDebugCmd"
    ng-include = "'viewToolbar'"
  )
  .term-js.term-log(
    log-term
    instance = 'SMC.instance'
    controller = "BuildLogController"
    ng-if = "!$root.featureFlags.updatedBuildLogs"
    ng-show = "page === 'build'"
  )
  .build-log-wrapper(
    build-logs
    instance = 'SMC.instance'
    ng-if = "$root.featureFlags.updatedBuildLogs && SMC.instance"
    ng-show = "page === 'build'"
    ng-style = "($root.featureFlags.themeToggle || $root.featureFlags.fullScreenToggle) && {'padding-right': '42px'}"
  )
  .term-js.term-log(
    log-term
    instance = 'SMC.instance'
    controller = "BoxLogController"
    ng-if = "SMC.instance.containers.models.length"
    ng-show = "page === 'run'"
  )

  .floating-controls(
    ng-include = "'viewFloatingControls'"
  )
