//- alert appears during a build failure AND no changes have been made
.alert.orange(
  ng-if = "\
    !$root.isLoading.setupServerModalIsBuilding && \
    !SMC.isDirty() && \
    SMC.instance.status() === 'buildFailed' \
  "
) Having build problems? Some errors can be resolved by rebuilding the container.
  button.btn.btn-xxs.orange(
    ng-click = "SMC.rebuild(true, true)"
  ) Rebuild Without Cache

//- tabs
.btn-group.btn-toggle.btn-toggle-xs(
  ng-hide = "$root.featureFlags.fullScreen"
)
  button.btn.btn-xs.white(
    ng-class = "{'active': SMC.page === 'build'}"
    ng-click = "SMC.page = 'build'"
  ) Build Logs
  button.btn.btn-xs.white(
    ng-class = "{'active': SMC.page === 'run'}"
    ng-click = "SMC.page = 'run'"
    ng-disabled = "!SMC.instance.containers.models.length"
  ) CMD Logs
  button.btn.btn-xs.white(
    ng-class = "{'active': SMC.page === 'terminal'}"
    ng-click = "SMC.page = 'terminal'"
    instance = "SMC.instance"
  ) Terminal

//- logs
pre.pre.log-wrapper(
  ng-class = "{\
    'logs-runnable-dark': !$root.featureFlags.imAfraidOfTheDark,\
    'logs-runnable-light': $root.featureFlags.imAfraidOfTheDark\
  }"
)
  //- debug toolbar
  .views-toolbar(
    ng-class = "{\
      'ace-runnable-dark': !$root.featureFlags.imAfraidOfTheDark,\
      'ace-runnable-light': $root.featureFlags.imAfraidOfTheDark\
    }"
    ng-if = "SMC.page === 'run'"
    ng-include = "'debugToolbarView'"
    ng-show = "SMC.showDebugCmd"
  )
  //- build logs page
  .build-log-wrapper(
    build-logs
    scroll-glue
    instance = "SMC.instance"
    ng-if = "SMC.instance"
    ng-show = "SMC.page === 'build'"
    ng-style = "($root.featureFlags.themeToggle || $root.featureFlags.fullScreenToggle) && {'padding-right': '42px'}"
  )
  //- cmd logs page
  .term-js.term-log(
    controller = "BoxLogController"
    instance = "SMC.instance"
    log-term
    ng-if = "SMC.instance.containers.models.length"
    ng-show = "SMC.page === 'run'"
  )
  //- terminal
  .term-js(
    controller = "TermController"
    debug-container = "debugContainer"
    instance = "SMC.instance"
    tab-item = "item"
    log-term
    ng-show = "SMC.page === 'terminal'"
  )

  .floating-controls(
    ng-include = "'viewFloatingControls'"
  )
