//- tabs
.btn-group.btn-toggle.btn-toggle-xs(
  ng-hide = "$root.featureFlags.fullScreen"
)
  button.btn.btn-xs.white(
    ng-class = "{'active': SMC.page === 'build'}"
    ng-click = "SMC.page = 'build'"
  ) Build Logs
  button.btn.btn-xs.white(
    ng-class = "{'active': SMC.page === 'run'}"
    ng-click = "SMC.page = 'run'"
    ng-disabled = "!SMC.instance.containers.models.length"
  ) CMD Logs
  button.btn.btn-xs.white(
    ng-class = "{'active': SMC.page === 'terminal'}"
    ng-click = "SMC.page = 'terminal'"
    ng-disabled = "!SMC.instance.containers.models.length"
    ng-if = "$root.featureFlags.configTerminal"
  ) Terminal

//- logs
pre.pre.log-wrapper(
  ng-class = "{\
    'logs-runnable-dark': !$root.featureFlags.imAfraidOfTheDark,\
    'logs-runnable-light': $root.featureFlags.imAfraidOfTheDark\
  }"
)
  //- debug toolbar
  .views-toolbar(
    ng-class = "{\
      'ace-runnable-dark': !$root.featureFlags.imAfraidOfTheDark,\
      'ace-runnable-light': $root.featureFlags.imAfraidOfTheDark\
    }"
    ng-if = "SMC.page === 'run' && SMC.showDebugCmd"
    ng-include = "'debugToolbarView'"
  )

  //- webview toolbar
  .views-toolbar(
    ng-class = "{\
      'ace-runnable-dark': !$root.featureFlags.imAfraidOfTheDark,\
      'ace-runnable-light': $root.featureFlags.imAfraidOfTheDark\
    }"
    ng-include = "'webViewToolbarView'"
    ng-if = "SMC.page === 'run' && !SMC.showDebugCmd && $root.featureFlags.webToolbar"
  )

  //- build logs page
  .build-log-wrapper(
    build-logs
    scroll-glue
    instance = "SMC.instance"
    ng-if = "SMC.instance"
    ng-show = "SMC.page === 'build'"
    ng-style = "($root.featureFlags.themeToggle || $root.featureFlags.fullScreenToggle) && {'padding-right': '42px'}"
    scroll-glue
  )
  //- cmd logs page
  .term-js.term-log(
    controller = "BoxLogController"
    instance = "SMC.instance"
    log-term
    ng-if = "SMC.instance.containers.models.length"
    ng-show = "SMC.page === 'run'"
  )
  //- terminal
  .term-js(
    controller = "TermController"
    debug-container = "debugContainer"
    instance = "SMC.instance"
    tab-item = "item"
    log-term
    ng-if = "SMC.instance.containers.models.length"
    ng-show = "SMC.page === 'terminal'"
  )

  .floating-controls(
    ng-include = "'viewFloatingControls'"
  )

.grid-block.shrink.justify-center.align-center.padding-xs.well.gray.aha-tips(
  ng-if = "\
    !$root.isLoading.setupServerModalIsBuilding && \
    !SMC.isDirty() && \
    SMC.instance.status() === 'buildFailed' \
  "
)
  svg.grid-content.shrink.iconnables
    use(
      xlink:href = "#icons-life-preserver"
    )
  small.grid-content.shrink.small
    //- If build error:
    | Build problems? Sometimes rebuilding the container can resolve errors, otherwise inspect your build logs.
    //- IF CMD error:
    //- | Your container is having trouble running. Check the CMD Logs and your CMD Command.
  button.grid-content.shrink.btn.btn-xs.orange(
    ng-click = "SMC.rebuild(true, true)"
  ) Rebuild
