//- tabs
.btn-group(
  ng-init = "page = (['building', 'buildFailed', 'neverStarted'].indexOf(instance.status()) === -1) ? 'run' : 'build'"
)
  button.btn.btn-xs.white(
    ng-class = "{active: page === 'build'}"
    ng-click = "page = 'build'"
  ) Build Logs
  button.btn.btn-xs.white(
    ng-disabled = "!instance.containers.models.length"
    ng-class = "{active: page === 'run'}"
    ng-click = "page = 'run'"
  ) CMD Logs

//- toolbar
.views-toolbar-wrapper(
  ng-if = "$root.featureFlags.debugMode"
  ng-include = "'viewToolbar'"
)

//- logs
pre.pre.log-wrapper
  .logs(
    log-term
    ng-controller = "BuildLogController"
    ng-show = "page === 'build'"
  )
  .logs(
    log-term
    ng-controller = "BoxLogController"
    ng-if = "instance.containers.models.length"
    ng-show = "page === 'run'"
  )