.popover.top(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow
  .small.text-center.padding-sm Runnable is designed with teams in mind and doesn’t currently support personal projects.
