.grid-block.align-center.instance-header-title.text-overflow
  .grid-block.justify-center
    span.span {{DC.instance.getRepoName() || DC.instance.attrs.name}}/
    strong.strong {{DC.instance.getBranchName()}}
      small.small (Debug)

  .grid-block.shrink.btn-save-wrapper(
    hide-restart = "true"
    instance = "DC.instance"
    ng-if = "!$root.featureFlags.saveToolbar && !DC.openItems.isClean()"
    open-items = "DC.openItems"
    save-open-items-button
  )

section.sidebar.instance-sidebar.full-height.load
  .spinner-wrapper.spinner-md.spinner-purple.spinner-backdrop.in(
    ng-if = "!DC.debugContainer.rootDir"
    ng-include = "'spinner'"
  )

  section.sidebar-section.explorer-section(
    edit-explorer = "false"
    debug-container = "true"
    explorer
    explorer-title = "File Explorer"
    file-model = "DC.debugContainer"
    instance = "DC.instance"
    ng-if = "DC.debugContainer.rootDir"
    open-items = "DC.openItems"
    root-dir = "DC.debugContainer.rootDir"
  )

section.views.full-height(
  active-panel
  debug-container = "DC.debugContainer"
  is-edit-modal = "true"
  open-items = "DC.openItems"
)
