div(
  ng-class = "{\
    'server-header': !$root.featureFlags.isolationUI,\
    'deprecated': !$root.featureFlags.isolationUI,\
    'server-header-debug': !$root.featureFlags.isolationUI,\
    'instance-header-title': $root.featureFlags.isolationUI,\
    'text-overflow': $root.featureFlags.isolationUI,\
  }"
)

  .server-info.load(
    ng-if = "!$root.featureFlags.isolationUI"
  )
    .container-heading.centered
      .icons-status.running
      strong.strong {{DC.instance.getDisplayName()}}
      span(
        ng-if = "DC.instance.getBranchName()"
      ) /{{DC.instance.getBranchName()}}
      small.small (debug)

  .primary-actions(
    ng-if = "!$root.featureFlags.isolationUI"
  )
    //- ***********************
    //- deprecated button, remove with $root.featureFlags.saveToolbar
    //- save button
    .btn-group
      //- apply .with-restart if save restarts Server
      //- add title = "Save and Restart Server" if save restarts Server
      button.btn.green.btn-save.btn-spinner(
        ng-class = "{in: DC.saving}"
        ng-click = "DC.saveChanges()"
        ng-disabled = "DC.saving"
        ng-if = "DC.canSave()"
        type = "button"
      )
        .spinner-wrapper.spinner-sm.spinner-white.in(
          ng-if = "DC.saving"
          ng-include = "'spinner'"
        )

        span.btn-text {{ saving ? 'Saving' : 'Save'}}
    //- end button, remove with $root.featureFlags.saveToolbar
    //- ***********************


  //- isolation UI
  //- status button
  button.btn.btn-xs.btn-spinner.btn-status.red(
    ng-if = "$root.featureFlags.isolationUI"
    pop-over
    pop-over-actions = "popoverStatusOptions.actions"
    pop-over-active = "state.active"
    pop-over-data = "popoverStatusOptions.data"
    pop-over-options = "{\"top\":36,\"left\":0}"
    pop-over-template = "viewInstancePopoverStatusOptions"
  )
    .icons-status.red.float-left
    span.float-left Crashed
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )

  span.span(
    ng-if = "$root.featureFlags.isolationUI"
  ) {{DC.instance.getDisplayName()}}/
  strong.strong(
    ng-if = "$root.featureFlags.isolationUI"
  ) {{DC.instance.getBranchName()}}
    small.small (Debug)

  button.btn.btn-xs.btn-badge.gray.float-right(
    ng-if = "$root.featureFlags.isolationUI"
  ) Isolated

section.sidebar.server-sidebar.full-height.load(
  ng-class = "{'deprecated': !$root.featureFlags.isolationUI}"
)

  .spinner-wrapper.spinner-md.spinner-purple.spinner-backdrop.in(
    ng-if = "!DC.debugContainer.rootDir"
    ng-include = "'spinner'"
  )

  section.sidebar-section.explorer-section(
    edit-explorer = "false"
    debug-container = "true"
    explorer
    explorer-title = "File Explorer"
    file-model = "DC.debugContainer"
    instance = "DC.instance"
    ng-if = "DC.debugContainer.rootDir"
    open-items = "DC.openItems"
    root-dir = "DC.debugContainer.rootDir"
  )

section.views.full-height(
  active-panel
  debug-container = "DC.debugContainer"
  is-edit-modal = "true"
  ng-class = "{'deprecated': !$root.featureFlags.isolationUI}"
  open-items = "DC.openItems"
)