svg.spinner.spinner-sm(
  height = '15'
  viewbox = '0 0 16 16'
  width = '15',
)
  circle.path(
    cx = '8'
    cy = '8'
    fill = 'none'
    r = '7'
    stroke-dasharray = '30, 6'
    stroke-linecap = 'round'
    stroke-width = '2'
  )

svg.spinner.spinner-md(
  height = '30'
  viewbox = '0 0 32 32'
  width = '30',
)
  circle.path(
    cx = '16'
    cy = '16'
    fill = 'none'
    r = '15'
    stroke-dasharray = '60, 12'
    stroke-linecap = 'round'
    stroke-width = '2'
  )

svg.spinner.spinner-lg(
  height = '60'
  viewbox = '0 0 64 64'
  width = '60',
)
  circle.path(
    cx = '32'
    cy = '32'
    fill = 'none'
    r = '30'
    stroke-dasharray = '120, 24'
    stroke-linecap = 'round'
    stroke-width = '2'
  )