header.server-header
  .server-info.load
    h1.container-title.centered
      .icons-status.running
      strong.strong {{CD.instance.getDisplayName()}}
      span(
        ng-if = "CD.instance.getBranchName()"
      ) /{{CD.instance.getBranchName()}}
      small.small (debug)

  .primary-actions
    //- ***********************
    //- deprecated button, remove with $root.featureFlags.saveToolbar
    //- save button
    .btn-group
      //- apply .with-restart if save restarts Server
      //- add title = "Save and Restart Server" if save restarts Server
      button.btn.green.btn-save.btn-spinner(
        ng-class = "{in: CD.saving}"
        ng-click = "CD.saveChanges()"
        ng-disabled = "CD.saving"
        ng-if = "CD.canSave()"
        type = "button"
      )
        .spinner-wrapper.spinner-sm.spinner-white.in(
          ng-if = "CD.saving"
          ng-include = "'spinner'"
        )

        span.btn-text {{ saving ? 'Saving' : 'Save'}}
    //- end button, remove with $root.featureFlags.saveToolbar
    //- ***********************

section.sidebar.server-sidebar.full-height.load

  .spinner-wrapper.spinner-md.spinner-purple.spinner-backdrop.in(
    ng-if = "!CD.debugContainer.rootDir"
    ng-include = "'spinner'"
  )

  section.sidebar-section.explorer-section(
    edit-explorer = "false"
    debug-container = "true"
    explorer
    explorer-title = "File Explorer"
    file-model = "CD.debugContainer"
    instance = "CD.instance"
    ng-if = "CD.debugContainer.rootDir"
    open-items = "CD.openItems"
    root-dir = "CD.debugContainer.rootDir"
  )

section.views.full-height(
  active-panel
  debug-container = "CD.debugContainer"
  is-edit-modal = "true"
  open-items = "CD.openItems"
)