//- spinner if instance is loading
.spinner-wrapper.spinner-md.spinner-gray.spinner-backdrop.in(
  ng-if = "isLoading.main"
  ng-include = "'spinner'"
)

.grid-block.noscroll.vertical.instance(
  ng-if = "!isLoading.main"
)
  .grid-block.noscroll.vertical(
    ng-if = "true"
  )

    header.grid-block.noscroll.justify-justified.align-center.instance-header(
      instance = "TIVC.testInstanceData"
      instance-header
    )

    .grid-block.instance-body

      //- in / out control presence of header-bar
      section.views(
        active-panel
        instance = "dataInstance.data.instance"
        ng-class = "{'full-screen': $root.featureFlags.fullScreen}"
      )
