header#primary(ng-controller = "ControllerHeader"
               ng-if         = "appData.state.current.data.header"
               ng-include    = "'viewHeader'")
main(ui-view)
footer(ng-if      = "appData.state.current.data.footer"
       ng-include = "'viewFooter'")

//- development status
div(ng-controller = "ControllerDevelopmentStatus"
    ng-include    = "'viewDevelopmentStatus'"
    ng-if         = "false"
    ng-style      = "DevStatusData.style")