.welcome
  img.img(
    height = "250"
    src = "/build/images/welcome/runnabear.png"
    width = "200"
  )
  .modal-dialog
    section.modal-body
      h3.h3 Create your team
      p.p Team names are used for other members to find and request access to your team.
      input.input(
        placeholder = "e.g. Runnable"
      )
    footer.modal-footer
      button.btn.green Next
