.welcome
  img.img(
    height = "250"
    src = "/build/images/welcome/runnabear.png"
    width = "200"
  )
  form.modal-dialog
    section.modal-body
      h3.h3 Create your team
      p.p Team names are used for other members to find and request access to your team.
      input.input.input-validate(
        autofocus
        maxlength = "30"
        placeholder = "e.g. Runnable"
        required
        spellcheck = "false"
      )
      p.validation-message(
        ng-if = ""
      ) Sorry, “Runnable” is taken.
    footer.modal-footer
      button.btn.green Next

  footer.footer
    a.link(
      href = "mailto:support@runnable.com"
    ) Email Us
    svg.iconnables(
      viewbox='0 0 45.004 38.204'
    )
      path(fill='#ccc', d='M41.2,1.904l-36.4-1.9c-2.7-0.1-4.8,1.7-4.8,4.1v1.7l45,1.5v-1.5C45.1,3.704,43.4,2.004,41.2,1.904L41.2,1.904z M5.7,3.604c0,0.4-0.4,0.7-0.7,0.7H3.6c-0.4,0.1-0.7-0.3-0.7-0.7v-1.2c0-0.4,0.3-0.8,0.7-0.8H5c0.4,0,0.7,0.4,0.7,0.7V3.604z M10.5,3.704c0,0.4-0.4,0.7-0.7,0.5H8.4c-0.4,0-0.7-0.4-0.7-0.7v-1.3c0-0.4,0.4-0.7,0.7-0.5h1.4c0.4,0,0.7,0.4,0.7,0.7L10.5,3.704L10.5,3.704z M15.1,3.904c0,0.4-0.4,0.7-0.7,0.5H13c-0.4,0-0.7-0.4-0.7-0.7v-1.3c0-0.4,0.4-0.7,0.7-0.5h1.4c0.4,0,0.7,0.4,0.7,0.7C15.1,2.604,15.1,3.904,15.1,3.904z M0,34.104c0,2.4,2.2,4.1,4.8,4.1l36.3-1.9c2.1-0.1,3.8-1.9,3.8-4v-23.4L0,7.604V34.104L0,34.104z M20.2,17.104c-0.9-0.9-0.9-2.1,0-3s2.2-0.7,3.1,0l6.1,5.7c0.9,0.7,0.9,2.1,0,2.7l-6.1,5.8c-0.9,0.9-2.2,0.9-3.1,0c-0.9-0.7-0.9-2.1,0-3l4.6-4.3C24.8,21.504,20.2,17.104,20.2,17.104z')
    a.link(
      href = "http://support.runnable.io/"
      target = "_blank"
    ) Support