//- spinner if instance is loading
.spinner-wrapper.spinner-md.spinner-gray.spinner-backdrop.in(
  ng-if = "isLoading.main"
  ng-include = "'spinner'"
)

.grid-block.noscroll.vertical.instance(
  ng-if = "!isLoading.main"
)
  .grid-block.justify-center.align-center.instance-empty(
    ng-if = "!dataInstance.data.instance || dataInstance.data.instance.destroyed"
  )
    img(
      height = "40"
      src = "/build/images/runnabear-head-empty.png"
      width = "40"
    )
  .grid-block.noscroll.vertical(
    ng-if = "dataInstance.data.instance && !dataInstance.data.instance.destroyed"
  )
    //- show if server build is being swapped out
      - orange when build is updating or has failed
      - green if build is successfully built
      * Orange is currently not used; will be re-enabled when API opens up that event
    .grid-block.notification.top-right.padding-sm.js-animate(
      ng-class = "{\
        'green': dataInstance.data.showUpdatedMessage,\
        'orange': dataInstance.data.showUpdatingMessage || dataInstance.data.instance.isMigrating(),\
        'white below-modals': CI.showHangTightMessage(),\
        'hidden': CIS.isInDemoFlow() && !CI.showHangTightMessage()\
      }"
      ng-if = "\
        (dataInstance.data.showUpdatingMessage || dataInstance.data.showUpdatedMessage) ||\
        dataInstance.data.instance.isMigrating() ||\
        (CI.showHangTightMessage() && !$root.featureFlags.demoPersonalOnly)\
      "
      ng-include = "'viewNotifications'"
    )

    header.grid-block.noscroll.justify-justified.align-center.instance-header(
      demo-flow-flags = "dataInstance.data.demoFlowFlags"
      instance = "dataInstance.data.instance"
      instance-header
      open-items = "dataInstance.data.openItems"
    )

    .grid-block.instance-body
      button.grid-block.shrink.btn.btn-sm(
        ng-class = "{'active': !$root.featureFlags.hideExplorer}"
        ng-click = "$root.featureFlags.hideExplorer = !$root.featureFlags.hideExplorer"
        ng-if = "$root.featureFlags.composeInstance"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-folder"
          )
        span Files

      //-
        - [ng-hide] is preferred for better performance on toggle
        - if running: show by default
        - if not running: hide by default
      section.grid-block.vertical.sidebar.instance-sidebar(
        ng-class = "{'deprecated': !$root.featureFlags.composeInstance}"
        ng-hide = "$root.featureFlags.hideExplorer"
      )

        section.grid-block.shrink.vertical.sidebar-section.repository-section(
          instance = "dataInstance.data.instance"
          ng-if = "!$root.featureFlags.composeInstance && dataInstance.data.instance.contextVersion.getMainAppCodeVersion()"
          repo-list
        )

        section.grid-block.vertical.sidebar-section.explorer-section(
          edit-explorer = "false"
          explorer
          explorer-title = "File Explorer"
          file-model = "dataInstance.data.instance.containers.models[0]"
          instance = "dataInstance.data.instance"
          open-items = "dataInstance.data.openItems"
          root-dir = "dataInstance.data.instance.containers.models[0].rootDir"
        )

      //- in / out control presence of header-bar
      section.views(
        active-panel
        build = "dataInstance.data.instance.build"
        instance = "dataInstance.data.instance"
        ng-class = "{'full-screen': $root.featureFlags.fullScreen}"
        open-items = "dataInstance.data.openItems"
      )
