header#primary(ng-controller = "ControllerHeader"
               ng-if         = "dataApp.state.current.data.header"
               ng-include    = "'viewHeader'")
main(ui-view)
footer(ng-if      = "dataApp.state.current.data.footer"
       ng-include = "'viewFooter'")
