// profile
#profile {
  background: $gray-lighter;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  margin-bottom: 90px;
  padding: 0;

  @include media(xs) {
    margin: 0 15px 15px;
  }
}

#gravatar {
  @extend .clearfix;
  border-bottom: 1px solid rgba(0,0,0,.1);
  box-shadow: inset 0 1px 0 #fff, 0 1px 0 #fff;
  padding-bottom: 15px;

  > div {
    border-radius: 50%;
    float: none;
    margin: 30px auto 15px;
    padding: 66.66666666666666% 0 0;
    position: relative;

    @include media(xs) {
      height: 25%;
      padding-top: 25%;
      width: 25%;
    }

    @include media(xxs) {
      height: 50%;
      padding-top: 50%;
      width: 50%;
    }

    > img {
      border-radius: 50%;
      display: block;
      position: absolute;
        top: 0;
    }

    > img {
      border: 6px solid $purple-light;
      box-shadow: 0 2px 0 rgba(0,0,0,.2);
      height: 100%;
      user-select: none;
      width: 100%;
    }

    &:hover > a {
      opacity: 1;
    }

    > a {
      color: #fff;
      font-size: 24px;
      height: 36px;
      line-height: 36px;
      margin: 0 auto;
      opacity: 0;
      position: absolute;
        top: auto;
        right: 0;
        bottom: 10px;
        left: 0;
        z-index: 1;
      text-align: center;
      text-shadow: 0 0 1px #000;
      transition: opacity .15s;
      width: 36px;

      &:hover {
        text-decoration: none;
      }

      // offset edit icon to visual center
      &:before {
        margin-left: 6px;
      }
    }
  }

  > h1,
  > p {
    color: $gray-darker;
    margin-bottom: 0;
    padding: 0 10px;
    text-align: center;
    white-space: normal;
    word-break: break-all;
  }

  > h1 {
    font-weight: 700;

    @include media(sm) {
      font-size: 30px;
    }

    @include media(md) {
      font-size: 36px;
    }
  }

  > p {
    @include media(sm) {
      font-size: 12px;
    }

    @include media(md) {
      font-size: 14px;
    }
  }

  .reputation {
    right: 0;
    top: 0;

    @include media(xxs) {
      right: 10px;
      top: 10px;
    }

    @include media(md) {
      right: 8px;
      top: 8px;
    }
  }
}

// dashboard
#dashboard {

  .toggles {
    margin-left: 10px;

    @include media(xs) {
      margin: 0 0 15px;
    }
  }

  .runnable-feed {
    display: none;

    &.in {
      display: block;
    }

    > li {

      @include media(xs) {
        margin: 0;
      }

      @include media(xxs) {
        margin: 0 -15px;
      }

      ul {
        max-width: calc(100% - 20px);
      }
    }
  }

  time {
    bottom: 8px;
    right: 18px;
  }
}

// #reputation
#reputation {
  @extend .clearfix;
  border-bottom: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 1px 0 #fff;
  list-style-type: none;
  margin: 0;
  padding: 15px 0;

  @include media(xs) {
    text-align: center;
  }

  li {

    @include media(xs) {
      display: inline-block;
      vertical-align: middle;
      width: 90px
    }

    @include media(sm) {
      float: none;
      margin: 15px auto;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include media(md) {
      float: left;
      margin: 0;
      padding: 0 15px;
    }
  }

  a {
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;

    &:hover {
      text-decoration: none;

      > img,
      > .no-img {
        border-color: lighten($purple-light,10%);
      }

      + span {
        background: lighten($purple-light,10%);
      }
    }

    &:active {
      > img,
      + span {
        transform: translate3d(0,1px,0);
      }
    }

    // tooltip positions
    &::before {

      @include media(xs) {
        left: 38px;
        top: 30px;
      }

      @include media(sm) {
        left: 38px;
      }

      @include media(md) {
        left: 28px;
      }

      @include media(lg) {
        left: 44px;
      }

      @include media(xl) {
        left: 34px;
      }
    }

    &::after {

      @include media(xs) {
        left: 48px;
        top: 24px;
      }

      @include media(sm) {
        left: 48px;
      }

      @include media(md) {
        left: 38px;
      }

      @include media(lg) {
        left: 54px;
      }

      @include media(xl) {
        left: 44px;
      }
    }
  }

  img {
    border: 3px solid $purple-light;
    border-radius: 50%;
    box-shadow: inset 0 0 1px $purple, 0 1px 0 rgba(0,0,0,.2);
    display: block;

    user-select: none;
    width: 100%;
  }

  .no-img {
    border: 3px solid #804ea8;
    height: 0;
    padding: calc(20% - 3px) 0 calc(80% - 3px);
  }

  .reputation {
    right: 10px;
    top: -2px;
  }
}