#html-readme {
  padding: 1px 15px;

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }
}

.readme-help {
  color: $gray-dark;
  margin: 100px auto 0;
  text-align: center;
  width: 100%;

  h3 > a {
    cursor: pointer;
  }

  a {
    color: $gray-dark;

    &:hover {
      color: $gray-dark;
    }
  }

  > a {
    display: table;
    font-size: 12px;
    margin: 15px auto 0;
  }
}

.in #html-readme h3 {
  @include media(xxs) {
    font-size: 18px;
  }
}

// markdown styles
#html-readme {
  color: $gray-darker;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }
}