#runnable {
  height: 100%;
}

#output {
  visibility: hidden;

  &.in {
    visibility: visible;
  }
}

.services-body {

  .name {
    font-size: 16px;
    margin: 10px 0;
  }

  li {
    display: inline-block;

    > a {
      opacity: .8;
      padding: 10px 2px;

      &.hover {
        opacity: 1;
      }
    }
  }
}

.project-container {
  height: calc(100% - 123px);
  margin: 15px 0 0;
}

.status-bar ~ .project-container {
  height: calc(100% - 177px);
}

// image/container title
.page-title {

  .tags {
    margin-top: 5px;
  }

  h1 {
    @extend .clearfix;
    color: $gray-darker;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 10px;

    @include media(xs) {
      margin-bottom: 2px;
    }

    @include media(sm) {
      line-height: 1.6;
      margin: 0;
    }

    > span {
      display: block;
      float: left;
      margin-right: 10px;
      max-width: calc(100% - 125px);
      text-overflow: ellipsis;

      @include media(sm) {
        overflow: hidden;
        white-space: nowrap;
      }
    }

    > .dropdown {
      @extend .clearfix;
      float: left;
      width: 115px;

      button {
        width: 115px;
      }
    }
  }
}

#new-tag {
  background: none;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  padding: 0 5px;
  top: 0;

  > .popover {
    cursor: default;
    left: -10px;
    top: 16px;
    transform-origin: 0 0;
    width: 240px;
    z-index: $zpopover;
  }

  .arrow {
    left: 19px;
  }

  button {
    width: 100%;
  }
}

.runnable-stats {
  color: $gray-dark;
  font-size: 14px;
  margin: 0;

  > h2 {
    clear: both;
    font-size: 12px;
    margin: 0 0 5px;

    > a {
      font-weight: 700;
    }

    @include media(xxs) {
      font-size: 12px;
      margin: 15px 0 2px 14px;

      > .share {
        margin-left: -16px !important;
      }
    }
  }

  data {
    color: $gray-dark;
    margin-right: 10px;

    @include media(xxs) {
      font-size: 12px;
    }
  }

  .tooltip {
    margin-right: 6px;
  }

  .glyphicons {
    color: $orange;
    font-size: 12px;
    margin-left: 8px;
    margin-right: 4px;

    &:first-child {
      margin-left: 0;
    }

    &.eye-open {
      font-size: 13px;
    }

    @include media(xxs) {
      margin-left: 2px;
    }
  }

  .share {
    transform: rotate3d(1,0,0,180deg);
  }
}

.runnable-description {
  margin-top: 5px;

  > p {
    color: $gray-dark;
    margin: 15px 0;
  }
}

// edit title and description
#project-details {
  height: 173px;
  overflow: visible;

  > .row,
  > .row > .col-sm-9 {
    height: 100%;
  }

  input {
    color: $gray-darker;
    margin-bottom: 5px;
  }

  textarea {
    height: 72px;
    margin-bottom: 6px;
    max-height: 144px;
    resize: vertical;
  }

  .cancel {
    font-size: 13px;
    font-weight: 400;
    padding: 0 8px;
  }

  .glyphicons.edit {
    font-size: 18px;
    line-height: 0;
    padding: 0 8px;
  }

  data {
    font-size: 12px;
  }

  h2 {
    margin: 0;
  }
}

// improve-btn
#improve-btn {

  > button {
    font-size: 16px;

    &+button {
      border-radius: 0 3px 3px 0;
    }
  }

  .thumbs-up {

    &:hover {
      color: rgba($green,.8);
    }

    &:active,
    &.active {
      color: $green;
    }
  }

  .thumbs-down {

    &:hover {
      color: rgba($orange,.8);
    }

    &:active,
    &.active {
      color: $orange;
    }
  }
}

// runnable owner
#project-author {

  @include media(xs) {
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    box-shadow: inset 0 1px 0 #fff;
    margin: 0 15px 15px;
    padding: 15px;
  }

  > div > a {
    border-radius: 50%;
    float: left;
    margin-bottom: 5px;

    @include media(xs) {
      display: block;
      margin: 0;
      width: 81px;
    }
  }

  img {
    border: 3px solid $purple-light;
    border-radius: 50%;
    height: 100%;
    user-select: none;
    width: 100%;
  }

  .reputation {
    right: 6px;

    @include media(xs) {
      right: 10px;
    }

    @include media(md) {
      right: 12px;
    }

    @include media(lg) {
      right: 18px;
    }
  }

  h4,
  ul {
    @include media(xs) {
      float: left;
      width: calc(50% - 42px);
    }

    @include media(xxs) {
      width: auto;
    }

    @include media(sm) {
      padding-left: 0;
    }
  }

  h4 {
    margin: 0 0 10px;

    > a {
      color: $gray-darker;
      font-size: 14px;
      font-weight: 700;
    }

    > div {
      color: $gray-dark;
      font-size: 12px;
      margin-top: 2px;

      @include media(xs) {
        display: inline;
      }

      @include media(xxs) {
        display: block;
      }
    }
  }

  ul {
    color: $gray-dark;
    font-size: 12px;
    white-space: nowrap;

    @include media(xs) {
      display: table;
      float: none;
    }

    @include media(xxs) {
      display: none
    }

    @include media(md) {
      display: block;
    }
  }

  li {
    margin-bottom: 6px;
  }

  a.tag {
    padding: 0 6px;
  }
}

// main-controls
.main-controls {
  @extend .clearfix;
  position: absolute;
    bottom: 30px;

  > .btn-group,
  > button {
    float: left;
  }

  > .btn-group:first-child {
    @include media(xxs) {
      width: calc(100% - 172px);
    }
  }

  .flash {
    font-size: 16px;
    margin-left: -6px;
    top: 3px;
  }

  .run-button {
    @media (max-width: 360px) {
      > span {
        display: none;
      }

      > img {
        margin: -4px 0 0 4px;
      }
    }

    @include media(xxs) {
      width: calc(100% - 32px);
    }
  }

  > #improve-btn,
  > .toggles,
  > .silver {
    margin-left: 10px;
  }

  > .silver {

    @include media(xxs) {
      padding: 0 16px;

      > span:last-child {
        display: none;
      }
    }
  }

  // if run options
  .btn-group {
    display: block;

    > .run-button {
      border-radius: 3px 0 0 3px;
      float: left;
    }

    > .run-options {
      border-radius: 0 3px 3px 0 !important;
      margin-left: -1px;
      padding: 0 9px 0 8px;

      &:before {
        top: 38px;
        left: 0;
      }

      &:after {
        top: 32px;
        left: 9px;
      }
    }

    .caret {
      border-top-color: #fff;
    }

    @include media(xxs) {
      margin-left: 0;
    }
  }

  // .toggles
  .toggles > button {

    > .glyphicons {
      display: none;
    }

    &.active {

      > .glyphicons {
        display: inline-block;
        margin-right: 6px;
      }

      > span {
        display: none;
      }
    }
  }
}

// sidebar
#sidebar {
  padding-top: 36px;

  @include media(xs) {
    padding: 36px 15px 0;
  }

  > li {
    list-style: none;
    margin-bottom: 36px;

    h3 {
      border-bottom: 1px solid rgba(0,0,0,.1);
      box-shadow: 0 1px 0 #fff;
      color: $gray-dark;
      font-size: 14px;
      font-weight: 400;
      margin: 0 0 8px;
      padding: 0 0 4px;
    }

    &.related-code {

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li {
        padding: 4px 0;
      }

      a {
        display: inline-block;
        font-size: 12px;
        line-height: 1.2;
      }
    }
  }

  aside {
    color: $gray-dark;
    font-size: 12px;
    margin: 10px 0;
  }
}

// #project
#project {
  border-top: 1px solid rgba(0,0,0,.1);
  height: calc(100% - 173px);
  position: relative;
}

// #readonly-message
#readonly-message {
  text-align: center;
}