.popover.menu.right.popover-branch-menu(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white
  animated-panel-container.popover-views
    animated-panel(
      default = "true"
      name = "branchMenu"
    )
      .popover-view
        .popover-content.fade(
          ng-class = "{'in': isActivePanel()}"
        )
          .grid-block.shrink.align-center.well.gray.padding-xxs
            .grid-content
              .small Automatically add branches as they’re updated on GitHub.
              button.btn.btn-xxs.orange.btn-permissions(
                internal-modal-helper = "inviteAdminModalView"
                ng-if = "$root.featureFlags.webhooks"
              )
                svg.iconnables.icons-alert.float-left
                  use(
                    xlink:href = "#icons-alert-alt"
                  )
                | Permissions Needed
            label.grid-content.shrink.toggle-wrapper
              input.toggle-input(
                ng-disabled = "$root.featureFlags.webhooks"
                type = "checkbox"
              )
              .toggle-group.toggle-sm
          ul.list.popover-list
            li.list-item.popover-list-item(
              ng-click = "goToPanel('addBranch')"
            )
              svg.iconnables
                use(
                  xlink:href = "#icons-branch-add"
                )
              | Add Branch
              svg.iconnables.icons-arrow-forward.anchor-right
                use(
                  xlink:href = "#icons-arrow-down"
                )
            li.list-item.popover-list-item(
              internal-modal-helper = "includesModalView"
            )
              svg.iconnables
                use(
                  xlink:href = "#icons-options"
                )
              | Include Containers…
    animated-panel(
      name = "addBranch"
    )
      .popover-view.fade(
        ng-class = "{'in': isActivePanel()}"
      )
        .popover-header
          svg.btn.btn-sm.iconnables.icons-arrow-backward(
            ng-class = "{'in': isActivePanel()}"
            ng-click = "goToPanel('branchMenu', 'back');"
          )
            use(
              xlink:href = "#icons-arrow-down"
            )
          | Add Branch
        .popover-content(
          ng-init = "state.branchesLoaded = null"
        )
          .spinner-wrapper.spinner-sm.spinner-gray.spinner-center.in(
            ng-click = "state.branchesLoaded = true"
            ng-if = "!state.branchesLoaded"
            ng-include = "'spinner'"
          )
          .padding-xxs(
            ng-if = "state.branchesLoaded"
          )
            input.input.input-xs.input-search(
              placeholder = "Search"
              required
              type = "search"
            )
          ul.list.popover-list(
            ng-if = "state.branchesLoaded"
          )
            li.list-item.popover-list-item SAN-4377-Cant-add-files
              button.btn.btn-xs.btn-icon.btn-add
                svg.iconnables.icons-add
                  use(
                    xlink:href = "#icons-add"
                  )
            li.list-item.popover-list-item SAN-4342-auto-isolation-setup
              button.btn.btn-xs.btn-icon.btn-add
                svg.iconnables.icons-add
                  use(
                    xlink:href = "#icons-add"
                  )
