// home
.home {

  body {
    background: $purple-dark;
  }

  .layout-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

.home-header {
  background: rgba($purple-dark,.75);
  border-bottom: 1px solid #4d2d67;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 12px 0 6px;
  white-space: nowrap;
  width: 100%;

  .link {
    color: $purple-lighter;
    font-size: 14px;
    line-height: 45px;
    margin: 0 21px;
    text-align: center;
    text-decoration: none;

    @media (max-width: 405px) {
      margin: 0 9px;
    }

    &:hover,
    &:active {
      color: $white;
    }
  }
}

// hero
.home-hero {
  background: url(/build/images/home/hero-bg.svg) no-repeat center top;
  background-size: 900px 395px;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 210px 0 150px;

  @media (max-width: 850px) {
    .br {
      display: none;
    }
  }

  @media (max-width: 600px) {
    flex: 0 0 auto;
  }

  @media (max-width: 500px) {
    padding-top: 90px;
  }

  .logo {
    display: block;
    height: 72px;
    margin: 0 auto 15px;
    width: 390px;

    @media (max-width: 500px) {
      height: auto;
      margin-bottom: 30px;
      width: 60%;
    }
  }

  // h1
  .h1 {
    color: $white;
    font-size: 21px;
    font-style: italic;
    font-weight: 200;
    line-height: 1.4;
    margin: 0 auto;

    @media (max-width: 850px) {
      padding: 0 30px;
      width: 425px;
    }

    @media (max-width: 500px) {
      margin-top: 15px;
      width: auto;
    }
  }

  // columns
  .row {
    margin: 30px auto;
    width: 850px;

    @media (max-width: 850px) {
      width: 425px;
    }

    @media (max-width: 500px) {
      margin: 15px auto;
      width: auto;
    }
  }

  .p {
    color: $purple-lighter;
    float: left;
    font-size: 18px;
    padding: 15px;
    width: 50%;

    @media (max-width: 850px) {
      float: none;
      padding: 15px 30px;
      width: auto;
    }
  }

  .p,
  .small {
    font-weight: 300;
  }

  // modal
  .modal-backdrop {
    background: $black;
    padding: 60px;

    @include media(xs) {
      padding: 60px 0;
    }

    .btn-sm {
      color: $gray-lighter;
      left: -15px;
      line-height: 36px;
      position: absolute;
      top: -$input-md;

      &:hover,
      &:active {
        color: $white;
      }
    }
  }

  .icons-close {
    height: 100%;
  }
}

// row request
.row-request {
  color: $purple-lighter;
  font-size: 16px;
  font-weight: 300;
  text-align: center;

  .btn {
    border-color: $purple-dark;
    display: block;
    font-weight: $weight-normal;
    margin: 3px auto 0;
    width: 210px;

    &:hover:not([disabled]) {
      background: lighten($purple-light,5%);
    }

    &:active:not([disabled]) {
      background: $white;
    }
  }
}

.row-codesnippets {
  color: $purple-lighter;
  font-size: 14px;
  font-weight: 300;
  margin-top: 15px;

  .link {
    color: currentColor;
  }
}

// embed
.embed-preview {
  border: 2px solid $purple-light;
  border-radius: 6px;
  cursor: pointer;
  height: 168px;
  margin: 0 auto 30px;
  overflow: hidden;
  position: relative;
  width: 300px;

  &:hover {

    .link {
      background: $purple-light;
    }

    .preview {
      opacity: .18;
    }
  }

  &:active {
    border-color: $white;
    transition: none;

    .link {
      background: $white;
      border-color: $white;
      color: $purple-light;
      transition: none;
    }

    .path {
      fill: $purple-light;
    }
  }

  .preview {
    background: url(/build/images/home/preview.png) no-repeat center center;
    background-size: 296px 164px;
    height: 164px;
    opacity: .15;
    width: 296px;
  }

  // video
  .link {
    background: rgba($purple-light,.6);
    border: 2px solid $purple-light;
    border-radius: 30px;
    color: rgba($white,.75);
    font-size: 15px;
    height: 32px;
    left: 0;
    line-height: 28px;
    margin: 66px auto;
    padding: 0 9px 0 15px;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
    width: 238px;
  }

  .svg {
    height: 15px;
    position: relative;
    top: 2px;
    width: 24px;
  }

  .path {
    fill: $white;
  }
}

.embed-video {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: $z-modal;

  .iframe {
    height: 100%;
    width: 100%;
  }
}

.home-modal-dialog {
  max-width: 390px;

  .icons-close {
    top: 15px;
  }

  .modal-body {
    padding: 45px 30px 15px;
    text-align: center;

    .h1 {
      color: $gray-dark;
      font-size: 21px;
      line-height: 1.2;
    }

    .btn {
      margin: 15px auto;
    }
  }

  .link {
    color: currentColor;
  }

  .modal-footer {
    color: $gray;
    text-align: center;
  }
}
