.tr.thead.thead-sm.clearfix
  .cell.cell-action
    svg.iconnables
  .cell Name
  .cell.cell-type Type
.tr.tr-action.multi-line.clearfix
  .cell.cell-action
    svg.iconnables.icons-drag
      use(
        xlink:href = "#icons-drag"
      )
  .cell.text-overflow(
    title = "nameOfThing"
  ) nameOfThing
    small.small(
      title = "path/to/thing"
    ) path/to/thing
  .cell.cell-type.small
    svg.iconnables.icons-server
      use(
        xlink:href = "#icons-server"
      )
    | Main Repository
.tr.tr-action.multi-line.clearfix
  .cell.cell-action
    svg.iconnables.icons-drag
      use(
        xlink:href = "#icons-drag"
      )
  .cell.text-overflow(
    title = "nameOfThing"
  ) nameOfThing
    small.small(
      title = "path/to/thing"
    ) path/to/thing
  .cell.cell-type.small
    svg.iconnables.icons-server
      use(
        xlink:href = "#icons-server"
      )
    | File
.tr.tr-action.multi-line.clearfix
  .cell.cell-action
    svg.iconnables.icons-drag
      use(
        xlink:href = "#icons-drag"
      )
  .cell.text-overflow(
    title = "nameOfThing"
  ) nameOfThing
    small.small(
      title = "path/to/thing"
    ) path/to/thing
  .cell.cell-type.small
    svg.iconnables.icons-server
      use(
        xlink:href = "#icons-server"
      )
    | Repository