.help-container(
  ng-if = "helpCards.getActiveCard().helpPopover.containerFiles"
)
  .help(
    ng-bind-html = "helpCards.getActiveCard().helpPopover.containerFiles"
  )

.ng-hide(
  pop-over
  pop-over-active = "CFC.repositoryPopover.active"
  pop-over-actions = "CFC.repositoryPopover.actions"
  pop-over-data = "CFC.repositoryPopover.data"
  pop-over-template = "viewPopoverFilesRepository"
  pop-over-trigger = "activeAttr"
)

.ng-hide(
  pop-over
  pop-over-actions = "CFC.fileUpload.actions"
  pop-over-data = "CFC.fileUpload.data"
  pop-over-template = "viewPopoverFilesUpload"
  pop-over-active = "CFC.fileUpload.active"
  pop-over-trigger = "activeAttr"
)

.ng-hide(
  pop-over
  pop-over-template = "viewPopoverSshKey"
  pop-over-active = "CFC.sshKey.popover.active"
  pop-over-actions = "CFC.sshKey.popover.actions"
  pop-over-trigger = "activeAttr"
)

.clearfix
  .label-col {{ $root.featureFlags.sshKeys ? "Files & SSH Keys" : "Container Files" }}
  .input-col
    button.btn.btn-xs.white.float-right(
      ng-if = "$root.featureFlags.sshKeys"
      pop-over
      pop-over-options = "{\"right\":0,\"top\":35}"
      pop-over-template = "viewPopoverAddFile"
      pop-over-actions = "CFC.actions"
    )
      span.float-left Add…
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
    button.btn.btn-xs.white.float-right(
      ng-click = "CFC.actions.triggerAddRepository()"
      ng-if = "!$root.featureFlags.sshKeys"
    ) Add Repository
    button.btn.btn-xs.white.float-right(
      ng-click = "CFC.actions.triggerUploadFile()"
      ng-if = "!$root.featureFlags.sshKeys"
    ) Upload File

.table(
  ng-include = "'viewFormFilesTable'"
)

.label
  small.small Copy files to the file system of this container (e.g. seed data for a database, or other files that your application expects to have available).