.tr.thead.thead-sm.clearfix
  .cell.cell-action
    svg.iconnables
  .cell Name
  .cell.cell-type Type
//- main repo is not actionable
ul.table-drag-drop(
  dnd-list = "server.containerFiles"
)
  li.tr.multi-line.clearfix(
    dnd-draggable = "containerFile"
    dnd-dragstart = "actions.dragstart()"
    dnd-effect-allowed = "move"
    dnd-moved = "server.containerFiles.splice($index, 1)"
    ng-repeat = "containerFile in server.containerFiles"
  )
    .cell.cell-action(
      dnd-handle
    )
      svg.iconnables.icons-drag
        use(
          xlink:href = "#icons-drag"
        )
    .cell.text-overflow(
      ng-if = "containerFile.type === 'Container File'"
      pop-over
      pop-over-actions = "fileUpload.actions.file"
      pop-over-data = "containerFile"
      pop-over-template = "viewPopoverFilesUpload"
      title = "{{ containerFile.name }}"
    ) {{ containerFile.name }}
      small.small(
        title = "{{ containerFile.path }}"
      ) {{ containerFile.path }}
    .cell.text-overflow(
      ng-if = "containerFile.type === 'repo' || containerFile.type === 'mainrepo'"
      pop-over
      pop-over-actions = "fileUpload.actions.repo"
      pop-over-data = "containerFile"
      pop-over-template = "viewPopoverFilesRepository"
      title = "{{ containerFile.name }}"
    ) {{ containerFile.name }}
      small.small(
        title = "{{ containerFile.path }}"
      ) {{ containerFile.path }}
    .cell.cell-type.small
      //- if repo (main)
      //- svg.iconnables
      //-   use(
      //-     xlink:href = "#icons-repository"
      //-   )
      //- if repo (additional)
      //- svg.iconnables
      //-   use(
      //-     xlink:href = "#icons-repository-additional"
      //-   )
      //- if file
      svg.iconnables
        use(
          xlink:href = "#icons-file"
        )
      | {{ containerFile.type }}
