.ng-hide(
  pop-over
  pop-over-actions = "CFC.repositoryPopover.actions"
  pop-over-active = "CFC.repositoryPopover.active"
  pop-over-data = "CFC.repositoryPopover.data"
  pop-over-template = "viewPopoverFilesRepository"
  pop-over-trigger = "activeAttr"
)

.ng-hide(
  pop-over
  pop-over-actions = "CFC.fileUpload.actions"
  pop-over-active = "CFC.fileUpload.active"
  pop-over-data = "CFC.fileUpload.data"
  pop-over-template = "viewPopoverFilesUpload"
  pop-over-trigger = "activeAttr"
)

.ng-hide(
  pop-over
  pop-over-actions = "CFC.sshKey.popover.actions"
  pop-over-active = "CFC.sshKey.popover.active"
  pop-over-template = "viewPopoverSshKey"
  pop-over-trigger = "activeAttr"
)

.clearfix
  .label-col.float-left-xs Files & SSH Keys
  .input-col.clearfix
    button.btn.btn-xs.white.float-right(
      ng-class = "{'active': filePopover.data.show}"
      pop-over
      pop-over-actions = "CFC.actions"
      pop-over-active = "filePopover.data.show"
      pop-over-options = "{\"right\":0,\"top\":35}"
      pop-over-template = "viewPopoverAddFile"
    )
      span.float-left Add…
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )

.table(
  ng-include = "'viewFormFilesTable'"
)

.label
  small.small Copy files to the file system of this container (e.g. seed data for a database, or other files that your application expects to have available).
