.tr.thead.thead-sm.clearfix
  .cell.cell-action
  .cell Name
  .cell.cell-type Type
.tr.tr-action.clearfix
  .cell.cell-action
    svg.iconnables.icons-drag
      use(
        xlink:href = "#icons-drag"
      )
  .cell.text-overflow(
    title = "nameOfThing"
  ) nameOfThing
  .cell.cell-type
    svg.iconnables.icons-server
      use(
        xlink:href = "#icons-server"
      )
    | Main Repository
.tr.tr-action.clearfix
  .cell.cell-action
    svg.iconnables.icons-drag
      use(
        xlink:href = "#icons-drag"
      )
  .cell.text-overflow(
    title = "nameOfThing"
  ) nameOfThing
  .cell.cell-type
    svg.iconnables.icons-server
      use(
        xlink:href = "#icons-server"
      )
    | File
.tr.tr-action.clearfix
  .cell.cell-action
    svg.iconnables.icons-drag
      use(
        xlink:href = "#icons-drag"
      )
  .cell.text-overflow(
    title = "nameOfThing"
  ) nameOfThing
  .cell.cell-type
    svg.iconnables.icons-server
      use(
        xlink:href = "#icons-server"
      )
    | Repository