.tr.multi-line.clearfix(
  ng-repeat = "containerFile in CFC.state.containerFiles | filter:{type: 'SSH Key'}"
)
  .cell.cell-action.disabled.no-touching
    svg.iconnables.icons-drag
  .cell.text-overflow {{containerFile.name}}
    small.small(
      ng-if = "CFC.sshKey.getFileDate(containerFile)"
      ng-attr-title = "Added {{ CFC.sshKey.getFileDate(containerFile) | moment: 'MMMM D, YYYY, h:mm A Z' }}"
    ) Added {{ CFC.sshKey.getFileDate(containerFile) | moment: 'MMMM D, YYYY' }}
  .cell.cell-type.small
    svg.iconnables.icons-key
      use(
        xlink:href = "#icons-key"
      )
    | SSH Key
  .cell.cell-action
    button.btn.btn-xs.gray(
      pop-over
      pop-over-actions = "CFC.filePopoverActions"
      pop-over-options = "{\"right\":0,\"top\":35}"
      pop-over-template = "viewPopoverFileOptions"
      pop-over-data = "containerFile"
    )
      svg.iconnables.icons-overflow
        use(
          xlink:href = "#icons-overflow"
        )

//- only show if there's > 0 ssh keys AND > 0 files
.tr.thead.clearfix.divider(
  ng-if = "(CFC.state.containerFiles | filter:{type: 'SSH Key'}).length"
)

//- dnd-drop needs this to be a list
ul.table-drag-drop(
  dnd-drop = "CFC.dropContainerFile(event, index, item, type)"
  dnd-list = "CFC.state.containerFiles"
)
  li.tr.multi-line.clearfix(
    dnd-draggable = "containerFile.id"
    dnd-dragstart = "actions.dragstart()"
    dnd-effect-allowed = "move"
    ng-repeat = "containerFile in CFC.state.containerFiles"
    ng-show = "containerFile.type !== 'SSH Key'"
  )
    .cell.cell-action(
      ng-class = "{\
        'disabled': CFC.state.containerFiles.length < 2,\
        'no-touching': CFC.state.containerFiles.length < 2\
      }"
      dnd-handle
    )
      svg.iconnables.icons-drag
        use(
          xlink:href = "#icons-drag"
        )

    //- ssh key feature flag
    .cell.text-overflow(
      title = "{{ containerFile.name }}"
    ) {{ containerFile.name }}
      small.small(
        title = "{{ containerFile.path }}"
      ) /{{ containerFile.path }}

    .cell.cell-type.small
      svg.iconnables(
        ng-if = "containerFile.type === 'File'"
      )
        use(
          xlink:href = "#icons-file"
        )
      svg.iconnables(
        ng-if = "containerFile.type === 'Main Repository'"
      )
        use(
          xlink:href = "#icons-repository"
        )
      svg.iconnables(
          ng-if = "containerFile.type === 'Repository'"
        )
        use(
          xlink:href = "#icons-repository-additional"
        )
      | {{ containerFile.type }}
    .cell.cell-action(
      ng-class = "{'disabled': containerFile.type === 'Main Repository'}"
    )
      button.btn.btn-xs.gray(
        pop-over
        pop-over-actions = "CFC.filePopoverActions"
        pop-over-data = "containerFile"
        pop-over-options = "{\"right\":0,\"top\":35}"
        pop-over-template = "viewPopoverFileOptions"
      )
        svg.iconnables.icons-overflow
          use(
            xlink:href = "#icons-overflow"
          )
