.table.table-merge
  .tr.multi-line.clearfix(
    ng-if = "$root.featureFlags.sshKeys"
  )
    .cell.cell-action.disabled.no-touching
      svg.iconnables.icons-drag
    .cell.text-overflow KeyLabel
      small.small Added May 25, 2000
    .cell.cell-type.small
      svg.iconnables.icons-key
        use(
          xlink:href = "#icons-key"
        )
      | SSH Key
    .cell.cell-action
      button.btn.btn-xs.gray(
        pop-over
        pop-over-active = "fileOptionsPopover.active"
        pop-over-options = "{\"right\":0,\"top\":35}"
        pop-over-template = "viewPopoverFileOptions"
      )
        svg.iconnables.icons-overflow
          use(
            xlink:href = "#icons-overflow"
          )

//- dnd-drop needs this to be a list
ul.table.table-merge(
  dnd-list = "state.containerFiles"
  dnd-drop = "dropContainerFile(event, index, item, type)"
)
  //- only show if there's > 0 ssh keys AND > 0 files
  li.tr.thead.clearfix(
    ng-if = "$root.featureFlags.sshKeys"
  )
  li.tr.multi-line.clearfix(
    dnd-draggable = "containerFile.id"
    dnd-dragstart = "actions.dragstart()"
    dnd-effect-allowed = "move"
    ng-class = "{\
      disabled: (containerFile.type === 'Main Repository' && !$root.featureFlags.sshKeys),\
      'tr-action': (containerFile.type !== 'Main Repository' && !$root.featureFlags.sshKeys)\
    }"
    ng-repeat = "containerFile in state.containerFiles"
  )
    .cell.cell-action(
      ng-class = "{\
        disabled: state.containerFiles.length < 2,\
        'no-touching': state.containerFiles.length < 2\
      }"
      dnd-handle
    )
      svg.iconnables.icons-drag
        use(
          xlink:href = "#icons-drag"
        )

    //- deprecated:
    .cell.text-overflow(
      ng-if = "(containerFile.type === 'File' && !$root.featureFlags.sshKeys)"
      pop-over
      pop-over-actions = "fileUpload.actions"
      pop-over-data = "containerFile"
      pop-over-template = "viewPopoverFilesUpload"
      title = "{{ containerFile.name }}"
    ) {{ containerFile.name }}

    //- ssh key feature flag
    .cell.text-overflow(
      ng-if = "(containerFile.type === 'File' && $root.featureFlags.sshKeys)"
      pop-over
      pop-over-actions = "fileUpload.actions"
      pop-over-data = "containerFile"
      pop-over-template = "viewPopoverFilesUpload"
      title = "{{ containerFile.name }}"
    ) {{ containerFile.name }}

      small.small(
        title = "{{ containerFile.path }}"
      ) /{{ containerFile.path }}
    .cell.text-overflow(
      ng-if = "containerFile.type === 'Repository' || containerFile.type === 'Main Repository'"
      ng-click = "triggerEditRepo(containerFile)"
      title = "{{ containerFile.name }}"
    ) {{ containerFile.name }}
      small.small(
        title = "{{ containerFile.path }}"
      ) /{{ containerFile.path }}
    .cell.cell-type.small
      svg.iconnables(
        ng-if = "containerFile.type === 'File'"
      )
        use(
          xlink:href = "#icons-file"
        )
      svg.iconnables(
        ng-if = "containerFile.type === 'Main Repository'"
      )
        use(
          xlink:href = "#icons-repository"
        )
      svg.iconnables(
          ng-if = "containerFile.type === 'Repository'"
        )
        use(
          xlink:href = "#icons-repository-additional"
        )
      | {{ containerFile.type }}
    .cell.cell-action(
      ng-class = "{'disabled': containerFile.type === 'Main Repository'}"
      ng-if = "$root.featureFlags.sshKeys"
    )
      button.btn.btn-xs.gray(
        pop-over
        pop-over-active = "fileOptionsPopover.active"
        pop-over-options = "{\"right\":0,\"top\":35}"
        pop-over-template = "viewPopoverFileOptions"
      )
        svg.iconnables.icons-overflow
          use(
            xlink:href = "#icons-overflow"
          )