.clearfix
  .label-col Container Files
  .input-col
    button.btn.btn-xs.white.float-right(
      pop-over
      pop-over-options = "{\"left\":0,\"top\":0}"
      pop-over-template = "viewPopoverFilesRepository"
    ) Add Repository
    label.btn.btn-xs.white.float-right(
      for = "input-upload"
    ) Upload File
      //- single file at a time only
      input#input-upload(
        type = "file"
      )

.table(
  ng-include = "'viewFormFilesTable'"
)

small.small Copy files to the file system of this container (e.g. seed data for a database, or other files that your application expects to have available).