.tr.thead.thead-sm.clearfix
  .cell.cell-action
    svg.iconnables
  .cell Name
  .cell.cell-type Type
ul.table-drag-drop(
  dnd-list = "state.containerFiles"
  dnd-drop = "dropContainerFile(event, index, item, type)"
)
  li.tr.multi-line.clearfix(
    dnd-draggable = "containerFile.id"
    dnd-dragstart = "actions.dragstart()"
    dnd-effect-allowed = "move"
    ng-class = "{\
      disabled: containerFile.type === 'Main Repository',\
      'tr-action': containerFile.type !== 'Main Repository'\
    }"
    ng-repeat = "containerFile in state.containerFiles"
  )
    .cell.cell-action(
      ng-class = "{\
        disabled: state.containerFiles.length < 2,\
        'no-touching': state.containerFiles.length < 2\
      }"
      dnd-handle
    )
      svg.iconnables.icons-drag
        use(
          xlink:href = "#icons-drag"
        )
    .cell.text-overflow(
      ng-if = "containerFile.type === 'File'"
      pop-over-old
      pop-over-actions = "fileUpload.actions"
      pop-over-data = "containerFile"
      pop-over-template = "viewPopoverFilesUpload"
      title = "{{ containerFile.name }}"
    ) {{ containerFile.name }}
      small.small(
        title = "{{ containerFile.path }}"
      ) /{{ containerFile.path }}
    .cell.text-overflow(
      ng-if = "containerFile.type === 'Repository' || containerFile.type === 'Main Repository'"
      ng-click = "triggerEditRepo(containerFile)"
      title = "{{ containerFile.name }}"
    ) {{ containerFile.name }}
      small.small(
        title = "{{ containerFile.path }}"
      ) /{{ containerFile.path }}
    .cell.cell-type.small
      svg.iconnables(
        ng-if = "containerFile.type === 'File'"
      )
        use(
          xlink:href = "#icons-file"
        )
      svg.iconnables(
        ng-if = "containerFile.type === 'Main Repository'"
      )
        use(
          xlink:href = "#icons-repository"
        )
      svg.iconnables(
          ng-if = "containerFile.type === 'Repository'"
        )
        use(
          xlink:href = "#icons-repository-additional"
        )
      | {{ containerFile.type }}