.modal-backdrop
  .modal-dialog.modal-sm.modals-rename
    section.modal-body
      svg.iconnables.icons-close(
        ng-click = "defaultActions.cancel()"
      )
        use(
          xlink:href = "#icons-close"
        )
      form.modal-form(
        name = "rename"
      )
        label.label.clearfix
          .label-col Rename Service
          .input-col
            div(
              ng-class = "{\
                'ng-invalid': rename.$error.maxlength,\
                'validate-length': rename.$error.maxlength,\
                'validate-sm': rename.$error.maxlength\
              }"
              ng-attr-data-length = "{{19 - rename.newName.$viewValue.length}}"
            )
              input.input.input-sm.input-validate(
                autocomplete = "off"
                name = "newName"
                ng-init = "title = 'repository-name'"
                ng-maxlength = "19"
                ng-model = "title"
                ng-pattern = "/^[a-zA-Z0-9-]*$/"
                spellcheck = "false"
              )

            ul.list.list-bulleted.list-validation
              li.list-item Choose a unique name for this service
              li.list-item(
                ng-class = "{'ng-invalid': rename.$error.pattern}"
              ) Use letters, numbers, and hyphens (-)
              li.list-item(
                ng-class = "{'ng-invalid': rename.$error.maxlength}"
              ) Use 19 characters or less

            //- auto select-all
            //- autofill with current value & placeholder
            small.small.gray(
              ng-if = "$root.featureFlags.renameContainer"
            ) Your hostname will be updated to
              br
              strong.strong {{rename.newName.$viewValue}}
              | -staging.codenow.runnableapp.com

    footer.modal-footer.clearfix
      button.btn.btn-md.white.float-left(
        ng-click = "defaultActions.close()"
      ) Cancel
      button.btn.btn-md.green.float-right(
        ng-disabled = "!rename.newName.$viewValue.length || rename.$invalid"
      ) Rename Service
