svg.iconnables.icons-branch
  use(
    xlink:href = "#icons-branch-alt"
  )
.grid-block.vertical.noscroll
  .small Branch
  .span master
svg.iconnables.icons-arrow-down
  use(
    xlink:href = "#icons-arrow-down"
  )
