svg.iconnables.icons-branch.margin-right-xxs
  use(
    xlink:href = "#icons-branch-alt"
  )
.grid-block.vertical.noscroll.padding-right-xxs
  .small Branch
  | feature-branch
svg.iconnables.icons-arrow-down(
  ng-if = "!repoMatchesEnvironment"
)
  use(
    xlink:href = "#icons-arrow-down"
  )
