.box-selection {

  // instruction text
  > .h3 {
    margin: 120px auto 30px;
    text-align: center;
  }

  .list {
    margin: 0 auto 30px;
    width: 400px;
  }

  .list-item {
    height: 72px;
    overflow: hidden;
    padding: 0 15px;
    transition: height .2s ease-in;

    &.in {
      height: 144px;

      .iconnables {
        transform: rotate3d(0,0,1,0);
      }
    }
  }

  .list-item-row {
    height: 72px;
    width: 100%;
  }

  .h4 {
    float: left;
    height: 100%;
    line-height: 72px;
  }

  .gray {
    float: right;
    margin: 18px auto;

    .iconnables {
      margin-left: 6px;
      top: 6px;
      transform: rotate3d(0,0,1,-90deg);
    }
  }
}