// .demo-sidebar
.demo-sidebar.demo-sidebar {
  background: $purple;

  .logo {
    margin-top: 30px;
  }

  .row {
    border-bottom: 0;
    margin-bottom: 9px;
  }

  // a.btn.white.btn-icon.btn-actions
  .btn {
    width: 100%;

    .iconnables {
      transform: scale3d(.9,.9,1);
    }

    &:hover .iconnables {
      transform: scale3d(1,1,1);
    }

    + .btn {
      margin-top: 9px;
    }
  }

  .btn-xxs {
    width: auto;
  }

  .icons-git {
    margin-right: 6px;
    top: 6px;
  }

  .template-list {
    text-align: left;
  }

  .sidebar-text {
    color: rgba($white,.9);
  }
}

// .demo-active
.active-panel.demo-active {
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 105px;
  width: calc(100% - 300px);
  z-index: $z-guide;

  .ace-tm,
  .ace-tm .ace_gutter,
  .ace-tm .ace_gutter-active-line {
    background: none;
  }

  .ace_print-margin {
    opacity: 0;
  }

  // highlight active line
  .ace_active-line {
    background: $white !important;
  }
}

.primary-actions.demo-active {
  opacity: 0;
  pointer-events: none;
}