// .demo-sidebar
.demo-sidebar.demo-sidebar {
  background: $purple;

  .logo {
    height: 39px;
  }

  .row {
    border-bottom: 0;
  }

  // a.btn.white.btn-icon.btn-actions
  .btn {

    .iconnables {
      transform: scale3d(.9,.9,1);
    }

    &:hover .iconnables {
      transform: scale3d(1,1,1);
    }
  }

  .icons-git {
    margin-right: 6px;
    top: 6px;
  }

  // a.link.link-white.link-text
  .link-text {
    color: rgba($white,.6);
    font-weight: 300;
    margin-top: 9px;
    text-align: center;
  }
}

.demo-sidebar-hint {
  color: rgba($white,.9);
  font-size: 15px;
  line-height: 1.6;
  padding: 30px 9px 9px;
  text-align: center;

  + .demo-sidebar-hint {
    padding: 9px 9px 21px;
  }
}
