// .demo-sidebar
.demo-sidebar.demo-sidebar {
  background: $gray-lightest;

  .logo {
    color: $gray-lighter;
    height: 90px;
    margin: 21px auto;
  }

  .row {
    border-bottom: 0;
    margin-bottom: 9px;
  }

  .btn {
    margin-top: 12px;

    &.btn-xxs {
      margin: 0;
    }
  }

  .btn-xxs {
    width: auto;
  }

  .btn,
  .sidebar-paragraph {

    + .link {
      margin-top: 12px;
    }
  }

  .template-list {
    text-align: left;
  }
}

// .demo-active
.active-panel.demo-active {
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 105px;
  width: calc(100% - 300px);
  z-index: $z-guide;

  .ace-tm,
  .ace-tm .ace_gutter,
  .ace-tm .ace_gutter-active-line {
    background: none;
  }

  .ace_print-margin {
    opacity: 0;
  }

  // highlight active line
  .ace_active-line {
    background: $white !important;
  }
}