//- header—title, description, progress
.environment-header {
  border-bottom: 1px solid #ccc;
  color: $gray-light;
  margin: 0 15px;
  max-width: 960px;
  padding: 30px 0 15px;

  .btn {
    text-align: left;
  }

  // new server button
  .green {
    padding-right: 6px;

    .icons-arrow-down {
      margin-left: 9px;
    }
  }

  // to servers button
  .gray {
    float: right;
    padding-right: 6px;

    .icons-round {
      float: right;
    }
  }
}

// body—form elements/cards
.environment-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px auto;
  max-width: 960px;
  padding: 0 30px;
}

// card grid
// max-width on config cards
.card-grid {
  justify-content: initial;

  .card {
    margin: 0 auto 12px;
  }
}