//- header—title, description, progress
.environment-header {
  margin: 24px 15px;

  // new server button
  .green {
    display: table;
    margin: 0 auto;
    text-align: left;

    &.hint {
      animation: scale .4s ease;
    }

    .icons-add {
      height: 18px;
      margin: 12px 6px 0 0;
      width: 18px;
    }
  }

  // help button
  > .btn-icon {
    border: 0;
    left: 15px;
    padding: 0 12px;
    position: absolute;

    &:active,
    &.active {
      color: $blue;
    }

    .iconnables {
      height: 100%;
      width: 100%;
    }
  }
}

// body—form elements/cards
.environment-body {
  margin: 15px;
}

// card grid
// max-width on config cards
.card-grid {

  .card {
    float: left;
    height: 448px;
    margin-bottom: 15px;
    min-width: 0;

    + .card {
      margin-left: 15px;
    }

    // center if only child
    &:only-child {
      float: none;
      margin: 0 auto;
    }

    @include media(xxl) {
      width: calc(20% - 12px);

      // on the 6th card + 5 thereafter
      &:nth-child(5n+6) {
        margin-left: 0;
      }
    }

    @include media(xl) {
      width: calc(25% - 12px);

      // on the 6th card + 5 thereafter
      &:nth-child(5n+6) {
        margin-left: 15px;
      }

      // on the 5th card + 4 thereafter
      &:nth-child(4n+5) {
        margin-left: 0;
      }
    }

    @include media(lg) {
      width: calc(33.333% - 10px);

      // on the 6th card + 5 thereafter
      &:nth-child(5n+6) {
        margin-left: 15px;
      }

      // on the 5th card + 4 thereafter
      &:nth-child(4n+5) {
        margin-left: 15px;
      }

      // on the 4th card + 3 thereafter
      &:nth-child(3n+4) {
        margin-left: 0;
      }
    }

    @include media(md) {
      width: calc(50% - 8px);

      // on the 6th card + 5 thereafter
      &:nth-child(5n+6) {
        margin-left: 15px;
      }

      // on the 5th card + 4 thereafter
      &:nth-child(4n+5) {
        margin-left: 15px;
      }

      // on the 4th card + 3 thereafter
      &:nth-child(3n+4) {
        margin-left: 15px; // override media(xl)
      }

      // no the 3rd card + 2 thereafter
      &:nth-child(2n+3) {
        margin-left: 0;
      }
    }

    @include media(xs) {
      width: 100%;

      // on the 6th card + 5 thereafter
      &:nth-child(5n+6) {
        margin-left: 15px;
      }

      // on the 5th card + 4 thereafter
      &:nth-child(4n+5) {
        margin-left: 15px;
      }

      // on the 4th card + 3 thereafter
      &:nth-child(3n+4) {
        margin-left: 15px; // override media(xl)
      }

      // no the 3rd card + 2 thereafter
      &:nth-child(2n+3) {
        margin-left: 0;
      }

      + .card {
        margin-left: 0;
      }
    }
  }
}
