// form.box-name.setup-name
.setup-page-repo-list {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.setup-page-dependency-box {
  width: auto;
  height: auto;
  background: $purple;
  margin-left: auto;
  margin-right: auto;
}