.grace-period,
.welcome {
  width: 100%;

  // runnabear
  .runnabear {
    height: auto;
    margin: 0 auto;
    position: relative;
    width: 180px;
    z-index: 1;

    + .modal-dialog {
      margin-top: -9px;
    }
  }

  // modal
  .modal-dialog {
    color: $gray-dark;
    margin: 30px auto;
  }
}

.modal-dialog.modal-orgs {
  flex-direction: row;
  margin-top: 150px;
  max-width: 870px;
  min-height: 390px;
  overflow: visible;

  > .noscroll {
    position: relative;
  }

  .runnabear {
    left: 0;
    position: absolute;
    right: 0;
    top: -120px;
    width: 230px;
  }

  .h1 {
    font-size: 27px;
  }

  .figure {
    background: linear-gradient($purple-light, $purple-dark);
    border-left: 1px solid $purple-dark;
    border-radius: 0 $input-border-radius-lg $input-border-radius-lg 0;
    box-shadow: inset 0 -1px 0 rgba($white,.1);
    margin: (-$input-border-lg) (-$input-border-lg) (-$input-border-lg) 0;

    .img {
      height: auto;
      width: 450px;
    }
  }

  .footer {
    background: $gray-lightest;
    border-top: 1px solid $gray-lighter;
  }

  .underline {
    cursor: pointer;
  }

  .list {
    flex-wrap: wrap;
    margin: 0 -1%;

    @include media(xxs) {
      margin: 0;
    }
  }

  .list-item {
    border-radius: $input-border-radius-lg;
    display: flex;
    flex: 0 0 48%;
    font-size: 15px;
    height: 60px;
    margin: 4px 1%;

    @include media(xxs) {
      flex: 1 1 100%;
      margin: 4px 0;
    }

    &:only-child {
      flex: 1 1 100%;
    }
  }

  .text-left {
    margin-left: 9px;
  }

  .checkbox {

    &:checked + .btn-add {
      background: $green;
      border-color: $green;
      color: $white;
    }
  }

  .btn-add {
    border-radius: 50%;
    flex: 0 0 auto;
  }
}

.modal-welcome {
  flex: 0 0 auto;
  max-height: none;
  max-width: 480px;

  @include media(xxs) {
    width: auto;
  }

  .modal-body {
    flex: 0 0 auto;
  }

  .p {
    text-align: center;
  }

  .link {
    margin-bottom: 15px;
  }

  // chat
  .icons-intercom::after {
    background-size: 18px;
    height: 18px;
    top: 2px;
    width: 18px;
  }
}
