.grace-period,
.welcome {
  width: 100%;

  // runnabear
  .runnabear {
    height: auto;
    margin: 0 auto;
    position: relative;
    width: 180px;
    z-index: 1;

    + .modal-dialog {
      margin-top: -9px;
    }
  }

  // modal
  .modal-dialog {
    color: $gray-dark;
    margin: 30px auto;
  }
}

.modal-orgs {

  .empty .h3 {
    margin-bottom: 15px;
  }

  .list {

    + .list {
      margin-top: 15px;
    }
  }

  .list-item {
    border-radius: 0;
    font-size: 18px;
    height: 72px;
    font-weight: $weight-normal;

    &:hover {
      z-index: 1;
    }

    &:first-child {
      border-top-left-radius: $input-border-radius-lg;
      border-top-right-radius: $input-border-radius-lg;
    }

    &:last-child {
      border-bottom-left-radius: $input-border-radius-lg;
      border-bottom-right-radius: $input-border-radius-lg;
    }

    + .list-item {
      margin-top: -1px;
    }
  }
}

.modal-welcome {
  flex: 0 0 auto;
  max-height: none;
  max-width: 480px;

  @include media(xxs) {
    width: auto;
  }

  .modal-body {
    flex: 0 0 auto;
  }

  .p {
    text-align: center;
  }

  .link {
    margin-bottom: 15px;
  }

  // chat
  .icons-intercom::after {
    background-size: 18px;
    height: 18px;
    top: 2px;
    width: 18px;
  }
}
