.grace-period {
  width: 100vw;

  .runnabear {
    height: auto;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -120px;
    width: 230px;
    z-index: 1;
  }
}

.modal-welcome {
  flex: 0 0 auto;
  max-height: none;
  max-width: 480px;

  @include media(xxs) {
    width: auto;
  }

  .modal-body {
    flex: 0 0 auto;
  }

  .p {
    text-align: center;
  }

  .link {
    margin-bottom: 15px;
  }

  // chat
  .icons-intercom::after {
    background-size: 18px;
    height: 18px;
    top: 2px;
    width: 18px;
  }
}
