.hero {
  align-items: center;
  background: url(../images/hero.jpg) center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100vw;

  &::after {
    background-image: linear-gradient(rgba($purple,.5),rgba($white,.3));
    content: '';
    display: block;
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: $z-hero-overlay;
  }

  .logo,
  .btn {
    position: relative;
    z-index: $z-hero-content;
  }

  .logo {
    color: $white;
    width: 450px;
  }

  .icons-git {
    float: left;
    height: 54px;
    margin-right: 6px;
  }

  .btn {
    background: rgba($white,.15);
    border: 2px solid $white;
    color: $white;
    font-size: 18px;
    height: 54px;
    line-height: 54px;
    margin-top: 30px;
    text-decoration: none;

    &:hover {
      background: rgba($white,.3);
    }
  }
}