// ui
.img-ui {
  background: $white;
  border: 1px solid rgba($black,.15);
  border-radius: 6px;
  box-shadow: 0 0 30px rgba($black,.06); // same as popovers
  margin: 0 auto;
  overflow: hidden;
  width: 708px;

  @include media(sm) {
    width: 100%;
  }
}

// content wrapper
.ui-wrapper {
  height: 360px;

  // nav
  .nav-servers {
    border-bottom-left-radius: 6px;
    height: 100%;
    padding: 6px;
    width: 180px;

    @include media(sm) {
      display: none;
    }
  }

  // hide save and actions icon
  .btn-icon,
  .primary-actions {
    @include media(xxs) {
      display: none;
    }
  }

  // main
  .content {
    background: $white;
    border-bottom-right-radius: 6px;
    overflow: visible;
    transition: none;
    width: calc(100% - 180px);

    @include media(sm) {
      float: left;
      width: 100%;
    }

    // save button
    .green {
      margin: 12px 0 0;

      @include media(xxs) {
        display: none;
      }
    }
  }

  .server-sidebar {
    height: auto;
    padding: 0;
    width: 210px;

    @include media(sm) {
      width: 180px;
    }

    @include media(xxs) {
      display: none;
    }
  }

  .file-tree {
    margin: 6px 3px;

    // hide arrow-down
    .folder::after {
      display: none;
    }
  }

  // views override
  .views {
    border-bottom-right-radius: 6px;
    height: calc(100% - 60px);
    width: calc(100% - 210px);

    @include media(sm) {
      width: calc(100% - 180px);
    }

    @include media(xxs) {
      border-bottom-left-radius: 6px;
      width: 100%;
    }
  }
}

.ui-header {
  background: $gray-lighterest;
  border-bottom: 1px solid rgba($black,.1);
  border-radius: 3px 3px 0 0;
  height: 30px;
  line-height: 30px;
  padding: 4px 6px 0 3px;
  position: relative;

  .btn-group {
    float: left;
  }

  .icons-arrow-back {
    color: $gray-lighter;
    cursor: default;
    height: 21px;
    padding: 0 2px;
    width: 21px;

    + .icons-arrow-back {
      transform: rotate3d(0,0,1,180deg);
    }
  }

  .input {
    background: url(/build/images/favicon.png) no-repeat $white;
    background-position: 3px center;
    background-size: 12px 12px;
    float: right;
    font-size: 12px;
    height: 21px;
    line-height: 21px;
    padding-left: 18px;
    width: calc(100% - 47px);

    &.favicon-octocat {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><path d='M22.4,7.8c2,2,3,4.5,3.1,7.4c0,2.4-0.7,4.4-2,6.2c-1.3,1.8-3,3-5.1,3.8c-0.3,0-0.4,0-0.6-0.1c-0.1-0.1-0.2-0.2-0.2-0.4l0-2.9c0-0.5-0.1-0.9-0.2-1.2c-0.1-0.3-0.3-0.6-0.5-0.7c1.2-0.1,2.3-0.5,3.3-1.2c1-0.7,1.5-2,1.5-4c0-0.6-0.1-1.1-0.3-1.6c-0.2-0.5-0.4-0.9-0.8-1.3c0.1-0.1,0.2-0.5,0.2-0.9c0.1-0.5,0-1.1-0.3-1.8c0,0-0.2,0-0.7,0c-0.5,0.1-1.2,0.4-2.2,1.1C16.8,10,15.9,9.8,15,9.8c-0.9,0-1.8,0.1-2.6,0.3c-1-0.6-1.7-1-2.2-1.1c-0.5-0.1-0.7-0.1-0.7,0C9.2,9.8,9.1,10.5,9.2,11c0.1,0.5,0.1,0.8,0.2,0.9c-0.3,0.4-0.6,0.8-0.8,1.3c-0.2,0.5-0.3,1-0.3,1.6c0.1,2,0.6,3.3,1.5,4c1,0.7,2.1,1.1,3.3,1.2c-0.2,0.1-0.3,0.3-0.4,0.6c-0.1,0.2-0.2,0.5-0.3,0.9c-0.3,0.2-0.8,0.3-1.4,0.3c-0.6,0-1.2-0.4-1.7-1.1c0,0-0.1-0.2-0.4-0.5c-0.3-0.3-0.7-0.5-1.2-0.6c-0.1,0-0.2,0-0.4,0.1c-0.2,0.1-0.1,0.3,0.3,0.6c0,0,0.1,0.1,0.4,0.3c0.3,0.2,0.5,0.6,0.8,1.2c0,0.1,0.2,0.4,0.7,0.9c0.5,0.5,1.4,0.6,2.9,0.4l0,1.9c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.3,0.2-0.6,0.1c-2.1-0.7-3.8-2-5.1-3.8c-1.3-1.8-2-3.8-2-6.2c0.1-3,1.1-5.5,3.1-7.4c2-2,4.5-3,7.4-3.1C18,4.8,20.5,5.8,22.4,7.8z'/></svg>");
      background-position: 3px 2px;
    }
  }
}

// terminal view
.ui-views-terminal .pre::after {
  animation: cursor-blink 1s infinite;
  background: $white;
  content: '';
  display: inline-block;
  height: 14px;
  left: 3px;
  position: relative;
  top: 2px;
  width: 9px;
}

// editor view
.ui-views-editor > .pre {
  color: #ffafb7; // pink
}

// workflow labels
.workflow-toggle {
  display: flex;
  margin: 30px auto 45px;
  width: 480px;

  @include media(xs) {
    width: 100%;
  }
}

.workflow-toggle-item {
  border: 1px solid rgba($black,.15);
  border-radius: 6px;
  cursor: pointer;
  overflow: hidden;
  width: calc(100% / 3);

  + .workflow-toggle-item {
    margin-left: 12px;
  }

  &:hover,
  &:active,
  &.active {
    border-color: $blue;
  }
}

.workflow-label {
  padding-bottom: 12px;
  text-align: center;
}

// workflow
.img-workflow {
  border-radius: 6px;
  font-size: 12px !important;
  height: 60px;
  margin: 12px auto;
  overflow: hidden;
  padding: 6px 3px;
  position: relative;
  width: 81px;
}

// terminal
.img-workflow-terminal {

  &::after {
    background: $white;
    content: '';
    display: inline-block;
    height: 13px;
    left: 3px;
    position: relative;
    top: 3px;
    width: 7px;
  }
}

// editor
.img-workflow-editor {
  color: #ffafb7 !important; // pink
  font-size: 10px !important;
  padding-left: 10px;
}

// commit
.img-workflow-commits {
  background: $purple-dark;
  color: $white;
  padding: 6px;
}