// configuration images
.img-boxes {
  background: $white;
  border: 1px solid rgba($black,.1);
  border-radius: 6px;
  box-shadow: 0 0 30px rgba($black,.06); // same as popovers
  margin: -90px auto 0;
  overflow: hidden;
  width: 300px;

  // override defaults
  .sub-header {
    background: $white;
    font-weight: 500;
  }

  // larger server rows
  .box-group-item {
    height: 54px;
    line-height: 54px;
    margin: 0;
    padding: 0 6px;
    width: auto;
  }

  .icons-status {
    right: 19px;
    top: 22px;
  }
}

.img-configuration {
  margin: 30px auto 15px;
  width: 414px;

  @include media(xxs) {
    width: 270px;
  }

  .icons-col {
    float: left;
    position: relative;
    width: 66px;

    @include media(xxs) {
      width: 45px;
    }

    // center column for github logo
    &:nth-child(3) {
      height: 150px;
      width: 150px;

      @include media(xxs) {
        height: 90px;
        width: 90px;
      }
    }
  }

  .icons-img {
    display: block;
    filter: grayscale(100%);
    margin: 6px auto;
    opacity: .3;

    // centering rows with only one logo
    &:only-child {
      margin: 42px auto;
    }

    @include media(xxs) {
      height: 45px;
      width: 45px;
    }
  }

  .icons-octocat {
    color: $purple;
    height: 100%;
    width: 100%;
  }
}

// ui
.img-ui {
  background: $white;
  border: 1px solid rgba($black,.15);
  border-radius: 6px;
  box-shadow: 0 0 30px rgba($black,.06); // same as popovers
  margin: 0 auto;
  overflow: hidden;
  width: 808px;
}

.ui-wrapper {
  height: 360px;

  // nav
  .global-sidebar {
    border-bottom-left-radius: 6px;
    height: 100%;
    padding: 6px;
    width: 180px;
  }

  .sub-header {
    color: $gray-light;
    padding-left: 9px;
  }

  .box-group-item {
    width: auto;
  }

  .box-item-name {
    font-weight: 500;
  }

  // main
  .content {
    background: $white;
    border-bottom-right-radius: 6px;
    overflow: visible;
    width: calc(100% - 180px);

    .green {
      margin: 7px 0 0;
    }
  }

  .box-sidebar {
    background: $white;
    height: 100%;
    padding: 0;
    width: 240px;

  }

  .explorer-toggle {
    position: relative;
  }

  .file-tree {
    margin: 15px 0 0 6px;
  }

  .icons-repository {
    height: 45px;
    width: 45px;
  }

  .repository-group-text {
    border: 0;
    padding: 24px 15px 24px 45px;

    &:hover,
    &:active {
      background: transparent;
    }
  }

  // popover
  .popover {
    left: -18px;
    top: 175px;
  }

  .icons-git {
    float: right;
    margin: 0;
    top: 0;
  }

  // views override
  .views {
    width: calc(100% - 240px) !important;
  }
}

.ui-header {
  background: $gray-lightest;
  border-bottom: 1px solid rgba($black,.1);
  border-radius: 3px 3px 0 0;
  height: 30px;
  line-height: 30px;
  padding: 4px 6px 0 3px;
  position: relative;

  .btn-group {
    float: left;
  }

  .icons-arrow-back {
    color: $gray-lighter;
    cursor: default;
    height: 21px;
    padding: 0 2px;
    width: 21px;

    + .icons-arrow-back {
      transform: rotate3d(0,0,1,180deg);
    }
  }

  .input {
    background: url(/build/images/favicon.png) no-repeat $white;
    background-position: 3px center;
    background-size: 12px 12px;
    float: right;
    font-size: 12px;
    height: 21px;
    line-height: 21px;
    padding-left: 18px;
    width: calc(100% - 47px);

    &.favicon-octocat {
      background-image: url(/build/images/icons/github/icons-octocat.svg);
    }
  }
}

// terminal view
.ui-views-terminal .pre::after {
  animation: cursor-blink 1s infinite;
  background: $white;
  content: '';
  display: inline-block;
  height: 14px;
  left: 3px;
  position: relative;
  top: 2px;
  width: 9px;
}

// editor view
.ui-views-editor > .pre {
  color: #ffafb7; // pink
}

// workflow labels
.workflow-toggle {
  display: flex;
  margin: 30px auto 45px;
  width: 480px;
}

.workflow-toggle-item {
  border: 1px solid rgba($black,.15);
  border-radius: 6px;
  cursor: pointer;
  overflow: hidden;
  width: calc(100% / 3);

  + .workflow-toggle-item {
    margin-left: 12px;
  }

  &:hover,
  &:active,
  &.active {
    border-color: $blue;
  }
}

.workflow-label {
  padding-bottom: 12px;
  text-align: center;
}

// workflow
.img-workflow {
  border-radius: 6px;
  font-size: 12px !important;
  height: 60px;
  margin: 12px auto;
  overflow: hidden;
  padding: 6px 3px;
  position: relative;
  width: 81px;
}

// terminal
.img-workflow-terminal {

  &::after {
    background: $white;
    content: '';
    display: inline-block;
    height: 13px;
    left: 3px;
    position: relative;
    top: 3px;
    width: 7px;
  }
}

// editor
.img-workflow-editor {
  color: #ffafb7 !important; // pink
  font-size: 10px !important;
  padding-left: 10px;
}

// commit
.img-workflow-commits {
  background: $purple-dark;
  color: $white;
  padding: 6px;
}

// pull request
.img-pull {
  background: $white;
  border: 1px solid rgba($black,.1);
  border-radius: 3px;
  box-shadow: 0 0 30px rgba($black,.06); // same as popovers
  margin: 0 auto;
  width: 330px;
}

.pull-body {
  padding: 18px 6px;
  position: relative;

  .green,
  .well,
  .p {
    border-radius: 3px;
    font-size: 16px;
    margin: 0;
    text-align: left;
  }

  .green {
    display: inline-block;
    font-size: 12px;
    opacity: .75;
    padding-left: 0;
  }

  .icons-pull-request {
    float: left;
    height: 22px;
    margin-right: 3px;
    width: 24px;
  }

  .img {
    border-radius: 3px;
    display: block;
    left: -39px;
    position: absolute;
    top: 6px;
  }

  .well {
    background: $white;
    border: 1px solid rgba($black,.15);
    border-radius: 3px;
    box-shadow: 0 0 30px rgba($black,.06); // same as popovers
    color: $gray-darker;
    margin: 6px 0 0 -30px;
    padding: 0;
    position: relative;
    width: 390px;

    &::before,
    &::after {
      border-bottom: 10px solid transparent;
      border-right: 10px solid #eaeaea; // .gray on white;
      border-top: 10px solid transparent;
      content: '';
      display: block;
      height: 0;
      left: -10px;
      position: absolute;
      top: 9px;
      width: 0;
    }

    &::before {
      border-right: 11px solid rgba($gray-darker,.3);
      left: -11px;
    }

    .gray {
      border: 0;
      border-bottom: 1px solid rgba($black,.1);
      color: $gray-darker;
      padding-left: 9px;
    }

    .p {
      max-width: none;
      padding: 9px 9px 12px;
    }
  }

  .web-link {
    color: $blue;
    cursor: default;
    font-weight: 500;
    text-decoration: underline;
  }
}

// docker
.img-docker-terminal, {
  border: 1px solid rgba($black,.1);
  border-radius: 3px;
  box-shadow: 0 0 30px rgba($black,.06); // same as popovers
  height: 210px;
  margin: 30px auto 0;
  padding: 9px;
  width: 540px;

  @include media(xs) {
    width: 100%;
  }

  // blinks only on focus
  &:focus {
    outline: 0;

    &::after {
      animation: cursor-blink 1s infinite;
      visibility: visible;
    }
  }

  // blink cursor
  &::after {
    animation: cursor-blink 1s infinite;
    background: $gray-darker;
    content: '';
    display: block;
    height: 18px;
    visibility: hidden;
    width: 9px;
  }

  // docker logo
  .img {
    bottom: 12px;
    display: block;
    position: absolute;
    right: 9px;
  }
}
