// configuration images
.img-boxes {
  background: $white;
  border: 1px solid rgba($black,.1);
  border-radius: 6px;
  box-shadow: 0 0 30px rgba($black,.06); // same as popovers
  margin: -90px auto 0;
  overflow: hidden;
  width: 300px;

  // override defaults
  .sub-header {
    background: $white;
    font-weight: 500;
  }

  // larger server rows
  .box-group-item {
    height: 54px;
    line-height: 54px;
    margin: 0;
    padding: 0 6px;
    width: auto;
  }

  .icons-status {
    right: 19px;
    top: 22px;
  }
}

.img-configuration {
  margin: 30px auto 15px;
  width: 414px;

  @include media(xxs) {
    width: 270px;
  }

  .icons-col {
    float: left;
    position: relative;
    width: 66px;

    @include media(xxs) {
      width: 45px;
    }

    // center column for github logo
    &:nth-child(3) {
      height: 150px;
      width: 150px;

      @include media(xxs) {
        height: 90px;
        width: 90px;
      }
    }
  }

  .icons-img {
    display: block;
    filter: grayscale(100%);
    margin: 6px auto;
    opacity: .3;

    // centering rows with only one logo
    &:only-child {
      margin: 42px auto;
    }

    @include media(xxs) {
      height: 45px;
      width: 45px;
    }
  }

  .icons-octocat {
    color: $purple;
    height: 100%;
    width: 100%;
  }
}

// pull request
.img-pull {
  background: $white;
  border: 1px solid rgba($black,.1);
  border-radius: 3px;
  box-shadow: 0 0 30px rgba($black,.06); // same as popovers
  margin: 0 auto;
  width: 330px;
}

.pull-body {
  padding: 18px 6px;
  position: relative;

  .green,
  .well,
  .p {
    border-radius: 3px;
    font-size: 16px;
    margin: 0;
    text-align: left;
  }

  // pull-request button
  .green {
    display: inline-block;
    font-size: 12px;
    opacity: .75;
    padding-left: 0;
  }

  .icons-pull-request {
    float: left;
    height: 22px;
    margin-right: 3px;
    width: 24px;
  }

  // runnable logo
  .img {
    border-radius: 3px;
    display: block;
    left: -39px;
    position: absolute;
    top: 6px;
  }

  // pull request comment
  .well {
    background: $white;
    border: 1px solid rgba($black,.15);
    border-radius: 3px;
    box-shadow: 0 0 30px rgba($black,.06); // same as popovers
    color: $gray-darker;
    margin: 6px 0 0 -30px;
    padding: 0;
    position: relative;
    width: 390px;

    @include media(sm) {
      margin-left: 39px;
      width: 300px;
    }

    // arrow
    &::before,
    &::after {
      border-bottom: 10px solid transparent;
      border-right: 10px solid #eaeaea; // .gray on white;
      border-top: 10px solid transparent;
      content: '';
      display: block;
      height: 0;
      left: -10px;
      position: absolute;
      top: 9px;
      width: 0;
    }

    &::before {
      border-right: 11px solid rgba($gray-darker,.3);
      left: -11px;
    }

    // comment header
    .gray {
      border: 0;
      border-bottom: 1px solid rgba($black,.1);
      color: $gray-darker;
      padding-left: 9px;
    }

    // comment content
    .p {
      max-width: none;
      padding: 9px 9px 12px;
    }
  }

  // "your server" link
  .web-link {
    color: $blue;
    cursor: default;
    font-weight: 500;
    text-decoration: underline;
  }
}

// docker
.img-docker-terminal, {
  border: 1px solid rgba($black,.1);
  border-radius: 3px;
  box-shadow: 0 0 30px rgba($black,.06); // same as popovers
  height: 210px;
  margin: 30px auto 0;
  padding: 9px;
  width: 540px;

  @include media(xs) {
    width: 100%;
  }

  // blinks only on focus
  &:focus {
    outline: 0;

    &::after {
      animation: cursor-blink 1s infinite;
      visibility: visible;
    }
  }

  // blink cursor
  &::after {
    animation: cursor-blink 1s infinite;
    background: $gray-darker;
    content: '';
    display: block;
    height: 18px;
    visibility: hidden;
    width: 9px;
  }

  // docker logo
  .img {
    bottom: 12px;
    display: block;
    position: absolute;
    right: 9px;
  }
}
