// main.home
.home {

  // h1.h1, h2.h2, h3.h3
  .h1,
  .h2,
  .h3 {
    text-align: center;
  }

  // p
  .p {
    font-size: 18px;
  }

  // no underline by default
  .link-text {
    text-decoration: underline;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  .col {
    float: left;
    margin: 0 auto;
    width: 100%;

    @include media(xs) {
      margin-bottom: 30px;
    }

    &.col-60 {
      width: 60%;
    }

    &.col-50 {
      width: 50%;
    }

    &.col-40 {
      width: 40%;
    }

    &.col-30 {
      width: 30%;
    }

    @include media(sm) {
      &[class*='col-'] {
        float: none;
        width: 100%;
      }
    }

    &.flex-center {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .green {
    display: table;
    margin: 15px auto 0;

    &.btn-xl {
      margin-top: 90px;
    }
  }

  .btn-soon {
    cursor: default;
    display: table;
    font-family: 'Source Code Pro', monospace !important;
    line-height: 1;
    margin: 9px auto 0;
    opacity: .6;
  }

  // .hr
  .hr {
    background: transparent;
    height: 36px;
    margin: 90px auto;
    position: relative;
    width: 700px;

    @include media(sm) {
      margin: 45px auto;
      width: 90vw;
    }

    &.hr-single {

      &::before {
        width: 100%;
      }

      &::after {
        display: none;
      }
    }

    &::before,
    &::after {
      background: rgba($black,.075);
      content: '';
      display: block;
      height: 2px;
      margin: 17px 0;
      position: absolute;
      width: 300px;

      @include media(sm) {
        width: calc(45vw - 50px);
      }
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }

    .hr-text,
    .hr-image {
      left: 0;
      position: absolute;
      right: 0;
    }

    .hr-text {
      color: $gray-lighter;
      font-size: 30px;
      line-height: 36px;
      text-align: center;
    }

    .hr-image {
      display: block;
      margin: 0 auto;
    }
  }
}

// section.home-hero
.home-hero {
  background: linear-gradient($purple, $purple-dark);
  color: $white;
  height: 540px;
  padding-top: 60px;
  position: relative;

  @include media(xxs) {
    height: 420px;
    padding-top: 30px;
  }

  .h1,
  .h3 {
    padding: 0 30px;

    @include media(xxs) {
      padding: 0 15px;
    }
  }

  .h3 {
    color: $purple-logo;
    line-height: 1.2;
    margin-top: 6px;
  }
}

// header.home-header
.home-header {
  height: 45px;
  line-height: 45px;
  margin: 0 auto 150px;
  max-width: 960px;

  @include media(xs) {
    margin-bottom: 90px;
  }

  @include media(xxs) {
    margin-bottom: 150px;
  }

  // a.logo
  .logo {
    float: left;
    height: 45px;
  }

  // nav.home-nav
  .home-nav {
    float: right;
    margin-right: 15px;
  }

  // a.link.link-text
  .link {
    color: $purple-logo;
    display: inline-block;
    padding: 0 12px;

    &:last-child {
      font-weight: 500;
    }

    + .link {
      margin-left: 12px;
    }
  }
}

// section.home-feature
.home-feature {
  margin: 0 auto;

  .feature {
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
  }

  .p {
    margin: 6px auto 0;
    max-width: 360px;
    text-align: center;
  }

  .col {
    margin: 0 auto;
  }
}

// section.feature.feature-configuration
.feature-configuration {
  max-width: 960px;
}

// section.feature.feature-commits
.feature-commits {
  max-width: 960px;

  .col-50 {
    height: 286px;
  }

  .h2,
  .p {
    margin: 0;
    text-align: left;

    @include media(sm) {
      margin: 0 auto;
      text-align: center;
    }
  }

  .popover-list {
    margin: 0;
  }

  .repository-group-item {
    display: table;
    margin: 0 auto;
    padding-left: 6px;
    padding-right: 45px;
  }

  .icons-git {
    float: right;
    margin-right: 0;
    opacity: .6;
    position: relative;
    top: -4px;
  }
}

// section.feature.feature-fork
.feature-fork {
  max-width: 960px;

  .h2,
  .p {
    margin: 0;
    text-align: left;

    @include media(sm) {
      margin: 0 auto;
      text-align: center;
    }
  }

  .btn {
    display: table;
    margin: 12px auto 0;

    @include media(sm) {
      margin: 33px auto;
    }
  }

  .icons-fork {
    margin-right: 6px;
  }
}

// section.feature.feature-prototype
.feature-prototype {
  max-width: 960px;

  .workflow-toggle {
    margin: 30px auto;
  }
}

// section.feature.feature-github
.feature-github {
  max-width: 960px;
  position: relative;

  .flex-center {
    height: 178px;
  }

  .header-thin {
    line-height: 1.2;
  }
}

// section.feature.feature-soon
.feature-soon .col > .img {
  display: block;
  margin: 30px auto 15px;
  width: 360px;

  @include media(xxs) {
    width: 100%;
  }
}

// footer.home-footer
.home-footer {
  padding-bottom: 210px;

  @include media(xs) {
    padding-bottom: 150px;
  }
}

// nav.footer-nav
.footer-nav {
  display: table;
  margin: 36px auto 0;

  @include media(xs) {
    margin-top: 15px;
  }

  .link {
    color: $gray-light;
    font-size: 18px;
    margin: 0 12px;
    padding: 0 12px;
    text-decoration: underline;

    &:hover,
    &:active {
      text-decoration: none;
    }

    @include media(xs) {
      display: block;
      margin: 15px 0;
      text-align: center;
    }
  }
}

// invites
.home-invite .home-hero {
  height: 100vh;
}