// main.home
.home {

  // h1.h1, h2.h2, h3.h3
  .h1,
  .h2,
  .h3 {
    text-align: center;
  }

  // p
  .p {
    font-size: 18px;
  }

  // no underline by default
  .link-text {
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  .col {
    float: left;
    margin: 0 auto;
    width: 100%;

    @include media(xs) {
      margin-bottom: 30px;
    }

    &.col-50 {
      width: 50%;
    }

    &.col-40 {
      width: 40%;
    }

    &.col-30 {
      width: 30%;
    }
  }

  .green {
    display: table;
    margin: 15px auto 0;

    &.btn-xl {
      margin-top: 90px;
    }
  }

  .btn-xs.gray {
    cursor: default;
    display: table;
    font-family: 'Source Code Pro', monospace !important;
    line-height: 1;
    margin: 9px auto 0;
    opacity: .6;
  }

  // .hr
  .hr {
    height: 36px;
    margin: 90px auto;
    position: relative;
    width: 700px;

    @include media(sm) {
      width: 90vw;
    }

    &.hr-single {

      &::before {
        width: 100%;
      }

      &::after {
        display: none;
      }
    }

    &::before,
    &::after {
      background: rgba($black,.075);
      content: '';
      display: block;
      height: 2px;
      margin: 17px 0;
      position: absolute;
      width: 300px;

      @include media(sm) {
        width: calc(45vw - 50px);
      }
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }

    .hr-text,
    .hr-image {
      left: 0;
      position: absolute;
      right: 0;
    }

    .hr-text {
      color: $gray-lighter;
      font-size: 30px;
      line-height: 36px;
      text-align: center;
    }

    .hr-image {
      display: block;
      margin: 0 auto;
    }
  }
}

// section.home-hero
.home-hero {
  background: linear-gradient($purple, $purple-dark);
  color: $white;
  height: 540px;
  padding-top: 60px;
  position: relative;

  @include media(xs) {
    height: 480px;
  }

  @include media(xxs) {
    height: 450px;
  }

  .h1,
  .h3 {
    padding: 0 15px;
  }

  .h3 {
    color: $purple-logo;
    line-height: 1.2;
    margin-top: 6px;
  }
}

// header.home-header
.home-header {
  height: 45px;
  line-height: 45px;
  margin: 0 auto 150px;
  max-width: 960px;

  @include media(xs) {
    margin-bottom: 90px;
  }

  // a.logo
  .logo {
    float: left;
    height: 45px;
  }

  // nav.home-nav
  .home-nav {
    float: right;
    margin-right: 15px;
  }

  // a.link.link-text
  .link {
    color: $purple-logo;
    display: inline-block;
    padding: 0 12px;

    &:last-child {
      font-weight: 500;
    }

    + .link {
      margin-left: 12px;
    }
  }
}

// section.home-feature
.home-feature {
  margin: 0 auto;

  .feature {
    margin-left: auto;
    margin-right: auto;
  }

  .h2 {
    font-size: 32px;
  }

  .p {
    margin: 0 auto;
    max-width: 360px;
    text-align: center;
  }

  .col {
    margin: 0 auto;
  }
}

// section.feature.feature-protype
.feature-protype {
  margin-top: -150px;
  max-width: 960px;

  .h2 {
    margin-top: 60px;
  }

  .row.ace-tm {
    margin: 0 auto;
    max-width: 720px;
  }
}

// section.feature.feature-workflow
.feature-workflow {
  max-width: 960px;
  position: relative;

  .header-thin {
    line-height: 1.2;
    margin: 0 auto;
    max-width: 390px;
  }

  .row {
    margin-bottom: 90px;

    &:nth-child(2) {

      .h3 {
        margin-top: 60px;
      }
    }

    &:last-child {
      margin-bottom: 0;
      margin-top: 120px;

      > .img {
        display: block;
        margin: 0 auto 12px;
      }
    }
  }
}

// section.feature.feature-configuration
.feature-configuration {
  max-width: 960px;
}

// section.home-callout
.home-callout {
  background: linear-gradient($purple-dark, $purple);
  color: $white;
  margin: 180px 0;
  padding: 60px 0 120px;
  position: relative;

  @include media(sm) {
    max-height: none;
  }

  .row {
    margin: 0 auto;
    max-width: 960px;
  }

  .h1 {
    margin-bottom: 60px;

    .span {
      color: $purple-logo;
      font-size: 27px;
    }

    @include media(sm) {
      margin-bottom: 45px;
    }
  }

  .col {
    padding: 0 45px;
  }

  .h3 {
    color: $purple-logo;
    margin-bottom: 9px;
  }

  .p {
    text-align: center;
  }

  .img {
    bottom: -60px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
  }
}

// section.feature.feature-soon
.feature-soon .col > .img {
  display: block;
  margin: 30px auto 15px;
  width: 360px;
}

// footer.home-footer
.home-footer {
  margin-top: 240px;
  padding-bottom: 210px;

  @include media(xs) {
    padding-bottom: 150px;
  }
}

// nav.footer-nav
.footer-nav {
  display: table;
  margin: 36px auto 0;

  @include media(xs) {
    margin-top: 15px;
  }

  .link {
    color: $gray-lighter;
    font-size: 18px;
    margin: 0 12px;
    padding: 0 12px;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }

    @include media(xs) {
      display: block;
      margin: 15px 0;
      text-align: center;
    }
  }
}