// configuration
.img-configuration {
  margin: 120px auto 30px;
  width: 414px;

  .icons-col {
    float: left;
    position: relative;
    width: 66px;

    &:nth-child(3) {
      height: 150px;
      width: 150px;
    }
  }

  .icons-img {
    display: block;
    filter: grayscale(100%);
    margin: 6px auto;
    opacity: .3;

    &:only-child {
      margin: 42px auto;
    }
  }

  .icons-repository {
    color: $gray-lighter;
    display: block;
    float: left;
    height: 154px;
    margin: 0 auto;
    width: 120px;
  }

  .icons-octocat {
    color: $purple;
    height: 150px;
    width: 150px;
  }
}

// notifications
.img-notification {
  background: #f0f0f0; // osx
  border: 1px solid rgba($black,.1);
  border-radius: 6px;
  box-shadow: 0 0 30px rgba($black,.06); // same as popovers
  color: #4d4d4d; // osx
  height: 66px;
  margin: 30px auto 0;
  padding: 15px;
  width: 330px;

  + .img-notification {
    margin-top: 15px;
  }

  .img {
    float: left;
    margin-right: 12px;
  }

  .h4,
  .p {
    font-size: 12px;
  }

  .h4 {
    font-weight: 500;
    margin: -6px 0 3px;
  }

  .p {
    font-weight: 300;
    height: 36px;
    overflow: hidden;
    text-align: left;
  }
}

// pull request
.img-pull {
  background: $white;
  border: 1px solid rgba($black,.1);
  border-radius: 3px;
  box-shadow: 0 0 30px rgba($black,.06); // same as popovers
  margin: 0 auto;
  width: 330px;
}

.pull-header {
  background: $gray-lightest;
  border-bottom: 1px solid rgba($black,.1);
  border-radius: 3px 3px 0 0;
  height: 30px;
  line-height: 30px;
  padding: 4px 6px 0 3px;
  position: relative;

  .btn-group {
    float: left;
  }

  .btn {
    color: $gray-lighter;
    cursor: default;
    height: 21px;
    padding: 0 2px;
  }

  .icons-arrow-back {
    height: 21px;
    width: 21px;
  }

  .btn + .btn .icons-arrow-back {
    transform: rotate3d(0,0,1,180deg);
  }

  .icons-octocat {
    color: $gray-lighter;
    height: 19px;
    margin: 0 3px;
    width: 18px;
  }

  .input-group {
    height: 21px;
    left: 6px;
  }

  .input {
    background: transparent;
    height: 21px;
  }
}

.pull-body {
  padding: 18px 6px;
  position: relative;

  .green,
  .well,
  .p {
    border-radius: 3px;
    font-size: 16px;
    margin: 0;
    text-align: left;
  }

  .green {
    display: inline-block;
    font-size: 12px;
    opacity: .75;
    padding-left: 0;
  }

  .icons-pull-request {
    float: left;
    height: 22px;
    margin-right: 3px;
    width: 24px;
  }

  .img {
    border-radius: 3px;
    display: block;
    left: -39px;
    position: absolute;
    top: 6px;
  }

  .well {
    background: $white;
    border: 1px solid rgba($black,.15);
    border-radius: 3px;
    box-shadow: 0 0 30px rgba($black,.06); // same as popovers
    color: $gray-darker;
    margin: 6px 0 0 -30px;
    padding: 0;
    position: relative;
    width: 390px;

    &::before,
    &::after {
      border-bottom: 10px solid transparent;
      border-right: 10px solid #eaeaea; // .gray on white;
      border-top: 10px solid transparent;
      content: '';
      display: block;
      height: 0;
      left: -10px;
      position: absolute;
      top: 9px;
      width: 0;
    }

    &::before {
      border-right: 11px solid rgba($gray-darker,.3);
      left: -11px;
    }

    .gray {
      border: 0;
      border-bottom: 1px solid rgba($black,.1);
      color: $gray-darker;
      padding-left: 9px;
    }

    .p {
      max-width: none;
      padding: 9px 9px 12px;
    }
  }

  .web-link {
    color: $blue;
    cursor: default;
    font-weight: 500;
    text-decoration: underline;
  }
}

// workflow
.img-workflow {
  border: 1px solid rgba($black,.1);
  border-bottom: 0;
  border-radius: 6px 6px 0 0;
  float: left;
  height: 150px;
  margin: 60px auto 0;
  overflow: visible;
  position: relative;
  width: 300px;

  &:last-child {
    float: right;
  }

  &::before {
    background: rgba($black,.15);
    bottom: -2px;
    content: '';
    display: block;
    height: 2px;
    margin: 0 auto;
    position: absolute;
    width: 420px;
  }

  .img {
    border-radius: 50%;
    bottom: -30px;
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    z-index: 1;
  }
}

// terminal
.img-workflow-terminal {
  padding: 15px;

  &:focus {
    outline: 0;

    &::after {
      animation: cursor-blink 1s infinite;
      visibility: visible;
    }
  }

  &::before {
    left: -60px;
  }

  &::after {
    background: $white;
    content: '';
    display: inline-block;
    height: 18px;
    left: 3px;
    position: relative;
    top: 3px;
    visibility: hidden;
    width: 9px;
  }
}

// editor
.img-workflow-editor {

  &::before {
    right: -60px;
  }

  .file-tree,
  .ace-editor {
    float: left;
    height: 100%;
    width: 50%;
  }

  .file-tree {
    background: $white;
    border-right: 1px solid rgba($black,.1);
    border-top-left-radius: 6px;
    padding: 6px 3px;
  }

  .folder,
  .file {
    cursor: default;
  }

  .pre {
    border-top-right-radius: 6px;
    color: #ffafb7; // pink
    font-size: 10px !important;
    height: 100%;
  }
}

// .img-workflow-link
.img-workflow-link {
  background: $green;
  border-radius: 50%;
  bottom: -18px;
  color: $white;
  height: 36px;;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 36px;
  z-index: 1;

  .icons-link {
    height: 100%;
    padding: 6px;
    width: 100%;
  }
}

// docker
.img-docker-terminal, {
  border: 1px solid rgba($black,.1);
  border-radius: 3px;
  box-shadow: 0 0 30px rgba($black,.06); // same as popovers
  height: 210px;
  margin: 30px auto 0;
  padding: 9px;
  width: 570px;

  &:focus {
    outline: 0;

    &::after {
      animation: cursor-blink 1s infinite;
      visibility: visible;
    }
  }

  &::after {
    animation: cursor-blink 1s infinite;
    background: $gray-darker;
    content: '';
    display: block;
    height: 18px;
    visibility: hidden;
    width: 9px;
  }

  .img {
    bottom: 12px;
    display: block;
    position: absolute;
    right: 9px;
  }
}
