// main.home
.home {

  // h1.h1, h2.h2, h3.h3
  .h1,
  .h2,
  .h3 {
    text-align: center;
  }

  // p
  .p {
    font-size: 18px;
  }

  // no underline by default
  .link-text {
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  .col {
    float: left;
    margin: 0 auto;
    width: 100%;

    @include media(xs) {
      margin-bottom: 30px;
    }

    &.col-50 {
      width: 50%;
    }

    &.col-40 {
      width: 40%;
    }

    &.col-30 {
      width: 30%;
    }
  }

  .btn-xl {
    display: table;
    margin: 30px auto 0;
  }

  // .hr
  .hr {
    height: 36px;
    margin: 90px auto;
    position: relative;
    width: 700px;

    @include media(sm) {
      width: 90vw;
    }

    &.hr-single {

      &::before {
        width: 100%;
      }

      &::after {
        display: none;
      }
    }

    &::before,
    &::after {
      background: rgba($black,.075);
      content: '';
      display: block;
      height: 2px;
      margin: 17px 0;
      position: absolute;
      width: 300px;

      @include media(sm) {
        width: calc(45vw - 50px);
      }
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }

    .hr-text,
    .hr-image {
      left: 0;
      position: absolute;
      right: 0;
    }

    .hr-text {
      color: $gray-lighter;
      font-size: 30px;
      line-height: 36px;
      text-align: center;
    }

    .hr-image {
      display: block;
      margin: 0 auto;
    }
  }
}

// header.home-header
.home-header {
  height: 45px;
  line-height: 45px;
  margin: 0 auto 180px;
  max-width: 960px;

  // a.logo
  .logo {
    float: left;
    height: 45px;
  }

  // nav.home-nav
  .home-nav {
    float: right;
    margin-right: 15px;
  }

  // a.link.link-text
  .link {
    color: $purple-logo;
    display: inline-block;
    padding: 0 12px;

    &:last-child {
      font-weight: 500;
    }

    + .link {
      margin-left: 12px;
    }
  }
}

// section.home-hero
.home-hero {
  background: linear-gradient($purple, $purple-dark);
  color: $white;
  height: 720px;
  padding-top: 60px;
  position: relative;

  @include media(xxs) {
    height: 450px;
  }

  .h3 {
    color: $purple-logo;
    font-size: 24px;
    line-height: 1.2;
    margin-top: 6px;
  }

  // restyle instance list
  .list {
    background: $white;
    border: 1px solid rgba($black,.1);
    border-radius: 6px;
    bottom: -30px;
    box-shadow: 0 0 30px rgba($black,.12); // same as popovers
    height: 164px;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    transition: height .2s ease-in;
    width: 300px;

    &.in {
      height: 218px;
    }
  }

  .list-item {
    color: $gray-dark;
    cursor: default;
    height: 54px;
    line-height: 54px;
    margin: 0;
    padding-left: 15px;
    width: 300px;

    &:hover,
    &:active {
      background: transparent;
    }
  }

  .icons-status {
    height: 12px;
    right: 18px;
    top: 21px;
    width: 12px;
  }
}

// section.home-feature
.home-feature {
  margin: 0 auto;

  .h2 {
    font-size: 32px;
  }

  .p {
    margin: 0 auto;
    max-width: 360px;
    text-align: center;
  }

  .col {
    margin: 0 auto;
  }
}

// section.feature.feature-configuration
.feature-configuration {
  margin: 0 auto;
  max-width: 960px;
}

// section.feature.feature-workflow
.feature-workflow {
  margin: 0 auto;
  max-width: 1200px;

  .col-40 {
    padding: 51px 75px;
  }

  .col-30:last-child {
    padding: 17px 0;
  }
}

// section.feature-protype
.feature-protype {

  .h2 {
    margin-top: 30px;
  }

  .col {
    float: none;
    margin: 0 auto;
    max-width: 690px;
  }

  .img-workflow {
    margin-top: 90px;
  }
}

// section.home-callout
.home-callout {
  background: linear-gradient($purple-dark, $purple);
  color: $white;
  margin: 180px 0;
  padding: 120px 0;

  @include media(sm) {
    max-height: none;
  }

  .row {
    margin: 0 auto;
    max-width: 960px;
  }

  .h2 {
    margin-bottom: 90px;

    @include media(sm) {
      margin-bottom: 45px;
    }
  }

  .col {
    padding: 0 45px;
  }

  .h3 {
    color: $purple-logo;
    margin-bottom: 9px;
  }

  .p {
    text-align: center;
  }
}

// footer.home-footer
.home-footer {
  margin-top: 240px;
  padding-bottom: 210px;

  @include media(xs) {
    padding-bottom: 150px;
  }
}

// nav.footer-nav
.footer-nav {
  display: table;
  margin: 36px auto 0;

  @include media(xs) {
    margin-top: 15px;
  }

  .link {
    color: $gray-lighter;
    font-size: 18px;
    margin: 0 12px;
    padding: 0 12px;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }

    @include media(xs) {
      display: block;
      margin: 15px 0;
      text-align: center;
    }
  }
}