// .landing
.landing,
.landing #wrapper {
  height: auto;
  min-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

// header.landing-hero
.landing-hero {
  background: url(../images/hero-grid-static.png) $purple center center;
  background-size: 1440px 600px;
  color: $white;
  height: 500px;
  width: 100vw;
}

// div.hero-grid
.hero-grid {
  height: 500px;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

// div.grid-layer
.grid-layer {
  background-size: 1440px 600px;
  height: 40vh;
  min-height: 500px;
  position: absolute;
  top: 0;
  width: 100vw;

  &.layer-one {
    background: url(../images/hero-grid-layer-1.png) center center;
  }

  &.layer-two {
    background: url(../images/hero-grid-layer-2.png) center center;
  }

  &.layer-three {
    background: url(../images/hero-grid-layer-3.png) center center;
  }
}

// nav.landing-nav
.landing-nav {
  height: 60px;
  width: 100%;

  // a.link
  .link {
    color: $white;
    display: inline-block;
    float: right;
    height: 60px;
    line-height: 60px;
  }
}

// a.logo
.logo {
  float: left;
  height: 40px;
  margin: 10px 0;
}

// h1.hero-text
.hero-text {
  font-weight: 500;
}

// section.landing-section
.landing-section {
  height: 500px;
}

// .hero {
//   align-items: center;
//   background: url(../images/hero.jpg) center center no-repeat;
//   background-size: cover;
//   display: flex;
//   flex-direction: column;
//   height: 100vh;
//   justify-content: center;
//   position: relative;
//   width: 100vw;

//   &::after {
//     background-image: linear-gradient(rgba($purple,.5),rgba($white,.3));
//     content: '';
//     display: block;
//     height: 100vh;
//     left: 0;
//     position: absolute;
//     top: 0;
//     width: 100vw;
//     z-index: $z-hero-overlay;
//   }

//   .logo,
//   .btn {
//     position: relative;
//     z-index: $z-hero-content;
//   }

//   .logo {
//     color: $white;
//     height: 150px;
//     margin-top: -150px;
//     width: 450px;

//     @include media(xxs) {
//       height: auto;
//       max-width: 100%;
//     }
//   }

//   .icons-git {
//     float: left;
//     height: 54px;
//     margin-right: 6px;
//   }

//   .btn {
//     background: rgba($white,.15);
//     border: 2px solid $white;
//     color: $white;
//     font-size: 18px;
//     height: 54px;
//     line-height: 54px;
//     margin-top: 30px;
//     text-decoration: none;

//     @include media(xxs) {
//       margin-top: 0;
//     }

//     &:hover {
//       background: rgba($white,.3);
//     }
//   }
// }