// reset overflow for .landing
.landing,
.landing #wrapper {
  height: auto;
  min-width: 360px;
  overflow-x: hidden;
  overflow-y: auto;
}

// landing header
// header.hero
.hero {
  background: url(../images/home/hero-grid-static.png) $purple center center;
  background-size: 1440px 600px;
  color: $white;
  height: 450px;
  min-width: 360px;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

// div.hero-bg
.hero-bg {
  background-size: 1440px 600px;
  height: 450px;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: $z-hero-layers;

  &.layer-one {
    background: url(../images/home/hero-grid-layer-1.png) center center;
  }

  &.layer-two {
    background: url(../images/home/hero-grid-layer-2.png) center center;
  }
}

// nav.hero-nav
.hero-nav {
  height: 60px;
  position: relative;
  width: 100%;
  z-index: $z-hero-content;

  // a.btn-hero
  .btn-hero {
    display: inline-block;
    float: right;
    margin-right: 30px;

    @include media(xxs) {
      display: none;
    }

    @include media(xs) {
      display: none;
    }
  }
}

// a.logo
.logo {
  float: left;
  height: 40px;
  margin: 10px 0;

  @include media(xxs) {
    float: none;
  }

  @include media(xs) {
    float: none;
  }
}

// div.hero-wrapper
.hero-wrapper {
  height: 320px;
  margin-top: 120px;
  position: relative;
  z-index: $z-hero-content;
}

// h1.hero-text
.hero-text {
  font-size: 39px;
  font-weight: 500;
  margin: 0;
  text-align: center;

  @include media(xs) {
    padding: 0 15px;
  }

  @include media(xxs) {
    padding: 0 15px;
  }
}

// p.hero-text-sub
.hero-text-sub {
  color: $white;
  font-size: 19px;
  font-weight: 300;
  margin: 0;
  text-align: center;

  @include media(xs) {
    padding: 0 15px;
  }

  @include media(xxs) {
    padding: 0 15px;
  }
}

// button.btn-hero
.btn-hero {
  background: rgba($white,.15);
  color: $white;
  display: table;
  font-weight: 300;
  height: 36px;
  line-height: 36px;
  margin: 15px auto 0;
  text-decoration: none;

  &:hover,
  &:active {
    background: rgba($white,.3);
  }
}

// landing features
// section.landing-features
.landing-features {
  margin: 0 auto;
  max-width: 1020px;
}

// div.feature
.feature {
  display: block;
  float: left;
  padding: 60px 30px 30px;
  text-align: center;
  width: calc(100%/3);

  @include media(xxs) {
    float: none;
    width: 100%;
  }

  @include media(xs) {
    float: none;
    width: 100%;
  }
}

//- feature-repo-book icon
.feature-repo {
  height: 72px;
  width: 92px;
}

// h2.feature-header
.feature-header {
  font-size: 21px;
  margin: 12px 0 0;
}

// p.feature-description
.feature-description {
  margin: 0 6px;
}

// section.landing-callout
.landing-callout {
  margin: 30px auto 0;
  max-width: 600px;
  text-align: center;

  @include media(xxs) {
    img {
      width: 100%;
    }
  }

  @include media(xs) {
    img {
      width: 100%;
    }
  }
}

// a.btn.green.btn-cta
.btn-cta {
  margin: 0 0 150px;

  .icons-git {
    float: left;
    height: 45px;
    margin-right: 9px;
    width: 21px;
  }
}

// form.input-group.input-cta
.input-cta {
  height: 54px;
  margin: 60px auto 120px;
  position: relative;
  width: 450px;

  .input {
    height: 100%;
    padding-left: 9px;
    padding-right: 100px;
    text-align: center;
    width: 100%;;
  }

  .btn-cta {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 93px;
  }
}

// footer.landing footer
.landing-footer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 0 60px;
  text-align: center;

  .footer-text,
  .link {
    color: $gray-light;
  }

  .icons-runnable {
    color: $gray-light;
    margin: 0 30px;
  }
}