// input.setup-box-name
.setup-box-name {
  margin-left: -9px;
  width: 390px;
}

// .guide (in repo-list)
.guide {
  background: rgba($blue,.1);
  border: 2px dashed rgba($blue,.2);
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  margin: 9px 6px 15px;

  .iconnables {
    float: left;
    margin: 12px 9px 0;
  }

  &.guide-no-help {
    cursor: default;

    &:hover,
    &:active,
    &.active {
      background: rgba($blue,.1);
      border-color: rgba($blue,.2);
    }
  }
}

.sidebar-validation {

  .list-group {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    letter-spacing: 0;
    margin: 0 auto;
  }

  .list-group-item {
    @extend .orange;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    padding: 3px 6px;
    white-space: nowrap;

    &:last-child {
      border-bottom: 1px solid rgba($orange,.3);
    }

    &:hover,
    &:active,
    &.active {
      border-color: rgba($orange,.3);
    }
  }
}

// .validate-wrapper
.validate-wrapper {
  display: inline-block;
  height: 36px;
  left: 9px;
  position: relative;
  top: -3px;
  width: 270px;
}