// step 1—repository-selection
.step-1 {

  .card {
    padding: 15px;
    width: 392px; // width dimensions for loading
  }

  // search
  .input-search {
    background-color: $white;
    background-position: calc(50% - 53px) 6px;
    border-color: $purple-lighter;
    color: $gray;
    font-weight: 500;
    margin-bottom: 8px;
    padding-left: calc(50% - 40px);
    width: 360px;

    &:focus,
    &:valid {
      background-position: 6px;
      padding-left: 30px;
    }
  }

  // repository list
  .list {
    width: 360px;
  }

  .list-item {
    border: 1px solid transparent;
    border-radius: 3px;
    font-weight: 500;
    margin: 3px 0 0;
    padding: 6px 15px;

    &:hover {
      background: $white;
      border-color: $purple-lighter;
    }

    &:active,
    &.active {
      background: $white;
      border-color: currentColor;
      color: $green;

      .small {
        color: currentColor;
      }
    }
  }

  .small {
    color: $purple-lighter;
  }
}

// step 3—env setup
.step-3 {

  .list-item {
    color: $purple-light;
    font-size: 14px;
    margin: 0 auto 6px;
    padding: 0 30px;

    &.active {

      .icons-server {
        color: $purple-light;
      }
    }

    &.active:not(.current) {

      .icons-check {
        display: block;
      }
    }
  }

  .icons-server {
    color: $purple-lighter;
    height: 18px;
    margin-right: 6px;
    top: 3px;
    width: 18px;
  }

  .icons-check {
    background: $purple-light;
    border-radius: 50%;
    bottom: 0;
    color: $white;
    display: none;
    height: 15px;
    left: 24px;
    position: absolute;
    width: 15px;
  }

  // .list-item.list-item {
  //   border: 1px solid transparent;
  //   border-radius: 3px;
  //   display: block;
  //   height: 36px;
  //   line-height: 36px;
  //   margin: 3px 15px 0;

  //   &:hover:not(.current) {
  //     border-color: rgba($black,.15);
  //   }

  //   &:active:not(.current),
  //   &.active {
  //     background: $white;
  //     border-color: $green;
  //   }

  //   .icons-server {
  //     color: $gray-light;
  //     height: 18px;
  //     margin: 9px 6px 0 0;
  //     position: static;
  //     transform: none;
  //     width: 18px;
  //   }

  //   .small {
  //     color: $gray-light;
  //     float: right;
  //     line-height: 39px; // align baseline
  //   }

  //   .btn-xs {
  //     right: 6px;
  //     top: 6px;
  //   }
  // }
}

// viewModalGSEnvs
// plz create a separate file for this when it's named properly
// .modal-gs-envs {

//   .input-group {
//     padding: 0 0 0 15px;
//   }

//   .input {
//     padding: 0;
//   }

//   .input-divider {
//     color: $gray-light;
//     padding: 0 12px;
//   }

//   .icons-server {
//     color: $gray-light;
//     height: 100%;
//   }

//   .btn-sm {
//     float: right;
//     margin: 6px 9px;
//   }

//   .modal-footer {
//     margin-top: 15px;
//   }
// }