.setup {

  .sidebar {
    overflow-y: auto;
    padding-bottom: 30px;
  }

  .orange {
    margin: 0 15px;
    width: calc(100% - 30px);
  }

  #tabs-wrapper a {
    padding-right: 18px;
  }
}

#setup-repo {
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: 15px;

  .input-container {
    position: relative;
    z-index: $z-show;

    > .btn-icon {
      color: $gray-dark;
      position: absolute;
      right: 6px;
      top: 0;
    }

    > .active {
      transform: scale3d(0,0,0);
    }
  }

  .popover.in ~ .input-container {

    .active {
      transform: scale3d(1,1,1);
    }

    .inactive {
      transform: scale3d(0,0,0);
    }
  }

  .popover {
    background: rgba(255,255,255,.9);
    border: 0;
    box-shadow: none;
    height: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    transition: opacity .15s ease-in-out;
    width: 100%;

    &.in {
      opacity: 1;
    }

    .vertical-list {
      max-height: calc(100% - 51px);
      overflow: auto;
    }

    li {
      background: #fff;
      cursor: pointer;
      padding: 0 15px;

      &.in .icons-check {
        transform: scale3d(1,1,1);
      }
    }

    button {
      margin: 15px 0;
      width: 100%;
    }

    .icons-check {
      color: $green;
      float: right;
      top: 6px;
      transform: scale3d(0,0,0);
    }
  }

  .popover-content {
    height: 100%;
    overflow: hidden;
    padding: 66px 15px 15px;
  }
}

#added-repos {

  > li {
    overflow: hidden;

    &:first-child {
      margin-top: 15px;
    }
  }

  button {
    color: $gray-dark;
    float: right;
    height: 35px;
    opacity: .5;
    width: 24px;

    &:hover {
      opacity: .75;
    }

    &:active {
      color: $orange;
      opacity: 1;
    }
  }

  .icons-delete {
    height: 15px;
    top: -2px;
    width: 15px;
  }

  // label {
  //   font-weight: 300;
  //   height: 36px;
  //   line-height: 33px;
  //   margin: 0;
  //   position: relative;
  //   width: 100%;
  //   z-index: 1;

  //   &:last-child .form-control {
  //     border-top: 1px solid rgba(0,0,0,.1);
  //   }

  //   > span {
  //     line-height: 36px;
  //     padding-left: 15px;
  //     position: relative;
  //     z-index: $z-show;
  //   }
  // }

  // .form-control {
  //   border: 0;
  //   border-radius: 0;
  //   bottom: 0;
  //   margin: 0;
  //   padding-left: 72px;
  //   position: absolute;
  // }
}

#setup-template {

  .form-group {
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    margin: 15px;
  }

  label {
    height: 36px;
    line-height: 36px;
  }
}