//- container, fill height
.setup-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow-y: auto;

  .spinner-wrapper {
    align-items: center;
    flex: 1 1 auto;
  }
}

//- header—title, description, progress
.setup-header {
  padding-top: 60px;

  .h1 {
    font-size: 36px;
    text-align: center;
  }

  .p {
    font-size: 18px;
    text-align: center;
  }
}

// body—form elements/cards
.setup-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px auto;
  padding: 0 30px;
}

// footer—navigation
.setup-footer {
  animation: fade-in .3s ease-in forwards;
  background: $gray-lightest;
  border-top: 2px solid $gray-lighter;
  flex: 0 0 auto;
  height: 60px;
  padding: 6px 15px;
  transform: translate3d(0,60px,0);
  width: 100vw;

  // next
  .green {
    float: right;
  }

  // back
  .gray {
    float: left;
  }

  .icons-arrow-forward {
    background: $white;
    border-radius: 50%;
    color: $green;
    height: 18px;
    margin-left: 6px;
    top: 3px;
    width: 18px;
  }
}

.footer-container {
  max-width: 960px;
}

// card grid
// max-width on config cards
.card-grid {
  justify-content: initial;

  .card {
    margin: 0 6px 12px;
    max-width: 270px;
  }
}