.setup-header {

  .h1 {
    font-size: 36px;
    margin-top: 60px;
    text-align: center;
  }

  .p {
    font-size: 16px;
    margin-bottom: 21px;
    text-align: center;
  }
}

.setup-body {
  display: flex;
  justify-content: center;
}

.setup-footer {
  display: flex;
  justify-content: center;
  margin-top: 21px;
  max-width: 960px;

  .btn + .btn {
    margin-left: 9px;
  }
}