// form.box-name.setup-name
.setup-name {
  height: 60px;
  line-height: 60px;

  // .validate-wrapper
  .validate-wrapper {
    display: inline-block;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    position: relative;
    top: 11px;
    width: 300px;

    &.invalid-require {
      font-size: 14px;
      line-height: 1.2;
    }
  }
}

// input.setup-name-input
.setup-name-input {
  margin-left: -9px;
  width: 288px;
}

.guide-alert-setup {
  bottom: 9px;
  left: 12px;
  opacity: 1;
  pointer-events: auto;
  position: absolute;
  top: auto;

  .icons-close {
    margin: 0;
  }
}