// step 1—repository-selection
.step-1 {

  .card {
    padding: 15px;
    width: 392px; // width dimensions for loading
  }

  // search
  .input-search {
    background-color: $white;
    background-position: calc(50% - 53px) 6px;
    border-color: $purple-lighter;
    color: $gray;
    font-weight: 500;
    margin-bottom: 8px;
    padding-left: calc(50% - 40px);
    width: 360px;

    &:focus,
    &:valid {
      background-position: 6px;
      padding-left: 30px;
    }
  }

  // repository list
  .list {
    width: 360px;
  }

  .list-item {
    border: 1px solid transparent;
    border-radius: 3px;
    font-weight: 500;
    margin: 3px 0 0;
    padding: 6px 15px;

    &:hover {
      background: $white;
      border-color: $purple-lighter;
    }

    &:active,
    &.active {
      background: $white;
      border-color: currentColor;
      color: $green;

      .small {
        color: currentColor;
      }
    }
  }

  .small {
    color: $purple-lighter;
  }
}

// step 3—env setup
.step-3 {

  .list-item {
    color: $purple-light;
    font-size: 14px;
    margin: 0 auto 6px;
    padding: 0 30px;

    &.active {

      .icons-server {
        color: $purple-light;
      }
    }

    &.active:not(.current) {

      .icons-check {
        display: block;
      }
    }

    &.small {
      color: $purple-lighter;
      pointer-events: none;
    }

    .btn-badge {
      float: left;
      margin-right: 6px;
    }

    .icons-server {
      color: $purple-lighter;
    }
  }

  .icons-check {
    background: $purple-light;
  }
}