// step 1—repository-selection
.step-1 {

  .card {
    padding: 15px;
    width: 392px; // width dimensions for loading
  }

  // search
  .input-search {
    background-position: calc(50% - 53px) 6px;
    margin-bottom: 8px;
    padding-left: calc(50% - 40px);
    width: 360px;

    &:focus,
    &:valid {
      background-position: 6px;
      padding-left: 30px;
    }
  }

  // repository list
  .list {
    width: 360px;
  }

  .list-item {
    border: 1px solid transparent;
    border-radius: 3px;
    margin: 3px 0 0;
    padding: 6px 15px;

    &:hover {
      border-color: rgba($black,.15);
    }

    &:active,
    &.active {
      background: $white;
      border-color: $green;
    }
  }
}

// step 2—server setup
.step-2 {

  // max-width on config cards
  .card {
    margin: 0 6px 12px;
    max-width: 270px;
  }
}

// step 3—env setup
.step-3 {

  .small {
    text-align: right;
  }

  .list-item.list-item {
    border: 1px solid transparent;
    border-radius: 3px;
    display: block;
    height: 36px;
    line-height: 36px;
    margin: 3px 15px 0;

    &:hover:not(.current) {
      border-color: rgba($black,.15);
    }

    &:active:not(.current),
    &.active {
      background: $white;
      border-color: $green;
    }

    .icons-server {
      color: $gray-light;
      height: 18px;
      margin: 9px 6px 0 0;
      position: static;
      transform: none;
      width: 18px;
    }

    .small {
      color: $gray-light;
      float: right;
      line-height: 39px; // align baseline
    }

    .btn-xs {
      right: 6px;
      top: 6px;
    }
  }
}

// viewModalGSEnvs
// plz create a separate file for this when it's named properly
.modal-gs-envs {

  .input-group {
    padding: 0 0 0 15px;
  }

  .input {
    padding: 0;
  }

  .input-divider {
    color: $gray-light;
    padding: 0 12px;
  }

  .icons-server {
    color: $gray-light;
    height: 100%;
  }

  .btn-sm {
    float: right;
    margin: 6px 9px;
  }

  .modal-footer {
    margin-top: 15px;
  }
}