//- header—title, description, progress
.setup-header {
  padding-top: 60px;

  .h1 {
    font-size: 36px;
    text-align: center;
  }

  .p {
    font-size: 16px;
    text-align: center;
  }
}

// body—form elements/cards
.setup-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 21px auto;
  padding: 0 30px;
}

// footer—navigation
.setup-footer {
  display: flex;
  justify-content: center;

  .btn + .btn {
    margin-left: 9px;
  }
}

// card grid
// max-width on config cards
.card-grid .card {
  margin: 0 6px 12px;
  max-width: 270px;
}