#build-stream-header {
  float: left;
  width: 254px;

  input {
    margin-bottom: 9px;
  }

  button {
    width: 50%;

    &:only-child {
      width: 100%;
    }
  }
}

#build-stream {
  border-bottom: 0;
  margin: 0;

  tr:last-child > td {
    border-bottom: 0;
  }

  .btn-sm {
    display: none;
    width: 55px;
  }
}

.table-scroll {
  height: 100%;
  overflow-y: scroll;
  width: calc(100% - 254px);
}