.sub-header {
  border-bottom: 1px solid rgba(0,0,0,.1);
  height: 54px;
  line-height: 54px;

  h1 {
    color: $gray-dark;
    display: inline-block;
    float: left;
    font-size: 18px;
    font-weight: 600;
    height: 54px;
    line-height: 54px;
    padding: 0 15px;
    position: relative;
    text-align: center;

    &.build-header {
      text-indent: -30px;
    }

    &.divided-header {
      border-right: 1px solid rgba(0,0,0,.1);
      width: 270px;
    }

    > .iconnables-container{
      margin-right: 3px;
      top: 6px;

      > object {
        position: absolute;
        top: 0;
        left: 0;
        transition: transform .15s;

        &.icons-asterisk {
          left: 4px;
        }

        &.ng-enter {
          transform: scale3d(0,0,0);
        }

        &.ng-enter-active {
          transform: scale3d(1,1,1);
        }

        &.ng-leave-active {
          transform: scale3d(0,0,0);
        }
      }
    }

    > .inline-edit {
      color: $gray-dark;
      font-size: 18px;
      font-weight: 600;
      margin-top: 8px;
      text-align: center;
    }

    > .icons-back {
      position: absolute;
        top: 14px;
        right: 20px;
    }
  }

  .recipe {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    margin-left: 6px;
    min-width: 120px;
    padding-left: 9px;
    position: relative;
    text-align: left;

    > .arrow-down {
      right: 10px;
      top: 15px;
    }
  }

  .btn-group object {
    height: 24px;
    margin-right: 4px;
    position: relative;
      top: 5px;
    width: 24px;
  }

  .popover {
    left: -34px;
    top: 28px;
    transform-origin: 50% 0;
  }
}

// build-stream
#build-stream-header {

  .btn-group,
  > .search {
    float: right;
    margin: 8px 15px;
  }

  > .search {
    margin-left: 0;
    width: 270px;
  }

  .btn-group > button {

    &:first-child {
      padding-left: 6px;
    }

    &:last-child {
      padding-right: 6px;
    }

    > object {
      height: 20px;
      margin: 0;
      position: relative;
        top: 4px;
      width: 20px;
    }
  }
}

#build-stream {
  margin: 0;

  tr:last-child > td {
    border-bottom: 0;
  }

  td:nth-child(2),
  th:nth-child(2) {
    padding-left: 0;
  }

  th:last-child {
    text-align: right;
  }

  .btn-sm {
    display: none;
  }

  object {
    height: 24px;
    pointer-events: none;
    position: relative;
      top: 5px;
    width: 24px;
  }

  .tooltip {
    cursor: pointer;
    float: right;

    &::before {
      left: auto;
      right: 0;
      top: 40px;
    }

    &::after {
      top: 34px;
    }
  }
}

// main-controls
#main-controls {
  float: left;
  padding: 0 15px;
  width: calc(100% - 270px);

  > button,
  > input {
    float: left;
    margin: 8px 9px 0 0;
    transition: transform .15s;

    &.ng-enter {
      transform: translate3d(0,-54px,0);
    }

    &.ng-enter-active {
      transform: translate3d(0,0,0);
    }

    &.ng-leave-active {
      transform: translate3d(0,-54px,0);
    }
  }

  > input {
    width: 270px;
  }
}