.welcome {
  padding-top: 210px;

  // transitions for animated panel
  .fade {
    transition: opacity .15s ease-in;
  }

  // images
  .img {
    display: block;
    left: 0;
    margin: 0 auto;
    right: 0;
    position: absolute;
    top: 60px;
  }

  // modal
  .modal-dialog {
    color: $gray-dark;
    margin: 0 auto 30px;
    width: 420px;
  }

  .h3 {
    margin: 15px 0;
    text-align: center;
  }

  .p {
    color: $gray;
    display: block;
    margin: 0 auto 30px;
    max-width: 300px;
    text-align: center;
  }

  .list-requirements {
    background: $white;
    border: 1px solid $gray-lighter;
    border-radius: $input-border-radius-lg;

    .list-item {
      height: 60px;
      padding: 12px 9px;

      + .list-item {
        border-top: 1px solid $gray-lighter;
      }

      .svg {
        fill: $gray-light;
        float: left;
        height: 30px;
        margin: 2px 12px 0 0;
        width: 30px;
      }

      .h4 {
        font-size: 16px;
      }

      .p {
        font-size: 13px;
        margin: 1px 0 0;
        max-width: none;
        text-align: left;
      }
    }
  }

  // footer
  .footer {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 30px 0 60px;

    .svg {
      height: 24pxpx;
      width: 24px;
    }

    .link {
      color: $gray-light;
      font-size: 13px;
      text-align: center;
      text-decoration: none;
      width: 120px;

      &:hover,
      &:active {
        color: $purple-light;
      }
    }
  }
}