.welcome {
  padding-top: 210px;

  // transitions for animated panel
  .animated-panel-container {
    transition: height .15s ease-in-out;
  }

  .fade {
    transition: opacity .15s ease-in;
  }

  // runnabear
  .runnabear {
    display: block;
    left: 0;
    margin: 0 auto;
    right: 0;
    position: absolute;
    top: 60px;
  }

  // modal
  .modal-dialog {
    color: $gray-dark;
    margin: 0 auto 30px;
    width: 420px;
  }

  .h3 {
    margin: 15px 0;
    text-align: center;
  }

  .p {
    color: $gray;
    display: block;
    margin: 0 auto 30px;
    max-width: 300px;
    text-align: center;
  }

  .input-wrapper {
    position: relative;

    .input {

      &:focus ~ .spinner-wrapper .path {
        stroke: $purple-light;
      }

      &.loading {
        padding-right: 30px;
      }
    }

    .spinner {
      position: absolute;
      right: 12px;
      top: 13px;
    }
  }

  // github auth button
  .btn-center {
    display: table;
    float: none;
    margin: 0 auto 15px;
    min-width: 90px;
  }

  // footer
  .footer {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 30px 0 60px;

    .iconnables {
      margin: 0 15px;
    }

    .link {
      color: $gray-light;
      font-size: 13px;
      text-align: center;
      text-decoration: none;
      width: 90px;

      &:hover,
      &:active {
        color: $purple-light;
      }
    }
  }
}

// panels
// name taken messaging
.panel-name .alert {
  display: block;
  line-height: 22px;
  margin: 9px 0 0;
  text-align: center;

  .btn {
    margin-left: 9px;
  }
}

.panel-auth {

  // github auth
  .list-requirements {
    background: $white;

    .list-item {
      height: 60px;
      padding: 12px 9px;

      .svg {
        fill: $gray-light;
        float: left;
        height: 30px;
        margin: 2px 12px 0 0;
        width: 30px;
      }

      .h4 {
        font-size: 16px;
      }

      .p {
        font-size: 13px;
        margin: 1px 0 0;
        max-width: none;
        text-align: left;
      }
    }
  }

  // github icon
  .icons-github {
    float: left;
    height: 38px;
    margin-right: 6px;
  }
}

.panel-orgs {

  .p {
    margin-bottom: 15px;
  }

  .input-search {
    margin-bottom: 15px;
    transition: all .25s;
    width: 210px;

    &.out {
      height: 0;
      margin-bottom: 0;
      min-height: 0;
      opacity: 0;
    }
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .list-item {
    // variables used to calculate flexbox grid
    $gutter: 1%;
    $col-1: 100% - ($gutter * 2); // 100% - ($gutter * [left + right margins])
    $col-2: (100% - ($gutter * 2 * 2)) / 2; // (100% - ($gutter * [left + right margins] * [li]) / [li])
    $col-3: (100% - ($gutter * 2 * 3)) / 3; // (100% - ($gutter * [left + right margins] * [li]) / [li])

    border: 0; // replace borders with box-shadow to reduce transition complexity
    box-shadow: inset 0 0 0 $input-border $gray-lighter;
    flex: 0 0 $col-3;
    font-size: 15px;
    height: 90px;
    line-height: 1; // reset line-height from .btn
    margin: $gutter;
    padding: 15px 6px;
    transition: flex .25s, height .25s;

    @include media(xs) {
      flex: 0 0 $col-2;
      margin: $gutter;
    }

    &:hover {
      box-shadow: inset 0 0 0 $input-border $gray-light;
    }

    &:active {
      box-shadow: inset 0 0 0 $input-border $purple-light;
    }

    &.js-animate {

      // initial active styles
      &.active-add {
        flex: 0 1 $col-3;
        height: 90px;
      }

      // ending active styles
      &.active {
        flex: 0 1 $col-1;
        height: 225px;
      }

      // initial inactive styles
      &.inactive-add {
        flex: 0 1 $col-3;
        height: 90px;
        margin: $gutter;
        opacity: 1;
        padding: 15px 6px;
        transition:
          flex .25s,
          height .25s,
          margin .25s,
          opacity .15s,
          padding .25s;

        &:nth-child(3n) {
          flex: 1 1 100%;
        }
      }

      // ending inactive styles
      &.inactive {
        flex: 0 1 0;
        height: 0;
        margin: 0;
        opacity: 0;
        padding: 0;

        &:nth-child(3n) {
          flex: 1 1 100%;
        }
      }

      // leaving inactive transition
      &.inactive-remove,
      &.inactive-remove-active {
        transition:
          flex .25s,
          height .25s,
          margin .25s,
          opacity .5s,
          padding .25s;
      }
    }

    // if selected
    &.active {
      box-shadow: inset 0 0 0 $input-border $purple-light;
      cursor: default;

      .img {
        height: 60px;
        margin-bottom: 15px;
        margin-top: 9px;
        width: 60px;
      }
    }

    // cancel button
    .icons-close {
      position: absolute;
      right: 6px;
      top: 6px;
    }

    // gravatar
    .img {
      display: block;
      margin: 0 auto 6px;
      transition: all .25s;
    }

    // details text
    .small {
      display: block;
      margin-top: 3px;
    }

    // confirm button
    .green {
      position: relative;
      right: auto;
    }
  }
}