.welcome {
  padding-top: 210px;

  // transitions for animated panel
  .animated-panel-container {
    transition: height .15s ease-in-out;
  }

  .fade {
    transition: opacity .15s ease-in;
  }

  // runnabear
  .runnabear {
    display: block;
    left: 0;
    margin: 0 auto;
    right: 0;
    position: absolute;
    top: 60px;
  }

  // modal
  .modal-dialog {
    color: $gray-dark;
    margin: 0 auto 30px;
    width: 420px;
  }

  .h3 {
    margin: 15px 0;
    text-align: center;
  }

  .p {
    color: $gray;
    display: block;
    margin: 0 auto 30px;
    max-width: 300px;
    text-align: center;
  }

  .input-wrapper {
    position: relative;

    .input {

      &:focus ~ .spinner-wrapper .path {
        stroke: $purple-light;
      }

      &.loading {
        padding-right: 30px;
      }
    }

    .spinner {
      position: absolute;
      right: 12px;
      top: 13px;
    }
  }

  // github auth button
  .btn-center {
    display: table;
    float: none;
    margin: 0 auto 15px;
    min-width: 90px;
  }

  // footer
  .footer {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 30px 0 60px;

    .iconnables {
      margin: 0 15px;
    }

    .link {
      color: $gray-light;
      font-size: 13px;
      text-align: center;
      text-decoration: none;
      width: 90px;

      &:hover,
      &:active {
        color: $purple-light;
      }
    }
  }
}

// panels
// name taken messaging
.panel-name .alert {
  display: block;
  line-height: 22px;
  margin: 9px 0 0;
  text-align: center;

  .btn {
    margin-left: 9px;
  }
}

.panel-auth {

  // github auth
  .list-requirements {
    background: $white;
    border: 1px solid $gray-lighter;
    border-radius: $input-border-radius-lg;

    .list-item {
      height: 60px;
      padding: 12px 9px;

      + .list-item {
        border-top: 1px solid $gray-lighter;
      }

      .svg {
        fill: $gray-light;
        float: left;
        height: 30px;
        margin: 2px 12px 0 0;
        width: 30px;
      }

      .h4 {
        font-size: 16px;
      }

      .p {
        font-size: 13px;
        margin: 1px 0 0;
        max-width: none;
        text-align: left;
      }
    }
  }

  // github icon
  .icons-github {
    float: left;
    height: 38px;
    margin-right: 6px;
  }
}

.panel-orgs {

  .p {
    margin-bottom: 15px;
  }

  .input-search {
    margin-bottom: 15px;
    width: 210px;
  }

  .list-item {
    font-size: 15px;
    height: 90px;
    line-height: 1; // reset line-height from .btn
    margin: 4px;
    padding: 15px 6px;
    transition: all .3s ease-in-out;
    width: 120px;

    @include media(xs) {
      height: 60px;
      line-height: 36px;
      margin: 3px;
      padding: 9px 15px;
      text-align: left;
      width: calc(50% - 6px);
    }

    &.js-animate {

      // initial active styles
      &.active-add {
        height: 90px;
        width: 120px;
      }

      // ending active styles
      &.active {
        height: 225px;
        width: 100%;
      }

      // initial inactive styles
      &.inactive-add {
        border-width: 2px;
        height: 90px;
        margin: 4px;
        opacity: 1;
        padding: 15px 6px;
        width: 120px;
      }

      // ending inactive styles
      &.inactive {
        border-width: 0;
        height: 0;
        margin: 0;
        opacity: 0;
        padding: 0;
        width: 0;
      }
    }

    // if selected
    &.active {
      cursor: default;
      margin: 6px 0 0;

      .img {
        height: 60px;
        margin-bottom: 15px;
        margin-top: 9px;
        width: 60px;
      }
    }

    // cancel button
    .icons-close {
      position: absolute;
      right: 6px;
      top: 6px;
    }

    // gravatar
    .img {
      display: block;
      margin: 0 auto 6px;
      transition: all .3s ease-in-out;

      @include media(xs) {
        float: left;
        height: 30px;
        margin-right: 6px;
        margin-top: 3px;
        width: 30px;
      }
    }

    // details text
    .small {
      display: block;
      margin-top: 3px;
    }

    // confirm button
    .green {
      position: relative;
      right: auto;
    }
  }
}