.popover.bottom.popover-delete(
  ng-class = "{in: data.show}"
  ng-click = "$event.stopPropagation()"
)
  .arrow.white
  .popover-content
    h3.popover-title Permanently delete #{''}
      strong {{ data.instance.attrs.name }}
      | ?
  section.inset(
    ng-class = "{in: data.deleteLinked}"
    ng-init = "data.deleteLinked = true"
    ng-show = "data.instance.dependencies.models.length"
  )
    small.small Deleting linked servers
    .list
      label.list-item.label-checkbox(
        ng-init = "instance.state.delete = true"
        ng-repeat = "instance in data.instance.dependencies.models"
      )
        input.input-checkbox(
          checked
          type = "checkbox"
          ng-model = "instance.state.delete"
        )
        | {{ instance.attrs.name }}
  footer.popover-footer
    label.btn.btn-xs.gray.label-checkbox.btn-checkbox(
      ng-show = "data.instance.dependencies.models.length"
    )
      input.input-checkbox(
        checked
        ng-click = "data.deleteLinked = !data.deleteLinked"
        type = "checkbox"
      )
      | Delete linked servers
    button.btn.btn-sm.orange(
      ng-click = "actions.deleteInstance(data.deleteLinked); \
        defaultActions.cancel();"
    ) Delete Server
    button.btn.btn-sm.white(
      ng-click = "actions.cancelEnv(data.instance, $event)"
    ) Go Back