.help-container(
  ng-if = "helpCards.getActiveCard().helpPopover.repositories"
)
  .help(
    ng-bind-html = "helpCards.getActiveCard().helpPopover.repositories"
  )

//- .label.clearfix
//-   .label-col Initial Branch

//-   .input-col
//-     fancy-select(
//-       ng-disabled = "branchFetching"
//-       ng-required = "true"
//-       value = "state.branch"
//-       track-by = "attrs.name"
//-       spinner-flag = "branchFetching"
//-     )
//-       li.list-item.popover-list-item.small Select initial branch
//-       fancy-option(
//-         ng-repeat = "branch in $parent.state.repo.branches.models"
//-         value = "branch"
//-       )
//-         svg.iconnables.icons-branch
//-           use(
//-             xlink:href = "#icons-branch"
//-           )
//-         | {{ $parent.branch.attrs.name }}
//-     small.small We’ll build the first container with the code on this branch. We recommend choosing a stable branch.

.label.clearfix
  .label-col Container CMD

  .input-col
    fancy-select.monospace(
      ng-disabled = "startCommandCanDisable && !state.selectedStack.selectedVersion"
      ng-required = "ngShow()"
      name = "repository.startCommand"
      placeholder = "Container command"
      show-dropdown = "state.selectedStack.startCommand"
      type = "text"
      value = "state.startCommand"
    )
      li.list-item.popover-list-item.small Suggested Container CMDs
      fancy-option(
        ng-repeat = "startCmd in $parent.state.selectedStack.startCommand"
        value = "startCmd"
      ) {{$parent.startCmd}}

    small.small This is the long-running process that’ll run when your container is launched (e.g. ‘apache’, ‘NPM start’). Your container will stop running if this process terminates. #{''}
      a.link(
        href = "//docs.docker.com/reference/builder/#cmd"
        target = "_blank"
      ) More about the Container CMD

.label.clearfix
  .label-col Build Commands
    small.small (optional)

  .input-col
    //- we only have suggestions for build commands on the main repository
    textarea.textarea.monospace(
      ng-disabled = "startCommandCanDisable && !state.selectedStack"
      ng-model = "state.commands"
      placeholder = "Build commands"
      spellcheck = "false"
    )
    small.small These will be run when your container is built but before it’s launched.

.label.clearfix(
  ng-if = "$root.featureFlags.packagesField"
)
  .label-col Packages
    small.small (optional)

  .input-col
    //- we only have suggestions for build commands on the main repository
    textarea.textarea.monospace(
      ng-disabled = "startCommandCanDisable && !state.selectedStack"
      ng-model = "state.commands"
      placeholder = "Build commands"
      spellcheck = "false"
    )
    small.small Specify the packages you need using the aptitude syntax. This container is running &#32;
      //- this should specify the OS that the container is running, based on the stack type.
      strong.strong Ubuntu 13.04.