.modal-backdrop.in
  .modal-dialog.in
    .modal-body
      svg.iconnables.icons-close
        use(
          xlink:href = "#icons-close"
        )

      h3.h3 Welcome to Runnable!
      p.p Your team has started setting up your stack. If they’re not done, help them finish, or dive into using your sandbox.
      hr.hr
