.modal-backdrop
  .modal-dialog.modal-sm
    .modal-body
      svg.iconnables.icons-close
        use(
          xlink:href = "#icons-close"
        )

      .modal-form.empty
        h3.h3.empty.text-center Welcome to Runnable!
        small.small.empty.text-center Your team has started setting up your stack. If they’re not done, help them finish, or dive into using your sandbox.
        hr.hr
        button.btn.btn-card.white
          svg.iconnables.float-left
            use(
              xlink:href = "#icons-advanced"
            )
          h3.h3 Set Up Your Stack
          small.small Learn how to get your stack running.
          svg.iconnables.icons-arrow-forward
            use(
              xlink:href = "#icons-arrow-down"
            )

        button.btn.btn-card.white
          svg.iconnables.float-left
            use(
              xlink:href = "#icons-server"
            )
          h3.h3 Set Up Your Stack
          small.small Learn how to get your stack running.
          svg.iconnables.icons-arrow-forward
            use(
              xlink:href = "#icons-arrow-down"
            )
