.modal-backdrop
  .modal-dialog.modal-lg.modal-getting-started
    .modal-body
      svg.iconnables.icons-close
        use(
          xlink:href = "#icons-close"
        )

      .modal-form.empty
        img.img(
          height = "150"
          src = "/build/images/welcome/welcome-mat.svg"
          width = "208"
        )
        small.small.empty.text-gray.text-center Your team has started setting up your stack on Runnable. If they’re not done, help them finish, or dive into using your sandbox.
        hr.hr
        .btn-card-wrapper.text-center
          a.btn.btn-card.white(
            href = "//support.runnable.io"
            target = "_blank"
          )
            svg.iconnables
              use(
                xlink:href = "#icons-advanced"
              )
            h3.h3 Setting Up
            small.small.text-gray Learn how to set up containers and get them running for your stack.
            button.btn.btn-sm.green View Guide

          a.btn.btn-card.white(
            href = "//support.runnable.io"
            target = "_blank"
          )
            svg.iconnables
              use(
                xlink:href = "#icons-server"
              )
            h3.h3 Using Containers
            small.small.text-gray Learn how we work with your code and how you can use containers.
            button.btn.btn-sm.green View Guide

        a.link.small.text-center.text-gray(
          href = "#"
        ) Dismiss
