.modal-backdrop.in
  .modal-dialog.in
    .modal-body
      svg.iconnables.icons-close
        use(
          xlink:href = "#icons-close"
        )

      .empty-wrapper
        h3.h3.empty.text-center Welcome to Runnable!
        small.small.empty.text-center Your team has started setting up your stack. If they’re not done, help them finish, or dive into using your sandbox.
        hr.hr
