header#primary
  a#logo(href = "/")
    span
    sup &lt;alpha&gt;

  a#user(href = "#")
    img(
      height = "24"
      src = "http://www.gravatar.com/avatar/452e4a4c93d2ffba9999b03cea258206?s=64"
      width = "24"
    )
    | username
    //- span.arrow-down

  ul#repositories
    li(ng-repeat = "project in dataProjectLayout.projects.models")
      a(ng-class = "{'active': (project.attrs.name === dataProjectLayout.name) }") {{ project.attrs.name }}

//- 2nd level views (build, buildList, instance, etc...)
main(ui-view)