header#primary
  a#logo(href = "/")
    span
    sup &lt;alpha&gt;

  a#user(
    ng-class="{'active': dataProjectLayout.showChangeAccount, '': !dataProjectLayout.showChangeAccount}"
    ng-click = "dataProjectLayout.showChangeAccount = !dataProjectLayout.showChangeAccount"
    ng-init = "dataProjectLayout.showChangeAccount = false"
  )
    img(
      height = "24"
      src = "http://www.gravatar.com/avatar/452e4a4c93d2ffba9999b03cea258206?s=64"
      width = "24"
    )
    | username
    span.arrow-down
  ul.accounts
    li
      a
        img(
          height = "24"
          src = "https://avatars1.githubusercontent.com/u/2335750?s=24"
          width = "24"
        )
        | CodeNow
    li
      a
        img(
          height = "24"
          src = "https://avatars1.githubusercontent.com/u/2335750?s=24"
          width = "24"
        )
        | Runnable
    li
      a Log Out

  //- ul#repositories
  //-   li(ng-repeat = "project in dataProjectLayout.projects.models")
  //-     a(
  //-       ng-class = "{'active': (project.attrs.name === dataApp.stateParams.projectName) }"
  //-       ng-href  = "{{ dataProjectLayout.getProjectBuildListHref(project.attrs.name) }}"
  //-     ) {{ project.attrs.name }}

  //- .btn-group.toggle.clearfix
  //-   button.active Projects
  //-   button Instances

  //- all the dummy data
  .list-container
    ul#projects
      li
        a Project X
      li.active
        a purple4lyfe
        //- ul.config-list
        //-   li.active
        //-     a
        //-       object.iconnables(
        //-         data = "/build/images/icons/icons-pass.svg"
        //-         type = "image/svg+xml"
        //-       )
        //-       | Main
        //-   li
        //-     a
        //-       object.iconnables(
        //-         data = "/build/images/icons/icons-pass.svg"
        //-         type = "image/svg+xml"
        //-       )
        //-       | Recipe 1
        //-   li
        //-     a
        //-       object.iconnables(
        //-         data = "/build/images/icons/icons-fail.svg"
        //-         type = "image/svg+xml"
        //-       )
        //-       | Recipe 2
      li
        a buster
      li
        a stickoftruth
      li
        a lunagrams

    //- ul#instances
    //-   li
    //-     a Project X
    //-   li
    //-     a purple4lyfe
    //-   li
    //-     a buster

//- 2nd level views (build, buildList, instance, etc...)
main(ui-view)