header(
  ng-class = "dataProjectLayout.getInClass()"
)
  .startup-container
    a#logo(href = "/")
      span
      sup &lt;alpha&gt;
    button.white#user(
      ng-class="{'active': dataProjectLayout.showChangeAccount, '': !dataProjectLayout.showChangeAccount}"
      ng-click = "dataProjectLayout.showChangeAccount = !dataProjectLayout.showChangeAccount"
      ng-disabled = "dataProjectLayout.disableNewButton"
      type = "button"
    )
      img(
        height = "19"
        ng-src = "{{ dataApp.user.attrs.gravitar }}"
        width = "19"
      )
      | {{ dataApp.user.attrs.username }}
      svg.iconnables.icons-arrow-down
        use(xlink:href = "#icons-arrow-down")
    ul.accounts.btn-group-vertical
      li.btn.white
        a
          img(
            height = "19"
            src = "https://avatars1.githubusercontent.com/u/2335750?s=64"
            width = "19"
          )
          | CodeNow
      li.btn.white
        a
          img(
            height = "19"
            src = "https://avatars1.githubusercontent.com/u/2335750?s=64"
            width = "19"
          )
          | Runnable
      li.btn.white
        a(
          href = "{{ dataApp.logoutURL }}"
        ) Log Out
    form
      //- this field is optional. if blank, name the app for them: 'My App'
      input.form-control(
        ng-model = "dataProjectLayout.newAppName"
        placeholder = "Application Name"
      )
      button.orange.btn-block(
        ng-click = "dataProjectLayout.createNewApp()"
      ) Create App
  .scroll-container
    h3 APPLICATIONS
      button.btn-icon(type = "button")
        svg.iconnables.icons-add
          use(xlink:href = "#icons-add")
    ul#apps.btn-group-vertical
      li.btn(
        ng-repeat = "project in dataProjectLayout.projects.models"
        ng-class = "dataProjectLayout.getProjectLiClass(project)"
        ng-click = "dataProjectLayout.stateToBuildList(project, $event);"
      )
        a.white
          svg.iconnables.icons-arrow-down
            use(xlink:href = "#icons-arrow-down")
          | {{ project.attrs.name }}
        ul.config-list(
          ng-repeat = "environment in project.attrs.environments"
        )
          li.active(
            ng-click = "dataProjectLayout.stateToBuildList(project, environment, $event)"
          )
            a.white
              svg.iconnables.icons-recipe
                use(xlink:href = "#icons-recipe")
              | {{ environment.name }}
    h3 INSTANCES
    ul#instances.btn-group-vertical
      li.btn.white My App
        small user/app/config/build
      li.btn.white Colorado
        small user/app/config/build
      li.btn.white California
        small user/app/config/build
      li.btn.white Idaho
        small user/app/config/build
      li.btn.white Rhode Island
        small user/app/config/build
      li.btn.white Montana
        small user/app/config/build
      li.btn.white Hawaii
        small user/app/config/build
      li.btn.white Alaska
        small user/app/config/build

//- 2nd level views (build, buildList, instance, etc...)
main(ui-view)
