header#primary
  a#logo(href = "/")
    span
    sup &lt;alpha&gt;

  button.white#user(
    ng-class="{'active': dataProjectLayout.showChangeAccount, '': !dataProjectLayout.showChangeAccount}"
    ng-click = "dataProjectLayout.showChangeAccount = !dataProjectLayout.showChangeAccount"
    ng-init = "dataProjectLayout.showChangeAccount = false"
    type = "button"
  )
    img(
      height = "19"
      src = "http://www.gravatar.com/avatar/452e4a4c93d2ffba9999b03cea258206?s=64"
      width = "19"
    )
    | username
    object.iconnables(
      data = "/build/images/icons/icons-arrow-down-alt.svg"
      type = "image/svg+xml"
    )
  ul.accounts.btn-group-vertical
    li.btn.white
      a
        img(
          height = "19"
          src = "https://avatars1.githubusercontent.com/u/2335750?s=64"
          width = "19"
        )
        | CodeNow
    li.btn.white
      a
        img(
          height = "19"
          src = "https://avatars1.githubusercontent.com/u/2335750?s=64"
          width = "19"
        )
        | Runnable
    li.btn.white
      a Log Out

  //- ul#repositories
  //-   li(ng-repeat = "project in dataProjectLayout.projects.models")
  //-     a(
  //-       ng-class = "{'active': (project.attrs.name === dataApp.stateParams.projectName) }"
  //-       ng-href  = "{{ dataProjectLayout.getProjectBuildListHref(project.attrs.name) }}"
  //-     ) {{ project.attrs.name }}

  //- all the dummy data
  h3 PROJECTS
  ul#projects.btn-group-vertical
    li.btn.white
      object.iconnables(
        data = "/build/images/icons/icons-arrow-down-alt.svg"
        type = "image/svg+xml"
      )
      | Buster
      ul.config-list
        li
          object.iconnables(
            data = "/build/images/icons/icons-recipe-white.svg"
            type = "image/svg+xml"
          )
          | Main
        li
          object.iconnables(
            data = "/build/images/icons/icons-recipe-white.svg"
            type = "image/svg+xml"
          )
          | Recipe 1
        li
          object.iconnables(
            data = "/build/images/icons/icons-recipe-white.svg"
            type = "image/svg+xml"
          )
          | Recipe 2
    li.btn.white.active
      object.iconnables(
        data = "/build/images/icons/icons-arrow-down-alt.svg"
        type = "image/svg+xml"
      )
      | Bob Lob Law
      ul.config-list
        li
          object.iconnables(
            data = "/build/images/icons/icons-recipe-white.svg"
            type = "image/svg+xml"
          )
          | Main
        li
          object.iconnables(
            data = "/build/images/icons/icons-recipe-white.svg"
            type = "image/svg+xml"
          )
          | Recipe 1
        li
          object.iconnables(
            data = "/build/images/icons/icons-recipe-white.svg"
            type = "image/svg+xml"
          )
          | Recipe 2
    //- The project, Luna, doesn't have an expand icon because it has no recipes (so it can't expand)
    li.btn.white Luna

  h3 INSTANCES
  ul#instances.btn-group-vertical
    li.btn.white Project X
      small user/app/config/build
    li.btn.white Colorado
      small user/app/config/build
    li.btn.white California
      small user/app/config/build

//- 2nd level views (build, buildList, instance, etc...)
main(ui-view)