header#primary
  a#logo(href = "/")
    span
    sup &lt;alpha&gt;

  button.white#user(
    ng-class="{'active': dataProjectLayout.showChangeAccount, '': !dataProjectLayout.showChangeAccount}"
    ng-click = "dataProjectLayout.showChangeAccount = !dataProjectLayout.showChangeAccount"
    ng-init = "dataProjectLayout.showChangeAccount = false"
    type = "button"
  )
    img(
      height = "19"
      src = "http://www.gravatar.com/avatar/452e4a4c93d2ffba9999b03cea258206?s=64"
      width = "19"
    )
    | username
    object.iconnables(
      data = "/build/images/icons/icons-arrow-down-alt.svg"
      type = "image/svg+xml"
    )
  ul.accounts.btn-group-vertical
    li.btn.white
      a
        img(
          height = "19"
          src = "https://avatars1.githubusercontent.com/u/2335750?s=64"
          width = "19"
        )
        | CodeNow
    li.btn.white
      a
        img(
          height = "19"
          src = "https://avatars1.githubusercontent.com/u/2335750?s=64"
          width = "19"
        )
        | Runnable
    li.btn.white
      a Log Out

  //- ul#repositories
  //-   li(ng-repeat = "project in dataProjectLayout.projects.models")
  //-     a(
  //-       ng-class = "{'active': (project.attrs.name === dataApp.stateParams.projectName) }"
  //-       ng-href  = "{{ dataProjectLayout.getProjectBuildListHref(project.attrs.name) }}"
  //-     ) {{ project.attrs.name }}

  //- .btn-group.toggle.clearfix
  //-   button.active Projects
  //-   button Instances

  //- all the dummy data
  .list-container
    ul#projects
      li
        a Buster
      li
        a Bob Lob Law
        ul.config-list
          li
            a Main
          li
            a Recipe 1
          li
            a Recipe 2
      li
        a Luna

    //- ul#instances
    //-   li
    //-     a Project X
    //-   li
    //-     a purple4lyfe
    //-   li
    //-     a buster

//- 2nd level views (build, buildList, instance, etc...)
main(ui-view)