header.server-header

  h1.server-info.load
    //- instance box name template
    .container-label
      span.strong repoName
      span /branchName
      //- status icon template
      .icons-status.running

    .container-url-wrapper
      input.input.container-url(
        readonly
        select-all
        value = "url-for-things"
      )

      //- sets width
      .container-url-ghost
        span.float-left.no-touching {{ instance.getContainerHostname() }}{{defaultPort}}

        a.link.float-left(
          ng-href = "http://{{ instance.getContainerHostname() }}{{defaultPort}}"
          target = "_blank"
          title = "Open in a new tab: http://{{ instance.getContainerHostname() }}{{defaultPort}}"
        )
          svg.iconnables
            use(
              xlink:href = "#icons-link-external"
            )

  .primary-actions(
    instance = "dataInstance.data.instance"
    instance-primary-actions
    loading = "isLoading.main"
    open-items = "dataInstance.data.openItems"
    saving = "dataInstance.data.saving"
  )

section.sidebar.server-sidebar.full-height.load

  //- explorer template
  section.sidebar-section.explorer
    //- explorer menu bar template
    .explorer-menu-bar-container
      .sidebar-section-heading.strong File Explorer
        button.btn.btn-xs.btn-icon.sub-header-action(
          ng-class = "{active: filePopover.data.show}"
          pop-over
          pop-over-actions = "filePopover.actions"
          pop-over-data = "filePopover.data"
          pop-over-options = "{\"left\":-68,\"top\":40}"
          pop-over-template = "viewFileTreePopoverFileExplorerMenu"
          pop-over-active = "filePopover.data.show"
        )
          svg.iconnables.icons-add
            use(
              xlink:href = "#icons-add"
            )
    ul.file-tree
      //- file tree dir template
      li.folder.in
        a.no-touching
          svg.iconnables.filetypes.icons-folder
            use(
              xlink:href = "#icons-folder"
            )
          span.item-name /
        ul
          li.file
            a
              svg.iconnables.filetypes.icons-repository
                use(
                  xlink:href = "#icons-repository"
                )
              span.item-name repository
        //- file tree dir item template
        ul
          li.file
            a
              svg.iconnables.filetypes.icons-file
                use(
                  xlink:href = "#icons-file"
                )
              span.item-name fileName

//- active panel template
section.views.full-height

  //- tabs template
  .views-tabs
    ul.tabs
      li.tab-wrapper.active
        .tab-name Terminal
        button.btn.white.btn-icon.btn-close
          svg.iconnables.icons-close
            use(
              xlink:href = "#icons-close"
            )

    button.btn.btn-xs.btn-icon.btn-add-tab(
      ng-class = "{active: popoverAddTab.data.show}"
      pop-over
      pop-over-actions = "popoverAddTab.actions"
      pop-over-active = "popoverAddTab.data.show"
      pop-over-data = "popoverAddTab.data"
      pop-over-options = "{\"right\":4,\"top\":45}"
      pop-over-template = "viewPopoverAddTab"
    )
      svg.iconnables.icons-add
        use(
          xlink:href = "#icons-add"
        )

  .active-panel.ace-runnable-dark
    .logs
      //- log term template
      .terminal