//- opens in new window
a.btn.btn-xs.purple.btn-toolbar.float-right(
  href = "/debug"
  target = "_blank"
) Debug
  svg.iconnables.icons-link-external
    use(
      xlink:href = "#icons-link-external"
    )

//- button only appears if it in the toolbar
button.btn.btn-xs.purple.btn-toolbar.float-right(
  ng-class = "{active: state.active}"
  pop-over
  pop-over-actions = "popoverDebug.actions"
  pop-over-active = "state.active"
  pop-over-data = "popoverDebug.data"
  pop-over-options = "{\"right\":-3,\"top\":35}"
  pop-over-template = "viewPopoverDebug"
)
  svg.iconnables.icons-arrow-down
    use(
      xlink:href = "#icons-arrow-down"
    )