.grid-block.align-center.justify-justified.demo-progress(
  demo-progress-bar
  demo-step = 5
  is-personal-account = "data.currentOrg.isPersonalAccount()"
  ng-if = "$root.featureFlags.demoProgress"
)
img.img.margin-bottom-sm(
  height = "90"
  src = "/build/images/runnabear-team.svg"
  width = "90"
)
p.p.strong.text-center Don’t leave your team on the sidelines.
p.p.weight-light.text-center Switch to a GitHub org to create environments for your team’s code.
button.btn.btn-sm.green.margin-top-xs(
  ng-click = "actions.clickedChangeTeam()"
  ui-sref = "orgSelect"
  ui-sref-opts = "{reload: true}"
) Change Teams
