.popover.menu.bottom.popover-account-menu(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white(
    style = "left: 153px"
  )
  .popover-content
    //- data.showIntegrations can be removed with $root.featureFlags.isolation
    ul.list.popover-list(
      ng-if = "data.showIntegrations || $root.featureFlags.isolation"
    )
      li.list-item.popover-list-item.small {{data.activeAccount.oauthName()}}
      //- leave this outside of the isolation list-item so it doens't trigger :hover & :active states
      svg.iconnables.anchor-right.icons-help(
        ng-if = "$root.featureFlags.isolation"
      )
        use(
          xlink:href = "#icons-help"
        )
      li.list-item.popover-list-item(
        ng-if = "$root.featureFlags.isolation"
      )
        img.gravatar.gravatar-isolation(
          alt = "{{data.activeAccount.oauthName()}}"
          height = "21"
          ng-src = "{{data.activeAccount.gravitar()}}"
          width = "21"
        )
        img.gravatar(
          alt = "{{data.user.oauthName()}}"
          height = "15"
          ng-src = "{{data.user.gravitar()}}"
          width = "15"
        )
        | Isolation

      li.list-item.popover-list-item(
        ng-if = "data.showIntegrations"
        modal
        modal-actions = "actions.actionsModalIntegrations"
        modal-data = "data.dataModalIntegrations"
        modal-template = "viewOpenModalIntegrations"
      )
        img.iconnables(
          height = "24"
          src = "/build/images/logos/logo-icon-slack.svg"
          width = "24"
        )
        | Slack Integration

    ul.list.popover-list
      li.list-item.popover-list-item.small Change Organization
      //- current user
      li.list-item.popover-list-item.text-overflow(
        ng-class = "{'disabled': data.user === data.activeAccount}"
        ng-click = "actions.selectActiveAccount(data.user)"
      )
        img.gravatar(
          alt = "{{data.user.oauthName()}}"
          height = "24"
          ng-src = "{{data.user.gravitar()}}"
          width = "24"
        )
        | {{data.user.oauthName()}}
        svg.iconnables.icons-fat-check.anchor-right(
          ng-if = "data.user === data.activeAccount"
        )
          use(
            xlink:href = "#icons-fat-check"
          )

      //- organizations
      li.list-item.popover-list-item.text-overflow(
        ng-class = "{'disabled': (org === data.activeAccount)}"
        ng-click = "actions.selectActiveAccount(org)"
        ng-repeat = "org in data.orgs.models"
      )
        img.gravatar(
          alt = "{{org.oauthName()}}"
          height = "24"
          ng-src = "{{org.gravitar()}}"
          width = "24"
        )
        | {{org.oauthName()}}
        svg.iconnables.icons-fat-check.anchor-right(
          ng-if = "org === data.activeAccount"
        )
          use(
            xlink:href = "#icons-fat-check"
          )

    ul.list.popover-list
      li.list-item.popover-list-item
        a.list-link(
          ng-click = "actions.logout();"
        ) Log Out