.popover.menu.popover-account-menu.right(
  ng-class = "{'in': active}"
  style = "left: 68px; transform-origin: 0 0; top: 18px"
)
  .arrow.js-animate(
    ng-class = "{\
      'gray': !data.showIntegrations || (data.showIntegrations && data.currentPanelName !== 'accountMenu'),\
      'white': data.showIntegrations && data.currentPanelName === 'accountMenu'\
    }"
    style = "top: 20px"
  )
  animated-panel-container.popover-views
    animated-panel(
      default = "true"
      name = "accountMenu"
    )
      .popover-view
        .popover-content.fade(
          ng-class = "{'in': isActivePanel()}"
        )
          ul.list.popover-list(
            ng-if = "data.showIntegrations"
          )
            li.list-item.popover-list-item.small.disabled {{data.currentOrg.github.oauthName()}} Settings
            //- *****************
            //- $root.featureFlags.billing
            li.list-item.popover-list-item(
              ng-click = "actions.openSettingsModal('billing')"
              ng-if = "$root.featureFlags.billing"
            )
              svg.iconnables
                use(
                  xlink:href = "#icons-billing"
                )
              | Billing
              btn.btn-xxs.btn-badge.anchor-right.orange(
                ng-if = "data.currentOrg.poppa.isInTrial() && !data.currentOrg.poppa.attrs.hasPaymentMethod"
                title = "{{data.currentOrg.poppa.trialDaysRemaining() + ' days left in your trial'}}"
              )
                | {{data.currentOrg.poppa.trialDaysRemaining() + ' days left'}}
            li.list-item.popover-list-item(
              ng-click = "actions.openSettingsModal('teamManagement')"
            )
              svg.iconnables
                use(
                  xlink:href = "#icons-team"
                )
              | Teammates
            //- li.list-item.popover-list-item(
            //-   internal-modal-helper = "settingsModalView"
            //-   ng-if = "$root.featureFlags.billing"
            //- )
              svg.iconnables
                use(
                  xlink:href = "#icons-gear"
                )
              | Settings
            //- $root.featureFlags.billing
            //- *****************
            li.list-item.popover-list-item(
              ng-click = "actions.openSettingsModal('githubIntegration')"
              ng-if = "$root.featureFlags.gitHubIntegration"
            )
              svg.iconnables
                use(
                  xlink:href = "#icons-octicons-github-gray"
                )
              | PR Bot
            li.list-item.popover-list-item(
              ng-click = "actions.openSettingsModal('slackIntegration')"
            )
              img.iconnables(
                height = "24"
                src = "/build/images/logos/logo-icon-slack.svg"
                width = "24"
              )
              | Slack Integration
          ul.list.popover-list.list-secondary
            li.list-item.popover-list-item(
              ng-click = "goToPanel('featureFlags')"
              ng-if = "$root.canEditFeatureFlags()"
            ) Feature Flags
              svg.iconnables.icons-arrow-forward.anchor-right
                use(
                  xlink:href = "#icons-arrow-down"
                )
            li.list-item.popover-list-item(
              ng-click = "goToPanel('changeOrganization')"
            ) Change Team
              svg.iconnables.icons-arrow-forward.anchor-right
                use(
                  xlink:href = "#icons-arrow-down"
                )
            li.list-item.popover-list-item.list-item-documentation
              a.list-link(
                href = "//runnable.zendesk.com/hc/en-us"
                target = "_blank"
              ) Documentation
                svg.iconnables.icons-link-external.anchor-right
                  use(
                    xlink:href = "#icons-link-external"
                  )
            li.list-item.popover-list-item
              a.list-link(
                ng-click = "actions.logout();"
              ) Sign Out

    animated-panel(
      name = "changeOrganization"
    )
      .popover-view
        .popover-header.fade(
          ng-class = "{'in': isActivePanel()}"
        )
          svg.btn.btn-sm.iconnables.icons-arrow-backward.pull-left(
            ng-click = "goToPanel('accountMenu', 'back')"
          )
            use(
              xlink:href = "#icons-arrow-down"
            )
          | {{$root.featureFlags.teamManagementAdvanced ? 'Your Teams' : 'Organizations'}}

        .popover-content.fade(
          ng-class = "{'in': isActivePanel()}"
        )
          ul.list.popover-list
            //- all organizations except current
            li.list-item.popover-list-item.text-overflow(
              ng-class = "{'no-touching': account === data.activeAccount}"
              ng-click = "actions.selectActiveAccount(account)"
              ng-repeat = "account in data.allAccounts"
            )
              svg.iconnables.icons-fat-check(
                ng-class = "{'active': account === data.activeAccount}"
              )
                use(
                  xlink:href = "#icons-fat-check"
                )
              img.gravatar(
                alt = "{{account.oauthName()}}"
                height = "24"
                ng-src = "{{account.gravitar()}}"
                width = "24"
              )
              | {{account.oauthName()}}
            li.list-item.padding-xxs
              a.btn.btn-sm.gray.btn-block(
                ui-sref = "orgSelect"
                ui-sref-opts = "{reload: true}"
              ) Add Organization

    animated-panel(
      name = "featureFlags"
    )
      .popover-view(
        ng-controller = "FeatureFlagsController as FFC"
      )
        .popover-header.fade(
          ng-class = "{'in': isActivePanel()}"
        )
          svg.btn.btn-sm.iconnables.icons-arrow-backward.pull-left(
            ng-click = "goToPanel('accountMenu', 'back')"
          )
            use(
              xlink:href = "#icons-arrow-down"
            )
          | Feature Flags
          button.btn.btn-xxs.gray.float-right(
            ng-click = "FFC.$localStorage.featureFlags = {}; $root.resetFeatureFlags();"
            style = "font-size: 11px; right: 6px; position: absolute; top: 9px; z-index: 2;"
          ) Reset
        .popover-content.fade(
          ng-class = "{'in': isActivePanel()}"
          style = "height: calc(100vh - 81px); overflow-y: auto;"
        )
          .list-item.padding-xxs
            input.input.input-xs.input-search(
              ng-model = "searchText"
              ng-model-option = "{updateOn: 'change'}"
              placeholder = "Search"
              required
              style = "background-position: 6px center !important; padding-left: 24px !important;"
              type = "search"
            )
          label.list-item.popover-list-item.text-overflow(
            style = "display: block; padding: 0 39px 0 15px;"
          ) Reset Aha Guide
            .toggle-wrapper(
              style = "position: absolute; right: 12px; top: 11px;"
            )
              input.toggle-input(
                ng-click = "FFC.resetAha()"
                type = "button"
              )
          label.list-item.popover-list-item.text-overflow(
            ng-repeat = "(flag, value) in $root.featureFlags"
            ng-show = "!searchText || flag.indexOf(searchText) > -1"
            style = "display: block; padding: 0 39px 0 15px;"
          ) {{flag}}
            .toggle-wrapper(
              ng-if = "flag !== 'gracePeriod'"
              style = "position: absolute; right: 12px; top: 11px;"
            )
              input.toggle-input(
                ng-change = "FFC.$localStorage.featureFlags[flag] = $root.featureFlags[flag]"
                ng-model = "$root.featureFlags[flag]"
                type = "checkbox"
              )
              .toggle-group.toggle-xs
            button.btn.btn-xs.gray(
              internal-modal-helper = "billingWallModalView"
              ng-if = "flag === 'billingWall'"
              style = "position: absolute; right: 9px; top: 6px;"
            ) Go
