.popover.menu.bottom.popover-account-menu(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white(
    style = "left: 158px"
  )
  .popover-content
    ul.list.popover-list
      li.list-item.popover-list-item.small Change Organization
      //- current user (if user is not active)
      li.list-item.popover-list-item.text-overflow(
        ng-if = "CA.data.user !== CA.data.activeAccount"
        ng-click = "CIL.popoverAccountMenu.actions.selectActiveAccount(CA.data.user)"
      )
        img.gravatar(
          height = "24"
          ng-src = "{{ CA.data.user.gravitar() }}"
          width = "24"
        )
        | {{ CA.data.user.oauthName() }}
      li.list-item.popover-list-item.text-overflow(
        ng-click = "CIL.popoverAccountMenu.actions.selectActiveAccount(org)"
        ng-if = "org !== CA.data.activeAccount"
        ng-repeat = "org in CA.data.orgs.models"
      )
        img.gravatar(
          height = "24"
          ng-src = "{{ org.gravitar() }}"
          width = "24"
        )
        | {{ org.oauthName() }}
    ul.list.popover-list
      li.list-item.popover-list-item(
        modal
        modal-data = "CIL.dataModalIntegrations"
        modal-template = "viewOpenModalIntegrations"
        ng-if = "CIL.popoverAccountMenu.data.showIntegrations"
      )
        img.iconnables(
          height = "24"
          src = "/build/images/logos/logo-icon-slack.svg"
          width = "24"
        )
        | Slack Integration
      li.list-item.popover-list-item
        a.list-link(
          ng-click = "CIL.popoverAccountMenu.actions.logout()"
        ) Log Out