.popover.menu.popover-account-menu(
  ng-class = "{\
    'bottom': !$root.featureFlags.newNavigation,\
    'in': active,\
    'right': $root.featureFlags.newNavigation\
  }"
  style = "{{$root.featureFlags.newNavigation ? 'left: 68px; transform-origin: 0 0; top: 18px' : 'left: auto; right: 9px; transform-origin: 95% 0; top: 60px'}}"
)
  .arrow(
    ng-class = "{\
      'gray': !data.showIntegrations,\
      'gray': data.showIntegrations && data.currentPanelName !== 'accountMenu',\
      'white': data.showIntegrations && data.currentPanelName === 'accountMenu'\
    }"
    style = "{{$root.featureFlags.newNavigation ? 'top: 18px' : 'left: 191px'}}"
  )
  animated-panel-container.popover-views
    animated-panel(
      default = "true"
      name = "accountMenu"
    )
      .popover-view
        .popover-content.fade(
          ng-class = "{'in': isActivePanel()}"
        )
          ul.list.popover-list(
            ng-if = "data.showIntegrations"
          )
            li.list-item.popover-list-item.small.disabled {{data.activeAccount.oauthName()}} Settings
            li.list-item.popover-list-item(
              modal
              modal-actions = "actions.actionsModalIntegrations"
              modal-data = "data.dataModalIntegrations"
              modal-template = "viewOpenModalIntegrations"
            )
              img.iconnables(
                height = "24"
                src = "/build/images/logos/logo-icon-slack.svg"
                width = "24"
              )
              | Slack Integration
            //- new settings modal
            //- li.list-item.popover-list-item(
            //-   modal
            //-   modal-actions = "actions.actionsModalIntegrations"
            //-   modal-data = "data.dataModalIntegrations"
            //-   modal-template = "viewModalSettings"
            //- )
              img.iconnables(
                height = "24"
                src = "/build/images/logos/logo-icon-slack.svg"
                width = "24"
              )
              | Slack Integration
          ul.list.popover-list.list-secondary
            li.list-item.popover-list-item(
              ng-click = "goToPanel('featureFlags')"
              ng-if = "$root.featureFlags.newNavigation"
            ) Feature Flags
              svg.iconnables.icons-arrow-forward.anchor-right
                use(
                  xlink:href = "#icons-arrow-down"
                )
            li.list-item.popover-list-item(
              ng-click = "goToPanel('changeOrganization')"
            ) Change Organization
              svg.iconnables.icons-arrow-forward.anchor-right
                use(
                  xlink:href = "#icons-arrow-down"
                )
            li.list-item.popover-list-item
              a.list-link(
                href = "//runnable.zendesk.com/hc/en-us"
                target = "_blank"
              ) Documentation
                svg.iconnables.icons-link-external.anchor-right
                  use(
                    xlink:href = "#icons-link-external"
                  )
            li.list-item.popover-list-item
              a.list-link(
                ng-click = "actions.logout();"
              ) Log Out

    animated-panel(
      name = "changeOrganization"
    )
      .popover-view
        .popover-header.fade(
          ng-class = "{'in': isActivePanel()}"
        )
          svg.btn.btn-sm.iconnables.icons-arrow-backward.pull-left(
            ng-click = "goToPanel('accountMenu', 'back')"
          )
            use(
              xlink:href = "#icons-arrow-down"
            )
          | Organizations

        .popover-content.fade(
          ng-class = "{'in': isActivePanel()}"
        )
          ul.list.popover-list
            //- all organizations except current
            li.list-item.popover-list-item.text-overflow(
              ng-class = "{'no-touching': account === data.activeAccount}"
              ng-click = "actions.selectActiveAccount(account)"
              ng-repeat = "account in data.allAccounts"
            )
              svg.iconnables.icons-fat-check(
                ng-class = "{'active': account === data.activeAccount}"
              )
                use(
                  xlink:href = "#icons-fat-check"
                )
              img.gravatar(
                alt = "{{account.oauthName()}}"
                height = "24"
                ng-src = "{{account.gravitar()}}"
                width = "24"
              )
              | {{account.oauthName()}}

    animated-panel(
      name = "featureFlags"
    )
      .popover-view
        .popover-header.fade(
          ng-class = "{'in': isActivePanel()}"
        )
          svg.btn.btn-sm.iconnables.icons-arrow-backward.pull-left(
            ng-click = "goToPanel('accountMenu', 'back')"
          )
            use(
              xlink:href = "#icons-arrow-down"
            )
          | Feature Flags
          button.btn.btn-xxs.gray.float-right(
            ng-click = "$localStorage.featureFlags = {}; $root.resetFeatureFlags();"
            style = "font-size: 11px; right: 6px; position: absolute; top: 9px; z-index: 2;"
          ) Reset
        .popover-content.fade.list.popover-list(
          ng-class = "{'in': isActivePanel()}"
          style = "max-height: calc(100vh - 81px); overflow-y: auto;"
        )
          label.list-item.popover-list-item.text-overflow(
            ng-repeat = "(flag, value) in $root.featureFlags"
            style = "border-top: 1px solid #f0f0f0; color: $gray-dark; display: block; padding: 0 39px 0 15px;"
          ) {{flag}}
            .toggle-wrapper(
              style = "position: absolute; right: 15px; top: 11px;"
            )
              input.toggle-input(
                ng-model = "$root.featureFlags[flag]"
                ng-change = "$localStorage.featureFlags[flag] = $root.featureFlags[flag]"
                type = "checkbox"
              )
              .toggle-group.toggle-xs