.popover.menu.bottom.fade(
  ng-class = "{'in': data.show}"
)
  .arrow.white
  .popover-content
    ul.popover-body.popover-list
      //- hide fast-forward and .divider if already on latest
      li.popover-list-item(
        ng-if = "data.acv.githubRepo.state.activeBranch.state.activeCommit.state.commitsBehind"
        ng-click = "actions.selectLatestCommitForRepo(data.acv)"
      ) Fast-Forward
        small.popover-list-item-details ({{ data.acv.githubRepo.state.activeBranch.state.activeCommit.state.commitsBehind }} Commits)
      li.divider(
        ng-if = "data.acv.githubRepo.state.activeBranch.state.activeCommit.state.commitsBehind"
      )
      li.popover-list-item(
        ng-click = "actions.deleteRepo(data.acv)"
      ) Delete