.popover.bottom.popover-add-repo(
  ng-class = "{ \
    'in': data.show, \
    'show-add-repo': showAddRepo \
  }"
)
  .arrow
  h3.popover-title(
    ng-class = "{'show-filter': data.state.toggleFilter}"
  )
    //- should clear on close
    button.white.btn-icon.btn-search(
      ng-click = "data.state.toggleFilter = !data.state.toggleFilter; \
                  data.state.repoFilter = '';"
      ng-class = "{'active': data.state.toggleFilter}"
      title = "Filter Repositories"
    )
      svg.iconnables.icons-search
        use(
          xlink:href = "#icons-search"
        )
    //- focus on visible
    input.title-filter(
      ng-model = "data.state.repoFilter"
      select-on = "data.state.toggleFilter"
      placeholder = "Filter Repositories"
    )
    //- title
    span.title Add Repository
  .popover-content
    ul.popover-body.popover-list
      li.popover-list-item(
        ng-click = "actions.addRepo(repo)"
        ng-repeat = "repo in data.githubRepos.models | \
          unaddedRepos:data.version.appCodeVersions | \
          repos:data.state.repoFilter"
      )
        span {{ repo.attrs.full_name }}
      li.popover-list-item.no-actions(
        ng-if = "(data.githubRepos.models | \
                  unaddedRepos:data.version.appCodeVersions | \
                  repos:data.state.repoFilter).length === 0"
      ) No matches.
