.popover.bottom.popover-add-repo(
  ng-class = "{\
    'in': data.show,\
    'show-add-repo': showAddRepo\
  }"
)
  .arrow
  h3.popover-title(
    ng-class = "{'show-filter': data.state.toggleFilter}"
  )
    //- should clear on close
    button.white.btn-icon.btn-search(
      ng-click = "data.state.toggleFilter = !data.state.toggleFilter"
      ng-class = "{'active': data.state.toggleFilter}"
      title = "Filter Repositories"
    )
      svg.iconnables.icons-search
        use(
          xlink:href = "#icons-search"
        )
    //- focus on visible
    input.title-filter(
      placeholder = "Filter Repositories"
    )
    //- title
    span.title Add Repository
  .popover-content
    ul.popover-body.popover-list
      li.popover-list-item CodeNow/runnable-angular
      li.popover-list-item CodeNow/runnable-web
      li.popover-list-item CodeNow/runnable-API
      //- li.popover-list-item(
      //-   ng-click = "\
      //-     actions.selectGithubRepo(data.selectedRepo);\
      //-     data.repoOrSHA = '';"
      //-   ng-repeat = "repo in data.githubRepos.models | \
      //-     unaddedRepos:data.appCodeVersions | \
      //-     repos:data.repoFilter"
      //- )  {{ repo.attrs.full_name }}