.popover.bottom.popover-add-repo(
  ng-class = "{\
    'in': data.show,\
    'show-add-repo': showAddRepo\
  }"
)
  .arrow
  h3.popover-title Add Repository
  .popover-content
    .popover-body
      .row.search
        input.form-control(
          ng-model = "data.repoFilter"
          placeholder = "Filter Repositories"
          required
          type = "search"
        )
        button.submit
          svg.iconnables.icons-search
            use(xlink:href = "#icons-search")
          svg.iconnables.icons-search-active
            use(xlink:href = "#icons-search-active")
      ul.popover-list
        li(
          ng-class = "{ \
            in: data.selectedRepo === repo \
          }"
          ng-click = "data.selectedRepo = repo; \
                      actions.selectGithubRepo(data.selectedRepo); \
                      data.repoOrSHA = '';"
          ng-repeat = "repo in data.githubRepos.models | \
                       unaddedRepos:data.appCodeVersions | \
                       repos:data.repoFilter"
        )
          span {{ repo.attrs.full_name }}
          form.explorer-add-repo-form
            input.form-control(
              list = "{{ 'repo-branches-' + repo.attrs.name }}"
              ng-model = "data.repoOrSHA"
              placeholder = "Branch/SHA (default: @{{ repo.defaultBranch() }})"
            )
            datalist(
              id = "{{ 'repo-branches-' + repo.attrs.name }}"
            )
              option(
                ng-repeat = "branch in repo.branches.models"
                value = "{{ branch.attrs.name }}"
              )
            button.btn-block.green(
              ng-click = "actions.addGithubRepo(repo, data.repoOrSHA)"
            ) Add Repository
