.popover.menu.bottom.fade(
  ng-class = "{'in': data.show}"
)
  .arrow.white
  .popover-content
    ul.popover-body.popover-list
      //- hide fast-forward and .divider if already on latest
      li.popover-list-item Fast-Forward
        small.popover-list-item-details (88 Commits)
      li.divider
      li.popover-list-item Delete