.popover.bottom.popover-guides(
  ng-class = "{in: data.show}"
)
  .arrow.white
  .popover-content.clearfix
    pre.well.well-code.gray EXPOSE &lt;port&gt; [&lt;port&gt;...]
    p.popover-text
      | The #{''}
      span.well.well-code.well-inline.gray EXPOSE
      | #{''} instructions informs Docker that the container will listen on the specified network ports at runtime.
      a.link.link-text.link-reference(
        href = "//docs.docker.com/reference/builder/#expose"
        target = "_blank"
      ) [1]