ul.file-tree(
  popover-file-explorer-menu
)
  //- this is the root dir; there can be only one.
  file-tree-dir(
    dir = "data.rootDir"
    open = "true"
    version-or-context = "versionOrContext"
    open-files = "openFiles"
    read-only = "readOnly"
  )
