li.folder(
  ng-class = "{'in': data.open}"
  ng-click = "data.open = !data.open; $event.stopPropagation();"
)
  svg.iconnables.filetypes
    use(xlink:href = "#icons-folder")
  input(
    readonly
    value = "{{ file.filename() }}"
  )

  ul(
    ng-if = "data.dirFiles.models.length"
  )
    file-tree-dir(
      dir = "dir"
      ng-repeat = "dir in data.dirFiles.models"
      ng-if = "dir.attrs.isDir"
      open = "false"
      version = "version"
    )
    //- add class edit if editing name & remove readonly property from input element
    li(
      ng-repeat = "file in data.dirFiles.models"
      ng-if = "!file.attrs.isDir"
      ng-click = "openFiles.add(file); $event.stopPropagation();"
      ng-class = "{'active': file.state.open}"
    )
      svg.iconnables.filetypes
        use(xlink:href = "#icons-file")
      input(
        readonly
        value = "{{ file.filename() }}"
      )