li.folder(
  ng-class = "{ 'in': dir.state.open }"
  ng-click = "dir.state.open = !dir.state.open; $event.stopPropagation();"
  popover-file-explorer-menu
)
  svg.iconnables.filetypes.icons-folder
    use(xlink:href = "#icons-folder")
  input.tree-input(
    readonly
    value = "{{ dir.id() }}"
  )

  ul(
    ng-if = "dir.contents.models.length"
  )
    file-tree-dir(
      ng-repeat = "fs in dir.contents.models | isDir"
      dir = "fs"
      open = "fs.state.open"
      read-only = "readOnly"
    )
    li(
      popover-file-explorer-item-menu
      ng-repeat = "fs in dir.contents.models | isFile"
      ng-click = "openItems.add(fs); $event.stopPropagation();"
      ng-class = "{ 'active': fs.state.open }"
    )
      svg.iconnables.filetypes.icons-file
        use(xlink:href = "#icons-file")
      input.tree-input(
        ng-readonly = "!fileItemData.editFileName"
        value = "{{ fs.attrs.name }}"
      )
