li.folder(
  ng-class = "{ 'in': data.dir.state.open }"
  ng-click = "data.dir.state.open = !data.dir.state.open; $event.stopPropagation();"
  popover-file-explorer-menu
)
  svg.iconnables.filetypes.icons-folder
    use(xlink:href = "#icons-folder")
  input.tree-input(
    readonly
    value = "{{ data.dir.id() }}"
  )

  ul(
    ng-if = "data.dir.contents.models.length"
  )
    file-tree-dir(
      ng-repeat = "fs in data.dir.contents.models | filter:{ attrs: { isDir: true } }"
      dir = "fs"
      open = "fs.state.open"
      read-only = "readOnly"
    )
    li(
      ng-repeat = "fs in data.dir.contents.models"
      ng-click = "openFiles.add(fs); $event.stopPropagation();"
      ng-class = "{ 'active': fs.state.open }"
    )
      svg.iconnables.filetypes.icons-file
        use(xlink:href = "#icons-file")
      input.tree-input(
        readonly
        value = "{{ fs.attrs.name }}"
      )
