main.grid-block.vertical.align-center.layout-github
  header.grid-block.vertical.justify-center.align-center.shrink.header.margin-top-lg.margin-bottom-sm
    h1.p.text-center.weight-strong Grant Access
    p.p.text-center.weight-light.margin-top-xxs.margin-bottom-xs We‘ll need some GitHub permissions to run your app. You may have to scroll down.
  figure.figure
    img.grid-block.img(
      src = "/build/images/github-permissions-lg.svg"
    )
    .cursor
  footer.grid-block.shrink.justify-center.align-center.padding-sm.footer
    a.grid-block.shrink.align-center.btn.btn-md.green(
      data-event-name = "Demo: Advanced to GitHub from primer step"
      href = "https://github.com/settings/connections/applications/d42d6634d4070c9d9bf9"
    ) Got it! Take me to GitHub
      svg.iconnables.icons-arrow-forward
        use(
          xlink:href = "#icons-arrow-down"
        )
