.blank-panel(
  ng-if = "hasFailedAndHasNoLogs() || BLC.showErrorPanel"
)
  .spinner-wrapper.spinner-md.in(
    ng-if = "$root.isLoading.buildLogsController"
    ng-include = "'spinner'"
  )

  div(
    ng-if = "!$root.isLoading.buildLogsController"
  )
    p.p(
      ng-if = "!BLC.showNoDockerfileError"
    ) Sorry, we ran into an issue while building.
    p.p(
      ng-if = "BLC.showNoDockerfileError"
    )
      | We couldn't find a Dockerfile to build.
      | Does it exist in your repository?
    button.btn.btn-sm.purple(
      ng-click = "BLC.actions.rebuildWithoutCache()"
    ) Retry Build
    .small
      | or&#32;
      a.link.icons-intercom(
        ng-click = "$root.$broadcast('intercom::buildFailed')"
      ) chat with our devs

.pre.build-log(
  ng-if = "\
    $root.featureFlags.internalDebugging && \
    !BLC.showErrorPanel && \
    !hasFailedAndHasNoLogs() \
  "
)
  .build-log-header
    .build-log-header-text INTERNAL DEBUGGING!
  .build-log-content(
    ng-bind-html = "BLC.getRawLogs()"
  )

//- initial output
.pre.build-log.build-log-toggle(
  ng-class = "{'in': mainHeaderExpanded}"
  ng-if = "\
    !$root.featureFlags.internalDebugging && \
    !BLC.showErrorPanel && \
    !hasFailedAndHasNoLogs() \
  "
)
  .build-log-header(
    ng-class = "{'in-progress': BLC.buildLogs.length === 0 && BLC.buildLogsRunning}"
    ng-click = "actions.toggleMainHeader()"
  )
    .build-log-header-text {{BLC.streamFailure ? 'Unable to get build logs.' : 'Starting Build'}}
  .build-log-content(
    ng-if = "mainHeaderExpanded"
    ng-class = "{'building': !(BLC.headerContent.length && BLC.buildLogs.length > 0 && !BLC.buildLogsRunning)}"
  )
    div(
      ng-repeat = "content in BLC.headerContent track by $index"
    ) {{content}}

  .log-spinner(
    ng-if = "BLC.buildLogs.length === 0 && BLC.buildLogsRunning"
  )
    .spinner-character |
    .spinner-character /
    .spinner-character -
    .spinner-character \

.pre.build-log.js-animate(
  ng-class = "{\
    'build-log-toggle': command.hasContent || (BLC.buildLogsRunning && $last),\
    'in': (command.hasContent && command.expanded) || (BLC.buildLogsRunning && $last)\
  }"
  ng-if = "\
    !$root.featureFlags.internalDebugging && \
    !BLC.showErrorPanel && \
    !hasFailedAndHasNoLogs() \
  "
  ng-repeat = "command in BLC.getBuildLogs()"
)
  .build-log-header(
    ng-class = "{\
      'absolute': command.expanded && command.absolute,\
      'fixed': command.expanded && command.fixed,\
      'in-progress': BLC.buildLogsRunning && $last\
    }"
    ng-click = "actions.toggleCommand($event, command)"
    ng-style = "calculateHeaderStyle(command)"
  )
    .build-log-header-text(
      ng-bind-html = "command.command"
    )

    .build-log-header-state(
      ng-if = "command.cached || getCommandDuration(command, $index).length"
    ) {{command.cached ? 'Cached' : getCommandDuration(command, $index)}}

    .btn-group.btn-debug(
      ng-if = "BLC.showDebug && !BLC.debugContainer && BLC.buildLogs[$index - 1].imageId && $last"
      ng-include = "'viewDebugButton'"
    )

  .build-log-content(
    ng-class = "{\
      'building': BLC.buildLogsRunning && command.expanded && $last,\
      'long': command.lineCount > 1000\
    }"
    ng-if = "(command.expanded && command.hasContent) || (BLC.buildLogsRunning && $last)"
    vs-repeat
    scroll-glue="command.lineCount > 1000 && BLC.buildLogsRunning && $last"
  )
    div(
      ng-repeat = "commandContent in command.getProcessedHtml()"
    )
      div(
        ng-bind-html = "commandContent"
      )

  .log-spinner(
    ng-if = "BLC.buildLogsRunning && $last"
  )
    .spinner-character |
    .spinner-character /
    .spinner-character -
    .spinner-character \

//- initial output
.pre.build-log(
  ng-class = "{\
    'green': BLC.buildStatus === 'success',\
    'red': BLC.buildStatus === 'failed'\
  }"
  ng-if = "\
    BLC.buildStatus !== 'starting' && \
    !BLC.buildLogsRunning && \
    getBuildMessage().length && \
    !BLC.showErrorPanel && \
    !hasFailedAndHasNoLogs() \
  "
)
  .build-log-header
    .build-log-header-text {{getBuildMessage()}}
