.views-toolbar(
  ng-if = "$root.featureFlags.noBuildLogs && BLC.buildLogs.length === 0 && !BLC.buildLogsRunning"
  style="margin-left: -8px; margin-right: -8px; top: -8px;"
)
  small.small.text-overflow There was an error starting your build.
  button.btn.btn-xs.purple.btn-toolbar.float-right(
    ng-class = "{in: data.saving}"
    ng-click = "BLC.actions.rebuildWithoutCache()"
  ) Rebuild without cache

.pre.build-log(
  ng-if = "$root.featureFlags.internalDebugging"
)
  .build-log-header
    .build-log-header-text INTERNAL DEBUGGING!
  .build-log-content(
    ng-bind-html = "BLC.getRawLogs()"
  )

//- initial output
.pre.build-log(
  ng-class = "{\
    'build-log-toggle': BLC.buildLogs.length === 0 && BLC.buildLogsRunning,\
    'in': BLC.buildLogs.length === 0 && BLC.buildLogsRunning\
  }"
  ng-if = "!$root.featureFlags.internalDebugging"
)
  .build-log-header(
    ng-class = "{'in-progress': BLC.buildLogs.length === 0 && BLC.buildLogsRunning}"
  )
    .build-log-header-text {{BLC.streamFailure ? 'Unable to get build logs.' : 'Starting Build'}}
  .build-log-content.building(
    ng-if = "BLC.buildLogs.length === 0 && BLC.buildLogsRunning"
  )
  .log-spinner(
    ng-if = "BLC.buildLogs.length === 0 && BLC.buildLogsRunning"
  )
    .spinner-character |
    .spinner-character /
    .spinner-character -
    .spinner-character \

.pre.build-log.js-animate(
  ng-class = "{\
    'build-log-toggle': command.hasContent || (BLC.buildLogsRunning && $last),\
    'in': (command.hasContent && command.expanded) || (BLC.buildLogsRunning && $last)\
  }"
  ng-repeat = "command in BLC.getBuildLogs()"
  ng-if = "!$root.featureFlags.internalDebugging"
)
  .build-log-header(
    ng-class = "{\
      'absolute': command.expanded && command.absolute,\
      'fixed': command.expanded && command.fixed,\
      'in-progress': BLC.buildLogsRunning && $last\
    }"
    ng-click = "actions.toggleCommand($event, command)"
    ng-style = "calculateHeaderStyle(command)"
  )
    .build-log-header-text(
      ng-bind-html = "command.command"
    )

    .build-log-header-state(
      ng-if = "command.cached"
    ) Cached

    .build-log-header-state(
      ng-if = "!command.cached && command.time"
    ) {{getCommandDuration(command, $index)}}

    .btn-group.btn-debug(
      ng-if = "BLC.showDebug && !BLC.debugContainer && BLC.buildLogs[$index - 1].imageId && $last"
      ng-include = "'viewDebugButton'"
    )

  .build-log-content(
    ng-bind-html = "command.getProcessedHtml()"
    ng-class = "{'building': BLC.buildLogsRunning && command.expanded && $last}"
    ng-if = "(command.expanded && command.hasContent) || (BLC.buildLogsRunning && $last)"
  )

  .log-spinner(
    ng-if = "BLC.buildLogsRunning && $last"
  )
    .spinner-character |
    .spinner-character /
    .spinner-character -
    .spinner-character \

//- initial output
.pre.build-log(
  ng-class = "{\
    'green': BLC.buildStatus === 'success',\
    'red': BLC.buildStatus === 'failed'\
  }"
  ng-if = "!BLC.buildLogsRunning && getBuildMessage().length"
)
  .build-log-header
    .build-log-header-text {{getBuildMessage()}}
