.popover.menu.bottom.popover-debug(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
  style = "transform-origin: 90% 0;"
)
  .arrow.white(
    style = "left: auto; right: 3px;"
  )
  .popover-content
    .list.popover-list
      .list-item.popover-list-item.small.disabled Debug from…
      a.list-item.popover-list-item.text-overflow.monospace(
        ng-repeat = "command in data"
        ng-if = "$middle && data[$index - 1].imageId"
        ng-click = "actions.launchDebugContainer($event, data[$index - 1])"
      )
        strong(
          ng-bind-html = "command.command"
        )

        svg.iconnables.icons-link-external
          use(
            xlink:href = "#icons-link-external"
          )