//- opens in new window
a.btn.purple.btn-toolbar(
  ng-if = "BLC.buildLogs[$index - 1].imageId"
  ng-click = "BLC.actions.launchDebugContainer($event, BLC.buildLogs[$index - 1])"
  ng-disabled = "BLC.generatingDebug"
) Debug
  svg.iconnables.icons-link-external
    use(
      xlink:href = "#icons-link-external"
    )

//- button only appears if it in the toolbar
button.btn.purple.btn-toolbar(
  ng-class = "{'active': state.active}"
  ng-disabled = "BLC.generatingDebug"
  ng-if = "BLC.buildLogs.length > 2"
  pop-over
  pop-over-actions = "BLC.actions"
  pop-over-active = "state.active"
  pop-over-data = "BLC.buildLogs"
  pop-over-options = "{\"right\":-3,\"top\":35}"
  pop-over-template = "viewPopoverDebug"
)
  svg.iconnables.icons-arrow-down
    use(
      xlink:href = "#icons-arrow-down"
    )
