h3.nav-card-header(
  ng-attr-title = "{{instance.getDisplayName()}}"
  ui-sref = "\
    base.instances.instance({userName: instance.attrs.owner.username,\
    instanceName: instance.attrs.name})\
  "
  ui-sref-active = "active"
)
  //- bubble up test agent status for repos with test compose files
  status-icon.grid-block.shrink.passed(
    ng-if = "$root.featureFlags.composeNav"
  )

  span.text-overflow {{instance.getDisplayName()}}

header.noscroll.nav-environment-header(
  ng-if = "isActive"
)
  span.grid-block {{instance.attrs.isTesting ? 'Testing' : 'Staging'}}

ul.nav-container-list(
  ng-if = "isActive"
)
  li.li(
    instance = "instance"
    instance-navigation
  )
  li.li(
    instance = "childInstance"
    instance-navigation
    ng-repeat = "childInstance in instance.isolation.instances.models | orderBy: ['attrs.name'] track by childInstance.attrs.name"
  )
