a.nav-card-header(
  ng-attr-title = "{{instance.getDisplayName()}}"
  ui-sref = "\
    base.instances.instance({userName: instance.attrs.owner.username,\
    instanceName: instance.attrs.name})\
  "
  ui-sref-active = "active"
)
  span.grid-block
    span.text-overflow {{instance.getDisplayName()}}

section.nav-card-section(
  ng-if = "isActive"
)
  header.noscroll.nav-environment-header
    span.grid-block {{instance.attrs.isTesting ? 'Testing' : 'Staging'}}

  ul.nav-container-list(
    ng-if = "isActive"
  )
    li.li(
      instance = "instance"
      instance-navigation
    )
    li.li(
      instance = "childInstance"
      instance-navigation
      ng-repeat = "childInstance in instance.isolation.instances.models | orderBy: ['attrs.name'] track by childInstance.attrs.name"
    )
