header.modal-header
  h1.modal-heading New Server
main.modal-body
  input.input.input-search(
    autofocus
    ng-model = "data.repoFilter"
    placeholder = "Filter repositories"
    select-on = "data.showFilter"
    required
  )
  ul.list.list-divided
    li.list-item.list-item-link(
      ng-repeat = "repo in githubRepos.models"
      ng-click = "repo.spin = true; selectRepo(repo)"
    )
      span.list-item-title {{ repo.attrs.full_name }}
      small.small {{ repo.attrs.updated_at | timeAgo }}
      .spinner-wrapper.spinner-md(
        ng-class = "{in: repo.spin}"
        ng-include = "'spinner'"
      )