input.input.input-search(
  ng-model = "data.repoFilter"
  placeholder = "Filter repositories"
  select-on = "data.showFilter"
  required
)
ul.list.list-divided
  li(
    ng-show = "loading"
  )
    .spinner-wrapper.spinner-md(
      ng-class = "{in: loading}"
      ng-include = "'spinner'"
    )
  li.list-item(
    ng-repeat = "repo in githubRepos.models| \
      repos:data.repoFilter as newRepos"
    ng-click = "repo.spin = true; selectRepo(repo)"
  )
    span.list-item-title {{ repo.attrs.full_name }}
    small.small {{ repo.attrs.updated_at | timeAgo }}
    .spinner-wrapper.spinner-sm.spinner-blue(
      ng-class = "{in: repo.spin}"
      ng-include = "'spinner'"
    )
    svg.iconnables.icons-arrow-down(
      ng-class = "{out: repo.spin}"
    )
      use(
        xlink:href = "#icons-arrow-down"
      )
//- coach mark
//- .guide-wrapper.guide-1(
//-   style = "left: -18px; top: 117px;"
//- )
//-   .guide.guide-mark
//-   .popover.left.popover-guides.in(
//-     style = "left: -271px; top: -39px;"
//-   )
//-     .arrow.white
//-     .popover-content.clearfix
//-       h3.popover-header Select a repository
//-       p Choose one of your repos to run on a server
