input.input.input-search(
  ng-model = "data.repoFilter"
  placeholder = "Filter repositories"
  required
  select-on = "data.showFilter"
)
ul.list.list-divided
  li(
    ng-show = "loading"
  )
    .spinner-wrapper.spinner-md(
      ng-class = "{in: loading}"
      ng-include = "'spinner'"
    )
  li.list-item.btn.white(
    ng-class = "{active: state.selectedRepo === repo}"
    ng-click = "selectRepo(repo); "
    ng-repeat = "repo in githubRepos.models| \
      repos:data.repoFilter |\
      orderBy: '-attrs.updated_at' "
  )
    span.list-item-title.text-overflow {{ repo.attrs.full_name }}
    small.small {{ repo.attrs.updated_at | timeFrom }}
    .spinner-wrapper.spinner-sm.spinner-purple.in(
      ng-if = "repo.spin"
      ng-include = "'spinner'"
    )
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )
