.modal-dialog.modal-fork(
  ng-click = "$event.stopPropagation()"
)
  header.modal-header
    h1.modal-heading Fork Server

  section.modal-body
    form(
      name = "data.forkForm"
      ng-submit = "actions.forkInstance(items);"
    )
      label.input-group.input-validate.with-description(
        ng-class = "{\
          focus: data.forkForm.forkName.showFocus,\
          'ng-invalid': data.forkForm.forkName.$invalid,\
          'ng-valid': data.forkForm.forkName.$valid\
        }"
      )
        span.input-label Name
        span.input-description.text-overflow {{ items[0].opts.name }}.{{ data.instance.attrs.owner.username.toLowerCase() }}.runnable.io
        input.input(
          autocomplete = "off"
          autofocus
          instance = "data.instance"
          name = "forkName"
          ng-blur = "data.forkForm.forkName.showFocus = false;"
          ng-focus = "data.forkForm.forkName.showFocus = true"
          ng-init = "data.forkForm.forkName.showFocus = true; \
            data.renameForm.forkName.showFocus = true;"
          ng-model = "items[0].opts.name"
          placeholder = "My-Server"
          validate-name = "data.instances"
          validate-name-current-instance-valid = "false"
          validate-name-pattern
        )
        .btn-popover-wrapper(
          environment-button
          item = "items[0]"
          ng-if = "items[0].opts.env"
        )
      //- .invalid-pattern for names with invalid characters
        - .invalid-name for names that are taken
      .validate-wrapper.btn-sm.orange(
        ng-class = "{\
          in: data.forkForm.forkName.$invalid,\
          'invalid-pattern': data.forkForm.forkName.$error.namePattern,\
          'invalid-name': data.forkForm.forkName.$error.nameAvailable\
        }"
      )
        span.validate-rules.invalid-pattern Please use #{''}
          b.btn-xs.orange A-Z
          b.btn-xs.orange a-z
          b.btn-xs.orange 0-9
          b.btn-xs.orange _
          b.btn-xs.orange -
        span.validate-rules.invalid-name That's a pretty name, but it's taken.
      linked-instances(
        instance-dependencies = "data.instance.dependencies"
        instances = "data.instances"
        items = "devItems"
        ng-if = "data.instance.dependencies.models.length"
        type = "modal"
        fork-dependencies = "data.forkDependencies"
      )

  footer.modal-footer
    //- cancel is modalDirective
      - actions.cancel is parent controller
    button.btn.green(
      ng-class = "{ \
        green: data.forkForm.$valid, \
        orange: data.forkForm.$invalid \
      }"
      ng-click = "actions.forkInstance(items); defaultActions.cancel();"
      ng-disabled = "data.forkForm.$invalid"
    ) Fork Server
    button.btn.white(
      ng-click = "data.forkForm.$setPristine(); \
        defaultActions.cancel(); "
      type = "button"
    ) Go Back
