.modal-backdrop(
  ng-if = "in"
  ng-click = "$event.stopPropagation()"
  ng-class = "{'in': in}"
)
   modal-fork-box(
     actions = "actions"
     default-actions = "defaultActions"
     data = "data"
   )