//- tabs
.btn-group.btn-toggle.btn-toggle-xs(
  ng-hide = "$root.featureFlags.fullScreen"
  ng-init = "page = 'backup';"
)
  button.btn.btn-xs.white(
    ng-class = "{'active': page === 'backup'}"
    ng-click = "page = 'backup'"
  ) Backup
  button.btn.btn-xs.white(
    ng-class = "{'active': page === 'restore'}"
    ng-click = "page = 'restore'"
  ) Restore

//- backup script
.label(
  ng-hide = "$root.featureFlags.fullScreen"
  ng-if = "page === 'backup'"
  ng-init = "\
    hours = ['12:00 AM','1:00 AM','2:00 AM','3:00 AM','4:00 AM','5:00 AM','6:00 AM','7:00 AM','8:00 AM','9:00 AM','10:00 AM','11:00 AM','12:00 PM','1:00 PM','2:00 PM','3:00 PM','4:00 PM','5:00 PM','6:00 PM','7:00 PM','8:00 PM','9:00 PM','10:00 PM','11:00 PM'];\
    selectedHour = '3:00 AM';\
    showLogs = false;\
  "
)
  .label-description.clearfix
    .label-col Backup Script
    .small.text-gray.clearfix
      span.float-left Backups are created daily by running this script at
      fancy-select.btn.btn-xxs.white.float-left(
        value = "selectedHour"
      )
        fancy-option(
          ng-repeat = "hour in $parent.hours"
          style = "text-align: right;"
          value = "hour"
        ) {{$parent.hour}} PST

  .logs-runnable-dark
    .views-toolbar(
      ng-if = "page === 'backup'"
    )
      //- only show revert button if script differs from default
      //- button.btn.btn-purple.btn-toolbar.purple Revert to Default

      //- automatically open and scroll to logs when this button is clicked
      button.btn.purple.btn-toolbar(
        ng-class = "{'disabled': false}"
      ) Back Up Now
      //- disable the above button and add tooltip if the container is down
        tooltip = "You can’t back up while the container isn’t running."
        tooltip-options = "{\"class\":\"bottom bottom-arrow-right\",\"right\":0,\"top\":24}"

    .ace-container.ace-backup(
      ng-class = "{\
        'ace-runnable-dark': !$root.featureFlags.imAfraidOfTheDark,\
        'ace-runnable-light': $root.featureFlags.imAfraidOfTheDark\
      }"
      ng-if = "page === 'backup'"
    )
      //- .ace_editor

    //- only show after the backup script has run for the first time. auto-scroll to logs when clicked.
    button.btn.btn-xs.btn-logs(
      ng-class = "{'in': showLogs}"
      ng-click = "showLogs = !showLogs"
    ) {{showLogs ? 'Hide Logs' : 'View Logs'}}
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )

    //- show automatically if the backup failed. otherwise, show when "View Logs" button or "Back Up Now" button is clicked.
    .build-log-wrapper(
      ng-if = "showLogs"
      ng-include = "'backupLogsView'"
    )

//- restore script
.label(
  ng-hide = "$root.featureFlags.fullScreen"
  ng-if = "page === 'restore'"
)
  .label-description.clearfix
    .label-col Restore Script
    .small.text-gray This script runs during every build, restoring from the most recent backup.&#32;
      a.link(
        href = "#"
        target = "_blank"
      ) Learn how to restore from older backups
      | .
  .logs-runnable-dark
    //- only show toolbar and revert button if script differs from default
    //- .views-toolbar(
    //-   ng-if = "page === 'restore'"
    //- )
    //-   button.btn.btn-purple.btn-toolbar.purple Revert to Default
    .ace-container.ace-restore(
      ng-class = "{\
        'ace-runnable-dark': !$root.featureFlags.imAfraidOfTheDark,\
        'ace-runnable-light': $root.featureFlags.imAfraidOfTheDark\
      }"
      ng-if = "page === 'restore'"
    )
      //- .ace_editor
