.label-col Stack Type

.input-col
  //- If new container
  .btn-group.btn-group-stacks(
    ng-if = "isNewContainer"
  )
    label.btn.btn-radio.white(
      ng-repeat = "framework in stacks track by framework.key"
      ng-class = "{\
        'active': temp.stackKey === framework.key,\
        'no-touching': temp.stackKey === framework.key,\
        'recommended': state.repo.stackAnalysis.languageFramework === framework.key\
      }"
      ng-disabled = "saving"
    )
      img.iconnables(
        height = "24"
        ng-src = "/build/images/logos/logo-icon-{{framework.key}}.svg"
        width = "24"
      )
      | {{framework.name}}
      input.input-radio(
        name = "state.selectedStack"
        ng-disabled = "saving"
        ng-model = "temp.stackKey"
        ng-value = "framework.key"
        type = "radio"
      )

  fancy-select.btn-sm.white(
    ng-disabled = "saving"
    ng-if = "!isNewContainer"
    ng-required = "true"
    placeholder = "Select language/framework"
    spinner-flag = "saving"
    value = "temp.stackKey"
  )
    li.list-item.popover-list-item.small.disabled(
      ng-if = "$parent.state.repo.stackAnalysis.languageFramework"
    ) Suggested stack type
    fancy-option(
      ng-repeat = "framework in $parent.stacks | filter: { key: $parent.state.repo.stackAnalysis.languageFramework } track by framework.key"
      value = "framework.key"
    )
      img.iconnables(
        height = "24"
        ng-src = "/build/images/logos/logo-icon-{{$parent.framework.key}}.svg"
        width = "24"
      )
      | {{$parent.framework.name}}

    li.divider(
      ng-if = "$parent.state.repo.stackAnalysis.languageFramework"
    )
    fancy-option(
      ng-repeat = "framework in $parent.stacks | filter: { key: '!' + $parent.state.repo.stackAnalysis.languageFramework } | orderBy:'name' track by framework.key "
      value = "framework.key"
    )
      img.iconnables(
        height = "24"
        ng-src = "/build/images/logos/logo-icon-{{$parent.framework.key}}.svg"
        width = "24"
      )
      | {{$parent.framework.name}}


  fancy-select.btn-sm.white.btn-validate(
    ng-class = "{ \
      'focus': state.selectedStack && !state.selectedStack.selectedVersion \
    }"
    ng-disabled = "!state.selectedStack"
    ng-required = "true"
    on-update = "updateDockerfile"
    placeholder = "Select Version"
    value = "state.selectedStack.selectedVersion"
  )
    li.list-item.popover-list-item.small.disabled(
      ng-if = "$parent.state.selectedStack.suggestedVersion"
    ) Suggested {{$parent.$parent.state.selectedStack.name}} Version
    fancy-option(
      ng-repeat = "version in $parent.state.selectedStack.versions | filter: $parent.state.selectedStack.suggestedVersion : true | limitTo: 1"
      value = "version"
    ) {{$parent.version}}
    li.divider(
      ng-if = "$parent.state.selectedStack.suggestedVersion"
    )
    fancy-option(
      ng-repeat = "version in $parent.state.selectedStack.versions | filter: '!' + $parent.state.selectedStack.suggestedVersion : true"
      value = "version"
    ) {{$parent.version}}

.input-col(
  ng-repeat = "depStack in state.selectedStack.dependencies"
)
  .small {{depStack.name}}
  fancy-select.btn-sm.white.btn-validate(
    ng-class = "{ \
      'focus': state.selectedStack && state.selectedStack.selectedVersion && !depStack.selectedVersion \
    }"
    ng-required = "state.selectedStack.dependencies.length"
    on-update = "updateDockerfile"
    placeholder = "Select Version"
    value = "depStack.selectedVersion"
  )
    li.list-item.popover-list-item.small.disabled(
      ng-if = "$parent.depStack.suggestedVersion"
    ) Suggested {{$parent.$parent.depStack.name}} Version
    fancy-option(
      ng-repeat = "version in $parent.depStack.versions | filter: $parent.depStack.suggestedVersion | limitTo: 1"
      value = "version"
    ) {{$parent.version}}
    li.divider(
      ng-if = "$parent.depStack.suggestedVersion"
    )
    fancy-option(
      ng-repeat = "version in $parent.depStack.versions | filter: '!'+ $parent.depStack.suggestedVersion"
      value = "version"
    ) {{$parent.version}}
