.label.clearfix(
  ng-include = "'viewFormStackSelector'"
)

.label.clearfix
  .label-col Branch
  .input-col(
    auto-update = "true"
    branch-selector
    loading-promises-target = "editServerModal"
    state = "state"
  )
  small.small.input-col We’ll build with the code on this branch; choose a stable branch for best results.