.label.clearfix
  .label-col Language / Framework

  .input-col
    fancy-select(
      placeholder = "Select language/framework"
      ng-required = "true"
      value = "temp.stack"
      track-by = "key"
    )
      li.list-item.popover-list-item.small(
        ng-if = "$parent.state.repo.stackAnalysis.languageFramework"
      ) Suggested Language/Framework
      fancy-option(
        ng-repeat = "framework in $parent.data.stacks | filter: { key: $parent.state.repo.stackAnalysis.languageFramework }"
        value = "framework"
      )
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
        | {{$parent.framework.name}}

      li.divider(
        ng-if = "$parent.state.repo.stackAnalysis.languageFramework"
      )
      fancy-option(
        ng-repeat = "framework in $parent.data.stacks | filter: { key: '!' + $parent.state.repo.stackAnalysis.languageFramework } | orderBy:'name'"
        value = "framework"
      )
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
        | {{$parent.framework.name}}

    fancy-select(
      value = "temp.stack.selectedVersion"
      placeholder = "Select Version"
      ng-required = "true"
      ng-disabled = "!temp.stack"
    )
      li.list-item.popover-list-item.small(
        ng-if = "$parent.temp.stack.suggestedVersion"
      ) Suggested {{$parent.$parent.temp.stack.name}} Version
      fancy-option(
        value = "version"
        ng-repeat = "version in $parent.temp.stack.versions | filter: $parent.temp.stack.suggestedVersion"
      ) v{{$parent.version}}
      li.divider(
        ng-if = "$parent.temp.stack.suggestedVersion"
      )
      fancy-option(
        value = "version"
        ng-repeat = "version in $parent.temp.stack.versions | filter: '!'+ $parent.temp.stack.suggestedVersion"
      ) v{{$parent.version}}
    .label(
      ng-repeat = "depStack in temp.stack.dependencies"
    )
      .small {{depStack.name}}
      fancy-select(
        value = "depStack.selectedVersion"
        ng-required = "temp.stack.dependencies.length"
        placeholder = "Select Version"
      )
        li.list-item.popover-list-item.small(
          ng-if = "$parent.depStack.suggestedVersion"
        ) Suggested {{$parent.$parent.depStack.name}} Version
        fancy-option(
          value = "version"
          ng-repeat = "version in $parent.depStack.versions | filter: $parent.depStack.suggestedVersion"
        ) v{{$parent.version}}
        li.divider(
          ng-if = "$parent.depStack.suggestedVersion"
        )
        fancy-option(
          value = "version"
          ng-repeat = "version in $parent.depStack.versions | filter: '!'+ $parent.depStack.suggestedVersion"
        ) v{{$parent.version}}