.label.clearfix(
  ng-include = "'viewFormStackSelector'"
)

.label.clearfix
  .label-col Branch
  .input-col(
    auto-update = "true"
    branch-selector
    loading-promises-target = "editServerModal"
    state = "state"
  )
  small.small.input-col Select the branch you would like to use to build your first container.