.label.clearfix(
  ng-if = "showStackSelector"
  ng-include = "'viewFormStackSelector'"
)

.label.clearfix
  .label-col Branch
  .input-col
    div(
      auto-update = "true"
      branch-selector
      loading-promises-target = "editServerModal"
      state = "state"
    )
    small.small Select the branch you would like to use to build your first container.

.label.clearfix(
  ng-if = "$root.featureFlags.testingFeature"
)
  .grid-block.shrink.align-center.well.well-600.gray.padding-sm
    .grid-content
      .strong.text-gray-dark This is a test container.
      small.small We’ll report your test results on your pull-requests on GitHub.
    label.toggle-wrapper.shrink
      input.toggle-input(
        ng-disabled = "WFC.isIsolationGroupMaster"
        ng-model = "WFC.whitelist.enabled"
        type = "checkbox"
      )
      .toggle-group.toggle-sm
