.label.clearfix
  .label-col Initial Branch

  .input-col
    fancy-select(
      ng-disabled = "branchFetching"
      ng-required = "true"
      value = "state.branch"
      track-by = "attrs.name"
      spinner-flag = "branchFetching"
    )
      li.list-item.popover-list-item.small Select initial branch
      fancy-option(
        ng-repeat = "branch in $parent.state.repo.branches.models"
        value = "branch"
      )
        svg.iconnables.icons-branch
          use(
            xlink:href = "#icons-branch"
          )
        | {{ $parent.branch.attrs.name }}
    small.small We’ll build the first container with the code on this branch. We recommend choosing a stable branch.

.label.clearfix
  .label-col Stack Type

  .input-col
    fancy-select(
      ng-required = "true"
      placeholder = "Select language/framework"
      track-by = "key"
      name = 'mainstack'
      value = "temp.stack"
    )
      li.list-item.popover-list-item.small(
        ng-if = "$parent.state.repo.stackAnalysis.languageFramework"
      ) Suggested stack type
      fancy-option(
        ng-repeat = "framework in $parent.data.stacks | filter: { key: $parent.state.repo.stackAnalysis.languageFramework } track by framework.key "
        value = "framework"
      )
        img.iconnables(
          height = "24"
          ng-src = "/build/images/logos/logo-icon-{{$parent.framework.key}}.svg"
          width = "24"
        )
        | {{$parent.framework.name}}

      li.divider(
        ng-if = "$parent.state.repo.stackAnalysis.languageFramework"
      )
      fancy-option(
        ng-repeat = "framework in $parent.data.stacks | filter: { key: '!' + $parent.state.repo.stackAnalysis.languageFramework } | orderBy:'name' track by framework.key "
        value = "framework"
      )
        img.iconnables(
          height = "24"
          ng-src = "/build/images/logos/logo-icon-{{$parent.framework.key}}.svg"
          width = "24"
        )
        | {{$parent.framework.name}}

    fancy-select(
      ng-disabled = "!state.selectedStack"
      ng-required = "true"
      placeholder = "Select Version"
      value = "state.selectedStack.selectedVersion"
    )
      li.list-item.popover-list-item.small(
        ng-if = "$parent.state.selectedStack.suggestedVersion"
      ) Suggested {{$parent.$parent.state.selectedStack.name}} Version
      fancy-option(
        ng-repeat = "version in $parent.state.selectedStack.versions | filter: $parent.state.selectedStack.suggestedVersion"
        value = "version"
      ) v{{$parent.version}}
      li.divider(
        ng-if = "$parent.state.selectedStack.suggestedVersion"
      )
      fancy-option(
        ng-repeat = "version in $parent.state.selectedStack.versions | filter: '!'+ $parent.state.selectedStack.suggestedVersion"
        value = "version"
      ) v{{$parent.version}}
    .label(
      ng-repeat = "depStack in state.selectedStack.dependencies"
    )
      .small {{depStack.name}}
      fancy-select(
        ng-required = "state.selectedStack.dependencies.length"
        placeholder = "Select Version"
        value = "depStack.selectedVersion"
      )
        li.list-item.popover-list-item.small(
          ng-if = "$parent.depStack.suggestedVersion"
        ) Suggested {{$parent.$parent.depStack.name}} Version
        fancy-option(
          ng-repeat = "version in $parent.depStack.versions | filter: $parent.depStack.suggestedVersion"
          value = "version"
        ) v{{$parent.version}}
        li.divider(
          ng-if = "$parent.depStack.suggestedVersion"
        )
        fancy-option(
          ng-repeat = "version in $parent.depStack.versions | filter: '!'+ $parent.depStack.suggestedVersion"
          value = "version"
        ) v{{$parent.version}}
