.label.clearfix(
  ng-include = "'viewFormStackSelector'"
)

.label.clearfix
  .label-col Initial Branch
  .input-col(
    auto-update = "true"
    branch-selector
    loading-promises-target = "editServerModal"
    state = "state"
  )
  small.small.input-col We’ll build the first container with the code on this branch. We recommend choosing a stable branch.