//- If loading:
//- .modal-form
  .spinner-wrapper.spinner-md.spinner-gray.in(
    ng-include = "'spinner'"
  )

.modal-form.empty.grid-block.vertical.align-center.form-github(
  github-integration
)
