.popover.left.popover-link-servers(
  ng-class = "{in: data.show}"
  ng-click = "$event.stopPropagation()"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white
  .popover-content
    .popover-guides(
      ng-class = "{in: data.guide}"
      ng-init = "data.guide = true"
    )
      p.p.clearfix Create a link by setting an environment variable to the hostname of the server you want to link to.
    ul.list.popover-list
      li.list-item.popover-list-item.small Choose server to link
        button.btn.btn-xs(
          ng-class = "{active: data.guide}"
          ng-click = "data.guide = !data.guide"
        ) ?
      li.list-item.popover-list-item(
        ng-repeat = "otherInstance in data.instanceData.instances.models | \
            instancesWithOpenPorts:data.instanceData.instance"
      ) {{ otherInstance.attrs.name }}
        button.btn.btn-xxs.gray(
          ng-click = "actions.pasteDependency(otherInstance)"
        ) insert