.popover.popover-fixed.popover-files.popover-views(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
)
  .popover-header
    strong.strong.text-overflow Upload File
    //- if existing file:
    //- strong.strong.text-overflow filename.ext

  .popover-content
    label.label.clearfix
      .input-col
        .btn.btn-block.white.text-overflow.btn-upload(
          ng-click = "state.view3 = true"
        ) filename.ext
          small.small Uploaded 32 days ago
          label.btn.btn-xs.gray(
            for = "input-upload"
          ) Choose
            input#input-upload(
              type = "file"
            )

    label.label.clearfix
      .label-col Destination
      .input-col.input-root
        input.input.input-sm(
          placeholder = "required"
          required
          spellcheck = "false"
        )

    label.label.clearfix
      .label-col Build Commands
      .input-col
        textarea.textarea.monospace(
          spellcheck = "false"
        )
        small.small Commands to be executed when your container is built and before it is launched.

    //- not shown if new repo
    button.btn.btn-xs.orange Delete File

  .popover-footer.clearfix
    button.btn.btn-sm.green Add File
    button.btn.btn-sm.gray.btn-cancel Cancel