.popover.popover-fixed.popover-files.popover-views(
  ng-class = "{\
    in: active,\
    'view-2': false,\
    'view-3': false\
  }"
  ng-style = "popoverStyle.getStyle()"
)
  //- choose repository
  .popover-view(
    ng-include = "'viewPopoverFilesRepositorySelect'"
  )

  //- repository options
  .popover-view(
    ng-include = "'viewPopoverFilesRepositoryOptions'"
  )

  //- commits/branch
  .popover-view(
    ng-include = "'viewPopoverFilesRepositoryCommit'"
  )