button.btn.btn-md.btn-spinner.btn-status(
  ng-class = "getClassForInstance()"
  ng-click = "CSBC.popoverActive = true"
)
  status-icon.float-left(
    instance = "CSBC.instance"
    ng-if = "!isChanging()"
  )
  //- if stopping, starting, restarting
  .spinner-wrapper.spinner-gray.spinner-sm.float-left.in(
    ng-if = "isChanging()"
    ng-include = "'spinner'"
  )

  span.float-left {{getStatusText()}}

  svg.iconnables.icons-arrow-down(
    pop-over
    pop-over-actions = "CSBC.actions"
    pop-over-active = "CSBC.popoverActive"
    pop-over-controller = "CSBC"
    pop-over-options = "{\"centered\":true,\"top\":45}"
    pop-over-template = "containerStatusOptionsPopoverView"
    pop-over-trigger = "activeAttr"
  )
    use(
      xlink:href = "#icons-arrow-down"
    )
  //- if update and rebuild
  svg.iconnables.icons-alert.float-right(
    ng-if = "!CSBC.doesMatchMasterPod() && (!CSBC.instance.attrs.isolated || $root.featureFlags.allowIsolatedUpdate)"
  )
    use(
      xlink:href = "#icons-alert-alt"
    )
