.popover.menu.bottom.popover-primary-options(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white
  .popover-content
    ul.popover-list
      li.popover-list-item(
        ng-if = "!$root.featureFlags.testMenu && !CSBC.instance.isMigrating() && !CSBC.isTesting() && ['stopped', 'crashed'].includes(CSBC.instance.status())"
        ng-click = "actions.startInstance()"
      )
        .icons-status.green
        | Start

      li.popover-list-item(
        ng-if = "!$root.featureFlags.testMenu && !CSBC.instance.isMigrating() && !CSBC.isTesting() && ['running'].includes(CSBC.instance.status())"
        ng-click = "actions.restartInstance()"
      )
        .icons-status.green
        | Restart

      li.popover-list-item(
        ng-if = "$root.featureFlags.internalDebugging"
        ng-click = "CSBC.instance.redeploy(angular.noop)"
      )
        .icons-status.green
        | (I) Redeploy

      li.popover-list-item(
        ng-if = "!$root.featureFlags.testMenu && !CSBC.instance.isMigrating() && !CSBC.isTesting() && ['running'].includes(CSBC.instance.status())"
        ng-click = "actions.stopInstance()"
      )
        .icons-status
        | Stop

      li.divider(
        ng-if = "!CSBC.instance.isMigrating() && !CSBC.isTesting() && ['running', 'stopped', 'crashed'].includes(CSBC.instance.status())"
      )

      //- Use plural containers and images when running with compose
      li.popover-list-item.multi-line(
        ng-if = "$root.featureFlags.testMenu"
      )
        .icons-status.orange
        | {{CSBC.isTesting() ? 'Redeploy Test' : 'Redeploy'}}
        .small Deploy {{CSBC.isTesting() ? 'test ' : ''}}container{{$root.featureFlags.composeInstance ? 's' : ''}} from built image{{$root.featureFlags.composeInstance ? 's' : ''}}.

      //- rebuild without cache when no new service exists for this container
      li.popover-list-item.multi-line(
        ng-click = "\
          (!CSBC.instance.attrs.isolated && !CSBC.doesMatchMasterPod()) ? \
          actions.updateConfigToMatchMaster() : \
          actions.rebuildWithoutCache()\
        "
      )
        .icons-status.orange
        | {{CSBC.isTesting() ? 'Rebuild Test' : 'Rebuild'}}
        .small Build and deploy {{CSBC.isTesting() ? 'test ' : ''}}container{{$root.featureFlags.composeInstance ? 's' : ''}} without cache.

      //- rebuild without cache when no new service exists for this container
      li.popover-list-item.multi-line(
        ng-click = "actions.updateConfigToMatchMaster()"
        ng-if = "!$root.featureFlags.testMenu && $root.featureFlags.allowIsolatedUpdate && CSBC.instance.attrs.isolated && !CSBC.doesMatchMasterPod()"
      )
        .icons-status.orange
        | Update and Rebuild
        .small Pull your latest config, then deploy container from rebuilt image (without cache).

    .well.well-popover.orange.text-center.padding-xxs.small(
      ng-if = "(!CSBC.instance.attrs.isolated || $root.featureFlags.allowIsolatedUpdate) && !CSBC.doesMatchMasterPod()"
    ) This container’s configuration has changed. Rebuild to update.

    //- only show if the configuration has not been changed
    .well.well-popover.orange.text-center.padding-xxs.small(
      ng-if = "['buildFailed', 'neverStarted'].includes(CSBC.instance.status()) && CSBC.doesMatchMasterPod()"
    ) Having build problems? Some errors can be resolved by rebuilding.
