.popover.menu.bottom.popover-primary-options(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white
  .popover-content
    //- hide list if build failed
    ul.popover-list
      li.popover-list-item(
        ng-if = "CSBC.shouldRenderNormalButtons() && ['stopped', 'crashed'].includes(CSBC.instance.status())"
        ng-click = "actions.startInstance()"
      )
        .icons-status.green
        | Start

      li.popover-list-item(
        ng-if = "CSBC.shouldRenderNormalButtons() && ['running'].includes(CSBC.instance.status())"
        ng-click = "actions.restartInstance()"
      )
        .icons-status.green
        | Restart

      li.popover-list-item(
        ng-if = "CSBC.shouldRenderNormalButtons() && ['running'].includes(CSBC.instance.status())"
        ng-click = "actions.stopInstance()"
      )
        .icons-status
        | Stop

      li.divider(
        ng-if = "CSBC.shouldRenderNormalButtons() && ['running', 'stopped', 'crashed'].includes(CSBC.instance.status())"
      )

      //- rebuild without cache when no new config exists for this container
      li.popover-list-item.multi-line(
        ng-click = "\
          (!CSBC.instance.attrs.isolated && !CSBC.doesMatchMasterPod()) ? \
          actions.updateConfigToMatchMaster() : \
          actions.rebuildWithoutCache()\
        "
      )
        .icons-status.orange
        | {{CSBC.instance.isolation.groupMaster.attrs.isTesting || CSBC.instance.attrs.isTesting ? 'Rerun Test' : 'Rebuild'}}
        .small {{CSBC.instance.isolation.groupMaster.attrs.isTesting || CSBC.instance.attrs.isTesting ? 'Will rerun tests without cache.' : 'Will rebuild without cache.'}}

      //- rebuild without cache when no new config exists for this container
      li.popover-list-item.multi-line(
        ng-if = "$root.featureFlags.allowIsolatedUpdate && CSBC.instance.attrs.isolated && !CSBC.doesMatchMasterPod()"
        ng-click = "actions.updateConfigToMatchMaster()"
      )
        .icons-status.orange
        | Update Config and Rebuild
        .small Will rebuild and update the configuration.
    .well.well-popover.orange.text-center.padding-xxs(
      ng-if = "(!CSBC.instance.attrs.isolated || $root.featureFlags.allowIsolatedUpdate) && !CSBC.doesMatchMasterPod()"
    ) This container’s configuration has been changed. Rebuild to update.

    //- only show if the configuration has not been changed
    .well.well-popover.orange.text-center.padding-xxs(
      ng-if = "['buildFailed', 'neverStarted'].includes(CSBC.instance.status()) && CSBC.doesMatchMasterPod()"
    ) Having build problems? Some errors can be resolved by rebuilding.
