.popover.menu.bottom.popover-primary-options(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white
  .popover-content
    //- hide list if build failed
    ul.popover-list
      li.popover-list-item(
        ng-if = "!CSBC.instance.isMigrating() && ['stopped', 'crashed'].includes(CSBC.instance.status()) && !$root.featureFlags.testingFeature"
        ng-click = "actions.startInstance()"
      )
        .icons-status.green
        | Start

      li.popover-list-item(
        ng-if = "!CSBC.instance.isMigrating() && ['running'].includes(CSBC.instance.status()) && !$root.featureFlags.testingFeature"
        ng-click = "actions.restartInstance()"
      )
        .icons-status.green
        | Restart

      li.popover-list-item(
        ng-if = "!CSBC.instance.isMigrating() && ['running'].includes(CSBC.instance.status()) && !$root.featureFlags.testingFeature"
        ng-click = "actions.stopInstance()"
      )
        .icons-status
        | Stop

      li.divider(
        ng-if = "!CSBC.instance.isMigrating() && ['running', 'stopped', 'crashed'].includes(CSBC.instance.status()) && !$root.featureFlags.testingFeature"
      )

      //- rebuild without cache when no new config exists for this container
      li.popover-list-item.multi-line(
        ng-click = "\
          (!CSBC.instance.attrs.isolated && !CSBC.doesMatchMasterPod()) ? \
          actions.updateConfigToMatchMaster() : \
          actions.rebuildWithoutCache()\
        "
      )
        .icons-status.orange
        | {{$root.featureFlags.testingFeature ?  'Rerun Test' : 'Rebuild'}}
        .small Will rebuild without cache.

      //- rebuild without cache when no new config exists for this container
      li.popover-list-item.multi-line(
        ng-if = "$root.featureFlags.allowIsolatedUpdate && CSBC.instance.attrs.isolated && !CSBC.doesMatchMasterPod()"
        ng-click = "actions.updateConfigToMatchMaster()"
      )
        .icons-status.orange
        | Update Config and Rebuild
        .small Will rebuild and update the configuration.
    .well.well-popover.orange.text-center.padding-xxs(
      ng-if = "(!CSBC.instance.attrs.isolated || $root.featureFlags.allowIsolatedUpdate) && !CSBC.doesMatchMasterPod()"
    ) This container’s configuration has been changed. Rebuild to update.

    //- only show if the configuration has not been changed
    .well.well-popover.orange.text-center.padding-xxs(
      ng-if = "['buildFailed', 'neverStarted'].includes(CSBC.instance.status()) && CSBC.doesMatchMasterPod()"
    ) Having build problems? Some errors can be resolved by rebuilding.
