.toggle-auto-deploy {
  color: $gray;
  display: flex;
  font-size: 14px;
  color: $gray;
  cursor: pointer;
  font-weight: $weight-bold;

  &:hover {
    color: $gray-dark;
  }

  &:active {
    color: $purple-light;
  }

  &.disabled {
    opacity: .5;
    cursor: not-allowed;

    &:hover {
      color: $gray;
    }
  }

  .span,
  .icons-warning {
    opacity: .7;
  }

  .icons-warning {
    width: 19px;
    height: 19px;
    top: 3px;
    margin-left: 4px;
    color: $orange;
    // opacity: .75;
  }

  .toggle-group {
    margin-left: 4px;
    top: 5px;
  }
}

.repository-info {
  padding-left: 21px;
  position: relative;

  &.small {
    color: $gray;
    opacity: .65;
  }

  .a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .iconnables:not(.icons-warning) {
    height: 14px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 14px;
  }
}
