// section.sidebar.server-sidebar
.server-sidebar {
  height: calc(100vh - 60px);
  width: 300px;

  .row {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .spinner-wrapper {
    align-items: flex-start;
    top: 60px;
  }
}

// li.repository-group-item
.repository-group-item {
  margin: -1px 0;

  // border
  + .repository-group-item::after {
    background: rgba($black,.1);
    content: '';
    display: block;
    height: 1px;
    margin: 0 15px;
    position: absolute;
    top: 0;
    width: calc(100% - 30px);
  }

  // anchor image
  .icons-repository {
    height: 54px;
    left: 0;
    padding: 6px;
    position: absolute;
    top: 15px;
    width: 54px;
  }

  // detail image (branch or commit)
  .icons-branch,
  .icons-commit {
    height: 18px;
    left: 0;
    margin: 0 3px 0 -3px;
    position: absolute;
    top: 0;
    width: 18px;
  }
}

// wrapper for states
.repository-group-text {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  color: $gray;
  cursor: pointer;
  padding: 24px 15px 24px 54px;

  &:hover {
    background: rgba($blue,.1);
    border-color: rgba($blue,.2);
  }

  &:active,
  &.active {
    background: rgba($blue,.15);
    border-color: rgba($blue,.3);
  }

  // lighter elements
  .iconnables,
  .repository-detail {
    color: $gray-lighter;
  }
}

// h3.repository-title
.repository-title {
  font-size: 15px;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// date
.repository-detail {
  float: right;
  font-size: 10px;
}

// repo settings
.btn-repository-settings {
  color: $gray-light;
  position: absolute;
  right: 6px;
  top: 24px;

  .iconnables {
    width: 18px;
  }
}

// p.repository-description
// small.repository-detail
.repository-description,
.repository-detail {
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  position: relative;
}

.repository-description {
  padding-left: 18px;

  + .repository-description {
    height: auto;
    line-height: 1.6;
  }
}

.js-repository-branch {

}
.js-repository-commit {

}