.repository-section {

  .icons-arrow-down {
    transform: rotate3d(0,0,1,-90deg);
  }
}

//rename this class?
.repository-info {
  padding-left: 21px;
  position: relative;

  &.small {
    color: #A3A3A3; // for contrast against $gray-lighterest

    .toggle-group {
      display: inline-block;
      margin-left: 3px;
      top: 3px;
    }
  }

  .iconnables {
    height: 14px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 14px;
  }
}
