.dns-mappings-section {

  .dns-wrapper {
    margin-bottom: 6px;
    position: relative;
    top: -9px;
  }

  // repo/elastic hostname label
  .small {
    color: $gray-light;

    .strong {
      color: $gray;
    }
  }
}
