.dns-mappings-section {

  .dns-wrapper {
    margin-bottom: 6px;
    position: relative;
    top: -9px;
  }

  .small {
    color: $gray;
    text-transform: lowercase;

    .strong {
      color: $gray-dark;
    }
  }

  // modifying fancy-select elements for container selection
  .btn {
    background-color: $gray-lighterest;
    color: $gray;
    font-size: 15px;
    font-weight: 400;
    height: 33px;
    line-height: 21px;
    padding: 0 27px 3px 3px;
    text-align: left;
    width: 100%;

    .icons-status {
      margin: 9px 6px 0;
    }
  }
}