.server-sidebar {
  height: calc(100vh - 132px);
  width: 300px;

  .well {
    color: $gray;
    font-size: 14px;
    margin: 0;

    &.empty-state {
      height: auto;
      line-height: 17px;
      margin-bottom: 15px;
      padding: 6px 10px;
    }
  }

  .spinner-wrapper {
    float: right;
    margin-top: 22px;
  }
}

.sidebar-section {
  border-bottom: 1px solid $gray-lighter;
  flex: 0 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 12px;

  &.closed,
  .explorer-menu-bar-container {
    flex: 0 0 60px;
    overflow-y: hidden;
  }

  // file explorer section
  &.explorer-section {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    .file-tree {
      flex: 1 1 auto;
      margin: 0 -12px;
      overflow-y: auto;
      padding: 0 18px;
    }
  }
}