.server-sidebar {
  display: flex;
  font-size: 13px;
  height: calc(100vh - 72px);
  width: 300px;

  .row {
    border-bottom: 1px solid $gray-lighter;
    max-height: 600px;
    overflow: scroll;

    &.closed {
      max-height: 61px;
      overflow: hidden;
    }
  }

  .row-heading {
    padding-left: 13px;
  }

  .well {
    background-color: $gray-lightest;
    border: 2px solid $gray-lighter;
    border-radius: 3px;
    margin: 0;
    position: relative;

    .iconnables {
      height: 17px;
      left: 4px;
      position: absolute;
      top: 4px;
      width: 17px;
    }
  }

  .repository-group-text {
    cursor: pointer;

    &:hover {
      background: $white;
      border-color: $gray-light;
    }

    &:active,
    &.active {
      background: rgba($purple-light,.15);
      color: $purple-light;
    }

    .icons-arrow-down {
      height: 100%;
      left: auto;
      opacity: .6;
      position: absolute;
      right: 3px;
      top: 0;
      transform: rotate3d(0,0,1,-90deg);
      width: 27px;
    }
  }

  .branch {
    border-left: 2px solid $gray-lighter;
    color: $gray;
    cursor: pointer;
    height: 100%;
    padding: 4px 3px 0 12px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    font-weight: 400;

    .text-overflow {
      display: inline-block;
      max-width: 81px;
    }

    &:hover {
      background-color: $white;
    }

    .icons-arrow-down {
      left: 0;
      position: relative;
      top: -3px;
      width: 14px;
    }
  }
}

.linked-servers {

  .well {
    margin-bottom: 9px;
  }

  .well-item {
    padding: 4px 0 0 23px;
    position: relative;
    height: 34px;

    .text-overflow {
      display: inline-block;
      max-width: 105px;
    }

    .iconnables {
      top: 8px;
    }
  }
}

.indirect {
  max-height: 2000px;
  padding-bottom: 3px;

  .icons-disclose {
    opacity: .6;
  }

  &.closed {
    max-height: 36px;
    overflow: hidden;
    padding-bottom: 0;
  }

  ul .well-item {
    margin-top: -6px;
  }
}

.repo-list {
  flex: 0 0 auto;
  max-height: 50%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 9px;

  .well {
    padding: 5px 3px 6px;
  }
}

.repository-group-item {
  line-height: 23px;
}

.repository-description {
  font-weight: 500;
  line-height: 24px;
  padding-left: 23px;
  position: relative;
  word-break: break-word;

  + .repository-description {
    color: $gray;
    font-weight: 400;
  }
}

.repository-detail {
  display: block;
  font-size: 12px;
  margin-top: -1px;
  white-space: nowrap;

  .link {
    color: $purple-light;
    float: right;
    margin-right: 26px;
  }
}

.explorer {
  flex: 0 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 15px;
}

.spinner-wrapper {
  align-items: flex-start;
  top: 60px;
}
