.server-sidebar {
  display: flex;
  flex-direction: column;
  float: left;
  font-size: 13px;
  height: calc(100vh - 132px);
  width: 300px;

  // only removes transition from disclose icon
  .icons-disclose {
    transition: none;
  }

  .row {
    border-bottom: 1px solid $gray-lighter;
    flex: 0 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 12px;

    &.closed {
      flex: 0 0 61px;
    }
  }

  .explorer {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    .explorer-menu-bar-container {
      flex: 0 0 60px;
    }

    .file-tree {
      flex: 1 1 auto;
      margin: 0 -12px;
      overflow-y: auto;
      padding: 0 18px;
    }
  }

  .row-heading {
    cursor: pointer;
    padding-right: 0;

    &.closed {
      color: $gray;

      &:hover {
        color: $gray-darker;
      }
    }

    .icons-disclose {
      height: 15px;
      left: -3px;
      position: absolute;
      top: 24px;
      width: 15px;
    }
  }

  .well {
    background-color: $gray-lighterest;
    border: 1px solid $gray-lighter;
    border-radius: 3px;
    margin: 0;
    position: relative;

    .iconnables {
      height: 14px;
      left: 6px;
      position: absolute;
      top: 4px;
      width: 14px;
    }
  }

  .empty-state {
    color: $gray;
    height: auto;
    line-height: 17px;
    padding: 6px 10px;
  }

  .repository-group-text {
    border-width: 2px;
    color: $gray;
    cursor: pointer;

    &:hover {
      background: $white;
      border-color: $gray-light;
    }

    &:active,
    &.active {
      background: $white;
      border-color: currentColor;
      color: $purple-light;
    }

    .icons-arrow-down {
      height: 100%;
      left: auto;
      position: absolute;
      right: 3px;
      top: 0;
      transform: rotate3d(0,0,1,-90deg);
      width: 27px;
    }
  }

  .branch {
    border-left: 2px solid $gray-lighter;
    color: $gray;
    cursor: pointer;
    font-weight: 400;
    height: 100%;
    padding: 4px 3px 0 12px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;

    &:hover {
      background-color: $white;
    }

    .icons-arrow-down {
      left: 0;
      position: relative;
      top: -3px;
      width: 14px;
    }
  }

  .spinner-wrapper {
    float: right;
    margin-right: 15px;
    margin-top: 5px;
  }
}

.linked-servers {

  .well {
    font-size: 13px;
    height: 36px;
    margin-bottom: 6px;
    padding: 5px 0 0 24px;
    text-align: left;
    width: 100%;

    &:last-child {
      margin-bottom: 15px;
    }

    &.empty-state {
      color: $gray;
      height: auto;
      line-height: 17px;
      padding: 6px 10px;
    }

    .icons-status {
      left: 9px;
    }
  }

  // modifying fancy-select elements for container selection
  .btn {
    border-width: 2px;
    line-height: 24px;
    padding: 0 0 0 24px;

    .icons-arrow-down {
      color: $gray;
      left: auto;
      right: 6px;
      top: 8px;
    }
  }
}

.repo-list {
  flex: 0 0 auto;
  max-height: 50%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 9px;

  .well {
    padding: 6px;
  }

  .label-checkbox {
    margin: 0;
    padding: 3px 0;
  }
}

.repository-description {
  font-weight: 400;
  line-height: 24px;
  padding: 0 27px;
  position: relative;
  word-break: break-word;

  &:first-child {
    font-weight: 500;
  }
}

.repository-detail {
  display: block;
  font-size: 11px;
  margin-top: -6px;
  white-space: nowrap;

  .link {
    color: $purple-light;
    float: right;
  }
}
