// header.server-header
.server-header {
  border-bottom: 1px solid rgba($black,.1);
  display: flex;
  height: 72px;
  padding: 0 9px 0 12px;
}

// h1.server-info
.server-info {
  flex: 1 1 auto;
  overflow: hidden;
  padding: 12px 0;
  position: relative;
}

// wrapper for container name, branch name, and status icon
.container-title {
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;

  &.centered {
    line-height: 70px;
    margin-top: 0;
  }

  .icons-status {
    margin-right: 6px;
    top: -2px;
  }

  // pull request link
  .link {
    color: $gray;
    font-size: 18px;
    margin-left: 6px;
  }
}

.container-url {
  display: inline-block;
  font-size: 15px;
  line-height: 21px;

  .input[readonly] {
    background: none;
    color: $gray;
    display: block;
    font-weight: 400;
    height: 21px;
    line-height: 21px;
    padding: 0;
  }

  // sets width of url input
  .span {
    visibility: hidden;
  }

  // external link
  .a {
    color: $gray;
    display: inline-block;
    height: 21px;
    padding: 3px 6px;
    position: relative;
    top: -21px;
    width: 27px;

    &:hover {
      color: $gray-dark;
    }

    &:active {
      color: $purple-light;
    }

    .iconnables {
      height: 100%;
      width: 100%;
    }
  }
}

.internal-debugging {
  bottom: 12px;
  font-size: 13px;
  line-height: 21px;
  position: absolute;
}

// header.server-header actions
.primary-actions {
  flex: 0 0 auto;
  line-height: 72px;
  padding-left: 9px;
  position: relative;

  // offset for vertical-align: middle
  .btn-group {
    margin-left: 6px;
    top: -3px;
  }

  .btn[disabled],
  .btn.disabled {
    margin: 0;
  }
}
