// section.sidebar.server-sidebar
.server-sidebar {
  display: flex;
  height: calc(100vh - 72px);
  width: 300px;

  .row {
    position: relative;
  }

  .spinner-wrapper {
    align-items: flex-start;
    top: 60px;
  }
}

// ul.repo-list
.repo-list {
  flex: 0 0 auto;
  max-height: 50%;
  overflow-x: hidden;
  overflow-y: auto;
}

.explorer {
  flex: 0 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 15px;
}

// li.repository-group-item
.repository-group-item {
  margin: -1px 0;

  // border
  + .repository-group-item::after {
    background: rgba($black,.1);
    content: '';
    display: block;
    height: 1px;
    margin: 0 15px;
    position: absolute;
    top: 0;
    width: calc(100% - 30px);
  }
}

// wrapper for states
.repository-group-text {
  background: $gray-lightest;
  cursor: pointer;
  font-size: 14px;
  margin: 0 6px;
  padding: 12px 30px 12px 0;

  &:hover {
    background: rgba($black,.06);
  }

  &:active,
  &.active {
    background: rgba($blue,.15);
    color: $blue;

    .iconnables {
      color: currentColor;
    }

    .repository-detail {
      color: rgba($blue,.5);
    }
  }

  // git icons
  .iconnables {
    color: rgba($black,.24);
    height: 18px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 36px;
  }

  .icons-repository {
    height: 27px;
    top: 0;
  }

  // arrow
  .icons-arrow-down {
    height: 100%;
    left: auto;
    position: absolute;
    right: 9px;
    top: 0;
    transform: rotate3d(0,0,1,-90deg);
    width: 30px;
  }
}

// h3.repository-title
.repository-title,
.repository-description {
  padding-left: 36px;
  position: relative;
}

.repository-title {
  font-size: 16px;
  height: 27px;
  line-height: 27px;
}

// p.repository-description
.repository-description {
  font-size: 14px;
  height: 21px;
  line-height: 21px;
  position: relative;
  word-break: break-all;

  + .repository-description {
    height: auto;
    line-height: 1.4;
    padding-top: 2px;
  }
}

// small.repository-detail
.repository-detail {
  color: $gray-light;
  display: block;
  margin-top: 3px;
  white-space: nowrap;
}