// header.server-header
.server-header {
  border-bottom: 1px solid rgba($black,.1);
  display: flex;
  height: 72px;
  padding: 0 6px 0 15px;
}

// h1.server-info
.server-info {
  flex: 1 1 auto;
  float: left;
  height: 72px;
}

// wrapper for container name, branch name, and status icon
.container-label {
  font-size: 24px;
  font-weight: 400;
  margin-top: 12px;

  .branch-name {
    font-weight: 400;
  }

  .icons-status {
    left: 6px;
    top: -3px;
  }
}

.container-url-wrapper {
  color: $gray;
  font-size: 15px;
  font-weight: 400;
}

// clear input for urls
.container-url[readonly] {
  background: none;
  color: currentColor;
  height: 20px;
  line-height: 20px;
  padding: 0;
}

// sets width
.container-url-ghost {
  visibility: hidden;
}

.link-button {
  color: currentColor;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  left: 3px;
  position: relative;
  top: -23px;
  width: 21px;

  &:hover {
    color: $purple-light;
  }

  &:active {
    color: $purple-dark;
  }

  .iconnables {
    color: currentColor;
    position: absolute;
  }
}

.container-url-link .iconnables {
  height: 13px;
  left: 4px;
  top: 5px;
  width: 13px;
}

.documentation-link .iconnables {
  height: 16px;
  left: 2px;
  top: 3px;
  width: 16px;
}

// header.server-header actions
.primary-actions {
  flex: 0 0 auto;
  height: 72px;
  line-height: 72px;
  padding-left: 9px;
  position: relative;

  // offset for vertical-align: middle
  .btn-group {
    margin-left: 6px;
    top: -3px;
  }

  .btn[disabled],
  .btn.disabled {
    margin: 0;
  }
}
