// section.sidebar.server-sidebar
.server-sidebar {
  display: flex;
  height: calc(100vh - 72px);
  width: 300px;

  .row {
    border-bottom: 1px solid rgba($black,.1);
    position: relative;
    padding-bottom: 9px;

    // &:last-child {
    //   border-bottom: 0;
    // }
  }

  .spinner-wrapper {
    align-items: flex-start;
    top: 60px;
  }
}

// ul.repo-list
.repo-list {
  flex: 0 0 auto;
  max-height: 50%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 9px;
}

.explorer {
  flex: 0 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 15px;
}

// li.repository-group-item
.repository-group-item {
  // margin: -1px 0;

  + .repository-group-item {
    margin-top: 6px;
  }
}

// wrapper for states
.repository-group-text {
  cursor: pointer;
  padding: 12px 30px 12px 0;

  &:hover {
    background: rgba($gray-darker,.15);
  }

  &:active,
  &.active {
    background: rgba($purple-light,.15);
    color: $purple-light;
    transition: none;

    .iconnables,
    .repository-detail {
      color: currentColor;
    }

    .icons-arrow-down {
      // transform: scale3d(.75,.75,1) rotate3d(0,0,1,-90deg);
    }
  }

  // git icons
  .iconnables {
    // color: rgba($black,.24);
    // color: #333;
    // opacity: .9;
    // height: 18px;
    // left: 0;
    // position: absolute;
    // width: 36px;
  }

  // arrow
  .iconnables.icons-arrow-down {
    height: 100%;
    opacity: .55;
    left: auto;
    position: absolute;
    right: 3px;
    top: 0;
    transform: rotate3d(0,0,1,-90deg);
    width: 27px;
  }
}

// p.repository-description
.repository-description {
  // font-size: 14px;
  font-size: 13px;
  color: rgba($gray-darker,.9);
  font-weight: 500;
  // height: 21px;
  // line-height: 21px;
  line-height: 24px;
  // padding-left: 36px;
  padding-left: 26px;
  position: relative;
  word-break: break-word;

  + .repository-description {
    // height: auto;
    font-weight: 400;
    color: rgba($gray-darker,.6);
    // line-height: 1.4;
    // padding-top: 2px;
  }
}

// small.repository-detail
.repository-detail {
  color: $gray;
  font-size: 12px;
  display: block;
  // margin-top: 3px;
  white-space: nowrap;

  .link {
    // color: $purple-light;
    color: #AF74D4;
    float: right;
    margin-right: 26px;
  }
}
