.server-sidebar {
  height: calc(100vh - 132px);
  width: 300px;

  // empty states for sections
  .well {
    color: $gray;
    margin: 0 0 15px;
    line-height: 17px;
    padding: 6px 10px;
  }

  .spinner-wrapper {
    float: right;
    margin-top: 22px;
  }

  .btn.gray {
    background-color: $gray-lighterest; // override default fancy-select color
    color: $gray;
    font-size: 15px;
    font-weight: 400;
    height: auto;
    line-height: 24px;
    padding: 4px 27px 4px 9px;
    text-align: left;
    width: 100%;

    &:active {
      background-color: $white;
      color: $purple-light;
    }

    .icons-arrow-down {
      color: $gray-light;
      height: 100%;
      position: absolute;
      right: 9px;
      top: 0;
      width: 24px;
    }

    // override fancy-select float so text-overflow works
    .display {
      float: none;
    }
  }
}

.sidebar-section {
  border-bottom: 1px solid $gray-lighter;
  flex: 0 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 12px;

  &.closed,
  .explorer-menu-bar-container {
    flex: 0 0 60px;
    overflow-y: hidden;
  }

  // file explorer section
  &.explorer-section {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    .file-tree {
      flex: 1 1 auto;
      margin: 0 -12px;
      overflow-y: auto;
      padding: 0 18px;
    }
  }
}

.sidebar-heading {
  cursor: pointer;
  line-height: 60px;
  position: relative;

  &.closed {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }

  .icons-disclose {
    float: left;
    left: -3px;
    top: 18px;
    transition: none;
    width: 15px;

    .closed & {
      transform: rotate3d(0,0,1,-90deg);
    }
  }

  // for add buttons next to section headings, like in File Explorer
  .btn {
    height: 60px;

    .iconnables {
      width: 24px;
    }
  }
}

.server-sidebar-item {
  margin-bottom: 3px;
  position: relative;
  top: -6px;

  &:last-child {
    margin-bottom: 9px;
  }

  .small {
    color: $gray-dark;
  }
}
