// section.sidebar.server-sidebar
.server-sidebar {
  display: flex;
  height: calc(100vh - 72px);
  width: 300px;

  .row {
    position: relative;
  }

  .spinner-wrapper {
    align-items: flex-start;
    top: 60px;
  }
}

// ul.repo-list
.repo-list {
  flex: 0 0 auto;
  max-height: 50%;
  overflow-x: hidden;
  overflow-y: auto;
}

.explorer {
  flex: 0 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 15px;
}

// li.repository-group-item
.repository-group-item {
  margin: -1px 0;

  // border
  + .repository-group-item::after {
    background: rgba($black,.1);
    content: '';
    display: block;
    height: 1px;
    margin: 0 15px;
    position: absolute;
    top: 0;
    width: calc(100% - 30px);
  }
}

// wrapper for states
.repository-group-text {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  color: $gray;
  cursor: pointer;
  font-size: 14px;
  padding: 15px 30px 15px 45px;

  &:hover {
    background: rgba($blue,.1);
    border-color: rgba($blue,.2);

    .icons-arrow-down {
      color: $blue;
    }
  }

  &:active,
  &.active {
    background: rgba($blue,.15);
    border-color: rgba($blue,.3);

    .icons-arrow-down {
      color: $blue;
    }
  }

  // git icons
  .iconnables {
    color: rgba($black,.24);
    left: 0;
    position: absolute;
  }

  .icons-repository {
    height: 36px;
    left: 9px;
    top: 12px;
    width: 36px;
  }

  .icons-branch,
  .icons-commit {
    height: 21px;
    margin-left: -6px;
    top: 1px;
    width: 21px;
  }

  // arrow
  .icons-arrow-down {
    height: 100%;
    left: auto;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate3d(0,0,1,-90deg);
    width: 30px;
  }
}

// h3.repository-title
.repository-title {
  color: $gray-dark;
  font-size: 14px;
  height: 27px;
  line-height: 27px;
}

// p.repository-description
.repository-description {
  height: 21px;
  line-height: 21px;
  padding-left: 18px;
  position: relative;
  word-break: break-all;

  + .repository-description {
    height: auto;
    line-height: 1.4;
    padding-top: 2px;
  }
}

// small.repository-detail
.repository-detail {
  color: $gray-light;
  white-space: nowrap;
}