// section.sidebar.server-sidebar
.server-sidebar {
  display: flex;
  height: calc(100vh - 72px);
  width: 300px;
  font-size: 13px;

  .row {
    padding-bottom: 9px;
    border-bottom: 1px solid #e0e0e0;
    overflow: hidden;
    padding: 0 6px;

    &.closed {
      max-height: 61px;

      .icons-disclose {
        transform: rotate3d(0,0,1,-90deg);
      }
    }

    .row-heading {
      .h2 {
        left: 21px;
      }
    }
  }

  .spinner-wrapper {
    align-items: flex-start;
    top: 60px;
  }
}

// ul.repo-list
.repo-list {
  flex: 0 0 auto;
  max-height: 50%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 9px;
}

.explorer {
  flex: 0 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 15px;
}

.repository-group-item {
  line-height: 23px;

  .well {
    padding: 8px 0 9px 0;
    margin-bottom: 0;
  }

  .item {
    padding: 0;

    &:last-of-type {
      margin-top: -1px;
      .p {
        font-size: 12px;

        &:last-of-type {
          color: #AF74D4;
          opacity: 1;
          font-family: "source code pro";
          float: right;
          margin-right: 26px;
        }
      }
    }
  }

  .iconnables {
    top: 3px;
  }

}



// wrapper for states
.repository-group-text {
  cursor: pointer;
  padding: 12px 30px 12px 0;

  &:hover {
    background: rgba($gray-darker,.15);
  }

  &:active,
  &.active {
    background: rgba($purple-light,.15);
    color: $purple-light;
    transition: none;

    .iconnables,
    .repository-detail {
      color: currentColor;
    }

    .icons-arrow-down {
      // transform: scale3d(.75,.75,1) rotate3d(0,0,1,-90deg);
    }
  }

  // arrow
  .iconnables.icons-arrow-down {
    height: 100%;
    opacity: .55;
    left: auto;
    position: absolute;
    right: 3px;
    top: 0;
    transform: rotate3d(0,0,1,-90deg);
    width: 27px;
  }
}

// p.repository-description
.repository-description {
  font-size: 13px;
  color: rgba($gray-darker,.9);
  font-weight: 500;
  line-height: 24px;
  padding-left: 26px;
  position: relative;
  word-break: break-word;

  + .repository-description {
    font-weight: 400;
    color: rgba($gray-darker,.6);
  }
}

// small.repository-detail
.repository-detail {
  color: $gray;
  font-size: 12px;
  display: block;
  // margin-top: 3px;
  white-space: nowrap;

  .link {
    // color: $purple-light;
    color: #AF74D4;
    float: right;
    margin-right: 26px;
  }
}

.linked-servers {

  .item {
    position: relative;
    padding: 2px 9px 5px 0;
  }

  .indirect {
    padding-bottom: 6px;
    overflow: hidden;

    .item:nth-child(n+2) {
      margin-top: -6px;
    }

    .icons-disclose {
      opacity: .55;
    }

    &.closed {
      max-height: 36px;

      .icons-disclose {
        transform: rotate3d(0,0,1,-90deg);
      }
    }
  }

}