.repository-section {
  flex: 0 0 auto;
  max-height: 50%;
  overflow-x: hidden;
  overflow-y: auto;

  .label-checkbox {
    margin: 0;
    padding: 3px 0;
  }
}

// repository group "well"
.repository-group-item {

  .iconnables {
    height: 14px;
    left: 6px;
    position: absolute;
    top: 4px;
    width: 14px;
  }

  .repository-group-text {
    cursor: pointer;
    font-weight: 400;
    padding: 6px;

    &:hover {
      background: $white;
      border-color: $gray-light;
    }

    &:active,
    &.active {
      background: $white;
      border-color: currentColor;
      color: $purple-light;
    }

    .icons-arrow-down {
      height: 100%;
      left: auto;
      position: absolute;
      right: 3px;
      top: 0;
      transform: rotate3d(0,0,1,-90deg);
      width: 27px;
    }
  }
}

.repository-description {
  padding: 0 27px;
  position: relative;
  word-break: break-word;
}

.repository-detail {
  display: block;
  font-size: 12px;
  margin-top: -3px;

  .link {
    color: $purple-light;
    float: right;
  }
}