.server-sidebar {
  display: flex;
  float: left;
  font-size: 13px;
  height: calc(100vh - 132px);
  width: 300px;

  .row {
    max-height: 600px; // this should be fixed with flexbox
    overflow-y: auto;
    padding: 0 12px;

    + .row {
      border-top: 1px solid $gray-lighter;
    }
  }

  .row-heading {
    padding-left: 13px; // to accomodate disclose arrow

    .icons-disclose {
      height: 15px;
      left: -3px;
      position: absolute;
      top: 24px;
      width: 15px;
    }
  }

  .well {
    background-color: $gray-lightest;
    border: 1px solid $gray-lighter;
    border-radius: 3px;
    margin: 0;
    position: relative;

    .iconnables {
      height: 17px;
      left: 4px;
      position: absolute;
      top: 4px;
      width: 17px;
    }
  }

  .repository-group-text {
    cursor: pointer;
    border-width: 2px;

    &:hover {
      background: $white;
      border-color: $gray-light;
    }

    &:active,
    &.active {
      background: rgba($purple-light,.15);
      color: $purple-light;
    }

    .icons-arrow-down {
      height: 100%;
      left: auto;
      opacity: .6;
      position: absolute;
      right: 3px;
      top: 0;
      transform: rotate3d(0,0,1,-90deg);
      width: 27px;
    }
  }

  .branch {
    border-left: 2px solid $gray-lighter;
    color: $gray;
    cursor: pointer;
    font-weight: 400;
    height: 100%;
    padding: 4px 3px 0 12px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;

    .text-overflow {
      display: inline-block;
      max-width: 81px;
    }

    &:hover {
      background-color: $white;
    }

    .icons-arrow-down {
      left: 0;
      position: relative;
      top: -3px;
      width: 14px;
    }
  }

  .spinner-wrapper {
    align-items: flex-start;
    top: 60px;
  }
}

.linked-servers {

  .well {
    font-size: 13px;
    height: 36px;
    margin-bottom: 6px;
    padding: 5px 0 0 10px;
    text-align: left;
    width: 100%;

    .icons-status {
      float: left;
    }
  }

  // modifying fancy-select elements for container selection
  .btn {
    border-width: 2px;
    line-height: 24px;
    padding: 0 0 0 9px;

    .icons-arrow-down {
      color: $gray;
      left: auto;
      right: 6px;
      top: 8px;
    }
  }

  // .well-item {
  //   height: 34px;
  //   padding: 4px 0 0 23px;
  //   position: relative;

  //   .iconnables {
  //     top: 8px;
  //   }
  // }
}

// .indirect {
//   max-height: 2000px;
//   padding-bottom: 3px;

//   &.closed {
//     max-height: 36px;
//     overflow: hidden;
//     padding-bottom: 0;
//   }

//   ul .well-item {
//     margin-top: -6px;
//   }
// }

.repo-list {
  flex: 0 0 auto;
  max-height: 50%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 9px;

  .well {
    padding: 5px 3px 6px;
  }
}

.repository-group-item {
  line-height: 23px;
}

.repository-description {
  font-weight: 500;
  line-height: 24px;
  padding: 0 23px;
  position: relative;
  word-break: break-word;

  + .repository-description {
    color: $gray;
    font-weight: 400;
  }
}

.repository-detail {
  display: block;
  font-size: 12px;
  margin-top: -1px;
  white-space: nowrap;

  .link {
    color: $purple-light;
    float: right;
    margin-right: 26px;
  }
}

.explorer {
  flex: 0 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 15px;
}