.repository-section {
  max-height: 50%;
  overflow-x: hidden;
  overflow-y: auto;

  .icons-arrow-down {
    transform: rotate3d(0,0,1,-90deg);
  }
}

.repo-info {
  padding-left: 21px;
  position: relative;

  &.small {
    color: $gray;

    .toggle-group {
      display: inline-block;
      margin-left: 3px;
      top: 3px;
    }
  }

  .iconnables {
    height: 14px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 14px;
  }
}
