// .instance-header
.instance-header {
  align-items: center;
  border-bottom: 1px solid rgba($black,.1);
  display: flex;
  height: 60px;
  padding: 0 12px;
  position: absolute;
  top: 0;
  width: 100%;

  > .btn,
  > .btn-group {
    flex: 0 0 auto;
  }

  > .input-wrapper {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    position: relative;

    .btn-xs {
      border: 1px solid $white;
      flex: 0 0 auto;
      line-height: 22px;

      &:hover {
        background: rgba($white,.15);
      }

      &:active {
        background: $white;
        color: $gray-light;
      }

      &:first-child {
        left: 0;
      }

      &:last-child {
        right: 0;
      }
    }

    .iconnables {
      height: 100%;
      margin-left: 5px;
      width: 12px;
    }

    .input {
      background: transparent;
      flex: 1 1 auto;
      height: $input-sm;
      width: 100%;
    }
  }

  > .btn-group {
    margin-left: 6px;

    .icons-arrow-down {
      margin: 0;
    }
  }
}

// status button
.btn-status {
  padding: 0 9px;

  .icons-status {
    margin-right: 6px;
    top: 12px;
  }

  .icons-arrow-down {
    width: 21px;
  }
}

// dns button
.btn-dns {
  color: $gray-light;
  font-size: 14px;
  font-weight: $weight-bold;
  margin: 0 6px;
  padding: 0 12px;

  // colored states
  &.orange,
  &.red {
    background: transparent;
    border: 0;

    &:hover {
      background: transparent;
    }

    &:active {
      background: transparent;
    }

    // orange
    &.orange {
      color: $orange;

      .btn-xxs {
        background: $orange;
      }
    }

    // red
    &.red {
      color: $red;

      .btn-xxs {
        background: $red;
      }
    }
  }

  // dns badge
  .btn-xxs {
    background: $gray-light;
    border-radius: 16px;
    color: $white;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    margin-right: 3px;
    min-width: 16px;
    padding: 0 4px;
    top: -1px;
  }

  // no hover/active state if orange/red
  &:hover:not(.orange):not(.red) {
    color: $gray;

    .btn-xxs {
      background: $gray;
    }
  }

  &:active:not(.orange):not(.red) {
    color: $purple-light;

    .btn-xxs {
      background: $purple-light;
    }
  }
}

&.red,
&.red:active:not([disabled]) {

  .icons-status {
    background: none;
    border: 1px solid $red-lighter;
  }

  .icons-notification {
    border-color: $white;
    color: $white;
  }
}

// deprecated $root.featureFlags.isolationUI
// .server-info
.server-info {
  flex: 1 1 auto;
  line-height: 15px;
  overflow: hidden;
  padding: 12px 0;

  // pull request link / debug label
  .link,
  .small {
    color: $gray;
    font-size: 18px;
    margin-left: 6px;
  }
}

// wrapper for container name, branch name, and pull request link
.container-heading {
  font-size: 21px;
  line-height: 24px;

  &.centered {
    line-height: 48px;
  }
}

.container-url {
  display: inline-block;
  font-size: 15px;
  line-height: 21px;

  .input[readonly] {
    background: none;
    color: $gray;
    display: block;
    font-weight: $weight-normal;
    height: 21px;
    line-height: 21px;
    padding: 0;
  }
}

.container-url-ghost {
  display: flex;

  // sets width of url input
  .span {
    visibility: hidden;
  }

  // external link
  .a {
    background-color: $white;
    color: $gray;
    display: inline-block;
    flex: 0 0 auto;
    height: 21px;
    padding: 3px 6px;
    position: relative;
    top: -21px;
    width: 27px;

    &:hover {
      color: $gray-dark;
    }

    &:active {
      color: $purple-light;
    }

    .iconnables {
      height: 100%;
      width: 100%;
    }
  }
}

// header.server-header actions
.server-header.deprecated {
  border-bottom: 1px solid rgba($black,.1);
  display: flex;
  height: 72px;
  padding: 0 9px 0 12px;
  position: absolute;
  top: 0;
  width: 100%;

  &.server-header-debug {
    position: relative;
  }

  .primary-actions {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    padding-left: 9px;
  }

  // override default font-size
  .btn {
    font-size: 16px;

    // dns button
    &.btn-dns {
      color: $gray-light;
      font-size: 14px;
      font-weight: $weight-bold;
      margin-right: 6px;

      // colored states
      &.orange,
      &.red {
        background: transparent;
        border: 0;

        &:hover {
          background: transparent;
        }

        &:active {
          background: transparent;
        }

        // orange
        &.orange {
          color: $orange;

          .btn-xxs {
            background: $orange;
          }
        }

        // red
        &.red {
          color: $red;

          .btn-xxs {
            background: $red;
          }
        }
      }

      // dns badge
      .btn-xxs {
        background: $gray-light;
        border-radius: 16px;
        color: $white;
        font-size: 12px;
        height: 16px;
        line-height: 16px;
        margin-right: 3px;
        min-width: 16px;
        padding: 0 4px;
        top: -1px;
      }

      // no hover/active state if orange/red
      &:hover:not(.orange):not(.red) {
        color: $gray;

        .btn-xxs {
          background: $gray;
        }
      }

      &:active:not(.orange):not(.red) {
        color: $purple-light;

        .btn-xxs {
          background: $purple-light;
        }
      }
    }

    &.red,
    &.red:active:not([disabled]) {

      .icons-status {
        background: none;
        border: 1px solid $red-lighter;
      }

      .icons-notification {
        border-color: $white;
        color: $white;
      }
    }

    // override icons-notification color on active
    &:active:not([disabled]) .icons-notification {
      border-color: $orange;
      color: $orange;
    }
  }

  .icons-notification {
    border: 1px solid $orange;
    border-radius: 50%;
    color: $orange;
    height: 15px;
    margin: 0 0 0 8px;
    top: 12px;
    width: 15px;
  }

  .icons-status {
    float: left;
    margin-right: 9px;
    top: 15px;
  }

  // offset for vertical-align: middle
  .btn-group {
    margin-left: 6px;
    top: -3px;
  }

  .btn-save-options {
    min-width: $input-sm;

    &[disabled] {
      margin: 0;
    }

    .icons-arrow-down {
      right: 9px;
    }
  }
}

// end deprecated $root.featureFlags.isolationUI