// header.server-header
.server-header {
  border-bottom: 1px solid rgba($black,.1);
  height: 72px;
  padding: 0 6px 0 15px;
}

// h1.server-info
.server-info {
  float: left;
  height: 72px;
}

// wrapper for container name, branch name, and status icon
.container-label {
  font-size: 24px;
  height: 51px;
  line-height: 51px;

  .branch-name {
    font-weight: 400;
  }

  .icons-status {
    left: 9px;
    top: -3px;
  }
}

.container-url-label {
  color: $gray;
  cursor: pointer;
  display: inline-block;
  float: left;
  font-size: 14px;
  font-weight: 500;
  margin-right: 2px;
  position: relative;
  top: -8px;

  .a {
    text-decoration: underline;
  }
}

.container-url-wrapper {
  color: $gray;
  float: left;
  position: relative;
  top: -9px;
}

// [readonly] specifity to override default [readonly] background-color
.container-url[readonly] {
  background: none;
  border: 0;
  box-shadow: none;
  color: currentColor;
  cursor: default;
  display: block;
  font-size: 15px;
  font-weight: 400;
  height: auto;
  line-height: 1;
  padding: 0;
  position: relative;
  white-space: nowrap;
  width: 100%;

  &:focus {
    box-shadow: none;
  }
}

// sets width
.container-url-ghost {
  font-size: 15px;
  visibility: hidden;
}

.container-url-link {
  color: currentColor;
  cursor: pointer;
  left: -12px;
  position: relative;
  top: -26px;

  &:hover {
    color: $purple-light;
  }

  &:active {
    color: $purple-dark;
  }

  .iconnables {
    height: 21px;
    width: 20px;
  }
}

// header.server-header actions
.primary-actions,
.secondary-actions {
  float: right;
  height: 72px;
  line-height: 72px;
  position: relative;

  // offset for vertical-align: middle
  .btn-group {
    top: -4px;
  }

  .btn[disabled],
  .btn.disabled {
    margin: 0;
  }
}

.primary-actions {
  padding-left: 9px;

  .btn-icon-sm {
    min-width: 36px;

    .icons-arrow-down {
      float: none;
      margin: 0 auto;
      transition: transform .15s ease-in;
    }
  }
}

.secondary-actions {

  .white {
    margin-left: 3px;
  }

  .btn-action .iconnables {
    margin-right: 4px;
    top: 6px;
    width: 21px;

    &.icons-gear {
      margin: 0;
    }
  }
}
