.dns-mappings-section {

  .dns-wrapper {
    margin-bottom: 6px;
    position: relative;
    top: -9px;
  }

  .small {
    color: $gray;
    text-transform: lowercase;

    .strong {
      color: $gray-dark;
    }
  }

  // modifying fancy-select elements for container selection
  .btn {
    background-color: $gray-lighterest; // override default fancy-select color
    color: $gray;
    font-weight: 400;
    padding: 0 24px 0 0;
    text-align: left;
    width: 100%;
  }

  .icons-status {
    margin: 0 6px 0 9px;
  }
}