header.header(
  ng-include = "'viewHeader'"
)

nav.sidebar.nav-sidebar(
  ng-if = "!layoutOptions.hideSidebar"
  ng-hide = "isLoading.main && isLoading.sidebar"
)
  .spinner-wrapper.spinner-md.spinner-gray.in(
    ng-if = "!dataApp.data.activeAccount || isLoading.sidebar"
    ng-include = "'spinner'"
  )
  .sidebar-heading.strong(
    ng-if = "dataApp.data.activeAccount && !isLoading.sidebar"
  ) Containers
  section.servers(
    data = "dataApp.data"
    instance-list
  )
  footer.nav-footer
    a.small.link.link-gray.link-text(
      href = "http://support.runnable.io"
      target = "_blank"
    )
      .btn.btn-xs.btn-help ?
      | Documentation

//- 2nd level views (viewInstance)
main.content(
  ui-view
)

//- spinner for both instance AND sidebar
.spinner-wrapper.spinner-backdrop.spinner-md.spinner-purple.in(
  ng-if = "isLoading.main && isLoading.sidebar"
  ng-include = "'spinner'"
)
