//- sidebar for accounts and servers
header.header(
  ng-include = "'viewHeader'"
)

//- nav.sidebar.nav-sidebar(
  section.row.nav-servers(
    data = "dataApp.data"
    instance-list
    state = "dataApp.state"
    actions = "dataApp.actions"
  )

//- 2nd level views (viewInstance, viewInstanceEdit...)
main.content(
  ui-view
)

//- spinner
.spinner-wrapper.spinner-backdrop.spinner-lg.spinner-purple.in(
  ng-if = "dataApp.data.loading"
  ng-include = "'spinner'"
)
