//- sidebar for accounts and boxes
nav.sidebar.global-sidebar(
  ng-class = "{minimize: dataApp.data.minimizeNav}"
)
  //- accounts
  runnable-accounts-select
  runnable-instance-list

  footer.row.global-footer
    a.btn.btn-sm.btn-icon.white.btn-logout(
      ng-href = "{{ dataApp.logoutURL }}"
      title = "Log Out"
    )
      svg.iconnables.icons-exit
        use(
          xlink:href = "#icons-exit"
        )
    button.btn-sm.btn-icon.white.btn-minimize(
      ng-click = "dataApp.data.minimizeNav = !dataApp.data.minimizeNav"
      ng-class = "{active: dataApp.data.minimizeNav}"
      title = "Toggle Navigation"
    )
      svg.iconnables.icons-arrow-left
        use(
          xlink:href = "#icons-arrow-left"
        )

//- 2nd level views (boxInstnce, boxInstanceEdit...)
main.content(ui-view)

//- development info
div(
  ng-include = "'viewDevelopmentInfo'"
)

//- global spinner
.spinner-container(
  ng-class = "{in: dataApp.data.loading}"
)
  .spinner.lg
    .spinner-ring
