//- sidebar for accounts and servers
nav.sidebar.nav-sidebar
  .top-bar
  .row-heading
    h2.sub-header Servers
  ul
    li.item
      svg.iconnables.icons-repository
          use(
            xlink:href = "#icons-repository"
          )
      p.p runnable-web
        span.light/master
      .status-icon.running
  ul
    li.item
      svg.iconnables.icons-repository
          use(
            xlink:href = "#icons-repository"
          )
      p.p api
        span.light /master
      .status-icon.running
    li.item
      p.p
        span.light SAN-1173-error-status
      .status-icon.running
    li.item.selected
      p.p
        span.light feature1
      .status-icon.running
    li.item
      p.p
        span.light feature2
      .status-icon.running.new
  ul
    li.item
      svg.iconnables.icons-repository
        use(
          xlink:href = "#icons-repository"
        )
      p.p mavis
        span.light /master
      .status-icon.running
    li.item
      p.p
        span.light SAN-1173-error-status
      .status-icon.running
  ul
    li.item
      svg.iconnables.icons-repository
        use(
          xlink:href = "#icons-repository"
        )
      p.p mongoDB
      .status-icon.running


  //- header.nav-header.row.load(
  //-   accounts-select
  //-   data = "dataApp.data"
  //-   is-main-page = "true"
  //- )

  //- section.row.nav-servers(
  //-   data = "dataApp.data"
  //-   instance-list
  //-   state = "dataApp.state"
  //-   actions = "dataApp.actions"
  //- )
  //- footer.row.nav-footer
  //-   a.small.link.link-gray.link-text(
  //-     href = "//support.runnable.io"
  //-     target = "_blank"
  //-   )
  //-     .btn.btn-xs.btn-help ?
  //-     | Documentation


    //- button.btn.btn-sm.btn-icon.white.btn-minimize(
    //-   ng-class = "{active: dataApp.data.minimizeNav}"
    //-   ng-click = "dataApp.data.minimizeNav = !dataApp.data.minimizeNav"
    //-   title = "Toggle Navigation"
    //- )
    //-   svg.iconnables.icons-minimize
    //-     use(
    //-       xlink:href = "#icons-minimize"
        )

//- 2nd level views (viewInstance, viewInstanceEdit...)
main.content(
  ui-view
)
