//- sidebar for accounts and servers
nav.sidebar.nav-sidebar
  header.nav-header.row.load(
    accounts-select
    data = "dataApp.data"
    is-main-page = "true"
  )
  section.row.nav-servers(
    data = "dataApp.data"
    instance-list
    state = "dataApp.state"
  )
  footer.row.nav-footer
    a.link.link-text.link-gray.small(
      href = "//support.runnable.io"
      target = "_blank"
    ) Documentation
    button.btn.btn-sm.btn-icon.white.btn-minimize(
      ng-class = "{active: dataApp.data.minimizeNav}"
      ng-click = "dataApp.data.minimizeNav = !dataApp.data.minimizeNav"
      title = "Toggle Navigation"
    )
      svg.iconnables.icons-minimize
        use(
          xlink:href = "#icons-minimize"
        )

//- 2nd level views (boxInstnce, boxInstanceEdit...)
main.content(
  ui-view
)