header.header
  .header-container
    //- logo

    //- title
    //- h2.h2 Environment Setup

    //- menu
    button.btn.btn-account(
      ng-class = "{active: popoverAccountMenu.data.show}"
      toggle-pop-over
      toggle-pop-over-model = "popoverAccountMenu.data.show"
    )
      img.gravatar(
        height = "24"
        ng-src = "https://avatars.githubusercontent.com/u/5341618?v=3"
        width = "24"
      )
      | runnabro
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
      pop-over(
        actions = "popoverAccountMenu.actions"
        data = "popoverAccountMenu.data"
        popover-ready = "popoverAccountMenu.data.show"
        popover-options = "{\"left\":120,\"top\":54}"
        template = "viewPopoverAccountMenu"
      )

//- nav.sidebar.nav-sidebar(
  section.row.nav-servers(
    data = "dataApp.data"
    instance-list
    state = "dataApp.state"
    actions = "dataApp.actions"
  )

//- 2nd level views (viewInstance, viewInstanceEdit...)
main.content(
  ui-view
)

//- spinner
.spinner-wrapper.spinner-backdrop.spinner-lg.spinner-purple.in(
  ng-if = "dataApp.data.loading"
  ng-include = "'spinner'"
)