//- sidebar for accounts and servers
nav.sidebar.nav-sidebar
  header.nav-header.row.load(
    accounts-select
    data = "dataApp.data"
    is-main-page = "true"
  )
  section.row.nav-servers(
    data = "dataApp.data"
    instance-list
    state = "dataApp.state"
    actions = "dataApp.actions"
  )
  footer.row.nav-footer
    a.small.link.link-text(
      href = "//support.runnable.io"
      target = "_blank"
    )
      .btn.btn-xs.btn-help ?
      | Documentation
    //- button.btn.btn-sm.btn-icon.white.btn-minimize(
    //-   ng-class = "{active: dataApp.data.minimizeNav}"
    //-   ng-click = "dataApp.data.minimizeNav = !dataApp.data.minimizeNav"
    //-   title = "Toggle Navigation"
    //- )
    //-   svg.iconnables.icons-minimize
    //-     use(
    //-       xlink:href = "#icons-minimize"
        )

//- 2nd level views (viewInstance, viewInstanceEdit...)
main.content(
  ui-view
)