header.header(
  ng-include = "'viewHeader'"
)

nav.sidebar.nav-sidebar(
  ng-if = "!layoutOptions.hideSidebar"
)

  section.row(
    accounts-select
    is-main-page = "true"
    data = "dataApp.data"
  )

  section.row.servers(
    instance-list
    is-main-page = "true"
    data = "dataApp.data"
  )

  footer.row.nav-footer
    a.small.link.link-gray.link-text(
      href = "//support.runnable.io"
      target = "_blank"
    )
      .btn.btn-xs.btn-help ?
      | Documentation

    //- button.btn.btn-sm.btn-icon.white.btn-minimize(
    //-   ng-class = "{active: dataApp.data.minimizeNav}"
    //-   ng-click = "dataApp.data.minimizeNav = !dataApp.data.minimizeNav"
    //-   title = "Toggle Navigation"
    //- )
    //-   svg.iconnables.icons-minimize
    //-     use(
    //-       xlink:href = "#icons-minimize"
        )

//- 2nd level views (viewInstance, viewInstanceEdit...)
main.content(
  ui-view
)

//- spinner
.spinner-wrapper.spinner-backdrop.spinner-lg.spinner-purple.in(
  ng-if = "dataApp.data.loading"
  ng-include = "'spinner'"
)
