ul.list
  li.list-item.small Unavailable tools when unlocked:
  li.list-item
    svg.iconnables.float-left
      use(
        xlink:href = "#icons-stack"
      )
    | Stack Type
  li.list-item
    svg.iconnables.float-left
      use(
        xlink:href = "#icons-ports"
      )
    | Exposed Ports
  li.list-item
    svg.iconnables.float-left
      use(
        xlink:href = "#icons-repository"
      )
    | Main Repository
  li.list-item
    svg.iconnables.float-left
      use(
        xlink:href = "#icons-container-files"
      )
    | Container Files
small.p.small Your configuration is saved when the Dockerfile is unlocked and will be restored if you lock again.