ul.list
  li.list-item.small Unavailable tools:
  li.list-item
    svg.iconnables.float-left
      use(
        xlink:href = "#icons-stack"
      )
    | Stack Type
  li.list-item
    svg.iconnables.float-left
      use(
        xlink:href = "#icons-ports"
      )
    | Exposed Ports
  li.list-item
    svg.iconnables.float-left
      use(
        xlink:href = "#icons-repository"
      )
    | Main Repository
  li.list-item
    svg.iconnables.float-left
      use(
        xlink:href = "#icons-container-files"
      )
    | Container Files
small.p.small(
  ng-if = "$root.featureFlags.dockerfileTool"
) Your configuration is saved when you enable write access and will be restored if you disable access.