.popover.menu.bottom.popover-select(
  ng-class = "{in: data.show}"
  ng-style = "popoverStyle.getStyle()"
)
  .popover-content
    ul.popover-list
      li.list-item.popover-list-item.small Select protocol (optional)
      li.list-item.popover-list-item.monospace http://