// footer.row.global-footer
.global-footer {
  height: 54px;
  padding: 9px 6px;
  transition: all .2s ease-in;

  .btn-minimize {
    float: right;
  }

  .icons-arrow-left {
    transition: transform .3s .2s;
  }
}