.nav-header {
  box-shadow: 0 3px 6px $gray-lightest;
  flex: 0 0 auto;
  height: 72px;
  position: relative;
  z-index: $z-sidebar-header;
}

// header.row.account-header
.account-header {
  @extend .webkit-flicker;
  cursor: pointer;
  flex: 0 0 auto;
  height: 72px;
  line-height: 72px;
  padding: 0 15px;
  position: relative;
  z-index: $z-sidebar-header;

  &:hover {
    background: rgba($blue,.1);
  }

  &:active {
    background: rgba($blue,.15);
    color: $blue;
  }

  &.no-touching {

    > .icons-arrow-down {
      display: none;
    }
  }

  .gravatar {
    float: left;
    margin: 24px 9px 0 2px;
  }

  .account-name {
    max-width: 160px;
    position: absolute;
    transition: opacity .2s ease-in;
  }

  .icons-arrow-down {
    position: absolute;
    right: 13px;
    top: 24px;
    transition: opacity .2s ease-in, transform .3s ease-in;
  }
}