// sidebar
.sidebar {
  border-right: 1px solid rgba($black,.1);
  float: left;
  height: 100vh;
  padding: 0 15px;
  position: relative;
  width: 240px;

  .row {
    border-bottom: 1px solid rgba($black,.1);

    &:last-child {
      border: 0;
    }
  }
}

// h2.sub-header
.sub-header {
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
}

// a.sub-header-action
.sub-header-action.sub-header-action {
  color: $gray;
  cursor: pointer;
  float: right;
  height: 36px;
  margin-right: -6px;
  padding: 0;
  top: 6px;
  width: 36px;

  // offset tooltip
  &::before,
  &::after {
    margin-left: 6px;
    margin-top: 15px;
  }

  .icons-add {
    margin-left: -1px;
  }
}