// sidebar
.sidebar {
  @extend .webkit-flicker;
  background: $white;
  border-right: 1px solid rgba($black,.1);
  display: flex;
  flex-direction: column;
  float: left;
  height: 100vh;
  padding: 0 15px;
  position: relative;
  transition: width .2s ease-in;
  width: 240px;
  z-index: $z-sidebar;

  &.nav-sidebar {
    background: $gray-lightest;
  }

  .row {
    border-bottom: 1px solid rgba($black,.1);

    &:last-child,
    &.nav-servers {
      border-bottom: 0;
    }
  }

  .guide {
    margin: 0 6px 9px;
  }
}

.sidebar-header {
  font-size: 21px;
  font-weight: 500;
  margin: 24px 0 12px;
  padding: 0 9px;
}

// h2.sub-header
.sub-header {
  height: 45px;
  line-height: 45px;
  min-height: 45px;
  padding: 0 6px 0 15px;
  position: relative;
}

// span.sub-header-text
.sub-header-text {
  position: absolute;
  transition: opacity .2s ease-in;
}

// a.sub-header-action
.sub-header-action.sub-header-action {
  float: right;
  margin-top: 6px;
  padding: 0;

  &.white {
    height: 36px;
    width: 36px;
  }

  &.orange {
    font-size: 14px;
    padding: 0 6px 0 0;
    top: 6px;
  }

  &.btn-group {
    margin-top: 12px;
  }

  // if .btn-group & .btn-xs
  .btn-xs {
    font-size: 12px;

    .iconnables {
      height: 24px;
      margin: 0;
      width: 18px;
    }
  }

  .iconnables {
    margin-top: 6px;
  }

  .icons-update {
    float: left;
    height: 14px;
    margin: 5px 6px 0 3px;
    width: 14px;
  }
}