.sidebar {
  @extend %webkit-flicker;
  background: $white;
  border-right: 1px solid $gray-lighter;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 500;
  height: calc(100vh - 60px);
  line-height: 24px;
  position: relative;
  transition: none;
  width: 240px;
  z-index: $z-sidebar;

  // width if sidebar is present
  + .content {
    float: right;
    width: calc(100% - 240px);
  }

  // environment button
  > .btn {
    flex: 0 0 auto;
    margin: 6px;
  }

  .text-overflow {
    display: block;
    padding-right: 24px;
  }

  .branch-name {
    color: $gray;
    font-weight: 400;
  }

  .icons-status {
    left: 12px;
    position: absolute;
    top: 12px;
  }
}

.closed .icons-disclose {
  transform: rotate3d(0,0,1,-90deg);
}

.row-heading {
  font-size: 14px;
  height: 60px;
  padding: 19px 12px 0;
  position: relative;

  // for add buttons next to section headings, like in File Explorer
  .btn {
    float: right;

    .icons-gear {
      float: left;
      height: 100%;
      margin-right: 3px;
      width: 18px;
    }
  }
}

// main sidebar
.nav-sidebar {
  background: $gray-lighterest;
  float: left;

  .spinner-wrapper {
    margin-top: 30px;
  }
}

.servers {
  height: calc(100vh - 120px);
  padding-bottom: 45px;
}

.server-category-list {
  height: 100%;
  overflow-y: auto;
  padding: 0 12px 5px;
}

.server-category-list-item {
  border-bottom: 1px solid $gray-lighter; // lines below categories
  padding: 15px 0;
  position: relative;

  &:first-child {
    border-top: 1px solid $gray-lighter; // line above first category
  }

  // configure shortcut button
  & > .btn {
    height: 33px;
    opacity: .25;
    position: absolute;
    right: -6px;
    width: 24px;
    z-index: 1;

    .icons-gear {
      height: 17px;
      position: absolute;
      right: 5px;
      top: 8px;
      width: 17px;
    }

    &:hover {
      opacity: .6;
    }

    &:active {
      color: $purple;
    }
  }
}

.server-list-item {
  cursor: pointer;
  display: block;
  height: 33px;
  line-height: 31px;
  margin: 0 -12px;
  padding: 0 9px 0 30px;
  position: relative;

  &:hover {
    background: rgba($gray-light,.1);
  }

  &:active {
    color: $purple-light;

    .branch-name {
      color: $purple-light;
    }
  }

  &.selected {
    background: $purple-lightest;
    color: $purple-light;
    cursor: default;

    .branch-name {
      color: $purple-light;
    }
  }
}