// li.box-group-item
.box-group-item {
  height: 45px;
  line-height: 45px;
  padding: 0 15px;

  // currently selected box
  &.active .box {
    font-weight: 500;
  }

  // currently running box
  &.running .icons-trigger {
    opacity: 1;
  }
}

// a.box
.box {
  cursor: pointer;
  display: block;
  height: 45px;
  line-height: 45px;
  margin: 0 -6px;
  overflow: hidden;
  padding: 0 17px 0 6px;
  position: relative;
  text-overflow: ellipsis;
  transition: all .15s ease-in;
  white-space: hidden;

  &:hover {
    background: rgba($black,.025);
  }

  .icons-status {
    position: absolute;
    right: 7px;
    top: 18px;
  }
}