// section.row.nav-servers
.nav-servers {
  flex: 1 1 auto;
  overflow-y: auto;
  padding-top: 15px;
  position: relative;
  z-index: $z-sidebar-content;

  // spinner
  .spinner-wrapper {
    top: 60px;
  }

  // Filter servers
  .filter-wrap{
    margin: 0 5px;
  }

  // server list
  .list {
    margin-bottom: 21px;
  }

  // server item
  .list-item {
    color: $gray-dark;
    display: block;
    margin: 0 6px;
    overflow: hidden;
    padding: 0;
    text-align: left;

    &:active,
    &.active {

      // a.list-item-name
      > .list-item-name {
        font-weight: 500;
      }
    }

    // if there are linked servers
    &.expanded {
      height: auto;
    }

    // if there is a child active
    &.active-child {
      cursor: default;

      .icons-arrow-down {
        transform: scale3d(0,0,1);
      }
    }

    // spacing servers
    + .list-item {
      margin-top: 3px;
    }

    // team icon
    .icons-team {
      height: 24px;
      margin-left: 6px;
      opacity: .75;
      pointer-events: auto;
      position: absolute;
      width: 21px;
    }

    // status icon
    .icons-status {
      position: absolute;
      right: 11px;
      top: 14px;
    }

    // gravatar
    .gravatar {
      margin: 8px 0 0 8px;
    }

    // expand user
    .icons-arrow-down {
      height: 36px;
      position: absolute;
      right: 4px;
      top: 0;
    }

    // nested servers
    .list-item {
      border-bottom: 1px solid transparent;
      border-radius: 0;
      border-top: 1px solid transparent;
      color: currentColor;
      font-weight: 400;
      margin: 0;
      text-indent: 29px;
    }
  }
}

// separate purple for users
.list-users .list-item.expanded {
  background: rgba($purple-light,.075);
  border-color: rgba($purple-light,.075);

  .list-item.active {
    background: rgba($purple-light,.08);
    border-color: rgba($purple-light,.15);

    &:last-child {
      border-bottom: 0;
    }
  }
}

// a.list-item-name
.list-item-name {
  color: currentColor;
  display: block;
  padding: 0 23px 0 9px;
  text-decoration: none;
  transition: opacity .2s ease-in;
}

// a.server-item-cluster
.server-item-cluster {
  display: block;
  font-size: 13px;
  line-height: 21px;
  padding: 0 21px 0 9px;
  position: relative;
  text-decoration: underline;

  &:hover,
  &:active {
    text-decoration: none;
  }

  &:first-child {
    margin-top: -6px;
  }

  &:last-child {
    padding-bottom: 3px;
  }

  .icons-status {
    margin-top: -8px;

    // linking line
    &::before {
      background: rgba($black,.15);
      content: '';
      display: block;
      height: 13px;
      margin: 0 auto;
      position: relative;
      top: -14px;
      width: 1px;
    }
  }
}
