.sidebar {
  @extend %webkit-flicker;
  background: $white;
  border-right: 1px solid $gray-lighter;
  display: flex;
  flex-direction: column;
  float: left;
  font-size: 14px;
  font-weight: 500;
  height: 100vh;
  line-height: 24px;
  position: relative;
  transition: width .2s ease-in;
  width: 240px;
  z-index: $z-sidebar;

  .branch-name {
    color: $gray;
    font-weight: 400;
  }

  .icons-status {
    float: right;
    margin: 10px 9px 0 0;
  }
}

.row {
  padding: 0 12px 9px;
}

.closed .icons-disclose {
  transform: rotate3d(0,0,1,-90deg);
}

.row-heading {
  height: 60px;
  position: relative;
  padding-top: 19px;
  padding-left: 3px;

  .icons-disclose {
    height: 15px;
    left: -3px;
    position: absolute;
    top: 24px;
    width: 15px;
  }

  .btn {
    float: right;
    height: 30px;
    line-height: 38px;
    margin-top: -4px;
    width: 30px;
  }
}

.nav-sidebar {
  background: $gray-lightest;
}


.server-category-list-item {
  border-bottom: 1px solid $gray-lighter;
  padding: 15px 0 13px;

  &:first-child {
    border-top: 1px solid $gray-lighter;
  }
}

.server-list-item {
  cursor: pointer;
  margin: 0 -12px;
  padding: 4px 9px 0 30px;
  position: relative;
  height: 34px;

  &:hover {
    background: rgba($gray-light,.1);
  }

  &:active {
    color: $purple-light;

    .branch-name {
      color: $purple-light;
    }
  }

  &.selected {
    background: $purple-lightest;
    color: $purple-light;
    cursor: default;

    .branch-name {
      color: $purple-light;
    }
  }

  .text-overflow {
    display: inline-block;
    max-width: 180px;
  }

  .iconnables {
    height: 17px;
    left: 12px;
    position: absolute;
    top: 7px;
    width: 17px;
  }
}
