.sidebar {
  @extend %webkit-flicker;
  background: $white;
  border-right: 1px solid $gray-lighter;
  display: flex;
  flex-direction: column;
  float: left;
  font-size: 14px;
  height: 100vh;
  line-height: 24px;
  position: relative;
  transition: width .2s ease-in;
  width: 240px;
  z-index: $z-sidebar;

  .h2 {
    font-size: 14px;
  }

  .p {
    display: inline;
    font-weight: 500;
    opacity: .9;
  }

  .light {
    font-weight: 400;
    opacity: .6;
  }

  .icons-status {
    float: right;
    margin: 10px 9px 0 0;
  }
}

.row {
  border-bottom: 1px solid darken($white,10);
  max-height: 600px;
  overflow: scroll;
  padding: 0 12px 9px;

  &.closed {
    max-height: 61px;
    overflow: hidden;
  }
}

.closed .icons-disclose {
  transform: rotate3d(0,0,1,-90deg);
}

.row-heading {
  height: 60px;
  position: relative;

  .h2 {
    left: 3px;
    margin-left: 0;
    position: absolute;
    top: 23px;
  }

  .icons-disclose {
    height: 15px;
    left: -3px;
    position: absolute;
    top: 24px;
    width: 15px;
  }

  .btn {
    float: right;
    height: 30px;
    line-height: 38px;
    margin-top: 15px;
    width: 30px;
  }
}

.nav-sidebar {
  background: darken($white,3);

  .servers {
    border: 0;
  }

  .server {
    margin: 0 -12px;
    padding: 3px 9px 5px 30px;
    position: relative;

    &.selected {
      background-color: $purple-lightest;
      color: $purple-light;

      .light {
        opacity: 1;
      }
    }

    .iconnables {
      height: 17px;
      left: 12px;
      position: absolute;
      top: 7px;
      width: 17px;
    }
  }
}

.server-category {
  ul {
    border-bottom: 1px solid darken($white,10);
    padding: 15px 0 13px;
  }

  &:first-of-type {
    border-top: 1px solid darken($white,10);
  }
}

