.sidebar {
  @extend %webkit-flicker;
  background: $white;
  border-right: 1px solid $gray-lighter;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  height: calc(100vh - 60px);
  line-height: 24px;
  position: relative;
  transition: none;
  width: 240px;
  z-index: $z-sidebar;

  // width if sidebar is present
  + .content {
    float: right;
    width: calc(100% - 240px);
  }

  // environment button
  > .btn {
    flex: 0 0 auto;
    margin: 6px;
  }

  // .branch-name {
  //   color: $gray;
  //   font-weight: 400;
  // }

  .icons-status {
    float: right;
    height: 6px;
    margin: 10px 9px 0 0;
    width: 6px;
  }
}

.closed .icons-disclose {
  transform: rotate3d(0,0,1,-90deg);
}

.row-heading {
  cursor: pointer;
  font-size: 14px;
  height: 60px;
  padding: 19px 12px 0;
  position: relative;

  // for add buttons next to section headings, like in File Explorer
  .btn {
    float: right;

    .icons-gear {
      float: left;
      height: 100%;
      margin-right: 3px;
      width: 18px;
    }
  }

  .btn-icon {
    height: 30px;
    line-height: 38px;
    margin-top: -4px;
    width: 30px;
  }
}

// main sidebar
.nav-sidebar {
  background: $gray-lightest;
  float: left;
}

.servers {
  height: calc(100vh - 120px);
}

.server-category-list {
  height: 100%;
  overflow-y: auto;
  padding: 0 12px;
}

.server-category-list-item {
  border-bottom: 1px solid $gray-lighter; // lines below categories
  padding: 15px 0 13px;

  &:first-child {
    border-top: 1px solid $gray-lighter; // line above first category
  }
}

.server-list-item {
  cursor: pointer;
  height: 34px;
  margin: 0 -12px;
  padding: 4px 9px 0 30px;
  position: relative;

  &:hover {
    background: rgba($gray-light,.1);
  }

  &:active {
    color: $purple-light;

    .branch-name {
      color: $purple-light;
    }
  }

  &.selected {
    background: $purple-lightest;
    color: $purple-light;
    cursor: default;

    .branch-name {
      color: $purple-light;
    }
  }

  .text-overflow {
    display: inline-block;
    max-width: 180px;
  }

  .iconnables {
    height: 17px;
    left: 12px;
    position: absolute;
    top: 7px;
    width: 17px;
  }
}
