.sidebar {
  @extend %webkit-flicker;
  background: $white;
  border-right: 1px solid $gray-lighter;
  display: flex;
  flex-direction: column;
  float: left;
  font-size: 15px;
  height: calc(100vh - 60px);
  line-height: 24px;
  position: relative;
  transition: none;
  width: 240px;
  z-index: $z-sidebar;

  // width if sidebar is present
  + .content {
    float: right;
    width: calc(100% - 240px);
  }

  .icons-status {
    flex: 0 0 auto;
    margin: 11px 6px 0 12px;
  }
}

.sidebar-section {
  border-bottom: 1px solid $gray-lighter;
  flex: 0 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 12px;

  &.closed {
    flex: 0 0 60px;
    overflow-y: hidden;
  }
}

.sidebar-section-heading {
  cursor: pointer;
  padding: 18px 0 18px 12px;
  position: relative;

  &.closed {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }

  .icons-disclose {
    left: -3px;
    position: absolute;
    transition: none;
    width: 15px;

    .closed & {
      transform: rotate3d(0,0,1,-90deg);
    }
  }

  // for add buttons next to section headings, like in File Explorer
  .btn {
    float: right;
  }
}

// main sidebar
.nav-sidebar {
  background: $gray-lighterest;
  float: left;

  .spinner-wrapper {
    margin-top: 30px;
  }
}

.servers {
  height: calc(100vh - 120px);
  padding-bottom: 45px;

  // "Containers" label
  > .sidebar-section-heading {
    border-bottom: 1px solid $gray-lighter;
    cursor: default;
    margin: 0 12px;
    padding: 18px 0;
  }
}

.server-category-list {
  color: $gray;
  font-size: 15px;
  height: 100%;
  overflow-y: auto;
  padding: 0 12px 5px;

  .strong {
    color: $gray-darker;
  }
}

.server-category-list-item {
  border-bottom: 1px solid $gray-lighter; // lines below categories
  padding: 12px 0 6px;
  position: relative;

  // less padding when next to the .button-configure
  &:first-child .server-name {
    padding-right: 3px;
  }
}

.server-name {
  flex: 1 1 auto;
  padding-right: 9px;

  &:active {
    color: $purple-light;

    .strong {
      color: $purple-light;
    }
  }
}

.server-list-item {
  cursor: pointer;
  display: flex;
  height: 30px;
  line-height: 29px; // height -1 because of Helvetica baseline weirdness
  margin: 0 -12px;
  position: relative;

  &:hover {
    background: rgba($gray-light,.1);

    .button-hide {
      display: block;
    }
  }

  // for when the more containers button isn't present
  &:last-child {
    margin-bottom: 6px;
  }

  &.selected {
    background: $purple-lightest;
    color: $purple-light;
    cursor: default;

    .strong {
      color: $purple-light;
    }
  }

  // .button-configure and .button-hide
  > .btn {
    opacity: .6;
    overflow: hidden;

    &:hover {
      opacity: .8;
    }

    &:active {
      opacity: 1;
    }
  }
}

.button-configure {
  display: block;
  flex: 0 0 30px;
  height: 30px;

  .iconnables {
    right: 5px;
    width: 15px;
  }
}

.button-hide {
  color: currentColor;
  display: none;
  flex: 0 0 auto;
  font-style: italic;
  margin: 6px 5px 0 -6px;
}

.more-containers {
  cursor: pointer;
  font-size: 13px;
  font-style: italic;
  opacity: .6;
  padding-left: 15px;

  &:hover {
    opacity: .8;
  }

  &:active {
    opacity: 1;
  }
}