// section.row.nav-servers
.nav-servers {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
  z-index: $z-sidebar-content;

  .sub-header {
    flex: 0 0 auto;
  }

  .spinner-wrapper {
    align-items: flex-start;
    top: 60px;
  }
}

// li.server-group-item
.server-group-item {
  display: block;
  margin: 0 6px;
  padding: 0;
  text-align: left;
  // transition: all .2s ease-in;

  &.expanded {
    height: auto;
    line-height: 1;
    padding-bottom: 3px;

    .server-item-name {
      margin-bottom: 3px;
      margin-top: 8px;
    }

    .icons-status {
      top: 10px;
    }
  }

  &:active,
  &.active {

    .server-item-name {
      font-weight: 500;
    }
  }

  + .server-group-item {
    margin-top: 3px;
  }

  // status icon
  .icons-status {
    position: absolute;
    right: 12px;
    top: 14px;
  }

  .tooltip {
    display: none;
  }
}

// a.server-item-name
.server-item-name {
  color: currentColor;
  display: block;
  padding: 0 23px 0 9px;
  text-decoration: none;
  transition: opacity .2s ease-in;
}

// a.server-item-cluster
.server-item-cluster {
  display: block;
  font-size: 12px;
  line-height: 21px;
  margin-top: -1px;
  padding: 0 0 0 9px;
  position: relative;
  text-decoration: underline;

  &:hover,
  &:active {
    text-decoration: none;
  }

  .icons-status.icons-status {
    background: rgba($gray-lightest,.45);
    border: 1px solid rgba($black,.15);
    height: 5px;
    position: absolute;
    right: 16px;
    top: 9px;
    width: 5px;

    &::before {
      background: rgba($black,.15);
      content: '';
      display: block;
      height: 10px;
      margin: 0 auto;
      position: relative;
      top: -12px;
      width: 1px;
    }

    &.running {
      background: rgba($green,.45);
      border: 1px solid transparent;
    }

    &.building {
      background: rgba($orange,.45);
      border: 1px solid transparent;
    }
  }
}
