// section.row.boxes
.boxes {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: calc(100% - 108px);
  position: relative;
  z-index: $z-sidebar-content;

  .sub-header {
    background: rgba($gray-lightest,.9);
    flex: 0 0 auto;
    transition: background .15s ease-in, box-shadow .15s ease-in;
    z-index: $z-sidebar-sub-header;
  }

  .spinner-wrapper {
    align-items: flex-start;
    top: 60px;
  }
}

//  ul.boxes
.box-group {
  flex: 1 1 auto;
  margin: -45px 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 51px 0; // offset + 9px for box-shadow on footer
}

// li.box-group-item
.box-group-item {
  border-radius: 3px;
  cursor: pointer;
  display: block;
  height: 45px;
  line-height: 45px;
  margin: 0 auto 6px;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  transition: all .2s ease-in;
  white-space: nowrap;
  width: 227px; // sidebar width minus status

  &:hover {
    background: rgba($black,.025);
  }

  &.active {
    background: rgba($black,.05);
    border-color: rgba($black,.1);
  }

  &.expanded {
    height: auto;
    line-height: 1;
    padding-bottom: 3px;

    .box-item-name {
      margin-bottom: 3px;
      margin-top: 8px;
    }

    .icons-status {
      top: 10px;
    }
  }

  .icons-status {
    position: absolute;
    right: 14px;
    top: 18px;
  }

  .tooltip {
    display: none;
  }
}

// a.box-item-name
.box-item-name {
  color: $gray;
  display: block;
  padding: 0 23px 0 9px;
  text-decoration: none;
  transition: opacity .2s ease-in;
}

// span.box-item-description
.box-item-description {
  font-size: 12px;
}

// a.box-item-cluster
.box-item-cluster {
  display: block;
  font-size: 12px;
  line-height: 21px;
  margin-top: -1px;
  padding: 0 0 0 9px;
  position: relative;

  &:hover {
    color: $gray-darker;
  }

  .icons-status.icons-status {
    background: rgba($gray-lightest,.45);
    border: 1px solid rgba($black,.15);
    height: 5px;
    position: absolute;
    right: 16px;
    top: 9px;
    width: 5px;

    &::before {
      background: rgba($black,.15);
      content: '';
      display: block;
      height: 10px;
      margin: 0 auto;
      position: relative;
      top: -12px;
      width: 1px;
    }

    &.running {
      background: rgba($green,.45);
      border: 1px solid transparent;
    }

    &.building {
      background: rgba($orange,.45);
      border: 1px solid transparent;
    }
  }
}
