// footer.row.nav-footer
.nav-footer {
  background-color: $gray-lightest;
  bottom: 0;
  box-shadow: 0 -3px 6px $gray-lightest;
  flex: 0 0 auto;
  height: 45px;
  padding: 9px 12px;
  position: absolute;
  width: 100%;
  z-index: $z-sidebar-footer;

  // documentation
  .small.link {
    color: $gray;
  }

  // help
  .btn-help {
    float: left;
    font-size: 15px;
    margin-right: 6px;
  }
}
