// section.row.nav-servers
.nav-servers {
  flex: 1 1 auto;
  overflow-y: auto;
  padding-top: 15px;
  position: relative;
  z-index: $z-sidebar-content;

  // spinner
  .spinner-wrapper {
    top: 60px;
  }

  // server list
  .list {
    margin-bottom: 21px;
  }

  // server item
  .list-item {
    color: $gray-dark;
    display: block;
    margin: 0 6px;
    overflow: hidden;
    padding: 0;
    text-align: left;

    &:active,
    &.active {

      // a.list-item-name
      > .list-item-name {
        font-weight: 500;
      }
    }

    // if there are linked servers
    &.expanded {
      height: auto;
    }

    // spacing servers
    + .list-item {
      margin-top: 3px;
    }

    // status icon
    .icons-status {
      position: absolute;
      right: 12px;
      top: 14px;
    }

    // gravatar
    .gravatar {
      margin: 8px 0 0 8px;
    }

    // expand user
    .icons-arrow-down {
      position: absolute;
      right: 4px;
    }

    // nested servers
    .list-item {
      border-radius: 0;
      color: currentColor;
      font-weight: 400;
      margin: 0;
      text-indent: 29px;
    }
  }
}

// a.list-item-name
.list-item-name {
  color: currentColor;
  display: block;
  padding: 0 23px 0 9px;
  text-decoration: none;
  transition: opacity .2s ease-in;
}

// a.server-item-cluster
.server-item-cluster {
  display: block;
  font-size: 12px;
  line-height: 21px;
  padding: 0 21px 0 9px;
  position: relative;
  text-decoration: underline;

  &:hover,
  &:active {
    text-decoration: none;
  }

  &:first-child {
    margin-top: -6px;
  }

  &:last-child {
    padding-bottom: 3px;
  }

  .icons-status {
    background: $gray-lightest;
    border: 1px solid rgba($black,.3);
    margin-top: -9px;

    &::before {
      background: rgba($black,.15);
      content: '';
      display: block;
      height: 12px;
      margin: 0 auto;
      position: relative;
      top: -13px;
      width: 1px;
    }

    &.running {
      background: $green;
      border: 1px solid transparent;
    }

    &.building {
      background: $orange;
      border: 1px solid transparent;
    }
  }
}
