.sidebar {
  @extend %webkit-flicker;
  background: $white;
  border-right: 1px solid $gray-lighter;
  display: flex;
  flex-direction: column;
  float: left;
  font-size: 15px;
  line-height: 24px;
  position: relative;
  transition: none;
  width: 240px;
  z-index: $z-sidebar;

  &.full-height {
    height: calc(100vh - 72px);
  }

  .icons-status {
    flex: 0 0 auto;
    margin-right: 6px;
  }
}