.sidebar {
  @extend %webkit-flicker;
  background: $white;
  display: flex;
  flex-direction: column;
  float: left;
  font-size: 15px;
  position: relative;
  transition: none;
  width: 240px;

  // for debug
  &.full-height {
    height: calc(100vh - 55px);
  }

  .icons-status {
    flex: 0 0 auto;
    margin-right: 6px;
  }
}
