// section.row.boxes
.boxes {
  flex: 1 0 auto;
}

// li.box-group-item
.box-group-item {
  height: 45px;
  line-height: 45px;
  margin-bottom: 3px;
  padding: 0 15px;

  // currently selected box
  &.active .box {
    background: rgba($black,.05);
    border-color: rgba($black,.1);
  }
}

// a.box
.box {
  border-radius: 3px;
  cursor: pointer;
  display: block;
  height: 45px;
  line-height: 45px;
  margin: 0 -9px;
  overflow: hidden;
  padding: 0 22px 0 6px;
  position: relative;
  text-overflow: ellipsis;
  transition: all .15s ease-in;
  white-space: nowrap;
  width: 227px; // sidebar width minus status

  &:hover {
    background: rgba($black,.025);
  }

  .icons-status {
    position: absolute;
    right: 13px;
    top: 18px;
  }

  .tooltip {
    display: none;
  }
}

// span.box-item-name
.box-item-name {
  transition: opacity .2s ease-in;
}