.sidebar {
  @extend %webkit-flicker;
  background: $white;
  border-right: 1px solid $gray-lighter;
  display: flex;
  flex-direction: column;
  float: left;
  font-size: 15px;
  height: calc(100vh - 60px);
  line-height: 24px;
  position: relative;
  transition: none;
  width: 240px;
  z-index: $z-sidebar;

  .icons-status {
    left: 12px;
    position: absolute;
    top: 11px;
  }
}

.sidebar-section-heading {
  cursor: pointer;
  height: 60px;
  padding: 18px 12px;
  position: relative;
  // padding-right: 0;

  &.closed {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }

  .icons-disclose {
    left: -3px;
    position: absolute;
    transition: none;
    width: 15px;

    .closed & {
      transform: rotate3d(0,0,1,-90deg);
    }
  }

  // for add buttons next to section headings, like in File Explorer
  .btn {
    float: right;
  }
}

// main sidebar
.nav-sidebar {
  background: $gray-lighterest;

  .spinner-wrapper {
    margin-top: 30px;
  }
}

.servers {
  height: calc(100vh - 120px);
  padding-bottom: 45px;

  // "Containers" label
  > .sidebar-section-heading {
    border-bottom: 1px solid $gray-lighter;
    cursor: default;
    margin: 0 12px;
    padding: 18px 0;
  }
}

.server-category-list {
  color: $gray;
  font-size: 15px;
  height: 100%;
  overflow-y: auto;
  padding: 0 12px 5px;

  .strong {
    color: $gray-darker;
  }
}

.server-category-list-item {
  border-bottom: 1px solid $gray-lighter; // lines below categories
  padding: 12px 0;
  position: relative;

  // &:first-child {
  //   border-top: 1px solid $gray-lighter; // line above first category
  // }

  // configure shortcut button
  > .btn {
    height: 30px;
    opacity: .5;
    position: absolute;
    right: -12px;
    width: 30px;
    z-index: 1;

    .iconnables {
      right: 3px;
      width: 15px;
    }

    &:hover {
      opacity: .75;
    }

    &:active {
      color: $purple-light;
      opacity: 1;
    }
  }
}

.server-list-item {
  cursor: pointer;
  display: block;
  height: 30px;
  line-height: 29px; // height -1 because of Helvetica baseline weirdness
  margin: 0 -12px;
  padding: 0 12px 0 27px;
  position: relative;

  &:hover {
    background: rgba($gray-light,.1);
  }

  &:active {
    color: $purple-light;

    .strong {
      color: $purple-light;
    }
  }

  &.selected {
    background: $purple-lightest;
    color: $purple-light;
    cursor: default;

    .strong {
      color: $purple-light;
    }
  }
}

.server-category-name {
  padding-right: 21px;
}

// sidebar within container view
.server-sidebar {
  height: calc(100vh - 132px);
  width: 300px;

  .well {
    color: $gray;
    margin: 0;
  }

  .empty-state {
    height: auto;
    line-height: 17px;
    padding: 6px 10px;
  }

  .spinner-wrapper {
    float: right;
    margin-right: 15px;
    margin-top: 5px;
  }
}

.sidebar-section {
  border-bottom: 1px solid $gray-lighter;
  flex: 0 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 12px;

  &.closed {
    flex: 0 0 60px;
  }
}

.well-label {
  color: $gray;
  font-size: 13px;

  .strong {
    color: $gray-darker;
  }
}