// header.row.account-header
.account-header {
  @extend .webkit-flicker;
  cursor: pointer;
  flex: 0 0 auto;
  height: 60px;
  line-height: 60px;
  padding: 0 15px;
  position: relative;
  z-index: $z-sidebar-header;

  &:hover,
  &:active {
    background: rgba($black,.05);
  }

  &.no-touching {

    > .icons-arrow-down {
      display: none;
    }
  }

  .gravatar {
    float: left;
    margin: 18px 9px 0 2px;
  }

  .account-name {
    max-width: 160px;
    position: absolute;
    transition: opacity .2s ease-in;
  }

  .icons-arrow-down {
    position: absolute;
    right: 13px;
    top: 18px;
    transition: opacity .2s ease-in, transform .3s ease-in;
  }
}