// sidebar
.sidebar {
  @extend %webkit-flicker;
  background: $white;
  border-right: 1px solid rgba($black,.1);
  display: flex;
  flex-direction: column;
  float: left;
  height: 100vh;
  padding: 0 15px;
  position: relative;
  transition: width .2s ease-in;
  width: 240px;
  z-index: $z-sidebar;

  &.nav-sidebar {
    background: $gray-lightest;
  }

  .guide {
    margin: 0 6px 9px;
  }
}

.sidebar-header {
  font-size: 21px;
  font-weight: 500;
  margin: 24px 0 12px;
  padding: 0 9px;
}

// h2.sub-header
.sub-header {
  color: $gray;
  font-size: 13px;
  font-weight: 400;
  height: 45px;
  line-height: 33px;
  padding: 6px 6px 6px 15px;
  position: relative;

  // all action buttons
  .btn {
    float: right;
    margin: 0;
  }

  // add and update buttons
  .btn-sm,
  .btn-xs {

    &.white,
    &.gray {
      height: 33px;
      padding: 0;
      width: 33px;
    }

    &.orange {
      font-size: 14px;
      padding: 0 6px 0 0;
      top: 6px;
    }

    .icons-update {
      float: left;
      height: 14px;
      margin: 5px 6px 0 3px;
      width: 14px;
    }
  }

  // invite
  .btn-xxs {
    top: 7px;
  }

  // team icon
  .icons-team {
    color: $gray-light;
    height: 100%;
    margin-left: 6px;
    width: 21px;
  }
}

// span.sub-header-text
.sub-header-text {
  float: left;
}