// sidebar
.sidebar {
  @extend %webkit-flicker;
  background: $white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  transition: width .2s ease-in;
  width: 240px;
  z-index: $z-sidebar;
  font-size: 14px;
  font-weight: 500;
  border-right: 1px solid #e0e0e0;
  float: left;
  line-height: 24px;

  .h2 {
    font-size: 14px;
  }

  .p {
    display: inline;
    opacity: .9;
  }

  .light {
    font-weight: 400;
    opacity: .6;
  }

  .iconnables {
    position: absolute;
    // left: 7px;
    // top: 7px;
    height: 17px;
    width: 17px;
  }

  .icons-status {
    margin: 11px 6px 0 0;
  }

  .row-heading {
    height: 60px;
    position: relative;

    .h2 {
      // opacity: 1;
      margin-left: 0;
      top: 23px;
      left: 3px;
      position: absolute;
    }

    .icons-disclose {
      position: absolute;
      top: 23px;
      left: 3px;
    }

    a {
      width: 30px;
      height: 30px;
      float: right;
      margin-top: 15px;

      .icons-add {
        top: 3px;
        right: 3px;
        width: 21px;
        height: 21px;
      }
    }
  }
}

.nav-sidebar {
    background: #f7f7f7;
    padding: 0 12px;

    > ul {
      border-top: 1px solid #e0e0e0;
    }

    ul {

      &:first-of-type {
        border-bottom: 1px solid #e0e0e0;
      }

      ul {
        padding: 15px 0 13px 0;
      }
    }

    .server {
      margin: 0 -12px;
      position: relative;
      padding: 2px 9px 5px 30px;

      &.selected {
        background-color: #F0E6F7;
        color: #AF74D4;

        .light {
          opacity: 1;
        }
      }

      .iconnables {
        left: 12px;
        top: 6px;
      }
    }
  }