// section.row.nav-servers
.nav-servers {
  flex: 1 1 auto;
  overflow-y: auto;
  position: relative;
  z-index: $z-sidebar-content;

  .spinner-wrapper {
    top: 60px;
  }

  .hr {
    background: rgba($black,.1);
    height: 1px;
    margin: 15px;
  }
}

// li.server-group-item
.server-group-item {
  display: block;
  margin: 0 6px;
  padding: 0;
  text-align: left;
  transition: all .2s ease-in;

  &:active,
  &.active {

    // a.server-item-name
    .server-item-name {
      font-weight: 500;
    }
  }

  // if there are links
  &.expanded {
    height: auto;
  }

  + .server-group-item {
    margin-top: 3px;
  }

  // status icon
  .icons-status {
    position: absolute;
    right: 12px;
    top: 14px;
  }
}

// a.server-item-name
.server-item-name {
  color: currentColor;
  display: block;
  padding: 0 23px 0 9px;
  text-decoration: none;
  transition: opacity .2s ease-in;
}

// a.server-item-cluster
.server-item-cluster {
  display: block;
  font-size: 12px;
  line-height: 21px;
  padding: 0 21px 0 9px;
  position: relative;
  text-decoration: underline;

  &:hover,
  &:active {
    text-decoration: none;
  }

  &:first-child {
    margin-top: -6px;
  }

  &:last-child {
    padding-bottom: 3px;
  }

  .icons-status {
    background: rgba($gray-lightest,.45);
    border: 1px solid rgba($black,.15);
    margin-top: -9px;

    &::before {
      background: rgba($black,.15);
      content: '';
      display: block;
      height: 12px;
      margin: 0 auto;
      position: relative;
      top: -13px;
      width: 1px;
    }

    &.running {
      background: rgba($green,.45);
      border: 1px solid transparent;
    }

    &.building {
      background: rgba($orange,.45);
      border: 1px solid transparent;
    }
  }
}
