.nav-header {
  // box-shadow: 0 3px 6px $gray-lightest;
  border-bottom: 1px solid #e0e0e0;
  margin: 0 -12px;
  height: 72px;
  flex: 0 0 auto;
  position: relative;
  z-index: $z-sidebar-header;
}

// button.btn.gray.btn-account
.btn-account {
  font-weight: 500;
  // margin: 6px; // header - button= 7px (14px & 13px)
  // padding: 0 9px;
  text-align: left;
  width: calc(100% - 18px);
  margin: 12px 9px;
  height: 47px;

  &.no-touching > .icons-arrow-down {
    transform: scale3d(0,0,0);
  }

  .gravatar {
    float: left;
    margin-right: 6px;
  }

  .account-name {
    max-width: calc(100% - 80px);
    position: absolute;
    top: 0;
  }

  .icons-arrow-down {
    position: absolute;
    right: 4px;
    top: 0;
  }
}
