.nav-header {
  flex: 0 0 auto;
  height: 72px;
  position: relative;
}

// header.row.account-header
.account-header {
  @extend .webkit-flicker;
  cursor: pointer;
  flex: 0 0 auto;
  height: 72px;
  line-height: 72px;
  padding: 0 15px;
  position: relative;

  &:hover {
    background: rgba($purple-light,.1);
  }

  &:active {
    background: rgba($purple-light,.15);
    color: $purple-light;
  }

  &.no-touching {

    > .icons-arrow-down {
      display: none;
    }
  }

  .gravatar {
    float: left;
    margin: 24px 9px 0 2px;
  }

  .account-name {
    color: $gray-dark;
    font-weight: 500;
    max-width: 160px;
    position: absolute;
    transition: opacity .2s ease-in;
  }

  .icons-arrow-down {
    position: absolute;
    right: 10px;
    top: 24px;
    transition: opacity .2s ease-in, transform .3s ease-in;
  }
}