.sidebar {
  @extend %webkit-flicker;
  background: $white;
  border-right: 1px solid $gray-lighter;
  display: flex;
  flex-direction: column;
  float: left;
  font-size: 15px;
  height: calc(100vh - 60px);
  line-height: 24px;
  position: relative;
  transition: none;
  width: 240px;
  z-index: $z-sidebar;

  &.full-height {
    height: 100vh;
  }

  // width if sidebar is present
  + .content {
    float: right;
    position: relative;
    width: calc(100% - 240px);

    > .spinner-wrapper {
      position: absolute;
    }
  }

  .icons-status {
    margin: 0 6px 0 12px;
  }
}

.sidebar-heading {
  cursor: pointer;
  line-height: 60px;
  position: relative;

  &.closed {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }

  .icons-disclose {
    float: left;
    left: -3px;
    top: 18px;
    transition: none;
    width: 15px;

    .closed & {
      transform: rotate3d(0,0,1,-90deg);
    }
  }

  // for add buttons next to section headings, like in File Explorer
  .btn {
    height: 60px;

    .iconnables {
      width: 24px;
    }
  }
}

// main sidebar
.nav-sidebar {
  background: $gray-lighterest;
  float: left;

  .spinner-wrapper {
    margin-top: 30px;
  }

  // "Containers" label
  .sidebar-heading {
    border-bottom: 1px solid $gray-lighter;
    cursor: default;
    margin: 0 12px;
  }
}

.containers {
  color: $gray-dark;
  height: calc(100vh - 120px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 12px 45px;
}

.container-list {
  border-bottom: 1px solid $gray-lighter; // lines below categories
  padding: 9px 0;
  position: relative;
  
  // repo names
  .strong {
    align-items: center;
    color: $gray;
    display: flex;
    line-height: 21px;
    margin-right: -12px;
    position: relative;
  }
}

.container-list-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 27px;
  line-height: 27px;
  margin: 0 -12px;
  position: relative;

  &:hover {
    background: rgba($gray-light,.1);

    .button-hide {
      display: block;
    }
  }

  &.selected {
    background: $purple-lightest;
    color: $purple-light;
    cursor: default;
  }

  .span {
    flex: 1 1 auto;
    padding-right: 12px;

    &:active {
      color: $purple-light;
    }
  }
}

.button-configure,
.button-hide {
  opacity: .7;
  overflow: hidden;

  &:hover {
    opacity: .85;
  }

  &:active {
    color: $purple-light;
    opacity: 1;
  }
}

.button-configure {
  height: 27px;
  // position: absolute;
  // right: 0;
  width: 27px;

  .iconnables {
    right: 5px;
    width: 12px;
  }
}

.button-hide {
  color: $gray;
  display: none;
  flex: 0 0 auto;
  font-style: italic;
  margin: 7px 5px 0 -12px;
}

.more-containers {
  cursor: pointer;
  font-size: 13px;
  font-style: italic;
  opacity: .6;
  padding-left: 15px;

  &:hover {
    opacity: .8;
  }

  &:active {
    opacity: 1;
  }
}