// footer.row.nav-footer
.nav-footer {
  background: rgba($gray-lightest,.9);
  flex: 0 0 auto;
  height: 54px;
  padding: 9px 6px;
  position: relative;
  transition: background .3s ease-in, box-shadow .3s ease-in, height .2s ease-in, padding .2s ease-in;
  z-index: $z-sidebar-footer;

  .link {
    font-weight: 500;
    line-height: 36px;
    padding-left: 9px;
  }

  .btn-minimize {
    position: absolute;
    right: 12px;
    top: 9px;
  }

  .icons-minimize {
    transition: transform .3s .2s;
  }
}