// footer.row.global-footer
.global-footer {
  background: rgba($gray-lightest,.9);
  flex: 0 0 auto;
  height: 54px;
  padding: 9px 6px;
  position: relative;
  transition: background .3s ease-in, box-shadow .3s ease-in, height .2s ease-in, padding .2s ease-in;
  z-index: $z-sidebar-footer;

  .btn-minimize {
    float: right;
  }

  .icons-minimize {
    transition: transform .3s .2s;
  }
}