.nav-header {
  flex: 0 0 auto;
  height: 72px;
  position: relative;
}

// button.btn.gray.btn-account
.btn-account {
  font-weight: 500;
  margin: 14px 6px 13px; // header - button= 7px (14px & 13px)
  padding: 0 9px;
  text-align: left;
  width: calc(100% - 12px);

  &.no-touching {

    > .icons-arrow-down {
      display: none;
    }
  }

  .gravatar {
    float: left;
    margin-right: 6px;
  }

  .account-name {
    max-width: calc(100% - 80px);
    position: absolute;
    top: 0;
  }

  .icons-arrow-down {
    position: absolute;
    right: 4px;
    top: 12px;
  }
}