svg.iconnables.icons-close(
  ng-click = "closeDockerFileInput()"
)
  use(
    xlink:href = "#icons-close"
  )

label.clearfix(
  for = "add-dockerfile-input"
)
  .label-col {{ fileType }} Path
form.label-row(
  name = "dockerfilePathForm"
)
  input.input.input-sm.input-validate(
    autocomplete = "off"
    branch-name = "branchName"
    dockerfile-exists-validator
    full-repo = "fullRepo"
    id = "add-dockerfile-input"
    ng-model = "newDockerfile"
    ng-model-options = "{ debounce: { 'default': 100, 'blur': 0 } }"
    value = ""
    required
    spellcheck = "false"
  )
  button.grid-block.align-center.btn.btn-sm.white.float-right(
    ng-disabled = "!newDockerfile && (dockerfilePathForm.$pending || dockerfilePathForm.$invalid)"
    ng-click = "addDockerFile(newDockerfile, fileType)"
  )
    span Add {{ fileType }}
    .spinner-wrapper.spinner-sm.spinner-gray.in(
      ng-if = "dockerfilePathForm.$pending"
      ng-include = "'spinner'"
    )

.invalid-message(
  ng-if = "dockerfilePathForm.$invalid && !dockerfilePathForm.$pristine"
) We couldn’t find a {{ fileName }} at that path.

small.grid-block.padding-xxs.small Specify the relative path to your {{ fileType }} in your repository (e.g. if your {{ fileName }} is in a root folder named “config”, your path would be “config/{{ fileName }}).
