form.padding-top-xs.padding-bottom-xs(
  name = "dockerfilePathForm"
)
  label.label
    .padding-xxs.small.label-sm {{ fileType }} Path

    .input-spinner
      input.input.input-md.input-validate(
        autocomplete = "off"
        branch-name = "branchName"
        dockerfile-exists-validator = "{{ fileType }}"
        full-repo = "fullRepo"
        id = "add-dockerfile-input"
        ng-disabled = "state.dockerFileAdded"
        ng-model = "newDockerfile"
        ng-model-options = "{ debounce: { 'default': 100, 'blur': 0 } }"
        placeholder = "Dockerfile"
        required
        spellcheck = "false"
      )
      .spinner-wrapper.spinner-sm.spinner-gray.in(
        ng-if = "dockerfilePathForm.$pending"
        ng-include = "'spinner'"
      )
      svg.iconnables.icons-check(
        ng-if = "dockerfilePathForm.$valid"
      )
        use(
          xlink:href = "#icons-check"
        )
      svg.iconnables.icons-close(
          ng-if = "!dockerfilePathForm.$pristine && dockerfilePathForm.$invalid"
        )
          use(
            xlink:href = "#icons-close"
          )

    a.grid-block.padding-xxs.small.link(
      ng-disabled = "$root.isLoading[MDC.name + 'SingleRepo']"
      ng-href = "{{ dockerfile.html_url }}"
      ng-if = "dockerfile.html_url"
      target = "_blank"
    ) That’s a good lookin’ {{ fileType }}.

    .invalid-message(
      ng-if = "dockerfilePathForm.$invalid && !dockerfilePathForm.$pristine"
    ) We couldn’t find a {{ fileName }} at that path.

    small.grid-block.padding-xxs.small(
      ng-if = "!dockerfile.html_url"
    ) Use the relative path to your repo’s {{ fileType }} (e.g. A {{ fileName }} at the root level of your code, would have the path “{{ fileName }}”). Paths are case sensitive!
