svg.iconnables.icons-close(
  ng-click = "MC.cancel()"
)
  use(
    xlink:href = "#icons-close"
  )

label.clearfix(
  for = "add-dockerfile-input"
)
  .label-col Dockerfile Path
.label-row
  input.input.input-sm.input-validate(
    autocomplete = "off"
    branch-name = "MC.branchName"
    dockerfile-exists-validator
    full-repo = "MC.fullRepo"
    id = "add-dockerfile-input"
    ng-model = "MC.savedValue"
    ng-model-options = "{ debounce: { 'default': 500, 'blur': 0 } }"
    spellcheck = "false"
    required
  )
  button.btn.btn-sm.white.float-right(
    ng-disabled = "!MC.savedValue && (dockerfilePathForm.$pending || dockerfilePathForm.$invalid)"
    ng-click = "MC.confirm(MC.savedValue)"
  )
    .spinner-wrapper.spinner-sm.spinner-gray.in(
      ng-if = "dockerfilePathForm.$pending"
      ng-include = "'spinner'"
    )
    span Add Dockerfile

.invalid-message(
  ng-if = "dockerfilePathForm.$invalid && !dockerfilePathForm.$pristine"
) We couldn’t find a Dockerfile at that path.

small.grid-block.padding-xxs.small Specify the relative path to your Dockerfile in your repository (e.g. if your Dockerfile is in a root folder named “config”, your path would be “config/Dockerfile”).
