.grid-content.shrink.list.list-bordered
  //- add .disabled class to the not selected item if loading
  label.grid-block.list-item(
    ng-disabled = "$root.isLoading[MDC.name + 'SingleRepo']"
    ng-class = "{'active': MDC.state.configurationMethod === 'new'}"
    ng-if = "!MDC.fromTool"
  )
    svg.grid-content.shrink.iconnables.icons-dockerfile
      use(
        xlink:href = "#icons-file-new"
      )
    .grid-content Start with our setup guide
    //- if there is only one, [check] by default
    input.checkbox(
      name = "dockerfile"
      ng-disabled = "$root.isLoading[MDC.name + 'SingleRepo']"
      ng-model = "MDC.state.configurationMethod"
      type = "radio"
      value = "new"
    )

    button.grid-content.shrink.btn.btn-xs.btn-icon.btn-add
      svg.iconnables.icons-check
        use(
          xlink:href = "#icons-check"
        )
  label.grid-block.list-item(
    ng-class = "{'active': MDC.state.dockerfile === 'blank'}"
    ng-disabled = "$root.isLoading[MDC.name + 'SingleRepo']"
    ng-if = "!MDC.fromTool"
  )
    svg.grid-content.shrink.iconnables.icons-dockerfile
      use(
        xlink:href = "#icons-dockerfile"
      )
    .grid-content Start with a blank Dockerfile
    //- if there is only one, [check] by default
    input.checkbox(
      ng-disabled = "$root.isLoading[MDC.name + 'SingleRepo']"
      ng-model = 'MDC.state.configurationMethod'
      type = "radio"
      value = "blankDockerfile"
    )
    button.grid-content.shrink.btn.btn-xs.btn-icon.btn-add
      svg.iconnables.icons-check
        use(
          xlink:href = "#icons-check"
        )

  //- 'thisDockerfile' should be the name of the Dockerfile (ie. 'Dockerfile.prod', or 'Dockerfile.staging') to suppot multiple dockerfiles
  //- add .disabled class to the not selected item if loading
  label.grid-block.list-item(
    ng-class="{'active': MDC.state.configurationMethod === 'dockerfile'}"
    ng-disabled = "$root.isLoading[MDC.name + 'SingleRepo']"
  )
    svg.grid-content.shrink.iconnables.icons-dockerfile
      use(
        xlink:href = "#icons-dockerfile-repo"
      )
    .grid-content
      div Use a Dockerfile in your repo
      a.small.link(
        ng-disabled = "$root.isLoading[MDC.name + 'SingleRepo']"
        ng-href = "{{dockerfile.html_url}}"
        ng-if = "dockerfile.html_url"
        target = "_blank"
      ) {{dockerfile.path}}
        svg.iconnables
          use(
            xlinl:href = "#icons-link-external-alt"
          )
    //- if there is only one, [check] by default
    input.checkbox(
      name = "dockerfile"
      ng-model = "MDC.state.configurationMethod"
      type = "radio"
      value = "dockerfile"
    )
    button.grid-content.shrink.btn.btn-xs.btn-icon.btn-add
      svg.iconnables.icons-check
        use(
          xlink:href = "#icons-check"
        )

  .grid-block.vertical.list-item.list-item-path(
    add-dockerfile
    branch-name = "MDC.branchName"
    file-type = "Dockerfile"
    full-repo = "MDC.getFullRepo()"
    ng-if = "MDC.state.configurationMethod === 'dockerfile'"
    view-state = "viewState"
  )

  label.grid-block.list-item(
    ng-class="{'active': MDC.state.configurationMethod === 'dockerComposeFile'}"
    ng-disabled = "$root.isLoading[MDC.name + 'SingleRepo']"
    ng-if = "$root.featureFlags.dockerCompose && !$root.featureFlags.composeNewService && !MDC.fromTool"
  )
    svg.grid-content.shrink.iconnables.icons-dockerfile
      use(
        xlink:href = "#icons-dockerfile-repo"
      )
    .grid-content
      div Use a Docker Compose file in your repo
      a.small.link(
        ng-disabled = "$root.isLoading[MDC.name + 'SingleRepo']"
        ng-href = "{{ dockerComposeFile.html_url }}"
        ng-if = "dockerComposeFile.html_url"
        target = "_blank"
      ) {{dockerfile.path}}
        svg.iconnables
          use(
            xlinl:href = "#icons-link-external-alt"
          )
    input.checkbox(
      name = "dockerComposeFile"
      ng-model = "MDC.state.configurationMethod"
      type = "radio"
      value = "dockerComposeFile"
    )
    button.grid-content.shrink.btn.btn-xs.btn-icon.btn-add
      svg.iconnables.icons-check
        use(
          xlink:href = "#icons-check"
        )

  .grid-block.vertical.list-item.list-item-path(
    add-dockerfile
    branch-name = "MDC.branchName"
    file-type = "Docker Compose"
    full-repo = "MDC.getFullRepo()"
    ng-if = "MDC.state.configurationMethod === 'dockerComposeFile'"
    view-state = "viewState"
  )
