.spinner-wrapper.spinner-md.in(
  ng-if = "MDC.fromTool && $root.isLoading.mirrorDockerfile"
  ng-include = "'spinner'"
)

//- empty state
.grid-content.well.empty.gray(
  ng-if = "MDC.fromTool && !$root.isLoading.mirrorDockerfile && MDC.state.repo.dockerfiles.length === 0"
)
  p.p.text-center We couldn’t find a Dockerfile in this repository.

.grid-content.shrink.list.list-bordered(
  ng-if = "!MDC.fromTool"
)
  //- add .disabled class to the not selected item if loading
  label.grid-block.list-item(
    ng-disabled = "$root.isLoading[MDC.name + 'SingleRepo']"
    ng-class="{'active': MDC.state.configurationMethod === 'new'}"
  )
    svg.grid-content.shrink.iconnables.icons-dockerfile
      use(
        xlink:href = "#icons-file-new"
      )
    .grid-content Start with our setup guide
    //- if there is only one, [check] by default
    input.checkbox(
      name = "dockerfile"
      ng-disabled = "$root.isLoading[MDC.name + 'SingleRepo']"
      ng-model = "MDC.state.configurationMethod"
      type = "radio"
      value = "new"
    )

    button.grid-content.shrink.btn.btn-xs.btn-icon.btn-add
      svg.iconnables.icons-check
        use(
          xlink:href = "#icons-check"
        )

small.small.text-gray.padding-xxs.label-from(
  ng-if = "!$root.isLoading.mirrorDockerfile && MDC.state.repo.dockerfiles.length > 0"
) Advanced Setup

.grid-content.shrink.list.list-bordered(
  ng-if = "MDC.state.tabName === 'repos'"
)
  label.grid-block.list-item(
    ng-class = "{'active': MDC.state.dockerfile === 'blank'}"
    ng-disabled = "$root.isLoading[MDC.name + 'SingleRepo']"
  )
    svg.grid-content.shrink.iconnables.icons-dockerfile
      use(
        xlink:href = "#icons-dockerfile"
      )
    .grid-content Start with a blank Dockerfile
    //- if there is only one, [check] by default
    input.checkbox(
      ng-disabled = "$root.isLoading[MDC.name + 'SingleRepo']"
      ng-model = 'MDC.state.configurationMethod'
      type = "radio"
      value = "blankDockerfile"
    )
    button.grid-content.shrink.btn.btn-xs.btn-icon.btn-add
      svg.iconnables.icons-check
        use(
          xlink:href = "#icons-check"
        )

.grid-content.shrink.list.list-bordered(
  ng-if = "!$root.isLoading.mirrorDockerfile && MDC.state.repo.dockerfiles.length > 0"
)
  //- 'thisDockerfile' should be the name of the Dockerfile (ie. 'Dockerfile.prod', or 'Dockerfile.staging') to suppot multiple dockerfiles
  //- add .disabled class to the not selected item if loading
  label.grid-block.list-item(
    ng-class="{'active': MDC.state.configurationMethod === 'dockerfile'}"
    ng-disabled = "$root.isLoading[MDC.name + 'SingleRepo']"
    ng-repeat = "dockerfile in MDC.state.repo.dockerfiles"
  )
    svg.grid-content.shrink.iconnables.icons-dockerfile
      use(
        xlink:href = "#icons-dockerfile-repo"
      )
    .grid-content
      div {{ dockerfile.path }}
      a.small.link(
        ng-disabled = "$root.isLoading[MDC.name + 'SingleRepo']"
        ng-href = "{{ dockerfile.html_url }}"
        ng-if = "dockerfile.html_url"
        target = "_blank"
      ) From your Repository on GitHub
    //- if there is only one, [check] by default
    input.checkbox(
      name = "dockerfile"
      ng-model = "MDC.state.configurationMethod"
      type = "radio"
      value = "dockerfile"
    )
    button.grid-content.shrink.btn.btn-xs.btn-icon.btn-add
      svg.iconnables.icons-check
        use(
          xlink:href = "#icons-check"
        )

small.grid-block.shrink.align-center.small.text-gray.padding-xxs(
  ng-click = "viewState.showAddDockerfile = true"
  ng-hide = "MDC.fromTool && $root.isLoading.mirrorDockerfile || viewState.showAddDockerfile"
) Don’t see your repo’s Dockerfile?
  button.btn.btn-xxs.gray.btn-add-dockerfile(
    ng-click = "MDC.addDockerfileModal()"
    type = "button"
  ) Add Dockerfile…

small.small.text-gray.padding-xxs.label-from(
  ng-if = "!$root.isLoading.mirrorDockerfile && MDC.state.dockerComposeFile"
) Docker Compose File

.grid-content.shrink.list.list-bordered(
  ng-if = "!$root.isLoading.mirrorDockerfile && MDC.state.dockerComposeFile"
)

  label.grid-block.list-item(
    ng-class="{'active': MDC.state.configurationMethod === 'dockerComposeFile'}"
    ng-disabled = "$root.isLoading[MDC.name + 'SingleRepo']"
    ng-repeat = "dockerComposeFile in MDC.state.repo.dockerComposeFiles"
  )
    svg.grid-content.shrink.iconnables.icons-dockerfile
      use(
        xlink:href = "#icons-dockerfile-repo"
      )
    .grid-content
      div {{ dockerComposeFile.path }}
      a.small.link(
        ng-disabled = "$root.isLoading[MDC.name + 'SingleRepo']"
        ng-href = "{{ dockerComposeFile.html_url }}"
        ng-if = "dockerComposeFile.html_url"
        target = "_blank"
      ) From your Repository on GitHub
    //- if there is only one, [check] by default
    input.checkbox(
      name = "dockerComposeFile"
      ng-model = "MDC.state.configurationMethod"
      type = "radio"
      value = "dockerComposeFile"
    )
    button.grid-content.shrink.btn.btn-xs.btn-icon.btn-add
      svg.iconnables.icons-check
        use(
          xlink:href = "#icons-check"
        )

.grid-block.vertical.shrink.well.gray.padding-sm.well-add-dockerfile(
  add-dockerfile
  branch-name = "MDC.branchName"
  full-repo = "MDC.getFullRepo()"
  ng-if = "viewState.showAddDockerfile"
  view-state = "viewState"
)
