.popover.popover-fixed.popover-rules(
  ng-class = "{in: active}"
  ng-form = "popoverRuleForm"
  ng-init = "currentState = {};"
  ng-style = "popoverStyle.getStyle()"
)
  .popover-content

    //- if new rule
    h3.popover-title {{ data.state._id ? '': 'New '}}String Replace Rule
      button.btn.btn-xs.orange(
        ng-click = "actions.deleteRule(data.state)"
        ng-if = "data.state._id"
      )
        svg.iconnables.icons-trash
          use(
            xlink:href = "#icons-trash"
          )
        | Delete Rule

      ul.list.small
        li.list-item Case-sensitive
        li.list-item Trailing whitespace is not trimmed
        li.list-item Regular expressions are not supported
        li.list-item Use
          svg.iconnables
            use(
              xlink:href = "#icons-server-link"
            )
          | hostnames to refer to other containers

    .label-row
      label.label-col Find string
        input.input.input-sm.monospace(
          name = "fromTextBox"
          ng-change = "currentState.searched = false"
          ng-disabled = "currentState.processing"
          ng-model = "data.state.search"
          required
          placeholder = "localhost:27017"
          spellcheck = "false"
        )
      .span-col →
      label.label-col Replace
        fancy-select.input.input-sm.monospace(
          name = "toTextBox"
          ng-disabled = "currentState.processing"
          ng-required = "true"
          placeholder = "sample-user.runnableapp.com:27017"
          toggle-attribute = "showDropdown"
          toggle-object = "currentState"
          type = "text"
          value = "data.state.replace"
        )
          li.list-item.popover-list-item.small(
            ng-click = "$event.stopPropagation()"
          ) Select hostname
          fancy-option.monospace(
            ng-repeat = "instance in $parent.data.parentData.instances.models | filter:$parent.$parent.data.instanceFilter()"
            title = "{{ instance.getElasticHostname() }}"
            value = "instance.getElasticHostname()"
          ) {{ $parent.instance.getElasticHostname() }}
        button.btn.btn-sm.btn-icon.gray(
          ng-click = "currentState.showDropdown = !currentState.showDropdown; $event.stopPropagation();"
          ng-if = "data.parentData.instances.models.length > 1"
          title = "Show list of hostnames"
        )
          //^ check if greater than 1 to account for itself ^
          svg.iconnables
            use(
              xlink:href = "#icons-server-link"
            )

    //- if association
    small.small.table-details(
      ng-if = "data.state.diffs"
    ) {{ data.getMatchDisplay(data.state) }}

    //- association verification table
    .table.table-diff(
      diff-display
      file-diff = "diff"
      ng-repeat = "diff in data.state.diffs"
      rule = "data.state"
      state = "data.parentState"
    )

  .popover-footer.clearfix
    button.btn.green.btn-spinner(
      ng-class = "{in: currentState.processing}"
      ng-click = "actions.performCheck(data.state, currentState)"
      ng-disabled = "!popoverRuleForm.$valid || popoverRuleForm.$pristine || currentState.processing"
      ng-if = "!currentState.searched"
    )
      //- spinner
      .spinner-wrapper.spinner-sm.spinner-white.in(
        ng-if = "currentState.processing"
        ng-include = "'spinner'"
      )
      span {{ currentState.processing ? 'Searching' : 'Search for matches' }}
    button.btn.green(
      ng-click = "actions.createRule(data.state)"
      ng-if = "currentState.searched"
    ) {{ data.state._id ? 'Update': 'Create'}} Rule
    button.btn.gray.btn-cancel(
      ng-click = "actions.cancel()"
    ) Cancel