.popover.popover-fixed.popover-rules(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
  ng-init = "currentState = {}"
)
  .popover-content

    //- if new rule
    h3.popover-title {{ data.isUpdating ? 'New ' : ''}}String Replace Rule
      small.small 🐶 Rules are case-sensitive and trailing whitespace is not trimmed. Regular expressions are not supported. Or use an elastic URL to create an association.
      button.btn.btn-xs.gray(
        ng-if = "data.isUpdating"
      )
        svg.iconnables.icons-trash
          use(
            xlink:href = "#icons-trash"
          )
        | Delete Rule


    .label-row
      label.label-col Find string
        input.input.input-sm.monospace(
          ng-model = "data.state.oldValue"
          spellcheck = "false"
        )
      .span-col →
      label.label-col Translate to
        input.input.input-sm.monospace(
          ng-model = "data.state.newValue"
          spellcheck = "false"
        )
        button.btn.btn-sm.btn-icon.gray
          svg.iconnables
            use(
              xlink:href = "#icons-container-association"
            )

    //- if string
    //- small.small.table-details(
    //-   ng-if = "data.saving"
    //- ) 2 matches in 1 file (excludes ignored files)

    //- //- string verification table
    //- .table.table-diff(
    //-   ng-if = "data.saving"
    //-   ng-include = "'viewRuleString'"
    //- )

    //- if association
    small.small.table-details(
      ng-if = "currentState.searched"
    ) {{ data.getMatchDisplay() }}

    //- association verification table
    .table.table-diff(
      ng-if = "data.state.diff"
      diff-display
      file-diff = "data.state.diff"
    )

  .popover-footer.clearfix
    button.btn.green.btn-spinner(
      ng-if = "!currentState.searched"
      ng-class = "{in: currentState.processing}"
      ng-click = "actions.performCheck(data.state, currentState)"
      ng-disabled = "currentState.processing"
    )
      //- spinner
      .spinner-wrapper.spinner-sm.spinner-white.in(
        ng-if = "currentState.processing"
        ng-include = "'spinner'"
      )
      span {{ currentState.processing ? 'Searching' : 'Search for matches' }}
    button.btn.green(
      ng-if = "currentState.searched"
      ng-click = "actions.createRule(data.state)"
    ) Create rule
    button.btn.gray.btn-cancel(
      ng-click = "actions.cancel()"
    ) Cancel