.popover.popover-fixed.popover-rules(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
  ng-init = "currentState = {}"
)
  .popover-content
    h3.popover-title {{ data.isUpdating ? 'New ' : ''}}Filename Replace Rule
      small.small 🐶 Rules are case-sensitive and trailing whitespace is not trimmed. Regular expressions are not supported.
      button.btn.btn-xs.orange(
        ng-if = "data.isUpdating"
        ng-click = "actions.deleteRule(data.state)"
      )
        svg.iconnables.icons-trash
          use(
            xlink:href = "#icons-trash"
          )
        | Delete Rule

    .label-row
      label.label-col Source
        input.input.input-sm.monospace(
          ng-model = "data.state.oldValue"
          spellcheck = "false"
        )
      .span-col →
      label.label-col Destination
        input.input.input-sm.monospace(
          ng-model = "data.state.newValue"
          spellcheck = "false"
        )

    small.small.table-details(
      ng-if = "currentState.searched"
    ) {{ data.state.results.nameChanges.length ? 'Match found' : 'No matches found' }}

    //- filename verification table
    .table.table-diff(
      ng-if = "data.state.results.nameChanges.length"
      diff-display
      file-diff = "data.state.results.nameChanges[0]"
    )

  .popover-footer.clearfix
    button.btn.green.btn-spinner(
      ng-if = "!currentState.searched"
      ng-class = "{in: currentState.processing}"
      ng-click = "actions.performCheck(data.state, currentState)"
      ng-disabled = "currentState.processing"
    )
      //- spinner
      .spinner-wrapper.spinner-sm.spinner-white.in(
        ng-if = "currentState.processing"
        ng-include = "'spinner'"
      )
      span {{ currentState.processing ? 'Searching' : 'Search for matches' }}
    button.btn.green(
      ng-if = "currentState.searched"
      ng-click = "actions.createRule(data.state)"
    ) Create rule
    button.btn.gray.btn-cancel(
      ng-click = "actions.cancel()"
    ) Cancel