.popover.menu.bottom.popover-select(
  ng-class = "{in: data.show}"
  ng-style = "popoverStyle.getStyle()"
)
  .popover-content
    ul.popover-list
      li.list-item.popover-list-item.small Suggested Node.js version
      li.list-item.popover-list-item v0.10.35
      li.divider
      li.list-item.popover-list-item v0.12 (latest)
      li.list-item.popover-list-item v0.11.16
      li.list-item.popover-list-item v0.11.15
      li.list-item.popover-list-item v0.11.14
      li.list-item.popover-list-item v0.11.13
      li.list-item.popover-list-item v0.11
      li.list-item.popover-list-item v0.10.35
      li.list-item.popover-list-item v0.10.34
      li.list-item.popover-list-item v0.10.33
      li.list-item.popover-list-item v0.10.32
      li.list-item.popover-list-item v0.10.31
      li.list-item.popover-list-item v0.10.30
      li.list-item.popover-list-item v0.10.29
      li.list-item.popover-list-item v0.10.28
      li.list-item.popover-list-item v0.10
      li.list-item.popover-list-item v0.8.28
      li.list-item.popover-list-item v0.8