.popover.menu.right.popover-container-menu(
  ng-class = "{'in': active}"
  ng-init = "\
    isolatedContainters = [\
      {name: 'api'},\
      {name: 'mavis'},\
      {name: 'runnable-angular'}\
    ];\
  "
  ng-style = "popoverStyle.getStyle()"
  style = "transform-origin: 0 50%"
)
  .arrow.white
  //- menu items:

    - for a non-isolated branch:
      - Set Up Isolation
      - (divider)
      - Hide

    - for an isolated branch:
      - Configure Container
      - (divider)
      - Add Container to Isolation
      - Disable Isolation (triggers confirm)
      - (divider)
      - Hide

    - for an isolated branch's containers:
      - Configure Container
      - (divider)
      - Delete Container from Isolation (triggers confirm)

  .popover-content
    ul.list.popover-list
      //- li.list-item.popover-list-item
      //-   svg.iconnables
      //-     use(
      //-       xlink:href = "#icons-advanced"
      //-     )
      //-   | Configure Container
      //- li.divider
      li.list-item.popover-list-item.multi-line.disabled
        p.p Isolating a branch allows you to…
        ul.list.list-bulleted.small
          li.list-item Create a separate stack of your containers to use with this branch.
          li.list-item Configure this branch differently from your default.
          .btn.btn-sm.btn-block.green(
            modal
            modal-template = "viewModalIsolation"
          ) Set Up Isolation

        //- svg.iconnables
        //-   use(
        //-     xlink:href = "#icons-isolation"
        //-   )
        //- | Set Up Isolation…

      //- li.divider
      //- li.list-item.popover-list-item
      //-   svg.iconnables
      //-     use(
      //-       xlink:href = "#icons-isolation-enable"
      //-     )
      //-   | Add Container to Isolation
      //- li.list-item.popover-list-item
      //-   svg.iconnables
      //-     use(
      //-       xlink:href = "#icons-delete"
      //-     )
      //-   | Disable Isolation
      //- li.list-item.popover-list-item
      //-   svg.iconnables
      //-     use(
      //-       xlink:href = "#icons-isolation-disable"
      //-     )
      //-   | Delete Container from Isolation

      //- navListFilter
      li.divider(
        ng-if = "$root.featureFlags.navListFilter"
      )
      li.list-item.popover-list-item(
        ng-if = "$root.featureFlags.navListFilter"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-hide"
          )
        | Hide
