//- repository based containers
.list(
  ng-class = "{'in': $root.featureFlags.isolationNav}"
  ng-repeat = "container in containers"
)
  //- repository name
  .list-item
    span.text-overflow(
      title = "{{container.name}}"
    ) {{container.name}}
    //- configure button for repo containers
    svg.iconnables.icons-advanced
      use(
        xlink:href = "#icons-advanced"
      )
  a.list-item(
    ng-href = "#"
    ng-class = "{\
      'active': branch.selected,\
      'isolated': branch.isolation\
    }"
    ng-click = "branch.selected = !branch.selected"
    ng-repeat = "branch in container.branches"
  )
    .icons-status(
      ng-class = "{\
        'green': branch.status === 'green',\
        'orange': branch.status === 'orange',\
        'red': branch.status === 'red'\
      }"
    )
    .text-overflow(
      title = "{{branch.name}}"
    ) {{branch.name}}
    .btn.btn-xxs.btn-badge(
      ng-if = "branch.isolation"
    ) Isolated
    svg.iconnables.icons-overflow(
      ng-class = "{'active': popoverContainerMenu.data.show}"
      pop-over
      pop-over-active = "popoverContainerMenu.data.show"
      pop-over-data = "popoverContainerMenu.data"
      pop-over-options = "{\"top\":-37,\"left\":27}"
      pop-over-template = "viewPopoversContainerMenu"
    )
      use(
        xlink:href = "#icons-overflow"
      )
  .btn.btn-xxs(
    ng-if = "$root.featureFlags.navListFilter"
    pop-over
    pop-over-options = "{\"top\":-33,\"left\":215}"
    pop-over-template = "viewMoreContainersPopover"
  ) 8 more…

//- non-repository based containers
.list(
  ng-class = "{'in': $root.featureFlags.isolationNav}"
  ng-if = "nonRepositoryContainers"
)
  .list-item(
    ng-repeat = "container in nonRepositoryContainers"
  )
    .icons-status(
      ng-class = "{\
        'green': container.status === 'green',\
        'orange': container.status === 'orange',\
        'red': container.status === 'red'\
      }"
    )
    a.text-overflow(
      title = "{{container.name}}"
    ) {{container.name}}
    svg.iconnables.icons-advanced
      use(
        xlink:href = "#icons-advanced"
      )