.spinner-wrapper.spinner-md.spinner-gray.spinner-center.in(
  ng-if = "!CIS.instancesByPod"
  ng-include = "'spinner'"
)

//- repository based containers
.list(
  ng-repeat = "container in containers"
)
  //- repository name
  .list-item.list-item-header
    span.text-overflow(
      title = "{{container.name}}"
    ) {{container.name}}
    //- configure button for repo containers
    svg.iconnables.icons-advanced
      use(
        xlink:href = "#icons-advanced"
      )
  .list-item(
    ng-href = "#"
    ng-class = "{\
      'open': branch.selected,\
      'isolated': branch.isolation\
    }"
    ng-click = "branch.selected = !branch.selected"
    ng-repeat = "branch in container.branches"
  )
    a.list-item-container(
      ng-class = "{'active': branch.selected}"
    )
      .icons-status(
        ng-class = "{\
          'green': branch.status === 'green',\
          'orange': branch.status === 'orange',\
          'red': branch.status === 'red'\
        }"
      )
      .text-overflow(
        title = "{{branch.name}}"
      ) {{branch.name}}
      //- hide badge if popover is open
      .btn.btn-xxs.btn-badge.gray(
        ng-if = "branch.isolation && !popoverContainerMenu.data.show"
      ) Isolated
      svg.iconnables.icons-overflow(
        ng-class = "{'active': popoverContainerMenu.data.show}"
        pop-over
        pop-over-active = "popoverContainerMenu.data.show"
        pop-over-data = "popoverContainerMenu.data"
        pop-over-options = "{\"verticallyCentered\":true,\"left\":28}"
        pop-over-template = "viewPopoversContainerMenu"
      )
        use(
          xlink:href = "#icons-overflow"
        )

    //- list of isolated containers
    ul.list.list-isolated(
      ng-if = "branch.isolation && branch.selected"
    )
      li.list-item(
        ng-repeat = "container in isolatedContainers"
      )
        a.list-item-container
          .icons-status(
            ng-class = "{'{{container.name}}': true}"
          )
          .text-overflow {{container.name}}
          svg.iconnables.icons-overflow.icons-overflow-isolated
            use(
              xlink:href = "#icons-overflow"
            )
  //- .list-item.inactive
  //-   a.list-item-container(
  //-     modal
  //-     modal-template = "viewModalInviteAdmin"
  //-   )
  //-     .icons-status
  //-     .text-overflow branch-name
  button.btn.btn-xs.white(
    modal
    modal-template = "viewModalInviteAdmin"
  ) Enable Branches…

  //- nav list filter
  .btn.btn-xxs(
    ng-if = "$root.featureFlags.navListFilter"
    pop-over
    pop-over-options = "{\"top\":-33,\"left\":215}"
    pop-over-template = "viewMoreContainersPopover"
  ) 8 more…

//- non-repository based containers
.list(
  ng-class = "{'in': $root.featureFlags.isolationNav}"
  ng-if = "nonRepositoryContainers"
)
  .list-item(
    ng-repeat = "container in nonRepositoryContainers"
  )
    a.list-item-container
      .icons-status(
        ng-class = "{\
          'green': container.status === 'green',\
          'orange': container.status === 'orange',\
          'red': container.status === 'red'\
        }"
      )
      .text-overflow(
        title = "{{container.name}}"
      ) {{container.name}}
      svg.iconnables.icons-advanced
        use(
          xlink:href = "#icons-advanced"
        )