//-
//- start $root.featureFlags.dockerfileMirroring
//-

.spinner-wrapper.spinner-md.in(
  ng-if = "$root.isLoading.newContainerModalRepos"
  ng-include = "'spinner'"
)

//- hide this when loading
.grid-block.justify-justified.list-header.row-xxs(
  ng-if = "\
    $root.featureFlags.dockerfileMirroring && \
    !$root.isLoading.newContainerModalRepos && \
    NCMC.state.addRepoTab \
  "
)
  small.small {{NCMC.state.addRepoTab ? 'By last updated' : ''}}

  //- search
    - disable while loading
  input.input.input-xs.input-search(
    autofocus
    ng-model = "NCMC.repoFilter"
    ng-disabled = ""
    placeholder = "Search"
    required
    type = "search"
  )

//- show this if there are no repositories to add
.grid-block.well.gray.justify-center(
  ng-if = "\
    $root.featureFlags.dockerfileMirroring && \
    !$root.isLoading.newContainerModalRepos && \
    NCMC.state.addRepoTab && \
    NCMC.githubRepos.models.length === 0 \
  "
)
  .p.empty
    .h3.strong Uh oh!
    | We couldn’t find any repositories for this organization.
    br
    | If you think you think this is a mistake,&#32;
    a.link(
      ng-click = "NCMC.openIntercom()"
    ) let us know
    | .

//- list of repositories (mock up, we already have a template for this)
ul.list.list-servers(
  ng-if = "\
    $root.featureFlags.dockerfileMirroring && \
    !$root.isLoading.newContainerModalRepos && \
    NCMC.state.addRepoTab && \
    NCMC.githubRepos.models.length !== 0\
  "
)
  li.p.empty(
    ng-if = "NCMC.githubRepos.models && !noResults.length"
  ) We couldn’t find any repositories named
    br
    | ‘{{NCMC.repoFilter}}’.

  //- add active class when loading
  li.list-item.multi-line.text-overflow(
    ng-if = "$index < 10"
    ng-disabled = "repo.isAdded || NCMC.repoSelected"
    ng-click = "!repo.isAdded && NCMC.setRepo(repo) && goToPanel('dockerfileMirroring')"
    ng-repeat = "\
      repo in NCMC.githubRepos.models | \
      repos: NCMC.repoFilter | \
      orderBy: '-attrs.updated_at' as noResults\
    "
    ng-class = "{ \
      'active': repo.loading, \
      'disabled': repo.isAdded \
    }"
  ) {{ repo.attrs.name }}
    .row.row-author(
      ng-if = "$root.featureFlags.inviteFlows"
    )
      //- if invite flows...
      .btn-user.text-overflow(
        ng-class = "{'active': NCMC.state.active}"
        ng-include = "'userButtonView'"
        pop-over
        pop-over-active = "NCMC.state.active"
        pop-over-options = "{\"left\":-24,\"top\":26}"
        pop-over-template = "userPopoverView"
      )
      span.small(
        ng-if = "$root.featureFlags.inviteFlows"
      ) {{repo.attrs.updated_at | timeFrom}}
    small.small(
      ng-if = "!$root.featureFlags.inviteFlows"
    ) {{repo.attrs.updated_at | timeFrom}}
    button.btn.btn-sm.btn-icon
      svg.iconnables.icons-add
        use(
          xlink:href = "#icons-add"
        )
//-
//- end $root.featureFlags.dockerfileMirroring
//-
