.spinner-wrapper.spinner-md.in(
  ng-if = "$root.isLoading.newContainerModalRepos"
  ng-include = "'spinner'"
)

//- hide this when loading
.grid-block.shrink.justify-justified.list-header(
  ng-if = "!$root.isLoading.newContainerModalRepos"
)
  small.small {{MC.state.tabName === 'repos' ? 'By last updated' : ''}}

  //- search
    - disable while loading
  input.input.input-xs.input-search(
    autofocus
    ng-model = "MC.repoFilter"
    ng-disabled = "$root.isLoading[MC.name + 'SingleRepo']"
    ng-keyup = "$digest"
    placeholder = "Search"
    required
    type = "search"
  )

//- show this if there are no repositories to add
.grid-block.well.gray.justify-center(
  ng-if = "\
    !$root.isLoading.newContainerModalRepos && \
    MC.githubRepos.models.length === 0 \
  "
)
  .p.empty
    .h3.strong Uh oh!
    | We couldn’t find any repositories for this organization.
    br
    | If you think you think this is a mistake,&#32;
    a.link(
      intercom-link
      intro-message = "This thing wont fetch my Github repos."
    )

//- list of repositories (mock up, we already have a template for this)
ul.list.list-servers(
  ng-if = "\
    !$root.isLoading.newContainerModalRepos && \
    MC.githubRepos.models.length !== 0\
  "
)
  li.p.empty(
    ng-if = "MC.githubRepos.models && !noResults.length"
  ) We couldn’t find any repositories named
    br
    | ‘{{MC.repoFilter}}’.

  //- add active class when loading
  li.list-item.multi-line.text-overflow(
    ng-disabled = "repo.isAdded || $root.isLoading[MC.name + 'SingleRepo']"
    ng-click = "MC.setRepo(repo, goToPanel)"
    ng-repeat = "\
      repo in MC.githubRepos.models | \
      repos: MC.repoFilter | \
      orderBy: '-attrs.updated_at' as noResults\
    "
    ng-class = "{ \
      'active': repo.loading, \
      'disabled': repo.isAdded || $root.isLoading[MC.name + 'SingleRepo'] \
    }"
  ) {{ repo.attrs.name }}
    .row.row-author(
      ng-if = "$root.featureFlags.inviteFlows"
    )
      //- if invite flows...
      .btn-user.text-overflow(
        ng-class = "{'active': MC.state.active}"
        ng-include = "'userButtonView'"
        pop-over
        pop-over-active = "MC.state.active"
        pop-over-options = "{\"left\":-24,\"top\":26}"
        pop-over-template = "userPopoverView"
      )
      span.small(
        ng-if = "$root.featureFlags.inviteFlows"
      ) {{repo.attrs.updated_at | timeFrom}}
    small.small(
      ng-if = "!$root.featureFlags.inviteFlows"
    ) {{repo.attrs.updated_at | timeFrom}}
      svg.iconnables.icons-server(
        ng-if = "$root.featureFlags.multipleRepositoryContainers"
        pop-over
        pop-over-hover-trigger
        pop-over-options = "{\"top\":27,\"centered\":true}"
        pop-over-template = "viewCountainerTooltip"
        pop-over-trigger = "hover"
      )
        use(
          xlink:href = "#icons-server"
        )
    button.btn.btn-sm.btn-icon.btn-add(
      ng-if = "!repo.loading"
      ng-class = "{'disabled': repo.isAdded}"
    )
      svg.iconnables.icons-add
        use(
          xlink:href = "#icons-add"
        )
    .spinner-wrapper.spinner-sm.spinner-green.in(
      ng-if = "repo.loading"
      ng-include = "'spinner'"
    )
