header.modal-header
  h1.modal-heading New Container from Repository
  svg.iconnables.icons-close(
    ng-click = "defaultActions.cancel()"
  )
    use(
      xlink:href = "#icons-close"
    )

section.modal-body.clearfix
  .spinner-wrapper.spinner-md.in(
    ng-if = "!SMC.data.githubRepos.models"
    ng-include = "'spinner'"
  )

  //- search
  input.input.input-xs.input-search(
    ng-disabled = "SMC.repoSelected"
    ng-if = "SMC.data.githubRepos.models && SMC.data.githubRepos.models.length"
    ng-model = "SMC.data.repoFilter"
    placeholder = "Filter by name"
    required
    select-on = "showFilter"
    type = "search"
  )

  //- empty state
  p.p.empty(
    ng-if = "SMC.data.githubRepos.models && !SMC.data.githubRepos.models.length"
  ) You don’t have any private repositories. Choose another organization to use Runnable, or create one at&#32;
    a.link(
      href = "https://github.com/"
      target = "_blank"
    ) Github
    | .

  //- list of repositories
  ul.list.list-servers(
    ng-if = "SMC.data.githubRepos.models && SMC.data.githubRepos.models.length"
  )
    li.p.empty(
      ng-if = "!noResults.length"
    ) We couldn’t find any repositories named
      br
      | ‘{{SMC.data.repoFilter}}’.
    li.list-item.multi-line.text-overflow(
      ng-class = "{\
        'active': repo.loading,\
        'no-touching': repo.isAdded || SMC.repoSelected\
      }"
      ng-click = "SMC.selectRepo(repo)"
      ng-repeat = "\
        repo in SMC.data.githubRepos.models | \
        repos: SMC.data.repoFilter | \
        orderBy: '-attrs.updated_at' as noResults\
      "
    ) {{repo.attrs.name}}
      small.small Updated {{repo.attrs.updated_at | timeFrom}}
      button.btn.btn-xs(
        ng-class = "{\
          'disabled gray': repo.isAdded,\
          'green': !repo.isAdded\
        }"
        ng-disabled = "SMC.repoSelected"
        ng-if = "!repo.loading"
      ) {{repo.isAdded ? 'Already Added' : 'Add Container'}}
      .spinner-wrapper.spinner-sm.spinner-green.in(
        ng-if = "repo.loading"
        ng-include = "'spinner'"
      )

//- if there are no repositories to add
footer.modal-footer.clearfix(
  ng-if = "SMC.data.githubRepos.models && !SMC.data.githubRepos.models.length"
)
  button.btn.white.btn-block(
    ng-click = "defaultActions.cancel()"
  ) Close
