.spinner-wrapper.spinner-md.in(
  ng-if = "$root.isLoading.newContainerModalTemplates"
  ng-include = "'spinner'"
)

.grid-block.shrink.justify-right.list-header.row-xxs(
  ng-if = "!$root.isLoading.newContainerModalTemplates"
)
  input.input.input-xs.input-search(
    autofocus
    ng-model = "MC.serviceFilter"
    ng-disabled = ""
    placeholder = "Search"
    ng-keyup = "$digest"
    required
    type = "search"
  )

ul.list.list-servers(
  ng-if = "!$root.isLoading.newContainerModalTemplates"
)
  li.list-item.grid-block.row-xxs(
    ng-click = "($root.featureFlags.nameContainer) ? MC.setTemplate(dependency, goToPanel) : MC.addServerFromTemplate(dependency)"
    ng-repeat = "\
      dependency in MC.templateServers.models | \
      removeTemplateInstances | \
      repos: MC.serviceFilter | \
      orderBy:'attrs.name'\
    "
  )
    img.img(
      height = "36"
      ng-src = "/build/images/logos/logo-icon-{{dependency.attrs.name.toLowerCase()}}.png"
      width = "36"
    )
    | {{dependency.attrs.name}}
    button.btn.btn-sm.btn-icon.btn-add
      svg.iconnables.icons-add
        use(
          xlink:href = "#icons-add"
        )
