header.modal-header
  h1.modal-heading New Server: {{ state.repo.attrs.name }}

section.modal-body
  .modal-form(
    ng-form
    name = "verifyServerForm"
    ng-submit = "actions.addNewServer(state, defaultActions.close);"
    ng-include = "'viewFormStack'"
  )
    label.label.clearfix

      .label-col Start Command

      .input-col
        //- input for start command
        input.input.input-sm.input-validate(
          ng-disabled = "!data.versionSelected"
          required
          pop-over
          name = "startCommandInput"
          ng-model = "state.startCommand"
          pop-over-actions = "popoverStartCommand.actions"
          pop-over-active = "popoverStartCommand.data.show"
          pop-over-data = "popoverStartCommand.data"
          pop-over-options = "{\"left\":0,\"top\":39}"
          pop-over-template = "viewPopoverStartCommand"
        )

        small.small This is the command that will start your application. #{''}
          a.link(
            href = "//docs.docker.com/reference/builder/#cmd"
            target = "_blank"
          ) More about the start command

footer.modal-footer.clearfix
  //- disabled if there is no value in the command input
  button.btn.green(
    ng-disabled = "verifyServerForm.$invalid"
    type = "submit"
  ) Create Server
  button.btn.white.btn-cancel(
    ng-click = "defaultActions.cancel()"
    type = "button"
  ) Cancel