header.modal-header
  h1.modal-heading {{ state.repo.attrs.name }}
  svg.iconnables.icons-close(
    ng-click = "defaultActions.cancel()"
  )
    use(
      xlink:href = "#icons-close"
    )

section.modal-body
  .modal-form(
    ng-form = "verifyServerForm"
  )
    .label(
      data = "data"
      ng-if = "!$root.featureFlags.newVerificationFlow || state.step === 0"
      stack-selector-form
      state = "state"
      loading-promises-target = "setupServerModal"
    )
    .label(
      repository-form
      ng-if = "!$root.featureFlags.newVerificationFlow || state.step === 1"
      start-command-can-disable = "true"
      state = "state"
      loading-promises-target = "setupServerModal"
    )

footer.modal-footer.clearfix
  //- disabled if there is no value in the command input
  button.btn.green(
    ng-disabled = "verifyServerForm.$invalid || (state.selectedStack | selectedStackInvalid)"
    ng-click = "createServer(state)"
    ng-if="!$root.featureFlags.newVerificationFlow || ($root.featureFlags.newVerificationFlow && state.step >= 1)"
  ) Create Container
  button.btn.green(
    ng-disabled = "verifyServerForm.$invalid || (state.selectedStack | selectedStackInvalid)"
    ng-if="$root.featureFlags.newVerificationFlow && state.step < 1"
    ng-click = "goToNextStep()"
  ) Next
  button.btn.white.btn-cancel(
    ng-click = "defaultActions.cancel()"
    type = "button"
  ) Cancel
