header.modal-header
  h1.modal-heading New Container: {{ state.repo.attrs.name }}

section.modal-body
  .modal-form(
    ng-form
    name = "verifyServerForm"
  )
    .label(
      stack-selector-form
      data = "data"
      state = "state"
    )
    .label(
      repository-form
      start-command-can-disable = "true"
      state = "state"
    )

footer.modal-footer.clearfix
  //- disabled if there is no value in the command input
  button.btn.green(
    ng-disabled = "verifyServerForm.$invalid"
    ng-click = "createServer(state)"
  ) Create Container
  button.btn.white.btn-cancel(
    ng-click = "defaultActions.cancel()"
    type = "button"
  ) Cancel