.modal-dialog.modal-repository-select
  header.modal-header
    h1.modal-heading New Server from Template

  section.modal-body
    ul.list.list-servers
      li.list-item.multi-line
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
        | Cassandra
        small.small Lorem ipsum sit dolor
        button.btn.btn-xs.green Add server
      li.list-item.multi-line
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
        | Elastic Search
        small.small Lorem ipsum sit dolor
        button.btn.btn-xs.green Add server
      li.list-item.multi-line
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
        | HBase
        small.small Lorem ipsum sit dolor
        button.btn.btn-xs.green Add server
      li.list-item.multi-line
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
        | Memcached
        small.small Lorem ipsum sit dolor
        button.btn.btn-xs.green Add server
      li.list-item.multi-line
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
        | MongoDB
        small.small Lorem ipsum sit dolor
        button.btn.btn-xs.green Add server
      li.list-item.multi-line
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
        | MySQL
        small.small Lorem ipsum sit dolor
        button.btn.btn-xs.green Add server
      li.list-item.multi-line
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
        | Nginx
        small.small Lorem ipsum sit dolor
        button.btn.btn-xs.green Add server
      li.list-item.multi-line
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
        | PostgreSQL
        small.small Lorem ipsum sit dolor
        button.btn.btn-xs.green Add server
      li.list-item.multi-line
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
        | RabbitMQ
        small.small Lorem ipsum sit dolor
        button.btn.btn-xs.green Add server
      li.list-item.multi-line
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
        | Redis
        small.small Lorem ipsum sit dolor
        button.btn.btn-xs.green Add server

  footer.modal-footer.clearfix
    button.btn.white.btn-cancel(
      ng-click = "defaultActions.cancel();"
    ) Cancel