.modal-dialog.modal-repository-select
  header.modal-header
    h1.modal-heading New Server from Template

  section.modal-body
    ul.list.list-servers
      li.list-item.multi-line(
        ng-click = "actions.addServerFromTemplate(dependency)"
        ng-repeat = "dependency in data.allDependencies.models | \
          removeTemplateInstances | \
          orderBy:'attrs.name'"
      )
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
        | {{dependency.attrs.name}}
        small.small Lorem ipsum sit dolor
        button.btn.btn-xs.green Add server


  footer.modal-footer.clearfix
    button.btn.white.btn-cancel(
      ng-click = "defaultActions.cancel();"
    ) Cancel