fancy-select.monospace.input-validate(
  value = "TPSC.state.opts.testingParent"
)
  fancy-option(
    ng-repeat = "masterpod in $parent.TPSC.masterpods"
    value = "masterpod.attrs._id"
  ) {{$parent.masterpod.attrs.name}}

.label.clearfix
  .grid-block.shrink.align-center.well.well-600.gray.padding-sm
    .grid-content
      .strong.text-gray-dark This is a test service.
      small.small We’ll report your test results on your pull-requests on GitHub.
    label.toggle-wrapper.shrink
      input.toggle-input(
        ng-model = "TPSC.state.opts.isTesting"
        type = "checkbox"
      )
      .toggle-group.toggle-sm
