.container-label
  span.strong {{ instance.getRepoName() || instance.getDisplayName() }}
  span(
    ng-if = "instance.getBranchName()"
  ) /{{ instance.getBranchName() }}
  status-icon(
    instance = "instance"
  )
  a.github-icon(
    ng-href = "{{pr.html_url}}"
    target = "_blank"
    ng-if = "pr"
  )
    svg.iconnables.icon-git
      use(
        xlink:href="#icons-git"
      )

.container-url-wrapper
  input.input.container-url(
    ng-if = "instance.attrs.name"
    readonly
    select-all
    tooltip = "A URL is assigned to each container in a Sandbox and follows the naming pattern: [hash]-[repository]-[sandbox]-[GitHub-org].runnableapp.com."
    tooltip-options = "{\"class\":\"bottom tooltip-definition\",\"left\":0,\"top\":18}"
    value = "{{ instance.getContainerHostname() }}{{defaultPort}}"
  )

  //- sets width
  .container-url-ghost
    span.float-left.no-touching {{ instance.getContainerHostname() }}{{defaultPort}}

    a.link.float-left(
      ng-href = "http://{{ instance.getContainerHostname() }}{{defaultPort}}"
      target = "_blank"
      title = "Open in a new tab: http://{{ instance.getContainerHostname() }}{{defaultPort}}"
    )
      svg.iconnables
        use(
          xlink:href = "#icons-link-external"
        )

    span.no-touching(
      ng-if = "userName === 'CodeNow'"
      style = "visibility: unset"
    ) {{ instance.containers.models[0].attrs.dockerHost }}
      span(
        ng-repeat = "(key, value) in instance.containers.models[0].attrs.ports"
      ) {{ key }}:{{ value[0].HostPort }}