.container-label
  span.container-name {{ instance.getRepoName() || instance.getDisplayName() }}
  span.branch-name(
    ng-if = "instance.getBranchName()"
  ) /{{ instance.getBranchName() }}
  status-icon(
    instance = "instance"
  )

.container-url-wrapper
  input.input.container-url(
    ng-if = "instance.attrs.name"
    readonly
    select-all
    title = "Container URL"
    value = "{{ instance.getContainerHostname() }}{{defaultPort}}"
  )
  //- sets width
  span.container-url-ghost.no-touching {{ instance.getContainerHostname() }}{{defaultPort}}
  a.link-button.container-url-link(
    ng-href = "http://{{ instance.getContainerHostname() }}{{defaultPort}}"
    target = "_blank"
    title = "Open Container URL"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-link-external"
      )
  a.link-button.documentation-link(
    href = "http://support.runnable.io"
    target = "_blank"
    title = "Learn about Container URLs"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-question"
        )