.server-name
  span.sever-name {{ instance.getRepoName() || instance.getDisplayName() }}
  span.branch-name(
    ng-if = "instance.getBranchName()"
  ) /{{ instance.getBranchName() }}

  status-icon(
    instance = "instance"
  )
input.server-url(
  coach-mark-style = "{\"left\": -13, \"top\": 33}"
  coach-mark-template = "viewCoachMarksBoxNamePopover"
  coach-mark-type = "editButton"
  ng-if = "instance.attrs.name"
  readonly
  select-all
  show-coach-marks
  value = "{{ instance.getContainerHostname() }}{{defaultPort}}"
  template = "viewCoachMarksBoxNamePopover"
)
//- sets width
span.server-name-ghost.no-touching {{ instance.getContainerHostname() }}{{defaultPort}}
a.container-link-external(
  target = "_blank"
  ng-href = "http://{{ instance.getContainerHostname() }}{{defaultPort}}"
)
  svg.iconnables.icons-link-external
    use(
      xlink:href = "#icons-link-external"
    )