span(
  ng-if = "!state.fromPaymentDue"
) At your current usage, you’ll be charged for the Standard plan @ {{$root.featureFlags.billingDiscounted ? '$87' : '$174'}} for 6 users.
  strong.strong(
    ng-if = "$root.featureFlags.trial"
  ) You will not be charged until your trial ends.

span(
  ng-if = "state.fromPaymentDue && !state.hasPaid"
) You’ll be charged&#32;
  strong {{$root.featureFlags.billingDiscounted ? '$87' : '$174'}}
  | &#32;for 6 users.

span(
  ng-if = "state.fromPaymentDue && state.hasPaid"
) You’ve been charged&#32;
  strong {{$root.featureFlags.billingDiscounted ? '$87' : '$174'}}
  | &#32;for 6 users.

span(
  ng-if = "state.showNext"
) &#32;Your {{$root.featureFlags.trial && !state.hasPaid ? 'first' : 'next'}} billing date is July&nbsp;24
  sup th
  | ,&nbsp;2016.
