.grid-block.align-center.justify-center.shrink.white ✈️
.grid-block.p 15 Config
  span.hidden-xs uration
.grid-block.shrink.p.align-baseline
  .strong {{$root.featureFlags.billingDiscounted ? '$24.50' : '$49'}}
  small.small /user/month
