.grid-block.vertical
  p.strong Standard Plan
  small.small Up to 7 configurations
.grid-block.shrink.p.align-baseline
  .strong {{$root.featureFlags.billingDiscounted ? '$24.50' : '$49'}}
  small.small /user/month
