.grid-block.align-center.justify-center.shrink.white 😄
.grid-block.p Unlimited Repos
  span.hidden-xs itories
.grid-block.shrink.p.align-baseline
  .strong {{$root.featureFlags.billingDiscounted ? '$24.97' : '$49.95'}}
  small.small /user/month
