.popover.bottom.popover-guides(
  ng-class = "{in: data.show}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.blue
  .popover-content.clearfix
    h3.popover-header Edit Your Server
    p Checkout the ingredients that make up your server—including the Dockerfile.
    a.link(
      ng-click = "data.dismiss()"
    ) Dismiss
