.popover.bottom.popover-coach-mark(
  ng-class = "{in: data.show}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.blue
  .popover-content.clearfix
    h3.popover-header Toggle Commits
    p Click on your repository to checkout other commits or branches.
    a.link(
      ng-click = "data.dismiss()"
    ) Dismiss
