.popover.bottom.popover-guides(
  ng-class = "{in: data.show}"
)
  .arrow.white
  .popover-content.clearfix
    h3.popover-header Edit files with ease
    p You don't have to use Vim to edit files here! Access any file on your server through our file browser, and edit right here with our editor!
    a.link.link-text.link-gray(
      ng-click = "data.dismiss()"
    ) Dismiss