.popover.bottom.popover-guides(
  ng-class = "{in: data.show}"
)
  .arrow.white
  .popover-content.clearfix
    h3.popover-header Your repos, tracked
    p You can change which branch and commit your box is on with ease!  You can even add or remove additional repositories at any time!
    a.link.link-text.link-gray(
      ng-click = "data.dismiss()"
    ) Dismiss