.popover.bottom.popover-guides(
  ng-class = "{in: data.show}"
)
  .arrow.white
  .popover-content.clearfix
    h3.popover-header Editing your server
    p Click here to edit your dockerfile, add or remove repositories, or adjust any other build setting for your server!
    a.link.link-text.link-gray(
      ng-click = "data.dismiss()"
    ) Dismiss