.popover.bottom.popover-guides(
  ng-class = "{in: data.show}"
)
  .arrow.blue
  .popover-content.clearfix
    h3.popover-header Edit Your Server
    p Checkout the ingredients that make up your server—including your dockerfile.
    a.link.link-text.link-white(
      ng-click = "data.dismiss()"
    ) Dismiss
