.popover.bottom.popover-coach-mark(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.blue
  .popover-content.clearfix
    h3.popover-header Edit Your Server
    p Checkout the ingredients that make up your container—including the Dockerfile.
    a.link(
      ng-click = "data.dismiss()"
    ) Dismiss
