.popover.bottom.popover-guides(
  ng-class = "{in: data.show}"
)
  .arrow.blue
  .popover-content.clearfix
    p Each server gets a unique public URL based on its name.
    //- dismiss should also clear the coachmark
    a.link.link-text.link-white(
      ng-click = "data.dismiss()"
    ) Dismiss