.popover.bottom.popover-guides(
  ng-class = "{in: data.show}"
)
  .arrow.white
  .popover-content.clearfix
    h3.popover-header Each Box is Special
    p Every box gets its own personal url that you can use anywhere!
    //- dismiss should also clear the coachmark
    a.link.link-text.link-gray(
      ng-click = "data.dismiss()"
    ) Dismiss