.popover.bottom.popover-guides(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.blue
  .popover-content.clearfix
    p Each server gets a unique public URL based on its name.
    //- dismiss should also clear the coachmark
    a.link(
      ng-click = "data.dismiss()"
    ) Dismiss
