//- do not show change org if already on org select
a.grid-content.shrink.text-gray.small.link(
  ui-sref = "orgSelect"
  ui-sref-opts = "{reload: true}"
) Change Organization
a.grid-content.shrink.text-gray.small.link(
  href = "#"
) Sign Out
