//- note: this is a modal, but it doesn't have to be when implemented!
//- if this goes in as a separate page, just remove the .modal-backdrop.in classes
.modal-backdrop.in.modal-blackout

  .welcome.welcome-back(
    ng-if = "!$root.featureFlags.gracePeriodPayment && !$root.featureFlags.gracePeriodTrial"
    ng-include = "'pausedSandboxView'"
  )

  .welcome.welcome-back(
    ng-if = "$root.featureFlags.gracePeriodPayment"
    ng-include = "'paymentDueView'"
  )

  .welcome.welcome-back(
    ng-if = "$root.featureFlags.gracePeriodTrial"
    ng-include = "'trialEndView'"
  )
