.sidebar-section-heading.strong(
  ng-click = "$storage.explorerIsClosed = !$storage.explorerIsClosed"
  ng-class = "{ closed: $storage.explorerIsClosed }"
)
  svg.iconnables.icons-disclose
    use(
      xlink:href = "#icons-disclose"
    )
  | {{ explorerTitle }}
  button.btn.btn-xs.btn-icon.float-right(
    ng-class = "{active: filePopover.data.show}"
    ng-if = "!$storage.explorerIsClosed && fileModel.running()"
    pop-over-old
    pop-over-actions = "filePopover.actions"
    pop-over-data = "filePopover.data"
    pop-over-options = "{\"left\":-68,\"top\":50}"
    pop-over-template = "viewFileTreePopoverFileExplorerMenu"
    pop-over-active = "filePopover.data.show"
  )
    svg.iconnables.icons-add
      use(
        xlink:href = "#icons-add"
      )
.empty-state.well.in(
  ng-if = "!$storage.explorerIsClosed && !fileModel.running()"
) The container must be running in order to view its files.