//- on container sidebar
.explorer-menu-bar-container(
  ng-if = "!editExplorer"
  ng-include = "'explorerMenuBar'"
)

//- on configure modal
.sidebar-actions(
  ng-if = "editExplorer"
  ng-controller = "FilePopoverController as FPC"
)
  button.btn.btn-xs.gray(
    ng-class = "{active: filePopover.data.show}"
    ng-disabled = "readOnly"
    pop-over
    pop-over-actions = "FPC.actions"
    pop-over-data = "filePopover.data"
    pop-over-options = "{\"left\":-76,\"top\":38}"
    pop-over-template = "viewFileTreePopoverFileExplorerMenu"
    pop-over-active = "filePopover.data.show"
  )
    svg.iconnables.icons-add
      use(
        xlink:href = "#icons-add"
      )

.well.in(
  ng-if = "!$storage.explorerIsClosed && !fileModel.running()"
) There are no files because
  strong.strong {{ instance.getRepoName() || instance.getDisplayName() }}
  | isn’t running.

ul.file-tree.sidebar-section-content(
  ng-if = "editExplorer || (!$storage.explorerIsClosed && fileModel.running())"
)
  //- this is the root dir; there can be only one.
  li(
    dir = "rootDir"
    edit-explorer = "editExplorer"
    file-tree-dir
    file-model = "fileModel"
    is-root-dir = "true"
    open-items = "openItems"
    parent-dir = "rootDir"
    read-only = "readOnly"
    show-repo-folder = "showRepoFolder"
    state = "state"
    loading-promises-target = "loadingPromisesTarget"
  )
