h2.sub-header {{ title }}
  button.btn.btn-xs.white.sub-header-action(
    ng-class = "{active: filePopover.data.show}"
    toggle-pop-over
    toggle-pop-over-model = "filePopover.data.show"
  )
    svg.iconnables.icons-add
      use(
        xlink:href = "#icons-add"
      )
    pop-over(
      actions = "filePopover.actions"
      data = "filePopover.data"
      popover-options = "{\"left\":-74,\"top\":40}"
      template = "viewFileTreePopoverFileExplorerMenu"
    )
ul.file-tree
  //- this is the root dir; there can be only one.
  file-tree-dir(
    build = "build"
    dir = "rootDir"
    open-items = "openItems"
    read-only = "readOnly"
  )
