.explorer-controls
  button.toggle-theme(
    ng-class = "{ \
      dark: !toggleTheme, \
      light: toggleTheme \
    }"
    ng-click = "toggleTheme = !toggleTheme"
    ng-init = "toggleTheme = true"
    tooltip = "Change Theme"
    tooltip-options = "{\"class\":\"bottom\",\"left\":11,\"top\":36}"
  )
    .theme
ul.file-tree(
  file-tree-root
  open-items = "openItems"
)
