h2.sub-header File Explorer
  button.btn.btn-xs.white.sub-header-action(
    type = "button"
  )
    svg.iconnables.icons-add
      use(
        xlink:href = "#icons-add"
      )
ul.file-tree(
  file-tree-root
  open-items = "openItems"
)
