div(
  ng-if = "!editExplorer"
  ng-include = "'explorerMenuBar'"
)

ul.file-tree(
  ng-if = "editExplorer || (!$storage.explorerIsClosed && fileModel.running())"
)
  //- this is the root dir; there can be only one.
  li(
    file-tree-dir
    edit-explorer = "editExplorer"
    file-model = "fileModel"
    parent-dir = "rootDir"
    dir = "rootDir"
    open-items = "openItems"
    read-only = "readOnly"
    is-root-dir = "true"
    show-repo-folder = "showRepoFolder"
  )
.row-heading(
  ng-if = "editExplorer"
)
  button.btn.btn-xs.btn-icon.white.sub-header-action(
    ng-class = "{active: filePopover.data.show}"
    ng-if = "editExplorer || (!$storage.explorerIsClosed && fileModel.running())"
    pop-over
    pop-over-actions = "filePopover.actions"
    pop-over-data = "filePopover.data"
    pop-over-options = "{\"left\":-74,\"top\":40}"
    pop-over-template = "viewFileTreePopoverFileExplorerMenu"
    pop-over-active = "filePopover.data.show"
  )
    svg.iconnables.icons-add
      use(
        xlink:href = "#icons-add"
      )