//- title of container
.grid-block.align-center.instance-header-title.text-overflow

  .grid-block.shrink.header-btn-group
    //- toggle container nav
    button.btn.btn-md.btn-icon-md(
      ng-class = "{'active': !$storage.instanceListIsClosed}"
      ng-click = "$storage.instanceListIsClosed = !$storage.instanceListIsClosed"
      pop-over
      pop-over-hover-trigger
      pop-over-options = "{\"top\":45,\"centered\":true}"
      pop-over-template = "sidebarTooltip"
      pop-over-trigger = "hover"
    )
      svg.iconnables.icons-sidebar-left
        use(
          xlink:href = "#icons-sidebar-left"
        )

  //- container title
    - repository in .span
    - branch in .strong
  .grid-block.justify-center
    span.span {{instance.getMasterPodName()}}
    strong.strong(
      ng-if = "instance.getBranchName()"
    ) /{{instance.getBranchName()}}

    //- pull request link
    a.btn.btn-xs.green(
      ng-href = "{{pr.html_url}}"
      ng-if = "pr"
      target = "_blank"
      title = "view pull request on GitHub"
    )
      svg.iconnables.icons-branch.float-left
        use(
          xlink:href = "#icons-pull-request"
        )
      | \#{{pr.number}}
    span(
      ng-if = "$root.featureFlags.internalDebugging"
      style = "bottom: 12px;font-size: 13px;position: relative;top: -5px;"
    )    {{instance.containers.models[0].attrs.dockerHost}} |&#32;
      span(
        ng-repeat = "(key, value) in instance.containers.models[0].attrs.ports"
      ) {{key}}:{{value[0].HostPort}} |&#32;

//- properties of container
.instance-header-properties

  .btn-sm(
    container-status-button
    instance = "instance"
  )

  //- dns button
  label.btn.btn-sm.btn-connections(
    dns-configuration
    instance = "instance"
    ng-class = "{'deprecated': !$root.featureFlags.connections}"
  )

  label.input-group.input-group-sm.gray(
    container-url
    instance = "instance"
    ng-if = "instance.attrs.name"
  )

  div(
    instance = "instance"
    ng-if = "!$root.featureFlags.saveToolbar && instance.containers.models[0].running() && !openItems.isClean()"
    open-items = "openItems"
    save-open-items-button
  )
