//- pull request link
a.grid-block.shrink.btn.btn-xxs(
  ng-click = "$emit('demo::prLinkClicked'); openedPRUrl()"
  ng-href = "{{pr.html_url}}"
  target = "_blank"
  title = "view pull request on GitHub"
)
  svg.iconnables.icons-pull-request.float-left
    use(
      xlink:href = "#icons-pull-request"
    )
  | Open

.popover.bottom.in.below-modals.popover-pr-link(
  ng-if = "showPrCallout()"
  ng-include = "'instanceHeaderPRLinkPopoverView'"
)
