//- title of container
.instance-header-title.text-overflow

  //- toggle container nav
  button.btn.float-left(
    ng-class = "{'active': !$storage.instanceListIsClosed}"
    ng-click = "$storage.instanceListIsClosed = !$storage.instanceListIsClosed"
  )
    svg.iconnables.icons-arrow-backward
      use(
        xlink:href = "#icons-arrow-down"
      )
    svg.iconnables.icons-hamburger
      use(
        xlink:href = "#icons-hamburger"
      )

      button(
        ng-class = "getClassForInstance()"
        ng-disabled = "isChanging()"
        pop-over
        pop-over-actions = "CSBC.actions"
        pop-over-controller = "CSBC"
        pop-over-options = "{\"right\":0,\"top\":53}"
        pop-over-template = "containerStatusOptionsPopoverView"
      )

  //- container title
    - repository in .span
    - branch in .strong

  span.span {{instance.getRepoName() || instance.getDisplayName()}}
  strong.strong(
    ng-if = "instance.getBranchName()"
  ) /{{instance.getBranchName()}}

  //- pull request link
  a.btn.btn-xs.green(
    ng-href = "{{pr.html_url}}"
    ng-if = "pr"
    target = "_blank"
    title = "view pull request on GitHub"
  )
    svg.iconnables.icons-branch.float-left
      use(
        xlink:href = "#icons-pull-request"
      )
    | \#{{pr.number}}
  span(
    ng-if = "$root.featureFlags.internalDebugging"
    style = "bottom: 12px;font-size: 13px;position: relative;top: -5px;"
  )    {{instance.containers.models[0].attrs.dockerHost}} |&#32;
    span(
      ng-repeat = "(key, value) in instance.containers.models[0].attrs.ports"
    ) {{key}}:{{value[0].HostPort}} |&#32;


  //- if a container from an isolated branch, use .btn-badge for the initial branch
    - should say "Isolated" when viewing the isolated branch
  button.btn.btn-xs.btn-badge.gray.float-right(
    ng-if = "false"
  ) Isolated

//- properties of container
.instance-header-properties

  div(
    instance = "instance"
    container-status-button
  )

  //- dns button
  button.btn.btn-sm.btn-dns(
    dns-configuration
    instance = "instance"
  )

  //- container url; [readonly] to inherit css for .input[readonly]
  label.input-wrapper.input.input-sm(
    ng-if = "instance.attrs.name"
    readonly
  )
    //- not button elements because we only want the <label> to trigger on the input
    a.btn.btn-xs(
      ng-href = "http://{{instance.getContainerHostname()}}{{defaultPort}}"
      target = "_blank"
    ) URL
      svg.iconnables.float-right
        use(
          xlink:href = "#icons-link-external"
        )
    input.input.input-sm.text-center(
      readonly
      select-all
      value = "{{instance.getContainerHostname()}}{{defaultPort}}"
    )
    button.btn.btn-xs(
      clipboard
      on-copied = "onClipboardEvent()"
      on-error = "onClipboardEvent(err)"
      ng-mouseenter = "onClipboardEvent(null, true)"
      tooltip = "{{clipboardText}}"
      tooltip-observe
      tooltip-options = "{\"class\":\"bottom tooltip-definition\",\"left\":0,\"top\":18}"
      text = "instance.getContainerHostname() + defaultPort"
    ) Copy

  save-open-items-button(
    instance = "instance"
    loading = "isLoading.main"
    open-items = "openItems"
  )