//- ng-if = "!currentOrg.isPersonalAccount()"
button.grid-block.shrink.btn.btn-md.btn-icon-md(
  ng-class = "{'active': !$storage.instanceListIsClosed}"
  ng-click = "$storage.instanceListIsClosed = !$storage.instanceListIsClosed"
  pop-over
  pop-over-hover-trigger
  pop-over-options = "{\"top\":45,\"centered\":true}"
  pop-over-template = "sidebarTooltip"
  pop-over-trigger = "hover"
)
  svg.iconnables.icons-arrow-backward
    use(
      xlink:href = "#icons-arrow-down"
    )

.grid-block.vertical.instance-header-name(
  ng-include = "'instanceHeaderNameView'"
)

.grid-block.noscroll.instance-header-actions(
  ng-include = "'instanceHeaderActionsView'"
)
