.grid-block.vertical.justify-center.instance-header-name(
  ng-if = "!$root.featureFlags.mixAndMatchBranches"
  ng-include = "'instanceHeaderNameView'"
)

.grid-block.instance-header-actions(
  ng-include = "'instanceHeaderActionsView'"
)
