.grid-block.shrink.btn.btn-xxs.orange(
  tooltip = "You are viewing an older commit."
  tooltip-options = "{\"class\":\"bottom\",\"left\":0,\"top\":21}"
)
  svg.iconnables.icons-history.float-left
    use(
      xlink:href = "#icons-history"
    )
  | 4486f43
