small.grid-block.noscroll.text-overflow(
  ng-if = "$root.featureFlags.composeInstance || !!pr || commitHistory"
  ng-init = "commitHistory = null"
  title = "{{instance.getMasterPodName()}}{{instance.getBranchName() ? ' / instance.getBranchName()' : ''}}"
)
  //- hide this element if compose
  .grid-block.small.text-overflow(
    ng-if = "$root.featureFlags.composeInstance"
  ) {{instance.getMasterPodName()}} / {{instance.getBranchName()}}

  //- should show either PR link OR commit status
    - prioritize commit status over PR link
  .grid-block.shrink(
    ng-if = "!!pr && !commitHistory"
    ng-include = "'instanceHeaderPRLinkView'"
  )
  .grid-block.shrink(
    ng-if = "commitHistory"
    ng-include = "'instanceHeaderPreviousCommitView'"
  )

h1.p.text-overflow {{$root.featureFlags.composeInstance ? 'container-name' : ''}}
  | {{!$root.featureFlags.composeInstance && instance.getMasterPodName() ? instance.getMasterPodName() : ''}}
  | {{!$root.featureFlags.composeInstance && instance.getBranchName() ? ' / ' + instance.getBranchName() : ''}}

//- for debugging
div(
  ng-if = "$root.featureFlags.internalDebugging"
  style = "background:white;border-radius:6px;color:#000;font-size:13px;padding:12px;position:absolute;right:12px;top:12px;z-index:99999999;"
) {{instance.containers.models[0].attrs.dockerHost}} |&#32;
  span(
    ng-repeat = "(key, value) in instance.containers.models[0].attrs.ports"
  ) {{key}}:{{value[0].HostPort}} |&#32;
