.arrow.white
.grid-block.vertical
  img.grid-block.shrink.img(
    src = "/build/images/runnabot-preview.svg"
  )
  .grid-block.vertical.shrink.p
    strong.weight-strong Meet our pull request bot.
    .small Runnabot posts links to your containers directly on the pull pequest page. Open this PR to check it out.
