.arrow.white
.grid-block.vertical
  img.grid-block.shrink.img(
    src = "/build/images/runnabot-preview.svg"
  )
  .grid-block.vertical.shrink.p
    strong.weight-strong Runnabot comments on pull requests.
    .small We’ll let you know when your container is running, giving you access to your container from GitHub.
