//- title of container
.instance-header-title.text-overflow

  //- toggle container nav
  button.btn.float-left(
    ng-class = "{'active': !$storage.instanceListIsClosed}"
    ng-click = "$storage.instanceListIsClosed = !$storage.instanceListIsClosed"
  )
    svg.iconnables.icons-arrow-backward
      use(
        xlink:href = "#icons-arrow-down"
      )
    svg.iconnables.icons-hamburger
      use(
        xlink:href = "#icons-hamburger"
      )

  //- container title
    - repository in .span
    - branch in .strong

  span.span {{instance.getRepoName() || instance.getDisplayName()}}
  strong.strong(
    ng-if = "instance.getBranchName()"
  ) /{{instance.getBranchName()}}

  //- pull request link
  a.btn.btn-xs.green(
    ng-href = "{{pr.html_url}}"
    ng-if = "pr"
    target = "_blank"
    title = "view pull request on GitHub"
  )
    svg.iconnables.icons-branch.float-left
      use(
        xlink:href = "#icons-pull-request"
      )
    | \#{{pr.number}}

  //- if a container from an isolated branch, use .btn-badge for the initial branch
    - should say "Isolated" when viewing the isolated branch
  button.btn.btn-xs.btn-badge.gray.float-right(
    ng-if = "false"
  ) Isolated

//- properties of container
.instance-header-properties

  div(
    instance = "instance"
    instance-primary-actions
    loading = "isLoading.main"
    open-items = "openItems"
  )

  //- dns button
  button.btn.btn-sm.btn-dns(
    pop-over
    pop-over-options = "{\"centered\":true,\"top\":47}"
    pop-over-template = "viewPopoverDnsMappings"
  )
    .btn.btn-xxs 5
    | DNS

  //- container url; [readonly] to inherit css for .input[readonly]
  label.input-wrapper.input.input-sm(
    ng-if = "instance.attrs.name"
    readonly
  )
    //- not button elements because we only want the <label> to trigger on the input
    a.btn.btn-xs(
      ng-href = "{{instance.getContainerHostname()}}{{defaultPort}}"
      target = "_blank"
    ) URL
      svg.iconnables.float-right
        use(
          xlink:href = "#icons-link-external"
        )
    input.input.input-sm.text-center(
      readonly
      select-all
      value = "e4rov2-palantiri-staging-codenow.runnableapp.com"
    )
    .btn.btn-xs Copy

  //- ***********************
  //- deprecated button, remove with $root.featureFlags.saveToolbar
  //- save button
  .btn-group(
    ng-if = "!$root.featureFlags.saveToolbar && instance.containers.models[0].running() && canSave()"
  )
    //- apply .with-restart if save restarts Server
    //- add title = "Save and Restart Server" if save restarts Server
    button.btn.btn-sm.white.btn-spinner(
      ng-class = "{in: saving}"
      ng-click = "saveChanges()"
      ng-disabled = "loading || saving || modifyingInstance"
      type = "button"
    )
      .spinner-wrapper.spinner-sm.spinner-white.in(
        ng-if = "saving"
        ng-include = "'spinner'"
      )
      span.btn-text {{ saving ? 'Saving' : 'Save'}}
      //- show if restart is checked
      span.btn-text(
        ng-if = "popoverSaveOptions.data.restartOnSave"
      ) #{''} and Restart

    button.btn.btn-sm.white.btn-icon.btn-icon-sm.btn-save-options(
      ng-class = "{active: popoverSaveOptions.data.show}"
      ng-disabled = "loading || saving || modifyingInstance"
      pop-over
      pop-over-active = "popoverSaveOptions.data.show"
      pop-over-actions = "popoverSaveOptions.actions"
      pop-over-data = "popoverSaveOptions.data"
      pop-over-options = "{\"right\":1,\"top\":47}"
      pop-over-template = "viewInstancePopoverSaveOptions"
      type = "button"
    )
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
  //- end button, remove with $root.featureFlags.saveToolbar
  //- ***********************