button.grid-block.shrink.btn.btn-xs.btn-icon-xs.gray(
  ng-class = "{'active': $storage.instanceListIsClosed}"
  ng-click = "$storage.instanceListIsClosed = !$storage.instanceListIsClosed"
  ng-if = "!currentOrg.isPersonalAccount()"
  pop-over
  pop-over-hover-trigger
  pop-over-options = "{\"top\":36,\"centered\":true}"
  pop-over-template = "sidebarTooltip"
  pop-over-trigger = "hover"
)
  svg.iconnables.icons-arrow-backward
    use(
      xlink:href = "#icons-arrow-down"
    )

.grid-block.vertical.instance-header-name(
  ng-include = "'instanceHeaderNameView'"
)

.grid-block.noscroll.instance-header-actions(
  ng-include = "'instanceHeaderActionsView'"
)
