//- title of container
.grid-block.align-center.instance-header-title.text-overflow.noscroll

  .grid-block.shrink.header-btn-group
    //- toggle container nav
    button.btn.btn-md.btn-icon-md(
      ng-class = "{'active': !$storage.instanceListIsClosed}"
      ng-click = "$storage.instanceListIsClosed = !$storage.instanceListIsClosed"
      ng-if = "!currentOrg.isPersonalAccount()"
      pop-over
      pop-over-hover-trigger
      pop-over-options = "{\"top\":45,\"centered\":true}"
      pop-over-template = "sidebarTooltip"
      pop-over-trigger = "hover"
    )
      svg.iconnables.icons-sidebar-left
        use(
          xlink:href = "#icons-sidebar-left"
        )

  //- container title
    - repository in .span
    - branch in .strong
  .grid-block.justify-center.align-center.noscroll
    .grid-block.shrink.text-overflow(
      title = "{{instance.getMasterPodName()}}/{{instance.getBranchName()}}"
    ) {{instance.getMasterPodName()}}
      span(
        ng-if = "instance.getBranchName()"
      ) /
      span.strong(
        ng-if = "instance.getBranchName()"
      ) {{instance.getBranchName()}}
    .grid-block.shrink.relative.noscroll(
      ng-if = "$root.featureFlags.demoMultiTierPRLink && pr"
      ng-include = "'instanceHeaderPRLinkView'"
    )

    span(
      ng-if = "$root.featureFlags.internalDebugging"
      style = "bottom: 12px;font-size: 13px;position: relative;top: -5px;"
    )    {{instance.containers.models[0].attrs.dockerHost}} |&#32;
      span(
        ng-repeat = "(key, value) in instance.containers.models[0].attrs.ports"
      ) {{key}}:{{value[0].HostPort}} |&#32;

//- properties of container
.instance-header-properties

  .btn-sm(
    container-status-button
    instance = "instance"
  )

  //- dns button
  label.btn.btn-sm.btn-connections(
    dns-configuration
    instance = "instance"
    ng-class = "{'deprecated': !$root.featureFlags.connections}"
  )

  label.input-group.input-group-sm.gray(
    container-url
    instance = "instance"
    ng-if = "instance.attrs.name"
  )

  div(
    instance = "instance"
    ng-if = "!$root.featureFlags.saveToolbar && instance.containers.models[0].running() && !openItems.isClean()"
    open-items = "openItems"
    save-open-items-button
  )

  .popover.bottom.in.popover-url.below-modals(
    ng-if = "showUrlCallout()"
    ng-include = "'containerUrlPopoverView'"
  )

  .popover.bottom.popover-aha.popover-aha-url.in(
    ng-if = "$root.featureFlags.ahaBranchUrlStep"
  )
    .arrow.white(
      style = "left: auto; right: 59px;"
    )
    .popover-content
      .grid-block.shrink.align-center.justify-center.padding-sm.aha-guide
        .grid-block.shrink.aha-meter.js-animate.aha-meter-100
          svg.iconnables
            use(
              xlink:href = "#icons-check"
            )
        .grid-block.vertical.aha-text
          p.p.small.text-gray-light Step 3: Add a Branch
          p.p Nice work! Now you can see the web output of your branch by visiting its URL.
    .grid-block.justify-right.popover-footer
      button.grid-block.shrink.btn.btn-sm.green Got It
