a.grid-block.shrink.btn.btn-xxs(
  tooltip = "You are viewing an older commit."
  tooltip-options = "{\"class\":\"bottom\",\"left\":0,\"top\":21}"
)
  svg.iconnables.icons-history.float-left
    use(
      xlink:href = "#icons-history"
    )
  | {{ instance.containerHistory.commitSha.slice(0, 6) }}
