.arrow.gray

.grid-block.vertical
  .grid-block.align-center.justify-justified.demo-progress(
    demo-progress-bar
    demo-step = 5
  )
  img.grid-block.shrink.img(
    src = "/build/images/runnabot-preview.svg"
  )
  .grid-block.vertical.align-start.shrink.p
    strong.weight-strong Meet your pull request bot.
    .small Runnabot posts links to your containers directly on the pull request page. Check it out:
    a.btn.btn-sm.green.margin-top-xs(
      ng-click = "$emit('demo::prLinkClicked'); openedPRUrl()"
      ng-href = "{{pr.html_url}}"
      target = "_blank"
    ) Open PR
      svg.iconnables.icons-link-external
        use(
          xlink:href = "#icons-link-external-alt"
        )
