.popover.popover-tooltip.bottom(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow
  small.small Check that your Dockerfile is in your repository’s root folder and is named "Dockerfile".