form.popover.popover-fixed.popover-files(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  .popover-header
    strong.strong.text-overflow Change Stack
  .popover-content
    .label.clearfix
      .label-col Stack Type
      .input-col
        //- choose lang/framework
        //- should default to current stack type
        fancy-select(
          ng-required = "true"
          type = "button"
        )
          li.list-item.popover-list-item.small Suggested stack type
          fancy-option(
            value = "framework"
          )
            img.iconnables(
              height = "24"
              ng-src = "/build/images/logos/logo-icon-python.svg"
              width = "24"
            )
            | Python
          li.divider
          fancy-option(
            value = "framework"
          )
            img.iconnables(
              height = "24"
              ng-src = "/build/images/logos/logo-icon-php.svg"
              width = "24"
            )
            | PHP
        //- choose version
        fancy-select(
          ng-disabled = "!state.selectedStack"
          ng-required = "true"
          placeholder = "Select Version"
          type = "button"
        )
          li.list-item.popover-list-item.small Suggested {{state.selectedStack}} Version
          fancy-option(
            value = "version"
          ) v1
          li.divider
          fancy-option(
            value = "version"
          ) v{{$parent.version}}
        //- if rails
        small.small(
          ng-if = "rails"
        ) Ruby Version
        fancy-select(
          ng-if = "rails"
          ng-required = "true"
          placeholder = "Select Version"
          type = "button"
        )
          li.list-item.popover-list-item.small Suggested {{state.selectedStack}} Version
          fancy-option(
            value = "version"
          ) v1
          li.divider
          fancy-option(
            value = "version"
          ) v{{$parent.version}}

    label.label.clearfix
      .label-col Container CMD
      .input-col
        fancy-select.monospace(
          autocomplete = "off"
          ng-required = "startCommandCanDisable || ngShow()"
          show-dropdown = "state.selectedStack.startCommand"
          spellcheck = "false"
          type = "text"
          value = "state.startCommand"
        )
          li.list-item.popover-list-item.small Suggested Container CMDs
          fancy-option(
            value = "startCmd"
          ) text
        small.small This is the long-running process that’ll run when your container is launched (e.g. ‘apache’, ‘NPM start’). Your container will stop running if this process terminates. #{''}
          a.link(
            href = "//docs.docker.com/reference/builder/#cmd"
            target = "_blank"
          ) More about the Container CMD

  .popover-footer.clearfix
    button.btn.btn-sm.green(
      ng-click = "actions.save(data)"
      ng-disabled = "sshForm.$invalid"
    ) Save Changes
    button.btn.btn-sm.gray.float-left(
      ng-click = "closePopover()"
      type = "button"
    ) Cancel