.popover.popover-fixed.popover-files.popover-views(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
)
  .popover-header
    strong.strong.text-overflow Upload File
    //- if existing file:
    //- strong.strong.text-overflow filename.ext

  .popover-content
    label.label.clearfix
      .input-col
        .btn.btn-block.white.text-overflow.btn-upload(
          ng-click = "state.view3 = true"
        ) {{ data.file[0].name }}
          small.small {{ data.progress ? data.progress + '% uploaded' : 'Select a file' }}
          label.btn.btn-xs.gray(
              for = "input-upload"
            ) Choose
            input#input-upload(
              type = "file",
              ngf-select
              ngf-change = "actions.uploadFile()"
              ng-model = "data.file"
            )

    label.label.clearfix
      .label-col Destination
      .input-col.input-root
        input.input.input-sm(
          ng-model = "data.filePath"
          required
          spellcheck = "false"
        )

    label.label.clearfix
      .label-col Build Commands
        small.small (optional)
      .input-col
        textarea.textarea.monospace(
          spellcheck = "false"
        )
        small.small Commands to be executed when your container is built and before it is launched.

    //- not shown if new repo
    button.btn.btn-xs.orange Delete File

  .popover-footer.clearfix
    button.btn.btn-sm.green.btn-spinner(
      ng-class = "{in: data.saving}"
      ng-click = "actions.save()"
      ng-disabled = "data.saving"
    )
      //- spinner
      .spinner-wrapper.spinner-sm.spinner-white.in(
        ng-if = "data.saving"
        ng-include = "'spinner'"
      )
      span(
        ng-if = "!data.saving"
      ) Add File
      span(
        ng-if = "data.saving"
      ) Uploading
    button.btn.btn-sm.gray.btn-cancel(
      ng-click = "actions.cancel()"
    ) Cancel