.popover.popover-fixed.popover-rename(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
)
  .popover-content
    h3.popover-title Rename Container

    //- wrapper for validation
    div(
      ng-class = "{\
        'ng-invalid': 19 - title.length < 0,\
        'validate-length': 19 - title.length < 0,\
        'validate-sm': 19 - title.length < 0\
      }"
      ng-attr-data-length = "{{19 - title.length}}"
    )
      input.input.input-sm.input-validate(
        autocomplete = "off"
        ng-class = "{'ng-invalid': 19 - title.length < 0}"
        ng-init = "title = 'repository-name'"
        ng-model = "title"
        required
        spellcheck = "false"
      )

    ul.list.list-bulleted.small.list-validation
      li.list-item Choose a unique name in your Sandbox
      li.list-item Use letters, numbers, and hyphens (-)
      li.list-item Use 19 characters or less

  .popover-footer.clearfix
    button.btn.btn-sm.green Rename Container
    button.btn.btn-sm.gray.btn-cancel(
      ng-click = "actions.cancel()"
    ) Cancel