.popover.menu.bottom(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
  style = "transform-origin: 90% 0;"
)
  .arrow.white(
    style = "left: auto; right: 4px;"
  )
  .popover-content
    ul.list.popover-list
      li.list-item.popover-list-item.small Debug from…
      li.list-item.popover-list-item.text-overflow.monospace Step 1 : EXPOSE 80 8000 8080 3000 6574
        svg.iconnables
          use(
            xlink:href = "#icons-link"
          )
      li.list-item.popover-list-item.text-overflow.monospace Step 2 : ADD ./card-info-types /card-info-types
        svg.iconnables
          use(
            xlink:href = "#icons-link-external"
          )
      li.list-item.popover-list-item.text-overflow.monospace Step 3 : WORKDIR /card-info-types
      li.list-item.popover-list-item.text-overflow.monospace Step 4 : RUN npm install

