.popover.menu.bottom.popover-debug(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
  style = "transform-origin: 90% 0;"
)
  .arrow.white(
    style = "left: auto; right: 1px;"
  )
  .popover-content
    .list.popover-list
      .list-item.popover-list-item.small Debug from…
      a.list-item.popover-list-item.text-overflow.monospace(
        href = "#"
        rel = "popup"
        target = "_blank"
        title = "Step 1 : EXPOSE 80 8000 8080 3000 6574"
      ) Step 1 : EXPOSE 80 8000 8080 3000
        svg.iconnables
          use(
            xlink:href = "#icons-link-external"
          )
      a.list-item.popover-list-item.text-overflow.monospace(
        href = "#"
        target = "_blank"
        title = "Step 2 : ADD ./card-info-types /card-info-types"
      ) Step 2 : ADD ./["api-server", /"api-server"]
        svg.iconnables
          use(
            xlink:href = "#icons-link-external"
          )