.popover.popover-fixed.popover-files(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
)
  .popover-header
    strong.strong.text-overflow {{ data.fromServer ? data.name : 'Upload File' }}

  .popover-content
    label.label.clearfix
      .input-col
        .btn.btn-block.white.text-overflow.btn-upload(
          ng-class = "{\
            'no-info': data.fromServer && !data.progress\
          }"
          ng-click = "state.view3 = true"
        ) {{ data.name }}
          small.small {{ data.progress ? data.progress + '% uploaded' : 'Select a file' }}
          label.btn.btn-xs.gray(
              for = "input-upload"
            ) Choose
            input#input-upload(
              type = "file",
              ngf-select
              ngf-change = "actions.uploadFile(data)"
              ng-model = "data.file"
            )

    label.label.clearfix
      .label-col Destination
      .input-col.input-root
        input.input.input-sm(
          ng-model = "data.path"
          required
          spellcheck = "false"
        )

    label.label.clearfix
      .label-col Scripts
        small.small (optional)
      .input-col
        textarea.textarea.monospace(
          ng-model = "data.commands"
          spellcheck = "false"
        )
        small.small Add scripts to be run before your container is started.

    //- not shown if new repo
    label.label
      button.btn.btn-xs.orange(
        ng-click = "actions.deleteFile(data)"
        ng-if = "data.fromServer"
      ) Delete File

  .popover-footer.clearfix
    button.btn.btn-sm.green.btn-spinner(
      ng-class = "{in: data.saving}"
      ng-click = "actions.save(data)"
      ng-disabled = "data.saving || (!data.file && !data.name)"
    )
      //- spinner
      .spinner-wrapper.spinner-sm.spinner-white.in(
        ng-if = "data.saving"
        ng-include = "'spinner'"
      )
      span(
        ng-if = "!data.saving && !data.file && !data.name"
      ) Add File
      span(
        ng-if = "!data.saving && (data.file || data.name)"
      ) Save
      span(
        ng-if = "data.saving"
      ) Uploading
    button.btn.btn-sm.gray.btn-cancel(
      ng-click = "actions.cancel(data)"
    ) Cancel