.modal-dialog.modal-environment-variables
  header.modal-header
    h1.modal-heading Linking and Environment Variables
  section.modal-body
    label.input-group
      input.input(
        placeholder = "[key]"
      )
      span.input-divider =
      input.input(
        placeholder = "[value]"
      )
      button.btn.btn-icon
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
  footer.modal-footer
    button.btn.green(
      ng-if = "data.showRebuild"
      ng-click = "actions.rebuild(tempModel); defaultActions.cancel()"
      ng-disabled = "!validation.valid"
      type = "button"
    ) Save
    button.btn.white(
      ng-click = "defaultActions.cancel()"
      type = "button"
    ) Cancel