.modal-dialog.modal-environment-variables
  header.modal-header
    h1.modal-heading 🙅
  section.modal-body
    //- textarea-group
      - must have .btn-badge immediately after .input-value
    .textarea-group
      label.input-group.monospace
        input.input.input-sm.input-key(
          placeholder = "[KEY]"
          value = "CALEY"
        )
        span.input-divider =
        input.input.input-sm.input-value(
          placeholder = "[VALUE]"
          toggle-pop-over
          toggle-pop-over-model = "popoverServers.data.show"
          value = "http://stage-cayley-codenow.runnableapp.com:64210"
        )
        button.btn.btn-icon.btn-badge.active(
          tooltip = "Linked to 🙆 cayley"
          tooltip-options = "{\"class\":\"bottom\"}"
        )
          svg.iconnables.icons-server
            use(
              xlink:href = "#icons-server"
            )
          svg.iconnables.icons-check
            use(
              xlink:href = "#icons-check"
            )
        pop-over(
          actions = "popoverServers.actions"
          data = "popoverServers.data"
          popover-options = "{\"left\":417,\"top\":37}"
          template = "viewPopoverServers"
        )
      label.input-group.monospace
        input.input.input-sm.input-key(
          placeholder = "[KEY]"
          value = "DATADOG_HOST"
        )
        span.input-divider =
        input.input.input-sm.input-value(
          placeholder = "[VALUE]"
          value = "stage-datadog-codenow.runnableapp.com"
        )
        button.btn.btn-icon.btn-badge.active(
          tooltip = "Linked to 🙆 datadog"
          tooltip-options = "{\"class\":\"bottom\"}"
        )
          svg.iconnables.icons-server
            use(
              xlink:href = "#icons-server"
            )
          svg.iconnables.icons-check
            use(
              xlink:href = "#icons-check"
            )
      label.input-group.monospace
        input.input.input-sm.input-key(
          placeholder = "[KEY]"
          value = "MAVIS_HOST"
        )
        span.input-divider =
        input.input.input-sm.input-value(
          placeholder = "[VALUE]"
          value = "http://stage-mavis-codenow.runnableapp.com"
        )
        button.btn.btn-icon.btn-badge.active(
          tooltip = "Linked to 🙆 mavis"
          tooltip-options = "{\"class\":\"bottom\"}"
        )
          svg.iconnables.icons-server
            use(
              xlink:href = "#icons-server"
            )
          svg.iconnables.icons-check
            use(
              xlink:href = "#icons-check"
            )
      label.input-group.monospace
        input.input.input-sm.input-key(
          placeholder = "[KEY]"
          value = "MONGO"
        )
        span.input-divider =
        input.input.input-sm.input-value(
          placeholder = "[VALUE]"
          value = "mongodb://stage-mongo-codenow.runnableapp.com/alpha"
        )
        button.btn.btn-icon.btn-badge.active(
          tooltip = "Linked to 🙆 MongoDB"
          tooltip-options = "{\"class\":\"bottom\"}"
        )
          svg.iconnables.icons-server
            use(
              xlink:href = "#icons-server"
            )
          svg.iconnables.icons-check
            use(
              xlink:href = "#icons-check"
            )
      label.input-group.monospace
        input.input.input-sm.input-key(
          placeholder = "[KEY]"
          value = "REDIS_DB"
        )
        span.input-divider =
        input.input.input-sm.input-value(
          placeholder = "[VALUE]"
          value = "http://stage-redis-codenow.runnableapp.com"
        )
        button.btn.btn-icon.btn-badge.active(
          tooltip = "Linked to 🙆 redis"
          tooltip-options = "{\"class\":\"bottom\"}"
        )
          svg.iconnables.icons-server
            use(
              xlink:href = "#icons-server"
            )
          svg.iconnables.icons-check
            use(
              xlink:href = "#icons-check"
            )
      label.input-group.monospace
        input.input.input-sm.input-key(
          placeholder = "[KEY]"
        )
        span.input-divider =
        input.input.input-sm.input-value(
          placeholder = "[VALUE]"
        )
        button.btn.btn-icon.btn-badge
          svg.iconnables.icons-server
            use(
              xlink:href = "#icons-server"
            )
          svg.iconnables.icons-check
            use(
              xlink:href = "#icons-check"
            )
      .textarea-group-controls
        button.btn.btn-sm Add Row
  footer.modal-footer
    button.btn.green(
      ng-click = "defaultActions.cancel()"
    ) Save
    button.btn.white(
      ng-click = "defaultActions.cancel()"
    ) Cancel