.modal-backdrop.in(
  actions = "actions"
  current-model = "currentModel"
  data = "data"
  default-actions = "defaultActions"
  modal-environment-variables
  ng-click = "$event.stopPropagation()"
  ng-if = "in"
  state-model = "stateModel"
)