.modal-dialog.modal-environment-variables
  header.modal-header
    h1.modal-heading 🙅
  section.modal-body
    //- textarea-group
      - must have input as first-first
      - must have input as last-child
    .textarea-group
      label.input-group.monospace
        input.input.input-sm.input-key(
          placeholder = "[KEY]"
          value = "CALEY"
        )
        span.input-divider =
        input.input.input-sm.input-value(
          placeholder = "[VALUE]"
          value = "http://stage-cayley-codenow.runnableapp.com:64210"
        )
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
      label.input-group.monospace
        input.input.input-sm.input-key(
          placeholder = "[KEY]"
          value = "DATADOG_HOST"
        )
        span.input-divider =
        input.input.input-sm.input-value(
          placeholder = "[VALUE]"
          value = "stage-datadog-codenow.runnableapp.com"
        )
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
      label.input-group.monospace
        input.input.input-sm.input-key(
          placeholder = "[KEY]"
          value = "MAVIS_HOST"
        )
        span.input-divider =
        input.input.input-sm.input-value(
          placeholder = "[VALUE]"
          value = "http://stage-mavis-codenow.runnableapp.com"
        )
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
      label.input-group.monospace
        input.input.input-sm.input-key(
          placeholder = "[KEY]"
          value = "MONGO"
        )
        span.input-divider =
        input.input.input-sm.input-value(
          placeholder = "[VALUE]"
          value = "mongodb://stage-mongo-codenow.runnableapp.com/alpha"
        )
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
      label.input-group.monospace
        input.input.input-sm.input-key(
          placeholder = "[KEY]"
          value = "REDIS_DB"
        )
        span.input-divider =
        input.input.input-sm.input-value(
          placeholder = "[VALUE]"
          value = "http://stage-redis-codenow.runnableapp.com"
        )
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
      label.input-group.monospace
        input.input.input-sm.input-key(
          placeholder = "[KEY]"
        )
        span.input-divider =
        input.input.input-sm.input-value(
          placeholder = "[VALUE]"
        )
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
      .textarea-group-controls
        button.btn.btn-sm Add Row
  footer.modal-footer
    button.btn.green(
      ng-click = "defaultActions.cancel()"
    ) Save
    button.btn.white(
      ng-click = "defaultActions.cancel()"
    ) Cancel