.arrow(
  ng-class = "{'gray': !NCC.isPersonalAccount() || !NCC.isInDemoFlow()}"
  style = "top: 39px;"
)

div(
  ng-if = "!NCC.showAddServicesPopover() && !$root.featureFlags.demoPersonalOnly"
  ng-include = "'templateMenuEmptyPopoverView'"
)

.popover-content(
  ng-if = "NCC.showAddServicesPopover() || $root.featureFlags.demoPersonalOnly"
)
  .grid-block.popover-header
    button.grid-block.align-center.btn.btn-radio(
      ng-class = "{'active': NCC.state.tabName === 'repos'}"
      ng-click = "NCC.changeTab('repos')"
      ng-disabled = "NCC.state.tabName !== 'repos'&& $root.isLoading.newContainerSingleRepo"
    )
      .grid-block.vertical.shrink Repository
        .small From your GitHub org
    button.grid-block.align-center.btn.btn-radio(
      ng-class = "{'active': NCC.state.tabName === 'services'}"
      ng-click = "NCC.changeTab('services')"
      ng-disabled = "NCC.state.tabName !== 'services'&& $root.isLoading.newContainerSingleRepo"
    )
      .grid-block.vertical.shrink Non-Repository
        .small For databases, etc.
  .padding-xs(
    ng-if = "NCC.state.tabName === 'repos'"
  )

    //- branch filter
    input.input.input-xs.input-search(
      autocomplete = "off"
      autofocus
      ng-change = "NCC.fetchSearchTermsAndAppendToRepos()"
      ng-if = "NCC.githubRepos.models.length !== 0"
      ng-model = "NCC.repoFilter"
      placeholder = "Search"
      required
      spellcheck = "false"
      type = "search"
    )

    //- loading
    .grid-block.align-center.justify-center.empty(
      ng-if = "$root.isLoading.newContainerRepos"
    )
      .spinner-wrapper.spinner-sm.spinner-gray(
        ng-include = "'spinner'"
      )

    //- if the account or org has no repositories
    .grid-block.align-center.justify-center.text-center.text-gray.small.empty(
      ng-if = "!$root.isLoading.newContainerRepos && NCC.githubRepos.models.length === 0"
    ) There are no repos to add.

    ul.list.list-actions(
      ng-if = "!$root.isLoading.newContainerRepos"
    )
      li.grid-block.align-center.justify-center.text-center.text-gray.small.empty(
        ng-if = "NCC.githubRepos.models.length && !noResults.length"
        style = "height: 108px;"
      ) No repos match your search.
      li.grid-block.align-center.list-item.popover-list-item.multi-line(
        data-event-name = "Selected a Repository"
        ng-click = "!$root.isLoading.newContainerSingleRepo && NCC.setRepo(repo, NCC.openModalAtPanel)"
        ng-repeat = "\
          repo in NCC.githubRepos.models | \
          repos: NCC.repoFilter | \
          orderBy: '-attrs.pushed_at' as noResults\
        "
        ng-class = "{ \
          'active': repo.loading, \
          'disabled': $root.isLoading.newContainerSingleRepo \
        }"
      )
        svg.grid-content.shrink.iconnables.icons-repository
          use(
            xlink:href = "#icons-repository"
          )
        .grid-block.vertical
          p.grid-content.text-overflow.p(
            title = "{{ repo.attrs.name }}"
          ) {{ repo.attrs.name }}
          .grid-block(
            ng-if = "$root.featureFlags.inviteFlows"
          )
            .btn-user.text-overflow.no-touching(
              ng-class = "{'active': state.active}"
              ng-include = "'userButtonView'"
            )
            span.small(
              ng-if = "$root.featureFlags.inviteFlows"
            )  — {{repo.attrs.pushed_at | timeFrom}}

          //- else
          small.small(
            ng-if = "!$root.featureFlags.inviteFlows"
          ) Updated {{repo.attrs.pushed_at | timeFrom}}

        button.grid-content.shrink.btn.btn-xs.btn-add(
          ng-if = "!repo.loading"
        ) Select
        .grid-content.shrink.spinner-wrapper.spinner-sm.spinner-purple(
          ng-if = "repo.loading"
          ng-include = "'spinner'"
        )

    //- should only appear if more repos exist than are listed
    .divider(
      ng-if = "NCC.githubRepos.models.length >= NCC.numberOfReposToQuery && !$root.isLoading.newContainerRepos && !NCC.repoFilter"
    )
    small.padding-xxs.grid-block.vertical.small.text-gray(
      ng-if = "NCC.githubRepos.models.length >= NCC.numberOfReposToQuery && !$root.isLoading.newContainerRepos && !NCC.repoFilter"
      ng-include = "'searchLimitView'"
      ng-init = "searchType = 'repo'"
    )

  .padding-xs(
    ng-if = "NCC.state.tabName === 'services'"
  )
    //- loading
    .grid-block.align-center.justify-center.empty(
      ng-if = "$root.isLoading.newContainerTemplates"
    )
      .spinner-wrapper.spinner-sm.spinner-gray(
        ng-include = "'spinner'"
      )

    input.input.input-xs.input-search(
      autocomplete = "off"
      autofocus
      ng-disabled = "$root.isLoading.newContainerTemplates"
      ng-if = "!$root.isLoading.newContainerTemplates"
      ng-keyup = "$digest"
      ng-model = "NCC.serviceFilter"
      placeholder = "Search"
      required
      spellcheck = "false"
      type = "search"
    )

    ul.list.list-actions(
      ng-if = "!$root.isLoading.newContainerTemplates"
    )
      li.grid-block.align-center.justify-center.text-center.text-gray.small.empty(
        ng-if = "!noTemplateResults.length"
      ) No services match this filter.
      li.grid-block.align-center.list-item.popover-list-item.multi-line(
        ng-class = "{'active': $root.isLoading.newContainerTemplates}"
        ng-click = "NCC.setTemplate(dependency, NCC.openModalAtPanel)"
        ng-repeat = "\
          dependency in NCC.templateServers.models | \
          removeTemplateInstances | \
          repos: NCC.serviceFilter | \
          orderBy:'attrs.name' as noTemplateResults\
        "
      )
        img.grid-content.shrink.img(
          height = "24"
          ng-src = "/build/images/logos/logo-icon-{{dependency.attrs.name.toLowerCase()}}.png"
          width = "24"
        )
        p.grid-content.p {{dependency.attrs.name}}
        button.grid-content.shrink.btn.btn-xs.btn-add(
          ng-if = "!$root.isLoading.newContainerTemplates"
        ) Select
        .grid-content.shrink.spinner-wrapper.spinner-sm.spinner-purple(
          ng-if = "$root.isLoading.newContainerTemplates"
          ng-include = "'spinner'"
        )
