section.row
  h2.sub-header Docker Templates
  //- remove .in if template is selected
  .label-group(
    ng-class = "{ \
      in: dataSetup.actions.highlightTemplates \
    }"
    ng-click = "dataSetup.actions.highlightTemplates = false"
  )
    label.label-group-item(
      ng-repeat = "context in seedContexts.models"
    ) {{ context.attrs.name }}
      input.radio(
        name = "source-context"
        ng-click = "(selectedSourceContext !== context) \
                    && selectSourceContext(context)"
        required
        type = "radio"
      )

  //- show .guide if a template has not been selected
  .guide.blue(
    ng-click = "dataSetup.actions.highlightTemplates = true"
    ng-if = "!dataSetup.data.contextSelected"
  )
    svg.iconnables.icons-docker
      use(
        xlink:href = "#icons-docker"
      )
    p Choose a template to generate your dockerfile.
