.clearfix
  .label-col.full-width Payment Info
    btn.btn-xxs.btn-badge.anchor-right.orange.float-right(
      ng-if = "$root.featureFlags.billingExpired"
    ) Card Expired
//- add .flash on update to indicate updated
label.grid-block.align-center.well.well-summary.padding-sm(
  ng-class = "{'invalid': $root.featureFlags.billingExpired}"
)
  .grid-block.vertical
    .p.small Added by:
    .p.strong {{paymentMethod.user.githubUsername}}
  .grid-block.vertical.shrink.text-right
    .p.small Expires {{paymentMethod.card.exp_month}}/{{paymentMethod.card.exp_year}}
    .p.small
      img.img(
        height = "18"
        ng-src = "{{getPaymentImage()}}"
        width = "18"
      )
      | {{paymentMethod.card.last4}}
.grid-block.align-center.justify-right.padding-xxs
  button.btn.btn-xs.white(
    ng-click = "goToPanel('changePaymentForm');"
  ) Change Payment
