.clearfix
  .label-col.full-width Payment Info
label.grid-block.vertical.well.well-summary(
  ng-class = "{'flash': hasUpdated}"
)
  .grid-block.align-center.padding-sm
    .grid-block.vertical
      .p.small Added by:
      .p.strong {{paymentMethod.owner.githubUser.name || paymentMethod.owner.githubUser.login}}
    .grid-block.vertical.shrink.text-right
      .p.small Expires {{paymentMethod.card.expMonth}}/{{paymentMethod.card.expYear}}
      .p.small
        img.img(
          height = "18"
          ng-src = "{{getPaymentImage()}}"
          width = "18"
        )
        | {{paymentMethod.card.last4}}
  .grid-block.shrink.small.well-bottom.padding-sm(
    ng-if = "currentOrg.poppa.isInTrial() || currentOrg.poppa.isInActivePeriod()"
  ) Next Payment: {{getNextPaymentDate()}}.
.grid-block.align-center.justify-right.padding-xxs
  button.btn.btn-xs.white(
    ng-click = "goToPanel('changePaymentForm');"
  ) Change Payment
