.modal-dialog.modal-isolation-setup
  header.modal-header
    svg.iconnables.icons-help(
      ng-click = "RDMC.defaultActions.cancel()"
    )
      use(
        xlink:href = "#icons-help"
      )
    h1.modal-heading
      .gravatar-isolation-wrapper
        img.gravatar.gravatar-isolation(
          alt = "{{data.activeAccount.oauthName()}}"
          height = "21"
          ng-src = "https://avatars.githubusercontent.com/u/2335750?v=3"
          width = "21"
        )
        img.gravatar(
          alt = "{{data.user.oauthName()}}"
          height = "15"
          ng-src = "https://avatars.githubusercontent.com/u/7440805?v=3"
          width = "15"
        )
      | Isolation Setup
    svg.iconnables.icons-close(
      ng-click = "RDMC.defaultActions.cancel()"
    )
      use(
        xlink:href = "#icons-close"
      )
  section.modal-body
    .clearfix
      .label-col Repository Containers
    .list.list-bordered
      .list-item
        svg.iconnables.icons-repository
          use(
            xlink:href = "#icons-repository"
          )
        span.span.text-overflow api
        .select-wrapper
          .btn.white
            svg.iconnables.icons-branch.float-left
              use(
                xlink:href = "#icons-branch"
              )
            span.span.text-overflow.text-left master
            svg.iconnables.icons-arrow-down
              use(
                xlink:href = "#icons-arrow-down"
              )
          select.select
            optgroup(
              label = "Your Branches"
            )
              option master
              option long-branch-name-lorem-ipsum
              option fb-1
            optgroup(
              label = "Other Branches"
            )
              option fb-2
              option fb-3
              option fb-4
              option fb-5
      .list-item
          svg.iconnables.icons-repository
            use(
              xlink:href = "#icons-repository"
            )
          span.span.text-overflow runnable-angular
          .select-wrapper
            .btn.white
              svg.iconnables.icons-branch.float-left
                use(
                  xlink:href = "#icons-branch"
                )
              span.span.text-overflow.text-left master
              svg.iconnables.icons-arrow-down
                use(
                  xlink:href = "#icons-arrow-down"
                )
            select.select
              optgroup(
                label = "Your Branches"
              )
                option master
                option long-branch-name-lorem-ipsum
                option fb-1
              optgroup(
                label = "Other Branches"
              )
                option fb-2
                option fb-3
                option fb-4
                option fb-5
        .list-item
            svg.iconnables.icons-repository
              use(
                xlink:href = "#icons-repository"
              )
            span.span.text-overflow optimus
            .select-wrapper
              .btn.white
                svg.iconnables.icons-branch.float-left
                  use(
                    xlink:href = "#icons-branch"
                  )
                span.span.text-overflow.text-left master
                svg.iconnables.icons-arrow-down
                  use(
                    xlink:href = "#icons-arrow-down"
                  )
              select.select
                optgroup(
                  label = "Your Branches"
                )
                  option master
                  option long-branch-name-lorem-ipsum
                  option fb-1
                optgroup(
                  label = "Other Branches"
                )
                  option fb-2
                  option fb-3
                  option fb-4
                  option fb-5
    .clearfix
      .label-col Non-repository Containers
    .list.list-bordered
      .list-item
          svg.iconnables.icons-server
            use(
              xlink:href = "#icons-server"
            )
          span.span.text-overflow MongoDB
      .list-item
          svg.iconnables.icons-server
            use(
              xlink:href = "#icons-server"
            )
          span.span.text-overflow Redis
  section.modal-footer
    button.btn.white.btn-cancel(
      ng-click = "RDMC.defaultActions.cancel()"
    ) Cancel
    button.btn.green(
      ng-click = "RDMC.updateInstance()"
    ) Create Sandbox
