//- org button
a.btn.btn-sm.purple.btn-accounts(
  ng-class = "{'no-touching': data.accountsDisabled()}"
  ng-show = "data.activeAccount"
  pop-over
  pop-over-actions = "popoverAccountMenu.actions"
  pop-over-active = "state.active"
  pop-over-data = "popoverAccountMenu.data"
  pop-over-template = "viewPopoverAccountMenu"
)
  img.gravatar(
    alt = "{{data.activeAccount.oauthName()}}"
    height = "34"
    ng-src = "{{data.activeAccount.gravitar()}}"
    width = "34"
  )
