//- show highest priority badge
//- if on a trial: show number of days left in trial as badge
div(
  ng-attr-data-badge-count = "{{$root.featureFlags.trial ? '12' : '!'}}"
  ng-class = "{\
    'badge': $root.featureFlags.billing || $root.featureFlags.trial,\
    'badge-red': $root.featureFlags.billing && !$root.featureFlags.trial,\
    'badge-orange': $root.featureFlags.trial,\
    'no-touching': data.accountsDisabled()\
  }"
  ng-show = "data.activeAccount"
  pop-over
  pop-over-actions = "popoverAccountMenu.actions"
  pop-over-active = "state.active"
  pop-over-data = "popoverAccountMenu.data"
  pop-over-options = "{\"left\":45}"
  pop-over-template = "viewPopoverAccountMenu"
)
  img.gravatar(
    alt = "{{data.activeAccount.oauthName()}}"
    height = "42"
    ng-src = "{{data.activeAccount.gravitar()}}"
    width = "42"
  )
