//- show highest priority badge
//- if on a trial: show number of days left in trial as badge
.grid-block(
  ng-attr-data-badge-count = "{{getBadgeCount()}}"
  ng-class = "getClasses()"
  ng-show = "data.activeAccount"
  pop-over
  pop-over-actions = "popoverAccountMenu.actions"
  pop-over-active = "state.active"
  pop-over-data = "popoverAccountMenu.data"
  pop-over-options = "{\"left\":45}"
  pop-over-template = "viewPopoverAccountMenu"
)
  img.gravatar(
    alt = "{{data.activeAccount.oauthName()}}"
    height = "42"
    ng-src = "{{data.activeAccount.gravitar()}}"
    width = "42"
  )
