button.btn.gray.btn-account(
  ng-class = "{\
    active: popoverAccountMenu.data.show,\
    'no-touching': data.accountsDisabled()\
  }"
  ng-show = "data.activeAccount"
  toggle-pop-over
  toggle-pop-over-model = "popoverAccountMenu.data.show"
)
  img.gravatar(
    height = "24"
    ng-src = "{{ data.activeAccount.gravitar() }}"
    width = "24"
  )
  span.account-name.text-overflow {{ data.activeAccount.oauthName() }}
  svg.iconnables.icons-arrow-down
    use(
      xlink:href = "#icons-arrow-down"
    )
  pop-over(
    actions = "popoverAccountMenu.actions"
    data = "popoverAccountMenu.data"
    popover-ready = "popoverAccountMenu.data.show"
    popover-options = "{\"left\":120,\"top\":54}"
    template = "viewPopoverAccountMenu"
  )