//- show highest priority badge
//- if on a trial: show number of days left in trial as badge
div(
  ng-attr-data-badge-count = "\
    {{$root.featureFlags.trial && !$root.featureFlags.trialEnding ? '12' : ''}}\
    {{$root.featureFlags.trial && $root.featureFlags.trialEnding ? '3' : ''}}\
    {{$root.featureFlags.billingExpired ? '!' : ''}}\
  "
  ng-class = "{\
    'badge': $root.featureFlags.billingExpired || $root.featureFlags.trial,\
    'badge-orange': $root.featureFlags.trial || $root.featureFlags.billingExpired,\
    'no-touching': data.accountsDisabled()\
  }"
  ng-show = "data.activeAccount"
  pop-over
  pop-over-actions = "popoverAccountMenu.actions"
  pop-over-active = "state.active"
  pop-over-data = "popoverAccountMenu.data"
  pop-over-options = "{\"left\":45}"
  pop-over-template = "viewPopoverAccountMenu"
)
  img.gravatar(
    alt = "{{data.activeAccount.oauthName()}}"
    height = "42"
    ng-src = "{{data.activeAccount.gravitar()}}"
    width = "42"
  )
