a.btn.purple(
  ng-class = "{\
    active: popoverAccountMenu.data.show,\
    'no-touching': data.accountsDisabled()\
  }"
  ng-show = "data.activeAccount"
  pop-over
  pop-over-actions = "popoverAccountMenu.actions"
  pop-over-data = "popoverAccountMenu.data"
  pop-over-options = "{\"left\":120,\"top\":54}"
  pop-over-template = "viewPopoverAccountMenu"
  pop-over-active = "popoverAccountMenu.data.show"
)
  img.gravatar(
    height = "24"
    ng-src = "{{ data.activeAccount.gravitar() }}"
    width = "24"
  )
  | {{ data.activeAccount.oauthName() }}
  svg.iconnables.icons-arrow-down
    use(
      xlink:href = "#icons-arrow-down"
    )
  pop-over(
    actions = "popoverAccountMenu.actions"
    data = "popoverAccountMenu.data"
    popover-ready = "popoverAccountMenu.data.show"
    popover-options = "{\"left\":0,\"top\":54}"
    template = "viewPopoverAccountMenu"
  )