//- ************************
//- deprecated element, delete with $root.featureFlags.isolationUI
a.btn.btn-sm.purple.btn-accounts(
  ng-class = "{'no-touching': data.accountsDisabled()}"
  ng-if = "!$root.featureFlags.isolationUI"
  ng-show = "data.activeAccount"
  pop-over
  pop-over-actions = "popoverAccountMenu.actions"
  pop-over-active = "state.active"
  pop-over-data = "popoverAccountMenu.data"
  pop-over-template = "viewPopoverAccountMenu"
)
  img.gravatar(
    alt = "{{data.activeAccount.oauthName()}}"
    height = "24"
    ng-src = "{{data.activeAccount.gravitar()}}"
    width = "24"
  )
  span.span.float-left {{data.activeAccount.oauthName()}}
  svg.iconnables.icons-arrow-down.anchor-right
    use(
      xlink:href = "#icons-arrow-down"
    )
//- end deprecated element, delete with $root.featureFlags.isolationUI
//- ************************

div(
  ng-class = "{'no-touching': data.accountsDisabled()}"
  ng-if = "$root.featureFlags.isolationUI"
  ng-show = "data.activeAccount"
  pop-over
  pop-over-actions = "popoverAccountMenu.actions"
  pop-over-active = "state.active"
  pop-over-data = "popoverAccountMenu.data"
  pop-over-options = "{\"left\":45}"
  pop-over-template = "viewPopoverAccountMenu"
)
  img.gravatar(
    alt = "{{data.activeAccount.oauthName()}}"
    height = "34"
    ng-src = "{{data.activeAccount.gravitar()}}"
    width = "34"
  )
