//- organization menu
.btn-accounts(
  accounts-select
  data = "dataApp.data"
)

a.a(
  ng-if = "!CA.currentOrg.isPersonalAccount() && (!$root.featureFlags.demoOrg || $root.featureFlags.demoOrg && !CA.isInDemoFlow())"
  ui-sref = "base.config({ userName: CA.activeAccount.oauthName() })"
  ui-sref-active = "active"
)
  svg.iconnables.icons-gear-dark
    use(
      xlink:href = "#icons-gear-dark"
    )
  | Configure

a.a(
  ng-if = "!CA.currentOrg.isPersonalAccount()"
  ui-sref = "base.instances({ userName: CA.activeAccount.oauthName() })"
  ui-sref-active = "active"
)
  svg.iconnables.icons-server-dark
    use(
      xlink:href = "#icons-server-dark"
    )
  | Containers

//- without tooltip
//- show during the "add team" step
a.grid-block.align-center.justify-center.shrink.btn-add-team(
  data-event-name = "Open First Auth Primer"
  ng-click = "CA.demoAddOrg()"
  ng-if = "CA.shouldShowTeamCTA() && !$root.featureFlags.demoPersistentAddTeam"
)
  svg.iconnables.icons-add
    use(
      xlink:href = "#icons-add"
    )

//- with tooltip
//- show for personal accounts outside the "add team step"
a.grid-block.align-center.justify-center.shrink.btn-add-team(
  ng-click = "CA.demoAddOrg()"
  ng-if = "$root.featureFlags.demoPersistentAddTeam"
  tooltip = "Add a team"
  tooltip-options = "{\"class\":\"right\",\"left\":42,\"top\":3}"
)
  svg.iconnables.icons-add
    use(
      xlink:href = "#icons-add"
    )

a.a.btn-docs(
  href = "https://runnable.com/docs"
  target = "_blank"
)
  svg.iconnables.icons-docs-dark
    use(
      xlink:href = "#icons-docs-dark"
    )
  span Docs
    svg.iconnables.icons-link-external
      use(
        xlink:href = "#icons-link-external"
      )
