//- organization menu
.btn-accounts(
  accounts-select
  data = "dataApp.data"
)

//- aha menu --- This should be triggered via an event!
.popover.right.in.popover-aha.popover-aha-containers(
  ng-if = "$root.featureFlags.aha && CA.showAhaNavPopover"
  ng-include = "'ahaPopoverView'"
)

a.a(
  ui-sref = "base.config({ userName: CA.activeAccount.oauthName() })"
  ui-sref-active = "active"
)
  svg.iconnables.icons-gear-dark
    use(
      xlink:href = "#icons-gear-dark"
    )
  | Templates

a.a.disabled(
  ng-if = "(dataApp.state.includes('base.config') && CA.instancesByPod && !CA.instancesByPod.models.length) && !$root.featureFlags.containersViewTemplateControls"
  tooltip = "You don’t have any running containers yet!"
  tooltip-options = "{\"class\":\"right\",\"left\":75,\"top\":17}"
)
  svg.iconnables.icons-server-dark
    use(
      xlink:href = "#icons-server-dark"
    )
  | Containers

a.a(
  ng-if = "(dataApp.state.includes('base.instances') || !CA.instancesByPod || CA.instancesByPod.models.length) || $root.featureFlags.containersViewTemplateControls"
  ui-sref = "base.instances({ userName: CA.activeAccount.oauthName() })"
  ui-sref-active = "active"
)
  .aha-overlay-div(
    ng-if = "$root.featureFlags.aha && CA.ahaGuide.isAddingFirstRepo() && CA.instancesByPod.models.length && !CA.ahaGuide.hasConfirmedSetup()"
    ng-click = "CA.showAhaConfirmation($event)"
  )
  svg.iconnables.icons-server-dark
    use(
      xlink:href = "#icons-server-dark"
    )
  | Containers

a.a.btn-docs(
  href = "https://support.runnable.com"
  target = "_blank"
)
  svg.iconnables.icons-docs-dark
    use(
      xlink:href = "#icons-docs-dark"
    )
  span Docs
    svg.iconnables.icons-link-external
      use(
        xlink:href = "#icons-link-external"
      )
