//- organization menu
.btn-accounts(
  accounts-select
  data = "dataApp.data"
)

a.a(
  ng-if = "!CA.currentOrg.isPersonalAccount()"
  ui-sref = "base.config({ userName: CA.activeAccount.oauthName() })"
  ui-sref-active = "active"
)
  svg.iconnables.icons-gear-dark
    use(
      xlink:href = "#icons-gear-dark"
    )
  | Configure

a.a(
  ng-if = "(dataApp.state.includes('base.instances') || !CA.instancesByPod || CA.instancesByPod.models.length)"
  ui-sref = "base.instances({ userName: CA.activeAccount.oauthName() })"
  ui-sref-active = "active"
)
  .aha-overlay-div(
    ng-click = "CA.showAhaConfirmation($event)"
    ng-if = "CA.ahaGuide.isAddingFirstRepo() && CA.instancesByPod.models.length && !CA.ahaGuide.hasConfirmedSetup()"
  )
  svg.iconnables.icons-server-dark
    use(
      xlink:href = "#icons-server-dark"
    )
  | Containers

a.a.btn-docs(
  href = "https://support.runnable.com"
  target = "_blank"
)
  svg.iconnables.icons-docs-dark
    use(
      xlink:href = "#icons-docs-dark"
    )
  span Docs
    svg.iconnables.icons-link-external
      use(
        xlink:href = "#icons-link-external"
      )
