//- organization menu
.btn-accounts(
  accounts-select
  data = "dataApp.data"
)

//- aha menu --- This should be triggered via an event!
.popover.right.in.popover-aha.popover-aha-containers(
  ng-if = "!$root.featureFlags.demoMultiTier && CA.showAhaNavPopover"
  ng-include = "'ahaPopoverView'"
  ng-init = "getClassname = CA.ahaGuide.getClassForSubstep"
)
a.a(
  ng-if = "!CA.currentOrg.isPersonalAccount()"
  ui-sref = "base.config({ userName: CA.activeAccount.oauthName() })"
  ui-sref-active = "active"
)
  svg.iconnables.icons-gear-dark
    use(
      xlink:href = "#icons-gear-dark"
    )
  | Configure

a.a(
  ng-if = "!CA.currentOrg.isPersonalAccount()"
  ui-sref = "base.instances({ userName: CA.activeAccount.oauthName() })"
  ui-sref-active = "active"
)
  svg.iconnables.icons-server-dark
    use(
      xlink:href = "#icons-server-dark"
    )
  | Containers

a.a(
  ui-sref = "orgSelect"
  ui-sref-opts = "{reload: true}"
)
  svg.iconnables.icons-add
    use(
      xlink:href = "#icons-add"
    )
  span Add Team

a.a.btn-docs(
  href = "https://support.runnable.com"
  target = "_blank"
)
  svg.iconnables.icons-docs-dark
    use(
      xlink:href = "#icons-docs-dark"
    )
  span Docs
    svg.iconnables.icons-link-external
      use(
        xlink:href = "#icons-link-external"
      )
