.modal-backdrop.in
  animated-panel-container.modal-dialog.modal-lg
    animated-panel.grid-block.vertical.modal-server-select(
      default = "true"
      name = "container-selection"
    )
      header.modal-header.grid-block.align-center(
        ng-init = "state.addRepoTab = true"
      )
        button.grid-block.shrink.btn(
          ng-class = "{'active': state.addRepoTab}"
          ng-click = "state.addRepoTab = true"
        )
          svg.iconnables.icons-repository.grid-block.shrink
            use(
              xlink:href = "#icons-new-repository-server"
            )
          .btn-text.grid-block Create from a repository
        button.grid-block.shrink.btn(
          ng-class = "{'active': !state.addRepoTab}"
          ng-click = "state.addRepoTab = false"
        )
          svg.iconnables.icons-template.grid-block.shrink
            use(
              xlink:href = "#icons-server-new"
            )
          .btn-text.grid-block.vertical.text-left Create from a template
            small.small For services and databases
        svg.iconnables.icons-close(
          ng-click = "NCMC.close()"
        )
          use(
            xlink:href = "#icons-close"
          )

      .modal-body(
        ng-if = "state.addRepoTab"
        ng-include = "'repositorySelectSectionView'"
      )

      .modal-body(
        ng-if = "!state.addRepoTab"
        ng-include = "'setupTemplateModalView'"
      )

      //- animated-panel.grid-block.vertical
      //-   div(
      //-     ng-include = ""
      //-   )
