.modal-backdrop.in
  .grid-block.shrink.align-center.justify-center.padding-sm.aha-guide(
    ng-if = "$root.featureFlags.aha1"
    ng-include = "'ahaGuideView'"
    ng-init = "\
      state.showStep = 1;\
      state.showSubStep = 1;\
    "
  )
  .modal-dialog.modal-lg
    animated-panel-container.modal-servers
      animated-panel.grid-block.vertical.modal-server-select(
        default = "true"
        name = "containerSelection"
      )
        header.modal-header.grid-block.justify-center(
          ng-class = "{'lg': !$root.featureFlags.aha1}"
          ng-click = "MC.changeTab('nameContainer')"
        )
          .grid-block.align-center.shrink.btn.btn-radio(
            ng-class = "{'active': MC.state.tabName === 'repos'}"
            ng-click = "MC.changeTab('repos')"
            ng-if = "!$root.featureFlags.aha1"
          )
            svg.iconnables.icons-repository.grid-block.shrink
              use(
                xlink:href = "#icons-new-repository-server"
              )
            .btn-text.grid-block Repository Template
          //- disable this button when loading a repository
          .grid-block.align-center.shrink.btn.btn-radio(
            ng-disabled = "$root.isLoading[MC.name + 'SingleRepo']"
            ng-class = "{\
              'active': MC.state.tabName === 'services', \
              'disabled': $root.isLoading[MC.name + 'SingleRepo'] \
            }"
            ng-click = "!$root.isLoading[MC.name + 'SingleRepo'] && MC.changeTab('services')"
            ng-if = "!$root.featureFlags.aha1"
          )
            svg.iconnables.icons-template.grid-block.shrink
              use(
                xlink:href = "#icons-server-new"
              )
            .btn-text.grid-block.vertical.text-left Non-Repository Template
              small.small For services and databases
          svg.iconnables.icons-close(
            ng-click = "MC.close()"
          )
            use(
              xlink:href = "#icons-close"
            )

        .modal-body(
          ng-if = "MC.state.tabName === 'repos'"
          ng-include = "'newRepositorySelectionView'"
        )

        .modal-body(
          ng-if = "MC.state.tabName === 'services'"
          ng-include = "'templateSelectSectionView'"
        )

      animated-panel.grid-block.vertical.modal-mirror-dockerfile(
        ng-if = "MC.state.repo"
        name = "dockerfileMirroring"
      )
        header.modal-header
          svg.iconnables.icons-arrow-backward(
            ng-click = "!$root.isLoading[MC.name + 'SingleRepo'] && goToPanel('containerSelection', 'back')"
          )
            use(
              xlink:href = "#icons-arrow-down"
            )
          h1.modal-heading(
            ng-if = "!$root.featureFlags.aha1"
          ) Setup Method
          svg.iconnables.icons-close(
            ng-click = "MC.close()"
          )
            use(
              xlink:href = "#icons-close"
            )

        .grid-block.vertical.modal-body(
          branch-name = "MC.state.repo.attrs.default_branch"
          mirror-dockerfile
          name = "MC.name"
          repo = "MC.state.repo"
          state = "MC.state"
        )

        .modal-footer.clearfix
          button.btn.btn-md.gray.btn-cancel.float-left(
            ng-click = "MC.close()"
          ) Cancel
          button.btn.btn-md.green.float-right(
            ng-disabled = "$root.isLoading[MC.name + 'SingleRepo'] || MC.state.configurationMethod === null"
            ng-click = "goToPanel('nameContainer')"
          )
            .spinner-wrapper.spinner-white.spinner-sm.in(
              ng-include = "'spinner'"
              ng-if = "$root.isLoading[MC.name + 'SingleRepo']"
            )
            span() Next Step: Naming

      animated-panel.grid-block.vertical.modals-rename(
        name = "nameContainer"
        ng-if = "MC.state.repo || MC.state.templateSource"
      )
        header.modal-header
          svg.iconnables.icons-arrow-backward(
            ng-click = "!$root.isLoading[MC.name + 'SingleRepo'] && goToPanel(MC.state.templateSource ? 'containerSelection' : 'dockerfileMirroring', 'back')"
          )
            use(
              xlink:href = "#icons-arrow-down"
            )
          h1.modal-heading.text-overflow(
            ng-if = "!$root.featureFlags.aha1"
          ) Container Name
          svg.iconnables.icons-close(
            ng-click = "MC.close()"
          )
            use(
              xlink:href = "#icons-close"
            )
        section.modal-body
          form.modal-form(
            name = "MC.nameForm"
          )
            label.label.clearfix
              .input-col
                div(
                  ng-attr-data-length = "{{19 - MC.nameForm.instanceName.$viewValue.length}}"
                  ng-class = "{\
                    'ng-invalid': MC.nameForm.$error.maxlength,\
                    'validate-length': MC.nameForm.$error.maxlength,\
                    'validate-sm': MC.nameForm.$error.maxlength\
                  }"
                )
                  input.input.input-sm.input-validate(
                    autocomplete = "off"
                    name = "instanceName"
                    ng-class = "{'in': $root.isLoading[MC.name + 'SingleRepo']}"
                    ng-disabled = "$root.isLoading[MC.name + 'SingleRepo']"
                    ng-maxlength = "19"
                    ng-model = "MC.state.instanceName"
                    ng-pattern = "/^[a-zA-Z0-9-]*$/"
                    spellcheck = "false"
                    unique-validator = "MC.state.namesForAllInstances"
                    placeholder = "{{MC.instanceToForkName}}"
                    no-double-dash-validator
                  )

                ul.list.list-bulleted.list-validation
                  li.list-item(
                    ng-class = "{'ng-invalid': MC.nameForm.$error.unique}"
                  ) Choose a unique name for your template
                  li.list-item(
                    ng-class = "{'ng-invalid': MC.nameForm.$error.pattern || MC.nameForm.$error.noDoubleDash}"
                  ) Use letters, numbers, and single hyphens (-)
                  li.list-item(
                    ng-class = "{'ng-invalid': MC.nameForm.$error.maxlength}"
                  ) Use 19 characters or less

        footer.modal-footer.clearfix
          button.btn.btn-md.gray.btn-cancel.float-left(
            ng-click = "MC.close()"
          ) Cancel
          button.btn.btn-md.green.float-right(
            ng-disabled = "!MC.name.length || MC.nameForm.$invalid || $root.isLoading[MC.name + 'SingleRepo']"
            ng-click = " \
              (MC.state.repo) ? MC.createBuildAndGoToNewRepoModal(MC.state.instanceName, MC.state.repo, MC.state.dockerfile, MC.state.configurationMethod) : \
              MC.createBuildFromTemplate(MC.state.instanceName, MC.state.templateSource) \
            "
          )
            //- should say "Next Step: Setup" if a repository container
            //- should say "Create Template" if its a non-repository container
            .spinner-wrapper.spinner-white.spinner-sm.in(
              ng-include = "'spinner'"
              ng-if = "$root.isLoading[MC.name + 'SingleRepo']"
            )
            span(
              ng-if = "MC.state.repo"
            ) Next Step: Setup
            span(
              ng-if = "MC.state.templateSource"
            ) Create Template
