.modal-backdrop.in
  //-
  //- start !$root.featureFlags.dockerfileMirroring
  //-
  .modal-dialog.modal-sm.modal-server-select.deprecated(
    ng-if = "!$root.featureFlags.dockerfileMirroring"
  )
    header.modal-header
      h1.modal-heading New Container
      svg.iconnables.icons-close(
        ng-click = "NCMC.close()"
      )
        use(
          xlink:href = "#icons-close"
        )

    .grid-block.modal-body
      .grid-block.vertical.btn.btn-huge.white(
        ng-click = "NCMC.newRepositoryContainer()"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-new-repository-server"
          )
        | Repository
        small.small Create a container for a repository on GitHub
      .grid-block.vertical.btn.btn-huge.white(
        ng-click = "NCMC.newTemplateContainer()"
        ng-class = "{ 'btn-hint': NCMC.servicesActive }"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-server-new"
          )
        | Services
        small.small Create a container for a service or database
  //-
  //- end !$root.featureFlags.dockerfileMirroring
  //-

  //-
  //- start $root.featureFlags.dockerfileMirroring
  //-
  animated-panel-container.modal-dialog.modal-lg(
    ng-if = "$root.featureFlags.dockerfileMirroring"
  )
    animated-panel.grid-block.vertical.modal-server-select(
      default = "true"
      name = "containerSelection"
    )
      header.modal-header.grid-block.justify-center.row-xxs
        .grid-block.shrink.btn(
          ng-class = "{'active': NCMC.state.addRepoTab}"
          ng-click = "NCMC.state.addRepoTab = true"
        )
          svg.iconnables.icons-repository.grid-block.shrink
            use(
              xlink:href = "#icons-new-repository-server"
            )
          .btn-text.grid-block Create from a repository
        //- disable this button when loading a repository
        .grid-block.shrink.btn(
          ng-disabled = "$root.isLoading.newContainerModalSingleRepoDockerfile"
          ng-class = "{\
            'active': !NCMC.state.addRepoTab, \
            'btn-hint': NCMC.servicesActive, \
            'disabled': $root.isLoading.newContainerModalSingleRepoDockerfile \
          }"
          ng-click = "!$root.isLoading.newContainerModalSingleRepoDockerfile && (NCMC.state.addRepoTab = false)"
        )
          svg.iconnables.icons-template.grid-block.shrink
            use(
              xlink:href = "#icons-server-new"
            )
          .btn-text.grid-block.vertical.text-left Create from a template
            small.small For services and databases
        svg.iconnables.icons-close(
          ng-click = "NCMC.close()"
        )
          use(
            xlink:href = "#icons-close"
          )

      .modal-body(
        ng-if = "NCMC.state.addRepoTab"
        ng-include = "'newRepositorySelectionView'"
      )

      .modal-body(
        ng-if = "!NCMC.state.addRepoTab"
        ng-include = "'templateSelectSectionView'"
      )

    animated-panel.grid-block.vertical.modal-mirror-dockerfile(
      name = "dockerfileMirroring"
    )
      header.modal-header
        svg.iconnables.icons-arrow-backward(
          ng-click = "goToPanel('containerSelection', 'back')"
        )
          use(
            xlink:href = "#icons-arrow-down"
          )
        h1.modal-heading Choose Configuration
        svg.iconnables.icons-close(
          ng-click = "NCMC.close()"
        )
          use(
            xlink:href = "#icons-close"
          )

      .grid-block.vertical.modal-body(
        ng-init = "dockerfile.selection = null"
        ng-include = "'mirrorDockerfileView'"
      )

      .modal-footer.clearfix
        button.btn.btn-md.white.float-left(
          ng-click = "NCMC.close()"
        ) Cancel
        //- add the 'in' class to .btn-spinner when spinning!
        button.btn.btn-md.green.float-right.btn-spinner(
          ng-disabled = "$root.isLoading.newContainerModalSingleRepo"
          ng-click = "NCMC.createBuildAndGoToNewRepoModal()"
          ng-class = "{ \
            in: $root.isLoading.newContainerModalSingleRepo \
          }"
        )
          .spinner-wrapper.spinner-white.spinner-sm.in(
            ng-include = "'spinner'"
            ng-if = "$root.isLoading.newContainerModalSingleRepo"
          )
          | Next Step{{dockerfile.selection === '0' ? ': Configure' : ': Review'}}

  //-
  //- end $root.featureFlags.dockerfileMirroring
  //-
