.modal-backdrop.in
  .grid-block.shrink.align-center.justify-center.padding-sm.aha-guide(
    aha-guide
    ng-class = "{'p-slide js-animate': AGC.state.subStepIndex > 0}"
    ng-if = "!$root.featureFlags.composeNewService && NCMC.isAddingFirstRepo()"
    sub-step = "containerSelection"
    sub-step-index = 1
  )
  .modal-dialog.modal-lg
    div(
      new-container = "modal"
      close = "NCMC.close"
      state = "NCMC.state"
    )
