.modal-dialog.modal-edit
  header.modal-header
    label.input-group.input-validate.with-description(
      ng-form
      name = "renameForm"
      ng-class = "{\
          focus: renameForm.showFocus,\
          'ng-invalid': renameForm.$invalid,\
          'ng-valid': renameForm.$valid\
        }"
    )
      span.input-label
        svg.iconnables.icons-edit
          use(
          xlink:href = "#icons-edit"
          )
        | Edit
      span.input-description.text-overflow {{ data.newName }}-{{ data.instance.attrs.owner.username }}.runnableapp.com
      input.input(
      autofocus
      instance = "data.instance"
      name = "name"
      ng-blur = "renameForm.showFocus = false"
      ng-focus = "renameForm.showFocus = true"
      ng-model = "data.newName"
      ng-init = "renameForm.$setPristine(); \
          renameForm.showFocus = true;"
      placeholder = "My-Server"
      spellcheck = "false"
      validate-name = "data.instances"
      validate-name-pattern
      value = "{{ data.instance.attrs.name }}"
      )
    //- .invalid-pattern for names with invalid characters
      - .invalid-name for names that are taken
    .validate-wrapper.btn-sm.orange(
    ng-class = "{\
        'invalid-pattern': renameForm.$error.namePattern.length,\
        'invalid-name': renameForm.$error.nameAvailable.length,\
        'invalid-require': renameForm.$error.nameRequire.length\
      }"
    )
      span.validate-rules.invalid-pattern Please use #{''}
        b.btn-xs.orange A-Z
        b.btn-xs.orange a-z
        b.btn-xs.orange 0-9
        b.btn-xs.orange _
        b.btn-xs.orange -
      span.validate-rules.invalid-name That's a pretty name, but it's taken
      span.validate-rules.invalid-require Give your server an alphanumeric name
  .modal-body
    //- sidebar
    section.sidebar.server-sidebar
      section.row.repo-list(
        build = "build"
        repo-list
      )
      section.row.explorer(
        explorer
        title = "Build Files"
        file-model = "build.contextVersions.models[0]"
        root-dir = "build.contextVersions.models[0].rootDir"
        open-items = "openItems"
        show-repo-folder = "data.instance.attrs.name"
      )
      section.row.explorer
        //- no files or folders can be added to this file-tree
        //- these files cannot be renamed or deleted
        ul.file-tree
         li.file
           a(
             ng-click = "openItems.addBuildStream()"
           )
             svg.iconnables.filetypes.icons-logs
               use(
                 xlink:href = "#icons-logs"
               )
             span.item-name build logs
         li.file
           a(
             ng-click = "openItems.addEnvVars()"
           )
             svg.iconnables.filetypes.icons-file
               use(
                 xlink:href = "#icons-file"
               )
             span.item-name environment variables
             //- must appear before .btn-file-action in the DOM
             span.btn-file-errors.orange(
               ng-if = "data.instance.validation.envs.errors.length"
             ) {{ data.instance.validation.envs.errors.length }}
             //- can we make sure opening this popover also opens and focuses the env file?
             button.btn-xxs.btn-file-action(
               ng-class = "{active: popoverLinkServers.data.show}"
               toggle-pop-over
               toggle-pop-over-model = "popoverLinkServers.data.show"
               ng-click = "$event.stopPropagation()"
             )
               svg.iconnables.icons-link
                 use(
                   xlink:href = "#icons-link"
                 )
               pop-over(
                 actions = "popoverLinkServers.actions"
                 data = "popoverLinkServers.data"
                 popover-options = "{\"left\":-270,\"top\":-107}"
                 template = "viewPopoverLinkServers"
               )
    //- editor
    section.views.with-add-tab(
      active-panel
      ng-class = "{ \
        in: (data.showExplorer && \
             !data.loading) \
        }"
      open-items = "openItems"
      build = "data.instance.build"
      instance = "data.instance"
      use-auto-update = "true"
    )
  footer.modal-footer
    //- ng-disabled = "!validation.valid"
    button.btn.green(
      ng-click = "actions.buildServer()"
      type = "button"
    ) Build Server
       //- spinner
      .spinner-wrapper.spinner-sm.spinner-white.in(
        ng-if = "building"
        ng-include = "'spinner'"
      )
    button.btn.white(
      ng-click = "actions.close()"
      type = "button"
    ) Go Back
    span.btn-file-errors.orange(
      ng-if = "getAllErrorsCount()"
    ) {{ getAllErrorsCount() }} errors

//- OLD ENV STUFF

//-       //- 0.3 SAN-436
//-         - to do:
//-         - do not show if there are no servers to link
//-       button.btn.btn-icon.white(
//-         ng-class = "{active: data.toggleSidebar}"
//-         ng-click = "data.toggleSidebar = !data.toggleSidebar"
//-         tooltip = "Toggle List of Servers"
//-         tooltip-options = "{\"class\":\"right\",\"left\":36,\"top\":11}"
//-         type = "button"
//-       )
//-         svg.iconnables.icons-sidebar
//-           use(
//-             xlink:href = "#icons-sidebar"
//-           )
//- //- guide text should only appear once until dismissed
//-     //- .guide.guide-no-help.blue(
//-     //-   ng-if = '!data.hideGuideHelpEnvModal'
//-     //- )
//-       h3.guide-header Using Environment Variables
//-       pre.well.well-code &lt;key&gt;=&lt;value&gt;
//-       p.guide-text
//-         | Variables listed here are added to your server during startup.
//-         br
//-         | Example notation:
//-       pre.well.well-code DB_HOST=db.run.runnable.io

//-       button.btn.blue.btn-xs.btn-close(
//-         ng-click = "onChangeHideGuideEnv()"
//-       )
//-         svg.iconnables.icons-close
//-           use(
//-             xlink:href = "#icons-close"
//-           )
//-     //- If the stateModel has an env (even empty), then the envs have been modified, and
//-       - we should display them
//-     //- div(
//-     //-   current-model = "stateModel.env ? stateModel : currentModel"
//-     //-   env-vars
//-     //-   state-model = "tempModel"
//-     //-   validation = "validation"
//-     //- )
//-       //- if no servers with exposed ports (empty state)
//-   aside.modal-aside.nav-servers(
//-     ng-if = "!(data.instances.models | instancesWithOpenPorts:data.instance).length"
//-   )
//-     p.guide-text
//-       | Servers that can be linked are listed here. Enable linking on a server by adding the #{''}
//-       span.btn.btn-xxs.well.well-code.well-inline.gray(
//-         ng-class = "{active: popoverExposeInstruction.data.show}"
//-         toggle-pop-over
//-         toggle-pop-over-model = "popoverExposeInstruction.data.show"
//-       ) EXPOSE
//-       | #{''} instruction in its Dockerfile to open ports.
//-       pop-over(
//-         actions = "popoverExposeInstruction.actions"
//-         data = "popoverExposeInstruction.data"
//-         popover-options = "{\"left\":-70,\"top\":108}"
//-         template = "viewExposeInstruction"
//-       )

//-   //- if servers with exposed ports
//-   aside.modal-aside.nav-servers(
//-     ng-if = "(data.instances.models | instancesWithOpenPorts:data.instance).length"
//-   )
//-     h2.sub-header
//-       span.sub-header-text Servers
//-     ul.list.server-group
//-       //- 0.3 SAN-436
//-         - to do:
//-         - servers should appear in the same order as they appear on the navbar
//-         - clicks on b.btn should paste "$ENTER_ENV_VAR={{url}}+':'+{{port}}" (with specified port) into the last cursor position in the env file
//-       li.list-item.expanded(
//-         ng-repeat = "otherInstance in data.instances.models | \
//-           instancesWithOpenPorts:data.instance"
//-       )
//-         .small.text-overflow {{ otherInstance.attrs.name }}
//-         button.btn.btn-xxs.gray(
//-           ng-repeat = "url in otherInstance.containers.models[0].urls()"
//-           ng-click = "pasteLinkedInstance(url)"
//-           tooltip = "Link to: {{ url }}"
//-           tooltip-options = "{\"class\":\"bottom\",\"left\":11,\"top\":21}"
//-         ) {{url | filterCleanPorts}}
