.modal-dialog.modal-edit
  header.modal-header
    label.input-group.input-validate.with-description(
      ng-form
      name = "renameForm"
      ng-class = "{\
        focus: renameForm.showFocus,\
        'ng-invalid': renameForm.$invalid,\
        'ng-valid': renameForm.$valid\
      }"
    )
      span.input-label
        svg.iconnables.icons-edit
          use(
          xlink:href = "#icons-edit"
          )
        | Edit
      span.input-description.text-overflow {{ state.name }}-{{ data.instance.attrs.owner.username }}.runnableapp.com
      input.input(
        instance = "data.instance"
        name = "newName"
        ng-blur = "renameForm.showFocus = false"
        ng-focus = "renameForm.showFocus = true"
        ng-model = "state.name"
        ng-init = "\
          renameForm.$setPristine();\
          renameForm.showFocus = true;\
        "
        placeholder = "My-Server"
        spellcheck = "false"
        validate-name = "data.instances"
        validate-name-pattern
        value = "{{ data.instance.attrs.name }}"
      )
    //- .invalid-pattern for names with invalid characters
      - .invalid-name for names that are taken
    .validate-wrapper.btn-sm.orange(
      ng-class = "{\
          'invalid-pattern': renameForm.$error.namePattern.length,\
          'invalid-name': renameForm.$error.nameAvailable.length,\
          'invalid-require': renameForm.$error.nameRequire.length\
        }"
      )
      span.validate-rules.invalid-pattern Please use #{''}
        b.btn-xs.orange A-Z
        b.btn-xs.orange a-z
        b.btn-xs.orange 0-9
        b.btn-xs.orange _
        b.btn-xs.orange -
      span.validate-rules.invalid-name That's a pretty name, but it's taken
      span.validate-rules.invalid-require Give your server an alphanumeric name
  .modal-body
    //- sidebar
    section.sidebar.server-sidebar
      section.row.repo-list(
        build = "build"
        repo-list
        show-add-repo = "true"
      )
      section.row.explorer(
        explorer
        file-model = "build.contextVersions.models[0]"
        open-items = "openItems"
        root-dir = "build.contextVersions.models[0].rootDir"
        show-repo-folder = "true"
        title = "Build Files"
      )
      section.row.explorer
        //- no files or folders can be added to this file-tree
        //- these files cannot be renamed or deleted
        ul.file-tree
         li.file
           a(
             ng-click = "openItems.addBuildStream()"
           )
             svg.iconnables.filetypes.icons-logs
               use(
                 xlink:href = "#icons-logs"
               )
             span.item-name build logs
         li.file
           a(
             ng-click = "openItems.addEnvVars()"
           )
             svg.iconnables.filetypes.icons-file
               use(
                 xlink:href = "#icons-file"
               )
             span.item-name environment variables
             //- must appear before .btn-file-action in the DOM
             span.btn-file-errors.orange(
               ng-if = "validation.env.errors.length"
             ) {{ validation.env.errors.length }}
             //- can we make sure opening this popover also opens and focuses the env file?
             button.btn-xxs.btn-file-action(
               ng-class = "{active: popoverLinkServers.data.show}"
               pop-over
               pop-over-active = "popoverLinkServers.data.show"
               pop-over-actions = "popoverLinkServers.actions"
               pop-over-data = "popoverLinkServers.data"
               popover-options = "{\"left\":-270,\"top\":-107}"
               pop-over-template = "viewPopoverLinkServers"
             )
               svg.iconnables.icons-link
                 use(
                   xlink:href = "#icons-link"
                 )
    //- editor
    section.views(
      active-panel
      build = "data.build"
      instance = "data.instance"
      ng-class = "{in: (data.showExplorer && !data.loading)}"
      open-items = "openItems"
      state-model = "state"
      use-auto-update = "true"
      validation = "validation"
    )
  footer.modal-footer
    .btn-group
      button.btn.green(
        ng-click = "actions.buildServer()"
        ng-disabled = "renameForm.$invalid || getAllErrorsCount()"
      ) Build Server
      button.btn.green.btn-icon.btn-icon-sm(
        ng-class = "{active: popoverBuildOptions.data.show}"
        ng-disabled = "renameForm.$invalid || getAllErrorsCount()"
        pop-over
        pop-over-active = "popoverBuildOptions.data.show"
        pop-over-actions = "popoverBuildOptions.actions"
        pop-over-data = "popoverBuildOptions.data"
        pop-over-options = "{\"left\":-148,\"top\":-46}"
        pop-over-template = "viewInstanceEditPopoverBuildOptions"
      )
        svg.iconnables.icons-arrow-down
          use(
            xlink:href = "#icons-arrow-down"
          )
    button.btn.white(
      ng-click = "actions.close()"
    ) Go Back
    span.btn-file-errors.orange(
      ng-if = "getAllErrorsCount()"
    ) {{ getAllErrorsCount(true) }}