.modal-dialog.modal-edit
  header.modal-header
    h1.modal-heading Edit Server
  .modal-body
    //- sidebar
    section.sidebar.server-sidebar
      section.row.repo-list
        h2.sub-header Repositories
          button.btn.btn-xs.white.sub-header-action.btn-add-repo
            svg.iconnables.icons-add
              use(
                xlink:href = "#icons-add"
              )
        ul.list.repository-group
          li.list-item.repository-group-item
            .well.repository-group-text
              h3.repository-title.text-overflow
                svg.iconnables.icons-repository
                  use(
                    xlink:href = "#icons-repository"
                  )
                | repository-name
              p.repository-description.text-overflow.clearfix
                svg.iconnables.icons-branch
                  use(
                    xlink:href = "#icons-branch"
                  )
                | master
              p.repository-description.clearfix
                svg.iconnables.icons-commit
                  use(
                    xlink:href = "#icons-commit"
                  )
                | commit message about changes
                small.small.repository-detail 3 minutes ago
              svg.iconnables.icons-arrow-down
                use(
                  xlink:href = "#icons-arrow-down"
                )
      section.row.explorer
        h2.sub-header Build Files
          button.btn.btn-xs.white.sub-header-action
            svg.iconnables.icons-add
              use(
                xlink:href = "#icons-add"
              )
        ul.file-tree
          li.file.no-touching
            a
              svg.iconnables.filetypes.icons-repository
                use(
                  xlink:href = "#icons-repository"
                )
              input.tree-input(
                readonly
                value = "dockerfile"
              )
              span.item-name repository-name
          li.file
            a
              svg.iconnables.filetypes.icons-file
                use(
                  xlink:href = "#icons-file"
                )
              input.tree-input(
                readonly
                value = "start.sh"
              )
              span.item-name start.sh
        //- no files or folders can be added to this file-tree
        //- these files cannot be renamed or deleted
        ul.file-tree
          li.file
            a
              svg.iconnables.filetypes.icons-file
                use(
                  xlink:href = "#icons-file"
                )
              span.item-name dockerfile
          li.file
            a
              svg.iconnables.filetypes.icons-file
                use(
                  xlink:href = "#icons-file"
                )
              span.item-name environment file

    //- editor
    section.views.with-add-tab
      .views-toolbar
        button.toggle-theme(
          tooltip = "Change Theme"
          tooltip-options = "{\"class\":\"bottom\",\"left\":11,\"top\":36}"
        )
          .theme
        ul.tabs
          li.tab-wrapper
            span.tab-name(
              title = "dockerfile"
            ) dockerfile
            button.btn-icon
              svg.iconnables.icons-close
                use(
                  xlink:href = "#icons-close"
                  )
          li.tab-wrapper
            span.tab-name(
              title = "start.sh"
            ) start.sh
            button.btn-icon
              svg.iconnables.icons-close
                use(
                  xlink:href = "#icons-close"
                  )
      a.btn.btn-sm.white.btn-icon.btn-add-tab(
        ng-class = "{active: popoverAddTab.data.show}"
        tooltip = "Open Build Logs"
        tooltip-options = "{\"class\":\"right\",\"left\":36,\"top\":6}"
      )
        svg.iconnables.icons-logs
          use(
            xlink:href = "#icons-logs"
          )
      .active-panel
        pre.pre(
          ui-ace
        )
      .blank-panel

  footer.modal-footer
    //- ng-disabled = "!validation.valid"
    button.btn.orange(
      ng-click = "actions.rebuild(tempModel); defaultActions.cancel()"
      type = "button"
    ) Build Server
    button.btn.white(
      ng-click = "defaultActions.cancel()"
      type = "button"
    ) Go Back

//- ENV STUFF
      //- 0.3 SAN-436
        - to do:
        - do not show if there are no servers to link
      button.btn.btn-icon.white(
        ng-class = "{active: data.toggleSidebar}"
        ng-click = "data.toggleSidebar = !data.toggleSidebar"
        tooltip = "Toggle List of Servers"
        tooltip-options = "{\"class\":\"right\",\"left\":36,\"top\":11}"
        type = "button"
      )
        svg.iconnables.icons-sidebar
          use(
            xlink:href = "#icons-sidebar"
          )
//- guide text should only appear once until dismissed
    //- .guide.guide-no-help.blue(
    //-   ng-if = '!data.hideGuideHelpEnvModal'
    //- )
      h3.guide-header Using Environment Variables
      pre.well.well-code &lt;key&gt;=&lt;value&gt;
      p.guide-text
        | Variables listed here are added to your server during startup.
        br
        | Example notation:
      pre.well.well-code DB_HOST=db.run.runnable.io

      button.btn.blue.btn-xs.btn-close(
        ng-click = "onChangeHideGuideEnv()"
      )
        svg.iconnables.icons-close
          use(
            xlink:href = "#icons-close"
          )
    //- If the stateModel has an env (even empty), then the envs have been modified, and
      - we should display them
    //- div(
    //-   current-model = "stateModel.env ? stateModel : currentModel"
    //-   env-vars
    //-   state-model = "tempModel"
    //-   validation = "validation"
    //- )
      //- if no servers with exposed ports (empty state)
  aside.modal-aside.nav-servers(
    ng-if = "!(data.instances.models | instancesWithOpenPorts:data.instance).length"
  )
    p.guide-text
      | Servers that can be linked are listed here. Enable linking on a server by adding the #{''}
      span.btn.btn-xxs.well.well-code.well-inline.gray(
        ng-class = "{active: popoverExposeInstruction.data.show}"
        toggle-pop-over
        toggle-pop-over-model = "popoverExposeInstruction.data.show"
      ) EXPOSE
      | #{''} instruction in its Dockerfile to open ports.
      pop-over(
        actions = "popoverExposeInstruction.actions"
        data = "popoverExposeInstruction.data"
        popover-options = "{\"left\":-70,\"top\":108}"
        template = "viewExposeInstruction"
      )

  //- if servers with exposed ports
  aside.modal-aside.nav-servers(
    ng-if = "(data.instances.models | instancesWithOpenPorts:data.instance).length"
  )
    h2.sub-header
      span.sub-header-text Servers
    ul.list.server-group
      //- 0.3 SAN-436
        - to do:
        - servers should appear in the same order as they appear on the navbar
        - clicks on b.btn should paste "$ENTER_ENV_VAR={{url}}+':'+{{port}}" (with specified port) into the last cursor position in the env file
      li.list-item.expanded(
        ng-repeat = "otherInstance in data.instances.models | \
          instancesWithOpenPorts:data.instance"
      )
        .small.text-overflow {{ otherInstance.attrs.name }}
        button.btn.btn-xxs.gray(
          ng-repeat = "url in otherInstance.containers.models[0].urls()"
          ng-click = "pasteLinkedInstance(url)"
          tooltip = "Link to: {{ url }}"
          tooltip-options = "{\"class\":\"bottom\",\"left\":11,\"top\":21}"
        ) {{url | filterCleanPorts}}
