// general animations
@keyframes alert {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes in-progress {
  0% {
    opacity: 0;
    transform: scale3d(.3,.3,.3);
  }
  45% {
    opacity: 1;
    transform: scale3d(.65,.65,.65);
  }
  55% {
    opacity: 1;
    transform: scale3d(.6,.6,.6);
  }
  100% {
    opacity: 0;
    transform: scale3d(.3,.3,.3);
  }
}

@keyframes click {
  16.6% {
    transform: translateY(-20px) rotate(17deg);
  }
  33.3% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px) rotate(-17deg);
  }
  66.6% {
    transform: translateY(0);
  }
  83.3% {
    transform: translateY(-5px) rotate(17deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translate3d(0,-30%,0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translate3d(0,30%,0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

@keyframes horizontal-spinner {
  0% {
    transform: translate3d(-100%,0,0);
  }
  100% {
    transform: translate3d(200%,0,0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes save-spinner {
  0% {
    opacity: 0;
    transform: scale3d(0,0,0);
  }
  25% {
    opacity: 1;
    transform: scale3d(1.2,1.2,1);
  }
  80% {
    opacity: 1;
    transform: scale3d(1,1,1)
  }
  100% {
    opacity: 0;
    transform: scale3d(1,1,1);
  }
}

@keyframes tooltip {
  100% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}