// key frames
@keyframes check {
  0% {
    transform: scale3d(.75,.75,1);
  }

  30% {
    stroke-dashoffset: 0;
    transform: scale3d(1.1,1.1,1);
  }

  75% {
    opacity: 1;
    stroke-dashoffset: 0;
    transform: scale3d(1.1,1.1,1);
  }

  100% {
    opacity: 0;
    transform: scale3d(.5,.5,1);
  }
}

@keyframes check-in {
  0% {
    transform: scale3d(.75,.75,1);
  }

  30% {
    stroke-dashoffset: 0;
    transform: scale3d(1.1,1.1,1);
  }

  75% {
    opacity: 1;
    stroke-dashoffset: 0;
    transform: scale3d(1.1,1.1,1);
  }

  100% {
    opacity: 1;
    stroke-dashoffset: 0;
    transform: scale3d(1.1,1.1,1);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

@keyframes fade-in-alt {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  26% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-in-half {
  0% {
    opacity: .3;
  }

  100% {
    opacity: 1;
  }
}

@keyframes in-progress {
  0% {
    opacity: 0;
    transform: scale3d(0,0,0);
  }

  100% {
    opacity: 1;
    transform: scale3d(1,1,1);
  }
}

@keyframes logs-blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  50.1% {
    opacity: 1;
  }
}

@keyframes logs-dim-blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  50.1% {
    opacity: .5;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15);
  }
}

@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scale3d(0,0,0);
  }

  100% {
    opacity: 1;
    transform: scale3d(1,1,1);
  }
}

@keyframes scale-in-bounce {
  0% {
    transform: scale3d(0,0,0);
  }

  60% {
    transform: scale3d(1.2,1.2,1);
  }

  100% {
    transform: scale3d(1,1,1);
  }
}

@keyframes scale-in-modal {
  0% {
    opacity: 0;
    transform: scale3d(.9,.9,1);
  }

  100% {
    opacity: 1;
    transform: scale3d(1,1,1);
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate3d(100%,0,0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translate3d(-100%,0,0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes tooltip {
  100% {
    opacity: 1;
  }
}

// send-confirmation

// .small.send-confirmation.load
//   svg.iconnables.icons-check.float-left(
//     viewbox = '0 0 14.5 10'
//   )
//     path.path(
//       d = 'M1,4.5L5.5,9l8-8'
//       fill = 'none',
//       stroke = '#3ccb5a',
//       stroke-linecap = 'round',
//       stroke-linejoin = 'round',
//       stroke-miterlimit = '10',
//       stroke-width = '2',
//     )
//   | Sent

.send-confirmation {
  color: $green;
  font-size: 13px;
  font-weight: $weight-bold;
  line-height: 18px;

  &.load .path {
    animation: check-in 1.5s .3s ease-out forwards;
  }

  &.loaded .path {
    stroke-dashoffset: 0;
  }

  .icons-check {
    padding: 6px;
    top: -3px;
  }

  .path {
    stroke-dasharray: 18;
    stroke-dashoffset: 18;
    transform-origin: 50% 50%;
  }
}
