// global layout
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba($black,0);
}

body {
  color: $gray-dark;
  font-family: $sans-serif;
  font-feature-settings: 'kern';
  font-size: 16px;
  font-weight: $weight-normal;
  line-height: 1.4;
  min-height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeLegibility; // kerning magic

  &.modal-open {
    overflow: hidden;
  }
}

// svg files
.svg-defs {
  // scss-lint:disable ImportantRule
  height: 0 !important;
  position: absolute !important;
  visibility: hidden !important;
  width: 0 !important;
}

// utility
%clearfix,
.clearfix {

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

%padding-xxs,
.padding-xxs {
  padding: 9px;
}

%padding-xs,
.padding-xs {
  padding: 12px;
}

%padding-sm,
.padding-sm {
  padding: 15px;
}

%padding-md,
.padding-md {
  padding: 30px;
}

%padding-lg,
.padding-lg {
  padding: 45px;
}

%padding-xl,
.padding-xl {
  padding: 60px;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

// if .disabled communicates to the user that an element is not available to them,
// .no-touching 'disables' an element and DOES NOT communicate
.no-touching,
%no-touching {
  // scss-lint:disable ImportantRule
  pointer-events: none !important;
}
