// global layout
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  background: #fff;
  color: $gray-dark;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4;
  min-width: 1120px;
}

html,
body,
#wrapper {
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

#wrapper.width-full {
  min-width: 0;
}

main {
  float: right;
  height: 100%;
  overflow: hidden;
  width: calc(100% - 240px);

  .width-full & {
    float: none;
    width: 100%;
  }

  .height-54 & {
    float: none;
    height: calc(100% - 54px);
    width: auto;
  }

  .height-108 & {
    float: none;
    height: calc(100% - 108px);
    width: auto;
  }
}

// svg files
#svg-defs {
  display: none !important;
}

// utility
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}

.clearfix:after {
  clear: both;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}