// global layout
html {
  -webkit-tap-highlight-color: rgba($black,0);
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  background: $white;
  color: $gray-darker;
  font-family: 'Helvetica Neue', 'Segoe UI', sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  line-height: 1.4;
  min-width: 1150px;
  overflow-x: auto;
  overflow-y: hidden;

  // vertical scroll
  .vertical & {
    height: auto;
    min-width: 360px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.content {
  float: right;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: width .2s ease-in;
  width: calc(100% - 240px);
}

// svg files
.svg-defs {
  display: none !important;
}

// utility
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

.row {
  // margin: 0 -15px;
}

// if .disabled communicates to the user that an element is not available to them,
// .no-touching 'disables' an element and DOES NOT communicate
.no-touching {
  pointer-events: none !important;
}