// global layout
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba($black,0);
}

body {
  color: $gray-dark;
  font-family: $sans-serif;
  font-feature-settings: 'kern';
  font-size: 16px;
  font-weight: $weight-normal;
  line-height: 1.4;
  min-height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeLegibility; // kerning magic

  &.modal-open {
    overflow: hidden;
  }
}

// svg files
.svg-defs {
  // scss-lint:disable ImportantRule
  height: 0 !important;
  position: absolute !important;
  visibility: hidden !important;
  width: 0 !important;
}
