// global layout
html {
  -webkit-tap-highlight-color: rgba($black,0);
  font-size: 62.5%;
}

body {
  // background: $gray-lightest;
  color: $gray-darker;
  font-family: 'Helvetica Neue', 'Segoe UI', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  min-width: 360px;
  overflow-x: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  width: 100vw;
}

// svg files
.svg-defs {
  display: none !important;
}

// utility
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

.row {
  margin: 0 -15px;
}

// if .disabled communicates to the user that an element is not available to them,
// .no-touching 'disables' an element and DOES NOT communicate
.no-touching {
  pointer-events: none !important;
}