.gravatar {
  border-radius: 50%;
  display: inline-block;
  user-select: none;
}

// isolation images, user's avatar
.gravatar-isolation + .gravatar {
  border-radius: 3px;
  left: 21px;
  position: absolute;
  top: 12px;
}
