.gravatar {
  border-radius: 50%;
  display: inline-block;
  user-select: none;
}

// isolation images
.gravatar-isolation {
  margin-right: 12px; // +3px to compensate for -3px image size

  // user's avatar
  + .gravatar {
    border-radius: 3px;
    left: 18px;
    position: absolute;
    top: 12px;
  }
}
