// substitute for body
.content-wrapper {
  height: 100vh;

  .content {
    display: flex;
    flex: 1 1 auto;
    height: 100%;
  }
}

// global sidebar
.sidebar-navigation {
  align-items: center;
  background: $purple-light;
  display: flex;
  flex: 0 0 $sidebar-navigation;
  flex-direction: column;
  height: 100%;
  padding: 12px;
  z-index: 1;

  // accounts, configure, and containers buttons
  .btn-acounts,
  .btn-nav {
    margin-top: 12px;
  }

  // accounts button
  .btn-accounts {
    background: transparent;
    border: 0;
    flex: 0 0 auto;
    height: 36px;
    padding: 0;

    .gravatar {
      border: 2px solid $white;
    }
  }

  // configure and containers buttons
  .btn-nav {
    border-radius: 6px;
    color: $white;
    cursor: pointer;
    flex: 0 0 auto;
    height: 48px;
    opacity: .9;
    padding: 11px;
    width: 48px;

    &:hover,
    &:active {
      opacity: 1;
    }

    &.active {
      background: $purple;
      pointer-events: none;
    }

    .iconnables {
      height: 100%;
      width: 100%;
    }
  }
}

// containers sidebar
.sidebar-containers {
  background: $gray-lighterest;
  border-right: 1px solid $gray-lighter;
  flex: 0 0 $sidebar-containers;
  height: 100vh;
  overflow-y: auto;

  .list-header {
    align-items: center;
    background: $gray-lightest;
    border-bottom: 1px solid $gray-lighter;
    color: $gray;
    font-weight: $weight-bold;
    height: $header-height;
    line-height: $header-height;
    position: relative;
    text-align: center;

    .icons-arrow-backward {
      color: $gray;
      cursor: pointer;
      height: 100%;
      left: 9px;
      pointer-events: auto; // override iconnables
      position: absolute;
      top: 0;

      &:hover {
        color: $gray-dark;
      }

      &:active {
        color: $purple-light;
      }
    }
  }

  .list {
    margin: 0 15px;
    padding: 9px 0 15px;

    + .list {
      border-top: 1px solid $gray-lighter;
    }
  }

  .list-item {
    align-items: center;
    display: flex;
    font-size: 15px;
    height: 30px;
    line-height: 30px;

    // list title
    &:first-child {
      color: $gray-light;
      font-weight: $weight-normal;
    }

    &:hover .icons-advanced {
      opacity: .75;
    }

    + .list-item {

      &:hover,
      &.active {

        .btn-badge {
          display: none;
        }

        .icons-overflow {
          display: block;
        }
      }
    }

    // status icon
    .icons-status {
      flex: 0 0 9px;
      margin-right: 9px;

      + .text-overflow {
        color: $gray;
        cursor: pointer;
        font-weight: $weight-bold;
        padding-left: 0;

        &:hover {
          color: $gray-dark;
        }

        &:active {
          color: $purple-light;
        }

        &.active {
          color: $gray-darker;
        }
      }
    }

    // name
    .text-overflow {
      flex: 1 1 auto;
      padding-left: 18px; // spacing for .status-icon
    }

    // configure/overflow
    .iconnables {
      cursor: pointer;
      flex: 0 0 15px;
      margin-left: 5px;
      pointer-events: auto; // override iconnables default
    }

    .icons-overflow {
      color: $gray;
      display: none;
      padding-top: 10px;

      &:hover {
        color: $gray-dark;
      }

      &:active,
      &.active {
        color: $purple-light;
      }

      &.active {
        display: block;
      }
    }
  }

  // more button…
  .btn-xxs {
    color: $gray-light;
    font-style: italic;
    left: 15px;

    &:hover {
      color: $gray;
    }

    &:active {
      color: $purple-light;
    }
  }

  // isolation badge
  .btn-badge {
    border: 1px solid $gray-lighter;
    left: 6px;
    line-height: 16px;
    margin-right: 0;

    &:hover,
    &:active {
      color: $gray-light;
    }
  }
}

// instance page
.instance {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  height: 100%;
  position: relative;
}
