.logo {
  color: $purple-logo;
  display: block;
  position: relative;
  user-select: none;
  z-index: $z-show;

  &:hover {
    color: $white;
    text-decoration: none;
  }

  svg {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}

#logo-icon {
  fill: currentColor;
}