// nav structure
.minimize .nav-sidebar {
  position: static;
  width: 60px;

  // resize main.content
  ~ .content {
    width: calc(100% - 60px);
  }

  // resize .spinner-container
  ~ .spinner-container {
    width: calc(100% - 240px); // safari does not support vw and calc
    width: calc(100vw - 60px);
  }

  // aren't visible/selectable when minimized
  .account-name,
  .icons-arrow-down,
  .sub-header-text {
    opacity: 0;
    pointer-events: none;
  }

  // not visible, but selectable
  .server-item-name {
    opacity: 0;
  }

  .gravatar {
    display: block;
    margin-top: 0;
    position: relative;
    top: 18px;
  }

  .sub-header-action.sub-header-action {
    height: 36px;
    width: 45px;

    .icons-add {
      float: none;
      margin: 5px auto;
    }
  }

  // li.box-group-item.white.load
  .server-group-item {
    height: 45px;
    overflow: hidden;
    width: 45px;

    &.active .icons-status {
      top: 18px;
    }
  }

  .icons-status {
    right: 16px;
  }

  // resize nav footer
  .nav-footer {
    height: 54px;
    padding: 9px 12px;

    .icons-minimize {
      transform: rotate3d(0,1,0,180deg);
    }
  }
}

// hide .nav-tooltips unless minimized
.nav-tooltips {
  display: none;

  .minimize & {
    display: block;
  }
}

// position account menu differently if minimize
.minimize > .popover.popover-account-menu {
  margin-left: - 90px;
  margin-top: -15px;
  transform-origin: 0 0;

  .arrow {
    display: none;
  }
}