// global structure
// nav.sidebar.global-sidebar.minimize
.global-sidebar.minimize {
  position: static;
  width: 60px;

  // resize main.content
  ~ .content {
    width: calc(100% - 60px);
  }

  // resize .spinner-container
  ~ .spinner-container {
    width: calc(100% - 240px); // safari does not support vw and calc
    width: calc(100vw - 60px);
  }

  // accounts
  .account-name,
  .icons-arrow-down {
    opacity: 0;
    pointer-events: none;
  }

  .gravatar {
    display: block;
    margin-top: 0;
    position: relative;
    top: 18px;
  }

  // h2.sub-header
  .sub-header-text {
    opacity: 0;
    pointer-events: none;
  }

  .sub-header-action.sub-header-action {
    height: 36px;
    right: 7px;
    width: 45px;

    .icons-add {
      float: none;
      margin: 5px auto;
    }
  }

  // section.row.boxes
  .boxes {
    overflow-x: hidden;
    overflow-y: auto;
  }

  // a.white.box
  .box {
    // @extend .tooltip;
    // @extend .right;
    margin: 0 -9px;
    overflow: visible;
    width: 45px;
  }

  .box-item-name {
    opacity: 0;
    pointer-events: none;
  }

  .icons-status {
    left: 0;
    margin: 0 auto;
    right: 0;
  }

  // resize nav footer
  .global-footer {
    // flex-direction: column;
    height: 102px;
    padding: 9px 12px;

    .btn-sm {
      margin-top: 6px;
    }

    .icons-arrow-left {
      transform: rotate3d(0, 1, 0, 180deg);
    }
  }
}

// hide .nav-tooltips when not minimized
.nav-open ~ .nav-tooltips {
  display: none;
}