// modernizr test
@mixin modernizr($test) {
  html.#{$test} & {
    @content;
  }
}

// retina test
@mixin retina() {
  @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 2dppx) {
    @content;
  }
}

// Retina Mixin
// http://37signals.com/svn/posts/3271-easy-retina-ready-images-using-scss
@mixin background-retina($image) {
  @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 2dppx) {
    background-image: url($image);
  }
}

@mixin media($point) {
  @if $point == xxs {
    @media (max-width: 400px) { @content; }
  }
  @else if $point == xs {
    @media (max-width: 600px) { @content; }
  }
  @else if $point == sm {
    @media (max-width: 768px) { @content; }
  }
  @else if $point == md {
    @media (max-width: 1024px) { @content; }
  }
  @else if $point == lg {
    @media (max-width: 1440px) { @content; }
  }
  @else if $point == xl {
    @media (max-width: 1920px) { @content; }
  }
  @else if $point == xxl {
    @media (min-width: 1920px) { @content; }
  }
}

// filetree nesting
@mixin depth($depth: 1) {
  $chain: '';
  $item-offset: 15px;
  $nested-offset: $item-offset*$depth - $item-offset/3;
  $input-offset: 239px - $depth*$item-offset;

  @for $i from 0 to $depth {
    $chain: $chain + ' > ul > li';
  }

  & #{$chain} {
    text-indent: $item-offset + $nested-offset;

    &.folder::after {
      left: $item-offset + $nested-offset;
    }

    > a > .tree-input {
      width: $input-offset;
    }
  }
}