// modernizr test
@mixin modernizr($test) {
  html.#{$test} & {
    @content;
  }
}

// retina test
@mixin retina() {
  @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 2dppx) {
    @content;
  }
}

// Retina Mixin
// http://37signals.com/svn/posts/3271-easy-retina-ready-images-using-scss
@mixin background-retina($image) {
  @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 2dppx) {
    background-image: url($image);
  }
}

// standard mixin + mixin for when intercom is open
@mixin media($point) {
  @if $point == xxs {
    @media (max-width: $xxs) { @content; }

    .intercom-messenger-open & {
      @media (max-width: $xxs + $intercom-width) { @content; }
    }
  }
  @else if $point == xs {
    @media (max-width: $xs) { @content; }

    .intercom-messenger-open & {
      @media (max-width: $xs + $intercom-width) { @content; }
    }
  }
  @else if $point == sm {
    @media (max-width: $sm) { @content; }

    .intercom-messenger-open & {
      @media (max-width: $sm + $intercom-width) { @content; }
    }
  }
  @else if $point == md {
    @media (max-width: $md) { @content; }

    .intercom-messenger-open & {
      @media (max-width: $md + $intercom-width) { @content; }
    }
  }
  @else if $point == lg {
    @media (max-width: $lg) { @content; }

    .intercom-messenger-open & {
      @media (max-width: $lg + $intercom-width) { @content; }
    }
  }
  @else if $point == xl {
    @media (max-width: $xl) { @content; }

    .intercom-messenger-open & {
      @media (max-width: $xl + $intercom-width) { @content; }
    }
  }
  @else if $point == xxl {
    @media (min-width: $xxl) { @content; }

    .intercom-messenger-open & {
      @media (max-width: $xxl + $intercom-width) { @content; }
    }
  }
}

// filetree nesting
@mixin depth($depth: 1) {
  $chain: '';
  $item-offset: 15px;
  $nested-offset: $item-offset*$depth - $item-offset/3;
  $input-offset: 229px - $depth*$item-offset;

  @for $i from 0 to $depth {
    $chain: $chain + ' > ul > li';
  }

  & #{$chain} {
    text-indent: $nested-offset;

    &.folder::after {
      left: $nested-offset + 5px; // tweaking this
    }

    > a > .tree-input {
      width: $input-offset;

      //- alternate width if within modal
      .modal-edit & {
        width: $input-offset - 61px;
      }
    }
  }
}