// scss-lint:disable ImportantRule
// responsive utils
.visible-xxxs,
.visible-xxs,
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg,
.visible-xl {
  display: none;
}

.visible-xxxs {
  @include media(xxxs) {
    display: inherit;
  }
}

.visible-xxs {
  @include media(xxs) {
    display: inherit;
  }
}

.visible-xs {
  @include media(xs) {
    display: inherit;
  }
}

.visible-sm {
  @include media(sm) {
    display: inherit;
  }
}

.visible-md {
  @include media(md) {
    display: inherit;
  }
}

.visible-lg {
  @include media(lg) {
    display: inherit;
  }
}

.visible-xl {
  @include media(xl) {
    display: inherit;
  }
}

.hidden-xxxs {
  @include media(xxxs) {
    display: none !important;
  }
}

.hidden-xxs {
  @include media(xxs) {
    display: none !important;
  }
}

.hidden-xs {
  @include media(xs) {
    display: none !important;
  }
}

.hidden-sm {
  @include media(sm) {
    display: none !important;
  }
}

.hidden-md {
  @include media(md) {
    display: none !important;
  }
}

.hidden-lg {
  @include media(lg) {
    display: none !important;
  }
}

.hidden-xl {
  @include media(xl) {
    display: none !important;
  }
}
