// headings
h1,
h2,
h3,
h4 {
  font-weight: 500;
  line-height: 1.1;
  margin: 0;

  &.header-thin {
    font-weight: 300;
  }
}

.h1 {
  font-size: 60px;

  @include media(sm) {
    font-size: 54px;
  }

  @include media(xs) {
    font-size: 48px;
  }

  @include media(xxs) {
    font-size: 36px;
  }
}

.h2 {
  font-size: 48px;

  @include media(sm) {
    font-size: 36px;
  }
}

.h3 {
  font-size: 27px;

  @include media(sm) {
    font-size: 24px;
  }

  @include media(xs) {
    font-size: 21px;
  }

  @include media(xxs) {
    font-size: 18px;
  }
}

.h4 {
  font-size: 18px;
}


small,
.small {
  font-size: 12px; // percentage was unreliable
  font-weight: 300; // reset if within header tags
}

input ~ small {
  margin-left: 12px; // match input padding
}

// override ace
.pre {
  background: none;
  font-family: 'Source Code Pro', monospace !important;
  font-size: 14px !important;
  font-weight: 400;
  line-height: 1.4 !important;
  white-space: pre;
}

.sub-header {
  color: $gray;
  font-size: 14px;
  font-weight: 300;
}

// links
.link {
  color: $gray-dark;
  text-decoration: none;

  &:hover {
    color: $gray-darker;
    cursor: pointer;
    text-decoration: none;
  }

  &:active {
    color: $gray-darkest;
    text-decoration: none;
    transform: translate(0,1px,0); // only works if inline-block
  }
}

.link-white {
  color: $white;

  &:hover,
  &:active {
    color: $white;
  }
}

.link-gray {
  color: $gray;

  &:hover,
  &:active {
    color: $gray-dark;
  }
}

.link-text {
  text-decoration: underline;
}

.link-secondary {
  color: $gray;
  display: table;
  font-size: 14px;
  margin: 0 auto;
}

.link-reference {
  font-size: 12px;
  vertical-align: text-top;
}

// single line overflow
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// ul.list-text
.list-text {
  list-style-type: circle;
  margin: 12px;
  padding: inherit;
}

// alignment
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

// colors
.text-blue {
  color: $blue;
}

.text-green {
  color: $green;
}

.text-orange {
  color: $orange;
}

.text-purple {
  color: $purple;
}

// block quote
.block-quote {
  border-left: 3px solid;
  display: block;
  font-size: 16px;
  line-height: 1.4;
  margin: 15px auto;
  max-width: 600px;
  padding-left: 15px;
  text-align: left;
  text-decoration: none;

  @include media(xs) {
    margin: 15px 15px 30px;
  }

  .gravatar {
    float: left;
    margin-right: 6px;
  }

  .iconnables {
    float: left;
    height: 18px;
    left: -2px;
    top: -1px;
    width: 18px;
  }

  .small {
    display: block;
    height: 18px;
    line-height: 18px;
    margin-top: 3px;
  }
}