// colors
$black: #000;
$white: #fff;

$gray-lightest: #f6f6f6;
$gray-lighter: #ccc;
$gray-light: #aaa;
$gray: #888;
$gray-dark: #555;
$gray-darker: #3a3a3a;
$gray-darkest: #222;

$green: #3ccb5a;
$green-light: #2bd94f;
$green-lighter: lighten($green-light,7);
$green-dark: darken($green,6%);
$green-darker: darken($green,12%);

$purple: #5b3777;
$purple-logo: #ccadd2;
$purple-lighter: lighten($purple,20%);
$purple-light: lighten($purple,15%);
$purple-dark: darken($purple,10%);
$purple-darker: darken($purple,20%);

$orange: #f9c029;
$orange-lighter: lighten($orange,13);
$orange-light: #ffca3b;
$orange-dark: darken($orange,9%);
$orange-darker: darken($orange,18%);

$blue: #2ab0f6;
$blue-dark: darken($blue,6%);

// spinner vars
$spinner-offset: 187;
$spinner-duration: 1.4s;

// z-indexes
// overrides
$z-hide: -10000;
$z-show: 10000;

// hero
$z-hero-aura: 1000;
$z-hero-layers: 1000; // remove this after merge w/ SAN-548
$z-hero-content: 1001;
$z-hero-list: 1002;
$z-hero-list-content: 1003;

// views
$z-views: 2000;
$z-views-explorer: 2001;
$z-views-toggle: 2002;
$z-views-embed-video: 2003;
$z-views-embed-guide: 2004;
$z-views-embed-close: 2005;
$z-views-active-panel: 2006;

// boxes
$z-box: 3000;

// sidebars
$z-sidebar: 4000;
$z-sidebar-content: 4001;
$z-sidebar-header: 4002;
$z-sidebar-footer: 4003;

// guides
$z-guide: 6000;

// modals
$z-modal-backdrop: 7000;
$z-modal: 7001;

// popovers
$z-popover: 8000;
$z-popover-title-filter: 8001;
$z-popover-context-menu: 8002;
$z-popover-content: 8003;
$z-popover-title: 8004;

// alerts
$z-alert: 9000;

// tooltips
$z-tooltip: 10000;

// spinners
$z-spinner: 11000;
