// colors
$black: #000;
$white: #fff;

$gray-lighterest: #f7f7f7;
$gray-lightest: #f0f0f0;
$gray-lighter: #dbdbdb;
$gray-light: #bbb;
$gray: #888;
$gray-dark: #555;
$gray-darker: #333;

$green: #3ccb5a; // #1DD156
$green-light: #2bd94f;
$green-lighter: #e8ffed;
$green-dark: darken($green,6%);
$green-darker: darken($green,12%);

$purple: #5b3777;
$purple-logo: #ccadd2;
$purple-light: #834fab;
$purple-lighter: #b6a6bd;
$purple-lightest: #eee1f7; // was #f3ecf9 in SAN-1069-setup
$purple-dark: darken($purple,10%);
$purple-darker: darken($purple,20%);

$orange: #f2ae24;
$orange-light: #f7c457;
$orange-lighter: #ffd87d;
$orange-dark: darken($orange,9%);
$orange-darker: darken($orange,12%);

$red: #f25058;
$red-light: #ef737f;
$red-lighter: #fde6e9;
$red-dark: desaturate(darken($red,10),7);

$blue: #0ca6f2; // previously #2ab0f6;
$blue-light: #8bd5f9; // previously #86cff6;
$blue-lighter: #f5fcff; // previously #f1faff;
$blue-dark: #1e7daf;

// spinner vars
$spinner-offset: 187;
$spinner-duration: 1.4s;

// z-indexes
// overrides
$z-hide: -10000;
$z-show: 10000;

// hero
$z-hero-aura: 1000;
$z-hero-content: 1001;
$z-hero-list: 1002;
$z-hero-list-content: 1003;

// views
$z-views: 2000;
$z-views-explorer: 2001;
$z-views-toggle: 2002;
$z-views-embed-video: 2003;
$z-views-embed-guide: 2004;
$z-views-embed-close: 2005;
$z-views-active-panel: 2006;

// sidebars
$z-sidebar: 3000;
$z-sidebar-content: 3001; // header and footer are higher for box-shadows
$z-sidebar-header: 3002;
$z-sidebar-footer: 3003;

// guides
$z-guide: 4000;

// modals
$z-modal-backdrop: 5000;
$z-modal-aside: 5001;
$z-modal: 5002;

// popovers
$z-popover: 6000;
$z-popover-title-filter: 6001;
$z-popover-context-menu: 6002;
$z-popover-content: 6003;
$z-popover-title: 6004;
$z-popover-overlay: 6005;
$z-popover-fixed: 6006;

// alerts
$z-alert: 7000;

// tooltips
$z-tooltip: 8000;

// spinners
$z-spinner: 9000;
