// **********
// font stack
// **********
$monospace: 'Source Code Pro', monospace;
$sans-serif: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
$weight-bold: 500;
$weight-normal: 400;
$weight-light: 300;

// ******
// colors
// ******

$black: #000;
$white: #fff;

$gray-lighterest: #fafafa;
$gray-lightest: #f3f3f3;
$gray-lighter: #e6e6e6;
$gray-light: #bbb;
$gray: #888;
$gray-dark: #555;
$gray-darker: #222;

$green: #3ccb5a; // #1DD156
$green-light: #2bd94f;
$green-lighter: #e8ffed;
$green-dark: #5fd377;
$green-darker: #2a9f43; // darken($green,12%);
$green-darkest: #09200e;

$purple: #71438f;
$purple-logo: #ccadd2;
$purple-light: #834fab;
$purple-lighter: #b6a6bd;
$purple-lightest: #eee1f7;
$purple-dark: #402754; // darken($purple,10%);
$purple-darker: #261731; // darken($purple,20%);
$purple-darkest: #1b0f24;
$purple-blue: #475496; // blend of purple and blue

// from marketing
$purple-faded: #866f98;
$purple-light-faded: #f8f5fc;

// purple ace theme
$ace-bg: #311d40;
$ace-border: $purple-darker;

$orange: #f5a11b;
$orange-light: #fcb85d;
$orange-lighter: #ffc880;
$orange-lightest: #fff2d9;
$orange-dark: #db970d; // darken($orange,9%);
$orange-darker: #cd8d0c; // darken($orange,12%);
$orange-darkest: #3d2b05;

$red: #f25058;
$red-light: #ef737f;
$red-lighter: #fde6e9;
$red-dark: #e62932; // desaturate(darken($red,10),7);
$red-darker: darken($red-dark,10%);

$blue: #0ca6f2; // previously #2ab0f6;
$blue-light: #8bd5f9; // previously #86cff6;
$blue-lighter: #f5fcff; // previously #f1faff;
$blue-dark: #0a9be2;

// **********
// log themes
// **********

// list all colors (9)
// scss-lint:disable ColorVariable
$logs-runnable: black red green yellow blue magenta cyan light-gray white;
// scss-lint:enable ColorVariable

// dark colors
$logs-runnable-dark-black: $black;
$logs-runnable-dark-red: #df4f3e;
$logs-runnable-dark-green: #8ae234;
$logs-runnable-dark-yellow: #db970d;
$logs-runnable-dark-blue: #729fcf;
$logs-runnable-dark-magenta: #ad7fa8;
$logs-runnable-dark-cyan: #34e2e2;
$logs-runnable-dark-light-gray: #bbb;
$logs-runnable-dark-white: $white;

// dark list
$logs-runnable-dark: $logs-runnable-dark-black $logs-runnable-dark-red $logs-runnable-dark-green $logs-runnable-dark-yellow $logs-runnable-dark-blue $logs-runnable-dark-magenta $logs-runnable-dark-cyan $logs-runnable-dark-light-gray $logs-runnable-dark-white;

// light colors
$logs-runnable-light-black: $black;
$logs-runnable-light-red: #df4f3e;
$logs-runnable-light-green: #91cb58;
$logs-runnable-light-yellow: #c5a200;
$logs-runnable-light-blue: #3465a4;
$logs-runnable-light-magenta: #ad7fa8;
$logs-runnable-light-cyan: #2bd0d0;
$logs-runnable-light-light-gray: #bbb;
$logs-runnable-light-white: $white;

// light list
$logs-runnable-light: $logs-runnable-light-black $logs-runnable-light-red $logs-runnable-light-green $logs-runnable-light-yellow $logs-runnable-light-blue $logs-runnable-light-magenta $logs-runnable-light-cyan $logs-runnable-light-light-gray $logs-runnable-light-white;

// ********
// spinners
// ********

$spin-rate: .5s;
$spinner-offset: 187;
$spinner-duration: 1.4s;

// *******
// z-index
// *******

// overrides
$z-hide: -10000;
$z-show: 10000;

// views
$z-views: 1000;
$z-views-active-panel: 1001;
$z-views-sidebar: 1002;

// modals
$z-modal-backdrop: 2000;
$z-modal: 2001;

// popovers
$z-popover: 3000;
$z-popover-context-menu: 3001;
$z-popover-content: 3002;
$z-popover-fixed: 3003;
$z-popover-arrow: 3004;

// alerts
$z-alert: 4000;

// tooltips
$z-tooltip: 5000;

// spinners
$z-spinner: 6000;

// **********
// dimensions
// **********

// layout
$layout-navigation-width: 90px;
$instance-list-width: 300px;

// header
$header-height: 60px;

// screen sizes
$screen-xxxs: 350px;
$screen-xxs: 400px;
$screen-xs: 600px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1440px;
$screen-xl: 1920px;

$screen-size-list: xl lg md sm xs xxs xxxs;
$screen-sizes: $screen-xl $screen-lg  $screen-md $screen-sm  $screen-xs $screen-xxs $screen-xxxs;

// logs & terminal
$terminal-line-height: 19px;

// button/input sizes
$input-border: 1px;
$input-border-lg: 2px;
$input-border-radius: 3px;
$input-border-radius-lg: 6px;

$input-lg: 54px;
$input-line-height-lg: $input-lg - ($input-border * 2);

$input-md: 42px;
$input-line-height-md: $input-md - ($input-border * 2);

$input-sm: 36px;
$input-line-height-sm: $input-sm - ($input-border * 2);

$input-xs: 24px;
$input-line-height-xs: $input-xs - ($input-border * 2);

$input-xxs: 18px;
$input-line-height-xxs: $input-xxs - ($input-border * 2);

// margin/padding sizes
$none: 0;
$xxs: 9px;
$xs: 12px;
$sm: 15px;
$md: 30px;
$lg: 45px;
$xl: 60px;

$size-directions: top right bottom left;
$size-list: none xxs xs sm md lg xl;
$sizes: $none, $xxs, $xs, $sm, $md, $lg, $xl;
