label.label.clearfix
  .label-col Build Command

  .input-col
    fancy-select(
      ng-disabled = "startCommandCanDisable && !state.selectedStack.selectedVersion"
      ng-required = "true"
      placeholder = "Build command"
      show-dropdown = "state.selectedStack.startCommand"
      type = "text"
      value = "state.startCommand"
    )
      li.list-item.popover-list-item.small Suggested build command
      fancy-option(
        value = "$parent.state.selectedStack.startCommand"
      ) {{$parent.$parent.state.selectedStack.startCommand}}

    small.small Specify the commands to be executed when your container is built and before it is launched. #{''}
      a.link(
        href = "//docs.docker.com/reference/builder/#cmd"
        target = "_blank"
      ) More about the build command