label.label.clearfix
  .label-col Start Command
  .input-col
    fancy-select(
      ng-disabled = "!currentModel.selectedStack"
      placeholder = "Start command"
      show-dropdown = "currentModel.selectedStack.startCommand"
      type = "text"
      value = "currentModel.selectedStack.selectedCommand"
    )
      li.list-item.popover-list-item.small Suggested Start Command
      fancy-option(
        value = "$parent.currentModel.selectedStack.startCommand"
      ) {{$parent.$parent.currentModel.selectedStack.startCommand}}

    small.small This is the command that will start your application. #{''}
      a.link(
        href = "//docs.docker.com/reference/builder/#cmd"
        target = "_blank"
      ) More about the start command