label.label.clearfix
  .label-col Start Command
  .input-col
    fancy-select(
      ng-disabled = "!currentModel.selectedStack"
      placeholder = "start command"
      value = "currentModel.selectedStack.selectedCommand"
      type = "text"
      show-dropdown = "currentModel.selectedStack.startCommand"
    )
      li.list-item.popover-list-item.small Suggested Start Command
      fancy-option(
        value = "$parent.currentModel.selectedStack.startCommand"
      ) {{$parent.$parent.currentModel.selectedStack.startCommand}}
