.modal-backdrop.modal-confirm-setup
  img.img(
    src = "/build/images/runnabear-working.png"
  )
  .modal-dialog.modal-md
    .modal-body
      svg.iconnables.icons-close(
        ng-click = "CMC.actions.cancel()"
      )
        use(
          xlink:href = "#icons-close"
        )
      .grid-block.vertical.padding-md
        h3.grid-content.h3.text-center Is your application set up?
        p.grid-content.p.text-center.text-gray Go back to resolve any configuration issues or to add any other templates. Need more help? Head over to our&#32;
          a.link(
            href = "https://support.runnable.com/"
            target = "_blank"
          ) docs
          | &#32;or&#32;
          //- Opens Intercom chat, and starts with "I need help setting up!":
          a.link(
            ng-click = "$root.$broadcast('intercom::confirmedSetup')"
          ) chat
          | &#32;with our devs.
        p.grid-content.p.text-center.text-gray If you’re done, continue to the Containers page.
    footer.modal-footer.clearfix
      button.btn.btn-md.btn-cancel.gray.float-left(
        ng-click = "CMC.actions.cancel()"
      ) Go Back
      button.btn.btn-md.green.float-right(
        ng-click = "CMC.actions.confirm()"
      ) Continue
