.modal-backdrop.in
  .modal-dialog.modal-sm.modal-alert
    header.modal-body
      p.p.strong Are you sure you want to delete this service?
      p.p All containers that belong to this service will be deleted. This cannot be undone.
    footer.modal-footer.clearfix
      button.btn.btn-sm.gray.float-left(
        ng-click = "CMC.actions.cancel()"
      ) Cancel
      button.btn.btn-sm.red.float-right(
        ng-click = "CMC.actions.confirm()"
      ) Delete Service
