.modal-backdrop.in
  .modal-dialog.modal-alert(
    ng-if = "!CMC.hasInstance"
  )
    header.modal-body
      p.p.strong Are you sure you want to discard your changes and exit?
    footer.modal-footer.clearfix
      button.btn.btn-sm.gray.float-left(
        ng-click = "CMC.actions.goBack()"
      ) Cancel
      button.btn.btn-sm.red.float-right(
        ng-click = "CMC.actions.discardChanges()"
      ) Discard and Exit

  .modal-dialog.modal-alert(
    ng-if = "CMC.hasInstance"
  )
    header.modal-body
      p.p.strong You’ve made changes since your last build. Do you want to save your changes before closing?
    footer.modal-footer.clearfix
      button.btn.btn-sm.gray.float-left(
        ng-click = "CMC.actions.goBack()"
      ) Go Back
      button.btn.btn-sm.gray.float-right(
        ng-click = "CMC.actions.saveAndBuild()"
        ng-class = "{'disabled': CMC.shouldDisableSave}"
        tooltip = "You can’t save because you’ve made an invalid change."
        tooltip-options = "{\"class\":\"top no-arrow\",\"right\":0,\"top\":42}"
        tooltip-disabled = "!CMC.shouldDisableSave"
      ) Save & Build
      button.btn.btn-sm.red.float-right(
        ng-click = "CMC.actions.discardChanges()"
      ) Discard
