.modal-dialog.modal-confirm(
  ng-click = "$event.stopPropagation()"
)
  section.modal-body
    p.modal-description You'll lose all changes you've made to your dockerfile (ever).

  footer.modal-footer
    button.btn.orange(
      ng-click = "defaultActions.cancel()"
    ) Disable advanced config
    button.btn.white.btn-cancel(
      ng-click = "defaultActions.cancel()"
    ) Cancel