button.btn.btn-sm.gray(
  toggle-pop-over
  toggle-pop-over-model = "item.state.envShow"
  toggle-pop-over-no-broadcast = "true"
  tooltip = "Edit Environment"
  tooltip-options = "{\"class\":\"bottom\",\"left\":9,\"top\":27}"
  type = "button"
) env
pop-over(
  actions = "envPopover.actions"
  data = "item"
  popover-options = "{\"left\":-149,\"top\":54}"
  popover-ready = "item.state.envShow"
  template = "viewPopoverEnvironment"
)