//- data is an instance
.popover.bottom.popover-environment(
  ng-class = "{in: data.state.envShow}"
  ng-click = "$event.stopPropagation()"
)
  .arrow.white
  .popover-content
    h3.popover-title Environment Variables
  section.inset.in
    .list
      label.input-group.with-description(
        ng-class = "{focus: data.state.showFocus}"
        ng-repeat = "env in data.state.envVars"
      )
        span.input-description.text-overflow(
          title = "{{ env.key}}"
        ) {{ env.key }}
        input.input(
          ng-blur = "data.state.showFocus = false"
          ng-focus = "data.state.showFocus = true"
          ng-model = "env.value"
        )
  footer.popover-footer
    button.btn.btn-sm.green(
      ng-click = "actions.saveEnv(data.instance, $event)"
    ) Save
    button.btn.btn-sm.white(
      ng-click = "actions.cancelEnv(data.instance, $event)"
    ) Cancel
