.popover.popover-tooltip.bottom(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  small.small To connect to mavis, use its&#32;
    a.link Repository&nbsp;URL
    | &#32;instead.
