.popover.popover-tooltip.wide.bottom(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  small.small To connect to mavis, use its Repository URL instead. What’s a&#32;
    a.link Repository URL?
      svg.iconnables.icons-link-external
        use(
          xlink:href = "#icons-link-external"
        )
