nav.grid-block.shrink.align-center.justify-center.well.margin-sm.nav
  ol.grid-block
    li.grid-block.align-center.justify-center.small.text-gray.li.padding-xxs.active Create
    li.grid-block.align-center.justify-center.small.text-gray.li.padding-xxs.active Authorize
    li.grid-block.align-center.justify-center.small.text-gray.li.padding-xxs.active Fork

.grid-block.vertical.align-center.padding-lg.padding-top-md.text-center
  h1.h1 Choose one.
  p.margin-top-sm.p.weight-light We’ll use your new GitHub organization to create your demo app.
