nav.grid-block.shrink.align-center.justify-center.well.margin-sm.nav
  ol.grid-block
    li.grid-block.align-center.justify-center.small.text-gray.li.padding-xxs.active Create
    li.grid-block.align-center.justify-center.small.text-gray.li.padding-xxs Authorize
    //- this ng-click is for testing only
    li.grid-block.align-center.justify-center.small.text-gray.li.padding-xxs(
      ng-click = "goToPanel('stackType')"
    ) Fork

.grid-block.vertical.align-center.padding-sm.padding-top-md.text-center
  h1.h1 Create a demo organization.
  p.margin-top-sm.p.weight-light We’ll use your new GitHub organization to create your demo app.

  //- hide after clicked
  a.grid-block.align-center.justify-center.shrink.btn.btn-md.green.margin-top-md(
    href = "https://github.com/organizations/new"
    ng-click = "state.clickedCreate = true"
    target = "_blank"
  )
    svg.iconnables.margin-right-xxs(
      ng-if = "!$root.isLoading.grantAccess"
    )
      use(
        xlink:href = "#icons-octicons-github"
      )
    | Create Organization
    svg.iconnables.icons-link-external.text-white
      use(
        xlink:href = "#icons-link-external-alt"
      )

  .well.gray.align-center.small.padding-xs.margin-top-md(
    ng-if = "state.clickedCreate"
  ) Continue if you’ve successfully created an org&#32;
    a.link(
      href = "https://github.com/settings/connections/applications/d42d6634d4070c9d9bf9"
      ng-click = "COMC.grantAccess()"
      target = "_blank"
    ) on GitHub
    | .
    button.grid-block.align-center.shrink.btn.btn-md.btn-cancel.gray.margin-top-sm(
      ng-if = "state.clickedCreate"
    ) I created an org!
    a.link I need some help.
