.modal-backdrop.in(
  ng-click = "$event.stopPropagation()"
  ng-if = "in"
)
   modal-integrations(
     actions = "actions"
     current-model = "currentModel"
     data = "data"
     default-actions = "defaultActions"
     state-model = "stateModel"
   )