.modal-dialog.modal-sidebar.modal-integrations
  nav.modal-navbar
    ul.list
      li.list-item.small Organizations
      //- .active on current org
      li.list-item.btn.white.text-overflow(
        ng-class = "{active: data.user === data.modalActiveAccount }"
        ng-click = "actions.setActive(data.user)"
      )
        img.gravatar(
          height = "18"
          ng-src = "{{ data.user.gravitar() }}"
          width = "18"
        )
        | {{ data.user.oauthName() }}
      li.list-item.btn.white.text-overflow(
        ng-class = "{active: org === data.modalActiveAccount}"
        ng-click = "actions.setActive(org)"
        ng-repeat = "org in data.orgs.models"
      )
        img.gravatar(
          height = "18"
          ng-src = "{{ org.gravitar() }}"
          width = "18"
        )
        | {{ org.oauthName() }}
  main.modal-body
    form.form.clearfix(
      name = "slackForm"
    )
      .col
        img(
          src = "/build/images/logos/logo-slack.svg"
        )
      .col
        label.input-group.input-validate(
          ng-class = "{\
            focus: slackForm.slackApiToken.showFocus,\
            'ng-invalid': slackForm.slackApiToken.$invalid && !slackForm.slackApiToken.$pristine,\
            'ng-valid': slackForm.slackApiToken.$valid\
          }"
        )
          span.input-label API Token
          input.input(
            autocomplete = "off"
            name = "slackApiToken"
            ng-blur = "slackForm.slackApiToken.showFocus = false"
            ng-focus = "slackForm.slackApiToken.showFocus = true"
            ng-model = "data.settings.notifications.slack.apiToken"
          )
        label.input-group.input-validate(
          ng-class = "{\
            focus: slackForm.slackChannel.showFocus,\
            'ng-invalid': slackForm.slackChannel.$invalid && !slackForm.slackChannel.$pristine,\
            'ng-valid': slackForm.slackChannel.$valid\
          }"
        )
          span.input-label Channel
          input.input(
            autocomplete = "off"
            name = "slackChannel"
            ng-blur = "slackForm.slackChannel.showFocus = false"
            ng-focus = "slackForm.slackChannel.showFocus = true"
            ng-model = "data.settings.notifications.slack.channel"
          )
        a.link-gray.link-reference(
          href = "//slack.com/services/new/bot"
          target = "_blank"
        ) Create bot on Slack
        button.btn.green(
          type = "button"
          ng-click = "actions.saveSlack()"
        ) Save
    form.form.clearfix(
      name = "slackUserForm"
    )
      .col
        img(
          src = "/build/images/logos/logo-slack.svg"
        )
      .col
        label.input-group.input-validate(
          ng-class = "{\
            focus: slackUserForm.slackUser.showFocus,\
            'ng-invalid': slackUserForm.slackUser.$invalid && !slackUserForm.slackUser.$pristine,\
            'ng-valid': slackUserForm.slackUser.$valid\
          }"
        )
          span.input-label Enable private messages
          input.input(
            type = "checkbox"
            name = "slackUser"
            ng-blur = "slackUserForm.slackUser.showFocus = false"
            ng-focus = "slackUserForm.slackUser.showFocus = true"
            ng-model = "data.slackUserAccount.enabled"
          )
        label.input-group.input-validate(
          ng-class = "{\
            focus: slackUserForm.slackUser.showFocus,\
            'ng-invalid': slackUserForm.slackUser.$invalid && !slackUserForm.slackUser.$pristine,\
            'ng-valid': slackUserForm.slackUser.$valid\
          }"
        )
          span.input-label Your slack username
          input.input(
            autocomplete = "off"
            name = "slackUser"
            ng-blur = "slackUserForm.slackUser.showFocus = false"
            ng-focus = "slackUserForm.slackUser.showFocus = true"
            ng-model = "data.slackUserAccount.name"
          )
        button.btn.green(
          type = "button"
          ng-click = "actions.saveSlackUsername()"
        ) Save
    hr.hr
    form.form.clearfix(
      name = "hipchatForm"
    )
      .col
        img(
          src = "/build/images/logos/logo-hipchat.svg"
        )
      .col
        label.input-group.input-validate(
        ng-class = "{\
            focus: hipchatForm.roomInput.showFocus,\
            'ng-invalid': hipchatForm.roomInput.$invalid && !hipchatForm.roomInput.$pristine,\
            'ng-valid': hipchatForm.roomInput.$valid\
          }"
        )
          span.input-label Room
          input.input(
            autocomplete = "off"
            ng-blur = "hipchatForm.roomInput.showFocus = false"
            ng-focus = "hipchatForm.roomInput.showFocus = true"
            name = "roomInput"
            ng-model = "data.settings.notifications.hipchat.roomId"
          )
        label.input-group.input-validate(
          ng-class = "{\
              focus: hipchatForm.tokenInput.showFocus,\
              'ng-invalid': hipchatForm.tokenInput.$invalid && !hipchatForm.tokenInput.$pristine,\
              'ng-valid': hipchatForm.tokenInput.$valid\
            }"
        )
          span.input-label Token
          input.input(
            autocomplete = "off"
            ng-blur = "hipchatForm.tokenInput.showFocus = false"
            ng-focus = "hipchatForm.tokenInput.showFocus = true"
            name = "tokenInput"
            ng-model = "data.settings.notifications.hipchat.authToken"
          )
        a.link-gray.link-reference(
          href = "//hipchat.com/admin/api"
          target = "_blank"
        ) Create a token on Hipchat
        button.btn.green(
          type = "button"
          ng-click = "actions.saveHipChat()"
        ) Save
    footer.modal-footer
      button.btn.white(
        ng-click = "defaultActions.cancel()"
        type = "button"
      ) Done
