button.toggle-theme(
  ng-class = "{ \
    dark: !colorScheme.isDarkScheme(), \
    light: colorScheme.isDarkScheme() \
  }"
  ng-click = "colorScheme.toggleScheme()"
  tooltip = "Change Theme"
  tooltip-options = "{\"class\":\"bottom\",\"left\":11,\"top\":36}"
)
  .theme
ul.tabs
  li.tab-wrapper(
    ng-class = "{\
      'active': item.state.active,\
      'dirty': (item.state.isDirty), \
      'always-open': item.state.alwaysOpen\
    }"
    ng-click = "openItems.activeHistory.add(item); \
      openItems.saveState();"
    ng-repeat = "item in openItems.models"
  )
    span.tab-name(
      title = "{{ item.filepath() }}"
    ) {{ item.attrs.name  }}
    .icons-dirty *
    button.btn-icon(
      ng-click = "openItems.remove(item);\
        $event.stopPropagation();"
      ng-if = "!item.state.alwaysOpen"
    )
      svg.iconnables.icons-close
        use(xlink:href = "#icons-close")
