.container
  .row
    ul
      li
        a(href = "/publish") API Providers
      li
        a(href = "/about") About Us
      li
        a(href = "//twitter.com/getrunnable") Twitter
      li
        a(href = "/jobs") Jobs
      li
        a(href   = "//status.runnable.com"
          target = "_blank") Status
      li
        a(href = "//support.runnable.com") Support
      li
        a(href = "/privacy") Privacy
  small.row &copy; 2014 Runnable