.popover.menu.bottom.fade(
  ng-class = "{in: data.show}"
)
  .arrow
  h3.popover-title Choose Config
  .popover-content
    form.search.check-valid
      input.form-control(
        ng-model = "data.filter"
        ng-keyup = "$event.keyCode === 13 && actions.createNewEnvironment($event)"
        placeholder = "Filter or Create Configs"
        required
      )
      button.submit
        svg.iconnables.icons-search
          use(xlink:href = "#icons-search")
      button.add
        svg.iconnables.icons-add
          use(xlink:href = "#icons-add")
    ul.popover-body.popover-list
      li(
        ng-repeat = "env in data.environments.models | filter:{attrs: {name: data.filter}}"
      ) {{ env.attrs.name }}
        button.btn-icon.delete(type = "button")
          svg.iconnables.icons-close
            use(xlink:href = "#icons-close")
