.arrow
h3.popover-title Choose Recipe
.popover-content
  .search
    input.form-control(
      placeholder = "Filter or Create Recipe"
      required
    )
    button.submit
      object(
        data = "/build/images/icons/icons-search.svg"
        type = "image/svg+xml"
      )
    button.add
      object(
        data = "/build/images/icons/icons-add.svg"
        type = "image/svg+xml"
      )
  ul.popover-body.popover-list
    li
      a Master
    li
      a Branch 2
    li
      a Branch 3