.arrow
h3.popover-title Choose Recipe
.popover-content
  form.search.check-valid
    input.form-control(
      ng-model = "dataBuildList.popoverChangeRecipe.filter"
      placeholder = "Filter or Create Recipe"
      required
    )
    button.submit
      object(
        data = "/build/images/icons/icons-search.svg"
        type = "image/svg+xml"
      )
    button.add
      object(
        data = "/build/images/icons/icons-add.svg"
        type = "image/svg+xml"
      )
  ul.popover-body.popover-list
    li
      a Main
    li
      a Recipe 2
    li
      a Recipe 3
