.arrow
h3.popover-title Choose Config
.popover-content
  form.search.check-valid
    input.form-control(
      ng-model = "dataBuildList.popoverChangeRecipe.filter"
      placeholder = "Filter or Create Configs"
      required
    )
    button.submit
      svg.iconnables.icons-search
        use(xlink:href = "#icons-search")
    button.add
      svg.iconnables.icons-add
        use(xlink:href = "#icons-add")
  ul.popover-body.popover-list
    li
      a Main
        button.delete(type = "button")
          span Delete
          span.glyphicons.circle-remove
    li
      a Configs 2
        button.delete(type = "button")
          span Delete
          span.glyphicons.circle-remove
    li
      a Configs 3
        button.delete(type = "button")
          span Delete
          span.glyphicons.circle-remove
