//- .browser-loading to toggle refresh/stop icon
//- .browser-loading is also required for the progress bar, so remove it when loading is complete
//- nav buttons removed until we can resolve cross-origin issues
nav.browser-chrome
  //- select all text on click
  //- inline styles with apologies to Tony
  a(
    ng-href = "{{ data.iframeUrl }}"
    target = "_blank"
    style = "width: 100%"
  )
    input.form-control(
      placeholder = "Enter an address"
      readonly
      value = "{{ data.iframeUrl }}"
      style = "width: inherit"
    )
  //- style="-webkit-transform: scale3d(%,1,1); transform: scale3d(%,1,1);" to move progress bar--% is the total progress out of 1.00
  //- http://caniuse.com/#search=transform (Current and previous versions, July 2014):
  //- * chrome 35
  //- * safari 6.1, 7, 8
  //- * android 4.2, 4.3, 4.4
  .progress
//- box log and terminal tab should open by default
iframe(
  ng-src = "{{ data.iframeUrl }}"
)