.primary-actions
  //- remove .orange, add .green when validation passes
  button(
    ng-class = "{ \
      orange: (!valid || !name), \
      green: (valid && name) \
    }"
    ng-click = "buildAndAttach()"
    ng-disabled = "loading || !valid || !name"
  ) Create Box
