.primary-actions
  //- remove .orange, add .green when validation passes
  button.btn(
    ng-class = "{ \
      orange: (!isNameValid || !isDockerFileValid), \
      green: (isNameValid && isDockerFileValid) \
    }"
    ng-click = "buildAndAttach()"
    ng-disabled = "!data.build || loading || !isNameValid || !isDockerFileValid"
  ) Create Server
