.primary-actions
  //- remove .orange, add .green when validation passes
  button(
    ng-class = "{ \
      orange: !newForm.$valid, \
      green: newForm.$valid \
    }"
    ng-click = "buildAndAttach()"
    ng-disabled = "loading || !valid"
  ) Create Box
