.popover.bottom.menu.context-menu(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
)
  .popover-content
    ul.list.popover-list
      li.list-item.popover-list-item.small Repository Details
      li.list-item.popover-list-item.multi-line.list-info
        .row.clearfix
          svg.iconnables
            use(
              xlink:href = "#icons-branch"
            )
          | branch-name
        .row.clearfix
          svg.iconnables
            use(
              xlink:href = "#icons-commit"
            )
          | commit-hash
      li.divider
      li.list-item.popover-list-item
        svg.iconnables.icons-file-tree
          use(
            xlink:href = "#icons-repository-delete"
          )
        | Delete Repository