//- *
//- coach marks
//- *
//- box name mark
.guide.guide-mark(
  ng-class = "{in: !!coachMarkData}"
  ng-click = "$event.stopPropagation()"
  ng-hide = "coachMarkData.hideMark"
  ng-model = "coachMarkData"
  ng-style = "coachMarkData.getStyle()"
  toggle-pop-over
  toggle-pop-over-model = "coachMarkData.show"
)
  svg.iconnables.icons-star
    use(
      xlink:href = "#icons-star"
    )
  pop-over(
    data = "coachMarkData"
    popover-ready = "coachMarkData.show"
    popover-options = "{\"left\":-126,\"top\":33}"
    template = "{{template}}"
  )