.guide.guide-mark(
  ng-hide = "coachMarkData.hideMark"
  ng-model = "coachMarkData"
  ng-style = "coachMarkData.getStyle()"
  pop-over
  pop-over-data = "coachMarkData"
  pop-over-options = "{\"left\":-138,\"top\":33}"
  pop-over-active = "coachMarkData.show"
  pop-over-template = "{{coachMarkTemplate}}"
)
  svg.iconnables.icons-star
    use(
      xlink:href = "#icons-star"
    )