nav.row

  a#logo(href = "/")
    span
    sup &lt;beta&gt;

  #header-actions
    span#user.menu(ng-init = "userMenu=true"
                   ng-if   = "userMenu")
      a
        img(src    = "{{headerActionsData.user.gravitar}}"
            alt    = "{{headerActionsData}}"
            height = "18"
            width  = "18")
      ul
        li
          a(href = "/user/{{username}}")
            |Profile
            img(src    = "{{gravitar}}"
                alt    = "{{username}}"
                height = "18"
                width  = "18")
        li
          a(href = "/logout")
            |Log Out
            span.glyphicons.exit