h1 HI TESTING
nav.row
  .col-sm-4
    a#logo(href = "/")
      span
      sup &lt;beta&gt;

  //- <nav class="row">
  //-   <div class="col-sm-4">
  //-     <a id="logo" href="/">
  //-       <span></span>
  //-       <sup>&lt;beta&gt;</sup>
  //-     </a>
  //-   </div>
  //-   {{#unless noactions}}
  //-   {{view "header_actions" model=model}}
  //-   {{/unless}}
  //-   {{#unless nosearch}}
  //-      {{view "searchbar" inputclass="form-control" placeholder="Search for code"}}
  //-   {{/unless}}
  //- </nav>
