nav.row

  a#logo(href = "/")
    span
    sup &lt;beta&gt;

  ul
    li codenow

    li(ng-click = "dataHeader.toggleChangeProjectPopover($event)") project-name
      div(ng-class   = "{in: dataHeader.showChangeProject}"
          ng-include = "'viewHeaderPopoverChangeProject'"
          class      = "popover menu bottom fade")
      a.arrow-down

    li(ng-click = "dataHeader.toggleChangeBranchPopover($event)") branch-name
      div(ng-class   = "{in: dataHeader.showChangeBranch}"
          ng-include = "'viewHeaderPopoverChangeBranch'"
          class      = "popover menu bottom fade")
      a.arrow-down

  #header-actions
    span#user.menu(ng-init = "userMenu=true"
                   ng-if   = "userMenu")
      a
        img(src    = "{{headerActionsData.user.gravitar}}"
            alt    = "{{headerActionsData}}"
            height = "18"
            width  = "18")
      ul
        li
          a(href = "/user/{{username}}")
            |Profile
            img(src    = "{{gravitar}}"
                alt    = "{{username}}"
                height = "18"
                width  = "18")
        li
          a(href = "/logout")
            |Log Out
            span.glyphicons.exit
