.popover.bottom.menu.context-menu(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
)
  .popover-content
    ul.popover-list
      li.list-item.popover-list-item(
        ng-if = "data.canUpload"
      )
        svg.iconnables.icons-file-tree
          use(
            xlink:href = "#icons-file-upload"
          )
        | Upload File
        input(
          ngf-change = "actions.uploadFiles($files, $event)"
          ngf-select
          ng-multiple = "true"
          type = "file"
        )
      li.divider(
        ng-if = "data.canUpload"
      )
      li.popover-list-item(
        ng-click = "actions.createFile()"
      )
        svg.iconnables.icons-file-tree
          use(
            xlink:href = "#icons-file-new"
          )
        | New File
      li.popover-list-item(
        ng-click = "actions.createFolder()"
      )
        svg.iconnables.icons-file-tree
          use(
            xlink:href = "#icons-folder-new"
          )
        | New Folder
      li.divider(
        ng-if = "dir.attrs.name !== '/'"
      )
      li.popover-list-item(
        ng-if = "dir.attrs.name !== '/'"
        ng-click = "actions.renameFolder()"
      )
        svg.iconnables.icons-file-tree
          use(
            xlink:href = "#icons-file-modify"
          )
        | Rename
      li.popover-list-item(
        ng-if = "dir.attrs.name !== '/'"
        ng-click = "actions.deleteFolder()"
      )
        svg.iconnables.icons-file-tree
          use(
            xlink:href = "#icons-file-delete"
          )
        | Delete