.popover.bottom.menu.context-menu(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
)
  .popover-content
    ul.popover-list
      li.popover-list-item(
        ng-click = "actions.openFile(data);\
          $event.stopPropagation();"
      )
        svg.iconnables
        | Open
      li.divider
      li.popover-list-item(
        ng-click = "actions.renameFile(data);\
          $event.stopPropagation();"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-file-modify"
          )
        | Rename
      li.popover-list-item(
        ng-click = "actions.deleteFile(data);\
          $event.stopPropagation();"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-file-delete"
          )
        | Delete
