nav.sidebar.global-sidebar.demo-sidebar
  header.row.account-header
    a.logo.logo(
      href = "#"
    )
      svg
        use(
          xlink:href = "#runnable-logo"
        )
  p.sidebar-text Adding a repo requires an #{''}
    b.btn.btn-xxs.white.reversed(
      tooltip = "The ADD instruction copies new files, directories or remote file URLs from <src> and adds them to the filesystem of the container at the path <dest>.[1]"
      tooltip-options = "{\"class\":\"bottom tooltip-definition\",\"left\":6,\"top\":21}"
    ) ADD
    | #{''} instruction which copies your repository files to your box.
  p.sidebar-text We&rsquo;re using your previous template&mdash;change it up if you want.
  button.btn.template-list.white.reversed(
    ng-click = "dataApp.data.showTemplates = true"
  )
    img.template-image(
      alt = "node.js"
      src = "/build/images/icons/templates/icons-node.js.svg"
    )
    h2.template-title node.js
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )
  a.btn.white.reversed(
    href = "/demo4"
  ) Next
  a.link.link-white.link-text(
    href = "/demo2"
  ) Back to adding a repo

main.content
  .guide-backdrop
  header.box-header
    h1.box-info.load
      .box-name demo-name
        span.icons-status(
          ng-class = "running"
          tooltip = "Started just now"
          tooltip-options = "{\"class\":\"bottom\",\"left\":-7,\"top\":12}"
        )
      input.box-url(
        readonly
        select-all
        value = "demo-name.demo.runnable.io"
      )
      //- sets layout on h1.box-name for .box-url
      span.box-name-ghost demo-name.demo.runnable.io

    .primary-actions
      .btn-group
        button.orange(
          ng-click = "build()"
          type = "button"
        ) Build
    .secondary-actions
      button.white(
        ng-click = "goToInstance(true)"
        type = "button"
      ) Discard Changes
      button.white.btn-action(
        modal
        modal-actions = "popoverGearMenu.actions.actionsModalFork"
        modal-data = "popoverGearMenu.data.dataModalFork"
        modal-template = "viewModalForkBox"
        type = "button"
      )
        svg.iconnables.icons-fork
          use(
            xlink:href = "#icons-fork"
          )
        | Fork
      button.btn.white.btn-icon.btn-actions(
        ng-class = "{active: popoverGearMenu.data.show}"
        toggle-pop-over
        toggle-pop-over-model = "popoverGearMenu.data.show"
        type = "button"
      )
        svg.iconnables.icons-gear
          use(
            xlink:href = "#icons-gear"
          )

  //- sidebar with repositories and urls
  section.sidebar.box-sidebar.load
    section.row.repo-list
      h2.sub-header Repositories
        //- add repo button
        a.btn.btn-sm.white.sub-header-action.btn-add-repo(
          ng-class = "{active: repoListPopover.data.show}"
          ng-if = "enabled"
          toggle-pop-over
          toggle-pop-over-model = "repoListPopover.data.show"
          type = "button"
        )
          svg.iconnables.icons-add
            use(
              xlink:href = "#icons-add"
            )
          pop-over(
            actions = "repoListPopover.actions"
            data = "repoListPopover.data"
            template = "viewPopoverAddRepo"
          )
      ul.repository-group
        li.repository-group-item
          svg.iconnables.icons-git
            use(
              xlink:href = "#icons-git"
            )
          h3.repository-title node-hello-world
          .commit.load
            .commit-message initial commit
            svg.iconnables.icons-commit
              use(
                xlink:href = "#icons-commit"
              )
            span.commit-author sundip
            time.commit-time yesterday

  section.views.with-add-tab(
    ng-class = "{ \
      in: (dataInstanceEdit.data.showExplorer && \
           !dataInstanceEdit.data.loading) \
    }"
  )
    //- explorer
    button.btn-sm.white.btn-icon.explorer-toggle(
      ng-click = "dataInstanceEdit.data.showExplorer = !dataInstanceEdit.data.showExplorer"
      type = "button"
    )
      svg.iconnables.icons-folder-open
        use(
          xlink:href = "#icons-folder-open"
        )
    explorer(
      open-items = "dataInstanceEdit.data.openItems"
      toggle-theme = "dataInstanceEdit.data.toggleTheme"
    )
    //- tabs
    tabs(
      open-items = "dataInstanceEdit.data.openItems"
    )
    add-tab(
      open-items = "dataInstanceEdit.data.openItems"
    )

  .active-panel.demo-active
    pre.pre(
      ui-ace
    ).
      # Full list of versions available here: https://registry.hub.docker.com/_/node/tags/manage/
      FROM node:0.11.14
      ADD ./node-hello-world /root
      WORKDIR /root
      EXPOSE 80
      RUN npm install
      CMD npm start

ul.popover.popover-templates.template-list(
  ng-class = "{in: dataApp.data.showTemplates}"
  style = "left: 15px; top: 291px;"
)
  li.template-list-item(
    ng-click = "dataApp.data.showTemplates = false"
  )
    img.template-image(
      alt = "Django"
      src = "/build/images/icons/templates/icons-django.svg"
    )
    h2.template-title Django
  li.template-list-item(
    ng-click = "dataApp.data.showTemplates = false"
  )
    img.template-image(
      alt = "Flask"
      src = "/build/images/icons/templates/icons-flask.svg"
    )
    h2.template-title Flask
  li.template-list-item(
    ng-click = "dataApp.data.showTemplates = false"
  )
    img.template-image(
      alt = "MongoDB"
      src = "/build/images/icons/templates/icons-mongodb.svg"
    )
    h2.template-title MongoDB
  li.template-list-item(
    ng-click = "dataApp.data.showTemplates = false"
  )
    img.template-image(
      alt = "MySQL"
      src = "/build/images/icons/templates/icons-mysql.svg"
    )
    h2.template-title MySQL
  li.template-list-item(
    ng-click = "dataApp.data.showTemplates = false"
  )
    img.template-image(
      alt = "node.js"
      src = "/build/images/icons/templates/icons-node.js.svg"
    )
    h2.template-title node.js
  li.template-list-item(
    ng-click = "dataApp.data.showTemplates = false"
  )
    img.template-image(
      alt = "PHP"
      src = "/build/images/icons/templates/icons-php.svg"
    )
    h2.template-title PHP
  li.template-list-item(
    ng-click = "dataApp.data.showTemplates = false"
  )
    img.template-image(
      alt = "Redis"
      src = "/build/images/icons/templates/icons-redis.svg"
    )
    h2.template-title Redis
  li.template-list-item(
    ng-click = "dataApp.data.showTemplates = false"
  )
    img.template-image(
      alt = "Ruby"
      src = "/build/images/icons/templates/icons-ruby.svg"
    )
    h2.template-title Ruby
