nav.sidebar.global-sidebar.demo-sidebar
  a.logo.logo(
    href = "#"
  )
    svg
      use(
        xlink:href = "#runnable-icon"
        )
  h1.sidebar-header Welcome
  p.sidebar-paragraph This text briefly describes what boxes are and what you can do with it.
  p.sidebar-paragraph Sign in to save this box along with any changes you&rsquo;ve made.
  a.btn.btn-block.green(
    href = "#"
    modal
    modal-actions = "dataDemoLayout.actions.actionsModalSignIn"
    modal-data = "dataDemoLayout.data.dataModalSignIn"
    modal-template = "viewModalSignIn"
  )
    svg.iconnables.icons-git
      use(
        xlink:href = "#icons-git"
      )
    | Sign In

//- *
//- coach marks
//- *
//- box name mark
.guide-wrapper.guide-1(
  toggle-pop-over
  toggle-pop-over-model = "popoverCoachMarksBoxName.data.show"
  style = "left: 230px; top: 12px;"
)
  .guide.guide-mark(
    ng-class = "{in: popoverCoachMarksBoxName.data.show}"
  )
  pop-over(
    actions = "popoverCoachMarksBoxName.actions"
    data = "popoverCoachMarksBoxName.data"
    popover-options = "{\"left\":-138,\"top\":18}"
    template = "viewCoachMarksBoxNamePopover"
  )
//- repo mark
.guide-wrapper.guide-2(
  toggle-pop-over
  toggle-pop-over-model = "popoverCoachMarksRepo.data.show"
  style = "left: 450px; top: 123px;"
)
  .guide.guide-mark(
    ng-class = "{in: popoverCoachMarksRepo.data.show}"
  )
  pop-over(
    actions = "popoverCoachMarksRepo.actions"
    data = "popoverCoachMarksRepo.data"
    popover-options = "{\"left\":-138,\"top\":18}"
    template = "viewCoachMarksRepoPopover"
  )
//- panels mark
.guide-wrapper.guide-3(
  toggle-pop-over
  toggle-pop-over-model = "popoverCoachMarksPanel.data.show"
  style = "left: 565px; top: 62px;"
)
  .guide.guide-mark(
    ng-class = "{in: popoverCoachMarksPanel.data.show}"
  )
  pop-over(
    actions = "popoverCoachMarksPanel.actions"
    data = "popoverCoachMarksPanel.data"
    popover-options = "{\"left\":-138,\"top\":18}"
    template = "viewCoachMarksPanelPopover"
  )

main.content
  header.box-header
    //- edit mark
    .guide-wrapper.guide-4(
      style = "left: auto; right: 308px; top: 18px;"
    )
      .guide.guide-mark

    h1.box-info.load
      .box-name demo-name
        span.icons-status(
          ng-class = "running"
          tooltip = "Started just now"
          tooltip-options = "{\"class\":\"bottom\",\"left\":-7,\"top\":12}"
        )
      input.box-url(
        readonly
        select-all
        value = "demo-name.demo.runnable.io"
      )
      //- sets layout on h1.box-name for .box-url
      span.box-name-ghost demo-name.demo.runnable.io

    .primary-actions
      .btn-group
        button.btn.green.btn-save(
          type = "button"
        )
          span.btn-text Save
        button.btn.green.btn-icon.btn-icon-sm.btn-save-options(
          type = "button"
        )
          svg.iconnables.icons-arrow-down
            use(
              xlink:href = "#icons-arrow-down"
            )

    .secondary-actions
      button.btn.white.btn-action(
        type = "button"
      )
        svg.iconnables.icons-edit
          use(
            xlink:href = "#icons-edit"
          )
        | Edit
      button.btn.white.btn-action(
        modal
        modal-actions = "actions.actionsModalSignIn"
        modal-data = "data.dataModalSignIn"
        modal-template = "viewModalSignIn"
        type = "button"
      )
        svg.iconnables.icons-fork
          use(
            xlink:href = "#icons-fork"
          )
        | Fork
      a.btn.white.btn-icon.btn-actions(
        type = "button"
      )
        svg.iconnables.icons-gear
          use(
            xlink:href = "#icons-gear"
          )

  //- sidebar with repositories and urls
  section.sidebar.box-sidebar.load
    section.row.repo-list
      h2.sub-header Repositories
      ul.repository-group
        li.repository-group-item
          svg.iconnables.icons-git
            use(xlink:href = "#icons-git")
          h3.repository-title demo-org/demo-repo
          .commit.load(
            toggle-pop-over
            toggle-pop-over-model = "popoverCommitSelect.data.show"
          )
            .commit-message remove ned stark
            svg.iconnables.icons-commit
              use(
                xlink:href = "#icons-commit"
              )
            span.commit-author grrm
            time.commit-time 16 years ago