nav.sidebar.global-sidebar.demo-sidebar
  header.row.account-header
    a.logo.logo(
      href = "#"
    )
      svg
        use(
          xlink:href = "#runnable-logo"
        )
  p.demo-sidebar-hint Add the repository you'd like to see running on this box.
  a.link.link-white.link-text Skip this step

main.content
  .guide-backdrop
  a.btn.btn-sm.white.sub-header-action.btn-add-repo.active(
    style = "left: 255px; top: 66px; z-index: 5000;"
  )
    svg.iconnables.icons-add
      use(
        xlink:href = "#icons-add"
      )
    .popover.bottom.popover-add-repo.in
      .arrow
      h3.popover-title(
        ng-class = "{ \
          'show-filter': data.showFilter \
        }"
      )
        //- should clear on close
        button.white.btn-icon.btn-search(
          ng-click = "data.showFilter = !data.showFilter; \
                      data.repoFilter = '';"
          ng-class = "{ \
            active: data.showFilter \
          }"
          title = "Filter Repositories"
        )
          svg.iconnables.icons-search
            use(
              xlink:href = "#icons-search"
            )
        //- focus on visible
        input.title-filter(
          ng-model = "data.repoFilter"
          select-on = "data.showFilter"
          placeholder = "Filter Repositories"
        )
        //- title
        span.title Add Repository
      .popover-content
        ul.popover-body.popover-list
          li.popover-list-item(
            ng-click = "actions.addRepo(repo)"
            title = "{{ repo.attrs.full_name }}"
          )
            span repoName
          li.popover-list-item(
            ng-click = "actions.addRepo(repo)"
            title = "{{ repo.attrs.full_name }}"
          )
            span repoName
          li.popover-list-item(
            ng-click = "actions.addRepo(repo)"
            title = "{{ repo.attrs.full_name }}"
          )
            span repoName
          li.popover-list-item(
            ng-click = "actions.addRepo(repo)"
            title = "{{ repo.attrs.full_name }}"
          )
            span repoName
          li.popover-list-item(
            ng-click = "actions.addRepo(repo)"
            title = "{{ repo.attrs.full_name }}"
          )
            span repoName
          li.popover-list-item(
            ng-click = "actions.addRepo(repo)"
            title = "{{ repo.attrs.full_name }}"
          )
            span repoName

  header.box-header

    h1.box-info.load(
      ng-show = "instance.attrs.name"
    )
      .box-name demo-name
        span.icons-status(
          ng-class = "running"
          tooltip = "Started just now"
          tooltip-options = "{\"class\":\"bottom\",\"left\":-7,\"top\":12}"
        )
      input.box-url(
        readonly
        select-all
        value = "demo-name.demo.runnable.io"
      )
      //- sets layout on h1.box-name for .box-url
      span.box-name-ghost demo-name.demo.runnable.io

    .primary-actions
      .btn-group
        button.orange(
          ng-click = "build()"
          type = "button"
        ) Build
        button.orange.btn-icon.btn-icon-sm(
          ng-class = "{active: popoverBuildOptions.data.show}"
          toggle-pop-over
          toggle-pop-over-model = "popoverBuildOptions.data.show"
          type = "button"
        )
          svg.iconnables.icons-arrow-down
            use(
              xlink:href = "#icons-arrow-down"
            )

    .secondary-actions
      button.white(
        ng-click = "goToInstance(true)"
        type = "button"
      ) Discard Changes
      button.white.btn-action(
        modal
        modal-actions = "popoverGearMenu.actions.actionsModalFork"
        modal-data = "popoverGearMenu.data.dataModalFork"
        modal-template = "viewModalForkBox"
        type = "button"
      )
        svg.iconnables.icons-fork
          use(
            xlink:href = "#icons-fork"
          )
        | Fork
      button.btn.white.btn-icon.btn-actions(
        ng-class = "{active: popoverGearMenu.data.show}"
        toggle-pop-over
        toggle-pop-over-model = "popoverGearMenu.data.show"
        type = "button"
      )
        svg.iconnables.icons-gear
          use(
            xlink:href = "#icons-gear"
          )

  //- sidebar with repositories and urls
  section.sidebar.box-sidebar.load
    section.row.repo-list
      h2.sub-header Repositories
      ul.repository-group
        li.repository-group-item
          svg.iconnables.icons-git
            use(xlink:href = "#icons-git")
          h3.repository-title demo-org/demo-repo
          .commit.load(
            toggle-pop-over
            toggle-pop-over-model = "popoverCommitSelect.data.show"
          )
            .commit-message remove ned stark
            svg.iconnables.icons-commit
              use(
                xlink:href = "#icons-commit"
              )
            span.commit-author grrm
            time.commit-time 16 years ago