nav.sidebar.global-sidebar.demo-sidebar
  header.row.account-header
    a.logo.logo(
      href = "#"
    )
      svg
        use(
          xlink:href = "#runnable-logo"
        )
  p.sidebar-text Now that you've got a Dockerfile setup, you can start your build. #{''}
    a.link.link-white.link-text Close overlay
    | .

main.content
  .guide-backdrop
    .btn-group
      button.btn.orange(
        ng-click = "build()"
        type = "button"
      ) Build
  header.box-header
    h1.box-info.load
      .box-name demo-name
        span.icons-status(
          ng-class = "running"
          tooltip = "Started just now"
          tooltip-options = "{\"class\":\"bottom\",\"left\":-7,\"top\":12}"
        )
      input.box-url(
        readonly
        select-all
        value = "demo-name.demo.runnable.io"
      )
      //- sets layout on h1.box-name for .box-url
      span.box-name-ghost demo-name.demo.runnable.io

    .primary-actions.demo-active
      .btn-group
        button.orange(
          ng-click = "build()"
          type = "button"
        ) Build
    .secondary-actions
      button.white(
        ng-click = "goToInstance(true)"
        type = "button"
      ) Discard Changes
      button.white.btn-action(
        modal
        modal-actions = "popoverGearMenu.actions.actionsModalFork"
        modal-data = "popoverGearMenu.data.dataModalFork"
        modal-template = "viewModalForkBox"
        type = "button"
      )
        svg.iconnables.icons-fork
          use(
            xlink:href = "#icons-fork"
          )
        | Fork
      button.btn.white.btn-icon.btn-actions(
        ng-class = "{active: popoverGearMenu.data.show}"
        toggle-pop-over
        toggle-pop-over-model = "popoverGearMenu.data.show"
        type = "button"
      )
        svg.iconnables.icons-gear
          use(
            xlink:href = "#icons-gear"
          )

  //- sidebar with repositories and urls
  section.sidebar.box-sidebar.load
    section.row.repo-list
      h2.sub-header Repositories
        //- add repo button
        a.btn.btn-sm.white.sub-header-action.btn-add-repo(
          ng-class = "{active: repoListPopover.data.show}"
          ng-if = "enabled"
          toggle-pop-over
          toggle-pop-over-model = "repoListPopover.data.show"
          type = "button"
        )
          svg.iconnables.icons-add
            use(
              xlink:href = "#icons-add"
            )
          pop-over(
            actions = "repoListPopover.actions"
            data = "repoListPopover.data"
            template = "viewPopoverAddRepo"
          )
      ul.repository-group
        li.repository-group-item
          svg.iconnables.icons-git
            use(
              xlink:href = "#icons-git"
            )
          h3.repository-title node-hello-world
          .commit.load
            .commit-message initial commit
            svg.iconnables.icons-commit
              use(
                xlink:href = "#icons-commit"
              )
            span.commit-author sundip
            time.commit-time yesterday

  section.views.with-add-tab(
    ng-class = "{ \
      in: (dataInstanceEdit.data.showExplorer && \
           !dataInstanceEdit.data.loading) \
    }"
  )
    //- explorer
    button.btn-sm.white.btn-icon.explorer-toggle(
      ng-click = "dataInstanceEdit.data.showExplorer = !dataInstanceEdit.data.showExplorer"
      type = "button"
    )
      svg.iconnables.icons-folder-open
        use(
          xlink:href = "#icons-folder-open"
        )
    explorer(
      open-items = "dataInstanceEdit.data.openItems"
      toggle-theme = "dataInstanceEdit.data.toggleTheme"
    )
    //- tabs
    tabs(
      open-items = "dataInstanceEdit.data.openItems"
    )
    add-tab(
      open-items = "dataInstanceEdit.data.openItems"
    )

    .active-panel
      pre.pre(
        ui-ace
      ).
        # Full list of versions available here: https://registry.hub.docker.com/_/node/tags/manage/
        FROM node:0.11.14
        ADD ./node-hello-world /root
        WORKDIR /root
        EXPOSE 80
        RUN npm install
        CMD npm start