header.hero
  //- background layers (non-content)
  .hero-bg.layer-one(
    data-0 = "transform: translate3d(0,0px,0);"
    data-400 = "transform: translate3d(0,45px,0);"
  )
  .hero-bg.layer-two(
    data-0 = "transform: translate3d(0,0px,0);"
    data-400 = "transform: translate3d(0,30px,0);"
  )

  //- header content
  nav.hero-nav
      a.logo(
        href = "/"
      )
        svg
          use(
            xlink:href = "#runnable-logo"
          )
      a.btn.btn-hero(
        href = "{{ dataApp.loginURL }}"
      ) Sign In
  .hero-wrapper
    h1.hero-text There's a Box for That
    p.hero-text-sub Launch a box to #{''}
      span.text-swap
        span debug
        //- span share
        //- span verify
      |  in seconds.

section.clearfix.landing-features
  .feature
    img(
      height = "72"
      src = "/build/images/home/feature-icon-1.svg"
      width = "96"
    )
    h2.feature-header Quickly Run Any Repo
    p.feature-description.
      Spin up your projects in seconds.
  .feature
    img(
      height = "72"
      src = "/build/images/home/feature-icon-2.svg"
      width = "96"
    )
    h2.feature-header Noncommittal
    p.feature-description.
      Changing repositories and commits are easy.
  .feature
    img(
      height = "72"
      src = "/build/images/home/feature-icon-1.svg"
      width = "96"
    )
    h2.feature-header Something Else
    p.feature-description.
      Donec dictum iaculis aliquam.

section.landing-callout
  img(
    height = "300"
    src = "/build/images/home/feature-banner-1.svg"
    width = "600"
  )
  h2 Debug Here
  p We have some tools for this. I would tell you about them, but I don't know how.

section.landing-cta
  a.btn.green(
    href = "{{ dataApp.loginURL }}"
  )
    svg.iconnables.icons-git
      use(
        xlink:href = "#icons-git"
      )
    | Sign Up with Github

footer.landing-footer
  svg.iconnables.icons-runnable
    use(
      xlink:href = "#icons-runnable"
    )