main.hero
  a.logo
    svg
      use(xlink:href = "#runnable-logo")
  a.btn(
    href = "{{ dataApp.loginURL }}"
  )
    svg.iconnables.icons-git
      use(xlink:href = "#icons-git")
    | Log In with Github

div(
  ng-include = "'viewDevelopmentInfo'"
)
