header.hero
  //- background layers (non-content)
  .hero-bg.layer-one(
    data-0 = "transform: translate3d(0,0px,0);"
    data-400 = "transform: translate3d(0,45px,0);"
  )
  .hero-bg.layer-two(
    data-0 = "transform: translate3d(0,0px,0);"
    data-400 = "transform: translate3d(0,30px,0);"
  )

  //- header content
  nav.hero-nav
      a.logo(
        href = "/"
      )
        svg
          use(
            xlink:href = "#runnable-logo"
          )
      a.btn.btn-hero Sign In
  .hero-wrapper
    h1.hero-text A Server for Every Commit
    p.hero-text-sub Integrated with Github so you can checkout your project as you write it.

section.clearfix.landing-features
  .feature
    img(
      height = "72"
      src = "/build/images/home/feature-icon-2.svg"
      width = "96"
    )
    h2.feature-header Don't be Committed
    p.feature-description Integrated with your existing code on Github, so changing commits are fast and easy.
  .feature
    img(
      height = "72"
      src = "/build/images/home/feature-icon-1.svg"
      width = "96"
    )
    h2.feature-header Stacks on Stacks on Stacks
    p.feature-description Run your entire stack from Node to Mongo.
  .feature
    img(
      height = "72"
      src = "/build/images/home/feature-icon-3.svg"
      width = "96"
    )
    h2.feature-header Instant Verification
    p.feature-description Checkout pull requests and merge conflicts on the fly.

section.landing-callout
  img(
    height = "300"
    src = "/build/images/home/feature-banner-1.svg"
    width = "600"
  )
  h2 Bug Stomper
  p We provide you the tools you need to debug issues.
  a.btn.green.btn-cta
    svg.iconnables.icons-git
      use(
        xlink:href = "#icons-git"
      )
    | {{ dataHome.data.message }}

footer.landing-footer
  small.footer-text &copy; 2014
  svg.iconnables.icons-runnable
    use(
      xlink:href = "#icons-runnable"
    )
  small.footer-text
    a.link(
      href = "mailto: support@runnable.io"
    ) Email Support
