main.home

  //- hero
  section.home-hero

    //- header
    header.home-header
      a.logo
        svg
          use(
            xlink:href = "#runnable-logo"
          )
      nav.home-nav
        a.link.link-text Sign In

    h1.h1.header-thin Stop configuring servers
    h3.h3.header-thin Runnable is automated DevOps that power dev,
      br
      | QA, staging, and production servers
    ul.list.box-group
      li.list-item.box-group-item.white.running development-server
        span.icons-status
      li.list-item.box-group-item.white.running QA-server
        span.icons-status
      li.list-item.box-group-item.white.running staging-server
        span.icons-status
      li.list-item.box-group-item.white.building production-server
        span.icons-status

  //- feature
  section.home-feature

    //- new server configuration
    section.feature-section
      .row
      h2.h2.header-thin
      p.p

    .hr.hr-single

    //- notifications
    section.feature-section
      .col
        h2.h2.header-thin
        p.p
      .col
        .row
        .row

    .hr.hr-single

    //- speed & resources
    section.feature-section
      .col
        .row
        h2.h2.header-thin
        p.p
      .col
        .row
        h2.h2.header-thing
        p.p

  //- pricing
  section.home-pricing

  //- coming soon
  section.home-soon
    h2.h2.header-thin
    p.p

  footer.home-footer
    .hr
      img.hr-image(
        height = "30"
        src = "/build/images/runnable-icon.svg"
        width = "30"
      )
    nav.footer-nav
      a.link.link-text(
        href = "mailto:support@runnable.com"
      ) Email Us
      a.link.link-text(
        ng-href = "{{ dataHome.data.hasPass ? dataApp.data.loginURL : 'mailto:support@runnable.com' }}"
      )
        b Sign In

//- main.home

//-   //- hero
//-   section.home-hero
//-     header.home-header
//-       a.logo
//-         svg
//-           use(
//-             xlink:href = "#runnable-logo"
//-           )
//-       nav.home-nav
//-         a.link.link-text(
//-           href = "/features"
//-         ) Features
//-         a.link.link-text(
//-           href = "/pricing"
//-         ) Pricing
//-         a.link.link-text(
//-           ng-href = "{{ dataHome.data.hasPass ? dataApp.data.loginURL : 'mailto:support@runnable.com' }}"
//-         ) Sign In
//-     h1.h1.header-thin Bring your code online
//-     h3.h3.header-thin Servers on demand for any stack
//-     //- icon grid
//-     .icon-grid
//-       .icon-grid-row
//-         img.icon-grid-image(
//-           height = "45"
//-           src = "/build/images/home/icon-grid/ruby-on-rails-icon.svg"
//-           width = "45"
//-         )
//-         img.icon-grid-image(
//-           height = "45"
//-           src = "/build/images/home/icon-grid/cake-php-icon.svg"
//-           width = "45"
//-         )
//-         img.icon-grid-image(
//-           height = "45"
//-           src = "/build/images/home/icon-grid/code-igniter-icon.svg"
//-           width = "45"
//-         )
//-         img.icon-grid-image(
//-           height = "45"
//-           src = "/build/images/home/icon-grid/dart-icon.svg"
//-           width = "45"
//-         )
//-       .icon-grid-row
//-         img.icon-grid-image(
//-           height = "45"
//-           src = "/build/images/home/icon-grid/django-icon.svg"
//-           width = "45"
//-         )
//-         img.icon-grid-image(
//-           height = "45"
//-           src = "/build/images/home/icon-grid/flask-icon.svg"
//-           width = "45"
//-         )
//-         img.icon-grid-image(
//-           height = "45"
//-           src = "/build/images/home/icon-grid/code-igniter-icon.svg"
//-           width = "45"
//-         )
//-         img.icon-grid-image(
//-           height = "45"
//-           src = "/build/images/home/icon-grid/java-icon.svg"
//-           width = "45"
//-         )
//-         img.icon-grid-image(
//-           height = "45"
//-           src = "/build/images/home/icon-grid/mongo-icon.svg"
//-           width = "45"
//-         )
//-       .icon-grid-row
//-         img.icon-grid-image(
//-           height = "45"
//-           src = "/build/images/home/icon-grid/nodejs-icon.svg"
//-           width = "45"
//-         )
//-         img.icon-grid-image(
//-           height = "45"
//-           src = "/build/images/home/icon-grid/mysql-icon.svg"
//-           width = "45"
//-         )
//-         img.icon-grid-image(
//-           height = "45"
//-           src = "/build/images/home/icon-grid/php-icon.svg"
//-           width = "45"
//-         )
//-         img.icon-grid-image(
//-           height = "45"
//-           src = "/build/images/home/icon-grid/python-icon.svg"
//-           width = "45"
//-         )
//-         img.icon-grid-image(
//-           height = "45"
//-           src = "/build/images/home/icon-grid/ruby-icon.svg"
//-           width = "45"
//-         )
//-         img.icon-grid-image(
//-           height = "45"
//-           src = "/build/images/home/icon-grid/ruby-on-rails-icon.svg"
//-           width = "45"
//-         )

//-   //- features
//-   section.home-features
//-     .row
//-       .col
//-         img(
//-           height = "180"
//-           src = "/build/images/home/feature-boxes.svg"
//-           width = "180"
//-         )
//-         h2.h2.header-thin.text-purple Any Stack Anytime
//-         p.p Simple and flexible. Use Runnable servers #{''}
//-           br
//-           | to help your uncle with his next big idea.
//-     .row
//-       .col
//-         img(
//-           height = "120"
//-           src = "/build/images/home/feature-linking.svg"
//-           width = "120"
//-         )
//-         h2.h2.header-thin.text-blue Better Together
//-         p.p With Dixie cup and string technology, #{''}
//-           br
//-           | we are able to link boxes together.
//-       .col
//-         img(
//-           height = "120"
//-           src = "/build/images/home/feature-github.svg"
//-           width = "120"
//-         )
//-         h2.h2.header-thin.text-green Github Integrated
//-         p.p Run your branches, commits, #{''}
//-           br
//-           | and pull requests.

//-   .hr.hr-single

//-   getting-started-seed-instances

//-   footer.home-footer
//-     .hr
//-       img.hr-image(
//-         height = "30"
//-         src = "/build/images/runnable-icon.svg"
//-         width = "30"
//-       )
//-     nav.footer-nav
//-       a.link.link-text(
//-         href = "/"
//-       ) Home
//-       a.link.link-text(
//-         href = "/features"
//-       ) Features
//-       a.link.link-text(
//-         href = "/pricing"
//-       ) Pricing
//-       a.link.link-text(
//-         href = "mailto:support@runnable.com"
//-       ) Email Us
//-       a.link.link-text(
//-         ng-href = "{{ dataHome.data.hasPass ? dataApp.data.loginURL : 'mailto:support@runnable.com' }}"
//-       )
//-         b Sign In