.col.col-50
  .img-pull
    .ui-header
      .btn-group
        svg.btn.btn-xs.iconnables.icons-arrow-back
          use(
            xlink:href = "#icons-arrow-back"
          )
        svg.btn.btn-xs.iconnables.icons-arrow-back
          use(
            xlink:href = "#icons-arrow-back"
          )
      input.input.favicon-octocat.no-touching(
        readonly
        select-all
        value = "github.com"
      )
    .pull-body.clearfix
      .btn-xs.green
        svg.iconnables.icons-pull-request
          use(
            xlink:href = "#icons-pull-request"
          )
        | Open Pull Request
      .well
        img.img(
          height = "24"
          src = "https://avatars0.githubusercontent.com/u/2335750?v=3&s=96"
          width = "24"
        )
        .btn-sm.gray
          strong runnabot #{''}
          | commented
        p.p The latest push on this PR is ready on #{''}
          a.link.web-link your server
          | .
.col.col-50.flex-center
  h2.h2.header-thin.text-purple Launch from Github
  p.p Runnable follows your activity on Github and notifies you when a server is ready.
