main.home.pricing

  //- hero
  section.home-hero
    header.home-header
      a.logo(
        href = "/"
      )
        svg
          use(
            xlink:href = "#runnable-logo"
          )
      nav.home-nav
        a.link.link-text(
          href = "/features"
        ) Features
        a.link.link-text Pricing
        a.link.link-text Sign In
    h1.h1.header-thin Something
    h3.h3.header-thin $20/user/month

  //- features
  section.home-features
    .row
      .col
        img(
          height = "300"
          src = "/build/images/home/feature-reps.svg"
          width = "300"
        )
        h2.h2.header-thin Get on Board
        p.p We'll get your team onboarded and your
          br
          | stack running over coffee or Skype.
    .hr.hr-single
    .row
      .col
        img(
          height = "180"
          src = "/build/images/home/feature-linking.svg"
          width = "180"
        )
      .col.text-left
        h2.h2.header-thin.text-blue Better Together
        p.p With Dixie cup and string technology, #{''}
          br
          | we are able to link boxes together.
    .hr.hr-single

footer.home-footer
  .hr
    img.hr-image(
      height = "30"
      src = "/build/images/runnable-icon.svg"
      width = "30"
    )
  nav.footer-nav
    a.link.link-text(
      href = "/"
    ) Home
    a.link.link-text(
      href = "/features"
    ) Features
    a.link.link-text Pricing
    a.link.link-text Contact
    a.link.link-text
      b Sign In