header.hero

  //- background layers (non-content)
  //- skrollr requires units on all transitions (even 0)
  .hero-bg.layer-one(
    data-0 = "transform: translate3d(0,0px,0);"
    data-400 = "transform: translate3d(0,45px,0);"
  )
  .hero-bg.layer-two(
    data-0 = "transform: translate3d(0,0px,0);"
    data-400 = "transform: translate3d(0,30px,0);"
  )

  //- header content
  nav.hero-nav
      a.logo(
        href = "/"
      )
        svg
          use(
            xlink:href = "#runnable-logo"
          )
      a.link(
        href = "{{ dataApp.loginURL }}"
      ) Sign In
  .hero-wrapper
    h1.hero-text I need a box to #{''}
      span debug
      | .
    p.hero-text-sub Launch boxes on demand in seconds.
    button.btn-hero Learn More

section.landing-features
  .feature
    img(
      height = "72"
      src = "/build/images/home/feature-icon-1.svg"
      width = "96"
    )
    h2.feature-header Quickly Run Any Repo
    p.feature-description.
      Donec vehicula nunc ut orci varius, sit amet accumsan urna gravida. Donec dictum iaculis aliquam.
  .feature
    img(
      height = "72"
      src = "/build/images/home/feature-icon-1.svg"
      width = "96"
    )
    h2.section-header Quickly Run Any Repo
    p.section-description.
      Donec vehicula nunc ut orci varius, sit amet accumsan urna gravida. Donec dictum iaculis aliquam.
  .feature
    img(
      height = "72"
      src = "/build/images/home/feature-icon-1.svg"
      width = "96"
    )
    h2.section-header Quickly Run Any Repo
    p.section-description.
      Donec vehicula nunc ut orci varius, sit amet accumsan urna gravida. Donec dictum iaculis aliquam.

section.landing-callout
  img
  h2
  p

section.landing-cta
  h3.cta-hero-text
  button

footer.landing-footer
  a
  img(
    height = "30"
    src = ""
    width = "30"
  )
  a