main.home.pricing

  //- hero
  section.home-hero
    header.home-header
      a.logo(
        href = "/"
      )
        svg
          use(
            xlink:href = "#runnable-logo"
          )
      nav.home-nav
        a.link.link-text(
          href = "/features"
        ) Features
        a.link.link-text Pricing
        a.link.link-text Sign In
    h1.h1.header-thin We only have one price
    h3.h3.header-thin (Your first born) or $20/user/month

  //- features
  section.home-features
    .row
      .col
        img(
          height = "300"
          src = "/build/images/home/pricing-coin.svg"
          width = "300"
        )
        h2.h2.header-thin.text-orange Bear with us
        p.p We're still testing Runnable and #{''}
          br
          | will be available for beta soon.

  .hr.hr-single

  section.home-faq
    .row
      .col
        h3.h3.header-thin Question 1
        p.p Answers
      .col
        h3.h3.header-thin Question 1
        p.p Answers
      .col
        h3.h3.header-thin Question 1
        p.p Answers

footer.home-footer
  .hr
    img.hr-image(
      height = "30"
      src = "/build/images/runnable-icon.svg"
      width = "30"
    )
  nav.footer-nav
    a.link.link-text(
      href = "/"
    ) Home
    a.link.link-text(
      href = "/features"
    ) Features
    a.link.link-text Pricing
    a.link.link-text Contact
    a.link.link-text
      b Sign In