.col.col-50.flex-center
  h2.h2.header-thin.text-purple Choose a commit to run instantly
  p.p Use the repository tray to go back in time or switch branches to check out any state of your repository.
.col.col-50
  .list-item.repository-group-item.repository-group-text.no-touching
    svg.iconnables.icons-repository
      use(
        xlink:href = "#icons-repository"
      )
    h3.repository-title runnable/web
    p.repository-description
      svg.iconnables.icons-branch
        use(
          xlink:href = "#icons-branch"
        )
      | master
    p.repository-description.clearfix
      svg.iconnables.icons-commit
        use(
          xlink:href = "#icons-commit"
        )
      | Stopping the closing of this popover
    .popover.bottom.popover-repository-toggle.in.no-touching(
      style = "top: 96px;"
    )
      .arrow.white
      ul.list.popover-list.toggle-group
        li.list-item.popover-list-item.toggle-group-item.no-touching
          .toggle-group-title Stopping the closing of this popover
          .toggle-group-detail.clearfix
            small.small Nathan219—6 days ago
            svg.iconnables.icons-git
              use(
                xlink:href = "#icons-git"
              )
        li.list-item.popover-list-item.toggle-group-item.no-touching
          .toggle-group-title Merge pull request #409
          .toggle-group-detail.clearfix
            small.small tjmehta—8 days ago
            svg.iconnables.icons-git
              use(
                xlink:href = "#icons-git"
              )
        li.list-item.popover-list-item.toggle-group-item.no-touching
          .toggle-group-title remove build leak in tab cache
          .toggle-group-detail.clearfix
            small.small SomeKittens—10 days ago
            svg.iconnables.icons-git
              use(
                xlink:href = "#icons-git"
              )