main.home

  //- hero
  section.home-hero
    header.home-header
      a.logo
        svg
          use(
            xlink:href = "#runnable-logo"
          )
      nav.home-nav
        a.link.link-text Features
        a.link.link-text Pricing
        a.link.link-text Sign In
    h1.h1.header-thin Your Stack Online
    h3.h3.header-thin Boxes on demand for any stack
    //- icon grid
    .icon-grid
      .icon-grid-row
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/ruby-on-rails-icon.svg"
          width = "45"
        )
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/cake-php-icon.svg"
          width = "45"
        )
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/code-igniter-icon.svg"
          width = "45"
        )
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/dart-icon.svg"
          width = "45"
        )
      .icon-grid-row
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/django-icon.svg"
          width = "45"
        )
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/flask-icon.svg"
          width = "45"
        )
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/code-igniter-icon.svg"
          width = "45"
        )
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/java-icon.svg"
          width = "45"
        )
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/mongo-icon.svg"
          width = "45"
        )
      .icon-grid-row
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/nodejs-icon.svg"
          width = "45"
        )
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/mysql-icon.svg"
          width = "45"
        )
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/php-icon.svg"
          width = "45"
        )
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/python-icon.svg"
          width = "45"
        )
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/ruby-icon.svg"
          width = "45"
        )
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/ruby-on-rails-icon.svg"
          width = "45"
        )

  //- features
  section.home-features
    .row
      .col
        img(
          height = "180"
          src = "/build/images/feature-boxes.svg"
          width = "180"
        )
        h2.h2.header-thin Infinite Boxibilities
        p.p We’ll provide you with as many boxes #{''}
          br
          | you need; up to infinite boxes a year.
    .row
      .col
        img(
          height = "120"
          src = "/build/images/feature-linking.svg"
          width = "120"
        )
        h2.h2.header-thin Better Together
        p.p With Dixie cup and string technology, #{''}
          br
          | we are able to link boxes together.
      .col
        img(
          height = "120"
          src = "/build/images/feature-github.svg"
          width = "120"
        )
        h2.h2.header-thin Github Integrated
        p.p Run your branches, commits, #{''}
          br
          | and pull requests.
    .row
      a.btn.green More Features

  .hr
    span.hr-text or

  //- demo boxes
  section.home-demos
    h1.h1.header-thin Open a Box
    h3.h3.header-thin Free to try, no sign ups
    ol.demo-list.clearfix
      li.demo-list-item
        img.demo-icon(
          height = "48"
          src = "/build/images/icons/templates/icons-django.svg"
          width = "48"
        )
        h3.h3.header-thin Django
        a.btn.btn-sm.green Launch Box
      li.demo-list-item
        img.demo-icon(
          height = "48"
          src = "/build/images/icons/templates/icons-flask.svg"
          width = "48"
        )
        h3.h3.header-thin Flask
        a.btn.btn-sm.green Launch Box
      li.demo-list-item
        img.demo-icon(
          height = "48"
          src = "/build/images/icons/templates/icons-mongodb.svg"
          width = "48"
        )
        h3.h3.header-thin MongoDB
        a.btn.btn-sm.green Launch Box
      li.demo-list-item
        img.demo-icon(
          height = "48"
          src = "/build/images/icons/templates/icons-mysql.svg"
          width = "48"
        )
        h3.h3.header-thin MySQL
        a.btn.btn-sm.green Launch Box
      li.demo-list-item
        img.demo-icon(
          height = "48"
          src = "/build/images/icons/templates/icons-node.js.svg"
          width = "48"
        )
        h3.h3.header-thin node.js
        a.btn.btn-sm.green Launch Box
      li.demo-list-item
        img.demo-icon(
          height = "48"
          src = "/build/images/icons/templates/icons-php.svg"
          width = "48"
        )
        h3.h3.header-thin PHP
        a.btn.btn-sm.green Launch Box
      li.demo-list-item
        img.demo-icon(
          height = "48"
          src = "/build/images/icons/templates/icons-redis.svg"
          width = "48"
        )
        h3.h3.header-thin Redis
        a.btn.btn-sm.green Launch Box
      li.demo-list-item
        img.demo-icon(
          height = "48"
          src = "/build/images/icons/templates/icons-ruby.svg"
          width = "48"
        )
        h3.h3.header-thin Ruby
        a.btn.btn-sm.green Launch Box

footer.home-footer
  .hr
    img.hr-image(
      height = "30"
      src = "/build/images/runnable-icon.svg"
      width = "30"
    )
  nav.footer-nav
    a.link.link-text Features
    a.link.link-text Pricing
    a.link.link-text Contact
    a.link.link-text
      b Sign In