h2.h2.header-thin.text-purple Experiment with your stack
  br
  | in your browser
p.p Take advantage of the fully featured terminal, file browser and editor to interact with your server.
ul.row.clearfix.list.workflow-toggle
  li.list-item.workflow-toggle-item.ace-tm.ace-runnable-dark.no-touching
    pre.pre.img-workflow.img-workflow-terminal root@id:
    .workflow-label Run scripts
  li.list-item.workflow-toggle-item.ace-tm.ace-runnable-dark.no-touching
    pre.pre.img-workflow.img-workflow-editor Server.prototype.start
    .workflow-label Edit source files
  li.list-item.workflow-toggle-item.ace-tm.ace-runnable-dark.no-touching
    pre.pre.img-workflow.img-workflow-commits /bin/sh -c npm start
    .workflow-label Debug call stacks