.img-ui
  .ui-header
      .btn-group
        button.btn.btn-xs
          svg.iconnables.icons-arrow-back
            use(
              xlink:href = "#icons-arrow-back"
            )
        button.btn.btn-xs
          svg.iconnables.icons-arrow-back
            use(
              xlink:href = "#icons-arrow-back"
            )
      label.input-group
        img.ui-favicon.favicon-sm(
          height = "18"
          ng-src = "/build/images/favicon.png"
          width = "18"
        )
        input.input.no-touching(
          readonly
          select-all
          value = "runnable.io"
        )
  .ui-wrapper
    .sidebar.global-sidebar
      h2.sub-header Your Servers
      ul.box-group.no-touching
        li.box-group-item.btn.white.running.expanded.active
          a.box-item-name Web-Staging
          span.icons-status
          a.box-item-cluster API-Staging
            span.icons-status.running
          a.box-item-cluster Mongo-Staging
            span.icons-status.running
          a.box-item-cluster Redis-Staging
            span.icons-status.running
    .content
      .box-header
        h1.box-info
          .box-name Web-Staging
            span.icons-status.active.running
          input.box-url(
            readonly
            value = "web-staging.runnable.io"
          )
        .secondary-actions
          .btn.white.btn-action.no-touching
            svg.iconnables.icons-fork
              use(
                xlink:href = "#icons-fork"
              )
            | Fork
          .btn.white.btn-icon.btn-actions.no-touching
            svg.iconnables.icons-gear
              use(
                xlink:href = "#icons-gear"
              )
      .sidebar.box-sidebar
        ul.list.repository-group.no-touching
          li.list-item.repository-group-item.repository-group-text
            svg.iconnables.icons-repository
              use(
                xlink:href = "#icons-repository"
              )
            h3.repository-title runnable/web
            p.repository-description
              svg.iconnables.icons-branch
                use(
                  xlink:href = "#icons-branch"
                )
              | master
            p.repository-description.clearfix
              svg.iconnables.icons-commit
                use(
                  xlink:href = "#icons-commit"
                )
              | Stopping the closing of this popover
      .popover.bottom.popover-repository-toggle.in
        .arrow.white
        ul.list.popover-list.toggle-group
          li.list-item.popover-list-item.toggle-group-item.no-touching
            .toggle-group-title Stopping the closing of this popover
            .toggle-group-detail.clearfix
              small.small Nathan219—6 days ago
              svg.iconnables.icons-git
                use(
                  xlink:href = "#icons-git"
                )
          li.list-item.popover-list-item.toggle-group-item.no-touching
            .toggle-group-title Merge pull request #409
            .toggle-group-detail.clearfix
              small.small tjmehta—8 days ago
              svg.iconnables.icons-git
                use(
                  xlink:href = "#icons-git"
                )
          li.list-item.popover-list-item.toggle-group-item.no-touching
            .toggle-group-title remove build leak in tab cache
            .toggle-group-detail.clearfix
              small.small SomeKittens—10 days ago
              svg.iconnables.icons-git
                use(
                  xlink:href = "#icons-git"
                )
      .views.ui-views
        .ui-views-row
            button.btn.btn-xxs.blue.hover
        .clearfix
          .ui-views-column
          .ui-views-column
            button.btn.btn-xxs.blue.hover
          .ui-views-column
        .clearfix
          .ui-views-column
            .ui-shape-square
          .ui-views-column
            .ui-shape-circle
.row.clearfix
  ul.list.workflow-toggle
    li.list-item.workflow-toggle-item.ace-tm.ace-runnable-dark
      pre.pre.img-workflow.img-workflow-terminal root@id:
      .workflow-label Terminal
    li.list-item.workflow-toggle-item
      .img-workflow.img-workflow-editor.clearfix
        ul.file-tree
          li.folder
            svg.iconnables.filetypes.icons-folder
              use(
                xlink:href = "#icons-folder"
              )
          li.file
            svg.iconnables.filetypes.icons-file
              use(
                xlink:href = "#icons-file"
              )
          li.file
            svg.iconnables.filetypes.icons-file
              use(
                xlink:href = "#icons-file"
              )
        .ace-tm.ace-runnable-dark
          pre.pre class createA
      .workflow-label File Editor
    li.list-item.workflow-toggle-item
      .img-workflow.img-workflow-commits
        svg.iconnables.icons-commit
          use(
            xlink:href = "#icons-commit"
          )
        svg.iconnables.icons-commit
          use(
            xlink:href = "#icons-commit"
          )
        svg.iconnables.icons-commit
          use(
            xlink:href = "#icons-commit"
          )
        svg.iconnables.icons-commit
          use(
            xlink:href = "#icons-commit"
          )
      .workflow-label Toggle Commits
    li.list-item.workflow-toggle-item.active
      .img-workflow.img-workflow-web.ui-views
        .clearfix
          .ui-views-column
          .ui-views-row
          .ui-views-row
      .workflow-label Web View
  h2.h2.header-thin JSFiddle for Full-stack Applications
  p.p Run full-stack experiments through a terminal and file editor in the browser. Link boxes to prototype any architecture through environment variables.
.row.ace-tm.ace-runnable-dark.clearfix