//- main#home
//-   svg#logomark.iconnables
//-     use(xlink:href = "#runnable-logomark")
//-   svg#lettering.iconnables
//-     use(xlink:href = "#runnable-lettering")
//-   a.btn.white(
//-     href = "{{ dataApp.loginURL }}"
//-   )
//-     svg.iconnables.icons-git
//-       use(xlink:href = "#icons-git")
//-     | Log In with Github

header.container
  a.logo(href = "/")
    svg
      use(xlink:href = "#runnable-logo")
  a.btn.white(
    href = "{{ dataApp.loginURL }}"
  ) Log In

main.hero
  h1.tag-line Sandboxes. Sandboxes. Sandboxes.
  h2.sub-line /ˈsan(d)ˌbäks/—a shallow box or hollow in the ground partly filled with sand for children to play in.
  a.btn.white(
    href = "{{ dataApp.loginURL }}"
  )
    svg.iconnables.icons-git
      use(xlink:href = "#icons-git")
    | Sign Up with Github

section.feature
