.row.clearfix.img-configuration
  .icons-col
    img.icons-img(
      height = "60"
      ng-src = "/build/images/home/icons/icons-nodejs.svg"
      width = "60"
    )
  .icons-col
    img.icons-img(
      height = "60"
      ng-src = "/build/images/home/icons/icons-rails.svg"
      width = "60"
    )
    img.icons-img(
      height = "60"
      ng-src = "/build/images/home/icons/icons-django.svg"
      width = "60"
    )
  .icons-col
    svg.iconnables.icons-octocat
      use(
        xlink:href = "#icons-octocat"
      )
  .icons-col
    img.icons-img(
      height = "60"
      ng-src = "/build/images/home/icons/icons-nodejs.svg"
      width = "60"
    )
    img.icons-img(
      height = "60"
      ng-src = "/build/images/home/icons/icons-rails.svg"
      width = "60"
    )
  .icons-col
    img.icons-img(
      height = "60"
      ng-src = "/build/images/home/icons/icons-django.svg"
      width = "60"
    )
.row.clearfix
  .col
    h2.h2.header-thin.text-purple Effortless Setup
    p.p Connect your Github account and get to work. We automatically scan your source code and configure your application.