main
  #home
    .valign
      object#logomark.iconnables(
        data  = "/build/images/logomark.svg"
        type  = "image/svg+xml")
      object#heading(
        data = "/build/images/sandbox-runnable-logo.svg"
        type = "image/svg+xml"
      )
      a.btn(
        href = "http://runnable2.net:3030/auth/github/"
        type = "button"
      )
        object(data = "/build/images/icons/icons-git.svg"
               type = "image/svg+xml")
        | Log In with Github
