main.home

  //- hero
  section.home-hero
    header.home-header
      a.logo
        svg
          use(
            xlink:href = "#runnable-logo"
          )
      nav.home-nav
        a.link.link-text Features
        a.link.link-text Pricing
        a.link.link-text Sign In
    h1.h1.header-thin Your Stack Online
    h3.h3.header-thin Boxes on demand for any stack
    svg
      use

  //- features
  section.home-features
    .row
      .col
        //- svg
        //-   use
        img(
          height = "180"
          src = "/build/images/feature-boxes.svg"
          width = "180"
        )
        h2.h2.header-thin Infinite Boxibilities
        p.p We’ll provide you with as many boxes #{''}
          br
          | you need; up to infinite boxes a year.
    .row
      .col
        //- svg
        //-   use
        img(
          height = "120"
          src = "/build/images/feature-linking.svg"
          width = "120"
        )
        h2.h2.header-thin Better Together
        p.p With Dixie cup and string technology, #{''}
          br
          | we are able to link boxes together.
      .col
        //- svg
        //-   use
        img(
          height = "120"
          src = "/build/images/feature-github.svg"
          width = "120"
        )
        h2.h2.header-thin Github Integrated
        p.p Run your branches, commits, #{''}
          br
          | and pull requests.
    .row
      a.btn.green More Features

  .hr
    span.hr-text or

  //- demo boxes
  section.home-demos
    h1.h1.header-thin Open a Box
    h3.h3.header-thin Free to try, no sign ups
    ol.demo-list.clearfix
      li.demo-list-item
        //- svg
        //-   use
        img.demo-icon(
          height = "48"
          src = "/build/images/icons/templates/icons-django.svg"
          width = "48"
        )
        h3.h3.header-thin Django
        a.btn.btn-sm.green Launch Box
      li.demo-list-item
        //- svg
        //-   use
        img.demo-icon(
          height = "48"
          src = "/build/images/icons/templates/icons-flask.svg"
          width = "48"
        )
        h3.h3.header-thin Flask
        a.btn.btn-sm.green Launch Box
      li.demo-list-item
        //- svg
        //-   use
        img.demo-icon(
          height = "48"
          src = "/build/images/icons/templates/icons-mongodb.svg"
          width = "48"
        )
        h3.h3.header-thin MongoDB
        a.btn.btn-sm.green Launch Box
      li.demo-list-item
        //- svg
        //-   use
        img.demo-icon(
          height = "48"
          src = "/build/images/icons/templates/icons-mysql.svg"
          width = "48"
        )
        h3.h3.header-thin MySQL
        a.btn.btn-sm.green Launch Box
      li.demo-list-item
        //- svg
        //-   use
        img.demo-icon(
          height = "48"
          src = "/build/images/icons/templates/icons-node.js.svg"
          width = "48"
        )
        h3.h3.header-thin node.js
        a.btn.btn-sm.green Launch Box
      li.demo-list-item
        //- svg
        //-   use
        img.demo-icon(
          height = "48"
          src = "/build/images/icons/templates/icons-php.svg"
          width = "48"
        )
        h3.h3.header-thin PHP
        a.btn.btn-sm.green Launch Box
      li.demo-list-item
        //- svg
        //-   use
        img.demo-icon(
          height = "48"
          src = "/build/images/icons/templates/icons-redis.svg"
          width = "48"
        )
        h3.h3.header-thin Redis
        a.btn.btn-sm.green Launch Box
      li.demo-list-item
        //- svg
        //-   use
        img.demo-icon(
          height = "48"
          src = "/build/images/icons/templates/icons-ruby.svg"
          width = "48"
        )
        h3.h3.header-thin Ruby
        a.btn.btn-sm.green Launch Box

footer
  .divider
    a.logo
  ol
    li
      a Features
    li
      a Pricing
    li
      a Contact
    li Sign In

//- main.hero(
//-   ng-class = "{'no-flex': !dataHome.data.hasPass}"
//- )
//-   header.hero-header
//-     a.logo(
//-       href = "/"
//-     )
//-       svg.logo-svg
//-         use(
//-           xlink:href = "#runnable-logo"
//-         )
//-     a.link.link-white.link-text(
//-       ng-href = "{{ dataApp.data.loginURL }}"
//-       ng-if = "dataHome.data.hasPass"
//-     ) Sign In

//-   section.hero-heading
//-     h1.hero-text A Server for Every Commit
//-     p.hero-text-sub Run every version of your code as it's developed.

//-   a.btn.white.reversed(
//-     href = "mailto:support@runnable.com?subject=Send me an invite, or else!"
//-     ng-if = "!dataHome.data.hasPass"
//-   ) Request an Invite

//-   section.template-list(
//-     ng-if = "dataHome.data.hasPass"
//-   )
//-     a.template-list-item(
//-       href = "#"
//-     )
//-       //- .image-wrapper for separate animation and transition states
//-       .image-wrapper
//-         img.template-image(
//-           alt = "Django"
//-           src = "/build/images/icons/templates/icons-django.svg"
//-         )
//-       h2.template-title Django
//-     a.template-list-item(
//-       href = "#"
//-     )
//-       .image-wrapper
//-         img.template-image(
//-           alt = "Flask"
//-           src = "/build/images/icons/templates/icons-flask.svg"
//-         )
//-       h2.template-title Flask
//-     a.template-list-item(
//-       href = "#"
//-     )
//-       .image-wrapper
//-         img.template-image(
//-           alt = "MongoDB"
//-           src = "/build/images/icons/templates/icons-mongodb.svg"
//-         )
//-       h2.template-title MongoDB
//-     a.template-list-item(
//-       href = "#"
//-     )
//-       .image-wrapper
//-         img.template-image(
//-           alt = "MySQL"
//-           src = "/build/images/icons/templates/icons-mysql.svg"
//-         )
//-       h2.template-title MySQL
//-     a.template-list-item(
//-       href = "#"
//-     )
//-       .image-wrapper
//-         img.template-image(
//-           alt = "node.js"
//-           src = "/build/images/icons/templates/icons-node.js.svg"
//-         )
//-       h2.template-title node.js
//-     a.template-list-item(
//-       href = "#"
//-     )
//-       .image-wrapper
//-         img.template-image(
//-           alt = "PHP"
//-           src = "/build/images/icons/templates/icons-php.svg"
//-         )
//-       h2.template-title PHP
//-     a.template-list-item(
//-       href = "#"
//-     )
//-       .image-wrapper
//-         img.template-image(
//-           alt = "Redis"
//-           src = "/build/images/icons/templates/icons-redis.svg"
//-         )
//-       h2.template-title Redis
//-     a.template-list-item(
//-       href = "#"
//-     )
//-       .image-wrapper
//-         img.template-image(
//-           alt = "Ruby"
//-           src = "/build/images/icons/templates/icons-ruby.svg"
//-         )
//-       h2.template-title Ruby