header.landing-hero
  .hero-grid
    .grid-layer(
      data-0 = "transform: translate3d(0,0,0);"
      data-400 = "transform: translate3d(0,100px,0);"
    )
    .grid-layer(
      data-0 = "transform: translate3d(0,0,0);"
      data-400 = "transform: translate3d(0,200px,0);"
    )
    .grid-layer(
      data-0 = "transform: translate3d(0,0,0);"
      data-400 = "transform: translate3d(0,300px,0);"
    )
  nav.landing-nav
    a.logo(
      href = "/"
    )
      svg
        use(
          xlink:href = "#runnable-logo"
        )
  //-   a.link(
  //-     href = "{{ dataApp.loginURL }}"
  //-   )
  //-     svg.iconnables.icons-git
  //-     use(
  //-       xlink:href = "#icons-git"
  //-     )
  //-     | Log In
  //- h1.hero-text I need a box to #{''}
  //-   span.hero-text-swap debug
  //-   | .
  //- p.hero-text-sub Launch boxes on demand in seconds.
  //- div
    button Learn More
    button
      svg.iconnables.icons-git
      use(
        xlink:href = "#icons-git"
      )
      | Sign Up with Github
section.landing-section
  div
  h2.section-header
  p.section-description
section.landing-section
  div
  h2.section-header
  p.section-description
section.landing-section
  div
  h2.section-header
  p.section-description
section.landing-section
  div
  h2.section-header
  p.section-description
section.landing-cta
  h3.cta-hero-text
  button
footer.landing-footer
  a
  img
  a

//- main.hero
//-   a.logo
//-     svg
//-       use(xlink:href = "#runnable-logo")
//-   a.btn(
//-     href = "{{ dataApp.loginURL }}"
//-   )
    //- svg.iconnables.icons-git
    //-   use(xlink:href = "#icons-git")
    //- | Log In with Github

div(
  ng-include = "'viewDevelopmentInfo'"
)
