main.home

  //- hero
  section.home-hero

    //- header
    header.home-header
      a.logo
        svg
          use(
            xlink:href = "#runnable-logo"
          )
      nav.home-nav
        a.link.link-text Sign In

    h1.h1.header-thin Stop Configuring Servers
    h3.h3.header-thin Runnable is automated DevOps that power
      br
      | development, QA, staging, and production servers
    ul.list.box-group.in
      li.list-item.box-group-item.white.running development-server
        span.icons-status
      li.list-item.box-group-item.white.running QA-server
        span.icons-status
      li.list-item.box-group-item.white.running staging-server
        span.icons-status
      li.list-item.box-group-item.white.building production-server
        span.icons-status

  //- feature
  section.home-feature

    //- new server configuration
    section.feature.feature-configuration
      .row.clearfix.img-configuration
        .icons-col
          img.icons-img(
            height = "60"
            ng-src = "/build/images/home/icons-nodejs.svg"
            width = "60"
          )
        .icons-col
          img.icons-img(
            height = "60"
            ng-src = "/build/images/home/icons-ruby-on-rails.svg"
            width = "60"
          )
          img.icons-img(
            height = "60"
            ng-src = "/build/images/home/icons-django.svg"
            width = "60"
          )
        .icons-col
          svg.iconnables.icons-octocat
            use(
              xlink:href = "#icons-octocat"
            )
        .icons-col
          img.icons-img(
            height = "60"
            ng-src = "/build/images/home/icons-nodejs.svg"
            width = "60"
          )
          img.icons-img(
            height = "60"
            ng-src = "/build/images/home/icons-ruby-on-rails.svg"
            width = "60"
          )
        .icons-col
          img.icons-img(
            height = "60"
            ng-src = "/build/images/home/icons-django.svg"
            width = "60"
          )
      .row.clearfix
        .col
          h2.h2.header-thin.text-purple Effortless Setup
          p.p Connect your Github account and get to work. We automatically scan your source code and configure your application.

    .hr.hr-single

    //- workflow
    section.feature.feature-workflow.row.clearfix
      .col.col-30
        .img-pull
          .pull-header
            .btn-group
              button.btn.btn-sm
                svg.iconnables.icons-arrow-back
                  use(
                    xlink:href = "#icons-arrow-back"
                  )
              button.btn.btn-sm
                svg.iconnables.icons-arrow-back
                  use(
                    xlink:href = "#icons-arrow-back"
                  )
            label.input-group
              svg.iconnables.icons-octocat
                use(
                  xlink:href = "#icons-octocat"
                )
              input.input.input-sm(
                readonly
                select-all
                value = "github.com/tjmehta/101"
              )
          .pull-body.clearfix
            .btn-sm.green
              svg.iconnables.icons-pull-request
                use(
                  xlink:href = "#icons-pull-request"
                )
              | Open Pull Request
            .well
              .btn-sm.gray
                img.img(
                  height = "21"
                  src = "https://avatars0.githubusercontent.com/u/2335750?v=3&s=40"
                  width = "21"
                )
                strong runnabot #{''}
                | commented
              p.p The latest push on this PR is ready on this server: #{''}
                a.link.web-link https://runnable.io/tjmehta/101
      .col.col-40
        h2.h2.header-thin.text-green Fits Into Your Workflow
        p.p Launch clusters from Pull Requests. We’ll spin up a server for every push made to your code.
      .col.col-30
        .img-notification
          img.img(
            height = "30"
            src = "/build/images/logos/logo-icon-slack.svg"
            width = "30"
          )
          h4.h4 New message in #front-end
          p.p Runnabot: tjmehta's changes (github hook response was changed) are deployed on serv…
        .img-notification
          img.img(
            height = "30"
            src = "/build/images/logos/logo-icon-hipchat.svg"
            width = "30"
          )
          h4.h4 Runnabot
          p.p tjmehta's changes (github hook response was changed) are deployed on servers: &lt;tj-api&gt;

    .hr.hr-single

    //- protype
    section.feature.feature-protype.clearfix
      .row.clearfix
        .col
          h2.h2.header-thin JSFiddle for Full-stack Applications
          p.p Run full-stack experiments through a terminal and file editor in the browser.
      .row
        .col.clearfix.ace-tm.ace-runnable-dark
          pre.pre.img-workflow.img-workflow-terminal root@id:/angular-app#
            img.img(
              height = "60"
              ng-src = "/build/images/home/icons-ruby-on-rails.svg"
              width = "60"
            )
          .img-workflow-link
            svg.iconnables.icons-link
              use(
                xlink:href = "#icons-link"
              )
          .img-workflow.img-workflow-editor.ace-tm.ace-runnable-dark.clearfix
            ul.file-tree
              li.folder
                svg.iconnables.filetypes.icons-folder
                  use(
                    xlink:href = "#icons-folder"
                  )
                span.item-name assets
              li.file
                svg.iconnables.filetypes.icons-file
                  use(
                    xlink:href = "#icons-file"
                  )
                span.item-name index.html
            pre.pre.
              &lt;!DOCTYPE html&gt;
              &lt;html&gt;
              &nbsp;&nbsp;&lt;head&gt;
              &nbsp;&nbsp;&lt;/head&gt;
              &nbsp;&nbsp;&lt;body&gt;
              &nbsp;&nbsp;&lt;/body&gt;
              &lt;/html&gt;
            img.img(
              height = "60"
              ng-src = "/build/images/home/icons-django.svg"
              width = "60"
            )
      p.p.row Link boxes to prototype any architecture through environment variables.

  //- pricing
  section.home-pricing.home-callout
    h2.h2.header-thin $20/month/developer
    .row.clearfix
      .col.col-50
        h3.h3.header-thin What do you charge per server?
        p.p Nothing! Spin up unlimited servers at no additional cost.
      .col.col-50
        h3.h3.header-thin Is my code safe with you?
        p.p Yes! We create servers for you on our secure, AWS cloud.
    img.img(
      height = "180"
      src = "/build/images/home/pricing-coin.svg"
      width = "180"
    )

  //- coming soon
  section.home-feature
    section.feature.feature-soon.clearfix
      .col.col-50.ace-tm
        h2.h2.header-thin Built on Docker
        p.p Pull containers down to your local or remote host from our private Docker registry.
        pre.pre.img-docker-terminal
          | root@amzn-ec2-instance:~$ docker run dockerfile/elasticsearch
          | Pulling repository dockerfile/elasticsearch
          | 88frsc: Pulling dependent layers
          | htlnt4: Download complete
          | ky33z5: Download complete
          | 2m48l3: Download complete
          | 54u20n: Pulling fs layer
          img.img(
            height = "30"
            src = "/build/images/logos/logo-docker.svg"
            width = "110"
          )
      .col.col-50
        h2.h2.header-thin In the Works
        ul.list
          li.list-item One-click deployment to AWS, Digital Ocean, Kubernetes, Mesosphere and more
          li.list-item Setup clusters that follow issues from JIRA and PivotalTracker

  footer.home-footer
    .hr
      img.hr-image(
        height = "30"
        src = "/build/images/runnable-icon.svg"
        width = "30"
      )
    nav.footer-nav
      a.link.link-text(
        href = "mailto:support@runnable.com"
      ) Email Us
      a.link.link-text(
        ng-href = "{{ dataHome.data.hasPass ? dataApp.data.loginURL : 'mailto:support@runnable.com' }}"
      )
        b Sign In