main
  #home
    .valign
      object#logomark.iconnables(
        data = "/build/images/logomark.svg"
        type = "image/svg+xml")
      object#heading(
        data = "/build/images/sandbox-runnable-logo.svg"
        type = "image/svg+xml"
      )
      h1(ng-click = "dataHome.seed()") SEED!
      a.btn.white(
        href = "{{ dataApp.loginURL }}"
        type = "button"
      )
        object.iconnables(data = "/build/images/icons/icons-git.svg"
               type = "image/svg+xml")
        | Log In with Github
