header.hero
  //- background layers (non-content)
  .hero-bg.layer-one(
    data-0 = "transform: translate3d(0,0px,0);"
    data-400 = "transform: translate3d(0,45px,0);"
  )
  .hero-bg.layer-two(
    data-0 = "transform: translate3d(0,0px,0);"
    data-400 = "transform: translate3d(0,30px,0);"
  )

  //- header content
  nav.hero-nav
      a.logo(
        href = "/"
      )
        svg
          use(
            xlink:href = "#runnable-logo"
          )
      a.btn.btn-hero(
        href = "{{ dataApp.loginURL }}"
      ) Sign In
  .hero-wrapper
    h1.hero-text A Server for Every Commit
    p.hero-text-sub Run any and every version of your code as it's developed.

section.clearfix.landing-features
  .feature
    img(
      height = "72"
      src = "/build/images/home/feature-icon-2.svg"
      width = "96"
    )
    h2.feature-header Launch your full app from any commit
   .feature
    img(
      height = "72"
      src = "/build/images/home/feature-icon-1.svg"
      width = "96"
    )
    h2.feature-header Customize your environment for any stack
  .feature
    img(
      height = "72"
      src = "/build/images/home/feature-icon-3.svg"
      width = "96"
    )
    h2.feature-header Snapshot and share your app at any state

section.landing-callout
  img(
    height = "300"
    src = "/build/images/home/feature-banner-1.svg"
    width = "600"
  )
  h2 Refreshingly Straightforward
  p Full environmental configuration, file, and terminal access are always within a reach. 
  a.btn.green.btn-cta(
    href = "{{ dataHome.loginURL }}"
  )
    svg.iconnables.icons-git
      use(
        xlink:href = "#icons-git"
      )
    | Sign Up with Github

footer.landing-footer
  small.footer-text &copy; 2014
  svg.iconnables.icons-runnable
    use(
      xlink:href = "#icons-runnable"
    )
  small.footer-text
    a.link(
      href = "mailto: support@runnable.io"
    ) Email Support
