.col.col-50
  a.btn.btn-xl.gray.no-touching
    svg.iconnables.icons-fork
      use(
        xlink:href = "#icons-fork"
      )
    | Fork
.col.col-50.flex-center
  h2.h2.header-thin.text-purple Fork boxes to unblock
    br
    | your creativity
  p.p Never be blocked by resources again. Reproduced a bug? Stuck on a teammate’s issue? Press the Fork button to immediately create a new Server or Cluster to work on.