main.hero
  header.container
    a.logo(href = "/")
      svg
        use(xlink:href = "#runnable-logo")
    a.btn.white(
      href = "{{ dataApp.loginURL }}"
    ) Log In
  .content-wrapper
    h1.tag-line Sandboxes. Sandboxes. Sandboxes.
    h2.sub-line /ˈsan(d)ˌbäks/—a shallow box or hollow in the ground partly filled with sand for children to play in.
    a.btn.white(
      href = "{{ dataApp.loginURL }}"
    )
      svg.iconnables.icons-git
        use(xlink:href = "#icons-git")
      | Sign Up with Github

section.container
  .row
    .feature.col-sm-4.col-sm-offset-2
      svg.iconnables.icons-folder-open(viewBox='0 0 30 30')
        use(xlink:href = "#icons-folder-open")
      h3 We've Got Folders
      p To store your files, and additional folders. They come in black and white, and can hold up to 2 files at once.
    .feature.col-sm-4
      svg.iconnables.icons-file
        use(xlink:href = "#icons-file")
      h3 Files Too!
      p Your first 10 files are free. At only $10 per additional file, you can afford to have dozens!
  .row
    .feature.col-sm-4.col-sm-offset-2
      svg.iconnables.icons-gear(viewBox='0 0 30 30')
        use(xlink:href = "#icons-gear")
      h3 Settings
      p Choose up to two custom themes.
    .feature.col-sm-4
      svg.iconnables.icons-recipe
        use(xlink:href = "#icons-recipe")
      h3 Configs
      p What is it even?

footer