.row.clearfix
  .col
    h2.h2.header-thin JSFiddle for Full-stack Applications
    p.p Run full-stack experiments through a terminal and file editor in the browser.
.row
  .col.clearfix.ace-tm.ace-runnable-dark
    pre.pre.img-workflow.img-workflow-terminal(
      tabindex = "0"
    ) root@id:/mysql#
      img.img(
        height = "60"
        ng-src = "/build/images/home/icons/icons-mysql.svg"
        width = "60"
      )
    .img-workflow-link
      svg.iconnables.icons-link
        use(
          xlink:href = "#icons-link"
        )
    .img-workflow.img-workflow-editor.ace-tm.ace-runnable-dark.clearfix
      ul.file-tree
        li.folder
          svg.iconnables.filetypes.icons-folder
            use(
              xlink:href = "#icons-folder"
            )
          span.item-name concerns
        li.file
          svg.iconnables.filetypes.icons-file
            use(
              xlink:href = "#icons-file"
            )
          span.item-name controller.rb
      pre.pre.
        class createA
          def change
            create_table
              t.string
              t.text
              t.timestamps
            end
          end
        end
      img.img(
        height = "60"
        ng-src = "/build/images/home/icons/icons-rails.svg"
        width = "60"
      )
p.p.row Link boxes to prototype any architecture through environment variables.
