.col.col-50
  a.btn.btn-xl.gray.no-touching
    svg.iconnables.icons-fork
      use(
        xlink:href = "#icons-fork"
      )
    | Fork
.col.col-50.flex-center
  h2.h2.header-thin.text-purple Unblock your team
  p.p Press the Fork button to immediately create a new server or cluster to work on.