.col.col-50
  .img-pull
    .pull-header
      .btn-group
        button.btn.btn-xs
          svg.iconnables.icons-arrow-back
            use(
              xlink:href = "#icons-arrow-back"
            )
        button.btn.btn-xs
          svg.iconnables.icons-arrow-back
            use(
              xlink:href = "#icons-arrow-back"
            )
      label.input-group
        svg.iconnables.icons-octocat
          use(
            xlink:href = "#icons-octocat"
          )
        input.input(
          readonly
          select-all
          value = "github.com/tjmehta/101"
        )
    .pull-body.clearfix
      .btn-sm.green
        svg.iconnables.icons-pull-request
          use(
            xlink:href = "#icons-pull-request"
          )
        | Open Pull Request
      .well
        img.img(
          height = "36"
          src = "https://avatars0.githubusercontent.com/u/2335750?v=3&s=96"
          width = "36"
        )
        .btn-sm.gray
          strong runnabot #{''}
          | commented
        p.p The latest push on this PR is ready on #{''}
          a.link.web-link your server
          | .
  p.p Launch clusters straight from pull requests.
.col.col-50
  .img-notification
    img.img(
      height = "30"
      src = "/build/images/logos/logo-icon-slack.svg"
      width = "30"
    )
    h4.h4 New message in #front-end
    p.p Runnabot: tjmehta's changes (github hook response was changed) are deployed on serv…
  .img-notification
    img.img(
      height = "30"
      src = "/build/images/logos/logo-icon-hipchat.svg"
      width = "30"
    )
    h4.h4 Runnabot
    p.p tjmehta's changes (github hook response was changed) are deployed on servers: &lt;tj-api&gt;
  p.p We’ll spin up a server for every push made to your code.