main.home.pricing

  //- hero
  section.home-hero
    header.home-header
      a.logo(
        href = "/"
      )
        svg
          use(
            xlink:href = "#runnable-logo"
          )
      nav.home-nav
        a.link.link-text(
          href = "/features"
        ) Features
        a.link.link-text Pricing
        a.link.link-text Sign In
    h1.h1.header-thin We only have one price
    h3.h3.header-thin (Your first born) or $20/user/month

  //- features
  section.home-features
    .row
      .col
        img(
          height = "300"
          src = "/build/images/home/pricing-coin.svg"
          width = "300"
        )
        h2.h2.header-thin.text-orange Bear with us
        p.p We're still testing Runnable and #{''}
          br
          | will be available for beta soon.
        a.btn.btn-xl.green Request Invite

  .hr.hr-single

  section.home-faq
    .row.clearfix
      .col
        h4.h4.header-thin Does it cost more to have your reps help us get onboard?
        p.p There are no extra costs. We really want to make Runnable as easy as possible for you to use.
      .col
        h4.h4.header-thin How long does it take to get onboarded?
        p.p It depends on the complexity of your stack, but can take up to a few hours.
      .col
        h4.h4.header-thin Can you support larger databses?
        p.p We can work with you to have a custom Runnable space to support your larger databases—up to 1TB.

footer.home-footer
  .hr
    img.hr-image(
      height = "30"
      src = "/build/images/runnable-icon.svg"
      width = "30"
    )
  nav.footer-nav
    a.link.link-text(
      href = "/"
    ) Home
    a.link.link-text(
      href = "/features"
    ) Features
    a.link.link-text Pricing
    a.link.link-text Contact
    a.link.link-text
      b Sign In