.col.col-50.ace-tm
  h2.h2.header-thin Built on Docker
  p.p Pull containers down to your local or remote host from our private Docker registry.
  pre.pre.img-docker-terminal(
    tabindex = "0"
  )
    | root@amzn-ec2-instance:~$ docker run dockerfile/elasticsearch
    | Pulling repository dockerfile/elasticsearch
    | 88frsc: Pulling dependent layers
    | htlnt4: Download complete
    | ky33z5: Download complete
    | 2m48l3: Download complete
    | 54u20n: Pulling fs layer
    img.img(
      height = "30"
      src = "/build/images/logos/logo-docker.svg"
      width = "110"
    )
.col.col-50
  h2.h2.header-thin In the Works
  ul.list
    li.list-item
      img.img(
        height = "45"
        src = "/build/images/home/soon-one-click.svg"
        width = "360"
      )
      p.p One-click deployment to AWS, Digital Ocean, Kubernetes, Mesosphere and more.
    li.list-item
      img.img(
        height = "45"
        src = "/build/images/home/soon-issue-tracking.svg"
        width = "360"
      )
      p.p Setup clusters that follow issues from JIRA and PivotalTracker.
