header.hero
  //- background layers (non-content)
  .hero-bg.layer-one(
    data-0 = "transform: translate3d(0,0px,0);"
    data-400 = "transform: translate3d(0,45px,0);"
  )
  .hero-bg.layer-two(
    data-0 = "transform: translate3d(0,0px,0);"
    data-400 = "transform: translate3d(0,30px,0);"
  )

  //- header content
  nav.hero-nav
      a.logo(
        href = "/"
      )
        svg
          use(
            xlink:href = "#runnable-logo"
          )
      a.btn.btn-hero(
        href = "{{ dataApp.loginURL }}"
      ) Sign In
  .hero-wrapper
    h1.hero-text Faster Development with Sundip
    p.hero-text-sub Launch a box to #{''}
      span.text-swap
        span debug
        //- span share
        //- span verify
      |  in seconds

section.clearfix.landing-features
  .feature.animate
    img(
      data-start = "@class\: paused"
      data-bottom = "@class\: running"
      data-top-bottom = "@class\: paused"
      height = "72"
      src = "/build/images/home/feature-icon-1.svg"
      width = "96"
    )
    h2.feature-header Octocat Friendly
    p.feature-description.
      Spin up existing repositories in seconds.
  .feature
    img(
      height = "72"
      src = "/build/images/home/feature-icon-2.svg"
      width = "96"
    )
    h2.feature-header For the Commitment-phobic
    p.feature-description.
      Changing repositories and commits are easy.
  .feature
    img(
      height = "72"
      src = "/build/images/home/feature-icon-1.svg"
      width = "96"
    )
    h2.feature-header From 0 to 1
    p.feature-description.
      Integration and staging in one place.

section.landing-callout
  img(
    height = "300"
    src = "/build/images/home/feature-banner-1.svg"
    width = "600"
  )
  h2 You've Got the Power
  p We provide you the tools you need to debug issues.

section.landing-cta
  a.btn.green(
    href = "{{ dataApp.loginURL }}"
  )
    svg.iconnables.icons-git
      use(
        xlink:href = "#icons-git"
      )
    | Sign Up with Github

footer.landing-footer
  svg.iconnables.icons-runnable
    use(
      xlink:href = "#icons-runnable"
    )
