main.home.features

  //- hero
  section.home-hero
    header.home-header
      a.logo(
        href = "/"
      )
        svg
          use(
            xlink:href = "#runnable-logo"
          )
      nav.home-nav
        a.link.link-text(
          href = "/features"
        ) Features
        a.link.link-text(
          href = "/pricing"
        ) Pricing
        a.link.link-text(
          ng-href = "{{ dataApp.data.loginURL }}"
        ) Sign In
    h1.h1.header-thin We’ll be there for you
    h3.h3.header-thin Our reps will get your code running, pinky swear

  //- features
  section.home-features
    .row
      .col
        img(
          height = "300"
          src = "/build/images/home/feature-reps.svg"
          width = "300"
        )
        h2.h2.header-thin.text-purple Get on Board
        p.p We'll get your team onboarded and your
          br
          | stack running over coffee or Skype.
    .hr.hr-single
    .row
      .col
        img(
          height = "180"
          src = "/build/images/home/feature-linking.svg"
          width = "180"
        )
      .col.text-left
        h2.h2.header-thin.text-blue Better Together
        p.p With Dixie cup and string technology, #{''}
          br
          | we are able to link boxes together.
    .hr.hr-single
    .row
      .col.text-left
        h2.h2.header-thin.text-green Github Integrated
        p.p Run your branches, commits, #{''}
          br
          | and pull requests.
      .col
        img(
          height = "180"
          src = "/build/images/home/feature-github.svg"
          width = "180"
        )
    .hr.hr-single
    .row
      .col
        img(
          height = "180"
          src = "/build/images/home/feature-databses.svg"
          width = "180"
        )
      .col.text-left
        h2.h2.header-thin.text-orange It’s Over 500GB
        p.p We support databases over 500GB.
          br
          | You say mango, we say Mongo.

  //-
  section.home-hero.home-callout
    .row
      h2.h2.header-thin But Wait, There’s More
      ul.hero-list
        li.hero-list-item.clearfix
          img.hero-list-image(
            height = "60"
            src = "/build/images/home/features-terminal.svg"
            width = "60"
          )
          span.hero-list-text Terminal Access
        li.hero-list-item.clearfix
          img.hero-list-image(
            height = "60"
            src = "/build/images/home/features-files.svg"
            width = "60"
          )
          span.hero-list-text File Access
        li.hero-list-item.clearfix
          img.hero-list-image(
            height = "60"
            src = "/build/images/home/features-fork.svg"
            width = "60"
          )
          span.hero-list-text Fork Servers
        li.hero-list-item.clearfix
          img.hero-list-image(
            height = "60"
            src = "/build/images/home/features-custom.svg"
            width = "60"
          )
          span.hero-list-text Full Customization

  //- demo boxes
  section.home-demos
    h1.h1.header-thin Try a Server
    h3.h3.header-thin Free to try, no sign ups
    ol.demo-list.clearfix
      li.demo-list-item
        img.demo-icon(
          height = "48"
          src = "/build/images/home/icons-django.svg"
          width = "48"
        )
        .demo-list-text
          h3.h3.header-thin Django
          p.p Launch a web app running on AngularJs and Django
        a.btn.btn-sm.green(
          href = "#"
          target = "_blank"
        ) Launch Server
      li.demo-list-item
        img.demo-icon(
          height = "48"
          src = "/build/images/home/icons-ruby-on-rails.svg"
          width = "48"
        )
        .demo-list-text
          h3.h3.header-thin Ruby on Rails
          p.p Launch a Rails app with MySQL
        a.btn.btn-sm.green(
          href = "#"
          target = "_blank"
        ) Launch Server
      li.demo-list-item
        img.demo-icon(
          height = "48"
          src = "/build/images/home/icons-node.js.svg"
          width = "48"
        )
        .demo-list-text
          h3.h3.header-thin node.js
          p.p I don’t even know right now
        a.btn.btn-sm.green(
          href = "#"
          target = "_blank"
        ) Launch Server
    a.link.link-text Don’t see yours? Launch a custom server.


  footer.home-footer
    .hr
      img.hr-image(
        height = "30"
        src = "/build/images/runnable-icon.svg"
        width = "30"
      )
    nav.footer-nav
      a.link.link-text(
        href = "/"
      ) Home
      a.link.link-text(
        href = "/features"
      ) Features
      a.link.link-text(
        href = "/pricing"
      ) Pricing
      a.link.link-text(
        href = "mailto:support@runnable.com"
      ) Email Us
      a.link.link-text(
        ng-href = "{{ dataApp.data.loginURL }}"
      )
        b Sign In
