header.hero
  //- background layers (non-content)
  .hero-bg.layer-one(
    data-0 = "transform: translate3d(0,0px,0);"
    data-400 = "transform: translate3d(0,45px,0);"
  )
  .hero-bg.layer-two(
    data-0 = "transform: translate3d(0,0px,0);"
    data-400 = "transform: translate3d(0,30px,0);"
  )

  //- header content
  nav.hero-nav
      a.logo(
        href = "/"
      )
        svg
          use(
            xlink:href = "#runnable-logo"
          )
      a.btn.btn-hero(
        href = "{{ dataApp.loginURL }}"
      ) Sign In
  .hero-wrapper
    h1.hero-text Fed Up of sharing Servers?
    p.hero-text-sub Get a 
      strong Server 
      | for every 
      strong Commit 
      | version of you develop.

section.clearfix.landing-features
    
  .feature
    img(
      height = "72"
      src = "/build/images/home/feature-icon-1.svg"
      width = "96"
    )
    h2.feature-header Customize 
    p.feature-description Create a Box for any stacks your code needs
    
  .feature
    img(
      height = "72"
      src = "/build/images/home/feature-icon-2.svg"
      width = "96"
    )
    h2.feature-header Launch 
    p.feature-description Run your full app with data from any commit
  
  .feature
    img(
      height = "72"
      src = "/build/images/home/feature-icon-3.svg"
      width = "96"
    )
    h2.feature-header Fork
    p.feature-description  Clone a new Box to snapshot your app at any time

section.landing-callout
  img(
    height = "300"
    src = "/build/images/home/feature-banner-1.svg"
    width = "600"
  )
  h2 Refreshingly Straightforward
  p Full environmental configuration, file, and terminal access are always within a reach. 
  a.btn.btn-cta(
    ng-class = "{ \
      green: dataHome.data.hasPass, \
      orange: !dataHome.data.hasPass \
    }"
    ng-disabled = "!dataHome.data.hasPass"
    ng-href = "{{ dataHome.data.hasPass ? dataApp.loginURL : '' }}"
  )
    svg.iconnables.icons-git
      use(
        xlink:href = "#icons-git"
      )
    | {{ dataHome.data.hasPass ? 'Sign up with GitHub' : 'Coming Soon' }}

footer.landing-footer
  small.footer-text &copy; 2014
  svg.iconnables.icons-runnable
    use(
      xlink:href = "#icons-runnable"
    )
  small.footer-text
    a.link(
      href = "mailto: support@runnable.io"
    ) Email Support
