h2.h2.header-thin.text-purple Experiment with your stack
  br
  | in your browser
p.p Take advantage of the fully featured terminal, file browser and editor to interact with your server.
ul.row.clearfix.list.workflow-toggle
  li.list-item.workflow-toggle-item.ace-tm.ace-runnable-dark(
    ng-class = "{active: workflowToggle === 1}"
    ng-click = "workflowToggle = 1"
  )
    pre.pre.img-workflow.img-workflow-terminal root@id:
    .workflow-label Run scripts
  li.list-item.workflow-toggle-item.ace-tm.ace-runnable-dark(
    ng-class = "{active: workflowToggle === 2}"
    ng-click = "workflowToggle = 2"
  )
    pre.pre.img-workflow.img-workflow-editor Server.prototype.start
    .workflow-label Edit source files
  li.list-item.workflow-toggle-item.ace-tm.ace-runnable-dark(
    ng-class = "{active: workflowToggle === 3}"
    ng-click = "workflowToggle = 3"
  )
    pre.pre.img-workflow.img-workflow-commits /bin/sh -c npm start
    .workflow-label Debug call stacks
.img-ui(
  ng-init = "workflowToggle = 1"
)
  .ui-header
    .btn-group
      svg.btn.btn-xs.iconnables.icons-arrow-back
        use(
          xlink:href = "#icons-arrow-back"
        )
      svg.btn.btn-xs.iconnables.icons-arrow-back
        use(
          xlink:href = "#icons-arrow-back"
        )
    input.input.no-touching(
      readonly
      select-all
      value = "runnable.io/your_org/web-staging"
    )
  .ui-wrapper
    .sidebar.global-sidebar
      h2.sub-header Your Servers
      ul.box-group.no-touching
        li.box-group-item.btn.white.running.expanded.active
          a.box-item-name Web-Staging
          span.icons-status
          a.box-item-cluster API-Staging
            span.icons-status.running
          a.box-item-cluster Mongo-Staging
            span.icons-status.running
          a.box-item-cluster Redis-Staging
            span.icons-status.running
    .content
      .box-header
        h1.box-info
          .box-name Web-Staging
            span.icons-status.active.running
          input.box-url(
            readonly
            value = "web-staging.runnable.io"
          )
        .primary-actions(
          ng-if = "workflowToggle === 2"
        )
          .btn.green.no-touching Save
        .secondary-actions
          .btn.white.btn-action.no-touching
            svg.iconnables.icons-fork
              use(
                xlink:href = "#icons-fork"
              )
            | Fork
          .btn.white.btn-icon.btn-actions.no-touching
            svg.iconnables.icons-gear
              use(
                xlink:href = "#icons-gear"
              )
      .sidebar.box-sidebar
        .btn.btn-sm.btn-icon.white.explorer-toggle.active.no-touching
          svg.iconnables.icons-folder-open
            use(
              xlink:href = "#icons-folder-open"
            )
        ul.file-tree.no-touching
          li.folder
            svg.iconnables.filetypes.icons-folder
              use(
                xlink:href = "#icons-folder"
              )
            span.item-name bin
          li.folder
            svg.iconnables.filetypes.icons-folder
              use(
                xlink:href = "#icons-folder"
              )
            span.item-name boot
          li.folder.in
            svg.iconnables.filetypes.icons-folder
              use(
                xlink:href = "#icons-folder"
              )
            span.item-name dev
            ul
              li.folder
                svg.iconnables.filetypes.icons-folder
                  use(
                    xlink:href = "#icons-folder"
                  )
                span.item-name assets
              li.file
                svg.iconnables.filetypes.icons-file
                  use(
                    xlink:href = "#icons-file"
                  )
                span.item-name files.scss
              li.file
                svg.iconnables.filetypes.icons-file
                  use(
                    xlink:href = "#icons-file"
                  )
                span.item-name README.md
      .views.ui-views.active-panel.ace-runnable-dark.ui-views-terminal(
        ng-if = "workflowToggle === 1"
      )
        pre.pre.
          root@cid: sh syncDb.sh

          syncing...10%...20%...
      .views.ui-views.active-panel.ace-tm.ace-runnable-dark.ui-views-editor(
        ng-if = "workflowToggle === 2"
      )
        pre.pre.
          Server.prototype.start = function (cb) {
            debug('start');
            this.express.listen(process.env.PORT, cb);
            return this;
          };

          Server.prototype.stop = function (cb) {
            debug('stop');
            this.express.close(cb);
            return this;
          };

          module.exports = Server;
      .views.ui-views.active-panel.ace-tm.ace-runnable-dark(
        ng-if = "workflowToggle === 3"
      )
        pre.pre.
          /bin/sh -c npm start

          ReferenceError: port is not defined
            at Object.<anonymous> (/runnable-angular/server/main.js:31:20)
            at Module._compile (module.js:456:26)
            at Object.Module._extensions..js (module.js:474:10)
            at Module.load (module.js:356:32)
            at Function.Module._load (module.js:312:12)
            at Function.Module.runMain (module.js:497:10)
            at startup (node.js:119:16)
            at node.js:906:3