.img-ui(
  ng-init = "workflowToggle = 1"
)
  .ui-header
    .btn-group
      svg.btn.btn-xs.iconnables.icons-arrow-back
        use(
          xlink:href = "#icons-arrow-back"
        )
      svg.btn.btn-xs.iconnables.icons-arrow-back
        use(
          xlink:href = "#icons-arrow-back"
        )
    input.input.no-touching(
      readonly
      select-all
      value = "runnable.io"
    )
  .ui-wrapper
    .sidebar.global-sidebar
      h2.sub-header Your Servers
      ul.box-group.no-touching
        li.box-group-item.btn.white.running.expanded.active
          a.box-item-name Web-Staging
          span.icons-status
          a.box-item-cluster API-Staging
            span.icons-status.running
          a.box-item-cluster Mongo-Staging
            span.icons-status.running
          a.box-item-cluster Redis-Staging
            span.icons-status.running
    .content
      .box-header
        h1.box-info
          .box-name Web-Staging
            span.icons-status.active.running
          input.box-url(
            readonly
            value = "web-staging.runnable.io"
          )
        .secondary-actions
          .btn.white.btn-action.no-touching
            svg.iconnables.icons-fork
              use(
                xlink:href = "#icons-fork"
              )
            | Fork
          .btn.white.btn-icon.btn-actions.no-touching
            svg.iconnables.icons-gear
              use(
                xlink:href = "#icons-gear"
              )
      .sidebar.box-sidebar
        ul.list.repository-group.no-touching
          li.list-item.repository-group-item.repository-group-text
            svg.iconnables.icons-repository
              use(
                xlink:href = "#icons-repository"
              )
            h3.repository-title runnable/web
            p.repository-description
              svg.iconnables.icons-branch
                use(
                  xlink:href = "#icons-branch"
                )
              | master
            p.repository-description.clearfix
              svg.iconnables.icons-commit
                use(
                  xlink:href = "#icons-commit"
                )
              | Stopping the closing of this popover
      .popover.bottom.popover-repository-toggle(
        ng-class = "{in: workflowToggle === 3}"
      )
        .arrow.white
        ul.list.popover-list.toggle-group
          li.list-item.popover-list-item.toggle-group-item.no-touching
            .toggle-group-title Stopping the closing of this popover
            .toggle-group-detail.clearfix
              small.small Nathan219—6 days ago
              svg.iconnables.icons-git
                use(
                  xlink:href = "#icons-git"
                )
          li.list-item.popover-list-item.toggle-group-item.no-touching
            .toggle-group-title Merge pull request #409
            .toggle-group-detail.clearfix
              small.small tjmehta—8 days ago
              svg.iconnables.icons-git
                use(
                  xlink:href = "#icons-git"
                )
          li.list-item.popover-list-item.toggle-group-item.no-touching
            .toggle-group-title remove build leak in tab cache
            .toggle-group-detail.clearfix
              small.small SomeKittens—10 days ago
              svg.iconnables.icons-git
                use(
                  xlink:href = "#icons-git"
                )
      .views.ui-views.active-panel.ace-runnable-dark(
        ng-if = "workflowToggle === 1"
      )
        pre.pre.
          root@id:
      .views.ui-views.active-panel.ace-tm.ace-runnable-dark(
        ng-if = "workflowToggle === 2"
      )
        pre.pre.
          &lt;!DOCTYPE html&gt;
          &lt;html&gt;
          &lt;head&gt;
          &nbsp;&nbsp;&lt;title&gt;&lt;/title&gt;
          &lt;/head&gt;
          &lt;body&gt;
          &lt;/body&gt;
      .views.ui-views.web-view(
        ng-if = "workflowToggle === 4"
      )
        .web-view-row
            button.btn.btn-xxs.blue.hover
        .clearfix
          .web-view-column
          .web-view-column
            button.btn.btn-xxs.blue.hover
          .web-view-column
        .clearfix
          .web-view-column
            .web-shape-square
          .web-view-column
            .web-shape-circle
.row.clearfix
  ul.list.workflow-toggle
    li.list-item.workflow-toggle-item.ace-tm.ace-runnable-dark(
      ng-class = "{active: workflowToggle === 1}"
      ng-click = "workflowToggle = 1"
    )
      pre.pre.img-workflow.img-workflow-terminal root@id:
      .workflow-label Terminal
    li.list-item.workflow-toggle-item(
      ng-class = "{active: workflowToggle === 2}"
      ng-click = "workflowToggle = 2"
    )
      .img-workflow.img-workflow-editor.ace-tm.ace-runnable-dark
        pre.pre.
          &lt;!DOCTYPE html&gt;
      .workflow-label File Editor
    li.list-item.workflow-toggle-item(
      ng-class = "{active: workflowToggle === 3}"
      ng-click = "workflowToggle = 3"
    )
      .img-workflow.img-workflow-commits
        svg.iconnables.icons-commit
          use(
            xlink:href = "#icons-commit"
          )
        svg.iconnables.icons-commit
          use(
            xlink:href = "#icons-commit"
          )
        svg.iconnables.icons-commit
          use(
            xlink:href = "#icons-commit"
          )
        svg.iconnables.icons-commit
          use(
            xlink:href = "#icons-commit"
          )
      .workflow-label Toggle Commits
    li.list-item.workflow-toggle-item(
      ng-class = "{active: workflowToggle === 4}"
      ng-click = "workflowToggle = 4"
    )
      .img-workflow.img-workflow-web.web-view
        .clearfix
          .web-view-column
          .web-view-row
          .web-view-row
      .workflow-label Web View
  h2.h2.header-thin JSFiddle for Full-stack Applications
  p.p Run full-stack experiments through a terminal and file editor in the browser. Link boxes to prototype any architecture through environment variables.
.row.ace-tm.ace-runnable-dark.clearfix