main.home

  //- hero
  section.home-hero
    header.home-header
      a.logo
        svg
          use(
            xlink:href = "#runnable-logo"
          )
      nav.home-nav
        a.link.link-text Features
        a.link.link-text Pricing
        a.link.link-text Sign In
    h1.h1.header-thin Bring your code online
    h3.h3.header-thin Servers on demand for any stack
    //- icon grid
    .icon-grid
      .icon-grid-row
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/ruby-on-rails-icon.svg"
          width = "45"
        )
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/cake-php-icon.svg"
          width = "45"
        )
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/code-igniter-icon.svg"
          width = "45"
        )
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/dart-icon.svg"
          width = "45"
        )
      .icon-grid-row
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/django-icon.svg"
          width = "45"
        )
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/flask-icon.svg"
          width = "45"
        )
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/code-igniter-icon.svg"
          width = "45"
        )
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/java-icon.svg"
          width = "45"
        )
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/mongo-icon.svg"
          width = "45"
        )
      .icon-grid-row
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/nodejs-icon.svg"
          width = "45"
        )
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/mysql-icon.svg"
          width = "45"
        )
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/php-icon.svg"
          width = "45"
        )
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/python-icon.svg"
          width = "45"
        )
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/ruby-icon.svg"
          width = "45"
        )
        img.icon-grid-image(
          height = "45"
          src = "/build/images/icons/home/ruby-on-rails-icon.svg"
          width = "45"
        )

  //- features
  section.home-features
    .row
      .col
        img(
          height = "180"
          src = "/build/images/home/feature-boxes.svg"
          width = "180"
        )
        h2.h2.header-thin Any Stack Anytime
        p.p Simple and flexible. Use Runnable servers #{''}
          br
          | to help your uncle with his next big idea.
    .row
      .col
        img(
          height = "120"
          src = "/build/images/home/feature-linking.svg"
          width = "120"
        )
        h2.h2.header-thin Better Together
        p.p With Dixie cup and string technology, #{''}
          br
          | we are able to link boxes together.
      .col
        img(
          height = "120"
          src = "/build/images/home/feature-github.svg"
          width = "120"
        )
        h2.h2.header-thin Github Integrated
        p.p Run your branches, commits, #{''}
          br
          | and pull requests.

  .hr.hr-single

  //- demo boxes
  section.home-demos
    h1.h1.header-thin Try a Server
    h3.h3.header-thin Free to try, no sign ups
    ol.demo-list.clearfix
      li.demo-list-item
        img.demo-icon(
          height = "48"
          src = "/build/images/home/icons-django.svg"
          width = "48"
        )
        h3.h3.header-thin Django
        p.p Launch a web app running on AngularJs and Django
        a.btn.btn-sm.green Launch Server
      li.demo-list-item
        img.demo-icon(
          height = "48"
          src = "/build/images/home/icons-ruby-on-rails.svg"
          width = "48"
        )
        h3.h3.header-thin Ruby on Rails
        p.p Launch a Rails app with MySQL
        a.btn.btn-sm.green Launch Server
      li.demo-list-item
        img.demo-icon(
          height = "48"
          src = "/build/images/home/icons-node.js.svg"
          width = "48"
        )
        h3.h3.header-thin node.js
        p.p I don't even know right now
        a.btn.btn-sm.green Launch Server
    a.link.link-text Don't see yours? Launch a custom server.
    .hr
      span.hr-text or
    a.btn.green Explore Features

footer.home-footer
  .hr
    img.hr-image(
      height = "30"
      src = "/build/images/runnable-icon.svg"
      width = "30"
    )
  nav.footer-nav
    a.link.link-text Features
    a.link.link-text Pricing
    a.link.link-text Contact
    a.link.link-text
      b Sign In