main#home
  svg#logomark.iconnables
    use(xlink:href = "#runnable-logomark")
  svg#lettering.iconnables
    use(xlink:href = "#runnable-lettering")
  a.btn.white(
    href = "{{ dataApp.loginURL }}"
    type = "button"
  )
    svg.iconnables.icons-git
      use(xlink:href = "#icons-git")
    | Log In with Github
