h1.h1.header-thin $20
  span.span #{''} per user/month
.row.clearfix
  .col.col-50
    h3.h3.header-thin What do you charge per server?
    p.p Nothing! Spin up unlimited servers at no additional cost.
  .col.col-50
    h3.h3.header-thin Is my code safe with you?
    p.p Yes! We create servers for you on our secure, AWS cloud.
img.img(
  height = "150"
  src = "/build/images/home/pricing-coin.svg"
  width = "150"
)