main.hero

  header.hero-header
      a.logo(
        href = "/"
      )
        svg
          use(
            xlink:href = "#runnable-logo"
          )
      a.btn.btn-hero(
        ng-href = "{{ dataApp.data.loginURL }}"
        ng-if = "dataHome.data.hasPass"
      )
        svg.iconnables.icons-git
          use(
            xlink:href = "#icons-git"
          )
        | Sign In
      a.btn.btn-hero(
        href = "mailto:support@runnable.com?subject=Send me an invite, or else!"
        ng-if = "!dataHome.data.hasPass"
      ) Request an Invite

  section.hero-heading
    h1.hero-text A Server for Every Commit
    p.hero-text-sub Run every version of your code as it's developed.

  section.hero-content
    a(
      href = "#"
    )
      img(
        alt = ""
        height = ""
        src = ""
        width = ""
      )
      h2
      p
