header.hero

  //- background layers (non-content)
  .hero-bg.layer-one(
    data-0 = "transform: translate3d(0,0px,0);"
    data-400 = "transform: translate3d(0,45px,0);"
  )
  .hero-bg.layer-two(
    data-0 = "transform: translate3d(0,0px,0);"
    data-400 = "transform: translate3d(0,30px,0);"
  )

  //- header content
  nav.hero-nav
      a.logo(
        href = "/"
      )
        svg
          use(
            xlink:href = "#runnable-logo"
          )
      a.link(
        href = "{{ dataApp.loginURL }}"
      ) Sign In
  .hero-wrapper
    h1.hero-text There's a Box for That
    p.hero-text-sub Launch a box to #{''}
      span.text-swap
        span debug
        //- span share
        //- span verify
      |  in seconds.
    button.btn-hero Learn More

section.clearfix.landing-features
  .feature
    img(
      height = "72"
      src = "/build/images/home/feature-icon-1.svg"
      width = "96"
    )
    h2.feature-header Quickly Run Any Repo
    p.feature-description.
      Donec vehicula nunc ut orci varius, sit amet accumsan urna gravida.
  .feature
    img(
      height = "72"
      src = "/build/images/home/feature-icon-2.svg"
      width = "96"
    )
    h2.section-header Noncommittal
    p.section-description.
      Change commits on the fly.
  .feature
    img(
      height = "72"
      src = "/build/images/home/feature-icon-1.svg"
      width = "96"
    )
    h2.section-header Something Else
    p.section-description.
      Donec dictum iaculis aliquam.

section.landing-callout
  img
  h2
  p

section.landing-cta
  h3.cta-hero-text
  button

footer.landing-footer
  a
  img(
    height = "30"
    src = ""
    width = "30"
  )
  a