main.home

  //- header
  header.home-header
    a.logo-anchor
      img.logo.float-left(
        height = "45"
        src = "/build/images/runnable-logo.svg"
        width = "240"
      )
      sup.sup &lt;beta&gt;
    nav.home-nav
      a.link(
        ng-href = "{{ dataHome.data.hasPass ? dataApp.data.loginURL : 'mailto:support@runnable.com?subject=Please send me an invite for the beta' }}"
      ) {{ dataHome.data.hasPass ? 'Sign In' : 'Request Invite' }}

  footer.home-footer
    .hr
      img.hr-image(
        height = "30"
        src = "/build/images/runnable-icon.svg"
        width = "30"
      )
    nav.footer-nav
      a.link(
        href = "mailto:support@runnable.com"
      ) Email Us
      a.link(
        href = "http://support.runnable.io"
        target = "_blank"
      ) Documentation
      a.link(
        ng-href = "{{ dataApp.data.loginURL }}"
        ng-if = "dataHome.data.hasPass"
      )
        b Sign In
