.popover-header
  button.btn.btn-sm.white.pull-left(
    ng-click = "state.view3 = false"
  )
    svg.iconnables.icons-arrow-back
      use(
        xlink:href = "#icons-arrow-back"
      )
    | Back

.popover-content