.popover-header
  button.btn.btn-sm.white.pull-left(
    ng-click = "state.view2 = false"
  )
    svg.iconnables.icons-arrow-backward
      use(
        xlink:href = "#icons-arrow-down"
      )
    | Change
  strong.strong.text-overflow repository-name
  //- if this is not a new thing
  button.btn.btn-sm.orange.pull-right Delete

.popover-content
  label.label.clearfix
    .input-col
      .btn.btn-block.gray.text-overflow(
        ng-click = "state.view3 = true"
      ) commit msg
        small.small joe authored 18 days ago
        svg.iconnables.icons-arrow-down
          use(
            xlink:href = "#icons-arrow-down"
          )

  label.label.clearfix
    .label-col Destination
    .input-col
      input.input.input-sm(
        placeholder = "required"
        required
      )

  label.label.clearfix
    .label-col Build Commands
    .input-col
      textarea.textarea.monospace

.popover-footer.clearfix
  button.btn.btn-sm.green.btn-spinner(
    ng-class = "{in: data.saving}"
    ng-click = "data.saving = true"
    ng-disabled = "data.saving"
  )
    //- spinner
    .spinner-wrapper.spinner-sm.spinner-white.in(
      ng-if = "data.saving"
      ng-include = "'spinner'"
    )
    span(
      ng-if = "!data.saving"
    ) Add File
    span(
      ng-if = "data.saving"
    ) Uploading
  button.btn.btn-sm.gray.btn-cancel Cancel