.popover-header
  button.btn.btn-sm.white.pull-left(
    ng-click = "state.view3 = false"
  )
    svg.iconnables.icons-arrow-backward
      use(
        xlink:href = "#icons-arrow-down"
      )
    | Back
  strong.strong.text-overflow Commit
  //- this button is empty on purchase
  button.btn.btn-sm.pull-right

.popover-content
  label.label.label-jump
    small.small Branch
    select.select
      option(
        disabled
      ) Choose a branch
      option branch1
      option branch2