//- add class .in to display
.alert.purple(
  ng-class = "{ \
    in: dataInstance.data.showBuildCompleted \
  }"
)
  svg.iconnables.icons-check
    use(
      xlink:href = "#icons-check"
    )
  | Your build is now running

header.box-header
  h1.box-name.load(
    ng-show = "dataInstance.data.instance.attrs.name"
  ) {{ dataInstance.data.instance.attrs.name }}
    span.icons-status(
      ng-class = "dataInstanceLayout.actions.getInstanceClasses(dataInstance.data.instance)"
      tooltip = "{{ dataInstanceLayout.actions.getInstanceAltTitle(dataInstance.data.instance) }}"
      tooltip-options = "{\"class\":\"bottom\",\"left\":-7,\"top\":12}"
    )
  .primary-actions
    //- apply .with-restart if save restarts box
    //- add title = "Save and Restart Box" if save restarts box
    button.green.btn-save(
      ng-class = "{in: dataInstance.data.saving}"
      ng-click = "dataInstance.actions.saveChanges()"
      ng-disabled = "!dataInstance.data.container.running() || dataInstance.data.loading"
      type = "button"
    )
      span.btn-text Save
      //- show if restart is checked
      span.btn-text(
        ng-if = "dataInstance.data.restartOnSave"
      ) #{''} and Restart
    a.btn.white.btn-icon.btn-icon-sm(
      ng-class = "{active: dataInstance.data.popoverSaveOptions.data.show}"
      ng-disabled = "!dataInstance.data.container.running() || dataInstance.data.loading"
      toggle-pop-over
      toggle-pop-over-model = "dataInstance.data.popoverSaveOptions.data.show"
      type = "button"
    )
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
      pop-over(
        actions = "dataInstance.data.popoverSaveOptions.actions"
        data = "dataInstance.data.popoverSaveOptions.data"
        template = "viewInstancePopoverSaveOptions"
      )
  .secondary-actions
    //- apply class .in to .save-spinner to play animation
    //- subsequent saves: remove .in and reapply .in
    .save-spinner(
      ng-class = "{ in: dataInstance.data.saving }"
    )
      .spinner
        .spinner-ring
      svg.iconnables.icons-check
        use(
          xlink:href = "#icons-check"
        )
    button.white.btn-icon(
      ng-click = "dataInstance.actions.goToBuild()"
      title = "Edit Build Files"
      type = "button"
    )
      svg.iconnables.icons-edit
        use(
          xlink:href = "#icons-edit"
        )
    a.btn.white.btn-icon.btn-actions(
      ng-class = "{active: dataInstance.data.popoverGearMenu.data.show}"
      toggle-pop-over
      toggle-pop-over-model = "dataInstance.data.popoverGearMenu.data.show"
      type = "button"
    )
      svg.iconnables.icons-gear
        use(
          xlink:href = "#icons-gear"
        )
      pop-over(
        actions = "dataInstance.data.popoverGearMenu.actions"
        data = "dataInstance.data.popoverGearMenu.data"
        template = "viewInstancePopoverActions"
      )

//- sidebar with repositories and urls
section.sidebar.box-sidebar.load

  //- repositories
  //- edit === false means we're on instance page, no add/remove instances
  //- but we can switch commit
  //- Using ng-show here so it'll still fetch the repos
  repo-list.load(
    build = "dataInstance.data.build",
    edit = "false"
    instance = "dataInstance.data.instance"
    ng-show = "dataInstance.data.build.contextVersions.models[0].appCodeVersions.models.length"
  )

  //- urls
  section.row.load(
    ng-show = "dataInstance.data.container.urls().length"
  )
    h2.sub-header URLs
    ul.url-group
      li.url-group-item(
        ng-repeat = "url in dataInstance.data.container.urls()"
      )
        input.url(
          readonly
          select-all
          value = "{{ url }}"
        )
        //- link to the outside world
        a.url-link(
          href = "{{ url }}"
          target = "_blank"
          title = "Open in a New Tab"
        )
          svg.iconnables.icons-link
            use(
              xlink:href = "#icons-link"
            )

section.views.with-add-tab(
  ng-class = "dataInstance.actions.getSectionViewsClass()"
)
  //- explorer
  button.btn-sm.white.btn-icon.explorer-toggle(
    ng-click = "dataInstance.data.showExplorer = !dataInstance.data.showExplorer"
    type = "button"
  )
    svg.iconnables.icons-folder-open
      use(
        xlink:href = "#icons-folder-open"
      )
  section.explorer
    .explorer-controls
      button.toggle-theme(
        ng-class = "{dark: !dataInstance.data.toggleTheme, light: dataInstance.data.toggleTheme}"
        ng-click = "dataInstance.data.toggleTheme = !dataInstance.data.toggleTheme"
        ng-init = "dataInstance.data.toggleTheme = true"
        tooltip = "Change Theme"
        tooltip-options = "{\"class\":\"bottom\",\"left\":11,\"top\":36}"
      )
        .theme
    file-tree(
      open-items = "dataInstance.data.openItems"
      read-only = "false"
      root-dir = "dataInstance.data.version.rootDir"
    )

  //- tabs
  tabs(
    open-items= "dataInstance.data.openItems"
  )
  a.btn.btn-sm.white.btn-icon.add-tab(
    ng-class = "{active: dataInstance.data.popoverAddTab.data.show}"
    toggle-pop-over
    toggle-pop-over-model = "dataInstance.data.popoverAddTab.data.show"
  )
    svg.iconnables.icons-add
      use(
        xlink:href = "#icons-add"
      )
    pop-over(
      actions = "dataInstance.data.popoverAddTab.actions"
      data = "dataInstance.data.popoverAddTab.data"
      template = "viewInstancePopoverAddTab"
    )

  //- active panel
  active-panel(
    container = "dataInstance.data.container"
    build = "dataInstance.data.instance.build"
    is-dark-theme = "dataInstance.data.toggleTheme"
    open-items = "dataInstance.data.openItems"
    update = "false"
  )

  //- spinner
  .horizontal-spinner
