//- show if server build is being swapped out
.alert.orange.in(
  ng-show = "dataInstance.data.showUpdatingMessage"
)
  h4.h4 Your server is being updated…

.alert.green.in(
  ng-show = "dataInstance.data.showUpdatedMessage"
)
  button.btn.btn-xs.btn-close(
    ng-click = "dataInstance.data.showUpdatedMessage = false"
  )
    svg.iconnables.icons-close
      use(
        xlink:href = "#icons-close"
      )
  h4.h4 Your server has been updated
  a.block-quote.text-overflow(
    href = "{{ dataInstance.data.commit.attrs.commit.url }}"
    target = "_blank"
  ) {{ dataInstance.data.commit.attrs.commit.message }}
    small.small
      svg.iconnables.icons-branch
        use(
          xlink:href = "#icons-branch"
        )
      //- Using ACV here to avoid another fetch
      | {{ dataInstance.data.instance.build.contextVersions.models[0].appCodeVersions.models[0].attrs.repo }}@{{ dataInstance.data.instance.build.contextVersions.models[0].appCodeVersions.models[0].attrs.branch }}
    small.small
      img.gravatar(
        height = "15"
        ng-src = "{{ dataInstance.data.commit.attrs.author.avatar_url }}"
        width = "15"
      )
      | {{ dataInstance.data.commit.attrs.author.login }}

header.box-header

  instance-box-name(
    instance = "dataInstance.data.instance"
  )

  instance-primary-actions(
    loading = "dataApp.data.loading"
    instance = "dataInstance.data.instance"
    saving = "dataInstance.data.saving"
    open-items = "dataInstance.data.openItems"
  )

  .secondary-actions(
    instance-secondary-actions
    ng-if = "dataInstance.data.instance"
    instances = "dataApp.data.instances"
    instance = "dataInstance.data.instance"
    saving = "dataInstance.data.saving"
    ng-if = "!dataInstance.data.isDemo"
  )

  instance-anon-secondary-actions(
    ng-if = "dataInstance.data.isDemo"
  )

//- sidebar with repositories and urls
section.sidebar.box-sidebar.load

  section.row.repo-list(
    repo-list
    unsaved-acvs = "dataInstance.data.unsavedAcvs"
    loading = "dataApp.data.loading"
    instance = "dataInstance.data.instance"
    build = "dataInstance.data.instance.build"
  )
    .guide-wrapper(
      type = "repo-list"
      mark-style = "{\"left\": -10, \"top\": 20}"
      template = "viewCoachMarksRepoPopover"
      show-coach-marks
    )

//- in / out control presence of header-bar
section.views.with-add-tab(
  ng-class = "dataInstance.data.sectionClasses"
)
  //- explorer
  button.btn.btn-sm.white.btn-icon.explorer-toggle(
    ng-click = "dataInstance.data.showExplorer = !dataInstance.data.showExplorer"
    type = "button"
  )
    svg.iconnables.icons-folder-open
      use(
        xlink:href = "#icons-folder-open"
      )

  section.explorer(
    explorer
    open-items = "dataInstance.data.openItems"
    toggle-theme = "dataInstance.data.toggleTheme"
  )

  //- tabs
  tabs(
    open-items= "dataInstance.data.openItems"
  )

  div(
    add-tab
    open-items = "dataInstance.data.openItems"
  )

  //- active panel
  .active-panel(
    active-panel
    ng-class = "{\
      'loaded': (item === openItems.activeHistory.last()),\
      'ace-runnable-dark': dataInstance.data.toggleTheme\
    }"
    ng-repeat = "item in dataInstance.data.openItems.models"
    ng-show = "item === dataInstance.data.openItems.activeHistory.last()"
    current-model = "dataInstance.data.instance.attrs"
    is-dark-theme = "dataInstance.data.toggleTheme",
    open-items = "dataInstance.data.openItems"
    item = "item"
  )
  .guide-wrapper(
    type = "panel"
    mark-style = "{\"left\": -10, \"top\": 20}"
    template = "viewCoachMarksPanelPopover"
    show-coach-marks
  )

  //- blank state
  .blank-panel(
    ng-if= "dataInstance.data.instance.containers.models[0] && \
            dataInstance.data.openItems.models.length === 0"
  )
    ul.blank-panel-group
      li.blank-panel-item(
        ng-click = "dataInstance.data.openItems.addWebView()"
      )
        svg.iconnables.iconnables-lg.icons-web
          use(xlink:href = "#icons-web")
        | Web View
      li.blank-panel-item(
        ng-click = "dataInstance.data.openItems.addTerminal()"
      )
        svg.iconnables.iconnables-lg.icons-terminal
          use(xlink:href = "#icons-terminal")
        | Terminal
      li.blank-panel-item(
        ng-click = "dataInstance.data.openItems.addBuildStream()"
      )
        svg.iconnables.iconnables-lg.icons-logs
          use(xlink:href = "#icons-logs")
        | Build Log
      li.blank-panel-item(
        ng-click = "dataInstance.data.openItems.addLogs()"
      )
        svg.iconnables.iconnables-lg.icons-server
          use(xlink:href = "#icons-server")
        | Box Log
