nav.sub-header
  //- runnable_title
  h1.divided-header
    input.form-control.inline-edit(
      placeholder = "Instance Name"
      required
      spellcheck = "false"
      value = "{{ dataInstance.data.instance.attrs.name }}"
    )
    svg.iconnables.icons-edit
      use(xlink:href = "#icons-edit")
  section#main-controls
    button.green(
      type = "button"
      ng-disabled = "dataInstance.data.openFiles.isClean()"
    ) Save Changes

section.sidebar
  ul
    li
      //- should select all text on click
      input.form-control(
        ng-click = ""
        readonly
        value = "runnable.com/{{ dataInstance.data.instance.id() }}"
      )
    li
      svg.iconnables.icons-back
        use(xlink:href = "#icons-back")
      | From #{''}
      a(
        title = "{{ dataInstance.data.instance.buildUrl() }}"
      ) {{ dataInstance.data.instance.buildUrl() }}
    li(
      ng-if = "dataInstance.data.container.attrs.inspect.State.Running"
    )
      svg.iconnables.icons-duration
        use(xlink:href = "#icons-duration")
      time(
        datatime = "{{ dataInstance.data.container.attrs.inspect.State.StartedAt }}"
        title = "Launched on {{ dataInstance.data.container.attrs.inspect.State.StartedAt }}"
      ) Launched {{ dataInstance.data.container.attrs.inspect.State.StartedAt | timeAgo }}
    li(
      ng-if = "!dataInstance.data.container.attrs.inspect.State.Running"
    )
      svg.iconnables.icons-duration
        use(xlink:href = "#icons-duration")
      time(
        datatime = "{{ dataInstance.data.container.attrs.inspect.State.FinishedAt }}"
        title = "Stopped on {{ dataInstance.data.container.attrs.inspect.State.FinishedAt }}"
      ) Stopped {{ dataInstance.data.container.attrs.inspect.State.FinishedAt | timeAgo }}
    li(
      ng-if = "dataInstance.data.container.attrs.stoppedBy.username"
    )
      svg.iconnables.icons-untriggered
        use(xlink:href = "#icons-untriggered")
      | Stopped by #{''}
      a dataInstance.data.container.attrs.stoppedBy.username
  h3 Actions
  ol.actions
    li(
      ng-if = "!dataInstance.data.container.attrs.inspect.State.Running"
    ) Start Instance
      button.btn-sm.silver(type = "button")
        svg.iconnables.icons-launch
          use(xlink:href = "#icons-launch")
    li(
      ng-if = "dataInstance.data.container.attrs.inspect.State.Running"
    ) Stop Instance
      button.btn-sm.silver(type = "button")
        svg.iconnables.icons-stop-alt
          use(xlink:href = "#icons-stop-alt")
    //- li(
    //-   ng-if = "dataInstance.data.container.attrs.inspect.State.Running"
    //- ) Restart Instance
    //-   button.btn-sm.silver(
    //-     type = "button"
    //-     ng-click = "dataInstance.actions.restartInstance()"
    //-   )
    //-     svg.iconnables.icons-restart
    //-       use(xlink:href = "#icons-restart")
    li Delete Instance
      button.btn-sm.silver(type = "button")
        svg.iconnables.icons-delete
          use(xlink:href = "#icons-delete")

//- code_editor
#editor.with-addtab.in(
  ng-class="{'in': dataInstance.showExplorer, '': !dataInstance.showExplorer}"
)
  button#explorer-toggle.btn-icon(
    ng-click = "dataInstance.showExplorer = !dataInstance.showExplorer"
    ng-init = "dataInstance.showExplorer = true"
    type = "button"
  )
    svg.iconnables.icons-folder-open
      use(xlink:href = "#icons-folder-open")
  //- file_explorer
  aside#explorer
    #controls
      button.toggle-theme.tooltip(
        data-title = "Change Theme"
        ng-class = "{dark: !dataBuild.toggleTheme, light: dataBuild.toggleTheme}"
        ng-click = "dataBuild.toggleTheme = !dataBuild.toggleTheme"
        type = "button"
      )
        .theme
    h6.explorer-header
      | INSTANCE FILES
      a.btn.silver.btn-sm.file-explorer-menu.btn-icon(
        ng-class = "{active: dataInstance.data.showFileMenu}"
        toggle-pop-over
        toggle-pop-over-model = "dataInstance.data.showFileMenu"
      )
        svg.iconnables.icons-gear
          use(xlink:href = "#icons-gear")
        pop-over(
          actions = "{\
            createFile: dataInstance.actions.createFile\
          }"
          data = "{\
            show: dataInstance.data.showFileMenu\
          }"
          template = "viewInstancePopoverFileMenu"
        )
    file-tree(
      open-files = "dataInstance.data.openFiles"
      version = "dataInstance.data.version"
      is-clean = "dataInstance.data.isClean"
    )
  tabs(
    open-files = "dataInstance.data.openFiles"
  )
  tabs-dropdown(
    open-files = "dataInstance.data.openFiles"
  )
  active-panel(
    open-files = "dataInstance.data.openFiles"
    is-clean = "dataInstance.data.isClean"
    is-dark-theme = "dataInstance.data.toggleTheme"
  )

//- logs
//- note: this should appear when an error happens on the server
//- #logs.full
  pre.
    >> File "client/assets/styles/scss/pages/editor.scss" changed.
    Running "sass:dev" (sass) task
    NoMethodError: undefined method `count' for nil:NilClass
      Use --trace for backtrace.
    Warning: Exited with error code 1 Use --force to continue.

    Aborted due to warnings.
    Completed in 2.311s at Wed Jun 25 2014 17:31:15 GMT-0700 (PDT) - Waiting...
