//- spinner for JUST instance
.spinner-wrapper.spinner-backdrop.spinner-lg.spinner-purple.in(
  ng-if = "isLoading.main"
  ng-include = "'spinner'"
)

//- show if server build is being swapped out
  - orange when build is updating or has failed
  - green if build is successfully built
//- Orange is currently not used
//- will be re-enabled when API opens up that event
.alert.in(
  ng-class = "{\
    green: dataInstance.data.showUpdatedMessage,\
    orange: dataInstance.data.showUpdatingMessage\
  }"
  ng-if = "(dataInstance.data.showUpdatingMessage || dataInstance.data.showUpdatedMessage) && dataInstance.data.userIsOrg()"
)
  //- if successful, .green; if fail, .orange
  .btn.btn-xxs.btn-icon.btn-state.no-touching
    //- if updated
    svg.iconnables.icons-fat-check(
      ng-if = "dataInstance.data.showUpdatedMessage"
    )
      use(
        xlink:href = "#icons-fat-check"
      )
    //- if updating
    svg.iconnables.icons-warning(
      ng-if = "dataInstance.data.showUpdatingMessage"
    )
      use(
        xlink:href = "#icons-warning"
      )
  img.gravatar(
    height = "36"
    ng-src = "{{ dataInstance.data.commit.attrs.author.avatar_url }}"
    width = "36"
  )
  //- inherit green/orange from .alert
  button.btn.btn-xs.btn-close(
    ng-class = "{\
      green: dataInstance.data.showUpdatedMessage,\
      orange: dataInstance.data.showUpdatingMessage\
    }"
    ng-click = "dataInstance.data.showUpdatedMessage = false;dataInstance.data.showUpdatingMessage = false"
  )
    svg.iconnables.icons-close
      use(
        xlink:href = "#icons-close"
      )
  //- copy should read:
      if updating: Updating {{ serverName }}
      if success: Successful Build
      if failed: Failed Build
  h4.h4.text-overflow(
    ng-if = "dataInstance.data.showUpdatedMessage"
    title = "{{ dataInstance.data.instance.attrs.name }}"
  ) Updating {{ dataInstance.data.instance.attrs.name }}
  small.small {{ dataInstance.data.commit.attrs.author.login }} pushed #{''}
    a.link(
      ng-href = "{{ dataInstance.data.commit.attrs.html_url }}"
      target = "_blank"
    ) {{ dataInstance.data.commit.attrs.sha  | limitTo:6 }}
  //- do not show if integration is already setup
  p.p(
    ng-if = "!dataInstance.data.hasToken"
  ) Get these notifications in Slack?
    button.btn.btn-xxs(
      modal
      modal-actions = "actions.actionsModalIntegrations"
      modal-data = "data.dataModalIntegrations"
      modal-template = "viewOpenModalIntegrations"
      ng-class = "{\
        green: dataInstance.data.showUpdatedMessage,\
        orange: dataInstance.data.showUpdatingMessage\
      }"
    ) Setup

header.server-header

  h1.server-info.load(
    instance = "dataInstance.data.instance"
    instance-box-name
    ng-show = "dataInstance.data.instance"
  )

  instance-primary-actions(
    instance = "dataInstance.data.instance"
    loading = "isLoading.main"
    open-items = "dataInstance.data.openItems"
    saving = "dataInstance.data.saving"
  )

//- sidebar with repositories and urls
section.sidebar.server-sidebar.load

  section.row.repo-list(
    auto-build-on-acv-change = "true"
    build = "dataInstance.data.instance.build"
    instance = "dataInstance.data.instance"
    loading = "isLoading.main"
    ng-class = "{closed: $storage.repoListIsClosed}"
    ng-if = "dataInstance.data.instance.build.contextVersions.models[0].appCodeVersions.models.length"
    repo-list
    show-auto-deploy = "true"
  )

  section.row.linked-servers(
    dns-manager
    instance = "dataInstance.data.instance"
    ng-class = "{closed: $storage.dnsManagementIsClosed}"
    ng-if = "dataInstance.data.instance"
  )

  section.row.explorer(
    edit-explorer = "false"
    explorer
    explorer-title = "File Explorer"
    file-model = "dataInstance.data.instance.containers.models[0]"
    open-items = "dataInstance.data.openItems"
    ng-class = "{closed: $storage.explorerIsClosed}"
    root-dir = "dataInstance.data.instance.containers.models[0].rootDir"
  )

//- in / out control presence of header-bar
section.views(
  active-panel
  background-buttons = "build, server, term, web"
  build = "dataInstance.data.instance.build"
  instance = "dataInstance.data.instance"
  open-items = "dataInstance.data.openItems"
)