//- add class .in to display
.alert.purple(
  ng-class = "{ \
    in: dataInstance.data.showBuildCompleted \
  }"
)
  svg.iconnables.icons-check
    use(
      xlink:href = "#icons-check"
    )
  | Your build is now running

header.box-header

  runnable-instance-box-name

  runnable-instance-primary-actions(
    saving = "dataInstance.data.saving"
    open-items = "dataInstance.data.openItems"
  )

  runnable-instance-secondary-actions(
    saving = "dataInstance.data.saving"
  )

//- sidebar with repositories and urls
section.sidebar.box-sidebar.load

  runnable-repo-list

section.views.with-add-tab(
  ng-class = "dataInstance.actions.getSectionViewsClass()"
)
  //- explorer
  button.btn-sm.white.btn-icon.explorer-toggle(
    ng-click = "dataInstance.data.showExplorer = !dataInstance.data.showExplorer"
    type = "button"
  )
    svg.iconnables.icons-folder-open
      use(
        xlink:href = "#icons-folder-open"
      )

  runnable-explorer(
    open-items = "dataInstance.data.openItems"
    toggle-theme = "dataInstance.data.toggleTheme"
  )

  //- tabs
  tabs(
    open-items= "dataInstance.data.openItems"
  )

  runnable-add-tab(
    open-items = "dataInstance.data.openItems"
  )

    //- active panel
  active-panel(
    instance = "dataInstance.data.instance"
    container = "dataInstance.data.container"
    build = "dataInstance.data.instance.build"
    is-dark-theme = "dataInstance.data.toggleTheme"
    open-items = "dataInstance.data.openItems"
    update = "false"
  )

  //- blank state
  .blank-panel(
    ng-if= "dataInstance.data.openItems.models.length === 0"
  )
    ul.blank-panel-group
      li.blank-panel-item(
        ng-click = "dataInstance.data.openItems.addWebView()"
      )
        svg.iconnables.iconnables-lg.icons-web
          use(xlink:href = "#icons-web")
        | Web View
      li.blank-panel-item(
        ng-click = "dataInstance.data.openItems.addTerminal()"
      )
        svg.iconnables.iconnables-lg.icons-terminal
          use(xlink:href = "#icons-terminal")
        | Terminal
      li.blank-panel-item(
        ng-click = "dataInstance.data.openItems.addBuildStream()"
      )
        svg.iconnables.iconnables-lg.icons-logs
          use(xlink:href = "#icons-logs")
        | Build Log
      li.blank-panel-item(
        ng-click = "dataInstance.data.openItems.addLogs()"
      )
        svg.iconnables.iconnables-lg.icons-server
          use(xlink:href = "#icons-server")
        | Box Log

  //- spinner
  .horizontal-spinner(
    ng-hide = "dataInstance.data.instance.containers.models[0]"
  )
