//- show if server build is being swapped out
.alert.orange.in(
  ng-show = "dataInstance.data.showUpdatingMessage"
)
  h4.h4 Your server is being updated…

.alert.green.in(
  ng-show = "dataInstance.data.showUpdatedMessage"
)
  button.btn.btn-xs.btn-close(
    ng-click = "dataInstance.data.showUpdatedMessage = false"
  )
    svg.iconnables.icons-close
      use(
        xlink:href = "#icons-close"
      )
  h4.h4 Your server has been updated
  a.block-quote.text-overflow(
    href = "{{ dataInstance.data.commit.attrs.commit.html_url }}"
    target = "_blank"
  ) {{ dataInstance.data.commit.attrs.commit.message }}
    small.small
      svg.iconnables.icons-branch
        use(
          xlink:href = "#icons-branch"
        )
      //- Using ACV here to avoid another fetch
      | {{ dataInstance.data.instance.build.contextVersions.models[0].appCodeVersions.models[0].attrs.repo }}@{{ dataInstance.data.instance.build.contextVersions.models[0].appCodeVersions.models[0].attrs.branch }}
    small.small
      img.gravatar(
        height = "15"
        ng-src = "{{ dataInstance.data.commit.attrs.author.avatar_url }}"
        width = "15"
      )
      | {{ dataInstance.data.commit.attrs.author.login }}

header.server-header

  h1.server-info.load(
    instance = "dataInstance.data.instance"
    instance-box-name
    ng-show = "dataInstance.data.instance"
  )

  instance-primary-actions(
    instance = "dataInstance.data.instance"
    loading = "dataApp.data.loading"
    open-items = "dataInstance.data.openItems"
    saving = "dataInstance.data.saving"
  )

  .secondary-actions(
    instance = "dataInstance.data.instance"
    instances = "dataApp.data.instances"
    instance-secondary-actions
    ng-if = "dataInstance.data.instance"
    ng-if = "!dataInstance.data.isDemo"
    saving = "dataInstance.data.saving"
  )

  instance-anon-secondary-actions(
    ng-if = "dataInstance.data.isDemo"
  )

//- sidebar with repositories and urls
section.sidebar.server-sidebar.load(
  coach-mark-style = "{\"left\": 7, \"top\": 108}"
  coach-mark-template = "viewCoachMarksRepoPopover"
  coach-mark-type = "repoList"
  show-coach-marks
)
  section.row.repo-list(
    auto-build-on-acv-change = "true"
    build = "dataInstance.data.instance.build"
    instance = "dataInstance.data.instance"
    loading = "dataApp.data.loading"
    ng-if = "dataInstance.data.instance.build.contextVersions.models[0].appCodeVersions.models.length"
    repo-list
    show-auto-deploy = "true"
  )

  section.row.explorer(
    explorer
    edit-explorer = "false"
    file-model = "dataInstance.data.instance.containers.models[0]"
    ng-if = "dataInstance.data.instance.containers.models[0].running()"
    open-items = "dataInstance.data.openItems"
    root-dir = "dataInstance.data.instance.containers.models[0].rootDir"
    title = "File Explorer"
  )

//- in / out control presence of header-bar
section.views(
  active-panel
  background-buttons = "build, server, term, web"
  build = "dataInstance.data.instance.build"
  instance = "dataInstance.data.instance"
  open-items = "dataInstance.data.openItems"
)
