nav.sub-header
  //- runnable_title
  h1.divided-header
    input.form-control.inline-edit(
      spellcheck = "false"
      value = "servername-1776"
    )
    object.iconnables.icons-edit(
      data = "/build/images/icons/icons-edit.svg"
      type = "image/svg+xml"
    )

  section#main-controls
    button.green(type = "button") Save Changes

section.sidebar
  ul
    li
      //- should select all text on click
      input.form-control(
        ng-click = ""
        readonly
        value = "runnable.url/1290ejdinkl32"
      )
    li
      object.iconnables.icons-back(
        data = "/build/images/icons/icons-back.svg"
        type = "image/svg+xml"
      )
      | From #{''}
      a(title = "user/app/config/build") user/app/config/build
    li
      object.iconnables.icons-calendar(
        data = "/build/images/icons/icons-calendar.svg"
        type = "image/svg+xml"
      )
      | Started on <time datetime="20014-03-18 19:00" title="20014-03-18 19:00">Mar 18</time>
    li
      object.iconnables.icons-duration(
        data = "/build/images/icons/icons-duration.svg"
        type = "image/svg+xml"
      )
      | Running for 18 hours
  h3 Actions
  ol.actions
    li Restart Instance
      button.btn-sm.silver(type = "button")
        object.iconnables(
          data = "/build/images/icons/icons-restart.svg"
          type = "image/svg+xml"
        )
    li Delete Instance
      button.btn-sm.silver(type = "button")
        object.iconnables.icons-delete(
          data = "/build/images/icons/icons-delete.svg"
          type = "image/svg+xml"
        )

//- code_editor
#editor.with-addtab(
  ng-class="{'in': dataInstance.showExplorer, '': !dataInstance.showExplorer}"
)
  button#explorer-toggle.btn-icon(
    ng-click = "dataInstance.showExplorer = !dataInstance.showExplorer"
    ng-init = "dataInstance.showExplorer = true"
  )
    object.iconnables(
      data = "/build/images/icons/icons-folder-open.svg"
      type = "image/svg+xml"
    )
  //- file_explorer
  aside#explorer
    ul#controls
      li.dark-theme.theme.active.tooltip(data-title = "Dark Theme")
        span
      li.light-theme.theme.tooltip(data-title = "Light Theme")
        span
    .explorer-header
      h6
        | INSTANCE FILES
        button.silver.btn-sm.file-explorer-menu.btn-icon(
          ng-class = "{active: dataInstance.showFileMenu}"
          ng-click = "dataInstance.togglePopover('FileMenu', $event)"
        )
          object.iconnables(
            data = "/build/images/icons/icons-gear.svg"
            type = "image/svg+xml"
          )
          .popover.menu.bottom.fade(
            ng-class = "{in: dataInstance.showFileMenu, 'show-add-repo': dataInstance.showAddRepo, 'show-form': dataInstance.showForm}"
            ng-include = "'viewInstancePopoverFileMenu'"
          )
      ul.tree
        li.folder
          object.iconnables.filetypes(
            data = "/build/images/icons/filetypes/icons-folder.svg"
            type = "image/svg+xml"
          )
          | css
          ul
            li.folder
              object.iconnables.filetypes(
                data = "/build/images/icons/filetypes/icons-folder.svg"
                type = "image/svg+xml"
              )
              | modules
              ul
                li
                  object.iconnables.filetypes(
                    data = "/build/images/icons/filetypes/icons-file.svg"
                    type = "image/svg+xml"
                  )
                  | components.scss
            li
              object.iconnables.filetypes(
                data = "/build/images/icons/filetypes/icons-file.svg"
                type = "image/svg+xml"
              )
              | styles.css
            li
              object.iconnables.filetypes(
                data = "/build/images/icons/filetypes/icons-file.svg"
                type = "image/svg+xml"
              )
              | tables.css
        li
          object.iconnables.filetypes(
            data = "/build/images/icons/filetypes/icons-file.svg"
            type = "image/svg+xml"
          )
          | favicon.png
        li
          object.iconnables.filetypes(
            data = "/build/images/icons/filetypes/icons-file.svg"
            type = "image/svg+xml"
          )
          | index.html
        li
          object.iconnables.filetypes(
            data = "/build/images/icons/filetypes/icons-file.svg"
            type = "image/svg+xml"
          )
          | htc.access
  #editor-toolbar
    #tabs-wrapper
    //- file_tabs
  button#add-tab.btn-icon(
    ng-class = "{active: dataInstance.showAddTab}"
    ng-click = "dataInstance.togglePopover('AddTab', $event);"
    type = "button"
  )
    object.iconnables.icons-add-alt(
      data = "/build/images/icons/icons-add-alt.svg"
      type = "image/svg+xml"
    )
    .popover.menu.bottom.fade(
      ng-class = "{in: dataInstance.showAddTab, 'show-new-shortcut': dataInstance.showNewShortcut}"
      ng-include = "'viewInstancePopoverAddTab'"
    )
  #select-tabs.dropdown
    button.btn-icon(type = "button")
      object.iconnables(
        data = "/build/images/icons/icons-select.svg"
        type = "image/svg+xml"
      )
    select
      option(selected) Tab 1
      option Tab 2
  #editor-container
    //- code
    //- note: server log and terminal tab should open by default
    pre(ui-ace) Test

//- error-log
//- note: this should appear when an error happens on the server
//- pre#error-log.
  >> File "client/assets/styles/scss/pages/editor.scss" changed.
  Running "sass:dev" (sass) task
  NoMethodError: undefined method `count' for nil:NilClass
    Use --trace for backtrace.
  Warning: Exited with error code 1 Use --force to continue.

  Aborted due to warnings.
  Completed in 2.311s at Wed Jun 25 2014 17:31:15 GMT-0700 (PDT) - Waiting...
