nav.sub-header
  //- runnable_title
  h1.divided-header
    //- span Built From
    | project/recipe/1776

  section#main-controls
    button.orange(type = "button") Kill Instance
    button.silver(type = "button") Save Changes

section.sidebar
  ul
    li
      input.form-control(
        readonly
        value = "runnable.url/1290ejdinkl32"
      )
    li
      object(
        class = "iconnables icons-calendar"
        data = "/build/images/icons/icons-calendar.svg"
        type = "image/svg+xml"
      )
      | Started on Mar 18
    li
      object(
        class = "iconnables icons-duration"
        data = "/build/images/icons/icons-duration.svg"
        type = "image/svg+xml"
      )
      | Running for 18 hours
  ol
    li Server Log
  pre
    | [nodemon] v1.0.20
    | [nodemon] to restart at any time, enter `rs`
    | [nodemon] watching: server/**/*.js
    | [nodemon] starting `node server/main.js`
    | App listening on port: 3001

section#project
  //- code_editor
  #code-editor.in

    #project-toolbar
      a#open-file-explorer.glyphicons.folder-closed
      //- readme_button
      #project-editor-tabs-wrapper
      //- file_tabs
      //- file_select
      #project-select-tabs.dropdown
        button(type = "button")
        select
          option(selected) Tab 1
          option Tab 2
      //- add_tab
      #add-tab.btn-popover
        span.glyphicons.plus
        div(
          ng-include = "'viewBuildPopoverAddTab'"
          class      = "popover menu bottom fade"
        )

    //- file_explorer
    aside#file-explorer
      ul#controls
        li.dark-theme.theme.active.tooltip(data-title = "Dark Theme")
          span
        li.light-theme.theme.tooltip(data-title = "Light Theme")
          span
      #build-files.sub-tree.in
        a
        h6
          | CONTAINER FILES
          //- file_explorer_menu
          button.silver.btn-sm.btn-popover.file-explorer-menu
            span.glyphicons.cogwheel
            .popover.fade.bottom.menu
              .arrow
                .popover-content
                  ul#file-explorer-options.popover-body.col-popover-3
                    li
                      a
                        object.iconnables(data = "/build/images/icons/icons-new-file.svg"
                                          type = "image/svg+xml")
                        | New File
                    li
                      a
                        object.iconnables(data = "/build/images/icons/icons-new-folder.svg"
                                          type = "image/svg+xml")
                        | New Folder
                    li
                      a#add-repo-link
                        object.iconnables(data = "/build/images/icons/icons-octocat.svg"
                                          type = "image/svg+xml")
                        | Add Repo
                #add-repo.popover-body
                  form
                    input.form-control(type        = "search"
                                       placeholder = "Filter Repositories")
                  ul.popover-list
                    li
                      a.select-repo
                        | username/reponame
                        a.btn.btm-sm.silver.glyphicons.cogwheel.select-branch
                      form.add-repo-form
                        input.form-control(placeholder = "Branch or SHA (optional)")
                        a.btn.btn-block.orange Add Repository

        ul.nav.nav-pills.nav-stacked

    #project-editor-container
      //- code
      pre#project-editor(ui-ace = "{showGutter: false}") Test

      //- html_readme

  //- rebuild_loader

