nav.sub-header
  //- runnable_title
  h1.divided-header
    input.form-control.inline-edit(
      placeholder = "Instance Name"
      required
      spellcheck = "false"
      value = "{{ dataInstance.data.instance.attrs.name }}"
    )
    svg.iconnables.icons-edit
      use(xlink:href = "#icons-edit")
  section#main-controls
    button.green(
      ng-disabled = "dataInstance.data.openFiles.isClean() || !dataInstance.data.container.running()"
      type = "button"
    ) Save Changes

section.sidebar
  ul
    li(
      ng-class = "{out: !dataInstance.data.container.running()}"
    )
      //- should select all text on click
      input.form-control(
        ng-click = ""
        ng-class = "{ running: dataInstance.data.container.running() }"
        readonly
        value = "{{ dataInstance.data.container.urls()[0] }}"
      )
    li
      svg.iconnables.icons-back
        use(xlink:href = "#icons-back")
      | From #{''}
      a(
        title = "{{ dataInstance.data.instance.buildUrl() }}"
        ng-click = "dataInstance.actions.goToBuild()"
      ) {{ dataInstance.data.instance.buildUrl() }}
    li(
      ng-if = "dataInstance.data.container.running()"
    )
      svg.iconnables.icons-duration
        use(xlink:href = "#icons-duration")
      time(
        datatime = "{{ dataInstance.data.container.attrs.inspect.State.StartedAt }}"
        title = "Launched on {{ dataInstance.data.container.attrs.inspect.State.StartedAt }}"
      ) Launched {{ dataInstance.data.container.attrs.inspect.State.StartedAt | timeAgo }}
    li(
      ng-if = "!dataInstance.data.container.running()"
    )
      svg.iconnables.icons-duration
        use(xlink:href = "#icons-duration")
      time(
        datatime = "{{ dataInstance.data.container.attrs.inspect.State.FinishedAt }}"
        title = "Stopped on {{ dataInstance.data.container.attrs.inspect.State.FinishedAt }}"
      ) Stopped {{ dataInstance.data.container.attrs.inspect.State.FinishedAt | timeAgo }}
    li(
      ng-if = "dataInstance.data.container.attrs.stoppedBy.username"
    )
      svg.iconnables.icons-untriggered
        use(xlink:href = "#icons-untriggered")
      | Stopped by #{''}
      a dataInstance.data.container.attrs.stoppedBy.username
  h3 Actions
  ol.actions
    li(
      ng-if = "!dataInstance.data.container.running()"
    ) Start Instance
      button.btn-sm.silver(
        type = "button"
        ng-click = "dataInstance.actions.startInstance()"
      )
        svg.iconnables.icons-launch
          use(xlink:href = "#icons-launch")
    li(
      ng-if = "dataInstance.data.container.running()"
    ) Stop Instance
      button.btn-sm.silver(
        type = "button"
        ng-click = "dataInstance.actions.stopInstance()"
      )
        svg.iconnables.icons-stop-alt
          use(xlink:href = "#icons-stop-alt")
    li Delete Instance
      button.btn-sm.silver(
        type = "button"
        ng-click = "dataInstance.actions.destroyInstance()"
      )
        svg.iconnables.icons-delete
          use(xlink:href = "#icons-delete")

//- code_editor
#editor.with-add-tab(
  ng-class = "{in: dataInstance.data.showExplorer, out: !dataInstance.data.container.running()}"
)
  button#explorer-toggle.btn-icon(
    ng-click = "dataInstance.data.showExplorer = !dataInstance.data.showExplorer"
    type = "button"
  )
    svg.iconnables.icons-folder-open
      use(xlink:href = "#icons-folder-open")
  //- file_explorer
  aside#explorer
    #controls
      button.toggle-theme.tooltip(
        data-title = "Change Theme"
        ng-class = "{dark: !dataInstance.data.toggleTheme, light: dataInstance.data.toggleTheme}"
        ng-click = "dataInstance.data.toggleTheme = !dataInstance.data.toggleTheme"
        type = "button"
      )
        .theme
    h6.explorer-header
      | INSTANCE FILES
      a.btn.silver.btn-sm.file-explorer-menu.btn-icon(
        ng-class = "{active: dataInstance.data.popoverFileMenu.data.show}"
        toggle-pop-over
        toggle-pop-over-model = "dataInstance.data.popoverFileMenu.data.show"
      )
        svg.iconnables.icons-gear
          use(xlink:href = "#icons-gear")
        pop-over(
          actions = "dataInstance.data.popoverFileMenu.actions"
          data = "dataInstance.data.popoverFileMenu.data"
          template = "viewInstancePopoverFileMenu"
        )
    file-tree(
      read-only = "false"
      root-dir = "dataInstance.data.container.rootDir"
      open-items = "dataInstance.data.openItems"
    )
  tabs(
    open-items = "dataInstance.data.openItems"
  )
  a#add-tab.btn.btn-icon(
    ng-class = "{active: dataInstance.data.popoverAddTab.data.show}"
    toggle-pop-over
    toggle-pop-over-model = "dataInstance.data.popoverAddTab.data.show"
  )
    svg.iconnables.icons-add
      use(xlink:href = "#icons-add")
    pop-over(
      data = "dataInstance.data.popoverAddTab.data"
      actions = "dataInstance.data.popoverAddTab.actions"
      template = "viewInstancePopoverAddTab"
    )
  tabs-dropdown(
    open-items = "dataInstance.data.openItems"
  )
  active-panel(
    update = "true"
    container = "dataInstance.data.container"
    open-items = "dataInstance.data.openItems"
    is-dark-theme = "dataInstance.data.toggleTheme"
  )

//- logs
//- note: this should appear when an error happens on the server
//- #logs.full
  pre.
    >> File "client/assets/styles/scss/pages/editor.scss" changed.
    Running "sass:dev" (sass) task
    NoMethodError: undefined method `count' for nil:NilClass
      Use --trace for backtrace.
    Warning: Exited with error code 1 Use --force to continue.

    Aborted due to warnings.
    Completed in 2.311s at Wed Jun 25 2014 17:31:15 GMT-0700 (PDT) - Waiting...
