nav.sub-header
  //- runnable_title
  h1.divided-header
    input.form-control.inline-edit(
      placeholder = "Instance Name"
      spellcheck = "false"
      value = "servername-1776"
    )
    svg.iconnables.icons-edit
      use(xlink:href = "#icons-edit")
  section#main-controls
    button.green(type = "button") Save Changes

section.sidebar
  ul
    li
      //- should select all text on click
      input.form-control(
        ng-click = ""
        readonly
        value = "runnable.url/1290ejdinkl32"
      )
    li
      svg.iconnables.icons-back
        use(xlink:href = "#icons-back")
      | From #{''}
      a(title = "user/app/config/build") user/app/config/build
    li
      svg.iconnables.icons-calendar
        use(xlink:href = "#icons-calendar")
      | Started on <time datetime="20014-03-18 19:00" title="20014-03-18 19:00">Mar 18</time>
    li
      svg.iconnables.icons-duration
        use(xlink:href = "#icons-duration")
      | Running for 18 hours
  h3 Actions
  ol.actions
    li Restart Instance
      button.btn-sm.silver(type = "button")
        svg.iconnables.icons-restart
          use(xlink:href = "#icons-restart")
    li Delete Instance
      button.btn-sm.silver(type = "button")
        svg.iconnables.icons-delete
          use(xlink:href = "#icons-delete")

//- code_editor
#editor.with-addtab.in(
  ng-class="{'in': dataInstance.showExplorer, '': !dataInstance.showExplorer}"
)
  button#explorer-toggle.btn-icon(
    ng-click = "dataInstance.showExplorer = !dataInstance.showExplorer"
    ng-init = "dataInstance.showExplorer = true"
    type = "button"
  )
    svg.iconnables.icons-folder-open
      use(xlink:href = "#icons-folder-open")
  //- file_explorer
  aside#explorer
    #controls
      button.toggle-theme.tooltip(
        data-title = "Change Theme"
        ng-class = "{dark: !dataBuild.toggleTheme, light: dataBuild.toggleTheme}"
        ng-click = "dataBuild.toggleTheme = !dataBuild.toggleTheme"
        type = "button"
      )
        .theme
    .explorer-header
      h6
        | INSTANCE FILES
        button.silver.btn-sm.file-explorer-menu.btn-icon(
          ng-class = "{active: dataInstance.data.showFileMenu}"
          toggle-pop-over
          toggle-pop-over-model = "dataInstance.data.showFileMenu"
          type = "button"
        )
          svg.iconnables.icons-gear
            use(xlink:href = "#icons-gear")
          pop-over(
            actions = "{\
              createFile: dataInstance.actions.createFile\
            }"
            data = "{\
              show: dataInstance.data.showFileMenu\
            }"
            template = "viewInstancePopoverFileMenu"
          )
      ul.file-tree
        li.folder
          svg.iconnables.filetypes.icons-folder
            use(xlink:href = "#icons-folder")
          | css
          ul
            li.folder
              svg.iconnables.filetypes.icons-folder
                use(xlink:href = "#icons-folder")
              | modules
              ul
                li
                  svg.iconnables.filetypes.icons-file
                    use(xlink:href = "#icons-file")
                  | components.scss
            li
              svg.iconnables.filetypes.icons-file
                use(xlink:href = "#icons-file")
              | styles.css
            li
              svg.iconnables.filetypes.icons-file
                use(xlink:href = "#icons-file")
              | tables.css
        li
          svg.iconnables.filetypes.icons-file
            use(xlink:href = "#icons-file")
          | favicon.png
        li
          svg.iconnables.filetypes.icons-file
            use(xlink:href = "#icons-file")
          | index.html
        li
          svg.iconnables.filetypes.icons-file
            use(xlink:href = "#icons-file")
          | htc.access
  #editor-toolbar
    ul#tabs-wrapper
      li(
        ng-repeat = "tab in dataInstance.tabs"
      )
        a(
          title = "{{tab.path}}"
          ng-class = "{active: tab.active}"
          ng-click = "dataInstance.setActiveTab(tab)"
        ) {{tab.title}}
        button.btn-icon(
          type = "button"
          ng-click = "dataInstance.closeTab($index)"
        )
          svg.iconnables.icons-close
            use(
              xlink:href = "#icons-close"
            )
  button#add-tab.btn-icon(
    ng-class = "{active: dataInstance.data.showAddTab}"
    toggle-pop-over
    toggle-pop-over-model = "dataInstance.data.showAddTab"
    type = "button"
  )
    svg.iconnables.icons-add
      use(xlink:href = "#icons-add")
    pop-over(
      data = "{show: dataInstance.data.showAddTab}"
      template = "viewInstancePopoverAddTab"
    )
  #select-tabs.dropdown
    button.btn-icon(type = "button")
      svg.iconnables.icons-select
        use(xlink:href = "#icons-select")
    select
      option(selected) Tab 1
      option Tab 2
  #editor-container(ng-switch = "dataInstance.activePanel")
    
    //- code
    //- note: server log and terminal tab should open by default
    pre(
      ui-ace
      ng-switch-when = "file"
    ) Test
    
    term(
      ng-switch-when = "terminal"
    )

//- error-log
//- note: this should appear when an error happens on the server
//- pre#error-log.
  >> File "client/assets/styles/scss/pages/editor.scss" changed.
  Running "sass:dev" (sass) task
  NoMethodError: undefined method `count' for nil:NilClass
    Use --trace for backtrace.
  Warning: Exited with error code 1 Use --force to continue.

  Aborted due to warnings.
  Completed in 2.311s at Wed Jun 25 2014 17:31:15 GMT-0700 (PDT) - Waiting...
