header.server-header(
    modal
    modal-actions = "actions"
    modal-current-model = "currentModel"
    modal-data = "data"
    modal-open-flag = "modalOpenFlag"
    modal-state-model = "stateModel"
    modal-template = "viewOpenModalGettingStarted"
)