//- show if server build is being swapped out
.alert.orange.in(
  ng-show = "dataInstance.data.showUpdatingMessage"
)
  h4.h4 Your server is being updated…

.alert.green.in(
  ng-show = "dataInstance.data.showUpdatedMessage"
)
  button.btn.btn-xs.btn-close(
    ng-click = "dataInstance.data.showUpdatedMessage = false"
  )
    svg.iconnables.icons-close
      use(
        xlink:href = "#icons-close"
      )
  h4.h4 Your server has been updated
  a.block-quote.text-overflow(
    href = "{{ dataInstance.data.commit.attrs.commit.html_url }}"
    target = "_blank"
  ) {{ dataInstance.data.commit.attrs.commit.message }}
    small.small
      svg.iconnables.icons-branch
        use(
          xlink:href = "#icons-branch"
        )
      //- Using ACV here to avoid another fetch
      | {{ dataInstance.data.instance.build.contextVersions.models[0].appCodeVersions.models[0].attrs.repo }}@{{ dataInstance.data.instance.build.contextVersions.models[0].appCodeVersions.models[0].attrs.branch }}
    small.small
      img.gravatar(
        height = "15"
        ng-src = "{{ dataInstance.data.commit.attrs.author.avatar_url }}"
        width = "15"
      )
      | {{ dataInstance.data.commit.attrs.author.login }}

header.server-header

  h1.server-info.load(
    instance = "dataInstance.data.instance"
    instance-box-name
    ng-show = "dataInstance.data.instance"
  )

  instance-primary-actions(
    loading = "dataApp.data.loading"
    instance = "dataInstance.data.instance"
    saving = "dataInstance.data.saving"
    open-items = "dataInstance.data.openItems"
  )

  .secondary-actions(
    instance-secondary-actions
    ng-if = "dataInstance.data.instance"
    instances = "dataApp.data.instances"
    instance = "dataInstance.data.instance"
    saving = "dataInstance.data.saving"
    ng-if = "!dataInstance.data.isDemo"
  )

  instance-anon-secondary-actions(
    ng-if = "dataInstance.data.isDemo"
  )

//- sidebar with repositories and urls
section.sidebar.server-sidebar.load(
  coach-mark-style = "{\"left\": 7, \"top\": 108}"
  coach-mark-template = "viewCoachMarksRepoPopover"
  coach-mark-type = "repoList"
  show-coach-marks
)
  section.row.repo-list(
    build = "dataInstance.data.instance.build"
    instance = "dataInstance.data.instance"
    loading = "dataApp.data.loading"
    repo-list
    ng-if = "dataInstance.data.instance.build.contextVersions.models[0].appCodeVersions.models.length"
  )

  section.row.explorer(
    explorer
    title = 'File Explorer'
    root-dir = "dataInstance.data.instance.containers.models[0].rootDir"
    ng-if = "dataInstance.data.instance.containers.models[0].running()"
    open-items = "dataInstance.data.openItems"
  )

//- in / out control presence of header-bar
section.views.with-add-tab(
  ng-class = "dataInstance.data.sectionClasses"
)

  //- tabs
  .views-toolbar(
    open-items= "dataInstance.data.openItems"
    tabs
    toggle-theme = "dataInstance.data.toggleTheme"
  )

  div(
    add-tab
    open-items = "dataInstance.data.openItems"
  )

  //- active panel
  .active-panel(
    active-panel
    instance = "dataInstance.data.instance"
    build = "dataInstance.data.instance.build"
    is-dark-theme = "dataInstance.data.toggleTheme"
    item = "item"
    ng-class = "{\
      'loaded': (item === openItems.activeHistory.last()),\
      'ace-runnable-dark': dataInstance.data.toggleTheme\
    }"
    ng-repeat = "item in dataInstance.data.openItems.models"
    ng-show = "item === dataInstance.data.openItems.activeHistory.last()"
    open-items = "dataInstance.data.openItems"
    toggle-theme = "dataInstance.data.toggleTheme"
  )

  //- blank state
  .blank-panel(
    ng-if= "dataInstance.data.instance.containers.models[0] && \
            dataInstance.data.openItems.models.length === 0"
  )
    ul.blank-panel-group
      li.btn.white(
        ng-click = "dataInstance.data.openItems.addWebView()"
      )
        svg.iconnables.iconnables-lg.icons-web
          use(xlink:href = "#icons-web")
        | Web View
      li.btn.white(
        ng-click = "dataInstance.data.openItems.addTerminal()"
      )
        svg.iconnables.iconnables-lg.icons-terminal
          use(xlink:href = "#icons-terminal")
        | Terminal
      li.btn.white(
        ng-click = "dataInstance.data.openItems.addBuildStream()"
      )
        svg.iconnables.iconnables-lg.icons-logs
          use(xlink:href = "#icons-logs")
        | Build Log
      li.btn.white(
        ng-click = "dataInstance.data.openItems.addLogs()"
      )
        svg.iconnables.iconnables-lg.icons-server
          use(xlink:href = "#icons-server")
        | Server Log
