header.box-header(
    modal
    modal-actions = "actions"
    modal-data = "data"
    modal-template = "viewOpenModalGettingStarted"
    modal-current-model = "currentModel"
    modal-state-model = "stateModel"
)