//- add class .in to display
.alert.purple(
  ng-class = "{ \
    in: dataInstance.data.showBuildCompleted \
  }"
)
  svg.iconnables.icons-check
    use(
      xlink:href = "#icons-check"
    )
  | Your build is now running

header.box-header

  runnable-instance-box-name

  runnable-instance-primary-actions(
    saving = "dataInstance.data.saving"
    open-items = "dataInstance.data.openItems"
  )

  runnable-instance-secondary-actions(
    saving = "dataInstance.data.saving"
  )
  //-
    .secondary-actions
      //- apply class .in to .save-spinner to play animation
      //- subsequent saves: remove .in and reapply .in
      .save-spinner(
        ng-class = "{ in: dataInstance.data.saving }"
      )
        .spinner
          .spinner-ring
        svg.iconnables.icons-check
          use(
            xlink:href = "#icons-check"
          )
      button.white.btn-icon(
        ng-click = "dataInstance.actions.goToBuild()"
        title = "Edit Build Files"
        type = "button"
      )
        svg.iconnables.icons-edit
          use(
            xlink:href = "#icons-edit"
          )
      a.btn.white.btn-icon.btn-actions(
        ng-class = "{active: dataInstance.data.popoverGearMenu.data.show}"
        toggle-pop-over
        toggle-pop-over-model = "dataInstance.data.popoverGearMenu.data.show"
        type = "button"
      )
        svg.iconnables.icons-gear
          use(
            xlink:href = "#icons-gear"
          )
        pop-over(
          actions = "dataInstance.data.popoverGearMenu.actions"
          data = "dataInstance.data.popoverGearMenu.data"
          template = "viewInstancePopoverActions"
        )

//- sidebar with repositories and urls
section.sidebar.box-sidebar.load

  //- repositories
  //- edit === false means we're on instance page, no add/remove instances
  //- but we can switch commit
  //- Using ng-show here so it'll still fetch the repos
  repo-list.load(
    build = "dataInstance.data.build",
    edit = "false"
    instance = "dataInstance.data.instance"
    ng-show = "dataInstance.data.build.contextVersions.models[0].appCodeVersions.models.length"
  )

section.views.with-add-tab(
  ng-class = "dataInstance.actions.getSectionViewsClass()"
)
  //- explorer
  button.btn-sm.white.btn-icon.explorer-toggle(
    ng-click = "dataInstance.data.showExplorer = !dataInstance.data.showExplorer"
    type = "button"
  )
    svg.iconnables.icons-folder-open
      use(
        xlink:href = "#icons-folder-open"
      )
  section.explorer
    .explorer-controls
      button.toggle-theme(
        ng-class = "{dark: !dataInstance.data.toggleTheme, light: dataInstance.data.toggleTheme}"
        ng-click = "dataInstance.data.toggleTheme = !dataInstance.data.toggleTheme"
        ng-init = "dataInstance.data.toggleTheme = true"
        tooltip = "Change Theme"
        tooltip-options = "{\"class\":\"bottom\",\"left\":11,\"top\":36}"
      )
        .theme
    file-tree(
      open-items = "dataInstance.data.openItems"
      read-only = "false"
      root-dir = "dataInstance.data.version.rootDir"
    )

  //- tabs
  tabs(
    open-items= "dataInstance.data.openItems"
  )
  a.btn.btn-sm.white.btn-icon.add-tab(
    ng-class = "{active: dataInstance.data.popoverAddTab.data.show}"
    toggle-pop-over
    toggle-pop-over-model = "dataInstance.data.popoverAddTab.data.show"
  )
    svg.iconnables.icons-add
      use(
        xlink:href = "#icons-add"
      )
    pop-over(
      actions = "dataInstance.data.popoverAddTab.actions"
      data = "dataInstance.data.popoverAddTab.data"
      template = "popoverAddTab"
    )

  //- active panel
  active-panel(
    instance = "dataInstance.data.instance"
    container = "dataInstance.data.container"
    build = "dataInstance.data.instance.build"
    is-dark-theme = "dataInstance.data.toggleTheme"
    open-items = "dataInstance.data.openItems"
    update = "false"
  )

  //- blank state
  .blank-panel(
    ng-if= "dataInstance.data.openItems.activeHistory.models.length === 0"
  )
    ul.blank-panel-group
      li.blank-panel-item(
        ng-click = "dataInstance.data.popoverAddTab.actions.addWebView()"
      )
        svg.iconnables.iconnables-lg.icons-web
          use(xlink:href = "#icons-web")
        | Web View
      li.blank-panel-item(
        ng-click = "dataInstance.data.popoverAddTab.actions.addTerminal()"
      )
        svg.iconnables.iconnables-lg.icons-terminal
          use(xlink:href = "#icons-terminal")
        | Terminal
      li.blank-panel-item(
        ng-click = "dataInstance.data.popoverAddTab.actions.addBuildStream()"
      )
        svg.iconnables.iconnables-lg.icons-logs
          use(xlink:href = "#icons-logs")
        | Build Log
      li.blank-panel-item(
        ng-click = "dataInstance.data.popoverAddTab.actions.addLogs()"
      )
        svg.iconnables.iconnables-lg.icons-server
          use(xlink:href = "#icons-server")
        | Box Log
      li.blank-panel-item(
        ng-click = "dataInstance.data.popoverAddTab.actions.addEnvVars()"
      )
        svg.iconnables.iconnables-lg.icons-env-vars
          use(xlink:href = "#icons-env-vars")
        | Env Vars

  //- spinner
  .horizontal-spinner(
    ng-hide = "dataInstance.data.container"
  )
