.popover.menu.bottom.popover-servers(
  ng-class = "{in: data.show}"
  ng-style = "popoverStyle.getStyle()"
)
  .popover-content
    ul.popover-list
      li.list-item.popover-list-item.small Link to server
      li.list-item.popover-list-item
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
        | doobious
        small.small doobious-codenow.runnableapp.com
      li.list-item.popover-list-item
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
        | maximus
        small.small maximus-codenow.runnableapp.com