.popover.menu.bottom.popover-primary-options(
  ng-class = "{in: data.show}"
)
  .arrow.white
  .popover-content
    ul.popover-list
      li.popover-list-item(
        ng-click = "actions.noCacheBuild()"
      ) Build without cache
