.primary-actions
  .btn-group
    button.btn.orange(
      ng-click = "build()"
      type = "button"
    ) Build
    button.btn.orange.btn-icon.btn-icon-sm(
      ng-class = "{active: popoverBuildOptions.data.show}"
      toggle-pop-over
      toggle-pop-over-model = "popoverBuildOptions.data.show"
      type = "button"
    )
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
      pop-over(
        actions = "popoverBuildOptions.actions"
        data = "popoverBuildOptions.data"
        popover-options = "{\"left\":-146,\"top\":54}"
        template = "viewInstanceEditPopoverBuildOptions"
      )

