nav#build-stream-header.sub-header
  h1
    //- if empty, revert to project name
    input.form-control.inline-edit(
      placeholder = "App Name"
      ng-model = "dataBuildList.data.project.attrs.name"
      ng-model-options = "{ debounce: 500 }"
      spellcheck = "false"
    )
    svg.iconnables.icons-edit
      use(xlink:href = "#icons-edit")
  //- should open confirmation modal (see /modals)
  //- all modals should appear as a direct child either <body> or <#wrapper>
  //- modals can be toggled with .in on <.modal>
  button#delete-project.btn-icon(type = "button")
    svg.iconnables.icons-delete
      use(xlink:href = "#icons-delete")
  a.btn.silver.config(
    ng-class = "{active: dataBuildList.data.showChangeRecipe}"
    toggle-pop-over
    toggle-pop-over-model = "dataBuildList.data.showChangeRecipe"
  )
    svg.iconnables.icons-recipe
      use(xlink:href = "#icons-recipe")
    | {{ dataApp.stateParams.branchName }}
    svg.iconnables.icons-arrow-down
      use(xlink:href = "#icons-arrow-down")
    pop-over(
      data = "{\
        filter: dataBuildList.data.filter,\
        show: dataBuildList.data.showChangeRecipe\
      }"
      template = "viewBuildListPopoverChangeRecipe"
    )
  form.search
    input.form-control(
      type = "search"
      placeholder = "Search Builds"
      required
    )
    button.submit
      svg.iconnables.icons-search
        use(xlink:href = "#icons-search")
      svg.iconnables.icons-search-active
        use(xlink:href = "#icons-search-active")
  .btn-group
    button.silver(type = "button")
      svg.iconnables.icons-chevron-left
        use(xlink:href = "#icons-chevron-left")
      | Prev 100
    button.silver(type = "button") Next 100
      svg.iconnables.icons-chevron-right
        use(xlink:href = "#icons-chevron-right")
.table-scroll
  table#build-stream.table.table-hover
    thead
      tr
        th
        th.sortable(
          ng-click = "dataBuildList.actions.toggleSortByBuild()"
          ng-class = "dataBuildList.actions.getBuildSortClass()"
        )
          span Build
        th Triggered By
        th Message
        th Triggered Action
        th.sortable
          span Duration
        th.sortable
          span Initiated
        th Actions
    tbody
      tr(
        ng-repeat = "build in dataBuildList.data.builds.models | orderBy:dataBuildList.predicate:dataBuildList.direction"
        ng-click  = "dataBuildList.actions.stateToBuild(build)"
      )
        td
          svg.iconnables(
              ng-class = "{\
                'icons-check': !build.failed(), \
                'icons-fail': build.failed() \
              }"
            )
            use(
              xlink:href = "{{ build.failed() ? '#icons-fail' : '#icons-check' }}"
            )
        td {{ build.attrs.buildNumber }}
        td {{ build.contextVersions.models[0].attrs.build.triggeredBy.username }}
        td {{ build.contextVersions.models[0].attrs.build.message }}
        td {{ build.contextVersions.models[0].attrs.build.triggeredAction | triggeredAction }}
        td {{ build.buildTime() | humanizeTimeDuration }}
        td {{ build.attrs.created | timeAgo }}
        td
          a.tooltip(
            ng-if = "!build.failed()"
            ng-click = "dataBuildList.actions.stateToInstance(build)"
            data-title = "Run Instance"
          )
            svg.iconnables.icons-run
              use(xlink:href = "#icons-run")
          a(
            ng-if = "build.failed()"
          ) None

