nav#build-stream-header.sub-header
  h1
    //- if empty, revert to project name
    input.form-control.inline-edit(
      placeholder = "App Name"
      ng-model = "dataBuildList.data.project.attrs.name"
      ng-model-options = "{ debounce: 500 }"
      required
      spellcheck = "false"
    )
    svg.iconnables.icons-edit
      use(xlink:href = "#icons-edit")

  button#delete-project.btn-icon(
    modal
    modal-template = "viewBuildListModalDeleteProject"
    modal-data     = "dataBuildList.data.dataModalDelete"
    modal-actions  = "dataBuildList.actions.actionsModalDelete"
    type = "button"
  )
    svg.iconnables.icons-delete
      use(xlink:href = "#icons-delete")

  a.btn.silver.config(
    ng-class = "{active: dataBuildList.data.popoverChangeEnvironment.data.show}"
    toggle-pop-over
    toggle-pop-over-model = "dataBuildList.data.popoverChangeEnvironment.data.show"
  )
    svg.iconnables.icons-recipe
      use(xlink:href = "#icons-recipe")
    | {{ dataApp.stateParams.branchName }}
    svg.iconnables.icons-arrow-down
      use(xlink:href = "#icons-arrow-down")
    pop-over(
      data = "dataBuildList.data.popoverChangeEnvironment.data"
      actions = "dataBuildList.data.popoverChangeEnvironment.actions"
      template = "viewBuildListPopoverChangeRecipe"
    )
  //- TODO
  //- form.search
  //-   input.form-control(
  //-     type = "search"
  //-     placeholder = "Search Builds"
  //-     required
  //-   )
  //-   button.submit
  //-     svg.iconnables.icons-search
  //-       use(xlink:href = "#icons-search")
  //-     svg.iconnables.icons-search-active
  //-       use(xlink:href = "#icons-search-active")
  //- .btn-group
  //-   button.silver(type = "button")
  //-     svg.iconnables.icons-chevron-left
  //-       use(xlink:href = "#icons-chevron-left")
  //-     | Prev 100
  //-   button.silver(type = "button") Next 100
  //-     svg.iconnables.icons-chevron-right
  //-       use(xlink:href = "#icons-chevron-right")
.table-scroll
  table#build-stream.table.table-hover
    thead
      tr
        th
        th.sortable(
          ng-click = "dataBuildList.actions.toggleSortBy('buildNumber')"
          ng-class = "(dataBuildList.data.sortState.column === 'buildNumber') ? dataBuildList.data.sortState.direction : '' "
        )
          span Build
        th Triggered By
        th Message
        th Triggered Action
        th.sortable(
          ng-click = "dataBuildList.actions.toggleSortBy('duration')"
          ng-class = "(dataBuildList.data.sortState.column === 'duration') ? dataBuildList.data.sortState.direction : '' "
        )
          span Duration
        th.sortable(
          ng-click = "dataBuildList.actions.toggleSortBy('initiated')"
          ng-class = "(dataBuildList.data.sortState.column === 'initiated') ? dataBuildList.data.sortState.direction : '' "
        )
          span Initiated
        th Actions
    tbody
      tr(
        ng-repeat = "build in dataBuildList.data.builds.models | orderBy:dataBuildList.predicate:dataBuildList.direction"
        ng-click  = "dataBuildList.actions.stateToBuild(build)"
      )
        td.build-status(
          ng-class = "{ pass: build.attrs.completed && !build.failed(), fail: build.failed() }"
        )
          .spinner
            .spinner-ring
          svg.iconnables.icons-check
            use(xlink:href = '#icons-check')
          svg.iconnables.icons-fail
            use(xlink:href = '#icons-fail')
        td {{ build.attrs.buildNumber }}
        td {{ build.contextVersions.models[0].attrs.build.triggeredBy.username }}
        td {{ build.contextVersions.models[0].attrs.build.message }}
        td {{ dataBuildList.actions.getTriggeredActionText(build) }}
        td {{ build.buildTime() | humanizeTimeDuration }}
        td {{ build.attrs.created | timeAgo }}
        td
          a.tooltip(
            ng-if = "!build.failed()"
            ng-click = "$event.stopPropagation(); dataBuildList.actions.runInstance(build);"
            data-title = "Run Instance"
          )
            svg.iconnables.icons-run
              use(xlink:href = "#icons-run")
          a.tooltip(
            data-title = "View Build Log"
            ng-if = "build.failed()"
          )
            svg.iconnables.icons-error
              use(xlink:href = "#icons-error")
