nav#build-stream-header.sub-header
  h1 Builds for
    button.btn.silver.recipe(
      ng-class = "{active: dataBuildList.showChangeRecipe}"
      ng-click = "dataBuildList.togglePopover('ChangeRecipe', $event);"
      type = "button"
    ) {{ dataBuildList.environment.attrs.name }}
      span.arrow-down
      .popover.menu.bottom.fade(
        ng-class = "{in: dataBuildList.showChangeRecipe}"
        ng-include = "'viewBuildListPopoverChangeRecipe'"
      )
  form.search
    input.form-control(
      placeholder = "Search Builds"
      required
    )
    button.submit
      object.inactive(
        data = "/build/images/icons/icons-search.svg"
        type = "image/svg+xml"
      )
      object.active(
        data = "/build/images/icons/icons-search-active.svg"
        type = "image/svg+xml"
      )
  .btn-group
    button.silver(type = "button")
      object(
        data = "/build/images/icons/icons-chevron-left.svg"
        type = "image/svg+xml"
      )
      | Prev 100
    button.silver(type = "button") Next 100
      object(
        data = "/build/images/icons/icons-chevron-right.svg"
        type = "image/svg+xml"
      )

.table-scroll
  table#build-stream.table.table-hover
    thead
      tr
        th
        th.sortable.descending
          span Build
        th Triggered By
        th Commit Message
        th Repo
        th.sortable
          span Duration
        th.sortable
          span Initiated
        th Actions
    tbody
      tr(ng-repeat = "build in dataBuildList.builds.models")
        td
          object(
            data = "/build/images/icons/icons-pass.svg"
            type = "image/svg+xml"
          )
        td {{ build.attrs.id | limitTo:4 }}...
        td {{ build.attrs.createdBy }}
        td {{ build.attrs.message }}
        td {{ build.attrs.name }}
        td {{ build.attrs.duration }}
        td {{ build.attrs.created | timeAgo }}
        td
          a.tooltip(
            data-title = "Run Instance"
          )
            object(
              data = "/build/images/icons/icons-run.svg"
              type = "image/svg+xml"
            )


      //- tr
      //-   td
      //-     object(
      //-       data = "/build/images/icons/icons-pass.svg"
      //-       type = "image/svg+xml"
      //-     )
      //-   td 1776
      //-   td username
      //-   td git commit log
      //-   td CodeNow/Reponame
      //-   td 90 seconds
      //-   td 3 seconds ago
      //-   td
      //-     a(
      //-       class      = "tooltip"
      //-       data-title = "Run Instance"
      //-     )
      //-       object(
      //-         data = "/build/images/icons/icons-run.svg"
      //-         type = "image/svg+xml"
      //-       )
      //- tr
      //-   td
      //-     object(
      //-       data = "/build/images/icons/icons-pass.svg"
      //-       type = "image/svg+xml"
      //-     )
      //-   td 1775
      //-   td username
      //-   td git commit log
      //-   td CodeNow/Reponame
      //-   td 90 seconds
      //-   td 2 minutes ago
      //-   td
      //-     a(
      //-       class      = "tooltip"
      //-       data-title = "Run Instance"
      //-     )
      //-       object(
      //-         data = "/build/images/icons/icons-run.svg"
      //-         type = "image/svg+xml"
      //-       )
      //- tr
      //-   td
      //-     object(
      //-       data = "/build/images/icons/icons-pass.svg"
      //-       type = "image/svg+xml"
      //-     )
      //-   td 1774
      //-   td username (manual)
      //-   td git commit log
      //-   td CodeNow/Reponame
      //-   td 90 seconds
      //-   td 3 minutes ago
      //-   td
      //-     a(
      //-       class      = "tooltip"
      //-       data-title = "Run Instance"
      //-     )
      //-       object(
      //-         data = "/build/images/icons/icons-run.svg"
      //-         type = "image/svg+xml"
      //-       )
      //- tr
      //-   td
      //-     object(
      //-       data = "/build/images/icons/icons-fail.svg"
      //-       type = "image/svg+xml"
      //-     )
      //-   td 1773
      //-   td username
      //-   td git commit log
      //-   td CodeNow/Reponame
      //-   td 90 seconds
      //-   td 1 hour ago
      //-   td
      //-     a(
      //-       class      = "tooltip"
      //-       data-title = "Open Log"
      //-     )
      //-       object(
      //-         type = "image/svg+xml"
      //-         data = "/build/images/icons/icons-error.svg"
      //-       )
      //- tr
      //-   td
      //-     object(
      //-       data = "/build/images/icons/icons-fail.svg"
      //-       type = "image/svg+xml"
      //-     )
      //-   td 1772
      //-   td username
      //-   td git commit log
      //-   td CodeNow/Reponame
      //-   td 90 seconds
      //-   td 12 hours ago
      //-   td
      //-     a(
      //-       class      = "tooltip"
      //-       data-title = "Open Log"
      //-     )
      //-       object(
      //-         type = "image/svg+xml"
      //-         data = "/build/images/icons/icons-error.svg"
      //-       )
      //- tr
      //-   td
      //-     object(
      //-       data = "/build/images/icons/icons-fail.svg"
      //-       type = "image/svg+xml"
      //-     )
      //-   td 1771
      //-   td username
      //-   td git commit log
      //-   td CodeNow/Reponame
      //-   td 90 seconds
      //-   td 23 hours ago
      //-   td
      //-     a(
      //-       class      = "tooltip"
      //-       data-title = "Open Log"
      //-     )
      //-       object(
      //-         type = "image/svg+xml"
      //-         data = "/build/images/icons/icons-error.svg"
      //-       )
      //- tr
      //-   td
      //-     object(
      //-       data = "/build/images/icons/icons-fail.svg"
      //-       type = "image/svg+xml"
      //-     )
      //-   td 1770
      //-   td username
      //-   td git commit log
      //-   td CodeNow/Reponame
      //-   td 90 seconds
      //-   td on 88/88
      //-   td
      //-     a(
      //-       class      = "tooltip"
      //-       data-title = "Open Log"
      //-     )
      //-       object(
      //-         type = "image/svg+xml"
      //-         data = "/build/images/icons/icons-error.svg"
      //-       )
      //- tr
      //-   td
      //-     object(
      //-       data = "/build/images/icons/icons-fail.svg"
      //-       type = "image/svg+xml"
      //-     )
      //-   td 1769
      //-   td username
      //-   td git commit log
      //-   td CodeNow/Reponame
      //-   td 90 seconds
      //-   td on 88/88
      //-   td
      //-     a(
      //-       class      = "tooltip"
      //-       data-title = "Open Log"
      //-     )
      //-       object(
      //-         type = "image/svg+xml"
      //-         data = "/build/images/icons/icons-error.svg"
      //-       )
      //- tr
      //-     td
      //-       object(
      //-         data = "/build/images/icons/icons-pass.svg"
      //-         type = "image/svg+xml"
      //-       )
      //-     td 1776
      //-     td username
      //-     td git commit log
      //-     td CodeNow/Reponame
      //-     td
      //-       a 90 seconds
      //-     td on 88/88
      //-     td
      //-       a(
      //-         class      = "tooltip"
      //-         data-title = "Run Instance"
      //-       )
      //-         object(
      //-           data = "/build/images/icons/icons-run.svg"
      //-           type = "image/svg+xml"
      //-         )
      //-   tr
      //-     td
      //-       object(
      //-         data = "/build/images/icons/icons-pass.svg"
      //-         type = "image/svg+xml"
      //-       )
      //-     td 1775
      //-     td username
      //-     td git commit log
      //-     td CodeNow/Reponame
      //-     td
      //-       a 90 seconds
      //-     td on 88/88
      //-     td
      //-       a(
      //-         class      = "tooltip"
      //-         data-title = "Run Instance"
      //-       )
      //-         object(
      //-           data = "/build/images/icons/icons-run.svg"
      //-           type = "image/svg+xml"
      //-         )
      //-   tr
      //-     td
      //-       object(
      //-         data = "/build/images/icons/icons-pass.svg"
      //-         type = "image/svg+xml"
      //-       )
      //-     td 1774
      //-     td username
      //-     td git commit log
      //-     td CodeNow/Reponame
      //-     td
      //-       a 90 seconds
      //-     td on 88/88
      //-     td
      //-       a(
      //-         class      = "tooltip"
      //-         data-title = "Run Instance"
      //-       )
      //-         object(
      //-           data = "/build/images/icons/icons-run.svg"
      //-           type = "image/svg+xml"
      //-         )
      //-   tr
      //-     td
      //-       object(
      //-       data = "/build/images/icons/icons-fail.svg"
      //-       type = "image/svg+xml"
      //-     )
      //-     td 1773
      //-     td username
      //-     td git commit log
      //-     td CodeNow/Reponame
      //-     td
      //-       a 90 seconds
      //-     td on 88/88
      //-     td
      //-       a(
      //-         class      = "tooltip"
      //-         data-title = "Open Log"
      //-       )
      //-         object(
      //-         type = "image/svg+xml"
      //-         data = "/build/images/icons/icons-error.svg"
      //-     )
      //-   tr
      //-     td
      //-       object(
      //-       data = "/build/images/icons/icons-fail.svg"
      //-       type = "image/svg+xml"
      //-     )
      //-     td 1772
      //-     td username
      //-     td git commit log
      //-     td CodeNow/Reponame
      //-     td
      //-       a 90 seconds
      //-     td on 88/88
      //-     td
      //-       a(
      //-         class      = "tooltip"
      //-         data-title = "Open Log"
      //-       )
      //-         object(
      //-         type = "image/svg+xml"
      //-         data = "/build/images/icons/icons-error.svg"
      //-     )
      //-   tr
      //-     td
      //-       object(
      //-       data = "/build/images/icons/icons-fail.svg"
      //-       type = "image/svg+xml"
      //-     )
      //-     td 1771
      //-     td username
      //-     td git commit log
      //-     td CodeNow/Reponame
      //-     td
      //-       a 90 seconds
      //-     td on 88/88
      //-     td
      //-       a(
      //-         class      = "tooltip"
      //-         data-title = "Open Log"
      //-       )
      //-         object(
      //-         type = "image/svg+xml"
      //-         data = "/build/images/icons/icons-error.svg"
      //-     )
      //-   tr
      //-     td
      //-       object(
      //-       data = "/build/images/icons/icons-fail.svg"
      //-       type = "image/svg+xml"
      //-     )
      //-     td 1770
      //-     td username
      //-     td git commit log
      //-     td CodeNow/Reponame
      //-     td
      //-       a 90 seconds
      //-     td on 88/88
      //-     td
      //-       a(
      //-         class      = "tooltip"
      //-         data-title = "Open Log"
      //-       )
      //-         object(
      //-         type = "image/svg+xml"
      //-         data = "/build/images/icons/icons-error.svg"
      //-     )
      //-   tr
      //-     td
      //-       object(
      //-       data = "/build/images/icons/icons-fail.svg"
      //-       type = "image/svg+xml"
      //-     )
      //-     td 1769
      //-     td username
      //-     td git commit log
      //-     td CodeNow/Reponame
      //-     td
      //-       a 90 seconds
      //-     td on 88/88
      //-     td
      //-       a(
      //-         class      = "tooltip"
      //-         data-title = "Open Log"
      //-       )
      //-         object(
      //-         type = "image/svg+xml"
      //-         data = "/build/images/icons/icons-error.svg"
      //-     )
      //-   tr
      //-   td
      //-     object(
      //-       data = "/build/images/icons/icons-pass.svg"
      //-       type = "image/svg+xml"
      //-     )
      //-   td 1776
      //-   td username
      //-   td git commit log
      //-   td CodeNow/Reponame
      //-   td 90 seconds
      //-   td on 88/88
      //-   td
      //-     a(
      //-       class      = "tooltip"
      //-       data-title = "Run Instance"
      //-     )
      //-       object(
      //-         data = "/build/images/icons/icons-run.svg"
      //-         type = "image/svg+xml"
      //-       )
      //- tr
      //-   td
      //-     object(
      //-       data = "/build/images/icons/icons-pass.svg"
      //-       type = "image/svg+xml"
      //-     )
      //-   td 1775
      //-   td username
      //-   td git commit log
      //-   td CodeNow/Reponame
      //-   td 90 seconds
      //-   td on 88/88
      //-   td
      //-     a(
      //-       class      = "tooltip"
      //-       data-title = "Run Instance"
      //-     )
      //-       object(
      //-         data = "/build/images/icons/icons-run.svg"
      //-         type = "image/svg+xml"
      //-       )
      //- tr
      //-   td
      //-     object(
      //-       data = "/build/images/icons/icons-pass.svg"
      //-       type = "image/svg+xml"
      //-     )
      //-   td 1774
      //-   td username
      //-   td git commit log
      //-   td CodeNow/Reponame
      //-   td 90 seconds
      //-   td on 88/88
      //-   td
      //-     a(
      //-       class      = "tooltip"
      //-       data-title = "Run Instance"
      //-     )
      //-       object(
      //-         data = "/build/images/icons/icons-run.svg"
      //-         type = "image/svg+xml"
      //-       )
      //- tr
      //-   td
      //-     object(
      //-       data = "/build/images/icons/icons-fail.svg"
      //-       type = "image/svg+xml"
      //-     )
      //-   td 1773
      //-   td username
      //-   td git commit log
      //-   td CodeNow/Reponame
      //-   td 90 seconds
      //-   td on 88/88
      //-   td
      //-     a(
      //-       class      = "tooltip"
      //-       data-title = "Open Log"
      //-     )
      //-       object(
      //-         type = "image/svg+xml"
      //-         data = "/build/images/icons/icons-error.svg"
      //-       )
      //- tr
      //-   td
      //-     object(
      //-       data = "/build/images/icons/icons-fail.svg"
      //-       type = "image/svg+xml"
      //-     )
      //-   td 1772
      //-   td username
      //-   td git commit log
      //-   td CodeNow/Reponame
      //-   td 90 seconds
      //-   td on 88/88
      //-   td
      //-     a(
      //-       class      = "tooltip"
      //-       data-title = "Open Log"
      //-     )
      //-       object(
      //-         type = "image/svg+xml"
      //-         data = "/build/images/icons/icons-error.svg"
      //-       )
      //- tr
      //-   td
      //-     object(
      //-       data = "/build/images/icons/icons-fail.svg"
      //-       type = "image/svg+xml"
      //-     )
      //-   td 1771
      //-   td username
      //-   td git commit log
      //-   td CodeNow/Reponame
      //-   td 90 seconds
      //-   td on 88/88
      //-   td
      //-     a(
      //-       class      = "tooltip"
      //-       data-title = "Open Log"
      //-     )
      //-       object(
      //-         type = "image/svg+xml"
      //-         data = "/build/images/icons/icons-error.svg"
      //-       )
      //- tr
      //-   td
      //-     object(
      //-       data = "/build/images/icons/icons-fail.svg"
      //-       type = "image/svg+xml"
      //-     )
      //-   td 1770
      //-   td username
      //-   td git commit log
      //-   td CodeNow/Reponame
      //-   td 90 seconds
      //-   td on 88/88
      //-   td
      //-     a(
      //-       class      = "tooltip"
      //-       data-title = "Open Log"
      //-     )
      //-       object(
      //-         type = "image/svg+xml"
      //-         data = "/build/images/icons/icons-error.svg"
      //-       )
      //- tr
      //-   td
      //-     object(
      //-       data = "/build/images/icons/icons-fail.svg"
      //-       type = "image/svg+xml"
      //-     )
      //-   td 1769
      //-   td username
      //-   td git commit log
      //-   td CodeNow/Reponame
      //-   td 90 seconds
      //-   td on 88/88
      //-   td
      //-     a(
      //-       class      = "tooltip"
      //-       data-title = "Open Log"
      //-     )
      //-       object(
      //-           type = "image/svg+xml"
      //-           data = "/build/images/icons/icons-error.svg"
      //-         )
