nav#build-stream-header.sub-header
  h1
    //- if empty, revert to project name
    input.form-control.inline-edit(
      placeholder = "App Name"
      spellcheck = "false"
      value = "MyApp"
    )
    svg.iconnables.icons-edit
      use(xlink:href = "#icons-edit")
  button.btn.silver.config(
    ng-class = "{active: dataBuildList.data.showChangeRecipe}"
    toggle-pop-over
    toggle-pop-over-model = "dataBuildList.data.showChangeRecipe"
    type = "button"
  )
    svg.iconnables.icons-recipe
      use(xlink:href = "#icons-recipe")
    | {{ dataApp.stateParams.branchName }}
    svg.iconnables.icons-arrow-down
      use(xlink:href = "#icons-arrow-down")
    pop-over(
      template = "viewBuildListPopoverChangeRecipe"
      actions = "{}"
      data = "{\
        show: dataBuildList.data.showChangeRecipe\
        filter: dataBuildList.data.filter\
      }"
    )
  //-
    .popover.menu.bottom.fade(
      ng-class = "{in: dataBuildList.showChangeRecipe}"
      ng-include = "'viewBuildListPopoverChangeRecipe'"
    )
  //- h1(ng-click = "dataBuildList.show404()") show 404
  form.search
    input.form-control(
      type = "search"
      placeholder = "Search Builds"
      required
    )
    button.submit
      svg.iconnables.icons-search
        use(xlink:href = "#icons-search")
      svg.iconnables.icons-search-active
        use(xlink:href = "#icons-search-active")
  .btn-group
    button.silver(type = "button")
      svg.iconnables.icons-chevron-left
        use(xlink:href = "#icons-chevron-left")
      | Prev 100
    button.silver(type = "button") Next 100
      svg.iconnables.icons-chevron-right
        use(xlink:href = "#icons-chevron-right")
.table-scroll
  table#build-stream.table.table-hover
    thead
      tr
        th
        th.sortable(
          ng-click = "dataBuildList.actions.toggleSortByBuild()"
          ng-class = "dataBuildList.actions.getBuildSortClass()"
        )
          span Build
        th Triggered By
        th Commit Message
        th Repo
        th.sortable
          span Duration
        th.sortable
          span Initiated
        th Actions
    tbody
      tr(
        ng-repeat = "build in dataBuildList.builds.models | orderBy:dataBuildList.predicate:dataBuildList.direction"
        ng-click  = "dataBuildList.stateToBuild(build)"
      )
        td
          svg.iconnables.icons-check
            use(xlink:href = "#icons-check")
        td {{ build.attrs.id }}
        td {{ dataBuildList.data.buildOwners.getById(build.attrs.owner).attrs.username }}
        td {{ build.attrs.message }}
        td {{ dataBuildList.project.attrs.name }}
        td {{ build.attrs.duration }}
        td {{ build.attrs.created | timeAgo }}
        td
          a.tooltip(
            ng-click   = "dataBuildList.stateToInstance(build)"
            data-title = "Run Instance"
          )
            svg.iconnables.icons-run
              use(xlink:href = "#icons-run")
