.modal-dialog(
  ng-click = "$event.stopPropagation()"
)
  header.modal-header
    h1.modal-heading Something went wrong.
  section.modal-body.clearfix

  footer.modal-footer
    button.btn.white(
      ng-click = "actions.close(defaultActions.cancel);"
    ) Dismiss