button.grid-block.shrink.btn.btn-container-menu(
  ng-class = "{\
    'active': BTPBC.popoverOpen,\
    'gray': BTPBC.sha.length > 0\
  }"
  ng-if = "$root.featureFlags.composeHistory"
  ng-click = "BTPBC.popoverOpen = true"
  pop-over
  pop-over-template = "branchTestSelectorPopoverView"
  pop-over-data = "BTPBC.popoverData"
  pop-over-options = "{\"verticallyCentered\":true,\"right\":0,\"pinToViewPort\": true}"
)
  svg.iconnables
    use(
      xlink:href = "#icons-history"
    )
  span.span {{BTPBC.sha}}
