.popover.popover-tooltip.right(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow

  //- if default container is not running
  small.small(
    ng-if = "$root.featureFlags.webhooks && !$root.featureFlags.webhooksContainerRunning"
  ) You can add branches once your default container is running.

  //- if default container is running but there's no admin present
  small.small(
    ng-if = "$root.featureFlags.webhooks && $root.featureFlags.webhooksContainerRunning && !$root.featureFlags.webhooksAdminPresent"
  ) Well done! Your default container is running. Now we just need permission from a GitHub admin.
  button.btn.btn-xs(
    modal
    modal-template = "inviteAdminModalView"
    ng-if = "$root.featureFlags.webhooks && $root.featureFlags.webhooksContainerRunning && !$root.featureFlags.webhooksAdminPresent"
  ) Invite an Admin…