.arrow.white(
  style = "top: 50px;"
)
.grid-block.align-center.justify-justified.demo-progress(
  demo-progress-bar
  demo-step = 6
)
.grid-block.align-center
  .grid-block.shrink.align-center.margin-right-xs.h2 🙌
  .grid-block.vertical
    p.weight-strong Nice work!
    small.small Now add your GitHub team to start running your own code.
