progress-meter(
  step = "demoStep"
  meter-max = "isPersonalAccount ? 7 : 6"
)

a.link.small.text-gray-light(
  data-event-name = "Clicked: End Tour"
  ng-click = "endDemo()"
  ng-if = "!isPersonalAccount"
) End Tour
