progress-meter(
  step = "demoStep"
  meter-max = "meterMax"
)

a.link.small.text-gray-light(
  data-event-name = "Clicked: End Tour"
  ng-click = "endDemo()"
  ng-if = "(!isPersonalAccount && !$root.featureFlags.demoPersonalOnly) || demoStep === 6"
) End Demo
