.arrow.white(
  style = "top: 50px;"
)
.grid-block.align-center.justify-justified.demo-progress(
  demo-progress-bar
  demo-step = 6
)
.grid-block.align-center
  .grid-block.shrink.align-center.margin-right-xs.h2 👯
  .grid-block.vertical
    p.weight-strong Don’t leave your team on the sidelines.
    small.small Add your GitHub team to start running its code.
