.modal-backdrop.in
  .modal-dialog.modal-alert
    section.modal-body
      p.p.strong Make sure you’ve finished configuring {{EBMC.repoName}} before continuing.
      p.p This will create containers for all its active branches.
    section.modal-footer
      button.btn.btn-sm.green(
        ng-click = "EBMC.enableBranches()"
      ) Enable Branches
      button.btn.btn-sm.btn-cancel.white(
        ng-click = "EBMC.close()"
      ) Cancel