.clearfix
  .label-col Translation Rules

//- table
.table
  .tr.thead.clearfix
    .cell Strings
      button.btn.btn-xs.white(
        pop-over
        pop-over-actions = "actions"
        pop-over-data = "data"
        pop-over-options = "{\"left\":0,\"top\":-108}"
        pop-over-template = "viewPopoverRules"
      ) New string rule
  //- when dragging:
    - add .disabled to the .tr to be dragged
    - clone .tr that's being dragged
    - add .dragging class
    - add current width
  .tr.tr-action.clearfix
    .cell.cell-action
      svg.iconnables.icons-drag
        use(
          xlink:href = "#icons-drag"
        )
    .cell.monospace.text-overflow(
      title = "config/environment"
    ) config/environment
    .cell.monospace.text-overflow(
      title = "./client/config/environment.js"
    ) ./client/config/environment.js
    .cell.cell-action.monospace
  .tr.tr-action.clearfix
    .cell.cell-action
      svg.iconnables.icons-drag
        use(
          xlink:href = "#icons-drag"
        )
    .cell.monospace.text-overflow(
      title = "./client/assets/js/primus-client.js"
    ) ./client/assets/js/primus-client.js
    .cell.monospace.text-overflow(
      title = "./client/assets/js/primus-client-prod.js"
    ) ./client/assets/js/primus-client-prod.js
    .cell.cell-action.monospace
      //- only show if rule doesn't do anything
      button.btn.btn-xxs.orange(
        title = "0 strings being replaced"
      ) !?
  .tr.thead.clearfix
    .cell Filenames
      button.btn.btn-xs.white New filename rule
  .tr.tr-action.clearfix
    //- hide drag if there is only one rule of that type
      - .disabled will hide the action visually
      - .no-touching will stop pointer events
    .cell.cell-action.disabled.no-touching(
      ng-class = "{\
        disabled: ifOnlyRuleOfType,\
        'no-touching': ifOnlyRuleOfType\
      "
    )
      svg.iconnables.icons-drag
        use(
          xlink:href = "#icons-drag"
        )
    .cell.monospace.text-overflow(
      title = "./client/assets/js/primus-client.js"
    ) primus-client.js
    .cell.monospace.text-overflow(
      title = "./client/assets/js/primus-client-prod.js"
    ) primus-client-prod.js
    .cell.cell-action.monospace

small.small Translation rules allow you to dynamically translate strings or filenames in your code. Use this to modify connection strings or server names in your code to make sure that containers in your sandbox can communicate with each other, or to rename files when they are copied to your container without having to modify your original source code. #{''}
  a.link(
    href = "//google.com"
    target = "_blank"
  ) More about translation rules