h3.nav-card-header(
  active-account = "activeAccount"
  instance = "composeCluster.master"
  instance-navigation
  ng-if = "!isActive"
)
  span.text-overflow {{getCardName()}}

  //- only show for default branches
  button.grid-block.shrink.btn-container-menu(
    ng-class = "{'active': INC.popoverShown}"
    ng-if = "!INC.currentOrg.isPersonalAccount() && !INC.isInDemoFlow()"
    pop-over
    pop-over-active = "INC.popoverShown"
    pop-over-controller = "INC"
    pop-over-options = "{\"verticallyCentered\":true,\"left\":26}"
    pop-over-template = "instanceNavigationPopoverView"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-gear"
      )
//- staging environment
section.nav-card-section(
  ng-include = "'stagingEnvironmentView'"
  ng-if = "composeCluster.staging.length"
  ng-if = "isActive"
)
//- testing environment
section.nav-card-section(
  ng-if = "composeCluster.testing.length"
  ng-include = "'testingEnvironmentView'"
  ng-if = "isActive"
)
