h3.nav-card-header
  span.grid-block(
    ng-attr-title = "{{composeInstance.getBranchName()}}"
  )
    .text-overflow {{composeInstance.getBranchName()}}

  //- only show for default branches
  button.grid-block.shrink.btn-container-menu(
    ng-class = "{'active': INC.popoverShown}"
    ng-if = "!INC.currentOrg.isPersonalAccount() && !INC.isInDemoFlow()"
    pop-over
    pop-over-active = "INC.popoverShown"
    pop-over-controller = "INC"
    pop-over-options = "{\"verticallyCentered\":true,\"left\":26}"
    pop-over-template = "instanceNavigationPopoverView"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-gear"
      )
//- staging environment
section.nav-card-section(
  ng-include = "'stagingEnvironmentView'"
)
//- testing environment
section.nav-card-section(
  ng-include = "'testingEnvironmentView'"
)
