header.noscroll.nav-environment-header
  span.grid-block Staging
  branch-commit-popover-button(
    instance = "cluster.master"
  )

ul.nav-container-list
  li.li(
    active-account = "activeAccount"
    instance = "cluster.master"
    instance-navigation
    ng-if = "!cluster.master.attrs.isTesting"
  )

  li.li(
    active-account = "activeAccount"
    instance = "stagingInstance"
    instance-navigation
    ng-repeat = "stagingInstance in CCC.getStagingInstances(cluster) track by stagingInstance.attrs._id"
  )
