header.noscroll.nav-environment-header

  span.grid-block Testing
  branch-test-popover-button(
    instance = "defaultCluster.master"
    ng-if = "defaultCluster.master.attrs.isTesting"
  )
  branch-test-popover-button(
    instance = "CCC.getTestingInstances(defaultCluster)[0]"
    ng-if = "!defaultCluster.master.attrs.isTesting"
  )

ul.nav-container-list(
)
  li.li(
    active-account = "activeAccount"
    instance = "defaultCluster.master"
    instance-navigation
    ng-if = "defaultCluster.master.attrs.isTesting"
  )

  li.li(
    instance = "testingInstance"
    instance-navigation
    ng-repeat = "testingInstance in CCC.getTestingInstances(defaultCluster) track by testingInstance.attrs._id"
  )
