a.nav-card-header(
  ng-attr-title = "{{getCardName()}}"
  ng-include = "'viewComposeCardHeader'"
  ui-sref = "\
    base.instances.instance({userName: CCC.composeCluster.master.attrs.owner.username,\
    instanceName: CCC.composeCluster.master.attrs.name})\
  "
)

//- staging environment
section.nav-card-section(
  ng-if = "isActive && (CCC.composeCluster.staging.length || !CCC.composeCluster.master.attrs.isTesting)"
  ng-include = "'viewStagingEnvironment'"
)
//- testing environment
section.nav-card-section(
  ng-if = "isActive && (CCC.composeCluster.testing.length || CCC.composeCluster.master.attrs.isTesting)"
  ng-include = "'viewTestingEnvironment'"
)
