
//- staging environment
section.nav-card-section(
  ng-if = "isActive && (CCC.composeCluster.staging.length || !CCC.composeCluster.master.attrs.isTesting)"
  ng-include = "'viewStagingEnvironment'"
)
//- testing environment
section.nav-card-section(
  ng-if = "isActive && (CCC.composeCluster.testing.length || CCC.composeCluster.master.attrs.isTesting)"
  ng-include = "'viewTestingEnvironment'"
)
