span.grid-block
  span.text-overflow {{getCardName()}}
//- only show for default branches
button.grid-block.shrink.btn-container-menu(
  ng-class = "{'active': INC.popoverShown}"
  ng-if = "!$root.featureFlags.multipleWebhooks && !INC.currentOrg.isPersonalAccount() && !INC.isInDemoFlow()"
  pop-over
  pop-over-active = "INC.popoverShown"
  pop-over-controller = "CCC"
  pop-over-options = "{\"verticallyCentered\":true,\"left\":25}"
  pop-over-template = "viewComposeCardServicePopover"
)
  svg.iconnables
    use(
      xlink:href = "#icons-gear"
    )
button.grid-block.shrink.btn-container-menu(
  data-event-name = "Clicked to Delete Branch (Open Modal)"
  ng-click = "CCC.deleteBranch()"
  ng-if = "$root.featureFlags.multipleWebhooks && showDeleteButton()"
  tooltip = "Remove Branch…"
  tooltip-options = "{\"class\":\"right\",\"left\":21,\"top\":-6}"
)
  svg.iconnables.icons-close
    use(
      xlink:href = "#icons-close"
    )
