header.noscroll.nav-environment-header
  span.grid-block Staging
  //-
    - add .gray and 7 character commit hash when set to previous commit
    - the popover position needs to be adjusted when set to previous commit
  button.grid-block.shrink.btn.btn-container-menu(
    ng-class = "{\
      'active': popoverShown,\
      'orange': previousCommit\
    }"
    ng-if = "$root.featureFlags.composeHistory"
    pop-over
    pop-over-options = "{\"verticallyCentered\":true,\"left\":26,\"pinToViewPort\":true}"
    pop-over-template = "branchTestSelectorPopoverView"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-history"
      )
    span.span(
      ng-if = "previousCommit"
    ) 7c53d87

ul.nav-container-list
  li.li(
    active-account = "activeAccount"
    instance = "composeCluster.master"
    instance-navigation
    ng-if = "!composeCluster.master.attrs.isTesting"
  )

  li.li(
    active-account = "activeAccount"
    instance = "stagingInstance"
    instance-navigation
    ng-repeat = "stagingInstance in getStagingInstances() | orderBy: ['attrs.name'] track by stagingInstance.attrs._id"
  )
