a.nav-card-header(
  ng-attr-title = "{{CCC.composeCluster.repoName}}"
  ng-include = "'viewComposeCardHeader'"
  ui-sref = "\
    base.instances.instance({userName: CCC.composeCluster.master.attrs.owner.username,\
    instanceName: CCC.composeCluster.master.attrs.name})\
  "
)

.default-compose-clusters(
  ng-repeat = "defaultCluster in CCC.composeCluster.clusters"
  ng-if = "defaultCluster.isDefaultBranch"
)
  //- staging environment
  section.nav-card-section(
    ng-if = "isActive && (defaultCluster.staging.length || !defaultCluster.master.attrs.isTesting)"
    ng-include = "'viewStagingEnvironment'"
  )
  //- testing environment
  section.nav-card-section(
    ng-if = "isActive && (defaultCluster.testing.length || defaultCluster.master.attrs.isTesting)"
    ng-include = "'viewTestingEnvironment'"
  )
