header.noscroll.nav-environment-header
  span.grid-block Staging
  branch-commit-popover-button(
    instance = "defaultCluster.master"
  )

ul.nav-container-list
  li.li(
    active-account = "activeAccount"
    instance = "defaultCluster.master"
    instance-navigation
    ng-if = "!defaultCluster.master.attrs.isTesting"
  )

  li.li(
    active-account = "activeAccount"
    instance = "stagingInstance"
    instance-navigation
    ng-repeat = "stagingInstance in defaultCluster.staging track by stagingInstance.attrs._id"
  )
