a.nav-card-header(
  ng-attr-title = "{{cardName}}"
  ng-include = "'viewComposeCardHeader'"
  ui-sref = "\
    base.instances.instance({userName: CCC.composeCluster.master.attrs.owner.username,\
    instanceName: CCC.composeCluster.master.attrs.name})\
  "
)

.cluster-containers(
  ng-repeat = "cluster in CCC.composeCluster.staging"
)
  //- staging environment
  section.nav-card-section(
    ng-include = "'viewStagingEnvironment'"
  )

.cluster-containers(
  ng-repeat = "cluster in CCC.composeCluster.testing"
)
  //- testing environment
  section.nav-card-section(
    ng-if = "isActive"
    ng-include = "'viewTestingEnvironment'"
  )
