a.nav-card-header(
  ng-attr-title = "{{CCC.composeCluster.repoName}}"
  ng-include = "'viewComposeCardHeader'"
  ui-sref = "\
    base.instances.instance({userName: CCC.composeCluster.master.attrs.owner.username,\
    instanceName: CCC.composeCluster.master.attrs.name})\
  "
)

.nav-card-wrapper(
  ng-if = "defaultCluster.isDefaultBranch"
  ng-repeat = "defaultCluster in CCC.composeCluster.clusters"
)
  //- staging environment
  section.nav-card-section(
    ng-if = "isActive && (defaultCluster.staging.length || !defaultCluster.master.attrs.isTesting)"
    ng-include = "'viewDefaultStagingEnvironment'"
  )
  //- testing environment
  section.nav-card-section(
    ng-if = "isActive && (defaultCluster.testing.length || defaultCluster.master.attrs.isTesting)"
    ng-include = "'viewDefaultTestingEnvironment'"
  )

.nav-card-wrapper(
  ng-if = "!CCC.composeCluster.clusters"
)
  section.nav-card-section(
    ng-if = "isActive && (CCC.composeCluster.staging.length || !CCC.composeCluster.master.attrs.isTesting)"
    ng-include = "'viewStagingEnvironment'"
  )
  section.nav-card-section(
    ng-if = "isActive && (CCC.composeCluster.testing.length || CCC.composeCluster.master.attrs.isTesting)"
    ng-include = "'viewTestingEnvironment'"
  )
