button.btn.white.btn-action(
  ng-click = "goToEdit()"
  title = "Edit Server"
  type = "button"
)
  svg.iconnables.icons-edit
    use(
      xlink:href = "#icons-edit"
    )
  | Edit
.guide-wrapper(
  type = "editButton"
  mark-style = "{\"left\": -6, \"top\": 18}"
  template = "viewCoachMarksEditPopover"
  show-coach-marks
)
button.btn.white.btn-action(
  modal
  modal-actions = "popoverGearMenu.actions.actionsModalFork"
  modal-data = "popoverGearMenu.data.dataModalFork"
  modal-template = "viewOpenModalForkBox"
  title = "Fork Server"
  type = "button"
)
  svg.iconnables.icons-fork
    use(
      xlink:href = "#icons-fork"
    )
  | Fork
a.btn.white.btn-icon.btn-actions(
  ng-class = "{active: popoverGearMenu.data.show}"
  toggle-pop-over
  toggle-pop-over-model = "popoverGearMenu.data.show"
  type = "button"
)
  svg.iconnables.icons-gear
    use(
      xlink:href = "#icons-gear"
    )
  pop-over(
    actions = "popoverGearMenu.actions"
    data = "popoverGearMenu.data"
    popover-options = "{\"left\":-67,\"top\":54}"
    template = "viewInstancePopoverSecondaryActions"
  )
