button.btn.gray(
  ng-click = "actions.stopInstance()"
  ng-if = "!saving && instance.build.attrs.completed && instance.containers.models[0].running()"
) Stop Container

button.btn.gray.btn-spinner(
  ng-if = "saving"
  disabled
)
  .spinner-wrapper.spinner-sm.spinner-purple.in(
    ng-include = "'spinner'"
  )
  span.btn-text(
    ng-if = "starting"
  ) Starting Container
  span.btn-text(
    ng-if = "!starting"
  ) Stopping Container

button.btn.gray(
  ng-click = "actions.startInstance()"
  ng-if = "!saving && instance.build.attrs.completed && !instance.containers.models[0].running()"
  ng-disabled = "saving"
) Start Container