button.btn.white.btn-action(
  coach-mark-style = "{\"left\": -6, \"top\": 24}"
  coach-mark-template = "viewCoachMarksEditPopover"
  coach-mark-type = "editButton"
  ng-click = "goToEdit()"
  show-coach-marks
  title = "Edit Server"
  type = "button"
)
  svg.iconnables.icons-edit
    use(
      xlink:href = "#icons-edit"
    )
  | Edit
button.btn.white.btn-action(
  modal
  modal-actions = "popoverGearMenu.actions.actionsModalFork"
  modal-data = "popoverGearMenu.data.dataModalFork"
  modal-template = "viewOpenModalForkBox"
  title = "Fork Server"
  type = "button"
)
  svg.iconnables.icons-fork
    use(
      xlink:href = "#icons-fork"
    )
  | Fork
a.btn.white.btn-icon.btn-actions(
  ng-class = "{active: popoverGearMenu.data.show}"
  toggle-pop-over
  toggle-pop-over-model = "popoverGearMenu.data.show"
)
  svg.iconnables.icons-gear
    use(
      xlink:href = "#icons-gear"
    )
  pop-over(
    actions = "popoverGearMenu.actions"
    data = "popoverGearMenu.data"
    popover-options = "{\"left\":-67,\"top\":54}"
    template = "viewInstancePopoverSecondaryActions"
  )
