.secondary-actions(
  ng-if = "instance"
)
  //- apply class .in to .save-spinner to play animation
  //- subsequent saves: remove .in and reapply .in
  .save-spinner(
    ng-class = "{in: saving}"
  )
    .spinner
      .spinner-ring
    svg.iconnables.icons-check
      use(
        xlink:href = "#icons-check"
      )
  button.btn.white.btn-action(
    ng-click = "goToEdit()"
    type = "button"
  )
    svg.iconnables.icons-edit
      use(
        xlink:href = "#icons-edit"
      )
    | Edit
  button.btn.white.btn-action(
    modal
    modal-actions = "popoverGearMenu.actions.actionsModalFork"
    modal-data = "popoverGearMenu.data.dataModalFork"
    modal-template = "viewModalForkBox"
    title = "Fork Box"
    type = "button"
  )
    svg.iconnables.icons-fork
      use(
        xlink:href = "#icons-fork"
      )
    | Fork
  button.btn.white.btn-icon.btn-actions(
    ng-class = "{active: popoverGearMenu.data.show}"
    toggle-pop-over
    toggle-pop-over-model = "popoverGearMenu.data.show"
  )
    svg.iconnables.icons-gear
      use(
        xlink:href = "#icons-gear"
      )
    pop-over(
      actions = "popoverGearMenu.actions"
      data = "popoverGearMenu.data"
      popover-options = "{\"left\":-67,\"top\":54}"
      template = "viewInstancePopoverSecondaryActions"
    )
