.popover.menu.bottom.fade.popover-actions(
  ng-class = "{in: data.show}"
)
  .arrow.white
  .popover-content
    ul.popover-list
      li.popover-list-item(
        ng-click = "actions.stopInstance()"
        ng-if = "data.instance.build.attrs.completed && data.instance.containers.models[0].running()"
      ) Stop Running
      li.popover-list-item(
        ng-click = "actions.startInstance()"
        ng-if = "data.instance.build.attrs.completed && !data.instance.containers.models[0].running()"
      ) Start Running
      //- li.divider(
      //-   ng-if = "data.instance.build.attrs.completed"
      //- )
      //- li.popover-list-item(
      //-   modal
      //-   modal-actions = "actions.actionsModalEnvironment"
      //-   modal-data = "data.dataModalEnvironment"
      //-   modal-current-model = "data.instance.attrs"
      //-   modal-state-model = "data.instance.state"
      //-   modal-template = "viewOpenModalEnvironment"
      //- ) Edit Environment
      //- li.divider
      //- li.popover-list-item(
      //-   modal
      //-   modal-actions = "actions.actionsModalRename"
      //-   modal-data = "data.dataModalRename"
      //-   modal-template = "viewModalRenameBox"
      //- ) Rename Server
      //- li.popover-list-item(
      //-   modal
      //-   modal-actions = "actions.actionsModalDelete"
      //-   modal-data = "data.dataModalDelete"
      //-   modal-template = "viewModalDeleteBox"
      //- ) Delete Server
