button.btn.btn-icon.btn-action(
  ng-class = "{active: popoverGearMenu.data.show}"
  pop-over
  pop-over-actions = "popoverGearMenu.actions"
  pop-over-data = "popoverGearMenu.data"
  pop-over-options = "{\"left\":-67,\"top\":54}"
  pop-over-template = "viewInstancePopoverSecondaryActions"
  pop-over-active = "popoverGearMenu.data.show"
)
  svg.iconnables.icons-gear
    use(
      xlink:href = "#icons-gear"
    )
