.popover.menu.bottom(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white(
    style = "left: auto; right: 4px;"
  )
  .popover-content
    ul.popover-list
      //- trigger build files confirm modal
      li.list-item.popover-list-item.multi-line
        label.label-checkbox
          input.input-checkbox(
            ng-model = "data.parentState.advanced"
            type = "checkbox"
          )
          | Advanced options
          small.small Modify your container through its build files
