.popover.menu.bottom.popover-card-status(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white
  .popover-content
    //- This element should display when the container has failed to build or run for 5 seconds.
    .well.well-popover.orange.text-center.padding-xxs(
      ng-if = "$root.featureFlags.cardStatus"
    )
      | Your container failed to&#32;
      //- This should say "build" if the build failed, or "start" if the Container CMD failed to start and run for 5 seconds.
      | start.
    ul.popover-list
      //- when we implement $root.featureFlags.optionsInModal, this should be hidden while in the modal
      li.list-item.popover-list-item(
        ng-click="actions.openEditServerModal('logs')"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-log"
          )
        | View {{ (['building', 'buildFailed', 'neverStarted'].indexOf(data.status()) === -1) ? 'CMD' : 'Build' }} Logs
      li.divider
      li.list-item.popover-list-item(
        modal
        modal-template = "viewModalRename"
        ng-if = "$root.featureFlags.renameContainer"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-server-modify"
          )
        | Rename Container
      //- trigger delete confirm modal
      li.list-item.popover-list-item(
        ng-click = "actions.deleteServer()"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-server-delete"
          )
        | Delete Container
