.popover.menu.bottom(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white(
    style = "left: auto; right: 4px;"
  )
  .popover-content
    ul.popover-list
      li.list-item.popover-list-item(
        modal
        modal-actions = "actions"
        modal-current-model = "data.server"
        modal-data = "data.parentData"
        modal-state-model = "'logs'"
        modal-template = "editServerModalOpen"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-log"
          )
        | {{ data.server.instance.containers.models[0].running() ? 'CMD' : 'Build'}} Logs
      li.divider
      //- trigger delete confirm modal
      li.list-item.popover-list-item(
        ng-click = "actions.deleteServer(data.server)"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-delete-server"
          )
        | Delete Container