.popover.menu.bottom(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white(
    ng-if = "!$root.featureFlags.cardStatus"
    style = "left: auto; right: 4px;"
  )
  .arrow.white(
    ng-if = "$root.featureFlags.cardStatus"
    style = "left: 50%;"
  )
  .popover-content
    //- This element should display when the container has failed to build or run for 5 seconds.
    .well.well-popover(
      ng-if = "$root.featureFlags.cardStatus"
    )
      | The
      //- This should say "build" or "container CMD", depending on what failed.
      strong.strong  container CMD
      |  failed on the master container.
    ul.popover-list
      li.list-item.popover-list-item(
        modal
        modal-actions = "actions"
        modal-current-model = "data.server"
        modal-data = "data.parentData"
        modal-state-model = "'logs'"
        modal-template = "editServerModalOpen"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-log"
          )
        | View {{ (['building', 'buildFailed', 'neverStarted'].indexOf(data.server.instance.status()) === -1) ? 'CMD' : 'Build' }} Logs
      li.divider
      //- trigger delete confirm modal
      li.list-item.popover-list-item(
        ng-click = "actions.deleteServer(data.server)"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-delete-server"
          )
        | Delete Container