.popover.menu.bottom(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white(
    ng-if = "!$root.featureFlags.cardStatus"
    style = "left: auto; right: 4px;"
  )
  .arrow.white(
    ng-if = "$root.featureFlags.cardStatus"
    style = "left: 50%;"
  )
  .popover-content
    //- This element should display when the container has failed to build or run for 5 seconds.
    .well.well-popover(
      ng-if = "$root.featureFlags.cardStatus"
    )
      | The
      //- This should say "build" or "container CMD", depending on what failed.
      strong.strong  container CMD
      |  failed on the master container.
    ul.popover-list
      //- trigger build files confirm modal
      li.divider(
        ng-if = "$root.featureFlags.cardStatus"
      )
      li.list-item.popover-list-item.multi-line
        label.label-checkbox
          input.input-checkbox(
            ng-model = "data.advanced"
            ng-click = "data.actions.changeAdvancedFlag()"
            type = "checkbox"
          )
          | Advanced options
          small.small Modify your container through its build files
