.modal-backdrop.in
  .modal-dialog.modal-md.modal-settings
    header.modal-header
      h1.h1.modal-heading Setup Branches
      svg.iconnables.icons-close
        use(
          xlink:href = "#icons-close"
        )

    section.modal-body

    footer.modal-footer.clearfix
      button.btn.btn-md.white.float-right(
        ng-click = "SEMC.close()"
        type = "button"
      ) Done
