//- empty state for no containers
.empty.well.gray.padding-md(
  ng-if = "containers.length === 0"
)
  .small.empty.text-center.text-gray You don’t have any other services yet, but you can continue and add more services later.

.grid-block.vertical.shrink.list.list-bordered
  .list-item.padding-xs
    label.grid-block.align-center.text-overflow
      input.grid-content.shrink.checkbox(
        type = "checkbox"
      )
      .grid-content hellonode
  .list-item.padding-xs
    label.grid-block.align-center.text-overflow
      input.grid-content.shrink.checkbox(
        type = "checkbox"
      )
      .grid-content migration-tester
  .list-item.padding-xs
    label.grid-block.align-center.text-overflow
      input.grid-content.shrink.checkbox(
        type = "checkbox"
      )
      .grid-content redis
