.grid-block.vertical.shrink.list.list-bordered
  .list-item.padding-xs
    label.grid-block.align-center.text-overflow
      input.grid-content.shrink.checkbox(
        type = "checkbox"
      )
      .grid-content hellonode
  .list-item.padding-xs
    label.grid-block.align-center.text-overflow
      input.grid-content.shrink.checkbox(
        type = "checkbox"
      )
      .grid-content migration-tester
  .list-item.padding-xs
    label.grid-block.align-center.text-overflow
      input.grid-content.shrink.checkbox(
        type = "checkbox"
      )
      .grid-content redis