//                                                      __        __
//                                                      88        88
//                                                      88        88
//   88,dPPY 88      88 88,dPYba,  88,dPYba,  :aPPYYba, 88,dPYba  88  ,adPYba
//   88PPY'  88      88 88P'  `"8a 88P'  `"8a '     `Y8 88'   "8a 88 a8P____88
//   88      88      88 88      88 88      88 ,adPPPP88 88     d8 88 8PP88888J
//   88      "8a,  ,a88 88      88 88      88 88,   ,88 88,. ,a8" 88 "8b,  ,a
//   88       `"YbdP'88 88      88 88      88 `"8bbd"Y8,8Y"Ybb8"  88  `"Ybd8"'

//   California Style Sheets

// global
@import "globals/mixins";
@import "globals/var";
@import "globals/reset";
@import "globals/globals";
@import "globals/typography";
@import "globals/images";
@import "globals/loader";
@import "globals/minimize";
@import "globals/animations";

// components
@import "components/logo";
@import "components/icons";
@import "components/spinner";
@import "components/buttons";
@import "components/select";
@import "components/tooltips";
@import "components/alerts";
@import "components/wells";
@import "components/guides";
@import "components/embeds";
@import "components/lists";

// forms
@import "forms/forms";
@import "forms/forms-inputs";
@import "forms/forms-toggles";
@import "forms/forms-validation";

// sidebar
@import "sidebar/sidebar";
@import "sidebar/sidebar-accounts";
@import "sidebar/sidebar-boxes";
@import "sidebar/sidebar-footer";

// box
@import "box/box-header";
@import "box/box-sidebar";

// views
@import "views/views";
@import "views/views-explorer";
@import "views/views-file-tree";
@import "views/views-toolbar";
@import "views/views-tabs";
@import "views/views-panel";
@import "views/views-themes";
@import "views/views-browser-chrome";

// modals
@import "modals/modals";
@import "modals/modals-navbar";
@import "modals/modals-aside";
@import "modals/modals-wizard";

// modal specific
@import "modals/modals-environment";
@import "modals/modals-error";
@import "modals/modals-fork";
@import "modals/modals-getting-started";
@import "modals/modals-integrations";
@import "modals/modals-rename";
@import "modals/modals-sign-in";

// popovers
@import "popover/popover";

// popover specific
@import "popover/popover-account-menu";
@import "popover/popover-actions";
@import "popover/popover-add-dependencies";
@import "popover/popover-add-repo";
@import "popover/popover-add-tab";
@import "popover/popover-environment";
@import "popover/popover-guides";
@import "popover/popover-primary-options";
@import "popover/popover-repository-toggle";
@import "popover/popover-templates";

// pages
@import "pages/box-selection";
// @import "pages/demo";
@import "pages/home";
@import "pages/home-images";
// @import "pages/features";
// @import "pages/pricing";
@import "pages/setup";

// shame
@import "shame";
