//                                                      __        __
//                                                      88        88
//                                                      88        88
//   88,dPPY 88      88 88,dPYba,  88,dPYba,  :aPPYYba, 88,dPYba  88  ,adPYba
//   88PPY'  88      88 88P'  `"8a 88P'  `"8a '     `Y8 88'   "8a 88 a8P____88
//   88      88      88 88      88 88      88 ,adPPPP88 88     d8 88 8PP88888J
//   88      "8a,  ,a88 88      88 88      88 88,   ,88 88,. ,a8" 88 "8b,  ,a
//   88       `"YbdP'88 88      88 88      88 `"8bbd"Y8,8Y"Ybb8"  88  `"Ybd8"'

//   California Style Sheets

// global
@import "globals/mixins";
@import "globals/var";
@import "globals/reset";
@import "globals/globals";

@import "globals/animations";
@import "globals/images";
@import "globals/loader";
@import "globals/typography";

// components
@import "components/alerts";
@import "components/buttons";
@import "components/cards";
@import "components/embeds";
@import "components/fancy-select";
@import "components/guides";
@import "components/header";
@import "components/icons";
@import "components/lists";
@import "components/logo";
@import "components/spinner";
@import "components/tags";
@import "components/tooltips";
@import "components/wells";

// external componenets
@import "components/external/jstag";

// forms
@import "forms/forms";
@import "forms/forms-inputs";
@import "forms/forms-table";
@import "forms/forms-toggles";
@import "forms/forms-validation";

// sidebar
@import "sidebar/sidebar";
@import "sidebar/sidebar-header";
@import "sidebar/sidebar-footer";

// server
@import "server/server-header";
@import "server/server-sidebar";

// views
@import "views/views";
@import "views/views-explorer";
@import "views/views-file-tree";
@import "views/views-panel";
@import "views/views-prompt";
@import "views/views-tabs";
@import "views/views-themes";
@import "views/views-toolbar";

// modals
@import "modals/modals";
@import "modals/modals-forms";
@import "modals/modals-welcome";

// modal specific
@import "modals/modals-edit";
@import "modals/modals-error";
@import "modals/modals-integrations";
@import "modals/modals-server-select";

// popovers
@import "popover/popover";
@import "popover/popover-arrows";
@import "popover/popover-coach-marks";
@import "popover/popover-fixed";
@import "popover/popover-guides";
@import "popover/popover-select";

// popover specific
@import "popover/popover-account-menu";
@import "popover/popover-actions";
@import "popover/popover-add-tab";
@import "popover/popover-guides";
@import "popover/popover-help";
@import "popover/popover-invite";
@import "popover/popover-link-servers";
@import "popover/popover-new-server";
@import "popover/popover-primary-options";
@import "popover/popover-repository-toggle";

// pages
@import "pages/environment";
@import "pages/home";
@import "pages/home-images";
@import "pages/home-ui";
@import "pages/server-selection";

// shame
@import "shame";
