// If anyone has to add a quick hack, they add it to shame.scss,
// this means that they’re putting their hacks out there in
// the open; it means that they are aware that what they’re doing
// is hacky, it forces them to document what the problem was, how
// the hack fixes it, and how they might fix it for real
// given more time. —harry@csswizardry

// js helpers
.js-char-width {
  position: absolute; // collapsed
  visibility: hidden; // no events, not visible, no tab order
}

// webkit flicker bug:
// https://code.google.com/p/chromium/issues/detail?id=138415
// https://code.google.com/p/chromium/issues/detail?id=311583
%webkit-flicker {
  // scss-lint:disable VendorPrefix
  -webkit-backface-visibility: hidden;
  // scss-lint:enable VendorPrefix
}

// chrome paint/layout bug:
// http://stackoverflow.com/questions/3485365/how-can-i-force-webkit-to-redraw-repaint-to-propagate-style-changes
.header,
.views-tabs,
.views-toolbar,
.server-header {
  // don't render build logs behind these elements
  @extend %webkit-flicker;
}

.views-tabs,
.views-toolbar,
.server-header {
  z-index: $z-views-active-panel + 1; // set higher z-index than build logs
}

.server-header {
  // can't rely on base styles
  background: $white;
}

// arrows for nesting div in buttons
.btn > .js-btn-wrapper {
  border: 0;
  height: 100%;
  padding: 0;

  > .icons-arrow-down {
    float: right;
    height: 100%;
    margin-right: -6px;
  }
}

// Issue in Safari 9.0.2 where max-height didn't animate properly in the security tab
// The animation would happen normally, revert to the ng-enter/ng-leave state, then revert back to normal.
// This makes the opening animation in safari happen immediately while not affecting Chrome and Firefox animations...
// Not entirely sure about why/how, but it works...for now.
.modal-edit .form-whitelist .label {
  max-height: 100vh;
}




.term-js .disconnected{
  position: absolute;
  clear: both;
  top: 0;
  padding: 4px 16px;
  background-color: $orange;
  border-radius: 0px 0px 0px 5px;
  right: 0px;
  opacity: .7;
}
