// If anyone has to add a quick hack, they add it to shame.scss,
// this means that they’re putting their hacks out there in
// the open; it means that they are aware that what they’re doing
// is hacky, it forces them to document what the problem was, how
// the hack fixes it, and how they might fix it for real
// given more time. —harry@csswizardry

// js helpers
.js-char-width {
  position: absolute; // collapsed
  visibility: hidden; // no events, not visible, no tab order
}

// webkit flicker bug:
// https://code.google.com/p/chromium/issues/detail?id=138415
// https://code.google.com/p/chromium/issues/detail?id=311583
%webkit-flicker {
  -webkit-backface-visibility: hidden;
}

// chrome paint/layout bug:
// http://stackoverflow.com/questions/3485365/how-can-i-force-webkit-to-redraw-repaint-to-propagate-style-changes
.header,
.views-tabs,
.server-header {
  // don't render build logs behind these elements
  @extend %webkit-flicker;
}

.views-tabs,
.server-header {
  z-index: $z-views-active-panel + 1; // set higher z-index than build logs
}

.server-header {
  // can't rely on base styles
  background: $white;
  position: relative;
}
