.secondary-actions
  button.white(
    modal
    modal-actions = "actions.actionsModalEnvironment"
    modal-data = "data.dataModalEnvironment"
    modal-template = "viewModalEnvironment"
    modal-state-model = "stateModel"
    type = "button"
  ) Edit Environment