.secondary-actions
  button.white(
    modal
    modal-actions = "actions"
    modal-data = "data"
    modal-template = "viewOpenModalEnvironment"
    modal-current-model = "currentModel"
    modal-state-model = "stateModel"
    type = "button"
  ) Edit Environment