//-
//- start !$root.featureFlags.dockerfileImport
//-
.modal-backdrop.in(
  ng-if = "!$root.featureFlags.dockerfileImport"
)
  .modal-dialog
    header.modal-header
      h1.modal-heading New Service Container
      svg.iconnables.icons-close(
        ng-click = "STMC.close()"
      )
        use(
          xlink:href = "#icons-close"
        )

    section.modal-body
      .spinner-wrapper.spinner-md.in(
        ng-if = "!STMC.templateServers.models.length"
        ng-include = "'spinner'"
      )

      ul.list.list-servers.list-tiled
        li.list-item(
          ng-click = "STMC.addServerFromTemplate(dependency)"
          ng-repeat = "\
            dependency in STMC.templateServers.models | \
            removeTemplateInstances | \
            orderBy:'attrs.name'\
          "
          ng-class = "{'btn-hint': dependency.attrs.lowerName === STMC.helpCard.data.dependency}"
        )
          img.img(
            height = "36"
            ng-src = "/build/images/logos/logo-icon-{{dependency.attrs.name.toLowerCase()}}.png"
            width = "36"
          )
          | {{dependency.attrs.name}}
//-
//- end !$root.featureFlags.dockerfileImport
//-

//-
//- start $root.featureFlags.dockerfileImport
//-

//- .spinner-wrapper.spinner-md.in(
//-   ng-include = "'spinner'"
//- )

.grid-block.align-right.list-header(
  ng-if = "$root.featureFlags.dockerfileImport"
)
  //- search
    - disable while loading
  input.input.input-xs.input-search(
    autofocus
    ng-disabled = ""
    placeholder = "Search"
    required
    type = "search"
  )

ul.list.list-servers(
  ng-if = "!state.addRepoTab && $root.featureFlags.dockerfileImport"
)
  //- ng-class = "{'btn-hint': dependency.attrs.lowerName === STMC.helpCard.data.dependency}"
  li.list-item.grid-block
    img.img(
      height = "36"
      ng-src = "/build/images/logos/logo-icon-cassandra.png"
      width = "36"
    )
    | Cassandra
    button.btn.btn-sm.btn-icon
      svg.iconnables.icons-add
        use(
          xlink:href = "#icons-add"
        )
  li.list-item.grid-block
    img.img(
      height = "36"
      ng-src = "/build/images/logos/logo-icon-consul-server.png"
      width = "36"
    )
    | Consul-Server
    button.btn.btn-sm.btn-icon
      svg.iconnables.icons-add
        use(
          xlink:href = "#icons-add"
        )
  li.list-item.grid-block
    img.img(
      height = "36"
      ng-src = "/build/images/logos/logo-icon-elasticsearch.png"
      width = "36"
    )
    | ElasticSearch
    button.btn.btn-sm.btn-icon
      svg.iconnables.icons-add
        use(
          xlink:href = "#icons-add"
        )
//-
//- end $root.featureFlags.dockerfileImport
//-