.modal-dialog.modal-sm.modal-alert(
  ng-click = "$event.stopPropagation()"
)
  header.modal-header
    h1.modal-heading Delete Template
    svg.iconnables.icons-close(
      ng-click = "defaultActions.cancel()"
    )
      use(
        xlink:href = "#icons-close"
      )
  section.modal-body
    p.modal-description
      strong {{data.instance.attrs.name}}
      | , will be permanently removed.
  footer.modal-footer.clearfix
    button.btn.btn-md.white.float-left(
      ng-click = "defaultActions.cancel()"
    ) Go Back
    button.btn.btn-md.red.float-right(
      ng-click = "\
        actions.deleteInstance(data.deleteLinked);\
        defaultActions.cancel();\
      "
    ) Delete Template
