.modal-backdrop(
  ng-class = "{'in': in}"
  ng-click = "$event.stopPropagation()"
  ng-if = "in"
)
   modal-generic(
     actions = "actions"
     data = "data"
     default-actions = "defaultActions"
     type = "%%GENERIC_TEMPLATE_NAME%%"
   )