.modal-dialog(
  ng-click = "$event.stopPropagation()"
)
  header.modal-header
    h1.modal-heading Delete Container
  section.modal-body
    p.modal-description
      strong {{ data.instance.attrs.name }}
      | , will be permanently removed.
  footer.modal-footer
    button.btn.orange(
      ng-click = "actions.deleteInstance(data.deleteLinked); \
        defaultActions.cancel();"
    ) Delete Container
    button.btn.white(
      ng-click = "defaultActions.cancel()"
    ) Go Back