.modal-backdrop.in(
  actions = "actions"
  data = "data"
  default-actions = "defaultActions"
  modal-generic
  ng-class = "{\
    'flipped': stateModel.modalFlipped,\
    'modal-flip': stateModel.modalFlip,\
  }"
  ng-click = "$event.stopPropagation()"
  state-model = "stateModel"
  type = "%%GENERIC_TEMPLATE_NAME%%"
)
