.modal-backdrop.in(
  actions = "actions"
  data = "data"
  default-actions = "defaultActions"
  modal-generic
  ng-click = "$event.stopPropagation()"
  state-model = "stateModel"
  type = "%%GENERIC_TEMPLATE_NAME%%"
)
