.modal-dialog(
  ng-class = "{in: data.in}"
  ng-click = "$event.stopPropagation()"
)
  header.modal-header
    h1.modal-heading Something went wrong.
  section.modal-body
    p.modal-description(
      ng-repeat = "error in data.errors track by $index"
    ) {{ error | json }}
  footer.modal-footer
    button.btn.white(
      ng-click = "defaultActions.cancel()"
    ) Dismiss