//- if container has not been backed up
//- p.p This container’s first backup is scheduled for 3:00 AM.

//- if backup was successful
p.p.text-overflow Next scheduled backup at 3:00 AM.

//- if backup was successful, but container was down during last scheduled backup time.
//- p.p.text-overflow  Scheduled backups were skipped because this container was down.

//- in any of the above cases
button.btn.btn-md.orange.btn-toolbar(
  ng-class = "{'disabled': false}"
) Back Up Now
//- disable the above button and add tooltip if the container is down
//- tooltip = "You can’t back up while the container isn’t running."
//- tooltip-options = "{\"class\":\"bottom bottom-arrow-right\",\"right\":0,\"top\":30}"

//- //- if backup failed
//- p.p.text-overflow Your backup failed. There may be a problem with the script.
//- button.btn.btn-md.purple.btn-toolbar Edit Backup Script

