p.p.text-overflow Next scheduled backup at 3:00 AM.

//- if backup was successful, but container was down during last scheduled backup time.
//- small.small.text-overflow Backup created 3 days ago. Scheduled backups were skipped while this container was down.

//- if backup was successful
button.btn.purple.btn-toolbar Back Up Now

//- if backup failed
//- small.small The backup script failed.
//- button.btn.purple.btn-toolbar
//-   span.btn-text View Script
