svg.iconnables.float-left.icons-alert
  use(
    xlink:href = "#icons-alert-alt"
  )
p.p.monospace.text-overflow(
  title = "CMD {{startCommand()}}"
) CMD {{startCommand()}}
.btn-group.btn-debug(
  debug-cmd
  instance = "instance"
)
