svg.iconnables.float-left(
  ng-class = "{'icons-hourglass': $parent.state.test === 'inProgress'}"
)
  use(
    xlink:href = "#icons-check"
    ng-if = "$parent.state.test === 'passed'"
  )
  use(
    xlink:href = "#icons-hourglass"
    ng-if = "$parent.state.test === 'inProgress'"
  )
  use(
    xlink:href = "#icons-close"
    ng-if = "$parent.state.test === 'failed'"
  )
p.p.text-overflow
  {{$parent.state.test === 'passed' ? 'Tests Passed' : ''}}
  {{$parent.state.test === 'inProgress' ? 'Tests Running' : ''}}
  {{$parent.state.test === 'failed' ? 'Tests Failed' : ''}}

  //- for testing only
  select(
    ng-model = "$parent.state.test"
    style = "margin-right: 6px;"
  )
    optgroup(
      label = "Test state"
    )
      option(
        value = "passed"
      ) passed
      option(
        value = "inProgress"
      ) inProgress
      option(
        value = "failed"
      ) failed

  .grid-block.align-center.shrink.small.duration
    svg.iconnables
      use(
        xlink:href = "#icons-stopwatch"
      )
    | 88:88

button.btn.btn-md.btn-toolbar Rerun Test
