svg.iconnables.float-left
  use(
    xlink:href = "#icons-check"
  )
//- svg.iconnables.float-left
  use(
    xlink:href = "#icons-alert"
  )
p.p.text-overflow Tests passed (started 3 days ago).
button.btn.btn-md.btn-toolbar Rerun Test
