svg.iconnables.float-left(
  ng-class = "{'icons-hourglass': getTestingStatus() === 'inProgress'}"
)
  use(
    xlink:href = "#icons-check"
    ng-if = "getTestingStatus() === 'passed'"
  )
  use(
    xlink:href = "#icons-hourglass"
    ng-if = "getTestingStatus() === 'inProgress'"
  )
  use(
    xlink:href = "#icons-close"
    ng-if = "getTestingStatus() === 'failed'"
  )
p.p.text-overflow
  {{ getTestingStatus() === 'passed' ? 'Tests Passed' : '' }}
  {{ getTestingStatus() === 'inProgress' ? 'Tests Running' : '' }}
  {{ getTestingStatus() === 'failed' ? 'Tests Failed' : '' }}

  // Temporarily turning off until we can get timing working - https://runnable.atlassian.net/browse/SAN-4409
    .grid-block.align-center.shrink.small.duration
      svg.iconnables
        use(
          xlink:href = "#icons-stopwatch"
        )
      | 88:88

button.btn.btn-md.btn-toolbar(
  ng-click = "rebuildWithoutCache()"
) Rerun Test
