svg.iconnables.float-left(
  ng-class = "{'icons-hourglass': $parent.state.test === 'inProgress'}"
)
  use(
    xlink:href = "#icons-check"
    ng-if = "$parent.state.test === 'passed'"
  )
  use(
    xlink:href = "#icons-hourglass"
    ng-if = "$parent.state.test === 'inProgress'"
  )
  use(
    xlink:href = "#icons-close"
    ng-if = "$parent.state.test === 'failed'"
  )
p.p.text-overflow
  {{$parent.state.test === 'passed' ? 'Tests passed (started 3 days ago).' : ''}}
  {{$parent.state.test === 'inProgress' ? 'Tests in progress (started 1 minute ago).' : ''}}
  {{$parent.state.test === 'failed' ? 'Tests failed (started 1 hour ago).' : ''}}
//- for testing only
select(
  ng-model = "$parent.state.test"
  style = "margin-right: 6px;"
)
  optgroup(
    label = "Test state"
  )
    option(
      value = "passed"
    ) passed
    option(
      value = "inProgress"
    ) inProgress
    option(
      value = "failed"
    ) failed
button.btn.btn-md.btn-toolbar Rerun Test
