.views-toolbar
  small.small.monospace.text-overflow npm install yo momma
  .btn-group.btn-debug(
    ng-if = "$root.featureFlags.debugStartCmd"
    ng-include = "'viewDebugButton'"
  )

//- ***********
//- * if file *
//- ***********
.views-toolbar(
  ng-if = "$root.featureFlags.saveToolbar"
)
  small.small.text-overflow(
    title = "/node-hello-world/server.js"
  ) /node-hello-world/server.js
  //- disable save buttons until a change a made
  button.btn.btn-xs.green.btn-spinner.btn-toolbar.float-right(
    ng-class = "{in: data.saving}"
    ng-click = "data.saving = !data.saving"
  )
    //- ng-disabled = "!instance.containers.models[0].running() || loading || saving || modifyingInstance || !canSave()"
    .spinner-wrapper.spinner-sm.spinner-white.in(
      ng-if = "saving"
      ng-include = "'spinner'"
    )
    span.btn-text {{ saving ? 'Saving' : 'Save and Restart'}}
  button.btn.btn-xs.green.btn-spinner.btn-toolbar.float-right(
    ng-class = "{in: data.saving}"
    ng-click = "data.saving = !data.saving"
  )
    //- ng-disabled = "!instance.containers.models[0].running() || loading || saving || modifyingInstance || !canSave()"
    .spinner-wrapper.spinner-sm.spinner-white.in(
      ng-if = "data.saving"
      ng-include = "'spinner'"
    )
    span.btn-text {{ saving ? 'Saving' : 'Save'}}