//- ****************************
//- * if rebuild without cache *
//- ****************************
small.small(
  ng-if = "showBuildFailurePrompt() && !shouldShowUpdateConfigsPrompt"
) Having build problems? Some build errors can be resolved by rebuilding the container without cache.
button.btn.btn-xs.orange(
  ng-click = "actions.buildWithoutCache()"
  ng-if = "showBuildFailurePrompt() && !shouldShowUpdateConfigsPrompt"
) Rebuild without Cache

//- ***********************
//- * if update container *
//- ***********************
small.small(
  ng-if = "shouldShowUpdateConfigsPrompt"
) This container's configuration has been changed since it was last built. #{''}
button.btn.btn-xs.orange(
  ng-click = "actions.updateConfigToMatchMaster()"
  ng-if = "shouldShowUpdateConfigsPrompt"
) Update and Rebuild