//- ****************************
//- * if rebuild without cache *
//- ****************************
.views-toolbar(
  ng-if = "showBuildFailurePrompt() && !shouldShowUpdateConfigsPrompt"
)
  small.small Having build problems? Some build errors can be resolved by rebuilding the container without cache.
  button.btn.btn-xs.orange(
    ng-click = "actions.buildWithoutCache()"
  ) Rebuild Without Cache

//- ***********************
//- * if update container *
//- ***********************
.views-toolbar(
  ng-if = "shouldShowUpdateConfigsPrompt"
)
  small.small This container’s configuration has been changed since it was last built. #{''}
  button.btn.btn-xs.orange(
    ng-click = "actions.updateConfigToMatchMaster()"
  ) Update and Rebuild

//- ***********
//- * if file *
//- ***********
.views-toolbar(
  ng-if = "$root.featureFlags.saveToolbar"
)
  small.small /node-hello-world/server.js
  //- disable save buttons until a change a made
  button.btn.btn-xs.green.btn-spinner.float-right(
    ng-class = "{in: data.saving}"
    ng-click = "data.saving = !data.saving"
  )
    //- ng-disabled = "!instance.containers.models[0].running() || loading || saving || modifyingInstance || !canSave()"
    .spinner-wrapper.spinner-sm.spinner-white.in(
      ng-if = "saving"
      ng-include = "'spinner'"
    )
    span.btn-text {{ saving ? 'Saving' : 'Save and Restart'}}
  button.btn.btn-xs.green.btn-spinner.float-right(
    ng-class = "{in: data.saving}"
    ng-click = "data.saving = !data.saving"
  )
    //- ng-disabled = "!instance.containers.models[0].running() || loading || saving || modifyingInstance || !canSave()"
    .spinner-wrapper.spinner-sm.spinner-white.in(
      ng-if = "data.saving"
      ng-include = "'spinner'"
    )
    span.btn-text {{ saving ? 'Saving' : 'Save'}}

//- ************
//- * if debug *
//- ************
.views-toolbar(
  ng-if = "$root.featureFlags.debugMode"
)
  small.small
    span.monospace Step 2 of 7
    span Build Failed
  .btn-group.float-right
    //- opens in new window
    a.btn.btn-xxs.float-right(
      href = "/debug"
      target = "_blank"
      tooltip = "Launch from Step 2"
      tooltip-options = "{\"class\":\"bottom tooltip-sm no-arrow\",\"left\":0,\"top\":24}"
    ) Debug Container
      svg.iconnables.icons-link-external
        use(
          xlink:href = "#icons-link-external"
        )
    button.btn.btn-xxs.float-right(
      ng-class = "{active: state.active}"
      pop-over
      pop-over-actions = "popoverDebug.actions"
      pop-over-active = "state.active"
      pop-over-data = "popoverDebug.data"
      pop-over-options = "{\"right\":-7,\"top\":31}"
      pop-over-template = "viewPopoverDebug"
    )
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )