//- ****************************
//- * if rebuild without cache *
//- ****************************
.views-toolbar(
  ng-if = "showBuildFailurePrompt() && !shouldShowUpdateConfigsPrompt"
)
  small.small.text-overflow(
    title = "Having build problems? Some errors can be resolved by rebuilding the container."
  ) Having build problems? Some errors can be resolved by rebuilding the container.
  button.btn.btn-xs.orange(
    ng-click = "actions.buildWithoutCache()"
  ) Rebuild Without Cache

//- ***********************
//- * if update container *
//- ***********************
.views-toolbar(
  ng-if = "shouldShowUpdateConfigsPrompt"
)
  small.small.text-overflow(
    title = "This container’s configuration has been changed since it was last built."
  ) This container’s configuration has been changed since it was last built.
  button.btn.btn-xs.orange(
    ng-click = "actions.updateConfigToMatchMaster()"
  ) Update and Rebuild

//- ***********
//- * if file *
//- ***********
.views-toolbar(
  ng-if = "$root.featureFlags.saveToolbar"
)
  small.small.text-overflow(
    title = "/node-hello-world/server.js"
  ) /node-hello-world/server.js
  //- disable save buttons until a change a made
  button.btn.btn-xs.green.btn-spinner.float-right(
    ng-class = "{in: data.saving}"
    ng-click = "data.saving = !data.saving"
  )
    //- ng-disabled = "!instance.containers.models[0].running() || loading || saving || modifyingInstance || !canSave()"
    .spinner-wrapper.spinner-sm.spinner-white.in(
      ng-if = "saving"
      ng-include = "'spinner'"
    )
    span.btn-text {{ saving ? 'Saving' : 'Save and Restart'}}
  button.btn.btn-xs.green.btn-spinner.float-right(
    ng-class = "{in: data.saving}"
    ng-click = "data.saving = !data.saving"
  )
    //- ng-disabled = "!instance.containers.models[0].running() || loading || saving || modifyingInstance || !canSave()"
    .spinner-wrapper.spinner-sm.spinner-white.in(
      ng-if = "data.saving"
      ng-include = "'spinner'"
    )
    span.btn-text {{ saving ? 'Saving' : 'Save'}}

//- ************
//- * if debug *
//- ************
.views-toolbar(
  ng-if = "$root.featureFlags.debugMode"
)
  small.small.text-overflow(
    title = "Build Failed Step 2 : ADD ./[&ldquo;api-server&rdquo;, /&ldquo;api-server&rdquo;]"
  ) Build Failed
    span.span Step 2 : ADD ./["api-server", /"api-server"]
  .btn-group.float-right
    //- opens in new window
    a.btn.btn-xs.purple.float-right(
      href = "/debug"
      target = "_blank"
    ) Debug Container
      svg.iconnables.icons-link-external
        use(
          xlink:href = "#icons-link-external"
        )
    button.btn.btn-xs.purple.float-right(
      ng-class = "{active: state.active}"
      pop-over
      pop-over-active = "state.active"
      pop-over-options = "{\"right\":-3,\"top\":35}"
      pop-over-template = "viewPopoverDebug"
    )
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )