small.small.sans-serif.label-url URL:&#32;
a.p.monospace.text-overflow(
  href = "//praful-staging-codenow.runnableapp.com"
  target = "_blank"
) praful-staging-codenow.runnableapp.com
  svg.iconnables.icons-external
    use(
      xlink:href = "#icons-link-external"
    )
.grid-block.shrink.align-center.btn.btn-xs.btn-web-state(
  ng-click = "state.error = !state.error"
)
  svg.iconnables.icons-alert
    use(
      xlink:href = "#icons-alert-alt"
    )
  | {{state.error ? 'No exposed ports.' : ''}}
  | {{!state.error ? 'Bind to all interfaces.' : ''}}
  | &#32;
  a.link(
    href = "#"
    target = "_blank"
  ) Learn More
