small.small.sans-serif.label-url.hidden-xxxs URL:&#32;
a.p.monospace.text-overflow(
  ng-href = "http://{{SMC.state.instance.getContainerHostname()}}"
  target = "_blank"
) {{SMC.state.instance.getContainerHostname()}}
  svg.iconnables.icons-external
    use(
      xlink:href = "#icons-link-external"
    )
.grid-block.shrink.align-center.btn.btn-xs.btn-web-state(
  ng-if = "!SMC.hasOpenPorts()"
)
  svg.iconnables.icons-alert
    use(
      xlink:href = "#icons-alert-alt"
    )
  | No exposed ports.
