#about {
  overflow: hidden;

  .jumbotron {
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    min-height: 480px;

    h2 {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 15px;
    }

    p {
      font-size: 18px;
      line-height: 1.4em;
    }
  }
}

#about-header {
  background-image: url(../images/about-header-plx.jpg);
  @include background-image-retina('../images/about-header-plx@2x.jpg');
  color: #fff;
  text-shadow: 0 3px 20px rgba(0,0,0,0.75);

  h2 {
    margin-top: 225px;
  }

  p {
    margin-right: 30%;
  }
}

#about-logos {
  padding: 75px 0;
  text-align: center;

  .logo {
    background: url(/images/about-press.svg);
    display: inline-block;
    height: 100px;
    margin: 0 10px;
    position: relative;
    width: 150px;

    @include media(xs) {
      background-size: 300%;
      height: 50px;
      margin: 0 10px 20px;
      width: 75px;
    }

    @include media(sm) {
      margin: 0 28px 28px;
    }

    &.venturebeat {
      background-position: 0 0;
    }

    &.forbes {
      background-position: 50% 0;
    }

    &.techcrunch {
      background-position: 100% 0;
    }

    &.wired {
      background-position: 0 100%;
    }

    &.gigaom {
      background-position: 50% 100%;
    }

    &.pandodaily {
      background-position: 100% 100%;
    }

    &:hover,
    &:active {
      transform: translate3d(0,1px,0);
    }
  }

  blockquote {
    border: 0;
    font-family: Georgia, serif;
    font-style: italic;
    margin: 0;
    padding: 0;

    @include media(xs) {
      margin-top: 20px;
      padding: 0 45px;
    }

    p {
      font-size: 24px;
      color: $gray-darker;
      position: relative;

      &:before,
      &:after {
        color: $gray-light;
        font-size: 120px;
        position: absolute;
        width: 60px;
      }

      &:before {
        content: '“';
        top: -40px;
        left: -70px;
      }

      &:after {
        content: '”';
        top: 40px;
        right: -50px;
      }
    }
  }

  h3 {
    margin-top: 40px;

    a {
      font-size: 18px;
      font-weight: 700;
      color: $gray-dark;
      text-transform: uppercase;

      &:hover {
        color: $gray-darker;
        text-decoration: none;
      }
    }
  }
}

#about-stack {
  background-image: url(../images/about-stack.jpg);
  @include background-image-retina('../images/about-stack@2x.jpg');
  background-size: cover;
  color: #fff;
  overflow: hidden;

  .container {
    position: relative;
  }

  img {
    height: auto;
    position: absolute;

    &.amazon {
      width: 15%;
      top: -20px;
      left: -10% !important;
    }

    &.node {
      width: 28%;
      top: 130px;
      left: 6% !important;
    }

    &.codeigniter {
      width: 11%;
      top: 100px;
      left: 95% !important;
    }

    &.diamond {
      width: 5%;
      top: 0;
      left: 83% !important;
    }
  }

  h2 {
    margin-top: 160px;
    text-shadow: 0 0 20px rgba(0,0,0,.25);
  }

  p {
    font-size: 18px;
    margin-right: 15%;
    text-shadow: 0 0 20px rgba(0,0,0,.5);
  }
}

#about-satellite {
  background-image: url(../images/about-satellite.jpg);
  @include background-image-retina('../images/about-satellite@2x.jpg');
  background-size: cover;
  color: #fff;
  text-shadow: 0 3px 20px rgba(0,0,0,0.75);

  h2 {
    font-size: 36px;
    font-weight: 700;
    margin-top: 160px;
    margin-bottom: 18px;
  }

  p {
    font-size: 18px;
  }
}

#about-team {
  padding: 40px 0;
  text-align: center;

  img {
    height: auto;
    max-width: 100%;
  }

  h2 {
    font-size: 36px;
    font-weight: 700;
  }

  p {
    font-size: 18px;
    font-weight: 700;
  }

  ul {
    margin: 40px auto 0;
    padding: 0;
    width: 100%;

    &:last-child {
      margin-top: 20px;
    }

    @include media(sm) {
      width: 570px;
    }

    li {
      display: inline-block;
      list-style-type: none;
      margin: 10px;
      width: 150px;

      @include media(sm) {
        margin: 20px;
      }
    }

    h3 {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 0;
      white-space: nowrap;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      margin: 0;
    }
  }
}

#about-contact {
  @include media(sm) {
    padding-bottom: 60px;
  }

  .container {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    margin: 0 auto;
    max-width: 800px;
    overflow: hidden;
    padding: 0 0 15px;

    @include media(xs) {
      border-radius: 0;
    }

    > div {
      background: url(/images/about-contact.jpg) no-repeat;
      background-size: 800px 250px;
      box-shadow:
        inset 0 1px 0 rgba(0,0,0,.05),
        inset 1px 0px 0 rgba(0,0,0,.05),
        inset -1px 0 0 rgba(0,0,0,.05);
      height: 250px;
      padding-top: 64px;

      @include retina() {
        background-image: url(/images/about-contact@2x.jpg);
      }
    }
  }

  address {
    background: rgba(255,255,255,.9);
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,.2), inset 0 1px 0 rgba(0,0,0,.05);
    color: $gray-darker;
    display: table;
    margin: 0 auto;
    padding: 20px;
    text-align: center;

    strong {
      font-size: 16px;
    }

    a {
      color: $gray-dark;

      &:hover {
        color: $gray-darker;
        text-decoration: none;
      }
    }
  }

  form {
    border-bottom: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 -1px 0 rgba(0,0,0,.1);
    overflow: hidden;
    padding: 30px 30px 45px;
    position: relative;

    @include media(sm) {
      height: 271px;
    }

    > div {
      @extend .clearfix;
      transition: transform .6s ease-in-out, opacity .5s ease-in-out;
    }

    .confirmation {
      opacity: 0;
      position: absolute;
        left: 0;
      text-align: center;
      width: 100%;

      @include media(xs) {
        margin-top: 45px;
      }

      @include media(sm) {
        margin-top: 105px;
      }
    }

    &.in {

      > div {
        transform: translate3d(0,-230px,0);
      }

      .form {
        opacity: 0;
      }

      .confirmation {
        opacity: 1;
      }
    }
  }

  h2 {
    color: $gray-darker;
    font-weight: 700;
    margin: 0 0 15px;
  }

  input {
    margin-bottom: 20px;

    @include media(sm) {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  textarea {
    margin-bottom: 20px;
    max-height: 500px;
    min-height: 92px;
    resize: vertical;
  }

  button {
    width: 100%;
  }

  h4 {
    color: $gray-darker;
    font-weight: 700;
    margin: 30px 30px 15px;
  }

  p {
    color: $gray-darker;
    margin: 0 30px 15px;
  }
}