header.modal-header
  svg.iconnables.icons-arrow-backward(
    ng-click = "goToPanel('createOrg', 'back')"
  )
    use(
      xlink:href = "#icons-arrow-down"
    )
  h1.modal-heading Add your new organization.

.grid-block.align-center.vertical.padding-lg
  p.p.text-gray.weight-light Now add your new org to Runnable by granting access on GitHub. Then we’ll fork a demo repo into it to get you started.

  //- hide after clicked
  a.grid-block.align-center.justify-center.shrink.btn.btn-md.green.margin-top-md(
    data-event-name = "Demo: Clicked Grant Access"
    ng-click = "COMC.grantAccess(true)"
    ng-if = "!$root.isLoading.grantAccessDemo"
  )
    svg.iconnables.margin-right-xxs
      use(
        xlink:href = "#icons-octicons-github"
      )
    | Grant Access
    svg.iconnables.icons-link-external.text-white
      use(
        xlink:href = "#icons-link-external-alt"
      )

  //- show after user clicks "grant access"
  .well.gray.align-center.small.padding-sm.margin-top-md(
    ng-if = "$root.isLoading.grantAccessDemo"
    ng-include = "'grantAccessWaitView'"
  )
