.modal-backdrop.welcome

  //- no orgs or missing org
  .grid-block.shrink.modal-dialog.modal-grant-access.js-animate(
    ng-if = "COMC.showGrantAccess"
    ng-include = "'grantAccessModalView'"
  )

  //- listing orgs
  animated-panel-container.modal-org-select.js-animate(
    ng-if = "!COMC.showGrantAccess"
  )
    img.grid-block.shrink.img.runnabear(
      height = "130"
      src = "/build/images/runnabear-waving-3.png"
      width = "230"
    )
    .grid-block.vertical.shrink.modal-dialog.modal-sm
      animated-panel(
        default = "true"
        name = "orgSelection"
      )
        .fade(
          ng-class = "{'in': isActivePanel()}"
          ng-include = "'orgSelectModalView'"
        )

      //- infrastructure loading
      animated-panel(
        name = "dockLoading"
      )
        .fade(
          ng-class = "{'in': isActivePanel()}"
          ng-include = "'infrastructureLoadingModalView'"
        )

      //- infrastructure loaded
      animated-panel(
        name = "dockLoaded"
      )
        .fade(
          ng-class = "{'in': isActivePanel()}"
          ng-include = "'infrastructureLoadedModalView'"
        )

  //- sign out (always) + change organization (during grace period)
  .grid-block.shrink.justify-center.margin-bottom-xl(
    grace-period-footer
    hide-choose-org = "true"
  )
