.modal-backdrop
  .welcome
    h1.grid-block.justify-center.shrink.h1.text-center.strong.padding-sm Welcome to Runnable!
    img.grid-block.shrink.img.runnabear(
      height = "130"
      src = "/build/images/runnabear-waving-3.png"
      width = "230"
    )
    .grid-block.shrink.modal-dialog.modal-orgs(
      ng-class = "{\
        'modal-lg': COS.allAccounts.length > 1,\
        'modal-sm': COS.allAccounts.length <= 1\
      }"
    )
      animated-panel-container
        animated-panel.grid-block.vertical.padding-md(
          default = "true"
          name = "orgSelection"
        )
          .grid-block.vertical.list.fade(
            name = "COS.orgSelectorForm"
            ng-class = "{'in': isActivePanel()}"
          )
            //- ng-if = "COS.allAccounts.length"
            //- add .active class if this org is selected
            //- add [disabled] property when loading NOT class!
            .grid-block.align-center.list-item.btn.white(
              ng-class = "{'active': org.oauthName() === COS.selectedOrgName}"
              ng-repeat = "org in COS.allAccounts"
              title = "{{org.oauthName()}}"
            )
              img.grid-content.shrink(
                height = "30"
                ng-src = "{{org.gravitar()}}"
                width = "30"
              )
              span.grid-content.text-left.text-overflow {{org.oauthName()}}
              svg.grid-content.iconnables.icons-arrow-forward.shrink
                use(
                  xlink:href = "#icons-arrow-down"
                )

          .grid-block.vertical.list.fade(
            ng-class = "{'in': isActivePanel()}"
          )
            .grid-block.align-center.list-item.btn.white
              img.grid-content.shrink(
                height = "30"
                src = "{{org.gravitar()}}"
                width = "30"
              )
              span.grid-content.text-left.text-overflow I don’t see my organization
              svg.grid-content.iconnables.icons-arrow-forward.shrink
                use(
                  xlink:href = "#icons-arrow-down"
                )

        animated-panel.modal-body.grid-block.vertical(
          name = "dockLoading"
        )
          .padding-md.fade(
            ng-class = "{'in': isActivePanel()}"
          )
            //- dock spinning up
            p.p.text-gray.padding-xs.text-center(
              ng-if = "!$root.featureFlags.contingencyPlan"
            ) We’re spinning up infrastructure for your org. It’ll take about&#32;
              strong.strong 10 minutes
              | . We’ll email you and update this page when it’s ready.
            .grid-block.align-center.justify-center.padding-sm(
              ng-if = "!$root.featureFlags.contingencyPlan"
            )
              .spinner-wrapper.spinner-md.spinner-gray(
                ng-include = "'spinner'"
              )
              //- ng-if = "isActivePanel()"

            p.p.text-gray.text-center.strong(
              ng-if = "$root.featureFlags.contingencyPlan"
            ) We’re running slower than normal due to high demand.
            p.p.text-gray.text-center.padding-xs(
              ng-if = "$root.featureFlags.contingencyPlan"
            ) We’ll email you at&#32;
              span {{ COS.user.attrs.email }}
              | &#32;as soon we’re done spinning up your infrastructure. Thanks for your patience.
        animated-panel.modal-body.grid-block.vertical(
          name = "dockLoaded"
        )
          .padding-md.fade(
            ng-class = "{'in': isActivePanel()}"
          )
            //- dock spun up
            p.p.text-gray.padding-xs.text-center Thanks for waiting, we‘re ready for you now.

          //- show this button when done waiting
          footer.grid-block.vertical.modal-footer.fade(
            ng-class = "{'in': isActivePanel()}"
          )
            button.btn.btn-md.green(
              data-event-name = "Nav to Runnable (after infrastructure wait)"
              ng-click = "actions.selectAccount(COS.selectedOrgName)"
            ) Go to Runnable
    .grid-block.justify-center.modal-outer-footer(
      grace-period-footer
      hide-choose-org = "true"
    )
