.modal-backdrop.welcome

  //- no orgs or missing org
  //- .grid-block.shrink.modal-dialog.modal-org-select(
  //-   ng-include = "'grantAccessModalView'"
  //- )

  //- listing orgs
  .grid-block.shrink.modal-dialog.modal-sm.modal-org-select(
    ng-include = "'orgSelectModalView'"
  )

  //- //- confirm selected org
  //- .grid-block.shrink.modal-dialog.modal-sm(
  //-   ng-include = "'confirmOrgModalView'"
  //- )

  //- //- infrastructure loading
  //- .grid-block.shrink.modal-dialog.modal-lg(
  //-   ng-include = "'infrastructureLoadingModalView'"
  //- )

  //- .grid-block.justify-center.modal-outer-footer(
  //-   grace-period-footer
  //-   hide-choose-org = "true"
  //- )

  //- sign out (under modal)
  .grid-block.shrink.margin-bottom-lg.justify-center
    a.text-gray.small.link(
      ng-click = "logout()"
    ) Sign Out

