.grid-block.vertical.modal-backdrop.welcome
  img.grid-block.shrink.img.runnabear(
    height = "130"
    src = "/build/images/runnabear-waving-3.png"
    width = "230"
  )

  .grid-block.vertical.shrink.modal-dialog.modal-sm.modal-org-select
    animated-panel-container
      //- this is the default panel if the user has one or more orgs
      animated-panel(
        default = "true"
        name = "orgSelection"
      )
        .fade(
          ng-class = "{'in': isActivePanel()}"
          ng-include = "'orgSelectModalView'"
        )
      //- this is the default panel if the user has no orgs
      animated-panel(
        name = "grantAccess"
      )
        .grid-block.vertical.align-center.padding-lg.text-center.fade(
          ng-class = "{'in': isActivePanel()}"
          ng-include = "'grantAccessView'"
        )
      animated-panel.grid-block(
        name = "createOrg"
      )
        .grid-block.vertical.align-center.text-center.fade(
          ng-class = "{'in': isActivePanel()}"
          ng-include = "'createOrganizationView'"
        )
      animated-panel.grid-block(
        name = "authorizeOrg"
      )
        .grid-block.vertical.align-center.text-center.fade(
          ng-class = "{'in': isActivePanel()}"
          ng-include = "'authorizeOrganizationView'"
        )
      animated-panel.grid-block(
        name = "selectNewOrg"
      )
        .grid-block.vertical.text-center.fade(
          ng-class = "{'in': isActivePanel()}"
          ng-include = "'selectNewOrgView'"
        )
      animated-panel.grid-block(
        name = "stackType"
      )
        .grid-block.vertical.align-center.padding-sm.text-center.fade(
          choose-stack-type
          ng-class = "{'in': isActivePanel()}"
        )
      animated-panel(
        name = "dockLoading"
      )
        .fade(
          ng-class = "{'in': isActivePanel()}"
          ng-include = "'infrastructureLoadingModalView'"
        )
      animated-panel(
        name = "dockLoaded"
      )
        .fade(
          ng-class = "{'in': isActivePanel()}"
          ng-include = "'infrastructureLoadedModalView'"
        )

  //- sign out (always) + change organization (during grace period)
  .grid-block.shrink.justify-center.margin-bottom-xl.welcome-footer(
    grace-period-footer
    hide-choose-org = "true"
  )
