.modal-header
  svg.iconnables.icons-arrow-backward(
    ng-click = "goToPanel('orgSelection', 'back')"
  )
    use(
      xlink:href = "#icons-arrow-down"
    )
  h1.modal-heading Great choice!
.grid-block.vertical.align-center.justify-center.padding-lg
  img.grid-content.shrink(
    height = "90"
    src = "https://avatars.githubusercontent.com/u/20309738?v=3"
    width = "90"
  )
  h3.h3.grid-content.shrink.weight-light taylor-test-org
footer.grid-block.modal-footer.margin-top-xxs
  button.grid-block.vertical.btn.btn-md.green(
    ng-click = "goToPanel('dockLoading')"
  ) Confirm Organization
