.grid-block.vertical.noscroll.grant-access-view
  img.grid-block.shrink.img.runnabear(
    height = "130"
    src = "/build/images/runnabear-waving-3.png"
    width = "230"
  )
  .grid-block.vertical.align-center.padding-lg.padding-bottom-sm.text-center.grant-access-body
    //- when no orgs exist
    h1.h1(
      ng-if = "COMC.allAccounts.models.length === 0"
    ) Welcome aboard!
    p.margin-top-sm.p.weight-light(
      ng-if = "COMC.allAccounts.models.length === 0"
    ) Next, we’ll need access to your organization on GitHub.
    //- when orgs exist
    h1.h1(
      ng-if = "COMC.allAccounts.models.length > 0"
    ) Almost there!
    p.margin-top-sm.p.weight-light(
      ng-if = "COMC.allAccounts.models.length > 0"
    ) To use your organization in Runnable, you’ll need to grant access to it on GitHub.

    //- hide after clicked
    a.grid-block.align-center.justify-center.shrink.btn.btn-md.green.margin-top-md(
      data-event-name = "Clicked Grant Access"
      ng-click = "COMC.grantAccess()"
      ng-if = "!$root.isLoading.grantAccess"
    )
      svg.iconnables.margin-right-xxs(
        ng-if = "!$root.isLoading.grantAccess"
      )
        use(
          xlink:href = "#icons-octicons-github"
        )
      | Grant Access
      svg.iconnables.icons-link-external.text-white
        use(
          xlink:href = "#icons-link-external-alt"
        )

    //- show after user clicks "grant access"
    .well.gray.align-center.small.padding-xs.margin-top-md(
      ng-if = "$root.isLoading.grantAccess"
    ) We’ll update this page once you grant access to an org&#32;
      a.link(
        ng-click = "COMC.grantAccess()"
      ) on GitHub
      | .
    button.grid-block.align-center.shrink.btn.btn-md.btn-cancel.gray.margin-top-sm(
      ng-click = "COMC.showGrantAccess = false"
      ng-if = "COMC.allAccounts.models.length > 0"
    ) Cancel

  footer.grid-block.shrink.align-center.vertical.footer.padding-bottom-lg(
    ng-if = "COMC.allAccounts.models.length > 0"
  )
    a.small.link.text-gray(
      ng-click = "COMC.actions.trackPersonalAccount()"
      href = "https://support.runnable.com/hc/en-us/articles/213363706"
      target = "_blank"
    ) Looking to run a personal repo?
      svg.iconnables.icons-link-external.text-gray
        use(
          xlink:href = "#icons-link-external-alt"
        )

  footer.grid-block.shrink.align-center.vertical.footer.padding-bottom-lg.small.text-gray(
    ng-if = "COMC.allAccounts.models.length === 0"
  )
    | Don’t have an org?&#32;
    a.link(
      ng-click = "COMC.actions.trackCreateOrgLink()"
      href = "https://github.com/organizations/new"
      target = "_blank"
    ) Create one free on GitHub.
      svg.iconnables.icons-link-external.text-gray
        use(
          xlink:href = "#icons-link-external-alt"
        )
figure.grid-block.shrink.vertical.figure.padding-lg.justify-center
  img.img(
    ng-click = "COMC.actions.trackFigureAction()"
    src = "/build/images/github-permissions.svg"
  )
  figcaption.small.text-gray.text-center.margin-top-md Click “Grant Access” to your org on GitHub.
