//- when orgs exist
header.modal-header(
  ng-if = "COMC.allAccounts.models.length > 0"
)
  svg.iconnables.icons-arrow-backward(
    ng-click = "goToPanel('orgSelection', 'back')"
    ng-if = "$root.featureFlags.demoProject"
  )
    use(
      xlink:href = "#icons-arrow-down"
    )
  h1.modal-heading Add Your Team

//- when no orgs exist
header.grid-block.justify-center.align-center.modal-header.nav(
  ng-if = "COMC.allAccounts.models.length === 0"
)
  h1.modal-heading Welcome Aboard!

.grid-block.align-center.vertical.padding-lg.padding-top-md
  p.p Add your GitHub team&#32;
    br.visible-xxs
    | to run its code.

  //- hide after clicked
  a.grid-block.align-center.justify-center.shrink.btn.btn-md.green.margin-top-sm(
    data-event-name = "Clicked Grant Access"
    ng-click = "COMC.grantAccess()"
    ng-if = "!$root.isLoading.grantAccess"
  )
    svg.iconnables.margin-right-xxs
      use(
        xlink:href = "#icons-octicons-github"
      )
    | Add Your Team
    svg.iconnables.icons-link-external.text-white
      use(
        xlink:href = "#icons-link-external-alt"
      )

  //- show after user clicks "add your team"
  .well.gray.align-center.small.padding-sm.margin-top-md(
    ng-if = "$root.isLoading.grantAccess"
    ng-include = "'grantAccessWaitView'"
  )
