svg.iconnables.icons-github-listening
  use(
    xlink:href = "#icons-github-listening"
  )
| We’ll update this page once you&#32;
br.hidden-xxs
a.link(
  ng-click = "COMC.grantAccess()"
  ng-if = "!COMC.isInDemoFlow"
) add a team
a.link(
  ng-click = "COMC.grantAccess(true)"
  ng-if = "COMC.isInDemoFlow"
) grant access to your org
| &#32;on GitHub.
