.grid-block.vertical.noscroll.grant-access-view
  img.grid-block.shrink.img.runnabear(
    height = "130"
    src = "/build/images/runnabear-waving-3.png"
    width = "230"
  )
  .grid-block.vertical.align-center.padding-lg.text-center
    h1.h1 Welcome aboard!
    p.margin-top-sm.p.weight-light Next, we’ll need access to the GitHub org you’d like to create environments for.
    a.grid-block.align-center.justify-center.shrink.btn.btn-md.green.margin-top-md(
      href = ""
    )
      svg.iconnables.margin-right-xxs
        use(
          xlink:href = "#icons-octicons-github"
        )
      | Grant Access
  footer.grid-block.align-center.vertical.footer.padding-left-lg.padding-right-lg.padding-bottom-sm.padding-top-xxs
    small.small.underline.margin-top-sm.text-gray(
      pop-over
      pop-over-hover-trigger
      pop-over-options = "{\"top\":-105,\"centered\":true}"
      pop-over-template = "personalTooltip"
      pop-over-trigger = "hover"
    ) Looking to run a personal project?
    small.small.underline.margin-top-xs.text-gray(
      pop-over
      pop-over-hover-trigger
      pop-over-options = "{\"top\":-90,\"centered\":true}"
      pop-over-template = "notOwnerTooltip"
      pop-over-trigger = "hover"
    ) Not an owner of your org?
figure.grid-block.shrink.vertical.figure.padding-lg.justify-center
  img.img(
    src = "/build/images/github-permissions.svg"
  )
