.grid-block.vertical.noscroll.grant-access-view
  img.grid-block.shrink.img.runnabear(
    height = "130"
    src = "/build/images/runnabear-waving-3.png"
    width = "230"
  )
  .grid-block.vertical.align-center.padding-lg.text-center
    //- when no orgs exist
    h1.h1 Welcome aboard!
    p.margin-top-sm.p.weight-light Next, we’ll need access to the GitHub org you’d like to create environments for.
    //- when coming from org list
    //- h1.h1 Almost there!
    //- p.margin-top-sm.p.weight-light To use your org in Runnable, you’ll need to grant access to it on GitHub.
    a.grid-block.align-center.justify-center.shrink.btn.btn-md.green.margin-top-md(
      ng-click = "COMC.grantAccess()"
      ng-disabled = "$root.isLoading.grantAccess"
    )
      .spinner-wrapper.spinner-sm.in(
        ng-if = "$root.isLoading.grantAccess"
        ng-include = "'spinner'"
      )
      svg.iconnables.margin-right-xxs(
        ng-if = "!$root.isLoading.grantAccess"
      )
        use(
          xlink:href = "#icons-octicons-github"
        )
      | Grant Access
    button.grid-block.align-center.shrink.btn.btn-md.btn-cancel.gray.margin-top-xs(
      ng-if = "COMC.allAccounts.models.length > 0"
      ng-click = "COMC.showGrantAccess = false"
    ) Cancel
  footer.grid-block.shrink.align-center.vertical.footer.padding-sm.padding-bottom-md
    a.small.link.text-gray(
      href = "https://support.runnable.com/hc/en-us/articles/213363706"
      target = "_blank"
    ) Looking to run a personal repo?
      svg.iconnables.icons-link-external.text-gray
        use(
          xlink:href = "#icons-link-external-alt"
        )
figure.grid-block.shrink.vertical.figure.padding-lg.justify-center
  img.img(
    src = "/build/images/github-permissions.svg"
  )
