svg.iconnables.icons-github-listening
  use(
    xlink:href = "#icons-github-listening"
  )
| We’ll update this page once&#32;
br.hidden-xxs
| you add a team on GitHub.
br
a.btn.btn-xs.green.margin-top-sm(
  ng-click = "COMC.grantAccess()"
)
  svg.iconnables.icons-github
    use(
      xlink:href = "#icons-octicons-github"
    )
  | Add Your Team…
