.grid-block.vertical.grant-access-view
  img.grid-block.shrink.img.runnabear(
    height = "130"
    src = "/build/images/runnabear-waving-3.png"
    width = "230"
  )
  animated-panel-container
    animated-panel(
      default = "true"
      name = "grantAccess"
    )
      .fade(
        ng-class = "{'in': isActivePanel()}"
        ng-include = "'grantAccessView'"
      )
    animated-panel(
      name = "createOrg"
    )
figure.grid-block.shrink.vertical.figure.padding-lg.justify-center
  img.img(
    ng-click = "COMC.actions.trackFigureAction()"
    src = "/build/images/github-permissions.svg"
  )
  figcaption.small.text-gray.text-center.margin-top-md Click “Grant Access” to your org on GitHub.
