.grid-block.vertical.noscroll.grant-access-view
  img.grid-block.shrink.img.runnabear(
    height = "130"
    src = "/build/images/runnabear-waving-3.png"
    width = "230"
  )
  .grid-block.vertical.align-center.padding-lg.text-center
    //- when no orgs exist
    h1.h1 Welcome aboard!
    p.margin-top-sm.p.weight-light Next, we’ll need access to the GitHub org you’d like to create environments for.
    //- when coming from org list
    //- h1.h1 Almost there!
    //- p.margin-top-sm.p.weight-light To use your org in Runnable, you’ll need to grant access to it on GitHub.
    a.grid-block.align-center.justify-center.shrink.btn.btn-md.green.margin-top-md(
      href = ""
      ng-click = "state.grantAccess = !state.grantAccess"
    )
      svg.iconnables.margin-right-xxs
        use(
          xlink:href = "#icons-octicons-github"
        )
      | Grant Access
    //- button.grid-block.align-center.shrink.btn.btn-md.btn-cancel.gray.margin-top-xs(
    //- ) Cancel
  footer.grid-block.shrink.align-center.vertical.footer.padding-sm.padding-bottom-md
    small.small.link.text-gray(
      href = "//support.runnable.com"
      target = "_blank"
    ) Looking to run a personal repo?
figure.grid-block.shrink.vertical.figure.padding-lg.justify-center
  img.img(
    src = "/build/images/github-permissions.svg"
  )
