header.infrastructure-header.text-center
  p.p Spinning up your infrastructure.
    br
    | This may take up to 3 minutes.
  .progress-bar.stripes.animated(
    ng-include = "'progressBarView'"
  )
.infrastructure-body
  p.p.text-gray-light.text-center.margin-bottom-sm.weight-strong Up Next…
  ul.grid-block.vertical.ul
    li.grid-block.align-center.li
      img.grid-block.shrink.img(
        height = "75"
        src = "/build/images/infrastructure-load/icons-stacks.svg"
        width = "75"
      )
      .grid-block.vertical
        p.p.weight-strong Start by choosing your stack.
        p.p Your containers will build, and in a few minutes you’ll have a complete environment.

    li.grid-block.align-center.li
      img.grid-block.shrink.img(
        height = "75"
        src = "/build/images/infrastructure-load/icons-branches.svg"
        width = "75"
      )
      .grid-block.vertical
        p.p.weight-strong Then launch more environments.
        p.p Every branch will automatically have a fresh environment for you to test out changes.

    li.grid-block.align-center.li
      img.grid-block.shrink.img(
        height = "75"
        src = "/build/images/infrastructure-load/icons-github-bot.svg"
        width = "75"
      )
      .grid-block.vertical
        p.p.weight-strong And work from GitHub.
        p.p Our bot shares links to your environments and results from automated tests are shared on your pull requests.
footer.infrastructure-footer.text-center
  a.link.small(
    href = "https://www.youtube.com/watch?v=bZNbWoLcZq4"
    target = "_blank"
  ) Watch a product overview
    svg.iconnables.icons-link-external
      use(
        xlink:href = "#icons-link-external-alt"
      )
