header.infrastructure-header.text-center
  p.p Spinning up your infrastructure.
    br
    | This may take up to 3 minutes.
  .progress-bar.stripes.animated(
    ng-include = "'progressBarView'"
  )
.infrastructure-body
  p.p.text-gray-light.text-center.margin-bottom-sm.weight-strong Up Next…
  ul.grid-block.vertical.ul
    li.grid-block.align-center.li
      img.grid-block.shrink.img(
        height = "75"
        src = "/build/images/infrastructure-load/icons-stacks.svg"
        width = "75"
      )
      .grid-block.vertical
        p.p.weight-strong Add your code.
        p.p Start with your own repositories, or start with a demo to explore Runnable and get familiar with how it works.

    li.grid-block.align-center.li
      img.grid-block.shrink.img(
        height = "75"
        src = "/build/images/infrastructure-load/icons-branches.svg"
        width = "75"
      )
      .grid-block.vertical
        p.p.weight-strong Instantly launch new environments.
        p.p Each branch is launched in its own fresh environment for you to view and run tests against.

    li.grid-block.align-center.li
      img.grid-block.shrink.img(
        height = "75"
        src = "/build/images/infrastructure-load/icons-github-bot.svg"
        width = "75"
      )
      .grid-block.vertical
        p.p.weight-strong Enhance your pull requests.
        p.p Our bot shares links to your environments and results from automated tests are shared on GitHub.
footer.infrastructure-footer.text-center
  a.link.small(
    href = "https://www.youtube.com/watch?v=bZNbWoLcZq4"
    ng-click = "COMC.actions.trackDemoVideo()"
    target = "_blank"
  ) Watch a product overview
    svg.iconnables.icons-link-external
      use(
        xlink:href = "#icons-link-external-alt"
      )
