.padding-md.infrastructure-view
  //- dock spinning up
  p.p.text-center.weight-light(
    ng-if = "!$root.featureFlags.contingencyPlan"
  ) It’ll only take a few minutes to spin up infrastructure for&#32;
    strong.weight-strong {{COMC.selectedOrgName}}
    | . We’ll email you and update this page when it’s ready. Watch a tour while you wait.

  iframe.iframe.margin-top-md(
    allowfullscreen
    frameborder = "0"
    height = "219"
    src = "https://www.youtube.com/embed/bZNbWoLcZq4?showinfo=0"
    width = "390"
  )

  p.p.text-center.weight-light(
    ng-if = "$root.featureFlags.contingencyPlan"
  ) We’re running slower than normal due to high demand.
  p.p.text-center.weight-light.margin-top-xs(
    ng-if = "$root.featureFlags.contingencyPlan"
  ) We’ll email you at&#32;
    span {{ COMC.user.attrs.email }}
    | &#32;as soon we’re done spinning up your infrastructure. Thanks for your patience.

  p.small.link.text-center.text-gray.margin-top-md(
    data-event-name = "Clicked 'Wanna use a different org?'"
    ng-click = "goToPanel('orgSelection', 'back')"
  ) Wanna use a different team?
