.infrastructure-body
  //- dock spun up
  p.p.text-center Thanks for waiting, we’re ready for you now.

//- show this button when done waiting
footer.grid-block.vertical.modal-footer
  button.btn.btn-md.green(
    data-event-name = "Nav to Runnable (after infrastructure wait)"
    ng-click = "COMC.actions.selectAccount(COMC.selectedOrgName)"
  ) Go to Runnable
