.grid-block.vertical.padding-sm
  h1.margin-top-sm.h1.text-center(
    ng-class = "{'in': isActivePanel()}"
  ) Welcome aboard!
  p.margin-top-sm.margin-bottom-md.p.text-center.weight-light(
    ng-class = "{'in': isActivePanel()}"
  ) Now select the organization you want to use.

  .grid-block.vertical.list.fade(
    name = "COS.orgSelectorForm"
    ng-class = "{'in': isActivePanel()}"
    ng-click = "goToPanel('confirmOrg')"
  )
    .grid-block.align-center.list-item.btn.white(
      ng-repeat = "org in COS.allAccounts"
      title = "{{org.oauthName()}}"
    )
      img.grid-content.shrink(
        height = "30"
        ng-src = "{{org.gravitar()}}"
        width = "30"
      )
      span.grid-content.text-left.text-overflow {{org.oauthName()}}
      svg.grid-content.iconnables.icons-arrow-forward.shrink
        use(
          xlink:href = "#icons-arrow-down"
        )

  .grid-block.vertical.list.margin-top-sm.fade(
    ng-class = "{'in': isActivePanel()}"
  )
    .grid-block.align-center.list-item.btn.white
      img.grid-content.shrink(
        height = "30"
        src = "{{org.gravitar()}}"
        width = "30"
      )
      span.grid-content.text-left.text-overflow Don’t see your organization?
      svg.grid-content.iconnables.icons-arrow-forward.shrink
        use(
          xlink:href = "#icons-arrow-down"
        )

  .margin-top-md.margin-bottom-md.link.small.text-gray.text-center.fade(
    ng-class = "{'in': isActivePanel()}"
  ) Looking for your personal account?
