.modal-header
  h1.modal-heading Welcome Aboard!

.grid-block.vertical.org-select-view

  p.p.text-gray(
    ng-if = "!COMC.personalAccountOnly"
  ) Select your team to get started.
  ol.grid-block.vertical.list(
    ng-if = "!COMC.personalAccountOnly"
  )
    li.grid-block.align-center.list-item.btn.white(
      data-event-name = "Org Selected"
      ng-click = "COMC.actions.createOrCheckDock(org.oauthName())"
      ng-repeat = "org in COMC.allAccounts.models | orderBy:'attrs.login'"
      title = "{{org.oauthName()}}"
    )
      img.grid-content.shrink(
        height = "30"
        ng-src = "{{org.gravitar()}}"
        width = "30"
      )
      span.grid-content.text-left.text-overflow {{org.oauthName()}}
      svg.grid-content.iconnables.icons-arrow-forward.shrink
        use(
          xlink:href = "#icons-arrow-down"
        )
  p.p.text-gray(
    ng-if = "!COMC.personalAccountOnly"
  ) Don’t see your team?
  p.p.text-gray(
    ng-if = "COMC.personalAccountOnly"
  ) Runnable is made for teams,
    br
    | &#32;but you haven’t added any yet.
  ol.grid-block.vertical.list
    li.grid-block.align-center.list-item.btn.white(
      data-event-name = "Clicked to Grant Access View"
      ng-click = "goToPanel('grantAccess')"
      title = "Add your team via GitHub"
    )
      svg.grid-content.shrink.iconnables.icons-github
        use(
          xlink:href = "#icons-octicons-github-gray"
        )
      .grid-block.vertical.text-overflow.margin-left-sm
        .text-overflow.text-left Add your team
        .text-overflow.text-left.small via GitHub
      svg.grid-content.iconnables.icons-arrow-forward.shrink
        use(
          xlink:href = "#icons-arrow-down"
        )
    li.grid-block.align-center.list-item.btn.white(
      data-event-name = "PA Selected"
      ng-click = "COMC.actions.createOrCheckDock(COMC.user.oauthName())"
      title = "Start with a tour using your personal account"
    )
      img.grid-content.shrink(
        height = "30"
        ng-src = "{{COMC.user.gravitar()}}"
        width = "30"
      )
      .grid-block.vertical.align-start.margin-left-sm
        .text-overflow.text-left Start with a tour
        .text-overflow.text-left.small using your personal account
      svg.grid-content.iconnables.icons-arrow-forward.shrink
        use(
          xlink:href = "#icons-arrow-down"
        )
