.modal-header(
  ng-if = "!$root.featureFlags.demoOrgSelect"
)
  h1.modal-heading Welcome Aboard!

.grid-block.vertical.org-select-view

  p.p.text-gray(
    ng-if = "!COMC.personalAccountOnly"
  ) Select a team to start running its code.
  ol.grid-block.vertical.list(
    ng-if = "!COMC.personalAccountOnly"
    ng-init = "data.loading = false"
  )
    .org-select-bar
      span(
        ng-if = "!$root.isLoading.grantAccess"
      ) Your GitHub Teams
      .spinner-wrapper.spinner-gray.spinner-sm.in(
        ng-include = "'spinner'"
        ng-if = "$root.isLoading.grantAccess"
      )
      span(
        ng-if = "$root.isLoading.grantAccess"
      ) Listening for new teams…
      button.btn.btn-xxs.white(
        ng-click = "COMC.grantAccess()"
      ) Add a Team
        //- ng-click = "COMC.grantAccess()"
    .org-select-empty-state(
      ng-if = "COMC.personalAccountOnly && $root.featureFlags.demoOrgSelect"
    ) Runnable is made for teams, but it looks
      br
      | like you haven’t added any yet.
    li.grid-block.align-center.list-item.btn.white(
      data-event-name = "Org Selected"
      ng-click = "COMC.actions.selectAccount(org.oauthName())"
      ng-repeat = "org in COMC.allAccounts.models | orderBy:'attrs.login'"
      title = "{{org.oauthName()}}"
    )
      img.grid-content.shrink(
        height = "30"
        ng-src = "{{org.gravitar()}}"
        width = "30"
      )
      span.grid-content.text-left.text-overflow {{org.oauthName()}}
      svg.grid-content.iconnables.icons-arrow-forward.shrink
        use(
          xlink:href = "#icons-arrow-down"
        )
  p.p.text-gray(
    ng-if = "!COMC.personalAccountOnly && !$root.featureFlags.demoOrgSelect"
  ) Don’t see your team?
  p.p.text-gray(
    ng-if = "COMC.personalAccountOnly && !$root.featureFlags.demoOrgSelect"
  ) Runnable is made for teams.
    br
    | Add yours to start running its code.
  ol.grid-block.vertical.list(
    ng-if = "!$root.featureFlags.demoOrgSelect"
  )
    li.grid-block.align-center.list-item.btn.white(
      data-event-name = "Clicked to Grant Access View"
      ng-click = "goToPanel('grantAccess')"
      title = "Add your team via GitHub"
    )
      svg.grid-content.shrink.iconnables.icons-github
        use(
          xlink:href = "#icons-octicons-github-gray"
        )
      .grid-block.vertical.text-overflow.margin-left-sm
        .text-overflow.text-left Add your team
        .text-overflow.text-left.small via GitHub
      svg.grid-content.iconnables.icons-arrow-forward.shrink
        use(
          xlink:href = "#icons-arrow-down"
        )
    li.grid-block.align-center.list-item.btn.white(
      data-event-name = "PA Selected"
      ng-click = "COMC.actions.selectAccount(COMC.user.oauthName())"
    )
      img.grid-content.shrink(
        height = "30"
        ng-src = "{{COMC.user.gravitar()}}"
        width = "30"
      )
      .grid-block.vertical.align-start.margin-left-sm
        .text-overflow.text-left Start with a demo
        .text-overflow.text-left.small using your personal account
      svg.grid-content.iconnables.icons-arrow-forward.shrink
        use(
          xlink:href = "#icons-arrow-down"
        )
