.grid-block.vertical.padding-sm.org-select-view
  h1.margin-top-sm.h1.text-center Welcome aboard!
  p.margin-top-sm.margin-bottom-md.p.text-center.weight-light Now select the organization you want to use.

  ol.grid-block.vertical.list
    li.grid-block.align-center.list-item.btn.white(
      ng-click = "goToPanel('orgConfirmation')"
      ng-repeat = "org in COS.allAccounts"
      title = "{{org.oauthName()}}"
    )
      img.grid-content.shrink(
        height = "30"
        ng-src = "{{org.gravitar()}}"
        width = "30"
      )
      span.grid-content.text-left.text-overflow {{org.oauthName()}}
      svg.grid-content.iconnables.icons-arrow-forward.shrink
        use(
          xlink:href = "#icons-arrow-down"
        )

  ol.margin-top-sm.grid-block.vertical.list
    li.grid-block.align-center.list-item.btn.white(
      ng-click = "state.grantAccess = !state.grantAccess"
    )
      .grid-content.shrink.icons-missing-org 🕵
      span.grid-content.text-left.text-overflow Don’t see your organization?
      svg.grid-content.iconnables.icons-arrow-forward.shrink
        use(
          xlink:href = "#icons-arrow-down"
        )

footer.grid-block.align-center.vertical.footer.padding-sm
  small.small.underline.text-gray(
    pop-over
    pop-over-hover-trigger
    pop-over-options = "{\"top\":-105,\"centered\":true}"
    pop-over-template = "personalTooltip"
    pop-over-trigger = "hover"
  ) Looking to run a personal project?
