.modal-dialog.modal-welcome
  section.modal-body.card-body
    h1.modal-heading Welcome to Runnable!
    p.p Choose an organization to get started
    small.small (You can change your organization later)
    .card.card-sm.load
      img.img.gravatar(
        height = "30"
        src = "https://avatars.githubusercontent.com/u/2335750?v=3"
        width = "30"
      )
      | Runnable
    .card.card-sm.load
      img.img.gravatar(
        height = "30"
        src = "https://avatars.githubusercontent.com/u/2335750?v=3"
        width = "30"
      )
      | Runnable
    .card.card-sm.load
      img.img.gravatar(
        height = "30"
        src = "https://avatars.githubusercontent.com/u/2335750?v=3"
        width = "30"
      )
      | Runnable