.modal-backdrop.in
  .modal-dialog.modal-sm.modal-isolation
    header.modal-header
      h1.modal-heading Isolation Setup
      svg.iconnables.icons-close(
        ng-click = "ICMC.close()"
      )
        use(
          xlink:href = "#icons-close"
        )
    section.modal-body
      .grid-block.vertical.shrink.text-center.well.gray.small.padding-sm
        //- while we can only isolate with service containers:
        | Selected templates will be used to create containers for each branch of&#32;
        //- once we can isolate with service containers and repo containers:
          - | Selected containers will be isolated with&#32;
        .text-overflow(
          ng-attr-title = "{{ICMC.instance.getMasterPodName()}}/{{ICMC.instance.getBranchName()}}"
        ) {{ICMC.instance.getMasterPodName()}}/{{ICMC.instance.getBranchName()}}.

      h4.grid-block.shrink.h4.text-gray.small.padding-xs(
        ng-if = "ICMC.repoInstances.length"
      ) Repository Templates
      .grid-block.vertical.shrink.list.list-bordered(
        ng-if = "ICMC.repoInstances.length"
      )
        .grid-block.align-center.list-item.padding-xs
          label.text-overflow(
            title = "{{ICMC.instance.getMasterPodName()}}"
          )
            input.checkbox(
              checked
              disabled
              type = "checkbox"
            )
            | {{ICMC.instance.getMasterPodName()}}

          button.btn.btn-xs.gray.text-overflow(
            disabled
          ) {{ICMC.instance.getBranchName()}}
            svg.iconnables.icons-arrow-down
              use(
                xlink:href = "#icons-arrow-down"
              )

        .grid-block.align-center.list-item.padding-xs(
          ng-repeat = "instance in ICMC.repoInstances"
        )
          label.text-overflow(
            title = "{{instance.getMasterPodName()}}"
          )
            input.checkbox(
              type = "checkbox"
              ng-model = "ICMC.instanceCheckboxes[instance.id()]"
              ng-disabled = "$root.isLoading.createIsolation"
            )
            | {{instance.getMasterPodName()}}

          //- this should get the class 'modded' if the selected branch uses a modified template
          //- selecting this should automatically check the checkbox
          fancy-select.btn-xs.gray(
            value = "ICMC.instanceBranchMapping[instance.attrs.contextVersion.context]"
            ng-disabled = "$root.isLoading.createIsolation"
          )
            li.list-item.popover-list-item.small.disabled Choose branch
            fancy-option(
              value = "$parent.instance"
            ) {{$parent.$parent.instance.getBranchName()}}
            fancy-option(
              ng-repeat = "child in $parent.instance.children.models"
              value = "child"
            ) {{$parent.child.getBranchName()}}
        //- this element should only appear if the selected branch uses a modified template
        //- small.small Branch uses a modified template

      h4.grid-block.shrink.h4.text-gray.small.padding-xs(
        ng-if = "ICMC.nonRepoInstances.length"
      ) Non-Repository Templates
      .grid-block.vertical.shrink.list.list-bordered(
        ng-if = "ICMC.nonRepoInstances.length"
      )
        .grid-block.align-center.list-item.padding-xs(
          ng-repeat = "instance in ICMC.nonRepoInstances"
        )
          label.text-overflow(
            title = "{{instance.getMasterPodName()}}"
          )
            input.checkbox(
              type = "checkbox"
              ng-model = "ICMC.instanceCheckboxes[instance.id()]"
              ng-disabled = "$root.isLoading.createIsolation"
            )
            | {{instance.getDisplayName()}}

    section.modal-footer.clearfix
      button.btn.btn-md.white.float-left(
        ng-click = "ICMC.close()"
        ng-disabled = "$root.isLoading.createIsolation"
      ) Cancel
      button.btn.btn-md.green.float-right(
        ng-disabled = "$root.isLoading.createIsolation"
        ng-click = "ICMC.createIsolation()"
      ) {{$root.isLoading.createIsolation ? 'Isolating...' : 'Isolate Branch'}}
