.modal-backdrop.in
  .modal-dialog.modal-sm.modal-isolation
    header.modal-header
      h1.modal-heading Isolation Setup
      svg.iconnables.icons-close(
        ng-click = "ICMC.close()"
      )
        use(
          xlink:href = "#icons-close"
        )
    section.modal-body
      .well.in.gray.small.text-center
        //- while we can only isolate with service containers:
        | Select containers to create and isolate with&#32;
        //- once we can isolate with service containers and repo containers:
          - | Selected containers will be isolated with&#32;
        .text-overflow(
          ng-attr-title = "{{ICMC.instance.getRepoName()}}/{{ICMC.instance.getBranchName()}}"
        ) {{ICMC.instance.getRepoName()}}/{{ICMC.instance.getBranchName()}}.

      h4.h4(
        ng-if = "$root.featureFlags.isolationRepos && ICMC.repoInstances.length"
      ) Repository Containers
      .list.list-bordered(
        ng-if = "$root.featureFlags.isolationRepos && ICMC.repoInstances.length"
      )
        .list-item
          label.text-overflow(
            title = "{{ICMC.instance.getRepoName()}}"
          )
            input.checkbox(
              checked
              disabled
              type = "checkbox"
            )
            | {{ICMC.instance.getRepoName()}}

          button.btn.btn-xs.gray.text-overflow(
            disabled
          ) {{ICMC.instance.getBranchName()}}
            svg.iconnables.icons-arrow-down
              use(
                xlink:href = "#icons-arrow-down"
              )

        .list-item(
          ng-repeat = "instance in ICMC.repoInstances"
        )
          label.text-overflow(
            title = "{{instance.getRepoName()}}"
          )
            input.checkbox(
              type = "checkbox"
              ng-model = "ICMC.instanceCheckboxes[instance.id()]"
            )
            | {{instance.getRepoName()}}

          //- this should get the class 'modded' if the selected branch uses a modified configuration
          //- selecting this should automatically check the checkbox
          fancy-select.btn-xs.gray(
            value = "ICMC.instanceBranchMapping[instance.attrs.contextVersion.context]"
          )
            li.list-item.popover-list-item.small.disabled Choose branch
            fancy-option(
              value = "$parent.instance"
            ) {{$parent.$parent.instance.getBranchName()}}
            fancy-option(
              ng-repeat = "child in $parent.instance.children.models"
              value = "child"
            ) {{$parent.child.getBranchName()}}
        //- this element should only appear if the selected branch uses a modified configuration
        //- small.small Branch uses a modified configuration

      //- database containers
        - h4.h4(
        -   ng-if = "ICMC.nonRepoInstances.length && $root.featureFlags.backup"
        - ) Database Containers
        - .list.list-bordered(
        -   ng-if = "ICMC.nonRepoInstances.length && $root.featureFlags.backup"
        - )
        .list-item(
          ng-repeat = "instance in ICMC.nonRepoInstances"
        )
          label.text-overflow(
            title = "{{instance.getRepoName()}}"
          )
            input.checkbox(
              type = "checkbox"
              ng-model = "ICMC.instanceCheckboxes[instance.id()]"
            )
            | {{instance.getDisplayName()}}
          //- show on containers that have a backup
          small.small(
            tooltip = "We’ll use the latest MySQL backup to populate this database."
            tooltip-options = "{\"class\":\"bottom bottom-arrow-right\",\"right\":0,\"top\":21}"
          )
            svg.iconnables.icons-check.float-left
              use(
                xlink:href = "#icons-check"
              )
            | From Backup
          //- show on containers that have no backups
            - small.small(
            -   tooltip = "This container will start with an empty database."
            -   tooltip-options = "{\"class\":\"left\",\"right\":80,\"top\":-9}"
            - ) No Backups

      //- before b&r feature: all service containers
        - after b&r feature: service containers that aren't databases
      h4.h4(
        ng-if = "ICMC.nonRepoInstances.length"
      ) Non-Repository Containers
      .list.list-bordered(
        ng-if = "ICMC.nonRepoInstances.length"
      )
        .list-item(
          ng-repeat = "instance in ICMC.nonRepoInstances"
        )
          label.text-overflow(
            title = "{{instance.getRepoName()}}"
          )
            input.checkbox(
              type = "checkbox"
              ng-model = "ICMC.instanceCheckboxes[instance.id()]"
            )
            | {{instance.getDisplayName()}}

    section.modal-footer.clearfix
      button.btn.btn-md.white.float-left(
        ng-click = "ICMC.close()"
      ) Cancel
      button.btn.btn-md.green.float-right(
        ng-disabled = "$root.isLoading.createIsolation"
        ng-click = "ICMC.createIsolation()"
      ) {{$root.isLoading.createIsolation ? 'Isolating...' : 'Enter Isolation'}}
