.modal-backdrop.in
  .modal-dialog.modal-isolation
    header.modal-header
      h1.modal-heading Isolation Setup
      svg.iconnables.icons-close(
        ng-click = "ICMC.close()"
      )
        use(
          xlink:href = "#icons-close"
        )
    section.modal-body
      .text-center The following containers will be created to isolate&#32;
        br
        status-icon(
          instance = "ICMC.instance"
        )
        strong.strong {{ICMC.instance.getRepoName()}}/{{ICMC.instance.getBranchName()}}
        | .
      .list.list-bordered(
        ng-if = "ICMC.repoInstances.length"
      )
        .list-item(
          ng-repeat = "instance in ICMC.repoInstances"
        )
          svg.iconnables.icons-new-repository-server
            use(
              xlink:href = "#icons-new-repository-server"
            )
          span.span.text-overflow(
            title = "{{instance.getRepoName()}}"
          ) {{instance.getRepoName()}}
          | {{instance.children.length}}

          //- this should get the class 'modded' if the selected branch uses a modified configuration
          fancy-select.btn-xs.gray(
            value = "ICMC.instanceBranchMapping[instance.attrs.contextVersion.context]"
          )
            fancy-option(
              value = "$parent.instance"
            ) {{$parent.$parent.instance.getBranchName()}}
            fancy-option(
              ng-repeat = "child in $parent.instance.children.models"
              value = "child"
            ) {{$parent.child.getBranchName()}}
          //- this element should only appear if the selected branch uses a modified configuration
          //- small.small Branch uses a modified configuration

      .list.list-bordered(
        ng-if = "ICMC.nonRepoInstances.length"
      )
        .list-item(
          ng-repeat = "instance in ICMC.nonRepoInstances"
        )
            svg.iconnables.icons-server-new
              use(
                xlink:href = "#icons-server-new"
              )
            span.span.text-overflow {{instance.getDisplayName()}}
      small.small(
        ng-if = "$root.featureFlags.backup"
      ) New non-repository containers will be created from their latest backups, if any backups exist.

    section.modal-footer.clearfix
      button.btn.white.float-left(
        ng-click = "ICMC.close()"
      ) Cancel
      button.btn.green.float-right(
        ng-disabled = "$root.isLoading.createIsolation"
        ng-click = "ICMC.createIsolation()"
      ) {{$root.isLoading.createIsolation ? 'Isolating...' : 'Enter Isolation'}}
