.modal-dialog.modal-repository-details
  header.modal-header
    h1.modal-heading.text-overflow {{ RDMC.data.repo.attrs.name }}
    svg.iconnables.icons-close(
      ng-click = "RDMC.defaultActions.cancel()"
    )
      use(
        xlink:href = "#icons-close"
      )
  section.modal-body.repository-details-content(
    branch-commit-selector
    data = "RDMC.data"
  )
  section.modal-footer
    button.btn.white.btn-cancel(
      ng-click = "RDMC.defaultActions.cancel()"
    ) Cancel
    button.btn.green(
      ng-click = "RDMC.updateInstance()"
    ) Save & Rebuild
