.grid-block.align-center(
  ng-if = "state.showStep === 0"
  ng-include = "'createSandboxGuideView'"
)

.grid-block.align-center(
  ng-if = "state.showStep === 1"
  ng-include = "'setUpRepositoryGuideView'"
  ng-mouseenter = "state.showControls = true"
  ng-mouseleave = "state.showControls = false"
)

.grid-block.align-center(
  ng-if = "state.showStep === 2"
  ng-include = "'addBranchGuideView'"
)

button.btn.btn-xs.white.btn-menu(
  ng-class = "{'active': ahaMenuGuidePopover.data.show}"
  ng-if = "!state.hideMenu"
  pop-over
  pop-over-active = "ahaMenuGuidePopover.data.show"
  pop-over-options = "{\"centered\":true,\"top\":36}"
  pop-over-template = "ahaGuideMenuPopoverView"
)
  svg.iconnables
    use(
      xlink:href = "#icons-overflow"
    )
