.grid-block.shrink.aha-meter.aha-meter-12
  svg.iconnables
    use(
      xlink:href = "#icons-octicons-branch"
    )
.grid-block.vertical
  p.p.strong Add a Branch
  small.small You can start adding branches by clicking the + button next to the name of the repository.

button.btn.btn-xs.white.btn-menu
  svg.iconnables
    use(
      xlink:href = "#icons-overflow"
    )
