.grid-block.align-center(
  ng-if = "AGC.ahaGuide.isChoosingOrg()"
  ng-include = "'createSandboxGuideView'"
)

.grid-block.align-center(
  ng-if = "AGC.ahaGuide.isAddingFirstRepo()"
  ng-include = "'setUpRepositoryGuideView'"
)

.grid-block.align-center(
  ng-if = "AGC.ahaGuide.isAddingFirstBranch()"
  add-branch-guide
)

.grid-block.align-center(
  ng-if = "AGC.ahaGuide.isSettingUpRunnabot()"
  ng-include = "'setUpRunnabotGuideView'"
)

button.btn.btn-xs.white.btn-menu(
  ng-class = "{'active': ahaMenuGuidePopover.data.show}"
  ng-if = "AGC.ahaGuide.isChoosingOrg()"
  pop-over
  pop-over-active = "ahaMenuGuidePopover.data.show"
  pop-over-options = "{\"centered\":true,\"top\":36}"
  pop-over-template = "ahaGuideMenuPopoverView"
  pop-over-actions = "AGC.popoverActions"
)
  svg.iconnables
    use(
      xlink:href = "#icons-overflow"
    )
