.grid-block.align-center(
  ng-if = "AHA.state.mainStep === 0"
  ng-include = "'createSandboxGuideView'"
)

.grid-block.align-center(
  ng-if = "AHA.state.mainStep === 1"
  ng-include = "'setUpRepositoryGuideView'"
)

.grid-block.align-center(
  ng-if = "AHA.state.mainStep === 2"
  ng-include = "'addBranchGuideView'"
)

.grid-block.align-center(
  ng-if = "AHA.state.mainStep === 3"
  ng-include = "'setUpRunnabotGuideView'"
)

button.btn.btn-xs.white.btn-menu(
  ng-class = "{'active': ahaMenuGuidePopover.data.show}"
  ng-if = "!AHA.state.hideMenu"
  pop-over
  pop-over-active = "ahaMenuGuidePopover.data.show"
  pop-over-options = "{\"centered\":true,\"top\":36}"
  pop-over-template = "ahaGuideMenuPopoverView"
)
  svg.iconnables
    use(
      xlink:href = "#icons-overflow"
    )
