.popover.menu.bottom(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white
  .popover-content
    ul.list.popover-list
      li.list-item.popover-list-item(
        ng-click = "$root.ahaGuide.showSidebar = true"
      ) View All
      li.list-item.popover-list-item(
      	ng-click = "$root.ahaGuide.completedMilestones.aha1 = true"
      ) End Guide