.arrow.white
.popover-content
  .grid-block.shrink.align-center.justify-center.padding-sm.aha-guide(
    aha-guide-directive
    step-index = 1
    sub-step = "complete"
  )
.grid-block.justify-right.popover-footer
  button.grid-block.shrink.btn.btn-sm.green(
  ng-click = "CA.showAhaNavPopover = false"
) Got It
