.grid-block.shrink.align-center.justify-right
  svg.iconnables.icons-close(
    ng-click = "$root.featureFlags.ahaSidebar = false"
  )
    use(
      xlink:href = "#icons-close"
    )
.grid-block.vertical
  .grid-block.shrink.align-center.padding-sm.aha-guide(
    ng-class = "{'complete': $root.featureFlags.aha1 || $root.featureFlags.aha2 || $root.featureFlags.aha3}"
  )
    .grid-block.shrink.aha-meter(
      ng-class = "{\
        'aha-meter-50': $root.featureFlags.aha0,\
        'aha-meter-100': $root.featureFlags.aha1 || $root.featureFlags.aha2 || $root.featureFlags.aha3\
      }"
    )
      svg.iconnables
        use(
          ng-if = "$root.featureFlags.aha1 || $root.featureFlags.aha2 || $root.featureFlags.aha3"
          xlink:href = "#icons-check"
        )
    .grid-block.vertical
      p.p.strong Create your Sandbox
      p.small This is the first step to success.

  .grid-block.shrink.align-center.padding-sm.aha-guide(
    ng-class = "{\
      'complete': $root.featureFlags.aha2 || $root.featureFlags.aha3,\
      'disabled': $root.featureFlags.aha0\
    }"
  )
    .grid-block.shrink.aha-meter(
      ng-class = "{\
        'aha-meter-13': $root.featureFlags.aha1,\
        'aha-meter-100': $root.featureFlags.aha0\
      }"
    )
      svg.iconnables
        use(
          ng-if = "$root.featureFlags.aha1 && (!$root.featureFlags.aha2 || !$root.featureFlags.aha3)"
          xlink:href = "#icons-octicons-repo"
        )
        use(
          ng-if = "$root.featureFlags.aha2 || $root.featureFlags.aha3"
          xlink:href = "#icons-check"
        )
    .grid-block.vertical
      p.p.strong Add your First Repository
      p.small Configure your project and get it running!

  .grid-block.shrink.align-center.padding-sm.aha-guide(
    ng-class = "{\
      'complete': $root.featureFlags.aha3,\
      'disabled': $root.featureFlags.aha0 || $root.featureFlags.aha1\
    }"
  )
    .grid-block.shrink.aha-meter(
      ng-class = "{\
        'aha-meter-33': $root.featureFlags.aha2,\
        'aha-meter-100': $root.featureFlags.aha3\
      }"
    )
      svg.iconnables
        use(
          ng-if = "!$root.featureFlags.aha3"
          xlink:href = "#icons-octicons-branch"
        )
        use(
          ng-if = "$root.featureFlags.aha3"
          xlink:href = "#icons-check"
        )
    .grid-block.vertical
      p.p.strong Add your First Branch
      p.small Your branches will update on every commit you make.

  .grid-block.shrink.align-center.padding-sm.aha-guide(
    ng-class = "{'disabled': $root.featureFlags.aha0 || $root.featureFlags.aha1 || $root.featureFlags.aha2}"
  )
    .grid-block.shrink.aha-meter(
      ng-class = "{'aha-meter-50': $root.featureFlags.aha3}"
    )
      svg.iconnables
        use(
          xlink:href = "#icons-runnabot"
        )
        //- if complete
        //- use(
        //-   xlink:href = "#icons-check"
        //- )
    .grid-block.vertical
      p.p.strong Set Up Runnabot
      p.small Receive notifications on pull requests when your container is ready.
