.grid-block.shrink(
  ng-if = "!$root.featureFlags.ahaOverview && !$root.featureFlags.aha3"
)
  header.grid-block.align-center.justify-center.aha-sidebar-header
    h4.grid-content.strong.text-center.h4 Setup Guide
    svg.grid-content.shrink.iconnables.icons-close(
      ng-click = "$root.featureFlags.ahaSidebar = false"
    )
      use(
        xlink:href = "#icons-close"
      )

.grid-block.shrink.vertical.aha-overview(
  ng-if = "$root.featureFlags.ahaOverview"
)
  header.grid-block.vertical.shrink.align-center.justify-center.aha-sidebar-header
    h4.grid-content.shrink.h4.text-center Let‘s get running! 👋
  .grid-block.shrink.vertical.padding-sm
    p.grid-content.shrink.p.text-center It’ll take a few steps to get everything set up. But don’t worry — we’re here to help!
    button.grid-content.shrink.btn.btn-md.green(
      ng-click = "\
        $root.featureFlags.ahaOverview = false;\
        $root.featureFlags.ahaSidebar = false;\
      "
    ) Get Started

.grid-block.shrink.vertical.aha-guide-wrapper(
  ng-if = "!$root.featureFlags.aha3"
)
  .grid-block.shrink.align-center.padding-sm.aha-guide(
    ng-class = "{'disabled': $root.featureFlags.aha1 || $root.featureFlags.aha2 || $root.featureFlags.aha3}"
  )
    .grid-block.shrink.aha-meter(
      ng-class = "{\
        'aha-meter-50': $root.featureFlags.aha0,\
        'aha-meter-100': $root.featureFlags.aha1 || $root.featureFlags.aha2 || $root.featureFlags.aha3\
      }"
    )
      svg.iconnables
        use(
          ng-if = "$root.featureFlags.aha1 || $root.featureFlags.aha2 || $root.featureFlags.aha3"
          xlink:href = "#icons-check"
        )
    .grid-block.vertical.aha-text
      p.p.strong Choose your Organization
      p.small This is the first step to success.

  .grid-block.shrink.align-center.padding-sm.aha-guide(
    ng-class = "{'disabled': $root.featureFlags.aha0 || $root.featureFlags.aha2 || $root.featureFlags.aha3}"
  )
    .grid-block.shrink.aha-meter(
      ng-class = "{\
        'aha-error': state.showError,\
        'aha-meter-10': state.showSubStep === 0,\
        'aha-meter-20': state.showSubStep === 1,\
        'aha-meter-30': state.showSubStep === 2,\
        'aha-meter-40': state.showSubStep === 3,\
        'aha-meter-50': state.showSubStep === 4,\
        'aha-meter-60': state.showSubStep === 5,\
        'aha-meter-70': state.showSubStep === 6,\
        'aha-meter-80': state.showSubStep === 7,\
        'aha-meter-90': state.showSubStep === 8,\
        'aha-meter-100': $root.featureFlags.aha2 || $root.featureFlags.aha3\
      }"
    )
      svg.iconnables
        use(
          ng-if = "!$root.featureFlags.aha2 && !$root.featureFlags.aha3"
          xlink:href = "#icons-octicons-repo"
        )
        use(
          ng-if = "$root.featureFlags.aha2 || $root.featureFlags.aha3"
          xlink:href = "#icons-check"
        )
    .grid-block.vertical.aha-text
      p.p.strong Create your First Template
      p.small Set up your project and get it running!

  .grid-block.shrink.align-center.padding-sm.aha-guide(
    ng-class = "{'disabled': $root.featureFlags.aha0 || $root.featureFlags.aha1 || $root.featureFlags.aha3}"
  )
    .grid-block.shrink.aha-meter(
      ng-class = "{\
        'aha-meter-33': $root.featureFlags.aha2,\
        'aha-meter-100': $root.featureFlags.aha3\
      }"
    )
      svg.iconnables
        use(
          ng-if = "!$root.featureFlags.aha3"
          xlink:href = "#icons-octicons-branch"
        )
        use(
          ng-if = "$root.featureFlags.aha3"
          xlink:href = "#icons-check"
        )
    .grid-block.vertical.aha-text
      p.p.strong Add your First Branch
      p.small Your branches will update on every commit you make.

.grid-block.vertical.align-center.text-center.aha-overview(
  ng-if = "$root.featureFlags.aha3"
)
  header.grid-block.shrink.align-center.justify-center.aha-sidebar-header
    h4.grid-content.shrink.strong.text-center.h4 You did it!
    svg.iconnables.icons-close(
      ng-click = "\
        $root.featureFlags.aha = false;\
        $root.featureFlags.aha3 = false;\
        $root.featureFlags.ahaSidebar = false;\
      "
    )
      use(
        xlink:href = "#icons-close"
      )
  .grid-block.vertical.align-center.form-github(
    github-integration
  )
