.popover.bottom.popover-add-repo(
  ng-class = "{in: data.show}"
  ng-click = "$event.preventDefault();$event.stopPropagation();"
)
  .arrow.white
  .spinner-wrapper.spinner-md.in(
    ng-show = "state.loading"
    ng-include = "'spinner'"
  )
  .popover-content(
    ng-hide = "state.loading"
  )
    .popover-content-header
      small.list-item.small Add Repository
      input.input.input-search.input-search-sm(
        autofocus
        ng-model = "data.repoFilter"
        placeholder = "filter"
        select-on = "data.showFilter"
        required
      )
    ul.list.popover-list
      li.list-item.popover-list-item(
        ng-click = "actions.addRepo(repo)"
        ng-repeat = "\
          repo in data.githubRepos.models | \
          unaddedRepos:data.build.contextVersions.models[0].appCodeVersions | \
          repos:data.repoFilter as newRepos"
        title = "{{ repo.attrs.full_name }}"
      ) {{ repo.attrs.full_name }}
      li.popover-list-item.no-actions(
      ng-if = "newRepos.length === 0"
      ) No matches
      //- li.popover-list-item.no-actions There's nothing left to add.
