.popover.bottom.popover-add-repo(
  ng-class = "{\
    in: data.show\
  }"
)
  .arrow
  h3.popover-title(
    ng-class = "{\
      'show-filter': data.showFilter\
    }"
  )
    //- should clear on close
    button.white.btn-icon.btn-search(
      ng-click = "data.showFilter = !data.showFilter;\
        data.repoFilter = '';"
      ng-class = "{\
        active: data.showFilter\
      }"
      title = "Filter Repositories"
    )
      svg.iconnables.icons-search
        use(
          xlink:href = "#icons-search"
        )
    //- focus on visible
    input.title-filter(
      ng-model = "data.repoFilter"
      placeholder = "Filter Repositories"
      select-on = "data.showFilter"
    )
    //- title
    span.title Add Repository
  .popover-content
    ul.popover-body.popover-list
      li.popover-list-item(
        ng-click = "actions.addRepo(repo)"
        ng-repeat = "\
          repo in data.githubRepos.models | \
          unaddedRepos:data.build.contextVersions.models[0].appCodeVersions | \
          repos:data.repoFilter"
        title = "{{ repo.attrs.full_name }}"
      )
        span {{ repo.attrs.full_name }}
      li.popover-list-item.no-actions(
        ng-if = "\
          (data.githubRepos.models | \
          unaddedRepos:data.build.contextVersions.models[0].appCodeVersions | \
          repos:data.repoFilter).length === 0"
      ) No matches.
      //- li.popover-list-item.no-actions There's nothing left to add.
