.modal-backdrop.in
  .grid-block.shrink.align-center.justify-center.padding-sm.aha-guide(
    aha-guide-directive
    step-index = 1
    sub-step-index = 6
    sub-step = "files"
    ng-if = "$root.featureFlags.aha1"
    "
  )
  form.modal-dialog.modal-edit(
    name = "SMC.serverForm"
    ng-include = "'serverModalView'"
    ng-class = "{\
      'ace-active': (SMC.selectedTab === 'buildfiles' || SMC.selectedTab === 'env'),\
      'disabled': $root.isLoading[SMC.name] || $root.isLoading[SMC.name + 'IsBuilding'],\
      'xl': (SMC.selectedTab === 'buildfiles' || SMC.selectedTab === 'env' || SMC.selectedTab === 'logs')\
    }"
  )
