.modal-backdrop.in
  .grid-block.shrink.align-center.justify-center.padding-sm.aha-guide(
    ng-if = "$root.featureFlags.aha1"
    ng-include = "'ahaGuideView'"
    ng-init = "\
      state.showStep = 1;\
      state.showSubStep = 6;\
      state.fromMirroring = true;\
    "
  )
  form.modal-dialog.modal-edit(
    name = "SMC.serverForm"
    ng-include = "'serverModalView'"
    ng-class = "{\
      'ace-active': (SMC.selectedTab === 'buildfiles' || SMC.selectedTab === 'env'),\
      'disabled': $root.isLoading[SMC.name] || $root.isLoading[SMC.name + 'IsBuilding'],\
      'xl': (SMC.selectedTab === 'buildfiles' || SMC.selectedTab === 'env' || SMC.selectedTab === 'logs')\
    }"
  )
