.modal-backdrop.in
  form.modal-dialog.modal-edit(
    name = "serverForm"
    ng-if = "SMC.state.repo"
    ng-include = "'verifyServerSectionView'"
    ng-class = "{\
      'ace-active': (SMC.selectedTab === 'buildfiles' || SMC.selectedTab === 'env'),\
      'disabled': $root.isLoading.setupServerModal || $root.isLoading.setupServerModalIsBuilding,\
      'xl': (SMC.selectedTab === 'buildfiles' || SMC.selectedTab === 'env' || SMC.selectedTab === 'logs')\
    }"
  )
  .modal-dialog.modal-server-select(
    ng-if = "!SMC.state.repo"
    ng-include = "'repositorySelectSectionView'"
  )
