.modal-backdrop.in
  .grid-block.shrink.align-center.justify-center.padding-sm.aha-guide(
    ng-if = "$root.featureFlags.aha1"
    ng-include = "'ahaGuideView'"
    ng-init = "\
      state.showStep = 1;\
      state.showSubStep = 4;\
    "
  )
  form.modal-dialog.modal-edit(
    name = "SMC.serverForm"
    ng-if = "SMC.state.repo"
    ng-include = "'serverModalView'"
    ng-class = "{\
      'ace-active': (SMC.selectedTab === 'buildfiles' || SMC.selectedTab === 'env'),\
      'disabled': $root.isLoading.setupServerModal || $root.isLoading.setupServerModalIsBuilding,\
      'xl': (SMC.selectedTab === 'buildfiles' || SMC.selectedTab === 'env' || SMC.selectedTab === 'logs')\
    }"
  )
  .modal-dialog.modal-sm.modal-server-select.deprecated(
    ng-if = "!SMC.state.repo"
    ng-include = "'repositorySelectSectionView'"
  )
