.modal-backdrop.in
  .grid-block.shrink.align-center.justify-center.padding-sm.aha-guide(
    aha-guide
    ng-if = "SMC.state.advanced !== 'blankDockerfile' && SMC.ahaGuide.getCurrentStep() === SMC.ahaGuide.steps.ADD_FIRST_REPO"
    step-index = 1
    sub-step = "repository"
    sub-step-index = 4
  )
  .grid-block.shrink.align-center.justify-center.padding-sm.aha-guide(
    aha-guide
    ng-if = "SMC.state.advanced === 'blankDockerfile' && SMC.ahaGuide.getCurrentStep() === SMC.ahaGuide.steps.ADD_FIRST_REPO"
    step-index = 1
    sub-step = "buildfiles"
    sub-step-index = 6
  )
  form.modal-dialog.modal-edit(
    name = "SMC.serverForm"
    ng-if = "SMC.state.repo"
    ng-include = "'serverModalView'"
    ng-class = "{\
      'ace-active': (SMC.selectedTab === 'buildfiles' || SMC.selectedTab === 'env'),\
      'disabled': $root.isLoading.setupServerModal || $root.isLoading.setupServerModalIsBuilding,\
      'xl': (SMC.selectedTab === 'buildfiles' || SMC.selectedTab === 'env' || SMC.selectedTab === 'logs')\
    }"
  )
  .modal-dialog.modal-sm.modal-server-select.deprecated(
    ng-if = "!SMC.state.repo"
    ng-include = "'repositorySelectSectionView'"
  )
