.help-container(
  ng-if = "SMC.helpCards.getActiveCard().helpPopover.containerFiles"
)
  .help
    button.btn.btn-xs.btn-icon(
      ng-click = "SMC.helpCards.hideActiveCard()"
    )
      svg.iconnables.icons-close
        use(
          xlink:href = "#icons-close"
        )
    span(
      ng-bind-html = "SMC.helpCards.getActiveCard().helpPopover.containerFiles"
    )

.grid-block.shrink.vertical.well.gray.in
  .grid-block
    svg.grid-content.shrink.iconnables.icons-lock
      use(
        xlink:href = "#icons-lock"
      )
    .grid-content
      div Dockerfile Editing
      small.small
        em.underline(
          pop-over
          pop-over-hover-trigger
          pop-over-options = "{\"top\":25,\"centered\":true}"
          pop-over-template = "viewTooltipTools"
          pop-over-trigger = "hover"
        ) Some tools
        | &nbsp;are not available with editing enabled.
    //- when locking the dockerfile, prompt with modal template: viewModalLockDockerfile
    //- ✅ if repository (can simple mode) && previous simple build exists (can simple mode)
    label.toggle-wrapper(
      loading-promises-target = "{{SMC.name}}"
      read-only-switch
      state = "SMC.state"
    )

  .grid-block(
    ng-if = "$root.featureFlags.dockerfileSync"
  )
    svg.grid-content.shrink.iconnables.icons-sync
      use(
        xlink:href = "#icons-sync"
      )
    .grid-content
      div Dockerfile Syncing
      small.small
        //- icon and text for errors
        //- svg.iconnables.icons-alert-alt.float-left
          use(
            xlink:href = "#icons-alert-alt"
          )
        //- | Error: File not found
        | Syncing: reponame/path/to/dockerfile
        button.btn.btn-xxs.gray(
          internal-modal-helper = "viewModalSync"
        ) Change…
    label.toggle-wrapper
      input.toggle-input(
        type = "checkbox"
      )
      .toggle-group.toggle-sm


//- table of current environment variables
//- if dockerfile tool feature flag:
//- state.readOnly = true
.ace-container.ace-build-files(
  ng-class = "{\
    'ace-runnable-dark': !$root.featureFlags.imAfraidOfTheDark,\
    'ace-runnable-light': $root.featureFlags.imAfraidOfTheDark\
  }"
)

  .sidebar(
    edit-explorer = "true"
    explorer
    explorer-title = "Build Files"
    file-model = "SMC.state.contextVersion"
    loading-promises-target = "editServerModal"
    open-items = "SMC.openItems"
    read-only = "!SMC.state.advanced"
    root-dir = "SMC.state.contextVersion.rootDir"
    show-repo-folder = "true"
    get-display-name = "SMC.getDisplayName"
  )

  .ace_editor(
    file = "item"
    file-editor
    loading = "SMC.loading"
    loading-promises-target = "editServerModal"
    ng-class = "{'readonly': !SMC.state.advanced}"
    ng-if = "item.state.type === 'File'"
    ng-repeat = "item in SMC.openItems.models track by item.id()"
    ng-show = "item === SMC.openItems.activeHistory.last()"
    read-only = "!SMC.state.advanced"
    state = "SMC.state"
  )

  .floating-controls(
    ng-include = "'viewFloatingControls'"
  )
