.help-container(
  ng-if = "helpCards.getActiveCard().helpPopover.containerFiles"
)
  .help(
    ng-bind-html = "helpCards.getActiveCard().helpPopover.containerFiles"
  )
.help-padding(
  ng-bind-html = "helpCards.getActiveCard().helpPopover.containerFiles"
  ng-if = "helpCards.getActiveCard().helpPopover.containerFiles"
)

.table-actions.table-toggle

  small.small
    strong.strong Allow Dockerfile Access
    small.small.multi-line When enabled, #{''}
      em.underline(
        tooltip = "Modified Dockerfiles do not have Container CMD, Main Repository, Exposed Ports, and Container Files tools."
        tooltip-options = "{\"class\":\"bottom tooltip-definition\",\"left\":-3,\"top\":15}"
      ) some tools
      | #{''} will be unavailable.

      //- ************
      //- this link is only for triggering the modal for locking the dockerfile. remove in production.
      //- ************
      a.link(
        modal
        modal-template = "viewModalLockDockerfile"
        style = "color: red; margin-left: 3px;"
      ) Test Link

  label.toggle-wrapper
    input.toggle-input(
      ng-false-value = "true"
      ng-model = "state.readOnly"
      ng-true-value = "false"
      type = "checkbox"
    )
    .toggle-group.toggle-sm

//- table of current environment variables
.ace-container.ace-build-files.ace-runnable-dark(
  ng-init = "state.readOnly = true"
)

  .sidebar(
    edit-explorer = "true"
    explorer
    explorer-title = "Build Files"
    file-model = "state.contextVersion"
    open-items = "openItems"
    loading-promises-target = "editServerModal"
    root-dir = "state.contextVersion.rootDir"
    read-only = "state.readOnly"
    show-repo-folder = "true"
  )

  .ace_editor(
    file = "item"
    file-editor
    loading = "loading"
    loading-promises-target = "editServerModal"
    ng-if = "item.state.type === 'File'"
    ng-repeat = "item in openItems.models track by item.id()"
    ng-show = "item === openItems.activeHistory.last()"
    read-only = "state.readOnly"
    state = "state"
    use-auto-update = "true"
  )

//- small.small Last modified on May 25, 2014 at 10:35 AM
  button.btn.btn-xxs.gray Restore