.grid-block.shrink.align-center.well.well-600.gray.can-disable.padding-sm(
  ng-if = "!SMC.state.advanced"
)
  svg.grid-content.shrink.iconnables.icons-dockerfile-lock
    use(
      xlink:href = "#icons-dockerfile-lock"
    )
  .grid-content.text-overflow
    div Unlock Dockerfile
    small.small
      span.span.text-overflow.float-left Editing your Dockerfile is for advanced users and is not reversible.

  button.grid-content.shrink.btn.btn-sm.white(
    ng-click = "SMC.showAdvancedModeConfirm()"
  )
    svg.iconnables.icons-lock
      use(
        xlink:href = "#icons-lock"
      )
    | Unlock

//- add logic for repository containers only
.grid-block.shrink.align-center.well.well-600.gray.can-disable.padding-sm(
  ng-if = "SMC.state.advanced && !SMC.state.isNonRepoContainer"
)
  svg.grid-content.shrink.iconnables.icons-sync
    use(
      xlink:href = "#icons-sync"
    )
  .grid-content.text-overflow(
    ng-class = "{'padding-right': SMC.state.advanced === 'isMirroringDockerfile'}"
  )
    div Mirror Dockerfile
    small.small(
      ng-if = "\
        SMC.state.advanced === 'isMirroringDockerfile' && \
        (SMC.instance.mirroredDockerfile || SMC.state.dockerfile)\
      "
    )
      span.span.text-overflow.float-left(
        ng-title = "SMC.state.contextVersion.attrs.buildDockerfilePath"
        ng-if = "!SMC.instance || SMC.instance.mirroredDockerfile"
      ) Mirroring from GitHub: {{ SMC.state.contextVersion.attrs.buildDockerfilePath }}
    small.small(
      ng-if = "\
        SMC.state.advanced === 'isMirroringDockerfile' && \
        SMC.instance && SMC.instance.mirroredDockerfile === null \
      "
    )
      //- when there's an error
      svg.iconnables.icons-alert-alt.float-left
        use(
          xlink:href = "#icons-alert-alt"
        )
      span.span.float-left Error: Dockerfile not found
    small.small(
      ng-if = "SMC.state.advanced !== 'isMirroringDockerfile'"
    )
      span.span.text-overflow.float-left Mirror with a Dockerfile from this repo on GitHub.
      button.btn.btn-xxs.gray(
        internal-modal-helper = "changeMirrorView"
        ng-if = "$root.featureFlags.dockerfileMirroringMultiple"
      ) Change…

  //- this should open the 'viewModalSync' view when syncing has not been set up
  label.grid-content.toggle-wrapper.shrink
    input.toggle-input(
      ng-model = "SMC.switchBetweenAdvancedAndMirroring"
      ng-model-options = "{getterSetter: true}"
      type = "checkbox"
    )
    .toggle-group.toggle-sm

//- table of current environment variables
//- if dockerfile tool feature flag:
//- state.readOnly = true
.ace-container.ace-build-files(
  ng-class = "{\
    'ace-runnable-dark': !$root.featureFlags.imAfraidOfTheDark,\
    'ace-runnable-light': $root.featureFlags.imAfraidOfTheDark\
  }"
)

  .sidebar(
    edit-explorer = "true"
    explorer
    explorer-title = "Build Files"
    file-model = "SMC.state.contextVersion"
    loading-promises-target = "editServerModal"
    ng-if = "SMC.state.advanced !== 'isMirroringDockerfile'"
    open-items = "SMC.openItems"
    read-only = "!SMC.state.advanced"
    root-dir = "SMC.state.contextVersion.rootDir"
    show-repo-folder = "true"
    get-display-name = "SMC.getDisplayName"
  )

  .ace_editor(
    file = "item"
    file-editor
    loading-promises-target = "editServerModal"
    ng-class = "{'readonly': !SMC.state.advanced || (SMC.state.advanced && SMC.state.advanced === 'isMirroringDockerfile') }"
    ng-if = "item.state.type === 'File'"
    ng-repeat = "item in SMC.openItems.models track by item.id()"
    ng-show = "item === SMC.openItems.activeHistory.last()"
    read-only = "!SMC.state.advanced || SMC.state.advanced === 'isMirroringDockerfile'"
    state = "SMC.state"
  )

  .floating-controls(
    ng-include = "'viewFloatingControls'"
  )
