.help-container(
  ng-if = "helpCards.getActiveCard().helpPopover.containerFiles"
)
  .help(
    ng-bind-html = "helpCards.getActiveCard().helpPopover.containerFiles"
  )
.help-padding(
  ng-bind-html = "helpCards.getActiveCard().helpPopover.containerFiles"
  ng-if = "helpCards.getActiveCard().helpPopover.containerFiles"
)

//- .clearfix
//-   .label-col Container Files

small.small Modifying your Dockerfile will disable #{''}
  em.underline some tools
  | . We'll save your configuration when you begin modifying the Dockerfile so you can restore it if you choose to.
  button.btn.btn-xs.gray(
    ng-click = "state.readOnly = false"
  ) Modify Dockerfile

//- table of current environment variables
.ace-container.ace-build-files.ace-runnable-dark(
  ng-init = "state.readOnly = true"
)

  .sidebar(
    edit-explorer = "true"
    explorer
    explorer-title = "Build Files"
    file-model = "state.contextVersion"
    open-items = "openItems"
    loading-promises-target = "editServerModal"
    root-dir = "state.contextVersion.rootDir"
    show-repo-folder = "true"
    read-only = "state.readOnly"
  )

  .ace_editor(
    file = "item"
    file-editor
    loading = "loading"
    ng-if = "item.state.type === 'File'"
    ng-repeat = "item in openItems.models track by item.id()"
    ng-show = "item === openItems.activeHistory.last()"
    state = "state"
    use-auto-update = "true"
    loading-promises-target = "editServerModal"
  )

//- small.small 😌🐻✌️ #{''}
//-   a.link(
//-     href = "//google.com"
//-     target = "_blank"
//-   ) More about build files