.help-container(
  ng-if = "helpCards.getActiveCard().helpPopover.containerFiles"
)
  .help(
    ng-bind-html = "helpCards.getActiveCard().helpPopover.containerFiles"
  )
.help-padding(
  ng-bind-html = "helpCards.getActiveCard().helpPopover.containerFiles"
  ng-if = "helpCards.getActiveCard().helpPopover.containerFiles"
)

//- .clearfix
//-   .label-col Container Files

.table-actions.table-toggle

  small.small
    strong.strong Allow Dockerfile Editing
    | Your configuration will be saved when you enable editing. If you choose to disable editing, we'll restore your saved configuration.

  label.toggle-wrapper
    input.toggle-input(
      ng-false-value = "true"
      ng-model = "state.readOnly"
      ng-true-value = "false"
      type = "checkbox"
    )
    .toggle-group.toggle-sm

//- table of current environment variables
.ace-container.ace-build-files.ace-runnable-dark(
  ng-init = "state.readOnly = true"
)

  .sidebar(
    edit-explorer = "true"
    explorer
    explorer-title = "Build Files"
    file-model = "state.contextVersion"
    open-items = "openItems"
    loading-promises-target = "editServerModal"
    root-dir = "state.contextVersion.rootDir"
    show-repo-folder = "true"
    read-only = "state.readOnly"
  )

  .ace_editor(
    file = "item"
    file-editor
    loading = "loading"
    ng-if = "item.state.type === 'File'"
    ng-repeat = "item in openItems.models track by item.id()"
    ng-show = "item === openItems.activeHistory.last()"
    state = "state"
    use-auto-update = "true"
    loading-promises-target = "editServerModal"
  )

//- small.small Last modified on May 25, 2014 at 10:35 AM
  button.btn.btn-xxs.gray Restore