.help-container(
  ng-if = "helpCards.getActiveCard().helpPopover.containerFiles"
)
  .help(
    ng-bind-html = "helpCards.getActiveCard().helpPopover.containerFiles"
  )
.help-padding(
  ng-if = "helpCards.getActiveCard().helpPopover.containerFiles"
  ng-bind-html = "helpCards.getActiveCard().helpPopover.containerFiles"
)

.clearfix
  .label-col Container Files

//- table of current environment variables
.ace-container.ace-build-files.ace-runnable-dark

  .sidebar(
    edit-explorer = "true"
    explorer
    explorer-title = "Build Files"
    file-model = "state.contextVersion"
    open-items = "openItems"
    root-dir = "state.contextVersion.rootDir"
    show-repo-folder = "true"
  )

  .ace_editor(
    file = "item"
    file-editor
    loading = "loading"
    ng-if = "item.state.type === 'File'"
    ng-repeat = "item in openItems.models track by item.id()"
    ng-show = "item === openItems.activeHistory.last()"
    use-auto-update = "true"
  )

//- small.small 😌🐻✌️ #{''}
//-   a.link(
//-     href = "//google.com"
//-     target = "_blank"
//-   ) More about build files