.help-container(
  ng-if = "helpCards.getActiveCard().helpPopover.containerFiles"
)
  .help(
    ng-bind-html = "helpCards.getActiveCard().helpPopover.containerFiles"
  )

.table-actions.table-toggle(
  ng-if = "$root.featureFlags.dockerfileTool"
)
  svg.iconnables.float-left
    use(
      xlink:href = "#icons-lock"
    )
  strong.small.strong Enable Dockerfile Editing

  small.small
    em.underline.tooltip-plus-wrapper Some tools
      .tooltip-plus.tooltip-tools.bottom(
        ng-include = "'viewTooltipTools'"
        style = "left: -15px; top: 27px;"
      )
    | &nbsp;are not available with editing enabled.

  //- when locking the dockerfile, prompt with modal template: viewModalLockDockerfile
  //- ✅ if repository (can simple mode) && previous simple build exists (can simple mode)
  label.toggle-wrapper.show-icons(
    loading-promises-target = "editServerModal"
    read-only-switch
    state = "state"
  )

//- table of current environment variables
//- if dockerfile tool feature flag:
//- state.readOnly = true
.ace-container.ace-build-files(
  ng-class = "{\
    'ace-runnable-dark': !$root.featureFlags.imAfraidOfTheDark,\
    'ace-runnable-light': $root.featureFlags.imAfraidOfTheDark\
  }"
  ng-init = "state.readOnly = $root.featureFlags.dockerfileTool"
)

  .sidebar(
    edit-explorer = "true"
    explorer
    explorer-title = "Build Files"
    file-model = "state.contextVersion"
    loading-promises-target = "editServerModal"
    open-items = "openItems"
    read-only = "!state.advanced"
    root-dir = "state.contextVersion.rootDir"
    show-repo-folder = "true"
  )

  .ace_editor(
    file = "item"
    file-editor
    loading = "loading"
    loading-promises-target = "editServerModal"
    ng-if = "item.state.type === 'File'"
    ng-repeat = "item in openItems.models track by item.id()"
    ng-show = "item === openItems.activeHistory.last()"
    read-only = "!state.advanced"
    state = "state"
  )

  .floating-controls(
    ng-include = "'viewFloatingControls'"
  )
