header#primary(ng-if      = "rootData.state.current.data.header"
               ng-include = "'viewHeader'")
main(ui-view)
footer(ng-if      = "rootData.state.current.data.footer"
       ng-include = "'viewFooter'")

div(ng-controller = "ControllerDevelopmentStatus"
    ng-include    = "'viewDevelopmentStatus'"
    ng-style      = "DevStatusData.style")