.pre.build-log
  .build-log-content
    | Created client/dist/css/error.css (2534 bytes)
    | Created client/dist/css/error.css.map (1408 bytes)
    p(style='color:#df4f3e')
      | no hostkey alg
    p(style='color:#df4f3e')
    | Created client/dist/css/home.css.map (6140 bytes)
    p(style='color:#df4f3e')
    | Created client/dist/css/index.css (55977 bytes)
    p(style='color:#df4f3e')
      | no hostkey alg
    p(style='color:#df4f3e')
    | Created client/dist/css/index.css.map (38294 bytes)
    | Created client/dist/images/favicon-gray.png (1048 bytes)
.build-log.pre.green
  .build-log-header
    .build-log-header-text Backup successfully created 10 hours ago
