.error-wrapper(
  ng-init = "error='notSignedIn'"
)
  .error-content(
    ng-if = "error === 'notSignedIn'"
    ng-include = "'view404NotSignedIn'"
  )
  .error-content(
    ng-if = "error === 'invalidUrl'"
    ng-include = "'view404InvalidUrl'"
  )
  .error-content(
    ng-if = "error === 'containerDown'"
    ng-include = "'view404ContainerDown'"
  )
  .error-content(
    ng-if = "error === 'portClosed'"
    ng-include = "'view404PortClosed'"
  )
  .error-content(
    ng-if = "error === 'other'"
    ng-include = "'view404Other'"
  )