.modal-backdrop.in
  .modal-dialog
    header.modal-header
      h1.modal-heading {{ dataError }}
    main.modal-body
      p.modal-description Check the URL or go #{''}
        a.modal-link(
          href = "/"
        ) back to home
        | .