.error-content
  img.runnabear-head(
    src = "/build/images/runnabear_head.jpg"
  )
  .error-text
    h1.h1 Container is building
    p.p The container for
      strong.strong  api/my-cool-branch
      |  is currently building.
    a.link(
        href='#'
      ) View the build logs in Runnable