.error-wrapper(
  ng-init = "\
  notSignedIn = true;\
  invalidUrl = null;\
  containerDown = null;\
  portClosed = null;\
  other = null"
)
  img.runnabear-head(
    src = "/build/images/runnabear_head.jpg"
  )
  .error-content(
    ng-if = "notSignedIn"
    ng-include = "'view404NotSignedIn'"
  )
  .error-content(
    ng-if = "invalidUrl"
    ng-include = "'view404InvalidUrl'"
  )
  .error-content(
    ng-if = "containerDown"
    ng-include = "'view404ContainerDown'"
  )
  .error-content(
    ng-if = "portClosed"
    ng-include = "'view404PortClosed'"
  )
  .error-content(
    ng-if = "other"
    ng-include = "'view404Other'"
  )