.error-content
  img.runnabear-head(
    src = "/build/images/runnabear_head.jpg"
  )
  .error-text
    h1.h1 Sign in first!
    p.p You need to
      | #{''}
      a.link(
        href='#'
      ) sign in
      | #{''}
      | through GitHub before you can access this page.