section.grid-block.vertical.modal-body

  svg.iconnables.icons-close(
    ng-click = "NCC.close()"
  )
    use(
      xlink:href = "#icons-close"
    )

  .grid-block.vertical.modal-form.no-border
    .label-tabs.grid-block
      label.grid-block.align-center.btn.btn-radio(
        ng-class = "{'active': NCC.state.dockerFileTab === 'kubernetes'}"
        ng-click = "\
          NCC.state.dockerFileTab = 'kubernetes';\
          NCC.state.configurationMethod = 'dockerComposeFile'\
        "
        ng-if = "$root.featureFlags.kubernetes"
      )
        svg.grid-block.shrink.btn.btn-xs.btn-icon.btn-add.iconnables.icons-check
          use(
            xlink:href = "#icons-check"
          )
        .grid-block.vertical.text-left
          p.p.weight-strong Use Kubernetes
          small.small Set up from Kubernetes files in your repo.

      label.grid-block.align-center.btn.btn-radio(
        data-event-name = "Selected Compose Setup"
        ng-class = "{'active': NCC.state.dockerFileTab === 'compose'}"
        ng-click = "NCC.state.dockerFileTab = 'compose'; NCC.state.configurationMethod = 'dockerComposeFile'"
      )
        svg.grid-block.shrink.btn.btn-xs.btn-icon.btn-add.iconnables.icons-check
          use(
            xlink:href = "#icons-check"
          )
        .grid-block.vertical.text-left
          p.p.weight-strong Use a Compose File
          small.small Set up from a Compose file in your repo.

      label.grid-block.align-center.btn.btn-radio(
        data-event-name = "Selected Dockerfile Setup"
        ng-class = "{'active': NCC.state.dockerFileTab === 'dockerfile'}"
        ng-click = "NCC.state.dockerFileTab = 'dockerfile'; NCC.state.configurationMethod = 'dockerfile'"
        ng-if = "!$root.featureFlags.kubernetes"
      )
        svg.grid-block.shrink.btn.btn-xs.btn-icon.btn-add.iconnables.icons-check
          use(
            xlink:href = "#icons-check"
          )
        .grid-block.vertical.text-left
          p.p.weight-strong No Compose File
          small.small Set up from scratch or from a Dockerfile.

    //- form for naming the environment
    form.grid-block.vertical.label(
      name = "NCC.nameForm"
      ng-include = "'nameNewServiceView'"
    )

    .grid-block.vertical.views-kubernetes-setup(
      ng-if = "NCC.state.dockerFileTab === 'kubernetes'"
      ng-include = "'kubernetesSetupView'"
      ng-init = "ymlFiles = [\
        {path: 'k8/deployments/api.yml', label: 'api', testOn: true},\
        {path: 'k8/deployments/mongo.yml', label: 'mongo', testOn: true},\
        {path: 'k8/deployments/web.yml', label: 'web', testOn: true},\
        {path: 'k8/deployments/web-e2e.yml',label: 'web-e2e',  testOn: true},\
        {path: 'k8/services/api.yml', label: 'api service', testOn: true},\
        {path: 'k8/services/mongo.yml', label: 'mongo service',  testOn: true},\
        {path: 'k8/services/web.yml', label: 'web service', testOn: true}\
      ]"
    )

    //- form for dockerfile setup
    .grid-block.vertical.label.views-dockerfile-setup(
      branch-name = "NCC.state.repo.attrs.default_branch"
      mirror-dockerfile
      name = "'newContainer'"
      ng-if = "NCC.state.dockerFileTab !== 'kubernetes'"
      repo = "NCC.state.repo"
      state = "NCC.state"
    )

footer.modal-footer.clearfix
  button.btn.btn-md.gray.btn-cancel.float-left(
    ng-click = "NCC.close()"
  ) Cancel
  button.btn.btn-md.green.float-right(
    data-event-name = "Clicked to Add Service"
    ng-click = "NCC.saveDockerfileMirroring()"
    ng-disabled = "!NCC.canCreateBuild()"
    ng-if = "!$root.featureFlags.kubernetes"
  )
    .spinner-wrapper.spinner-white.spinner-sm.float-left(
      ng-if = "$root.isLoading.newContainerSingleRepo || $root.isLoading.creatingDockerCompose"
      ng-include = "'spinner'"
    )
    span(
      ng-if = "$root.featureFlags.composeNewService && NCC.state.repo"
    ) {{ NCC.getNextStepText() }}
    span(
      ng-if = "NCC.state.templateSource"
    ) Add Service
  button.btn.btn-md.green.float-right(
    data-event-name = "Clicked to Add Service"
    ng-click = "NCC.saveDemo()"
    ng-disabled = "!NCC.ymlValue.length"
    ng-if = "$root.featureFlags.kubernetes"
  )
    .spinner-wrapper.spinner-white.spinner-sm.float-left(
      ng-if = "$root.isLoading.newContainerSingleRepo || $root.isLoading.creatingDockerCompose"
      ng-include = "'spinner'"
    )
    span Create Environments
