section.grid-block.vertical.modal-body

  svg.iconnables.icons-close(
    ng-click = "NCC.close()"
  )
    use(
      xlink:href = "#icons-close"
    )

  .grid-block.vertical.modal-form.no-border
    .label-tabs.grid-block
      label.grid-block.align-center.btn.btn-radio(
        data-event-name = "Selected Compose Setup"
        ng-class = "{'active': NCC.state.dockerFileTab === 'compose'}"
        ng-click = "NCC.state.dockerFileTab = 'compose'; NCC.state.configurationMethod = 'dockerComposeFile'"
      )
        svg.grid-block.shrink.btn.btn-xs.btn-icon.btn-add.iconnables.icons-check
          use(
            xlink:href = "#icons-check"
          )
        .grid-block.vertical.text-left
          p.p.weight-strong Use a Compose File
          small.small Set up from a Compose file in your repo.

      label.grid-block.align-center.btn.btn-radio(
        data-event-name = "Selected Dockerfile Setup"
        ng-class = "{'active': NCC.state.dockerFileTab === 'dockerfile'}"
        ng-click = "NCC.state.dockerFileTab = 'dockerfile'; NCC.state.configurationMethod = 'dockerfile'"
      )
        svg.grid-block.shrink.btn.btn-xs.btn-icon.btn-add.iconnables.icons-check
          use(
            xlink:href = "#icons-check"
          )
        .grid-block.vertical.text-left
          p.p.weight-strong No Compose File
          small.small Set up from scratch or from a Dockerfile.

    //- form for naming the environment
    form.grid-block.vertical.label(
      name = "NCC.nameForm"
      ng-include = "'nameNewServiceView'"
    )

    //- form for dockerfile setup
    .grid-block.vertical.label.views-dockerfile-setup(
      branch-name = "NCC.state.repo.attrs.default_branch"
      mirror-dockerfile
      name = "'newContainer'"
      repo = "NCC.state.repo"
      state = "NCC.state"
    )

footer.modal-footer.clearfix
  button.btn.btn-md.gray.btn-cancel.float-left(
    ng-click = "NCC.close()"
  ) Cancel
  button.btn.btn-md.green.float-right(
    ng-disabled = "!NCC.canCreateBuild()"
    ng-click = "NCC.saveDockerfileMirroring()"
  )
    .spinner-wrapper.spinner-white.spinner-sm.float-left(
      ng-if = "$root.isLoading.newContainerSingleRepo"
      ng-include = "'spinner'"
    )
    span(
      ng-if = "$root.featureFlags.composeNewService && NCC.state.repo"
    ) {{ NCC.getNextStepText() }}
    span(
      ng-if = "NCC.state.templateSource"
    ) Add Service
