.padding-xxs.small.label-sm Compose File Branch
.grid-block(
  auto-update = "true"
  branch-selector
  loading-promises-target = "editServerModal"
  state = "NCC.state"
)
small.padding-xxs.small Choose a branch if your Compose file is not in your default branch.&#32;
