.padding-xxs.small.label-sm Initial Branch
.grid-block(
  auto-update = "true"
  branch-selector
  loading-promises-target = "editServerModal"
  state = "NCC.state"
)
small.padding-xxs.small Select the first branch you want to add.
