label
  .padding-xxs.small.label-sm Branch
  div(
    auto-update = "true"
    branch-selector
    loading-promises-target = "editServerModal"
    state = "state"
  )
  small.padding-xxs.small Select the branch you want to add first.
