label
  .padding-xxs.small.label-sm Name
  .input-spinner
    input.input.input-md.input-validate(
      autocomplete = "off"
      maxlength = "19"
      name = "instanceName"
      no-double-dash-validator
      ng-disabled = "$root.featureFlags.composeEditing"
      ng-model = "NCC.state.instanceName"
      ng-pattern = "/^[a-zA-Z0-9-]*$/"
      ng-placeholder = "{{NCC.state.instanceName}}"
      required
      spellcheck = "false"
      unique-validator = "NCC.state.namesForAllInstances"
    )
    svg.iconnables.icons-check(
      ng-if = "NCC.nameForm.$valid"
    )
      use(
        xlink:href = "#icons-check"
      )
    svg.iconnables.icons-close(
        ng-if = "NCC.nameForm.$invalid"
      )
        use(
          xlink:href = "#icons-close"
        )
  ul.margin-left-xxs.small.list-validation(
    ng-if = "NCC.nameForm.$invalid"
  )
    li.list-item(
      ng-class = "{'ng-invalid': NCC.nameForm.$error.unique}"
    ) Choose a unique name.
    li.list-item(
      ng-class = "{'ng-invalid': NCC.nameForm.$error.pattern || NCC.nameForm.$error.noDoubleDash}"
    ) Stick to letters, numbers, and non-consecutive hyphens.
    li.list-item(
      ng-class = "{'ng-invalid': NCC.nameForm.$error.maxlength}"
    ) Keep it at 19 characters or less.

  small.padding-xxs.small(
    ng-if = "NCC.nameForm.$valid"
  ) That’s a great name.
