label.grid-block.align-center.btn.btn-radio(
  ng-class = "{'active': NCC.state.dockerFileTab === 'kubernetes'}"
  ng-click = "\
    NCC.state.dockerFileTab = 'kubernetes';\
    NCC.state.configurationMethod = 'dockerComposeFile'\
  "
  ng-disabled = "NCC.state.dockerFileTab !== 'kubernetes' && $root.isLoading.creatingDockerCompose"
  ng-if = "$root.featureFlags.kubernetes"
)
  svg.grid-block.shrink.btn.btn-xs.btn-icon.btn-add.iconnables.icons-check
    use(
      xlink:href = "#icons-check"
    )
  .grid-block.vertical.text-left
    p.p.weight-strong Use Kubernetes
    small.small Set up from Kubernetes files in your repo.

label.grid-block.align-center.btn.btn-radio(
  data-event-name = "Selected Compose Setup"
  ng-class = "{'active': NCC.state.dockerFileTab === 'compose'}"
  ng-click = "NCC.setToComposeTab()"
  ng-disabled = "NCC.state.dockerFileTab !== 'compose' && $root.isLoading.creatingDockerCompose"
)
  svg.grid-block.shrink.btn.btn-xs.btn-icon.btn-add.iconnables.icons-check
    use(
      xlink:href = "#icons-check"
    )
  .grid-block.vertical.text-left
    p.p.weight-strong Use a Compose File
    small.small {{!$root.featureFlags.multipleWebhooks ? 'Set up from a Compose file in your repo.' : 'Set up environments for the repos in your Compose file.'}}

label.grid-block.align-center.btn.btn-radio(
  data-event-name = "Selected Dockerfile Setup"
  ng-class = "{'active': NCC.state.dockerFileTab === 'dockerfile'}"
  ng-click = "NCC.setToDockerTab()"
  ng-disabled = "NCC.state.dockerFileTab !== 'dockerfile' && $root.isLoading.creatingDockerCompose"
  ng-if = "!$root.featureFlags.kubernetes"
)
  svg.grid-block.shrink.btn.btn-xs.btn-icon.btn-add.iconnables.icons-check
    use(
      xlink:href = "#icons-check"
    )
  .grid-block.vertical.text-left
    p.p.weight-strong No Compose File
    small.small Set up from scratch or from a Dockerfile.
