.clearfix
  .label-col Billing History
.table.table-billing(
  ng-if = "invoices.length"
)
  .tr.clearfix(
    ng-repeat = "invoice in invoices"
  )
    .cell.monospace ${{invoice.total | centsToDollars}}
    .cell.text-overflow.small Paid by {{invoice.paidBy.githubUser.name || invoice.paidBy.githubUser.login}}
    .cell.monospace.text-right {{getBillingDate(invoice)}}

.well.gray.ignore-margin.text-center.padding-sm.small(
  ng-if = "invoices.length === 0"
) You have no billing history.

//- if there's something older to load
//-.label
  a.small.link Load Older
