.btn-group(
  ng-init = "page = 'rules'"
)
  button.btn.btn-xs.white.active(
    ng-class = "{active: page === 'rules'}"
    ng-click = "page = 'rules'"
  ) Rules
  button.btn.btn-xs.white(
    ng-class = "{active: page === 'preview'}"
    ng-click = "page = 'preview'"
  ) Preview Changes

div(
  ng-include = "'viewFormTranslationRules'"
  ng-show = "page === 'rules'"
)

div(
  ng-include = "'viewFormTranslationPreview'"
  ng-show = "page === 'preview'"
)