.tr.thead.clearfix
  .cell
    a.link(
      href = "//github.com"
      target = "_blank"
    ) build/index.html
    small.small thisContainer → associatedContainer
.tr.tr-deletion.clearfix
  .cell.monospace.cell-line 1
  .cell.monospace.text-overflow - userName: username
.tr.tr-addition.clearfix
  .cell.monospace.cell-line 1
  .cell.monospace.text-overflow + userName: account.oauthName()