.tr.thead.clearfix
  .cell
    a.link(
      href = "//github.com"
      target = "_blank"
    ) build/index.html
    //- if in preview tab
    button.btn.btn-xs.white(
      ng-if = "true"
    ) Ignore File
.tr.tr-deletion.clearfix
  .cell.monospace.cell-line 1
  .cell.monospace.text-overflow - userName: username
.tr.tr-addition.clearfix
  .cell.monospace.cell-line 1
  .cell.monospace.text-overflow + userName: account.oauthName()
.tr.tr-gap.clearfix
  .cell.monospace.cell-line ...
.tr.tr-deletion.clearfix
  .cell.monospace.cell-line 5123
  .cell.monospace.text-overflow - userName: username
.tr.tr-addition.clearfix
  .cell.monospace.cell-line 5123
  .cell.monospace.text-overflow + userName: account.oauthName()