.tr.thead.clearfix
  .cell Strings
    button.btn.btn-xs.white(
      pop-over
      pop-over-actions = "actions"
      pop-over-data = "data"
      pop-over-options = "{\"left\":0,\"top\":-108}"
      pop-over-template = "viewPopoverRules"
    ) New string rule
//- when dragging:
  - add .disabled to the .tr to be dragged
  - clone .tr that's being dragged
  - add .dragging class to the cloned .tr
  - add current width of .tr.disabled to the cloned .tr
.tr.tr-action.clearfix
  .cell.cell-action
    svg.iconnables.icons-drag
      use(
        xlink:href = "#icons-drag"
      )
  .cell.monospace.text-overflow(
    ng-class = "{disabled: noWarning}"
    title = "config/environment"
  ) config/environment
  .cell.monospace.text-overflow(
    title = "./client/config/environment.js"
  ) ./client/config/environment.js
  //- add .disabled if no warning
  .cell.cell-action.monospace.disabled(
    ng-class = "{disabled: noWarning}"
  )
    //- note: the title attribute
    svg.iconnables.icons-warning(
      title = "0 strings being replaced"
    )
      use(
        xlink:href = "#icons-warning"
      )
.tr.tr-action.clearfix
  .cell.cell-action
    svg.iconnables.icons-drag
      use(
        xlink:href = "#icons-drag"
      )
  .cell.monospace.text-overflow.disabled(
    ng-class = "{disabled: noWarning}"
    title = "./client/assets/js/primus-client.js"
  ) ./client/assets/js/primus-client.js
  .cell.monospace.text-overflow(
    title = "./client/assets/js/primus-client-prod.js"
  ) ./client/assets/js/primus-client-prod.js
  //- add .disabled if no warning
  .cell.cell-action.monospace(
    ng-class = "{disabled: noWarning}"
  )
    //- note: the title attribute
    svg.iconnables.icons-warning(
      title = "0 strings being replaced"
    )
      use(
        xlink:href = "#icons-warning"
      )
.tr.thead.clearfix
  .cell Filenames
    button.btn.btn-xs.white New filename rule
.tr.tr-action.clearfix
  //- hide drag if there is only one rule of that type
    - .disabled will hide the action visually
    - .no-touching will stop pointer events
  .cell.cell-action.disabled.no-touching(
    ng-class = "{\
      disabled: ifOnlyRuleOfType,\
      'no-touching': ifOnlyRuleOfType\
    "
  )
    svg.iconnables.icons-drag
      use(
        xlink:href = "#icons-drag"
      )
  .cell.monospace.text-overflow(
    ng-class = "{disabled: noWarning}"
    title = "./client/assets/js/primus-client.js"
  ) primus-client.js
  .cell.monospace.text-overflow(
    title = "./client/assets/js/primus-client-prod.js"
  ) primus-client-prod.js
  //- add .disabled if no warning
  .cell.cell-action.monospace.disabled(
    ng-class = "{disabled: noWarning}"
  )
    //- note: the title attribute
    svg.iconnables.icons-warning(
      title = "0 strings being replaced"
    )
      use(
        xlink:href = "#icons-warning"
      )