.spinner-wrapper.spinner-md.in(
  ng-if = "$root.isLoading.newContainerRepos"
  ng-include = "'spinner'"
)

//- hide this when loading
.grid-block.shrink.justify-justified.list-header(
  ng-if = "!$root.isLoading.newContainerRepos"
)
  small.small {{NCC.state.tabName === 'repos' ? 'By last updated' : ''}}

  //- search
    - disable while loading
  input.input.input-xs.input-search(
    autofocus
    ng-model = "NCC.repoFilter"
    ng-disabled = "$root.isLoading.newContainerSingleRepo"
    ng-keyup = "$digest"
    placeholder = "Search"
    required
    type = "search"
  )

//- show this if there are no repositories to add
.grid-block.well.gray.justify-center.padding-md(
  ng-if = "\
    !$root.isLoading.newContainerRepos && \
    NCC.githubRepos.models.length === 0 \
  "
)
  .p.empty
    .h3.strong Uh oh!
    | We couldn’t find any repositories for this organization. If you think this is a mistake,&#32;
    a.link(
      intercom-link
      intro-message = "This thing wont fetch my GitHub repos."
    )
    | .

//- list of repositories (mock up, we already have a template for this)
ul.list.list-servers(
  ng-if = "\
    !$root.isLoading.newContainerRepos && \
    NCC.githubRepos.models.length !== 0\
  "
)
  li.p.empty(
    ng-if = "NCC.githubRepos.models && !noResults.length"
  ) We couldn’t find any repositories named
    br
    | ‘{{NCC.repoFilter}}’.

  //- add active class when loading
  li.grid-block.align-center.list-item.multi-line.text-overflow(
    data-event-name = "Selected a Repository"
    ng-disabled = "$root.isLoading.newContainerSingleRepo"
    ng-click = "!$root.isLoading.newContainerSingleRepo && NCC.setRepo(repo, goToPanel)"
    ng-repeat = "\
      repo in NCC.githubRepos.models | \
      repos: NCC.repoFilter | \
      orderBy: '-attrs.pushed_at' as noResults\
    "
    ng-class = "{ \
      'active': repo.loading, \
      'disabled': $root.isLoading.newContainerSingleRepo \
    }"
  )
    .grid-content.text-overflow(
      title = "{{ repo.attrs.name }}"
    ) {{ repo.attrs.name }}
      .row.row-author(
        ng-if = "$root.featureFlags.inviteFlows"
      )
        //- if invite flows...
        .btn-user.text-overflow(
          ng-class = "{'active': NCC.state.active}"
          ng-include = "'userButtonView'"
          pop-over
          pop-over-active = "NCC.state.active"
          pop-over-options = "{\"left\":-22,\"top\":26}"
          pop-over-template = "userPopoverView"
        )
        span.small(
          ng-if = "$root.featureFlags.inviteFlows"
        ) {{repo.attrs.pushed_at | timeFrom}}
      small.small(
        ng-if = "!$root.featureFlags.inviteFlows"
      ) {{repo.attrs.pushed_at | timeFrom}}
        svg.iconnables.icons-server(
          ng-if = "$root.featureFlags.multipleRepositoryContainers"
          pop-over
          pop-over-hover-trigger
          pop-over-options = "{\"top\":27,\"centered\":true}"
          pop-over-template = "viewCountainerTooltip"
          pop-over-trigger = "hover"
        )
          use(
            xlink:href = "#icons-server"
          )
    button.grid-content.shrink.btn.btn-sm.btn-icon.btn-add(
      ng-if = "!repo.loading"
    ) Select
    .grid-content.shrink.spinner-wrapper.spinner-sm.spinner-purple.in(
      ng-if = "repo.loading"
      ng-include = "'spinner'"
    )
