.spinner-wrapper.spinner-md.in(
  ng-if = "$root.isLoading.newContainerTemplates"
  ng-include = "'spinner'"
)

.grid-block.shrink.justify-right.list-header(
  ng-if = "!$root.isLoading.newContainerTemplates"
)
  input.input.input-xs.input-search(
    autofocus
    ng-model = "NCC.serviceFilter"
    ng-disabled = ""
    placeholder = "Search"
    ng-keyup = "$digest"
    required
    type = "search"
  )

ul.list.list-servers(
  ng-if = "!$root.isLoading.newContainerTemplates"
)
  li.grid-block.align-center.list-item(
    ng-click = "NCC.setTemplate(dependency, goToPanel)"
    ng-repeat = "\
      dependency in NCC.templateServers.models | \
      removeTemplateInstances | \
      repos: NCC.serviceFilter | \
      orderBy:'attrs.name'\
    "
  )
    img.grid-content.shrink.img(
      height = "36"
      ng-src = "/build/images/logos/logo-icon-{{dependency.attrs.name.toLowerCase()}}.png"
      width = "36"
    )
    .grid-content {{dependency.attrs.name}}
    button.grid-content.shrink.btn.btn-sm.btn-icon.btn-add Select
