//- showVideo
//- hideVideo
//- showVideoFixed
//- closeVideoAlert
.embed-wrapper(
  ng-class = "{fixed: showVideoFixed}"
  ng-if = "!hideVideo"
)
  .embed-guide(
    ng-class = "{out: showVideo}"
  )
    h2.embed-heading Watch this video
    p It'll help you and stuff
    button.btn.btn-embed-play(
      ng-click = "showVideo = true"
    )
      svg.iconnables.icons-run
        use(
          xlink:href = "#icons-run"
        )
  iframe.embed-iframe(
    allowfullscreen
    frameborder="0"
    height = "100%"
    ng-if = "showVideo"
    src = "//www.youtube.com/embed/oiSn4-A8Qpw?rel=0&amp;showinfo=0&amp;autoplay=1"
    width = "100%"
  )
  button.btn.btn-icon.btn-embed-close(
    ng-click = "hideVideo = true"
  )
    svg.iconnables.icons-close
      use(
        xlink:href = "#icons-close"
      )
