#build-stream.container

  .row
    .pull-right
      input.form-control(placeholder = "Filter Builds")

  .row
    table.table.table-bordered.table-hover
      thead
        tr
          th
          th Build
          th Duration
          th Started
          th Triggered By
          th Commit Message
      tbody
        tr
          td
            span.glyphicons.circle-ok
          td 1776
          td 8 minutes
          td 1 hour ago
          td
            a prafulrana
            | (manual)
          td commit message about stuff
        tr
          td
            span.glyphicons.circle-ok
          td 1775
          td 8 minutes
          td 2 hours ago
          td
            a cflynn07
            | (manual)
          td commit message about stuff
        tr
          td
            span.glyphicons.circle-ok
          td 1774
          td 8 minutes
          td 3 hours ago
          td
            a cflynn07
            | (manual)
          td commit message about stuff
        tr
          td
            span.glyphicons.circle-exclamation-mark
          td 1773
          td 8 minutes
          td 4 hours ago
          td
            a runnabro
            | (manual)
          td commit message about stuff
        tr
          td
            span.glyphicons.circle-exclamation-mark
          td 1772
          td 8 minutes
          td 4 hours ago
          td
            a runnabro
            | (manual)
          td commit message about stuff
        tr
          td
            span.glyphicons.circle-exclamation-mark
          td 1771
          td 8 minutes
          td 4 hours ago
          td
            a runnabro
            | (manual)
          td commit message about stuff
        tr
          td
            span.glyphicons.circle-exclamation-mark
          td 1770
          td 8 minutes
          td 4 hours ago
          td
            a runnabro
            | (manual)
          td commit message about stuff
        tr
          td
            span.glyphicons.circle-exclamation-mark
          td 1769
          td 8 minutes
          td 4 hours ago
          td
            a runnabro
            | (manual)
          td commit message about stuff