.popover.bottom.popover-url(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
  style = "transform-origin: 5% 0;"
)
  .arrow.white(
    style = "left: 20px; right: auto;"
  )
  .popover-content
    h4.h4.strong URL Redirect
    p.small Your container’s URL redirects to your Elastic Hostname.

    .figure
      svg.iconnables.icons-redirect
        use(
          xlink:href = "#icons-redirect"
        )

      svg.iconnables.icons-redirect
        use(
          xlink:href = "#icons-redirect"
        )

      label.input-group.input-group-xs.gray
        .label.gray Container URL
        .input.input-xs.text-right eo9lxe-api-staging-codenow.runnableapp.com

      label.input-group.input-group-xs.gray
        .label.gray Elastic Hostname
        .input.input-xs.text-right api-staging-codenow.runnableapp.com

    hr.hr

    h4.h4 More About URLs

    a.small.link(
      href = "#"
      target = "_blank"
    ) Why does my Container URL redirect to the Elastic Hostname?
      svg.iconnables.icons-link-external
        use(
          xlink:href = "#icons-link-external"
        )

    a.small.link(
      href = "#"
      target = "_blank"
    ) How does the Elastic Hostname work with multiple containers?
      svg.iconnables.icons-link-external
        use(
          xlink:href = "#icons-link-external"
        )
