//- container url; [readonly] to inherit css for .input[readonly]
a.btn.btn-xs(
  ng-href = "http://{{instance.getContainerHostname()}}{{defaultPort}}"
  target = "_blank"
) URL
  svg.iconnables.float-right
    use(
      xlink:href = "#icons-link-external"
    )
input.input.input-sm.text-center(
  readonly
  select-all
  value = "{{instance.getContainerHostname()}}{{defaultPort}}"
)
button.btn.btn-xs(
  clipboard
  ng-mouseleave = "onClipboardEvent(null, true)"
  ng-show = "shouldShowCopyButton()"
  on-copied = "onClipboardEvent()"
  on-error = "onClipboardEvent(err)"
  text = "instance.getContainerHostname() + defaultPort"
) Copy
  .tooltip(
    ng-hide = "!clipboardText"
  )
    .tooltip-text {{ clipboardText }}
