.popover.bottom.popover-url(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white
  .popover-content
    h4.h4.strong This URL will redirect…
    p.small Your Container’s URL redirects to your Repository URL.
    a.small.link(
      href = "https://runnable.zendesk.com/hc/en-us/sections/200552909-Hostnames-and-URLs"
      ng-if = "$root.featureFlags.urlPopover"
      target = "_blank"
    ) Why does this happen?
      svg.iconnables.icons-link-external
        use(
          xlink:href = "#icons-link-external"
        )

    .figure(
      ng-if = "$root.featureFlags.urlPopover"
    )
      svg.iconnables.icons-redirect
        use(
          xlink:href = "#icons-redirect"
        )

      svg.iconnables.icons-redirect
        use(
          xlink:href = "#icons-redirect"
        )

      label.input-group.input-group-xs.gray()
        .label.gray Container URL
        .input.input-xs.text-right eo9lxe-api-staging-codenow.runnableapp.com

      label.input-group.input-group-xs.gray
        .label.gray Repository URL
        .input.input-xs.text-right api-staging-codenow.runnableapp.com

    hr.hr(
      ng-if = "$root.featureFlags.urlPopover"
    )

    h4.h4(
      ng-if = "$root.featureFlags.urlPopover"
    ) About Repository URLs

    a.small.link(
      href = "#"
      ng-if = "$root.featureFlags.urlPopover"
      target = "_blank"
    ) How does the Container URL redirect to the Repository URL?
      svg.iconnables.icons-link-external
        use(
          xlink:href = "#icons-link-external"
        )

    a.small.link(
      href = "#"
      ng-if = "$root.featureFlags.urlPopover"
      target = "_blank"
    ) Which URL do I use for that?
      svg.iconnables.icons-link-external
        use(
          xlink:href = "#icons-link-external"
        )
