.btn.btn-xs.gray.no-touching URL

input.input.input-sm(
  pop-over
  pop-over-options = "{\"left\":-39,\"top\":45}"
  pop-over-template = "containerUrlPopoverView"
  readonly
  select-all
  value = "{{instance.getContainerHostname()}}{{defaultPort}}"
)

button.btn.btn-xs.gray(
  clipboard
  ng-mouseleave = "showToolTip = false"
  ng-show = "shouldShowCopyButton"
  on-copied = "onClipboardEvent(); showToolTip = true;"
  on-error = "onClipboardEvent(err); showToolTip = true;"
  text = "instance.getContainerHostname() + defaultPort"
  tooltip
  tooltip-eval = "clipboardText"
  tooltip-active-attr = "{{showToolTip}}"
  tooltip-options = "{\"class\":\"bottom no-arrow\",\"right\":0,\"top\":27}"
) Copy