.label URL

input.input.input-sm(
  readonly
  select-all
  value = "{{getContainerUrl(instance)}}"
)

button.btn.btn-xs.purple(
  clipboard
  ng-click = "$event.preventDefault()"
  ng-mouseleave = "showToolTip = false"
  ng-show = "shouldShowCopyButton"
  on-copied = "\
    onClipboardEvent();\
    showToolTip = true;\
  "
  on-error = "\
    onClipboardEvent(err);\
    showToolTip = true;\
  "
  text = "getContainerUrl(instance)"
  tooltip
  tooltip-active-attr = "{{showToolTip}}"
  tooltip-eval = "clipboardText"
  tooltip-options = "{\"class\":\"bottom no-arrow\",\"right\":0,\"top\":27}"
) Copy

a.btn.btn-xs.purple(
  ng-click = "\
    !instance.contextVersion.getMainAppCodeVersion() || $emit('demo::dismissUrlCallout', instance.id());\
    openedContainerUrl(instance);\
  "
  ng-href = "{{getContainerUrl(instance)}}"
  target = "_blank"
  title = "Open in a new tab"
)
  | Open
  svg.iconnables.icons-link-external.float-right
    use(
      xlink:href = "#icons-link-external-alt"
    )
