.popover.bottom.popover-url(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
  style = "transform-origin: 5% 0;"
)
  .arrow.white(
    style = "left: 20px; right: auto;"
  )
  .popover-content
    h4.h4.strong URL Redirect
    p.small Your Container’s URL redirects to your repository’s Elastic Hostname.

    .figure(
      ng-if = "$root.featureFlags.urlPopover"
    )
      svg.iconnables.icons-redirect
        use(
          xlink:href = "#icons-redirect"
        )

      svg.iconnables.icons-redirect
        use(
          xlink:href = "#icons-redirect"
        )

      label.input-group.input-group-xs.gray()
        .label.gray Container URL
        .input.input-xs.text-right eo9lxe-api-staging-codenow.runnableapp.com

      label.input-group.input-group-xs.gray
        .label.gray Elastic Hostname
        .input.input-xs.text-right api-staging-codenow.runnableapp.com

    a.small.link(
      href = "https://runnable.zendesk.com/hc/en-us/sections/200552909-Hostnames-and-URLs"
      ng-if = "!$root.featureFlags.urlPopover"
      target = "_blank"
    ) More about hostnames and URLs
      svg.iconnables.icons-link-external
        use(
          xlink:href = "#icons-link-external"
        )

    hr.hr(
      ng-if = "$root.featureFlags.urlPopover"
    )

    h4.h4(
      ng-if = "$root.featureFlags.urlPopover"
    ) More About URLs

    a.small.link(
      href = "#"
      ng-if = "$root.featureFlags.urlPopover"
      target = "_blank"
    ) Why does my Container URL redirect to the Elastic Hostname?
      svg.iconnables.icons-link-external
        use(
          xlink:href = "#icons-link-external"
        )

    a.small.link(
      href = "#"
      ng-if = "$root.featureFlags.urlPopover"
      target = "_blank"
    ) How does the Elastic Hostname work with multiple containers?
      svg.iconnables.icons-link-external
        use(
          xlink:href = "#icons-link-external"
        )
