.arrow.white(
  style = "left: auto; right: 21px;"
)
.grid-block.padding-sm
  .grid-block.shrink.margin-right-xs.h1 🎊
  .grid-block.vertical
    p.p.weight-strong This is where the magic happens.
    .small Open your container’s URL to see its output. Every branch gets a unique URL.
