.popover.bottom.popover-url(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
  style = "transform-origin: 5% 0;"
)
  .arrow.white(
    style = "left: 20px; right: auto;"
  )
  .popover-content
    h4.h4.strong URL Redirect
    p.small Your container’s URL redirects to your Elastic URL.

    .figure
      svg.iconnables.icons-redirect
        use(
          xlink:href = "#icons-redirect"
        )

      svg.iconnables.icons-redirect
        use(
          xlink:href = "#icons-redirect"
        )

      label.input-group.input-group-xs.gray
        .label.gray Container URL
        .input.input-xs.text-right eo9lxe-api-staging-codenow.runnableapp.com

      label.input-group.input-group-xs.gray
        .label.gray Elastic URL
        .input.input-xs.text-right api-staging-codenow.runnableapp.com

    hr.hr

    h4.h4.strong Proxy
    //- text needs to be manually broken so that the .input-groups can size the popover based on the url length
    p.small Your Elastic URL shows you the container you’ve
      br
      | accessed with the Container URL.
    a.small.link(
      href = "#"
      target = "_blank"
    ) Learn more
      svg.iconnables.icons-link-external
        use(
          xlink:href = "#icons-link-external"
        )
