.popover.bottom.popover-url(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
  style = "transform-origin: 5% 0;"
)
  .arrow.white(
    style = "left: 20px; right: auto;"
  )
  .popover-content
    h4.h4.strong URL Redirect
    p.small Your container’s URL will redirect to your Elastic URL.

    .figure
      svg.iconnables.icons-redirect
        use(
          xlink:href = "#icons-redirect"
        )

      svg.iconnables.icons-redirect
        use(
          xlink:href = "#icons-redirect"
        )

      label.input-group.input-group-xs.gray.illo
        .label.gray.text-center Container URL
        .input.input-xs.text-right
          strong.strong.text-green eo9lxe-
          | api-staging-codenow.runnableapp.com

      label.input-group.input-group-xs.gray
        .label.gray.text-center Elastic URL
        .input.input-xs.text-right api-staging-codenow.runnableapp.com

    //- a.small.link(
    //-   href = "#"
    //-   target = "_blank"
    //- ) Learn more