a.grid-content.shrink.text-gray.small.link(
  ng-if = "!hideChooseOrg"
  ng-click = "goToOrgSelect()"
) Change Organization
a.grid-content.shrink.text-gray.small.link(
  ng-click = "logout()"
) Sign Out
