.popover.menu.bottom.popover-save-options(
  ng-class = "{'in': data.show}"
)
  .arrow.white
  .popover-content
    ul.popover-body.popover-list
      li.popover-list-item(
        ng-class = "{'no-actions': !data.dataInstance.data.container.running() || data.dataInstance.data.loading}"
      )
        label.row.label-checkbox Restart Instance on Save
          input.checkbox(
            checked
            ng-disabled = "!data.dataInstance.data.container.running()"
            ng-model = "data.dataInstance.data.restartOnSave"
            type = "checkbox"
          )