.popover.menu.bottom.fade.popover-actions(
  ng-class = "{'in': data.show}"
)
  .arrow.white
  .popover-content
    ul.popover-body.popover-list
      li.popover-list-item Stop Running
      li.divider
      li.popover-list-item Rename Box
      li.popover-list-item Delete Box