.arrow.white
.popover-content
  ul#file-explorer-options.popover-body
    li
      object.iconnables(
        data = "/build/images/icons/icons-new-file.svg"
        type = "image/svg+xml"
      )
      | New File
    li
      object.iconnables(
        data = "/build/images/icons/icons-new-folder.svg"
        type = "image/svg+xml"
      )
      | New Folder