.popover.menu.bottom.fade(
  ng-class = "{ \
    in: data.show, \
    'show-new-shortcut': data.showNewShortcut \
  }"
)
  .arrow.white
  .popover-content
    ol.popover-body.col-popover-3
      li(
        ng-click = "actions.addWebView()"
      )
        svg.iconnables.lg.icons-web
          use(xlink:href = "#icons-web")
        | Web View
      li(
        ng-click = "actions.addTerminal()"
      )
        svg.iconnables.lg.icons-terminal
          use(xlink:href = "#icons-terminal")
        | Terminal
      li(
        ng-click = "actions.addOutputStream()"
      )
        svg.iconnables.lg.icons-logs
          use(xlink:href = "#icons-logs")
        | Run Log
      li
        svg.iconnables.lg.icons-logs
          use(xlink:href = "#icons-logs")
        | Build Log