//- commit-select popover
.popover.commit-select(
  ng-class = "{in: data.state.show}"
)
  h3.popover-title(
    ng-class = "{'show-filter': data.state.toggleFilter}"
  )
    //- filter across all commits in that repo
    //- should clear on close
    button.blue.btn-icon.btn-search(
      ng-click = "data.state.toggleFilter = !data.state.toggleFilter"
      ng-class = "{'active': data.state.toggleFilter}"
    )
      svg.iconnables.icons-search-blue
        use(
          xlink:href = "#icons-search-blue"
        )
    input.title-filter(
      ng-model = "data.state.commitFilter"
      placeholder = "Filter All Commits"
    )
    //- branch selector
    button.blue.btn-select.branch-btn.pull-right
      //- change this to a branch icon
      svg.iconnables.icons-git
        use(
          xlink:href = "#icons-git"
        )
      | {{ data.attrs.branch }}
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
      select.select(
        ng-change = "actions.updateRepos(data)"
        ng-model = "data.attrs.branch"
      )
        option(
          ng-repeat = "branch in data.attrs.branches"
        ) {{ branch.name }}
  //- list of commits
  ul.commit-group
    //- show 35 commits per load
    //- .active class if currently selected commit
    li.commit-group-item.commit(
      ng-class = "{active: (commit.sha === data.attrs.commit)}"
      ng-if = "data.attrs.commits.length"
      ng-repeat = "commit in data.attrs.commits | commitFilter:data.state.commitFilter"
    )
      .commit-message {{ commit.commit.message }}
      svg.iconnables.icons-commit
        use(
          xlink:href = "#icons-commit"
        )
      span.commit-author {{ commit.author.login }}
      time.commit-time {{ commit.commit.author.date | timeAgo }}
    li.commit-group-item(
      ng-if = "data.attrs.commits.length"
    )
      button.blue.btn-block Load Older
    li.commit-group-item(
      ng-if = "!data.attrs.commits.length"
    )
      button.blue.btn-block Loading Commits
