//- commit-select popover
.popover.commit-select(
  ng-class = "{in: data.state.show}"
)
  h3.popover-title(
    ng-class = "{'show-filter': data.state.toggleFilter}"
  )
    //- filter across all commits in that repo
    //- should clear on close
    button.blue.btn-icon.btn-search(
      ng-click = "data.state.toggleFilter = !data.state.toggleFilter; \
                  data.state.commitFilter = '';"
      ng-class = "{active: data.state.toggleFilter}"
      title = "Filter All Commits"
    )
      svg.iconnables.icons-search-blue
        use(
          xlink:href = "#icons-search-blue"
        )
    //- focus on visible
    input.title-filter(
      select-on = "data.state.toggleFilter"
      ng-model = "data.state.commitFilter"
      placeholder = "Filter All Commits"
    )
    //- branch selector
    .btn-select.branch-btn
      button.blue.pull-right
        //- change this to a branch icon
        svg.iconnables.icons-git
          use(
            xlink:href = "#icons-git"
          )
        | {{ data.githubRepo.state.selectedBranch.attrs.name }}
        svg.iconnables.icons-arrow-down
          use(
            xlink:href = "#icons-arrow-down"
          )
      select.select(
        ng-model = "data.githubRepo.state.selectedBranch"
        ng-change = "actions.selectBranch(data, data.githubRepo.state.selectedBranch)"
        ng-options = "branch.attrs.name for branch in data.githubRepo.branches.models"
      )
  //- list of commits
  ul.commit-group
    //- show 35 commits per load
    //- .active class if currently selected commit
    li.commit-group-item.commit(
      ng-repeat = "commit in data.githubRepo.state.selectedBranch.commits.models | commitFilter:data.state.commitFilter"
      ng-class = "{ active: commit.attrs.sha === data.githubRepo.state.selectedBranch.state.activeCommit.attrs.sha }"
      ng-if = "data.githubRepo.state.selectedBranch.commits.models.length"
      ng-click = "actions.selectActiveBranchAndCommit(data, data.githubRepo.state.selectedBranch, commit)"
    )
      .commit-message {{ commit.attrs.commit.message }}
      .commit-message {{ data.githubRepo.state.selectedBranch.state.activeCommit.attrs.sha }}
      svg.iconnables.icons-commit
        use(
          xlink:href = "#icons-commit"
        )
      span.commit-author {{ commit.attrs.author.login }}
      time.commit-time {{ commit.attrs.commit.author.date | timeAgo }}
    //- li.commit-group-item.commit-item-more(
    //-   ng-if = "data.state.commits.length && !data.state.allCommitsLoaded"
    //- )
    //-   button.blue.btn-block Load Older
    //- li.commit-group-item(
    //-   ng-if = "!data.state.commits.length"
    //- )
      .spinner
        .spinner-ring
