//- commit-select popover
.popover.commit-select(
  ng-class = "{in: data.show}"
)
  h3.popover-title
    //- branch selector
    button.white.btn-select.branch-btn
      //- change this to a branch icon
      svg.iconnables.icons-git
        use(
          xlink:href = "#icons-git"
        )
      | master
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
      select.select
        option master
        option branch
        option other-branch
    //- search should search across all commits in that repo
    button.white.btn-icon.pull-right
      svg.iconnables.icons-search
        use(
          xlink:href = "#icons-search"
        )
  //- list of commits
  ul.commit-group
    //- .active class if currently selected commit
    li.commit-group-item.commit
      .commit-message bugfix object keypath
      svg.iconnables.icons-commit
        use(
          xlink:href = "#icons-commit"
        )
      span.commit-author anandkumarpatel
      time.commit-time 2 hours ago
    li.commit-group-item.commit
      .commit-message removing unused about &amp; jobs routes in app
      svg.iconnables.icons-commit
        use(
          xlink:href = "#icons-commit"
        )
      span.commit-author cflynn07
      time.commit-time 1 day ago
    li.commit-group-item.commit.active
      .commit-message bugfix object keypath
      svg.iconnables.icons-commit
        use(
          xlink:href = "#icons-commit"
        )
      span.commit-author cflynn07
      time.commit-time 5 hours ago
    li.commit-group-item.commit
      .commit-message actually submit .env.local
      svg.iconnables.icons-commit
        use(
          xlink:href = "#icons-commit"
        )
      span.commit-author anandkumarpatel
      time.commit-time 2 hours ago
    li.commit-group-item.commit
      .commit-message actually submit .env.local
      svg.iconnables.icons-commit
        use(
          xlink:href = "#icons-commit"
        )
      span.commit-author anandkumarpatel
      time.commit-time 2 hours ago
    li.commit-group-item.commit
      .commit-message actually submit .env.local
      svg.iconnables.icons-commit
        use(
          xlink:href = "#icons-commit"
        )
      span.commit-author anandkumarpatel
      time.commit-time 2 hours ago
    li.commit-group-item.commit
      .commit-message actually submit .env.local
      svg.iconnables.icons-commit
        use(
          xlink:href = "#icons-commit"
        )
      span.commit-author anandkumarpatel
      time.commit-time 2 hours ago
    li.commit-group-item.commit
      .commit-message actually submit .env.local
      svg.iconnables.icons-commit
        use(
          xlink:href = "#icons-commit"
        )
      span.commit-author anandkumarpatel
      time.commit-time 2 hours ago
    li.commit-group-item
      button.white.btn-block Load Older
