//- spinner
.spinner-wrapper.spinner-backdrop.spinner-md.in(
  ng-if = "loading"
  ng-include = "'spinner'"
)
p.p(
  ng-if = "!loading && hasError"
) We're Sorry, but you're file is in another castle... and that castle just blew up! 😱

.pre(
  lazy-load = "ui.ace"
  ng-if = "!hasError && file.attrs.fileType !== 'ssh'"
  ng-attr-readonly = "{{readOnly}}"
  ng-model = "file.state.body"
  ui-ace = "{\
    onFocus: actions.onFocus,\
    onLoad: actions.setAceMode\
  }"
)

.pre(
  lazy-load = "ui.ace"
  ng-if = "!hasError && file.attrs.fileType === 'ssh'"
  readonly = "true"
  ui-ace = "{\
    onFocus: actions.onFocus,\
    onLoad: actions.setAceMode\
  }"
  ng-model="protectedText"
)

//- readonly button
button.btn.btn-xs(
  ng-if = "!hasError && (readOnly || file.attrs.fileType === 'ssh')"
) Read only
