//- spinner
.spinner-wrapper.spinner-backdrop.spinner-md.spinner-purple.in(
  ng-if = "loading"
  ng-include = "'spinner'"
)

//- readonly doesn't work?!
pre.pre(
  ng-readonly = "state.readOnly"
  ng-model = "file.state.body"
  ui-ace = "{\
    onFocus: actions.onFocus,\
    onLoad: actions.setAceMode\
  }"
)