//- spinner
.spinner-wrapper.spinner-backdrop.spinner-md.spinner-purple.in(
  ng-if = "loading"
  ng-include = "'spinner'"
)

//- toolbar should only appear in the container view
.editor-toolbar
  small.small /node-hello-world/server.js
  //- disable save buttons until a change a made
  button.btn.btn-xs.green.btn-spinner.float-right(
    ng-class = "{in: data.saving}"
    ng-click = "data.saving = !data.saving"
  )
    //- ng-disabled = "!instance.containers.models[0].running() || loading || saving || modifyingInstance || !canSave()"
    .spinner-wrapper.spinner-sm.spinner-white.in(
      ng-if = "data.saving"
      ng-include = "'spinner'"
    )
    span.btn-text {{ saving ? 'Saving' : 'Save'}}
  button.btn.btn-xs.green.btn-spinner.float-right(
    ng-class = "{in: saving}"
    ng-click = "saveChanges()"
  )
    //- ng-disabled = "!instance.containers.models[0].running() || loading || saving || modifyingInstance || !canSave()"
    .spinner-wrapper.spinner-sm.spinner-white.in(
      ng-if = "saving"
      ng-include = "'spinner'"
    )
    span.btn-text {{ saving ? 'Saving' : 'Save and Restart'}}

pre.pre(
  ng-model = "file.state.body"
  ui-ace = "{\
    onFocus: actions.onFocus,\
    onLoad: actions.setAceMode\
  }"
)