//- spinner
.spinner-wrapper.spinner-backdrop.spinner-md.in(
  ng-if = "loading"
  ng-include = "'spinner'"
)

.blank-panel(
  ng-if = "!loading && hasError === 'failure'"
)
  p.p We’re sorry, but your file is in another castle… and that castle just blew up! 😱

.blank-panel(
  ng-if = "!loading && hasError === 'tooLarge'"
)
  p.p The requested file is too large to load.

.pre(
  lazy-load = "ui.ace"
  ng-if = "!hasError && file.attrs.fileType !== 'ssh'"
  ng-attr-readonly = "{{readOnly}}"
  ng-model = "file.state.body"
  ui-ace = "{\
    onFocus: actions.onFocus,\
    onLoad: actions.setAceMode\
  }"
)

.pre(
  lazy-load = "ui.ace"
  ng-if = "!hasError && file.attrs.fileType === 'ssh'"
  readonly = "true"
  ui-ace = "{\
    onFocus: actions.onFocus,\
    onLoad: actions.setAceMode\
  }"
  ng-model="protectedText"
)

//- readonly button
button.btn.btn-sm(
  ng-if = "!hasError && (readOnly || file.attrs.fileType === 'ssh')"
) Read only
