//- spinner
.spinner-wrapper.spinner-backdrop.spinner-md.in(
  ng-if = "loading"
  ng-include = "'spinner'"
)

.pre(
  ng-if = "file.attrs.fileType !== 'ssh'"
  ng-attr-readonly = "{{readOnly}}"
  ng-model = "file.state.body"
  ui-ace = "{\
    onFocus: actions.onFocus,\
    onLoad: actions.setAceMode\
  }"
)
.pre(
  ng-if = "file.attrs.fileType === 'ssh'"
  readonly = "true"
  ui-ace = "{\
    onFocus: actions.onFocus,\
    onLoad: actions.setAceMode\
  }"
) The contents of this file are protected and cannot be shown

//- readonly button
button.btn.btn-xs(
  ng-if = "readOnly || file.attrs.fileType === 'ssh'"
) Read only