.project-container
  section#project-details.container
    .row
      .col-sm-9
        .page-title
          //- runnable_title
          h1
            form
              input.form-control(required
                                 ng-init     = "canEdit=true"
                                 ng-if       = "canEdit"
                                 name        = "name"
                                 placeholder = "Give your code example a title"
                                 value       = "model.attributes.name"
                                 maxlength   = "2000")
              span(ng-if = "!canEdit") model.virtual.nameWithTags

        .main-controls
          //- fork_button
          button.green
            span.glyphicons.git-create
            span Fork This
          //- improve_button
          #improve-btn.btn-group
            button.silver.glyphicons.thumbs-up(type = "button")
            button.silver.glyphicons.thumbs-down(type = "button")
            //- improve_popover
            .popover.fade.bottom
              .arrow
              .popover-content
                form#improve_from_1337.clearfix
                  textarea.form-control.feedback-description(required
                                                             placeholder = "Send a message to the author")
                  button.orange Send

  section#project
    //- code_editor
    #code-editor.in
      #project-toolbar
        a#open-file-explorer.glyphicons.folder-closed
        //- readme_button
        #project-editor-tabs-wrapper
          //- file_tabs
        //- file_select
        //- add_tab

      //- file_explorer
      #project-editor-container
        //- code
        pre#project-editor(ui-ace = "{showGutter: false}");

        //- html_readme

    //- rebuild_loader

