.popover.bottom.popover-environment(
  ng-class = "{in: data.show}"
)
  .arrow
  h3.popover-title
    span.title Environment Variables
  .popover-content
    label.input-group(
      ng-class = "{focus: data.state.showFocus}"
    )
      span.input-label Var1
      input.input(
        ng-blur = "data.state.showFocus = false"
        ng-focus = "data.state.showFocus = true"
        select-all
        value = "currentValue"
      )
    footer.popover-footer
      button.btn.green Save
      button.btn.white Cancel
