.popover-overlay
  .popover.popover-fixed.in.modal-mirror-dockerfile(
    ng-class = "{'in': active}"
  )
    .popover-header Choose Dockerfile
      svg.iconnables.icons-close(
        ng-click = "MC.cancel()"
      )
        use(
          xlink:href = "#icons-close"
        )

    .grid-block.vertical.modal-body(
      ng-init = "dockerfile.selection = null"
      ng-include = "'mirrorDockerfileView'"
      onload = "fromTool = true"
    )
    footer.modal-footer.clearfix
      button.btn.btn-md.white.float-left(
        ng-click = "MC.cancel()"
      ) Cancel
      button.btn.btn-md.green.float-right(
        ng-click = "MC.confirm(MC.state.dockerfile)"
        ng-disabled = "!MC.state.dockerfile"
      )
        //- .spinner-wrapper.spinner-white.spinner-sm.in(
        //-   ng-include = "'spinner'"
        //- )
        span Start Mirroring
