button.btn.white.float-left(
  ng-disabled = "isBuilding()"
  ng-click = "SMC.actions.close()"
  type = "button"
) Cancel
button.btn.btn-spinner.float-right(
  ng-class = "{\
        'white': !buttonClosesModal,\
        'green': buttonClosesModal,\
        'in': isBuilding()\
      }"
  ng-click = "SMC.goToNextStep()"
  ng-disabled = "isPrimaryButtonDisabled() || isBuilding()"
  ng-if = "!SMC.instance"
  setup-confirm-button
  style = "'width: auto;'"
)
    .spinner-wrapper.spinner-sm.in(
      ng-if = "isBuilding()"
      ng-class = "{\
        'spinner-gray': !buttonClosesModal,\
        'spinner-white': buttonClosesModal\
      }"
      ng-include = "'spinner'"
    )
    //- text should read "Next" for steps 1, 2
    //- changes to "Save & Build" starting from step 3
    span.btn-text {{buttonText}}

//- save & rebuild button (old)
button.btn.green.btn-spinner.float-right(
  ng-class = "{'in': isBuilding() }"
  ng-click = "createServerOrUpdate()"
  ng-disabled = "isPrimaryButtonDisabled() || isBuilding()"
  ng-if = "SMC.instance"
  style = "'width: auto;'"
)
  //- spinner
  .spinner-wrapper.spinner-sm.spinner-white.in(
    ng-if = "isBuilding()"
    ng-include = "'spinner'"
  )
  //- if built…text should only say "Save"
  span.btn-text(
    ng-if = "!isBuilding()"
  ) {{ (SMC.validation.env.length) ? (SMC.validation.env.length) + ' env errors' : 'Save & Rebuild'}}
  span.btn-text(
    ng-if = "isBuilding()"
  ) Saving
