button.btn.btn-md.gray.btn-cancel.float-left.js-animate(
  ng-click = "SMC.actions.close()"
  ng-if = "getDisplayFlag('cancel')"
  type = "button"
) Cancel

button.btn.btn-md.btn-done.white.float-right(
  ng-class = "{\
    'js-animate': SMC.state.step > 3\
  }"
  ng-click = "SMC.actions.close()"
  ng-if = "getDisplayFlag('done')"
  type = "button"
) Done

button.btn.btn-md.btn-primary.white.text-next.float-right(
  ng-click = "SMC.goToNextStep()"
  ng-disabled = "isPrimaryButtonDisabled()"
  ng-if = "getDisplayFlag('next')"
  type = "button"
)
  span.btn-text.float-left Next

  //- arrow is visible for steps 1-3
  svg.iconnables.icons-arrow-forward.float-right
    use(
      xlink:href = "#icons-arrow-down"
    )

//- save/save & build button
  - disable if nothing to save
  - classes change depending on text for width:
    .text-save-build
    .text-save
    .text-next
button.btn.btn-md.white.btn-primary.float-right.js-animate(
  ng-class = "{\
    'text-save': !getDisplayFlag('willRebuildOnSave'),\
    'text-save-build': getDisplayFlag('willRebuildOnSave')\
  }"
  ng-click = "thisForm.$invalid || createServerOrUpdate()"
  ng-disabled = "getDisplayFlag('disableSave')"
  ng-if = "getDisplayFlag('save')"
)
  span.btn-text.float-left Save
    //- if save triggers a build
    span(
      ng-class = "{\
        'fade js-animate': !!SMC.instance\
      }"
      ng-if = "getDisplayFlag('willRebuildOnSave')"
    ) &#32;& Build

button.btn.btn-md.green.btn-primary.float-right.text-save-build(
  data-event-name = "Demo: Clicked Save & Build"
  ng-if = "getDisplayFlag('demoSave')"
  ng-click = "createServerOrUpdate(true)"
) Save & Build

span.small.float-right.fade.js-animate(
  ng-if = "getDisplayFlag('willRebuildOnSave') && !SMC.isSettingUpNewInstance"
) You’ve made changes that require a rebuild.
