.popover.help(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
)
  .help-lists-wrapper
    ul.triggered-help-list
      li.triggered-help-item.clearfix(
        ng-repeat = "helpItem in data.triggered"
      )
        button.btn.btn-icon.btn-icon-sm(
          ng-click = "actions.ignoreHelp(helpItem)"
        )
          svg.iconnables
            use(
              xlink:href = "#icons-close"
            )
        p.p(
          ng-bind-html= "helpItem.label"
        )
        button.btn.btn-sm(
          ng-click = "actions.getHelp(helpItem)"
        ) Show Me
    .general-help-container
      .heavy General Help
      ul.general-help-list
        li.general-help-item(
          ng-repeat = "helpItem in data.general"
          ng-hide = "!showMore && $index > 5"
          ng-click = "actions.getHelp(helpItem)"
          ng-bind-html= "helpItem.label"
        )
  //- TODO: remove less-help class
  button.btn(
    ng-click = "closePopover()"
  ) Less Help
    svg.iconnables
      use(
        xlink:href = "#icons-arrow-down"
      )