.grid-block.shrink.aha-meter(
  ng-class = "{\
    'aha-meter-33': $root.featureFlags.aha2 && state.showSubStep === 1,\
    'aha-meter-66': $root.featureFlags.aha2 && state.showSubStep === 2,\
    'aha-meter-100': $root.featureFlags.aha3\
  }"
)
  svg.iconnables
    use(
      ng-if = "!$root.featureFlags.aha3"
      xlink:href = "#icons-octicons-branch"
    )
    use(
      ng-if = "$root.featureFlags.aha3"
      xlink:href = "#icons-check"
    )
.grid-block.vertical.aha-text
  p.p.small.text-gray-light Add your First Branch
  p.p(
    ng-if = "state.showSubStep === 1"
  ) Click the + button next to any repository name.
  p.p(
    ng-if = "state.showSubStep === 2"
  ) Select a branch to add.
