.grid-block.shrink.aha-meter(
  ng-class = "{\
    'aha-meter-33': $root.featureFlags.aha0 && AHA.state.subStep === 0,\
    'aha-meter-66': $root.featureFlags.aha0 && AHA.state.subStep === 1,\
    'aha-meter-100': $root.featureFlags.aha0 && AHA.state.subStep === 2\
  }"
)
  svg.iconnables
    use(
      ng-if = "$root.featureFlags.aha0 && AHA.state.subStep < 2"
      xlink:href = "#icons-cog"
    )
    use(
      ng-if = "$root.featureFlags.aha0 && AHA.state.subStep === 2"
      xlink:href = "#icons-check"
    )
.grid-block.vertical
  p.p.strong {{ AHA.state.title }}
  p.p {{ AHA.state.caption }}
