.grid-block.shrink.aha-meter(
  ng-class = "\
    AGC.className\
    "
)
  svg.iconnables
    use(
      ng-if = "$root.featureFlags.aha && AGC.subStep !== 'dockLoaded'"
      xlink:href = "#icons-cog"
    )
    use(
      ng-if = "$root.featureFlags.aha && AGC.subStep === 'dockLoaded'"
      xlink:href = "#icons-check"
    )
.grid-block.vertical.aha-text
  p.p.small.text-gray-light {{ AGC.title }}
  p.p(
    ng-if = "AGC.subStep === 'orgSelection'"
  ) Choose an organization to create your sandbox for.
  p.p(
    ng-if = "AGC.subStep === 'dockLoading'"
  ) Hang tight!
  p.p(
    ng-if = "AGC.subStep === 'dockLoaded'"
  ) Continue to start configuring your project.
