.grid-block.shrink.aha-meter(
  ng-class = "{\
    'aha-meter-50': $root.featureFlags.aha0,\
    'aha-meter-100': $root.featureFlags.aha1 || $root.featureFlags.aha2 || $root.featureFlags.aha3\
  }"
)
  svg.iconnables
    use(
      ng-if = "$root.featureFlags.aha1 || $root.featureFlags.aha2 || $root.featureFlags.aha3"
      xlink:href = "#icons-check"
    )
.grid-block.vertical
  p.p.strong Create your Sandbox
  p.p Choose an organization to create your sandbox for.
