.grid-block.shrink.aha-meter(
  ng-class = "{\
    'aha-meter-13': $root.featureFlags.aha1,\
    'aha-meter-100': $root.featureFlags.aha2 || $root.featureFlags.aha3\
  }"
)
  svg.iconnables
    use(
      ng-if = "$root.featureFlags.aha2 || $root.featureFlags.aha3"
      xlink:href = "#icons-check"
    )
.grid-block.vertical
  p.p.strong Add your Repository
  p(
    ng-class = "{\
      'p': !state.sidebar,\
      'small': state.sidebar\
    }"
  ) {{state.sidebar ? 'Configure your project to get it running.' : 'Create a configuration to start adding a project.'}}
