.grid-block.shrink.aha-meter(
  ng-class = "{\
    'aha-meter-13': state.showSubStep === 0,\
    'aha-meter-25': state.showSubStep === 1,\
    'aha-meter-100': $root.featureFlags.aha2 || $root.featureFlags.aha3\
  }"
)
  svg.iconnables
    use(
      ng-if = "$root.featureFlags.aha1 && (!$root.featureFlags.aha2 || !$root.featureFlags.aha3)"
      xlink:href = "#icons-octicons-repo"
    )
    use(
      ng-if = "$root.featureFlags.aha2 || $root.featureFlags.aha3"
      xlink:href = "#icons-check"
    )
.grid-block.vertical
  p.p.strong Add your First Repository
  p.p
    | {{state.showSubStep === 0 ? 'Click ‘Add Configuration’ to start adding your first repository.' : ''}}
    | {{state.showSubStep === 1 ? 'Select your first repository.' : ''}}
