.grid-block.shrink.aha-meter(
  ng-class = "{\
    'aha-meter-13': AHA.state.subStep === 0,\
    'aha-meter-100': $root.featureFlags.aha2 || $root.featureFlags.aha3\
  }"
)
  svg.iconnables
    use(
      ng-if = "AHA.state.subStep === 0"
      xlink:href = "#icons-octicons-repo"
    )
    use(
      ng-if = "AHA.state.subStep > 0"
      xlink:href = "#icons-check"
    )
.grid-block.vertical
  p.p.strong Add your First Repository
  p.p
    | {{AHA.state.caption}}
