.grid-block.shrink.aha-meter(
  ng-class = "{\
    'aha-meter-13': $root.featureFlags.aha1,\
    'aha-meter-100': $root.featureFlags.aha2 || $root.featureFlags.aha3\
  }"
)
  svg.iconnables
    use(
      ng-if = "$root.featureFlags.aha1 && (!$root.featureFlags.aha2 || !$root.featureFlags.aha3)"
      xlink:href = "#icons-octicons-repo"
    )
    use(
      ng-if = "$root.featureFlags.aha2 || $root.featureFlags.aha3"
      xlink:href = "#icons-check"
    )
.grid-block.vertical
  p.p.strong Add your First Repository
  p.p Create a configuration to start adding a project.
