.grid-block.shrink.aha-meter(
  ng-class = "{\
    'aha-error': state.showError,\
    'aha-meter-10': state.showSubStep === 0,\
    'aha-meter-20': state.showSubStep === 1,\
    'aha-meter-30': state.showSubStep === 2,\
    'aha-meter-40': state.showSubStep === 3,\
    'aha-meter-50': state.showSubStep === 4,\
    'aha-meter-60': state.showSubStep === 5,\
    'aha-meter-70': state.showSubStep === 6,\
    'aha-meter-80': state.showSubStep === 7,\
    'aha-meter-90': state.showSubStep === 8,\
    'aha-meter-100': $root.featureFlags.aha2 || $root.featureFlags.aha3 || state.showSubStep === 9\
  }"
)
  svg.iconnables(
    ng-if = "!state.showError"
  )
    use(
      ng-if = "$root.featureFlags.aha1 && !$root.featureFlags.aha2 && !$root.featureFlags.aha3"
      xlink:href = "#icons-octicons-repo"
    )
    use(
      ng-if = "$root.featureFlags.aha2 || $root.featureFlags.aha3"
      xlink:href = "#icons-alert"
    )
  svg.iconnables.icons-alert(
    ng-if = "state.showError"
  )
    use(
      xlink:href = "#icons-alert-alt"
    )
.grid-block.vertical
  .grid-block(
    ng-if = "$root.canEditFeatureFlags()"
    ng-show = "state.showControls"
    style = "position: absolute; right: 12px; top: 6px;"
  )
    a.grid-content.shrink.red.small.link(
      ng-click = "state.showError = !state.showError"
      ng-if = "state.showSubStep === 7 || state.showSubStep === 8"
    ) BuildErr
    a.grid-content.shrink.red.small.link(
      ng-click = "state.showSubStep = state.showSubStep - 1"
    ) Prev
    a.grid-content.shrink.red.small.link(
      ng-click = "state.showSubStep = state.showSubStep + 1"
    ) Next
  p.p.small.text-gray-light Add your First Repository
  p.p
    | {{state.showSubStep === 0 && !state.showError ? 'Add your repository by clicking ‘Add Configuration’.' : ''}}
    | {{state.showSubStep === 1 && !state.showError ? 'Select a repository to configure.' : ''}}
    | {{state.showSubStep === 2 && !state.showError ? 'How would you like to configure your repo?' : ''}}
    | {{state.showSubStep === 3 && !state.showError ? 'Give your configuration a name.' : ''}}
    | {{state.showSubStep === 4 && !state.showError ? 'Choose stacks.' : ''}}
    | {{state.showSubStep === 5 && !state.showError ? 'Choose commands and packages.' : ''}}
    | {{state.showSubStep === 6 && !state.showError ? 'Additional setup.' : ''}}
    | {{state.showSubStep === 7 && !state.showError ? 'Now building. Build time varies depending on your configuration.' : ''}}
    | {{state.showSubStep === 8 && !state.showError ? 'Successful build.' : ''}}
    | {{state.showSubStep === 9 && !state.showError ? 'Add additional stuff or go to containers.' : ''}}
    | {{state.showError ? 'Your build failed. Inspect your build logs and try to debug the issue.' : ''}}
