.grid-block.align-center.shrink.spinner-wrapper.spinner-md.spinner-gray.in.js-animate(
  ng-if = "state.showVerification"
  ng-include = "'spinner'"
)

.grid-block.shrink.aha-meter.js-animate(
  class = "{{ AGC.state.className }}"
  ng-class = "{'aha-error': AGC.state.showError}"
  ng-if = "!state.showVerification"
)
  svg.iconnables(
    ng-if = "!AGC.state.showError"
  )
    use(
      ng-if = "$root.featureFlags.aha1 && AGC.state.subStep !== 'complete'"
      xlink:href = "#icons-octicons-repo"
    )
    use(
      ng-if = "AGC.state.subStep === 'complete'"
      xlink:href = "#icons-check"
    )
  svg.iconnables.icons-alert(
    ng-if = "AGC.state.showError"
  )
    use(
      xlink:href = "#icons-alert-alt"
    )

.grid-block.vertical.aha-text
  .grid-block(
    ng-if = "$root.canEditFeatureFlags()"
    ng-show = "state.showControls"
    style = "position: absolute; right: 0; top: 0;"
  )
    a.grid-content.shrink.red.small.link(
      ng-click = "state.showVerification = !state.showVerification"
      ng-if = "AGC.state.subStep === 7"
    ) Verify
    a.grid-content.shrink.red.small.link(
      ng-click = "\
        state.showError = !state.showError;\
        state.showErrorType = 'CMD';\
      "
      ng-if = "AGC.state.subStep === 7"
    ) CMDErr
    a.grid-content.shrink.red.small.link(
      ng-click = "\
        state.showError = !state.showError;\
        state.showErrorType = 'build';\
      "
      ng-if = "AGC.state.subStep === 7"
    ) BuildErr
    a.grid-content.shrink.red.small.link(
      ng-click = "\
        $root.featureFlags.aha1 = false;\
        $root.featureFlags.aha2 = true;\
      "
      ng-if = "AGC.state.subStep === 8"
    ) NextMile
    a.grid-content.shrink.red.small.link(
      ng-click = "AGC.state.subStep = AGC.state.subStep - 1"
      ng-if = "AGC.state.subStep < 9 && AGC.state.subStep > 1"
    ) Prev
    a.grid-content.shrink.red.small.link(
      ng-click = "AGC.state.subStep = AGC.state.subStep + 1"
      ng-if = "AGC.state.subStep < 8"
    ) Next
  p.p.small.text-gray-light {{ AGC.state.title }}
  p.p(
    ng-class = "{'p-slide js-animate': AGC.state.subStepIndex > 0}"
    ng-if = "$root.featureFlags.aha1 && !$root.ahaGuide.ahaGuideToggles.exitedEarly && !state.showError && !state.showVerification"
  ) {{ AGC.state.caption }}
  p.p(
    ng-class = "{'p-slide js-animate': AGC.state.subStepIndex}"
    ng-if = "$root.featureFlags.aha && $root.ahaGuide.ahaGuideToggles.exitedEarly && !state.showError && !state.showVerification"
  ) {{ AGC.state.caption }}
  p.p(
    ng-class = "{'p-slide js-animate': AGC.state.subStepIndex}"
    ng-if = "AGC.state.subStep === 7"
  )
    | {{!state.showError && !state.showVerification ? 'Now building. Build time varies depending on your template.' : ''}}
    | {{state.showVerification ? 'Verifying Template…' : ''}}
    | {{state.showErrorType === 'build' && state.showError ? 'Your build failed. Inspect your build logs for more information.' : ''}}
    | {{state.showErrorType === 'CMD' && state.showError ? 'Your container failed to run. Inspect your CMD logs for more information.' : ''}}
    //- | IF DETENTION ERROR: Your container is running! But it looks like something has not been set up correctly.
    span.span(
     ng-if = "state.showErrorType === 'exitedEarly'"
    ) Your repository isn‘t running yet! Check the logs to debug any issues. If you‘re stumped,&#32;
      //- this link should open in intercom with the prefilled message:
          "I’m having trouble getting my first container up and running."
      a.link ask our engineers
      | !

  p.p(
    ng-class = "{'p-slide js-animate': AGC.state.subStepIndex}"
    ng-if = "AGC.state.subStep === 8 && !state.showError && !state.showVerification"
  ) Your build is looking good! Check out its URL and click ‘Done’ if it looks good to you.
