// errors
#error {
  margin-top: 0;

  .hero-animate {
    display: block;
    height: 125%;
    margin: 0 auto;
    max-width: 100%;
    pointer-events: none;
    position: absolute;
      right: 0;
      bottom: -45%;
      left: 0;
      z-index: -1;

    &.globe {
      animation: leftSpan100 10s infinite reverse linear;
    }

    &.cog {
      animation: cogError 1.5s infinite linear;
    }
  }

  h1 {
    color: rgba($purple-lighter,.5);
    font-size: 20px;
    line-height: 1.4;
    margin: 15% auto 30px;
    position: relative;
      z-index: 2;
    text-align: center;

    @include media(sm) {
      font-size: 24px;
      margin: 20% auto 45px;
    }

    @include media(md) {
      font-size: 36px;
    }
  }

  //link
  p {
    color: rgba($purple-lighter,.5);
    font-size: 18px;
    text-align: center;

    > a {
      color: rgba($purple-lighter,.5);
      text-decoration: underline;

      &:hover {
        color: rgba($purple-lighter,.75);
      }

      &:active {
        color: rgba($purple-lighter,.5);
      }
    }

    @include media(xs) {
      font-size: 14px;
    }
  }

  //or
  .or {
    height: 30px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 30%;
      max-width: 350px;

    > span {
      color: rgba($purple-lighter,.5);
      font-size: 18px;
      font-weight: bold;
      line-height: 1.2;

      &:before,
      &:after {
        border-top: 1px solid rgba($purple-lighter,.1);
        content: '';
        display: block;
        margin: 11px auto;
        width: 45%;
      }

      &:before {
        float: left;
      }

      &:after {
        float: right;
      }
    }

    @include media(xs) {
      width: 80%;
    }
  }

  //search
  form {
    height: 36px;
    line-height: 36px;
    padding: 0;
    position: relative;
      z-index: 0;

    @include media(xs) {
      margin: 0 15px;
    }

    > input,
    > button {
      border-radius: 3px;
      box-shadow: none;
    }

    > input {
      height: 100%;
      width: 100%;
    }

    > button {
      background: none;
      border: 0;
      color: $gray-dark;
      height: 34px;
      padding: 0;
      position: absolute;
        top: 1px;
        right: 1px;
      text-shadow: none;
      width: 34px;
    }
  }

  aside {
    color: rgba($purple-lighter,.5);
    position: absolute;
      bottom: 10px;
      left: 15px;
  }

  #queen-bear {
    animation: bearUp 10s 30s linear forwards;
    position: absolute;
      right: 15px;
      bottom: -682px;
      z-index: 1;

    @include media(xs) {
      bottom: -702px;
      height: auto;
      max-width: 100%;
    }

    .touch & {
      pointer-events: none;
    }
  }

  #bear {
    animation: bearUp 10s 30s linear forwards;
    position: absolute;
      right: 15px;
      bottom: -244px;
      z-index: 1;
  }
}