// defaults
input,
textarea,
.form-control {
  -webkit-appearance: none;
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 1px 0 #fff;
  color: $gray-darkest;
  transition: border .1s cubic-bezier(.19,1,.22,1);

  &:hover {
    border-color: rgba(0,0,0,.15);
  }

  &:focus {
    box-shadow: 0 1px 0 #fff;
    border-color: $orange;
  }

  &.success {
    border-color: #6ca52e;
    background-image: url('../images/icon-success.png');
    @include background-image-retina('../images/icon-success@2x.png');
    background-size: 10px 8px;
    padding-right: 40px;
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
  }

  &.error {
    border-color: #d73539;
    padding-right: 40px;
    background-image: url('../images/icon-error.png');
    @include background-image-retina('../images/icon-error@2x.png');
    color: #D73539;
    background-size: 3px 11px;
    background-repeat: no-repeat;
    background-position: calc(100% - 19px) center;
  }

  @include retina() {
    @media (max-width: 500px) {
      font-size: 16px;
    }
  }
}

input {

  &[type=radio] {
    -webkit-appearance: radio;
  }

  &[disabled],
  &[readonly] {
    background: $gray-light;
  }

  &[readonly] {
    cursor: pointer;
  }
}

.form-control::placeholder {
  color: $gray-dark;
}

.form-group {
  position: relative;
}

//.saved label
.saved {
  background: $light-yellow;
  border: 1px solid darken($light-yellow,50%);
  border-radius: 3px;
  color: darken($light-yellow,70%);
  display: none;
  font-size: 11px;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  padding: 0 4px;
  position: absolute;
  pointer-events: none;
    right: 10px;
    bottom: 10px;
    z-index: -1;

  &.in {
    display: block;
    z-index: 1;
  }
}

// search
#search {
  position: relative;

  @media (max-width: 500px) {
    clear: both;
    margin-top: 15px;
    width: 100%;
  }

  .form-group {
    margin-bottom: 0;
  }

  .twitter-typeahead {
    background: #fff;
    border-radius: 3px;
  }

  input {
    -webkit-appearance: none;
    border-radius: 3px;
    height: 36px;
    transition: width .3s cubic-bezier(.19,1,.22,1);

    @include retina() {
      @media (max-width: 500px) {
        font-size: 16px;
      }
    }
  }

  button {
    background: #fff;
    border: 0;
    box-shadow: none;
    color: $gray-dark;
    height: 34px;
    position: absolute;
      top: 1px;
      right: 1px;
      z-index: 2;
    text-shadow: none;
  }
}

// header search
header {

  #search {
    float: right;
    height: 36px;
    line-height: 1;
    margin: 0 15px 9px;
    width: calc(100% - 30px);

    @include media(sm) {
      margin: 11px 15px 0 0;
      width: auto;
    }

    input {
      background: rgba(0,0,0,.1);
      box-shadow: 0 1px 0 rgba(255,255,255,.15);
      color: $purple-logo;
      height: 34px;
      padding-right: 24px;
      text-overflow: ellipsis;
      transition: background .1s, width .3s cubic-bezier(.19,1,.22,1);
      width: 165px;

      &::placeholder {
        color: $purple-logo;
      }

      &:focus {
        background: #fff;
        border-color: transparent;
        color: $gray-darker;

        @include media(sm) {
          width: 300px;
        }

        &::placeholder {
          color: $gray-dark;
        }

        & ~ button {
          color: $gray-dark;

          &:hover {
            color: $gray-darker;
          }
        }
      }

      @include media(xs) {
        width: 100%;
      }
    }

    button {
      background: transparent;
      color: $purple-logo;
      font-size: 11px;
      height: 32px;
      right: 0;
      width: 36px;
    }
  }
}

//feed search
#feed-nav {

  #search {
    float: right;

    input {
      width: 105px;

      &:focus {
        width: 240px;

        @include media(sm) {
          width: 300px;
        }
      }

      @media (max-width: 500px) {
        width: 100%;

        &:focus {
          width: 100%;
        }
      }
    }
  }
}

// inline editing
form.inline {
  margin-bottom: 1px;
  position: relative;

  > span {
    color: $gray-dark;
    font-size: 16px;
    line-height: 34px;
    position: absolute;
      left: 10px;
  }

  > input {
    -webkit-appearance: none;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: 0 1px 0 rgba(0,0,0,.1), 0 2px 0 #fff;
    color: $gray-darker;
    height: 36px;
    line-height: 36px;
    outline: none;
    padding: 0 15px 0 35px;
    width: 100%;

    &:hover {
      background: #fff;
      cursor: pointer;
    }

    &:focus {
      background: #fff;
      border-color: $orange;
      cursor: text;
    }

    &[disabled],
    &[disabled]:hover {
      background: transparent;
      cursor: text;
      opacity: 1;
      -webkit-text-fill-color: $gray-darker;
    }
  }

  .menu {
    position: absolute;
      top: 0;
      right: 0;

    > a {
      color: $gray-dark;
      padding: 11px;
    }

    > ul {
      margin-top: 0;
      min-width: 190px;

      .glyphicons {
        font-size: 10px;
        top: 12px;

        @include media(xs) {
          top: 20px;
        }
      }
    }
  }
}

// autocomplete
.ui-autocomplete {
  background: $gray-lighter;
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: none;
  left: 0 !important;
  top: -3px !important;
  width: 100% !important;

  li > a {
    color: $gray-dark;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    padding: 0 10px !important;

    &.ui-state-focus {
      background: #fff;
      color: $gray-dark;
    }
  }
}

// contact modal
#contact-modal {

  .modal-body {
    overflow: hidden;
  }

  form,
  .confirmation {
    transition: transform .6s ease-in-out, opacity .5s ease-in-out;
  }

  form.in,
  form.in ~ .confirmation {
    transform: translate3d(0,-325px,0);
  }

  form.in {
    opacity: 0;
  }

  form.in ~ .confirmation {
    opacity: 1;
  }

  .confirmation {
    color: $gray-darker;
    height: 100%;
    opacity: 0;
    padding: 0 30px;
    position: absolute;
      left: 0;
    text-align: center;
    width: 100%;

    h2 {
      font-weight: 700;
      margin: 105px 0 15px;
    }

    button {
      margin: 0 auto;
      position: absolute;
        right: 0;
        bottom: 20px;
        left: 0;
      width: calc(100% - 40px);
    }
  }
}