li.folder(
  draggable
  droppable
  ng-class = "{\
   'in': dir.state.open, \
   'not-toggleable': isRootDir \
  }"
)

  a(
    ng-class = "{'no-touching': isRootDir}"
    ng-click = "dir.state.open = (!!showRepoFolder) || !dir.state.open"
    pop-over
    pop-over-actions = "popoverFileExplorerFolder.actions"
    pop-over-data = "popoverFileExplorerFolder.data"
    pop-over-template = "viewFileTreePopoverFileExplorerFolderMenu"
    pop-over-options = "popoverFileExplorerFolder.options"
    pop-over-trigger = "rightClick"
  )
    svg.iconnables.filetypes.icons-folder
      use(
        xlink:href = "#icons-folder"
      )
    input.tree-input(
      ng-keyup = "actions.shouldCloseFolderNameInput($event)"
      ng-blur = "actions.closeFolderNameInput()"
      ng-click = "actions.handleClickOnFolderInput"
      ng-readonly = "!editFolderName"
      spellcheck = "false"
      value = "{{ dir.attrs.name }}"
    )
    span.item-name {{ dir.attrs.name }}
  //- This part is ng-included here to get around an Angular compiling issue when recursively
      using directives.  Without this, angular will just blow the stack and use all of your
      processor
  ul(
    ng-if = "(isRootDir && showRepoFolder)"
  )
    li.file(
      ng-if = "state.showAddRepo"
    )
      //- popover is a very similar file to the original, should this be a template?
      a.active(
        pop-over
        pop-over-actions = "popoverFilesRepositoryCommitToggle.actions"
        pop-over-active = "state.showAddRepo"
        pop-over-data = "popoverFilesRepositoryCommitToggle.data"
        pop-over-options = "{\"left\":210,\"top\":-198}"
        pop-over-template = "viewPopoverFilesRepositoryCommitToggle"
        pop-over-trigger = "activeAttr"
      )
        svg.iconnables.filetypes.icons-repository
          use(
            xlink:href = "#icons-repository-additional"
          )
        span.item-name …

    li.file(
      ng-repeat = "acv in fileModel.appCodeVersions.models | orderBy:'attrs.repo'"
      pop-over
      pop-over-actions = "popoverFileExplorerRepository.actions"
      pop-over-data = "acv"
      pop-over-template = "viewFileTreePopoverFileExplorerRepositoryMenu"
      pop-over-options = "popoverFileExplorerRepository.options"
      pop-over-trigger = "rightClick"
    )
      a(
        ng-class = "{active: acv.editing}"
        ng-click = "popoverFileExplorerRepository.actions.editRepo(acv)"
        pop-over
        pop-over-actions = "popoverFilesRepositoryCommitToggle.actions"
        pop-over-active = "acv.editing"
        pop-over-data = "popoverEditRepoCommit.data"
        pop-over-options = "{\"left\":210,\"top\":-198}"
        pop-over-template = "viewPopoverFilesRepositoryCommitToggle"
        pop-over-trigger = "activeAttr"
      )
        svg.iconnables.filetypes.icons-repository
          use(
            ng-if = "fileModel.appCodeVersions.models[0] !== acv"
            xlink:href = "#icons-repository-additional"
          )
          use(
            ng-if = "fileModel.appCodeVersions.models[0] === acv"
            xlink:href = "#icons-repository"
          )
        span.item-name {{ normalizeRepoNames(acv.attrs.repo) }}
  ul(
    ng-if = "dir.contents.models.length"
    ng-include = "'viewFileTreeDirItem'"
  )
