li.folder(
  droppable
  draggable
  ng-class = "{ 'in': dir.state.open }"
)
  a(
    ng-click = "actions.closeOpenModals(); \
                dir.state.open = !dir.state.open; \
                $event.stopPropagation();"
    popover-file-explorer-folder-menu
  )
    svg.iconnables.filetypes.icons-folder
      use(xlink:href = "#icons-folder")
    input.tree-input(
      ng-keyup = "($event.keyCode === 13) && dirItemData.actions.closeFolderNameInput();"
      ng-readonly = "!dirItemData.editFolderName"
      value = "{{ dir.attrs.name }}"
    )
    span.item-name {{ dir.attrs.name }}
  ul(
    ng-if = "dir.contents.models.length"
    ng-include = "'viewFileTreeDirItem'"
  )