li.folder(
  droppable
  draggable
  ng-class = "{ 'in': dir.state.open }"
)

  a(
    ng-click = "actions.closeOpenModals(); \
                dir.state.open = !dir.state.open; \
                $event.stopPropagation();"
    pop-over
    pop-over-actions = "popoverFileExplorerFolder.actions"
    pop-over-data = "popoverFileExplorerFolder"
    pop-over-template = "viewFileTreePopoverFileExplorerFolderMenu"
    pop-over-options = "popoverFileExplorerFolder.options"
    pop-over-trigger = "rightClick"
    pop-over-active = "popoverFileExplorerFolder.active"
  )
    svg.iconnables.filetypes.icons-folder
      use(xlink:href = "#icons-folder")
    input.tree-input(
      ng-keyup = "($event.keyCode === 13) && actions.closeFolderNameInput();"
      ng-readonly = "!editFolderName"
      value = "{{ dir.attrs.name }}"
    )
    span.item-name {{ dir.attrs.name }}
  //- This part is ng-included here to get around an Angular compiling issue when recursively
      using directives.  Without this, angular will just blow the stack and use all of your
      processor
  ul(
    ng-if = "dir.contents.models.length"
    ng-include = "'viewFileTreeDirItem'"
  )