li.folder(
  droppable
  ng-class = "{ 'in': dir.state.open }"
)
  a(
    ng-click = "actions.closeOpenModals(); \
                dir.state.open = !dir.state.open; \
                $event.stopPropagation();"
    popover-file-explorer-folder-menu
  )
    svg.iconnables.filetypes.icons-folder
      use(xlink:href = "#icons-folder")
    input.tree-input(
      ng-keyup = "($event.keyCode === 13) && dirItemData.actions.closeFolderNameInput();"
      ng-readonly = "!dirItemData.editFolderName"
      value = "{{ dir.attrs.name }}"
    )
    span.item-name {{ dir.attrs.name }}
  ul(
    ng-if = "dir.contents.models.length"
  )
    file-tree-dir(
      droppable
      ng-repeat = "fs in dir.contents.models \
                   | isDir \
                   | orderBy:actions.normalizeMixedDataValue"
      dir = "fs"
      open = "fs.state.open"
      open-items = "openItems"
      read-only = "readOnly"
    )
    //- 'dirty' state checking only on instance page
    li.file(
      draggable
      ng-repeat = "fs in dir.contents.models \
                   | isFile \
                   | orderBy:actions.normalizeMixedDataValue"
      ng-class = "{ \
          'active': fs.state.active, \
          'dirty': (fs.state.body !== fs.attrs.body) \
        }"
    )
      a(
        ng-click = "actions.closeOpenModals(); \
                    actions.openFile(fs); \
                    $event.stopPropagation();"
        popover-file-explorer-item-menu
      )
        svg.iconnables.filetypes.icons-file
          use(xlink:href = "#icons-file")
        input.tree-input(
          name = "{{ fs.id() }}"
          ng-keyup = "($event.keyCode === 13) && fileItemData.actions.closeFileNameInput();"
          ng-readonly = "!fs.state.renaming"
          value = "{{ fs.attrs.name }}"
          select-on = "fs.state.renaming"
        ) {{ fs.attrs.name }}
        span.item-name {{ fs.attrs.name }}
