.modal-dialog.modal-wizard.modal-getting-started(
  ng-click = "$event.stopPropagation()"
)
  .modal-container
    nav.modal-navbar.modal-wizard-navbar
      h3.modal-heading Create New Server
      ul.list
        li.list-item(
          ng-class = "{active: state.step === 1}"
        ) 1 Repository
        li.list-item.no-states(
          ng-class = "{active: state.step === 2}"
        ) 2 Application
        li.list-item.no-states(
          ng-class = "{active: state.step === 3}"
        ) 3 Environment Variables
      button.btn.btn-xs.white(
        ng-click = "defaultActions.cancel();"
      ) Cancel
    .modal-body.modal-repo-selector(
      actions = "actions"
      data = "data"
      gs-repo-selector
      ng-show = "state.step === 1"
      state = "state"
    )
    .modal-body.modal-stack-selector.clearfix(
      actions = "actions"
      data = "data"
      modal-stack-selector
      ng-show = "state.step === 2"
      state = "state"
    )
    .modal-body.modal-gs-environments(
      actions = "actions"
      data = "data"
      modal-gs-envs
      state = "state"
      ng-show = "state.step === 3"
    )