.modal-backdrop.in(
  ng-click = "$event.stopPropagation()"
  ng-if = "in"
)
  .modal-dialog.modal-sidebar.modal-wizard.modal-getting-started(
    actions = "actions"
    current-model = "currentModel"
    data = "data"
    default-actions = "defaultActions"
    modal-getting-started
    state-model = "stateModel"
  )