.col
  label.row.clearfix
    span.label-text Language
    button.btn.btn-sm.gray node.js v0.10.35
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
  label.row.clearfix
    span.label-text Ports
    small.small Separate by commas
    input.input.input-sm(
      placeholder = "80,8000,8001"
    )
  label.row.clearfix
    span.label-text Command
    small.small Something about commands
    input.input.input-sm(
      placeholder = "npm start"
    )
.col
  .well.gray
    h2.sub-header
      span.sub-header-text Dependencies
      button.btn.btn-xxs.gray.sub-header-action Add…
    ul.list
      li.list-item PostgresQL
      li.list-item RabbitMQ