.modal-dialog.modal-wizard.modal-getting-started.modal-wizard-1(
  ng-click = "$event.stopPropagation()"
)
  .modal-container(
    ng-include = "'viewModalRepoSelector'"
  )
  .modal-container
    header.modal-header
    main.modal-body
    footer.modal-footer
  .modal-container
    header.modal-header
    main.modal-body
    footer.modal-footer