.modal-dialog.modal-wizard.modal-getting-started.modal-wizard-1(
  ng-click = "$event.stopPropagation()"
)
  .modal-container(
    ng-include = "'viewModalRepoSelector'"
  )
  .modal-container(
    ng-include = "'viewModalStackSelector'"
  )
  .modal-container(
    ng-include = "'viewModalStackDependencies'"
  )