.modal-dialog.modal-wizard.modal-getting-started(
  ng-click = "$event.stopPropagation()"
)
  .modal-container
    header.modal-header
      h1.modal-heading Create New Server
    .modal-body.modal-repo-selector(
      actions = "actions"
      data = "data"
      gs-repo-selector
      ng-show = "state.step === 1"
      state = "state"
    )
    .modal-body.modal-stack-selector.clearfix(
      allDependencies = "allDependencies"
      ng-show = "state.step === 2"
      actions = "actions"
      ng-include = "'viewModalStackSelector'"
      setup-stack-dependencies
      state = "state"
    )
    //- .modal-body.modal-stack-dependencies(
    //-   ng-include = "'viewModalStackDependencies'"
    //-   ng-show = "state.step === 3"
    //- )