.modal-dialog.modal-wizard.modal-getting-started(
  ng-click = "$event.stopPropagation()"
)
  .modal-container
    //- header.modal-header
      h1.modal-heading Create New Server
    header.modal-header.modal-wizard-header
      .row
        small.small Create New Server
        //- div
          span 1
          span 2
      .row
        button.btn.btn-icon
          svg.iconnables.icons-arrow-back
            use(
              xlink:href = "#icons-arrow-back"
            )
        span CodeNow/runnable-angular
        button.btn-xs.gray.btn-select
          svg.iconnables.icons-branch
            use(
              xlink:href = "#icons-branch"
            )
          | master
          svg.iconnables.icons-arrow-down
            use(
              xlink:href = "#icons-arrow-down"
            )
      h1.modal-heading Create New Server
    //- .modal-body.modal-repo-selector(
    //-   actions = "actions"
    //-   data = "data"
    //-   ng-include = "'viewModalRepoSelector'"
    //-   gs-repo-selector
    //-   ng-show = "state.step === 1"
    //-   state = "state"
    //- )
      ng-show = "state.step === 2"
    .modal-body.modal-stack-selector.clearfix(
      allDependencies = "allDependencies"
      actions = "actions"
      ng-include = "'viewModalStackSelector'"
      setup-stack-dependencies
      state = "state"
    )
    //- .modal-body.modal-stack-dependencies(
    //-   ng-include = "'viewModalStackDependencies'"
    //-   ng-show = "state.step === 3"
    //- )