.popover.menu.bottom.popover-select(
  ng-class = "{in: data.show}"
  ng-style = "popoverStyle.getStyle()"
)
  .popover-content
    ul.list.popover-list
      li.list-item.popover-list-item.small Host names of servers in your environment
      li.list-item.popover-list-item
        small.small.monospace api-codenow.runnableapp.com
      li.list-item.popover-list-item
        small.small.monospace mavis-codenow.runnableapp.com
      li.list-item.popover-list-item
        small.small.monospace mongodb-codenow.runnableapp.com
      li.list-item.popover-list-item
        small.small.monospace runnable-web-codenow.runnableapp.com