.popover-overlay
  .popover.bottom.popover-fixed.popover-environment-variable(
    ng-style = "popoverStyle.getStyle()"
  )
    form.popover-content
      h2.popover-title New Linking Variable
        small.small Environment variables can be used to link other servers in your environment together. #{''}
            a.link More about linking with environment variables
      .label.label-row.clearfix
        label.label-col Key
          input.input.input-sm.input-validate.monospace(
            placeholder = "Variable"
            required
          )
        span.span-col =
        label.label-col Value
          //- pop-over
          //- pop-over-actions = "popoverHostNames.actions"
          //- pop-over-active = "popoverHostNames.data.show"
          //- pop-over-data = "popoverHostNames.data"
          //- pop-over-options = "{\"left\":0,\"top\":39}"
          //- pop-over-template = "viewPopoverHostNames"
          input.input.input-sm.input-validate.monospace(
            placeholder = "Host name"
            required
          )
          svg.iconnables.icons-arrow-down(
            ng-if = "data.checkLink"
          )
            use(
              xlink:href = "#icons-arrow-down"
            )
          small.small(
            ng-class = "{\
              valid: data.linkValid,\
              invalid: !data.linkValid\
            }"
            ng-click = "data.linkValid = !data.linkValid"
          )
            svg.iconnables.icons-check(
              ng-if = "data.linkValid"
            )
              use(
                xlink:href = "#icons-check"
              )
            span(
              ng-if = "data.linkValid"
            ) Looking good. #{''}
              span You can add ports too. Open ports: #{''}
              span.tag.monospace 80
              span.tag.monospace 3000
            svg.iconnables.icons-check(
              ng-if = "!data.linkValid"
            )
              use(
                xlink:href = "#icons-warning"
              )
            span(
              ng-if = "!data.linkValid"
            ) Words of encouragement

      footer.popover-footer.clearfix
        //- disabled if errors
        button.btn.green(
          ng-disabled = "!data.linkValid"
        ) Add Variable
          //- says Update Variable if not new
        button.btn.white.btn-cancel(
          type = "button"
        ) Cancel
