.popover-overlay
  .popover.bottom.popover-fixed.popover-environment-variable(
    ng-style = "popoverStyle.getStyle()"
  )
    .popover-content
      h3.popover-title Add Environment Variable
      .label.clearfix
        .label-col Type of Variable
        .input-col
          label.label(
            ng-click = "data.typeSelected = true"
          )
            input(
              name = "variableType"
              type = "radio"
            )
            | Non-linking
          label.label(
            ng-click = "data.typeSelected = true"
          )
            input(
              name = "variableType"
              type = "radio"
            )
            | Link to a server
            small.small Environment variables can be used to link other servers in your environment together.
      label.label Key
        input.input.input-sm(
          ng-disabled = "!data.typeSelected"
          placeholder = "[key]"
        )
      label.label Value
        input.input.input-sm(
          ng-disabled = "!data.typeSelected"
          placeholder = "[value]"
        )
