.popover.right.popover-branch-menu(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white(
    ng-style = "popoverStyle.getArrowStyle()"
  )

  section.padding-xs.popover-content.list-actions.list-commits(
    branch-commit-list
    instance = "data.instance"
  )
  section.section-secondary.padding-xs(
    ng-if = "$root.featureFlags.multipleWebhooks"
  )
    ul
      li.grid-block.align-center.list-item.popover-list-item
        svg.iconnables.icons-delete
          use(
            xlink:href = "#icons-delete"
          )
        | Delete Environments…