.popover.context-menu.file-menu.bottom.fade(
  ng-class = "{in: fileItemData.isOpen}"
  ng-style = "fileItemData.eStyle"
  right-click
)
  .popover-content
    ul#file-explorer-options.popover-body
      li(ng-click = "fileItemData.actions.openFile(); $event.stopPropagation();")
        svg.iconnables
          use(xlink:href = "#icons-file-open")
        | Open
      li.divider
      li(ng-click = "fileItemData.actions.renameFile(); $event.stopPropagation();")
        svg.iconnables
          use(xlink:href = "#icons-file-modify")
        | Rename
      li(ng-click = "fileItemData.actions.deleteFile(); $event.stopPropagation();")
        svg.iconnables
          use(xlink:href = "#icons-file-delete")
        | Delete
