.popover.file-menu.bottom.fade(
  ng-class = "{'in': data.show, 'show-add-repo': data.showAddRepo, 'show-form': data.showForm}"
)
  .arrow.white
  .popover-content
    ul#file-explorer-options.popover-body
      li Modify
      li Remove