.popover.file-menu.bottom.fade(
  ng-class = "{in: popoverData.isOpen}"
  ng-style = "popoverData.eStyle"
  right-click
)
  .popover-content
    ul#file-explorer-options.popover-body
      //- li
      //-   svg.iconnables
      //-     use(xlink:href = "#icons-git-new")
      //-   | Add Repo
      //- li.divider
      li(ng-click = "popoverData.actions.modify()")
        svg.iconnables
          use(xlink:href = "#icons-git-modify")
        | Modify
      li(ng-click = "popoverData.actions.remove()")
        svg.iconnables
          use(xlink:href = "#icons-git-delete")
        | Remove