.popover.file-menu.bottom.fade.in
  .popover-content
    ul#file-explorer-options.popover-body
      li(
        ng-click = "actions.createFile()"
      )
        svg.iconnables
          use(xlink:href = "#icons-file-new")
        | New File
      li
        svg.iconnables
          use(xlink:href = "#icons-folder-new")
        | New Folder
