.popover-body
  li(ng-click = "dPFEMenu.actions.createFile(); $event.stopPropagation();")
    svg.iconnables
      use(xlink:href = "#icons-file-new")
    | New File
  li(ng-click = "dPFEMenu.actions.createFolder(); $event.stopPropagation();")
    svg.iconnables
      use(xlink:href = "#icons-folder-new")
    | New Folder
