.popover.file-menu.bottom.fade.in
  .arrow.white
  .popover-content
    ul#file-explorer-options.popover-body
      li Open
      li.divider
      li
        svg.iconnables
          use(xlink:href = "#icons-file-modify")
        | Rename
      li
        svg.iconnables
          use(xlink:href = "#icons-file-delete")
        | Delete