.popover.file-menu.bottom.fade(
  ng-class = "{in: popoverData.isOpen}"
  ng-style = "popoverData.eStyle"
  right-click
)
  .popover-content
    ul#file-explorer-options.popover-body
      li(ng-click = "popoverData.actions.modify()") Modify
      li(ng-click = "popoverData.actions.remove()") Remove
