.popover.popover-invite-admins.right(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow
  .popover-content
    p.p To add branches for this repository, we need permission from one of its GitHub admins.
    button.btn.btn-xs(
      modal
      modal-template = "viewModalInviteAdmin"
    ) Invite Admin…