.label-col Exposed Ports
.input-col
  js-tag.textarea.monospace(
    js-tag-options = "portTagOptions"
  )
  small.small Expose ports for listening at runtime. #{''}
    a.link(
      href = "//docs.docker.com/reference/builder/#expose"
      target = "_blank"
    ) More about exposing ports
    | .
