.label-col Exposed Ports

label.input-col

  //- input for exposed ports
  js-tag.textarea.monospace(
    js-tag-options = "data.portTagOptions"
  )

  small.small Expose ports for listening at runtime. #{''}
    a.link(
      href = "//docs.docker.com/reference/builder/#expose"
      target = "_blank"
    ) More about exposing ports