.modal-dialog.modal-repository-select
  header.modal-header
    h1.modal-heading New Server from Template

  section.modal-body
    ul.list.list-repositories
      li.list-item
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
        | Cassandra
        button.btn.btn-xs.green Add server
      li.list-item
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
        | Elastic Search
        button.btn.btn-xs.green Add server
      li.list-item
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
        | HBase
        button.btn.btn-xs.green Add server
      li.list-item
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
        | Memcached
        button.btn.btn-xs.green Add server
      li.list-item
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
        | MongoDB
        button.btn.btn-xs.green Add server
      li.list-item
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
        | MySQL
        button.btn.btn-xs.green Add server
      li.list-item
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
        | Nginx
        button.btn.btn-xs.green Add server
      li.list-item
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
        | PostgreSQL
        button.btn.btn-xs.green Add server
      li.list-item
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
        | RabbitMQ
        button.btn.btn-xs.green Add server
      li.list-item
        svg.iconnables.icons-server
          use(
            xlink:href = "#icons-server"
          )
        | Redis
        button.btn.btn-xs.green Add server

  footer.modal-footer.clearfix
    button.btn.white.btn-cancel(
      ng-click = "defaultActions.cancel();"
    ) Cancel