.btn-repository.main-btn.deprecated {
  min-height: 127px;
  padding-bottom: ($input-sm + 6px);

  .icons-arrow-forward {
    height: calc(100% - 36px);
  }
}

.btn-auto-deploy-deprecated {
  background: $gray-lightest;
  border-radius: 0 0 $input-border-radius;
  border-top: 1px solid $gray-lighter;
  bottom: 0;
  color: $gray;
  cursor: default;
  font-size: 13px;
  height: $input-sm;
  left: 0;
  margin: $input-border;
  padding: 0 9px;
  position: absolute;
  right: 0;
  z-index: 1;

  .icons-launch {
    filter: grayscale(100%);
    height: 100%;
    margin: 0 6px 0 -3px;
    opacity: .75;
    text-align: center;
    width: 18px;

    @include retina() {
      margin-left: 0;
      width: 15px;
    }
  }

  .underline {
    line-height: 1.2;
    margin-top: 8px;
  }

  .toggle-wrapper {
    top: 9px;

    &.disabled {
      cursor: not-allowed;
      opacity: .5;
    }
  }
}
