//- ************************
//- deprecated file, delete with $root.featureFlags.cardStatus
.server-status-card-pop-over.deprecated {

  &.in-modal {
    cursor: default;
  }

  .icons-status {
    flex: 0 0 auto;
  }

  .container-title {
    margin-left: 5px;
  }
}

.card-header .server-status-card-pop-over.deprecated .container-title {
  font-size: 18px;
}
//- end deprecated file
//- ************************
