//- ************************
//- deprecated file, delete with $root.featureFlags.demoPersonalOnly
.service-cta .demo-progress {
  width: calc(100% + 30px);
}

.popover-demo.service-cta {
  margin-bottom: 9px;
  margin-top: 5px;
}
//- end deprecated file
//- ************************
