.instances-list.deprecated {

  .cluster-list-heading {

    &:hover .icons-config {
      opacity: .75;
    }

    // gear icon
    .icons-config {
      cursor: pointer;
      opacity: .6;
      pointer-events: auto;
      transition: opacity .15s, transform .15s;

      &:hover {
        transform: rotate3d(0,0,1,30deg);
      }

      &:active {
        opacity: 1;
        transform: rotate3d(0,0,1,60deg);
      }
    }
  }

  .a-sref {
    padding-right: 9px;
  }

  // configure/overflow
  .iconnables {
    cursor: pointer;
    flex: 0 0 15px;
    margin-left: 5px;
    pointer-events: auto; // override iconnables default
  }

  .icons-config {
    margin-right: 4px;
  }

  // overflow icon
  .icons-overflow {
    flex: 0 0 15px;
    pointer-events: auto;
  }

  // isolation badge
  .btn-badge.btn-badge {
    border-color: currentColor;
    color: currentColor;
    margin-left: 6px;
    opacity: .5;
  }

  // "more…" button
  .btn-more-containers {
    color: darken($gray-light,10%);
    font-style: italic;
    left: 15px;

    &:hover {
      color: $purple-light;
    }

    &:active {
      color: $purple-light;
    }
  }

  .cluster-list-item {
    margin-bottom: 5px;
  }

  .cluster-list-item > .container-list {
    border: 1px solid transparent;
    padding: 0;
    border-radius: 3px;

    &.open {
      border-color: rgba($purple-light,.3);
    }

    .a-sref {
      margin-bottom: 0;
      border-radius: 0;

      &:active,
      &.active {
         background: rgba($purple-light,.1);
      }
    }
  }
}
