.instances-list.deprecated {

  .list-item-header {
    padding: 0 11px 0 29px;

    &:hover .icons-advanced {
      opacity: .75;
    }

    // gear icon
    .icons-advanced {
      cursor: pointer;
      opacity: .6;
      pointer-events: auto;
      transition: opacity .15s, transform .15s;

      &:hover {
        transform: rotate3d(0,0,1,30deg);
      }

      &:active {
        opacity: 1;
        transform: rotate3d(0,0,1,60deg);
      }
    }
  }

  .a-sref {
    padding-right: 9px;
  }

  // configure/overflow
  .iconnables {
    cursor: pointer;
    flex: 0 0 15px;
    margin-left: 5px;
    pointer-events: auto; // override iconnables default
  }

  .icons-advanced {
    margin-right: -1px;
  }

  // overflow icon
  .icons-overflow {
    flex: 0 0 15px;
    pointer-events: auto;
  }

  // isolation badge
  .btn-badge.btn-badge {
    border-color: currentColor;
    color: currentColor;
    margin-left: 5px;
    opacity: .5;
  }

  // "more…" button
  .btn-more-containers {
    color: darken($gray-light,10%);
    font-style: italic;
    left: 15px;

    &:hover {
      color: $purple-light;
    }

    &:active {
      color: $purple-light;
    }
  }

  .btn-add-branches {
    height: 21px;
    line-height: 17px;
    margin: 9px 0 3px 21px;
  }
}
