.modal-server-select.deprecated {

  .modal-header {
    flex: 0 0 auto;
    padding: 0;
  }

  .modal-body.grid-block {
    flex-direction: row;
  }

  // search
  .input-xs {
    line-height: $input-xs;
    margin-bottom: 15px;
    width: 150px;
  }

  .btn-huge {
    color: $gray;
    display: flex;
    font-size: 16px;
    height: 210px;
    justify-content: center;
    line-height: 1.4;
    margin: 0 6px;
    white-space: normal;

    &:last-child {
      background: url(/build/images/other-containers.png) no-repeat center center $white;
      background-size: cover;
    }
  }

  .iconnables {
    margin: 0 auto;
  }

  // add container button
  .multi-line .btn-xs {
    top: 16px;
  }
}
