.secondary-actions(
  ng-if = "instance"
)
  button.btn.white(
    ng-click = "goToInstance(true)"
    type = "button"
  ) Discard Changes
  button.btn.white.btn-action(
    modal
    modal-actions = "popoverGearMenu.actions.actionsModalFork"
    modal-data = "popoverGearMenu.data.dataModalFork"
    modal-template = "viewOpenModalForkBox"
    title = "Fork Server"
    type = "button"
  )
    svg.iconnables.icons-fork
      use(
        xlink:href = "#icons-fork"
      )
    | Fork
  button.btn.white.btn-icon.btn-action(
    ng-class = "{active: popoverGearMenu.data.show}"
    type = "button"
    pop-over
    pop-over-active = "popoverGearMenu.data.show"
    pop-over-actions = "popoverGearMenu.actions"
    pop-over-data = "popoverGearMenu.data"
    pop-over-options = "{\"left\":-67,\"top\":54}"
    pop-over-template = "viewInstanceEditPopoverActions"
  )
    svg.iconnables.icons-gear
      use(
        xlink:href = "#icons-gear"
      )
    //- popover for rename, for, delete box
