.secondary-actions
  .save-spinner(
    ng-class = "{ in: saving }"
  )
  a.btn.white.btn-icon.btn-actions(
    ng-class = "{active: popoverGearMenu.data.show}"
    toggle-pop-over
    toggle-pop-over-model = "popoverGearMenu.data.show"
    type = "button"
  )
    svg.iconnables.icons-gear
      use(
        xlink:href = "#icons-gear"
      )
    //- popover for rename, for, delete box
    pop-over(
      actions = "popoverGearMenu.actions"
      data = "popoverGearMenu.data"
      template = "viewInstanceEditPopoverActions"
    )
  button.white(
    ng-click = "goToInstance(true)"
    type = "button"
  ) Discard Changes
