.popover.menu.bottom.fade.popover-actions(
  ng-class = "{in: data.show}"
)
  .arrow.white
  .popover-content
    ul.popover-list
      li.popover-list-item(
        modal
        modal-actions = "actions.actionsModalEnvironment"
        modal-current-model = "data.instance.attrs"
        modal-data = "data.dataModalEnvironment"
        modal-state-model = "data.instance.state"
        modal-template = "viewOpenModalEnvironment"
      ) Edit Environment
      li.divider
      li.popover-list-item(
        modal
        modal-actions = "actions.actionsModalRename"
        modal-data = "data.dataModalRename"
        modal-template = "viewModalRenameBox"
      ) Rename Box
      li.popover-list-item(
        modal
        modal-actions = "actions.actionsModalDelete"
        modal-data = "data.dataModalDelete"
        modal-template = "viewModalDeleteBox"
      ) Delete Box
