.secondary-actions(
  ng-if = "instance"
)
  button.btn.white(
    ng-click = "goToInstance(true)"
    type = "button"
  ) Discard Changes
  button.btn.white.btn-action(
    modal
    modal-actions = "popoverGearMenu.actions.actionsModalFork"
    modal-data = "popoverGearMenu.data.dataModalFork"
    modal-template = "viewOpenModalForkBox"
    title = "Fork Box"
    type = "button"
  )
    svg.iconnables.icons-fork
      use(
        xlink:href = "#icons-fork"
      )
    | Fork
  button.btn.white.btn-icon.btn-actions(
    ng-class = "{active: popoverGearMenu.data.show}"
    toggle-pop-over
    toggle-pop-over-model = "popoverGearMenu.data.show"
    type = "button"
  )
    svg.iconnables.icons-gear
      use(
        xlink:href = "#icons-gear"
      )
    //- popover for rename, for, delete box
    pop-over(
      actions = "popoverGearMenu.actions"
      data = "popoverGearMenu.data"
      popover-options = "{\"left\":-67,\"top\":54}"
      template = "viewInstanceEditPopoverActions"
    )
