.popover.menu.bottom.in
  .arrow.white
  .popover-content
    ul.popover-body.popover-list
      li.popover-list-item
        a(
          href = "#"
        )
          img.gravatar(
            height = "24"
            width = "24"
          )
          | account-name
      li.popover-list-item
        a(
          href = "#"
        )
          img.gravatar(
            height = "24"
            width = "24"
          )
          | account-name
      li.popover-list-item
        a(
          href = "#"
        )
          img.gravatar(
            height = "24"
            width = "24"
          )
          | account-name
    ul.popover-body.popover-list
      li.popover-list-item
        svg.iconnables.icons-exit
          use(
            xlink:href = "#icons-exit"
          )
        | Integrations
      li.popover-list-item
        svg.iconnables.icons-exit
          use(
            xlink:href = "#icons-exit"
          )
        | Log Out