.popover.menu.bottom.popover-account-menu.in
  .arrow.white
  .popover-content
    ul.popover-body.popover-list
      li.popover-list-item.small Change Organization
      li.popover-list-item
        a.list-link(
          href = "#"
        )
          img.gravatar(
            height = "24"
            src = "https://avatars2.githubusercontent.com/u/9753912?v=3&s=60"
            width = "24"
          )
          | SnapUpDemo
      li.popover-list-item
        a.list-link(
          href = "#"
        )
          img.gravatar(
            height = "24"
            src = "https://avatars3.githubusercontent.com/u/2828361?v=3&u=f6caf0ed414ff4693585e781657dc759f0028602&s=60"
            width = "24"
          )
          | Runnable
    ul.popover-body.popover-list
      li.popover-list-item(
        modal
        modal-actions = "actions.actionsModalIntegrations"
        modal-data = "data.dataModalIntegrations"
        modal-template = "viewOpenModalIntegrations"
      )
        //- svg.iconnables.icons-exit
          use(
            xlink:href = "#icons-exit"
          )
        | Integrations
      li.popover-list-item
        //- svg.iconnables.icons-exit
          use(
            xlink:href = "#icons-exit"
          )
        | Log Out