section.label-description
  .label-col Private Registry
  .small.text-gray If you push your images to a private registry, you can safely store your credientials to use those images on Runnable.&#32;
    a.link(
      href = "//runnable.com/docs"
      target = "_blank"
    ) Learn more
    | .

form.grid-block.vertical.well.gray.ignore-margin(
  ng-class = "{'invalid': state.invalidCredentials}"
  name = "privateRegistryForm"
  ng-if = "!state.authorized"
  ng-init = "state.authorized = null"
)
  p.red.small.text-center(
    ng-if = "state.invalidCredentials"
  ) We couldn’t validate your credentials.
    br
    | Please check them and try again.
  label.padding-sm.label
    .padding-xxs.small.label-sm Registry URL
    input.input.input-md.input-validate(
      name = "data.url"
      ng-disabled = "state.saving"
      ng-model = "data.url"
      ng-required = "true"
      placeholder = "https://index.docker.io/v1/"
      spellcheck = "false"
      type = "url"
    )
    small.grid-block.padding-xxs.small Add the URL for the registry you use. This could be from Docker Hub, or a private registry.
  label.padding-sm.label
    .padding-xxs.small.label-sm Username
    input.input.input-md.input-validate(
      name = "data.username"
      ng-disabled = "state.saving"
      ng-model = "data.username"
      ng-required = "true"
      spellcheck = "false"
    )
  label.padding-sm.label
    .padding-xxs.small.label-sm Password
    input.input.input-md.input-validate(
      autocomplete = "new-password"
      name = "data.password"
      ng-disabled = "state.saving"
      ng-model = "data.password"
      ng-required = "true"
      spellcheck = "false"
      type = "password"
    )
  footer.margin-top-sm.padding-sm.grid-block.justify-right.footer
    button.grid-block.shrink.align-center.btn.btn-md.green(
      ng-click = "state.saving = true"
      ng-disabled = "state.saving || privateRegistryForm.$invalid"
      ng-init = "state.saving = null"
    )
      .spinner-wrapper.spinner-sm.spinner-white(
        ng-if = "state.saving"
        ng-include = "'spinner'"
      )
      span Verify & Save

section.padding-sm.grid-block.align-center.well.white.ignore-margin(
  ng-if = "state.authorized"
  ng-init = "registryCredentials = [\
    {username: 'dockerfan88', url: 'https://index.docker.io/v1/'}\
  ]"
)
  svg.margin-right-xxs.text-green.grid-block.shrink.iconnables.icons-check
    use(
      xlink:href = "#icons-check"
    )
  .grid-block.vertical
    p.small.weight-strong.text-overflow Authorized {{registryCredentials[0].username}}
    small.small.text-gray.text-overflow {{registryCredentials[0].url}}
  button.btn.btn-xs.gray.margin-left-xxs Change
