section.label-description
  .label-col Private Registry
  .small.text-gray If you push your images to a private registry, you can safely store your credentials to use those images on Runnable.&#32;
    a.link(
      href = "//runnable.com/docs"
      target = "_blank"
    ) Learn more
    | .

form.grid-block.vertical.well.gray.ignore-margin(
  name = "privateRegistryForm"
  ng-class = "{'invalid': state.invalidCredentials}"
  ng-if = "!state.authorized && !$root.featureFlags.pushToRegistry"
  ng-include = "'registryUnauthorizedView'"
  ng-init = "state.authorized = null"
)

section.padding-sm.grid-block.align-center.well.white(
  ng-if = "state.authorized || $root.featureFlags.pushToRegistry"
  ng-include = "'registryAuthorizedView'"
  ng-init = "registryCredentials = [\
    {username: 'dockerfan88', url: 'https://index.docker.io/v1/'}\
  ]"
)

section.grid-block.vertical.well.gray(
  ng-if = "$root.featureFlags.pushToRegistry"
  ng-include = "'pushToRegistryView'"
)
