label.grid-block.align-center.justify-justified.label
  .padding-left-xxs.small.label-sm Push Images to Registry
  .toggle-wrapper
    input.toggle-input(
      ng-model = "state.pushToRegistry"
      type = "checkbox"
    )
    .toggle-group.toggle-sm
