.environment-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 15px;
}

// styles specific to notifications in environment
.notification.environment-notification {
  border-width: 1px;
  font-size: 13px;
  font-weight: $weight-normal;
  right: 16px;
  top: 18px;

  &.gray,
  &.green,
  &.red {
    background: $white;
    box-shadow: none;
  }

  &.gray {
    color: $gray;
  }

  &.green {
    color: $green;
  }

  &.red {
    border: 1px solid $red;
    color: $red;
  }

  // if a modal is open
  .modal-open & {
    display: table;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 9px;
    width: 160px;
  }

  .iconnables {
    color: currentColor;
    margin: 6px 3px 0 -6px;
    width: 21px;
  }

  // undo
  .link {
    color: currentColor;
    margin-left: 6px;
  }
}