// environment header
.environment-header {
  flex: 0 0 auto;
  margin-bottom: 15px;
  overflow: visible;
  position: relative;

  + .aha-guide {
    margin: 0 auto 15px;
    max-width: 450px;

    .p-slide {
      font-size: 15px;
      position: relative;
      top: 0;
    }
  }

  // new server button
  > .green {
    display: table;
    margin: 0 auto;

    @include media(xxxs) {
      font-size: 16px;
      height: $input-sm;
      line-height: $input-line-height-sm;
      margin-top: 3px;
    }

    &.scale {
      animation: scale .4s ease;
    }

    &.scale-in-modal {
      animation: scale-in-modal .15s ease-out;
    }

    .icons-add {
      background: $white;
      border-radius: $input-border-radius;
      color: $green;
      height: 18px;
      margin: 10px 9px 0 0;
      width: 18px;

      @include media(xxxs) {
        margin-top: 8px;
      }
    }
  }
}
