// environment header
.environment-header {
  flex: 0 0 auto;
  margin-bottom: 15px;

  .btn-aha {
    right: 18px;
    top: 18px;
  }

  // new server button
  .green {
    display: table;
    margin: 0 auto;

    &.scale {
      animation: scale .4s ease;
    }

    .icons-add {
      background: $white;
      border-radius: $input-border-radius;
      color: $green;
      height: 18px;
      margin: 10px 9px 0 0;
      width: 18px;
    }
  }
}
