// environment body
.environment-body {
  flex: 1 0 auto;

  // aha guide
  > .modal-dialog {
    min-width: 0;
  }
}

// card grid
// max-width on config cards
.card-grid {
  flex-wrap: wrap;

  &.padding-top {
    padding-top: 60px;
  }

  .card {
    height: 466px;
    margin-bottom: 15px;
    min-width: 0;

    &.deprecated {
      height: 444px;
    }

    // sibling styles must appear first to be overridden by media queries
    // scss-lint:disable DeclarationOrder
    + .card {
      margin-left: 15px;
    }

    @include media(xxl) {
      flex: 0 0 calc(20% - 12px);

      // on the 6th card + 5 thereafter
      &:nth-child(5n+6) {
        margin-left: 0;
      }
    }

    @include media(xl) {
      flex: 0 0 calc(25% - 12px);

      // on the 6th card + 5 thereafter
      &:nth-child(5n+6) {
        margin-left: 15px;
      }

      // on the 5th card + 4 thereafter
      &:nth-child(4n+5) {
        margin-left: 0;
      }
    }

    @include media(lg) {
      flex: 0 0 calc(33.333% - 10px);

      // on the 6th card + 5 thereafter
      &:nth-child(5n+6) {
        margin-left: 15px;
      }

      // on the 5th card + 4 thereafter
      &:nth-child(4n+5) {
        margin-left: 15px;
      }

      // on the 4th card + 3 thereafter
      &:nth-child(3n+4) {
        margin-left: 0;
      }
    }

    @include media(md) {
      flex: 0 0 calc(50% - 8px);

      // on the 6th card + 5 thereafter
      &:nth-child(5n+6) {
        margin-left: 15px;
      }

      // on the 5th card + 4 thereafter
      &:nth-child(4n+5) {
        margin-left: 15px;
      }

      // on the 4th card + 3 thereafter
      &:nth-child(3n+4) {
        margin-left: 15px; // override media(xl)
      }

      // no the 3rd card + 2 thereafter
      &:nth-child(2n+3) {
        margin-left: 0;
      }
    }

    @include media(xs) {
      flex: 0 0 100%;

      &:nth-child(5n+6),
      &:nth-child(4n+5),
      &:nth-child(3n+4),
      &:nth-child(2n+3),
      + .card {
        margin-left: 0;
      }
    }

    // center if only child
    &:only-child {
      float: none;
      margin: 0 auto;
    }
    // scss-lint:enable DeclarationOrder
  }
}
