// environment header
.environment-header {
  flex: 0 0 auto;
  margin-bottom: 15px;
  overflow: visible;
  position: relative;

  + .aha-guide {
    margin: 0 auto 15px;
    max-width: 450px;

    .p-slide {
      font-size: 15px;
      position: relative;
      top: 0;
    }
  }

  .btn-aha {
    right: 0;
    top: 3px;
  }

  // new server button
  .green {
    display: table;
    margin: 0 auto;

    &.scale {
      animation: scale .4s ease;
    }

    .icons-add {
      background: $white;
      border-radius: $input-border-radius;
      color: $green;
      height: 18px;
      margin: 10px 9px 0 0;
      width: 18px;
    }
  }
}
