.environment-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 15px;
}

// styles specific to notifications in environment
.notification.environment-notification {
  background: radial-gradient($white 0%,rgba($white,0) 90%);
  margin: 12px 0;
  min-width: 0;

  // text color
  &.fail {
    color: $red;
  }

  &.success {
    color: $green;
  }

  .iconnables {
    color: currentColor;
    margin-top: 6px;
  }
}