// environment header
.environment-header {
  flex: 0 0 auto;
  margin-bottom: 15px;
  position: relative;

  // help button
  .btn-icon {
    border: 0;
    left: 15px;
    padding: 0 12px;
    position: absolute;

    .iconnables {
      height: 100%;
      width: 100%;
    }
  }

  // new server button
  .green {
    display: table;
    margin: 0 auto;
    text-align: left;

    &.hint {
      animation: scale .4s ease;
    }

    .icons-add {
      height: 18px;
      margin: 10px 6px 0 0;
      width: 18px;
    }
  }
}