.environment-footer {
  border-top: 1px solid $gray-lightest;
  color: $gray;
  flex: 0 0 auto;
  padding: 15px 0;

  .iconnables {
    height: 21px;
    margin-right: 4px;
    top: 7px;
    width: 21px;
  }
}