// instances list
.list-instances {
  background: $gray-lighterest;
  border-right: 1px solid $gray-lighter;
  color: $gray;
  display: none;
  font-size: 15px;
  height: 100vh;
  min-width: $instance-list-width;
  overflow-y: auto;
  padding: 0 12px 45px;
  position: relative;
  width: $instance-list-width;

  &.in {
    display: block;
  }

  // search
  .label-search {
    padding: 16px 10px;
  }

  // empty state
  .well.empty {
    background: $white;
    border-color: $gray-lighter;
    border-radius: $input-border-radius-lg;
    font-size: 21px;
    margin-top: 3px;
    padding: 15px 24px 24px;
  }

  .a-sref {
    border-radius: $input-border-radius;
    cursor: pointer;
    height: 27px;
    margin-bottom: 2px;
    padding: 0 6px 0 9px;

    &:hover {
      background: rgba($black,.05);
    }

    &.active {
      background: $purple-lightest;
      color: $purple-light;
      cursor: default;
    }

    .text-overflow {
      display: inline-block;
      padding-right: 6px;
    }

    .icons-status {
      margin-right: 9px;
    }
  }

  // extra indentation for isolated friends
  .friend-wrapper .a-sref {
    padding-left: 27px;
  }
}

.demo-transition {
  transition: opacity .3s ease-out, transform .3s ease-out;
  width: 100%;

  &.ng-enter {
    opacity: 0;
    position: absolute;
    transform: translate3d(50px,0,0);
  }

  &.ng-enter-active {
    opacity: 1;
    transform: translate3d(0,0,0);
  }

  &.ng-leave {
    opacity: 1;
    position: absolute;
    transform: rotate3d(0,0,1,0) scale3d(1,1,1) translate3d(0,0,0);
  }

  &.ng-leave-active {
    opacity: 0;
    transform: rotate3d(0,0,1,-9deg) scale3d(.95,.95,1) translate3d(-50px,0,0);
  }
}

// wraps the master cluster and each repository section
.list-clusters {
  border-top: 1px solid $gray-lighter;
  padding: 15px 0;
}

.list-clusters-heading {
  height: 27px;
  margin: 4px 0;
  padding: 0 4px 0 31px;

  // repo name
  .text-overflow {
    padding-right: 9px;
  }

  // 'add…' buttons
  .btn-xxs {
    color: lighten($gray,15);
    font-weight: $weight-normal;
    height: 20px;
    top: 1px;

    &:hover {
      color: $gray;
    }

    .icons-arrow-forward {
      height: 12px;
      margin-right: -3px;
      width: 12px;
    }
  }
}

// target only direct children because of nesting in markup
.list-item-cluster > .list-containers {
  border: 1px solid transparent;
  border-radius: $input-border-radius-lg;
  padding: 3px 3px 1px;
  position: relative;

  &.open {
    background: $white;
    border-color: $gray-lighter;
  }
}

.testing-container {
  margin-left: 18px;
}

.btn-gear {
  border: 0;
  color: $gray-light;
  display: none;
  height: 24px;
  overflow: hidden;
  padding: 4px;
  position: relative;
  top: -1px;
  width: 24px;

  :hover > &,
  :active > &,
  .active > &,
  .master-cluster & {
    display: block;
  }

  &:hover {
    color: $gray;
  }

  &:active,
  &.active {
    color: $purple-light;
    display: block;
  }

  .iconnables {
    height: 100%;
    width: 100%;
  }
}
