// instance header: status, dns mappings, container url, save (deprecated)
.instance-header {
  background: $purple-dark;
  border-bottom: 1px solid $purple-darkest;
  color: $white;
  flex: 0 0 auto;
  padding: $xs;
}

.instance-header-name {
  flex: 1 0 auto;
  max-width: 300px;
  padding-left: $xs;
  padding-right: 6px;

  .small {
    display: inline-block;
    flex: 0 1 auto;
    opacity: .5;
  }

  .p {
    font-size: 19px;
    font-weight: $weight-bold;
  }

  // pr badge
  .btn {
    background: transparent;
    border: $input-border solid rgba($white,.25);
    color: rgba($white,.5);
    font-size: 11px;
    margin-left: 6px;
    margin-right: 1px;
    padding-left: 0;

    &:hover,
    &:active {
      border-color: rgba($white,.5);
      color: rgba($white,.75);
    }

    > .iconnables {
      height: 100%;
    }

    > .icons-pull-request {
      width: 18px;
    }

    > .icons-history {
      margin: 0 2px;
      padding: 2px 0;
      width: 15px;
    }
  }

  // for debug view
  // .btn-status {
  //   left: 12px;
  //   position: absolute;
  //   top: 15px;

  //   .icons-status {
  //     top: 6px;
  //   }
  // }

  // debug text
  // .strong .small {
  //   color: $gray-light;
  //   left: 6px;
  //   line-height: 1;
  //   position: relative;
  //   top: -3px;
  // }

  // save button in debug
  // .btn-save-wrapper {
  //   position: absolute;
  //   right: 12px;
  //   top: 9px;

  //   + .btn-badge {
  //     right: 90px;
  //   }
  // }
}

.instance-header-actions {
  flex: 0 1 726px;

  > * {

    + .btn-group,
    + .btn,
    + .input-group {
      margin-left: 6px;
    }
  }

  // status, dns mappings, save
  > .btn,
  > .btn-group {
    flex: 0 0 auto;
  }

  // container url
  > .input-group {
    flex: 1 1 auto;

    .input {
      font-size: 13px;
      overflow-y: auto;
    }

    .icons-link-external {
      margin-left: 3px;
      width: 9px;
    }
  }

  // save
  > .btn-group .icons-arrow-down {
    margin: 0;
  }

  // url popover
  > .popover {
    color: $gray-dark;
    left: auto;
    max-width: none;
    right: 12px;
    top: 56px;
    width: 390px;

    @media (max-width: 894px) {
      position: fixed;
      top: 12px;

      .arrow {
        display: none;
      }
    }

    @media (max-width: 420px) {
      left: 0;
      margin: 12px 12px 0;
      right: 0;
      top: 0;
      width: auto;
    }
  }
}

// status button
.btn-status {
  padding: 0 9px;

  &.red,
  &.red:active:not([disabled]) {

    .icons-status {
      background: none;
      border: 1px solid $red-lighter;
    }
  }

  .icons-status {
    margin-right: 6px;
    top: 12px;
  }

  .icons-alert {
    height: 100%;
    margin-left: 6px;
    opacity: .5;
    width: 15px;
  }
}

.list-instances {
  max-width: calc(100vw - #{$layout-navigation-width + 133});

  &.in + .instance-wrapper .instance-header-title .text-overflow {
    direction: rtl;
    display: block;
    max-width: calc(100vw - #{$layout-navigation-width + $instance-list-width + 133});
  }
}
