// instance header: status, dns mappings, container url, save (deprecated)
.instance-header {
  background: $white;
  flex: 0 0 auto;
  position: relative;
}

.instance-header-title {
  color: $gray-dark;
  font-size: 19px;
  font-weight: $weight-normal;
  line-height: $input-lg;
  padding: 0 54px 0 12px; // for text-overflow
  position: relative;
  text-align: center;
  width: 100%;

  .header-btn-group {
    align-items: center;
    height: $input-lg;
    overflow: hidden; // fix scroll bar appearing in firefox

    .btn {
      color: $gray-light;
      opacity: .75;
      padding: 0 6px;

      &:hover,
      &:active {
        opacity: 1;
      }

      &.active {
        color: $purple-light;
      }
    }

    .iconnables {
      height: 100%;
      width: 18px;
    }
  }

  // pr badge
  .green {
    margin-left: 9px;
    padding: 0 3px 0 0;

    .iconnables {
      height: 100%;
      width: 18px;
    }
  }

  // for debug view
  .btn-status {
    left: 12px;
    position: absolute;
    top: 15px;

    .icons-status {
      top: 6px;
    }
  }

  // debug text
  .strong .small {
    color: $gray-light;
    left: 6px;
    line-height: 1;
    position: relative;
    top: -3px;
  }

  // save button in debug
  .btn-save-wrapper {
    position: absolute;
    right: 12px;
    top: 9px;

    + .btn-badge {
      right: 90px;
    }
  }
}

.instance-header-properties {
  align-items: top;
  display: flex;
  padding: 0 12px 12px;
  position: relative;
  width: 100%;

  // status, dns mappings, save
  > .btn,
  > .btn-group {
    flex: 0 0 auto;
  }

  // container url
  > .input-group {
    flex: 1 1 auto;

    .input {
      font-size: 13px;
      overflow-y: auto;
    }

    // new tab
    .link {
      padding: 0;
    }

    .btn-icon-xs {
      min-width: 24px;
    }

    .icons-link-external {
      margin: 0 3px;
      top: -1px;
      width: 15px;
    }
  }

  // save
  > .btn-group {
    margin-left: 6px;

    .icons-arrow-down {
      margin: 0;
    }
  }
}

// status button
.btn-status {
  padding: 0 9px;

  &.red,
  &.red:active:not([disabled]) {

    .icons-status {
      background: none;
      border: 1px solid $red-lighter;
    }
  }

  .icons-status {
    margin-right: 6px;
    top: 12px;
  }

  .icons-alert {
    height: 100%;
    margin-left: 6px;
    opacity: .5;
    width: 15px;
  }
}

// connections button
.btn-connections {
  margin: 0 6px;
}
