// instance header: status, dns mappings, container url, save (deprecated)
.instance-header {
  background: $purple-dark;
  border-bottom: 1px solid $purple-darkest;
  color: $white;
  flex: 0 0 auto;
  min-width: 768px; // matches body
  padding: $xs;
}

.instance-header-name {
  flex: 1 0 auto;
  height: $input-sm;
  min-width: 300px;
  padding-left: $xs;
  padding-right: $xxs;

  .small {
    display: inline-block;
    flex: 0 1 auto;
    opacity: .5;

    + .btn-xxs {
      margin-left: 3px;
    }
  }

  .p {
    font-size: 16px;
    font-weight: $weight-bold;
  }

  // pr badge
  .btn-xxs {
    background: transparent;
    color: rgba($white,.5);
    margin-right: 1px;
    padding-left: 0;
    top: 2px;

    &:hover,
    &:active {
      border-color: rgba($white,.5);
      color: rgba($white,.75);
    }

    > .iconnables {
      height: 14px;
      margin-right: 2px;
      width: 14px;

      &.icons-pull-request {
        height: 15px;
        width: 15px;
      }
    }
  }
}

.instance-header-actions {
  flex: 1 1 auto;

  > * {

    + .btn-group,
    + .btn,
    + .input-group {
      margin-left: 6px;
    }
  }

  // status, dns mappings, save
  > .btn,
  > .btn-group {
    flex: 0 0 auto;
  }

  // override border on dark bg
  > .btn.red,
  > .btn.orange,
  > .btn.green {
    border-color: $purple-darkest;
  }

  // container url
  > .input-group {
    flex: 1 1 auto;

    .input {
      font-size: 13px;
      overflow-y: auto;
    }

    .icons-link-external {
      margin-left: 3px;
      width: 9px;
    }
  }

  // save
  > .btn-group .icons-arrow-down {
    margin: 0;
  }

  // url popover
  > .popover {
    color: $gray-dark;
    left: auto;
    max-width: none;
    right: 12px;
    top: 56px;
    width: 390px;

    @media (max-width: 894px) {
      position: fixed;
      top: 12px;

      .arrow {
        display: none;
      }
    }

    @media (max-width: 420px) {
      left: 0;
      margin: 12px 12px 0;
      right: 0;
      top: 0;
      width: auto;
    }
  }
}

// status button
.btn-status {
  font-size: 14px;
  line-height: 1.1;
  padding: 0 9px;
  text-align: left;

  &.red,
  &.red:active:not([disabled]) {

    .icons-status:not(.failed) {
      background: none;
      border: 1px solid $red-lighter;
    }
  }

  .small {
    font-size: 10px;
    font-weight: $weight-normal;
    opacity: .75;
  }

  .icons-status {
    margin-right: 9px;
  }

  .noscroll {
    position: relative;
    top: -1px;
  }

  .icons-branch {
    margin-right: 9px;
    opacity: .5;
    width: 9px;
  }

  .icons-arrow-down {
    margin-left: 3px;
    width: 21px;
  }

  .icons-alert {
    height: 100%;
    margin-left: 6px;
    opacity: .5;
    width: 15px;
  }
}
