// instances list
.instances-list {
  background: $gray-lighterest;
  border-right: 1px solid $gray-lighter;
  color: $gray;
  display: none;
  float: left;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  width: $instance-list-width;

  &.in {
    display: block;

    // if nav is open
    + .instance-wrapper {
      float: right;
      width: calc(100% - #{$instance-list-width});
    }
  }

  // empty state
  > .well {
    background: $white;
    border-color: $gray-lighter;
    margin: 12px 12px 0;

    .icons-branch {
      flex: 0 0 30px;
      height: 30px;
    }
  }

  .list {
    margin: 0 12px;
    padding: 12px 0;

    + .list {
      border-top: 1px solid $gray-lighter;
    }
  }

  .list-item {
    font-size: 15px;

    + .list-item {
      margin-top: 2px;
    }
  }

  .list-item-header {
    padding: 4px 6px 6px 29px;

    .btn-xs {
      line-height: initial;
      overflow: hidden;
      width: 24px;
    }
  }

  .list-item-container {
    display: flex;
    flex: 1 1 auto;
    line-height: 28px;
    position: relative;
    width: 100%;

    &:hover > .btn-overflow {
      opacity: 1;
    }

    &.open {
      background: rgba($purple-light,.05);
      border: $input-border solid rgba($purple-light,.3);
      border-radius: $input-border-radius;
      flex-wrap: wrap;

      .btn-overflow {
        opacity: 1;
      }
    }

    .btn-overflow {
      border: 0;
      height: 32px;
      opacity: 0;
      padding: 0 12px;
      position: absolute;
      right: 0;
      top: 0;
      width: 38px;

      &:hover,
      &:active,
      &.active {
        opacity: 1;
      }

      &:active,
      &.active {
        color: $purple-light;
      }

      .iconnables {
        height: 100%;
        width: 100%;
      }
    }
  }

  .a-sref {
    border: $input-border solid transparent;
    border-radius: $input-border-radius;
    cursor: pointer;
    height: 32px;
    padding-left: 9px;

    &:hover {
      background: $white;
      border-color: $gray-lighter;
    }

    &:active,
    &.active {
      background: rgba($purple-light,.05);
      border-color: rgba($purple-light,.3);
      color: $purple-light;
    }

    &.active {
      cursor: default;
    }

    .icons-status {
      margin-right: 9px;
    }
  }

  // open state
  .open {

    .a-sref {
      border: 0;
      border-radius: 0;
      color: rgba($purple-light,.75);
      height: 28px;
      opacity: .75;

      &:hover,
      &:active {
        background: rgba($purple-light,.05);
        color: rgba($purple-light,.84);
        opacity: 1;
      }

      &.active {
        background: rgba($purple-light,.1);
        color: $purple-light;
        cursor: default;
        opacity: 1;
      }
    }

    > .grid-block .a-sref {
      padding-left: 18px;
    }

    .btn-overflow {
      color: rgba($purple-light,.75);
      right: -$input-border;
      top: -$input-border;

      &:hover,
      &:active {
        color: $purple-light;
      }
    }
  }
}
