.instance-sidebar {
  overflow-y: auto;
  min-width: 300px;

  // empty states for sections
  .well {
    color: $gray;
    line-height: 1.4;
    margin: 0 0 15px;
    padding: 6px 9px;
  }

  // override button and fancy-select styles
  .btn-group-vertical {
    display: block;

    .btn {
      text-align: left;

      &:first-child {
        border-radius: $input-border-radius;
        color: $gray;
        font-size: 15px;
        font-weight: $weight-normal;
        height: auto;
        line-height: 1.4;
        padding: 6px 30px 36px 9px;

        // .icons-arrow-forward {
        //   color: $gray-light;
        //   height: 100%;
        //   position: absolute;
        //   right: 9px;
        //   top: 0;
        // }
      }

      &:last-child {
        background: $gray-lightest;
        border-top: 1px solid $gray-lighter;
        bottom: $input-border;
        font-size: 13px;
        left: $input-border;
        position: absolute;
        width: 271px;
      }
    }
  }

  .repository-info {
    padding-left: 21px;
    position: relative;

    .toggle-wrapper.disabled {
      cursor: not-allowed;
      opacity: .5;
    }

    .toggle-group {
      display: inline-block;
      margin-left: 4px;
      top: 3px;
    }

    .iconnables {
      height: 14px;
      left: 0;
      position: absolute;
      top: 5px;
      width: 14px;
    }
  }
}

.sidebar-section {
  margin: 0 12px;

  + .sidebar-section {
    border-top: 1px solid $gray-lighter;
  }
}

.explorer-section {

  .sidebar-section-content {
    padding-bottom: 12px;
  }

  .file-tree {
    margin: 0;
  }
}

.sidebar-section-heading {
  color: $gray-darker;
  line-height: 54px;
  position: relative;

  // for add buttons next to section headings, like in File Explorer
  .btn {
    height: 54px;
    transition: opacity .15s ease-in-out;

    &.ng-hide {
      opacity: 0;
    }

    .iconnables {
      width: 24px;
    }
  }
}

.sidebar-section-item {
  margin-bottom: 12px;
  position: relative;

  &:last-child {
    margin-bottom: 18px;
  }
}
