// instances list
.instances-list {
  background: $gray-lighterest;
  border-right: 1px solid $gray-lighter;
  color: $gray;
  display: none;
  float: left;
  font-size: 15px;
  height: 100vh;
  overflow-y: auto;
  padding: 0 12px 45px;
  position: relative;
  width: $instance-list-width;

  &.in {
    display: block;

    // if nav is open
    + .instance-wrapper {
      float: right;
      width: calc(100% - #{$instance-list-width});
    }
  }

  // empty state
  > .well {
    background: $white;
    border-color: $gray-lighter;
    margin: 15px 0;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;

    .icons-branch {
      flex: 0 0 30px;
      height: 30px;
    }

    // 'x' button
    .btn-xs {
      color: $gray-light;
      flex: 0 0 18px;
      position: absolute;
      right: 14px;
      top: 0;
      width: 18px;

      &:hover,
      &:active {
        color: $red;
      }
    }
  }

  .a-sref {
    border-radius: $input-border-radius;
    cursor: pointer;
    height: 27px;
    margin-bottom: 3px;
    padding-left: 9px;

    &:hover {
      background: rgba($black,.05);
    }

    &.active {
      background: $purple-lightest;
      color: $purple-light;
      cursor: default;
    }

    .text-overflow {
      display: inline-block;
      padding-right: 6px;
    }

    .icons-status {
      margin-right: 9px;
    }
  }

  // extra indentation for isolated friends
  .friend-wrapper .a-sref {
    padding-left: 27px;
  }
}

// wraps the master cluster and each repository section
.cluster-list {
  border-bottom: 1px solid $gray-lighter;
  padding: 15px 0;

  // add top border when after empty state
  .well + & {
    border-top: 1px solid $gray-lighter;
  }
}

.cluster-list-heading {
  height: 27px;
  margin: 6px 0;
  padding: 0 12px 0 33px;

  // repo name
  .text-overflow {
    padding-right: 9px;
  }

  // '+' button
  .btn-xs {
    line-height: initial;
    overflow: hidden;
    width: 24px;
  }
}

// target only direct children because of nesting in markup
.cluster-list-item > .container-list {
  border: 1px solid transparent;
  border-radius: $input-border-radius-lg;
  padding: 5px 5px 2px;
  position: relative;

  &.open {
    background: $white;
    border-color: $gray-lighter;
  }
}

.btn-gear {
  border: 0;
  color: $gray-light;
  display: none;
  height: 18px;
  margin-right: 9px;
  position: relative;
  width: 18px;

  :hover > &,
  :active > &,
  .active > &,
  .master-cluster & {
    display: block;
  }

  &:hover {
    color: $gray;
  }

  &:active,
  &.active {
    color: $purple-light;
    display: block;
  }

  .iconnables {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1.5px;
  }
}
