// instance wrapper
.instance-wrapper {
  height: 100vh;
  overflow: hidden;
  overflow-x: auto;
  position: relative;

  &.empty {
    background-color: $gray-lightest;
    background-image: url(/build/images/confetti.png);
    flex-direction: row;
  }

  > .instance-wrapper {
    min-width: 600px;
  }

  > .spinner-wrapper {

    .modal-open & {
      z-index: $z-modal-backdrop - 1;
    }
  }
}
