.instance-sidebar {
  background: $purple-dark;
  border-right-color: $purple-darkest;
  bottom: 0;
  box-shadow: 3px 0 3px rgba($black,.06);
  color: $white;
  flex: 0 0 $instance-list-width;
  top: 0;
  z-index: $z-views-sidebar;

  // for tab spacing when sidebar is present
  &.ng-hide + .views .views-tabs {
    padding-left: (89px + 6px); // explorer toggle + tab padding
  }

  + .views .views-tabs {
    padding-left: 0;
  }
}

.sidebar-section-heading {
  border-bottom: 1px solid $purple-darkest;
  flex: 0 0 61px; // match tab
  margin: 0 $xs;
  padding: $xs 0;

  > .btn-sm {
    width: $input-sm;
  }

  > .btn-xs {
    line-height: 1; // reset to center
    width: $input-xs;
  }

  .iconnables {
    height: 100%;
    width: 100%;
  }
}

// spacing for additional repositories
.sidebar-section-item {
  position: relative;

  + .sidebar-section-item {
    margin-top: 12px;
  }

  > .orange {
    border-radius: 0 0 $input-border-radius $input-border-radius;
    margin: 0;
  }
}
