// instance body
.instance-body {
  overflow: hidden;
  position: relative;

  // explorer toggle
  > .btn {
    color: $white;
    left: $xs;
    position: absolute;
    top: $xs;
    width: 89px;
    z-index: $z-views-sidebar-toggle;

    .iconnables {
      height: 100%;
      margin-right: 6px;
      width: 15px;
    }
  }

  .views {
    flex: 1 1 auto;
  }
}
