// instance wrapper
.instance-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  overflow-x: auto;
  position: relative;

  > .instance-wrapper {
    min-width: 600px;
  }

  > .spinner-wrapper {

    .modal-open & {
      z-index: $z-modal-backdrop - 1;
    }
  }
}
