// layout navigation
.layout-navigation {
  backface-visibility: hidden; // http://benfrain.com/improving-css-performance-fixed-position-elements/
  background: $gray-lighterest;
  border-right: 1px solid $gray-lighter;
  height: 100vh;
  padding: 18px 0;
  position: fixed;
  top: 0;
  width: $layout-navigation-width;
  z-index: 1;

  // if feature flags are on
  &.feature-flag-on {
    background-image: repeating-linear-gradient(36deg, rgba($gray-lightest,.4), rgba($gray-lightest,.4) 18px, transparent 18px, transparent 36px);
  }

  + .layout-main {
    padding-left: $layout-navigation-width;
  }

  .btn-accounts {
    cursor: pointer;
    width: 42px;

    &:hover {
      filter: brightness(90%);
    }

    &:active {
      filter: brightness(80%);
    }

    .gravatar {
      border-radius: $input-border-radius;
      height: 100%;
      width: 100%;
    }

    // badge
    .badge::after {
      border: 1px solid $purple-light;
      line-height: 16px;
    }
  }

  .a {
    border: $input-border solid transparent;
    border-radius: $input-border-radius-lg;
    color: $gray;
    cursor: pointer;
    display: block;
    flex: 0 0 auto;
    font-size: 12px;
    font-weight: $weight-bold;
    height: 72px;
    margin-top: 9px;
    position: relative;
    text-align: center;
    width: 75px;

    &:hover {
      background-color: $gray-lightest;
      border-color: rgba($gray-lighter,.6);
    }

    &:active,
    &.active {
      background-color: lighten($purple-lightest,4);
      border-color: rgba($purple-light,.1);
      color: $purple-light;
    }

    &.active {
      pointer-events: none;
    }

    &.disabled {
      background: none;
      border-color: transparent;
      cursor: not-allowed;
      opacity: .6;
    }

    > .iconnables {
      height: 27px;
      margin: 12px 0 0;
      width: 100%;
    }
  }

  .btn-add-team {
    background-color: $gray-lightest;
    border: $input-border solid rgba($gray-lighter,.6);
    border-radius: $input-border-radius;
    color: $gray;
    cursor: pointer;
    height: 42px;
    margin-top: 18px;
    width: 42px;

    &:hover,
    &:active {
      background-color: lighten($purple-lightest,4);
      border-color: rgba($purple-light,.1);
      color: $purple-light;
    }

    .icons-add {
      color: currentColor;
    }
  }

  .btn-docs {
    margin-top: auto;

    .icons-link-external {
      height: 10px;
      margin-left: 3px;
      position: relative;
      top: 1px;
      width: 10px;
    }
  }
}

// layout main
.layout-main {
  height: 100vh;
  width: 100%;
}
