//- hide everything except the spinner when loading
.padding-md.grid-block.align-center.justify-center(
  ng-if = "loading"
)
  .spinner-wrapper.spinner-gray.spinner-sm(
    ng-include = "'spinner'"
  )

header.grid-block.vertical.shrink.align-start.header(
  ng-if = "!loading"
)
  .p.weight-strong {{data.repoName}} Branches
  small.small This environment will be redeployed to reflect your changes.

ul.margin-top-sm.list.list-actions(
  ng-if = "!loading"
)
  li.margin-bottom-sm
    input.input.input-xs.input-search(
      ng-model = "search.name"
      placeholder = "Search"
      required
      type = "search"
    )
  li.text-center.text-gray.small.padding-lg(
    ng-if = "(branches | filter:search:strict).length === 0"
  ) No results found.
  li.grid-block.align-center.list-item.popover-list-item(
    ng-class = "{\
      'disabled': branch.name === data.branch,\
      'active': branch.name === data.branch\
    }"
    ng-repeat = "branch in branches | filter:search:strict"
  )
    svg.grid-content.shrink.iconnables.icons-branch
      use(
        xlink:href = "#icons-branch-alt"
      )
    p.grid-content.text-overflow.p(
      title = "{{ branch.name }}"
    ) {{ branch.name }}
    button.grid-block.shrink.margin-left-sm.btn.btn-xs.btn-icon.btn-add
      svg.iconnables.icons-check
        use(
          xlink:href = "#icons-check"
        )
    .grid-content.shrink.spinner-wrapper.spinner-sm.spinner-purple(
      ng-if = "settingBranch"
      ng-include = "'spinner'"
    )
