.popover.bottom.popover-tooltip(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow
  .small Support
    svg.iconnables.icons-link-external
      use(
        xlink:href = "#icons-link-external"
      )