a.logo.logo-icon
  svg
    use(
      xlink:href = "#runnable-icon"
    )

.btn-group
  button.btn.btn-sm.purple.active
    svg.iconnables
      use(
        xlink:href = "#icons-server"
      )
    | Containers
  button.btn.btn-sm.purple
    svg.iconnables
      use(
        xlink:href = "#icons-gear"
      )
    | Configure

//- menu
accounts-select(
  data = "dataApp.data"
)
