a.logo.logo-icon
  svg
    use(
      xlink:href = "#runnable-icon"
    )

.btn-group
  a.btn.btn-sm.purple(
    ng-class = "{\
      active: dataApp.isInstancePage,\
      'no-touching': !dataApp.data.activeAccount || dataApp.isInstancePage\
    }"
    ui-sref = "instance.home({ userName: dataApp.data.activeAccount.oauthName() })"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-server-dark"
      )
    | Containers
  a.btn.btn-sm.purple(
    ng-class = "{'no-touching': !dataApp.data.activeAccount || !dataApp.isInstancePage}"
    ui-sref-active = 'active'
    ui-sref = "config.home({ userName: dataApp.data.activeAccount.oauthName() })"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-advanced-dark"
      )
    | Configure

//- menu
accounts-select(
  data = "dataApp.data"
)
