a.logo.logo-icon
  svg
    use(
      xlink:href = "#runnable-icon"
    )

.btn-group
  button.btn.btn-sm.purple.active(
    ng-class = "{'no-touching': !dataApp.data.activeAccount}"
    ui-sref = "instance.home({ userName: dataApp.data.activeAccount.oauthName() })"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-server"
      )
    | Containers
  button.btn.btn-sm.purple(
    ng-class = "{'no-touching': !dataApp.data.activeAccount}"
    ui-sref = "instance.config({ userName: data.activeAccount.oauthName() })"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-gear"
      )
    | Configure

//- menu
accounts-select(
  data = "dataApp.data"
)
