img.logo.logo-icon.float-left(
  height = "45"
  src = "/build/images/runnable-icon-white.svg"
  width = "45"
  ng-disabled = "CA.state.params.userName !== 'CodeNow'"
  pop-over
  pop-over-template = "viewPopoverFeatureFlags"
  pop-over-options = "{\"left\":40}"
)

.btn-group
  a.btn.btn-sm.purple(
    ng-class = "{\
      active: CA.state.current.name === 'instance.instance',\
      'no-touching': !CA.data.activeAccount || CA.state.current.name === 'instance.instance' || dataApp.creatingInstance\
    }"
    ui-sref = "instance.home({ userName: CA.data.activeAccount.oauthName() })"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-server-dark"
      )
    | Containers
  a.btn.btn-sm.purple(
    ng-class = "{\
      'active': CA.state.current.name === 'config.home',\
      'no-touching': !CA.data.activeAccount || CA.state.current.name === 'config.home'\
    }"
    ui-sref = "config.home({ userName: CA.data.activeAccount.oauthName() })"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-advanced-dark"
      )
    | Configure

//- menu
a.btn.btn-sm.purple.btn-accounts(
  ng-class = "{\
    active: state.active,\
    'no-touching': CA.data.accountsDisabled()\
  }"
  ng-show = "CA.data.activeAccount"
  pop-over
  pop-over-options = "{\"right\":-2,\"top\":48}"
  pop-over-template = "viewPopoverAccountMenu"
)
  img.gravatar(
    height = "21"
    ng-src = "{{ CA.data.activeAccount.gravitar() }}"
    width = "21"
  )
  span.span {{ CA.data.activeAccount.oauthName() }}
  svg.iconnables.icons-arrow-down
    use(
      xlink:href = "#icons-arrow-down"
    )
