.header-container
  //- logo
  a.logo(
    href = "/runnabro/new"
  )
    svg
      use(
        xlink:href = "#runnable-logo"
      )

  //- title
  h2.h2.btn.purple(
    ng-class = "{active: popoverEnvironmentMenu.data.show}"
    pop-over
    pop-over-actions = "popoverEnvironmentMenu.actions"
    pop-over-active = "popoverEnvironmentMenu.data.show"
    pop-over-data = "popoverEnvironmentMenu.data"
    pop-over-options = "{\"left\":0,\"top\":54}"
    pop-over-template = "viewPopoverEnvironmentMenu"
  ) Environment
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )

  //- menu
  a.btn.purple(
    accounts-select
    data = "dataApp.data"
    ng-class = "{active: popoverAccountMenu.data.show}"
  )
