.header-container
  //- logo
  a.logo(
    href = "/runnabro/new"
  )
    svg
      use(
        xlink:href = "#runnable-logo"
      )

  //- title
  //- h2.h2.btn.purple(
  //-   ng-class = "{active: popoverEnvironmentMenu.data.show}"
  //-   pop-over
  //-   pop-over-actions = "popoverEnvironmentMenu.actions"
  //-   pop-over-active = "popoverEnvironmentMenu.data.show"
  //-   pop-over-data = "popoverEnvironmentMenu.data"
  //-   pop-over-options = "{\"left\":0,\"top\":54}"
  //-   pop-over-template = "viewPopoverEnvironmentMenu"
  //- ) Environment
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )

  //- menu
  a.btn.purple(
    ng-class = "{active: popoverAccountMenu.data.show}"
    pop-over
    pop-over-actions = "popoverAccountMenu.actions"
    pop-over-data = "popoverAccountMenu.data"
    pop-over-options = "{\"left\":-26,\"top\":57}"
    pop-over-template = "viewPopoverAccountMenu"
    pop-over-active = "popoverAccountMenu.data.show"
  )
    img.gravatar(
      height = "24"
      ng-src = "https://avatars.githubusercontent.com/u/5341618?v=3"
      width = "24"
    )
    | runnabro
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )
    pop-over(
      actions = "popoverAccountMenu.actions"
      data = "popoverAccountMenu.data"
      popover-ready = "popoverAccountMenu.data.show"
      popover-options = "{\"left\":0,\"top\":54}"
      template = "viewPopoverAccountMenu"
    )
