span
  .btn-user.text-overflow(
    ng-class = "{'active': state.active}"
    ng-if = "!loading"
    pop-over
    pop-over-active = "state.active"
    pop-over-controller = "UBC.actions"
    pop-over-controller-as = "UPA"
    pop-over-data = "commitUser"
    pop-over-options = "{\"left\":-24,\"top\":26}"
    pop-over-template = "userPopoverView"
  )
    img.gravatar(
      alt = "{{ commitUser.login }}"
      height = "15"
      ng-src = "{{ commitUser.avatar_url  || '/build/images/runnabear-avatar.png' }}"
      width = "15"
    )
    span.small.text-overflow(
      title = "{{ commitUser.login }}"
    ) {{ commitUser.login }} 
