span
  .btn-user.text-overflow(
    ng-class = "{'active': state.active}"
    pop-over
    pop-over-active = "state.active"
    pop-over-controller = "userPopoverActions"
    pop-over-controller-as = "UPA"
    pop-over-data = "user"
    pop-over-options = "{\"left\":-24,\"top\":26}"
    pop-over-template = "userPopoverView"
  )
    img.gravatar(
      alt = "{{ user.login }}"
      height = "15"
      ng-src = "{{ user.avatar_url  || '/build/images/runnabear-avatar.png' }}"
      width = "15"
    )
    span.small.text-overflow(
      title = "{{ user.login }}"
    ) {{ user.login }}
