.popover.bottom.popover-user.list.list-bordered.list-teammates.list-teammates-pending(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
  style = "transform-origin: 5% 0;"
)
  .arrow.white(
    style = "left: 29px;"
  )
  .popover-content.list-item(
    ng-class = "{'active': state.inviteForm}"
    ng-init = "\
      user.email = 'tony@runnable.com';\
      state.inviteForm = null;\
      state.inviteSending = null;\
      state.inviteSent = null;\
    "
  )
    img.gravatar.float-left(
      alt = "Runnabro"
      height = "27"
      src = "https://avatars2.githubusercontent.com/u/5341618?v=3&s=40"
      width = "27"
    )
    .username.text-overflow Runnabro
    .small.text-overflow tony@runnable.com
    //- if the user has not yet joined runnable
    button.btn.btn-xs.green(
      ng-click = "state.inviteForm = true"
      ng-if = "!state.inviteSending && !state.inviteSent && !state.inviteForm"
    ) Invite

    //- cancel invite
    svg.iconnables.icons-close(
      ng-click = "state.inviteForm = false"
      ng-if = "state.inviteForm"
    )
      use(
        xlink:href = "#icons-close"
      )

     //- autofocus on this
    input.input.input-sm.input-validate.validate-on-blur.js-animate(
      ng-model = "user.email"
      ng-show = "state.inviteForm"
      placeholder = "Email Address"
      required
      spellcheck = "false"
      type = "email"
    )

    //- disabled when invalid
    button.btn.btn-xs.green.js-animate(
      ng-click = "\
        state.inviteForm = false;\
        state.inviteSending = true;\
      "
      ng-disabled = "!user.email"
      ng-show = "state.inviteForm"
    ) Send

    .btn-wrapper
      //- sending…
      .spinner-wrapper.spinner-sm.spinner-gray.in(
        ng-click = "\
          state.inviteSent = true;\
          state.inviteSending = false;\
        "
        ng-if = "state.inviteSending"
        ng-include = "'spinner'"
      )

      //- sent
      .send-confirmation.load(
        ng-if = "state.inviteSent"
      )
        svg.iconnables.icons-check.float-left(
          viewbox = '0 0 14.5 10'
        )
          path.path(
            d = 'M1,4.5L5.5,9l8-8'
            fill = 'none',
            stroke = '#3ccb5a',
            stroke-linecap = 'round',
            stroke-linejoin = 'round',
            stroke-miterlimit = '10',
            stroke-width = '2',
          )
        | Sent
