.popover.bottom.popover-user.list.list-bordered.list-teammates.list-teammates-pending(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
  style = "transform-origin: 5% 0;"
)
  .arrow.white(
    style = "left: 29px;"
  )
  .popover-content.list-item(
    ng-class = "{'active': UPA.shouldShowInviteButton(data) }"
  )
    img.gravatar.float-left(
      alt = "{{ data.login }}"
      height = "27"
      src = "{{ data.avatar_url }}"
      width = "27"
    )
    .username.text-overflow {{ data.login }}
    .small.text-overflow {{data.email.length ? data.email : "—"}}

    //- cancel invite
    svg.iconnables.icons-close(
      ng-click = "data.showInviteForm = false"
      ng-if = "UPA.shouldShowInviteButton(data)"
    )
      use(
        xlink:href = "#icons-close"
      )

     //- autofocus on this
    input.input.input-sm.input-validate.validate-on-blur.js-animate(
      ng-model = "data.email"
      ng-show = "UPA.shouldShowInviteButton(data)"
      placeholder = "Email Address"
      required
      spellcheck = "false"
      type = "email"
    )

    //- send button visible after pressing invite (with input)
    //- disabled when invalid
    //- says "Resend" if an invite has already been sent
    button.btn.btn-xs.green.js-animate(
      ng-click = "UPA.inviteUser(data)"
      ng-disabled = "!data.email"
      ng-show = "UPA.shouldShowInviteForm(data)"
    ) Send

    .btn-wrapper
      //- if the user has not yet joined runnable
      button.btn.btn-xs.green(
        ng-click = "data.showInviteForm = true"
        ng-if = "UPA.shouldShowInviteButton(data)"
      ) Invite

      //- if already in runnable
      button.btn.btn-xs.white(
        ng-click = "UPA.goToTeammatesSettingsModal()"
        ng-if = "data.isRunnableUser"
      ) View Team

      //- sending…
      .spinner-wrapper.spinner-sm.spinner-gray.in(
        ng-if = "data.inviteSending"
        ng-include = "'spinner'"
      )

      //- sent
      .send-confirmation.load(
        ng-if = "data.inviteSent"
      )
        svg.iconnables.icons-check.float-left(
          viewbox = '0 0 14.5 10'
        )
          path.path(
            d = 'M1,4.5L5.5,9l8-8'
            fill = 'none',
            stroke = '#3ccb5a',
            stroke-linecap = 'round',
            stroke-linejoin = 'round',
            stroke-miterlimit = '10',
            stroke-width = '2',
          )
        | Sent
