//- steps with only one line are always shown and cannot be toggled
//- add image ID as html ID on .build-log
//- pre steps


.pre.build-log.js-animate(
  ng-repeat = "command in BLC.buildLogs"
  ng-class = "{'build-log-toggle' : command.content.length, 'in': command.content.length > 0 && command.expanded }"
)
  .build-log-header(
    ng-click = "actions.toggleCommand($event, command)"
  )
    .build-log-header-text(
      ng-bind-html = "command.command"
    )

  .build-log-content.js-animate(
    ng-if = "command.expanded && command.content.length"
    ng-bind-html = "command.trustedContent"
  )