.sidebar-section-heading.strong(
  ng-class = "{ closed: $storage.dnsManagementIsClosed }"
  ng-click = "$storage.dnsManagementIsClosed = !$storage.dnsManagementIsClosed"
)
  svg.iconnables.icons-disclose
    use(
      xlink:href = "#icons-disclose"
    )
  | DNS Mappings

  //- spinner for sidebar
  .spinner-wrapper.spinner-sm.spinner-gray.in(
    ng-if = "!isDnsSetup && !$storage.dnsManagementIsClosed"
    ng-include = "'spinner'"
  )

.empty-state.well.in(
  ng-if = "isDnsSetup && !$storage.dnsManagementIsClosed && directlyRelatedMasterInstances.length === 0"
)
  span.strong {{ instance.getRepoName() || instance.getDisplayName() }}
  |  has no DNS mappings.

.dns-parent(
  ng-if = "isDnsSetup && !$storage.dnsManagementIsClosed"
  ng-repeat = "masterInstance in directlyRelatedMasterInstances track by masterInstance.attrs.shortHash"
)
  .well-label.text-overflow(
    title = "Elastic hostname: {{ masterInstance.getRepoName() }}-staging-{{ masterInstance.attrs.owner.username }}.runnableapp.com"
  )
    strong.strong {{ masterInstance.getRepoName() }}
    | -staging-{{ masterInstance.attrs.owner.username }}.runnableapp.com

  fancy-select.well.in(
    on-update = "actions.setDependency"
    track-by = "attrs.shortHash"
    value = "instanceDependencyMap[masterInstance.attrs.contextVersion.context]"
  )
    fancy-option(
      value = "$parent.masterInstance"
    )
      status-icon(
        instance = "$parent.$parent.masterInstance"
      )
      | {{ $parent.$parent.masterInstance.getBranchName() }}

    fancy-option(
      ng-repeat = "childInstance in $parent.masterInstance.children.models"
      value = "childInstance"
    )
      status-icon(
        instance = "$parent.childInstance"
      )
      | {{ $parent.childInstance.getBranchName() }}
