.row-heading(
  ng-click = "$storage.dnsManagementIsClosed = !$storage.dnsManagementIsClosed"
  ng-class = "{ closed: $storage.dnsManagementIsClosed }"
)
  svg.iconnables.icons-disclose
      use(
        xlink:href = "#icons-disclose"
      )
  | Linked Servers

.empty-state(
  ng-if = "!$storage.dnsManagementIsClosed && directlyRelatedMasterInstances.length === 0 && indirectlyRelatedInstances.length === 0"
) You have no linked instances.

fancy-select.well(
  ng-repeat = "masterInstance in directlyRelatedMasterInstances"
  value = "instanceDependencyMap[masterInstance.attrs.contextVersion.context]"
  ng-disabled = "masterInstance.instanceOptions.length <= 1"
  show-dropdown = "masterInstance.instanceOptions.length > 1"
)
  fancy-option(
    ng-repeat = "instanceOption in $parent.masterInstance.instanceOptions"
    value = "instanceOption.attrs.shortHash"
  )
    .icons-status(
      ng-class = "$parent.$parent.$parent.getInstanceClasses($parent.instanceOption)"
    )
    | {{ $parent.$parent.$parent.masterInstance.attrs.name }}
    span.branch-name /{{ $parent.instanceOption.attrs.contextVersion.appCodeVersions[0].branch }}

//- directly linked non-repository containers
.well.non-repo
  .icons-status.running
  | reponame

.well.indirect(
  ng-if = "!$storage.dnsManagementIsClosed && indirectlyRelatedInstances.length"
)
  .well-item
    svg.iconnables.icons-disclose
      use(
        xlink:href = "#icons-disclose"
      )
    span Indirect Links
    .icons-status(
      ng-class = "getInstanceClasses(dep)"
      ng-repeat = "dep in indirectlyRelatedInstances"
    )
  ul
    li.well-item(
      ng-repeat = "indirectInstance in indirectlyRelatedInstances"
    )
      svg.iconnables.icons-repository
        use(
          xlink:href = "#icons-repository"
        )
      span.server-category-name.text-overflow {{ indirectInstance.attrs.name }}
        span.branch-name /master
      .icons-status(
        ng-class = "getInstanceClasses(indirectInstance)"
      )
