//- div
//-   .relatedStatus
//-     .status(
//-       ng-repeat = "instance in subDependencies"
//-     )
//-       | {{instance.attrs.name}}
//-   .dns-bindings(
//-     ng-if = "isDnsSetup"
//-   )
//-     .binding(
//-       ng-repeat = "masterInstance in relatedMasterInstances"
//-     )
//-       label {{masterInstance.attrs.name}}
//-       select(
//-         ng-options = "instanceOption.attrs.shortHash as instanceOption.attrs.name for instanceOption in masterInstance.instanceOptions"
//-         ng-model = "instanceDependencyMap[masterInstance.attrs.contextVersion.context]"
//-         ng-change = "actions.setDependency(masterInstance, instanceDependencyMap[masterInstance.attrs.contextVersion.context])"
//-       )
.row-heading(
  ng-click = "isClosed = !isClosed"
)
  svg.iconnables.icons-disclose
      use(
        xlink:href = "#icons-disclose"
      )
  | Linked Servers
.well(
  ng-repeat = "masterInstance in relatedMasterInstances"
)
  .well-item
    svg.iconnables.icons-repository
      use(
        xlink:href = "#icons-repository"
      )
    span.server-category-name.text-overflow {{ masterInstance.attrs.name }}
  .branch
    fancy-select.branch-name.text-overflow(
      value = "instanceDependencyMap[masterInstance.attrs.contextVersion.context]"
    )
      fancy-options(
        ng-repeat = "instanceOption in $parent.masterInstance.instanceOptions"
        value = "instanceOption.attrs.shortHash"
      ) {{ instanceOption.attrs.name }}
    .icons-status(
      ng-class = "getInstanceClasses(masterInstance)"
    )
.well.indirect(
  ng-if = "relatedMasterInstances.length"
)
  .well-item
    svg.iconnables.icons-disclose
      use(
        xlink:href = "#icons-disclose"
      )
    span Indirect Links
    .icons-status(
      ng-class = "getInstanceClasses(dep)"
      ng-repeat = "dep in relatedMasterInstances"
    )
  ul
    li.well-item(
      ng-repeat = "masterInstance in relatedMasterInstances"
    )
      svg.iconnables.icons-repository
        use(
          xlink:href = "#icons-repository"
        )
      span.server-category-name.text-overflow {{ masterInstance.attrs.name }}
        span.branch-name /master
      .icons-status(
        ng-class = "getInstanceClasses(masterInstance)"
      )
