.popover-overlay
  .popover.popover-fixed.popover-prompt(
    ng-class = "{'in': active}"
    ng-style = "popoverStyle.getStyle()"
  )
    .popover-content
      h3.popover-title You’ve made changes without saving.
      p.p Are you sure you want to discard your changes and exit?
    .popover-footer.clearfix
      button.btn.red.float-right(
        ng-click = "closePopover()"
      ) Discard and Exit
      button.btn.white.btn-cancel(
        ng-click = "closePopover()"
      ) Cancel
