.guide(
  ng-class = "{in: data.guide}"
  ng-init = "data.guide = true"
) Runnable uses environment variables to network your dependency servers together.
.row
  .sidebar
    h2.sub-header Dependencies
      button.btn.btn-xs.white.sub-header-action
        svg.iconnables.icons-add
          use(
            xlink:href = "#icons-add"
          )
  .col
    h2.sub-header Environment Things
      button.btn.btn-xs.btn-guide(
        ng-class = "{active: data.guide}"
        ng-click = "data.guide = !data.guide"
      ) ?
    pre.pre(
      ui-ace
    )
footer.modal-footer.clearfix
  button.btn.green(
    ng-click = "actions.createAndBuild();"
    ng-disabled = "envStep.$invalid"
    ng-show = "state.step === 3"
  ) Build Server
  button.btn.white(
    ng-click = "state.step = 2"
  ) Previous Step