.guide(
  ng-hide = "data.hideGuide"
) A separate server is created for each dependency we think your app needs. These servers are linked with the environment variables below.
  br
  a.small.link(
     href = "https://runnable.zendesk.com/hc/en-us/articles/203676969"
     target = "_blank"
  )
    strong More Help
  a.btn.btn-xxs.blue.hover(
    ng-click = "data.hideGuide = true"
  ) Hide
h2.sub-header Dependencies & Environment Variables
  button.btn.btn-sm.btn-help(
    ng-if = "data.hideGuide"
    ng-click = "data.hideGuide = false"
  ) ?
  button.btn.btn-sm.btn-icon.gray.sub-header-action(
    ng-class = "{active: addDependencyPopover.data.show}"
    toggle-pop-over
    toggle-pop-over-model = "addDependencyPopover.data.show"
  )
    svg.iconnables.icons-add
      use(
        xlink:href = "#icons-add"
      )
    pop-over(
      actions = "actions"
      data = "addDependencyPopover.data"
      popover-options = "{\"left\":-88,\"top\":45}"
      template = "viewPopoverAddDependency"
    )
.label.clearfix(
  ng-repeat = "model in state.dependencies"
)
  .label-col.label-details {{ model.opts.name || model.instance.attrs.name }}
    small.small {{ model.env.newUrl || model.env.originalUrl }}
  .input-col
    input.input.input-sm.input-validate.monospace(
      placeholder = "{{ model.env.placeholder }}"
      ng-model = "model.env.model"
      required
      validate-env-pattern
    )
    .validate-wrapper.btn-sm.orange
      span.validate-rules.invalid-pattern Invalid entry
    button.btn-xxs.white(
      ng-class = "{active: model.gsPopover.show}"
      toggle-pop-over
      toggle-pop-over-model = "model.gsPopover.show"
    )
      svg.iconnables.icons-gear
        use(
          xlink:href = "#icons-gear"
        )
      pop-over(
        actions = "actions"
        data = "model"
        popover-options = "{\"left\":-76,\"top\":45}"
        template = "viewPopoverDependencyMenu"
      )
  //- additional input
  .input-col(
    ng-repeat = "env in model.otherEnvs"
  )
    input.input.input-sm.input-validate.monospace(
      ng-model = "env.model"
      placeholder = "ENV_VAR=value"
      validate-env-pattern
    )
    .validate-wrapper.btn-sm.orange
      span.validate-rules.invalid-pattern Invalid entry
    button.btn-xxs.white(
      ng-click = "actions.removeEnv(model, env)"
    )
      svg.iconnables.icons-close
        use(
          xlink:href = "#icons-close"
        )
button.btn.btn-sm.gray.btn-add-dependency(
  toggle-pop-over
  toggle-pop-over-model = "addDependencyPopover.data.show"
) Add Dependency
//- other vars
.hr
.label.label-textarea.clearfix
  .label-col.label-details Additional Variables
    small.small Optional
  .input-col
    textarea.textarea.pre.input-validate.monospace(
      placeholder = "ENV_VAR=value"
      spellcheck = "false"
      ng-model = "state.extraEnvs"
      validate-env-pattern
    )
    .validate-wrapper.btn-sm.orange
      span.validate-rules.invalid-pattern Invalid entry
