h2.sub-header Dependencies & Environment Variables
  button.btn.btn-sm.white.sub-header-action(
    ng-class = "{active: popoverAddDependency.data.show}"
    toggle-pop-over
    toggle-pop-over-model = "popoverAddDependency.data.show"
  )
    svg.iconnables.icons-add
      use(
        xlink:href = "#icons-add"
      )
    pop-over(
      actions = "popoverAddDependency.actions"
      data = "popoverAddDependency.data"
      popover-options = "{\"left\":-88,\"top\":45}"
      template = "viewPopoverAddDependency"
    )
.guide A separate server is created for each dependency we think your app needs. These servers are linked with the environment variables below.
  br
  a.small.link.link-text(
    href = "//google.com"
    target = "_blank"
  ) More Help
.label.clearfix
  .label-col mysql-server
    small.small mysql-server.user.runnable.io
  .input-col
    input.input.input-sm.pre(
      placeholder = "SQL_HOSTNAME=mysql-server.user.runnable.io"
      value = "SQL_HOSTNAME=mysql-server.user.runnable.io"
    )
    button.btn-xxs.white(
      ng-class = "{active: popoverDependencyMenu.data.show}"
      toggle-pop-over
      toggle-pop-over-model = "popoverDependencyMenu.data.show"
    )
      svg.iconnables.icons-gear
        use(
          xlink:href = "#icons-gear"
        )
      pop-over(
        actions = "popoverDependencyMenu.actions"
        data = "popoverDependencyMenu.data"
        popover-options = "{\"left\":-76,\"top\":45}"
        template = "viewPopoverDependencyMenu"
      )
.label.clearfix
  .label-col rabbitmq-server
    small.small rabbitmq-server.user.runnable.io
  .input-col
    input.input.input-sm.pre(
      placeholder = "RABBT=rabbitmq-server.user.runnable.io"
      value = "RABBT=rabbitmq-server.user.runnable.io"
    )
    button.btn-xxs.white(
      svg.iconnables.icons-gear
        use(
          xlink:href = "#icons-gear"
        )
  //- additional input
  .input-col
    input.input.input-sm.pre(
      placeholder = "ENV_VAR=value"
    )
    button.btn-xxs.white
      svg.iconnables.icons-close
        use(
          xlink:href = "#icons-close"
        )
//- other vars
.hr
a.small.link.link-text.link-gray.link-divider(
  ng-click = "data.addVariables = true"
  ng-if = "!data.addVariables"
) Add Additional Variables
.label.label-textarea.clearfix(
  ng-if = "data.addVariables"
)
  .label-col Additional Variables
    small.small Optional
  textarea.textarea.pre.input-col(
    placeholder = "ENV_VAR=value"
    spellcheck = "false"
  )