.modal-header
  h1.modal-heading Setup Environment
    p.small Each repository will be created as its own server
.modal-body
  .card
    h2.card-header api
    ul.list.small
      li.list-item Language
      li.list-item Ports
      li.list-item Command
    ul.list
      li.list-item v3.1
      li.list-item 3000
      li.list-item npm start
  .card
    h2.card-header runnable-angular
    ul.list.small
      li.list-item Language
      li.list-item Ports
      li.list-item Command
    ul.list
      li.list-item v3.1
      li.list-item 3000
      li.list-item npm start

footer.modal-footer.clearfix
  button.btn.btn-sm.green Create Environment
  button.btn.btn-sm.white(
    ng-click = "state.step = 2"
  ) Back
  span