.guide Runnable uses environment variables to network your dependency servers together.
label.label.clearfix
  .label-col mysql-server
    small.small mysql-server.user.runnable.io
  .input.input-sm(
    placeholder = "SQL_HOSTNAME=mysql-server.user.runnable.io"
    ui-ace = "{\
        firstLineNumber: 1,\
        useWrapMode : true\
      }"
    value = "SQL_HOSTNAME=mysql-server.user.runnable.io"
  )
label.label.clearfix
  .label-col rabbitmq-server
    small.small rabbitmq-server.user.runnable.io
  .input.input-sm(
    placeholder = "RABBIT_NAME=mysql-server.user.runnable.io"
    ui-ace = "{\
        firstLineNumber: 1,\
        useWrapMode : true\
      }"
    value = "RABBIT_NAME=mysql-server.user.runnable.io"
  )
footer.modal-footer.clearfix
  button.btn.green(
    ng-click = "actions.createAndBuild();"
    ng-disabled = "envStep.$invalid"
    ng-show = "state.step === 3"
  ) Build Server
  button.btn.white(
    ng-click = "state.step = 2"
  ) Previous Step