.popover.menu.bottom(
  ng-class = "{in: data.show}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white
  .popover-content
    ul.popover-list
      li.popover-list-item Add Variable
      li.divider
      li.popover-list-item Remove Dependency