h2.sub-header Linked Dependencies
  button.btn.btn-sm.white.sub-header-action
    svg.iconnables.icons-add
      use(
        xlink:href = "#icons-add"
      )
.guide We create a new server for each dependency in your application, and then link them together with environment variables. Learn how to #{''}
  a.link.link-text(
    href = "//google.com"
    target = "_blank"
  ) setup your code #{''}
  | to use environment variables.
.label.clearfix
  .label-col mysql-server
    small.small mysql-server.user.runnable.io
  .input-col
    input.input.input-sm.pre(
      placeholder = "SQL_HOSTNAME=mysql-server.user.runnable.io"
      value = "SQL_HOSTNAME=mysql-server.user.runnable.io"
    )
    button.btn-xxs.white(
      ng-class = "{active: popoverDependencyMenu.data.show}"
      toggle-pop-over
      toggle-pop-over-model = "popoverDependencyMenu.data.show"
    )
      svg.iconnables.icons-gear
        use(
          xlink:href = "#icons-gear"
        )
      pop-over(
        actions = "popoverDependencyMenu.actions"
        data = "popoverDependencyMenu.data"
        popover-options = "{\"left\":-76,\"top\":45}"
        template = "viewPopoverDependencyMenu"
      )
.label.clearfix
  .label-col rabbitmq-server
    small.small rabbitmq-server.user.runnable.io
  .input-col
    input.input.input-sm.pre(
      placeholder = "RABBT=rabbitmq-server.user.runnable.io"
      value = "RABBT=rabbitmq-server.user.runnable.io"
    )
    button.btn-xxs.white(
      svg.iconnables.icons-gear
        use(
          xlink:href = "#icons-gear"
        )
  //- additional input
  .input-col
    input.input.input-sm.pre(
      placeholder = "ENV_VAR=value"
    )
    button.btn-xxs.white
      svg.iconnables.icons-close
        use(
          xlink:href = "#icons-close"
        )
//- other vars
.label.clearfix
  .label-col Additional Variables
    small.small optional
  textarea.textarea.pre.input-col(
    placeholder = "ENV_VAR=value"
    spellcheck = "false"
  )