.popover.bottom.menu.popover-add-dependency(
  ng-class = "{in: data.show}"
  ng-click = "$event.stopPropagation()"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white
  .popover-content
    .popover-content-header
      .btn-group.clearfix
        button.btn.btn-xs.gray(
          ng-click = "popoverState = 'new'"
          ng-class = "{'active': popoverState !== 'existing'}"
        ) New
        button.btn.btn-xs.gray(
          ng-click = "popoverState = 'existing'"
          ng-class = "{'active': popoverState === 'existing'}"
        ) Existing
    ul.list.popover-list(
      ng-if = "popoverState !== 'existing'"
    )
      li.list-item.popover-list-item(
        ng-click = "actions.addDependency(stackDep); data.show = false;"
        ng-repeat = "\
          stackDep in data.dependencies.models | \
          removeTemplateInstances | \
          unaddedDepInstances:data.state.dependencies | \
          unaddedModels:data.depFilter | \
          orderBy:'attrs.name' as filteredDeps"
        title = "{{ stackDep.attrs.name }}"
      ) {{ stackDep.attrs.name }}
  ul.list.popover-list(
    ng-show = "popoverState === 'existing' && filteredInstances.length"
  )
    li.list-item.popover-list-item(
      ng-click = "actions.addDependency(instance, true); data.show = false; "
      ng-repeat = "\
       instance in data.instances.models | \
       unaddedDepInstances:data.state.dependencies | \
       unaddedModels:data.depFilter | \
       orderBy:'attrs.name' as filteredInstances "
     title = "{{ instance.attrs.name }}"
     ) {{ instance.attrs.name }}
