//- .guide Runnable uses environment variables to network your dependency servers together.
.guide We create a new server for each dependency in your application, and then link them together with environment variables.
//- h2.row.sub-header Linked Dependencies
.label.clearfix
  .label-col mysql-server
    small.small mysql-server.user.runnable.io
  .input-col
    input.input.input-sm.pre(
      placeholder = "SQL_HOSTNAME=mysql-server.user.runnable.io"
      value = "SQL_HOSTNAME=mysql-server.user.runnable.io"
    )
    button.btn-xxs.white(
      ng-class = "{active: popoverDependencyMenu.data.show}"
      toggle-pop-over
      toggle-pop-over-model = "popoverDependencyMenu.data.show"
    )
      svg.iconnables.icons-gear
        use(
          xlink:href = "#icons-gear"
        )
      pop-over(
        actions = "popoverDependencyMenu.actions"
        data = "popoverDependencyMenu.data"
        popover-options = "{\"left\":-76,\"top\":45}"
        template = "viewPopoverDependencyMenu"
      )
  //- additional input
  .input-col
    input.input.input-sm.pre(
      placeholder = "ENV_VAR=value"
    )
    button.btn-xxs.white
      svg.iconnables.icons-close
        use(
          xlink:href = "#icons-close"
        )
//- .label.clearfix
  .label-col rabbitmq-server
    button.btn-xxs.white(
      svg.iconnables.icons-gear
        use(
          xlink:href = "#icons-gear"
        )
    small.small rabbitmq-server.user.runnable.io
  input.input.input-sm.input-col.pre(
    placeholder = "RABBT=rabbitmq-server.user.runnable.io"
    value = "RABBT=rabbitmq-server.user.runnable.io"
  )
footer.modal-footer.clearfix
  button.btn.green(
    ng-click = "actions.createAndBuild();"
    ng-disabled = "envStep.$invalid"
    ng-show = "state.step === 3"
  ) Build Server
  button.btn.white(
    ng-click = "state.step = 2"
  ) Previous Step