label.label Environment Variables
.small Meh locavore Godard plaid Bushwick photo booth hella, brunch post-ironic umami squid. Normcore health goth heirloom 3 wolf moon, Bushwick jean shorts roof party whatever gluten-free asymmetrical.
  //- ng-repeat = "model in state.dependencies"
ul.list.list-env(
  ng-repeat = "model in state.dependencies"
)
  li.list-item.gray
    label.label {{ model.opts.name }}
    //- focus, ng-invalid, ng-valid, ng-pristine
    label.input-group.input-validate(
      ng-class = ""
      ng-repeat = "envModel in model.reqEnv"
    )
      span.input-label {{ state.stack.preEnvMarker }}
      input.input(
        ng-blur = ""
        ng-focus = ""
        placeholder = "envModel.name"
        ng-model = "envModel.name"
      )
      span.input-label {{ state.stack.postEnvMarker }}
footer.modal-footer.clearfix
  button.btn.green(
    ng-show = "state.step === 3"
    ng-click = "actions.createAndBuild();"
  ) Build Server
  button.btn.white(
    ng-click = "state.step = 1"
  ) Previous Step

//- .setup-page-dependency-box(
//-   ng-repeat = "dep in state.dependencies"
//- )
//-   .setup-page-dependency-box(
//-     ng-repeat = "env in dep.reqEnvs"
//-   )
//-     h3.popover-title
//-       input.input.input-search(
//-       autofocus
//-       ng-model = "env.name"
//-       placeholder = "Enter a Env Name"
//-       required
//-       select-on = "data.showFilter"
//-       )
//-     span {{env.url}}
