.modal-header
  h1.modal-heading Setup Environment
    p.small Each repository will be created as its own server
.modal-body
  .card
    h2.card-header
      svg.iconnables.icons-server
        use(
          xlink:href = "#icons-server"
        )
      | api
    ul.list.small
      li.list-item Language
      li.list-item Ports
      li.list-item Command
      li.list-item Linked Servers
    ul.list
      li.list-item.monospace v3.1
      li.list-item.monospace 3000
      li.list-item.monospace npm start
      li.list-item
        .btn.btn-xxs.blue.hover Setup Link
  .card
    h2.card-header
      svg.iconnables.icons-server
        use(
          xlink:href = "#icons-server"
        )
      | runnable-angular
    ul.list.small
      li.list-item Language
      li.list-item Ports
      li.list-item Command
      li.list-item Linked Servers
    ul.list.monospace
      li.list-item.monospace v3.1
      li.list-item.monospace 3000
      li.list-item.monospace npm start
      li.list-item 2 links

footer.modal-footer.clearfix
  button.btn.btn-sm.green Create Environment
  button.btn.btn-sm.white(
    ng-click = "state.step = 2"
  ) Back
  span