.popover.menu.bottom(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white
  .popover-content
    ul.popover-list
      li.popover-list-item(
        ng-click = "actions.addEnv(data)"
      ) Add Variable
      li.divider
      li.popover-list-item(
        ng-click = "actions.removeDependency(data)"
      ) Remove Dependency