.modal(
  ng-class = "{'in': in}"
)
  .modal-dialog(
    ng-click = "$event.stopPropagation()"
  )
    .modal-header
      svg.iconnables.icons-delete
        use(
          xlink:href = "#icons-rename"
        )
    .modal-body
      form(
        name = "data.renameForm"
      )
        label Give your box a new name
          //- fill value with instance name
          //- add .focus on click on span.input.modal-input AND on modal open
          //- clicks should act as a click on span.input.modal-input
          .input-group.validate(
            ng-class = "{\
              'focus': '',\
              'ng-invalid': data.renameForm.$invalid, \
              'ng-valid': data.renameForm.$valid \
            }"
            ng-click = ""
          )
            .input-prefix http://
            span.input.modal-input(
              contenteditable = "true"
              name = "name"
              ng-model = "data.instance.state.name"
              validate-name = "data.instances"
              instance = "data.instance"
              validate-name-pattern
            ) {{ data.instance.state.name }}
            .input-suffix .username.runnable.io
          .validate-wrapper(
            ng-class = "{ \
              in: data.renameForm.$invalid, \
              'invalid-pattern': data.renameForm.$error.namePattern.length, \
              'invalid-name': data.renameForm.$error.nameAvailable.length \
            }"
          )
            //- if invalid character is entered
            span.validate-rules.invalid-pattern We accept #{''}
              b.btn.btn-xs.orange A-Z
              b.btn.btn-xs.orange a-z
              b.btn.btn-xs.orange 0-9
              b.btn.btn-xs.orange _
              b.btn.btn-xs.orange -
            //- if the name is taken
            span.validate-rules.invalid-name That's a pretty name, but it's taken.
    .modal-footer
      button.white(
        ng-click = "cancel()"
        type = "button"
      ) Cancel
      button(
        ng-class = "{\
          green: data.renameForm.$valid, \
          orange: data.renameForm.$invalid \
        }"
        data-action
        ng-click = "actions.renameInstance(cancel)"
        ng-disabled = "data.renameForm.$invalid"
      ) Rename Box
