.modal(
  ng-class = "{'in': in}"
)
  .modal-dialog(
    ng-click = "$event.stopPropagation()"
  )
    .modal-header
      svg.iconnables.icons-delete
        use(xlink:href = "#icons-delete")
    .modal-body
      h1.header-thin Delete #{''}
        em.highlight {{ data.instance.attrs.name }}
        | #{''} for good?
    .modal-footer
      button.white(
        ng-click = "actions.deleteInstance()"
      ) Delete Box
      button.white(
        ng-click = "cancel()"
        type = "button"
      ) Cancel
