.modal-backdrop(
  ng-class = "{'in': in}"
)
  .modal-dialog(
    ng-click = "$event.stopPropagation()"
  )
    header.modal-header
      h1.modal-heading Delete Box
    main.modal-body
      p.modal-description Your box, #{''}
        strong {{ data.instance.attrs.name }}
        | , will be permanently removed.
    footer.modal-footer
      button.orange(
        ng-click = "actions.deleteInstance()"
      ) Delete Box
      button.white(
        ng-click = "cancel()"
      ) Go Back