.modal(
  ng-class = "{'in': in}"
)
  .modal-dialog(
    ng-click = "$event.stopPropagation()"
  )
    .modal-header
      svg.iconnables.icons-delete
        use(xlink:href = "#icons-rename")
    .modal-body
      label Enter a new name for your Box:
        //- fill value with instance name
        //- autofocus on modal open
        input.modal-input(
          ng-model = "data.instance.state.name"
          autofocus
        )
    .modal-footer
      button.white(
        ng-click = "cancel()"
        type = "button"
      ) Cancel
      button.green(
        ng-click = "actions.renameInstance(cancel)"
      ) Rename Box
