.modal(
  ng-class = "{'in': in}"
)
  .modal-dialog(
    ng-click = "$event.stopPropagation()"
  )
    .modal-header
      svg.iconnables.icons-delete
        use(
          xlink:href = "#icons-rename"
        )
    .modal-body
      form(
        name = "data.renameForm"
      )
        label Give your box a new name
          //- fill value with instance name
          //- autofocus on modal open
          .input-group
            input.validate.validate-left.modal-input(
              autofocus
              ng-model = "data.instance.state.name"
              placeholder = "project-purple"
              spellcheck = "false"
              validate-name = "data.instances"
              validate-name-pattern
            )
            .input-suffix.validate(
              ng-class = "{'ng-invalid': data.renameForm.$invalid}"
            ) .username.runnable.io
            //- if invalid character is entered
          .validate-wrapper(
            ng-class = "{in: data.renameForm.$invalid}"
          )
            span.validate-rules(
              ng-class = "{in: data.renameForm.$error.namePattern.length}"
            ) We accept #{''}
              b.btn.btn-xs.orange A-Z
              b.btn.btn-xs.orange a-z
              b.btn.btn-xs.orange 0-9
              b.btn.btn-xs.orange _
              b.btn.btn-xs.orange -
            //- if the name is taken
            span.validate-rules(
              ng-class = "{in: data.renameForm.$error.nameAvailable.length}"
            ) That's a pretty name, but it's taken.
    .modal-footer
      button.white(
        ng-click = "cancel()"
        type = "button"
      ) Cancel
      button(
        ng-class = "{\
          green: data.renameForm.$valid,\
          orange: data.renameForm.$invalid\
        }"
        data-action
        ng-click = "actions.renameInstance(cancel)"
        ng-disabled = "data.renameForm.$invalid"
      ) Rename Box
