.modal.in
  .modal-dialog
    .modal-body
      h1.modal-title Something went wrong.
      p.modal-text [insert error message]
      p.modal-text Refresh this tab or reach out to us at #{''}
        a.modal-link(
          href = "mailto: support@runnable.io"
        ) support@runnable.io
        | .