.modal(
  ng-class = "{'in': in}"
  ng-click = "cancel()"
)
  .modal-dialog(
    ng-click = "$event.stopPropagation()"
  )
    .modal-header
      svg.iconnables.icons-delete
        use(xlink:href = "#icons-delete")
    .modal-body
      h1 Delete #{''}
        em.highlight {{ data.project.attrs.name }}
        | #{''} for good?
    .modal-footer
      button.white(
        ng-click = "actions.deleteProject()"
      ) Delete
      button.white(
        ng-click = "cancel()"
        type = "button"
      ) Cancel
