.modal(
  ng-class = "{'in': in}"
)
  .modal-dialog(
    ng-click = "$event.stopPropagation()"
  )
    .modal-header
      svg.iconnables.icons-delete
        use(xlink:href = "#icons-rename")
    .modal-body
      label Enter a new name for your Box:
        //- fill value with instance name
        //- autofocus on modal open
        input.validate.modal-input(
          autofocus
          ng-model = "data.instance.state.name"
          placeholder = "Box Name"
          spellcheck = "false"
          validate-name-pattern
          validate-name = ""
        )
        //- if invalid character is entered
        .validate-wrapper
          span.validate-rules(
            ng-class = "{in: }"
          ) We accept #{''}
            b.btn.btn-xs.orange A-Z
            b.btn.btn-xs.orange a-z
            b.btn.btn-xs.orange 0-9
            b.btn.btn-xs.orange _
            b.btn.btn-xs.orange -
          //- if the name is taken
          span.validate-rules(
            ng-class = "{in: }"
          ) That's a pretty name, but it's taken.
    .modal-footer
      button.white(
        ng-click = "cancel()"
        type = "button"
      ) Cancel
      //- .orange + disable if invalid name, .green if valid
      button.green(
        data-action
        ng-class = "{\
          orange: ,\
          green: !\
        }"
        ng-click = "actions.renameInstance(cancel)"
        ng-disabled = ""
      ) Rename Box
