.modal.confirm(
  ng-class = "{'in': in}"
  ng-click = "cancel()"
)
  .modal-dialog(
    ng-click = "$event.stopPropagation()"
  )
    .modal-header
      svg.iconnables.icons-delete
        use(xlink:href = "#icons-delete")
    .modal-body
      span.modal-text Delete #{''}
      em.modal-text.highlight {{ data.project.attrs.name }}
      span.modal-text #{''} for good?
    .modal-footer
      button.modal-button(
        ng-click = "actions.deleteProject()"
      ) Delete for Good
      button.modal-button(
        ng-click = "cancel()"
        type = "button"
      ) Cancel
