.modal-backdrop(
  ng-class = "{'in': in}"
)
  .modal-dialog.modal-fork(
    ng-click = "$event.stopPropagation()"
  )
    header.modal-header
      h1.modal-heading Fork Box

    section.modal-body
      form(
        name = "data.forkForm"
      )
        label.input-group.input-validate.with-description(
          ng-class = "{\
            focus: data.forkForm.showFocus,\
            'ng-invalid': data.forkForm.$invalid,\
            'ng-valid': data.forkForm.$valid\
          }"
        )
          span.input-label Name
          span.input-description.text-overflow {{ newName }}.runnable.io
          input.input(
            autofocus
            instance = "data.instance"
            name = "name"
            ng-blur = "data.forkForm.showFocus = false"
            ng-focus = "data.forkForm.showFocus = true"
            ng-init = "newName = data.instance.attrs.name"
            ng-model = "newName"
            placeholder = "My-Box"
            select-all
            validate-name = "data.instances"
            validate-name-pattern
            validate-name-current-instance-valid = "false"
            value = "{{ data.instance.attrs.name }}"
          )
          //- 0.3 SAN-435
            - to do:
            - popover isn't actually toggled
            - hovering over the popover also triggers tooltip (semi-related: SAN-267)
          button.btn-sm.gray(
            toggle-pop-over
            toggle-pop-over-model = "dataModalForkBox.data.popoverEnvironment.data.show"
            tooltip = "Edit Environment"
            tooltip-options = "{\"class\":\"bottom\",\"left\":3,\"top\":27}"
            type = "button"
          ) ev
            pop-over(
              actions = "dataModalForkBox.data.popoverEnvironment.actions"
              data = "dataModalForkBox.data.popoverEnvironment.data"
              template = "viewPopoverEnvironment"
            )
        //- .invalid-pattern for names with invalid characters
          - .invalid-name for names that are taken
        .validate-wrapper.btn.btn-sm.orange(
          ng-class = "{\
            in: data.forkForm.$invalid,\
            'invalid-pattern': data.forkForm.$error.namePattern.length,\
            'invalid-name': data.forkForm.$error.nameAvailable.length\
          }"
        )
          span.validate-rules.invalid-pattern Please use #{''}
            b.btn.btn-xs.orange A-Z
            b.btn.btn-xs.orange a-z
            b.btn.btn-xs.orange 0-9
            b.btn.btn-xs.orange _
            b.btn.btn-xs.orange -
          span.validate-rules.invalid-name That's a pretty name, but it's taken.

        //- 0.3 SAN-435
            - to do:
            - .well if there are linked boxes
        .well(
          ng-class = "{\
            btn: !linkedBoxesChecked,\
            'btn-sm': !linkedBoxesChecked,\
            in: linkedBoxesChecked,\
            white: !linkedBoxesChecked,\
          }"
        )
          label.label-checkbox
            input.input-checkbox(
              ng-click = "linkedBoxesChecked = !linkedBoxesChecked"
              type = "checkbox"
            )
            | Include linked boxes

          //- forking linked boxes
          label.input-group.with-description(
            ng-class = "{\
              focus: data.forkForm.showFocus,\
              'ng-invalid': data.forkForm.$invalid,\
              'ng-valid': data.forkForm.$valid\
            }"
            ng-if = "linkedBoxesChecked"
          )
            span.input-label Name
            span.input-description.text-overflow {{ newName }}.runnable.io
            //- 0.3 SAN-435
              - to do:
              - fix ng-focus/ng-blur
              - fix validation
            input.input(
              autofocus
              instance = "data.instance"
              name = "name"
              ng-init = "newName = data.instance.attrs.name"
              ng-model = "newName"
              placeholder = "My-Box"
              select-all
              validate-name = "data.instances"
              validate-name-pattern
              validate-name-current-instance-valid = "false"
              value = "{{ data.instance.attrs.name }}"
            )
            //- issues to fix:
              - popover isn't actually toggled
              - hovering over the popover also triggers tooltip (related: SAN-267)
            button.btn-sm.gray(
              toggle-pop-over
              toggle-pop-over-model = "dataModalForkBox.data.popoverEnvironment.data.show"
              tooltip = "Edit Environment"
              tooltip-options = "{\"class\":\"bottom\",\"left\":3,\"top\":27}"
              type = "button"
            ) ev
              pop-over(
                actions = "dataModalForkBox.data.popoverEnvironment.actions"
                data = "dataModalForkBox.data.popoverEnvironment.data"
                template = "viewPopoverEnvironment"
              )
          //- .invalid-pattern for names with invalid characters
            - .invalid-name for names that are taken
          .validate-wrapper.btn.btn-sm.orange(
            ng-class = "{\
              in: data.forkForm.$invalid,\
              'invalid-pattern': data.forkForm.$error.namePattern.length,\
              'invalid-name': data.forkForm.$error.nameAvailable.length\
            }"
          )
            span.validate-rules.invalid-pattern Please use #{''}
              b.btn.btn-xs.orange A-Z
              b.btn.btn-xs.orange a-z
              b.btn.btn-xs.orange 0-9
              b.btn.btn-xs.orange _
              b.btn.btn-xs.orange -
            span.validate-rules.invalid-name That's a pretty name, but it's taken.

          label.input-group.with-description(
              ng-class = "{\
                focus: data.forkForm.showFocus,\
                'ng-invalid': data.forkForm.$invalid,\
                'ng-valid': data.forkForm.$valid\
              }"
              ng-if = "linkedBoxesChecked"
            )
              span.input-label Name
              span.input-description.text-overflow {{ newName }}.runnable.io
              input.input(
                autofocus
                instance = "data.instance"
                name = "name"
                ng-init = "newName = data.instance.attrs.name"
                ng-model = "newName"
                placeholder = "My-Box"
                select-all
                validate-name = "data.instances"
                validate-name-pattern
                validate-name-current-instance-valid = "false"
                value = "{{ data.instance.attrs.name }}"
              )
              //- issues to fix:
                - popover isn't actually toggled
                - hovering over the popover also triggers tooltip (related: SAN-267)
              button.btn-sm.gray(
                toggle-pop-over
                toggle-pop-over-model = "dataModalForkBox.data.popoverEnvironment.data.show"
                tooltip = "Edit Environment"
                tooltip-options = "{\"class\":\"bottom\",\"left\":3,\"top\":27}"
                type = "button"
              ) ev
                pop-over(
                  actions = "dataModalForkBox.data.popoverEnvironment.actions"
                  data = "dataModalForkBox.data.popoverEnvironment.data"
                  template = "viewPopoverEnvironment"
                )
            //- .invalid-pattern for names with invalid characters
              - .invalid-name for names that are taken
            .validate-wrapper.btn.btn-sm.orange(
              ng-class = "{\
                in: data.forkForm.$invalid,\
                'invalid-pattern': data.forkForm.$error.namePattern.length,\
                'invalid-name': data.forkForm.$error.nameAvailable.length\
              }"
            )
              span.validate-rules.invalid-pattern Please use #{''}
                b.btn.btn-xs.orange A-Z
                b.btn.btn-xs.orange a-z
                b.btn.btn-xs.orange 0-9
                b.btn.btn-xs.orange _
                b.btn.btn-xs.orange -
              span.validate-rules.invalid-name That's a pretty name, but it's taken.

    footer.modal-footer
      //- cancel is modalDirective
        - actions.cancel is parent controller
      button(
        ng-class = "{ \
          green: data.forkForm.$valid, \
          orange: data.forkForm.$invalid \
        }"
        ng-disabled = "data.forkForm.$invalid"
        ng-click = "actions.forkInstance(newName, data.env); \
          cancel();"
      ) Fork Box
      button.white(
        ng-click = "actions.cancel(); \
          cancel();"
        type = "button"
      ) Go Back
