.modal-backdrop(
  ng-class = "{in: in}"
)
  .modal-dialog.modal-sign-in(
    ng-click = "$event.stopPropagation()"
  )
    header.modal-header
      h1.modal-heading Sign In to Fork
      //- h1.modal-heading Sign In to Add Repos
    section.modal-body
      p You have to sign in to fork this box.
      //- p You have to sign in to Github to your repositories to this box

    footer.modal-footer
      //- if forking: signing in should fork and add the current box to the user's account
      //- if adding repos: signing in should add the current box to the user's account
      a.btn.green
        svg.iconnables.icons-git
          use(
            xlink:href = "#icons-git"
          )
        | Sign In with Github
      a.link I'm not ready yet.