.modal-backdrop(
  ng-class = "{in: in}"
)
  .modal-dialog.modal-rename(
    ng-click = "$event.stopPropagation()"
  )
    header.modal-header
      h1.modal-heading Sign In
    section.modal-body
      p.well.blue You have to sign in to fork this box.
      //- p.well.blue You have to sign in to Github so we can add your repositories to this box

    footer.modal-footer
      a.btn.green
        svg.iconnables.icons-git
          use(
            xlink:href = "#icons-git"
          )
        | Sign In
      button.white(
        ng-click = "\
          cancel();\
          actions.cancel();\
        "
        type = "button"
      ) Go Back
