main.home
  h3.h3 Choose a box to fork for your branch
  ol.list
    li.list-item anand-api
      button.btn.green Fork box
      a Overwrite box
    li.list-item anton-api-01
      button.btn.green Fork box
      a Overwrite box
    li.list-item bryan-api
      button.btn.green Fork box
      a Overwrite box
    li.list-item casey_api
      button.btn.green Fork box
      a Overwrite box
    li.list-item nathan-api
      button.btn.green Fork box
      a Overwrite box
    li.list-item nathan-api-copy
      button.btn.green Fork box
      a Overwrite box
  a View all boxes

  footer.home-footer
    .hr
      img.hr-image(
        height = "30"
        src = "/build/images/runnable-icon.svg"
        width = "30"
      )
    nav.footer-nav
      //- a.link.link-text(
      //-   href = "/"
      //- ) Home
      //- a.link.link-text(
      //-   href = "/features"
      //- ) Features
      //- a.link.link-text(
      //-   href = "/pricing"
      //- ) Pricing
      a.link.link-text(
        href = "mailto:support@runnable.com"
      ) Email Us
      a.link.link-text(
        ng-href = "{{ dataApp.data.loginURL }}"
      )
        b Sign In