main.home.box-selection
  h3.h3.header-thin Fork a box to run your branch
  //- a.btn.gray(
  //-   href = "#"
  //-   target = "_blank"
  //- ) SAN-699-notifications
  ol.list.list-bordered.list-divided
    li.list-item
      h4.h4.header-thin anand-api
      .demo-list-actions
        button.btn.btn-sm.green Fork and run
        button.btn.btn-xxs.gray(
          modal
          modal-actions = "actions.actionsModalOverwrite"
          modal-data = "data.dataModalOverwrite"
          modal-template = "viewModalOverwriteBox"
        ) Overwrite Serger
    li.list-item
      h4.h4.header-thin anton-api-01
      .demo-list-actions
        button.btn.btn-sm.green Fork and run
        button.btn.btn-xxs.gray Overwrite Server
    li.list-item
      h4.h4.header-thin bryan-api
      .demo-list-actions
        button.btn.btn-sm.green Fork and run
        button.btn.btn-xxs.gray Overwrite Server
    li.list-item
      h4.h4.header-thin casey_api
      .demo-list-actions
        button.btn.btn-sm.green Fork and run
        button.btn.btn-xxs.gray Overwrite Server
    li.list-item
      h4.h4.header-thin nathan-api
      .demo-list-actions
        button.btn.btn-sm.green Fork and run
        button.btn.btn-xxs.gray Overwrite Server
    li.list-item
      h4.h4.header-thin nathan-api-copy
      .demo-list-actions
        button.btn.btn-sm.green Fork and run
        button.btn.btn-xxs.gray Overwrite Server

  .hr
    span.hr-text or

  .btn.gray Create a New Server

  footer.home-footer
    .hr
      img.hr-image(
        height = "30"
        src = "/build/images/runnable-icon.svg"
        width = "30"
      )
    nav.footer-nav
      //- a.link.link-text(
      //-   href = "/"
      //- ) Home
      //- a.link.link-text(
      //-   href = "/features"
      //- ) Features
      //- a.link.link-text(
      //-   href = "/pricing"
      //- ) Pricing
      a.link.link-text(
        href = "mailto:support@runnable.com"
      ) Email Us
      a.link.link-text(
        ng-href = "{{ dataApp.data.loginURL }}"
      )
        b Sign In