main.home.box-selection
  h3.h3.header-thin Choose a server to run #9af674
  ol.list.list-bordered.list-divided
    li.list-item(
      ng-class = "{in: data.listExpand}"
    )
      .list-item-row
        h4.h4.header-thin anand-api
        button.btn.btn-sm.gray(
          ng-click = "data.listExpand = !data.listExpand"
        ) Choose
          svg.iconnables.icons-arrow-down
            use(
              xlink:href = "#icons-arrow-down"
            )
      .list-item-row
    li.list-item
      h4.h4.header-thin anton-api-01
      button.btn.btn-sm.gray Choose
        svg.iconnables.icons-arrow-down
          use(
            xlink:href = "#icons-arrow-down"
          )
    li.list-item
      h4.h4.header-thin bryan-api
      button.btn.btn-sm.gray Choose
        svg.iconnables.icons-arrow-down
          use(
            xlink:href = "#icons-arrow-down"
          )
    li.list-item
      h4.h4.header-thin casey_api
      button.btn.btn-sm.gray Choose
        svg.iconnables.icons-arrow-down
          use(
            xlink:href = "#icons-arrow-down"
          )
    li.list-item
      h4.h4.header-thin nathan-api
      button.btn.btn-sm.gray Choose
        svg.iconnables.icons-arrow-down
          use(
            xlink:href = "#icons-arrow-down"
          )
    li.list-item
      h4.h4.header-thin nathan-api-copy
      button.btn.btn-sm.gray Choose
        svg.iconnables.icons-arrow-down
          use(
            xlink:href = "#icons-arrow-down"
          )