main.home.box-selection
  a.logo
    svg
      use(
        xlink:href = "#runnable-logo-gray"
      )

  h3.h3.header-thin Choose a server to run…
  a.block-quote(
    href = "#"
    target = "_blank"
  ) scope objects for guide-tips & listener to remove after viewing
    small.small
      svg.iconnables.icons-branch
        use(
          xlink:href = "#icons-branch"
        )
      | CodeNow/runnable-angular@SAN-548-walk
    small.small
      img.gravatar(
        height = "15"
        src = "https://camo.githubusercontent.com/fb19fe1e94d8d24c25d32d09bcdcdb7a9e7c76f9/687474703a2f2f7777772e67726176617461722e636f6d2f6176617461722f66643363383036663934393236636265363833663364646338373861653464333f733d3634"
        width = "15"
      )
      | cflynn07
  //- spinner
  //- .spinner-wrapper.spinner-md(
  //-   ng-class = "{in: dataApp.data.loading}"
  //-   ng-include = "'spinner'"
  //- )
  ol.list.list-bordered.list-divided
    li.list-item(
      ng-class = "{active: data.listExpand}"
      ng-repeat = "instance in instances.models"
    )
      .list-item-row(
        ng-click = "data.listExpand = !data.listExpand"
      )
        h4.h4.header-thin {{ instance.attrs.name }}
        svg.iconnables.icons-arrow-down
          use(
            xlink:href = "#icons-arrow-down"
          )
      .list-item-row
        p.p Fork to a new server to run your code
        button.btn.btn-sm.green(
          ng-click = "fork(instance)"
        ) Fork
      .list-item-row
        p.p Overwrite this server to run your code
        button.btn.btn-sm.green(
          ng-click = "overwrite(instance)"
        ) Overwrite
    //- li.list-item
    //-   .list-item-row
    //-     h4.h4.header-thin anton-api-01
    //-     svg.iconnables.icons-arrow-down
    //-       use(
    //-         xlink:href = "#icons-arrow-down"
    //-       )
    //-   .list-item-row
    //- li.list-item
    //-   .list-item-row
    //-     h4.h4.header-thin bryan-api
    //-     svg.iconnables.icons-arrow-down
    //-       use(
    //-         xlink:href = "#icons-arrow-down"
    //-       )
    //-   .list-item-row
    //- li.list-item
    //-   .list-item-row
    //-     h4.h4.header-thin casey_api
    //-     svg.iconnables.icons-arrow-down
    //-       use(
    //-         xlink:href = "#icons-arrow-down"
    //-       )
    //-   .list-item-row
    //- li.list-item
    //-   .list-item-row
    //-     h4.h4.header-thin nathan-api
    //-     svg.iconnables.icons-arrow-down
    //-       use(
    //-         xlink:href = "#icons-arrow-down"
    //-       )
    //-   .list-item-row
    //- li.list-item
    //-   .list-item-row
    //-     h4.h4.header-thin nathan-api-copy
    //-     svg.iconnables.icons-arrow-down
    //-       use(
    //-         xlink:href = "#icons-arrow-down"
    //-       )
    //-   .list-item-row
