main.home.box-selection
  h3.h3.header-thin Choose a server to run #9af674
  ol.list.list-bordered.list-divided
    li.list-item(
      ng-class = "{in: data.listExpand}"
      ng-click = "data.listExpand = !data.listExpand"
    )
      .list-item-row
        h4.h4.header-thin anand-api
        svg.iconnables.icons-arrow-down
          use(
            xlink:href = "#icons-arrow-down"
          )
      .list-item-row
        p.p Fork to a new server to run your code
        button.btn.btn-sm.green Fork
      .list-item-row
        p.p Overwrite this server to run your code
        button.btn.btn-sm.green Overwrite
    li.list-item
      h4.h4.header-thin anton-api-01
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
    li.list-item
      h4.h4.header-thin bryan-api
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
    li.list-item
      h4.h4.header-thin casey_api
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
    li.list-item
      h4.h4.header-thin nathan-api
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
    li.list-item
      h4.h4.header-thin nathan-api-copy
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )