//- ************
//- deprecated template, remove this file with $root.featureFlags.cardStatus
div(
  ng-class = "{\
    'no-touching': noTouching\
  }"
  ng-if = "!$root.featureFlags.cardStatus"
  pop-over
  pop-over-actions = "actions"
  pop-over-data = "popOverServerData"
)
  status-icon(
    instance = "server.instance"
  )
  span.btn-text.text-overflow(
    ng-attr-title = "{{ server.opts.name || server.instance.getDisplayName() }}"
  ) {{ (server.instance.getRepoName() || server.instance.attrs.name) }}
  span.btn-text(
    ng-attr-title = "{{ server.instance | cardBuildStatusTitle}}"
  ) {{ server.instance | cardBuildStatusText:true}}
  svg.iconnables.icons-arrow-down(
    ng-if = "!noTouching"
  )
    use(
      xlink:href = "#icons-arrow-down"
    )
//- end deprecated template
//- ************