div(
  pop-over
  pop-over-actions = "popoverServerActions"
  pop-over-options = "{\"right\":0,\"top\":47}"
  pop-over-template = "serverOptionsCardPopover"
)
  //- ************
  //- deprecated content, remove with $root.featureFlags.cardStatus
  status-icon(
    instance = "instance"
  )
  span.btn-text.text-overflow(
    ng-attr-title = "{{ instance.getDisplayName() }}"
  ) {{ (instance.getRepoName() || instance.attrs.name) }}
  span.btn-text(
    ng-attr-title = "{{ instance | cardBuildStatusTitle}}"
  ) {{ instance | cardBuildStatusText:true}}
  svg.iconnables.icons-arrow-down(
    ng-if = "!noTouching"
  )
    use(
      xlink:href = "#icons-arrow-down"
    )