.server-status-card-pop-over(
  ng-class = "{\
    'active': popoverServerActions.data.show,\
    'deprecated': !$root.featureFlags.cardStatus,\
    'no-touching': !$root.featureFlags.optionsInModal && inModal\
  }"
  ng-if = "!inModal"
  pop-over
  pop-over-actions = "popoverServerActions"
  pop-over-active = "popoverServerActions.data.show"
  pop-over-data = "instance"
  pop-over-options = "{\"centered\":true,\"top\":36}"
  pop-over-template = "serverOptionsCardPopover"
)
  //- ***********************************
  //- START !$root.featureFlags.cardStatus
  //- ***********************************
  status-icon(
    instance = "instance"
    ng-if = "!$root.featureFlags.cardStatus && instance"
  )
  span.container-title.text-overflow(
    ng-attr-title = "{{instance.getDisplayName()}}"
    ng-if = "!$root.featureFlags.cardStatus"
  ) {{getName()}}

  //- ***********************************
  //- END !$root.featureFlags.cardStatus
  //- ***********************************

  //- ***********************************
  //- START $root.featureFlags.cardStatus
  //- ***********************************

  //- This element should display while the container is building, but not while the card is loading.
  //- i.e. if the card has a spinner in the middle instead of buttons, this spinner should not show.
  .spinner-wrapper.spinner-sm.spinner-gray.in(
    ng-if = "$root.featureFlags.cardStatus && cardStatus.loading"
    ng-include = "'spinner'"
  )

  //- This element should replace the spinner if the container has failed to build or run or 5 seconds
  svg.iconnables.icons-alert(
    ng-if = "$root.featureFlags.cardStatus && !noTouching"
  )
    use(
      xlink:href = "#icons-alert"
    )

  span.container-title.text-overflow(
    ng-attr-title = "{{getName()}}"
    ng-if = "$root.featureFlags.cardStatus"
  ) {{getName()}}

  //- only appears if container is unsaved and only in the modal
  span.container-title.text-overflow(
    ng-if = "instance && !$root.isLoading[SMC.name] && SMC.isDirty()"
  ) —Unsaved

  //- ***********************************
  //- END $root.featureFlags.cardStatus
  //- ***********************************

  svg.iconnables.icons-arrow-down(
    ng-if = "!noTouching || $root.featureFlags.optionsInModal"
  )
    use(
      xlink:href = "#icons-arrow-down"
    )

//- for renaming a container during the verification flow only
.server-status-card-pop-over.in-modal(
  ng-class = "{\
    'active': popoverServerActions.data.show,\
    'deprecated': !$root.featureFlags.cardStatus,\
    'no-touching': !$root.featureFlags.optionsInModal && inModal\
  }"
  ng-if = "inModal"
)
  //- ***********************************
  //- START !$root.featureFlags.cardStatus
  //- ***********************************
  status-icon(
    instance = "instance"
    ng-if = "!$root.featureFlags.cardStatus && instance"
  )
  span.container-title.text-overflow(
    ng-attr-title = "{{getName()}}"
    ng-if = "!$root.featureFlags.cardStatus"
  ) {{getName()}}

  //- ***********************************
  //- END !$root.featureFlags.cardStatus
  //- ***********************************

  //- ***********************************
  //- START $root.featureFlags.cardStatus
  //- ***********************************

  //- This element should display while the container is building, but not while the card is loading.
  //- i.e. if the card has a spinner in the middle instead of buttons, this spinner should not show.
  .spinner-wrapper.spinner-sm.spinner-gray.in(
    ng-if = "$root.featureFlags.cardStatus && cardStatus.loading"
    ng-include = "'spinner'"
  )

  //- This element should replace the spinner if the container has failed to build or run or 5 seconds
  svg.iconnables.icons-alert(
    ng-if = "$root.featureFlags.cardStatus && !noTouching"
  )
    use(
      xlink:href = "#icons-alert"
    )

  span.container-title.text-overflow(
    ng-attr-title = "{{getName()}}"
    ng-if = "$root.featureFlags.cardStatus"
  ) {{getName()}}

  //- only appears if container is unsaved and only in the modal
  span.container-title.text-overflow(
    ng-if = "instance && !$root.isLoading[SMC.name] && SMC.isDirty()"
  ) —Unsaved

  //- ***********************************
  //- END $root.featureFlags.cardStatus
  //- ***********************************

  //- ***********************************
  //- START $root.featureFlags.renameContainer
  //- ***********************************

  button.btn.btn-xxs.gray(
    internal-modal-helper = "viewModalRename"
    ng-if = "inModal && $root.featureFlags.renameContainer"
  ) Rename

  //- ***********************************
  //- END $root.featureFlags.renameContainer
  //- ***********************************