div(
  ng-class = "{\
    'no-touching': noTouching\
  }"
  pop-over
  pop-over-actions = "actions"
  pop-over-data = "popOverServerData"
)
  .icons-status(
    ng-attr-title = "{{ server.instance | cardBuildStatusTitle}}"
    ng-class = "getInstanceClasses(server.instance)"
  )
  span.btn-text.text-overflow(
    ng-attr-title = "{{ (server.opts.name || server.instance.attrs.name) }}"
  ) {{ (server.instance.attrs.name) }}
  span.btn-text(
    ng-attr-title = "{{ server.instance | cardBuildStatusTitle}}"
  ) {{ server.instance | cardBuildStatusText:true}}
  svg.iconnables.icons-arrow-down(
    ng-if = "!noTouching"
  )
    use(
      xlink:href = "#icons-arrow-down"
    )