//- deprecated file, remove with $root.featureFlags.cardStatus
.container-title-wrapper.server-status-card-pop-over(
  ng-class = "{'no-touching': noTouching}"
  pop-over
  pop-over-actions = "popoverServerActions"
  pop-over-data = "instance"
  pop-over-options = "{\"centered\":true,\"top\":36}"
  pop-over-template = "serverOptionsCardPopover"
)
  status-icon(
    instance = "instance"
  )
  span.container-title.text-overflow(
    ng-attr-title = "{{instance.getDisplayName()}}"
  ) {{(instance.getRepoName() || instance.attrs.name)}}
  svg.iconnables.icons-arrow-down(
    ng-if = "!noTouching"
  )
    use(
      xlink:href = "#icons-arrow-down"
    )
