.container-title-wrapper(
  pop-over
  pop-over-actions = "popoverServerActions"
  pop-over-options = "{\"centered\":true,\"top\":36}"
  pop-over-template = "serverOptionsCardPopover"
)
  //- This element should display while the container is building, but not while the card is loading.
  //- i.e. if the card has a spinner in the middle instead of buttons, this spinner should not show.
  .spinner-wrapper.spinner-sm.spinner-gray.in(
    ng-include = "'spinner'"
    ng-if = "$root.featureFlags.cardStatus && cardStatus.loading"
  )

  //- This element should replace the spinner if the container has failed to build or run or 5 seconds
  svg.iconnables.icons-warning(
    ng-if = "!noTouching"
  )
    use(
      xlink:href = "#icons-warning"
    )
  span.text-overflow.container-title(
    ng-if = "$root.featureFlags.cardStatus"
    ng-attr-title = "{{(instance.getRepoName() || instance.attrs.name)}}"
  ) {{(instance.getRepoName() || instance.attrs.name)}}
  svg.iconnables.icons-arrow-down
    use(
      xlink:href = "#icons-arrow-down"
    )