.card.gray.disabled.load(
  ng-repeat = "server in data.newServers"
)
  .card-header
    h2.h2.monospace {{ server.opts.name | filterCreateInstanceUrl: data.activeAccount }}
    .row.clearfix
      button.btn.btn-xs.orange.active Building
      label.btn.btn-xs.white(
        modal
        modal-actions = "actions"
        modal-data = "data"
        modal-template = "confirmBuildFilesModalView"
      )
        input.input-checkbox(
          ng-model = "data.revealBuildfiles"
          type = "checkbox"
        )
        | Advanced config
  ul.card-body
    li.btn.white(
      modal
      modal-actions = "actions"
      modal-current-model = "server"
      modal-data = "data"
      modal-state-model = "'buildfiles'"
      modal-template = "editServerModalOpen"
      ng-if = "data.revealBuildfiles"
    )
      svg.iconnables.icons-terminal
        use(
          xlink:href = "#icons-terminal"
        )
      h3.h3 Build Files
      p.p No errors
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
    li.btn.white(
      modal
      modal-actions = "actions"
      modal-current-model = "server"
      modal-data = "data"
      modal-state-model = "'stack'"
      modal-template = "editServerModalOpen"
      ng-hide = "data.revealBuildfiles"
    )
      svg.iconnables.icons-terminal
        use(
          xlink:href = "#icons-terminal"
        )
      h3.h3 Stack
      p.p {{ actions.getFlattenedSelectedStacks(server.selectedStack) }}
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
    li.btn.white(
      modal
      modal-actions = "actions"
      modal-current-model = "server"
      modal-data = "data"
      modal-state-model = "'command'"
      modal-template = "editServerModalOpen"
      ng-hide = "data.revealBuildfiles"
    )
      svg.iconnables.icons-terminal
        use(
          xlink:href = "#icons-terminal"
        )
      h3.h3 Start Command
      p.p {{ server.startCommand }}
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
    li.btn.white(
      modal
      modal-actions = "actions"
      modal-current-model = "server"
      modal-data = "data"
      modal-state-model = "'ports'"
      modal-template = "editServerModalOpen"
      ng-hide = "data.revealBuildfiles"
    )
      svg.iconnables.icons-terminal
        use(
          xlink:href = "#icons-terminal"
        )
      h3.h3 Ports
      p.p {{ (server.ports.length ) ? server.ports.join(', ') : 'None' }}
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
    li.btn.white(
      modal
      modal-actions = "actions"
      modal-current-model = "server"
      modal-data = "data"
      modal-state-model = "'env'"
      modal-template = "editServerModalOpen"
    )
      svg.iconnables.icons-terminal
        use(
          xlink:href = "#icons-terminal"
        )
      h3.h3 Environment Variables
      p.p none defined
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )