.card.gray.disabled.load
  .card-header
    svg.iconnables.icons-server
      use(
        xlink:href = "#icons-server"
      )
    h2.h2 api
    p.p api-codenow-runnableapp.com
  ul.card-body
    li.btn.gray
      h3.h3
        svg.iconnables.icons-terminal
          use(
            xlink:href = "#icons-terminal"
          )
        | Start Command
      p.p npm start
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
    li.btn.gray
      h3.h3
        svg.iconnables.icons-terminal
          use(
            xlink:href = "#icons-terminal"
          )
        | Ports
      p.p 80 8000 8080 3000
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
    li.btn.gray
      h3.h3
        svg.iconnables.icons-terminal
          use(
            xlink:href = "#icons-terminal"
          )
        | Stack
      p.p node.js v0.10.28
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
    li.btn.gray
      h3.h3
        svg.iconnables.icons-terminal
          use(
            xlink:href = "#icons-terminal"
          )
        | Environment Variables
      p.p none defined
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )