.card.gray.disabled.load(
  ng-repeat = "server in state.newServers"
  modal
  modal-actions = "actions"
  modal-data = "data"
  modal-template = "editServerModalOpen"
  modal-current-model = "server"
)
  .card-header
    svg.iconnables.icons-server
      use(
        xlink:href = "#icons-server"
      )
    h2.h2 {{ server.opts.name }}
    p.p {{ server.opts.name | filterCreateInstanceUrl: data.activeAccount }}
  ul.card-body
    li.btn.white
      h3.h3
        svg.iconnables.icons-terminal
          use(
            xlink:href = "#icons-terminal"
          )
        | Stack
      p.p {{ server.selectedStack }} v{{ server.selectedVersion }}
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
    li.btn.white
      h3.h3
        svg.iconnables.icons-terminal
          use(
            xlink:href = "#icons-terminal"
          )
        | Start Command
      p.p {{ server.startCommand }}
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
    li.btn.white
      h3.h3
        svg.iconnables.icons-terminal
          use(
            xlink:href = "#icons-terminal"
          )
        | Ports
      p.p {{ (server.ports.length ) ? server.ports.join(',') : 'None' }}
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
    li.btn.white
      h3.h3
        svg.iconnables.icons-terminal
          use(
            xlink:href = "#icons-terminal"
          )
        | Environment Variables
      p.p none defined
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )