button.btn.gray(
  modal
  modal-actions = "actions"
  modal-data = "data"
  modal-template = "viewModalChooseOrganization"
) TEST

//- .card.card-sm.gray.load(
//-   ng-repeat = "org in dataApp.data.allAccounts"
//-   ng-click = "actions.selectAccount(org)"
//- )
//-   .card-header
//-     img.img.gravatar(
//-       height = "30"
//-       ng-src = "{{ org.gravitar() }}"
//-       width = "30"
//-     )
//-     | {{ org.oauthName() }}