.popover.right.popover-branch-menu(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white(
    ng-style = "popoverStyle.getArrowStyle()"
  )
  section.popover-content.list-actions.list-tests.list-commits(
    branch-test-list
    instance = "data.instance"
    ng-class = "{'with-menu': $root.featureFlags.multipleWebhooks}"
  )
    .padding-md.grid-block.align-center.justify-center(
      ng-click = "state.loading = false"
      ng-if = "state.loading"
    )
      .spinner-wrapper.spinner-gray.spinner-sm(
        ng-include = "'spinner'"
      )
  section.section-secondary.padding-xs(
    ng-if = "$root.featureFlags.multipleWebhooks"
    ng-include = "'deleteEnvironmentView'"
  )
