.popover-content
  ul.vertical-list
    li Org/Repo
    li Org/Repo
    li Org/Repo
  button.btn-block.silver(
    ng-click = "dataSetup.repoMode = false"
    type = "button"
  ) Add [checked] Repositories