.popover-content
  ul.list-group
    li.list-group-item(
      ng-class = "{in: dataSetup.data.selectedRepos.contains(repo)}"
      ng-repeat = "repo in dataSetup.data.githubRepos.models | \
        unaddedRepos:dataSetup.data.contextVersion.appCodeVersions | \
        repos:dataSetup.data.repoFilter"
    )
      ol.repo-group
        li.repo-group-item(ng-click = "dataSetup.actions.selectGithubRepo(repo)") {{ repo.attrs.name }}
          svg.iconnables.icons-check
            use(xlink:href = "#icons-check")
        li.repo-group-item
          input.form-control(
            list = "repo-branches"
            placeholder = "Branch/SHA (default: @master)"
          )
          datalist(id = "repo-branches")
            option(value = "master")
            option(value = "instance-page")
            option(value = "instance-terminal")
  button.btn-block.green(
    ng-click = "dataSetup.actions.addGithubRepos()"
    type = "button"
  ) Add {{ dataSetup.data.selectedRepos.models.length }} Repositor{{ dataSetup.data.selectedRepos.models.length === 1 ? 'y' : 'ies' }}