.popover-content
  ul.list-group
    li.list-group-item(
      ng-class = "{in: dataSetup.data.selectedRepos.contains(repo)}"
      ng-repeat = "repo in dataSetup.data.githubRepos.models | \
        unaddedRepos:dataSetup.data.contextVersion.appCodeVersions | \
        repos:dataSetup.data.repoFilter"
    )
      ol.repo-group
        li.repo-group-item(ng-click = "dataSetup.actions.selectGithubRepo(repo)") {{ repo.attrs.name }}
          svg.iconnables.icons-check
            use(xlink:href = "#icons-check")
        li.repo-group-item
          label.form-label
            span branch:
            //- list needs to be unique to match datalist id
            input.form-control(
              list = "repo-branches"
              placeholder = "Branch or commit (optional)"
              value = "@master"
            )
            datalist(id = "repo-branches")
              option(
                ng-repeat = "branch in repo.branches.models"
                value = "{{ branch.attrs.name }}"
              )
        li.repo-group-item
          label.form-label
            span dest:
            input.form-control(
              placeholder = "Destination"
              value = "{{ '/'+appCodeVersion.attrs.repo.split('/').pop() }}"
            )
  button.btn-block.green(
    ng-click = "dataSetup.actions.addGithubRepos()"
    type = "button"
  ) Add {{ dataSetup.data.selectedRepos.models.length }} Repositor{{ dataSetup.data.selectedRepos.models.length === 1 ? 'y' : 'ies' }}
