.popover-content
  ul.vertical-list
    li(
      ng-class = "{in: dataSetup.repoSelected}"
      ng-click = "dataSetup.repoSelected = !dataSetup.repoSelected"
    ) Org/Repo
      svg.iconnables.icons-check
        use(xlink:href = "#icons-check")
    li Org/Repo
      svg.iconnables.icons-check
        use(xlink:href = "#icons-check")
    li Org/Repo
      svg.iconnables.icons-check
        use(xlink:href = "#icons-check")
  button.btn-block.silver(
    ng-click = "dataSetup.repoMode = false"
    type = "button"
  ) Add [#] Repositor[y/ies]