.popover-content
  ul.vertical-list
    li(
      ng-repeat = "repo in dataSetup.data.githubRepos.models | repos:dataSetup.data.repoFilter"
      ng-class = "{in: dataSetup.repoSelected}"
      ng-if = "!dataSetup.actions.selectedGithubRepos(org)"
      ng-click = "dataSetup.actions.addGithubRepo(repo, $index)"
    ){{ repo.attrs.name }}
      svg.iconnables.icons-check
        use(xlink:href = "#icons-check")
  button.btn-block.silver(
    ng-click = "dataSetup.repoMode = false"
    type = "button"
  ) Add [#] Repositor[y/ies]