.popover-content
  ul.vertical-list
    li(
      ng-repeat = "repo in dataSetup.data.githubRepos.models | \
        unaddedRepos:dataSetup.data.contextVersion.appCodeVersions | \
        repos:dataSetup.data.repoFilter"
      ng-class = "{in: dataSetup.data.selectedRepos.contains(repo)}"
      ng-click = "dataSetup.actions.selectGithubRepo(repo)"
    ){{ repo.attrs.name }}
      svg.iconnables.icons-check
        use(xlink:href = "#icons-check")
  button.btn-block.silver(
    ng-click = "dataSetup.actions.addGithubRepos()"
    type = "button"
  ) Add {{ dataSetup.data.selectedRepos.models.length }} Repositor{{ dataSetup.data.selectedRepos.models.length === 1 ? 'y' : 'ies' }}