section.label-description
  .label-col SSH Keys
  .small.text-gray Keys will be added to containers at build and run time, and can be &#32;
    a.link(
      href = "#"
      target = "_blank"
    ) managed on GitHub
    | .

ol.list-bordered.padding-left-sm.padding-right-sm(
  ng-init = "keys = [\
    {username: 'Myztiq', fingerprint: '40:71:04:a8:3b:ea:a8:90:f6:99:6c:7a:22:f7:c0:15', avatar: 'https://avatars1.githubusercontent.com/u/495765'},\
    {username: 'podviaznikov', fingerprint: 'e2:81:ae:03:43:1a:ba:cf:4e:e0:79:37:69:40:58:56', avatar: 'https://avatars1.githubusercontent.com/u/429706'}\
  ]"
)

  //- if no key exists for the current user
  li.grid-block.align-center.list-item(
    ng-init = "listening = false"
    ng-if = "!state.authorized"
  )
    //- normal state
    svg.grid-block.shrink.iconnables.icons-key(
      ng-if = "!listening"
    )
      use(
        xlink:href = "#icons-key-empty"
      )
    p.text-gray.padding-left-sm.padding-right-sm(
      ng-if = "!listening"
    ) Add your user key so your project can access private dependencies.

    //- listening state
    .grid-block.shrink.align-center.justify-center.spinner-wrapper.spinner-sm.spinner-gray(
      ng-if = "listening"
      ng-include = "'spinner'"
    )
    p.grid-block.align-center.padding-left-sm.padding-right-sm.text-gray(
      ng-if = "listening"
    ) Listening for authorization…

    a.grid-block.shrink.noscroll.align-center.btn.gray.btn-xs(
      ng-disabled = "state.authorized"
      ng-if = "!state.everAuthorized"
      ng-include = "'SSHAuthorizeButton'"
    )

    a.grid-block.shrink.noscroll.align-center.btn.gray.btn-xs.btn-create-key(
      ng-disabled = "state.creating"
      ng-if = "state.everAuthorized && !state.authorized"
      ng-include = "'SSHCreateButton'"
    )

  //- all user keys; if current user's key exists, list it at the top
  li.grid-block.align-center.list-item(
    ng-repeat = "key in keys"
  )
    svg.grid-block.shrink.iconnables.icons-key
      use(
        xlink:href = "#icons-key"
      )
    .grid-block.vertical.padding-left-sm.padding-right-sm
      p.strong {{key.username}} user key (Runnable)
      p.monospace.text-gray.text-overflow {{key.fingerprint}}
    a.grid-block.shrink.noscroll.align-center.btn.gray.btn-xs.btn-authorized(
      ng-include = "'SSHAuthorizeButton'"
      ng-init = "state.authorized = true"
    )
