.popover.bottom.menu(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
)
  .popover-content
    .list.popover-list
      .list-item.popover-list-item.small(
        style = "background: white; color: #aaa; font-weight: 500; padding-left: 15px; top: 1px; z-index: 1;"
      ) Feature Flags
      label.list-item.popover-list-item(
        ng-repeat = "(flag, value) in $root.featureFlags"
        style = "border-top: 1px solid #f0f0f0; color: $gray-dark; display: block; padding-left: 15px;"
      ) {{flag}}
        .toggle-wrapper.float-right(
          style = "margin: 11px 0 0 45px;"
        )
          input.toggle-input(
            ng-model = "$root.featureFlags[flag]"
            ng-change = "$localStorage.featureFlags[flag] = $root.featureFlags[flag]"
            type = "checkbox"
          )
          .toggle-group.toggle-xs