.modal-backdrop.in
  .modal-dialog.modal-webhooks.js-animate

    animated-panel-container

      animated-panel.panel-webhooks-containers-list(
        default = "true"
        name = "webhooksContainerList"
        ng-init = "\
          currentRepository = {name: 'api', authorized: true, enabled: false};\
          repositories = [\
            currentRepository,\
            {name: 'data-dog', authorized: true, enabled: false},\
            {name: 'mavis', authorized: false, enabled: false}\
          ];\
          state.loading = true;\
        "
      )

        header.modal-header
          h1.modal-heading(
          ) Webhooks
            //- ng-class = "{'in': isActivePanel()}"
          svg.iconnables.icons-close.fade(
            ng-click = "defaultActions.cancel()"
            ng-class = "{'in': isActivePanel()}"
          )
            use(
              xlink:href = "#icons-close"
            )

        section.modal-body

          strong.strong Enable Webhooks to automatically…
          .list.list-bulleted
            .list-item update existing containers with new commits
            .list-item create containers for new branches

          .list.list-bordered

            //- loading state
            .list-item(
              ng-click = "state.loading = false"
              ng-if = "state.loading"
            )
              .spinner-wrapper.spinner-gray.spinner-sm.in(
                ng-include = "'spinner'"
              )

            //- current repository
            .list-item(
              ng-if = "!state.loading"
            )
              p.p {{currentRepository.name}}
              button.btn.btn-xs.green.text-center(
                ng-disabled = "currentRepository.enabled"
                ng-if = "currentRepository.authorized"
                ng-mousedown = "currentRepository.enabling = true"
                ng-mouseup = "\
                  currentRepository.enabling = false;\
                  currentRepository.enabled = true;\
                "
              )
                //- ng-disabled = "currentRepository.enabling || currentRepository.enabled"
                span(
                  ng-if = "!currentRepository.enabling"
                ) {{currentRepository.enabled ? "Enabled" : "Enable Webhooks"}}

                .spinner-wrapper.spinner-sm.spinner-white.in(
                  ng-if = "currentRepository.enabling"
                  ng-include = "'spinner'"
                )
                span(
                  ng-if = "currentRepository.enabling"
                ) Enabling

              button.btn.btn-xs.gray.text-center(
                ng-click = "goToPanel('inviteAdmins')"
                ng-if = "!currentRepository.authorized"
              ) Invite an Admin…

            //- divider
            .list-item.divider(
              ng-if = "currentRepository.enabled && repositories.length > 1"
            ) Other Repositories

            //- other repositories
            .list-item(
              ng-if = "currentRepository.enabled && repository != currentRepository"
              ng-repeat = "repository in repositories"
            )
              p.p {{repository.name}}
              button.btn.btn-xs.green.text-center(
                ng-disabled = "repository.enabled"
                ng-if = "repository.authorized"
                ng-mousedown = "repository.enabling = true"
                ng-mouseup = "\
                  repository.enabling = false;\
                  repository.enabled = true;\
                "
              )
                //- ng-disabled = "repository.enabling || repository.enabled"
                span(
                  ng-if = "!repository.enabling"
                ) {{repository.enabled ? "Enabled" : "Enable Webhooks"}}

                .spinner-wrapper.spinner-sm.spinner-white.in(
                  ng-if = "repository.enabling"
                  ng-include = "'spinner'"
                )
                span(
                  ng-if = "repository.enabling"
                ) Enabling

              button.btn.btn-xs.gray.text-center(
                ng-click = "goToPanel('inviteAdmins')"
                ng-if = "!repository.authorized"
              ) Invite an Admin…

      animated-panel.panel-invite-admins(
        name = "inviteAdmins"
        ng-init = "\
          mavisAdmins = [\
            {username: 'runnabro', gravatarUrl: 'https://avatars2.githubusercontent.com/u/5341618', email: 'tony@runnable.com'},\
            {username: 'taylordolan', gravatarUrl: 'https://avatars0.githubusercontent.com/u/7440805', email: 'taylor@runnable.com'},\
            {username: 'thejsj', gravatarUrl: 'https://avatars0.githubusercontent.com/u/1981198', email: null}\
          ];\
          state.loading = true;\
        "
      )
        header.modal-header
          svg.btn.btn-sm.iconnables.icons-arrow-backward.fade(
            ng-click = "goToPanel('webhooksContainerList', 'back')"
            ng-class = "{'in': isActivePanel()}"
          )
            use(
              xlink:href = "#icons-arrow-down"
            )
          h1.modal-heading.fade(
            ng-class = "{'in': isActivePanel()}"
          ) Invite an Admin
          svg.iconnables.icons-close(
            ng-click = "defaultActions.cancel()"
          )
            use(
              xlink:href = "#icons-close"
            )
        section.modal-body
          span.span(
            style = "color: #777;"
          ) Invite a GitHub admin for&#32;
            span.strong optimus&#32;
            span.span so we can get permission to enable webhooks.

          .list.list-bordered

            //- loading state
            .list-item(
              ng-click = "state.loading = false"
              ng-if = "state.loading"
            )
              .spinner-wrapper.spinner-gray.spinner-sm.in(
                ng-include = "'spinner'"
              )

            .list-item(
              ng-if = "!state.loading"
              ng-repeat = "admin in mavisAdmins"
            )
              img.gravatar(
                height = "30"
                width = "30"
                src = "{{admin.gravatarUrl}}"
              )
              p.p(
                ng-class = "{'shrink': inviting && !sent}"
              )
                span.span {{admin.username}}
                input.input(
                  type = "text"
                  value = "{{admin.email}}"
                  ng-disabled = "!inviting || sent"
                )
              .btn.btn-xs.gray.text-center(
                ng-click = "inviting = true"
                ng-hide = "inviting"
              ) Invite…
              .btn.btn-xs.green.text-center(
                ng-disabled = "sending || sent"
                ng-init = "sending = false"
                ng-mousedown = "sending = true"
                ng-mouseup = "\
                  sending = false;\
                  sent = true\
                "
                ng-show = "inviting"
              )
                span(
                  ng-if = "!sending && !sent"
                ) Send
                .spinner-wrapper.spinner-sm.spinner-white(
                  ng-include = "'spinner'"
                  ng-if = "sending"
                )
                span(
                  ng-if = "sending"
                ) Sending
                span(
                  ng-if = "sent"
                ) Sent
