.modal-backdrop.in
  .modal-dialog.modal-webhooks
    header.modal-header
      h1.modal-heading Webhooks
      svg.iconnables.icons-close(
        ng-click = "MWC.cancel()"
      )
        use(
          xlink:href = "#icons-close"
        )