.modal-backdrop.in
  .modal-dialog.modal-webhooks.js-animate

    animated-panel-container

      animated-panel(
        default = "true"
        name = "nonWebhooksContainers"
      )
        header.modal-header
          h1.modal-heading.fade(
            ng-class = "{'in': isActivePanel()}"
          ) Webhooks
          svg.iconnables.icons-close.fade(
            ng-click = "defaultActions.cancel()"
            ng-class = "{'in': isActivePanel()}"
          )
            use(
              xlink:href = "#icons-close"
            )
        section.modal-body Enable Webhooks to automatically launch new containers (or update existing ones) whenever you push new code to GitHub.
          .list.list-bordered
            .list-item.show-item
              .p api
              .btn.btn-xs.green.text-center(
                ng-init = "showList = false"
                ng-click = "showList = true"
                ng-hide = "showList"
              ) Enable Webhooks
              .btn.btn-xs.green.text-center.disabled(
                ng-if = "showList"
              ) Enabled
            .list-item(
              ng-if = "showList"
            )
              .p data-dog
              .btn.btn-xs.green.text-center Enable Webhooks
            .list-item(
              ng-if = "showList"
            )
              .p optimus
                .small permissions needed
              .btn.btn-xs.gray.text-center(
                ng-click = "goToPanel('inviteAdmins')"
              ) Invite an Admin…

      animated-panel(
        name = "inviteAdmins"
      )
        header.modal-header
          svg.btn.btn-sm.iconnables.icons-arrow-backward.fade(
            ng-click = "goToPanel('nonWebhooksContainers', 'back')"
            ng-class = "{'in': isActivePanel()}"
          )
            use(
              xlink:href = "#icons-arrow-down"
            )
          h1.modal-heading.fade(
            ng-class = "{'in': isActivePanel()}"
          ) Invite Admin
          svg.iconnables.icons-close.fade(
            ng-click = "defaultActions.cancel()"
            ng-class = "{'in': isActivePanel()}"
          )
            use(
              xlink:href = "#icons-close"
            )
        section.modal-body Invite GitHub admins for data-dog so they can give us permission to enable webhooks.

          .list.list-bordered

            .list-item
              img.gravatar(
                height = "30"
                width = "30"
                src = "https://avatars2.githubusercontent.com/u/5341618?v=3&s=96"
              )
              .p(
                ng-class = "{'shrink': inviting}"
              )
                span.span runnabro
                input.input(
                  type = "text"
                  value = "tony@runnable.com"
                  ng-disabled = "!inviting"
                )
              .btn.btn-xs.gray.text-center(
                ng-click = "inviting = true"
                ng-hide = "inviting"
              ) Invite…
              .btn.btn-xs.green.text-center(
                ng-click = "inviting = false"
                ng-show = "inviting"
              ) Send

            .list-item
              img.gravatar(
                height = "30"
                width = "30"
                src = "https://avatars0.githubusercontent.com/u/7440805?v=3&s=96"
              )
              .p(
                ng-class = "{'shrink': invitingg}"
              )
                span.span taylordolan
                input.input(
                  type = "text"
                  value = "taylor@runnable.com"
                  ng-disabled = "!invitingg"
                )
              .btn.btn-xs.gray.text-center(
                ng-click = "invitingg = true"
                ng-hide = "invitingg"
              ) Invite…
              .btn.btn-xs.green.text-center(
                ng-click = "invitingg = false"
                ng-show = "invitingg"
              ) Send

            .list-item
              img.gravatar(
                height = "30"
                width = "30"
                src = "https://avatars0.githubusercontent.com/u/1981198?v=3&s=96"
              )
              .p(
                ng-class = "{'shrink': invitinggg}"
              )
                span.span thejsj
                input.input.empty(
                  type = "text"
                  placeholder = "email address"
                  ng-disabled = "!invitinggg"
                )
              .btn.btn-xs.gray.text-center(
                ng-click = "invitinggg = true"
                ng-hide = "invitinggg"
              ) Invite…
              .btn.btn-xs.green.text-center(
                ng-click = "invitinggg = false"
                ng-show = "invitinggg"
              ) Send