.modal-backdrop.in
  .modal-dialog.modal-webhooks.js-animate

    animated-panel-container

      animated-panel.panel-invite-admins(
        name = "inviteAdmins"
        ng-init = "\
          mavisAdmins = [\
            {username: 'runnabro', gravatarUrl: 'https://avatars2.githubusercontent.com/u/5341618', email: 'tony@runnable.com'},\
            {username: 'taylordolan', gravatarUrl: 'https://avatars0.githubusercontent.com/u/7440805', email: 'taylor@runnable.com'},\
            {username: 'thejsj', gravatarUrl: 'https://avatars0.githubusercontent.com/u/1981198', email: null}\
          ];\
          state.loading = true;\
        "
        default = "true"
      )
        header.modal-header
          //- svg.btn.btn-sm.iconnables.icons-arrow-backward(
          //-   ng-click = "goToPanel('webhooksRepositories', 'back')"
          //- )
          //-   use(
          //-     xlink:href = "#icons-arrow-down"
          //-   )
          h1.modal-heading(
          ) Invite an Admin
          svg.iconnables.icons-close(
            ng-click = "defaultActions.cancel()"
          )
            use(
              xlink:href = "#icons-close"
            )
        section.modal-body
          span.span(
            style = "color: #777;"
          ) Invite a GitHub admin for&#32;
            span.strong optimus&#32;
            span.span so we can get permission to enable webhooks.

          .list.list-bordered

            //- loading state
            .list-item(
              ng-click = "state.loading = false"
              ng-if = "state.loading"
            )
              .spinner-wrapper.spinner-gray.spinner-sm.in(
                ng-include = "'spinner'"
              )

            //- admins
            .list-item(
              ng-if = "!state.loading"
              ng-repeat = "admin in mavisAdmins"
            )
              img.gravatar(
                height = "30"
                src = "{{admin.gravatarUrl}}"
                width = "30"
              )
              p.p
                span.span(
                  ng-if = "!admin.inviting"
                ) {{admin.username}}
                input.input.input-validate(
                  ng-disabled = "!admin.inviting"
                  ng-focus = "admin.inviting"
                  ng-if = "admin.email.length || admin.inviting"
                  ng-model = "admin.email"
                  spellcheck = "false"
                  type = "text"
                  value = "{{admin.email}}"
                  placeholder = "email address"
                )

              .btn.btn-xs.gray(
                ng-click = "admin.inviting = true"
                ng-if = "!admin.inviting && !admin.sent"
              ) Invite…

              .btn.btn-xs.green(
                ng-disabled = "!admin.email.length || admin.sent"
                ng-mousedown = "admin.sending = true"
                ng-mouseup = "\
                  admin.sending = false;\
                  admin.inviting = false;\
                  admin.sent = true\
                "
                ng-if = "admin.inviting || admin.sent"
              )
                //- ng-disabled = "!admin.email.length || admin.sending || admin.sent"
                span(
                  ng-if = "!admin.sending"
                ) {{admin.sent ? "Sent" : "Send"}}

                .spinner-wrapper.spinner-sm.spinner-white(
                  ng-include = "'spinner'"
                  ng-if = "admin.sending"
                )
                span(
                  ng-if = "admin.sending"
                ) Sending
