.modal-backdrop.in
  .modal-dialog.modal-webhooks.js-animate

    animated-panel-container

      animated-panel.panel-webhooks-containers-list(
        default = "true"
        name = "webhooksContainerList"
      )
        header.modal-header
          h1.modal-heading(
          ) Webhooks
            //- ng-class = "{'in': isActivePanel()}"
          svg.iconnables.icons-close.fade(
            ng-click = "defaultActions.cancel()"
            ng-class = "{'in': isActivePanel()}"
          )
            use(
              xlink:href = "#icons-close"
            )
        section.modal-body
          strong.strong Enable Webhooks to automatically…
          .list.list-bulleted
            .list-item update existing containers with new commits
            .list-item create containers for new branches
          .list.list-bordered
            .list-item
              .p api
              .btn.btn-xs.green.text-center(
                ng-disabled = "enabling || showList"
                ng-init = "\
                  enabling = false;\
                  showList = false\
                "
                ng-mousedown = "enabling = true"
                ng-mouseup = "\
                  enabling = false;\
                  showList = true\
                "
              )
                span(
                  ng-if = "!showList && !enabling"
                ) Enable Webhooks
                .spinner-wrapper.spinner-white.spinner-sm.in(
                  ng-if = "enabling"
                  ng-include = "'spinner'"
                )
                span(
                  ng-if = "enabling"
                ) Enabling
                span(
                  ng-if = "showList"
                ) Enabled
              //- .btn.btn-xs.green.text-center(
              //-   disabled
              //-   ng-if = "showList"
              //- ) Enabled
            .list-item.divider(
              ng-if = "showList"
            ) Other Repositories
            .list-item(
              ng-if = "showList"
            )
              .p data-dog
              .btn.btn-xs.green.text-center(
                ng-init = "enable2 = false"
                ng-click = "enable2 = true"
                ng-hide = "enable2"
              ) Enable Webhooks
              .btn.btn-xs.green.text-center(
                ng-if = "enable2"
                disabled
              ) Enabled
            .list-item(
              ng-if = "showList"
            )
              .p eru
              .btn.btn-xs.green.text-center(
                ng-init = "enable3 = false"
                ng-click = "enable3 = true"
                ng-hide = "enable3"
              ) Enable Webhooks
              .btn.btn-xs.green.text-center(
                ng-if = "enable3"
                disabled
              ) Enabled
            .list-item(
              ng-if = "showList"
            )
              .p optimus
                .small permission needed
              .btn.btn-xs.gray.text-center(
                ng-click = "goToPanel('inviteAdmins')"
              ) Invite an Admin…

      animated-panel.panel-invite-admins(
        name = "inviteAdmins"
      )
        header.modal-header
          svg.btn.btn-sm.iconnables.icons-arrow-backward.fade(
            ng-click = "goToPanel('webhooksContainerList', 'back')"
            ng-class = "{'in': isActivePanel()}"
          )
            use(
              xlink:href = "#icons-arrow-down"
            )
          h1.modal-heading.fade(
            ng-class = "{'in': isActivePanel()}"
          ) Invite an Admin
          svg.iconnables.icons-close(
            ng-click = "defaultActions.cancel()"
          )
            use(
              xlink:href = "#icons-close"
            )
        section.modal-body
          span.span(
            style = "color: #777;"
          ) Invite a GitHub admin for&#32;
            span.strong optimus&#32;
            span.span so we can get permission to enable webhooks.

          .list.list-bordered

            .list-item
              img.gravatar(
                height = "30"
                width = "30"
                src = "https://avatars2.githubusercontent.com/u/5341618?v=3&s=96"
              )
              .p(
                ng-class = "{'shrink': inviting && !sent}"
              )
                span.span runnabro
                input.input(
                  type = "text"
                  value = "tony@runnable.com"
                  ng-disabled = "!inviting || sent"
                )
              .btn.btn-xs.gray.text-center(
                ng-click = "inviting = true"
                ng-hide = "inviting"
              ) Invite…
              .btn.btn-xs.green.text-center(
                ng-disabled = "sending || sent"
                ng-init = "sending = false"
                ng-mousedown = "sending = true"
                ng-mouseup = "\
                  sending = false;\
                  sent = true\
                "
                ng-show = "inviting"
              )
                span(
                  ng-if = "!sending && !sent"
                ) Send
                .spinner-wrapper.spinner-sm.spinner-white(
                  ng-include = "'spinner'"
                  ng-if = "sending"
                )
                span(
                  ng-if = "sending"
                ) Sending
                span(
                  ng-if = "sent"
                ) Sent

            .list-item
              img.gravatar(
                height = "30"
                width = "30"
                src = "https://avatars0.githubusercontent.com/u/7440805?v=3&s=96"
              )
              .p(
                ng-class = "{'shrink': invitingg}"
              )
                span.span taylordolan
                input.input(
                  type = "text"
                  value = "taylor@runnable.com"
                  ng-disabled = "!invitingg"
                )
              .btn.btn-xs.gray.text-center(
                ng-click = "invitingg = true"
                ng-hide = "invitingg"
              ) Invite…
              .btn.btn-xs.green.text-center(
                ng-click = "invitingg = false"
                ng-show = "invitingg"
              ) Send

            .list-item
              img.gravatar(
                height = "30"
                width = "30"
                src = "https://avatars0.githubusercontent.com/u/1981198?v=3&s=96"
              )
              .p(
                ng-class = "{'shrink': invitinggg}"
              )
                span.span thejsj
                input.input.empty(
                  type = "text"
                  placeholder = "email address"
                  ng-disabled = "!invitinggg"
                )
              .btn.btn-xs.gray.text-center(
                ng-click = "invitinggg = true"
                ng-hide = "invitinggg"
              ) Invite…
              .btn.btn-xs.green.text-center(
                ng-click = "invitinggg = false"
                ng-show = "invitinggg"
                disabled
              ) Send