.popover.top.popover-invite(
  ng-class = "{in: data.show}"
  ng-click = "$event.stopPropagation()"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white
  .popover-content
    p.p Invite team members by
      br
      | sending them this URL
    input.input.input-sm(
      autofocus
      readonly
      select-all
      value = "runnable.io/invite?bkendall"
    )
    svg.iconnables.icons-star
      use(
        xlink:href = "#icons-star"
      )
    svg.iconnables.icons-star
      use(
        xlink:href = "#icons-star"
      )