.popover.bottom.menu.popover-permissions(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
  style = "transform-origin: 90% 0;"
)
  .arrow.white(
    style = "left: auto; right: 0;"
  )
  .popover-content
    ul.list.popover-list
      li.list-item.popover-list-item.multi-line.disabled
        svg.iconnables.icons-fat-check.active
          use(
            xlink:href = "#icons-fat-check"
          )
        p.p.strong Owner
        small.small Can modify billing information.
      li.divider
      li.list-item.popover-list-item.multi-line
        svg.iconnables.icons-fat-check
          use(
            xlink:href = "#icons-fat-check"
          )
        p.p.strong Admin
        small.small Can approve and remove users.
      li.divider
      li.list-item.popover-list-item.multi-line
        svg.iconnables.icons-fat-check
          use(
            xlink:href = "#icons-fat-check"
          )
        p.p.strong User
        small.small Can invite users.