.modal-form(
  ng-init = "\
    team = [\
      {username: 'runnabro', gravatarUrl: 'https://avatars2.githubusercontent.com/u/5341618', email: 'tony@runnable.com', permission: 'User'},\
      {username: 'taylordolan', gravatarUrl: 'https://avatars0.githubusercontent.com/u/7440805', email: 'taylor@runnable.com', permission: 'Admin'},\
      {username: 'thejsj', gravatarUrl: 'https://avatars0.githubusercontent.com/u/1981198', email: 'jorge@runnable.com', permission: 'Admin'}\
    ];\
    pending = [\
      {username: 'anandkumarpatel', gravatarUrl: 'https://avatars0.githubusercontent.com/u/2194285', email: 'anand@runnable.com'},\
      {username: 'bkendall', gravatarUrl: 'https://avatars0.githubusercontent.com/u/160236', email: 'bryan@runnable.com'},\
    ];\
  "
)
  //- for existing team
  .label
    .clearfix
      .label-col Teammates
    ol.list.list-bordered.list-teammates
      li.list-item(
        ng-repeat = "teammate in team"
      )
        img.gravatar(
          height = "27"
          ng-src = "{{teammate.gravatarUrl}}"
          width = "27"
        )
        .username.text-overflow {{teammate.username}}
        .small.text-overflow {{teammate.email}}
        button.btn.btn-xs.gray(
          ng-class = "{'active': permissionsPopover.data.show}"
          pop-over
          pop-over-active = "permissionsPopover.data.show"
          pop-over-options = "{\"right\":0,\"top\":35}"
          pop-over-template = "permissionsPopoverView"
        ) {{teammate.permission}}
          svg.iconnables.icons-arrow-down
            use(
              xlink:href = "#icons-arrow-down"
            )

  //- pending team
  .label
    .clearfix
      .label-col Pending Invites

    ol.list.list-bordered.list-teammates.list-teammates-pending
      li.list-item
        img.gravatar(
          height = "27"
          src = "https://avatars2.githubusercontent.com/u/467885"
          width = "27"
        )
        .username.text-overflow cflynn07
        .small.text-overflow Invite requested…
        .btn-group
          button.btn.btn-xs.green Send Invite
          button.btn.btn-xs.green(
            ng-class = "{'active': requestInvitePopover.data.show}"
            pop-over
            pop-over-active = "requestInvitePopover.data.show"
            pop-over-options = "{\"right\":0,\"top\":35}"
            pop-over-template = "requestInvitePopoverView"
          )
            svg.iconnables.icons-overflow
              use(
                xlink:href = "#icons-overflow"
              )

    ol.list.list-bordered.list-teammates.list-teammates-pending
      li.list-item(
        ng-repeat = "teammate in pending"
      )
        img.gravatar(
          height = "27"
          ng-src = "{{teammate.gravatarUrl}}"
          width = "27"
        )
        .username.text-overflow {{teammate.username}}
        //- show email that the invite was sent to
        .small.text-overflow {{teammate.email}}
        button.btn.btn-xs.white(
          ng-class = "{'active': pendingInvitePopover.data.show}"
          pop-over
          pop-over-active = "pendingInvitePopover.data.show"
          pop-over-options = "{\"right\":0,\"top\":35}"
          pop-over-template = "pendingInvitePopoverView"
        )
          svg.iconnables.icons-overflow
            use(
              xlink:href = "#icons-overflow"
            )