label.label.clearfix
  .label-col Branch
    small.small Specify the branch of your repository
  .btn.btn-sm.gray.btn-select.text-overflow
    svg.iconnables.icons-branch
      use(
        xlink:href = "#icons-branch"
      )
    | {{state.activeBranch.attrs.name}}
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )
    select.select(
      ng-change = "selectBranch(state.activeBranch)"
      ng-model = "state.activeBranch"
      ng-options = "branch as branch.attrs.name group by 'Select a branch' for branch in state.selectedRepo.branches.models"
    )
.label.clearfix
  .label-col Framework/Language
    small.small The primary framework or language of your repository
  .btn-group
    .btn.btn-sm.gray.btn-select.text-overflow
      img.img(
        height = "18px"
        src = "/build/images/home/icons-{{state.stack.key}}.svg"
        width = "18px"
      )
      small.small {{state.stack.name}}
      //- small.small {{ state.stack.name }}
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
      //- NOTES:
      //- alphabetical order
      //- node.js is all lowercase
      select(
        ng-model = "state.stack"
        ng-options = "stack as stack.name group by 'Choose framework or language' for stack in data.stacks"
      )
    .btn.btn-sm.gray.btn-select.text-overflow
      //- NOTES:
      //- - final text has v prepended
      //- - option text does NOT have v preprended
      small.small v{{state.stack.selectedVersion}}
      //- small.small {{ version.selected }}
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
      select(
        ng-model = "state.stack.selectedVersion"
        ng-options = "version as version group by 'Choose version' for version in state.stack.versions "
      )
  .btn-group(
    ng-repeat = "depStack in state.stack.dependencies"
  )
    button.btn.btn-sm.gray.btn-select.text-overflow
      img.img(
        height = "18px"
        src = "/build/images/home/icons-{{depStack.key}}.svg"
        width = "18px"
      )
      small.small {{depStack.name}}
    .btn.btn-sm.gray.btn-select.text-overflow
      small.small {{depStack.selectedVersion}}
      //- small.small {{ version.selected }}
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
      select(
        ng-model = "depStack.selectedVersion"
        ng-options = "version as version group by 'Choose version' for version in depStack.versions"
      )
label.label.clearfix
  .label-col Ports
    small.small Separate by commas
  //- placeholder and values should be the same
  input.input.input-sm(
    ng-model = "state.ports"
    placeholder = "80, 8000, 8001"
  )
label.label.clearfix
  .label-col Command
    small.small Something about commands
  //- placeholder and values should be the same
  input.input.input-sm(
    ng-model = "state.startCommand"
    placeholder = "npm start"
  )
.modal-stack-dependencies(
  actions = "actions"
  data = "data"
  modal-stack-dependencies
  state = "state"
)

footer.modal-footer.clearfix
  button.btn.green(
    ng-click = "actions.nextStep(3)"
  ) Next Step
  button.btn.white(
    ng-click = "actions.changeStep(1)"
  ) Previous Step

  //-
    h2.sub-header
      span.sub-header-text Dependencies
      button.btn.btn-xxs.gray.sub-header-action(
        ng-class = "{active: addDependencyPopover.data.show}"
        toggle-pop-over
        toggle-pop-over-model = "addDependencyPopover.data.show"
        type = "button"
      ) Add…
        pop-over(
          actions = "actions"
          data = "addDependencyPopover.data"
          popover-options = "{\"left\":-117,\"top\":45}"
          template = "viewPopoverSetupAddStackDependencies"
        )
    ul.list
      li.list-item(
        ng-repeat = "dependency in state.dependencies"
      ) {{ dependency.attrs.name }}
      li.list-item RabbitMQ

//- h3.popover-title {{state.stack.name}}
//-   .btn.btn-select.text-overflow
//-     svg.iconnables.icons-arrow-down
//-       use(
//-       xlink:href = "#icons-arrow-down"
//-       )
//-     select.select(
//-     name = "state.stack"
//-     ng-change = "actions.selectStack(state.stack)"
//-     ng-model = "state.stack"
//-     ng-options = "stack.name for stack in data.stacks"
//-     )
//-   h4.popover-title(
//-     ng-repeat = "dep in state.stack.versionReqs"
//-   ) {{dep.name}} version
//-     .btn.btn-select.text-overflow {{state.version[dep.name]}}
//-       svg.iconnables.icons-arrow-down
//-         use(
//-         xlink:href = "#icons-arrow-down"
//-         )
//-       select.select(
//-         name = "state.version[dep.name]"
//-         ng-change = "actions.selectVersion(dep, state.version[dep.name])"
//-         ng-model = "state.version[dep.name]"
//-         ng-options = "version.toString() for version in dep.versions"
//-       )
//-   h4 Ports used
//-     input.setup-name-input(
//-       ng-model = "state.ports"
//-       placeholder = "Enter ports here"
//-       select-on
//-       spellcheck = "false"
//-     )
//-   h4 Start Command
//-     input.setup-name-input(
//-       ng-model = "state.startCommand"
//-       placeholder = "Enter the start command"
//-       select-on
//-       spellcheck = "false"
//-     )