.col
  label.label.clearfix
    .label-col Branch
      small.small Specify the branch of your repository
    button.btn.btn-xs.gray.btn-select
      svg.iconnables.icons-branch
        use(
          xlink:href = "#icons-branch"
        )
      span {{state.activeBranch.attrs.name}}
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
      select.select(
        ng-model = "state.activeBranch"
        ng-options = "branch as branch.attrs.name group by 'Select a branch' for branch in state.selectedRepo.branches.models"
      )
  label.label.clearfix
    .label-col Language
      small.small The primary language of your repository
    button.btn.btn-sm.gray
      img.img(
        height = "21"
        src = "/build/images/home/icons-node.js.svg"
        width = "21"
      )
      | {{ state.stack.name }}
      small.small(
        ng-repeat = "version in state.stack.versionReqs"
      ) {{ version.selected }}
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
  label.label.clearfix
    .label-col Ports
      small.small Separate by commas
    //- placeholder and values should be the same
    input.input.input-sm(
      ng-model = "state.stack.ports"
      placeholder = "80, 8000, 8001"
    )
  label.label.clearfix
    .label-col Command
      small.small Something about commands
    //- placeholder and values should be the same
    input.input.input-sm(
      ng-model = "state.stack.startCommand"
      placeholder = "npm start"
    )
.col.modal-stack-dependencies(
  actions = "actions"
  data = "data"
  modal-stack-dependencies
  state = "state"
)

footer.modal-footer(
  ng-show = "state.step !== 1"
)
  button.btn.green Next Step

  //-
    h2.sub-header
      span.sub-header-text Dependencies
      button.btn.btn-xxs.gray.sub-header-action(
        ng-class = "{active: addDependencyPopover.data.show}"
        toggle-pop-over
        toggle-pop-over-model = "addDependencyPopover.data.show"
        type = "button"
      ) Add…
        pop-over(
          actions = "actions"
          data = "addDependencyPopover.data"
          popover-options = "{\"left\":-117,\"top\":45}"
          template = "viewPopoverSetupAddStackDependencies"
        )
    ul.list
      li.list-item(
        ng-repeat = "dependency in state.dependencies"
      ) {{ dependency.attrs.name }}
      li.list-item RabbitMQ

//- h3.popover-title {{state.stack.name}}
//-   .btn.btn-select.text-overflow
//-     svg.iconnables.icons-arrow-down
//-       use(
//-       xlink:href = "#icons-arrow-down"
//-       )
//-     select.select(
//-     name = "state.stack"
//-     ng-change = "actions.selectStack(state.stack)"
//-     ng-model = "state.stack"
//-     ng-options = "stack.name for stack in data.stacks"
//-     )
//-   h4.popover-title(
//-     ng-repeat = "dep in state.stack.versionReqs"
//-   ) {{dep.name}} version
//-     .btn.btn-select.text-overflow {{state.version[dep.name]}}
//-       svg.iconnables.icons-arrow-down
//-         use(
//-         xlink:href = "#icons-arrow-down"
//-         )
//-       select.select(
//-         name = "state.version[dep.name]"
//-         ng-change = "actions.selectVersion(dep, state.version[dep.name])"
//-         ng-model = "state.version[dep.name]"
//-         ng-options = "version.toString() for version in dep.versions"
//-       )
//-   h4 Ports used
//-     input.setup-name-input(
//-       ng-model = "state.ports"
//-       placeholder = "Enter ports here"
//-       select-on
//-       spellcheck = "false"
//-     )
//-   h4 Start Command
//-     input.setup-name-input(
//-       ng-model = "state.startCommand"
//-       placeholder = "Enter the start command"
//-       select-on
//-       spellcheck = "false"
//-     )