.popover.bottom.popover-add-repo(
ng-class = "{\
    in: data.show\
  }"
)
  .arrow
  h3.popover-title
    input.input.input-search(
    autofocus
    ng-model = "data.repoFilter"
    placeholder = "Filter repositories"
    required
    select-on = "data.showFilter"
    )
  .popover-content
    ul.popover-body.popover-list
      li.popover-list-item(
      ng-click = "actions.addDep(stackDep)"
      ng-repeat = "\
          stackDep in data.dependencies.models | \
          unaddedDepInstances:data.state.dependencies.models as unadded"
      title = "{{ stackDep.attrs.name }}"
      )
        span {{ stackDep.attrs.name }}
      li.popover-list-item.no-actions(
      ng-if = "unadded.length === 0"
      ) No matches
      //- li.popover-list-item.no-actions There's nothing left to add.
