.popover.right.menu.popover-add-dependencies(
  ng-class = "{in: data.show}"
)
  .arrow
  h3.popover-title
    .btn-group.clearfix
      button.btn.btn-xs.gray.active New
      button.btn.btn-xs.gray Existing
  .popover-content
    //- show .list-details if new
    ul.list.popover-list
      li.list-details
        .small Dependencies will be created on their own server.
      li.list-item.popover-list-item(
        ng-click = "actions.addDependency(stackDep)"
        ng-repeat = "\
          stackDep in data.dependencies.models | \
          unaddedDepInstances:data.state.dependencies | \
          repos:data.depFilter as filteredDeps"
        title = "{{ stackDep.attrs.name }}"
      ) {{ stackDep.attrs.name }}