.modal-backdrop.in
  .modal-dialog.modal-xs.modal-invite(
    ng-if = "$root.featureFlags.isPersonalAccount"
  )
    .grid-block.vertical.align-center.justify-center.modal-body
      svg.iconnables.icons-close(
        ng-click = "IMC.close()"
      )
        use(
          xlink:href = "#icons-close"
        )
      img.grid-block.shrink.margin-top-md(
        height = "150"
        src = "/build/images/runnabear-add.svg"
        width = "150"
      )
      p.grid-block.shrink.p.weight-light.text-center.margin-bottom-md.margin-top-md We only support multiple teammates with GitHub teams, but it looks like you’re using a personal account.
    footer.modal-footer
      button.btn.btn-block.btn-md.white(
        ui-sref = "orgSelect"
        ui-sref-opts = "{reload: true}"
      ) Switch to a Team
  .modal-dialog.modal-xs.modal-sheet.modal-invite(
    ng-if = "!$root.featureFlags.isPersonalAccount"
  )
    header.modal-header Invite Teammate
      svg.iconnables.icons-close(
        ng-click = "IMC.close()"
      )
        use(
          xlink:href = "#icons-close"
        )

    .modal-body

      .spinner-wrapper.spinner-md.in(
        ng-if = "$root.isLoading.inviteModal"
        ng-include = "'spinner'"
      )

      //- list of teammates (from github) that are not on runnable
      ul.list.list-bordered.list-teammates(
        ng-if = "!$root.isLoading.inviteModal"
      )
        li.list-item(
          ng-class = "{'active': IMC.activeUserId === user.id}"
          ng-repeat = "user in IMC.unInvitedMembers"
        )
          img.gravatar(
            height = "27"
            ng-src = "{{user.avatar_url}}"
            width = "27"
          )
          .username.text-overflow.strong {{user.login}}
          .small.text-overflow {{user.email.length ? user.email : "—" }}

          //- cancel invite
          svg.iconnables.icons-close(
            ng-click = "IMC.setActiveUserId(null)"
            ng-if = "IMC.activeUserId === user.id"
          )
            use(
              xlink:href = "#icons-close"
            )

          input.input.input-sm.input-validate.validate-on-blur.js-animate(
            ng-model = "user.email"
            ng-show = "IMC.activeUserId === user.id"
            placeholder = "Email Address"
            required
            spellcheck = "false"
            type = "email"
            autofocus
          )

          button.btn.btn-xs.green.js-animate(
            ng-class = "{'in': !!IMC.sendingInviteUserId}"
            ng-click = "IMC.sendInvitation(user, $index)"
            ng-disabled = "!user.email"
            ng-show = "IMC.activeUserId === user.id"
          ) Send

          .btn-wrapper
            //- invite button always prompts for email address
            button.btn.btn-xs.green(
              ng-click = "IMC.setActiveUserId(user.id)"
              ng-if = "IMC.activeUserId !== user.id && IMC.sendingInviteUserId !== user.id && !user.inviteSent"
            ) Invite

          //- invite sending
          .spinner-wrapper.spinner-sm.spinner-gray.in(
            ng-if = "IMC.sendingInviteUserId === user.id && !user.inviteSent"
            ng-include = "'spinner'"
          )

          .send-confirmation.load(
            ng-if = "user.inviteSent"
          )
            svg.iconnables.icons-check.float-left(
              viewbox = '0 0 14.5 10'
            )
              path.path(
                d = 'M1,4.5L5.5,9l8-8'
                fill = 'none',
                stroke = '#3ccb5a',
                stroke-linecap = 'round',
                stroke-linejoin = 'round',
                stroke-miterlimit = '10',
                stroke-width = '2',
              )
            | Sent

      p.small.text-gray.text-center.padding-xxs
          | We prorate your account for users added in the middle of a billing period.&#32;
          a.link(
            href="https://support.runnable.com/hc/en-us/articles/212037226"
            target = "_blank"
          ) Details
