.popover.menu.bottom(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
  style = "transform-origin: 90% 0"
)
  .arrow.white(
    style = "left: auto; right: 0"
  )
  .popover-content
    ul.popover-list
      li.list-item.popover-list-item(
        ng-click = "actions.resendInvitation(data)"
      )
        svg.iconnables
        | Resend Invite
