.popover.menu.bottom(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
  style = "transform-origin: 90% 0"
)
  .arrow.white(
    style = "left: auto; right: 0"
  )
  .popover-content
    ul.popover-list
      li.list-item.popover-list-item(
        internal-modal-helper = "confirmRemoveTeammateView"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-delete"
          )
        | Remove Teammate
