.modal-form.form-team

  .spinner-wrapper.spinner-md.spinner-gray.in(
    ng-if = "TMMC.loading"
    ng-include = "'spinner'"
  )

  div(
    ng-if = "!TMMC.loading"
  )

    //- for existing team
    .label
      .clearfix(
        ng-if = "!state.fromTrialEnd"
      )
        .label-col.full-width Teammates
          a.small.link.float-right(
            ng-click = "TMMC.openInvitationModal()"
            ng-if = "TMMC.members.uninvited.length > 0"
          )
            svg.iconnables.icons-team-invite
              use(
                xlink:href = "#icons-team-invite"
              )
            | Invite…

      .p.text-gray.text-center.padding-xs(
        ng-if = "state.fromTrialEnd"
      ) We’ll only create or update containers for the selected users.

      ol.list.list-bordered.list-teammates
        li.list-item(
          ng-repeat = "teammate in TMMC.members.registered"
        )
          img.gravatar(
            height = "27"
            ng-src = "{{teammate.avatar_url}}"
            width = "27"
          )
          .username.text-overflow {{teammate.login}}
          .small.text-overflow {{teammate.email.length ? teammate.email : "—" }}
          label.btn-wrapper
            input(
              checked
              ng-if = "state.fromTrialEnd"
              type = "checkbox"
            )

            button.btn.btn-xs.white.btn-permission(
              ng-class = "{'active': permissionsPopover.data.show}"
              ng-if = "$root.featureFlags.teamManagementAdvanced && !state.fromTrialEnd"
              pop-over
              pop-over-active = "permissionsPopover.data.show"
              pop-over-options = "{\"right\":0,\"top\":35}"
              pop-over-template = "permissionsPopoverView"
            )
              span.float-left {{teammate.permission}}
              svg.iconnables.icons-arrow-down
                use(
                  xlink:href = "#icons-arrow-down"
                )

            button.btn.btn-xs.white.float-right(
              ng-class = "{'active': teammateOptionsPopover.data.show}"
              ng-if = "$root.featureFlags.teamManagement && !state.fromTrialEnd"
              pop-over
              pop-over-active = "teammateOptionsPopover.data.show"
              pop-over-options = "{\"right\":0,\"top\":35}"
              pop-over-template = "teammateOptionsPopoverView"
            )
              svg.iconnables.icons-overflow
                use(
                  xlink:href = "#icons-overflow"
                )

    //- pending invites
    .label(
      ng-if ="TMMC.members.invited.length > 0 && !state.fromTrialEnd"
    )
      .clearfix
        .label-col.full-width Pending Invites
          .small.float-right.badge(
            ng-if = "$root.featureFlags.teamManagementAdvanced"
            data-badge-count = "{{ TMMC.members.invited.length }}"
          ) Requests

      ol.list.list-bordered.list-teammates.list-teammates-pending(
        ng-if = "$root.featureFlags.teamManagementAdvanced && gstate.swapLists !== $index"
      )

        li.list-item.js-animate(
          ng-repeat = "teammate in requested"
        )
          img.gravatar(
            height = "27"
            ng-src = "{{teammate.gravatarUrl}}"
            width = "27"
          )
          .username.text-overflow {{teammate.username}}
          .small.text-overflow Invite requested…

          .btn-wrapper
            button.btn.btn-xs.green(
              ng-click = "state.inviteSending = $index"
              ng-if = "!state.inviteSending && state.inviteSending !== $index"
            ) Send Invite
            //- sending…
            .spinner-wrapper.spinner-sm.spinner-gray.in(
              ng-click = "\
                state.inviteSent = $index;\
                state.swapLists = $index;\
              "
              ng-if = "state.inviteSending === $index && !state.inviteSent"
              ng-include = "'spinner'"
            )

            button.btn.btn-xs.white.float-right(
              ng-class = "{'active': requestInvitePopover.data.show}"
              pop-over
              pop-over-active = "requestInvitePopover.data.show"
              pop-over-options = "{\"right\":0,\"top\":35}"
              pop-over-template = "requestInvitePopoverView"
            )
              svg.iconnables.icons-overflow
                use(
                  xlink:href = "#icons-overflow"
                )

      //- show in the order of invites sent (newest first)
      ol.list.list-bordered.list-teammates.list-teammates-pending

        //- adding to this list
        li.list-item(
          ng-repeat = "teammate in TMMC.members.invited"
        )
          img.gravatar(
            height = "27"
            ng-src = "{{teammate.avatar_url}}"
            width = "27"
          )
          .username.text-overflow {{teammate.login}}
          //- show email that the invite was sent to
          .small.text-overflow {{teammate.email}}

          .btn-wrapper
            //- sending…
            //- .spinner-wrapper.spinner-sm.spinner-gray.in(
            //-   ng-include = "'spinner'"
            //- )
            //- send confirmation
            .spinner-wrapper.spinner-sm.spinner-gray.in(
              ng-click = "\
                state.inviteSent = $index;\
                state.swapLists = $index;\
              "
              ng-if = "teammate.sendingInvite"
              ng-include = "'spinner'"
            )
            .send-confirmation.loaded(
              ng-if = "!teammate.sendingInvite"
            )
              svg.iconnables.icons-check.float-left(
                viewbox = '0 0 14.5 10'
              )
                path.path(
                  d = 'M1,4.5L5.5,9l8-8'
                  fill = 'none',
                  stroke = '#3ccb5a',
                  stroke-linecap = 'round',
                  stroke-linejoin = 'round',
                  stroke-miterlimit = '10',
                  stroke-width = '2',
                )
              | Sent
            button.btn.btn-xs.white.float-right(
              ng-class = "{'active': pendingInvitePopover.data.show}"
              pop-over
              pop-over-actions = "TMMC.popoverActions"
              pop-over-active = "pendingInvitePopover.data.show"
              pop-over-data = "teammate"
              pop-over-options = "{\"right\":0,\"top\":35}"
              pop-over-template = "pendingInvitePopoverView"
            )
              svg.iconnables.icons-overflow
                use(
                  xlink:href = "#icons-overflow"
                )
