ol.list-bordered
  //- if no key exists for the current user
  li.grid-block.align-center.list-item(
    ng-if = "!SKLC.hasKey"
  )
    svg.grid-block.shrink.iconnables.icons-key(
      ng-if = "!SKLC.githubLoading"
    )
      use(
        xlink:href = "#icons-key-empty"
      )
    .grid-block.shrink.align-center.justify-center.spinner-wrapper.spinner-sm.spinner-gray(
      ng-if = "SKLC.githubLoading"
      ng-include = "'spinner'"
    )
    p.grid-block.p.text-gray(
      ng-if = "SKLC.githubLoading"
    ) Listening for authorization…
    p.p.text-gray(
      ng-if = "!SKLC.githubLoading"
    ) Add a user key for&#32;
      span.weight-strong runnabro
      | &#32;so your project can access private dependencies.
    a.grid-block.shrink.noscroll.align-center.btn.gray.btn-xs(
      data-event-name = "Clicked to Authorize SSH with GitHub"
      ng-click = "SKLC.createKey()"
      ng-if = "!SKLC.hasKey"
      ng-include = "'SSHAuthorizeButton'"
    )
    a.grid-block.shrink.noscroll.align-center.btn.gray.btn-xs.btn-create-key(
      data-event-name = "Clicked to Create SSH Key"
      ng-click = "state.creatingKey = !state.creatingKey"
      ng-disabled = "state.creatingKey"
      ng-if = "state.everAuthorized && !state.authorized"
      ng-include = "'SSHCreateButton'"
      ng-init = "state.creatingKey = false"
    )
  //- all user keys; if current user's key exists, list it at the top
  li.grid-block.align-center.list-item(
    ng-repeat = "key in SKLC.keys"
  )
    svg.grid-block.shrink.iconnables.icons-key
      use(
        xlink:href = "#icons-key"
      )
    .grid-block.vertical.p
      p.strong.text-overflow(
        title = "{{key.username}} User Key for {{currentOrg}}"
      ) {{key.username}} User Key for {{currentOrg}}
      p.monospace.text-gray.text-overflow {{key.fingerprint}}
    a.grid-block.shrink.noscroll.align-center.btn.gray.btn-xs.btn-authorized(
      ng-include = "'SSHAuthorizeButton'"
      ng-init = "state.authorized = true"
    )
