.popover.menu.right.popover-branch-menu(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle(CIS.instanceBranches)"
)
  .grid-block.shrink.align-center.justify-center.padding-sm.aha-guide(
    ng-if = "$root.featureFlags.aha && CIS.instanceBranches.length && CIS.isAddingFirstBranch()"
    aha-guide
    step-index = 2
    sub-step = "selectBranch"
  )
  .grid-block.shrink.align-center.justify-center.padding-sm.aha-guide(
    ng-if = "$root.featureFlags.aha && CIS.instanceBranches && !CIS.instanceBranches.length && CIS.isAddingFirstBranch()"
    aha-guide
    step-index = 2
    sub-step = "noBranches"
  )

  .arrow.white(
    ng-style = "popoverStyle.getArrowStyle(CIS.instanceBranches)"
  )
  .grid-block.vertical.popover-content.empty(
    ng-if = "$root.featureFlags.autoIsolationSetup"
  )

    svg.svg.grid-block
      use(
        xlink:href = "#icons-branch-burst"
      )
    p.grid-block.p.text-center.padding-sm Add branches by setting your settings for the setting of branches.
    button.grid-block.btn.btn-sm.gray.btn-block(
      internal-modal-helper = "branchSetupModalView"
    ) Set Up Branches

  animated-panel-container.popover-views(
    ng-if = "!$root.featureFlags.autoIsolationSetup && !CIS.isPopoverOpen()"
  )
    //- this should be the default panel when auto-isolation is implemented
    animated-panel(
      name = "branchMenu"
    )
      .popover-view
        .popover-content.fade(
          ng-class = "{'in': isActivePanel()}"
        )
          .grid-block.shrink.align-center.well.gray.padding-xxs
            .grid-content
              .small Automatically add branches as they’re updated on GitHub.
              button.btn.btn-xs.btn-permissions(
                internal-modal-helper = "inviteAdminModalView"
                ng-if = "$root.featureFlags.webhooks"
                ng-include = "'permissionsButtonView'"
              )
            label.grid-content.shrink.toggle-wrapper
              input.toggle-input(
                ng-disabled = "$root.featureFlags.webhooks"
                type = "checkbox"
              )
              .toggle-group.toggle-sm
          ul.list.popover-list
            li.list-item.popover-list-item(
              ng-click = "goToPanel('addBranch')"
            )
              svg.iconnables
                use(
                  xlink:href = "#icons-branch-add"
                )
              | Add Branch
              svg.iconnables.icons-arrow-forward.anchor-right
                use(
                  xlink:href = "#icons-arrow-down"
                )
            li.list-item.popover-list-item(
              internal-modal-helper = "includesModalView"
            )
              svg.iconnables
                use(
                  xlink:href = "#icons-options"
                )
              | Include Containers…
    animated-panel(
      default = "true"
      name = "addBranch"
    )
      .popover-view.fade(
        ng-class = "{'in': isActivePanel()}"
      )
        .popover-header(
          ng-if = "$root.featureFlags.autoIsolation"
        )
          svg.btn.btn-sm.iconnables.icons-arrow-backward(
            ng-class = "{'in': isActivePanel()}"
            ng-click = "goToPanel('branchMenu', 'back');"
          )
            use(
              xlink:href = "#icons-arrow-down"
            )
          | Add Branch
        .popover-content
          .spinner-wrapper.spinner-sm.spinner-gray.spinner-center.in(
            ng-if = "$root.isLoading.fetchingBranches"
            ng-include = "'spinner'"
          )
          .padding-xxs(
            ng-if = "CIS.instanceBranches"
          )
            .grid-block.shrink.align-center.well.gray.padding-xxs(
              ng-if = "!$root.featureFlags.autoIsolation"
            )
              .grid-content
                .small Automatically add branches as they’re updated on GitHub.
                button.btn.btn-xs.btn-permissions(
                  internal-modal-helper = "inviteAdminModalView"
                  ng-if = "$root.featureFlags.webhooks"
                  ng-include = "'permissionsButtonView'"
                )
              label.grid-content.shrink.toggle-wrapper
                input.toggle-input(
                  ng-click = "CIS.setAutofork()"
                  ng-disabled = "$root.featureFlags.webhooks"
                  ng-checked = "!CIS.poppedInstance.attrs.shouldNotAutofork"
                  type = "checkbox"
                )
                .toggle-group.toggle-sm
            input.input.input-xs.input-search(
              ng-disabled = "$root.isLoading['buildingForkedBranch']"
              ng-model = "CIS.branchQuery"
              placeholder = "Filter by name"
              required
              type = "search"
              ng-if = "CIS.instanceBranches.length"
            )
          ul.list.popover-list(
            ng-if = "CIS.instanceBranches.length"
          )
            li.grid-block.align-center.list-item.popover-list-item(
              ng-class = "{\
                'disabled': $root.isLoading['buildingForkedBranch'] && !$root.isLoading[branch.attrs.name],\
                'active': $root.isLoading['buildingForkedBranch'] && $root.isLoading[branch.attrs.name]\
              }"
              ng-repeat = "branch in CIS.getFilteredBranches()"
              ng-click = "CIS.forkBranchFromInstance(branch, POC.closePopover);"
            )
              svg.grid-content.shrink.iconnables.icons-branch
                use(
                  xlink:href = "#icons-branch-alt"
                )
              .grid-content.text-overflow(
                title = "{{ branch.attrs.name }}"
              ) {{ branch.attrs.name }}
              button.grid-content.shrink.btn.btn-xs.btn-icon.btn-add(
                ng-if = "!$root.isLoading[branch.attrs.name]"
              ) Add
              .grid-content.shrink.spinner-wrapper.spinner-sm.spinner-green(
                ng-if = "$root.isLoading[branch.attrs.name]"
                ng-include = "'spinner'"
              )

          .text-center.text-gray.small.padding-lg(
            ng-if = "CIS.instanceBranches && !CIS.instanceBranches.length && CIS.totalInstanceBranches"
          ) There are no branches to add.

          .text-center.text-gray.small.padding-lg(
            ng-if = "CIS.instanceBranches && !CIS.instanceBranches.length && !CIS.totalInstanceBranches"
          ) The repository has no branches.

          .text-center.text-gray.small.padding-lg(
            ng-if = "CIS.instanceBranches && CIS.instanceBranches.length && CIS.totalInstanceBranches && !CIS.getFilteredBranches().length"
          ) No branches match this filter.
