.popover.right.popover-branch-menu(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle(CIS.instanceBranches)"
)
  .arrow.white(
    ng-style = "popoverStyle.getArrowStyle(CIS.instanceBranches)"
  )

  animated-panel-container.popover-views(
    ng-if = "!CIS.isPopoverOpen()"
  )
    //- this should be the default panel when auto-isolation is implemented
    animated-panel(
      name = "branchMenu"
    )
      .popover-view
        .popover-content.fade(
          ng-class = "{'in': isActivePanel()}"
        )
          .grid-block.shrink.align-center.well.gray.padding-xxs
            .grid-content
              .small Automatically add branches when you push to GitHub.
              button.btn.btn-xs.btn-permissions(
                internal-modal-helper = "inviteAdminModalView"
                ng-if = "$root.featureFlags.webhooks"
                ng-include = "'permissionsButtonView'"
              )
            label.grid-content.shrink.toggle-wrapper
              input.toggle-input(
                ng-disabled = "$root.featureFlags.webhooks"
                type = "checkbox"
              )
              .toggle-group.toggle-sm
          ul.list.popover-list
            li.list-item.popover-list-item(
              ng-click = "goToPanel('addBranch')"
            )
              svg.iconnables
                use(
                  xlink:href = "#icons-branch-add"
                )
              | Add Branch
              svg.iconnables.icons-arrow-forward.anchor-right
                use(
                  xlink:href = "#icons-arrow-down"
                )
            li.list-item.popover-list-item(
              internal-modal-helper = "includesModalView"
            )
              svg.iconnables
                use(
                  xlink:href = "#icons-options"
                )
              | Include Containers…
    animated-panel(
      default = "true"
      name = "addBranch"
    )
      .popover-content.popover-view.fade(
        ng-class = "{'in': isActivePanel()}"
      )
        .padding-xs
          //- loading
          .padding-md.grid-block.align-center.justify-center(
            ng-if = "$root.isLoading.fetchingBranches"
          )
            .spinner-wrapper.spinner-sm.spinner-gray.in(
              ng-include = "'spinner'"
            )

          //- branch options
          label.grid-block.shrink.align-center.padding-xxs.well.gray(
            ng-if = "!$root.isLoading.fetchingBranches"
          )
            .grid-block.small Automatically add branches when you push to GitHub.
              button.btn.btn-xs.btn-permissions(
                internal-modal-helper = "inviteAdminModalView"
                ng-if = "$root.featureFlags.webhooks"
                ng-include = "'permissionsButtonView'"
              )
            .grid-block.shrink.margin-left-sm.toggle-wrapper
              input.toggle-input(
                ng-click = "CIS.setAutofork()"
                ng-disabled = "$root.featureFlags.webhooks"
                ng-checked = "CIS.poppedCluster ? !CIS.poppedCluster.shouldNotAutofork : !CIS.poppedInstance.attrs.shouldNotAutofork"
                type = "checkbox"
              )
              .toggle-group.toggle-sm

          //- branch filter
          input.input.input-xs.input-search(
            ng-disabled = "$root.isLoading['buildingForkedBranch']"
            ng-model = "CIS.branchQuery"
            ng-if = "!$root.isLoading.fetchingBranches && CIS.instanceBranches.length"
            placeholder = "Search"
            required
            type = "search"
          )

          //- empty states
          .text-center.text-gray.small.padding-lg(
            ng-if = "CIS.instanceBranches && !CIS.instanceBranches.length"
          ) There are no branches to add.

          .text-center.text-gray.small.padding-lg(
            ng-if = "CIS.instanceBranches && CIS.instanceBranches.length && CIS.totalInstanceBranches && !CIS.getFilteredBranches().length"
          ) No branches match this filter.

          //- .margin-bottom-sm should only be applied if number of branches exceed 100
          ul.list.list-actions(
            ng-class = "{'margin-bottom-sm': $root.featureFlags.limitBranches}"
            ng-if = "!$root.isLoading.fetchingBranches && CIS.instanceBranches.length"
          )
            li.grid-block.align-center.list-item.popover-list-item(
              ng-class = "{\
                'disabled': $root.isLoading['buildingForkedBranch'],\
                'active': $root.isLoading['buildingForkedBranch'] && $root.isLoading[branch.name]\
              }"
              ng-repeat = "branch in CIS.getFilteredBranches()"
              ng-click = "CIS.forkBranchFromInstance(branch, POC.closePopover);"
            )
              svg.grid-block.shrink.iconnables.icons-branch
                use(
                  xlink:href = "#icons-branch"
                )
              p.margin-left-xxs.grid-block.text-overflow.p(
                title = "{{ branch.name }}"
              ) {{ branch.name }}
              button.margin-left-sm.grid-block.shrink.btn.btn-xs.btn-add(
                ng-if = "!$root.isLoading[branch.name]"
              ) Add
              .margin-left-sm.grid-block.shrink.spinner-wrapper.spinner-sm.spinner-purple(
                ng-if = "$root.isLoading[branch.name]"
                ng-include = "'spinner'"
              )

          //- should only appear if more than 100 branches listed
          .divider(
            ng-if = "$root.featureFlags.limitBranches"
          )
          small.padding-xxs.grid-block.vertical.small.text-gray(
            ng-if = "$root.featureFlags.limitBranches"
            ng-include = "'branchLimitView'"
          )
