.popover.menu.right.popover-branch-menu(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  .grid-block.shrink.align-center.justify-center.padding-sm.aha-guide(
    ng-if = "$root.featureFlags.aha2"
    ng-include = "'ahaGuideView'"
    ng-init = "\
      state.showStep = 2;\
      state.showSubStep = 2;\
    "
  )
  .arrow.white
  .grid-block.vertical.popover-content.empty(
    ng-if = "$root.featureFlags.autoIsolationSetup"
  )
    svg.svg.grid-block
      use(
        xlink:href = "#icons-branch-burst"
      )
    p.grid-block.p.text-center.padding-sm Add branches by setting your settings for the setting of branches.
    button.grid-block.btn.btn-sm.gray.btn-block(
      internal-modal-helper = "branchSetupModalView"
    ) Set Up Branches

  animated-panel-container.popover-views(
    ng-if = "!$root.featureFlags.autoIsolationSetup"
  )
    //- this should be the default panel when auto-isolation is implemented
    animated-panel(
      name = "branchMenu"
    )
      .popover-view
        .popover-content.fade(
          ng-class = "{'in': isActivePanel()}"
        )
          .grid-block.shrink.align-center.well.gray.padding-xxs
            .grid-content
              .small Automatically add branches as they’re updated on GitHub.
              button.btn.btn-xs.btn-permissions(
                internal-modal-helper = "inviteAdminModalView"
                ng-if = "$root.featureFlags.webhooks"
                ng-include = "'permissionsButtonView'"
              )
            label.grid-content.shrink.toggle-wrapper
              input.toggle-input(
                ng-disabled = "$root.featureFlags.webhooks"
                type = "checkbox"
              )
              .toggle-group.toggle-sm
          ul.list.popover-list
            li.list-item.popover-list-item(
              ng-click = "goToPanel('addBranch')"
            )
              svg.iconnables
                use(
                  xlink:href = "#icons-branch-add"
                )
              | Add Branch
              svg.iconnables.icons-arrow-forward.anchor-right
                use(
                  xlink:href = "#icons-arrow-down"
                )
            li.list-item.popover-list-item(
              internal-modal-helper = "includesModalView"
            )
              svg.iconnables
                use(
                  xlink:href = "#icons-options"
                )
              | Include Containers…
    animated-panel(
      default = "true"
      name = "addBranch"
    )
      .popover-view.fade(
        ng-class = "{'in': isActivePanel()}"
      )
        .popover-header(
          ng-if = "$root.featureFlags.autoIsolation"
        )
          svg.btn.btn-sm.iconnables.icons-arrow-backward(
            ng-class = "{'in': isActivePanel()}"
            ng-click = "goToPanel('branchMenu', 'back');"
          )
            use(
              xlink:href = "#icons-arrow-down"
            )
          | Add Branch
        .popover-content(
          ng-init = "state.branchesLoaded = null"
        )

          .spinner-wrapper.spinner-sm.spinner-gray.spinner-center.in(
            ng-click = "state.branchesLoaded = true"
            ng-if = "!state.branchesLoaded"
            ng-include = "'spinner'"
          )
          .padding-xxs(
            ng-if = "state.branchesLoaded"
          )
            .grid-block.shrink.align-center.well.gray.padding-xxs(
              ng-if = "!$root.featureFlags.autoIsolation"
            )
              .grid-content
                .small Automatically add branches as they’re updated on GitHub.
                button.btn.btn-xs.btn-permissions(
                  internal-modal-helper = "inviteAdminModalView"
                  ng-if = "$root.featureFlags.webhooks"
                  ng-include = "'permissionsButtonView'"
                )
              label.grid-content.shrink.toggle-wrapper
                input.toggle-input(
                  ng-disabled = "$root.featureFlags.webhooks"
                  type = "checkbox"
                )
                .toggle-group.toggle-sm
            input.input.input-xs.input-search(
              placeholder = "Filter"
              required
              type = "search"
            )
          .text-center.text-gray.small.padding-md(
            ng-if = "branch.length === 0"
          ) There are no branches to add.
          ul.list.popover-list(
            ng-if = "state.branchesLoaded"
          )
            //- show when loading paginated list
            //- li.list-item.padding-md
              .spinner-wrapper.spinner-sm.spinner-gray.spinner-center.in(
                ng-include = "'spinner'"
              )
            li.list-item.popover-list-item(
              ng-click = "\
                $root.featureFlags.ahaSidebar = true;\
                $root.featureFlags.aha2 = false;\
                $root.featureFlags.aha3 = true;\
              "
            ) SAN-4377-Cant-add-files
              button.btn.btn-xs.btn-icon.btn-add
                svg.iconnables.icons-add
                  use(
                    xlink:href = "#icons-add"
                  )
            li.list-item.popover-list-item(
              ng-click = "\
                $root.featureFlags.ahaSidebar = true;\
                $root.featureFlags.aha2 = false;\
                $root.featureFlags.aha3 = true;\
              "
            ) SAN-4342-auto-isolation-setup
              button.btn.btn-xs.btn-icon.btn-add
                svg.iconnables.icons-add
                  use(
                    xlink:href = "#icons-add"
                  )
