.popover.menu.right.popover-branch-menu.popover-persistent(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  .grid-block.shrink.align-center.justify-center.padding-sm.aha-guide(
    ng-if = "$root.featureFlags.aha && !$root.isLoading.fetchingBranches && CIS.isAddingFirstBranch()"
    aha-guide
    step-index = 2
    sub-step = "addBranch"
  )

  .grid-block.shrink.align-center.justify-center.padding-sm(
    ng-if = "$root.featureFlags.aha && !$root.isLoading.fetchingBranches && CIS.isSettingUpAutoLaunch()"
    aha-guide
    step-index = 3
    sub-step = "addBranch"
  )

  .arrow.white

  animated-panel-container.popover-views(
    ng-if = "!$root.featureFlags.autoIsolationSetup && $root.isLoading.fetchingBranches"
  )
    animated-panel(
      default = "true"
      name = "addBranch"
    )
      .popover-view.fade(
        class = "in"
      )
        .popover-content(
        )
          .spinner-wrapper.spinner-sm.spinner-gray.spinner-center.in(
            ng-if = "$root.isLoading.fetchingBranches"
            ng-include = "'spinner'"
          )
