.popover.right.popover-template-menu(
  close = "NCMC.close"
  new-container = "popover"
  ng-class = "{'in': active}"
  ng-init = "\
    state.tab = 'repo';\
    state.loading = null;\
  "
  ng-style = "popoverStyle.getStyle()"
)
