.grid-block.align-center.vertical.padding-md.empty(
  ng-if = "NCC.isPersonalAccount()"
)
  img.grid-block.shrink.img(
    src = "/build/images/add-code-state.svg"
  )
  p.p.text-center To add your own repositories and services, try Runnable with a GitHub team.
  button.btn.btn-sm.gray.margin-top-xs(
    ui-sref = "orgSelect"
    ui-sref-opts = "{reload: true}"
  ) Switch to a Team

.grid-block.align-center.vertical.padding-md.empty(
  ng-if = "!NCC.isPersonalAccount() && !$root.featureFlags.demoPersonalOnly"
)
  img.grid-block.shrink.img(
    src = "/build/images/add-code-state.svg"
  )
  p.p.text-center.weight-strong.margin-top-xxs Can’t wait to add your code?
  p.p.text-center.margin-top-xxs We want you to try the demo first, but you can&#32;
    a.link(
      ng-click = "$emit('demo::end');"
    ) end the demo
    | &#32;now if you’re ready.
