.grid-block.shrink.aha-meter(
  ng-class = "{\
    'aha-meter-33': ahaGuide.getCurrentStep() === ahaGuide.steps.ADD_FIRST_BRANCH,\
    'aha-meter-100': ahaGuide.getCurrentStep() > ahaGuide.steps.ADD_FIRST_BRANCH\
  }"
)
  svg.iconnables
    use(
      ng-if = "ahaGuide.getCurrentStep() === ahaGuide.steps.ADD_FIRST_BRANCH"
      xlink:href = "#icons-octicons-branch"
    )
    use(
      ng-if = "ahaGuide.getCurrentStep() > ahaGuide.steps.ADD_FIRST_BRANCH"
      xlink:href = "#icons-check"
    )
.grid-block.vertical.aha-text
  p.p.small.text-gray-light Add your First Branch
  p.p You can start adding branches by clicking the + button next to the name of the repository.
