.grid-block.shrink.aha-meter(
  ng-class = "{\
    'aha-meter-33': ahaGuide.getCurrentStep() === ahaGuide.steps.ADD_FIRST_BRANCH,\
    'aha-meter-100': ahaGuide.getCurrentStep() > ahaGuide.steps.ADD_FIRST_BRANCH\
  }"
)
  svg.iconnables
    use(
      ng-if = "ahaGuide.getCurrentStep() === ahaGuide.steps.ADD_FIRST_BRANCH"
      xlink:href = "#icons-octicons-branch"
    )
    use(
      ng-if = "ahaGuide.getCurrentStep() > ahaGuide.steps.ADD_FIRST_BRANCH"
      xlink:href = "#icons-check"
    )
.grid-block.vertical.aha-text
  p.p.small.text-gray-light Add your First Branch
  p.p(
    ng-if = "state.showSubStep === 1"
  ) Click the + button next to any repo name.
  p.p(
    ng-if = "state.showSubStep === 2"
  ) Select a branch to add.
  //- show in the branch menu if the repository has no branches.
  p.p(
    ng-if = "state.showSubStep === 3"
  ) Aw, no branches. Try another repository or&#32;
    a.link skip this step
    | .
