.modal-backdrop.in
  .modal-dialog.modal-md.modal-alert
    header.modal-body

      //- if removing another user
      p.p.strong Are you sure you want to remove this teammate?
      p.p We will no longer create or update containers for their activity, unless they log in to this team again.
      //- if removing themself
      //- p.p.strong Are you sure you want to leave this team?
      //- p.p We will no longer create or update containers for your activity, unless you log in to this team again.

      //- if after trial
      .grid-block.well.gray.padding-xs.small(
        ng-if = "!$root.featureFlags.trial"
      )
        svg.grid-content.shrink.iconnables
          use(
            xlink:href = "#icons-billing"
          )
        .grid-content A&#32;
          a.link(
            href="#"
            target="_blank"
          ) prorated amount
          | &#32;will be applied to the next bill.

      //- if the user is removing themself and they provided the payment method
      //- .grid-block.well.gray.padding-xs.small
        svg.grid-content.shrink.iconnables
          use(
            xlink:href = "#icons-visa"
          )
        .grid-content The payment method you provided will still be used.

    footer.modal-footer.clearfix
      button.btn.btn-sm.gray.float-left Cancel
      //- if removing another user
      button.btn.btn-sm.red.float-right Remove Teammate
      //- if removing themself
      //- button.btn.btn-sm.red.float-right Leave Team
