.modal-backdrop.in
  .modal-dialog.modal-md.modal-settings
    header.grid-block.vertical.align-center.modal-header
      .container-title-wrapper
        .server-status-card-pop-over.no-touching
          .container-title CodeNow Settings
      svg.iconnables.icons-close(
        ng-click = "SEMC.close()"
      )
        use(
          xlink:href = "#icons-close"
        )

      .row.modal-tabs.tabs-all.grid-block.clearfix
        button.btn.btn-radio.grid-block.vertical(
          ng-attr-data-badge-count = "{{SEMC.activeAccount.isInTrial() && !SEMC.activeAccount.attrs.hasPaymentMethod ? SEMC.activeAccount.trialRemaining() : ''}}"
          ng-class = "{\
            'active': SEMC.currentTab === 'billing',\
            'badge': SEMC.activeAccount.isInTrial() && !SEMC.activeAccount.attrs.hasPaymentMethod,\
            'badge-orange': SEMC.activeAccount.isInTrial() && !SEMC.activeAccount.attrs.hasPaymentMethod,\
          }"
          ng-click = "SEMC.currentTab = 'billing'"
          ng-show = "$root.featureFlags.billing"
        )
          svg.iconnables.grid-content
            use(
              xlink:href = "#icons-billing"
            )
          .btn-text.grid-content Billing
        button.btn.btn-radio.grid-block.vertical(
          ng-class = "{'active': SEMC.currentTab === 'teamManagement'}"
          ng-click = "\
            SEMC.currentTab = 'teamManagement';\
          "
        )
          svg.iconnables.grid-content
            use(
              xlink:href = "#icons-team"
            )
          .btn-text.grid-content Teammates
        button.btn.btn-radio.grid-block.vertical(
          ng-class = "{'active': SEMC.currentTab === 'slackIntegration'}"
          ng-click = "\
            SEMC.currentTab = 'slackIntegration';\
          "
          ng-show = "$root.featureFlags.updatedSlackValidation"
        )
          img.img.iconnables.grid-content(
            height = "24"
            src = "/build/images/logos/logo-icon-slack.svg"
            width = "24"
          )
          .btn-text.grid-content Slack Integration

    section.modal-body.js-animate

      div(
        ng-if = "SEMC.currentTab === 'billing'"
        billing-form
      )

      team-management-form(
        ng-if = "SEMC.currentTab === 'teamManagement'"
      )

      slack-integration-form(
        ng-if = "SEMC.currentTab === 'slackIntegration'"
      )

    footer.modal-footer.clearfix.js-animate(
      ng-if = "SEMC.showFooter"
    )
      button.btn.btn-md.white.float-right(
        ng-click = "SEMC.close()"
        type = "button"
      ) Done
