.popover.bottom.popover-env-var-validation(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow
  .popover-list.list-bulleted.list-validation
    //- add .ng-invalid to the corresponding list item if the input is invalid
    .list-item Variables can't start with a number.
    .list-item Only use alphanumeric characters and underscores.
