.popover.bottom.popover-env-var-validation(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow
  .popover-list.list-bulleted
    .list-item.small Use only letters, numbers, and underscores.
    .list-item.small Do not begin with a number.
