//- default actions
//- prefer ng-hide > ng-if for this button
button.btn.btn-xs.gray(
  ng-click = "state.showHostName = true"
  ng-hide = "state.showHostName"
  ng-init = "state.showHostName = false"
) Insert an elastic hostname

button.btn.btn-xs.btn-status.no-touching(
  ng-if = "!state.showHostName"
  title = "{{linkedEnvResults.length || 0 }} hostnames from environment variables"
) {{linkedEnvResults.length || 0 }} hostnames

//- if inserting host names
.label.label-row.clearfix(
  ng-if = "state.showHostName"
)
  fancy-select.input-sm.monospace.text-overflow(
    placeholder = "Protocol"
    type = "text"
    value = "$parent.state.newLink.protocol"
  )
    li.list-item.popover-list-item.small(
    ) Select Protocol (optional)
    fancy-option(
      value = "'http://'"
    ) http://
  fancy-select.input-sm.monospace.text-overflow(
    placeholder = "hostname"
    value = "$parent.state.newLink.server"
  )
    li.list-item.popover-list-item.small Select hostname
    fancy-option.monospace(
      ng-if = "instance.attrs.shortHash !== $parent.$parent.$parent.state.server.instance.attrs.shortHash"
      ng-repeat = "instance in $parent.data.instances.models"
      value = "instance"
    ) {{ $parent.instance.getElasticHostname() }}

  fancy-select.input-sm.monospace.text-overflow(
    placeholder = "Port"
    type = "text"
    value = "$parent.state.newLink.port"
  )
    li.list-item.popover-list-item.small(
    ) Select Port (optional)
    fancy-option(
      ng-repeat = "port in $parent.$parent.state.newLink.server | extractInstancePorts"
      value = "port"
    ) :{{ $parent.port }}

.table-footer.clearfix(
  ng-if = "state.showHostName"
)
  button.btn.btn-xs.gray(
    ng-click = "state.showHostName = false"
  ) Cancel
  button.btn.btn-xs.green(
    ng-click = "state.showHostName = false; insertHostName(state.newLink);"
  ) Insert elastic hostname
