//- default actions
//- prefer ng-hide > ng-if for this button

button.btn.btn-xs.gray(
  ng-click = "SMC.state.showHostName = true"
  ng-hide = "SMC.state.showHostName"
  ng-init = "SMC.state.showHostName = false"
) Insert an Elastic Hostname

//- ***********************
//- deprecated button, remove with $root.featureFlags.hostnameTool
button.btn.btn-xs.no-touching(
  ng-if = "\
    !$root.featureFlags.hostnameTool && \
    !SMC.state.showHostName\
  "
  title = "{{SMC.linkedEnvResults.length || 0 }} hostnames from environment variables"
) {{SMC.linkedEnvResults.length || 0 }} hostnames
//- end deprecated button
//- ***********************

button.btn.btn-xs.gray(
  ng-class = "{'active': SMC.data.toggleSidebar}"
  ng-click = "SMC.data.toggleSidebar = !SMC.data.toggleSidebar"
  ng-if = "\
    $root.featureFlags.hostnameTool && \
    !SMC.state.showHostName\
  "
  title = "Toggle list of Non-Elastic Hostnames"
)
  //- show button if notifications
  .btn.btn-xxs.btn-badge(
    ng-if = "$root.featureFlags.hostnameNotifications"
    title = "999 new non-elastic hostnames"
  ) 999
  //- show icon if no notifications
  svg.iconnables.icons-sidebar(
    ng-if = "!$root.featureFlags.hostnameNotifications"
  )
    use(
      xlink:href = "#icons-sidebar"
    )
  | Non-Elastic Hostnames

//- if inserting host names
.label.label-row.clearfix(
  ng-if = "SMC.state.showHostName"
)
  fancy-select.input-sm.monospace.text-overflow(
    placeholder = "Protocol"
    type = "text"
    value = "SMC.state.newLink.protocol"
  )
    li.list-item.popover-list-item.small(
      ) Select Protocol (optional)
    fancy-option(
      value = "'http://'"
    ) http:&#47;&#47;

  fancy-select.input-sm.monospace.text-overflow(
    placeholder = "hostname"
    value = "SMC.state.newLink.server"
  )
    li.list-item.popover-list-item.small Select hostname
    fancy-option.monospace(
      ng-if = "instance.attrs.shortHash !== $parent.$parent.$parent.SMC.instance.attrs.shortHash"
      ng-repeat = "instance in $parent.SMC.data.instances.models"
      value = "instance"
    ) {{ $parent.instance.getElasticHostname() }}!

  fancy-select.input-sm.monospace.text-overflow(
    placeholder = "Port"
    type = "text"
    value = "$parent.SMC.state.newLink.port"
  )
    li.list-item.popover-list-item.small(
    ) Select Port (optional)
    fancy-option(
      ng-repeat = "port in $parent.$parent.SMC.state.newLink.server | extractInstancePorts"
      value = "port"
    ) :{{ $parent.port }}

.table-footer.clearfix(
  ng-if = "SMC.state.showHostName"
)
  button.btn.btn-xs.gray(
    ng-click = "SMC.state.showHostName = false"
  ) Cancel
  button.btn.btn-xs.green(
    ng-click = "SMC.state.showHostName = false; SMC.insertHostName(SMC.state.newLink);"
  ) Insert Elastic Hostname
