//- save button
.btn-group
  //- apply .with-restart if save restarts Server
  //- add title = "Save and Restart Server" if save restarts Server
  button.btn.btn-sm.white(
    ng-click = "save(SOIBC.restartOnSave)"
    ng-disabled = "loading"
    type = "button"
  )
    .spinner-wrapper.spinner-sm.in(
      ng-if = "loading"
      ng-include = "'spinner'"
    )
    span.btn-text {{loading ? 'Saving' : 'Save'}}
    //- show if restart is checked
    span.btn-text(
      ng-if = "SOIBC.restartOnSave"
    ) #{''} and Restart

  button.btn.btn-sm.white.btn-icon.btn-icon-sm.btn-save-options(
    ng-class = "{active: SOIBC.popoverActive}"
    ng-disabled = "loading"
    ng-if = "!SOIBC.hideRestart"
    pop-over
    pop-over-active = "SOIBC.popoverActive"
    pop-over-controller = "SOIBC"
    pop-over-options = "{\"right\":-6,\"top\":47}"
    pop-over-template = "saveOpenItemsOptionsPopoverView"
    type = "button"
  )
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )