.popover.menu.bottom.popover-primary-options(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
  style = "transform-origin: 95% 0;"
)
  .arrow.white(
    style = "left: auto; right: 6px;"
  )
  .popover-content
    ul.popover-list
      li.popover-list-item
        label.row.label-checkbox Restart on Save
          input.input-checkbox(
            checked
            ng-disabled = "SOIBC.saving"
            ng-model = "SOIBC.restartOnSave"
            type = "checkbox"
          )