//- save button
.btn-group(
  ng-if = "!$root.featureFlags.saveToolbar && SOIBC.instance.containers.models[0].running() && canSave()"
)
  //- apply .with-restart if save restarts Server
  //- add title = "Save and Restart Server" if save restarts Server
  button.btn.btn-sm.white.btn-spinner(
    ng-class = "{in: SOIBC.loading}"
    ng-click = "SOIBC.saveChanges()"
    ng-disabled = "SOIBC.loading"
    type = "button"
  )
    .spinner-wrapper.spinner-sm.spinner-white.in(
      ng-if = "SOIBC.loading"
      ng-include = "'spinner'"
    )
    span.btn-text {{ SOIBC.loading ? 'Saving' : 'Save'}}
    //- show if restart is checked
    span.btn-text(
      ng-if = "SOIBC.restartOnSave"
    ) #{''} and Restart

  button.btn.btn-sm.white.btn-icon.btn-icon-sm.btn-save-options(
    ng-class = "{active: SOIBC.popoverActive}"
    ng-disabled = "SOIBC.loading"
    pop-over
    pop-over-active = "SOIBC.popoverActive"
    pop-over-controller = "SOIBC"
    pop-over-options = "{\"right\":1,\"top\":47}"
    pop-over-template = "saveOpenItemsOptionsPopoverView"
    type = "button"
  )
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )