//- save button
.btn-group(
)
  //- apply .with-restart if save restarts Server
  //- add title = "Save and Restart Server" if save restarts Server
  button.btn.btn-sm.white.btn-spinner(
    ng-class = "{in: saving}"
    ng-click = "saveChanges()"
    ng-disabled = "loading || saving || modifyingInstance"
    type = "button"
  )
    .spinner-wrapper.spinner-sm.spinner-white.in(
      ng-if = "saving"
      ng-include = "'spinner'"
    )
    span.btn-text {{ saving ? 'Saving' : 'Save'}}
    //- show if restart is checked
    span.btn-text(
      ng-if = "popoverSaveOptions.data.restartOnSave"
    ) #{''} and Restart

  button.btn.btn-sm.white.btn-icon.btn-icon-sm.btn-save-options(
    ng-class = "{active: popoverSaveOptions.data.show}"
    ng-disabled = "loading || saving || modifyingInstance"
    pop-over
    pop-over-active = "popoverSaveOptions.data.show"
    pop-over-actions = "popoverSaveOptions.actions"
    pop-over-data = "popoverSaveOptions.data"
    pop-over-options = "{\"right\":1,\"top\":47}"
    pop-over-template = "viewInstancePopoverSaveOptions"
    type = "button"
  )
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )
//- end button, remove with $root.featureFlags.saveToolbar
//- ***********************