section.home-demos
  h1.h1.header-thin Try a Server
  h3.h3.header-thin Free to try, no sign ups
  ol.demo-list.clearfix
    li.demo-list-item(
      ng-repeat = "instance in helloRunnableInstances"
    )
      img.demo-icon(
        height = "48"
        ng-src = "/build/images/home/{{ instance.icon }}.svg"
        width = "48"
      )
      .demo-list-text
        h3.h3.header-thin {{ instance.name }}
        p.p {{ instance.description }}
      a.btn.btn-sm.green(
        href = "#"
        ng-click = "forkInstance(instance.shortHash, instance.instanceName)"
      )
        svg.iconnables.icons-git
          use(
            xlink:href = "#icons-git"
          )
        | Sign in to demo
  a.link.link-text Don’t see yours? Launch a custom server.
  .hr
    span.hr-text or
  a.btn.btn-xl.green(
    href = "/features"
  ) Explore Features