section.home-demos
  h1.h1.header-thin Try a Server
  h3.h3.header-thin Free to try, no sign ups
  ol.demo-list.clearfix
    li.demo-list-item(
      ng-repeat = "instance in helloRunnableInstances"
    )
      img.demo-icon(
        height = "48"
        ng-src = "/build/images/home/{{ instance.icon }}.svg"
        width = "48"
      )
      .demo-list-text
        h3.h3.header-thin {{ instance.name }}
        p.p {{ instance.description }}
      a.btn.btn-sm.green(
        href = "#"
        target = "_blank"
        ng-click = "forkInstance(instance.shortHash)"
      )
        svg.iconnables.icons-git
          use(
            xlink:href = "#icons-git"
          )
        | Sign in to demo

    //-
      li.demo-list-item
        img.demo-icon(
          height = "48"
          src = "/build/images/home/icons-ruby-on-rails.svg"
          width = "48"
        )
        .demo-list-text
          h3.h3.header-thin Ruby on Rails
          p.p Launch a Rails app with MySQL
        a.btn.btn-sm.green(
          href = "#"
          target = "_blank"
        )
          svg.iconnables.icons-git
            use(
              xlink:href = "#icons-git"
            )
          | Sign in to demo
      li.demo-list-item
        img.demo-icon(
          height = "48"
          src = "/build/images/home/icons-node.js.svg"
          width = "48"
        )
        .demo-list-text
          h3.h3.header-thin node.js
          p.p I don’t even know right now
        a.btn.btn-sm.green(
          href = "#"
          target = "_blank"
        )
          svg.iconnables.icons-git
            use(
              xlink:href = "#icons-git"
            )
          | Sign in to demo
  a.link.link-text Don’t see yours? Launch a custom server.
  .hr
    span.hr-text or
  a.btn.btn-xl.green(
    href = "/features"
  ) Explore Features


