header.server-header

  h1.server-info.load(
    instance = "dataInstanceEdit.data.instance"
    instance-edit-box-name
    ng-show = "dataInstanceEdit.data.instance"
  )

  instance-edit-primary-actions(
    user = "user"
    instance = "dataInstanceEdit.data.instance"
    unsaved-acvs = "dataInstanceEdit.data.unsavedAcvs"
    loading = "dataApp.data.loading"
    open-items = "dataInstanceEdit.data.openItems"
  )

  instance-edit-secondary-actions(
    instances = "dataApp.data.instances"
    instance = "dataInstanceEdit.data.instance"
    saving = "dataInstanceEdit.data.saving"
  )

//- sidebar with repositories and urls
section.sidebar.server-sidebar

  section.row.repo-list(
    build = "dataInstanceEdit.data.build"
    instance = "dataInstanceEdit.data.instance"
    show-add-repo = "true"
    repo-list
    loading = "dataApp.data.loading"
  )
  section.row.explorer(
    explorer
    edit-explorer = "true"
    explorer-title = "Build Files"
    file-model = "dataInstanceEdit.data.build.contextVersions.models[0]"
    root-dir = "dataInstanceEdit.data.build.contextVersions.models[0].rootDir"
    open-items = "dataInstanceEdit.data.openItems"
    toggle-theme = "dataInstanceEdit.data.toggleTheme"
  )
  docker-validation(
    open-items = "dataInstanceEdit.data.openItems"
  )

section.views.with-add-tab(
  active-panel
  ng-class = "{ \
    in: (dataInstanceEdit.data.showExplorer && \
         !dataInstanceEdit.data.loading) \
    }"
  open-items = "dataInstanceEdit.data.openItems"
  build = "dataInstanceEdit.data.build"
  instance = "dataInstanceEdit.data.instance"
  background-buttons = "build"
  use-auto-update = "true"
)