header.box-header
  h1.box-info
    .box-name {{ dataInstanceEdit.data.instance.attrs.name }}
      svg.iconnables.icons-edit
        use(
          xlink:href = "#icons-edit"
        )
    input.box-url(
      readonly
      select-all
      value = "{{ dataInstanceEdit.data.instance.attrs.name }}.username.runnable.io"
    )
    //- sets layout on h1.box-name for .box-url
    span.box-name-ghost {{ dataInstanceEdit.data.instance.attrs.name }}.username.runnable.io
  .primary-actions
    button.orange(
      ng-click = "dataInstanceEdit.actions.build()"
      type = "button"
    ) Build
  .secondary-actions
    .save-spinner(
      ng-class = "{ in: dataInstanceEdit.data.saving }"
    )
    a.btn.white.btn-icon.btn-actions(
      ng-class = "{active: dataInstanceEdit.data.popoverGearMenu.data.show}"
      toggle-pop-over
      toggle-pop-over-model = "dataInstanceEdit.data.popoverGearMenu.data.show"
      type = "button"
    )
      svg.iconnables.icons-gear
        use(
          xlink:href = "#icons-gear"
        )
      //- popover for rename, for, delete box
      pop-over(
        actions = "dataInstanceEdit.data.popoverGearMenu.actions"
        data = "dataInstanceEdit.data.popoverGearMenu.data"
        template = "viewInstanceEditPopoverActions"
      )
    button.white(
      ng-click = "dataInstanceEdit.actions.goToInstance(true)"
      type = "button"
    ) Discard Changes

//- sidebar with repositories and urls
section.sidebar.box-sidebar
  //- repositories

  //- edit === true means directive is set to instanceEdit page
  repo-list(
    instance = "dataInstanceEdit.data.instance"
    build = "dataInstanceEdit.data.build"
    edit = "true"
  )

  section.row(
    ng-if = "dataInstanceEdit.data.envValidation.errors"
  )
    .sidebar-validation
      h2.sub-header Environmental Var Errors
      ul.list-group
        li.list-group-item(
          ng-repeat = "errorLine in dataInstanceEdit.data.envValidation.errors"
        ) Invalid line {{ errorLine + 1 }}

section.views(
  ng-class = "{in: dataInstanceEdit.data.showExplorer && !dataInstanceEdit.data.loading}"
)
  //- explorer
  button.btn-sm.white.btn-icon.explorer-toggle(
    ng-click = "dataInstanceEdit.data.showExplorer = !dataInstanceEdit.data.showExplorer"
    type = "button"
  )
    svg.iconnables.icons-folder-open
      use(
        xlink:href = "#icons-folder-open"
      )
  section.explorer
    .explorer-controls
      button.toggle-theme(
        ng-class = "{dark: !dataInstanceEdit.data.toggleTheme, light: dataInstanceEdit.data.toggleTheme}"
        ng-click = "dataInstanceEdit.data.toggleTheme = !dataInstanceEdit.data.toggleTheme"
        ng-init = "dataInstanceEdit.data.toggleTheme = true"
        tooltip = "Change Theme"
        tooltip-options = "{\"class\":\"bottom\",\"left\":11,\"top\":36}"
      )
        .theme
    file-tree(
      open-items = "dataInstanceEdit.data.openItems"
      read-only = "false"
      root-dir = "dataInstanceEdit.data.version.rootDir"
    )

  //- tabs
  tabs(
    open-items= "dataInstanceEdit.data.openItems"
  )

  //- active panel
  //- Passing in old build to access it's logs
  active-panel(
    container = "dataInstanceEdit.data.container"
    build = "dataInstanceEdit.data.instance.build"
    is-dark-theme = "dataInstanceEdit.data.toggleTheme"
    open-items = "dataInstanceEdit.data.openItems"
    update = "true"
  )

  //- spinner
  .horizontal-spinner(
    ng-hide = "dataInstanceEdit.data.container"
  )
