header.server-header

  h1.server-info.load(
    instance = "dataInstanceEdit.data.instance"
    instance-edit-box-name
    ng-show = "dataInstanceEdit.data.instance"
  )

  instance-edit-primary-actions(
    user = "user"
    instance = "dataInstanceEdit.data.instance"
    unsaved-acvs = "dataInstanceEdit.data.unsavedAcvs"
    loading = "dataApp.data.loading"
    open-items = "dataInstanceEdit.data.openItems"
  )

  instance-edit-secondary-actions(
    instances = "dataApp.data.instances"
    instance = "dataInstanceEdit.data.instance"
    saving = "dataInstanceEdit.data.saving"
  )

//- sidebar with repositories and urls
section.sidebar.server-sidebar

  section.row.repo-list(
    build = "dataInstanceEdit.data.instance.build"
    instance = "dataInstanceEdit.data.instance"
    repo-list
    loading = "dataApp.data.loading"
    unsaved-acvs = "dataInstanceEdit.data.unsavedAcvs"
  )
  section.row.explorer(
    explorer
    open-items = "dataInstanceEdit.data.openItems"
    toggle-theme = "dataInstanceEdit.data.toggleTheme"
  )
  docker-validation(
    open-items = "dataInstanceEdit.data.openItems"
  )

section.views.with-add-tab(
  ng-class = "{ \
    in: (dataInstanceEdit.data.showExplorer && \
         !dataInstanceEdit.data.loading) \
  }"
)

  //- tabs
  .views-toolbar(
    open-items = "dataInstanceEdit.data.openItems"
    tabs
  )

  div(
    add-tab
    open-items = "dataInstanceEdit.data.openItems"
  )

  //- active panel
  //- Passing in old build to access its logs
  .active-panel(
    active-panel
    ng-class = "{\
      'loaded': (item === openItems.activeHistory.last()),\
      'ace-runnable-dark': dataInstanceEdit.data.toggleTheme\
    }"
    ng-repeat = "item in dataInstanceEdit.data.openItems.models"
    ng-show = "item === dataInstanceEdit.data.openItems.activeHistory.last()"
    current-model = "dataInstanceEdit.data.instance.attrs"
    state-model = "dataInstanceEdit.data.instance.state"
    open-items = "dataInstanceEdit.data.openItems"
    item = "item"
  )

  //- blank state
  .blank-panel(
    ng-if= "dataInstanceEdit.data.openItems.activeHistory.models.length === 0"
  )
    ul.blank-panel-group
      li.btn.blue(
        ng-click = "dataInstanceEdit.data.openItems.addBuildStream()"
      )
        svg.iconnables.iconnables-lg.icons-logs
          use(
            xlink:href = "#icons-logs"
          )
        | Build Log
