.popover.bottom.menu.context-menu(
  ng-class = "{in: data.show}"
  ng-style = "popoverStyle.getStyle()"
)
  .popover-content
    ul.popover-list
      li.popover-list-item
        svg.iconnables.icons-gear
          use(
            xlink:href = "#icons-gear"
          )
        | Configure
      li.popover-list-item
        svg.iconnables.icons-trash
          use(
            xlink:href = "#icons-trash"
          )
        | Delete
