.primary-actions
  .btn-group
    //- apply .with-restart if save restarts Server
    //- add title = "Save and Restart Server" if save restarts Server
    button.btn.green.btn-save.btn-spinner.in(
      ng-class = "{in: saving}"
      ng-click = "saveChanges()"
      ng-disabled = "!instance.containers.models[0].running() || loading"
      type = "button"
    )
      //- spinner
      .spinner-wrapper.spinner-sm.spinner-white.in(
        ng-if = "saving"
        ng-include = "'spinner'"
      )
      span.btn-text Save
      //- show if restart is checked
      span.btn-text(
        ng-if = "popoverSaveOptions.data.restartOnSave"
      ) #{''} and Restart
    button.btn.green.btn-icon.btn-icon-sm.btn-save-options(
      ng-class = "{active: popoverSaveOptions.data.show}"
      ng-disabled = "!instance.containers.models[0].running() || loading"
      toggle-pop-over
      toggle-pop-over-model = "popoverSaveOptions.data.show"
      type = "button"
    )
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
      pop-over(
        loading = "loading"
        instance = "instance"
        actions = "popoverSaveOptions.actions"
        data = "popoverSaveOptions.data"
        popover-options = "{\"left\":-146,\"top\":54}"
        template = "viewInstancePopoverSaveOptions"
      )
