.primary-actions
  .btn-group
    //- apply .with-restart if save restarts Server
    //- add title = "Save and Restart Server" if save restarts Server
    button.btn.green.btn-save.btn-spinner(
      ng-class = "{in: saving}"
      ng-click = "saveChanges()"
      ng-disabled = "!instance.containers.models[0].running() || loading"
      type = "button"
    )
      span.btn-text Save
      //- show if restart is checked
      span.btn-text(
        ng-if = "popoverSaveOptions.data.restartOnSave"
      ) #{''} and Restart
    button.btn.green.btn-icon.btn-icon-sm.btn-save-options(
      ng-class = "{active: popoverSaveOptions.data.show}"
      ng-disabled = "!instance.containers.models[0].running() || loading"
      type = "button"
      pop-over
      pop-over-active = "popoverSaveOptions.data.show"
      pop-over-actions = "popoverSaveOptions.actions"
      pop-over-data = "popoverSaveOptions.data"
      pop-over-options = "{\"left\":-146,\"top\":54}"
      pop-over-template = "viewInstancePopoverSaveOptions"
    )
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
