.popover.bottom.popover-dns-mappings(
  ng-class = "{'in': active}"
  ng-init = "\
    dnsMappings = [\
      {name: 'data-dog', elasticHostname: 'datadog-staging-CodeNow.runnableapp.com', branch: 'master', sandbox: 'Private (runnabro)', status: 'green'},\
      {name: 'mavis', elasticHostname: 'mavis-staging-CodeNow.runnableapp.com', branch: 'master', sandbox: 'Organization (CodeNow)', status: 'green'},\
      {name: 'neo4j', elasticHostname: 'neo4j-staging-CodeNow.runnableapp.com', branch: 'master', sandbox: 'Organization (CodeNow)', status: 'green'},\
      {name: 'optimus', elasticHostname: 'optimus-staging-CodeNow.runnableapp.com', branch: 'master', sandbox: 'Organization (CodeNow)', status: 'green'},\
      {name: 'runnable-angular', elasticHostname: 'runnable-angular-staging-CodeNow.runnableapp.com', branch: 'master', sandbox: 'Organization (CodeNow)', status: 'green'}\
    ];\
    mavisBranches = [\
      {name: 'master', status: 'green'},\
      {name: 'abort-on-uncaught-exception', status: 'gray'},\
      {name: 'bypass-prev-dock', status: 'orange'},\
      {name: 'no-docks-404', status: 'red'},\
      {name: 'remove-numBuild', status: 'green'},\
      {name: 'temporary-branch-to-fork-on-runnable', status: 'green'}\
    ];\
    mavisPrivateBranches = [\
      {name: 'prafulrana', status: 'green'},\
      {name: 'runnabro', status: 'green'}\
    ];\
    state.view = 1;\
  "
  ng-style = "popoverStyle.getStyle()"
  style = "transform-origin: 50% 0"
)
  .arrow
  .popover-views
    //- min-height is height of list items + header + list padding
    div(
      ng-class = "{\
        'view-1': state.view === 1,\
        'view-2': state.view === 2\
      }"
      style = "min-height: {{state.view === 1 ? dnsMappings.length*54 + 36 + 8: mavisBranches.length*36 + 36 + 8}}px"
    )

      .popover-view
        .popover-header
          .span(
            ng-style = "state.view === 1 && {'opacity': '1'}"
          ) DNS Mappings

        ul.list.popover-list(
          ng-style = "state.view === 1 && {'opacity': '1'}"
        )
          li.list-item.popover-list-item.tr.multi-line.clearfix(
            ng-click = "state.view = 2"
            ng-repeat = "container in dnsMappings"
          )
            .cell.text-overflow(
              title = "{{container.name}}"
            )
              .text-overflow {{container.name}}
              small.small.text-overflow(
                title = "{{container.elasticHostname}}"
              ) {{container.elasticHostname}}
            .cell.text-overflow
              .icons-status(
                ng-class = "container.status"
                title = "{{container.branch}}"
                tooltip
                tooltip-eval = "instance | cardBuildStatusTitle"
                tooltip-options = "{\"class\":\"bottom\",\"left\":-7,\"top\":12}"
              )
              | {{container.branch}}
              small.small(
                title = "{{container.sandbox}}"
              ) {{container.sandbox}}
            svg.iconnables.icons-arrow-forward.float-right
              use(
                xlink:href = "#icons-arrow-down"
              )

      .popover-view(
        ng-init = "toggle.privateContainers = false"
      )
        .popover-header
          svg.btn.btn-sm.iconnables.icons-arrow-backward.pull-left(
            ng-click = "state.view = 1"
            ng-style = "state.view === 2 && {'opacity': '1'}"
          )
            use(
              xlink:href = "#icons-arrow-down"
            )
          .span(
            ng-style = "state.view === 2 && {'opacity': '1'}"
          ) mavis Containers

        //- only show toggle if there are containers in private sandboxes
        .btn-group.btn-toggle.btn-toggle-xs(
          ng-if = "mavisPrivateBranches.length"
        )
          .btn.btn-xs.gray(
            ng-class = "{\
              'active': !toggle.privateContainers,\
              'no-touching': !toggle.privateContainers\
            }"
            ng-click = "toggle.privateContainers = !toggle.privateContainers"
          ) Organization
          .btn.btn-xs.gray(
            ng-class = "{\
              'active': toggle.privateContainers,\
              'no-touching': toggle.privateContainers\
            }"
            ng-click = "toggle.privateContainers = !toggle.privateContainers"
          ) Private

        ul.list.popover-list(
          ng-if = "!toggle.privateContainers"
          ng-style = "state.view === 2 && {'opacity': '1'}"
        )
          li.list-item.popover-list-item(
            ng-repeat = "branch in mavisBranches"
          )
            //- from status-icon template
            .icons-status(
              ng-class = "branch.status"
              tooltip
              tooltip-eval = "instance | cardBuildStatusTitle"
              tooltip-options = "{\"class\":\"bottom\",\"left\":-7,\"top\":12}"
            )
            | {{branch.name}}

        ul.list.popover-list(
          ng-if = "toggle.privateContainers"
          ng-style = "state.view === 2 && {'opacity': '1'}"
        )
          li.list-item.popover-list-item(
            ng-repeat = "branch in mavisPrivateBranches"
          )
            .icons-status(
              ng-class = "branch.status"
              tooltip
              tooltip-eval = "instance | cardBuildStatusTitle"
              tooltip-options = "{\"class\":\"bottom\",\"left\":-7,\"top\":12}"
            )
            | {{branch.name}}