//- state buttons
button.btn.gray(
  ng-click = "actions.stopInstance()"
  ng-if = "!isChanging() && instance.build.attrs.completed && instance.containers.models[0].running()"
) Stop Container

button.btn.gray(
  ng-click = "actions.startInstance()"
  ng-disabled = "isChanging()"
  ng-if = "!isChanging() && instance.build.attrs.completed && !instance.containers.models[0].running() && instance.status() !== 'buildFailed'"
) Start Container

button.btn.gray.btn-spinner.in(
  disabled
  ng-if = "isChanging()"
)
  .spinner-wrapper.spinner-sm.spinner-gray.in(
    ng-include = "'spinner'"
  )
  span.btn-text {{changingText()}}

button.btn.gray(
  disabled
  ng-if = "instance.status() === 'buildFailed'"
) Build Failed

//- ***********************
//- deprecated button, remove with $root.featureFlags.saveToolbar
//- save button
.btn-group(
  ng-if = "!$root.featureFlags.saveToolbar && instance.containers.models[0].running() && canSave()"
)
  //- apply .with-restart if save restarts Server
  //- add title = "Save and Restart Server" if save restarts Server
  button.btn.green.btn-save.btn-spinner(
    ng-class = "{in: saving}"
    ng-click = "saveChanges()"
    ng-disabled = "loading || saving || modifyingInstance"
    type = "button"
  )
    .spinner-wrapper.spinner-sm.spinner-white.in(
      ng-if = "saving"
      ng-include = "'spinner'"
    )

    span.btn-text {{ saving ? 'Saving' : 'Save'}}
    //- show if restart is checked
    span.btn-text(
      ng-if = "popoverSaveOptions.data.restartOnSave"
    ) #{''} and Restart
  button.btn.green.btn-icon.btn-icon-sm.btn-save-options(
    ng-class = "{active: popoverSaveOptions.data.show}"
    ng-disabled = "loading || saving || modifyingInstance"
    pop-over
    pop-over-active = "popoverSaveOptions.data.show"
    pop-over-actions = "popoverSaveOptions.actions"
    pop-over-data = "popoverSaveOptions.data"
    pop-over-options = "{\"left\":-146,\"top\":56}"
    pop-over-template = "viewInstancePopoverSaveOptions"
    type = "button"
  )
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )
//- end button, remove with $root.featureFlags.saveToolbar
//- ***********************