.popover.menu.bottom.popover-primary-options(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white
  .popover-content
    ul.popover-list
      li.popover-list-item(
        ng-class = "{'no-actions': loading}"
      )
        label.row.label-checkbox Restart on save
          input.input-checkbox(
            checked
            ng-model = "data.restartOnSave"
            type = "checkbox"
          )