.popover.bottom.popover-dns-mappings(
  ng-class = "{'in': active}"
  ng-init = "\
    dnsMappings = [\
      {name: 'data-dog', elasticHostname: 'datadog-staging-CodeNow.runnableapp.com', branch: 'master', sandbox: 'Private Sandbox (runnabro)'},\
      {name: 'mavis', elasticHostname: 'mavis-staging-CodeNow.runnableapp.com', branch: 'master', sandbox: 'Private Sandbox (runnabro)'},\
      {name: 'neo4j', elasticHostname: 'neo4j-staging-CodeNow.runnableapp.com', branch: 'master', sandbox: 'Private Sandbox (runnabro)'},\
      {name: 'optimus', elasticHostname: 'optimus-staging-CodeNow.runnableapp.com', branch: 'master', sandbox: 'Private Sandbox (runnabro)'},\
      {name: 'runnable-angular', elasticHostname: 'runnable-angular-staging-CodeNow.runnableapp.com', branch: 'master', sandbox: 'Private Sandbox (runnabro)'}\
    ];\
    state.view = 1;\
  "
  ng-style = "popoverStyle.getStyle()"
  style = "transform-origin: 50% 0"
)
  .arrow
  .popover-views
    div(
      ng-class = "{\
        'view-1': state.view === 1,\
        'view-2': state.view === 2\
      }"
      style = "min-height: {{dnsMappings.length*42 + 36}}px"
    )

      .popover-view(
        ng-style = "state.view === 1 && {'opacity': '1'}"
      )
        .popover-header DNS Mappings

        .tr.multi-line.clearfix(
          ng-repeat = "item in dnsMappings"
        )
          .cell.text-overflow {{item.name}}
            small.small.text-overflow(
              title = "{{item.elasticHostname}}"
            ) {{item.elasticHostname}}
          .cell.text-overflow {{item.branch}}
            small.small.text-overflow {{item.sandbox}}
            svg.iconnables.icons-arrow-forward.float-right
              use(
                xlink:href = "#icons-arrow-down"
              )