.primary-actions
  button.btn.gray(
    ng-click = "actions.stopInstance()"
    ng-if = "!modifyingInstance && instance.build.attrs.completed && instance.containers.models[0].running()"
  ) Stop Container

  button.btn.gray(
    ng-click = "actions.startInstance()"
    ng-if = "!modifyingInstance && instance.build.attrs.completed && !instance.containers.models[0].running()"
    ng-disabled = "modifyingInstance"
  ) Start Container

  button.btn.gray.btn-spinner.in(
    ng-if = "modifyingInstance"
    disabled
  )
    .spinner-wrapper.spinner-sm.spinner-gray.in(
      ng-include = "'spinner'"
    )
    span.btn-text(
      ng-if = "starting"
    ) Starting Container
    span.btn-text(
      ng-if = "!starting"
    ) Stopping Container
