.popover.bottom.popover-dns-mappings(
  ng-class = "{'in': active}"
  ng-init = "\
    dnsMappings = [\
      {name: 'data-dog', branch: 'master'},\
      {name: 'mavis', branch: 'master'},\
      {name: 'neo4j', branch: 'master'},\
      {name: 'optimus', branch: 'master'},\
      {name: 'runnable-angular', branch: 'master'}\
    ];\
    state.view = 1;\
  "
  ng-style = "popoverStyle.getStyle()"
  style = "transform-origin: 50% 0"
)
  .arrow
  .popover-views
    div(
      ng-class = "{\
        'view-1': state.view === 1,\
        'view-2': state.view === 2\
      }"
      style = "min-height: {{dnsMappings.length*36 + 36}}px"
    )

      .popover-view(
        ng-style = "state.view === 1 && {'opacity': '1'}"
      )
        .popover-header DNS Mappings

        .tr.clearfix(
          ng-repeat = "item in dnsMappings"
        )
          .cell.text-overflow {{item.name}}
          .cell.text-overflow {{item.branch}}
            svg.iconnables.icons-arrow-forward.float-right
              use(
                xlink:href = "#icons-arrow-down"
              )