.primary-actions
  .btn-group
    //- apply .with-restart if save restarts box
    //- add title = "Save and Restart Box" if save restarts box
    button.green.btn-save(
      ng-class = "{in: saving}"
      ng-click = "saveChanges()"
      ng-disabled = "!instance.containers.models[0].running() || loading"
      type = "button"
    )
      span.btn-text Save
      //- show if restart is checked
      span.btn-text(
        ng-if = "restartOnSave"
      ) #{''} and Restart
    button.green.btn-icon.btn-icon-sm.btn-save-options(
      ng-class = "{active: popoverSaveOptions.data.show}"
      ng-disabled = "!instance.containers.models[0].running() || loading"
      toggle-pop-over
      toggle-pop-over-model = "popoverSaveOptions.data.show"
      type = "button"
    )
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
      pop-over(
        actions = "popoverSaveOptions.actions"
        data = "popoverSaveOptions.data"
        template = "viewInstancePopoverSaveOptions"
      )
