.modal-backdrop.in
  //- calculate height of list (565px)?
  form.modal-dialog.modal-settings(
    style = "min-height: {{data.verified ? '565px' : '565px'}}"
  )
    header.modal-header
      .container-title-wrapper.no-touching
        .container-title CodeNow Settings

      .row.modal-tabs.clearfix
        button.btn.btn-radio.active
          img.img.iconnables(
            height = "24"
            src = "/build/images/logos/logo-icon-slack.svg"
            width = "24"
          )
          .btn-text Slack Integration
        button.btn.btn-radio(
          disabled
        )
          svg.iconnables
            use(
              xlink:href = "#icons-billing"
            )
          .btn-text Billing
            .btn.btn-xxs.orange.no-touching Coming Soon
        button.btn.btn-radio(
          disabled
        )
          svg.iconnables
            use(
              xlink:href = "#icons-team"
            )
          .btn-text Team
            .btn.btn-xxs.orange.no-touching Coming Soon

    section.modal-body.js-animate(
      ng-class = "{'sliding': data.verified}"
    )
      //- .spinner-wrapper.spinner-md.in(
      //-   ng-include = "'spinner'"
      //- )
      div.form-integrations(
        ng-include = "'formIntegrations'"
      )

    footer.modal-footer.clearfix
      button.btn.white(
        ng-click = "defaultActions.close()"
      ) Done
