.modal-dialog.modal-alert
  section.modal-body
    p.p.strong Are you sure you want to delete your private Sandbox?
  footer.modal-footer
    button.btn.red.float-right Delete Private Sandbox
    button.btn.white.btn-cancel(
      ng-click = "defaultActions.close()"
    ) Cancel