.modal-dialog.modal-alert
  section.modal-body
    p.p.strong Are you sure you want to delete your private Sandbox?
  footer.modal-footer.clearfix
    button.btn.white.float-left(
      ng-click = "defaultActions.close()"
    ) Cancel
    button.btn.red.float-right Delete Private Sandbox