.popover.bottom.popover-actions(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white
  .popover-content
    ul.list.popover-list
      li.list-item.popover-list-item
        svg.iconnables.icons-trash
          use(
           xlink:href = "#icons-trash"
          )
        | New environment
      li.divider
      li.list-item.popover-list-item.small This environment
      li.list-item.popover-list-item
        svg.iconnables.icons-trash
          use(
           xlink:href = "#icons-trash"
          )
        | Rename environment
      li.list-item.popover-list-item
        svg.iconnables.icons-trash
          use(
           xlink:href = "#icons-trash"
          )
        | Delete environment