img.grid-block.shrink.anchor-left(
  height = "27"
  ng-src = "{{dataInstance.data.commit.attrs.author.avatar_url}}"
)

.grid-block.vertical
  h4.h4.text-overflow(
    title = "{{dataInstance.data.instance.getRepoAndBranchName()}}"
  ) {{dataInstance.data.showUpdatedMessage ? 'Deployed' : 'Building' }}&#32;
    span.strong {{dataInstance.data.instance.getMasterPodName()}}
    span(
      ng-if = "dataInstance.data.instance.getBranchName()"
    ) /{{dataInstance.data.instance.getBranchName()}}
  .small {{dataInstance.data.commit.attrs.author.login}} pushed&#32;
    a.link(
      ng-href = "{{dataInstance.data.commit.attrs.html_url}}"
      target = "_blank"
    ) {{dataInstance.data.commit.attrs.sha | limitTo:7}}

svg.iconnables.icons-close(
  ng-click = "\
    dataInstance.data.showUpdatedMessage = false;\
    dataInstance.data.showUpdatingMessage = false;\
  "
)
  use(
    xlink:href = "#icons-close"
  )
