svg.grid-block.shrink.anchor-left.iconnables.icons-alert
  use(
    xlink:href = "#icons-alert-alt"
  )

.grid-block.vertical
  h4.h4.text-overflow Hang tight — we’re setting up your app.
  .small There’s more to see once it’s ready.&#32;
    | {{ 'is in demo flow' ? 'It should only take a minute.' : 'Build time varies depending on your services.' }}
