svg.grid-block.shrink.anchor-left.iconnables.icons-alert
  use(
    xlink:href = "#icons-alert-alt"
  )

.grid-block.vertical
  h4.h4.text-overflow Hang tight—We’re setting up your app.
  .small There’s more to see once your app is done building. It should only take a minute.
