svg.iconnables.icons-close(
  ng-click = "$root.featureFlags.trialEnding = false"
)
  use(
    xlink:href = "#icons-close"
  )

.grid-block.vertical.align-center.form-trial.padding-md(
  ng-include = "'trialForm'"
  ng-init = "state.fromNotification = true"
)
