.grid-block(
  ng-if = "dataInstance.data.instance.isMigrating() && (!$root.featureFlags.demoMultiTierBuilding || !CI.isInGuide())"
  ng-include = "'migrationNotificationView'"
)

.grid-block(
  ng-if = "!dataInstance.data.instance.isMigrating() && (!$root.featureFlags.demoMultiTierBuilding || !dataInstance.data.demoFlowFlags.showHangTightMessage)"
  ng-include = "'buildNotificationView'"
)

.grid-block(
  ng-if = "$root.featureFlags.demoMultiTierBuilding && dataInstance.data.demoFlowFlags.showHangTightMessage"
  ng-include = "'firstBuildNotificationView'"
)
