.grid-block(
  ng-if = "dataInstance.data.instance.isMigrating() && (!$root.featureFlags.demoMultiTierBuilding || !CI.isInGuide())"
  ng-include = "'migrationNotificationView'"
)

.grid-block(
  ng-if = "!dataInstance.data.instance.isMigrating() && (!$root.featureFlags.demoMultiTierBuilding || !CI.showHangTightMessage())"
  ng-include = "'buildNotificationView'"
)

.grid-block(
  ng-if = "CI.showHangTightMessage()"
  hang-tight
  instance = "dataInstance.data.instance"
)
