.grid-block.shrink.anchor-left
  img.gravatar(
    height = "27"
    ng-src = "{{dataInstance.data.commit.attrs.author.avatar_url}}"
    ng-if = "!dataInstance.data.instance.isMigrating()"
    width = "27"
  )
  svg.iconnables.icons-alert(
    ng-if = "dataInstance.data.instance.isMigrating()"
  )
    use(
      xlink:href = "#icons-alert-alt"
    )

.grid-block.vertical(
  ng-if = "dataInstance.data.instance.isMigrating()"
)
  h4.h4.text-overflow Container Temporarily Unavailable
  .small We’re migrating your container to another server. You can rebuild your container to migrate immediately.
  //- should open intercom link
  a.small.link.icons-intercom(
    ng-if = "$root.featureFlags.intercomOnMigration"
  ) Chat with us if you keep having issues.

.grid-block.vertical(
  ng-if = "!dataInstance.data.instance.isMigrating()"
)
  h4.h4.text-overflow(
    title = "{{dataInstance.data.instance.getRepoAndBranchName()}}"
  ) {{dataInstance.data.showUpdatedMessage ? 'Deployed' : 'Building' }}&#32;
    span.strong {{dataInstance.data.instance.getMasterPodName()}}
    span(
      ng-if = "dataInstance.data.instance.getBranchName()"
    ) /{{dataInstance.data.instance.getBranchName()}}
  .small {{dataInstance.data.commit.attrs.author.login}} pushed&#32;
    a.link(
      ng-href = "{{dataInstance.data.commit.attrs.html_url}}"
      target = "_blank"
    ) {{dataInstance.data.commit.attrs.sha | limitTo:7}}

svg.iconnables.icons-close(
  ng-click = "dataInstance.data.showUpdatedMessage = false; dataInstance.data.showUpdatingMessage = false"
  ng-if = "!dataInstance.data.instance.isMigrating()"
)
  use(
    xlink:href = "#icons-close"
  )
