.grid-block(
  ng-if = "dataInstance.data.instance.isMigrating() && (!$root.featureFlags.demoMultiTierBuilding || !CI.isInGuide())"
  ng-include = "'migrationNotificationView'"
)

.grid-block(
  ng-if = "!dataInstance.data.instance.isMigrating() && (!$root.featureFlags.demoMultiTierBuilding || !dataInstance.data.demoFlowFlags.showHangTightMessage)"
  ng-include = "'buildNotificationView'"
)

.grid-block(
  ng-if = "$root.featureFlags.demoMultiTierBuilding && dataInstance.data.demoFlowFlags.showHangTightMessage"
  hang-tight
  instance = "dataInstance.data.instance"
  demo-flow-flags = "dataInstance.data.demoFlowFlags"
)
