.anchor-left
  img.gravatar(
    height = "27"
    ng-src = "{{dataInstance.data.commit.attrs.author.avatar_url}}"
    ng-if = "!$root.featureFlags.migrationNotification"
    width = "27"
  )
  .btn.btn-xxs.btn-icon.btn-state.no-touching(
    ng-if = "!$root.featureFlags.migrationNotification"
  )
    //- if updated
    svg.iconnables.icons-check(
      ng-if = "dataInstance.data.showUpdatedMessage"
    )
      use(
        xlink:href = "#icons-fat-check"
      )

    //- if updating
    svg.iconnables.icons-warning(
      ng-if = "dataInstance.data.showUpdatingMessage"
    )
      use(
        xlink:href = "#icons-warning"
      )

  svg.iconnables.icons-alert(
    ng-if = "$root.featureFlags.migrationNotification"
  )
    use(
      xlink:href = "#icons-alert-alt"
    )

//- if migrating a building container
  - <h4> "Build Restarting"
  - <.small> "We’ve run into an issue and are migrating your container to a healthy server. Your container will rebuild automatically."

//- if migrating a starting container
  - <h4> "Starting Container"
  - <.small> "We’ve run into an issue and are migrating your container to a healthy server. Starting your container may take longer than usual."

//- if migrating a running container
  - <h4> "Container Temporarily Unavailable"
  - <.small> "We’ve run into an issue and are migrating your container to a healthy server. Your container will be unavailble until migration is complete."

//- if migrating a stopping container (and attempted to start),
//- if migrating a stopped container (and attempted to start)
//- if migrating a crashed container (and attempted to start)
  - <h4> "Starting Container"
  - <.small> "We’ve run into an issue and are migrating your container to a healthy server. Your container will take longer than normal to complete this action"

h4.h4.text-overflow(
  ng-if = "$root.featureFlags.migrationNotification"
) Container Temporarily Unavailable

.small(
  ng-if = "$root.featureFlags.migrationNotification"
) We’ve run into an issue and are migrating your container to a healthy server. Your container will be unavailble until migration is complete.

h4.h4.text-overflow(
  ng-if = "!$root.featureFlags.migrationNotification"
  title = "{{dataInstance.data.instance.getRepoAndBranchName()}}"
) {{dataInstance.data.showUpdatedMessage ? 'Deployed' : 'Building' }}&#32;
  span.strong {{dataInstance.data.instance.getRepoName() || dataInstance.data.instance.getDisplayName()}}
  span(
    ng-if = "dataInstance.data.instance.getBranchName()"
  ) /{{dataInstance.data.instance.getBranchName()}}

.small(
  ng-if = "!$root.featureFlags.migrationNotification"
) {{dataInstance.data.commit.attrs.author.login}} pushed&#32;
  a.link(
    ng-href = "{{dataInstance.data.commit.attrs.html_url}}"
    target = "_blank"
  ) {{dataInstance.data.commit.attrs.sha | limitTo:7}}

button.btn.btn-icon.btn-close(
  ng-click = "dataInstance.data.showUpdatedMessage = false; dataInstance.data.showUpdatingMessage = false"
)
  svg.iconnables.icons-close
    use(
      xlink:href = "#icons-close"
    )
