.grid-block(
  ng-include = "'migrationNotificationView'"
  ng-if = "dataInstance.data.instance.isMigrating()"
)

.grid-block(
  ng-include = "'buildNotificationView'"
  ng-if = "!dataInstance.data.instance.isMigrating()"
)

.grid-block(
  ng-include = "'migrationNotificationView'"
  ng-if = "$root.featureFlags.trialEnding"
)

svg.iconnables.icons-close(
  ng-click = "\
    dataInstance.data.showUpdatedMessage = false;\
    dataInstance.data.showUpdatingMessage = false;\
  "
)
  use(
    xlink:href = "#icons-close"
  )
