.grid-block(
  ng-if = "dataInstance.data.instance.isMigrating() && !$root.featureFlags.trialEnding"
  ng-include = "'migrationNotificationView'"
)

.grid-block(
  ng-if = "!dataInstance.data.instance.isMigrating() && !$root.featureFlags.trialEnding"
  ng-include = "'buildNotificationView'"
)

.grid-block.vertical(
  ng-if = "!dataInstance.data.instance.isMigrating() && $root.featureFlags.trialEnding"
  ng-include = "'trialEndingNotificationView'"
)
