.secondary-actions
  button.white.btn-action(
    modal
    modal-actions = "actions"
    modal-data = "data"
    modal-template = "viewModalSignIn"
    title = "Edit Server"
    type = "button"
  )
    svg.iconnables.icons-edit
      use(
        xlink:href = "#icons-edit"
      )
    | Edit