.popover.popover-fixed(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
)
  .popover-content

    //- if filename
    h3.popover-title(
      ng-if = "false"
    ) New Filename Replace Rule
    //- if string
    h3.popover-title(
      ng-if = "true"
    ) New String Replace Rule
      //- if existing rule
      button.btn.btn-xs.gray(
        ng-if = "false"
      )
        svg.iconnables.icons-trash
          use(
            xlink:href = "#icons-trash"
          )
        | Delete Rule
      small.small Rules are case-sensitive and trailing whitespace is not trimmed.
        br
        | Regular expressions are not supported.

    .label-row
      label.label-col Find
        input.input.input-sm.monospace(
          spellcheck = "false"
        )
      .span-col →
      label.label-col Replace
        input.input.input-sm.monospace(
          spellcheck = "false"
        )

    small.small.table-details(
      ng-if = "data.saving"
    ) Replacing 2 of 2 strings

    //- verification table
    .table.table-diff(
      ng-if = "data.saving"
    )
      .tr.thead.clearfix
        label.cell.cell-checkbox
          input.input-checkbox(
            checked
            type = "checkbox"
          )
          | index.html, Line 18
      .tr.tr-deletion.clearfix
        .cell.monospace - userName: username
      .tr.tr-addition.clearfix
        .cell.monospace + userName: account.oauthName()

    //- verification table (2)
    .table.table-diff(
      ng-if = "data.saving"
    )
      .tr.thead.clearfix
        label.cell.cell-checkbox
          input.input-checkbox(
            checked
            type = "checkbox"
          )
          | setup.yml, Line 1
      .tr.tr-deletion.clearfix
        .cell.monospace - userName: username
      .tr.tr-addition.clearfix
        .cell.monospace + userName: account.oauthName()

  .popover-footer.clearfix
    button.btn.green.btn-spinner(
      ng-class = "{in: data.saving}"
      ng-click = "data.saving = true"
      ng-disabled = "data.saving"
    )
      //- spinner
      .spinner-wrapper.spinner-sm.spinner-white.in(
        ng-if = "data.saving"
        ng-include = "'spinner'"
      )
      span(
        ng-if = "!data.saving"
      ) Search for matches
      span(
        ng-if = "data.saving"
      ) Searching
    button.btn.green(
      ng-if = "data.searched"
    ) Create rule
    button.btn.gray.btn-cancel Cancel