//- for theme and full-screen controls
.floating-controls(
  ng-include = "'viewFloatingControls'"
)

p.p(
  ng-if = "instance.isMigrating()"
) Container Temporarily Unavailable

ul(
  ng-if = "!instance.isMigrating()"
)
  li.btn.btn-open-tab(
    ng-click = "openItems.addTerminal()"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-start-cmd"
      )
    | Terminal
  li.btn.btn-open-tab(
    ng-click = "openItems.addBuildStream()"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-build-logs"
      )
    | Build Logs
  li.btn.btn-open-tab(
    ng-click = "openItems.addLogs()"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-cmd-logs"
      )
    //- this should say Test Logs if this is a test container
    | CMD Logs
