//- tabs
.grid-block.views-tabs(
  debug-container = "debugContainer"
  instance = "instance"
  open-items = "openItems"
  tabs
)
.active-panel(
  ng-class = "{\
    'ace-runnable-dark': !$root.featureFlags.imAfraidOfTheDark,\
    'ace-runnable-light': $root.featureFlags.imAfraidOfTheDark\
  }"
  ng-if = "openItems.activeHistory.last().state.type === 'BuildStream' && (instance || debugContainer)"
)
  .build-log-wrapper(
    build-logs
    debug-container = "debugContainer"
    instance = 'instance'
    ng-class = "{\
      'logs-runnable-dark': !$root.featureFlags.imAfraidOfTheDark,\
      'logs-runnable-light': $root.featureFlags.imAfraidOfTheDark\
    }"
    ng-style = "($root.featureFlags.themeToggle || $root.featureFlags.fullScreenToggle) && {'padding-right': '42px'}"
    scroll-glue
  )

//- active panel
.active-panel(
  ng-class = "{\
    'ace-runnable-dark': !$root.featureFlags.imAfraidOfTheDark,\
    'ace-runnable-light': $root.featureFlags.imAfraidOfTheDark\
  }"
  ng-repeat = "item in openItems.models"
  ng-show = "item === openItems.activeHistory.last() && item.state.type !== 'BuildStream'"
)

  //- save toolbar
  .views-toolbar(
    ng-if = "$root.featureFlags.saveToolbar"
    ng-include = "'saveToolbarView'"
  )

  //- debug toolbar
  .views-toolbar.orange(
    ng-if = "showDebugCmd"
    ng-include = "'debugToolbarView'"
  )

  //- backup toolbar
  .views-toolbar(
    ng-if = "$root.featureFlags.backup"
    ng-include = "'backupToolbarView'"
  )

  //- test toolbar
  .views-toolbar(
    ng-class = "{\
      'green': instance.status() === 'stopped',\
      'orange': instance.status() === 'running',\
      'red': instance.status() === 'crashed'\
    }"
    ng-if = "$root.featureFlags.testingFeature && instance.attrs.isTesting && instance.getRepoName()"
    ng-include = "'testingToolbarView'"
  )

  .floating-controls(
    ng-if = "$root.featureFlags.fullScreenToggle || $root.featureFlags.themeToggle"
    ng-include = "'viewFloatingControls'"
  )
  //- cmd logs
  .grid-block.vertical.term-js.term-log(
    controller = "BoxLogController"
    debug-container = "debugContainer"
    instance = 'instance'
    log-term
    ng-if = "item.state.type === 'LogView' && !instance.isMigrating()"
  )

  //- terminal
  .grid-block.vertical.term-js(
    controller = "TermController"
    debug-container = "debugContainer"
    instance = 'instance'
    tab-item = "item"
    log-term
    ng-if = "item.state.type === 'Terminal' && !instance.isMigrating()"
  )

  //- files
  .ace-container(
    file = "item"
    file-editor
    instance = "instance"
    ng-if = "item.state.type === 'File' && !instance.isMigrating()"
    use-auto-update = "useAutoUpdate"
  )
  .blank-panel(
    ng-if = "['LogView', 'Terminal', 'File'].includes(item.state.type) && instance.isMigrating()"
  )
    p.p Container Temporarily Unavailable

  //- backup
  .build-log-wrapper(
    ng-class = "{\
      'logs-runnable-dark': !$root.featureFlags.imAfraidOfTheDark,\
      'logs-runnable-light': $root.featureFlags.imAfraidOfTheDark\
    }"
    ng-if = "item.state.type === 'BackupStream'"
    ng-include = "'backupLogsView'"
  )

  div(
    current-model = "instance.attrs"
    env-vars
    ng-if = "item.state.type === 'EnvVars'"
    state-model = "stateModel"
    validation = "validation.env"
  )
    span.js-char-width 0

//- blank state
.active-panel(
  ng-class = "{\
    'ace-runnable-dark': !$root.featureFlags.imAfraidOfTheDark,\
    'ace-runnable-light': $root.featureFlags.imAfraidOfTheDark\
  }"
  ng-if = "openItems.models.length === 0"
)
  .blank-panel(
    ng-include = "'blankPanelView'"
  )
