.spinner-container.spinner-backdrop.spinner-md.in(
  ng-if = "loading"
  ng-include = "'spinner'"
)

.logs(
  ng-controller = "BuildLogController"
  log-build
  ng-if = "item.state.type === 'BuildStream'"
)

.logs(
  ng-controller = "BoxLogController"
  log-build
  ng-if = "item.state.type === 'LogView'"
)

pre.pre(
  ng-class = "{readonly: data.readOnly}"
  ng-if = "item.state.type === 'File'"
  ng-init = "wrapperFunc = actions.wrapWithItem(item)"
  ng-model = "openItems.activeHistory.last().state.body"
  readonly = "{{ (data.readOnly) ? 'true' : 'false' }}"
  ui-ace = "{ \
    onLoad: wrapperFunc, \
    onFocus: actions.onFocus \
  }"
)

.term-container(
  ng-if = "item.state.type === 'Terminal'"
  term
  item = "item"
)
  span.js-char-width 0

.web-container(
  web-view
  ng-if = "item.state.type === 'WebView'"
)

button.btn.silver.editor-status(
  disabled
  ng-if = "(data.readOnly && item.state.type === 'File') || \
           (item.state.type === 'EnvVars' && item.state.readOnly)"
  type = "button"
) Readonly
