//- tabs
.views-tabs(
  open-items = "openItems"
  instance = "instance"
  show-add-buttons = "showBackgroundButtons"
  tabs
)

//- toolbar
.views-toolbar-wrapper(
  ng-class = "{\
    'toolbar-lg': (showBuildFailurePrompt() || shouldShowUpdateConfigsPrompt) && $root.featureFlags.saveToolbar,\
    'ace-runnable-dark': !$root.featureFlags.imAfraidOfTheDark,\
    'ace-runnable-light': $root.featureFlags.imAfraidOfTheDark\
  }"
  ng-if = "\
    showBuildFailurePrompt() || \
    shouldShowUpdateConfigsPrompt || \
    $root.featureFlags.saveToolbar\
  "
  ng-include = "'viewToolbar'"
)

//- active panel
.active-panel(
  ng-class = "{\
    'ace-runnable-dark': !$root.featureFlags.imAfraidOfTheDark,\
    'ace-runnable-light': $root.featureFlags.imAfraidOfTheDark\
  }"
  ng-repeat = "item in openItems.models"
  ng-show = "item === openItems.activeHistory.last()"
)

  button.btn.btn-xs.ace-toggle(
    ng-click = "$root.featureFlags.imAfraidOfTheDark = !$root.featureFlags.imAfraidOfTheDark"
    ng-if = "$root.featureFlags.themeToggle"
    title = "Change Theme"
  )
    svg.iconnables.icons-theme
      use(
        xlink:href = "#icons-theme"
      )

  //- logs
  .term-js.term-log(
    log-term
    ng-controller = "BuildLogController"
    ng-if = "item.state.type === 'BuildStream'"
  )

  .term-js.term-log(
    log-term
    ng-controller = "BoxLogController"
    ng-if = "item.state.type === 'LogView'"
  )

  //- terminal
  .term-js(
    log-term
    ng-controller = "TermController"
    ng-if = "item.state.type === 'Terminal'"
  )

  //- files
  div(
    file = "item"
    file-editor
    loading = "loading"
    ng-if = "item.state.type === 'File'"
    use-auto-update = "useAutoUpdate"
  )

  div(
    current-model = "instance.attrs"
    env-vars
    ng-if = "item.state.type === 'EnvVars'"
    state-model = "stateModel"
    validation = "validation.env"
  )
    span.js-char-width 0

//- blank state
.blank-panel(
  ng-if= "openItems.models.length === 0 && showBackgroundButtons"
)
  ul.blank-panel-group
    li.btn.btn-sm(
      ng-click = "openItems.addTerminal()"
      ng-if = "showBackgroundButtons.term"
    )
      svg.iconnables
        use(
          xlink:href = "#icons-start-cmd"
        )
      | Terminal
    li.btn.btn-sm(
      ng-click = "openItems.addBuildStream()"
      ng-if = "showBackgroundButtons.build"
    )
      svg.iconnables
        use(
          xlink:href = "#icons-build-logs"
        )
      | Build Logs
    li.btn.btn-sm(
      ng-click = "openItems.addLogs()"
      ng-if = "showBackgroundButtons.server"
    )
      svg.iconnables.icons-server
        use(
          xlink:href = "#icons-cmd-logs"
        )
      | CMD Logs