//- tabs
.views-toolbar(
  open-items= "openItems"
  tabs
)
div(
  add-tab
  show-add-buttons = "showBackgroundButtons"
  open-items = "openItems"
  ng-if = "showBackgroundButtons"
)
//- active panel
.active-panel(
  ng-class = "colorScheme.getSchemeStyle()"
  ng-repeat = "item in openItems.models"
  ng-show = "item === openItems.activeHistory.last()"
)
  .logs(
    ng-controller = "BuildLogController"
    log-term
    ng-if = "item.state.type === 'BuildStream'"
  )
  .logs(
    ng-controller = "BoxLogController"
    log-term
    ng-if = "item.state.type === 'LogView'"
  )
  .term-container(
    ng-if = "item.state.type === 'File'"
    file-editor
    file = "item"
    use-auto-update = "useAutoUpdate"
  )
  .term-container(
    ng-if = "item.state.type === 'Terminal'"
    term
    item = "item"
  )
    span.js-char-width 0

  .web-container(
    web-view
    ng-if = "item.state.type === 'WebView'"
  )
//- blank state
.blank-panel(
  ng-if= "openItems.models.length === 0 && showBackgroundButtons"
)
  ul.blank-panel-group
    li.btn.white(
      ng-if = "showBackgroundButtons.web"
      ng-click = "openItems.addWebView()"
    )
      svg.iconnables.iconnables-lg.icons-web
        use(
          xlink:href = "#icons-web"
        )
      | Web View
    li.btn.white(
      ng-if = "showBackgroundButtons.term"
      ng-click = "openItems.addTerminal()"
    )
      svg.iconnables.iconnables-lg.icons-terminal
        use(
          xlink:href = "#icons-terminal"
        )
      | Terminal
    li.btn.white(
      ng-if = "showBackgroundButtons.build"
      ng-click = "openItems.addBuildStream()"
    )
      svg.iconnables.iconnables-lg.icons-logs
        use(
          xlink:href = "#icons-logs"
        )
      | Build Log
    li.btn.white(
      ng-if = "showBackgroundButtons.server"
      ng-click = "openItems.addLogs()"
    )
      svg.iconnables.iconnables-lg.icons-server
        use(
          xlink:href = "#icons-server"
        )
      | Server Log

//- can .views-prompt go in its own template file?
.views-prompt.theme-dark(
  ng-class = "{hide: data.hidePrompt}"
)
  p.p.monospace Having build problems?
  button.btn.btn-close-panel(
    ng-click = "data.hidePrompt = true"
  )
    svg.iconnables.icons-close
      use(
        xlink:href = "#icons-close"
      )
  button.btn.orange
    svg.iconnables.icons-edit
      use(
        xlink:href = "#icons-edit"
      )
    | Edit build files
  button.btn.white Rebuild w/out cache