//- tabs
.views-toolbar(
  open-items = "openItems"
  instance = "instance"
  show-add-buttons = "showBackgroundButtons"
  tabs
)

//- active panel
.active-panel.ace-runnable-dark(
  ng-repeat = "item in openItems.models"
  ng-show = "item === openItems.activeHistory.last()"
)
  //- logs
  .logs(
    log-term
    ng-controller = "BuildLogController"
    ng-if = "item.state.type === 'BuildStream'"
  )

  .logs(
    log-term
    ng-controller = "BoxLogController"
    ng-if = "item.state.type === 'LogView'"
  )

  //- terminal
  .logs(
    ng-if = "item.state.type === 'Terminal'"
    ng-controller = "TermController"
    log-term
  )

  //- files
  div(
    file = "item"
    file-editor
    ng-if = "item.state.type === 'File'"
    use-auto-update = "useAutoUpdate"
    loading = "loading"
  )

  div(
    current-model = "instance.attrs"
    env-vars
    ng-if = "item.state.type === 'EnvVars'"
    state-model = "stateModel"
    validation = "validation.env"
  )
    span.js-char-width 0

//- blank state
.blank-panel(
  ng-if= "openItems.models.length === 0 && showBackgroundButtons"
)
  ul.blank-panel-group
    li.btn.btn-sm(
      ng-click = "openItems.addTerminal()"
      ng-if = "showBackgroundButtons.term"
    )
      svg.iconnables.icons-terminal
        use(
          xlink:href = "#icons-terminal"
        )
      | Terminal
    li.btn.btn-sm(
      ng-click = "openItems.addBuildStream()"
      ng-if = "showBackgroundButtons.build"
    )
      svg.iconnables.icons-logs
        use(
          xlink:href = "#icons-logs"
        )
      | Build Logs
    li.btn.btn-sm(
      ng-click = "openItems.addLogs()"
      ng-if = "showBackgroundButtons.server"
    )
      svg.iconnables.icons-server
        use(
          xlink:href = "#icons-server"
        )
      | CMD Logs

//- can .views-prompt go in its own template file?
.views-prompt.theme-dark.hide(
  ng-class = "{hide: !showBuildFailurePrompt()}"
)
  p.p.monospace Having build problems?
  .btn-container
    button.btn(
      ng-class = "{white: !highlightRebuildWithoutCache, orange: highlightRebuildWithoutCache}"
      ng-click = "actions.buildWithoutCache()"
    ) Rebuild w/o cache
    button.btn.btn-close-prompt(
      ng-click = "actions.hideBuildFailurePrompt()"
    )
      svg.iconnables.icons-close
        use(
          xlink:href = "#icons-close"
        )
//- can .views-prompt go in its own template file?
.views-prompt.theme-dark.hide(
  ng-class = "{hide: !shouldShowUpdateConfigsPrompt}"
)
  p.p.monospace The Master container was updated with new configurations, and this one is out of date
  .btn-container
    button.orange.btn(
      ng-click = "actions.updateConfigToMatchMaster()"
    ) Recreate with new configurations
    button.btn.btn-close-prompt(
      ng-click = "shouldShowUpdateConfigsPrompt = false"
    )
      svg.iconnables.icons-close
        use(
          xlink:href = "#icons-close"
        )
