p.padding-sm Now launch a new environment by pushing a branch to GitHub.
.commands-wrapper
  .small.padding-top-sm.padding-left-sm.padding-right-sm
    | Try in your terminal:
    .btn.btn-xxs.float-right Copy
  .monospace.padding-sm.
    git clone https://github.com/CodeNow/node-starter.git
    cd node-starter
    git checkout -b my-branch
    git push origin my-branch

//- if in demo flow
.small.padding-sm.text-gray.weight-light Or we can&#32;
  span.link create a branch
  | &#32;for you.

//- if not in demo flow
//- .small.padding-sm.text-gray Or just&#32;
  span.link launch the latest branch
  | .
