p.padding-sm Launch a new environment by creating a branch.
  .small.padding-sm.instructions
    | Paste in your terminal:
    .btn.btn-xxs.float-right Copy
  .monospace.padding-sm.padding-top-none
    | git clone https://github.com/CodeNow/node-starter.git
    | cd node-starter
    | git checkout -b my-branch
    | git push origin my-branch
  .small.link.padding-sm.text-gray.text-right Do It for Me
