p.padding-sm Now launch a new environment by pushing a branch to GitHub.
.commands-wrapper
  .small.padding-top-sm.padding-left-sm.padding-right-sm
    | Try in your terminal:
    //- tooltip should work like the one on the Copy button for container URLs
    button.btn.btn-xxs.float-right(
      clipboard
      ng-click = "$event.preventDefault()"
      ng-mouseleave = "showToolTip = false"
      on-copied = "onClipboardEvent(); showToolTip = true;"
      text =  "getBranchCloneCopyText()"
      tooltip
      tooltip-active-attr = "{{showToolTip}}"
      tooltip-eval="clipboardText"
      tooltip-options = "{\"class\":\"bottom no-arrow\",\"right\":-16,\"top\":27}"
    ) Copy

  pre.monospace.padding-sm(
    ng-if = "!$root.featureFlags.demoMultiTierPRLink"
  ).
    git clone https://github.com/{{userName}}/{{instance.getRepoName()}}.git
    cd {{instance.getRepoName()}}
    git checkout -b my-branch
    git push origin my-branch

  pre.monospace.padding-sm(
    ng-if = "$root.featureFlags.demoMultiTierPRLink"
  ).
    git clone https://github.com/{{userName}}/{{instance.getRepoName()}}.git
    cd {{instance.getRepoName()}}
    git checkout {{getBranchName()}}
    echo ':)' >> README.md
    git commit -am 'a friendlier readme'
    git push origin dark-theme

.grid-block.align-center.padding-sm
  //- hide while creating branch
  .small.text-gray.weight-light(
    ng-if = "!$root.isLoading.creatingNewBranchFromDemo && !$root.featureFlags.demoMultiTierPRLink"
  ) Or we can&#32;
    span.link(
      ng-click = "createNewBranch()"
    ) create a branch
    | &#32;for you using the GitHub API.

  .small.text-gray.weight-light(
    ng-if = "!$root.isLoading.creatingNewBranchFromDemo && $root.featureFlags.demoMultiTierPRLink"
  ) Or we can&#32;
    span.link(
      ng-click = "createNewBranch()"
    ) add a branch
    | &#32;for you.

  //- show while creating branch
  .spinner-wrapper.spinner-sm.spinner-gray.margin-right-xxs(
    ng-if = "$root.isLoading.creatingNewBranchFromDemo"
    ng-include = "'spinner'"
  )
  .small.text-gray.weight-light(
    ng-if = "$root.isLoading.creatingNewBranchFromDemo"
  ) Creating branch…
