.grid-block.align-center.justify-justified.demo-progress(
  demo-progress-bar
  demo-step = 4
)

p.p.commands-wrapper.padding-sm Launch new environments by pushing a branch to GitHub.

.commands-wrapper
  .small.padding-top-sm.padding-left-sm.padding-right-sm
    | Try it in your terminal:
    //- tooltip should work like the one on the Copy button for container URLs
    button.btn.btn-xxs.btn-copy.float-right(
      clipboard
      ng-click = "$event.preventDefault()"
      ng-mouseleave = "showToolTip = false"
      on-copied = "DBC.onClipboardEvent(); showToolTip = true;"
      text =  "DBC.getBranchCloneCopyText()"
      tooltip
      tooltip-active-attr = "{{showToolTip}}"
      tooltip-eval="DBC.clipboardText"
      tooltip-options = "{\"class\":\"bottom no-arrow\",\"right\":-16,\"top\":27}"
    ) Copy
  pre.monospace.padding-sm.padding-bottom-xs
    {{DBC.getBranchCloneCopyText()}}


.grid-block.align-start.vertical.padding-sm.padding-top-xs.commands-wrapper.skip-wrapper
  //- hide while creating branch
  small.small(
    ng-if = "!$root.isLoading.creatingNewBranchFromDemo && $root.featureFlags.demoMultiTierPRLink"
  ) Or we can create a branch for you using the GitHub API.

  button.btn.btn-sm.green.margin-top-xxs(
    ng-click = "DBC.createNewBranch()"
    ng-if = "!$root.isLoading.creatingNewBranchFromDemo"
  ) Create Branch

  //- show while creating branch
  .grid-block.align-center.small.noscroll(
    ng-if = "$root.isLoading.creatingNewBranchFromDemo"
  )
    .spinner-wrapper.spinner-sm.spinner-gray.margin-right-xxs(
      ng-include = "'spinner'"
    )
    | Creating branch…
