.grid-block.align-center.justify-justified.demo-progress(
  demo-progress-bar
  demo-step = 1
)

p.grid-block.shrink.p.padding-sm Launch your first environment by forking one of these projects to your GitHub account.

.grid-block.shrink.list-fork(
  ng-include = "'setupDemoGuideView'"
)
