p.grid-block.shrink.p.weight-light.padding-sm Launch your first environment by forking one of these projects to your GitHub account.
.grid-block.shrink.list-fork(
  ng-include = "'setupDemoGuideView'"
)

.grid-block.justify-center.align-center.shrink.weight-light.popover-footer(
  data-event-name = "Clicked: Skip Demo/Use Existing Repos"
  ng-click = "AMC.addOwnRepo()"
  ng-class = "{'disabled' :$root.isLoading.startDemo}"
) Start without an example
  svg.grid-block.shrink.iconnables.icons-arrow-forward
    use(
      xlink:href = "#icons-arrow-down"
    )
