.tooltip-tools {
  font-size: 13px;
  width: 240px;

  &::before {
    left: 30px;
    right: auto;
  }

  .list {
    border-bottom: 1px solid $gray-dark;
    margin-bottom: 6px;
    padding-bottom: 6px;
  }

  .list-item {
    height: $input-xs;
    line-height: $input-xs;

    + .list-item {
      margin-top: 3px;
    }
  }

  .iconnables {
    height: 100%;
    margin-right: 9px;
    width: 14px;
  }

  .p {
    color: $gray;
  }
}
