.btn-popover-wrapper
  button.btn-sm.gray(
    toggle-pop-over
    toggle-pop-over-model = "instance.state.envShow"
    toggle-pop-over-no-broadcast = "true"
    tooltip = "Edit Environment"
    tooltip-options = "{\"class\":\"bottom\",\"left\":3,\"top\":27}"
    type = "button"
  ) ev
  pop-over(
    actions = "envPopover.actions"
    data = "instance"
    popover-options = "{\"left\":15,\"top\":24}"
    template = "viewPopoverEnvironment"
  )