main.home.server-selection
  img.logo.float-left(
    height = "45"
    src = "/build/images/runnable-logo-gray.svg"
    width = "240"
  )

  h3.h3.header-thin Choose a server to run…
  a.block-quote(
    href = "#"
    target = "_blank"
  ) {{ message }}
    small.small
      svg.iconnables.icons-branch
        use(
          xlink:href = "#icons-branch"
        )
      | {{ fullRepoName }}
    small.small
      img.gravatar(
        height = "15"
        ng-src = "{{ user.gravitar() }}"
        width = "15"
      )
      | {{ user.oauthName() }}
  //- spinner
  .spinner-wrapper.spinner-md.in(
    ng-if = "loading"
    ng-include = "'spinner'"
  )
  ol.list.list-bordered.list-divided(
    ng-show = "!loading"
  )
    li.list-item(
      ng-class = "{active: data.listExpand}"
      ng-repeat = "instance in instances.models"
    )
      .list-item-row(
        ng-click = "data.listExpand = !data.listExpand"
      )
        h4.h4.header-thin {{ instance.attrs.name }}
        svg.iconnables.icons-arrow-down
          use(
            xlink:href = "#icons-arrow-down"
          )
      .list-item-row
        p.p Fork to a new server to run your code
        button.btn.btn-sm.green(
          ng-click = "fork(instance)"
        ) Fork
      .list-item-row
        p.p Overwrite this server to run your code
        button.btn.btn-sm.green(
          ng-click = "overwrite(instance)"
        ) Overwrite