.popover.menu.right(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
  style = "transform-origin: 0 50%"
)
  .arrow.white
  .popover-content
    //- list for a non-isolated branch
    ul.list.popover-list
      li.list-item.popover-list-item(
        modal
        modal-state-model = "{modalFlip: true}"
        modal-template = "viewModalIsolation"
      )
        svg.iconnables
        | Enable Isolation…
      li.divider(
        ng-if = "$root.featureFlags.navListFilter"
      )
      li.list-item.popover-list-item(
        ng-if = "$root.featureFlags.navListFilter"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-hide"
          )
        | Hide

    //- list for an isolated branch
    ul.list.popover-list
      li.list-item
        ul
      li.list-item.popover-list-item Disable Isolation…
      li.divider(
        ng-if = "$root.featureFlags.navListFilter"
      )
      li.list-item.popover-list-item(
        ng-if = "$root.featureFlags.navListFilter"
      ) Hide