.popover.menu.right.popover-container-menu(
  ng-class = "{in: active}"
  ng-init = "state.isolationActive = false"
  ng-style = "popoverStyle.getStyle()"
  style = "transform-origin: 0 50%"
)
  .arrow.white
  //- list for a non-isolated branch
  .popover-content(
    ng-if = "state.isolationActive === false"
  )
    ul.list.popover-list
      li.list-item.popover-list-item(
        modal
        modal-state-model = "{modalFlip: true}"
        modal-template = "viewModalIsolation"
      )
        svg.iconnables
        | Enable Isolation…
      li.divider
      li.list-item.popover-list-item(
        ng-click = "state.isolationActive = true"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-star"
          )
        | Enable Isolation… (test)
      //- navListFilter
      li.divider(
        ng-if = "$root.featureFlags.navListFilter"
      )
      li.list-item.popover-list-item(
        ng-if = "$root.featureFlags.navListFilter"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-hide"
          )
        | Hide

  //- list for an isolated branch
  .popover-header(
    ng-if = "state.isolationActive === true"
  ) branch-name
    svg.iconnables.icons-advanced
      use(
        xlink:href = "#icons-advanced"
      )
  .popover-content(
    ng-if = "state.isolationActive === true"
  )
    ul.list.popover-list
      li.list-item
        ul.list.list-containers
          li.list-item.popover-list-item.disabled
            .icons-status.green
            | container-name
            svg.iconnables.icons-advanced
              use(
                xlink:href = "#icons-advanced"
              )
          li.list-item.popover-list-item.disabled
            .icons-status.green
            | container-name-2
            svg.iconnables.icons-advanced
              use(
                xlink:href = "#icons-advanced"
              )
          li.list-item.popover-list-item.disabled
            .icons-status.red
            | container-name-3
            svg.iconnables.icons-advanced
              use(
                xlink:href = "#icons-advanced"
              )
      li.divider
      li.list-item.popover-list-item
        svg.iconnables
        | Disable Isolation
      li.divider(
        ng-if = "$root.featureFlags.navListFilter"
      )
      li.list-item.popover-list-item(
        ng-if = "$root.featureFlags.navListFilter"
      ) Hide