//- h1 and p elements should say whether container is building, stopped, or crashed.
h1.h1 Container is building
p.p The container for
  strong.strong  api/my-cool-branch
  |  is building.
//- link goes to the relevant container in the containers view,
  - with build logs open if container is building
  - with CMD logs open if container is stopped or crashed
a.link(
  ui-sref = "\
               config.instance({ userName: ownerName, \
               instanceName: instanceName })\
            "
) View build logs in Runnable