//- if the user just added Runnabot and no repos have auto-launch enabled
    this should point to the first repo in instances-list that has had a branch
.popover.right.padding-sm.in(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white
  p.p Get the most out of Runnabot by adding branches automatically.
