nav.sidebar.global-sidebar.demo-sidebar(
  ng-switch = "data.page"
)
  header.row.account-header
    a.logo.logo(
      href = "#"
    )
      svg
        use(
          xlink:href = "#runnable-logo"
        )

  //-
  //- demo step 1
  //-
  p.sidebar-text(
    ng-switch-when = "1"
  ) Welcome to your first Runnable box. This text briefly describes what boxes are and what you can do with it.
  p.sidebar-text(
    ng-switch-when = "1"
  ) To save this box along with any changes you&rsquo;ve made, #{''}
    a.link.link-white.link-text(
      href = "#"
      modal
      modal-actions = "actions.actionsModalSignIn"
      modal-data = "data.dataModalSignIn"
      modal-template = "viewModalSignIn"
      ng-switch-when = "1"
    ) sign in with your Github account
    | .

  //-
  //- demo step 2
  //-
  p.sidebar-text(
    ng-switch-when = "2"
  ) We've removed our demo repo for you so you can select a repo of your own.
  a.btn.white.reversed(
    href = "/demo4"
    ng-switch-when = "2"
  ) Review Box
  a.link.link-white.link-text.sidebar-skip(
    ng-click = "actions.nextPage()"
    ng-switch-when = "2"
  ) Skip Step

  //-
  //- demo step 3
  //-
  p.sidebar-text(
    ng-switch-when = "3"
  ) Adding a repo requires an #{''}
    b.btn.btn-xxs.white.reversed(
      ng-switch-when = "3"
      tooltip = "The ADD instruction copies new files, directories or remote file URLs from <src> and adds them to the filesystem of the container at the path <dest>.[1]"
      tooltip-options = "{\"class\":\"bottom tooltip-definition\",\"left\":6,\"top\":21}"
    ) ADD
    | #{''} instruction which copies your repository files to your box.
  p.sidebar-text(
    ng-switch-when = "3"
  ) We&rsquo;re using your previous template&mdash;change it up if you want.
  button.btn.template-list.white.reversed(
    ng-click = "dataApp.data.showTemplates = true"
    ng-switch-when = "3"
  )
    img.template-image(
      alt = "node.js"
      src = "/build/images/icons/templates/icons-node.js.svg"
    )
    h2.template-title node.js
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )
  a.btn.white.reversed(
    href = "/demo4"
    ng-switch-when = "3"
  ) Next
  a.link.link-white.link-text(
    ng-click = "actions.previousPage()"
    ng-switch-when = "3"
  ) Back to adding a repo

  //-
  //- demo step 4
  //-
  p.sidebar-text(
    ng-switch-when = "4"
  ) That's it! If you want to make any changes now's your chance. Hit the Build button when you're ready to start your own box.

  //-
  //- demo error
  //-
  p.sidebar-text(
    ng-switch-default
  ) Oops!  Something went wrong on our part.  Please refresh the page.

main.content(
  ui-view
)