nav.sidebar.global-sidebar.demo-sidebar(
  ng-switch = "dataDemoLayout.data.page"
)
  a.logo.logo-icon(
    href = "#"
  )
    svg
      use(
        xlink:href = "#runnable-icon"
      )

  //-
  //- demo step 1
  //-
  h1.sidebar-header(
    ng-switch-when = "1"
  ) Welcome
  p.sidebar-paragraph(
    ng-switch-when = "1"
  ) This text briefly describes what boxes are and what you can do with it.
  p.sidebar-paragraph(
    ng-switch-when = "1"
  ) Sign in to save this box along with any changes you&rsquo;ve made.
  a.btn.btn-block.green(
    href = "#"
    modal
    modal-actions = "dataDemoLayout.actions.actionsModalSignIn"
    modal-data = "dataDemoLayout.data.dataModalSignIn"
    modal-template = "viewModalSignIn"
    ng-switch-when = "1"
  )
    svg.iconnables.icons-git
      use(
        xlink:href = "#icons-git"
      )
    | Sign In

  //-
  //- demo step 2
  //-
  h1.sidebar-header(
    ng-switch-when = "2"
  ) Add your project
  p.sidebar-paragraph(
    ng-switch-when = "2"
  ) We've removed our demo repo for you. Add a repo of yours to run on this box.
  a.link.link-text.link-secondary(
    ng-click = "dataDemoLayout.actions.nextPage()"
    ng-switch-when = "2"
  ) Skip adding a repo

  //-
  //- demo step 3
  //-
  h1.sidebar-header(
    ng-switch-when = "3"
  ) Add your project
  p.sidebar-paragraph(
    ng-switch-when = "3"
  ) We've removed our demo repo for you. Add a repo of yours to run on this box.
  a.btn.btn-block.green(
    href = "/demo4"
    ng-switch-when = "3"
  ) Next
  a.link.link-text.link-secondary(
    ng-click = "dataDemoLayout.actions.previousPage()"
    ng-switch-when = "3"
  ) Add a different repo

  //-
  //- demo step 4
  //-
  h1.sidebar-header(
    ng-switch-when = "4"
  ) Almost there!
  p.sidebar-paragraph(
    ng-switch-when = "4"
  ) You can change your template or repository. When you're ready hit the Build button when you&rsquo;re ready to start your own box.
  button.btn.btn-block.gray.template-list(
    ng-click = "dataDemoLayout.data.showTemplates = true"
    ng-switch-when = "4"
  )
    img.template-image(
      alt = "node.js"
      src = "/build/images/icons/templates/icons-node.js.svg"
    )
    h2.template-title node.js
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )

  //-
  //- demo error
  //-
  p.sidebar-paragraph(
    ng-switch-default
  ) Oops!  Something went wrong on our part.  Please refresh the page.

main.content(
  ui-view
)
