nav.sidebar.global-sidebar.demo-sidebar(
  ng-switch = "dataApp.state.$current.name"
)
  a.logo.logo-icon(
    href = "#"
  )
    svg
      use(
        xlink:href = "#runnable-icon"
      )

  //-
  //- demo step 1
  //-
  h1.sidebar-header(
    ng-switch-when = "demo.instance"
  ) Welcome
  p.sidebar-paragraph(
    ng-switch-when = "demo.instance"
  ) This is your own server running our app of something.
  p.sidebar-paragraph(
    ng-switch-when = "demo.instance"
  ) But you can run your own repositories.
  a.btn.btn-block.green(
    ng-click = "dataDemoLayout.actions.stateToDemoInstanceEdit()"
    ng-switch-when = "demo.instance"
  ) Run Your Repo

  //-
  //- demo step 2
  //-
  h1.sidebar-header(
    ng-switch-when = "demo.instanceEdit"
  ) Add your project
  p.sidebar-paragraph(
    ng-switch-when = "demo.instanceEdit"
  ) We've removed our demo repo for you. Add a repo of yours to run on this server.
  a.link.link-text.link-secondary(
    ng-click = "dataDemoLayout.actions.nextPage()"
    ng-switch-when = "demo.instanceEdit"
  ) Skip adding a repo

  //-
  //- demo step 3
  //-
  h1.sidebar-header(
    ng-switch-when = "3"
  ) Almost there!
  p.sidebar-paragraph(
    ng-switch-when = "3"
  ) You can change your template or repository. When you're ready hit the Build button when you&rsquo;re ready to start your own box.
  button.btn.btn-block.gray.template-list(
    ng-click = "dataDemoLayout.data.showTemplates = true"
    ng-switch-when = "3"
  )
    img.template-image(
      alt = "node.js"
      src = "/build/images/icons/templates/icons-node.js.svg"
    )
    h2.template-title node.js
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )

  //-
  //- demo error
  //-
  p.sidebar-paragraph(
    ng-switch-default
  ) Oops!  Something went wrong on our part.  Please refresh the page.

main.content(
  ui-view
)

pop-over(
  data = "dataDemoLayout.data.dockerInstructionPopover"
  actions = "dataDemoLayout.actions.dockerInstructionPopover"
  template = "viewDockerInstructionPopover"
  popover-options = "{\"left\":460,\"top\":152}"
)
pop-over(
  data = "dataDemoLayout.data.buildInstructionPopover"
  template = "viewBuildInstructionPopover"
  popover-options = "{\"left\":\"auto\",\"top\":54,\"right\":6}"
)

//- *
//- coach marks
//- *
//- server name mark
.guide-wrapper.guide-1(
  ng-if = "dataApp.state.$current.name === 'demo.instance' && \
           !dataDemoLayout.data.popoverCoachMarks.boxName.hasBeenViewed"
  ng-class = "{in: dataDemoLayout.data.popoverCoachMarks.boxName.show}"
  toggle-pop-over
  toggle-pop-over-model = "dataDemoLayout.data.popoverCoachMarks.boxName.show"
  style = "left: 230px; top: 12px;"
)
  .guide.guide-mark
  pop-over(
    data = "dataDemoLayout.data.popoverCoachMarks.boxName"
    popover-options = "{\"left\":-126,\"top\":33}"
    template = "viewCoachMarksBoxNamePopover"
  )

//- repo mark
.guide-wrapper.guide-2(
  ng-if = "dataApp.state.$current.name === 'demo.instance' && \
           !dataDemoLayout.data.popoverCoachMarks.repo.hasBeenViewed"
  ng-class = "{in: dataDemoLayout.data.popoverCoachMarks.repo.show}"
  toggle-pop-over
  toggle-pop-over-model = "dataDemoLayout.data.popoverCoachMarks.repo.show"
  style = "left: 450px; top: 123px;"
)
  .guide.guide-mark
  pop-over(
    data = "dataDemoLayout.data.popoverCoachMarks.repo"
    popover-options = "{\"left\":-126,\"top\":33}"
    template = "viewCoachMarksRepoPopover"
  )

//- panels mark
.guide-wrapper.guide-3(
  ng-if = "dataApp.state.$current.name === 'demo.instance' && \
           !dataDemoLayout.data.popoverCoachMarks.panel.hasBeenViewed"
  ng-class = "{in: dataDemoLayout.data.popoverCoachMarks.panel.show}"
  toggle-pop-over
  toggle-pop-over-model = "dataDemoLayout.data.popoverCoachMarks.panel.show"
  style = "left: 565px; top: 62px;"
)
  .guide.guide-mark
  pop-over(
    data = "dataDemoLayout.data.popoverCoachMarks.panel"
    popover-options = "{\"left\":-126,\"top\":33}"
    template = "viewCoachMarksPanelPopover"
  )

//- edit mark
.guide-wrapper.guide-4(
  ng-if = "dataApp.state.$current.name === 'demo.instance' && \
           !dataDemoLayout.data.popoverCoachMarks.edit.hasBeenViewed"
  ng-class = "{in: dataDemoLayout.data.popoverCoachMarks.edit.show}"
  toggle-pop-over
  toggle-pop-over-model = "dataDemoLayout.data.popoverCoachMarks.edit.show"
  style = "left: auto; right: 168px; top: 18px;"
)
  .guide.guide-mark
  pop-over(
    data = "dataDemoLayout.data.popoverCoachMarks.edit"
    popover-options = "{\"left\":-126,\"top\":33}"
    template = "viewCoachMarksEditPopover"
  )
