nav.sidebar.global-sidebar.demo-sidebar(
  ng-switch = "dataDemoLayout.data.page"
)
  a.logo.logo-icon(
    href = "#"
  )
    svg
      use(
        xlink:href = "#runnable-icon"
      )

  //-
  //- demo step 1
  //-
  h1.sidebar-header(
    ng-switch-when = "1"
  ) Welcome
  p.sidebar-paragraph(
    ng-switch-when = "1"
  ) This text briefly describes what boxes are and what you can do with it.
  p.sidebar-paragraph(
    ng-switch-when = "1"
  ) Sign in to save this box along with any changes you&rsquo;ve made.
  a.btn.btn-block.green(
    ng-href = "{{ dataDemoLayout.data.loginURL }}"
    ng-switch-when = "1"
  )
    svg.iconnables.icons-git
      use(
        xlink:href = "#icons-git"
      )
    | Sign In

  //-
  //- demo step 2
  //-
  h1.sidebar-header(
    ng-switch-when = "2"
  ) Add your project
  p.sidebar-paragraph(
    ng-switch-when = "2"
  ) We've removed our demo repo for you. Add a repo of yours to run on this box.
  a.link.link-text.link-secondary(
    ng-click = "dataDemoLayout.actions.nextPage()"
    ng-switch-when = "2"
  ) Skip adding a repo

  //-
  //- demo step 3
  //-
  h1.sidebar-header(
    ng-switch-when = "3"
  ) Almost there!
  p.sidebar-paragraph(
    ng-switch-when = "3"
  ) You can change your template or repository. When you're ready hit the Build button when you&rsquo;re ready to start your own box.
  button.btn.btn-block.gray.template-list(
    ng-click = "dataDemoLayout.data.showTemplates = true"
    ng-switch-when = "3"
  )
    img.template-image(
      alt = "node.js"
      src = "/build/images/icons/templates/icons-node.js.svg"
    )
    h2.template-title node.js
    svg.iconnables.icons-arrow-down
      use(
        xlink:href = "#icons-arrow-down"
      )

  //-
  //- demo error
  //-
  p.sidebar-paragraph(
    ng-switch-default
  ) Oops!  Something went wrong on our part.  Please refresh the page.

main.content(
  ui-view
)

pop-over(
  data = "dataDemoLayout.data.dockerInstructionPopover"
  actions = "dataDemoLayout.actions.dockerInstructionPopover"
  template = "viewDockerInstructionPopover"
  popover-options = "{\"left\":460,\"top\":152}"
)
pop-over(
  data = "dataDemoLayout.data.buildInstructionPopover"
  template = "viewBuildInstructionPopover"
  popover-options = "{\"left\":\"auto\",\"top\":54,\"right\":6}"
)

//- *
//- coach marks
//- *
//- box name mark
.guide-wrapper.guide-1(
  ng-class = "{in: popoverCoachMarksBoxName.data.show}"
  toggle-pop-over
  toggle-pop-over-model = "popoverCoachMarksBoxName.data.show"
  style = "left: 230px; top: 12px;"
)
  .guide.guide-mark
  pop-over(
    actions = "popoverCoachMarksBoxName.actions"
    data = "popoverCoachMarksBoxName.data"
    popover-options = "{\"left\":-126,\"top\":33}"
    template = "viewCoachMarksBoxNamePopover"
  )
//- repo mark
.guide-wrapper.guide-2(
  ng-class = "{in: popoverCoachMarksRepo.data.show}"
  toggle-pop-over
  toggle-pop-over-model = "popoverCoachMarksRepo.data.show"
  style = "left: 450px; top: 123px;"
)
  .guide.guide-mark
  pop-over(
    actions = "popoverCoachMarksRepo.actions"
    data = "popoverCoachMarksRepo.data"
    popover-options = "{\"left\":-126,\"top\":33}"
    template = "viewCoachMarksRepoPopover"
  )
//- panels mark
.guide-wrapper.guide-3(
  ng-class = "{in: popoverCoachMarksPanel.data.show}"
  toggle-pop-over
  toggle-pop-over-model = "popoverCoachMarksPanel.data.show"
  style = "left: 565px; top: 62px;"
)
  .guide.guide-mark
  pop-over(
    actions = "popoverCoachMarksPanel.actions"
    data = "popoverCoachMarksPanel.data"
    popover-options = "{\"left\":-126,\"top\":33}"
    template = "viewCoachMarksPanelPopover"
  )
//- edit mark
.guide-wrapper.guide-4(
  ng-class = "{in: popoverCoachMarksEdit.data.show}"
  toggle-pop-over
  toggle-pop-over-model = "popoverCoachMarksEdit.data.show"
  style = "left: auto; right: 168px; top: 18px;"
)
  .guide.guide-mark
  pop-over(
    actions = "popoverCoachMarksEdit.actions"
    data = "popoverCoachMarksEdit.data"
    popover-options = "{\"left\":-126,\"top\":33}"
    template = "viewCoachMarksEditPopover"
  )