.grid-block.align-center.justify-center.modal-backdrop.modal-ssh-auth
  .modal-dialog.modal-sm
    img.grid-block.shrink.img.runnabear(
      height = "130"
      src = "/build/images/runnabear-waving-1.png"
      width = "230"
    )
    header.modal-header
      h1.modal-heading Authorized!
    section.modal-body
      p.text-center.text-gray.padding-md You successfully authorized with GitHub.&nbsp;👍
        br.hidden-xs
        | &#32;We’ll automatically close this window.
