.popover.bottom.popover-add-repo(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow
  h3.popover-title Add Repository
  .spinner-wrapper.spinner-md.in(
    ng-show = "state.loading"
    ng-include = "'spinner'"
  )
  .popover-content(
    ng-hide = "state.loading"
  )
    input.input.input-search(
      autofocus
      ng-model = "data.repoFilter"
      placeholder = "Filter repositories"
      select-on = "data.showFilter"
      required
    )
    ul.popover-list
      li.popover-list-item(
        ng-click = "actions.addRepo(repo)"
        ng-repeat = "\
          repo in data.githubRepos.models | \
          unaddedRepos:data.contextVersion.appCodeVersions | \
          repos:data.repoFilter as newRepos"
        title = "{{ repo.attrs.full_name }}"
      )
        span {{ repo.attrs.full_name }}
      li.popover-list-item.no-actions(
      ng-if = "newRepos.length === 0"
      ) No matches
      //- li.popover-list-item.no-actions There's nothing left to add.
