.popover.bottom.menu(
  ng-class = "{in: active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow.white
  .popover-content
    ul.popover-list
      li.list-item.popover-list-item(
        ng-if = "data.canUpload"
      )
        svg.iconnables.icons-file-tree
          use(
           xlink:href = "#icons-file-upload"
          )
        | Upload File
        input.input-upload(
          ngf-change = "actions.uploadFiles($files, $event)"
          ngf-select
          ng-multiple = "true"
          type = "file"
        )
      li.divider(
        ng-if = "data.canUpload"
      )
      li.popover-list-item(
        ng-click = "actions.createFile()"
      )
        svg.iconnables.icons-file-tree
          use(
            xlink:href = "#icons-file-new"
          )
        | New File
      li.popover-list-item(
        ng-click = "actions.createFolder()"
      )
        svg.iconnables.icons-file-tree
          use(
            xlink:href = "#icons-folder-new"
          )
        | New Folder
      //- if the user can add a repository…
      li.divider(
        ng-if = "$root.featureFlags.advancedRepositories && data.canAddRepo"
      )
      li.list-item.popover-list-item(
        ng-if = "$root.featureFlags.advancedRepositories && data.canAddRepo"
        ng-click = "actions.addRepository()"
      )
        svg.iconnables.icons-file-tree
          use(
            xlink:href = "#icons-repository-new"
          )
        | Add Repository…