.popover.bottom.menu.context-menu(
  ng-class = "{in: data.show}"
  ng-style = "popoverStyle.getStyle()"
)
  .popover-content
    ul.popover-list
      li.popover-list-item(
        ng-click = "dirItemData.actions.createFile();\
          $event.stopPropagation();"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-file-new"
          )
        | New File
      li.popover-list-item(
        ng-click = "dirItemData.actions.createFolder();\
          $event.stopPropagation();"
      )
        svg.iconnables
          use(
            xlink:href = "#icons-folder-new"
          )
        | New Folder