.section-header(
  title = "api"
)
  span.text-overflow.padding-right-xxs api
  .grid-block.align-center.shrink.btn.btn-xxs.white(
    data-event-name = "Clicked Add Branch button"
    ng-click = "CIS.popInstanceOpen(masterInstance)"
    pop-over
    pop-over-controller = "CIS"
    pop-over-data = "'branchSelect'"
    pop-over-options = "{\"verticallyCentered\":true,\"left\":98,\"pinToViewPort\":true}"
    pop-over-template = "branchMenuPopoverView"
  ) Add a Branch
    svg.iconnables.icons-arrow-forward
      use(
        xlink:href = "#icons-arrow-down"
      )
.branch-wrapper.active(
  ng-include = "'branchView'"
)
//- for mockup only
.branch-wrapper
  .branch-header branch-name
.branch-wrapper
  .branch-header branch-name
.branch-wrapper
  .branch-header branch-name
.branch-wrapper
  .branch-header branch-name
