h3.nav-card-header(
  title = "branch-name"
)
  //- bubble up test agent status for repos with test compose files
  status-icon.grid-block.shrink.passed(
    ng-if = "$root.featureFlags.composeTestStatus"
  )
  span.text-overflow.padding-right-xxs branch-name
  //- only show for default branches
  button.grid-block.shrink.btn-container-menu(
    ng-class = "{'active': INC.popoverShown}"
    ng-if = "!INC.currentOrg.isPersonalAccount() && !INC.isInDemoFlow()"
    pop-over
    pop-over-active = "INC.popoverShown"
    pop-over-controller = "INC"
    pop-over-options = "{\"verticallyCentered\":true,\"left\":26}"
    pop-over-template = "instanceNavigationPopoverView"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-gear"
      )
ul(
  ng-include = "'stagingEnvironmentView'"
)
ul(
  ng-if = "$root.featureFlags.composeTestStatus"
  ng-include = "'testingEnvironmentView'"
)
