h3.nav-card-header(
  title = "branch-name"
)
  span.text-overflow branch-name
  //- only show for default branches
  button.btn-gear
    svg.iconnables
      use(
        xlink:href = "#icons-gear"
      )
ul(
  ng-include = "'stagingEnvironmentView'"
)
ul(
  ng-include = "'testingEnvironmentView'"
)
