ul
  li.container(
    title = "runnable.com"
  )
    status-icon.grid-block.shrink.green
    .span.text-overflow.padding-right-xxs runnable.com
    button.grid-block.shrink.btn-gear(
      ng-class = "{'active': INC.popoverShown}"
      ng-if = "!INC.currentOrg.isPersonalAccount() && !INC.isInDemoFlow()"
      pop-over
      pop-over-active = "INC.popoverShown"
      pop-over-controller = "INC"
      pop-over-options = "{\"verticallyCentered\":true,\"left\":26}"
      pop-over-template = "instanceNavigationPopoverView"
    )
      svg.iconnables
        use(
          xlink:href = "#icons-gear"
        )
  li.container(
    title = "runnable-angular"
  )
    status-icon.grid-block.shrink.green
    .span.text-overflow.padding-right-xxs runnable-angular
    button.grid-block.shrink.btn-gear(
      ng-class = "{'active': INC.popoverShown}"
      ng-if = "!INC.currentOrg.isPersonalAccount() && !INC.isInDemoFlow()"
      pop-over
      pop-over-active = "INC.popoverShown"
      pop-over-controller = "INC"
      pop-over-options = "{\"verticallyCentered\":true,\"left\":26}"
      pop-over-template = "instanceNavigationPopoverView"
    )
      svg.iconnables
        use(
          xlink:href = "#icons-gear"
        )
