h2.grid-block.align-center.justify-justified.nav-section-header
  span.text-overflow.padding-right-xxs(
    title = "{{masterInstance.getDisplayName()}}"
  ) {{masterInstance.getDisplayName()}}

  .grid-block.align-center.shrink.btn.btn-xs.white(
    data-event-name = "Clicked Add Branch button"
    ng-click = "CIS.popInstanceOpen(masterInstance)"
    pop-over
    pop-over-controller = "CIS"
    pop-over-data = "'branchSelect'"
    pop-over-options = "{\"verticallyCentered\":true,\"left\":109,\"pinToViewPort\":true}"
    pop-over-template = "branchMenuPopoverView"
  ) Add Branch
    svg.iconnables.icons-arrow-forward
      use(
        xlink:href = "#icons-arrow-down"
      )

section.nav-card(
  ng-class = "{'active': CIS.isCardActive(instance)}"
  instance-card
  instance = "instance"
  ng-repeat = "instance in masterInstance.children.models | orderBy: ['getDisplayName().toLowerCase()'] track by instance.attrs._id"
  ng-show = "CIS.shouldShowBasic(instance, 'getBranchName()')"
)
//- show after the URL has been visited
.grid-block.vertical.padding-sm.popover.bottom.in.popover-demo.branch-step(
  ng-if = "CIS.shouldShowAddBranchCTA(masterInstance) && !$root.featureFlags.demoPersonalOnly"
  ng-include = "'popoverDemoBranchContainerView'"
)
