ul
  li.nav-container(
    active-account = "CIS.activeAccount"
    instance = "masterInstance"
    instance-navigation
    master-instance = "masterInstance"
    ng-if = "!masterInstance.attrs.isTesting"
    ng-repeat = "masterInstance in CIS.getFilteredInstanceList() | instanceHasRepo:true | orderBy: ['attrs.name'] track by masterInstance.attrs.name"
  )
  li.nav-container(
    active-account = "CIS.activeAccount"
    instance = "masterInstance"
    instance-navigation
    master-instance = "masterInstance"
    ng-if = "!masterInstance.attrs.isTesting"
    ng-repeat = "masterInstance in CIS.getFilteredInstanceList() | instanceHasRepo:false | orderBy: ['attrs.name'] track by masterInstance.attrs.name"
  )
