li.container(
  title = "runnable.com"
)
  .icons-status.green
  .span.text-overflow.padding-right-xxs runnable.com
  button.btn-gear
    svg.iconnables
      use(
        xlink:href = "#icons-gear"
      )
li.container(
  title = "runnable-angular"
)
  .icons-status.green
  .span.text-overflow.padding-right-xxs runnable-angular
  button.btn-gear
    svg.iconnables
      use(
        xlink:href = "#icons-gear"
      )
