h2.grid-block.align-center.justify-justified.nav-section-header(
  title = "web"
)
  span.text-overflow.padding-right-xxs web
  .grid-block.align-center.shrink.btn.btn-xs.white(
    data-event-name = "Clicked Add Branch button"
    ng-click = "CIS.popInstanceOpen(masterInstance)"
    pop-over
    pop-over-controller = "CIS"
    pop-over-data = "'branchSelect'"
    pop-over-options = "{\"verticallyCentered\":true,\"left\":109,\"pinToViewPort\":true}"
    pop-over-template = "branchMenuPopoverView"
  ) Add a Branch
    svg.iconnables.icons-arrow-forward
      use(
        xlink:href = "#icons-arrow-down"
      )

.nav-card
  .grid-block.align-center.nav-container.non-compose-container
    status-icon.grid-block.shrink.green
    span.text-overflow(
      title = "branch-name"
    ) branch-name
    button.grid-block.shrink.btn-container-menu(
      ng-class = "{'active': INC.popoverShown}"
      ng-if = "!INC.currentOrg.isPersonalAccount() && !INC.isInDemoFlow()"
      pop-over
      pop-over-active = "INC.popoverShown"
      pop-over-controller = "INC"
      pop-over-options = "{\"verticallyCentered\":true,\"left\":26}"
      pop-over-template = "instanceNavigationPopoverView"
    )
      svg.iconnables
        use(
          xlink:href = "#icons-gear"
        )

//- for mockup only
.nav-card
  .grid-block.align-center.nav-container.non-compose-container
    status-icon.grid-block.shrink.green
    span.text-overflow branch-name
    button.grid-block.shrink.btn-container-menu
      svg.iconnables
        use(
          xlink:href = "#icons-gear"
        )
.nav-card
  .grid-block.align-center.nav-container.non-compose-container
    status-icon.grid-block.shrink.green
    span.text-overflow branch-name
    button.grid-block.shrink.btn-container-menu
      svg.iconnables
        use(
          xlink:href = "#icons-gear"
        )
