h2.grid-block.align-center.justify-justified.nav-section-header(
  ng-include = "'repoSectionHeaderView'"
)
section.nav-card(
  ng-class = "{'active': active}"
  ng-include = "'branchCardView'"
  ng-repeat = "active in [true, false, false] track by $index"
)
