h2.grid-block.align-center.justify-justified.nav-section-header
  span.text-overflow.padding-right-xxs(
    title = "{{composeClusters.repoName}}"
  ) {{composeClusters.repoName}}

  .grid-block.align-center.shrink.btn.btn-xs.white(
    data-event-name = "Clicked Add Branch button"
    ng-click = "$parent.CIS.popClusterOpen(composeClusters)"
    pop-over
    pop-over-controller = "CIS"
    pop-over-data = "'branchSelect'"
    pop-over-options = "{\"verticallyCentered\":true,\"left\":98,\"pinToViewPort\":true}"
    pop-over-template = "branchMenuPopoverView"
  ) Add Branch
    svg.iconnables.icons-arrow-forward
      use(
        xlink:href = "#icons-arrow-down"
      )

section.nav-card(
  compose-card
  compose-cluster = "composeCluster"
  ng-class = "{'active': CIS.isComposeCardActive(composeCluster)}"
  ng-repeat = "composeCluster in composeClusters.clusters"
)

//- show after the URL has been visited
.grid-block.vertical.padding-sm.popover.bottom.in.popover-demo.branch-step(
  ng-if = "CIS.shouldShowAddBranchCTA(masterComposeCluster.master) && !$root.featureFlags.demoPersonalOnly"
  ng-include = "'popoverDemoBranchContainerView'"
)
