h2.grid-block.align-center.justify-justified.nav-section-header Services
  .grid-block.align-center.shrink.btn.btn-xs.white(
    ng-class = "{'active': addService}"
    ng-click = "CIS.shouldShowServicesCTA() && $emit('demo::end')"
    pop-over
    pop-over-active = "addService"
    pop-over-options = "{\"top\":-30,\"left\":111}"
    pop-over-template = "templateMenuPopoverView"
  ) Add Services
    svg.iconnables.icons-arrow-forward
      use(
        xlink:href = "#icons-arrow-down"
      )

section.nav-card.active(
  compose-card
  compose-instance = "masterInstance"
  ng-repeat = "masterInstance in CIS.instancesByCompose | orderBy: ['attrs.name'] track by masterInstance.attrs.name"
)
section.nav-card.active(
  ng-include = "'nonComposeCardView'"
)
