h2.grid-block.align-center.justify-justified.nav-section-header Services
  .grid-block.align-center.shrink.btn.btn-xs.white(
    ng-class = "{'active': addService}"
    ng-click = "CIS.shouldShowServicesCTA() && $emit('demo::end')"
    pop-over
    pop-over-active = "addService"
    pop-over-options = "{\"top\":-30,\"left\":108}"
    pop-over-template = "templateMenuPopoverView"
  ) Add Services
    svg.iconnables.icons-arrow-forward
      use(
        xlink:href = "#icons-arrow-down"
      )

.grid-block.vertical.padding-sm.popover.bottom.in.popover-demo.service-cta.margin-bottom-xs(
  add-service-cta
  ng-if = "CIS.shouldShowServicesCTA() && !$root.featureFlags.demoPersonalOnly"
)

.grid-block.align-center.padding-sm.popover.top.in.popover-demo(
  ng-if = "CIS.showInstanceRunningPopover() && !$root.featureFlags.demoPersonalOnly"
  ng-include = "'popoverDemoUrlHiddenView'"
)

section.nav-card.active(
  compose-card
  compose-cluster = "composeClusters"
  compose-repo = "{{ composeClusters.repoName }}"
  ng-repeat = "composeClusters in CIS.defaultComposeClusters"
  ng-if = "composeClusters.clusters.length"
)
section.nav-card.active(
  ng-include = "'nonComposeCardView'"
  ng-show = "CIS.isShowingNonComposeMaster()"
  ng-if = "CIS.getNonComposeMasters().length"
)
