li.nav-environment-header Staging
li.grid-block.container(
  title = "api"
)
  .grid-block.shrink.icons-status.green
  span.text-overflow api
li.grid-block.container(
  title = "web"
)
  .grid-block.shrink.icons-status.green
  span.text-overflow web
li.grid-block.container(
  title = "mongo"
)
  .grid-block.shrink.icons-status.green
  span.text-overflow mongo
