li.nav-environment-header Testing
li.grid-block.container(
  title = "api"
)
  status-icon.grid-block.shrink.complete
  span.text-overflow api
li.grid-block.container(
  title = "web"
)
  status-icon.grid-block.shrink.passed
  span.text-overflow web
li.grid-block.container(
  title = "mongo"
)
  status-icon.grid-block.shrink.complete
  span.text-overflow mongo
