li.noscroll.nav-environment-header Testing
  //-
    - add .gray and 7 character commit hash when set to previous commit
    - the popover position needs to be adjusted when set to previous commit
  button.grid-block.shrink.btn.btn-container-menu(
    ng-class = "{\
      'active': popoverShown,\
      'gray': $root.featureFlags.showPrevTestSelected\
    }"
    ng-if = "$root.featureFlags.composeHistory"
    pop-over
    pop-over-options = "{\"verticallyCentered\":true,\"right\":-372,\"pinToViewPort\":true}"
    pop-over-template = "branchTestSelectorPopoverView"
  )
    svg.iconnables
      use(
        xlink:href = "#icons-history"
      )
    span.span(
      ng-if = "$root.featureFlags.showPrevTestSelected"
    ) 7c53d87
li.grid-block.nav-container(
  ng-class = "{'active': $root.featureFlags.showPrevTestSelected}"
)
  status-icon.grid-block.shrink.passed
  span.text-overflow(
    title = "api"
  ) web
li.grid-block.nav-container
  status-icon.grid-block.shrink.complete
  span.text-overflow(
    title = "mongo"
  ) mongo
