.spinner-wrapper.spinner-md.spinner-gray.spinner-center.in(
  ng-if = "!CIS.instancesByPod"
  ng-include = "'spinner'"
)

//- repository based containers
.list(
  ng-if = "CIS.instancesByPod"
  ng-repeat = "masterInstance in CIS.instancesByPod.models | instanceHasRepo:true | orderBy: ['attrs.name'] track by masterInstance.attrs.name"
)
  //- repository name
  .list-item.list-item-header
    span.text-overflow(
      title = "{{masterInstance.getRepoName()}}"
    ) {{masterInstance.getRepoName()}}
    //- configure button for repo containers
    svg.iconnables.icons-advanced(
      ng-click="CIS.editInstance(masterInstance)"
      title = "Configure"
    )
      use(
        xlink:href = "#icons-advanced"
      )

  //- if isolated add .isolated
  //- if sub item is active add open class.
  .list-item
    instance-navigation(
      master-instance = "masterInstance"
      instance = "masterInstance"
      active-account = "CIS.activeAccount"
    )

  .list-item(
    ng-repeat = "childInstance in masterInstance.children.models"
  )
    instance-navigation(
      master-instance = "masterInstance"
      ng-class = "{'active': branch.selected}"
      instance = "childInstance"
      active-account = "CIS.activeAccount"
    )

    //- list of isolated containers
    ul.list.list-isolated(
      ng-if = "$root.featureFlags.isolationUI && branch.isolation && branch.selected"
    )
      li.list-item(
        ng-repeat = "container in isolatedContainers"
      )
        .list-item-container
          .icons-status(
            ng-class = "{'{{container.name}}': true}"
          )
          .text-overflow {{container.name}}
          svg.iconnables.icons-overflow.icons-overflow-isolated
            use(
              xlink:href = "#icons-overflow"
            )

  button.btn.btn-xxs.white.btn-webhooks(
    modal
    modal-template = "viewModalLaunchBranches"
    ng-if = "!$root.featureFlags.preWebhooks"
  ) Add Branches
  button.btn.btn-xxs.white.btn-webhooks.disabled(
    pop-over
    pop-over-template = "viewPopoverInviteAdmins"
    pop-over-options = "{\"verticallyCentered\":true,\"left\":96}"
    ng-if = "$root.featureFlags.preWebhooks"
  ) Add Branches

  //- nav list filter
  .btn.btn-xxs(
    ng-if = "$root.featureFlags.navListFilter"
    pop-over
    pop-over-options = "{\"top\":-33,\"left\":215}"
    pop-over-template = "viewMoreContainersPopover"
  ) 8 more…

//- non-repository based containers
.list(
  ng-class = "{'in': $root.featureFlags.isolationNav}"
  ng-show = "nonRepoInstances.length"
)
  .list-item(
    ng-repeat = "masterInstance in CIS.instancesByPod.models | instanceHasRepo:false | orderBy: ['attrs.name'] as nonRepoInstances track by masterInstance.attrs.name"
  )
    instance-navigation(
      instance = "masterInstance"
      active-account = "CIS.activeAccount"
    )