//- instance list
.grid-block.shrink.list-instances(
  ng-class = "{\
    'deprecated': !$root.featureFlags.addBranches,\
    'in': !CIS.$storage.instanceListIsClosed\
  }"
  ng-if = "CIS.instancesByPod"
  ng-include = "'viewInstancesList'"
  scroll-offset = "200"
  scroll-to = "a.a-sref.active"
)

.grid-block.shrink.list-instances(
  ng-class = "{'in': !CIS.$storage.instanceListIsClosed}"
  ng-if = "!CIS.instancesByPod"
)
  .spinner-wrapper.spinner-md.spinner-gray.spinner-center.in(
    ng-include = "'spinner'"
  )

.grid-block.vertical.instance-wrapper(
  ui-view
)
  .grid-block.vertical.instance(
    ng-if = "CIS.hasNoInstance"
  )
    .grid-block.justify-center.align-center
      img(
        height = "40"
        src = "/build/images/runnabear-head-empty.png"
        width = "40"
      )
