//- instance list
.instances-list(
  ng-if = "$root.featureFlags.newNavigation && $root.featureFlags.isolationNav"
  ng-show = "!CIS.$storage.instanceListIsClosed""
  ng-include = "'viewInstancesList'"
)

//- deprecated, old list of containers
nav.sidebar.sidebar-containers-deprecated(
  ng-if = "!$root.featureFlags.newNavigation"
)
  section.containers(
    ng-if = "!CIS.instancesByPod"
  )
    .spinner-wrapper.spinner-md.spinner-gray.spinner-center.in(
      ng-include = "'spinner'"
    )

  section.containers(
    ng-if = "CIS.instancesByPod"
    ng-include = "'viewInstanceList'"
    scroll-offset = "200"
    scroll-to = "a.list-item.active"
  )

.instance-wrapper(
  ng-class = "{'deprecated': !$root.featureFlags.newNavigation}"
  ui-view
)
