//- instance list
.grid-block.shrink.vertical.list-instances(
  ng-class = "{\
    'deprecated': !$root.featureFlags.composeNav,\
    'noscroll': CA.shouldShowTeamCTA()\
  }"
  ng-if = "CIS.instancesByPod"
  ng-include = "'viewInstancesList'"
  scroll-offset = "200"
  scroll-to = ".nav-container.active"
)

.grid-block.shrink.vertical.list-instances(
  ng-if = "!CIS.instancesByPod"
)
  .spinner-wrapper.spinner-md.spinner-gray.spinner-center(
    ng-include = "'spinner'"
  )

.grid-block.vertical.instance-wrapper(
  ui-view
)
  .grid-block.vertical.instance.instance-empty
    .grid-block.justify-center.align-center
      img(
        height = "40"
        src = "/build/images/runnabear-head-empty.png"
        width = "40"
      )
