//- containers organized by repository
.list.list-containers.deprecated(
  ng-if = "CIS.activeAccount && !isLoading.sidebar"
  ng-repeat = "masterInstance in CIS.instancesByPod.models | instanceHasRepo:true | orderBy: ['attrs.name'] track by masterInstance.attrs.name"
)
  //- repository name
  .list-item.small.strong(
    title = "{{masterInstance.getRepoName()}}"
  )
    span.span.text-overflow {{masterInstance.getRepoName()}}

    //- configure button for repo containers
    .btn.btn-configure(
      modal
      modal-current-model = "masterInstance"
      modal-state-model = "masterInstance.contextVersion.attrs.advanced ? 'env' : 'repository'"
      modal-template = "editServerModalOpen"
      title = "Configure"
    )
      svg.iconnables.icons-advanced
        use(
          xlink:href = "#icons-advanced"
        )

  //- master branch containers
  .list-item(
    title = "{{masterInstance.attrs.name}}"
  )

    //- displays master branch name
    a.span.text-overflow(
      ui-sref = "\
        base.instances.instance({ userName: CIS.activeAccount.oauthName(), \
        instanceName: masterInstance.attrs.name })\
      "
      ui-sref-active = "active"
    )
      status-icon(
        instance = "masterInstance"
      )
      | {{masterInstance.getBranchName()}}

  //- containers for non-master branches
  .list-item(
    ng-repeat = "branchFork in masterInstance.children.models | orderBy:'attrs.name'"
  )

    a.span.text-overflow(
      title = "{{branchFork.getDisplayName()}}"
      ui-sref = "\
        base.instances.instance({ userName: CIS.activeAccount.oauthName(), \
        instanceName: branchFork.attrs.name })\
      "
      ui-sref-active = "active"
    )
      status-icon(
        instance = "branchFork"
      )
      | {{branchFork.getDisplayName()}}

    //- "hide" button
    .btn.btn-hide(
      ng-if = "$root.featureFlags.navListFilter"
    ) hide

  //- "X more…" popover link
  .btn(
    ng-if = "$root.featureFlags.navListFilter"
    pop-over
    pop-over-options = "{\"top\":-33,\"left\":215}"
    pop-over-template = "viewMoreContainersPopover"
  ) 8 more…

//- non-repository containers
//- using ng-show because the nonREpoInstances variable is initialized in the ng-repeat underneath this
//-  This is for efficiency concerns
.list.list-containers.deprecated(
  ng-if = "CIS.activeAccount && !isLoading.sidebar"
  ng-show = "nonRepoInstances.length"
)
  //- "non-repository" heading
  .list-item.small.strong
    span.span.text-overflow Non-repository

  //- non-repository containers
  .list-item(
    ng-repeat = "masterInstance in CIS.instancesByPod.models | instanceHasRepo:false | orderBy: ['attrs.name'] as nonRepoInstances track by masterInstance.attrs.name"
    title = "{{masterInstance.attrs.name}}"
  )

    //- displays container name for non-repo containers
    a.span.text-overflow(
      ui-sref = "\
        base.instances.instance({userName: CIS.activeAccount.oauthName(), \
        instanceName: masterInstance.attrs.name})\
      "
      ui-sref-active = "active"
    )
      status-icon(
        instance = "masterInstance"
      )
      | {{masterInstance.attrs.name}}

    //- configure button for non-repo containers
    .btn.btn-configure(
      modal
      modal-current-model = "masterInstance"
      modal-state-model = "masterInstance.contextVersion.attrs.advanced ? 'env' : 'repository'"
      modal-template = "editServerModalOpen"
      ng-if = "!masterInstance.getRepoName()"
      title = "Configure"
    )
      svg.iconnables.icons-advanced
        use(
          xlink:href = "#icons-advanced"
        )
