//- instance list
.list-instances-wrapper.grid-block.vertical.shrink.align-start(
  ng-class = "{'in': !CIS.$storage.instanceListIsClosed}"
  ng-if = "CIS.instancesByPod"
)
  .list-instances(
    ng-class = "{'deprecated': !$root.featureFlags.addBranches}"
    ng-include = "'viewInstancesList'"
    scroll-offset = "200"
    scroll-to = "a.a-sref.active"
  )

  .popover.bottom.in.popover-aha.popover-add-branches(
    ng-if = "$root.featureFlags.aha2"
    ng-include = "'ahaPopoverView'"
  )

.list-instances-wrapper.grid-block.shrink.align-center.justify-center(
  ng-class = "{'in': !CIS.$storage.instanceListIsClosed}"
  ng-if = "!CIS.instancesByPod"
)
  .spinner-wrapper.spinner-md.spinner-gray.in(
    ng-include = "'spinner'"
  )

.grid-block.vertical.instance-wrapper(
  ui-view
)
