//- repository based containers
.list(
  ng-repeat = "masterInstance in CIS.instancesByPod.models | instanceHasRepo:true | orderBy: ['attrs.name'] track by masterInstance.attrs.name"
)
  //- repository name
  .list-item.list-item-header
    span.text-overflow(
      title = "{{masterInstance.getRepoName()}}"
    ) {{masterInstance.getRepoName()}}
    //- configure button for repo containers
    svg.iconnables.icons-advanced(
      ng-click="CIS.editInstance(masterInstance)"
      title = "Configure"
    )
      use(
        xlink:href = "#icons-advanced"
      )

  div(
    active-account = "CIS.activeAccount"
    instance = "masterInstance"
    instance-navigation
    master-instance = "masterInstance"
  )

  div(
    active-account = "CIS.activeAccount"
    instance = "childInstance"
    instance-navigation
    master-instance = "masterInstance"
    ng-repeat = "childInstance in masterInstance.children.models | orderBy: ['attrs.name']"
  )

  //- if default container is not running or if no admin is present
  //- popover should appear on hover
  button.btn.btn-xs.white.btn-add-branches.disabled(
    ng-if = "$root.featureFlags.webhooks && masterInstance.status() !== 'running' && !$root.featureFlags.webhooksAdminPresent"
    pop-over
    pop-over-controller = "CIS"
    pop-over-controller-as = "EBPC"
    pop-over-data = "masterInstance"
    pop-over-hover-trigger
    pop-over-options = "{\"verticallyCentered\": true, \"left\": 129}"
    pop-over-template = "enableBranchesPopoverView"
    pop-over-trigger = "hover"
  ) Enable Branches…

  //- if default container is running and admin is present
  button.btn.btn-xs.white.btn-add-branches(
    ng-click = "CIS.openEnableBranchesModal(masterInstance)"
    ng-if = "$root.featureFlags.webhooks && masterInstance.status() === 'running'"
  ) Enable Branches…

  //- nav list filter
  .btn.btn-xxs.btn-more-containers(
    ng-if = "$root.featureFlags.navListFilter"
    pop-over
    pop-over-options = "{\"top\":-33,\"left\":215}"
    pop-over-template = "viewMoreContainersPopover"
  ) 8 more…

//- non-repository based containers
.list(
  ng-show = "nonRepoInstances.length"
)
  div(
    instance-navigation
    instance = "masterInstance"
    active-account = "CIS.activeAccount"
    ng-repeat = "masterInstance in CIS.instancesByPod.models | instanceHasRepo:false | orderBy: ['attrs.name'] as nonRepoInstances track by masterInstance.attrs.name"
  )
