//- instance list
.list-instances(
  ng-class = "{\
    'deprecated': !$root.featureFlags.autoIsolation,\
    'in': !CIS.$storage.instanceListIsClosed\
  }"
  ng-if = "CIS.instancesByPod"
  ng-include = "'viewInstancesList'"
  scroll-offset = "200"
  scroll-to = "a.a-sref.active"
)

.list-instances(
  ng-class = "{'in': !CIS.$storage.instanceListIsClosed}"
  ng-if = "!CIS.instancesByPod"
)

  .spinner-wrapper.spinner-md.spinner-gray.spinner-center.in(
    ng-include = "'spinner'"
  )

.instance-wrapper(
  ui-view
)
