nav.sidebar.nav-sidebar
  section.servers(
    ng-if = "!CIS.instancesByPod"
  )
    .spinner-wrapper.spinner-md.spinner-gray.in(
      ng-include = "'spinner'"
    )

  section.containers(
    ng-include="'viewInstanceList'"
    ng-if = "CIS.instancesByPod"
  )


  footer.nav-footer
    a.small.link.link-gray.link-text(
    href = "http://support.runnable.io"
    target = "_blank"
    )
      .btn.btn-xs.btn-help ?
      | Documentation


main.content(
  ui-view
)