nav.sidebar.nav-sidebar
  section.containers(
    ng-if = "!CIS.instancesByPod"
  )
    .spinner-wrapper.spinner-md.spinner-gray.in(
      ng-include = "'spinner'"
    )

  section.containers(
    ng-if = "CIS.instancesByPod"
    ng-include="'viewInstanceList'"
  )

  footer.nav-footer
    a.small.link.link-gray.link-text(
      href = "http://support.runnable.io"
      target = "_blank"
    )
      .btn.btn-xs.btn-help ?
      | Documentation



main.content(
)
  .spinner-wrapper.spinner-md.spinner-purple.spinner-backdrop.in(
    ng-include = "'spinner'"
    ng-if = "isLoading.main"
  )
  ui-view(
    ng-if = "!isLoading.main"
  )