nav.sidebar.nav-sidebar(
  ng-if = "!$root.featureFlags.isolationUI"
)
  section.containers(
    ng-if = "!CIS.instancesByPod"
  )
    .spinner-wrapper.spinner-md.spinner-gray.in(
      ng-include = "'spinner'"
    )

  section.containers(
    ng-if = "CIS.instancesByPod"
    scroll-to = "a.list-item.active"
    scroll-offset = "200"
    ng-include = "'viewInstanceList'"
  )

//- third .content...
.content(
  ui-view
)
