//- wraps 'select demo' guide and everything that should transition in with the master cluster
.grid-block.shrink.vertical.noscroll.relative

  //- 'select demo' guide
  .grid-block.popover.in.margin-top-xs.popover-demo.demo-transition.js-animate(
    ng-if = "CIS.shouldShowDemoSelector() && !$root.featureFlags.demoPersonalOnly"
  )
    .grid-block
      .slide.slide-out(
        ng-class = "{'out': $root.isLoading.startDemo}"
        setup-demo-guide
      )
      .grid-block.justify-center.vertical.progress-wrapper.slide.slide-in.js-animate(
        ng-if = "$root.isLoading.startDemo"
      )
        p.text-center.text-gray.shrink.p.margin-bottom-sm Loading…
        p.text-center.text-gray.shrink.p.margin-bottom-sm This is taking longer than
          br
          | usual,&#32;
          a.link(
            href = "mailto: support@runnable.com"
          ) contact support
          | .
        .progress-bar.stripes.animated.margin-left-md.margin-right-md(
          ng-include = "'progressBarView'"
        )

  //- wraps everything that should transition in with the master cluster
  .demo-transition.js-animate(
    ng-if = "!CIS.shouldShowDemoSelector() || $root.featureFlags.demoPersonalOnly"
  )

    //- search
    label.grid-block.align-center.shrink.label-search
      input.input.input-xs.input-search(
        ng-model = "CIS.searchBranches"
        placeholder = "Filter by name"
        required
        select-on = "showFilter"
        type = "search"
      )

    p.grid-block.shrink.p.align-center.text-gray-light.padding-sm.nav-section.search-empty(
      ng-if = "!CIS.filterMatchedAnything()"
    ) No containers match this filter.

    //- notification for deleted environments
    .popover.popover-demo.padding-sm.in.popover-removed-environments(
      ng-if = "$root.featureFlags.multipleWebhooksRemovedPopover"
      ng-include = "'popoverRemovedEnvironmentsView'"
      ng-init = "affectedRepos = ['api', 'runnable-angular', 'sauron']"
    )
      
    .grid-block.vertical.padding-sm.popover.right.in.popover-demo.team-step(
      ng-if = "CA.shouldShowTeamCTA()"
      ng-include = "'popoverDemoAddTeamView'"
    )

    //- master branch clusters and non-repo containers (post-compose)
    section.nav-section(
      ng-if = "$root.featureFlags.composeNav"
      ng-include = "'servicesSectionView'"
      ng-show = "CIS.isShowingNonComposeMaster() || CIS.isShowingComposeService()"
    )

    //- master cluster (pre-compose)
    .grid-block.shrink.vertical.list-clusters.master-cluster.js-animate(
      ng-if = "(!CIS.searchBranches || CIS.getFilteredInstanceList().length) && !$root.featureFlags.composeNav"
    )
      .grid-block.shrink.align-center.list-item-cluster.list-clusters-heading(
        ng-include = "'servicesHeadingView'"
      )

      .grid-block.vertical.padding-sm.popover.bottom.in.popover-demo.service-cta.margin-bottom-xs.deprecated(
        add-service-cta
        ng-if = "CIS.shouldShowServicesCTA() && !$root.featureFlags.demoPersonalOnly"
      )

      .grid-block.align-center.padding-sm.popover.top.in.popover-demo(
        ng-if = "CIS.showInstanceRunningPopover() && !$root.featureFlags.demoPersonalOnly"
        ng-include = "'popoverDemoUrlHiddenView'"
      )

      .grid-block.shrink.list-item-cluster(
        ng-if = "CIS.getFilteredInstanceList().length"
      )
        .grid-block.list-containers.vertical.text-overflow.open
          //- master repository containers
          .grid-block(
            active-account = "CIS.activeAccount"
            instance = "masterInstance"
            instance-navigation
            master-instance = "masterInstance"
            ng-if = "!masterInstance.attrs.isTesting"
            ng-repeat = "masterInstance in CIS.getFilteredInstanceList() | instanceHasRepo:true | orderBy: ['attrs.name'] track by masterInstance.attrs._id"
          )
          //- master non-repository containers
          .grid-block(
            active-account = "CIS.activeAccount"
            instance = "masterInstance"
            instance-navigation
            ng-if = "!masterInstance.attrs.isTesting"
            ng-repeat = "masterInstance in CIS.getFilteredInstanceList() | instanceHasRepo:false | orderBy: ['attrs.name'] as nonRepoInstances track by masterInstance.attrs._id"
          )

      .grid-block.shrink.align-center.list-item-cluster.list-clusters-heading(
        ng-if = "CIS.getFilteredTestingMasters().length"
      )
        span.grid-content.text-overflow Testing

      .grid-block.shrink.list-item-cluster(
        ng-if = "CIS.getFilteredTestingMasters().length"
      )
        .grid-block.list-containers.vertical.text-overflow.open
          //- master repository containers
          .grid-block(
            active-account = "CIS.activeAccount"
            instance = "masterInstance"
            instance-navigation
            master-instance = "masterInstance"
            ng-repeat = "masterInstance in CIS.getFilteredTestingMasters() | instanceHasRepo:true | orderBy: ['attrs.name'] track by masterInstance.attrs._id"
          )
          //- master non-repository containers
          .grid-block(
            active-account = "CIS.activeAccount"
            instance = "masterInstance"
            instance-navigation
            ng-repeat = "masterInstance in CIS.getFilteredTestingMasters() | instanceHasRepo:false | orderBy: ['attrs.name'] track by masterInstance.attrs.name"
          )

    //- empty state
    .grid-block.vertical.shrink.well.empty.text-center(
      ng-if = "(!CIS.shouldShowDemoSelector() || $root.featureFlags.demoPersonalOnly) && !CIS.getFilteredInstanceList().length && !CIS.searchBranches"
    ) 👆
      br
      .small First, use the button above to create your first service.

//- wraps all branch clusters
.grid-block.vertical.shrink.noscroll.relative.demo-transition.js-animate(
  ng-if = "!CIS.isInDemoFlow() || CIS.shouldShowBranchView() || $root.featureFlags.demoPersonalOnly"
)

  //- branch environments (post-compose)
  section.nav-section(
    ng-include = "'repoSectionView'"
    ng-if = "$root.featureFlags.composeNav"
    clusters = "composeClusters"
    ng-repeat = "composeClusters in CIS.featureInstancesByCompose"
  )

  section.nav-section(
    ng-if = "$root.featureFlags.composeNav"
    ng-include = "'nonComposeRepoSectionView'"
    ng-repeat = "masterInstance in CIS.getNonComposeMasters() | instanceHasRepo:true | orderBy: ['getDisplayName().toLowerCase()'] track by masterInstance.attrs._id"
    ng-show = "CIS.shouldShowRepoChildren(masterInstance)"
  )

  //- branch environments (pre-compose)
  .grid-block.vertical.shrink.list-clusters.js-animate(
    ng-if = "(!masterInstance.attrs.isTesting || (masterInstance.attrs.isTesting && !masterInstance.attrs.testingParentId)) && !$root.featureFlags.composeNav"
    ng-repeat = "masterInstance in CIS.instancesByPod | instanceHasRepo:true | orderBy: ['attrs.name'] track by masterInstance.attrs._id"
    ng-show = "CIS.shouldShowParent(masterInstance)"
  )

    //- cluster list heading
    .grid-block.align-center.list-item-cluster.list-clusters-heading
      //- repository name
      span.grid-content.text-overflow(
        title = "{{masterInstance.getName()}}"
      ) {{masterInstance.getName()}}
      .grid-block.align-center.shrink.btn.btn-xxs.white(
        data-event-name = "Clicked Add Branch button"
        ng-class = "{'active': state.active}"
        ng-click = "CIS.popInstanceOpen(masterInstance)"
        pop-over
        pop-over-active = "state.active"
        pop-over-controller = "CIS"
        pop-over-data = "'branchSelect'"
        pop-over-options = "{\"verticallyCentered\":true,\"left\":90,\"pinToViewPort\":true}"
        pop-over-template = "branchMenuPopoverView"
      ) Add Branch
        //- '+' button for adding branches and configuring clusters
        svg.iconnables.icons-arrow-forward
          use(
            xlink:href = "#icons-arrow-down"
          )

    //- wraps auto-isolated clusters
    .list-item-cluster(
      active-account = "CIS.activeAccount"
      instance = "childInstance"
      instance-navigation
      master-instance = "masterInstance"
      ng-class = "childInstance.attrs.isTesting && !childInstance.attrs.masterPod ? 'testing-container' : ''"
      ng-repeat = "childInstance in CIS.getSortedMasterInstanceChildren(masterInstance) track by childInstance.attrs._id"
      ng-show = "CIS.shouldShowChild(childInstance)"
    )

    //- nav list filter
    .btn.btn-xxs.btn-more-containers(
      ng-if = "$root.featureFlags.navListFilter"
      pop-over
      pop-over-options = "{\"top\":-33,\"left\":215}"
      pop-over-template = "viewMoreContainersPopover"
    ) 8 more…

    //- show only on demo repos
    .grid-block.vertical.padding-sm.popover.bottom.in.popover-demo.branch-step(
      ng-if = "CIS.shouldShowAddBranchCTA(masterInstance) && !$root.featureFlags.demoPersonalOnly"
      ng-include = "'popoverDemoBranchContainerView'"
    )
