label.grid-block.vertical.label-search
  input.input.input-xs.input-search(
    ng-model = "CIS.searchBranches"
    placeholder = "Filter by name"
    required
    select-on = "showFilter"
    type = "search"
  )

p.p.text-center.text-gray-light.padding-sm(
  ng-if = "CIS.getFilteredInstanceList().length < 1"
) No containers match filter.

//- master cluster
.list-clusters.master-cluster(
  ng-if = "$root.featureFlags.addBranches"
)

  .grid-block.align-center.list-item-cluster.list-clusters-heading
    span.grid-content.text-overflow Templates
  .list-item-cluster
    .grid-block.list-containers.vertical.text-overflow.open
      //- master repository containers
      .grid-block(
        active-account = "CIS.activeAccount"
        instance = "masterInstance"
        instance-navigation
        master-instance = "masterInstance"
        ng-repeat = "masterInstance in CIS.instancesByPod.models | instanceHasRepo:true | orderBy: ['attrs.name'] track by masterInstance.attrs.name"
      )
      //- master non-repository containers
      .grid-block(
        active-account = "CIS.activeAccount"
        instance = "masterInstance"
        instance-navigation
        ng-repeat = "masterInstance in CIS.instancesByPod.models | instanceHasRepo:false | orderBy: ['attrs.name'] as nonRepoInstances track by masterInstance.attrs.name"
      )

//- branch clusters
.list-clusters(
  ng-repeat = "masterInstance in CIS.instancesByPod | instanceHasRepo:true | orderBy: ['attrs.name'] track by masterInstance.attrs.name"
  ng-show = "CIS.shouldShowParent(masterInstance)"
)

  //- cluster list heading
  .grid-block.align-center.list-item-cluster.list-clusters-heading
    //- repository name
    span.grid-content.text-overflow(
      title = "{{masterInstance.getName()}}"
    ) {{masterInstance.getName()}}
    //- '+' button for adding branches and configuring clusters
    button.grid-block.shrink.btn.btn-xs.btn-icon.gray(
      ng-class = "{'active': state.active}"
      ng-if = "$root.featureFlags.addBranches"
      pop-over
      pop-over-options = "{\"verticallyCentered\":true,\"left\":24}"
      pop-over-template = "branchMenuPopoverView"
      tooltip = "Add Branch"
      tooltip-options = "{\"class\":\"bottom center text-center\",\"left\":-36,\"top\":24}"
    )
      svg.iconnables
        use(
          xlink:href = "#icons-add"
        )
    //- repo config button (pre auto-isolation)
    svg.grid-block.shrink.iconnables.icons-gear(
      ng-click = "CIS.editInstance(masterInstance)"
      ng-if = "!$root.featureFlags.addBranches"
      title = "Configure Template"
    )
      use(
        xlink:href = "#icons-gear"
      )

  //- wraps the default branch container for a repo (pre auto-isolation)
  .grid-block.align-center.list-item-cluster(
    active-account = "CIS.activeAccount"
    instance = "masterInstance"
    instance-navigation
    master-instance = "masterInstance"
    ng-if = "!$root.featureFlags.addBranches && CIS.filterMasterInstance(masterInstance)"
  )

  //- wraps auto-isolated clusters
  .list-item-cluster(
    active-account = "CIS.activeAccount"
    instance = "childInstance"
    instance-navigation
    master-instance = "masterInstance"
    ng-repeat = "childInstance in masterInstance.children.models | orderBy: ['attrs.name']"
    ng-show = "CIS.shouldShowChild(childInstance)"
  )

  //- nav list filter
  .btn.btn-xxs.btn-more-containers(
    ng-if = "$root.featureFlags.navListFilter"
    pop-over
    pop-over-options = "{\"top\":-33,\"left\":215}"
    pop-over-template = "viewMoreContainersPopover"
  ) 8 more…

//- non-repo containers (pre auto-isolation)
.list-clusters(
  ng-if = "!$root.featureFlags.addBranches"
  ng-show = "nonRepoInstances.length"
)
  .list-item-cluster(
    active-account = "CIS.activeAccount"
    instance = "masterInstance"
    instance-navigation
    ng-repeat = "masterInstance in CIS.instancesByPod | instanceHasRepo:false | orderBy: ['attrs.name'] as nonRepoInstances track by masterInstance.attrs.name"
    ng-show = "CIS.shouldShowParent(masterInstance)"
  )
