label
  input.input.input-xs.input-search(
    placeholder="Filter by container name" 
    ng-model="CIS.searchBranches"
    required
    select-on = "showFilter"
  )

//- master cluster
.list-clusters.master-cluster(
  ng-if = "$root.featureFlags.autoIsolation"
)

  .list-item-cluster
    .grid-block.list-containers.vertical.text-overflow.open
      //- master repository containers
      .grid-block(
        active-account = "CIS.activeAccount"
        instance = "masterInstance"
        instance-navigation
        master-instance = "masterInstance"
        ng-repeat = "masterInstance in CIS.instancesByPod.models | instanceHasRepo:true | orderBy: ['attrs.name'] track by masterInstance.attrs.name"
      )
      //- master non-repository containers
      .grid-block(
        active-account = "CIS.activeAccount"
        instance = "masterInstance"
        instance-navigation
        ng-repeat = "masterInstance in CIS.instancesByPod.models | instanceHasRepo:false | orderBy: ['attrs.name'] as nonRepoInstances track by masterInstance.attrs.name"
      )

//- empty state
.grid-block.align-center.well.padding-sm.vertical.text-center(
  ng-if = "$root.featureFlags.autoIsolationSetup"
)
  svg.grid-content.icons-branch
    use(
      xlink:href = "#icons-branch-burst"
    )
  .grid-content.small Branches appear below, organized by repository. Use the + buttons to add branches.
  button.btn.btn-icon.btn-xs
    svg.iconnables.icons-close.float-left
      use(
        xlink:href = "#icons-close"
      )

//- branch clusters
.list-clusters(
  ng-repeat = "masterInstance in CIS.getFilteredInstanceList() | instanceHasRepo:true | orderBy: ['attrs.name'] track by masterInstance.attrs.name"
)

  //- cluster list heading
  .grid-block.align-center.list-item-cluster.list-clusters-heading
    //- repository name
    span.grid-block.text-overflow(
      title = "{{masterInstance.getName()}}"
    ) {{masterInstance.getName()}}
    //- '+' button for adding branches and configuring clusters
    button.grid-block.shrink.btn.btn-xs.btn-icon.gray(
      ng-class = "{'active': state.active}"
      ng-if = "$root.featureFlags.autoIsolation"
      pop-over
      pop-over-options = "{\"verticallyCentered\":true,\"left\":24}"
      pop-over-template = "branchMenuPopoverView"
      tooltip = "Add Branch"
      tooltip-options = "{\"class\":\"bottom center text-center\",\"left\":-36,\"top\":24}"
    )
      svg.iconnables
        use(
          xlink:href = "#icons-add"
        )
    //- repo config button (pre auto-isolation)
    svg.grid-block.shrink.iconnables.icons-gear(
      ng-click = "CIS.editInstance(masterInstance)"
      ng-if = "!$root.featureFlags.autoIsolation"
      title = "Configure"
    )
      use(
        xlink:href = "#icons-gear"
      )

  //- wraps the default branch container for a repo (pre auto-isolation)
  .grid-block.align-center.list-item-cluster(
    active-account = "CIS.activeAccount"
    instance = "masterInstance"
    instance-navigation
    master-instance = "masterInstance"
    ng-if = "!$root.featureFlags.autoIsolation"
  )

  //- wraps auto-isolated clusters
  .list-item-cluster(
    active-account = "CIS.activeAccount"
    instance = "childInstance"
    instance-navigation
    master-instance = "masterInstance"
    ng-repeat = "childInstance in CIS.getFilteredChildren(masterInstance) | orderBy: ['attrs.name']"
  )

  //- nav list filter
  .btn.btn-xxs.btn-more-containers(
    ng-if = "$root.featureFlags.navListFilter"
    pop-over
    pop-over-options = "{\"top\":-33,\"left\":215}"
    pop-over-template = "viewMoreContainersPopover"
  ) 8 more…
  
p(ng-if = "CIS.getFilteredInstanceList().length < 1") No containers match filter

//- non-repo containers (pre auto-isolation)
.list-clusters(
  ng-if = "!$root.featureFlags.autoIsolation"
  ng-show = "nonRepoInstances.length"
)
  .list-item-cluster(
    active-account = "CIS.activeAccount"
    instance = "masterInstance"
    instance-navigation
    ng-repeat = "masterInstance in CIS.getFilteredInstanceList() | instanceHasRepo:false | orderBy: ['attrs.name'] as nonRepoInstances track by masterInstance.attrs.name"
  )
