//- master cluster
ul.cluster-list.master-cluster(
  ng-if = "$root.featureFlags.autoIsolation"
)
  li.cluster-list-item
    ul.container-list.grid-block.vertical.text-overflow.open
      .grid-block(
        active-account = "CIS.activeAccount"
        instance = "masterInstance"
        instance-navigation
        master-instance = "masterInstance"
        ng-repeat = "masterInstance in CIS.instancesByPod.models | instanceHasRepo:true | orderBy: ['attrs.name'] track by masterInstance.attrs.name"
      )
      .grid-block(
        instance-navigation
        instance = "masterInstance"
        active-account = "CIS.activeAccount"
        ng-repeat = "masterInstance in CIS.instancesByPod.models | instanceHasRepo:false | orderBy: ['attrs.name'] as nonRepoInstances track by masterInstance.attrs.name"
      )

//- empty state
.grid-block.align-center.well.padding-sm.vertical.text-center(
  ng-if = "$root.featureFlags.autoIsolationSetup"
)
  svg.grid-content.icons-branch
    use(
      xlink:href = "#icons-branch-burst"
    )
  .grid-content.small Branches appear below, organized by repository. Use the + buttons to add branches.
  button.grid-content.btn.btn-icon.btn-xs
    svg.iconnables.icons-close.float-left
      use(
        xlink:href = "#icons-close"
      )

//- branch clusters
ul.cluster-list(
  ng-repeat = "masterInstance in CIS.instancesByPod.models | instanceHasRepo:true | orderBy: ['attrs.name'] track by masterInstance.attrs.name"
)
  //- cluster list heading
  li.cluster-list-item.cluster-list-heading.grid-block.align-center
    span.grid-block.text-overflow(
      title = "{{masterInstance.getName()}}"
    ) {{masterInstance.getName()}}
    //- '+' button for adding branches and configuring clusters
    button.grid-block.shrink.btn.btn-xs.btn-icon.gray(
      ng-class = "{'active': state.active}"
      ng-if = "$root.featureFlags.autoIsolation"
      pop-over
      pop-over-options = "{\"verticallyCentered\":true,\"left\":24}"
      pop-over-template = "branchMenuPopoverView"
      tooltip = "Add Branch"
      tooltip-options = "{\"class\":\"bottom center text-center\",\"left\":-36,\"top\":24}"
    )
      svg.iconnables
        use(
          xlink:href = "#icons-add"
        )
    //- repo config button (pre auto-isolation)
    svg.grid-block.shrink.iconnables.icons-config(
      ng-click = "CIS.editInstance(masterInstance)"
      ng-if = "!$root.featureFlags.autoIsolation"
      title = "Configure"
    )
      use(
        xlink:href = "#icons-config"
      )

  .cluster-list-item.grid-block.align-center(
    active-account = "CIS.activeAccount"
    instance = "masterInstance"
    instance-navigation
    ng-if = "!$root.featureFlags.autoIsolation"
    master-instance = "masterInstance"
  )

  //- wraps a list of containers that belong together in a cluster
  li.cluster-list-item(
    active-account = "CIS.activeAccount"
    instance = "childInstance"
    instance-navigation
    master-instance = "masterInstance"
    ng-repeat = "childInstance in masterInstance.children.models | orderBy: ['attrs.name']"
  )

  //- nav list filter
  .btn.btn-xxs.btn-more-containers(
    ng-if = "$root.featureFlags.navListFilter"
    pop-over
    pop-over-options = "{\"top\":-33,\"left\":215}"
    pop-over-template = "viewMoreContainersPopover"
  ) 8 more…

//- non-repo containers (pre auto-isolation)
ul.cluster-list(
  ng-if = "!$root.featureFlags.autoIsolation"
  ng-show = "nonRepoInstances.length"
)
  li.cluster-list-item(
    instance-navigation
    instance = "masterInstance"
    active-account = "CIS.activeAccount"
    ng-repeat = "masterInstance in CIS.instancesByPod.models | instanceHasRepo:false | orderBy: ['attrs.name'] as nonRepoInstances track by masterInstance.attrs.name"
  )
