.popover.bottom.popover-guides(
  ng-class = "{in: data.in}"
)
  .arrow.white.right
  .popover-content.clearfix
    p.popover-text Hit the Build button when you're ready to build your server.
    a.link.link-text.link-gray(
      ng-click = "data.in = false"
    ) Close
