.popover.bottom.popover-environment(
  ng-class = "{in: data.envShow}"
)
  .arrow
  h3.popover-title
    span.title Environment Variables
  .popover-content
    label.input-group(
      ng-class = "{focus: data.state.showFocus}"
      ng-repeat = "env in data.envVars"
    )
      span.input-label {{ env.key }}
      input.input(
        ng-blur = "data.state.showFocus = false"
        ng-focus = "data.state.showFocus = true"
        ng-model = "env.value"
        select-all
      )
  footer.popover-footer
    //- TODO
    button.btn.btn-sm.green(
      ng-click = "/* actions.saveDeps(data.envVars) */"
    ) Save
    button.btn.btn-sm.white(
      ng-click = "data.envShow = false"
    ) Cancel
