//- stub out data
ul.tbody(
  ng-init = "vars = [\
    {key: 'hello', value: '●●●', duplicate: true},\
    {key: 'hi', value: '●●●●●●', duplicate: false},\
    {key: '‘sup', value: '●●●●●●●●●', duplicate: false},\
    {key: 'hey', value: '●●●', duplicate: false},\
    {key: 'hello', value: '●●●●●●', duplicate: true}\
  ]"
)
  li.tr
    label.grid-block.align-center.cell
      //- [disable] when loading
      input.input.monospace(
        placeholder = "Key"
      )
    label.grid-block.align-center.cell
      //- [disable] when loading
      input.input.monospace(
        placeholder = "Value"
      )
    .grid-block.align-center.justify-right.cell.cell-action
      //- [disable] when loading
      button.grid-block.align-center.justify-center.btn.btn-xs.white(
        ng-init = "saving = null"
      )
        //- show when loading
        .spinner-wrapper.spinner-sm.spinner-gray.in(
          ng-if = "saving"
          ng-include = "'spinner'"
        )
        //- hide when loading
        svg.grid-block.iconnables.icons-add(
          ng-if = "!saving"
        )
          use(
            xlink:href = "#icons-add"
          )
        //- hide when loading
        span(
          ng-if = "!saving"
        ) Add
  //- show when there are no vars
  li.grid-block.vertical.align-center.justify-center.padding-md.tr.empty(
    ng-if = "!vars.length"
  )
    svg.svg
      use(
        xlink:href = "#icons-environment-variables"
      )
    .small.text-center Use environment variables for sensitive information you need to build or run your code. Your variables are added at build and run time.
  //- show when there are vars
  li.tr(
    ng-repeat = "var in vars"
  )
    .grid-block.align-center.justify-justified.cell.monospace
      .text-overflow(
        title = "{{var.key}}"
      ) {{var.key}}
      svg.grid-block.shrink.iconnables.icons-alert(
        ng-if = "var.duplicate"
        tooltip = "Duplicate Key"
        tooltip-options = "{\"class\":\"bottom center\",\"top\":15,\"right\":-49}"
      )
        use(
          xlink:href = "#icons-alert-alt"
        )
    .cell.monospace.text-overflow {{var.value}}

    .grid-block.align-center.justify-right.cell.cell-action
      svg.iconnables.icons-close(
        tooltip = "Delete"
        tooltip-options = "{\"class\":\"bottom center\",\"top\":33,\"right\":-23}"
      )
        use(
          xlink:href = "#icons-close"
        )
