.btn-group(
  ng-init = "data.viewIgnored = true"
)
  .btn.btn-xs.purple(
    ng-class = "{active: !data.viewIgnored}"
    ng-click = "data.viewIgnored = false"
  ) Hostnames
  .btn.btn-xs.purple(
    ng-class = "{active: data.viewIgnored}"
    ng-click = "data.viewIgnored = true"
  ) Ignored

//- empty state
p.p.small.empty(
  ng-if = "data.viewIgnored"
) You haven't ignored any hostnames…yet.
//- p.p.small.empty Add hostnames to your environment variables file to see them here.

//- clicks on .well takes user to line number
.well.small(
  ng-if = "!data.viewIgnored"
) Line 1
  a.link.float-right Jump
  .small.monospace.text-overflow(
    title = "api-staging-CodeNow.runnableapp.com"
  ) api-staging-CodeNow.runnableapp.com
  button.btn.btn-xxs.btn-ignore(
    title = "Ignore"
  ) Ignore
.well.small(
  ng-if = "!data.viewIgnored"
) Line 2
  a.link.float-right Jump
  .small.monospace.text-overflow(
    title = "api-staging-CodeNow.runnableapp.com"
  ) api-staging-CodeNow.runnableapp.com
  button.btn.btn-xxs.btn-ignore(
    title = "Ignore"
  ) Ignore
.well.small(
  ng-if = "!data.viewIgnored"
) Line 200
  a.link.float-right Jump
  .small.monospace.text-overflow(
    title = "api-staging-CodeNow.runnableapp.com"
  ) api-staging-CodeNow.runnableapp.com
  button.btn.btn-xxs.btn-ignore(
    title = "Ignore"
  ) Ignore
.well.small(
  ng-if = "!data.viewIgnored"
) Line 200
  a.link.float-right Jump
  .small.monospace.text-overflow(
    title = "api-staging-CodeNow.runnableapp.com"
  ) api-staging-CodeNow.runnableapp.com
  button.btn.btn-xxs.btn-ignore(
    title = "Ignore"
  ) Ignore
.well.small(
  ng-if = "!data.viewIgnored"
) Line 200
  a.link.float-right Jump
  .small.monospace.text-overflow(
    title = "api-staging-CodeNow.runnableapp.com"
  ) api-staging-CodeNow.runnableapp.com
  button.btn.btn-xxs.btn-ignore(
    title = "Ignore"
  ) Ignore
.well.small(
  ng-if = "!data.viewIgnored"
) Line 200
  a.link.float-right Jump
  .small.monospace.text-overflow(
    title = "api-staging-CodeNow.runnableapp.com"
  ) api-staging-CodeNow.runnableapp.com
  button.btn.btn-xxs.btn-ignore(
    title = "Ignore"
  ) Ignore
.well.small(
  ng-if = "!data.viewIgnored"
) Line 200
  a.link.float-right Jump
  .small.monospace.text-overflow(
    title = "api-staging-CodeNow.runnableapp.com"
  ) api-staging-CodeNow.runnableapp.com
  button.btn.btn-xxs.btn-ignore(
    title = "Ignore"
  ) Ignore
.well.small(
  ng-if = "!data.viewIgnored"
) Line 200
  a.link.float-right Jump
  .small.monospace.text-overflow(
    title = "api-staging-CodeNow.runnableapp.com"
  ) whoreisland
  button.btn.btn-xxs.btn-ignore(
    title = "Ignore"
  ) Ignore

//-
//- previous popover:
//-
//- .popover.in.menu.top(
//-   ng-class = "{in: active}"
//-   ng-style = "popoverStyle.getStyle()"
//- )
//-   .arrow.white
//-   .popover-content
//-     ul.popover-list
//-       li.list-item.popover-list-item.small(
//-         ng-if = "data.servers.length"
//-       ) Linked containers (by line)
//-       li.list-item.popover-list-item.monospace.text-overflow(
//-         ng-repeat = "link in data.servers"
//-       )
//-         button.btn.btn-xxs.gray(
//-           ng-attr-title = "Go to line {{ link.line }}"
//-         ) L {{ link.line }}
//-         | {{ link.url }}
//-       li.list-item.popover-list-item.divider(
//-         ng-if = "data.others.length && data.servers.length"
//-       )
//-       li.list-item.popover-list-item.small(
//-         ng-if = "data.others.length"
//-       ) Other links
//-       li.list-item.popover-list-item.monospace.text-overflow(
//-         ng-repeat = "link in data.others"
//-       )
//-         button.btn.btn-xxs.gray(
//-         ng-attr-title = "Go to line {{ link.line }}"
//-         ) L {{ link.line }}
//-         | {{ link.url }}