//- help things
.help-container(
  ng-if = "helpCards.getActiveCard().helpPopover.environmentVariables"
)
  .help(
    ng-bind-html = "helpCards.getActiveCard().helpPopover.environmentVariables"
  )

//- begin form
.clearfix
  .label-col Environment Variables

//- table actions
.table-actions.clearfix(
  ng-class = "{in: state.showHostName}"
  ng-if = "data.instances.models.length >= 2"
  ng-include = "'viewEnvironmentVariableActions'"
)

//- table of current environment variables
.ace-container.ace-environment-variables.ace-runnable-dark

  .ace_editor(
    current-model = "server.opts"
    env-vars
    state-model = "state.opts"
    validation = "validation.env"
  )

  .sidebar(
    ng-class = "{in: data.toggleSidebar}"
    ng-include = "'viewFormEnvironmentVariablesSidebar'"
    ng-if = "$root.featureFlags.hostnameTool"
  )

//- detailed text
label.label.label-help
  small.small.strong Elastic hostname:
  input.input.input-xxs(
    ng-attr-value = "{{ instance.getElasticHostname() }}"
    readonly
    select-all
  )
  .small Use this hostname when configuring callback services to this container.
