//- help things
.help-container(
  ng-if = "SMC.helpCards.getActiveCard().helpPopover.environmentVariables && SMC.helpCards.cardIsActiveOnThisContainer(SMC.instance)"
  ng-hide = "$root.featureFlags.fullScreen"
)
  .help(
    ng-bind-html = "SMC.helpCards.getActiveCard().helpPopover.environmentVariables"
  )

//- begin form
.clearfix(
  ng-hide = "$root.featureFlags.fullScreen"
)
  .label-col Environment Variables

//- table actions
.table-actions.clearfix(
  ng-class = "{'in': SMC.state.showHostName}"
  ng-if = "SMC.data.instances.models.length >= 2"
  ng-include = "'viewEnvironmentVariableActions'"
)

//- table of current environment variables
.ace-container.ace-environment-variables(
  ng-class = "{\
    'ace-runnable-dark': !$root.featureFlags.imAfraidOfTheDark,\
    'ace-runnable-light': $root.featureFlags.imAfraidOfTheDark\
  }"
)

  .ace_editor(
    current-model = "SMC.instance.attrs"
    env-vars
    state-model = "SMC.state.opts"
    validation = "validation.env"
  )

  .sidebar.ace-sidebar(
    ng-class = "{'in': SMC.data.toggleSidebar}"
    ng-if = "$root.featureFlags.hostnameTool"
    ng-include = "'viewFormEnvironmentVariablesSidebar'"
  )

  .floating-controls(
    ng-include = "'viewFloatingControls'"
  )

//- detailed text
label.label.label-help(
  ng-hide = "$root.featureFlags.fullScreen"
)
  small.small.strong Elastic hostname:
  input.input.input-xxs(
    ng-attr-value = "{{ SMC.getElasticHostname() }}"
    readonly
    select-all
  )
  .small Use this hostname when configuring callback services to this container.
