//- .label-col Environment Variables
//- .input-col
//-   small.small There's nothing here yet
.table
  .tr
    .cell Key
    .cell Value
    .cell
  .tr
    .cell thing1
    .cell thing2
    .cell
      button.btn.btn-xxs x
  .tr
    .cell kim
    .cell k
    .cell
      button.btn.btn-xxs x