//- .label-col Environment Variables
//- .input-col
//-   small.small There's nothing here yet
table.table
  tr.tr
    th Key
    th Value
    th
  tr.tr
    td thing1
    td thing2
    td
      button.btn.btn-xxs x
  tr.tr
    td kim
    td k
      button.btn.btn-xxs x