//- help things
.help-container(
  ng-if = "helpCards.getActiveCard().helpPopover.environmentVariables"
  ng-hide = "$root.featureFlags.fullScreen"
)
  .help(
    ng-bind-html = "helpCards.getActiveCard().helpPopover.environmentVariables"
  )

//- begin form
.clearfix(
  ng-hide = "$root.featureFlags.fullScreen"
)
  .label-col Environment Variables

//- table actions
.table-actions.clearfix(
  ng-class = "{in: state.showHostName}"
  ng-if = "data.instances.models.length >= 2"
  ng-include = "'viewEnvironmentVariableActions'"
)

//- table of current environment variables
.ace-container.ace-environment-variables(
  ng-class = "{\
    'ace-runnable-dark': !$root.featureFlags.imAfraidOfTheDark,\
    'ace-runnable-light': $root.featureFlags.imAfraidOfTheDark\
  }"
)

  .ace_editor(
    current-model = "instance.attrs"
    env-vars
    state-model = "state.opts"
    validation = "validation.env"
  )

  .sidebar.ace-sidebar(
    ng-class = "{in: data.toggleSidebar}"
    ng-include = "'viewFormEnvironmentVariablesSidebar'"
    ng-if = "$root.featureFlags.hostnameTool"
  )

  .floating-controls(
    ng-include = "'viewFloatingControls'"
  )

//- detailed text
label.label.label-help(
  ng-hide = "$root.featureFlags.fullScreen"
)
  small.small.strong Elastic hostname:
  input.input.input-xxs(
    ng-attr-value = "{{ instance.getElasticHostname() }}"
    readonly
    select-all
  )
  .small Use this hostname when configuring callback services to this container.
