//- help things
.help-container(
  ng-if = "helpCards.getActiveCard().helpPopover.environmentVariables"
)
  .help(
    ng-bind-html = "helpCards.getActiveCard().helpPopover.environmentVariables"
  )

.help-padding(
  ng-bind-html = "helpCards.getActiveCard().helpPopover.environmentVariables"
  ng-if = "helpCards.getActiveCard().helpPopover.environmentVariables"
)

//- begin form
.clearfix
  .label-col Environment Variables

//- table actions
.table-actions.clearfix(
  ng-if = "data.instances.models.length >= 2"
  ng-include = "'viewEnvironmentVariableActions'"
)

//- table of current environment variables
.ace-container.ace-environment-variables.ace-runnable-dark

  .ace_editor(
    current-model = "server.opts"
    env-vars
    state-model = "state.opts"
    validation = "validation.env"
  )

  .sidebar(
    ng-include = "'viewFormEnvironmentVariablesSidebar'"
  )

//- detailed text
label.label.label-help
  small.small(
    tooltip = "Use this hostname when configuring callback services to this container."
    tooltip-options = "{\"class\":\"bottom tooltip-definition\",\"left\":-5,\"top\":15}"
  )
    button.btn.btn-xxs
      svg.iconnables.icons-help
        use(
          xlink:href = "#icons-help"
        )
    | Container's hostname
  input.input.input-xs(
    ng-attr-value = "{{ instance.getElasticHostname() }}"
    readonly
    select-all
  )