.help-step-container(
  ng-if = "helpCards.getActiveCard().helpPopover.environmentVariables"
)
  .help.help-step-item(
    ng-bind-html = "helpCards.getActiveCard().helpPopover.environmentVariables"
  )

.clearfix
  .label-col Environment Variables

//- table actions
.table-actions.clearfix(
  ng-if = "data.instances.models.length >= 2"
  ng-include = "'viewEnvironmentVariableActions'"
)

//- table of current environment variables
pre.ace-container.ace-environment-variables.ace-runnable-dark(
  env-vars
  current-model = "server.opts"
  state-model = "state.opts"
  validation = "validation.env"
)

label.label.label-help
  small.small(
    tooltip = "Use this URL when configuring callback services to this container."
    tooltip-options = "{\"class\":\"bottom tooltip-definition\",\"left\":-5,\"top\":15}"
  )
    button.btn.btn-xxs
      svg.iconnables.icons-help
        use(
          xlink:href = "#icons-help"
        )
    | Container's Elastic Hostname
  input.input.input-xs(
    ng-attr-value = "{{ instance.getElasticHostname() }}"
    readonly
    select-all
  )