.help-container(
  ng-if = "helpCards.getActiveCard().helpPopover.environmentVariables"
)
  .help(
    ng-bind-html = "helpCards.getActiveCard().helpPopover.environmentVariables"
  )

.help-padding(
  ng-if = "helpCards.getActiveCard().helpPopover.environmentVariables"
  ng-bind-html = "helpCards.getActiveCard().helpPopover.environmentVariables"
)

.clearfix
  .label-col Environment Variables

//- table actions
.table-actions.clearfix(
  ng-class = "{in: state.showHostName}"
  ng-if = "data.instances.models.length >= 2"
  ng-include = "'viewEnvironmentVariableActions'"
)

//- table of current environment variables
pre.ace-container.ace-environment-variables.ace-runnable-dark(
  env-vars
  current-model = "server.opts"
  state-model = "state.opts"
  validation = "validation.env"
)

label.label.label-help
  small.small.strong Elastic hostname:
  input.input.input-xxs(
    ng-attr-value = "{{ instance.getElasticHostname() }}"
    readonly
    select-all
  )
  .small Use this hostname when configuring callback services to this container.