.clearfix
  .label-col Environment Variables

//- table of current environment variables
pre.pre(
  ui-ace
)
.table-actions(
  ng-if = "!data.insertHostName"
)
  button.btn.btn-xs.gray(
    ng-click = "data.insertHostName = true"
  ) Insert host name
.table-actions(
  ng-if = "data.insertHostName"
)
  .label.label-row.clearfix
    input.input.input-sm.monospace.text-overflow(
      pop-over
      pop-over-actions = "popoverProtocolSelect.actions"
      pop-over-active = "popoverProtocolSelect.data.show"
      pop-over-data = "popoverProtocolSelect.data"
      pop-over-options = "{\"left\":-3,\"top\":39}"
      pop-over-template = "viewPopoverProtocolSelect"
      placeholder = "Protocol"
    )
    button.btn.btn-sm.monospace.text-overflow(
      pop-over
      pop-over-actions = "popoverHostNameSelect.actions"
      pop-over-active = "popoverHostNameSelect.data.show"
      pop-over-data = "popoverHostNameSelect.data"
      pop-over-options = "{\"left\":-3,\"top\":39}"
      pop-over-template = "viewPopoverHostNameSelect"
    ) api-codenow.runnableapp.com
      svg.iconnables.icons-arrow-down
        use(
          xlink:href = "#icons-arrow-down"
        )
    input.input.input-sm.monospace.text-overflow(
      pop-over
      pop-over-actions = "popoverPortSelect.actions"
      pop-over-active = "popoverPortSelect.data.show"
      pop-over-data = "popoverPortSelect.data"
      pop-over-options = "{\"left\":-3,\"top\":39}"
      pop-over-template = "viewPopoverPortSelect"
      placeholder = "Port"
    )
  .table-footer
    button.btn.btn-xs.gray(
      ng-click = "data.insertHostName = false"
    ) Cancel
    button.btn.btn-xs.green(
      ng-click = "data.insertHostName = false"
    ) Insert host name


small.small Environment variables can be used to link other servers in your environment together. #{''}
  a.link(
    href = "//google.com"
    target = "_blank"
  ) More about linking with environment variables