.modal-backdrop.in(
  ng-click = "$event.stopPropagation()"
  actions = "actions"
  current-model = "currentModel"
  data = "data"
  default-actions = "defaultActions"
  modal-environment
  ng-class = "{'show-aside': data.toggleSidebar}"
  state-model = "stateModel"
)