.modal-backdrop(
  ng-if = "in"
  ng-click = "$event.stopPropagation()"
  ng-class = "{'in': in}"
)
   modal-environment(
     state-model = "stateModel"
     current-model = "currentModel"
     actions = "actions"
     default-actions = "defaultActions"
     data = "data"
   )