#jobs
  #jobs-header.jumbotron(data-stellar-background-ratio='.5')
    .container
      .row
        .col-sm-12
          h2 Jobs at Runnable
          p We're looking for talented engineers and designers.
          button.purple.view-positions View Open Positions
  #jobs-perks
    .container
      h2 The Perks
      .row
        .col-sm-4
          img(src='/build/images/jobs-icon-mdv.png', height='151', width='151', alt='Medical, Dental, and Vision')
          h3 Medical, Dental, and Vision
        .col-sm-4
          img(src='/build/images/jobs-icon-snacks.png', height='151', width='151', alt='Unlimited Snacks')
          h3 Healthy Snacks
        .col-sm-4
          img(src='/build/images/jobs-icon-transportation.png', height='151', width='151', alt='Healthy Snacks')
          h3 Caltrain Pass
      .row
        .col-sm-4
          img(src='/build/images/jobs-icon-tech.png', height='151', width='151', alt='Technology Budget')
          h3 $3,000 Tech Budget
        .col-sm-4
          img(src='/build/images/jobs-icon-gameroom.png', height='151', width='151', alt='Game Room')
          h3 Game Room
        .col-sm-4
          img(src='/build/images/jobs-icon-lunch.png', height='151', width='151', alt='Catered Lunch')
          h3 Lunch, twice a week
  #jobs-you.jumbotron(data-stellar-background-ratio='.9')
    .container
      .row
        .col-sm-6.col-sm-offset-4
          h2 We're lean and agile
          p.
            We believe in small teams acomplishing big things. Everyone at Runnable is an individual contributor, and has a major impact on product and engineering.
  #jobs-open-positions
    .container
      .row
        .col-md-9.col-sm-8
          h3 Open Positions
          ul#jobs-open-positions-list
            li.row
              h4 Front-End Engineer
              p
                | Palo Alto, CA
            li.row
              h4 Back-End Engineer
              p
                | Palo Alto, CA
            li.row
              h4 Junior Full-Stack engineer
              p
                | Palo Alto, CA
            li.row
              h4 DevOps Engineer
              p
                | Palo Alto, CA
        #jobs-about.col-md-3.col-sm-4
          h3 About Runnable
          p
            | We're on a mission to empower anyone to build amazing things with software.
          ul#jobs-contact-list
            li.row
              span.glyphicons.send
              a(href='mailto:support@runnable.com', target='_blank') support@runnable.com
            li.row
              span.glyphicons.google-maps
              | 459 Hamilton Ave,
              wbr
              | Suite 304
              br
              | Palo Alto, CA 94301
            li.row
              span.glyphicons.earphone
              a(href='tel:8662164762') (866) 216-4762
