// header.box-header
.box-header {
  border-bottom: 1px solid rgba($black,.1);
  height: 60px;
  padding: 0 5px 0 15px;
}

// h1.box-name
.box-name {
  float: left;
  font-size: 24px;
  line-height: 60px;
  position: relative;

  .icons-status {
    left: 9px;
    top: -5px;

    &::before,
    &::after {
      margin: -6px 0 0 -8px;
    }
  }
}

// header.box-header actions
.primary-actions,
.secondary-actions {
  float: right;
  height: 60px;
  line-height: 60px;
  position: relative;

  .iconnables {
    top: 6px;
  }
}

.primary-actions {
  padding-left: 9px;

  .green {
    margin-right: 3px;
  }
}

.secondary-actions {
  padding-right: 9px;

  &::after {
    background: rgba($black,.1);
    content: '';
    display: block;
    height: 36px;
    position: absolute;
    right: 0;
    top: 12px;
    width: 1px;
  }

  .btn-icon {
    margin-left: 3px;
  }
}

// popovers
.popover-actions {
  left: -68px;
  top: 36px;
  transform-origin: 50% 0;
}

.popover.popover-save-options {
  left: auto;
  right: -1px;
  top: 36px;
  transform-origin: 200px 0;
  width: 210px;

  .arrow.white {
    left: auto;
    right: 2px;
  }

  .label-checkbox {
    cursor: pointer;
    display: block;
    font-size: 14px;
    padding: 0 15px;
  }

  .checkbox {
    height: 36px;
    margin-right: 12px;
  }
}