// header.box-header
.box-header {
  border-bottom: 1px solid rgba($black,.1);
  height: 60px;
  padding: 0 15px;
}

// h1.box-name
.box-name {
  float: left;
  font-size: 24px;
  line-height: 60px;

  .icons-trigger {
    color: $orange;
    left: 3px;
    opacity: 0;
    top: 3px;

    &.running {
      opacity: 1;
    }
  }
}

// header.box-header actions
.primary-actions,
.secondary-actions {
  float: right;
  height: 60px;
  line-height: 60px;
  position: relative;

  .iconnables {
    top: 6px;
  }
}

.primary-actions {
  padding-left: 9px;
}

.secondary-actions {
  padding-right: 9px;

  &::after {
    background: rgba($black,.1);
    content: '';
    display: block;
    height: 36px;
    position: absolute;
    right: 0;
    top: 12px;
    width: 1px;
  }
}