// section.sidebar.box-sidebar
.box-sidebar {
  height: calc(100% - 60px);
  height: calc(100vh - 60px);
  width: 300px;

  .row {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .spinner-wrapper {
    align-items: flex-start;
    top: 60px;
  }
}

// li.repository-group-item
.repository-group-item {
  cursor: pointer;
  margin: -1px 0;

  &:hover,
  &:active,
  &.active {
    background: rgba($blue,.1);
  }

  // border
  + .repository-group-item::after {
    background: rgba($black,.1);
    content: '';
    display: block;
    height: 1px;
    margin: 0 15px;
    position: absolute;
    top: 0;
    width: calc(100% - 30px);
  }

  // anchor image
  > .iconnables {
    color: $gray-lighter;
    float: left;
    height: 54px;
    padding: 6px;
    top: 15px;
    width: 54px;
  }

  // detail image (branch or commit)
  .icons-branch,
  .icons-commit {
    color: $gray-lighter;
    height: 18px;
    left: 0;
    margin: 0 3px 0 -3px;
    position: absolute;
    top: 0;
    width: 18px;
  }

  // repo settings
  .btn-repository-settings {
    color: $gray-light;
    position: absolute;
    right: 6px;
    top: 24px;

    .iconnables {
      width: 18px;
    }
  }
}

// h3.repository-title
.repository-title {
  color: $gray;
  font-size: 15px;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// .repository-group-text
.repository-group-text {
  padding: 24px 15px 24px 54px;
}

// p.repository-description
// small.repository-detail
.repository-description,
.repository-detail {
  color: $gray;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  position: relative;
}

.repository-description {
  padding-left: 18px;

  + .repository-description {
    height: auto;
    line-height: 1.6;
    word-break: break-word;
  }
}

.repository-detail {
  color: $gray-lighter;
  float: right;
  font-size: 11px;
}

// li.list-details
.list-details {
  border-top: 1px solid rgba($black,.1);
  margin: 0 15px;
  padding-top: 15px;

  .small {
    color: $gray-light;
  }

  .label-checkbox {
    background: $gray-lightest;
    border: 1px solid rgba($black,.1);
    color: $gray;
    display: inline-block;
    margin: 9px 0;
    padding: 0 9px;
    text-align: left;
  }

  .input-checkbox {
    margin: 0 9px 0 0;
  }
}
