// .popover.commit-select
.commit-select {
  margin-left: 39px;
  top: -33px;
  width: 251px;

  .commit {
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    margin: -1px 0 0;
    padding: 3px 6px;
  }
}

// li.commit-group-item
.commit-group-item {
  border-bottom: 1px solid rgba($black,.1);

  &:last-child {
    border: 0;
  }
}

.popover-toolbar {
  padding-top: 6px;

  .white {
    height: 24px;
    line-height: 24px;

    &:hover {
      background: #f2f2f2; // rgba($black,.1)
    }
  }

  // search button
  .btn-icon {
    width: 24px;
  }

  .icons-search {
    left: -1px;
    top: -1px;
  }
}

// branch button
.branch-btn {
  font-size: 14px;
  padding: 0 0 0 3px;

  .icons-git {
    float: left;
    height: 15px;
    left: 0;
    margin-right: 6px;
    position: relative;
    top: 5px;
    width: 15px;
  }

  .icons-arrow-down {
    float: right;
  }

  .select {
    font-size: 16px;
  }
}