// .popover.commit-select
.commit-select {
  margin-left: 39px;
  top: 34px; // if first repo
  transform: scale3d(1,0,0);
  transform-origin: 50% 0;
  width: 251px;

  .commit {
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    padding: 6px;

    &:hover,
    &.active {
      border-color: rgba($black,.1);
    }

    &:active {
      border-color: #bbdeeb; // rgba($blue,.2)
    }
  }
}

// ul.commit-group
.commit-group {
  max-height: 315px;
  overflow: auto;
}

// li.commit-group-item
.commit-group-item {
  border-bottom-color: rgba($black,.1);
  margin: -1px 0 0;

  &:last-child {
    border: 0;
  }

  // button.white.btn-block Load Older
  .white {
    font-size: 14px;
  }

  .icons-commit {
    top: 6px;

    .active & {
      color: #bbdeeb; // rgba($blue,.2);
    }
  }
}

.popover-title {

  .white {
    height: 24px;
    line-height: 24px;

    &:hover {
      background: #f2f2f2; // rgba($black,.1)
    }
  }

  // search button
  .btn-icon {
    width: 24px;
  }

  .icons-search {
    left: -1px;
    top: -1px;
  }
}

// branch button
.branch-btn {
  font-size: 14px;
  padding: 0 0 0 3px;

  .icons-git {
    float: left;
    height: 15px;
    left: 0;
    margin-right: 6px;
    position: relative;
    top: 5px;
    width: 15px;
  }

  .icons-arrow-down {
    float: right;
  }

  .select {
    font-size: 16px;
  }
}