// header.box-header
.box-header {
  border-bottom: 1px solid rgba($black,.1);
  height: 60px;
  padding: 0 5px 0 15px;
}

// h1.box-info
.box-info {
  float: left;
  font-size: 24px;
  height: 60px;
  line-height: 60px;
  position: relative;

  .icons-status {
    left: 9px;
    top: -4px;

    &::before,
    &::after {
      margin: -6px 0 0 -8px;
    }
  }

  .icons-edit {
    color: $orange-dark;
    height: 18px;
    left: 5px;
    width: 18px;
  }
}

.box-name {
  font-size: 23px;
  height: 45px;
  line-height: 45px;
}

.box-url.box-url {
  background: none;
  border: 0;
  box-shadow: none;
  cursor: default;
  display: block;
  font-size: 14px;
  font-weight: 300;
  height: auto;
  line-height: 1;
  padding: 0;
  position: relative;
  top: -9px;
  white-space: nowrap;
  width: 100%;

  &:focus {
    box-shadow: none;
  }
}

// sets layout on h1.box-name for .box-url
.box-name-ghost {
  font-size: 14px;
  font-weight: 300;
  opacity: 0;
  pointer-events: none;
  z-index: $z-hide;
}

// span.text-status
.text-status {
  color: $orange;
  float: right;
  font-size: 12px;
  font-weight: 300;
  left: 14px;
  position: relative;
}

// header.box-header actions
.primary-actions,
.secondary-actions {
  float: right;
  height: 60px;
  line-height: 60px;
  position: relative;

  // offset for vertical-align: middle
  .btn-group {
    top: -2px;
  }

  .btn[disabled],
  .btn.disabled {
    margin: 0;
  }
}

.primary-actions {
  padding-left: 9px;

  .btn-icon-sm {

    .icons-arrow-down {
      top: 0;
      transition: transform .15s ease-in;
    }

    &.active .icons-arrow-down {
      transform: rotate3d(1,0,0,180deg);
    }
  }
}

.secondary-actions {

  .white {
    margin-left: 3px;
  }

  .btn-action .iconnables {
    margin-right: 4px;
    top: 6px;
    width: 21px;
  }
}

// .spinner.save-spinner
.save-spinner {
  animation: none;
  color: $green;
  height: 45px;
  left: -45px;
  opacity: 0;
  position: absolute;
  top: 7px;
  transform: scale3d(0,0,0);
  width: 45px;

  &.in {
    animation: save-spinner 1.5s ease-in forwards;

    .spinner {

      &::before {
        animation: rotate 1s ease forwards;
      }

      &::after {
        animation: rotate 1s ease -.25s forwards;
      }
    }
  }

  .spinner {
    left: 0;
    right: 0;
    top: 15px;

    &::before {
      animation: none;
    }

    &::after {
      animation: none;
    }
  }

  .spinner-ring {
    background: transparent;
  }

  .icons-check {
    color: $white;
    height: 18px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 14px;
    width: 18px;
  }
}