// section.sidebar.box-sidebar
.box-sidebar {
  height: calc(100% - 60px);
  height: calc(100vh - 60px);
  width: 300px;

  .row {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .spinner-wrapper {
    align-items: flex-start;
    top: 60px;
  }
}

// ul.repository-group
// ul.url-group
.repository-group,
.url-group {
  margin: -45px 0 0;
  // overflow-x: hidden;
  // overflow-y: auto;
  padding: 45px 0 0;

  .divider {
    background: rgba($black,.1);
    height: 1px;
    margin-left: 45px;
  }
}

// li.repository-group-item
.repository-group-item {
  cursor: pointer;
  padding: 9px 0;
  position: relative;

  &:hover {
    background: rgba($blue,.1);
  }

  // anchor image
  > .iconnables {
    color: $gray-light;
    float: left;
    height: 54px;
    padding: 6px;
    width: 45px;
  }

  // lock badge
  .btn-xxs {
    background: $white;
    border: 1px solid $orange;
    color: $orange;
    font-size: 9px;
    left: 6px;
    pointer-events: none;
    position: absolute;
    top: 57px;
  }

  // detail image (branch or commit)
  .icons-branch,
  .icons-commit {
    color: $gray-light;
    // float: left;
    height: 18px;
    left: 0;
    margin: 0 3px 0 -3px;
    position: absolute;
    top: 0;
    width: 18px;
  }
}

// h3.repository-title
.repository-title {
  color: $gray;
  font-size: 15px;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// .repository-group-text
.repository-group-text {
  padding: 9px 15px 9px 45px;
}

// p.repository-description
// small.repository-detail
.repository-description,
.repository-detail {
  color: $gray;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  position: relative;
}

.repository-description {
  padding-left: 18px;

  + .repository-description {
    height: auto;
    line-height: 1.6;
  }
}

.repository-detail {
  color: $gray-light;
  float: right;
  font-size: 10px;
}

// .commit
.commit {
  border: 1px solid transparent;
  border-radius: 3px;
  color: $gray;
  cursor: pointer;
  font-size: 13px;
  margin: 3px -6px 0;
  padding: 0 6px 3px;
  position: relative;
  transition: background .15s ease-in, border-color .15s ease-in;

  &:hover {
    background: rgba($blue,.1);
    border-color: rgba($blue,.2);
  }

  &:active,
  &.active {
    background: rgba($blue,.1);
    border-color: rgba($blue,.4);
    color: $blue;

    .commit-message,
    .icons-commit,
    .commit-time {
      color: $blue;
    }
  }

  &.pending {
    @extend .orange;

    &:hover {
      background: rgba($orange,.1);
    }

    &:active,
    &.active {
      color: $orange-dark;
    }

    .commit-message {
      color: $orange-dark;
    }

    .icons-commit,
    .commit-time {
      color: $orange;
    }
  }

  .icons-commit {
    color: $gray-light;
    height: 18px;
    position: absolute;
    right: 6px;
    top: 3px;
    width: 18px;
  }
}

// .commit line 1: .commit-message
.commit-message {
  color: $gray-dark;
  font-weight: 500;
  overflow: hidden;
  padding: 2px 18px 2px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//.commmit line 2: span.commit-author, time.copmmit-time
.commit-author,
.commit-time {
  font-size: 12px;
  margin-top: 2px;
}

.commit-time {
  color: $gray-light;
  float: right;
}

// li.url-group-item
.url-group-item {
  margin: 0 -6px 6px; // offset input padding
  padding: 0 15px;
  position: relative;

  // a.url-link
  .url-link {
    background: $gray-lighter;
    box-shadow: -6px 0 6px rgba($gray-lighter,.9);
    color: $gray-light;
    height: 43px;
    line-height: 43px;
    position: absolute;
    right: 18px;
    top: 1px;

    &:hover {
      color: $gray;
    }

    &:active,
    &.active {
      color: $gray-darker;
    }

    .icons-link {
      top: 6px;
    }
  }
}

// input.url
.url {
  padding-right: 27px;
}