.popover.bottom.popover-tooltip(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow
  //- if disabled: Enable auto-deploy to automatically rebuild your container when new commits are pushed to GitHub.
  .small.text-center Your container will automatically rebuild when new commits are pushed to GitHub.
