//- ************************
//- deprecated element; remove with root.featureflags.additionalRepositories
.btn.gray(
  ng-class = "{active: popoverRepositoryToggle.show}"
  ng-click = "actions.toggleEditCommits()"
  ng-if = "!$root.featureFlags.additionalRepositories"
  pop-over
  pop-over-actions = "popoverRepositoryToggle.actions"
  pop-over-data = "popoverRepositoryToggle.data"
  pop-over-options = "{\"left\":270,\"top\":0}"
  pop-over-template = "popoverRepositoryToggleView"
  pop-over-active = "popoverRepositoryToggle.show"
  style = "margin-top: 6px;"
)
  .repository-info.text-overflow.strong
    svg.iconnables.icons-repository
      use(
        xlink:href = "#icons-repository"
      )
    | {{ acv.attrs.repo }}
  .repository-info.text-overflow.js-repository-branch
    svg.iconnables.icons-branch
      use(
        xlink:href = "#icons-branch"
      )
    | {{ acv.attrs.branch }}
  .repository-info.text-overflow.js-repository-commit
    svg.iconnables.icons-commit
      use(
        xlink:href = "#icons-commit"
      )
    | {{ activeCommit.attrs.commit.message}}
  .repository-info.small {{ activeCommit.attrs.commit.author.date | timeFrom }}
    //- we don't want to trigger the popover to open because this is an external link
    a.link.monospace.float-right(
      ng-href = "{{ activeCommit.attrs.html_url }}"
      ng-click = "$event.stopPropagation()"
      target = "_blank"
    ) {{activeCommit.attrs.sha | limitTo:7}}

  svg.iconnables.icons-arrow-down
    use(
      xlink:href = "#icons-arrow-down"
    )
label.label-checkbox.btn-sm.btn-checkbox(
  ng-if = "!$root.featureFlags.additionalRepositories && !acv.attrs.additionalRepo"
  tooltip = "Disabling Auto Deploy will stop your container from automatically updating with new changes to your repositories."
  tooltip-options = "{\"class\":\"bottom tooltip-definition\",\"left\":6,\"top\":24}"
  style = "margin: 0; padding: 0 12px; height: 30px;"
)
  input.input-checkbox(
    ng-disabled = "$root.isLoading.autoDeploy"
    ng-false-value = "true"
    ng-model = "autoDeploy"
    ng-model-options = "{getterSetter: true}"
    ng-true-value = "false"
    type = "checkbox"
  )
  | Auto Deploy
//- end deprecated element
//- ************************

button.btn.btn-xs.white(
  ng-click = "refreshing = true"
  style = "position: absolute; top: 9px; right: 9px; z-index: 1;"
  ng-hide = "refreshing"
) Refresh

.btn.gray(
  ng-click = "actions.openRepoDetailsModal()"
  ng-if = "$root.featureFlags.additionalRepositories"
)
  .repository-info.text-overflow(
    ng-if = "!refreshing"
  ) {{ acv.attrs.repo | fixRepositoryName }}
  .repository-info.text-overflow.js-repository-branch(
    ng-if = "!refreshing"
  ) {{ acv.attrs.branch }}
    svg.iconnables.icons-branch
      use(
        xlink:href = "#icons-branch"
      )
  .repository-info.text-overflow.js-repository-commit(
    ng-if = "!refreshing"
  ) {{ activeCommit.attrs.commit.message}}
    svg.iconnables.icons-commit
      use(
        xlink:href = "#icons-commit"
      )
  .repository-info(
    style = "padding: 0 0 0 20px; font-weight: 400; margin: 21px 0; font-weight: 400;"
    ng-show = "refreshing"
    ng-click = "\
      refreshing = false;\
      $event.stopPropagation()\
    "
    ng-click = "$event.stopPropagation()"
  ) Enable Webhooks to stay in sync
    .spinner-wrapper.spinner-sm.in(
      ng-include = "'spinner'"
      style = "float: none; position: absolute; top: 4px; left: 0; margin: 0;"
    )
  //- .repository-info.small
  //-   span.float-left(
  //-     ng-if = "!refreshing"
  //-   ) {{ activeCommit.attrs.commit.author.date | timeFrom }}
    //- we don't want to trigger the popover to open because this is an external link
    //- label.toggle-wrapper.float-right(
    //-   ng-click = "$event.stopPropagation()"
    //-   ng-if = "!acv.attrs.additionalRepo"
    //-   tooltip = "Disabling Auto Deploy will stop your container from automatically updating with new changes to your repositories."
    //-   tooltip-options = "{\"class\":\"bottom tooltip-definition\",\"left\":-6,\"top\":18}"
    //- ) Auto Deploy
    //-   input.toggle-input(
    //-     ng-false-value = "true"
    //-     ng-model = "autoDeploy"
    //-     ng-model-options = "{getterSetter: true}"
    //-     ng-true-value = "false"
    //-     type = "checkbox"
    //-     ng-disabled = "$root.isLoading.autoDeploy"
    //-   )
    //-   .toggle-group.toggle-xs
  //- .repository-info.small(
  //-   ng-if = "refreshing"
  //- )
  //-   a.a(
  //-     ng-click = "$event.stopPropagation()"
  //-     modal
  //-     modal-template = "viewModalWebhooks"
  //-   ) Turn on Webhooks
  //-   | &#32;to stay in sync
  //- svg.iconnables.icons-arrow-down(
  //-   ng-if = "!refreshing"
  //- )
  //-   use(
  //-     xlink:href = "#icons-arrow-down"
  //-   )
