.label.clearfix
  .label-col IP Whitelist
  .input-col
    small.small Whitelist IP addresses to access your container for&#32;
      em.underline(
        tooltip = "Like Secure Shell"
        tooltip-options = "{\"class\":\"bottom center text-center\",\"right\":-9,\"top\":18}"
      ) headless requests
      | .
    .table.table-whitelist(
      ng-init = "\
        whitelist = [\
          ['1.1.1.1','1.1.1.10'],\
          ['1.1.1.3'],\
          ['1.1.1.9'],\
          ['1.1.1.4','1.1.1.5']\
        ];\
      "
    )
      .tr.clearfix(
        ng-repeat = "address in whitelist"
      )
        .cell {{address[0]}}{{address[1] ? '—' + address[1] : ''}}
        .cell.cell-action
          svg.iconnables.icons-close(
            title = "Remove Address"
          )
            use(
              xlink:href = "#icons-close"
            )

    .label
      .input-group.input-group-sm.white
        .label(
          ng-if = "isRange"
        ) FROM
        input.input.input-xs(
          maxlength = "45"
          placeholder = "0.0.0.0"
        )
        .label(
          ng-if = "isRange"
        ) TO
        input.input.input-xs(
          maxlength = "45"
          ng-if = "isRange"
          placeholder = "0.0.0.0"
        )

      div
        label.label-checkbox.small.float-left
          input.checkbox(
            ng-model = "isRange"
            type = "checkbox"
          )
          | Add IP Range
        button.btn.btn-xs.white.float-right(
          ng-disabled = ""
          type = "button"
        ) Add to Whitelist
