.label
  .grid-block.shrink.align-center.well.well-600.gray.padding-sm
    .grid-content
      .strong.text-gray-dark Block External Access
      small.small Prevents external access to this container. Internal access between containers is still allowed.
    label.grid-content.toggle-wrapper.shrink
      input.toggle-input(
        ng-disabled = "WFC.isIsolationGroupMaster"
        ng-model = "WFC.whitelist.enabled"
        type = "checkbox"
      )
      .toggle-group.toggle-sm

.label.slide.js-animate(
  ng-if = "WFC.whitelistEnabled && $root.featureFlags.whitelistIpFiltering"
)
  .label-description.clearfix
    .label-col IP Whitelist
    small.small.text-gray Whitelist IP addresses to make exceptions to your restrictions. &#32;
      a.link(
        href = "//google.com/webhp?hl=en#hl=en&q=ip"
        target = "_blank"
      ) What’s my IP address?
        svg.iconnables.icons-link-external
          use(
            xlink:href = "#icons-link-external"
          )

  .flex-container.clearfix(
    ng-form = "ipWhitelistForm"
  )
    .flex-row
      .flex-col
        p.invalid-message(
          ng-if = "invalid"
        ) Invalid IP Address

        //- apply .ng-invalid when ip address is invalid to .input-group
        label.input-group.input-group-sm.input-validate.white(
          ng-class = "{'focus': state.isFocused}"
        )
          .label.slide-in.js-animate(
            ng-if = "WFC.isRange"
          ) FROM
          //- this pattern doesn't actaully work for some reason, should validate ipv4
          input.input.input-xs(
            maxlength = "15"
            name = "fromAddress"
            ng-blur = "state.isFocused = false"
            ng-focus = "state.isFocused = true"
            ng-model = "WFC.fromAddress"
            placeholder = "0.0.0.0"
          )
          .label.fade.js-animate(
            ng-if = "WFC.isRange"
          ) TO
          input.input.input-xs.fade.js-animate(
            maxlength = "15"
            ng-blur = "$parent.state.isFocused = false"
            ng-click = "$event.preventDefault()"
            ng-focus = "$parent.state.isFocused = true"
            ng-if = "WFC.isRange"
            ng-model = "WFC.toAddress"
            placeholder = "0.0.0.0"
          )
      .flex-col
        input.input.input-sm(
          ng-model = "WFC.description"
          placeholder = "Description (optional)"
        )

    .row.clearfix
      label.label-checkbox.float-left
        input.checkbox(
          ng-model = "WFC.isRange"
          type = "checkbox"
        )
        | Use IP Range
      button.btn.btn-sm.white.float-right(
        ng-click = "WFC.actions.add()"
        ng-disabled = "!WFC.isFormValid()"
        type = "button"
      ) Add to Whitelist

    hr.hr(
      ng-if = "whitelist.length"
    )

    //- remove this table if there is nothing on the whitelist
    .table.table-whitelist(
      ng-if = "WFC.whitelist.length > 0"
    )
      .tr.clearfix.js-animate(
        ng-repeat = "ip in WFC.whitelist"
      )
        .cell(
          title = "{{ip.address[0]}}{{ip.address[1] ? '—' + ip.address[1] : ''}}"
        ) {{ip.address[0]}}{{ip.address[1] ? '—' + ip.address[1] : ''}}
        .cell.cell-description.text-overflow(
          title = "{{ip.description}}"
        ) {{ip.description}}
        .cell.cell-action
          svg.iconnables.icons-close(
            ng-click = "WFC.actions.remove(ip)"
            title = "Remove Address"
          )
            use(
              xlink:href = "#icons-close"
            )
