.label
  .clearfix
    .label-col IP Whitelist
  //- .small Your IP address is 1.1.1.1
  //-   button.btn.btn-xxs.white Add to Whitelist

.table.table-whitelist(
  ng-init = "\
    whitelist = [\
      ['1.1.1.1','1.1.1.10'],\
      ['1.1.1.3'],\
      ['1.1.1.9'],\
      ['1.1.1.4','1.1.1.5']\
    ];\
  "
)
  .tr.clearfix(
    ng-repeat = "address in whitelist"
  )
    //- these are inputs for editing (in the future…)
    input.input.input-xs.cell(
      ng-value = "address[0]"
      readonly
    )
    input.input.input-xs.cell(
      ng-value = "address[1]"
      readonly
    )
    .cell.cell-action
      svg.iconnables.icons-close(
        title = "Remove Address"
      )
        use(
          xlink:href = "#icons-close"
        )
