.popover.popover-add-branches.bottom(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow(
    style = "left: 51px"
  )
  small.small(
    ng-if = "$root.featureFlags.webhooksToggling && !$root.featureFlags.webhooksAdminAbsent && !$root.featureFlags.webhooksContainerDown"
  ) Make sure you’re done configuring&#32;
    strong.strong pd-php-test
    small.small . This will create containers for its active branches.
  .popover-footer(
    ng-if = "$root.featureFlags.webhooksToggling && !$root.featureFlags.webhooksAdminAbsent && !$root.featureFlags.webhooksContainerDown"
  )
    button.btn.btn-xs.green Launch Branches