.popover.popover-dark.bottom(
  ng-class = "{'in': active}"
  ng-style = "popoverStyle.getStyle()"
)
  .arrow(
    style = "left: 51px"
  )
  //- if default container is not running
  small.small(
    ng-if = "$root.featureFlags.webhooksToggling && $root.featureFlags.webhooksContainerDown"
  ) You can add branches once your default container is running.
  //- if default container is running but there's no admin present
  small.small(
    ng-if = "$root.featureFlags.webhooksToggling && $root.featureFlags.webhooksAdminAbsent && !$root.featureFlags.webhooksContainerDown"
  ) Congrats on your running container! Now we just need permission from a GitHub admin.
  button.btn.btn-xs(
    modal
    modal-template = "inviteAdminModalView"
    ng-if = "$root.featureFlags.webhooksToggling && $root.featureFlags.webhooksAdminAbsent && !$root.featureFlags.webhooksContainerDown"
  ) Invite an Admin…