div(ng-init  = "DevStatusData.short = true"
    ng-if    = "false")
  h5 Development Status
    span(ng-if = "!DevStatusData.hide")
      |&nbsp;(
      a(ng-click = "DevStatusData.setPosition('top-left')") top-left
      |&nbsp;|&nbsp;
      a(ng-click = "DevStatusData.setPosition('bottom-left')") bottom-left
      |&nbsp;|&nbsp;
      a(ng-click = "DevStatusData.setPosition('bottom-right')") bottom-right
      |&nbsp;|&nbsp;
      a(ng-click = "DevStatusData.setPosition('top-right')") top-right
      |)
    |&nbsp;(
    a(ng-click = "DevStatusData.hide = !DevStatusData.hide") show/hide
    |)
  div(ng-if         = "!DevStatusData.hide"
      ng-mouseenter = "DevStatusData.short = false"
      ng-mouseleave = "DevStatusData.short = true")
    pre(ng-if = "DevStatusData.short && !DevStatusData.hide")
      {{DevStatusData.repository.statusShort}}

      | -----------------

      {{DevStatusData.repository.logShort}}

    pre(ng-if = "!DevStatusData.short && !DevStatusData.hide")
      {{DevStatusData.repository.status}}
      | -----------------
    span(ng-if = "!DevStatusData.short")
      |(
      a(ng-click = "DevStatusData.showDiff = !DevStatusData.showDiff") Toggle Diff/Log
      |)

    pre(ng-if = "!DevStatusData.short && !DevStatusData.hide && !DevStatusData.showDiff")
      {{DevStatusData.repository.log}}
    pre(ng-if = "!DevStatusData.short && !DevStatusData.hide && DevStatusData.showDiff")
      {{DevStatusData.repository.diff}}