div(ng-style = "DevStatusData.style"
    ng-init  = "DevStatusData.short = true"
    ng-mouseenter = "DevStatusData.short = false"
    ng-mouseleave = "DevStatusData.short = true")
  h5 Development Status
    span(ng-if = "!DevStatusData.hide")
      |&nbsp;(
      a(ng-click = "DevStatusData.setPosition('top-left')") top-left
      |&nbsp;|&nbsp;
      a(ng-click = "DevStatusData.setPosition('bottom-left')") bottom-left
      |&nbsp;|&nbsp;
      a(ng-click = "DevStatusData.setPosition('bottom-right')") bottom-right
      |&nbsp;|&nbsp;
      a(ng-click = "DevStatusData.setPosition('top-right')") top-right
      |)
    |&nbsp;(
    a(ng-click = "DevStatusData.hide = !DevStatusData.hide") show/hide
    |)

  pre(ng-if = "DevStatusData.short && !DevStatusData.hide")
    {{DevStatusData.repository.statusShort}}

    | -----------------

    {{DevStatusData.repository.logShort}}
  pre(ng-if = "!DevStatusData.short && !DevStatusData.hide")
    {{DevStatusData.repository.status}}

    | -----------------

    {{DevStatusData.repository.log}}