.modal-backdrop.in
  .modal-dialog.modal-alert
    .modal-body
      p.p.strong Restore configuration and lock Dockerfile?
      p.p Locking the Dockerfile will restore your container’s configuration from May 25, 2015, 10:36 AM. You can’t undo this action.
    .modal-footer
      button.btn.gray.float-right(
        ng-click = "defaultActions.cancel()"
      ) Restore and Lock
      button.btn.gray.float-left(
        ng-click = "defaultActions.cancel()"
      ) Cancel