.modal-backdrop.in
  .modal-dialog.modal-alert
    .modal-body
      p.p.strong Disable write access and restore
        br
        | past configuration?
      p.p Disabling write access will restore your container’s configuration from when write access was initially enabled (May 25, 2015, 10:36 AM). You can’t undo this action.
    .modal-footer
      button.btn.gray.float-right(
        ng-click = "defaultActions.cancel()"
      ) Disable and Restore
      button.btn.gray.float-left(
        ng-click = "defaultActions.cancel()"
      ) Cancel