ul.grid-block.vertical.list-fork
  li.grid-block.align-center.list-item-fork(
    data-event-name = "Clicked: Start Demo ({{stackKey}})"
    ng-click = "createDemo(stackKey)"
    ng-repeat = "(stackKey, demoStack) in demoStacks"
  )
    img.img(
      height = "24"
      ng-src = "{{demoStack.icon}}"
      width = "24"
    )
    .grid-block.vertical
      strong.strong {{demoStack.displayName}}
      small.small.weight-light {{demoStack.description}}
    svg.iconnables.icons-arrow-forward.anchor-right
      use(
        xlink:href = "#icons-arrow-down"
      )
