li.grid-block.vertical.align-center.padding-sm.list-item-fork
  img.img.margin-bottom-sm(
    height = "48"
    src = "/build/images/logos/logo-icon-nodejs.svg"
    width = "48"
  )
  button.btn.btn-sm.white Start Demo
  small.small.text-center.text-gray.margin-top-sm We’ll fork a node.js repository to your GitHub account.
li.grid-block.vertical.align-center.padding-sm.list-item-fork
  img.img.margin-bottom-sm(
    height = "48"
    src = "/build/images/logos/logo-icon-python.svg"
    width = "48"
  )
  button.btn.btn-sm.white Start Demo
  small.small.text-center.text-gray.margin-top-sm We’ll fork a Python repository to your GitHub account.
li.grid-block.vertical.align-center.padding-sm.list-item-fork
  img.img.margin-bottom-sm(
    height = "48"
    src = "/build/images/logos/logo-icon-ruby.svg"
    width = "48"
  )
  button.btn.btn-sm.white Start Demo
  small.small.text-center.text-gray.margin-top-sm We’ll fork a Ruby repository to your GitHub account.
